$cap-height: 0.75;
$base-unit: 8px;

$state-colors: (success: green, warning: yellow, danger: red);

// Font family
$font-family-base: 'Inter', Arial, Helvetica, Verdana, sans-serif;
$font-family-mono: Menlo, Consolas, 'Liberation Mono', Courier, monospace;

// System color
// sass-lint:disable no-color-hex
$color-grey-100:    #242526;
$color-grey-90:     #313336;
$color-grey-80:     #3f4145;
$color-grey-70:     #53565a;
$color-grey-60:     #65686c;
$color-grey-50:     #8e9399;
$color-grey-40:     #acb0b5;
$color-grey-30:     #d0d4d9;
$color-grey-25:     #dadee2;
$color-grey-20:     #edf0f2;
$color-grey-15:     #f4f5f6;
$color-grey-10:     #f8f9f9;

$color-red-100:     #471819;
$color-red-90:      #691518;
$color-red-80:      #8f0e13;
$color-red-70:      #b50d12;
$color-red-60:      #d81820;
$color-red-55:      #f0363c;
$color-red-50:      #fa5056;
$color-red-40:      #fc9094;
$color-red-30:      #fcc7c9;
$color-red-20:      #fce8e9;
$color-red-10:      #fff5f5;

$color-pink-100:    #451726;
$color-pink-90:     #661430;
$color-pink-80:     #8c0e38;
$color-pink-70:     #b30c44;
$color-pink-60:     #db1a5b;
$color-pink-50:     #f74f87;
$color-pink-40:     #fa8eb2;
$color-pink-30:     #fcc7d9;
$color-pink-20:     #fce8ef;
$color-pink-10:     #fcf5f7;

$color-purple-100:  #371c52;
$color-purple-90:   #4d2378;
$color-purple-80:   #642b9e;
$color-purple-70:   #7e40bd;
$color-purple-60:   #9557d4;
$color-purple-50:   #b277ed;
$color-purple-40:   #cda3f7;
$color-purple-30:   #e2cdf7;
$color-purple-20:   #f2ebfa;
$color-purple-10:   #faf7fc;

$color-indigo-100:  #222261;
$color-indigo-90:   #2b2b94;
$color-indigo-80:   #3939bd;
$color-indigo-70:   #4f4fdb;
$color-indigo-60:   #6666e3;
$color-indigo-50:   #8787fa;
$color-indigo-40:   #adadff;
$color-indigo-30:   #d1d1ff;
$color-indigo-20:   #ededff;
$color-indigo-10:   #f7f7ff;

$color-navy-100:    #083176;
$color-navy-90:     #08379b;
$color-navy-80:     #0047bb;
$color-navy-70:     #0a60f0;
$color-navy-60:     #2072f8;
$color-navy-50:     #6099f1;
$color-navy-40:     #88b6f9;
$color-navy-30:     #c0d7fa;
$color-navy-20:     #e6f0ff;
$color-navy-10:     #f5f8fc;

$color-blue-100:    #001238;
$color-blue-90:     #001e60;
$color-blue-80:     #00308a;
$color-blue-70:     #0047bb; // CenturyLink Vibrant Blue
$color-blue-60:     #0060fa;
$color-blue-55:     #2580ff;
$color-blue-50:     #468af1;
$color-blue-40:     #8cb6f5;
$color-blue-30:     #c0d7fa;
$color-blue-20:     #e6f0ff;
$color-blue-10:     #f5f8fc;

$color-cyan-100:    #0c2b3b;
$color-cyan-90:     #093d57;
$color-cyan-80:     #064e73;
$color-cyan-70:     #066594;
$color-cyan-60:     #0080bb; // CenturyLink Blue Gray
$color-cyan-50:     #239cd9;
$color-cyan-40:     #53bff5;
$color-cyan-30:     #b0def5;
$color-cyan-20:     #e1f2fa;
$color-cyan-15:     #e1f2fa;
$color-cyan-10:     #f2f9fc;

$color-bright-blue-50:  #3a8ddd; // CenturyLink Bright Blue
$color-teal-blue-40:  #02bcb2; // CenturyLink Teal Blue

$color-teal-100:    #082b2e;
$color-teal-90:     #063b40;
$color-teal-80:     #074c52;
$color-teal-70:     #026169;
$color-teal-60:     #03808c;
$color-teal-55:     #008996; // CenturyLink Dark Teal
$color-teal-50:     #0a96a3;
$color-teal-40:     #1eb9c7;
$color-teal-30:     #abdce0;
$color-teal-20:     #d7f2f5;
$color-teal-10:     #edf9fa;

$color-mint-100:    #0a2e1e;
$color-mint-90:     #094028;
$color-mint-80:     #075433;
$color-mint-70:     #08683f;
$color-mint-60:     #007e46;
$color-mint-55:     #009e5c;
$color-mint-50:     #22a066;
$color-mint-40:     #48d597; // CenturyLink Mint Green
$color-mint-30:     #abe0c9;
$color-mint-20:     #daf5e9;
$color-mint-10:     #edfaf3;

$color-green-100:   #0a2b0a;
$color-green-90:    #093d09;
$color-green-80:    #0b4f0b;
$color-green-70:    #056605;
$color-green-60:    #008000;
$color-green-50:    #189e18;
$color-green-40:    #3fc63f;
$color-green-35:    #6fd16f; // CenturyLink Kiwi Green
$color-green-30:    #a7dba7;
$color-green-20:    #cef2ce;
$color-green-10:    #e6fae6;

$color-yellow-100:  #3d2900;
$color-yellow-90:   #523600;
$color-yellow-80:   #664400;
$color-yellow-70:   #855800;
$color-yellow-60:   #946300;
$color-yellow-55:   #bb7907;
$color-yellow-50:   #d19110;
$color-yellow-40:   #ebce3e;
$color-yellow-30:   #f9f162; // CenturyLink Lemon Yellow
$color-yellow-20:   #f9f5be;
$color-yellow-10:   #fdfbd8;

$color-orange-100:  #5b2600;
$color-orange-90:   #723204;
$color-orange-80:   #974308;
$color-orange-70:   #b35009;
$color-orange-60:   #c96010;
$color-orange-50:   #e77528;
$color-orange-40:   #f79950;
$color-orange-30:   #facaa8;
$color-orange-20:   #fde7d8;
$color-orange-10:   #fef6f0;

$color-black:       #000000;
$color-white:       #ffffff;
// sass-lint:enable no-color-hex


// Text color
$color-text-base:                     $color-grey-100;
$color-text-primary-dark:             $color-blue-90;
$color-text-primary:                  $color-blue-70;
$color-text-primary-alt:              $color-blue-70;
$color-text-secondary:                $color-mint-40;
$color-text-secondary-dark:           $color-mint-50;
$color-text-success:                  $color-green-60;
$color-text-warning:                  $color-yellow-60;
$color-text-danger:                   $color-red-60;
$color-text-info:                     $color-blue-60;
$color-text-muted-light:              $color-grey-60;
$color-text-muted:                    $color-grey-70;
$color-text-white:                    $color-white;
$color-text-black:                    $color-black;
$color-text-code:                     $color-cyan-70;

// Icon color
$color-icon-base:                     $color-grey-80;
$color-icon-primary:                  $color-blue-70;
$color-icon-secondary:                $color-mint-40;
$color-icon-secondary-dark:           $color-mint-50;
$color-icon-success:                  $color-green-50;
$color-icon-warning:                  $color-yellow-55;
$color-icon-danger:                   $color-red-55;
$color-icon-info:                     $color-blue-55;
$color-icon-muted-light:              $color-grey-50;
$color-icon-muted:                    $color-grey-60;
$color-icon-muted-dark:               $color-grey-70;
$color-icon-white:                    $color-white;
$color-icon-black:                    $color-black;

// Border color
$color-border-base-light:             $color-grey-20;
$color-border-base:                   $color-grey-25;
$color-border-base-dark:              $color-grey-30;
$color-border-primary:                $color-blue-70;
$color-border-primary-light:          $color-blue-30;
$color-border-secondary:              $color-mint-40;
$color-border-secondary-dark:         $color-mint-50;
$color-border-success-light:          $color-green-30;
$color-border-success:                $color-green-50;
$color-border-warning-light:          $color-yellow-30;
$color-border-warning:                $color-yellow-55;
$color-border-danger-light:           $color-red-30;
$color-border-danger:                 $color-red-55;
$color-border-info-light:             $color-blue-30;
$color-border-info:                   $color-blue-55;
$color-border-muted-light:            $color-grey-30;
$color-border-muted:                  $color-grey-60;
$color-border-white:                  $color-white;
$color-border-black:                  $color-black;
$color-border-dark:                   $color-grey-100;

// Background color
$color-background-base:               $color-white;
$color-background-base-dark:          $color-grey-15;
$color-background-base-darker:        $color-grey-20;
$color-background-base-darkest:       $color-grey-25;
$color-background-primary-lighter:    $color-blue-10;
$color-background-primary-light:      $color-blue-20;
$color-background-primary:            $color-blue-70;
$color-background-secondary-light:    $color-cyan-15;
$color-background-secondary:          $color-mint-40;
$color-background-secondary-dark:     $color-mint-50;
$color-background-success-lighter:    $color-green-10;
$color-background-success-light:      $color-green-20;
$color-background-success:            $color-green-70;
$color-background-warning-lighter:    $color-yellow-10;
$color-background-warning-light:      $color-yellow-20;
$color-background-warning:            $color-yellow-70;
$color-background-danger-lighter:     $color-red-10;
$color-background-danger-light:       $color-red-20;
$color-background-danger:             $color-red-70;
$color-background-info-lighter:       $color-blue-10;
$color-background-info-light:         $color-blue-20;
$color-background-info:               $color-blue-70;
$color-background-muted-lighter:      $color-grey-10;
$color-background-muted-light:        $color-grey-20;
$color-background-muted:              $color-grey-30;
$color-background-dark:               $color-grey-100;
$color-background-white:              $color-white;
$color-background-black:              $color-black;

// Link color
$link-color: $color-text-primary;

// Focus color
$focus-color: $color-border-primary;

// Border radius
$border-radius-base: 0; // 0px
$border-radius-sharp: 0;
$border-radius-circle: 50%;
$border-radius: $border-radius-base;

// Semantic colors
$color-semantic: (
  success: (
    border-color: $color-border-success,
  ),
  warning: (
    border-color: $color-border-warning,
  ),
  danger: (
    border-color: $color-border-danger,
  ),
);
