@import '_global-variables';
@import '_global-mixins';

.chi-backdrop {
  background-color: $backdrop-background-color;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 0.5rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $zindex-backdrop;

  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem auto;
    max-width: 45rem;
    min-height: calc(100% - 2rem);
  }

  &.-center {
    .chi-backdrop__wrapper {
      justify-content: center;
    }

    @include respond-to-only(xs) {
      &.-mobile-bottom {
        padding: 0;

        .chi-backdrop__wrapper {
          justify-content: flex-end;
          margin-bottom: 0;
          min-height: calc(100% - 1rem);

          .chi-modal {
            bottom: 0;
            top: inherit;

            &.-animated {
              transition-property: bottom;

              &:not(.-active) {
                bottom: -1000px;
              }
            }

            &__footer {
              flex-direction: column;

              .chi-button,
              chi-button {
                justify-content: center;
                width: 100%;

                & + .chi-button,
                & + chi-button {
                  margin-left: 0;
                  margin-top: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }

  &.-animated {
    transition: background-color 0.5s cubic-bezier(0.38, 0.52, 0.37, 1);

    &.-closed {
      background-color: rgba($color-black, 0);
    }
  }

  &.-inverse {
    background-color: $backdrop-inverse-background-color;
  }

  &.-closed {
    display: none;

    &.-transitioning {
      display: block;
    }
  }
}

/* IE11 CSS hack */
// sass-lint:disable-block no-vendor-prefixes
@media all and (-ms-high-contrast: none) {
  .chi-backdrop {
    &__wrapper {
      height: calc(100% - 2rem);
    }
  }
}
