@import '_variables';
@import '_mixins';

$sizes: (
  sm: (
    background-position: right 0.5rem center,
  ),
  md: (
    background-position: right 0.5rem center,
  ),
  lg: (
    background-position: right 1rem center,
  ),
  xl: (
    background-position: right 1rem center,
  )
);

$icon-sizes: (
  sm: 0.75rem,
  md: 1rem,
  lg: 1rem,
  xl: 1rem,
);

.chi-pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: $text;
  justify-content: center;
  line-height: $line-height-small;

  .chi-button-group {
    &:not(.-vertical) {
      .chi-button {
        justify-content: center;

        &:not(.-icon) {
          &,
          &.-md {
            &,
            &:hover,
            &.-hover,
            &:active,
            &.-active,
            &:focus,
            &.-focus {
              &,
              &+.chi-button:not(.-icon) {
                min-width: 2rem;
                padding-left: 0.5625rem;
                padding-right: 0.5625rem;
              }
            }

            &:hover,
            &.-hover {
              &+.chi-button:focus {
                &:not(.-icon) {
                  border-left: 0;
                  padding-left: 0.5625rem;
                  padding-right: 0.5625rem;
                }
              }
            }
          }

          &.-sm {
            &,
            &:hover,
            &.-hover,
            &:active,
            &.-active,
            &:focus,
            &.-focus {
              &,
              &+.chi-button:not(.-icon) {
                min-width: 1.5rem;
                padding-left: 0.4375rem;
                padding-right: 0.4375rem;
              }
            }

            &:hover,
            &.-hover {
              &+.chi-button:focus {
                &:not(.-icon) {
                  border-left: 0;
                  padding-left: 0.4375rem;
                  padding-right: 0.4375rem;
                }
              }
            }
          }

          &.-lg {
            &,
            &:hover,
            &.-hover,
            &:active,
            &.-active,
            &:focus,
            &.-focus {
              &,
              &+.chi-button:not(.-icon) {
                min-width: 2.5rem;
                padding-left: 0.75rem;
                padding-right: 0.75rem;
              }
            }

            &:hover,
            &.-hover {
              &+.chi-button:focus {
                &:not(.-icon) {
                  border-left: 0;
                  padding-left: 0.75rem;
                  padding-right: 0.75rem;
                }
              }
            }
          }

          &.-xl {
            &,
            &:hover,
            &.-hover,
            &:active,
            &.-active,
            &:focus,
            &.-focus {
              &,
              &+.chi-button:not(.-icon) {
                min-width: 3rem;
                padding-left: 0.9375rem;
                padding-right: 0.9375rem;
              }
            }

            &:hover,
            &.-hover {
              &+.chi-button:focus {
                &:not(.-icon) {
                  border-left: 0;
                  padding-left: 0.9375rem;
                  padding-right: 0.9375rem;
                }
              }
            }
          }
        }
      }
    }

    .chi-button {
      &.-active {
        box-shadow: none;
      }

      &.-flat {
        &.-active {
          background-color: transparent;
          border-color: $primary-color;
          box-shadow: none;
          color: $primary-color;
        }

        &.-light {
          &:hover {
            border-color: $light-color;
          }

          &.-active {
            border-color: $secondary-color;
            color: $secondary-color;
          }
        }
      }
    }

    @each $type in map-keys($icon-sizes) {
      .chi-button {
        &.-#{$type} {

          &,
          &:hover,
          &:active,
          &:focus {
            & .chi-icon {
              font-size: map-get($icon-sizes, $type);
              height: map-get($icon-sizes, $type);
              line-height: map-get($icon-sizes, $type);
              width: map-get($icon-sizes, $type);
            }
          }
        }
      }
    }
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include respond-to(md) {
      flex-direction: row;
      justify-content: space-between;
    }

    .chi-pagination__start {
      align-items: center;
      display: flex;
      flex-basis: 0%;
      flex-grow: 1;
      flex-shrink: 1;

      > div:first-child {
        @include respond-to(md) {
          margin-left: 0;
        }
      }
    }

    .chi-pagination__center {
      display: flex;
      justify-content: center;
    }

    .chi-pagination__end {
      align-items: center;
      display: flex;
      flex-basis: 0%;
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: flex-end;

      > div:last-child {
        @include respond-to(md) {
          margin-right: 0;
        }
      }
    }
  }

  &__pages {
    display: flex;
    font-weight: 600;
    margin: 0 1rem;
  }

  &__results {
    align-items: center;
    color: $muted-color;
    display: flex;
    justify-content: center;
    margin: 0.5rem;

    @include respond-to(md) {
      height: 100%;
      justify-content: flex-start;
      margin: 0 0.5rem;
    }

    & + .chi-pagination__page-size {
      border-left: 0.0625rem solid rgba(0, 0, 0, 0.12);
      padding-left: 0.5rem;
    }

    @include respond-to(md) {
      & + .chi-pagination__button-group {
        margin-left: 0.5rem;
      }
    }
  }

  &__button-group {
    align-items: center;
    margin: 0.5rem;

    @include respond-to(md) {
      margin: 0;
    }

    & + .chi-pagination__jumper {
      @include respond-to(md) {
        margin-left: 1rem;
      }
    }
  }

  &__jumper {
    align-items: center;
    display: flex;
    margin: 0.5rem;

    @include respond-to(md) {
      margin: 0 0.5rem;
    }

    .chi-pagination__label {
      color: $muted-color;
      font-weight: normal;
      margin-bottom: 0;
      margin-right: 0.5rem;
    }

    .chi-input {
      &,
      &.-md {
        &[type='text'] {
          padding-left: 0.25rem;
          padding-right: 0.25rem;
          text-align: center;
          width: 3rem;
        }
      }

      &.-sm {
        &[type='text'] {
          width: 2.5rem;
        }
      }

      &.-lg {
        &[type='text'] {
          width: 4rem;
        }
      }
    }
  }

  &__page-size {
    align-items: center;
    display: flex;
    margin: 0.5rem;

    @include respond-to(md) {
      margin: 0 0.5rem;
    }

    select {
      &.chi-input {
        background-color: transparent;
        border: 0.0625rem solid transparent;
        box-shadow: none;
        font-size: 0.875rem;
        font-weight: 600;
        height: 32px;
        padding: 8px;
        width: 54px;

        &:hover {
          border: 0.0625rem solid set-color(grey, 30);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
        }
      }
    }

    .chi-pagination__label {
      color: $muted-color;
      margin-left: 0.25rem;
    }
  }

  &__label {
    align-items: center;
    display: flex;
  }

  &.-compact {
    .chi-pagination__jumper {
      margin: 0 0.5rem;

      .chi-input {
        &,
        &.-sm,
        &.-md {
          &[type='text'] {
            padding-left: 0.25rem;
            padding-right: 0.25rem;
            width: 2.0625rem;
          }
        }

        &.-lg {
          &[type='text'] {
            width: 2.5rem;
          }
        }

        &.-xl {
          &[type='text'] {
            width: 3rem;
          }
        }

        & + .chi-pagination__label {
          margin-left: 0.5rem;
          margin-right: 0;
        }
      }
    }

    .chi-pagination__label {
      color: $text-color;
      margin: 0 0.5rem;

      strong {
        &:first-child {
          margin-right: 0.5rem;
        }

        &:last-child {
          margin-left: 0.5rem;
        }
      }
    }
  }

  &.-inverse {
    color: $text-white;

    .chi-pagination__results,
    .chi-pagination__label {
      color: set-color(grey, 40);
    }

    .chi-pagination__results {
      & + .chi-pagination__page-size {
        border-left-color: rgba(255, 255, 255, 0.2);
      }
    }

    .chi-pagination__page-size {
      select {
        &.chi-input {
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' version='1.1' width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.097 10.66l6.005-6.216.58-.6 1.162 1.201-.58.601-6.568 6.798-.58.601-.648-.67-.069-.067L.601 5.741 0 5.161 1.202 4l.6.58 6.295 6.08z' fill='%23FFFFFF' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
          background-position: map-get(map-get($sizes, md), background-position);
          background-repeat: no-repeat;
          background-size: 0.75rem 0.75rem;
          color: set-color(white);

          &:hover {
            border: 0.0625rem solid set-color(white);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
          }

          option {
            color: $text-color;
          }
        }
      }
    }

    .chi-input {
      &[type='text'] {
        background-color: transparent;

        &:not(:focus) {
          border-color: set-color(grey, 70);
          color: $text-white;
        }

        &:focus {
          background-color: set-color(white);
        }
      }
    }

    &.-compact {
      .chi-pagination__label {
        color: $text-white;
      }
    }
  }
}
