@import 'mixins';
@import 'variables';

.chi {
  section {
    &.a-table {
      padding-top: 3rem;
      position: relative;

      &::before {
        background-color: set-color(white);
        border-bottom: 0.0625rem solid set-color(grey, 20);
        content: '';
        display: block;
        height: 3rem;
        position: absolute;
        top: 0;
        width: 100%;
      }

      & > div {
        height: 100%;
        overflow-y: auto;
      }

      table {
        border-spacing: 0;
        font-size: $text-small;
        line-height: $line-height-smaller;
        margin: 0;
        padding: 0;
        width: 100%;
      }

      tr {
        background-color: set-color(white);
      }

      th {
        font-weight: 600;
        height: 0;
        text-transform: capitalize;

        div {
          padding: 1rem;
          position: absolute;
          text-align: start;
          top: 0;
          vertical-align: center;
        }

        &.-sorted {
          div {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-direction: row;

            &::after {
              background-image: url('./icon-chevron-thin-up.svg');
              content: '';
              display: block;
              height: 0.75rem;
              margin-left: 0.5rem;
              opacity: 0;
              width: 0.75rem;
            }
          }
        }

        &.-ascending {
          div::after {
            opacity: 1;
          }
        }

        &.-descending {
          div::after {
            opacity: 1;
            transform: rotate(180deg);
          }
        }
      }

      td {
        border-bottom: 0.0625rem solid set-color(grey, 20);
        padding: 1rem;
        padding-bottom: 0.9375rem;
        text-align: start;
        vertical-align: center;
      }

      tbody {
        tr {
          &.-rowSuccess {
            background-color: set-color(green, 10);
          }

          &.-rowWarning {
            background-color: set-color(yellow, 10);
          }

          &.-rowDanger {
            background-color: set-color(red, 10);
          }

          &.-rowInfo {
            background-color: set-color(blue, 10);
          }

          &[disabled] {
            color: rgba(set-color(grey, 90), 0.4);
          }
        }
      }

      &.-hover {
        tbody {
          tr {
            &:hover,
            &.-hover {
              background-color: set-color(grey, 10);
            }
          }
        }
      }

      &.-striped {
        tbody {
          tr:nth-child(odd) {
            background-color: set-color(grey, 10);
          }
        }
      }

      &.-borderless {
        &::before {
          border: 0;
        }

        td {
          border: 0;
          padding: 1rem;
        }
      }

      &.-bordered {
        &::before {
          border-bottom-width: 0;
          border-color: set-color(grey, 20);
          border-left-width: 0;
          border-style: solid;
          border-width: 0.0625rem;
        }

        th > div {
          border-left: 0.0625rem solid set-color(grey, 20);
          padding-left: 0.9375rem;
        }

        td {
          border-color: set-color(grey, 20);
          border-right-width: 0;
          border-style: solid;
          border-top-width: 0;
          border-width: 0.0625rem;
          padding: 1rem 1rem 0.9375rem 0.9375rem;

          &:last-of-type {
            border-right-width: 0.0625rem;
            padding-right: 0.9375rem;
          }
        }
      }

      &.-small {
        padding-top: 2rem;

        &::before {
          height: 2rem;
        }

        th > div,
        td {
          padding: 0.5rem 1rem;
        }

        td {
          padding-bottom: 0.4375rem;
        }

        &.-borderless {
          td {
            padding: 0.5rem 1rem;
          }
        }

        &.-bordered {
          td {
            padding: 0.5rem 1rem 0.4375rem 0.9375rem;
          }
        }
      }

      &.-large {
        padding-top: 4rem;

        &::before {
          height: 4rem;
        }

        th {
          font-size: $text;
        }

        th > div,
        td {
          padding: 1.5rem 1rem;
        }

        td {
          padding-bottom: 1.4375rem;
        }

        &.-borderless {
          td {
            padding: 1.5rem 1rem;
          }
        }

        &.-bordered {
          td {
            padding: 1.5rem 1rem 1.4375rem 0.9375rem;
          }
        }
      }
    }
  }
}
