h2 Examples
h3 Base
p.-text
  | To render toolbar, use the class <code>chi-toolbar</code>.
.example.-mb--3
  .-p--3
    .chi-toolbar
      .chi-toolbar__header
        .chi-toolbar__start
          .chi-form__item
            chi-search-input(size="lg", id="example__base")
          .chi-form__item
            select(class="chi-select -lg -portal", id="example-ba1")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
          .chi-form__item
            select(class="chi-select -lg -portal", id="example-ba2")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-filter
        .chi-toolbar__end
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-arrow-to-bottom
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-refresh
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-settings
          button.chi-button.chi-toolbar__btn-actions.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-more-vert
  .example-tabs.-pl--2
    ul.chi-tabs#example-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .chi-tabs-panel#webcomponent-base
  .chi-tabs-panel.-active#html-base
    :code(lang='html')
      <div class="chi-toolbar">
        <div class="chi-toolbar__header">
          <div class="chi-toolbar__start">
              <div class="chi-form__item">
                <chi-search-input size="lg" id="example__base"></chi-search-input>
              </div>
              <div class="chi-form__item">
                <select class="chi-select -lg -portal" id="example-ba1">
                  <option value="">Select</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
              <div class="chi-form__item">
                <select class="chi-select -lg -portal" id="example-ba2">
                  <option value="">Select</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
              <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
                <div class="chi-button__content">
                  <i class="chi-icon icon-filter"></i>
                </div>
              </button>
          </div>
          <div class="chi-toolbar__end">
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-arrow-to-bottom"></i>
              </div>
            </button>
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-refresh"></i>
              </div>
            </button>
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-settings"></i>
              </div>
            </button>
            <button class="chi-button chi-toolbar__btn-actions -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-more-vert"></i>
              </div>
            </button>
          </div>
        </div>
      </div>

h3 Base with ribbon
.example.-mb--3
  .-p--3
    .chi-toolbar
      .chi-toolbar__header
        .chi-toolbar__start
          .chi-form__item
            chi-search-input(size="lg", id="example__base-1")
          .chi-form__item
            select(class="chi-select -lg -portal", id="example-ba3")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
          .chi-form__item
            select(class="chi-select -lg -portal", id="example-ba4")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-filter
        .chi-toolbar__end
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-arrow-to-bottom
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-refresh
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-settings
          button.chi-button.chi-toolbar__btn-actions.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-more-vert
      .chi-toolbar__ribbon
        .chi-toolbar__start
          i.chi-icon.icon-arrow-down.-xs
          .chi-toolbar__results
            span.chi-toolbar__label Search Results 
            span (1-40 of 78)
          .chi-divider.-vertical
          chi-link(href='#', size='md') Save View
        .chi-toolbar__end
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-x
  .example-tabs.-pl--2
    ul.chi-tabs#example-light
      li.-disabled
        a(href=`#webcomponent-light`) Web Component
      li.-active
        a(href=`#html-light`) HTML Blueprint
  .chi-tabs-panel#webcomponent-light
  .chi-tabs-panel.-active#html-light
    :code(lang='html')
      <div class="chi-toolbar">
        <div class="chi-toolbar__header">
          <div class="chi-toolbar__start">
            <div class="chi-form__item">
              <chi-search-input size="lg" id="example__base-1"></chi-search-input>
            </div>
            <div class="chi-form__item">
              <select class="chi-select -lg -portal" id="example-ba3">
                <option value="">Select</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
            <div class="chi-form__item">
              <select class="chi-select -lg -portal" id="example-ba4">
                <option value="">Select</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-filter"></i>
              </div>
            </button>
          </div>
          <div class="chi-toolbar__end">
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-arrow-to-bottom"></i>
              </div>
            </button>
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-refresh"></i>
              </div>
            </button>
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-settings"></i>
              </div>
            </button>
            <button class="chi-button chi-toolbar__btn-actions -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-more-vert"></i>
              </div>
            </button>
          </div>
        </div>
        <div class="chi-toolbar__ribbon">
          <div class="chi-toolbar__start">
            <i class="chi-icon icon-arrow-down -xs"></i>
            <div class="chi-toolbar__results">
              <span class="chi-toolbar__label">Search Results</span>
              <span>(1-40 of 78)</span>
            </div>
            <div class="chi-divider -vertical"></div>
            <chi-link href="#" size="md">Save View</chi-link>
          </div>
          <div class="chi-toolbar__end">
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
          </div>
        </div>
      </div>

h3 Portal
p.-text
  | To render toolbar, use the class <code>chi-toolbar</code>.
.example.-mb--3
  .-p--3
    .chi-toolbar.-portal
      .chi-toolbar__header
        .chi-toolbar__start
          .chi-form__item
            chi-search-input(size="lg", id="example__base-2")
          .chi-form__item
            select(class="chi-select -lg -portal", id="example-ba5")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
          .chi-form__item
            select(class="chi-select -lg -portal", id="example-ba6")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
          button#drawer-trigger-ctl-htt1.chi-button.-portal.-icon.-primary.-flat.chi-drawer__trigger(data-target='#drawer-ctl-0', aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-filter
        .chi-toolbar__end
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-arrow-to-bottom
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-refresh
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-settings
          button#drawer-trigger-ph1.chi-button.chi-toolbar__btn-actions.-portal.-icon.-primary.-flat.chi-drawer__trigger(data-target='#drawer-1', aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-more-vert
  .example-tabs.-pl--2
    ul.chi-tabs#example-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .chi-tabs-panel#webcomponent-base
  .chi-tabs-panel.-active#html-base
    :code(lang='html')
      <div class="chi-toolbar -portal">
        <div class="chi-toolbar__header">
          <div class="chi-toolbar__start">
              <div class="chi-form__item">
                <chi-search-input size="lg" id="example__base-2"></chi-search-input>
              </div>
              <div class="chi-form__item">
                <select class="chi-select -lg -portal" id="example-ba5">
                  <option value="">Select</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
              <div class="chi-form__item">
                <select class="chi-select -lg -portal" id="example-ba6">
                  <option value="">Select</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
              <button class="chi-button -portal -icon -primary -flat chi-drawer__trigger" id="drawer-trigger-ctl-htt1" data-target="#drawer-ctl-0" aria-label="Button action">
                <div class="chi-button__content">
                  <i class="chi-icon icon-filter"></i>
                </div>
              </button>
          </div>
          <div class="chi-toolbar__end">
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-arrow-to-bottom"></i>
              </div>
            </button>
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-refresh"></i>
              </div>
            </button>
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-settings"></i>
              </div>
            </button>
            <button class="chi-button chi-toolbar__btn-actions -portal -icon -primary -flat chi-drawer__trigger" id="drawer-trigger-ph1" data-target="#drawer-1" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-more-vert"></i>
              </div>
            </button>
          </div>
        </div>
      </div>

h3 Portal alt version mobile
.example.-mb--3
  .-p--3
    .chi-toolbar.-portal
      .chi-toolbar__header
        .chi-toolbar__start
          button#drawer-trigger-ph1.chi-button.-portal.-icon.-primary.-flat.-d-md--none.chi-drawer__trigger(data-target='#drawer-ctl-3', aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-search
          .chi-form__item.-d--none.-d-md--flex
            chi-search-input(size="lg", id="example__base-3")
          .chi-form__item
            select(class="chi-select -lg -portal", id="example-ba7")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
          .chi-form__item
            select(class="chi-select -lg -portal", id="example-ba8")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
          button#drawer-trigger-ctl-htt1.chi-button.-portal.-icon.-primary.-flat.chi-drawer__trigger(data-target='#drawer-ctl-0', aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-filter
        .chi-toolbar__end
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-arrow-to-bottom
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-refresh
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-settings
          button#drawer-trigger-ph1.chi-button.chi-toolbar__btn-actions.-portal.-icon.-primary.-flat.chi-drawer__trigger(data-target='#drawer-1', aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-more-vert
  .example-tabs.-pl--2
    ul.chi-tabs#example-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .chi-tabs-panel#webcomponent-base
  .chi-tabs-panel.-active#html-base
    :code(lang='html')
      <div class="chi-toolbar -portal">
        <div class="chi-toolbar__header">
          <div class="chi-toolbar__start">
            <button class="chi-button -portal -icon -primary -flat -d-md--none chi-drawer__trigger" id="drawer-trigger-ph1" data-target="#drawer-ctl-3" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-search"></i>
              </div>
            </button>
            <div class="chi-form__item -d--none -d-md--flex">
              <chi-search-input size="lg" id="example__base-3"></chi-search-input>
            </div>
            <div class="chi-form__item">
              <select class="chi-select -lg -portal" id="example-ba7">
                <option value="">Select</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
              <div class="chi-form__item">
                <select class="chi-select -lg -portal" id="example-ba8">
                  <option value="">Select</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
              <button class="chi-button -portal -icon -primary -flat chi-drawer__trigger" id="drawer-trigger-ctl-htt1" data-target="#drawer-ctl-0" aria-label="Button action">
                <div class="chi-button__content">
                  <i class="chi-icon icon-filter"></i>
                </div>
              </button>
          </div>
          <div class="chi-toolbar__end">
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-arrow-to-bottom"></i>
              </div>
            </button>
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-refresh"></i>
              </div>
            </button>
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-settings"></i>
              </div>
            </button>
            <button class="chi-button chi-toolbar__btn-actions -portal -icon -primary -flat chi-drawer__trigger" id="drawer-trigger-ph1" data-target="#drawer-1" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-more-vert"></i>
              </div>
            </button>
          </div>
        </div>
      </div>

h3 Portal with ribbon
.example.-mb--3
  .-p--3
    .chi-toolbar.-portal
      .chi-toolbar__header
        .chi-toolbar__start
          .chi-form__item
            chi-search-input(size="lg", id="example__base-4")
          .chi-form__item
            select(class="chi-select -lg -portal", id="example-ba9")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
          .chi-form__item
            select(class="chi-select -lg -portal", id="example-ba10")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-filter
        .chi-toolbar__end
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-arrow-to-bottom
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-refresh
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-settings
          button.chi-button.chi-toolbar__btn-actions.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-more-vert
      .chi-toolbar__ribbon
        .chi-toolbar__start
          i.chi-icon.icon-arrow-down.-xs
          .chi-toolbar__results
            span.chi-toolbar__label Search Results 
            span (1-40 of 78)
          .chi-divider.-vertical
          chi-link(href='#', size='md') Save View
        .chi-toolbar__end
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-x
  .example-tabs.-pl--2
    ul.chi-tabs#example-light
      li.-disabled
        a(href=`#webcomponent-light`) Web Component
      li.-active
        a(href=`#html-light`) HTML Blueprint
  .chi-tabs-panel#webcomponent-light
  .chi-tabs-panel.-active#html-light
    :code(lang='html')
      <div class="chi-toolbar -portal">
        <div class="chi-toolbar__header">
          <div class="chi-toolbar__start">
            <div class="chi-form__item">
              <chi-search-input size="lg" id="example__base-4"></chi-search-input>
            </div>
            <div class="chi-form__item">
              <select class="chi-select -lg -portal" id="example-ba9">
                <option value="">Select</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
            <div class="chi-form__item">
              <select class="chi-select -lg -portal" id="example-ba10">
                <option value="">Select</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-filter"></i>
              </div>
            </button>
          </div>
          <div class="chi-toolbar__end">
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-arrow-to-bottom"></i>
              </div>
            </button>
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-refresh"></i>
              </div>
            </button>
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-settings"></i>
              </div>
            </button>
            <button class="chi-button chi-toolbar__btn-actions -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-more-vert"></i>
              </div>
            </button>
          </div>
        </div>
        <div class="chi-toolbar__ribbon">
          <div class="chi-toolbar__start">
            <i class="chi-icon icon-arrow-down -xs"></i>
            <div class="chi-toolbar__results">
              <span class="chi-toolbar__label">Search Results</span>
              <span>(1-40 of 78)</span>
            </div>
            <div class="chi-divider -vertical"></div>
            <chi-link href="#" size="md">Save View</chi-link>
          </div>
          <div class="chi-toolbar__end">
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
          </div>
        </div>
      </div>

  // Drawers
  .chi-backdrop.-closed
    .chi-backdrop__wrapper
      div#drawer-ctl-0.chi-drawer.-left.-menu.-position--absolute
        .chi-drawer__header
          button(class='chi-button -icon -close',  aria-label='Close')
            .chi-button__content
              i.chi-icon.icon-x
        .chi-drawer__content
          .-px--2.-text
            | Drawer content here
  .chi-backdrop.-closed
      .chi-backdrop__wrapper
        div#drawer-1.chi-drawer.-right.-menu.-position--absolute
          .chi-drawer__header
            button(class='chi-button -icon -close', aria-label='Close')
              .chi-button__content
                i.chi-icon.icon-x
          .chi-drawer__content
            .-px--2.-text
              | Drawer content here
  .chi-backdrop.-closed
      .chi-backdrop__wrapper
        div#drawer-ctl-3.chi-drawer.-bottom.-menu.-position--absolute
          button(class='chi-button -icon -close', aria-label='Close')
            .chi-button__content
              i.chi-icon.icon-x
          .chi-drawer__content
            .-py--2
              ul.chi-tabs.-lg.-vertical.-mt--5
                li.-active
                  a(href="#") Item
                li
                  a(href="#") Item
                li
                  a(href="#") Item
                li
                  a(href="#") Item

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      Array.prototype.forEach.call(
        document.getElementsByClassName("chi-drawer__trigger"),
        function (el) {
          chi.drawer(el);
        }
      );
      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));
    },
    false
  );
