h2 Examples
h3 Base
p.-text
  | To render toolbar, use the class <code>chi-toolbar</code>.
.example.-mb--3
  .-p--3
    .chi-toolbar
      .chi-toolbar__header
        .chi-toolbar__start
          .chi-form__item
            chi-search-input(size="lg", id="example__base")
          .chi-form__item
            select(class="chi-select -lg -portal", id="example-ba1")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
          .chi-form__item
            select(class="chi-select -lg -portal", id="example-ba2")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
          button#drawer-trigger-filter1.chi-button.-portal.-icon.-primary.-flat.chi-drawer__trigger(data-target='#drawer-1', aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-filter
        .chi-toolbar__end
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-arrow-to-bottom
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-refresh
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-settings
          button#drawer-trigger-actions1.chi-button.chi-toolbar__btn-actions.-portal.-icon.-primary.-flat.chi-drawer__trigger(data-target='#drawer-2', aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-more-vert
  .example-tabs.-pl--2
    ul.chi-tabs#example-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .chi-tabs-panel#webcomponent-base
  .chi-tabs-panel.-active#html-base
    :code(lang='html')
      <div class="chi-toolbar">
        <div class="chi-toolbar__header">
          <div class="chi-toolbar__start">
            <div class="chi-form__item">
              <chi-search-input size="lg" id="example__base"></chi-search-input>
            </div>
            <div class="chi-form__item">
              <select class="chi-select -lg -portal" id="example-ba1">
                <option value="">Select</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
            <div class="chi-form__item">
              <select class="chi-select -lg -portal" id="example-ba2">
                <option value="">Select</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
            <button class="chi-button -portal -icon -primary -flat chi-drawer__trigger" id="drawer-trigger-b1" data-target="#drawer-1" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-filter"></i>
              </div>
            </button>
          </div>
          <div class="chi-toolbar__end">
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-arrow-to-bottom"></i>
              </div>
            </button>
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-refresh"></i>
              </div>
            </button>
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-settings"></i>
              </div>
            </button><button class="chi-button chi-toolbar__btn-actions -portal -icon -primary -flat chi-drawer__trigger" id="drawer-trigger-b2" data-target="#drawer-2" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-more-vert"></i>
              </div>
            </button>
          </div>
        </div>
      </div>

      <!-- Drawer -->
      <div class="chi-backdrop -closed">
        <div class="chi-backdrop__wrapper">
          <div class="chi-drawer -left -menu -position--absolute" id="drawer-1">
            <div class="chi-drawer__header">
              <span class="chi-drawer__title">Filters</span>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content">
                  <i class="chi-icon icon-x"></i>
                </div>
              </button>
            </div>
            <div class="chi-drawer__content -px--2 -py--3">
              <div class="chi-form__item -mb--2">
                <label class="chi-label" for="example-ba11">Label</label>
                <select class="chi-select" id="example-ba11">
                  <option value="">Select</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
              <div class="chi-form__item -mb--2">
                <label class="chi-label" for="example-ba12">Label</label>
                <select class="chi-select" id="example-ba12">
                  <option value="">Select</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
              <div class="chi-form__item -mb--2">
                <label class="chi-label" for="example-ba13">Label</label>
                <select class="chi-select" id="example-ba13">
                  <option value="">Select</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
              <div class="chi-form__item -mb--2">
                <label class="chi-label" for="example-ba14">Label</label>
                <select class="chi-select" id="example-ba14">
                  <option value="">Select</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
            </div>
            <div class="-d--flex -justify-content--center -pb--2">
              <button class="chi-button -primary -lg -uppercase -px--4">Apply</button>
              <button class="chi-button -primary -outline -lg -bg--white -uppercase -px--4 -ml--2">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <div class="chi-backdrop -closed">
        <div class="chi-backdrop__wrapper">
          <div class="chi-drawer -right -menu -position--absolute" id="drawer-2">
            <div class="chi-drawer__header">
              <span class="chi-drawer__title">Actions</span>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content">
                  <i class="chi-icon icon-x"></i>
                </div>
              </button>
            </div>
            <div class="chi-drawer__content -px--2">
              <ul class="-no-style">
                <li class="-text--md">Download data</li>
                <div class="chi-divider"></div>
                <li class="-text--md">Refresh results</li>
                <div class="chi-divider"></div>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Javascript -->
        <script>chi.drawer(document.getElementById('drawer-trigger-b1'));</script>
        <script>chi.drawer(document.getElementById('drawer-trigger-b2'));</script>

h3 Base with ribbon
.example.-mb--3
  .-p--3
    .chi-toolbar
      .chi-toolbar__header
        .chi-toolbar__start
          .chi-form__item
            chi-search-input(size="lg", id="example__base-1")
          .chi-form__item
            select(class="chi-select -lg -portal", id="example-ba3")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
          .chi-form__item
            select(class="chi-select -lg -portal", id="example-ba4")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
          button#drawer-trigger-filter1.chi-button.-portal.-icon.-primary.-flat.chi-drawer__trigger(data-target='#drawer-1', aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-filter
        .chi-toolbar__end
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-arrow-to-bottom
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-refresh
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-settings
          button#drawer-trigger-actions1.chi-button.chi-toolbar__btn-actions.-portal.-icon.-primary.-flat.chi-drawer__trigger(data-target='#drawer-2', aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-more-vert
      .chi-toolbar__ribbon
        .chi-toolbar__start
          i.chi-icon.icon-arrow-down.-xs
          .chi-toolbar__results
            span.chi-toolbar__label Search Results 
            span (1-40 of 78)
          .chi-divider.-vertical
          chi-link(href='#', size='md') Save View
        .chi-toolbar__end
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-x
  .example-tabs.-pl--2
    ul.chi-tabs#example-light
      li.-disabled
        a(href=`#webcomponent-light`) Web Component
      li.-active
        a(href=`#html-light`) HTML Blueprint
  .chi-tabs-panel#webcomponent-light
  .chi-tabs-panel.-active#html-light
    :code(lang='html')
      <div class="chi-toolbar">
        <div class="chi-toolbar__header">
          <div class="chi-toolbar__start">
            <div class="chi-form__item">
              <chi-search-input size="lg" id="example__base-1"></chi-search-input>
            </div>
            <div class="chi-form__item">
              <select class="chi-select -lg -portal" id="example-ba3">
                <option value="">Select</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
            <div class="chi-form__item">
              <select class="chi-select -lg -portal" id="example-ba4">
                <option value="">Select</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
            <button class="chi-button -portal -icon -primary -flat chi-drawer__trigger" id="drawer-trigger-br1" data-target="#drawer-1" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-filter"></i>
              </div>
            </button>
          </div>
          <div class="chi-toolbar__end">
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-arrow-to-bottom"></i>
              </div>
            </button>
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-refresh"></i>
              </div>
            </button>
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-settings"></i>
              </div>
            </button>
            <button class="chi-button chi-toolbar__btn-actions -portal -icon -primary -flat chi-drawer__trigger" id="drawer-trigger-br2" data-target="#drawer-2" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-more-vert"></i>
              </div>
            </button>
          </div>
        </div>
        <div class="chi-toolbar__ribbon">
          <div class="chi-toolbar__start">
            <i class="chi-icon icon-arrow-down -xs"></i>
            <div class="chi-toolbar__results">
              <span class="chi-toolbar__label">Search Results </span>
              <span>(1-40 of 78)</span>
            </div>
            <div class="chi-divider -vertical"></div>
            <chi-link href="#" size="md">Save View</chi-link>
          </div>
          <div class="chi-toolbar__end">
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
          </div>
        </div>
      </div>

      <!-- Drawer -->
      <div class="chi-backdrop -closed">
        <div class="chi-backdrop__wrapper">
          <div class="chi-drawer -left -menu -position--absolute" id="drawer-1">
            <div class="chi-drawer__header">
              <span class="chi-drawer__title">Filters</span>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content">
                  <i class="chi-icon icon-x"></i>
                </div>
              </button>
            </div>
            <div class="chi-drawer__content -px--2 -py--3">
              <div class="chi-form__item -mb--2">
                <label class="chi-label" for="example-ba11">Label</label>
                <select class="chi-select" id="example-ba11">
                  <option value="">Select</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
              <div class="chi-form__item -mb--2">
                <label class="chi-label" for="example-ba12">Label</label>
                <select class="chi-select" id="example-ba12">
                  <option value="">Select</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
              <div class="chi-form__item -mb--2">
                <label class="chi-label" for="example-ba13">Label</label>
                <select class="chi-select" id="example-ba13">
                  <option value="">Select</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
              <div class="chi-form__item -mb--2">
                <label class="chi-label" for="example-ba14">Label</label>
                <select class="chi-select" id="example-ba14">
                  <option value="">Select</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
            </div>
            <div class="-d--flex -justify-content--center -pb--2">
              <button class="chi-button -primary -lg -uppercase -px--4">Apply</button>
              <button class="chi-button -primary -outline -lg -bg--white -uppercase -px--4 -ml--2">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <div class="chi-backdrop -closed">
        <div class="chi-backdrop__wrapper">
          <div class="chi-drawer -right -menu -position--absolute" id="drawer-2">
            <div class="chi-drawer__header">
              <span class="chi-drawer__title">Actions</span>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content">
                  <i class="chi-icon icon-x"></i>
                </div>
              </button>
            </div>
            <div class="chi-drawer__content -px--2">
              <ul class="-no-style">
                <li class="-text--md">Download data</li>
                <div class="chi-divider"></div>
                <li class="-text--md">Refresh results</li>
                <div class="chi-divider"></div>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Javascript -->
        <script>chi.drawer(document.getElementById('drawer-trigger-br1'));</script>
        <script>chi.drawer(document.getElementById('drawer-trigger-br2'));</script>

h3 Portal
.example.-mb--3
  .-p--3
    .chi-toolbar.-portal
      .chi-toolbar__header
        .chi-toolbar__start
          .chi-form__item
            chi-search-input(portal size="lg" id="example__base-3")
          .chi-divider.-vertical
          .chi-form__item
            select(class="chi-select -lg -portal", id="example-ba5")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
          .chi-divider.-vertical
          .chi-form__item
            select(class="chi-select -lg -portal", id="example-ba6")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
          button#drawer-trigger-filter1.chi-button.-portal.-icon.-primary.-flat.chi-drawer__trigger(data-target='#drawer-1', aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-filter
        .chi-toolbar__end
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-arrow-to-bottom
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-refresh
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-settings
          button#drawer-trigger-actions1.chi-button.chi-toolbar__btn-actions.-portal.-icon.-primary.-flat.chi-drawer__trigger(data-target='#drawer-2', aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-more-vert

  .example-tabs.-pl--2
    ul.chi-tabs#example-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .chi-tabs-panel#webcomponent-base
  .chi-tabs-panel.-active#html-base
    :code(lang='html')
      <div class="chi-toolbar -portal">
        <div class="chi-toolbar__header">
          <div class="chi-toolbar__start">
            <div class="chi-form__item">
              <chi-search-input portal="portal" size="lg" id="example__base-3"></chi-search-input>
            </div>
            <div class="chi-divider -vertical"></div>
            <div class="chi-form__item">
              <select class="chi-select -lg -portal" id="example-ba5">
                <option value="">Select</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
            <div class="chi-divider -vertical"></div>
            <div class="chi-form__item">
              <select class="chi-select -lg -portal" id="example-ba6">
                <option value="">Select</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
            <button class="chi-button -portal -icon -primary -flat chi-drawer__trigger" id="drawer-trigger-bp1" data-target="#drawer-1" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-filter"></i>
              </div>
            </button>
          </div>
          <div class="chi-toolbar__end">
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-arrow-to-bottom"></i>
              </div>
            </button>
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-refresh"></i>
              </div>
            </button>
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-settings"></i>
              </div>
            </button>
            <button class="chi-button chi-toolbar__btn-actions -portal -icon -primary -flat chi-drawer__trigger" id="drawer-trigger-bp2" data-target="#drawer-2" aria-label="Button action">
              <div class="chi-button__content"><i class="chi-icon icon-more-vert"></i></div>
            </button>
          </div>
        </div>
      </div>

      <!-- Drawer -->
      <div class="chi-backdrop -closed">
        <div class="chi-backdrop__wrapper">
          <div class="chi-drawer -left -portal -menu -position--absolute" id="drawer-1">
            <div class="chi-drawer__header">
              <span class="chi-drawer__title">Filters</span>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content">
                  <i class="chi-icon icon-x"></i>
                </div>
              </button>
            </div>
            <div class="chi-drawer__content -px--2 -py--3">
              <div class="chi-form__item -mb--2">
                <label class="chi-label" for="example-ba11">Label</label>
                <select class="chi-select" id="example-ba11">
                  <option value="">Select</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
              <div class="chi-form__item -mb--2">
                <label class="chi-label" for="example-ba12">Label</label>
                <select class="chi-select" id="example-ba12">
                  <option value="">Select</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
              <div class="chi-form__item -mb--2">
                <label class="chi-label" for="example-ba13">Label</label>
                <select class="chi-select" id="example-ba13">
                  <option value="">Select</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
              <div class="chi-form__item -mb--2">
                <label class="chi-label" for="example-ba14">Label</label>
                <select class="chi-select" id="example-ba14">
                  <option value="">Select</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
            </div>
            <div class="-d--flex -justify-content--center -pb--2">
              <button class="chi-button -primary -lg -uppercase -px--4">Apply</button>
              <button class="chi-button -primary -outline -lg -bg--white -uppercase -px--4 -ml--2">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <div class="chi-backdrop -closed">
        <div class="chi-backdrop__wrapper">
          <div class="chi-drawer -right -portal -menu -position--absolute" id="drawer-2">
            <div class="chi-drawer__header">
              <span class="chi-drawer__title">Actions</span>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content">
                  <i class="chi-icon icon-x"></i>
                </div>
              </button>
            </div>
            <div class="chi-drawer__content -px--2">
              <ul class="-no-style">
                <li class="-text--md">Download data</li>
                <div class="chi-divider"></div>
                <li class="-text--md">Refresh results</li>
                <div class="chi-divider"></div>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Javascript -->
        <script>chi.drawer(document.getElementById('drawer-trigger-bp1'));</script>
        <script>chi.drawer(document.getElementById('drawer-trigger-bp2'));</script>

h3 Portal with ribbon
.example.-mb--3
  .-p--3
    .chi-toolbar.-portal
      .chi-toolbar__header
        .chi-toolbar__start
          .chi-form__item
            chi-search-input(size="lg", id="example__base-4")
          .chi-divider.-vertical
          .chi-form__item
            select(class="chi-select -lg -portal", id="example-ba9")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
          .chi-divider.-vertical
          .chi-form__item
            select(class="chi-select -lg -portal", id="example-ba10")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
          button#drawer-trigger-filter1.chi-button.-portal.-icon.-primary.-flat.chi-drawer__trigger(data-target='#drawer-1', aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-filter
        .chi-toolbar__end
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-arrow-to-bottom
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-refresh
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-settings
          button#drawer-trigger-actions1.chi-button.chi-toolbar__btn-actions.-portal.-icon.-primary.-flat.chi-drawer__trigger(data-target='#drawer-2', aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-more-vert
      .chi-toolbar__ribbon
        .chi-toolbar__start
          i.chi-icon.icon-arrow-down.-xs
          .chi-toolbar__results
            span.chi-toolbar__label Search Results 
            span (1-40 of 78)
          .chi-divider.-vertical
          chi-link(href='#', size='md') Save View
        .chi-toolbar__end
          button.chi-button.-portal.-icon.-primary.-flat(aria-label="Button action")
            .chi-button__content
              i.chi-icon.icon-x
  .example-tabs.-pl--2
    ul.chi-tabs#example-light
      li.-disabled
        a(href=`#webcomponent-light`) Web Component
      li.-active
        a(href=`#html-light`) HTML Blueprint
  .chi-tabs-panel#webcomponent-light
  .chi-tabs-panel.-active#html-light
    :code(lang='html')
      <div class="chi-toolbar -portal">
        <div class="chi-toolbar__header">
          <div class="chi-toolbar__start">
            <div class="chi-form__item">
              <chi-search-input size="lg" id="example__base-4"></chi-search-input>
            </div>
            <div class="chi-divider -vertical"></div>
            <div class="chi-form__item">
              <select class="chi-select -lg -portal" id="example-ba9">
                <option value="">Select</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
            <div class="chi-divider -vertical"></div>
            <div class="chi-form__item">
              <select class="chi-select -lg -portal" id="example-ba10">
                <option value="">Select</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
            <button class="chi-button -portal -icon -primary -flat chi-drawer__trigger" id="drawer-trigger-brp1" data-target="#drawer-1" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-filter"></i>
              </div>
            </button>
          </div>
          <div class="chi-toolbar__end">
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-arrow-to-bottom"></i>
              </div>
            </button>
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-refresh"></i>
              </div>
            </button>
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-settings"></i>
              </div>
            </button>
            <button class="chi-button chi-toolbar__btn-actions -portal -icon -primary -flat chi-drawer__trigger" id="drawer-trigger-brp2" data-target="#drawer-2" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-more-vert"></i>
              </div>
            </button>
          </div>
        </div>
        <div class="chi-toolbar__ribbon">
          <div class="chi-toolbar__start">
            <i class="chi-icon icon-arrow-down -xs"></i>
            <div class="chi-toolbar__results">
              <span class="chi-toolbar__label">Search Results </span>
              <span>(1-40 of 78)</span>
            </div>
            <div class="chi-divider -vertical"></div>
            <chi-link href="#" size="md">Save View</chi-link>
          </div>
          <div class="chi-toolbar__end">
            <button class="chi-button -portal -icon -primary -flat" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
          </div>
        </div>
      </div>

      <!-- Drawer -->
      <div class="chi-backdrop -closed">
        <div class="chi-backdrop__wrapper">
          <div class="chi-drawer -left -portal -menu -position--absolute" id="drawer-1">
            <div class="chi-drawer__header">
              <span class="chi-drawer__title">Filters</span>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content">
                  <i class="chi-icon icon-x"></i>
                </div>
              </button>
            </div>
            <div class="chi-drawer__content -px--2 -py--3">
              <div class="chi-form__item -mb--2">
                <label class="chi-label" for="example-ba11">Label</label>
                <select class="chi-select" id="example-ba11">
                  <option value="">Select</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
              <div class="chi-form__item -mb--2">
                <label class="chi-label" for="example-ba12">Label</label>
                <select class="chi-select" id="example-ba12">
                  <option value="">Select</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
              <div class="chi-form__item -mb--2">
                <label class="chi-label" for="example-ba13">Label</label>
                <select class="chi-select" id="example-ba13">
                  <option value="">Select</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
              <div class="chi-form__item -mb--2">
                <label class="chi-label" for="example-ba14">Label</label>
                <select class="chi-select" id="example-ba14">
                  <option value="">Select</option>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
              </div>
            </div>
            <div class="-d--flex -justify-content--center -pb--2">
              <button class="chi-button -primary -lg -uppercase -px--4">Apply</button>
              <button class="chi-button -primary -outline -lg -bg--white -uppercase -px--4 -ml--2">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <div class="chi-backdrop -closed">
        <div class="chi-backdrop__wrapper">
          <div class="chi-drawer -right -portal -menu -position--absolute" id="drawer-2">
            <div class="chi-drawer__header">
              <span class="chi-drawer__title">Actions</span>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content">
                  <i class="chi-icon icon-x"></i>
                </div>
              </button>
            </div>
            <div class="chi-drawer__content -px--2">
              <ul class="-no-style">
                <li class="-text--md">Download data</li>
                <div class="chi-divider"></div>
                <li class="-text--md">Refresh results</li>
                <div class="chi-divider"></div>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Javascript -->
        <script>chi.drawer(document.getElementById('drawer-trigger-brp1'));</script>
        <script>chi.drawer(document.getElementById('drawer-trigger-brp2'));</script>

  // Drawers
  .chi-backdrop.-closed
    .chi-backdrop__wrapper
      div#drawer-1.chi-drawer.-left.-portal.-menu.-position--absolute
        .chi-drawer__header
          span.chi-drawer__title Filters
          button(class='chi-button -icon -close',  aria-label='Close')
            .chi-button__content
              i.chi-icon.icon-x
        .chi-drawer__content.-px--2.-py--3
          .chi-form__item.-mb--2
            label.chi-label(for="example-ba11") Label
            select(class="chi-select", id="example-ba11")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
          .chi-form__item.-mb--2
            label.chi-label(for="example-ba12") Label
            select(class="chi-select", id="example-ba12")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
          .chi-form__item.-mb--2
            label.chi-label(for="example-ba13") Label
            select(class="chi-select", id="example-ba13")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
          .chi-form__item.-mb--2
            label.chi-label(for="example-ba14") Label
            select(class="chi-select", id="example-ba14")
              option(value="") Select
              option Option 1
              option Option 2
              option Option 3
        .-d--flex.-justify-content--center.-pb--2
          button.chi-button.-primary.-lg.-uppercase.-px--4 Apply
          button.chi-button.-primary.-outline.-lg.-bg--white.-uppercase.-px--4.-ml--2 Cancel
  .chi-backdrop.-closed
    .chi-backdrop__wrapper
      div#drawer-2.chi-drawer.-right.-portal.-menu.-position--absolute
        .chi-drawer__header
          span.chi-drawer__title Actions
          button(class='chi-button -icon -close', aria-label='Close')
            .chi-button__content
              i.chi-icon.icon-x
        .chi-drawer__content.-px--2
          ul.-no-style
            li.-text--md Download data
            .chi-divider
            li.-text--md Refresh results
            .chi-divider

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      Array.prototype.forEach.call(
        document.getElementsByClassName("chi-drawer__trigger"),
        function (el) {
          chi.drawer(el);
        }
      );
      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));
    },
    false
  );
