$sizes: (
  xs: (
    height: $textarea-xs-icon-size,
    top: $textarea-xs-icon-top,
    width: $textarea-xs-icon-size,
    left: $textarea-xs-icon-left,
    padding-left: $textarea-xs-icon-padding,
    right: $textarea-xs-icon-right,
    padding-right: $textarea-xs-icon-padding,
  ),
  sm: (
    height: $textarea-sm-icon-size,
    top: $textarea-sm-icon-top,
    width: $textarea-sm-icon-size,
    left: $textarea-sm-icon-left,
    padding-left: $textarea-sm-icon-padding,
    right: $textarea-sm-icon-right,
    padding-right: $textarea-sm-icon-padding,
  ),
  md: (
    height: $textarea-md-icon-size,
    top: $textarea-md-icon-top,
    width: $textarea-md-icon-size,
    left: $textarea-md-icon-left,
    padding-left: $textarea-md-icon-padding,
    right: $textarea-md-icon-right,
    padding-right: $textarea-md-icon-padding,
  ),
  lg: (
    height: $textarea-lg-icon-size,
    top: $textarea-lg-icon-top,
    width: $textarea-lg-icon-size,
    left: $textarea-lg-icon-left,
    padding-left: $textarea-lg-icon-padding,
    right: $textarea-lg-icon-right,
    padding-right: $textarea-lg-icon-padding,
  ),
  xl: (
    height: $textarea-xl-icon-size,
    top: $textarea-xl-icon-top,
    width: $textarea-xl-icon-size,
    left: $textarea-xl-icon-left,
    padding-left: $textarea-xl-icon-padding,
    right: $textarea-xl-icon-right,
    padding-right: $textarea-xl-icon-padding,
  )
);

.chi-input__wrapper {
  textarea {
    &.chi-input {
      & ~ .chi-icon,
      & ~ chi-icon {
        height: $textarea-md-icon-size;
        position: absolute;
        top: $textarea-md-icon-top;
        width: $textarea-md-icon-size;
      }

      @each $type in map-keys($sizes) {
        &.-#{$type} {
          & ~ .chi-icon,
          & ~ chi-icon {
            height: map-get(map-get($sizes, $type), height);
            top: map-get(map-get($sizes, $type), top);
            width: map-get(map-get($sizes, $type), width);
          }

          & ~ chi-icon {
            .chi-icon {
              height: map-get(map-get($sizes, $type), height);
              top: 0;
              width: map-get(map-get($sizes, $type), width);
            }
          }
        }
      }
    }
  }

  &.-icon--left {
    textarea {
      &.chi-input {
        padding-left: $textarea-md-icon-padding;

        & ~ .chi-icon,
        & ~ chi-icon {
          &:first-of-type {
            left: $textarea-md-icon-left;
          }
        }

        @each $type in map-keys($sizes) {
          &.-#{$type} {
            padding-left: map-get(map-get($sizes, $type), padding-left);

            & ~ .chi-icon,
            & ~ chi-icon {
              &:first-of-type {
                left: map-get(map-get($sizes, $type), left);
              }
            }
          }
        }
      }
    }
  }

  &.-icon--right {
    textarea {
      &.chi-input {
        padding-right: $textarea-md-icon-padding;

        & ~ .chi-icon,
        & ~ chi-icon {
          &:last-of-type {
            right: $textarea-md-icon-right;
          }
        }

        @each $type in map-keys($sizes) {
          &.-#{$type} {
            padding-right: map-get(map-get($sizes, $type), padding-right);

            & ~ .chi-icon,
            & ~ chi-icon {
              &:last-of-type {
                right: map-get(map-get($sizes, $type), right);
              }
            }
          }
        }
      }
    }
  }
}
