@import '../input-wrapper';

$sizes: (
  sm: (
    height: 0.75rem,
    top: 0.375rem,
    width: 0.75rem,
    left: 0.5rem,
    padding-left: 1.6875rem,
    right: 0.5rem,
    padding-right: 1.6875rem,
  ),
  small: (
    height: 0.75rem,
    top: 0.375rem,
    width: 0.75rem,
    left: 0.5rem,
    padding-left: 1.6875rem,
    right: 0.5rem,
    padding-right: 1.6875rem,
  ),
  md: (
    height: 1rem,
    top: 0.5rem,
    width: 1rem,
    left: 0.5rem,
    padding-left: 1.9375rem,
    right: 0.5rem,
    padding-right: 1.9375rem,
  ),
  lg: (
    height: 1rem,
    top: 0.75rem,
    width: 1rem,
    left: 0.7rem,
    padding-left: 1.9375rem,
    right: 0.7rem,
    padding-right: 1.9375rem,
  ),
  large: (
    height: 1rem,
    top: 0.75rem,
    width: 1rem,
    left: 0.7rem,
    padding-left: 1.9375rem,
    right: 0.7rem,
    padding-right: 1.9375rem,
  ),
  xl: (
    height: 1rem,
    top: 1rem,
    width: 1rem,
    left: 1rem,
    padding-left: 2.4375rem,
    right: 1rem,
    padding-right: 2.4375rem,
  )
);

.chi {
  .a-inputWrapper {
    textarea {
      &.a-input {
        & ~ .a-icon {
          height: 1rem;
          position: absolute;
          top: 0.5rem;
          width: 1rem;
        }

        @each $type in map-keys($sizes) {
          &.-#{$type} {
            & ~ .a-icon {
              height: map-get(map-get($sizes, $type), height);
              top: map-get(map-get($sizes, $type), top);
              width: map-get(map-get($sizes, $type), width);
            }
          }
        }
      }
    }

    &.-iconLeft {
      textarea {
        &.a-input {
          padding-left: 1.9375rem;

          & ~ .a-icon {
            &:first-of-type {
              left: 0.5rem;
            }
          }

          @each $type in map-keys($sizes) {
            &.-#{$type} {
              padding-left: map-get(map-get($sizes, $type), padding-left);

              & ~ .a-icon {
                &:first-of-type {
                  left: map-get(map-get($sizes, $type), left);
                }
              }
            }
          }
        }
      }
    }

    &.-iconRight {
      textarea {
        &.a-input {
          padding-right: 1.9375rem;

          & ~ .a-icon {
            &:last-of-type {
              right: 0.5rem;
            }
          }

          @each $type in map-keys($sizes) {
            &.-#{$type} {
              padding-right: map-get(map-get($sizes, $type), padding-right);

              & ~ .a-icon {
                &:last-of-type {
                  right: map-get(map-get($sizes, $type), right);
                }
              }
            }
          }
        }
      }
    }
  }
}
