$sizes: (
  sm: (
    height: 0.75rem,
    top: 0.375rem,
    width: 0.75rem,
    left: 0.5rem,
    padding-left: 1.6875rem,
    right: 0.5rem,
    padding-right: 1.6875rem,
  ),
  md: (
    height: 1rem,
    top: 0.5rem,
    width: 1rem,
    left: 0.5rem,
    padding-left: 1.9375rem,
    right: 0.5rem,
    padding-right: 1.9375rem,
  ),
  lg: (
    height: 1rem,
    top: 0.75rem,
    width: 1rem,
    left: 0.7rem,
    padding-left: 1.9375rem,
    right: 0.7rem,
    padding-right: 1.9375rem,
  ),
  xl: (
    height: 1rem,
    top: 1rem,
    width: 1rem,
    left: 1rem,
    padding-left: 2.4375rem,
    right: 1rem,
    padding-right: 2.4375rem,
  )
);

.chi-input__wrapper {
  textarea {
    &.chi-input {
      & ~ .chi-icon,
      & ~ chi-icon {
        height: 1rem;
        position: absolute;
        top: 0.5rem;
        width: 1rem;
      }

      @each $type in map-keys($sizes) {
        &.-#{$type} {
          & ~ .chi-icon,
          & ~ chi-icon {
            height: map-get(map-get($sizes, $type), height);
            top: map-get(map-get($sizes, $type), top);
            width: map-get(map-get($sizes, $type), width);
          }

          & ~ chi-icon {
            .chi-icon {
              height: map-get(map-get($sizes, $type), height);
              top: 0;
              width: map-get(map-get($sizes, $type), width);
            }
          }
        }
      }
    }
  }

  &.-icon--left {
    textarea {
      &.chi-input {
        padding-left: 1.9375rem;

        & ~ .chi-icon,
        & ~ chi-icon {
          &:first-of-type {
            left: 0.5rem;
          }
        }

        @each $type in map-keys($sizes) {
          &.-#{$type} {
            padding-left: map-get(map-get($sizes, $type), padding-left);

            & ~ .chi-icon,
            & ~ chi-icon {
              &:first-of-type {
                left: map-get(map-get($sizes, $type), left);
              }
            }
          }
        }
      }
    }
  }

  &.-icon--right {
    textarea {
      &.chi-input {
        padding-right: 1.9375rem;

        & ~ .chi-icon,
        & ~ chi-icon {
          &:last-of-type {
            right: 0.5rem;
          }
        }

        @each $type in map-keys($sizes) {
          &.-#{$type} {
            padding-right: map-get(map-get($sizes, $type), padding-right);

            & ~ .chi-icon,
            & ~ chi-icon {
              &:last-of-type {
                right: map-get(map-get($sizes, $type), right);
              }
            }
          }
        }
      }
    }
  }
}
