@import '_global-variables';
@import '_global-mixins';

$sizes: (
  xs: (
    font-size: $textarea-xs-font-size,
    line-height: $textarea-xs-line-height,
    min-height: $textarea-xs-min-height,
    padding: $textarea-xs-padding
  ),
  sm: (
    font-size: $textarea-sm-font-size,
    line-height: $textarea-sm-line-height,
    min-height: $textarea-sm-min-height,
    padding: $textarea-sm-padding
  ),
  md: (
    font-size: $textarea-md-font-size,
    line-height: $textarea-md-line-height,
    min-height: $textarea-md-min-height,
    padding: $textarea-md-padding
  ),
  lg: (
    font-size: $textarea-lg-font-size,
    line-height: $textarea-lg-line-height,
    min-height: $textarea-lg-min-height,
    padding: $textarea-lg-padding
  ),
  xl: (
    font-size: $textarea-xl-font-size,
    line-height: $textarea-xl-line-height,
    min-height: $textarea-xl-min-height,
    padding: $textarea-xl-padding
  )
);

textarea {
  &.chi-input {
    border: 0.0625rem solid $textarea-border-color;
    color: $textarea-text-color;
    display: block;
    font-size: $font-size-base;
    line-height: $line-height-sm;
    min-height: $textarea-md-min-height;
    outline: none;
    padding: $textarea-md-padding;
    resize: none;
    transition: all 0.15s ease-in-out;
    width: 100%;

    &::placeholder {
      color: $textarea-placeholder-text-color;
    }

    &:hover,
    &.-hover {
      border-color: $textarea-hover-border-color;
    }

    &:focus,
    &.-focus {
      border-color: $textarea-focus-border-color;
      box-shadow: 0 0 0 1px $textarea-focus-border-color;
    }

    &[disabled],
    &.-disabled {
      background-color: $textarea-disabled-background-color;
      border-color: $textarea-disabled-border-color;
      color: $textarea-disabled-text-color;
      cursor: not-allowed;
    }

    &[readonly],
    &.-readonly {
      background: none;
      border-color: transparent;
      padding-left: 0;
      padding-right: 0;

      &:focus,
      &.-focus {
        border-color: $textarea-focus-border-color;
      }
    }

    @each $type in map-keys($sizes) {
      &.-#{$type} {
        font-size: map-get(map-get($sizes, $type), font-size);
        line-height: map-get(map-get($sizes, $type), line-height);
        min-height: map-get(map-get($sizes, $type), min-height);
        padding: map-get(map-get($sizes, $type), padding);

        &[readonly],
        &.-readonly {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    @each $type in map-keys($color-semantic) {
      &:not([disabled]) {
        &.-#{$type} {
          border-color: map-get(map-get($color-semantic, $type), border-color);

          &:focus,
          &.-focus {
            box-shadow: 0 0 0 1px rgba(map-get(map-get($color-semantic, $type), border-color), 1);
          }
        }
      }
    }
  }
}
