---
title: Authentication
---

p.-text Authentication page templates illustrating common scenarios such as Sign In, Single Sign On, Forgot Password, and more.

h3 App Basic Sign In
.example.-mb--3
  .-p--3.-bg--grey-20(style="border-radius:.15em .15em 0 0;")
    .chi-app.-bg--white
      header.o-header.-inverse
        .o-header__content
          a.a-brand(href="#", aria-label="CenturyLink")
            svg(viewBox='0 0 204 41' xmlns='http://www.w3.org/2000/svg')
              path(fill='#FFFFFF', d='M200.043 18.958v-.916h.778c.341 0 .672.055.672.449 0 .533-.554.467-.949.467h-.501zm0 .33h.606l.797 1.258h.408l-.842-1.258c.493-.038.877-.244.877-.79 0-.507-.251-.784-.989-.784h-1.219v2.832h.362v-1.258zm.567 1.943c-1.211 0-2.088-.87-2.088-2.088 0-1.205.877-2.074 2.088-2.074 1.206 0 2.075.869 2.075 2.074 0 1.218-.869 2.088-2.075 2.088zm0 .396a2.477 2.477 0 0 0 0-4.953 2.48 2.48 0 0 0-2.482 2.469 2.485 2.485 0 0 0 2.482 2.484zm-12.594.514V11.074h-3.919v18.875h3.919v-7.133l.05-.052 3.949 7.185h4.573l-4.81-7.525 4.523-5.75h-4.365l-3.87 5.513-.05-.046zm-16.371-3.797v-1.515h-3.894v13.12h3.92v-7.89c.053-1.908 1.123-3.005 2.353-3.005 1.934 0 2.33 1.591 2.353 3.005v7.89h3.924v-8.544a8.98 8.98 0 0 0-.265-2.092c-.469-1.913-3.007-2.876-4.312-2.876-1.987 0-3.214.782-4.028 1.987l-.051-.08zm-11.577 11.605h3.923V16.828h-3.923v13.121zm-.13-15.5h4.184v-3.375h-4.184v3.375zm-14.56 15.5h12.235v-3.133h-8.181V11.074h-4.054v18.875zm-9.572 5.025l7.711-18.145h-2.663l-4.189 10.353-4.107-10.353h-2.766l5.462 13.071-1.989 5.074h2.541zm-12.105-5.025v-6.504c0-2.773.548-4.446 3.687-4.548.339 0 .732 0 1.07.128v-2.351c-.284 0-.548-.029-.861-.029-1.806 0-3.475.915-3.841 2.717h-.055v-2.533h-2.484v13.12h2.484zm-8.285-13.12v6.745c0 .316-.027 1.858-.495 3.083-.528 1.363-1.912 1.883-2.931 1.883-2.38 0-2.901-1.671-2.901-3.948v-7.763h-2.486v8.783c0 2.645 1.57 4.731 4.316 4.731 1.829 0 3.503-.681 4.497-2.323h.053v1.929h2.428v-13.12h-2.481zm-16.434-.004h-2.246v1.802h2.246v8.295c0 1.752.131 1.803.578 2.43.414.578 1.071.786 1.464.865a9.228 9.228 0 0 0 1.674.126c.57 0 1.123-.126 1.694-.155v-1.907a5.635 5.635 0 0 1-1.303.154c-.891 0-1.623-.445-1.623-1.382v-8.426h3.033v-1.802h-3.033v-3.578l-2.484.786v2.792zm-12.923 1.938v-1.934h-2.434v13.12h2.485v-7.133c0-2.561.681-3.141 1.046-3.503 1.046-1.048 2.403-.969 2.403-.969 2.097 0 3.01 1.175 3.01 3.345v8.26h2.486v-9.066c0-4.209-4.056-4.446-4.971-4.446-1.306 0-3.135.677-3.974 2.326h-.051zm-14.234 3.378c0-2.151 1.228-3.902 3.294-3.902 2.404 0 3.4 1.7 3.349 3.902h-6.643zm0 1.719h9.255v-1.231c0-3.63-1.855-6.115-5.778-6.192-4.157 0-6.089 3.217-6.089 7.06 0 3.87 1.673 6.846 5.882 6.846 3.138 0 5.436-1.488 5.83-4.467h-2.613c-.292 1.909-1.258 2.664-3.193 2.664-2.533 0-3.475-2.376-3.294-4.68zm-7.262-7.921h2.742c-.285-3.372-3.009-5.15-6.642-5.256-6.326-.182-8.361 5.206-8.361 9.835 0 5.28 2.22 9.825 7.79 9.825 3.683 0 6.875-2.086 7.136-5.25h-2.747c-.312 2.009-2.145 3.003-4.153 3.003-4.106 0-5.287-3.682-5.287-7.578 0-3.325.863-7.588 5.521-7.588 1.935 0 3.87 1.203 4.001 3.009zM37.933 2.314v-.915h.777c.343 0 .672.054.672.449 0 .533-.553.466-.949.466h-.5zm0 .331h.606l.797 1.257h.408l-.843-1.257c.494-.039.876-.245.876-.791 0-.506-.25-.782-.987-.782h-1.22v2.83h.363V2.645zm.567 1.942c-1.212 0-2.088-.87-2.088-2.087 0-1.205.876-2.074 2.088-2.074 1.205 0 2.074.869 2.074 2.074 0 1.217-.869 2.087-2.074 2.087zm0 .395a2.477 2.477 0 0 0 0-4.952 2.481 2.481 0 0 0-2.483 2.47A2.484 2.484 0 0 0 38.5 4.982zM22.335 41a20.432 20.432 0 0 0 6.789-1.819l-6.789-11.759V41zM18.634.03a20.352 20.352 0 0 0-6.791 1.817l6.791 11.758V.03zm8.759 22.333l11.761 6.787a20.38 20.38 0 0 0 1.815-6.787H27.393zM1.814 11.873A20.503 20.503 0 0 0 0 18.662h13.578L1.814 11.873zM0 22.363a20.474 20.474 0 0 0 1.814 6.787l11.764-6.787H0zm40.969-3.701a20.552 20.552 0 0 0-1.815-6.789l-11.761 6.789h13.576zM32.33 37.329a20.673 20.673 0 0 0 4.97-4.971L25.542 25.57l6.788 11.759zm4.97-28.66A20.589 20.589 0 0 0 32.331 3.7l-6.787 11.755L37.3 8.669zM11.843 39.181A20.45 20.45 0 0 0 18.634 41V27.422l-6.791 11.759zM29.124 1.847A20.358 20.358 0 0 0 22.335.03v13.575l6.789-11.758zM8.639 3.7A20.589 20.589 0 0 0 3.67 8.669l11.758 6.786L8.639 3.7zM3.67 32.358l11.758-6.788-6.789 11.759a20.687 20.687 0 0 1-4.969-4.971z')
          .o-header__start
            span.o-header__title.-text--muted Application Title
          .o-header__end
            a.a-btn.-flat.-icon.-inverse(href="#")
              .a-btn__content
                i.a-icon.icon-circle-question.-text--muted
      .chi-app__body.-px-sm--2.-py-sm--4.-d--flex.-justify-content--center
        .-pb--2.-w--100.-mw--480
          .a-card.-b--0.-bg--none
            .a-card__content.-text--center.-px--4.-px-sm--6.-pb--4
              h3.-text--normal Sign In
              .m-formGroup.-pt--2
                input.a-input.-large(type="email", placeholder="Email")
              .m-formGroup.-pt--1
                input.a-input.-large(type="password", placeholder="Password")
              .m-formGroup.-pt--3.-pt-sm--4.-justify-content--between.-align-items--center.-flex--column.-flex-sm--row
                a.-text.-mb--2.-mb-sm--0(href="#") Forgot email or password?
                button.a-btn.-primary.-large Sign In
          .-text.-text--center.-py--2 Don't have an account? <a href="#">Sign Up</a>
  :code(lang="html")
    <div class="chi-app -bg--white">
      <header class="o-header -inverse">
        <div class="o-header__content">
          <a class="a-brand" href="#" aria-label="CenturyLink">
            <svg viewBox="0 0 204 41" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>centurylink-logo-white-text</title><defs><path id="a" d="M0 .03h203.079v40.91H0z"/></defs><g fill="none" fill-rule="evenodd"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><path d="M200.043 18.958v-.916h.778c.341 0 .672.055.672.449 0 .533-.554.467-.949.467h-.501zm0 .33h.606l.797 1.258h.408l-.842-1.258c.493-.038.877-.244.877-.79 0-.507-.251-.784-.989-.784h-1.219v2.832h.362v-1.258zm.567 1.943c-1.211 0-2.088-.87-2.088-2.088 0-1.205.877-2.074 2.088-2.074 1.206 0 2.075.869 2.075 2.074 0 1.218-.869 2.088-2.075 2.088zm0 .396a2.477 2.477 0 0 0 0-4.953 2.48 2.48 0 0 0-2.482 2.469 2.485 2.485 0 0 0 2.482 2.484zm-12.594.514V11.074h-3.919v18.875h3.919v-7.133l.05-.052 3.949 7.185h4.573l-4.81-7.525 4.523-5.75h-4.365l-3.87 5.513-.05-.046zm-16.371-3.797v-1.515h-3.894v13.12h3.92v-7.89c.053-1.908 1.123-3.005 2.353-3.005 1.934 0 2.33 1.591 2.353 3.005v7.89h3.924v-8.544a8.98 8.98 0 0 0-.265-2.092c-.469-1.913-3.007-2.876-4.312-2.876-1.987 0-3.214.782-4.028 1.987l-.051-.08zm-11.577 11.605h3.923V16.828h-3.923v13.121zm-.13-15.5h4.184v-3.375h-4.184v3.375zm-14.56 15.5h12.235v-3.133h-8.181V11.074h-4.054v18.875zm-9.572 5.025l7.711-18.145h-2.663l-4.189 10.353-4.107-10.353h-2.766l5.462 13.071-1.989 5.074h2.541zm-12.105-5.025v-6.504c0-2.773.548-4.446 3.687-4.548.339 0 .732 0 1.07.128v-2.351c-.284 0-.548-.029-.861-.029-1.806 0-3.475.915-3.841 2.717h-.055v-2.533h-2.484v13.12h2.484zm-8.285-13.12v6.745c0 .316-.027 1.858-.495 3.083-.528 1.363-1.912 1.883-2.931 1.883-2.38 0-2.901-1.671-2.901-3.948v-7.763h-2.486v8.783c0 2.645 1.57 4.731 4.316 4.731 1.829 0 3.503-.681 4.497-2.323h.053v1.929h2.428v-13.12h-2.481zm-16.434-.004h-2.246v1.802h2.246v8.295c0 1.752.131 1.803.578 2.43.414.578 1.071.786 1.464.865a9.228 9.228 0 0 0 1.674.126c.57 0 1.123-.126 1.694-.155v-1.907a5.635 5.635 0 0 1-1.303.154c-.891 0-1.623-.445-1.623-1.382v-8.426h3.033v-1.802h-3.033v-3.578l-2.484.786v2.792zm-12.923 1.938v-1.934h-2.434v13.12h2.485v-7.133c0-2.561.681-3.141 1.046-3.503 1.046-1.048 2.403-.969 2.403-.969 2.097 0 3.01 1.175 3.01 3.345v8.26h2.486v-9.066c0-4.209-4.056-4.446-4.971-4.446-1.306 0-3.135.677-3.974 2.326h-.051zm-14.234 3.378c0-2.151 1.228-3.902 3.294-3.902 2.404 0 3.4 1.7 3.349 3.902h-6.643zm0 1.719h9.255v-1.231c0-3.63-1.855-6.115-5.778-6.192-4.157 0-6.089 3.217-6.089 7.06 0 3.87 1.673 6.846 5.882 6.846 3.138 0 5.436-1.488 5.83-4.467h-2.613c-.292 1.909-1.258 2.664-3.193 2.664-2.533 0-3.475-2.376-3.294-4.68zm-7.262-7.921h2.742c-.285-3.372-3.009-5.15-6.642-5.256-6.326-.182-8.361 5.206-8.361 9.835 0 5.28 2.22 9.825 7.79 9.825 3.683 0 6.875-2.086 7.136-5.25h-2.747c-.312 2.009-2.145 3.003-4.153 3.003-4.106 0-5.287-3.682-5.287-7.578 0-3.325.863-7.588 5.521-7.588 1.935 0 3.87 1.203 4.001 3.009zM37.933 2.314v-.915h.777c.343 0 .672.054.672.449 0 .533-.553.466-.949.466h-.5zm0 .331h.606l.797 1.257h.408l-.843-1.257c.494-.039.876-.245.876-.791 0-.506-.25-.782-.987-.782h-1.22v2.83h.363V2.645zm.567 1.942c-1.212 0-2.088-.87-2.088-2.087 0-1.205.876-2.074 2.088-2.074 1.205 0 2.074.869 2.074 2.074 0 1.217-.869 2.087-2.074 2.087zm0 .395a2.477 2.477 0 0 0 0-4.952 2.481 2.481 0 0 0-2.483 2.47A2.484 2.484 0 0 0 38.5 4.982zM22.335 41a20.432 20.432 0 0 0 6.789-1.819l-6.789-11.759V41zM18.634.03a20.352 20.352 0 0 0-6.791 1.817l6.791 11.758V.03zm8.759 22.333l11.761 6.787a20.38 20.38 0 0 0 1.815-6.787H27.393zM1.814 11.873A20.503 20.503 0 0 0 0 18.662h13.578L1.814 11.873zM0 22.363a20.474 20.474 0 0 0 1.814 6.787l11.764-6.787H0zm40.969-3.701a20.552 20.552 0 0 0-1.815-6.789l-11.761 6.789h13.576zM32.33 37.329a20.673 20.673 0 0 0 4.97-4.971L25.542 25.57l6.788 11.759zm4.97-28.66A20.589 20.589 0 0 0 32.331 3.7l-6.787 11.755L37.3 8.669zM11.843 39.181A20.45 20.45 0 0 0 18.634 41V27.422l-6.791 11.759zM29.124 1.847A20.358 20.358 0 0 0 22.335.03v13.575l6.789-11.758zM8.639 3.7A20.589 20.589 0 0 0 3.67 8.669l11.758 6.786L8.639 3.7zM3.67 32.358l11.758-6.788-6.789 11.759a20.687 20.687 0 0 1-4.969-4.971z" fill="#FFFFFE" mask="url(#b)"/></g></svg>
          </a>
          <div class="o-header__start">
            <span class="o-header__title -text--muted">Application Title</span>
          </div>
          <div class="o-header__end">
            <a class="a-btn -flat -icon" href="#">
              <div class="a-btn__content">
                <i class="a-icon icon-circle-question -text--muted"></i>
              </div>
            </a>
          </div>
        </div>
      </header>
      <div class="chi-app__body -d--flex -justify-content--center -px-sm--2 -py-sm--4">
        <div class="-pb--2 -w--100 -mw--480">
          <div class="a-card -b--0 -bg--none">
            <div class="a-card__content -text--center -px--4 -px-sm--6 -pb--4">
              <h3 class="-text--normal">Sign In</h3>
              <div class="m-formGroup -pt--2">
                <input class="a-input -large" type="email" placeholder="Email">
              </div>
              <div class="m-formGroup -pt--1">
                <input class="a-input -large" type="password" placeholder="Password">
              </div>
              <div class="m-formGroup -justify-content--between -align-items--center -flex--column -flex-sm--row -pt--3 -pt-sm--4">
                <a class="-text -mb--2 -mb-sm--0" href="#">Forgot email or password?</a>
                <button class="a-btn -primary -large">Sign In</button>
              </div>
            </div>
          </div>
          <div class="-text -text--center -py--2">Don't have an account? <a href="#">Sign Up</a></div>
        </div>
      </div>
    </div>

h3 App Basic Sign In - Error
.example.-mb--3
  .-p--3.-bg--grey-20(style="border-radius:.15em .15em 0 0;")
    .chi-app.-bg--white
      header.o-header.-inverse
        .o-header__content
          a.a-brand(href="#", aria-label="CenturyLink")
            svg(viewBox='0 0 204 41' xmlns='http://www.w3.org/2000/svg')
              path(fill='#FFFFFF', d='M200.043 18.958v-.916h.778c.341 0 .672.055.672.449 0 .533-.554.467-.949.467h-.501zm0 .33h.606l.797 1.258h.408l-.842-1.258c.493-.038.877-.244.877-.79 0-.507-.251-.784-.989-.784h-1.219v2.832h.362v-1.258zm.567 1.943c-1.211 0-2.088-.87-2.088-2.088 0-1.205.877-2.074 2.088-2.074 1.206 0 2.075.869 2.075 2.074 0 1.218-.869 2.088-2.075 2.088zm0 .396a2.477 2.477 0 0 0 0-4.953 2.48 2.48 0 0 0-2.482 2.469 2.485 2.485 0 0 0 2.482 2.484zm-12.594.514V11.074h-3.919v18.875h3.919v-7.133l.05-.052 3.949 7.185h4.573l-4.81-7.525 4.523-5.75h-4.365l-3.87 5.513-.05-.046zm-16.371-3.797v-1.515h-3.894v13.12h3.92v-7.89c.053-1.908 1.123-3.005 2.353-3.005 1.934 0 2.33 1.591 2.353 3.005v7.89h3.924v-8.544a8.98 8.98 0 0 0-.265-2.092c-.469-1.913-3.007-2.876-4.312-2.876-1.987 0-3.214.782-4.028 1.987l-.051-.08zm-11.577 11.605h3.923V16.828h-3.923v13.121zm-.13-15.5h4.184v-3.375h-4.184v3.375zm-14.56 15.5h12.235v-3.133h-8.181V11.074h-4.054v18.875zm-9.572 5.025l7.711-18.145h-2.663l-4.189 10.353-4.107-10.353h-2.766l5.462 13.071-1.989 5.074h2.541zm-12.105-5.025v-6.504c0-2.773.548-4.446 3.687-4.548.339 0 .732 0 1.07.128v-2.351c-.284 0-.548-.029-.861-.029-1.806 0-3.475.915-3.841 2.717h-.055v-2.533h-2.484v13.12h2.484zm-8.285-13.12v6.745c0 .316-.027 1.858-.495 3.083-.528 1.363-1.912 1.883-2.931 1.883-2.38 0-2.901-1.671-2.901-3.948v-7.763h-2.486v8.783c0 2.645 1.57 4.731 4.316 4.731 1.829 0 3.503-.681 4.497-2.323h.053v1.929h2.428v-13.12h-2.481zm-16.434-.004h-2.246v1.802h2.246v8.295c0 1.752.131 1.803.578 2.43.414.578 1.071.786 1.464.865a9.228 9.228 0 0 0 1.674.126c.57 0 1.123-.126 1.694-.155v-1.907a5.635 5.635 0 0 1-1.303.154c-.891 0-1.623-.445-1.623-1.382v-8.426h3.033v-1.802h-3.033v-3.578l-2.484.786v2.792zm-12.923 1.938v-1.934h-2.434v13.12h2.485v-7.133c0-2.561.681-3.141 1.046-3.503 1.046-1.048 2.403-.969 2.403-.969 2.097 0 3.01 1.175 3.01 3.345v8.26h2.486v-9.066c0-4.209-4.056-4.446-4.971-4.446-1.306 0-3.135.677-3.974 2.326h-.051zm-14.234 3.378c0-2.151 1.228-3.902 3.294-3.902 2.404 0 3.4 1.7 3.349 3.902h-6.643zm0 1.719h9.255v-1.231c0-3.63-1.855-6.115-5.778-6.192-4.157 0-6.089 3.217-6.089 7.06 0 3.87 1.673 6.846 5.882 6.846 3.138 0 5.436-1.488 5.83-4.467h-2.613c-.292 1.909-1.258 2.664-3.193 2.664-2.533 0-3.475-2.376-3.294-4.68zm-7.262-7.921h2.742c-.285-3.372-3.009-5.15-6.642-5.256-6.326-.182-8.361 5.206-8.361 9.835 0 5.28 2.22 9.825 7.79 9.825 3.683 0 6.875-2.086 7.136-5.25h-2.747c-.312 2.009-2.145 3.003-4.153 3.003-4.106 0-5.287-3.682-5.287-7.578 0-3.325.863-7.588 5.521-7.588 1.935 0 3.87 1.203 4.001 3.009zM37.933 2.314v-.915h.777c.343 0 .672.054.672.449 0 .533-.553.466-.949.466h-.5zm0 .331h.606l.797 1.257h.408l-.843-1.257c.494-.039.876-.245.876-.791 0-.506-.25-.782-.987-.782h-1.22v2.83h.363V2.645zm.567 1.942c-1.212 0-2.088-.87-2.088-2.087 0-1.205.876-2.074 2.088-2.074 1.205 0 2.074.869 2.074 2.074 0 1.217-.869 2.087-2.074 2.087zm0 .395a2.477 2.477 0 0 0 0-4.952 2.481 2.481 0 0 0-2.483 2.47A2.484 2.484 0 0 0 38.5 4.982zM22.335 41a20.432 20.432 0 0 0 6.789-1.819l-6.789-11.759V41zM18.634.03a20.352 20.352 0 0 0-6.791 1.817l6.791 11.758V.03zm8.759 22.333l11.761 6.787a20.38 20.38 0 0 0 1.815-6.787H27.393zM1.814 11.873A20.503 20.503 0 0 0 0 18.662h13.578L1.814 11.873zM0 22.363a20.474 20.474 0 0 0 1.814 6.787l11.764-6.787H0zm40.969-3.701a20.552 20.552 0 0 0-1.815-6.789l-11.761 6.789h13.576zM32.33 37.329a20.673 20.673 0 0 0 4.97-4.971L25.542 25.57l6.788 11.759zm4.97-28.66A20.589 20.589 0 0 0 32.331 3.7l-6.787 11.755L37.3 8.669zM11.843 39.181A20.45 20.45 0 0 0 18.634 41V27.422l-6.791 11.759zM29.124 1.847A20.358 20.358 0 0 0 22.335.03v13.575l6.789-11.758zM8.639 3.7A20.589 20.589 0 0 0 3.67 8.669l11.758 6.786L8.639 3.7zM3.67 32.358l11.758-6.788-6.789 11.759a20.687 20.687 0 0 1-4.969-4.971z')
          .o-header__start
            span.o-header__title.-text--muted Application Title
          .o-header__end
            a.a-btn.-flat.-icon.-inverse(href="#")
              .a-btn__content
                i.a-icon.icon-circle-question.-text--muted
      .chi-app__body.-px-sm--2.-py-sm--4.-d--flex.-justify-content--center
        .-pb--2.-w--100.-mw--480
          .a-card.-b--0.-bg--none
            .a-card__content.-text--center.-px--4.-px-sm--6.-pb--4
              h3.-text--normal Sign In
              .m-alert.-danger.-center(role="alert")
                i.a-icon.-sm--2.icon-circle-warning.-text--danger
                | Invalid email or password
              .m-formGroup.-pt--2
                input.a-input.-large(type="email", placeholder="Email")
              .m-formGroup.-pt--1
                input.a-input.-large(type="password", placeholder="Password")
              .m-formGroup.-pt--3.-pt-sm--4.-justify-content--between.-align-items--center.-flex--column.-flex-sm--row
                a.-text.-mb--2.-mb-sm--0(href="#") Forgot email or password?
                button.a-btn.-primary.-large Sign In
          .-text.-text--center.-py--2 Don't have an account? <a href="#">Sign Up</a>
  :code(lang="html")
    <div class="chi-app -bg--white">
      <header class="o-header -inverse">
        <div class="o-header__content">
          <a class="a-brand" href="#" aria-label="CenturyLink">
            <svg viewBox="0 0 204 41" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>centurylink-logo-white-text</title><defs><path id="a" d="M0 .03h203.079v40.91H0z"/></defs><g fill="none" fill-rule="evenodd"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><path d="M200.043 18.958v-.916h.778c.341 0 .672.055.672.449 0 .533-.554.467-.949.467h-.501zm0 .33h.606l.797 1.258h.408l-.842-1.258c.493-.038.877-.244.877-.79 0-.507-.251-.784-.989-.784h-1.219v2.832h.362v-1.258zm.567 1.943c-1.211 0-2.088-.87-2.088-2.088 0-1.205.877-2.074 2.088-2.074 1.206 0 2.075.869 2.075 2.074 0 1.218-.869 2.088-2.075 2.088zm0 .396a2.477 2.477 0 0 0 0-4.953 2.48 2.48 0 0 0-2.482 2.469 2.485 2.485 0 0 0 2.482 2.484zm-12.594.514V11.074h-3.919v18.875h3.919v-7.133l.05-.052 3.949 7.185h4.573l-4.81-7.525 4.523-5.75h-4.365l-3.87 5.513-.05-.046zm-16.371-3.797v-1.515h-3.894v13.12h3.92v-7.89c.053-1.908 1.123-3.005 2.353-3.005 1.934 0 2.33 1.591 2.353 3.005v7.89h3.924v-8.544a8.98 8.98 0 0 0-.265-2.092c-.469-1.913-3.007-2.876-4.312-2.876-1.987 0-3.214.782-4.028 1.987l-.051-.08zm-11.577 11.605h3.923V16.828h-3.923v13.121zm-.13-15.5h4.184v-3.375h-4.184v3.375zm-14.56 15.5h12.235v-3.133h-8.181V11.074h-4.054v18.875zm-9.572 5.025l7.711-18.145h-2.663l-4.189 10.353-4.107-10.353h-2.766l5.462 13.071-1.989 5.074h2.541zm-12.105-5.025v-6.504c0-2.773.548-4.446 3.687-4.548.339 0 .732 0 1.07.128v-2.351c-.284 0-.548-.029-.861-.029-1.806 0-3.475.915-3.841 2.717h-.055v-2.533h-2.484v13.12h2.484zm-8.285-13.12v6.745c0 .316-.027 1.858-.495 3.083-.528 1.363-1.912 1.883-2.931 1.883-2.38 0-2.901-1.671-2.901-3.948v-7.763h-2.486v8.783c0 2.645 1.57 4.731 4.316 4.731 1.829 0 3.503-.681 4.497-2.323h.053v1.929h2.428v-13.12h-2.481zm-16.434-.004h-2.246v1.802h2.246v8.295c0 1.752.131 1.803.578 2.43.414.578 1.071.786 1.464.865a9.228 9.228 0 0 0 1.674.126c.57 0 1.123-.126 1.694-.155v-1.907a5.635 5.635 0 0 1-1.303.154c-.891 0-1.623-.445-1.623-1.382v-8.426h3.033v-1.802h-3.033v-3.578l-2.484.786v2.792zm-12.923 1.938v-1.934h-2.434v13.12h2.485v-7.133c0-2.561.681-3.141 1.046-3.503 1.046-1.048 2.403-.969 2.403-.969 2.097 0 3.01 1.175 3.01 3.345v8.26h2.486v-9.066c0-4.209-4.056-4.446-4.971-4.446-1.306 0-3.135.677-3.974 2.326h-.051zm-14.234 3.378c0-2.151 1.228-3.902 3.294-3.902 2.404 0 3.4 1.7 3.349 3.902h-6.643zm0 1.719h9.255v-1.231c0-3.63-1.855-6.115-5.778-6.192-4.157 0-6.089 3.217-6.089 7.06 0 3.87 1.673 6.846 5.882 6.846 3.138 0 5.436-1.488 5.83-4.467h-2.613c-.292 1.909-1.258 2.664-3.193 2.664-2.533 0-3.475-2.376-3.294-4.68zm-7.262-7.921h2.742c-.285-3.372-3.009-5.15-6.642-5.256-6.326-.182-8.361 5.206-8.361 9.835 0 5.28 2.22 9.825 7.79 9.825 3.683 0 6.875-2.086 7.136-5.25h-2.747c-.312 2.009-2.145 3.003-4.153 3.003-4.106 0-5.287-3.682-5.287-7.578 0-3.325.863-7.588 5.521-7.588 1.935 0 3.87 1.203 4.001 3.009zM37.933 2.314v-.915h.777c.343 0 .672.054.672.449 0 .533-.553.466-.949.466h-.5zm0 .331h.606l.797 1.257h.408l-.843-1.257c.494-.039.876-.245.876-.791 0-.506-.25-.782-.987-.782h-1.22v2.83h.363V2.645zm.567 1.942c-1.212 0-2.088-.87-2.088-2.087 0-1.205.876-2.074 2.088-2.074 1.205 0 2.074.869 2.074 2.074 0 1.217-.869 2.087-2.074 2.087zm0 .395a2.477 2.477 0 0 0 0-4.952 2.481 2.481 0 0 0-2.483 2.47A2.484 2.484 0 0 0 38.5 4.982zM22.335 41a20.432 20.432 0 0 0 6.789-1.819l-6.789-11.759V41zM18.634.03a20.352 20.352 0 0 0-6.791 1.817l6.791 11.758V.03zm8.759 22.333l11.761 6.787a20.38 20.38 0 0 0 1.815-6.787H27.393zM1.814 11.873A20.503 20.503 0 0 0 0 18.662h13.578L1.814 11.873zM0 22.363a20.474 20.474 0 0 0 1.814 6.787l11.764-6.787H0zm40.969-3.701a20.552 20.552 0 0 0-1.815-6.789l-11.761 6.789h13.576zM32.33 37.329a20.673 20.673 0 0 0 4.97-4.971L25.542 25.57l6.788 11.759zm4.97-28.66A20.589 20.589 0 0 0 32.331 3.7l-6.787 11.755L37.3 8.669zM11.843 39.181A20.45 20.45 0 0 0 18.634 41V27.422l-6.791 11.759zM29.124 1.847A20.358 20.358 0 0 0 22.335.03v13.575l6.789-11.758zM8.639 3.7A20.589 20.589 0 0 0 3.67 8.669l11.758 6.786L8.639 3.7zM3.67 32.358l11.758-6.788-6.789 11.759a20.687 20.687 0 0 1-4.969-4.971z" fill="#FFFFFE" mask="url(#b)"/></g></svg>
          </a>
          <div class="o-header__start">
            <span class="o-header__title -text--muted">Application Title</span>
          </div>
          <div class="o-header__end">
            <a class="a-btn -flat -icon -inverse" href="#">
              <div class="a-btn__content">
                <i class="a-icon icon-circle-question -text--muted"></i>
              </div>
            </a>
          </div>
        </div>
      </header>
      <div class="chi-app__body -d--flex -justify-content--center -px-sm--2 -py-sm--4">
        <div class="-pb--2 -w--100 -mw--480">
          <div class="a-card -b--0 -bg--none">
            <div class="a-card__content -text--center -px--4 -px-sm--6 -pb--4">
              <h3 class="-text--normal">Sign In</h3>
              <div class="m-alert -danger -center" role="alert">
              <i class="a-icon -sm--2 icon-circle-warning -text--danger"></i>
              Invalid email or password
              </div>
              <div class="m-formGroup -pt--2">
                <input class="a-input -large" type="email" placeholder="Email">
              </div>
              <div class="m-formGroup -pt--1">
                <input class="a-input -large" type="password" placeholder="Password">
              </div>
              <div class="m-formGroup -justify-content--between -align-items--center -flex--column -flex-sm--row -pt--3 -pt-sm--4">
                <a class="-text -mb--2 -mb-sm--0" href="#">Forgot email or password?</a>
                <button class="a-btn -primary -large">Sign In</button>
              </div>
            </div>
          </div>
          <div class="-text -text--center -py--2">Don't have an account? <a href="#">Sign Up</a></div>
        </div>
      </div>
    </div>
