---
title: Portal
description: Enterprise portal patterns and templates.
order: 1
---

h2 Table
h3 Base
.example.-mb--3
  .-p--3
    .chi-card.-portal
      .chi-card__header.-sm
        .chi-card__title
          | Title
      .chi-card__content.-p--0
        table.chi-table.-portal
          thead
            tr.-sm
              th Name
              th ID
              th Last Login
          tbody
            tr.-lg
              td
                a(href='#') Name 1
              td name-1
              td Dec 18, 2020 3:26 PM
            tr.-lg
              td
                a(href='#') Name 2
              td name-2
              td Dec 18, 2020 2:38 AM
            tr.-lg
              td
                a(href='#') Name 3
              td name-3
              td Nov 5, 2020 10:15 AM
  .example-tabs.-pl--2
    ul.chi-tabs#example-portal-table
      li.-disabled
        a(href=`#webcomponent-portal-table`) Web Component
      li.-active
        a(href=`#html-portal-table`) HTML Blueprint
  .chi-tabs-panel#webcomponent-portal-table
  .chi-tabs-panel.-active#html-portal-table
    :code(lang="html")
      <div class="chi-card -portal">
        <div class="chi-card__header -sm">
          <div class="chi-card__title">Title</div>
        </div>
        <div class="chi-card__content -p--0">
          <table class="chi-table -portal">
            <thead>
              <tr class="-sm">
                <th>Name</th>
                  <th>ID</th>
                  <th>Last Login</th>
              </tr>
            </thead>
            <tbody>
              <tr class="-lg">
                <td><a href="#">Name 1</a></td>
                <td>name-1</td>
                <td>Dec 18, 2020 3:26 PM</td>
              </tr>
              <tr class="-lg">
                <td><a href="#">Name 2</a></td>
                <td>name-2</td>
                <td>Dec 18, 2020 2:38 AM</td>
              </tr>
              <tr class="-lg">
                <td><a href="#">Name 3</a></td>
                <td>name-3</td>
                <td>Nov 5, 2020 10:15 AM</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

h3 Table with header cells in the top row and first column
.example.-mb--3
  .-p--3
    .chi-card.-portal
      .chi-card__header.-sm
        .chi-card__title
          | Title
      .chi-card__content.-p--0
        .-p--2
          .chi-picker-group.-portal
            .chi-picker-group__content
              input.chi-picker__input(type="radio" name="unique-name-ba" id="unique-id-ba1" checked)
              label(for="unique-id-ba1") Option 1
              input.chi-picker__input(type="radio" name="unique-name-ba" id="unique-id-ba2")
              label(for="unique-id-ba2") Option 2
              input.chi-picker__input(type="radio" name="unique-name-ba" id="unique-id-ba3")
              label(for="unique-id-ba3") Option 3
        .-overflow--auto
          table.chi-table.-bordered.-striped.-xs.-text--center
            tr
              td.-th
              th(scope="col") ABQ1
              th(scope="col") ABY1
              th(scope="col") AKN4
              th(scope="col") ANT1
              th(scope="col") ANT2
              th(scope="col") ATL12
              th(scope="col") ATL14
              th(scope="col") AUS1
              th(scope="col") AUS3
              th(scope="col") BCH1
              th(scope="col") BER1
            tr
              th(scope="row") ABQ1
              td.-bg--info-light 52
              td 52
              td 52
              td 52
              td 52
              td 52
              td 52
              td 52
              td 52
              td 52
              td 52
            tr
              th(scope="row") ABY1
              td 42
              td 42
              td 42
              td 42
              td 42
              td 42
              td 42
              td 42
              td 42
              td 42
              td 42
            tr
              th(scope="row") AKN4
              td 127
              td 127
              td 127
              td 127
              td 127
              td 127
              td 127
              td 127
              td 127
              td 127
              td 127
            tr
              th(scope="row") ANT1
              td 21
              td 21
              td 21
              td.-bg--danger-lighter.-b--1.-b--danger 52
              td 21
              td 21
              td 21
              td 21
              td 21
              td 21
              td 21
            tr
              th(scope="row") ANT2
              td 136
              td 136
              td 136
              td 136
              td 136
              td 136
              td 136
              td 136
              td 136
              td.-bg--warning-lighter.-b--1.-b--warning 180
              td 136
            tr
              th(scope="row") ATL12
              td 164
              td 164
              td 164
              td 164
              td 164
              td 164
              td 164
              td 164
              td 164
              td 164
              td 164
            tr
              th(scope="row") ATL14
              td 52
              td 52
              td 52
              td 52
              td 52
              td 52
              td 52
              td 52
              td 52
              td 52
              td 52
            tr
              th(scope="row") AUS1
              td 52
              td 52
              td 52
              td 52
              td 52
              td 52
              td 52
              td 52
              td 52
              td 52
              td 52
            tr
              th(scope="row") AUS3
              td 32
              td 32
              td 32
              td 32
              td 32
              td 32
              td 32
              td 32
              td 32
              td 32
              td 32
            tr
              th(scope="row") BCH1
              td 21
              td 21
              td 21
              td 21
              td 21
              td 21
              td 21
              td 21
              td 21
              td 21
              td 21
            tr
              th(scope="row") BER1
              td 31
              td 31
              td 31
              td 31
              td 31
              td 31
              td 31
              td 31
              td 31
              td 31
              td 31
  .example-tabs.-pl--2
    ul.chi-tabs#example-header-cells-first-column
      li.-disabled
        a(href=`#webcomponent-header-cells-first-column`) Web Component
      li.-active
        a(href=`#html-header-cells-first-column`) HTML Blueprint
  .chi-tabs-panel#webcomponent-header-cells-first-column
  .chi-tabs-panel.-active#html-header-cells-first-column
    :code(lang="html")
      <div class="chi-card -portal">
        <div class="chi-card__header -sm">
          <div class="chi-card__title">Title</div>
        </div>
        <div class="chi-card__content -p--0">
          <div class="-p--2">
            <div class="chi-picker-group -portal">
              <div class="chi-picker-group__content">
                <input class="chi-picker__input" type="radio" name="unique-name-ba" id="unique-id-ba1" checked="checked" />
                <label for="unique-id-ba1">Option 1</label>
                <input class="chi-picker__input" type="radio" name="unique-name-ba" id="unique-id-ba2" />
                <label for="unique-id-ba2">Option 2</label>
                <input class="chi-picker__input" type="radio" name="unique-name-ba" id="unique-id-ba3" />
                <label for="unique-id-ba3">Option 3</label>
              </div>
            </div>
          </div>
          <div class="-overflow--auto">
            <table class="chi-table -bordered -striped -xs -text--center">
              <tr>
                <td class="-th"></td>
                <th scope="col">ABQ1</th>
                <th scope="col">ABY1</th>
                <th scope="col">AKN4</th>
                <th scope="col">ANT1</th>
                <th scope="col">ANT2</th>
                <th scope="col">ATL12</th>
                <th scope="col">ATL14</th>
                <th scope="col">AUS1</th>
                <th scope="col">AUS3</th>
                <th scope="col">BCH1</th>
                <th scope="col">BER1</th>
              </tr>
              <tr>
                <th scope="row">ABQ1</th>
                <td class="-bg--info-light">52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
              </tr>
              <tr>
                <th scope="row">ABY1</th>
                <td>42</td>
                <td>42</td>
                <td>42</td>
                <td>42</td>
                <td>42</td>
                <td>42</td>
                <td>42</td>
                <td>42</td>
                <td>42</td>
                <td>42</td>
                <td>42</td>
              </tr>
              <tr>
                <th scope="row">AKN4</th>
                <td>127</td>
                <td>127</td>
                <td>127</td>
                <td>127</td>
                <td>127</td>
                <td>127</td>
                <td>127</td>
                <td>127</td>
                <td>127</td>
                <td>127</td>
                <td>127</td>
              </tr>
              <tr>
                <th scope="row">ANT1</th>
                <td>21</td>
                <td>21</td>
                <td>21</td>
                <td class="-bg--danger-lighter -b--1 -b--danger">52</td>
                <td>21</td>
                <td>21</td>
                <td>21</td>
                <td>21</td>
                <td>21</td>
                <td>21</td>
                <td>21</td>
              </tr>
              <tr>
                <th scope="row">ANT2</th>
                <td>136</td>
                <td>136</td>
                <td>136</td>
                <td>136</td>
                <td>136</td>
                <td>136</td>
                <td>136</td>
                <td>136</td>
                <td>136</td>
                <td class="-bg--warning-lighter -b--1 -b--warning">180</td>
                <td>136</td>
              </tr>
              <tr>
                <th scope="row">ATL12</th>
                <td>164</td>
                <td>164</td>
                <td>164</td>
                <td>164</td>
                <td>164</td>
                <td>164</td>
                <td>164</td>
                <td>164</td>
                <td>164</td>
                <td>164</td>
                <td>164</td>
              </tr>
              <tr>
                <th scope="row">ATL14</th>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
              </tr>
              <tr>
                <th scope="row">AUS1</th>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
                <td>52</td>
              </tr>
              <tr>
                <th scope="row">AUS3</th>
                <td>32</td>
                <td>32</td>
                <td>32</td>
                <td>32</td>
                <td>32</td>
                <td>32</td>
                <td>32</td>
                <td>32</td>
                <td>32</td>
                <td>32</td>
                <td>32</td>
              </tr>
              <tr>
                <th scope="row">BCH1</th>
                <td>21</td>
                <td>21</td>
                <td>21</td>
                <td>21</td>
                <td>21</td>
                <td>21</td>
                <td>21</td>
                <td>21</td>
                <td>21</td>
                <td>21</td>
                <td>21</td>
              </tr>
              <tr>
                <th scope="row">BER1</th>
                <td>31</td>
                <td>31</td>
                <td>31</td>
                <td>31</td>
                <td>31</td>
                <td>31</td>
                <td>31</td>
                <td>31</td>
                <td>31</td>
                <td>31</td>
                <td>31</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

h2 Data table
.example.-mb--3
  .-p--3
    .chi-card.-portal.-bg--white.-bg-md--grey-15
      .chi-card__header.-sm
        .chi-card__title Title
      .chi-card__content.-p--0
        .chi-data-table.-portal.-compact
          .chi-data-table__head
            .chi-data-table__row
              .chi-data-table__cell
                div Name
              .chi-data-table__cell
                div ID
              .chi-data-table__cell
                div Last Login
          .chi-data-table__body
            .chi-data-table__row.-xl
              .chi-data-table__cell.-key.-bold
                div Name 1
              .chi-data-table__cell.-key
                div name-1
              .chi-data-table__cell
                div Dec 18, 2020 3:26 PM
            .chi-data-table__row.-striped.-xl
              .chi-data-table__cell.-key.-bold
                div Name 2
              .chi-data-table__cell.-key
                div name-2
              .chi-data-table__cell
                div Dec 18, 2020 2:38 AM
            .chi-data-table__row.-xl
              .chi-data-table__cell.-key.-bold
                div Name 3
              .chi-data-table__cell.-key
                div name-3
              .chi-data-table__cell
                div Nov 5, 2020 10:15 AM
          .chi-data-table__footer
            nav.chi-pagination.-compact(role='navigation', aria-label='Pagination')
              .chi-pagination__content
                .chi-pagination__start
                  .chi-pagination__results
                    span.chi-pagination__label 240 Results
                .chi-pagination__center
                  .chi-pagination__button-group.chi-button-group
                    button.chi-button.-icon.-flat.-primary.-sm(aria-label='First page')
                      .chi-button__content
                        i.chi-icon.icon-page-first(aria-hidden='true')
                    button.chi-button.-icon.-flat.-primary.-sm(aria-label='Previous page')
                      .chi-button__content
                        i.chi-icon.icon-chevron-left(aria-hidden='true')
                  .chi-pagination__label
                    strong 2
                    span of
                    strong 3
                  .chi-pagination__button-group.chi-button-group
                    button.chi-button.-icon.-flat.-primary.-sm(aria-label='Next page')
                      .chi-button__content
                        i.chi-icon.icon-chevron-right(aria-hidden='true')
                    button.chi-button.-icon.-flat.-primary.-sm(aria-label='Last page')
                      .chi-button__content
                        i.chi-icon.icon-page-last(aria-hidden='true')
                .chi-pagination__end

  .example-tabs.-pl--2
    ul.chi-tabs#example-portal-data-table
      li.-disabled
        a(href=`#webcomponent-portal-data-table`) Web Component
      li.-active
        a(href=`#html-portal-data-table`) HTML Blueprint
  .chi-tabs-panel#webcomponent-portal-data-table
  .chi-tabs-panel.-active#html-portal-data-table
    :code(lang='html')
      <div class="chi-card -portal -bg--white -bg-md--grey-15">
        <div class="chi-card__header -sm">
          <div class="chi-card__title">Title</div>
        </div>
        <div class="chi-card__content -p--0">
          <div class="chi-data-table -portal -compact">
            <div class="chi-data-table__head">
              <div class="chi-data-table__row">
                <div class="chi-data-table__cell">
                  <div>Name</div>
                </div>
                <div class="chi-data-table__cell">
                  <div>ID</div>
                </div>
                <div class="chi-data-table__cell">
                  <div>Last Login</div>
                </div>
              </div>
            </div>
            <div class="chi-data-table__body">
              <div class="chi-data-table__row -xl">
                <div class="chi-data-table__cell -key -bold">
                  <div>Name 1</div>
                </div>
                <div class="chi-data-table__cell -key">
                  <div>name-1</div>
                </div>
                <div class="chi-data-table__cell">
                  <div>Dec 18, 2020 3:26 PM</div>
                </div>
              </div>
              <div class="chi-data-table__row -striped -xl">
                <div class="chi-data-table__cell -key -bold">
                  <div>Name 2</div>
                </div>
                <div class="chi-data-table__cell -key">
                  <div>name-2</div>
                </div>
                <div class="chi-data-table__cell">
                  <div>Dec 18, 2020 2:38 AM</div>
                </div>
              </div>
              <div class="chi-data-table__row -xl">
                <div class="chi-data-table__cell -key -bold">
                  <div>Name 3</div>
                </div>
                <div class="chi-data-table__cell -key">
                  <div>name-3</div>
                </div>
                <div class="chi-data-table__cell">
                  <div>Nov 5, 2020 10:15 AM</div>
                </div>
              </div>
            </div>
            <div class="chi-data-table__footer">
              <nav class="chi-pagination -compact" role="navigation" aria-label="Pagination">
                <div class="chi-pagination__content">
                  <div class="chi-pagination__start">
                    <div class="chi-pagination__results">
                      <span class="chi-pagination__label">240 Results</span>
                    </div>
                  </div>
                  <div class="chi-pagination__center">
                      <div class="chi-pagination__button-group chi-button-group">
                        <button class="chi-button -icon -flat -primary -sm" aria-label="Previous page">
                          <div class="chi-button__content">
                            <i class="chi-icon icon-chevron-left" aria-hidden="true"></i>
                          </div>
                        </button>
                      </div>
                      <div class="chi-pagination__label">
                        <strong>2</strong>
                        <span>of</span>
                        <strong>3</strong>
                      </div>
                      <div class="chi-pagination__button-group chi-button-group">
                        <button class="chi-button -icon -flat -primary -sm" aria-label="Next page">
                          <div class="chi-button__content">
                            <i class="chi-icon icon-chevron-right" aria-hidden="true"></i>
                          </div>
                        </button>
                      </div>
                    </div>
                  <div class="chi-pagination__end"></div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
