---
title: Toggle Switch
scripts:
  - js/ce/ux-chi-ce
---
p.-text Toggle switches are used to switch between two possible states.

h3 Examples
p.-text
  | To render a toggle switch, use the tag <code>chi-toggle-switch</code>.

h4 Base
.example.-mb--3
  .-p--3
    .m-formGroup
      chi-toggle-switch(toggle-id='toggle1')
  :code(lang="html")
    <chi-toggle-switch toggle-id="toggle1"></chi-toggle-switch>

h4 Disabled
.example.-mb--3
  .-p--3
    .m-formGroup
      chi-toggle-switch(toggle-id='toggle2', disabled)
  :code(lang="html")
    <chi-toggle-switch toggle-id="toggle2" disabled></chi-toggle-switch>

h4 No Label
p.-text
  | By default, toggle switches are labeled with text <code>ON/OFF</code>. To disable this, use the <code>no-text</code> attribute.
.example.-mb--3
  .-p--3
    .m-formGroup
      chi-toggle-switch(toggle-id='toggle3', no-text)
  :code(lang="html")
    <chi-toggle-switch toggle-id="toggle3" no-text></chi-toggle-switch>

h4 Stacked
p.-text
  | Group toggle switches in <code>m-formGroup</code> for easy stacking.
.example.-mb--3
  .-p--3
    .m-formGroup.-mb--2
      chi-toggle-switch(toggle-id='toggle4', no-text, label='Notifications')
    .m-formGroup
      chi-toggle-switch(toggle-id='toggle5', no-text, label='Outage Alerts')
  :code(lang="html")
    <div class="m-formGroup -mb--2">
      <chi-toggle-switch toggle-id="toggle4" no-text label="Notifications"></chi-toggle-switch>
    </div>
    <div class="m-formGroup">
      <chi-toggle-switch toggle-id="toggle5" no-text label="Outage Alerts"></chi-toggle-switch>
    </div>

h4 Inline
p.-text
  | Apply the <code>-inline</code> class to <code>m-formGroup</code> for displaying toggle switches inline.
.example.-mb--3
  .-p--3.-d--flex
    .m-formGroup.-inline.-mr--3
      chi-toggle-switch(toggle-id='toggle6', no-text, label='Notifications')
    .m-formGroup.-inline
      chi-toggle-switch(toggle-id='toggle7', no-text, label='Outage Alerts')
  :code(lang="html")
    <div class="m-formGroup -inline -mr--3">
      <chi-toggle-switch toggle-id="toggle6" no-text label="Notifications"></chi-toggle-switch>
    </div>
    <div class="m-formGroup -inline">
      <chi-toggle-switch toggle-id="toggle7" no-text label="Outage Alerts"></chi-toggle-switch>
    </div>

h3 Additional usage details
:stencilDoc(name='chi-toggle-switch')
