---
title: Toggle Switch
---
script(type='module' src='../../../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../../../js/ce/ux-chi-ce/ux-chi-ce.js')

p.-text Toggle switches are used to switch between two possible states.

h2 Examples
p.-text
  | To render a toggle switch, use the tag <code>chi-switch</code>.

h3 Base
.example.-mb--3
  .-p--3
    .m-form__item
      chi-switch(id='toggle1',label='Label')
  :code(lang="html")
    <chi-switch id="toggle1" label="Label"></chi-switch>

h3 Disabled
.example.-mb--3
  .-p--3
    .m-form__item
      chi-switch(id='toggle2', label='Label', disabled)
  :code(lang="html")
    <chi-switch id="toggle2" label="Label" disabled></chi-switch>

h3 Stacked
p.-text
  | Group toggle switches in <code>m-form__item</code> for easy stacking.
.example.-mb--3
  .-p--3
    .m-form__item
      chi-switch(id='toggle3', label='Label')
    .m-form__item
      chi-switch(id='toggle4', label='Label')
  :code(lang="html")
    <div class="m-form__item">
      <chi-switch id="toggle3" label="Label"></chi-switch>
    </div>
    <div class="m-form__item">
      <chi-switch id="toggle4" label="Label"></chi-switch>
    </div>

h3 Inline
p.-text
  | Apply the <code>-inline</code> class to <code>m-form__item</code> for displaying toggle switches inline.
.example.-mb--3
  .-p--3.-d--flex
    .m-form__item.-inline
      chi-switch(id='toggle5', label='Label')
    .m-form__item.-inline
      chi-switch(id='toggle6', label='Label')
  :code(lang="html")
    <div class="m-form__item -inline">
      <chi-switch id="toggle5" label="Label"></chi-switch>
    </div>
    <div class="m-form__item -inline">
      <chi-switch id="toggle6" label="Label"></chi-switch>
    </div>

h3 Switch with Hidden Label
p.-text
  | Apply the <code>hide-label</code> attribute to <code>chi-switch</code> to render a switch without a label. Use this method for rendering switches
  | in close proximity to other text that clearly describes its purpose.
.example.-mb--3
  .-p--3
    .m-form__item
      chi-switch(id='toggle7',label='Label', hide-label)
  :code(lang="html")
    <div class="m-form__item">
      <chi-switch id="toggle7" label="Label" hide-label></chi-switch>
    </div>

h2 Additional usage details
:stencilDoc(name='chi-switch')
