h2 Examples

h3 Base
.example.-mb--3
  .-p--3
    .m-form__item
      label.a-switch(for="toggle1")
        input(type="checkbox", class="a-switch__input", id="toggle1")
        span(class="a-switch__content")
          span.a-switch__thumb
        span.a-switch__label Label
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-switch" for="toggle1">
        <input type="checkbox" class="a-switch__input" id="toggle1">
        <span class="a-switch__content">
          <span class="a-switch__thumb"></span>
        </span>
        <span class="a-switch__label">Label</span>
      </label>
    </div>

h3 Disabled
.example.-mb--3
  .-p--3
    .m-form__item
      label.a-switch(for="toggle2")
        input(type="checkbox", class="a-switch__input", id="toggle2", disabled)
        span(class="a-switch__content")
          span.a-switch__thumb
        span.a-switch__label Label
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-switch" for="toggle2">
        <input type="checkbox" class="a-switch__input" name="toggle2" value="toggle2" disabled>
        <span id="toggle2" class="a-switch__content">
          <span class="a-switch__thumb"></span>
        </span>
        <span class="a-switch__label">Label</span>
      </label>
    </div>

h3 Stacked
p.-text
  | Group switches in <code>m-form__item</code> for easy stacking.
.example.-mb--3
  .-p--3
    legend.a-label Configure options
    .m-form__item
      label.a-switch(for="toggle3")
        input(type="checkbox", class="a-switch__input", id="toggle3")
        span(class="a-switch__content")
          span.a-switch__thumb
        span.a-switch__label Label
    .m-form__item
      label.a-switch(for="toggle4")
        input(type="checkbox", class="a-switch__input", id="toggle4")
        span(class="a-switch__content")
          span.a-switch__thumb
        span.a-switch__label Label
  :code(lang="html")
    <fieldset>
      <legend class="a-label">Configure options</legend>
      <div class="m-form__item">
        <label class="a-switch" for="toggle3">
          <input type="checkbox" class="a-switch__input" id="toggle3">
          <span class="a-switch__content">
            <span class="a-switch__thumb"></span>
          </span>
          <span class="a-switch__label">Label</span>
        </label>
      </div>
      <div class="m-form__item">
        <label class="a-switch" for="toggle4">
          <input type="checkbox" class="a-switch__input" id="toggle4">
          <span class="a-switch__content">
            <span class="a-switch__thumb"></span>
          </span>
          <span class="a-switch__label">Label</span>
        </label>
      </div>
    </fieldset>

h3 Inline
p.-text
  | Apply the class <code>-inline</code> to <code>m-form__item</code> to display switches inline.
.example.-mb--3
  .-p--3
    legend.a-label Configure options
    .m-form__item.-inline
      label.a-switch(for="toggle5")
        input(type="checkbox", class="a-switch__input", id="toggle5")
        span(class="a-switch__content")
          span.a-switch__thumb
        span.a-switch__label Label
    .m-form__item.-inline
      label.a-switch(for="toggle6")
        input(type="checkbox", class="a-switch__input", id="toggle6")
        span(class="a-switch__content")
          span.a-switch__thumb
        span.a-switch__label Label
  :code(lang="html")
    <fieldset>
      <legend class="a-label">Configure options</legend>
      <div class="m-form__item -inline">
        <label class="a-switch" for="toggle5">
          <input type="checkbox" class="a-switch__input" id="toggle5">
          <span class="a-switch__content">
            <span class="a-switch__thumb"></span>
          </span>
          <span class="a-switch__label">Label</span>
        </label>
      </div>
      <div class="m-form__item -inline">
        <label class="a-switch" for="toggle6">
          <input type="checkbox" class="a-switch__input" id="toggle6">
          <span class="a-switch__content">
            <span class="a-switch__thumb"></span>
          </span>
          <span class="a-switch__label">Label</span>
        </label>
      </div>
    </fieldset>

h3 Switch list
p.-text
  | Switch lists are used to wrap a series of switches in a list.
  | To render, apply the class <code>-list</code> to <code>m-form__item</code>.
.example.-mb--3
  .-p--3
    legend.a-label Select options
    ul.m-form__item.-list(style="max-width:20rem")
      li.m-form__item
        label.a-switch(for="toggle10")
          span.a-switch__label Label
          input(type="checkbox", class="a-switch__input", id="toggle10")
          span(class="a-switch__content")
            span.a-switch__thumb
      li.m-form__item
        label.a-switch(for="toggle11")
          span.a-switch__label Label
          input(type="checkbox", class="a-switch__input", id="toggle11")
          span(class="a-switch__content")
            span.a-switch__thumb
      li.m-form__item
        label.a-switch(for="toggle12")
          span.a-switch__label Label
          input(type="checkbox", class="a-switch__input", id="toggle12")
          span(class="a-switch__content")
            span.a-switch__thumb
      li.m-form__item
        label.a-switch(for="toggle13")
          span.a-switch__label Label
          input(type="checkbox", class="a-switch__input", id="toggle13")
          span(class="a-switch__content")
            span.a-switch__thumb
      li.m-form__item
        label.a-switch(for="toggle14")
          span.a-switch__label Label
          input(type="checkbox", class="a-switch__input", id="toggle14")
          span(class="a-switch__content")
            span.a-switch__thumb
  :code(lang='html')
    <fieldset>
      <legend class="a-label">Select options</legend>
      <ul class="m-form__item -list">
        <li class="m-form__item">
          <label class="a-switch" for="toggle10">
            <span class="a-switch__label">Label</span>
            <input type="checkbox" class="a-switch__input" id="toggle10">
            <span class="a-switch__content">
              <span class="a-switch__thumb"></span>
            </span>
          </label>
        </li>
        <li class="m-form__item">
          <label class="a-switch" for="toggle11">
            <span class="a-switch__label">Label</span>
            <input type="checkbox" class="a-switch__input" id="toggle11">
            <span class="a-switch__content">
              <span class="a-switch__thumb"></span>
            </span>
          </label>
        </li>
        <li class="m-form__item">
          <label class="a-switch" for="toggle12">
            <span class="a-switch__label">Label</span>
            <input type="checkbox" class="a-switch__input" id="toggle12">
            <span class="a-switch__content">
              <span class="a-switch__thumb"></span>
            </span>
          </label>
        </li>
        <li class="m-form__item">
          <label class="a-switch" for="toggle13">
            <span class="a-switch__label">Label</span>
            <input type="checkbox" class="a-switch__input" id="toggle13">
            <span class="a-switch__content">
              <span class="a-switch__thumb"></span>
            </span>
          </label>
        </li>
        <li class="m-form__item" for="toggle14">
          <label class="a-switch">
            <span class="a-switch__label">Label</span>
            <input type="checkbox" class="a-switch__input" id="toggle14">
            <span class="a-switch__content">
              <span class="a-switch__thumb"></span>
            </span>
          </label>
        </li>
      </ul>
    </fieldset>

h3 Switch with Left Label
.example.-mb--3
  .-p--3
    .m-form__item
      label.a-switch(for="toggle7")
        span.a-switch__label Label
        input(type="checkbox", class="a-switch__input", id="toggle7")
        span(id="toggle7", class="a-switch__content")
          span.a-switch__thumb
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-switch" for="toggle7">
        <span class="a-switch__label">Label</span>
        <input type="checkbox" class="a-switch__input" id="toggle7">
        <span class="a-switch__content">
          <span class="a-switch__thumb"></span>
        </span>
      </label>
    </div>

h3 Switch with Hidden Label
p.-text
  | Apply the class <code>-label--hide</code> to <code>a-switch</code> to render a switch without a label. Use this method for rendering switches
  | in close proximity to other text that clearly describes its purpose.
.example.-mb--3
  .-p--3
    .m-form__item
      label.a-switch.-label--hide(for="toggle8")
        input(type="checkbox", class="a-switch__input", id="toggle8")
        span(class="a-switch__content")
          span.a-switch__thumb
        span.a-switch__label Label
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-switch -label--hide" for="toggle8">
        <input type="checkbox" class="a-switch__input" id="toggle8">
        <span class="a-switch__content">
          <span class="a-switch__thumb"></span>
        </span>
        <span class="a-switch__label">Label</span>
      </label>
    </div>
