h2 Examples

include ./examples/_base
include ./examples/_single
include ./examples/_dot-controllers
include ./examples/_customControllers

//- To-do - temporarily hidden as theme switching causes wrong rendering of carousel elements
//- .-portal--hide
//-   include ./examples/_single
//-   include ./examples/_dot-controllers
//-   include ./examples/_customControllers
//- .-portal--show
//-   include ./examples/_portal/_alert
//-   include ./examples/_portal/_stats
