---
title: Carousel
description: Carousel provides the functionality of sequentially displaying and switching between slides with any type of elements
tabs: {"Examples" : "examplestab", "Properties" : "propertiestab", "Accessibility" : "accessibilitytab"}
---

.chi-tabs-panel.-active#examplestab
  include _examples

.chi-tabs-panel#propertiestab
  include _properties

.chi-tabs-panel#accessibilitytab
  include _accessibility
