@import '_global-mixins';
@import '_global-variables';

.chi-divider {
  border: 0;
  border-top: 0.0625rem solid $divider-border-color;
  margin: 0.5rem 0;

  &.-inverse {
    border-top: 0.0625rem solid $divider-inverse-border-color;
  }

  &.-vertical {
    border-right: 0.0625rem solid $divider-vertical-border-color;
    border-top: 0;
    height: 100%;
    margin: 0 0.5rem;

    &.-inverse {
      border-color: $divider-vertical-inverse-border-color;
    }
  }

  &.-label {
    align-items: center;
    border-top: 0;
    color: $color-grey-60;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr auto 1fr;
    text-transform: uppercase;

    &::after {
      border-top: 0.0625rem solid $divider-border-color;
      content: '';
    }

    &::before {
      border-top: 0.0625rem solid $divider-border-color;
      content: '';
    }
  }
}
