@import '_global-mixins';
@import '_global-variables';

.chi-divider {
  border: 0;
  border-top: 0.0625rem solid rgba($color-black, 0.12);
  margin: 0.5rem 0;

  &.-inverse {
    border-top: 0.0625rem solid rgba($color-white, 0.2);
  }

  &.-vertical {
    border-right: 0.0625rem solid rgba($color-black, 0.12);
    border-top: 0;
    height: 100%;
    margin: 0 0.5rem;

    &.-inverse {
      border-color: rgba($color-white, 0.2);
    }
  }

  &.-label {
    align-items: center;
    border-top: 0;
    color: $color-grey-60;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr auto 1fr;
    text-transform: uppercase;

    &::after {
      border-top: 0.0625rem solid rgba($color-black, 0.12);
      content: '';
    }

    &::before {
      border-top: 0.0625rem solid rgba($color-black, 0.12);
      content: '';
    }
  }
}
