@import '_global-variables';
@import '_global-mixins';

$skeleton-base-color: rgba(0, 0, 0, 0.05);
$skeleton-shine-color: rgba(0, 0, 0, 0.02);
$skeleton-animation-duration: 2s;

@keyframes shine {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 100rem;
  }
}

@mixin background-gradient {
  background-image: linear-gradient(
    -45deg,
    $skeleton-base-color 0,
    $skeleton-shine-color 4rem,
    $skeleton-base-color 8rem);
  background-size: 100rem;
}

$skeleton-sizes: (
  xs: $skeleton-xs-size,
  sm: $skeleton-sm-size,
  md: $skeleton-md-size,
  lg: $skeleton-lg-size,
  xl: $skeleton-xl-size,
);

.chi-skeleton {
  animation: shine $skeleton-animation-duration infinite linear;
  height: $skeleton-md-size;
  @include background-gradient;

  &.-circle,
  &.-square {
    height: $skeleton-md-size;
    width: $skeleton-md-size;

    @each $type in map-keys($skeleton-sizes) {
      &.-#{$type} {
        height: map-get($skeleton-sizes, $type);
        width: map-get($skeleton-sizes, $type);
      }
    }
  }

  &.-circle {
    border-radius: 1rem;

    @each $type in map-keys($skeleton-sizes) {
      &.-#{$type} {
        border-radius: map-get($skeleton-sizes, $type) / 2;
      }
    }
  }

  &.-rounded {
    border-radius: $border-radius-base;
  }

  @each $type in map-keys($skeleton-sizes) {
    &.-#{$type} {
      height: map-get($skeleton-sizes, $type);
    }
  }
}
