@import '_variables';
@import '_mixins';

input {
  &[type='checkbox'] {
    border: 2px solid set-color(grey, 50);
    border-radius: 3px;
    height: 1rem;
    margin-right: 0.5rem;
    outline: none;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    -webkit-appearance: none;
    width: 1rem;

    &:focus,
    &.-focus {
      box-shadow: 0 0 0 0.25rem rgba(set-color(grey, 50), 0.25);
    }

    &:checked {
      background-color: $brand-color;
      border-color: $brand-color;
      position: relative;

      &:focus,
      &.-focus {
        box-shadow: 0 0 0 0.25rem rgba($brand-color, 0.25);
      }

      &::after {
        border: 2px solid $text-white;
        border-right: none;
        border-top: none;
        box-sizing: content-box;
        content: '';
        height: 0.2rem;
        left: 0.0625rem;
        position: absolute;
        top: 0.125rem;
        transform: rotate(-45deg);
        width: 0.5rem;
      }
    }

    &.a-input{
      & + label {
        & {
          align-items: center;
          cursor: pointer;
          display: inline-flex;
          line-height: $line-height-smaller;
          margin-right: 0.5rem;
          position: relative;
        }
      }
    }

    &[disabled] {
      opacity: 0.65;
      & + label {
        color: set-color(grey, 50);
        pointer-events: none;
      }
    }
  }
}
