@import '_variables';
@import '_mixins';

.chi-checkbox {
  line-height: $line-height;
  position: relative;

  input {
    &[type='checkbox'] {
      &.a-input,
      &.chi-checkbox__input {
        & + label {
          &.chi-checkbox__label {
            font-size: $text;
            font-weight: normal;
            line-height: $line-height-small;
            margin-bottom: 0;
            margin-right: 0;
            padding-left: 1.5rem;

            &::before {
              left: 0;
              position: absolute;
              top: 0.125rem;
            }

            &::after {
              left: 0.1875rem;
              position: absolute;
              top: 0.3125rem;
            }
          }
        }
      }
    }
  }
}

input {
  &[type='checkbox'] {
    &.a-input,
    &.chi-checkbox__input {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      overflow: hidden;
      padding: 0;
      pointer-events: auto;
      position: absolute;
      width: 1px;

      & + label {
        & {
          align-items: center;
          cursor: pointer;
          display: inline-flex;
          line-height: $line-height-smaller;
          margin-right: 0.5rem;
          position: relative;
        }

        &::before {
          background-color: set-color(white);
          border: 0.125rem solid set-color(grey, 50);
          content: '';
          display: block;
          height: 1rem;
          transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
          width: 1rem;
        }

        &::after {
          background-image: url('icon-check--hover.svg');
          content: '';
          display: block;
          height: 0.625rem;
          left: 0.1875rem;
          position: absolute;
          top: calc(50% - 0.3125rem);
          transform: scale(0);
          transition: background-image 0.2s ease-in-out, transform 0.2s ease-in-out;
          width: 0.625rem;
        }

        &:hover,
        &.-hover {
          &::after {
            transform: scale(1);
          }
        }
      }

      &:checked {
        &:not(.-toggle) {
          & + label {
            &::before {
              background-color: $brand-color;
              border-color: $brand-color;
            }

            &::after {
              background-image: url('icon-check.svg');
              transform: scale(1);
            }
          }

          &:focus,
          &.-focus {
            & + label::before {
              box-shadow: 0 0 0 0.25rem rgba($brand-color, 0.25);
            }
          }
        }
      }

      &[disabled] {
        & ~ label {
          color: set-color(grey, 70);
        }

        & + label {
          opacity: 0.6;
          pointer-events: none;
        }
      }

      &:focus,
      &.-focus {
        & + label::before {
          box-shadow: 0 0 0 0.25rem rgba(set-color(grey, 50), 0.25);
        }
      }
    }
  }
}
