@import '../../../../chi/_global-variables';
@import '../../../../chi/_global-mixins';

pre {
  max-height: 20rem;
}

code {
  background-color: $color-grey-15;
  border-radius: $border-radius;

  &:not([class*='language-']) {
    padding: 0.125rem 0.25rem;
  }
}

.clipboard {
  position: relative;

  &__button {
    opacity: $opacity-60;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    transition: opacity 0.25ms ease-in-out;
    &:hover {
      opacity: $opacity-100;
    }
  }

  &__text-wrapper {
    height: 0;
    position: relative;
  }
}

// Prismjs custom theme for example code snippets

code[class*="language-"],
pre[class*="language-"] {
  background: none;
  color: $color-text-base;
  hyphens: none;
  line-height: 1.5;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: $color-background-base-dark;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: rgba($color-grey-60, 0.7);
}

.token.punctuation {
  color: $color-grey-80;
}

.token.selector,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: $color-grey-60;
}

.token.boolean,
.token.number {
  color: $color-grey-60;
}
.token.attr-name,
.token.property {
  color: $color-text-base;
}
.token.function {
  color: $color-grey-70;
}

.language-css .token.string,
.style .token.string,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: $color-grey-70;
}

.token.entity,
.token.url,
.token.variable {
  color: $color-grey-70;
}

.token.attr-value {
  color: $color-grey-70;
}

.token.atrule,
.token.keyword,
.token.operator {
  color: $color-grey-80;
}

.token.regex,
.token.important {
  color: $color-red-70;
}

.token.important,
.token.bold {
  font-weight: $font-weight-bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

@media screen and (-ms-high-contrast: active) {
	code[class*="language-"],
	pre[class*="language-"] {
    background: window;
    color: windowText;
	}

	:not(pre) > code[class*="language-"],
	pre[class*="language-"] {
    background: window;
	}

	.token.important {
		background: highlight;
		color: window;
		font-weight: $font-weight-normal;
	}

	.token.atrule,
	.token.attr-value,
	.token.function,
	.token.keyword,
	.token.operator,
	.token.selector {
    font-weight: $font-weight-bold;
	}

	.token.attr-value,
	.token.comment,
	.token.doctype,
	.token.function,
	.token.keyword,
	.token.operator,
	.token.property,
	.token.string {
    color: highlight;
	}

	.token.attr-value,
	.token.url {
    font-weight: $font-weight-normal;
	}
}

table {
  &.-types {
    pre {
      code {
        color: $color-grey-60;
      }
    }
  }
}
