.chi-alert.-info.-my--3
  i.chi-alert__icon.chi-icon.icon-circle-info
  .chi-alert__content
    p.chi-alert__text This component requires Javascript to render consistently between browsers.

h2 Examples
p.-text
  | To render a range slider, apply the class <code>chi-input</code> to an <code>input type="range"</code>.
  | Range widths are fluid by default.

h3 Base
.example.-mb--3
  .-p--3
    .m-form__item
      label(class="chi-label", for="range01") Range label
      input(class="chi-input", type="range", id="range01")
  .example-tabs.-pl--2
    ul#chi-tabs-base.chi-tabs
      li.-active
        a(href='#chi-tabs-base-html') HTML
      li
        a(href='#chi-tabs-base-js') JS
  #chi-tabs-base-html.chi-tabs-panel.-active
    :code(lang="html")
      <div class="m-form__item">
        <label class="chi-label" for="range01">Range label</label>
        <input class="chi-input" type="range" id="range01">
      </div>
  #chi-tabs-base-js.chi-tabs-panel
    :code(lang="html")
      <script>chi.rangeSlider(document.getElementById('range01'));</script>

h3 Disabled
.example.-mb--3
  .-p--3
    .m-form__item
      label(class="chi-label", for="range02") Range label
      input(class="chi-input", type="range", id="range02" disabled)
  .example-tabs.-pl--2
    ul#chi-tabs-disabled.chi-tabs
      li.-active
        a(href='#chi-tabs-disabled-html') HTML
      li
        a(href='#chi-tabs-disabled-js') JS
  #chi-tabs-disabled-html.chi-tabs-panel.-active
    :code(lang="html")
      <div class="m-form__item">
        <label class="chi-label" for="range02">Range label</label>
        <input class="chi-input" type="range" id="range02" disabled>
      </div>
  #chi-tabs-disabled-js.chi-tabs-panel
    :code(lang="html")
      <script>chi.rangeSlider(document.getElementById('range02'));</script>

h3 Multiple Labels
.example.-mb--3
  .-p--3
    .m-form__item
      label(class="chi-label", for="range03") Range label
      .chi-input__wrapper.-d--flex
        span.-text.-mr--2 200GB
        input(type="range", class="chi-input", id="range03")
        span.-text.-ml--2 5TB
  .example-tabs.-pl--2
    ul#chi-tabs-multiple-labels.chi-tabs
      li.-active
        a(href='#chi-tabs-multiple-labels-html') HTML
      li
        a(href='#chi-tabs-multiple-labels-js') JS
  #chi-tabs-multiple-labels-html.chi-tabs-panel.-active
    :code(lang="html")
      <div class="m-form__item">
        <label class="chi-label" for="range03">Range label</label>
        <div class="chi-input__wrapper -d--flex">
          <span class="-text">200GB</span>
          <input class="chi-input -mx--2" type="range" id="range03">
          <span class="-text">5TB</span>
        </div>
      </div>
  #chi-tabs-multiple-labels-js.chi-tabs-panel
    :code(lang="html")
      <script>chi.rangeSlider(document.getElementById('range03'));</script>

h2 Achieve consistent rendering
p.-text
  | As webkit browsers don't support an active track bar, we've created our own.
  | You will either need a JavaScript solution for moving the <code>chi-input__thumb</code>
  | element and changing the size of <code>chi-input__progress</code>, or
  | you can use Chi's JavaScript library as it provides this functionality out of the box.

h3 Base
.example.-mb--3
  .-p--3
    .m-form__item
      label(class="chi-label", for="range04") Range label
      .chi-input__wrapper
        input(class="chi-input", type="range", id="range04")
        .chi-input__progress
        .chi-input__thumb
  .example-tabs.-pl--2
    ul#chi-tabs-with-progress.chi-tabs
      li.-active
        a(href='#chi-tabs-with-progress-html') HTML
      li
        a(href='#chi-tabs-with-progress-js') JS
  #chi-tabs-with-progress-html.chi-tabs-panel.-active
    :code(lang="html")
      <div class="m-form__item">
        <label class="chi-label" for="range04">Range label</label>
        <div class="chi-input__wrapper">
          <input class="chi-input" type="range" id="range04">
          <div class="chi-input__progress"></div>
          <div class="chi-input__thumb"></div>
        </div>
      </div>
  #chi-tabs-with-progress-js.chi-tabs-panel
    :code(lang="html")
      <script>chi.rangeSlider(document.getElementById('range04'));</script>

h3 Disabled
.example.-mb--3
  .-p--3
    .m-form__item
      label(class="chi-label", for="range05") Range label
      .chi-input__wrapper
        input(class="chi-input", type="range", id="range05", disabled)
        .chi-input__progress
        .chi-input__thumb
  .example-tabs.-pl--2
    ul#chi-tabs-with-progress-disabled.chi-tabs
      li.-active
        a(href='#chi-tabs-with-progress-disabled-html') HTML
      li
        a(href='#chi-tabs-with-progress-disabled-js') JS
  #chi-tabs-with-progress-disabled-html.chi-tabs-panel.-active
    :code(lang="html")
      <div class="m-form__item">
        <label class="chi-label" for="range05">Range label</label>
        <div class="chi-input__wrapper">
          <input class="chi-input" type="range" id="range05" disabled>
          <div class="chi-input__progress"></div>
          <div class="chi-input__thumb"></div>
        </div>
      </div>
  #chi-tabs-with-progress-disabled-js.chi-tabs-panel
    :code(lang="html")
      <script>chi.rangeSlider(document.getElementById('range05'));</script>

h3 Multiple Labels
.example.-mb--3
  .-p--3
    .m-form__item
      label(class="chi-label", for="range06") Range label
      .chi-input__wrapper.-d--flex
        span.-text.-mr--2 200GB
        .chi-input__wrapper.-w--100
          input(type="range", class="chi-input", id="range06")
          .chi-input__progress
          .chi-input__thumb
        span.-text.-ml--2 5TB
  .example-tabs.-pl--2
    ul#chi-tabs-with-progress-multiple-labels.chi-tabs
      li.-active
        a(href='#chi-tabs-with-progress-multiple-labels-html') HTML
      li
        a(href='#chi-tabs-with-progress-multiple-labels-js') JS
  #chi-tabs-with-progress-multiple-labels-html.chi-tabs-panel.-active
    :code(lang="html")
      <div class="m-form__item">
        <label class="chi-label" for="range06">Range label</label>
        <div class="chi-input__wrapper -d--flex">
          <span class="-text -mr--2">200GB</span>
          <div class="chi-input__wrapper -w--100">
            <input class="chi-input" type="range" id="range06">
            <div class="chi-input__progress"></div>
            <div class="chi-input__thumb"></div>
          </div>
          <span class="-text -ml--2">5TB</span>
        </div>
      </div>
  #chi-tabs-with-progress-multiple-labels-js.chi-tabs-panel
    :code(lang="html")
      <script>chi.rangeSlider(document.getElementById('range06'));</script>

h2 Radio buttons as range slider
p.-text
  | Enable range sliders to function like radio buttons.

.example.-mb--3
  .-p--3
    .m-form__item
      label(class="chi-label", for="range07") Range label
      .chi-input__wrapper
        input(class="chi-input", type="range", min="0", max="4", step="1", id="range07")
        .chi-input__tick-bar
          div
            .chi-input__tick
            .chi-input__tick-label Monthly
          div
            .chi-input__tick
            .chi-input__tick-label 1 year
          div
            .chi-input__tick
            .chi-input__tick-label 2 years
          div
            .chi-input__tick
            .chi-input__tick-label 3 years
          div
            .chi-input__tick
            .chi-input__tick-label > 3 years
  .example-tabs.-pl--2
    ul#chi-tabs-radio-buttons.chi-tabs
      li.-active
        a(href='#chi-tabs-radio-buttons-html') HTML
      li
        a(href='#chi-tabs-radio-buttons-js') JS
  #chi-tabs-radio-buttons-html.chi-tabs-panel.-active
    :code(lang="html")
      <div class="m-form__item">
        <label class="chi-label" for="range07">Range label</label>
        <div class="chi-input__wrapper">
          <input class="chi-input" type="range" min="0" max="4" step="1" id="range07">
          <div class="chi-input__tick-bar">
            <div>
              <div class="chi-input__tick"></div>
              <div class="chi-input__tick-label">Monthly</div>
            </div>
            <div>
              <div class="chi-input__tick"></div>
              <div class="chi-input__tick-label">1 year</div>
            </div>
            <div>
              <div class="chi-input__tick"></div>
              <div class="chi-input__tick-label">2 years</div>
            </div>
            <div>
              <div class="chi-input__tick"></div>
              <div class="chi-input__tick-label">3 years</div>
            </div>
            <div>
              <div class="chi-input__tick"></div>
              <div class="chi-input__tick-label">&gt; 3 years</div>
            </div>
          </div>
        </div>
      </div>
  #chi-tabs-radio-buttons-js.chi-tabs-panel
    :code(lang="html")
      <script>chi.rangeSlider(document.getElementById('range07'));</script>

h3 Disabled
.example.-mb--3
  .-p--3
    .m-form__item
      label(class="chi-label", for="range08") Range label
      .chi-input__wrapper
        input(class="chi-input", type="range", min="0", max="4", step="1", id="range08", disabled)
        .chi-input__tick-bar
          div
            .chi-input__tick
            .chi-input__tick-label Monthly
          div
            .chi-input__tick
            .chi-input__tick-label 1 year
          div
            .chi-input__tick
            .chi-input__tick-label 2 years
          div
            .chi-input__tick
            .chi-input__tick-label 3 years
          div
            .chi-input__tick
            .chi-input__tick-label > 3 years
  .example-tabs.-pl--2
    ul#chi-tabs-radio-buttons-disabled.chi-tabs
      li.-active
        a(href='#chi-tabs-radio-buttons-disabled-html') HTML
      li
        a(href='#chi-tabs-radio-buttons-disabled-js') JS
  #chi-tabs-radio-buttons-disabled-html.chi-tabs-panel.-active
    :code(lang="html")
      <div class="m-form__item">
        <label class="chi-label" for="range08">Range label</label>
        <div class="chi-input__wrapper">
          <input class="chi-input" type="range" min="0" max="4" step="1" id="range08" disabled>
          <div class="chi-input__tick-bar">
            <div>
              <div class="chi-input__tick"></div>
              <div class="chi-input__tick-label">Monthly</div>
            </div>
            <div>
              <div class="chi-input__tick"></div>
              <div class="chi-input__tick-label">1 year</div>
            </div>
            <div>
              <div class="chi-input__tick"></div>
              <div class="chi-input__tick-label">2 years</div>
            </div>
            <div>
              <div class="chi-input__tick"></div>
              <div class="chi-input__tick-label">3 years</div>
            </div>
            <div>
              <div class="chi-input__tick"></div>
              <div class="chi-input__tick-label">&gt; 3 years</div>
            </div>
          </div>
        </div>
      </div>
  #chi-tabs-radio-buttons-disabled-js.chi-tabs-panel
    :code(lang="html")
      <script>chi.rangeSlider(document.getElementById('range08'));</script>

h3 Consistent rendering in WebKit browsers
.example.-mb--3
  .-p--3
    .m-form__item
      label(class="chi-label", for="range09") Range label
      .chi-input__wrapper
        input(class="chi-input", type="range", min="0", max="4", step="1", id="range09")
        .chi-input__tick-bar
          div
            .chi-input__tick
            .chi-input__tick-label Monthly
          div
            .chi-input__tick
            .chi-input__tick-label 1 year
          div
            .chi-input__tick
            .chi-input__tick-label 2 years
          div
            .chi-input__tick
            .chi-input__tick-label 3 years
          div
            .chi-input__tick
            .chi-input__tick-label > 3 years
        .chi-input__progress
        .chi-input__thumb
  .example-tabs.-pl--2
    ul#chi-tabs-with-progress-and-radio-buttons.chi-tabs
      li.-active
        a(href='#chi-tabs-with-progress-and-radio-buttons-html') HTML
      li
        a(href='#chi-tabs-with-progress-and-radio-buttons-js') JS
  #chi-tabs-with-progress-and-radio-buttons-html.chi-tabs-panel.-active
    :code(lang="html")
      <div class="m-form__item">
        <label class="chi-label" for="range09">Range label</label>
        <div class="chi-input__wrapper">
          <input class="chi-input" type="range" min="0" max="4" step="1" id="range09">
          <div class="chi-input__tick-bar">
            <div>
              <div class="chi-input__tick"></div>
              <div class="chi-input__tick-label">Monthly</div>
            </div>
            <div>
              <div class="chi-input__tick"></div>
              <div class="chi-input__tick-label">1 year</div>
            </div>
            <div>
              <div class="chi-input__tick"></div>
              <div class="chi-input__tick-label">2 years</div>
            </div>
            <div>
              <div class="chi-input__tick"></div>
              <div class="chi-input__tick-label">3 years</div>
            </div>
            <div>
              <div class="chi-input__tick"></div>
              <div class="chi-input__tick-label">&gt; 3 years</div>
            </div>
          </div>
          <div class="chi-input__progress"></div>
          <div class="chi-input__thumb"></div>
        </div>
      </div>
  #chi-tabs-with-progress-and-radio-buttons-js.chi-tabs-panel
    :code(lang="html")
      <script>chi.rangeSlider(document.getElementById('range09'));</script>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.getElementById('chi-tabs-base'));
      chi.tab(document.getElementById('chi-tabs-disabled'));
      chi.tab(document.getElementById('chi-tabs-multiple-labels'));
      chi.tab(document.getElementById('chi-tabs-with-progress'));
      chi.tab(document.getElementById('chi-tabs-with-progress-disabled'));
      chi.tab(document.getElementById('chi-tabs-with-progress-multiple-labels'));
      chi.tab(document.getElementById('chi-tabs-radio-buttons'));
      chi.tab(document.getElementById('chi-tabs-radio-buttons-disabled'));
      chi.tab(document.getElementById('chi-tabs-with-progress-and-radio-buttons'));
      chi.rangeSlider(document.querySelectorAll('.chi-input__wrapper > input[type="range"]'));
    }
  );
