@import '../../../../chi/_global-variables';
@import '../../../../chi/_global-mixins';

.docs-header {
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2),
  0 1px 2px 0 rgba(0, 0, 0, 0.04),
  0 2px 2px 0 rgba(0, 0, 0, 0.12);
  position: relative;

  @include respond-to(lg) {
    position: fixed;
  }

  .chi-header__content {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: .75rem .5rem;

    @include respond-to(md) {
      flex-direction: row;
      height: 4rem;
      padding: 0 1rem;
    }

    @include respond-to(lg) {
      padding: 0 1.5rem;
    }

    .chi-header__brand {
      flex-direction: column;

      @include respond-to(md) {
        flex-direction: row;
      }

      .chi-header__title {
        font-size: $font-size-base;
        line-height: $line-height;

        @include respond-to(sm) {
          font-size: $font-size-lg;
          line-height: $line-height;
        }

        @include respond-to(md) {
          font-size: $font-size-xl;
        }
      }

      .chi-button {
        &.-icon {
          left: .5rem;
          position: absolute;

          @include respond-to(md) {
            left: 0;
            position: relative;
          }
        }
      }
    }

    .chi-header__start {
      justify-content: center;
      order: 2 !important;
      overflow: visible;
      width: 100%;

      @include respond-to(md) {
        width: auto;
      }

      .-chi-search {
        display: flex;
        margin-top: 0.75rem;
        max-width: 40rem;
        min-width: 16rem;
        width: 75%;

        @include respond-to(md) {
          margin-top: 0;
        }

        .chi-input {
          height: 2.5rem;
          width: 100%;
        }

        .chi-icon {
          color: $icon-color-primary;
          font-size: 1.25rem;
          height: 1.25rem;
          position: absolute;
          right: 0.75rem;
          top: 0.5rem;
          width: 1.25rem;
        }

        .algolia-autocomplete {
          width: 100%;

          .ds-dropdown-menu {
            max-width: 40rem;
            min-width: 20rem;
            width: 100%;
          }

          .ds-cursor {
            .algolia-docsearch-suggestion:not(.suggestion-layout-simple) {
              .algolia-docsearch-suggestion--content {
                background-color: $color-background-info-light;
              }
            }
          }

          .algolia-docsearch-suggestion--highlight {
            color: $color-text-primary;
          }

          .algolia-docsearch-suggestion--content {
            width: 100%;

            @include respond-to(lg) {
              width: 70%;
            }

            &::before {
              background: $color-grey-20;
              display: none;

              @include respond-to(lg) {
                display: block;
              }
            }
          }

          .algolia-docsearch-suggestion--category-header {
            border-bottom-color: $color-border-base-dark;
            color: $color-text-base;
            font-size: $font-size-lg;

            .algolia-docsearch-suggestion--highlight {
              box-shadow: inset 0 -2px 0 0 $color-border-primary;
            }
          }

          .algolia-docsearch-suggestion--subcategory-column {
            color: $color-text-muted-light;
            display: none;

            @include respond-to(lg) {
              display: block;
            }

            &::before {
              background: $color-grey-30;
            }

            .algolia-docsearch-suggestion--highlight {
              background-color: $color-background-primary-light;
            }
          }

          .algolia-docsearch-suggestion--title {
            color: $color-text-base;
            font-weight: bold;

            .algolia-docsearch-suggestion--highlight {
              background-color: $color-background-primary-light;
            }
          }

          .algolia-docsearch-suggestion--text {
            color: $color-text-muted;
            font-size: 0.8125rem;

            .algolia-docsearch-suggestion--highlight {
              box-shadow: inset 0 -2px 0 0 $color-border-primary;
            }
          }

          .algolia-docsearch-suggestion--no-results {
            color: $color-text-muted;
            width: 100%;

            &::before {
              display: none;
            }
          }
        }
      }
    }

    .chi-header__end {
      padding-top: .5rem;

      @include respond-to(md) {
        padding-top: 0;
      }
    }
  }

  #versionDropdown {
    max-height: 30rem;
  }
}
