@import '_mixins';
@import '_variables';

.-anchor {

  &:hover {
    & span {
      & a {
        color: $color-text-primary;
        cursor: pointer;
        font-weight: $font-weight-semi-bold;
        opacity: 1;
        text-decoration: none;
        transition: opacity 0.15s ease-in-out;
      }
    }
  }

  & span {
    & a {
      color: $color-text-primary;
      cursor: pointer;
      font-weight: $font-weight-semi-bold;
      opacity: 0;
      transition: opacity 0.15s ease-in-out;

      &:hover,
      &:focus {
        opacity: 1;
        text-decoration: none;
      }
    }
  }
}
