@import '_mixins';
@import '_variables';

/* Borders */

$positions: (
  a: '',
  b: '-bottom',
  l: '-left',
  r: '-right',
  t: '-top',
  x: '-x',
  y: '-y'
);

$border-colors: (
  primary: $border-color-primary,
  secondary: $border-color-secondary,
  success: $border-color-success,
  info: $border-color-info,
  danger: $border-color-danger,
  warning: $border-color-warning,
  dark: $border-color-dark,
  light: $border-color-light,
  transparent: transparent
);

@mixin create-border($position, $position-suffix, $breakpoint-infix, $thickness-index) {
  @if ($position == 'a') {
    .-b#{$breakpoint-infix}--#{$thickness-index} {
      border#{$position-suffix}: ($thickness-index / 16) + rem solid $border-color !important;
    }
  } @else if ($position == 'x') {
    .-b#{$position}#{$breakpoint-infix}--#{$thickness-index} {
      border-left: ($thickness-index / 16) + rem solid $border-color !important;
      border-right: ($thickness-index / 16) + rem solid $border-color !important;
    }
  } @else if ($position == 'y') {
    .-b#{$position}#{$breakpoint-infix}--#{$thickness-index} {
      border-bottom: ($thickness-index / 16) + rem solid $border-color !important;
      border-top: ($thickness-index / 16) + rem solid $border-color !important;
    }
  } @else {
    .-b#{$position}#{$breakpoint-infix}--#{$thickness-index} {
      border#{$position-suffix}: ($thickness-index / 16) + rem solid $border-color !important;
    }
  }
}

@each $screen-size in $screen-sizes {
  @if ($screen-size == 'xs') {
    @each $position, $position-suffix in $positions {
      @for $index from 0 through 4 {
        @include create-border($position, $position-suffix, '', $index);
      }
    }
  } @else {
    @include respond-to($screen-size) {
      @each $position, $position-suffix in $positions {
        @for $index from 0 through 4 {
          @include create-border($position, $position-suffix, '-' + $screen-size, $index);
        }
      }
    }
  }
}

@each $screen-size in $screen-sizes {
  @if ($screen-size == 'xs') {
    @each $color-name, $color-value in $border-colors {
      .-b--#{$color-name} {
        border-color: $color-value !important;
      }
    }
  } @else {
    @include respond-to($screen-size) {
      @each $color-name, $color-value in $border-colors {
        .-b-#{$screen-size}--#{$color-name} {
          border-color: $color-value !important;
        }
      }
    }
  }
}
