@import 'mixins';
@import 'variables';

.chi {
  .a-close {
    & {
      background-color: transparent;
      border: 0.0625rem solid transparent;
      border-radius: $border-radius;
      box-shadow: none;
      cursor: pointer;
      display: inline-flex;
      height: 1.75rem;
      padding: 0.1875rem 0.4375rem;
      vertical-align: middle;
      width: 1.75rem;

      &::after {
        background-image: url('../components/icons/svg/icon-x.svg');
        content: '';
        display: block;
        height: 0.75rem;
        position: relative;
        top: 0;
        width: 0.75rem;
      }

      &:hover,
      &.-hover {
        border: 0.0625rem solid set-color(grey, 40);
        box-shadow: 0 1px 4px 0 rgba(set-color(black), 0.15);
      }

      &:focus,
      &.-focus {
        border: 0.0625rem solid set-color(grey, 40);
        box-shadow: 0 0 0 3px rgba(set-color(grey, 30), 0.6);
        z-index: 1;
      }

      &:active,
      &.-active {
        &,
        &:focus,
        &.-focus {
          background-color: set-color(grey, 20);
          border: 0.0625rem solid set-color(grey, 40);
          box-shadow: inset 0 1px 2px 0 rgba(set-color(black), 0.2);
        }
      }
    }
  }
}
