@import 'mixins';
@import 'variables';

.chi {
  .-close {
    background-color: transparent;
    border: none;
    box-shadow: none;
    opacity: 0.6;

    &:hover,
    &.-hover {
      border: none;
      box-shadow: none;
      opacity: 1;
    }

    &:focus,
    &.-focus {
      border: none;
      box-shadow: none;
    }

    &:active,
    &.-active {
      &,
      &:focus,
      &.-focus {
        background-color: transparent;
        border: none;
        box-shadow: none;
      }
    }
  }
}
