@import '_mixins';
@import '_variables';

.-bg--inverse {
  background-color: $bg-inverse;
}

$colors: (
  primary: $primary-color,
  secondary: $secondary-color,
  white: set-color(white),
  black: set-color(black),
  grey: $grey-color,
  grey-10: set-color(grey, 10),
  grey-20: set-color(grey, 20),
  grey-30: set-color(grey, 30),
  blue-60: set-color(blue, 60),
  blue-70: set-color(blue, 70),
  blue-80: set-color(blue, 80),
  blue-90: set-color(blue, 90),
  teal: set-color(teal, 60),
  muted: $muted-color,
  success: $success-color,
  info: $info-color,
  warning: $warning-color,
  danger: $danger-color,
  none: none
);

@each $color-key, $color-value in $colors  {

  @if $color-key == 'none' {
    .-bg--#{$color-key} {
      background: $color-value;
    }
  } @else {
    .-bg--#{$color-key} {
      background-color: $color-value;
    }
  }
}

@each $size in sm md lg xl {
  @include respond-to($size) {
    @each $color-key, $color-value in $colors {

      @if $color-key == 'none' {
        .-bg-#{$size}--#{$color-key} {
          background: $color-value;
        }
      } @else {
        .-bg-#{$size}--#{$color-key} {
          background-color: $color-value;
        }
      }
    }
  }
}
