@import 'mixins';
@import 'variables';

.chi {

  // Flex direction

  $flex-direction: (row, column, row-reverse, column-reverse);

  @each $type in $flex-direction {
    .-flex--#{$type} { flex-direction: #{$type}; }
  }

  @each $size in xs sm md lg xl {
    @include respond-to($size) {
      @each $type in $flex-direction {
        .-flex-#{$size}--#{$type} { flex-direction: #{$type}; }
      }
    }
  }

  // Justify content

  $justify-content: (start: flex-start, end: flex-end, center: center,
    between: space-between, around: space-around);

  @each $type, $value in $justify-content {
    .-justify-content--#{$type} { justify-content: #{$value}; }
  }

  @each $size in xs sm md lg xl {
    @include respond-to($size) {
      @each $type, $value in $justify-content {
        .-justify-content-#{$size}--#{$type} { justify-content: #{$value}; }
      }
    }
  }

  // Align items & self

  $align: (start: flex-start, end: flex-end, center: center,
    baseline: baseline, stretch: stretch);

  @each $type, $value in $align {
    .-align-items--#{$type} { align-items: #{$value}; }
  }

  @each $size in xs sm md lg xl {
    @include respond-to($size) {
      @each $type, $value in $align {
        .-align-items-#{$size}--#{$type} { align-items: #{$value}; }
      }
    }
  }

  @each $type, $value in $align {
    .-align-self--#{$type} { align-self: #{$value}; }
  }

  @each $size in xs sm md lg xl {
    @include respond-to($size) {
      @each $type, $value in $align {
        .-align-self-#{$size}--#{$type} { align-self: #{$value}; }
      }
    }
  }

  // Align content

  $align-content: (start: flex-start, end: flex-end, center: center,
    around: space-around, between: space-between, stretch: stretch);

  @each $type, $value in $align-content {
    .-align-content--#{$type} { align-content: #{$value}; }
  }

  @each $size in xs sm md lg xl {
    @include respond-to($size) {
      @each $type, $value in $align-content {
        .-align-content-#{$size}--#{$type} { align-content: #{$value}; }
      }
    }
  }

  // Flex fill

  .-flex--fill { flex: 1 1 auto; }

  @each $size in xs sm md lg xl {
    @include respond-to($size) {
      .-flex-#{$size}--fill { flex: 1 1 auto; }
    }
  }

  // Flex grow

  .-flex--grow0 { flex-grow: 0; }
  .-flex--grow1 { flex-grow: 1; }

  @each $size in xs sm md lg xl {
    @include respond-to($size) {
      .-flex-#{$size}--grow0 { flex-grow: 0; }
      .-flex-#{$size}--grow1 { flex-grow: 1; }
    }
  }

  // Flex shrink

  .-flex--shrink0 { flex-shrink: 0; }
  .-flex--shrink1 { flex-shrink: 1; }

  @each $size in xs sm md lg xl {
    @include respond-to($size) {
      .-flex-#{$size}--shrink0 { flex-shrink: 0; }
      .-flex-#{$size}--shrink1 { flex-shrink: 1; }
    }
  }

  // Flex wrap

  $flex-wrap: (nowrap, wrap, wrap-reverse);

  @each $type in $flex-wrap {
    .-flex--#{$type} { flex-wrap: #{$type}; }
  }

  @each $size in xs sm md lg xl {
    @include respond-to($size) {
      @each $type in $flex-wrap {
        .-flex-#{$size}--#{$type} { flex-wrap: #{$type}; }
      }
    }
  }
}
