@import '_mixins';
@import '_variables';

/* Shadows */

@each $screen-size in $screen-sizes {
  @if $screen-size == xs {
    @each $index, $value in $shadow {
      .-s--#{$index} {
        box-shadow: $value !important;
      }
    }
  } @else {
    @include respond-to($screen-size) {
      @each $index, $value in $shadow {
        .-s-#{$screen-size}--#{$index} {
          box-shadow: $value !important;
        }
      }
    }
  }
}
