@import '_variables';
@import '_mixins';

$dimensions: (
  auto: auto,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
);

$max-width-dimensions: (
  100: 100%,
  980: 980px,
  960: 960px,
  640: 640px,
  720: 720px,
  480: 480px,
);

$max-height-dimensions: (
  100: 100%,
  480: 480px,
  400: 400px,
);

$width-a: 5;

@while $width-a <= 100 {
  .-w--#{$width-a} {
    width: 1% * $width-a;
  }
  $width-a: $width-a + 5;
}

@each $dimension-key, $dimension-value in $dimensions  {
  .-h--#{$dimension-key} {
    height: $dimension-value;
  }
}

@each $size in sm md lg xl {
  @include respond-to($size) {
    $width-b: 5;

    @while $width-b <= 100 {
      .-w-#{$size}--#{$width-b} {
        width: 1% * $width-b;
      }
      $width-b: $width-b + 5;
    }

    @each $dimension-key, $dimension-value in $dimensions {
      .-h-#{$size}--#{$dimension-key} {
        height: $dimension-value;
      }
    }
  }
}

@each $dimension-key, $dimension-value in $max-width-dimensions {
  .-mw--#{$dimension-key} {
    max-width: $dimension-value;
  }
}

@each $dimension-key, $dimension-value in $max-height-dimensions {
  .-mh--#{$dimension-key} {
    max-height: $dimension-value;
  }
}
