@import '_variables';
@import '_mixins';

$sizes: (
  xs: (
    font-size: $font-size-xs,
    line-height: $line-height-sm,
  ),
  sm: (
    font-size: $font-size-sm,
    line-height: $line-height,
  ),
  md: (
    font-size: $font-size-base,
    line-height: $line-height,
  ),
  lg: (
    font-size: $font-size-lg,
    line-height: $line-height-lg,
  ),
  xl: (
    font-size: $font-size-xl,
    line-height: $line-height-xl,
  )
);

.chi-breadcrumb {
  > ol {
    display: flex;
    font-size: $font-size-base;
    font-weight: $font-weight-semi-bold;
    line-height: $line-height;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    align-items: center;
    display: flex;

    &:not(:first-child) {
      padding-left: 0.25rem;

      &::before {
        color: $color-grey-50;
        content: quote('/');
        font-weight: $font-weight-normal;
        padding-right: 0.25rem;
      }
    }

    &.-active {
      a {
        color: $color-text-base;
        font-weight: $font-weight-normal;
        text-decoration: none;
      }
    }
  }

  &.-alt {
    .chi-breadcrumb__item {
      &:not(:first-child) {
        &::before {
          // sass-lint:disable-all
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.89 7.823l-6.732 6.963L4.331 16l7.292-7.542.677-.654L4.215 0 3 1.172l6.89 6.65z' fill='%238E9399' fill-rule='evenodd'/%3E%3C/svg%3E");
          // sass-lint:disable-all
          background-position: center;
          background-repeat: no-repeat;
          background-size: 75%;
          content: '';
          display: flex;
          height: 100%;
          width: 1rem;
        }
      }
    }
  }

  @each $size in map-keys($sizes) {
    &.-#{$size} {
      > ol {
        font-size: map-get(map-get($sizes, $size), font-size);
        line-height: map-get(map-get($sizes, $size), line-height);
      }
    }
  }
}
