h2 Examples

h3 Base
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      chi-label(for="example__base") Label
      chi-textarea(id="example__base") Sample text
  .example-tabs.-pl--2
    ul.chi-tabs#example-base
      li.-active
        a(href=`#webcomponent-base`) Web Component
      li
        a(href=`#html-base`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-base
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__base">Label</chi-label>
        <chi-textarea id="example__base">Sample text</chi-textarea>
      </div>
  .chi-tabs-panel#html-base
    .chi-tab__description
      | To render a textarea, apply the class <code>chi-input</code> to a <code>textarea</code>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__base">Label</label>
        <textarea class="chi-input" id="example__base">Sample text</textarea>
      </div>

h3 Disabled
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      chi-label(for="example__disabled") Label
      chi-textarea(id="example__disabled" disabled) Sample text
  .example-tabs.-pl--2
    ul.chi-tabs#example-disabled
      li.-active
        a(href=`#webcomponent-disabled`) Web Component
      li
        a(href=`#html-disabled`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-disabled
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__disabled">Label</chi-label>
        <chi-textarea id="example__disabled" disabled>Sample text</chi-textarea>
      </div>
  .chi-tabs-panel#html-disabled
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__disabled">Label</label>
        <textarea class="chi-input" id="example__disabled" disabled>Sample text</textarea>
      </div>

h3 Invalid
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      chi-label(for="example__invalid") Label
      chi-textarea(id="example__invalid", state="danger", icon-right-color="danger", icon-right="circle-warning") Sample text
      div.chi-label.-status.-danger This is an invalid label
  .example-tabs.-pl--2
    ul.chi-tabs#example-state-invalid
      li.-active
        a(href=`#webcomponent-state-invalid`) Web Component
      li
        a(href=`#html-state-invalid`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-state-invalid
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__invalid">Label</chi-label>
        <chi-textarea id="example__invalid" state="danger" icon-right="circle-warning" icon-right-color="danger">Sample text</chi-textarea>
        <div class="chi-label -status -danger">This is an invalid label</div>
      </div>
  .chi-tabs-panel#html-state-invalid
    .chi-tab__description
      | Textarea supports Chi's semantic class modifier <code>-danger</code> for indicating an invalid input.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__invalid">Label</label>
        <div class="chi-input__wrapper -icon--right">
          <textarea class="chi-input -danger" id="example__invalid">Sample text</textarea>
          <i class="chi-icon icon-circle-warning -icon--danger"></i>
        </div>
        <div class="chi-label -status -danger">This is an invalid label</div>
      </div>

h2 Icons

h3 Left Aligned
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      chi-label(for="example__icon-left") Label
      chi-textarea(id="example__icon-left", icon-left="map-marker", icon-left-color="muted") Sample text
  .example-tabs.-pl--2
    ul.chi-tabs#example-icons-left
      li.-active
        a(href=`#webcomponent-icons-left`) Web Component
      li
        a(href=`#html-icons-left`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-icons-left
    .chi-tab__description
      | To add icons to a chi textarea, add attribute <code>icon-left=""</code> or <code>icon-right=""</code>
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__icon-left">Label</chi-label>
        <chi-textarea id="example__icon-left" icon-left="map-marker" icon-left-color="muted">Sample text</chi-textarea>
      </div>
  .chi-tabs-panel#html-icons-left
    .chi-tab__description
      | To add icons to a textarea, wrap the input in a <code>div</code> using the class <code>chi-input__wrapper</code>.
      | Next, add the icon as a sibling of the <code>textarea</code> and use an icon alignment utility class
      | (e.g. <code>-icon--left</code>) to specify where it should be placed.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__icon-left">Label</label>
        <div class="chi-input__wrapper -icon--left">
          <textarea class="chi-input" id="example__icon-left">Sample text</textarea>
          <i class="chi-icon icon-map-marker -icon--muted"></i>
        </div>
      </div>

h3 Right Aligned
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      chi-label(for="example__icon-right") Label
      chi-textarea(id="example__icon-right", icon-right="circle-question-outline", icon-right-color="muted") Sample text
  .example-tabs.-pl--2
    ul.chi-tabs#example-icons-right
      li.-active
        a(href=`#webcomponent-icons-right`) Web Component
      li
        a(href=`#html-icons-right`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-icons-right
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__icon-right">Label</chi-label>
        <chi-textarea id="example__icon-right" icon-right="circle-question-outline" icon-right-color="muted">Sample text</chi-textarea>
      </div>
  .chi-tabs-panel#html-icons-right
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__icon-right">Label</label>
        <div class="chi-input__wrapper -icon--right">
          <textarea class="chi-input" id="example__icon-right">Sample text</textarea>
          <i class="chi-icon icon-circle-question-outline -icon--muted"></i>
        </div>
      </div>

h3 Left + Right Aligned
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      chi-label(for="example__icon-left-right") Label
      chi-textarea(id="example__icon-left-right", icon-left="map-marker", icon-right="check", icon-left-color="muted", icon-right-color="success") Sample text
  .example-tabs.-pl--2
    ul.chi-tabs#example-icons-left-right
      li.-active
        a(href=`#webcomponent-icons-left-right`) Web Component
      li
        a(href=`#html-icons-left-right`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-icons-left-right
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__icon-left-right">Label</chi-label>
        <chi-textarea id="example__icon-left-right" icon-left="map-marker" icon-right="check" icon-left-color="muted" icon-right-color="success">Sample text</chi-textarea>
      </div>
  .chi-tabs-panel#html-icons-left-right
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__icon-left-right">Label</label>
        <div class="chi-input__wrapper -icon--left -icon--right">
          <textarea class="chi-input" id="example__icon-left-right">Sample text</textarea>
          <i class="chi-icon icon-map-marker -icon--muted"></i>
          <i class="chi-icon icon-check -icon--success"></i>
        </div>
      </div>

h2 States
p.-text
  | Textareas offer three validation states: <code>success</code>,
  | <code>warning</code>, and <code>danger</code>.

h3 Success
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      chi-label(for="example__success") Label
      chi-textarea(id="example__success", state="success") Sample text
  .example-tabs.-pl--2
    ul.chi-tabs#example-state-success
      li.-active
        a(href=`#webcomponent-state-success`) Web Component
      li
        a(href=`#html-state-success`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-state-success
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__success">Label</chi-label>
        <chi-textarea id="example__success" state="success">Sample text</chi-textarea>
      </div>
  .chi-tabs-panel#html-state-success
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__success">Label</label>
        <textarea class="chi-input -success" id="example__success">Sample text</textarea>
      </div>

.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      chi-label(for="example__success-icon") Label
      chi-textarea(id="example__success-icon", state="success", icon-right="check", icon-right-color="success", ) Sample text
  .example-tabs.-pl--2
    ul.chi-tabs#example-state-success-icon
      li.-active
        a(href=`#webcomponent-state-success-icon`) Web Component
      li
        a(href=`#html-state-success-icon`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-state-success-icon
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__success-icon">Label</chi-label>
        <chi-textarea id="example__success-icon" state="success" icon-right="check" icon-right-color="success">Sample text</chi-textarea>
      </div>
  .chi-tabs-panel#html-state-success-icon
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__success-icon">Label</label>
        <div class="chi-input__wrapper -icon--right">
          <textarea class="chi-input -success" id="example__success-icon">Sample text</textarea>
          <i class="chi-icon icon-check -icon--success"></i>
        </div>
      </div>

h3 Warning
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      chi-label(for="example__warning") Label
      chi-textarea(id="example__warning", state="warning") Sample text
  .example-tabs.-pl--2
    ul.chi-tabs#example-state-warning
      li.-active
        a(href=`#webcomponent-state-warning`) Web Component
      li
        a(href=`#html-state-warning`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-state-warning
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__warning">Label</chi-label>
        <chi-textarea id="example__warning" state="warning">Sample text</chi-textarea>
      </div>
  .chi-tabs-panel#html-state-warning
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__warning">Label</label>
        <textarea class="chi-input -warning" id="example__warning">Sample text</textarea>
      </div>

.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      chi-label(for="example__warning-icon") Label
      chi-textarea(id="example__warning-icon", state="warning", icon-right="warning", icon-right-color="warning") Sample text
  .example-tabs.-pl--2
    ul.chi-tabs#example-state-warning-icon
      li.-active
        a(href=`#webcomponent-state-warning-icon`) Web Component
      li
        a(href=`#html-state-warning-icon`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-state-warning-icon
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__warning-icon">Label</chi-label>
        <chi-textarea id="example__warning-icon" state="warning" icon-right="warning" icon-right-color="warning">Sample text</chi-textarea>
      </div>
  .chi-tabs-panel#html-state-warning-icon
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__warning-icon">Label</label>
        <div class="chi-input__wrapper -icon--right">
          <textarea class="chi-input -warning" id="example__warning-icon">Sample text</textarea>
          <i class="chi-icon icon-warning -icon--warning"></i>
        </div>
      </div>

h3 Danger
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      chi-label(for="example__danger") Label
      chi-textarea(id="example__danger", state="danger") Sample text
  .example-tabs.-pl--2
    ul.chi-tabs#example-state-danger
      li.-active
        a(href=`#webcomponent-state-danger`) Web Component
      li
        a(href=`#html-state-danger`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-state-danger
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__danger">Label</chi-label>
        <chi-textarea id="example__danger" state="danger">Sample text</chi-textarea>
      </div>
  .chi-tabs-panel#html-state-danger
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__danger">Label</label>
        <textarea class="chi-input -danger" id="example__danger">Sample text</textarea>
      </div>

.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      chi-label(for="example__danger-icon") Label
      chi-textarea(id="example__danger-icon", state="danger", icon-right="circle-warning", icon-right-color="danger") Sample text
  .example-tabs.-pl--2
    ul.chi-tabs#example-state-danger-icon
      li.-active
        a(href=`#webcomponent-state-danger-icon`) Web Component
      li
        a(href=`#html-state-danger-icon`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-state-danger-icon
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__danger-icon">Label</chi-label>
        <chi-textarea id="example__danger-icon" state="danger" icon-right="circle-warning" icon-right-color="danger">Sample text</chi-textarea>
      </div>
  .chi-tabs-panel#html-state-danger-icon
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__danger-icon">Label</label>
        <div class="chi-input__wrapper -icon--right">
          <textarea class="chi-input -danger" id="example__danger-icon">Sample text</textarea>
          <i class="chi-icon icon-circle-warning -icon--danger"></i>
        </div>
      </div>

h2 Sizes
p.-text
  | Textareas support the following sizes: <code>sm</code>, <code>md</code>,
  |  <code>lg</code>, <code>xl</code>.
  | The default size is <code>md</code>.
.example.-mb--3
  .-p--3
    .-p--2
      .chi-form__item(style="max-width:30rem")
        chi-label(for="example__sm") Label
        chi-textarea(size="sm", id="example__sm") Sample text
    .-p--2
      .chi-form__item(style="max-width:30rem")
        chi-label(for="example__md") Label
        chi-textarea(size="md", id="example__md") Sample text
    .-p--2
      .chi-form__item(style="max-width:30rem")
        chi-label(for="example__lg") Label
        chi-textarea.chi-input(size="lg", id="example__lg") Sample text
    .-p--2
      .chi-form__item(style="max-width:30rem")
        chi-label(for="example__xl") Label
        chi-textarea(size="xl", id="example__xl") Sample text
  .example-tabs.-pl--2
    ul.chi-tabs#example-sizes
      li.-active
        a(href=`#webcomponent-sizes`) Web Component
      li
        a(href=`#html-sizes`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-sizes
    :code(lang="html")
      <div class="chi-form__item">
        <chi-label for="example__sm">Label</chi-label>
        <chi-textarea size="sm" id="example__sm">Sample text</chi-textarea>
      </div>

      <div class="chi-form__item">
        <chi-label for="example__md">Label</chi-label>
        <chi-textarea size="md" id="example__md">Sample text</chi-textarea>
      </div>

      <div class="chi-form__item">
        <chi-label for="example__lg">Label</chi-label>
        <chi-textarea size="lg" id="example__lg">Sample text</chi-textarea>
      </div>

      <div class="chi-form__item">
        <chi-label for="example__xl">Label</chi-label>
        <chi-textarea size="xl" id="example__xl">Sample text</chi-textarea>
      </div>
  .chi-tabs-panel#html-sizes
    :code(lang='html')
      <div class="chi-form__item">
        <label class="chi-label" for="example__sm">Label</label>
        <textarea class="chi-input -sm" id="example__sm">Sample text</textarea>
      </div>
      <div class="chi-form__item">
        <label class="chi-label" for="example__md">Label</label>
        <textarea class="chi-input -md" id="example__md">Sample text</textarea>
      </div>
      <div class="chi-form__item">
        <label class="chi-label" for="example__lg">Label</label>
        <textarea class="chi-input -lg" id="example__lg">Sample text</textarea>
      </div>
      <div class="chi-form__item">
        <label class="chi-label" for="example__xl">Label</label>
        <textarea class="chi-input -xl" id="example__xl">Sample text</textarea>
      </div>

script.
    document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));
    });
