h2 Examples
p.-text
  | To render a textarea, apply the class <code>chi-input</code> to a <code>textarea</code>.

h3 Base
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      label.chi-label(for="example__base") Label
      textarea.chi-input(id="example__base") Sample text
  .example-tabs.-pl--2
    ul.chi-tabs#example-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .chi-tabs-panel#webcomponent-base
  .chi-tabs-panel.-active#html-base
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__base">Label</label>
        <textarea class="chi-input" id="example__base">
          Sample text
        </textarea>
      </div>

h3 Disabled
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      label.chi-label(for="example__disabled") Label
      textarea.chi-input(id="example__disabled" disabled) Sample text
  .example-tabs.-pl--2
    ul.chi-tabs#example-disabled
      li.-disabled
        a(href=`#webcomponent-disabled`) Web Component
      li.-active
        a(href=`#html-disabled`) HTML Blueprint
  .chi-tabs-panel#webcomponent-disabled
  .chi-tabs-panel.-active#html-disabled
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__disabled">Label</label>
        <textarea class="chi-input" id="example__disabled" disabled>
          Sample text
        </textarea>
      </div>

h3 Invalid
p.-text Textarea supports Chi's semantic class modifier <code>-danger</code> for indicating an invalid input.
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      label.chi-label(for="example__danger") Label
      textarea.chi-input.-danger(id="example__danger") Sample text
  .example-tabs.-pl--2
    ul.chi-tabs#example-state-invalid
      li.-disabled
        a(href=`#webcomponent-state-invalid`) Web Component
      li.-active
        a(href=`#html-state-invalid`) HTML Blueprint
  .chi-tabs-panel#webcomponent-state-invalid
  .chi-tabs-panel.-active#html-state-invalid
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__danger-icon">Label</label>
        <textarea class="chi-input -danger" id="example__danger">
          Sample text
        </textarea>
      </div>

h2 Icons
p.-text
  | To add icons to a textarea, wrap the input in a <code>div</code> using the class <code>chi-input__wrapper</code>.
  | Next, add the icon as a sibling of the <code>textarea</code> and use an icon alignment utility class
  | (e.g. <code>-icon--left</code>) to specify where it should be placed.

h3 Left Aligned
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      label.chi-label(for="example__icon-left") Label
      .chi-input__wrapper.-icon--left
        textarea.chi-input(id="example__icon-left") Sample text
        i.chi-icon.icon-map-marker.-text--muted
  .example-tabs.-pl--2
    ul.chi-tabs#example-icons-left
      li.-disabled
        a(href=`#webcomponent-icons-left`) Web Component
      li.-active
        a(href=`#html-icons-left`) HTML Blueprint
  .chi-tabs-panel#webcomponent-icons-left
  .chi-tabs-panel.-active#html-icons-left
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__icon-left">Label</label>
        <div class="chi-input__wrapper -icon--left">
          <textarea class="chi-input" id="example__icon-left">
            Sample text
          </textarea>
          <i class="chi-icon icon-map-marker -text--muted"></i>
        </div>
      </div>

h3 Right Aligned
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      label.chi-label(for="example__icon-right") Label
      .chi-input__wrapper.-icon--right
        textarea.chi-input(id="example__icon-right") Sample text
        i.chi-icon.icon-circle-question-outline.-text--muted
  .example-tabs.-pl--2
    ul.chi-tabs#example-icons-right
      li.-disabled
        a(href=`#webcomponent-icons-right`) Web Component
      li.-active
        a(href=`#html-icons-right`) HTML Blueprint
  .chi-tabs-panel#webcomponent-icons-right
  .chi-tabs-panel.-active#html-icons-right
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__icon-right">Label</label>
        <div class="chi-input__wrapper -icon--right">
          <textarea class="chi-input" id="example__icon-right">
            Sample text
          </textarea>
          <i class="chi-icon icon-circle-question-outline -text--muted"></i>
        </div>
      </div>

h3 Left + Right Aligned
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      label.chi-label(for="example__icon-left-right") Label
      .chi-input__wrapper.-icon--left.-icon--right
        textarea.chi-input(id="example__icon-left-right") Sample text
        i.chi-icon.icon-map-marker.-text--muted
        i.chi-icon.icon-check.-text--success
  .example-tabs.-pl--2
    ul.chi-tabs#example-icons-left-right
      li.-disabled
        a(href=`#webcomponent-icons-left-right`) Web Component
      li.-active
        a(href=`#html-icons-left-right`) HTML Blueprint
  .chi-tabs-panel#webcomponent-icons-left-right
  .chi-tabs-panel.-active#html-icons-left-right
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__icon-left-right">Label</label>
        <div class="chi-input__wrapper -icon--left -icon--right">
          <textarea class="chi-input" id="example__icon-left-right">
            Sample text
          </textarea>
          <i class="chi-icon icon-map-marker -text--muted"></i>
          <i class="chi-icon icon-check -text--success"></i>
        </div>
      </div>

h2 States
p.-text
  | Textareas offer three validation states: <code>-success</code>,
  | <code>-warning</code>, and <code>-danger</code>.

h3 Success
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      label.chi-label(for="example__success") Label
      textarea.chi-input.-success(id="example__success") Sample text
  .example-tabs.-pl--2
    ul.chi-tabs#example-state-success
      li.-disabled
        a(href=`#webcomponent-state-success`) Web Component
      li.-active
        a(href=`#html-state-success`) HTML Blueprint
  .chi-tabs-panel#webcomponent-state-success
  .chi-tabs-panel.-active#html-state-success
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__success">Label</label>
        <textarea class="chi-input -success" id="example__success">
          Sample text
        </textarea>
      </div>

.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      label.chi-label(for="example__success-icon") Label
      .chi-input__wrapper.-icon--right
        textarea.chi-input.-success(id="example__success-icon") Sample text
        i.chi-icon.icon-check.-text--success
  .example-tabs.-pl--2
    ul.chi-tabs#example-state-success-icon
      li.-disabled
        a(href=`#webcomponent-state-success-icon`) Web Component
      li.-active
        a(href=`#html-state-success-icon`) HTML Blueprint
  .chi-tabs-panel#webcomponent-state-success-icon
  .chi-tabs-panel.-active#html-state-success-icon
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__success-icon">Label</label>
        <div class="chi-input__wrapper -icon--right">
          <textarea class="chi-input -success" id="example__success-icon">
            Sample text
          </textarea>
          <i class="chi-icon icon-check -text--success"></i>
        </div>
      </div>

h3 Warning
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      label.chi-label(for="example__warning") Label
      textarea.chi-input.-warning(id="example__warning") Sample text
  .example-tabs.-pl--2
    ul.chi-tabs#example-state-warning
      li.-disabled
        a(href=`#webcomponent-state-warning`) Web Component
      li.-active
        a(href=`#html-state-warning`) HTML Blueprint
  .chi-tabs-panel#webcomponent-state-warning
  .chi-tabs-panel.-active#html-state-warning
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__warning">Label</label>
        <textarea class="chi-input -warning" id="example__warning">
          Sample text
        </textarea>
      </div>

.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      label.chi-label(for="example__warning-icon") Label
      .chi-input__wrapper.-icon--right
        textarea.chi-input.-warning(id="example__warning-icon") Sample text
        i.chi-icon.icon-warning.-text--warning
  .example-tabs.-pl--2
    ul.chi-tabs#example-state-warning-icon
      li.-disabled
        a(href=`#webcomponent-state-warning-icon`) Web Component
      li.-active
        a(href=`#html-state-warning-icon`) HTML Blueprint
  .chi-tabs-panel#webcomponent-state-warning-icon
  .chi-tabs-panel.-active#html-state-warning-icon
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__warning-icon">Label</label>
        <div class="chi-input__wrapper -icon--right">
          <textarea class="chi-input -warning" id="example__warning-icon">
            Sample text
          </textarea>
          <i class="chi-icon icon-warning -text--warning"></i>
        </div>
      </div>

h3 Danger
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      label.chi-label(for="example__danger") Label
      textarea.chi-input.-danger(id="example__danger") Sample text
  .example-tabs.-pl--2
    ul.chi-tabs#example-state-danger
      li.-disabled
        a(href=`#webcomponent-state-danger`) Web Component
      li.-active
        a(href=`#html-state-danger`) HTML Blueprint
  .chi-tabs-panel#webcomponent-state-danger
  .chi-tabs-panel.-active#html-state-danger
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__danger-icon">Label</label>
        <textarea class="chi-input -danger" id="example__danger">
          Sample text
        </textarea>
      </div>

.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:30rem")
      label.chi-label(for="example__danger-icon") Label
      .chi-input__wrapper.-icon--right
        textarea.chi-input.-danger(id="example__danger-icon") Sample text
        i.chi-icon.icon-circle-warning.-text--danger
  .example-tabs.-pl--2
    ul.chi-tabs#example-state-danger-icon
      li.-disabled
        a(href=`#webcomponent-state-danger-icon`) Web Component
      li.-active
        a(href=`#html-state-danger-icon`) HTML Blueprint
  .chi-tabs-panel#webcomponent-state-danger-icon
  .chi-tabs-panel.-active#html-state-danger-icon
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="example__danger-icon">Label</label>
        <div class="chi-input__wrapper -icon--right">
          <textarea class="chi-input -danger" id="example__danger-icon">
            Sample text
          </textarea>
          <i class="chi-icon icon-circle-warning -text--danger"></i>
        </div>
      </div>

h2 Sizes
p.-text
  | Textareas support the following sizes: <code>-sm</code>, <code>-md</code>,
  |  <code>-lg</code>, <code>-xl</code>.
  | The default size is <code>-md</code>.
.example.-mb--3
  .-p--3
    .-p--2
      .chi-form__item(style="max-width:30rem")
        label.chi-label(for="example__sm") Label
        textarea.chi-input(class="-sm", id="example__sm") Sample text
    .-p--2
      .chi-form__item(style="max-width:30rem")
        label.chi-label(for="example__md") Label
        textarea.chi-input(class="-md", id="example__md") Sample text
    .-p--2
      .chi-form__item(style="max-width:30rem")
        label.chi-label(for="example__lg") Label
        textarea.chi-input(class="-lg", id="example__lg") Sample text
    .-p--2
      .chi-form__item(style="max-width:30rem")
        label.chi-label(for="example__xl") Label
        textarea.chi-input(class="-xl", id="example__xl") Sample text
  .example-tabs.-pl--2
    ul.chi-tabs#example-sizes
      li.-disabled
        a(href=`#webcomponent-sizes`) Web Component
      li.-active
        a(href=`#html-sizes`) HTML Blueprint
  .chi-tabs-panel#webcomponent-sizes
  .chi-tabs-panel.-active#html-sizes
    :code(lang='html')
      <div class="chi-form__item">
        <label class="chi-label" for="example__sm">Label</label>
        <textarea class="chi-input -sm" id="example__sm">
          Sample text
        </textarea>
      </div>
      <div class="chi-form__item">
        <label class="chi-label" for="example__md">Label</label>
        <textarea class="chi-input -md" id="example__md">
          Sample text
        </textarea>
      </div>
      <div class="chi-form__item">
        <label class="chi-label" for="example__lg">Label</label>
        <textarea class="chi-input -lg" id="example__lg">
          Sample text
        </textarea>
      </div>
      <div class="chi-form__item">
        <label class="chi-label" for="example__xl">Label</label>
        <textarea class="chi-input -xl" id="example__xl">
          Sample text
        </textarea>
      </div>

script.
    document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));
    }
  );