h2 Examples
p.-text
  | To render a textarea, apply the class <code>a-input</code> to a <code>textarea</code>.

h3 Base
.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:30rem")
      label.a-label(for="example__base") Label
      textarea.a-input(id="example__base") Sample text
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__base">Label</label>
      <textarea class="a-input" id="example__base">
        Sample text
      </textarea>
    </div>

h3 Disabled
.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:30rem")
      label.a-label(for="example__disabled") Label
      textarea.a-input(id="example__disabled" disabled) Sample text
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__disabled">Label</label>
      <textarea class="a-input" id="example__disabled" disabled>
        Sample text
      </textarea>
    </div>

h2 Icons
p.-text
  | To add icons to a textarea, wrap the input in a <code>div</code> using the class <code>m-input__wrapper</code>.
  | Next, add the icon as a sibling of the <code>textarea</code> and use an icon alignment utility class
  | (e.g. <code>-icon--left</code>) to specify where it should be placed.

h3 Left Aligned
.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:30rem")
      label.a-label(for="example__icon-left") Label
      .m-input__wrapper.-icon--left
        textarea.a-input(id="example__icon-left") Sample text
        i.a-icon.icon-map-marker.-text--muted
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__icon-left">Label</label>
      <div class="m-input__wrapper -icon--left">
        <textarea class="a-input" id="example__icon-left">
          Sample text
        </textarea>
        <i class="a-icon icon-map-marker -text--muted"></i>
      </div>
    </div>

h3 Right Aligned
.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:30rem")
      label.a-label(for="example__icon-right") Label
      .m-input__wrapper.-icon--right
        textarea.a-input(id="example__icon-right") Sample text
        i.a-icon.icon-circle-question-outline.-text--muted
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__icon-right">Label</label>
      <div class="m-input__wrapper -icon--right">
        <textarea class="a-input" id="example__icon-right">
          Sample text
        </textarea>
        <i class="a-icon icon-circle-question-outline -text--muted"></i>
      </div>
    </div>

h3 Left + Right Aligned
.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:30rem")
      label.a-label(for="example__icon-left-right") Label
      .m-input__wrapper.-icon--left.-icon--right
        textarea.a-input(id="example__icon-left-right") Sample text
        i.a-icon.icon-map-marker.-text--muted
        i.a-icon.icon-check.-text--success
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__icon-left-right">Label</label>
      <div class="m-input__wrapper -icon--left -icon--right">
        <textarea class="a-input" id="example__icon-left-right">
          Sample text
        </textarea>
        <i class="a-icon icon-map-marker -text--muted"></i>
        <i class="a-icon icon-check -text--success"></i>
      </div>
    </div>

h2 States
p.-text
  | Textareas offer three validation states: <code>-success</code>,
  | <code>-warning</code>, and <code>-danger</code>.

h3 Success
.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:30rem")
      label.a-label(for="example__success") Label
      textarea.a-input.-success(id="example__success") Sample text
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__success">Label</label>
      <textarea class="a-input -success" id="example__success">
        Sample text
      </textarea>
    </div>

.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:30rem")
      label.a-label(for="example__success-icon") Label
      .m-input__wrapper.-icon--right
        textarea.a-input.-success(id="example__success-icon") Sample text
        i.a-icon.icon-check.-text--success
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__success-icon">Label</label>
      <div class="m-input__wrapper -icon--right">
        <textarea class="a-input -success" id="example__success-icon">
          Sample text
        </textarea>
        <i class="a-icon icon-check -text--success"></i>
      </div>
    </div>

h3 Warning
.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:30rem")
      label.a-label(for="example__warning") Label
      textarea.a-input.-warning(id="example__warning") Sample text
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__warning">Label</label>
      <textarea class="a-input -warning" id="example__warning">
        Sample text
      </textarea>
    </div>

.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:30rem")
      label.a-label(for="example__warning-icon") Label
      .m-input__wrapper.-icon--right
        textarea.a-input.-warning(id="example__warning-icon") Sample text
        i.a-icon.icon-warning.-text--warning
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__warning-icon">Label</label>
      <div class="m-input__wrapper -icon--right">
        <textarea class="a-input -warning" id="example__warning-icon">
          Sample text
        </textarea>
        <i class="a-icon icon-warning -text--warning"></i>
      </div>
    </div>

h3 Danger
.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:30rem")
      label.a-label(for="example__danger") Label
      textarea.a-input.-danger(id="example__danger") Sample text
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__danger-icon">Label</label>
      <textarea class="a-input -danger" id="example__danger">
        Sample text
      </textarea>
    </div>

.example.-mb--3
  .-p--3
    .m-form__item(style="max-width:30rem")
      label.a-label(for="example__danger-icon") Label
      .m-input__wrapper.-icon--right
        textarea.a-input.-danger(id="example__danger-icon") Sample text
        i.a-icon.icon-circle-warning.-text--danger
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-label" for="example__danger-icon">Label</label>
      <div class="m-input__wrapper -icon--right">
        <textarea class="a-input -danger" id="example__danger-icon">
          Sample text
        </textarea>
        <i class="a-icon icon-circle-warning -text--danger"></i>
      </div>
    </div>

h2 Sizes
p.-text
  | Textareas support the following sizes: <code>-sm</code>, <code>-md</code>,
  |  <code>-lg</code>, <code>-xl</code>.
  | The default size is <code>-md</code>.
.example.-mb--3
  .-p--3
    .-p--2
      .m-form__item(style="max-width:30rem")
        label.a-label(for="example__sm") Label
        textarea.a-input(class="-sm", id="example__sm") Sample text
    .-p--2
      .m-form__item(style="max-width:30rem")
        label.a-label(for="example__md") Label
        textarea.a-input(class="-md", id="example__md") Sample text
    .-p--2
      .m-form__item(style="max-width:30rem")
        label.a-label(for="example__lg") Label
        textarea.a-input(class="-lg", id="example__lg") Sample text
    .-p--2
      .m-form__item(style="max-width:30rem")
        label.a-label(for="example__xl") Label
        textarea.a-input(class="-xl", id="example__xl") Sample text
  :code(lang='html')
    <div class="m-form__item">
      <label class="a-label" for="example__sm">Label</label>
      <textarea class="a-input -sm" id="example__sm">
        Sample text
      </textarea>
    </div>
    <div class="m-form__item">
      <label class="a-label" for="example__md">Label</label>
      <textarea class="a-input -md" id="example__md">
        Sample text
      </textarea>
    </div>
    <div class="m-form__item">
      <label class="a-label" for="example__lg">Label</label>
      <textarea class="a-input -lg" id="example__lg">
        Sample text
      </textarea>
    </div>
    <div class="m-form__item">
      <label class="a-label" for="example__xl">Label</label>
      <textarea class="a-input -xl" id="example__xl">
        Sample text
      </textarea>
    </div>
