h2 Examples
p.-text
  | To display a card, use the class <code>chi-card</code>.

h3 Base
.example.-mb--3
  .-p--3
    .chi-card(style="width:20rem;")
      .chi-card__content
        .chi-card__caption
          | This is a card
  :code(lang="html")
    <div class="chi-card">
      <div class="chi-card__content">
        <div class="chi-card__caption">This is a card</div>
      </div>
    </div>

h3 Active
p.-text
  | Render an active state card with the class <code>-active</code>.
.example.-mb--3
  .-p--3
    .chi-card.-active(style="width:20rem;")
      .chi-card__content
        .chi-card__caption
          | This is an active card
  :code(lang="html")
    <div class="chi-card -active">
      <div class="chi-card__content">
        <div class="chi-card__caption">This is an active card</div>
      </div>
    </div>

h3 Active Alt
p.-text
  | Render an alternative active state card with the class <code>-active--alt</code>.
.example.-mb--3
  .-p--3
    .chi-card.-active--alt(style="width:20rem;")
      .chi-card__content
        .chi-card__caption
          | This is an active alt card
  :code(lang="html")
    <div class="chi-card -active--alt">
      <div class="chi-card__content">
        <div class="chi-card__caption">This is an active alt card</div>
      </div>
    </div>

h3 No Border
p.-text
  | Render a card without a border using the class <code>-no-border</code>.
.example.-mb--3
  .-p--3
    .chi-card.-no-border(style="width:20rem;")
      .chi-card__content
        .chi-card__caption
          | This is a card with no border
  :code(lang="html")
    <div class="chi-card -no-border">
      <div class="chi-card__content">
        <div class="chi-card__caption">This is a card with no border</div>
      </div>
    </div>

h3 Empty
p.-text
  | Render an empty state card with the class <code>-empty</code>.
.example.-mb--3
  .-p--3
    .chi-card.-empty(style="width:20rem;")
      .chi-card__content
        i.chi-icon.-md.chi-card__icon.icon-circle-plus-outline
        .chi-card__caption
          | Add Product
  :code(lang="html")
    <div class="chi-card -empty">
      <div class="chi-card__content">
        <i class="chi-card__icon chi-icon icon-circle-plus-outline -md"></i>
        <div class="chi-card__caption">Add Product</div>
      </div>
    </div>

h3 Titled
p.-text
  | Add a title to a card by applying the class <code>chi-card__title</code>.
.example.-mb--3
  .-p--3
    .chi-card(style="width:20rem;")
      .chi-card__content
        .chi-card__title Title
        .chi-card__caption This is a titled card
  :code(lang="html")
    <div class="chi-card">
      <div class="chi-card__content">
        <div class="chi-card__title">Title</div>
        <div class="chi-card__caption">This is a titled card</div>
      </div>
    </div>

h3 Center Aligned
p.-text
  | Center align a card by applying the class <code>-align--center</code>.
.example.-mb--3
  .-p--3
    .chi-card.-align--center(style="width:20rem;")
      .chi-card__content
        .chi-card__title Title
        .chi-card__caption
          | This is a center aligned card
        .chi-card__actions
          button.chi-btn.-primary Action
  :code(lang="html")
    <div class="chi-card -align--center">
      <div class="chi-card__content">
        <div class="chi-card__title">Title</div>
        <div class="chi-card__caption">This is a center aligned card</div>
        <div class="chi-card__actions">
          <button class="chi-btn -primary">Action</button>
        </div>
      </div>
    </div>

h3 Titled with content and icon
.example.-mb--3
  .-p--3.chi-grid
    .chi-col.-w--6.-w-md--4.-w-lg--3
      .chi-card.-align--center
        .chi-card__content
          .chi-card__title Title
          i.chi-icon.chi-card__icon.-sm--3(class="icon-atom")
          .chi-card__caption
            span.-text--small Meta Label
            span.-text--smaller.-text--grey Sublabel
    .chi-col.-w--6.-w-md--4.-w-lg--3
      .chi-card.-active.-align--center
        .chi-card__content
          .chi-card__title Title
          i.chi-icon.chi-card__icon.-sm--3.chi-card__icon(class="icon-atom")
          .chi-card__caption
            span.-text--small Meta Label
            span.-text--smaller.-text--grey Sublabel
  :code(lang="html")
    <!-- Base -->
    <div class="chi-card -align--center">
      <div class="chi-card__content">
        <div class="chi-card__title">Title</div>
        <i class="chi-card__icon chi-icon icon-atom -sm--3"></i>
        <div class="chi-card__caption">
          <span class="-text--small">Meta Label</span>
          <span class="-text--smaller -text--grey">Sublabel</span>
        </div>
      </div>
    </div>
    <!-- Active -->
    <div class="chi-card -active -align--center">
      <div class="chi-card__content">
        <div class="chi-card__title">Title</div>
        <i class="chi-card__icon chi-icon icon-atom -sm--3"></i>
        <div class="chi-card__caption">
          <span class="-text--small">Meta Label</span>
          <span class="-text--smaller -text--grey">Sublabel</span>
        </div>
      </div>
    </div>

h3 Animate on Hover
p.-text
  | Animate a card on hover by applying the class <code>-hover--animate</code>.
.example.-mb--3
  .-p--3.chi-grid
    .chi-col.-w--6.-w-md--4.-w-lg--3.-mb--3.-mb-lg--0
      .chi-card.-align--center.-hover--animate
        .chi-card__content
          .chi-card__title Title
          i.chi-icon.chi-card__icon.-sm--3(class="icon-atom")
          .chi-card__caption
            span.-text--small Meta Label
            span.-text--smaller.-text--grey Sublabel
    .chi-col.-w--6.-w-md--4.-w-lg--3.-mb--3.-mb-lg--0
      .chi-card.-align--center.-hover--animate
        .chi-card__content
          .chi-card__title Title
          i.chi-icon.chi-card__icon.-sm--3(class="icon-atom")
          .chi-card__caption
            span.-text--small Meta Label
            span.-text--smaller.-text--grey Sublabel
    .chi-col.-w--6.-w-md--4.-w-lg--3.-mb--3.-mb-lg--0
      .chi-card.-align--center.-hover--animate
        .chi-card__content
          .chi-card__title Title
          i.chi-icon.chi-card__icon.-sm--3(class="icon-atom")
          .chi-card__caption
            span.-text--small Meta Label
            span.-text--smaller.-text--grey Sublabel
    .chi-col.-w--6.-w-md--4.-w-lg--3.-mb--3.-mb-lg--0
      .chi-card.-active.-align--center.-hover--animate
        .chi-card__content
          .chi-card__title Title
          i.chi-icon.chi-card__icon.-sm--3.chi-card__icon(class="icon-atom")
          .chi-card__caption
            span.-text--small Meta Label
            span.-text--smaller.-text--grey Sublabel
  :code(lang="html")
    <!-- Base -->
    <div class="chi-card -align--center -hover--animate">
      <div class="chi-card__content">
        <div class="chi-card__title">Title</div>
        <i class="chi-card__icon chi-icon icon-atom -sm--3"></i>
        <div class="chi-card__caption">
          <span class="-text--small">Meta Label</span>
          <span class="-text--smaller -text--grey">Sublabel</span>
        </div>
      </div>
    </div>
    <!-- Active -->
    <div class="chi-card -active -align--center -hover--animate">
      <div class="chi-card__content">
        <div class="chi-card__title">Title</div>
        <i class="chi-card__icon chi-icon icon-atom -sm--3"></i>
        <div class="chi-card__caption">
          <span class="-text--small">Meta Label</span>
          <span class="-text--smaller -text--grey">Sublabel</span>
        </div>
      </div>
    </div>

h3 Hero
p.-text
  | Add a full width image or banner to the top of a card by applying the class <code>chi-card__hero</code>.
.example.-mb--3
  .-p--3
    .chi-card(style="width:20rem;")
      .chi-card__hero.-text--inverse(style="width:100%;background:rgba(0,0,0,0.8);")
        p.-text.-p--6.-text--center Hero Image
      .chi-card__content
        .chi-card__caption
          | This is a hero card
  :code(lang="html")
    <div class="chi-card">
      <img class="chi-card__hero" src="..." alt="Card Image">
      <div class="chi-card__content">
        <div class="chi-card__caption">This is a hero card</div>
      </div>
    </div>

h3 Footer
.example.-mb--3
  .-p--3
    .chi-card(style="width:20rem;")
      .chi-card__content
        .chi-card__caption
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
      .chi-card__footer
        button.chi-btn.-primary Action 1
        button.chi-btn Action 2
  :code(lang="html")
    <div class="chi-card">
      <div class="chi-card__content">
        <div class="chi-card__caption">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</div>
      </div>
      <div class="chi-card__footer">
        <button class="chi-btn -primary">Action 1</button>
        <button class="chi-btn">Action 2</button>
      </div>
    </div>

h3 Footer Right Aligned
p.-text Apply the class <code>-align--right</code> on <code>chi-card__footer</code> to right align its contents.
.example.-mb--3
  .-p--3
    .chi-card(style="width:20rem;")
      .chi-card__content
        .chi-card__caption
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
      .chi-card__footer.-align--right
        button.chi-btn Action 2
        button.chi-btn.-primary Action 1
  :code(lang="html")
    <div class="chi-card">
      <div class="chi-card__content">
        <div class="chi-card__caption">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</div>
      </div>
      <div class="chi-card__footer -align--right">
        <button class="chi-btn">Action 2</button>
        <button class="chi-btn -primary">Action 1</button>
      </div>
    </div>

h3 Footer Center Aligned
p.-text Apply the class <code>-align--center</code> on <code>chi-card__footer</code> to center align its contents.
.example.-mb--3
  .-p--3
    .chi-card(style="width:20rem;")
      .chi-card__content
        .chi-card__caption
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
      .chi-card__footer.-align--center
        button.chi-btn.-primary Action
  :code(lang="html")
    <div class="chi-card">
      <div class="chi-card__content">
        <div class="chi-card__caption">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</div>
      </div>
      <div class="chi-card__footer -align--center">
        <button class="chi-btn -primary">Action</button>
      </div>
    </div>

h3 Footer No Border
p.-text Apply the class <code>-no-border</code> on <code>chi-card__footer</code> to remove the default border.
.example.-mb--3
  .-p--3
    .chi-card(style="width:20rem;")
      .chi-card__content
        .chi-card__caption
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
      .chi-card__footer.-no-border
        button.chi-btn.-primary Action
  :code(lang="html")
    <div class="chi-card">
      <div class="chi-card__content">
        <div class="chi-card__caption">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</div>
      </div>
      <div class="chi-card__footer -no-border">
        <button class="chi-btn -primary">Action</button>
      </div>
    </div>

h3 Footer Small
p.-text Apply the class <code>-sm</code> on <code>chi-card__footer</code> to reduce its padding.
.example.-mb--3
  .-p--3
    .chi-card(style="width:20rem;")
      .chi-card__content
        .chi-card__caption
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
      .chi-card__footer.-sm
        a.-text(href="#") Action
  :code(lang="html")
    <div class="chi-card">
      <div class="chi-card__content">
        <div class="chi-card__caption">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</div>
      </div>
      <div class="chi-card__footer -sm">
        <a class="-text" href="#">Action</a>
      </div>
    </div>

h3 Header
.example.-mb--3
  .-p--3
    .chi-card(style="width:20rem;")
      .chi-card__header
        .chi-card__title Title
      .chi-card__content
        .chi-card__caption
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
  :code(lang="html")
    <div class="chi-card">
      <div class="chi-card__header">
        <div class="chi-card__title">Title</div>
      </div>
      <div class="chi-card__content">
        <div class="chi-card__caption">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</div>
      </div>
    </div>

h3 Header Center Aligned
p.-text Apply the class <code>-align--center</code> on <code>chi-card__header</code> to center align its contents.
.example.-mb--3
  .-p--3
    .chi-card(style="width:20rem;")
      .chi-card__header.-align--center
        .chi-card__title Title
      .chi-card__content
        .chi-card__caption
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
  :code(lang="html")
    <div class="chi-card">
      <div class="chi-card__header -align--center">
        <div class="chi-card__title">Title</div>
      </div>
      <div class="chi-card__content">
        <div class="chi-card__caption">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</div>
      </div>
    </div>

h3 Header No Border
p.-text Apply the class <code>-no-border</code> on <code>chi-card__header</code> to remove the default border.
.example.-mb--3
  .-p--3
    .chi-card(style="width:20rem;")
      .chi-card__header.-no-border
        .chi-card__title Title
      .chi-card__content
        .chi-card__caption
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
  :code(lang="html")
    <div class="chi-card">
      <div class="chi-card__header -no-border">
        <div class="chi-card__title">Title</div>
      </div>
      <div class="chi-card__content">
        <div class="chi-card__caption">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</div>
      </div>
    </div>

h3 Header Small
p.-text Apply the class <code>-sm</code> on <code>chi-card__header</code> to reduce its padding.
.example.-mb--3
  .-p--3
    .chi-card(style="width:20rem;")
      .chi-card__header.-sm
        .chi-card__title Title
      .chi-card__content
        .chi-card__caption
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
  :code(lang="html")
    <div class="chi-card">
      <div class="chi-card__header -sm">
        <div class="chi-card__title">Title</div>
      </div>
      <div class="chi-card__content">
        <div class="chi-card__caption">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</div>
      </div>
    </div>

h3 Header + Footer
p.-text Further customize cards by adding both headers <code>chi-card__header</code> and footers <code>chi-card__footer</code>.
.example.-mb--3
  .-p--3
    .chi-card(style="width:20rem;")
      .chi-card__header
        .chi-card__title Title
      .chi-card__content
        .chi-card__caption
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
      .chi-card__footer
        button.chi-btn.-primary Action
  :code(lang="html")
    <div class="chi-card">
      <div class="chi-card__header">
        <div class="chi-card__title">Title</div>
      </div>
      <div class="chi-card__content">
        <div class="chi-card__caption">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</div>
      </div>
      <div class="chi-card__footer">
        <button class="chi-btn -primary">Action</button>
      </div>
    </div>

h3 Header Small + Footer Small
p.-text Reduce the size of the header and footer by applying the class <code>-sm</code> to each element.
.example.-mb--3
  .-p--3
    .chi-card(style="width:20rem;")
      .chi-card__header.-sm
        .chi-card__title Title
      .chi-card__content
        .chi-card__caption
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
      .chi-card__footer.-sm
        a.-text(href="#") Action
  :code(lang="html")
    <div class="chi-card">
      <div class="chi-card__header -sm">
        <div class="chi-card__title">Title</div>
      </div>
      <div class="chi-card__content">
        <div class="chi-card__caption">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</div>
      </div>
      <div class="chi-card__footer -sm">
        <a class="-text" href="#">Action</a>
      </div>
    </div>

h3 Portal base
.example.-mb--3
  .-p--3
    .chi-card.-portal(style="width:20rem;")
      .chi-card__header.-sm
        .chi-card__title Title
      .chi-card__content
        .chi-card__caption
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
  :code(lang="html")
    <div class="chi-card -portal">
      <div class="chi-card__header -sm">
        <div class="chi-card__title">Title</div>
      </div>
      <div class="chi-card__content">
        <div class="chi-card__caption">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</div>
      </div>
    </div>

h3 Portal with tabs
.example.-mb--3
  .-p--3
    .chi-card.-portal(style="width:20rem;")
      .chi-card__tabs
        ul.chi-tabs.-xs
          li.-active
            a(href='#') Active Tab
          li
            a(href='#') Tab Link
          li
            a(href='#') Tab Link
      .chi-card__content
        .chi-card__caption
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
  :code(lang="html")
    <div class="chi-card -portal">
      <div class="chi-card__tabs">
        <ul class="chi-tabs -xs">
          <li class="-active">
            <a href="#">Active Tab</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
        </ul>
      </div>
      <div class="chi-card__content">
        <div class="chi-card__caption">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</div>
      </div>
    </div>
