@import '_variables';
@import '_mixins';

$input-range-height: 1.5rem;
$input-range-track-height: 0.5rem;

@mixin thumb-style {
  background-color: set-color(white);
  border: 2px solid $brand-color;
  border-radius: 0.75rem;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 1.25rem;
  width: 1.25rem;
}

@mixin green-thumb-shadow {
  box-shadow: 0 0 1px 4px rgba($brand-color, 0.3);
}

@mixin grey-thumb-shadow {
  box-shadow: 0 0 1px 4px rgba(set-color(grey, 50), 0.3);
}

@mixin track-style {
  background-color: set-color(grey, 30);
  border-radius: 0.25rem;
  box-sizing: border-box;
  height: 0.5rem;
  width: 100%;
}

// sass-lint:disable no-vendor-prefixes
input {
  &[type='range'] {
    &.chi-input {
      -webkit-appearance: none;
      background-color: transparent;
      height: $input-range-height;
      padding: 0;
      width: 100%;

      &[disabled] {
        opacity: 0.65;
        pointer-events: none;

        // Chi cross browser
        & ~ .chi-input__thumb {
          border-color: mix(white, $brand-color, 35%);
        }

        & ~ .chi-input__progress {
          background-color: mix(white, $brand-color, 35%);
        }
      }

      &::-moz-focus-outer {
        border: 0;
      }

      &.-zero {
        &:focus,
        &.-focus {
          // Safari, Chrome and Opera
          &::-webkit-slider-thumb {
            @include grey-thumb-shadow;
          }

          // Firefox
          &::-moz-range-thumb {
            @include grey-thumb-shadow;
          }

          // Internet Explorer
          &::-ms-thumb {
            @include grey-thumb-shadow;
          }
        }

        // Safari, Chrome and Opera
        &::-webkit-slider-thumb {
          background-color: set-color(grey, 50);
          border-color: set-color(grey, 50);
        }

        // Firefox
        &::-moz-range-thumb {
          border-color: set-color(grey, 50);
        }

        &::-moz-range-progress {
          background-color: set-color(grey, 30);
        }

        // Internet Explorer
        &::-ms-thumb {
          border-color: set-color(grey, 50);
        }

        &::-ms-fill-lower {
          background-color: set-color(grey, 30);
        }

        // Chi cross browser
        & ~ .chi-input__thumb {
          border-color: set-color(grey, 50);
        }

        & ~ .chi-input__progress {
          background-color: set-color(grey, 30);
        }
      }

      &:focus,
      &.-focus,
      &:active {
        outline: none;

        // Safari, Chrome and Opera
        &::-webkit-slider-thumb {
          @include green-thumb-shadow;
        }

        // Firefox
        &::-moz-range-thumb {
          @include green-thumb-shadow;
        }

        // Internet Explorer
        &::-ms-thumb {
          @include green-thumb-shadow;
        }

        // Chi cross browser
        & ~ .chi-input__thumb {
          @include green-thumb-shadow;
        }
      }


      &.chi-range-slider__thumb-overwritten {
        // Safari, Chrome and Opera
        &::-webkit-slider-thumb {
          opacity: 0;
        }

        // Firefox
        &::-moz-range-thumb {
          opacity: 0;
        }

        // Internet Explorer
        &::-ms-thumb {
          opacity: 0;
        }
      }

      // Safari, Chrome and Opera
      &::-webkit-slider-thumb {
        @include thumb-style;
        -webkit-appearance: none;
        margin-top: -6px;
      }

      &::-webkit-slider-runnable-track {
        @include track-style;
      }

      // Firefox
      &::-moz-range-thumb {
        @include thumb-style;
        margin-left: 4px;
        margin-right: 4px;
      }

      &::-moz-range-track {
        @include track-style;
      }

      &::-moz-range-progress {
        @include track-style;
        background-color: $brand-color;
      }

      // Internet Explorer
      &::-ms-thumb {
        @include thumb-style;
        border-width: 2px;
        height: 20px;
        margin: 0 4px;
        width: 20px;
      }

      &::-ms-tooltip {
        display: none;
      }

      &::-ms-track {
        @include track-style;
        border-color: transparent;
        color: transparent;
      }

      &::-ms-fill-lower {
        @include track-style;
        background-color: $brand-color;
      }

      &::-ms-fill-upper {
        @include track-style;
      }

      // Chi cross browser
      & ~ .chi-input__thumb {
        @include thumb-style;
        content: '';
        left: 50%;
        margin-left: -0.625rem;
        pointer-events: none;
        position: absolute;
        top: 0.125rem;
        z-index: 1;
      }

      & ~ .chi-input__progress {
        @include track-style;
        background-color: $brand-color;
        content: '';
        pointer-events: none;
        position: absolute;
        top: 0.5rem;
        width: 50%;
        z-index: 1;
      }
    }
  }
}

// sass-lint:enable no-vendor-prefixes
.chi-input__wrapper {
  & > input {
    &[type='range'] {
      &.chi-input {
        display: block;
        position: relative;
        z-index: 1;
      }
    }
  }
}

.chi-input__tick {
  border-left: 1px solid set-color(grey, 30);
  height: 0.25rem;
  margin: -($input-range-height - $input-range-track-height) / 2 auto 0;

  &-bar {
    display: flex;
    height: 1.5rem;
    justify-content: space-between;
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    & > div {
      font-size: $text;
      position: relative;

      &:first-child {
        .chi-input__tick-label {
          left: -0.625rem;
          text-align: left;
        }
      }

      &:last-child {
        .chi-input__tick-label {
          left: initial;
          right: -0.625rem;
          text-align: right;
        }
      }
    }
  }

  &-label {
    font-size: $text-small;
    left: -4em;
    line-height: $line-height-small;
    position: absolute;
    text-align: center;
    top: 0;
    width: 8em;
  }
}
