:host(chi-search-input) {
  @import '../../global/styles/common';

  display: block;
  width: 100%;

  &[mode="autocomplete"] {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }
}
