.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.5, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
  transform: translateY(-8px);
}

.chi-data-table__head {
  div {
    &.chi-data-table__cell {
      i {
        &.chi-icon {
          &.icon-arrow-up {
            transition: transform 0.2s;
          }
        }
      }

      &.-expandable {
        .chi-tooltip {
          white-space: pre;
        }
      }
    }
  }
}

.chi-data-table__cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.-selectable {
    .chi-radio {
      .chi-radio__label {
        position: initial;
      }
    }
  }
}

// TODO: To be removed when all µApp's Chi version is higher than v5.0

@mixin respond-to($media, $only: false) {
  @if $media == xs {
    @media only screen and (max-width: $sm-breakpoint - 1) {
      @content;
    }
  } @else if $media == sm {
    @if $only {
      @media only screen and (min-width: $sm-breakpoint) and (max-width: $md-breakpoint - 1) {
        @content;
      }
    } @else {
      @media only screen and (min-width: $sm-breakpoint) {
        @content;
      }
    }
  } @else if $media == md {
    @if $only == true {
      @media only screen and (min-width: $md-breakpoint) and (max-width: $lg-breakpoint - 1) {
        @content;
      }
    } @else {
      @media only screen and (min-width: $md-breakpoint) {
        @content;
      }
    }
  } @else if $media == lg {
    @if $only {
      @media only screen and (min-width: $lg-breakpoint) and (max-width: $xl-breakpoint - 1) {
        @content;
      }
    } @else {
      @media only screen and (min-width: $lg-breakpoint) {
        @content;
      }
    }
  } @else if $media == xl {
    @media only screen and (min-width: $xl-breakpoint) {
      @content;
    }
  }
}

$md-breakpoint: 768px;
$color-border-base-dark: #d0d4d9;
$font-weight-semi-bold: 600;

.chi-data-table {
  &__head {
    .chi-data-table__cell {
      @include respond-to(md) {
        border-bottom: 0.125rem solid $color-border-base-dark;
        display: flex;
        font-weight: $font-weight-semi-bold;
        min-width: 1rem;
        overflow: initial;
        padding: 0.75rem 1rem;
        position: relative;
        text-align: start;
        white-space: normal;
        
        &.-selectable {
          .chi-dropdown {
            left: 2.5rem;
            position: absolute;
            z-index: 1;
          }
        }
      }
    }

    .-truncated {
      @include respond-to(md) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  // TODO: To be removed when Chi 5.28.0 is alive
  &__row {
    &-empty{
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 3rem 7rem;
    }
  }

  &__cell {
    &.-actions,
    &.-justify-content-md--end {
      &.-flex-basis--5 {
        &.-key {
          position: relative;
        }
      }
    }

    &-mobile {
      display: block;

      &.-actions {
        .chi-button {
          &.-icon {
            &.-flat {
              position: absolute;
              right: 1.375rem;
              top: -1.25rem;
            }
          }
        }
      }

      @include respond-to(md) {
        display: none;
      }
    }

    &-desktop {
      display: none;

      @include respond-to(md) {
        display: block;
      }
    }
  }
}
