.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.5, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
  transform: translateY(-8px);
}

.chi-data-table__head {
  .chi-data-table__cell {
    overflow: hidden;

    button {
      i {
        &.chi-icon {
          &.icon-arrow-up {
            transition: transform 0.2s;
          }
        }
      }
    }
  }
}

.chi-data-table__cell {
  .-text--truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
