version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/src/documentation"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "08:00"
      timezone: "Europe/Madrid"
  - package-ecosystem: "npm"
    directory: "/src/chi-vue"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "08:00"
      timezone: "Europe/Madrid"
    ignore:
      # The latest version 2.0.14 is incompatible with the latest version of the vite-plugin-checker dependency.
      - dependency-name: "vue-tsc"
        versions: [">=1.8.27"]

  - package-ecosystem: "npm"
    directory: "/src/custom-elements"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "08:00"
      timezone: "Europe/Madrid"
    ignore:
      # The version 1.0.4 introduces a buffer compression library (zlib) that is deprecated,
      # see https://github.com/kkaefer/DEPRECATED-node-zlib and causes runtime errors. 
      - dependency-name: "all-country-data"
        versions: [">=1.0.4"]

