@import '_global-variables';
@import '_global-mixins';

.chi-inner-nav {
  width: 100%;

  .chi-inner-nav__title {
    text-transform: uppercase;
    font-weight: $font-weight-semi-bold;
    color: $color-text-muted;
    margin-bottom: 0.625rem;
    font-size: 0.75rem; // font-size-xs
  }

  .chi-inner-nav__item {
    cursor: pointer;
    pointer-events: all;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    // title
    .chi-inner-nav__item-title:not(.chi-accordion__content .chi-inner-nav__item-title) {
      font-weight: $font-weight-semi-bold;

      font-size: $font-size-md;
    }

    &.-active {
      color: red;
    }

    // title
    chi-accordion {
      .chi-accordion__item {
        .chi-accordion__trigger {
          .chi-link {
            color: $color-text-base;
            font-weight: $font-weight-semi-bold;
            font-size: $font-size-md;
            margin-right: 0.625rem;
          }

          .chi-icon {
            font-size: 0.75rem; // xs icon
            color: $color-icon-dark;
          }
        }

        .chi-accordion__content {
          padding: 0 0 0 1.625rem;
          margin-top: 0.625rem;
          border-left: 0.125rem solid $color-grey-60;

          .chi-inner-nav__item {
            .chi-inner-nav__item-title {
              font-size: $font-size-md;
            }
          }
        }
      }
    }
  }
}
