@import '_global-variables';
@import '_global-mixins';

.chi-inner-nav {
  width: $inner-nav-width;

  .chi-inner-nav__title {
    color: $inner-nav-title-color;
    font-size: $inner-nav-title-font-size;
    font-weight: $inner-nav-title-font-weight;
    margin-bottom: $inner-nav-title-margin-bottom;
    text-transform: $inner-nav-title-text-transform;
  }

  .chi-inner-nav__item {
    cursor: pointer;
    pointer-events: all;

    &:not(:last-of-type) {
      margin-bottom: $inner-nav-item-margin-bottom;
    }

    &:has(chi-accordion) {
      padding: $inner-nav-padding;
    }
    
    &:not(:has(chi-accordion)) {
      padding-right: $inner-nav-item-title-padding;

      .chi-inner-nav__item-title {
        padding: $inner-nav-item-title-padding;
      }
    }


    .chi-inner-nav__item-title {
      &:hover {
        background-color: $inner-nav-item-hover-background-color;
      }
    }

    // title
    .chi-inner-nav__item-title:not(.chi-accordion__content .chi-inner-nav__item-title) {
      font-size: $inner-nav-item-title-font-size;
      font-weight: $inner-nav-item-title-font-weight;
    }

    &.-active {
      color: $inner-nav-item-active-color;
      font-weight: $inner-nav-item-active-font-weight;
    }

    // title
    chi-accordion {
      .chi-accordion__item {
        .chi-accordion__trigger {
          .chi-link {
            color: $inner-nav-accordion-link-color;
            font-size: $inner-nav-accordion-link-font-size;
            font-weight: $inner-nav-accordion-link-font-weight;
            margin-right: $inner-nav-accordion-link-margin-right;
          }

          .chi-icon {
            color: $inner-nav-accordion-icon-color;
            font-size: $inner-nav-accordion-icon-font-size;
          }
        }

        .chi-accordion__content {
          border-left: $inner-nav-accordion-content-border-left;
          margin-top: $inner-nav-accordion-content-margin-top;
          padding: $inner-nav-accordion-content-padding;

          .chi-inner-nav__item {
            .chi-inner-nav__item-title {
              font-size: $inner-nav-accordion-content-item-title-font-size;
            }
          }
        }
      }
    }
  }
}
