---
title: Checkbox
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-chi-ce/ux-chi-ce.js')

h3 Base
chi-checkbox#checbox__base(label="Base")

h3 Selected
chi-checkbox#checkbox__selected(label="Selected" checked)

h3 Indeterminate
chi-checkbox#checkbox__indeterminate(label="Indeterminate" indeterminate)

h3 Indeterminate & checked
chi-checkbox#checkbox__indeterminate__checked(label="Indeterminate" checked indeterminate)

h3 Disabled
chi-checkbox#checkbox__disabled(label="Disabled" disabled)

h3 Required
chi-checkbox#checkbox__required(label='I accept the Terms of Service' required)

h3 Error
chi-checkbox#checkbox__error(state='danger' label='I accept the Terms of Service' required)
.chi-label.-status.-danger
  chi-icon(icon='circle-warning')
  | Please accept the terms of service.