---
title: Checkbox
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-chi-ce/ux-chi-ce.js')

h3 Base
chi-checkbox#test-base(label="Base")

h3 Selected
chi-checkbox#test-selected(label="Selected" checked)

h3 Indeterminate
chi-checkbox#test-indeterminate(label="Indeterminate" indeterminate)

h3 Indeterminate & checked
chi-checkbox#test-indeterminate-checked(label="Indeterminate" checked indeterminate)

h3 Disabled
chi-checkbox#test-disabled(label="Disabled" disabled)
