---
title: Label
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')

h3 Base
.test-label-base.-w--100(data-cy="test-label-base")
  .test-label-base-xs.-w--100(data-cy="test-label-base-xs")
      <chi-label size="xs">Label</chi-label>
  .test-label-base-sm.-w--100(data-cy="test-label-base-sm")
      <chi-label size="sm">Label</chi-label>
  .test-label-base-md.-w--100(data-cy="test-label-base-md")
      <chi-label size="md">Label</chi-label>
  .test-label-base-lg.-w--100(data-cy="test-label-base-lg")
      <chi-label size="lg">Label</chi-label>
  .test-label-base-xl.-w--100(data-cy="test-label-base-xl")
      <chi-label size="xl">Label</chi-label>

h3 Required
.test-label-required.-w--100(data-cy="test-label-required")
  .test-label-required-xs.-w--100(data-cy="test-label-required-xs")
      <chi-label required size="xs">Label</chi-label>
  .test-label-required-sm.-w--100(data-cy="test-label-required-sm")
      <chi-label required size="sm">Label</chi-label>
  .test-label-required-md.-w--100(data-cy="test-label-required-md")
      <chi-label required size="md">Label</chi-label>
  .test-label-required-lg.-w--100(data-cy="test-label-required-lg")
      <chi-label required size="lg">Label</chi-label>
  .test-label-required-xl.-w--100(data-cy="test-label-required-xl")
      <chi-label required size="xl">Label</chi-label>

h3 Optional
.test-label-optional.-w--100(data-cy="test-label-optional")
  .test-label-optional-xs.-w--100(data-cy="test-label-optional-xs")
    <chi-label optional size="xs">Label</chi-label>
  .test-label-optional-sm.-w--100(data-cy="test-label-optional-sm")
    <chi-label optional size="sm">Label</chi-label>
  .test-label-optional-md.-w--100(data-cy="test-label-optional-md")
    <chi-label optional size="md">Label</chi-label>
  .test-label-optional-lg.-w--100(data-cy="test-label-optional-lg")
    <chi-label optional size="lg">Label</chi-label>
  .test-label-optional-xl.-w--100(data-cy="test-label-optional-xl")
    <chi-label optional size="xl">Label</chi-label>

h3 Info Icon
.test-label-info-icon.-w--100(data-cy="test-label-info-icon")
  <chi-label info-icon>Label</chi-label>

h3 Info Icon Message
.test-label-info-icon-message.-w--100(data-cy="test-label-info-icon-message")
  .test-label-info-icon-message-xs.-w--100(data-cy="test-label-info-icon-message-xs")
      <chi-label info-icon info-icon-message="Changed message" size="xs">Label</chi-label>
  .test-label-info-icon-message-sm.-w--100(data-cy="test-label-info-icon-message-sm")
      <chi-label info-icon info-icon-message="Changed message" size="sm">Label</chi-label>
  .test-label-info-icon-message-md.-w--100(data-cy="test-label-info-icon-message-md")
      <chi-label info-icon info-icon-message="Changed message" size="md">Label</chi-label>
  .test-label-info-icon-message-lg.-w--100(data-cy="test-label-info-icon-message-lg")
      <chi-label info-icon info-icon-message="Changed message" size="lg">Label</chi-label>
  .test-label-info-icon-message-xl.-w--100(data-cy="test-label-info-icon-message-xl")
      <chi-label info-icon info-icon-message="Changed message" size="xl">Label</chi-label>