---
title: Modal
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')

.example.-w--50
  .-p--2
    chi-modal.modal-default-test(button="Default")
      | Modal Content
.example.-w--50
  .-p--2
    chi-modal.modal-subtitle-test(button="Subtitle" modal-title="Custom modal Title" subtitle="Subtitle")
      | Modal Content
.example.-w--50
  .-p--2
    chi-modal.modal-center-test(button="Center" center)
      | Modal Content
.example.-w--50
  .-p--2
    chi-modal.modal-inverse-test(button="Inverse" inverse)
      | Modal Content
.example.-w--50
  .-p--2
    chi-modal.modal-simple-test(button="Simple" simple)
      | Modal Content
.example.-w--50
  .-p--2
    chi-modal.modal-multi-step-test(button="Multi-step" multi-step)
      | Modal Content

script.
  document.addEventListener('DOMContentLoaded', () => {
    const modalTriggers = document.querySelectorAll('chi-modal');

    modalTriggers.forEach(modal => {
        modal.show();
    });
  });