---
title: Tabs
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-chi-ce/ux-chi-ce.js')

h2 Base
.-w--100
  chi-tabs(active-tab='tab-a' id='base' sliding-border)
    div.-mr--1(slot='customBefore-tab-c') Tab
    div.-ml--1(slot='customAfter-tab-c') &trade;
    div.-mr--1(slot='customBefore-tab-c-2') Tab
    div.-ml--1(slot='customAfter-tab-c-2') &trade;

//- h2 Border
//- .-w--100
//-   chi-tabs(active-tab='tab-a' border id='base' sliding-border)

//- h2 Vertical
//- chi-tabs(active-tab='tab-a' id='vertical' vertical sliding-border)

//- h2 Solid
//- .-w--100
//-   chi-tabs(active-tab='tab-a' id='solid' solid sliding-border)

//- h2 No animation
//- .-w--100
//-   chi-tabs(active-tab='tab-a' id='no-animation')

//- h2 No animation, Solid
//- .-w--100
//-   chi-tabs(active-tab='tab-a' id='no-animation-solid' solid)

script.
  document.addEventListener('DOMContentLoaded', () => {
    //- const tabElements = document.querySelectorAll('#base, #border, #vertical, #solid, #no-animation, #no-animation-solid');
    const tabElement = document.querySelector('#base');

    if (tabElement) {
      tabElement.tabs = [
        {
          label: 'Tab A test',
          id: 'tab-a'
        },
        {
          label: 'Tab B',
          id: 'tab-b'
        },
        {
          label: 'C',
          id: 'tab-c',
          children: [
            {
              label: 'C 2',
              id: 'tab-c-2'
            }
          ]
        },
        {
          label: 'Tab D',
          id: 'tab-d'
        },
        {
          label: 'Tab E',
          id: 'tab-e',
          children: [
            {
              label: 'Tab E 2',
              id: 'tab-e-2',
            },
            {
              label: 'Tab E 1',
              id: 'tab-e-1',
              children: [
                {
                  label: 'Tab E 1.1',
                  id: 'tab-e-1-1',
                },
                {
                  label: 'Tab E 1.2',
                  id: 'tab-e-1-2',
                  children: [
                    {
                      label: 'Tab E 1.2.1',
                      id: 'tab-e-1-2-1',
                    },
                    {
                      label: 'Tab E 1.2.2',
                      id: 'tab-e-1-2-2',
                    },
                  ]
                },
              ]
            },
          ]
        },
        {
          label: 'Tab F',
          id: 'tab-f'
        },
        {
          label: 'Tab G',
          id: 'tab-g'
        },
        {
          label: 'Tab H',
          id: 'tab-h'
        },
        {
          label: 'Tab I',
          id: 'tab-i'
        },
        {
          label: 'Tab J',
          id: 'tab-j',
          children: [
            {
              label: 'Tab J 2',
              id: 'tab-j-2',
            },
            {
              label: 'Tab J 1',
              id: 'tab-j-1',
              children: [
                {
                  label: 'Tab J 1.1',
                  id: 'tab-j-1-1',
                },
                {
                  label: 'Tab J 1.2',
                  id: 'tab-j-1-2',
                },
              ]
            },
          ]
        },
        {
          label: 'Tab K',
          id: 'tab-k'
        },
        {
          label: 'Tab L',
          id: 'tab-l'
        },
        {
          label: 'Tab M',
          id: 'tab-m'
        },
        {
          label: 'Tab N',
          id: 'tab-n'
        },
        {
          label: 'Tab O',
          id: 'tab-o'
        },
        {
          label: 'Tab P',
          id: 'tab-P'
        },
      ];
    }
    tabElement.addEventListener('chiTabChange', e => {
      console.log(e);
    });
  });
