@import 'variables';
@import 'mixins';

@font-face {
  font-family: 'chi';
  src: url('webfont/chi.eot');
}

.chi {
  .a-steps {
    display: table;
    font-weight: 600;
    padding: 0;
    table-layout: fixed;
    width: 100%;

    & > li {
      color: $brand-color;
      display: table-cell;
      font-size: $text;
      line-height: 1rem;
      position: relative;
      text-align: center;
      z-index: 0;

      &::before {
        background-color: $brand-color;
        border: 0.125rem solid $text-white;
        border-radius: 50%;
        content: '';
        display: block;
        height: 1rem;
        line-height: 1rem;
        margin: 0 auto 0.5rem;
        width: 1rem;
      }

      &::after {
        background-color: $brand-color;
        content: '';
        height: 0.125rem;
        left: 50%;
        position: absolute;
        top: 0.4375rem;
        width: 100%;
        z-index: -1;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      &.-active {
        & a {
          color: $brand-color;
        }

        &::before {
          box-shadow: 0 0 0 0.125rem $brand-color;
        }

        &::after {
          background-color: set-color(grey, 40);
        }

        & ~ li {
          color: set-color(grey, 40);

          & a {
            color: $muted-color;
          }

          &::before {
            background-color: set-color(grey, 40);
            border-color: $text-white;
          }

          &::after {
            background-color: set-color(grey, 40);
          }
        }
      }
    }

    & a {
      color: $text-color;
      text-decoration: none;

      &:hover {
        color: $brand-color;
      }
    }

    &.-horizontalLabels {
      background-color: set-color(white);
      counter-reset: step;
      padding: 1rem;

      & > li {
        &::before {
          background-color: set-color(white);
          border: 0.125rem solid $brand-color;
          content: counter(step);
          counter-increment: step;
          font-size: 0.8125rem;
          height: 1.3rem;
          margin: 0 auto;
          width: 1.3rem;
        }

        &::after {
          top: 0.5625rem;
          width: 90%;
        }

        &.-active {
          &::before {
            box-shadow: 0 0 0 0.125rem set-color(white);
          }

          & ~ li {
            &::before {
              background-color: set-color(white);
              border-color: set-color(grey, 40);
            }

            & a {
              color: set-color($brand-color);
            }
          }

          & a {
            margin-left: 0.75rem;
          }
        }

        &.-completed {
          &::before {
            border: .125rem solid set-color($brand-color);
            content: "\e91b";
            font-family: 'chi' !important;
            font-size: 0.75rem;
          }
        }
      }

      & a {
        background-color: set-color(white);
        color: $brand-color;
        margin-left: 0.65rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        position: absolute;
        top: 0.125rem;
      }
    }

    &.-inverse {
      background-color: set-color(black);
      padding: 1rem;

      & > li {
        &::before {
          background-color: $brand-color;
          border: 0.125rem solid set-color(black);
        }

        &.-active {
          & ~ li {
            &::before {
              background-color: set-color(grey, 40);
              border-color: set-color(black);
            }

            & a {
              color: set-color(grey, 40);
            }
          }
        }

        & a {
          color: $brand-color;
        }
      }

      &.-horizontalLabels {
        & > li {
          &::before {
            background-color: set-color(black);
          }

          &.-active {
            &::before {
              border: .125rem solid set-color($brand-color);
              box-shadow: 0 0 0 0.125rem set-color(black);
            }

            & ~ li {
              &::before {
                background-color: set-color(black);
                border-color: set-color(grey, 40);
              }
            }
          }
        }

        & a {
          background-color: set-color(black);
        }
      }
    }
  }

  // sass-lint:disable-all
  _:-ms-lang(x), .a-steps.-inverse.-horizontalLabels li a {
    left: 50%;
  }
  // sass-lint:enable-all
}

