@import 'variables';
@import 'mixins';

@font-face {
  font-family: 'chi';
  src: url('webfont/chi.eot');
}

.chi {
  .a-steps {
    align-items: center;
    display: flex;
    justify-content: center;

    &__icon {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 2rem;
      padding: 0.25rem;
      width: 2rem;
    }

    &__line {
      border-top: 0.125rem solid set-color(grey, 40);
      width: 100%;
    }

    & > li {
      color: $brand-color;
      font-size: $text;
      line-height: 1rem;
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 100%;

      & > .a-steps__icon {
        &::before {
          content: "\e942";
          font-family: 'chi';
          position: absolute;
          font-size: 0.75rem;
        }

        &::after {
          content: "";
          font-size: 1.4rem;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          display: block;
          position: absolute;
        }

        & a {
          position: relative;
          top: 1.5rem;
          white-space: nowrap;
        }
      }

      & > a {
        color: $brand-color;
        margin-left: 0.5rem;
        white-space: nowrap;
      }

      & > .a-steps__line {
        border-color: $brand-color;
      }

      &.-active {
        & > .a-steps__icon {
          &::after {
            content: "\e934";
            font-family: 'chi' !important;
          }
        }

        & a {
          color: $brand-color;
        }

        &:last-child {
          & > .a-steps__line {
            border-color: transparent;
          }
        }

        & ~ li {
          & > .a-steps__icon {
            color: set-color(grey, 40);

          }

          & > .a-steps__line {
            border-color: set-color(grey, 40);
          }

          & a {
            color: set-color(grey, 40);
          }

          &:last-child {
            & > .a-steps__line {
              border-color: transparent;
            }
          }
        }

        & > .a-steps__line {
          border-color: set-color(grey, 40);
        }
      }
    }

    & a {
      color: $text-color;
      text-decoration: none;

      &:hover {
        color: $brand-color;
      }
    }

    &.-inverse {
      background-color: set-color(black);

      & > li {
        &::before {
          border: 0.125rem solid set-color(black);
        }

        & a {
          color: $brand-color;
        }
      }
    }

    &.-horizontalLabels {
      counter-reset: step;

      & > li {
        & > .a-steps__icon {
          &::before {
            content: counter(step);
            counter-increment: step;
            font-family: $font-family;
            font-size: 0.8125rem;
          }

          &::after {
            content: "\e928";
            font-family: 'chi' !important;
          }
        }

        &.-completed {
          & > .a-steps__icon {
            &::before {
              content: "";
            }
          }
        }

        &.-active {
          & > .a-steps__icon {
            &::after {
              content: "\e934";
            }
          }

          & ~ li {
            & > .a-steps__icon {
              &::after {
                content: "\e934";
              }
            }
          }
        }

        & > .a-steps__line {
          margin: 0.5rem;
        }
      }
    }
  }

  // sass-lint:disable-all
  /* IE10+ CSS hack */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .a-steps div.a-steps__icon a {
      position: relative;
      right: 1.5625rem;
    }
    .a-steps li.-active div.a-steps__icon::after {
      position: relative;
      right: 3.4375rem;
    }
    .a-steps div.a-steps__icon::before,
    .a-steps.-horizontalLabels div.a-steps__icon::before  {
      position: relative;
      left: 0.1875rem;
    }
    .a-steps.-horizontalLabels div.a-steps__icon::after,
    .a-steps.-horizontalLabels li.-active div.a-steps__icon::after {
      position: relative;
      right: 0.875rem;
    }
    .a-steps.-horizontalLabels li.-completed div.a-steps__icon::after {
      position: relative;
      right: 0.3125rem;
    }
  }

  /* EDGE CSS hack */
  @supports (-ms-ime-align: auto) {
    .a-steps div.a-steps__icon::before,
    .a-steps li.-active div.a-steps__icon::before,
    .a-steps li.-active div.a-steps__icon::after,
    .a-steps.-horizontalLabels li.-active div.a-steps__icon::before,
    .a-steps.-horizontalLabels div.a-steps__icon::before {
      position: absolute;
    }

    .a-steps.-horizontalLabels div.a-steps__icon::after,
    .a-steps.-horizontalLabels li.-active div.a-steps__icon::after,
    .a-steps.-horizontalLabels li.-completed div.a-steps__icon::after {
      position: relative;
      top: 0.1875rem;
    }
  }
  // sass-lint:enable-all
}

