@import '_variables';
@import '_mixins';

$breakpoints: ('sm', 'md', 'lg', 'xl');

.chi-steps {
  align-items: center;
  counter-reset: step;
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  padding: 0;

  &__icon {
    align-items: center;
    display: flex;
    flex: 1 0 auto;
    height: 1rem;
    justify-content: center;
    width: 1rem;
  }

  &__line {
    border-top: 0.125rem solid set-color(grey, 60);
    position: relative;
    width: 100%;
  }

  & > li {
    align-items: center;
    color: $primary-color;
    display: flex;
    flex: 1 0 auto;
    font-size: $text;
    justify-content: center;
    line-height: 1rem;

    & > .chi-steps__icon {
      &::before {
        color: set-color(white);
        content: counter(step);
        counter-increment: step;
        font-family: $font-family;
        font-size: $text;
        font-weight: $font-weight-semibold;
        position: absolute;
        z-index: $zindex-prominent;
      }

      &::after {
        content: '\e929';
        font-family: 'chi';
        font-size: 1.5rem;
        position: absolute;
      }

      & a {
        position: relative;
        top: 1.5rem;
        white-space: nowrap;
      }
    }

    & > a {
      font-weight: $font-weight-semibold;
      margin-left: 0.75rem;
      white-space: nowrap;
    }

    & > .chi-steps__line {
      border-color: $primary-color;
      margin: 0.5rem 0.75rem;
    }

    &.-completed {
      & > .chi-steps__icon {
        &::before {
          content: '';
        }
      }

      & > .chi-steps__line {
        &::after {
          border-right: 0.125rem solid $primary-color;
          border-top: 0.125rem solid $primary-color;
          content: '';
          height: 0.5rem;
          position: absolute;
          right: 0;
          top: -0.3125rem;
          transform: rotate(45deg);
          width: 0.5rem;
        }
      }
    }

    &.-active {
      & > .chi-steps__icon {
        a {
          font-weight: $font-weight-semibold;
        }

        &::after {
          content: '\e942';
        }
      }

      & > .chi-steps__line {
        border-color: set-color(grey, 60);
      }

      &:last-child {
        flex-grow: 0;
      }

      & ~ li {
        & > .chi-steps__icon {
          color: set-color(grey, 60);

          &::after {
            content: '\e942';
          }

        }

        & > .chi-steps__line {
          border-color: set-color(grey, 60);
        }

        &:last-child {
          flex-grow: 0;
        }
      }

      a {
        color: $primary-color;
      }
    }
  }

  & a {
    color: set-color(grey, 100);
    text-decoration: none;
  }

  &.-inverse {
    background-color: set-color(black);

    & > li {
      color: $secondary-color;

      & > .chi-steps__icon {
        &::before {
          color: set-color(black);
        }
      }

      &::before {
        border: 0.125rem solid set-color(black);
      }

      & a {
        color: set-color(white);
      }

      & > .chi-steps__line {
        border-color: $secondary-color;
      }

      &.-completed {
        & > .chi-steps__line {
          &::after {
            border-right-color: $secondary-color;
            border-top-color: $secondary-color;
          }
        }
      }

      &.-active {
        a {
          color: $secondary-color;
        }

        & > .chi-steps__line {
          border-color: set-color(grey, 40);
        }

        & ~ li {
          & > .chi-steps__icon {
            color: set-color(grey, 40);
          }

          & > .chi-steps__line {
            border-color: set-color(grey, 40);
          }
        }
      }
    }
  }

  &.-horizontal-label {
    > li {
      > .chi-steps__line {
        margin-left: 0.5rem;
        margin-right: 0.875rem;
      }
    }
  }

  &.-labels--hide {

    & li > .chi-steps__icon {
      a {
        display: none;
      }
    }

    & > li > a {
      display: none;
    }
  }

  @each $breakpoint in $breakpoints {
    &.-labels-#{$breakpoint}--hide {

      & li > .chi-steps__icon {
        a {
          display: none;

          @include respond-to(#{$breakpoint}) {
            display: block;
          }
        }
      }

      & > li > a {
        display: none;

        @include respond-to(#{$breakpoint}) {
          display: block;
        }
      }
    }
  }
}

// sass-lint:disable-all
/* IE10+ CSS hack */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .chi-steps div.chi-steps__icon a {
    position: relative;
    right: 0.8625rem;
  }

  .chi-steps li:first-child.-active div.chi-steps__icon::after {
    right: 3.4375rem;
  }

  .chi-steps li.-active div.chi-steps__icon::after,
  .chi-steps li div.chi-steps__icon::after {
    position: relative;
    right: 3.47rem;
  }

  .chi-steps li.-completed div.chi-steps__icon::after {
    position: relative;
    right: 2.97rem;
  }

  .chi-steps div.chi-steps__icon::before,
  .chi-steps.-horizontal-label div.chi-steps__icon::before  {
    left: 0.3rem;
    position: relative;
  }

  .chi-steps.-horizontal-label div.chi-steps__icon::before  {
    left: 0.25rem;
    position: relative;
  }

  .chi-steps.-horizontal-label div.chi-steps__icon::after,
  .chi-steps.-horizontal-label li.-active div.chi-steps__icon::after {
    position: relative;
    right: 0.75rem;
  }

  .chi-steps.-horizontal-label li.-completed div.chi-steps__icon::after {
    position: relative;
    right: 0.3125rem;
  }
}

/* EDGE CSS hack */
@supports (-ms-ime-align: auto) {
  .chi-steps div.chi-steps__line {
    padding-bottom: 0.1875rem;
  }

  .chi-steps li.-active div.chi-steps__icon::after,
  .chi-steps.-inverse li.-active div.chi-steps__icon::after{
    font-size: 1.4rem;
  }

  .chi-steps.-horizontal-label div.chi-steps__icon::before,
  .chi-steps.-horizontal-label li.-active div.chi-steps__icon::before,
  .chi-steps.-horizontal-label div.chi-steps__icon::before {
    position: absolute;
  }

  .chi-steps.-horizontal-label div.chi-steps__line {
    padding-bottom: 0;
  }
}
// sass-lint:enable-all
