@import '_global-mixins';
@import '_global-variables';

.chi-mobile-nav {
  .chi-drawer {
    background-color: $mobile-nav-background-color;

    .chi-mobile-nav__first-level-content {
      left: 0;
      position: absolute;
      transition-duration: 0.3s;

      &.-second-level-shown {
        left: -$mobile-nav-width;
      }
    }

    &.-left,
    &.-right {
      width: $mobile-nav-width;
    }

    &.-left {
      &.-animated {
        &:not(.-active) {
          transform: translate(-$mobile-nav-width, 0);
        }
      }
    }

    .chi-mobile-nav__header {
      align-items: center;
      background-color: $mobile-nav-header-background-color;
      display: flex;
      justify-content: center;
      min-height: 3.5rem;
      padding: 0.5rem 3rem;

      .chi-button {
        &.chi-dropdown__trigger {
          font-size: $font-size-lg;
        }

        &.-close {
          .chi-icon {
            color: $mobile-nav-drawer-close-icon-color;
          }
        }
      }

      .chi-mobile-nav__header-title {
        font-size: 1rem;
        font-weight: $font-weight-semi-bold;
        line-height: 1.5rem;
        margin: 0;
      }

      .-close,
      .-back {
        top: $mobile-nav-header-button-top;
      }

      .-back {
        left: 1rem;
        position: fixed;
        z-index: 50;
      }
    }

    .chi-mobile-nav__content {
      .chi-tabs {
        &.-vertical {
          &.-icons {
            > li {
              a {
                line-height: $line-height-md;
                padding: 0.625rem 0 0.625rem 3.5rem;

                &:hover {
                  background-color: $mobile-nav-list-item-hover-background-color;
                }

                & > .chi-icon {
                  font-size: $mobile-nav-list-item-icon-size;
                  height: $mobile-nav-list-item-icon-size;
                  line-height: $mobile-nav-list-item-icon-size;
                  width: $mobile-nav-list-item-icon-size;
                }
              }

              &:not(.-active) {
                a {
                  &:hover {
                    color: $mobile-nav-list-item-hover-text-color;
                  }
                }
              }
            }
          }
        }
      }
    }

    .chi-mobile-nav__dropdown {
      position: relative;
      width: 100%;

      &-content {
        position: absolute;
        width: 100%;
        z-index: 50;
      }
    }

    .chi-mobile-nav__user {
      align-items: center;
      background-color: $mobile-nav-user-background-color;
      border-top: 0.0625rem solid $mobile-nav-user-border-color;
      display: flex;
      justify-content: space-between;
      padding: 0.25rem 1rem;

      &-name {
        & > span {
          font-size: 0.875rem;
        }

        .chi-icon {
          margin-left: 0.5rem;
        }
      }
    }

    .chi-mobile-nav__logout {
      align-items: center;
      color: $mobile-nav-logout-text-color;
      cursor: pointer;
      display: flex;
      padding: 0.625rem 1rem 0.625rem 1.625rem;

      & > span {
        font-size: 0.875rem;
        font-weight: $font-weight-semi-bold;
      }

      .chi-icon {
        &:first-child {
          margin-right: 0.875rem;
        }

        &:last-child {
          margin-left: 0.5rem;
        }
      }

      &:hover {
        background-color: $mobile-nav-list-item-hover-background-color;
      }
    }

    .chi-mobile-nav__list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 0;
      padding-left: 0;

      > li {
        line-height: 1.25rem;

        > a {
          color: $mobile-nav-list-item-text-color;
          display: block;
          padding-bottom: 0.625rem;
          padding-left: 1.5rem;
          padding-top: 0.625rem;

          &:hover {
            background-color: $mobile-nav-list-item-hover-background-color;
            text-decoration: none;
          }
        }

        &.-active {
          &,
          &.-unselected {
            & > a {
              color: $mobile-nav-list-item-active-text-color;

              .chi-mobile-nav__list-title {
                font-weight: $font-weight-semi-bold;
              }
            }
          }

          &:not(.-expanded) {
            & > a {
              &,
              &:hover {
                background-color: $mobile-nav-list-item-active-background-color;
                box-shadow: inset 0.125rem 0 0
                  $mobile-nav-list-item-active-border-color;
              }
            }
          }

          &.-expanded {
            .-active {
              background-color: $mobile-nav-list-item-active-background-color;
              box-shadow: inset 0.125rem 0 0
                $mobile-nav-list-item-active-border-color;
            }
          }
        }

        &.-expanded {
          & > a {
            color: $mobile-nav-list-item-expanded-text-color;

            .chi-mobile-nav__list-title {
              font-weight: $font-weight-semi-bold;
            }
          }

          .chi-mobile-nav-item-tab {
            &:not(.-active) {
              &:hover {
                background-color: $mobile-nav-list-item-hover-background-color;
                color: $mobile-nav-list-item-hover-text-color;
              }
            }
          }

          .chi-mobile-nav__list-item-list {
            display: block;
          }
        }
      }

      &-title {
        align-items: center;
        display: flex;
        font-size: 0.875rem;
        font-weight: $mobile-nav-list-item-title-font-weight;
      }

      &-item-list {
        display: none;
        overflow: hidden;
        transition: height 0.075s ease-out;

        &.-transitioning {
          display: block;
        }

        .chi-tabs {
          &.-sm {
            li {
              a {
                &.chi-mobile-nav-item-tab {
                  font-size: 0.8125rem;
                  font-weight: $font-weight-normal;
                  line-height: 1.25rem;
                  padding-bottom: 0.625rem;
                  padding-left: 3rem;
                  padding-top: 0.625rem;

                  &.-active {
                    color: $mobile-nav-list-item-active-text-color;
                    font-weight: $font-weight-semi-bold;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.chi-mobile-nav__first-level {
      .chi-drawer__content {
        ul {
          &.chi-tabs {
            li {
              a {
                &.chi-drawer__subitem-list-trigger {
                  padding-right: 3rem;
                  position: relative;

                  &::after {
                    color: $mobile-nav-list-item-trigger-icon-color;
                    content: '\e920';
                    display: block;
                    font-family: $font-family-icon;
                    font-size: 0.75rem;
                    font-weight: normal;
                    height: 1rem;
                    line-height: 1.2rem;
                    position: absolute;
                    right: 1.5rem;
                    top: 0.75rem;
                    transition: 0.2s;
                    width: 0.75rem;
                  }
                }
              }

              &.-active {
                a {
                  &,
                  &:hover {
                    background-color: $mobile-nav-list-item-active-background-color;
                  }

                  &.chi-drawer__subitem-list-trigger {
                    &::after {
                      color: $mobile-nav-list-item-active-trigger-icon-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .chi-mobile-nav__drawers {
    .chi-drawer {
      box-shadow: none;
      display: block;
      left: $mobile-nav-width;
      transition-duration: 0.3s;
      z-index: 50;

      &.-active {
        left: 0;
      }

      .chi-drawer__content {
        ul {
          &.chi-mobile-nav__list {
            li {
              a {
                &.chi-drawer__subitem-list-trigger {
                  padding-right: 3rem;
                  position: relative;

                  &::after {
                    color: $mobile-nav-list-item-trigger-icon-color;
                    content: '\e91e';
                    display: block;
                    font-family: $font-family-icon;
                    font-size: 0.75rem;
                    font-weight: normal;
                    height: 1rem;
                    line-height: 1.2rem;
                    position: absolute;
                    right: 1.5rem;
                    top: 0.75rem;
                    transition: 0.2s;
                    width: 0.75rem;
                  }
                }
              }

              &.-active {
                &:not(.-expanded) {
                  a {
                    &.chi-drawer__subitem-list-trigger {
                      &::after {
                        color: $mobile-nav-list-item-active-trigger-icon-color;
                      }
                    }
                  }
                }
              }

              &.-expanded {
                a {
                  &.chi-drawer__subitem-list-trigger {
                    &::after {
                      transform: rotate(180deg);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* IE11 CSS hack */
// sass-lint:disable no-vendor-prefixes
@media all and (-ms-high-contrast: none) {
  .chi-mobile-nav {
    .chi-drawer {
      .chi-mobile-nav__header {
        button {
          &.-back {
            position: absolute;
          }

          &.-back,
          &.-close {
            top: 0.6125rem;
          }
        }
      }
    }

    .chi-mobile-nav__drawers {
      .chi-drawer {
        .chi-mobile-nav__header {
          padding: 0.75rem 3rem;
        }
      }
    }
  }
}
// sass-lint:enable no-vendor-prefixes
