---
title: Enterprise Chi-Drawer test case Pug
---
script(src='/js/chi.js')

h2 chi drawer left
button#drawer-trigger-1.chi-button.-icon.chi-drawer__trigger(data-target='#drawer-1', aria-label='Toggle navigation')
  .chi-button__content
    i.chi-icon.-sm--2.icon-menu

.chi-backdrop.-closed
  .chi-backdrop__wrapper
    #drawer-1.chi-drawer.-left
      .chi-drawer__header
        button.chi-button.-icon.-close(aria-label='Close')
          .chi-button__content
            i.chi-icon.icon-x
      .chi-drawer__content
        .-px--2.-text Drawer content here
h2 chi drawer right
button#drawer-trigger-5.chi-button.-icon.chi-drawer__trigger(data-target='#drawer-5', aria-label='Toggle navigation')
  .chi-button__content
    i.chi-icon.-sm--2.icon-menu
#drawer-5.chi-drawer.-right
  .chi-drawer__header
    button.chi-button.-icon.-close(aria-label='Close')
      .chi-button__content
        i.chi-icon.icon-x
  .chi-drawer__content
    .-px--2.-text Drawer content here

h2 chi drawer top
button#drawer-trigger-7.chi-button.-icon.chi-drawer__trigger(data-target='#drawer-7', aria-label='Toggle navigation')
  .chi-button__content
    i.chi-icon.-sm--2.icon-menu

#drawer-7.chi-drawer.-top
  .chi-drawer__header
    button.chi-button.-icon.-close(aria-label='Close')
      .chi-button__content
        i.chi-icon.icon-x
  .chi-drawer__content
    .-px--2.-text Drawer content here
h2 chi drawer bottom
button#drawer-trigger-9.chi-button.-icon.chi-drawer__trigger(data-target='#drawer-9', aria-label='Toggle navigation')
  .chi-button__content
    i.chi-icon.-sm--2.icon-menu

#drawer-9.chi-drawer.-bottom
  .chi-drawer__header
    button.chi-button.-icon.-close(aria-label='Close')
      .chi-button__content
        i.chi-icon.icon-x
  .chi-drawer__content
    .-px--2.-text Drawer content here
h2 chi drawer backdrop
button#drawer-trigger-11.chi-button.-icon.chi-drawer__trigger(data-target='#drawer-11', aria-label='Toggle navigation')
  .chi-button__content
    i.chi-icon.-sm--2.icon-menu

.chi-backdrop.-closed
  .chi-backdrop__wrapper
    #drawer-11.chi-drawer.-bottom
      .chi-drawer__header
        button.chi-button.-icon.-close(aria-label='Close')
          .chi-button__content
            i.chi-icon.icon-x
      .chi-drawer__content
        .-px--2.-text Drawer content here

h2 chi drawer titled
button#drawer-trigger-13.chi-button.-icon.chi-drawer__trigger(data-target='#drawer-13', aria-label='Toggle navigation')
  .chi-button__content
    i.chi-icon.-sm--2.icon-menu

.chi-backdrop.-closed
  .chi-backdrop__wrapper
    #drawer-13.chi-drawer.-left
      .chi-drawer__header
        span.chi-drawer__title
          | Drawer title here
        button.chi-button.-icon.-close(aria-label='Close')
          .chi-button__content
            i.chi-icon.icon-x
      .chi-drawer__content
        .-px--2.-text Drawer content here

h2 chi drawer portal
button#drawer-trigger-23.chi-button.-primary.chi-drawer__trigger(data-target='#drawer-23') Launch demo drawer

.chi-backdrop.-closed
  .chi-backdrop__wrapper
    #drawer-23.chi-drawer.-bottom.-portal
      .chi-drawer__header
        span.chi-drawer__title
          | Drawer title here
        button.chi-button.-icon.-close(aria-label='Close')
          .chi-button__content
            i.chi-icon.icon-x
      .chi-drawer__content
        .-p--2.-text Drawer content here
script.
  chi.drawer(document.getElementById('drawer-trigger-1'));
  chi.drawer(document.getElementById('drawer-trigger-5'));
  chi.drawer(document.getElementById('drawer-trigger-7'));
  chi.drawer(document.getElementById('drawer-trigger-9'));
  chi.drawer(document.getElementById('drawer-trigger-11'));
  chi.drawer(document.getElementById('drawer-trigger-13'));
  chi.drawer(document.getElementById('drawer-trigger-23'));

