---
title: Dropdown
---
script(src='/js/chi.js')

- var moreSides = ["top", "top-start", "top-end", "right", "right-start", "right-end", "bottom", "bottom-start", "bottom-end", "left", "left-start", "left-end"];


h3 Base
p  Trigger and dropdown enclosed in the same div.
.chi-dropdown
  button#dropdown-1.chi-button.chi-dropdown__trigger(data-cy="dropdown-1") Dropdown component
  .chi-dropdown__menu
    a.chi-dropdown__menu-item(href='#') Item 1
    a.chi-dropdown__menu-item(href='#') Item 2
    a.chi-dropdown__menu-item(href='#') Item 3


h3 Data-target
p  Dropdown referenced by a data-target attribute in the activator.
button#dropdown-2.chi-button.chi-dropdown__trigger(data-target='#dropdown-2-menu',data-cy="dropdown-2") Dropdown
p.-text There is no need for proximity between elements.
#dropdown-2-menu.chi-dropdown__menu
  a.chi-dropdown__menu-item(href='#') Item 1
  a.chi-dropdown__menu-item(href='#') Item 2
  a.chi-dropdown__menu-item(href='#') Item 3
  a.chi-dropdown__menu-item(href='#') Item 4

h3 Hover
p  Dropdown on hover is only supported when trigger and dropdown elements are enclosed in the same div. Use the chi-dropdown__hover class to achieve this.
.chi-dropdown.chi-dropdown__hover
  button.chi-button.chi-dropdown__trigger(data-cy="dropdown-hover") Dropdown component
  .chi-dropdown__menu
    a.chi-dropdown__menu-item(href='#') Item 1
    a.chi-dropdown__menu-item(href='#') Item 2
    a.chi-dropdown__menu-item(href='#') Item 3

h3 Animate
p  Triggers can be animated by applying the -animate class.
.chi-dropdown
  button#dropdown-animate.chi-button.chi-dropdown__trigger.-animate(data-cy="dropdown-animate") Animated dropdown trigger
  .chi-dropdown__menu
    a.chi-dropdown__menu-item(href='#') Item 1
    a.chi-dropdown__menu-item(href='#') Item 2
    a.chi-dropdown__menu-item(href='#') Item 3

h3 Position


each side in moreSides
  .chi-dropdown
    button.chi-button.chi-dropdown__trigger.-has-active(data-position=`${side}`,data-cy=`test-more-${side}`)=`${side} position`
    .chi-dropdown__menu(style='width: 15rem; position: absolute; will-change: transform; right: initial; top: 0px; left: initial; transform: translate3d(0px, -112px, 0px);', x-placement=`${side}`)
      a.chi-dropdown__menu-item(href='#') Item 1
      a.chi-dropdown__menu-item(href='#') Item 2
      a.chi-dropdown__menu-item(href='#') Item 3
          
script.
  chi.dropdown(document.getElementById('dropdown-1'));
  chi.dropdown(document.getElementById('dropdown-2'));
  chi.dropdown(document.getElementById('dropdown-animate'));
  chi.dropdown(document.querySelectorAll('.chi-dropdown .chi-dropdown__trigger'));


