---
title: Enterprise Global Navigation - sidenav component example
---
script(src='/js/chi.js')

.enterprise-nav-menu.chi(style=`height: 35rem;`)
  aside#enterprise-sidenav.-h--100.m-sidenav.-inverse.-global-nav.-flex--shrink0
    .m-sidenav__content
      nav
        ul.m-sidenav__list
          li.-active
            a(href='#enterprise-drawer-0')
              .a-icon
                svg
                  svg
                    use(xlink:href='#icon-user')
              span NoChanges
          li
            a(href='#enterprise-drawer-1')
              .a-icon
                svg
                  svg
                    use(xlink:href='#icon-user')
              span Changes
          li
            a(href='#enterprise-drawer-2')
              .a-icon
                svg
                  svg
                    use(xlink:href='#icon-logo-centurylink')
              span DeepLink
    .m-sidenav__drawers
      .enterprise-nav-menu-drawer
        #enterprise-drawer-0.m-drawer.-animated.-left
          .m-drawer__header
            span.a-drawer__title NoChanges
            button.a-btn.-icon.-close(aria-label='Close')
              .a-btn__content
                i.a-icon.icon-x
          .m-drawer__content
            ul.m-sidenav__drawer-list
              li
                a(href='#enterprise-drawer-list-0')
                  span.m-sidenav__title Home
                .enterprise-nav-menu-drawer-list
                  .m-sidenav__drawer-item-list
                    ul.a-tabs.-vertical.-sm
                      li
                        a.a-sidenav__drawer-item-tab(href='javascript:void(0)')
                          span Reports
                      li
                        a.a-sidenav__drawer-item-tab(href='javascript:void(0)')
                          span Locations
              li
                a(href='javascript:void(0)')
                  span.m-sidenav__title Locations
      .enterprise-nav-menu-drawer
        #enterprise-drawer-1.m-drawer.-animated.-left
          .m-drawer__header
            span.a-drawer__title Changes
            button.a-btn.-icon.-close(aria-label='Close')
              .a-btn__content
                i.a-icon.icon-x
          .m-drawer__content
            ul.m-sidenav__drawer-list
              li
                a(href='javascript:void(0)')
                  span.m-sidenav__title Same Option
              li
                a(href='javascript:void(0)')
                  span.m-sidenav__title Old Option
              li
                a(href='javascript:void(0)')
                  span.m-sidenav__title Change Url
              li
                a(href='javascript:void(0)')
                  span.m-sidenav__title New Option
      .enterprise-nav-menu-drawer
        #enterprise-drawer-2.m-drawer.-animated.-left
          .m-drawer__header
            span.a-drawer__title DeepLink
            button.a-btn.-icon.-close(aria-label='Close')
              .a-btn__content
                i.a-icon.icon-x
          .m-drawer__content
            ul.m-sidenav__drawer-list
              li
                a(href='#enterprise-drawer-list-0')
                  span.m-sidenav__title Option
                .enterprise-nav-menu-drawer-list
                  .m-sidenav__drawer-item-list
                    ul.a-tabs.-vertical.-sm
                      li
                        a.a-sidenav__drawer-item-tab(href='javascript:void(0)')
                          span Same Option
                      li
                        a.a-sidenav__drawer-item-tab(href='javascript:void(0)')
                          span Old Option
                      li
                        a.a-sidenav__drawer-item-tab(href='javascript:void(0)')
                          span Change Url
                      li
                        a.a-sidenav__drawer-item-tab(href='javascript:void(0)')
                          span New Option

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.sidenav(document.getElementById('enterprise-sidenav'), {
        animated: false
      });
    }
  );
