---
title: Enterprise Chi-RangeSlider test case Pug
---
script(src='../../js/chi.js')

h3 Base
.chi-form__item(style="width: 500px")
  label.chi-label(for='baseRangeSlider') Label
  .chi-input__wrapper
    input#baseRangeSlider.chi-input(type='range')
    .chi-input__progress
    .chi-input__thumb

h3 Stepped
.chi-form__item(style="width: 500px")
  label.chi-label(for='steppedRangeSlider') Label
  .chi-input__wrapper
    input#steppedRangeSlider.chi-input(type='range', min='0', max='4', step='1')
    .chi-input__tick-bar
      div
        .chi-input__tick
        .chi-input__tick-label Monthly
      div
        .chi-input__tick
        .chi-input__tick-label 1 year
      div
        .chi-input__tick
        .chi-input__tick-label 2 years
      div
        .chi-input__tick
        .chi-input__tick-label 3 years
      div
        .chi-input__tick
        .chi-input__tick-label &gt; 3 years
    .chi-input__progress
    .chi-input__thumb

script.
  chi.rangeSlider(document.getElementById('baseRangeSlider'));
  chi.rangeSlider(document.getElementById('steppedRangeSlider'));
