---
title: Sidenav
---
script(src='../../js/chi.js')

.enterprise-nav-menu.chi(style='height: 35rem;')
  aside#sidenav-0.chi-sidenav.-h--75
    .chi-sidenav__content
      nav
        ul.chi-sidenav__list
          li.-active
            a(href='#drawer-0-1')
              i.chi-icon.icon-atom(aria-hidden="true")
              span Active Item
          li
            a(href='#drawer-0-2')
              i.chi-icon.icon-atom(aria-hidden="true")
              span Menu Item
    .chi-sidenav__drawers
      #drawer-0-1.chi-drawer.-animated.-left
        .chi-drawer__header
          .chi-drawer__title Menu item 1
          button.chi-button.-icon.-close(aria-label='Close')
            .chi-button__content
              i.chi-icon.icon-x(aria-hidden="true")
        .chi-drawer__content
          ul.chi-sidenav__drawer-list
            li
              a(href='#drawer-item-list-1-A')
                .chi-sidenav__title Title A
              #drawer-item-list-1-A.chi-sidenav__drawer-item-list
                ul.chi-tabs.-vertical.-sm
                  li
                    a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                      | Sub tab A
                  li
                    a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                      | Sub tab B
                  li
                    a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                      | Sub tab C
            li.-active.-expanded
              a(href='#drawer-item-list-1-B')
                .chi-sidenav__title Title B
              #drawer-item-list-1-B.chi-sidenav__drawer-item-list
                ul.chi-tabs.-vertical.-sm
                  li
                    a.chi-sidenav__drawer-item-tab.-active(href='#exampleHashTarget')
                      | Sub tab A
                  li
                    a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                      | Sub tab B
                  li
                    a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                      | Sub tab C
            li
              a(href='#exampleHashTarget')
                span.chi-sidenav__title
                  | Title C
                  i.chi-icon.icon-external-link.-xs(aria-hidden="true")
            li
              a(href='#exampleHashTarget')
                span.chi-sidenav__title
                  | Title D
                  i.chi-icon.icon-external-link.-xs(aria-hidden="true")
      #drawer-0-2.chi-drawer.-animated.-left
        .chi-drawer__header
          .chi-drawer__title Menu item 2
          button.chi-button.-icon.-close(aria-label='Close')
            .chi-button__content
              i.chi-icon.icon-x(aria-hidden="true")
        .chi-drawer__content
          ul.chi-sidenav__drawer-list
            li
              a(href='#drawer-item-list-2-A')
                .chi-sidenav__title Title E
              #drawer-item-list-2-A.chi-sidenav__drawer-item-list
                ul.chi-tabs.-vertical.-sm
                  li
                    a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                      | Sub tab A
                  li
                    a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                      | Sub tab B
                  li
                    a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                      | Sub tab C
            li
              a(href='#drawer-item-list-2-B')
                .chi-sidenav__title Title F
              #drawer-item-list-2-B.chi-sidenav__drawer-item-list
                ul.chi-tabs.-vertical.-sm
                  li
                    a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                      | Sub tab A
                  li
                    a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                      | Sub tab B
                  li
                    a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                      | Sub tab C
            li
              a(href='#exampleHashTarget')
                span.chi-sidenav__title
                  | Title G
                  i.chi-icon.icon-external-link.-xs(aria-hidden="true")
            li
              a(href='#exampleHashTarget')
                span.chi-sidenav__title
                  | Title H
                  i.chi-icon.icon-external-link.-xs(aria-hidden="true")

aside#sidenav-1.chi-sidenav.-flex--shrink0.-animated
  .chi-sidenav__content
    nav
      ul.chi-sidenav__list
        li.-active
          a(href='#drawer-2-1')
            i.chi-icon.icon-atom(aria-hidden='true')
            span Active Item
        li
          a(href='#drawer-2-2')
            i.chi-icon.icon-atom(aria-hidden='true')
            span Menu Item
        li
          a(href='#drawer-2-3')
            i.chi-icon.icon-atom(aria-hidden='true')
            span Menu Item
        li
          a(href='#drawer-2-4')
            i.chi-icon.icon-atom(aria-hidden='true')
            span Menu Item
  .chi-sidenav__drawers
    #drawer-2-1.chi-drawer.-animated.-left
      .chi-drawer__header
        .chi-drawer__title Menu item 1
        button.chi-button.-icon.-close(aria-label='Close')
          .chi-button__content
            i.chi-icon.icon-x(aria-hidden='true')
      .chi-drawer__content
        .chi-accordion
          .chi-accordion__item.-active.-expanded
            button.chi-accordion__trigger
              .chi-accordion__title Title 1
              i.chi-icon.icon-chevron-down(aria-hidden='true')
            .chi-accordion__content
              .chi-accordion
                .chi-accordion__item
                  button.chi-accordion__trigger
                    .chi-accordion__title Accordion A
                    i.chi-icon.icon-chevron-down(aria-hidden='true')
                  .chi-accordion__content
                    a(href='#exampleHashTarget')
                      span
                        | Title 1
                    a(href='#exampleHashTarget')
                      span
                        | Title 2
                    a(href='#exampleHashTarget')
                      span
                        | Title 3
                .chi-accordion__item.-active.-expanded
                  button.chi-accordion__trigger
                    .chi-accordion__title Accordion B
                    i.chi-icon.icon-chevron-down(aria-hidden='true')
                  .chi-accordion__content
                    a(href='#exampleHashTarget')
                      span
                        | Title 1
                    a.-active(href='#exampleHashTarget')
                      span
                        | Title 2
                    a(href='#exampleHashTarget')
                      span
                        | Title 3
          a(href='#exampleHashTarget')
            span
              | External 1
              i.chi-icon.icon-external-link.-xs(aria-hidden='true')
    #drawer-2-2.chi-drawer.-left.-animated
      .chi-drawer__header
        .chi-drawer__title Menu item 2
        button.chi-button.-icon.-close(aria-label='Close')
          .chi-button__content
            i.chi-icon.icon-x(aria-hidden='true')
      .chi-drawer__content
        .chi-accordion
          .chi-accordion__item
            button.chi-accordion__trigger
              .chi-accordion__title Title 2
              i.chi-icon.icon-chevron-down(aria-hidden='true')
            .chi-accordion__content
              .chi-accordion
                .chi-accordion__item
                  button.chi-accordion__trigger
                    .chi-accordion__title Accordion A
                    i.chi-icon.icon-chevron-down(aria-hidden='true')
                  .chi-accordion__content
                    a(href='#exampleHashTarget')
                      span
                        | Title 1
                    a(href='#exampleHashTarget')
                      span
                        | Title 2
                    a(href='#exampleHashTarget')
                      span
                        | Title 3
                .chi-accordion__item
                  button.chi-accordion__trigger
                    .chi-accordion__title Accordion B
                    i.chi-icon.icon-chevron-down(aria-hidden='true')
                  .chi-accordion__content
                    a(href='#exampleHashTarget')
                      span
                        | Title 1
                    a(href='#exampleHashTarget')
                      span
                        | Title 2
                    a(href='#exampleHashTarget')
                      span
                        | Title 3
          a(href='#exampleHashTarget')
            span
              | External 2
              i.chi-icon.icon-external-link.-xs(aria-hidden='true')
    #drawer-2-3.chi-drawer.-left.-animated
      .chi-drawer__header
        .chi-drawer__title Menu item 3
        button.chi-button.-icon.-close(aria-label='Close')
          .chi-button__content
            i.chi-icon.icon-x(aria-hidden='true')
      .chi-drawer__content
        .chi-accordion
          .chi-accordion__item
            button.chi-accordion__trigger
              .chi-accordion__title Title 3
              i.chi-icon.icon-chevron-down(aria-hidden='true')
            .chi-accordion__content
              .chi-accordion
                .chi-accordion__item
                  button.chi-accordion__trigger
                    .chi-accordion__title Accordion A
                    i.chi-icon.icon-chevron-down(aria-hidden='true')
                  .chi-accordion__content
                    a(href='#exampleHashTarget')
                      span
                        | Title 1
                    a(href='#exampleHashTarget')
                      span
                        | Title 2
                    a(href='#exampleHashTarget')
                      span
                        | Title 3
                .chi-accordion__item
                  button.chi-accordion__trigger
                    .chi-accordion__title Accordion B
                    i.chi-icon.icon-chevron-down(aria-hidden='true')
                  .chi-accordion__content
                    a(href='#exampleHashTarget')
                      span
                        | Title 1
                    a(href='#exampleHashTarget')
                      span
                        | Title 2
                    a(href='#exampleHashTarget')
                      span
                        | Title 3
          a(href='#exampleHashTarget')
            span
              | External 3
              i.chi-icon.icon-external-link.-xs(aria-hidden='true')
    #drawer-2-4.chi-drawer.-left.-animated
      .chi-drawer__header
        .chi-drawer__title Menu item 4
        button.chi-button.-icon.-close(aria-label='Close')
          .chi-button__content
            i.chi-icon.icon-x(aria-hidden='true')
      .chi-drawer__content
        .chi-accordion
          .chi-accordion__item
            button.chi-accordion__trigger
              .chi-accordion__title Title 4
              i.chi-icon.icon-chevron-down(aria-hidden='true')
            .chi-accordion__content
              .chi-accordion
                .chi-accordion__item
                  button.chi-accordion__trigger
                    .chi-accordion__title Accordion A
                    i.chi-icon.icon-chevron-down(aria-hidden='true')
                  .chi-accordion__content
                    a(href='#exampleHashTarget')
                      span
                        | Title 1
                    a(href='#exampleHashTarget')
                      span
                        | Title 2
                    a(href='#exampleHashTarget')
                      span
                        | Title 3
                .chi-accordion__item
                  button.chi-accordion__trigger
                    .chi-accordion__title Accordion B
                    i.chi-icon.icon-chevron-down(aria-hidden='true')
                  .chi-accordion__content
                    a(href='#exampleHashTarget')
                      span
                        | Title 1
                    a(href='#exampleHashTarget')
                      span
                        | Title 2
                    a(href='#exampleHashTarget')
                      span
                        | Title 3
          a(href='#exampleHashTarget')
            span
              | External 4
              i.chi-icon.icon-external-link.-xs(aria-hidden='true')

  script.
    chi.sidenav(document.getElementById('sidenav-0'));
    chi.sidenav(document.getElementById('sidenav-1'));
