@import '_global-variables';
@import '_global-mixins';

$border: 0.0625rem;

.chi-activity {
  font-size: $font-size-base;
  line-height: $line-height;

  &__day {
    .chi-activity__header {
      border-bottom: 0.0625rem solid rgba($color-black, 0.12);
      font-weight: $font-weight-semi-bold;
      padding: 0.5rem 0;
    }

    .chi-activity__content {
      .chi-activity {
        &__item {
          align-items: flex-start;
          border-bottom: $border solid $color-border-base-light;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          padding: 1.5rem 0;

          & .chi-avatar {
            margin-right: 0.75rem;

            @include respond-to(md) {
              height: 3rem;
              width: 3rem;
            }
          }

          .chi-activity__start {
            min-width: 6rem;

            @include respond-to(md) {
              min-width: 9rem;
            }

            & div {
              align-items: center;
              display: flex;

              & .chi-icon {
                color: $color-grey-60;
                display: none;
                margin-right: 1.5rem;

                @include respond-to(md) {
                  display: block;
                }
              }
            }
          }

          .chi-activity__end {
            flex-direction: column;
            width: 100%;

            &-header {
              & strong,
              & a {
                color: $color-text-base;
                font-weight: $font-weight-semi-bold;
              }
            }

            &-content {
              margin: 0.5rem 0;

              & ul {
                border: $border solid $color-border-base-dark;
                flex-direction: column;
                list-style-type: none;
                margin: 0;
                overflow: auto;
                padding: 0;

                & li {
                  border-bottom: $border solid $color-border-base-light;
                  display: flex;
                  justify-content: flex-start;
                  line-height: $line-height;
                  padding: 0.875rem 1rem;

                  & div:first-of-type {
                    display: flex;
                    flex-direction: column;

                    @include respond-to(md) {
                      align-items: center;
                      flex-direction: row;
                      flex-grow: 1;
                    }
                  }

                  & .chi-icon {
                    flex-shrink: 0;
                    margin-right: 1rem;
                  }

                  & .-time {
                    align-self: start;
                    color: $color-grey-60;
                    font-size: $font-size-sm;
                    text-align: right;

                    @include respond-to(md) {
                      margin-left: 2rem;
                    }
                  }

                  &:last-child {
                    border-bottom: 0;
                  }
                }
              }
            }

            &-footer {
              color: $color-grey-60;
            }
          }

          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }

  &.-feed {
    & .chi-activity__item {
      .chi-activity__start {
        min-width: auto;
      }
    }

    &.-compact {
      & .chi-activity__item {
        align-items: center;
        padding: 0.75rem 0;

        & .chi-avatar {
          height: 2rem;
          width: 2rem;
        }
      }
    }

    &.-stories {
      & .chi-activity__day {
        border-bottom: 0.0625rem solid rgba($color-black, 0.12);

        &:first-of-type {
          & .chi-activity__item {
            padding-top: 0;
          }
        }

        &:last-child {
          border-bottom: 0;
        }
      }

      & .chi-activity__item {
        padding: 1.5rem 0;

        & .chi-avatar {
          margin-right: 1rem;
        }
      }
    }
  }
}
