aside.docs-body__aside
  nav
    ul.c-tabs.c-tabs--vertical.c-tabs--border.c-tabs--large
      each collection, key in collections
        if utils.isCurrentCollection(collection, path)
          li.c-tab--active
            a(href='/' + collection[0].path) #{key}
            if utils.hasSections(collection)
              ul.c-subtabs
                each section in collection
                  li(class=section.path === path ? "c-subtab--active" : "")
                    a(href="/" + section.path) #{section.title}
        else
          li
            a(href='/' + collection[0].path) #{key}
