---
title: Border
description: Use shorthand border utility classes to control border, border width and border color on elements.
---

h2 Notation
p.-text Border utility classes can be defined using the format <code>-b{sides}[-{breakpoint}]--{size}</code>.
h3 {sides}
ul.-text
  li <code>t</code> - use to apply <code>border-top</code>
  li <code>b</code> - use to apply <code>border-bottom</code>
  li <code>l</code> - use to apply <code>border-left</code>
  li <code>r</code> - use to apply <code>border-right</code>
  li <code>x</code> - use to apply <code>border-left</code> and <code>border-right</code>
  li <code>y</code> - use to apply <code>border-top</code> and <code>border-bottom</code>
  li blank - leave blank to apply <code>border</code> to all 4 sides.
h3 {breakpoint}
p.-text
  | Optionally include -{breakpoint} to apply the utility behaviour to some breakpoints. As a mobile first library,
  | any applying to smaller breakpoint will modify also larger ones unless other class overrides this behaviour.
ul.-text
  li blank - leave blank to apply <code>border</code> to all breakpoints.
  li <code>sm</code> - use to apply <code>border</code> to sm and larger breakpoints.
  li <code>md</code> - use to apply <code>border</code> to ms and larger breakpoints.
  li <code>lg</code> - use to apply <code>border</code> to lg and larger breakpoints.
  li <code>xl</code> - use to apply <code>border</code> to xl breakpoints.
h3 {size}
ul.-text
  li <code>0</code> - use to eliminate existing <code>border</code> and set to <code>0</code>
  li <code>1</code> - use to set <code>border</code> to <code>1px</code>
  li <code>2</code> - use to set <code>border</code> to <code>2px</code>
  li <code>3</code> - use to set <code>border</code> to <code>3px</code>
  li <code>4</code> - use to set <code>border</code> to <code>4px</code>

h2 Examples
h3 Border Sides
p.-text
  | Apply borders to specific sides of an element by adding <code>t</code>,
  | <code>b</code>, <code>l</code>, <code>r</code>, <code>x</code> or <code>y</code>
  | to the class name.
.example.-mb--3
  .-p--2
    .chi-grid.-text.-no-gutter.-text--center
      .chi-col.-w--6.-w-md--3.-w-xl--2
        .-m--1.-p--1.-py--5.-bt--1.-bg--grey-10 -bt--1
      .chi-col.-w--6.-w-md--3.-w-xl--2
        .-m--1.-p--1.-py--5.-br--1.-bg--grey-10 -br--1
      .chi-col.-w--6.-w-md--3.-w-xl--2
        .-m--1.-p--1.-py--5.-bb--1.-bg--grey-10 -bb--1
      .chi-col.-w--6.-w-md--3.-w-xl--2
        .-m--1.-p--1.-py--5.-bl--1.-bg--grey-10 -bl--1
      .chi-col.-w--6.-w-md--3.-w-xl--2
        .-m--1.-p--1.-py--5.-bx--1.-bg--grey-10 -bx--1
      .chi-col.-w--6.-w-md--3.-w-xl--2
        .-m--1.-p--1.-py--5.-by--1.-bg--grey-10 -by--1
  :code(lang="html")
    <div class="-bt--1"></div>
    <div class="-br--1"></div>
    <div class="-bb--1"></div>
    <div class="-bl--1"></div>
    <div class="-bx--1"></div>
    <div class="-by--1"></div>
h3 Breakpoints
p.-text
  | Target specific breakpoints with responsive classes.
.example.-mb--3
  .-p--2
    .chi-grid.-text.-no-gutter.-text--center
      .chi-col.-w--6.-d--flex
        .-d--flex.-flex--grow1.-align-items--center.-justify-content--center.-m--1.-p--1.-py--5.-bx--0.-by--4.-bx-lg--4.-by-lg--0.-bg--grey-10
          | -bx--0 -by--4<br>-bx-lg--4 -by-lg--0
      .chi-col.-w--6
        .-d--flex.-flex--grow1.-align-items--center.-justify-content--center.-m--1.-p--1.-py--5.-b--0.-b-sm--1.-b-md--2.-b-lg--3.-b-xl--4.-bg--grey-10
          | -b--0 -b-sm--1<br>-b-md--2 -b-lg--3<br>-b-xl--4
  :code(lang="html")
    <div class="-bx--0 -by--4 -bx-lg--4 -by-lg--0"></div>
    <div class="-b--0 -b-sm--1 -b-md--2 -b-lg--3 -b-xl--4"></div>
h3 Border Sizes
p.-text
  | Control an elements border size by adjusting the size from <code>0</code> - <code>4</code>.
.example.-mb--3
  .-p--2
    .chi-grid.-text.-no-gutter.-text--center
      .chi-col.-w--6.-w-md--3.-w-xl--2
        .-m--1.-p--1.-py--5.-b--0.-bg--grey-10 -b--0
      .chi-col.-w--6.-w-md--3.-w-xl--2
        .-m--1.-p--1.-py--5.-b--1.-bg--grey-10 -b--1
      .chi-col.-w--6.-w-md--3.-w-xl--2
        .-m--1.-p--1.-py--5.-b--2.-bg--grey-10 -b--2
      .chi-col.-w--6.-w-md--3.-w-xl--2
        .-m--1.-p--1.-py--5.-b--3.-bg--grey-10 -b--3
      .chi-col.-w--6.-w-md--3.-w-xl--2
        .-m--1.-p--1.-py--5.-b--4.-bg--grey-10 -b--4
  :code(lang="html")
    <div class="-b--0"></div>
    <div class="-b--1"></div>
    <div class="-b--2"></div>
    <div class="-b--3"></div>
    <div class="-b--4"></div>
h3 Border Colors
p.-text
  | Use contextual color classes to change a borders color.
h4 Brand
p.-text
  | Brand border colors reinforce CenturyLink's brand. Use primary and secondary as accents and base, dark, and light as neutrals.
.example.-mb--3
  .-p--3
    .chi-grid.-no-gutter.-text.-text--center.-mb--2
      .chi-col.-w--6.-w-md--3.-w-xl--2
        .-m--1.-p--1.-py--5.-b--1.-bg--grey-10 Base
      .chi-col.-w--6.-w-md--3.-w-xl--2
        .-m--1.-p--1.-py--5.-b--1.-b--primary.-bg--grey-10 Primary
      .chi-col.-w--6.-w-md--3.-w-xl--2
        .-m--1.-p--1.-py--5.-b--1.-b--dark.-bg--grey-10 Dark
    .chi-grid.-no-gutter.-text.-text--center.-bg--black.-text--white
      .chi-col.-w--6.-w-md--3.-w-xl--2
        .-m--1.-p--1.-py--5.-b--1.-b--secondary Secondary
      .chi-col.-w--6.-w-md--3.-w-xl--2
        .-m--1.-p--1.-py--5.-b--1.-b--light Light
  :code(lang="html")
    <!-- For light backgrounds -->
    <div class="-b--1"></div>
    <div class="-b--1 -b--primary"></div>
    <div class="-b--1 -b--dark"></div>
    <!-- For dark backgrounds -->
    <div class="-b--1 -b--secondary"></div>
    <div class="-b--1 -b--light"></div>
h4 Semantic
p.-text
  | Use semantic border colors to communicate meaning to users. Use green (success) for positive, blue (info) for informative,
  | red (danger) for negative, and yellow (warning) for needs attention.
.example.-mb--3
  .-p--3
    .chi-grid.-no-gutter.-text.-text--center
      .chi-col.-w--6.-w-md--3.-w-xl--2
        .-m--1.-p--1.-py--5.-b--1.-b--success.-bg--grey-10 Success
      .chi-col.-w--6.-w-md--3.-w-xl--2
        .-m--1.-p--1.-py--5.-b--1.-b--info.-bg--grey-10 Info
      .chi-col.-w--6.-w-md--3.-w-xl--2
        .-m--1.-p--1.-py--5.-b--1.-b--danger.-bg--grey-10 Danger
      .chi-col.-w--6.-w-md--3.-w-xl--2
        .-m--1.-p--1.-py--5.-b--1.-b--warning.-bg--grey-10 Warning
  :code(lang="html")
    <div class="-b--1 -b--success"></div>
    <div class="-b--1 -b--info"></div>
    <div class="-b--1 -b--danger"></div>
    <div class="-b--1 -b--warning"></div>
h4 Transparent
p.-text
  | Use the transparent border color as a method to hide an elements border without altering its size.
.example.-mb--3
  .-p--3
    .chi-grid.-no-gutter.-text.-text--center
      .chi-col.-w--6.-w-md--3.-w-xl--2
        .-m--1.-p--1.-py--5.-b--1.-b--transparent.-bg--grey-10 Transparent
  :code(lang="html")
    <div class="-b--1 -b--transparent"></div>
h4 Responsive
p.-text
  | Use breakpoint classes to change an elements border color on different viewports. Follow the format <code>-b[-{breakpoint}]--{color}</code>.
.example.-mb--3
  .-p--2
    .chi-grid.-no-gutter.-text.-text--center
      .chi-col.-w--8
        .-m--1.-p--1.-py--4.-b--1.-b--primary.-b-sm--dark.-b-md--danger.-b-lg--success.-b-xl--warning.-bg--grey-10
          | -b--primary -b-sm--dark -b-md--danger -b-lg--success -b-xl--warning
  :code(lang="html")
    <div class="-b--1 -b--primary -b-sm--dark -b-md--danger -b-lg--success -b-xl--warning"></div>
