---
title: Border
description: Use shorthand border utility classes to control border, border width and border color on elements.
---

h2 Notation
p.-text Border utility classes can be defined using the format <code>-b{sides}[-{breakpoint}]--{size}</code>.
h3 {sides}
ul.-text
  li <code>t</code> - use to apply <code>border-top</code>
  li <code>b</code> - use to apply <code>border-bottom</code>
  li <code>l</code> - use to apply <code>border-left</code>
  li <code>r</code> - use to apply <code>border-right</code>
  li <code>x</code> - use to apply <code>border-left</code> and <code>border-right</code>
  li <code>y</code> - use to apply <code>border-top</code> and <code>border-bottom</code>
  li blank - leave blank to apply <code>border</code> to all 4 sides.
h3 {breakpoint}
p.-text
  | Optionally include -{breakpoint} to apply the utility behaviour to some breakpoints. As a mobile first library,
  | any applying to smaller breakpoint will modify also larger ones unless other class overrides this behaviour.
ul.-text
  li blank - leave blank to apply <code>border</code> to all breakpoints.
  li <code>sm</code> - use to apply <code>border</code> to sm and larger breakpoints.
  li <code>md</code> - use to apply <code>border</code> to ms and larger breakpoints.
  li <code>lg</code> - use to apply <code>border</code> to lg and larger breakpoints.
  li <code>xl</code> - use to apply <code>border</code> to xl breakpoints.
h3 {size}
ul.-text
  li <code>0</code> - use to eliminate existing <code>border</code> and set to <code>0</code>
  li <code>1</code> - use to set <code>border</code> to <code>1px</code>
  li <code>2</code> - use to set <code>border</code> to <code>2px</code>
  li <code>3</code> - use to set <code>border</code> to <code>3px</code>
  li <code>4</code> - use to set <code>border</code> to <code>4px</code>

h2 Examples
h3 Border Sides
p.-text
  | Apply borders to specific sides of an element by adding <code>t</code>,
  | <code>b</code>, <code>l</code>, <code>r</code>, <code>x</code> or <code>y</code>
  | to the class name.
.example.-mb--3
  .-p--2
    .a-grid.-text.-noGutter.-text--center
      .-py--5.-m--2.-bt--1(style="background:#F8F8F8;width:7.5rem;") -bt--1
      .-py--5.-m--2.-br--1(style="background:#F8F8F8;width:7.5rem;") -br--1
      .-py--5.-m--2.-bb--1(style="background:#F8F8F8;width:7.5rem;") -bb--1
      .-py--5.-m--2.-bl--1(style="background:#F8F8F8;width:7.5rem;") -bl--1
      .-py--5.-m--2.-bx--1(style="background:#F8F8F8;width:7.5rem;") -bx--1
      .-py--5.-m--2.-by--1(style="background:#F8F8F8;width:7.5rem;") -by--1
  :code(lang="html")
    <div class="-bt--1"></div>
    <div class="-br--1"></div>
    <div class="-bb--1"></div>
    <div class="-bl--1"></div>
    <div class="-bx--1"></div>
    <div class="-by--1"></div>
h3 Breakpoints
p.-text
  | Target specific breakpoints with responsive classes.
.example.-mb--3
  .-p--2
    .a-grid.-text.-noGutter.-text--center
      .-py--5.-m--2.-bx--0.-by--4.-bx-lg--4.-by-lg--0(style="background:#F8F8F8;width:9rem;") -bx--0 -by--4<br>-bx-lg--4 -by-lg--0
      .-py--5.-m--2.-b--0.-b-sm--1.-b-md--2.-b-lg--3.-b-xl--4(style="background:#F8F8F8;width:9rem;") -b--0 -b-sm--1<br>-b-md--2 -b-lg--3<br>-b-xl--4
  :code(lang="html")
    <div class="-bx--0 -by--4 -bx-lg--4 -by-lg--0"></div>
    <div class="-b--0 -b-sm--1 -b-md--2 -b-lg--3 -b-xl--4"></div>
h3 Border Sizes
p.-text
  | Control an elements border size by adjusting the size from <code>0</code> - <code>4</code>.
.example.-mb--3
  .-p--2
    .a-grid.-text.-noGutter.-text--center
      .-py--5.-m--2.-b--0(style="background:#F8F8F8;width:7.5rem;") -b--0
      .-py--5.-m--2.-b--1(style="background:#F8F8F8;width:7.5rem;") -b--1
      .-py--5.-m--2.-b--2(style="background:#F8F8F8;width:7.5rem;") -b--2
      .-py--5.-m--2.-b--3(style="background:#F8F8F8;width:7.5rem;") -b--3
      .-py--5.-m--2.-b--4(style="background:#F8F8F8;width:7.5rem;") -b--4
  :code(lang="html")
    <div class="-b--0"></div>
    <div class="-b--1"></div>
    <div class="-b--2"></div>
    <div class="-b--3"></div>
    <div class="-b--4"></div>
h3 Border Colors
p.-text
  | Use contextual color classes to change a borders color.
.example.-mb--3
  .-p--2
    .a-grid.-noGutter.-text.-text--center
      .-m--2.-py--5.-b--1(style="background:#F8F8F8;width:7.5rem;") Base
      .-m--2.-py--5.-b--1.-b--primary(style="background:#F8F8F8;width:7.5rem;") -b--primary
      .-m--2.-py--5.-b--1.-b--success(style="background:#F8F8F8;width:7.5rem;") -b--success
      .-m--2.-py--5.-b--1.-b--danger(style="background:#F8F8F8;width:7.5rem;") -b--danger
      .-m--2.-py--5.-b--1.-b--warning(style="background:#F8F8F8;width:7.5rem;") -b--warning
      .-m--2.-py--5.-b--1.-b--dark(style="background:#F8F8F8;width:7.5rem;") -b--dark
      .-m--2.-py--5.-b--1.-b--light(style="background:#F8F8F8;width:7.5rem;") -b--light
  :code(lang="html")
    <div class="-b--1"></div>
    <div class="-b--1 -b--primary"></div>
    <div class="-b--1 -b--success"></div>
    <div class="-b--1 -b--danger"></div>
    <div class="-b--1 -b--warning"></div>
    <div class="-b--1 -b--dark"></div>
    <div class="-b--1 -b--light"></div>
p.-text
  | Breakpoint classes also work here. The format is <code>-b[-{breakpoint}]--{color}</code>.
.example.-mb--3
  .-p--2
    .a-grid.-noGutter.-text.-text--center
      .-m--2.-p--5.-b--1.-b--primary.-b-sm--dark.-b-md--danger.-b-lg--success.-b-xl--warning(style="background:#F8F8F8") -b--primary -b-sm--dark -b-md--danger -b-lg--info -b-xl--warning
  :code(lang="html")
    <div class="-b--1 -b--primary -b-sm--dark -b-md--danger -b-lg--success -b-xl--warning"></div>
