---
title: Close
---

p.-text Use a dismiss button with the class <code>-close</code> to use in components who need to hide the information
  |  ( alerts, modals, etc).

.example.-mb3
  .-p3
    button(class='a-btn -icon -close')
      .a-btn__content
        .a-icon
          i.a-icon.icon-x
  ul#a-tabs.a-tabs.-ml3
    li.-active
      a(href='#a-tabs-panel-webfont') Web Font
    li
      a(href='#a-tabs-panel-svg') SVG
  #a-tabs-panel-webfont.a-tabs-panel.-active
    :code(lang="html")
      <button class="a-btn -icon -close">
        <div class="a-btn__content">
          <i class="a-icon icon-x"></i>
        </div>
      </button>
  #a-tabs-panel-svg.a-tabs-panel
    :code(lang="html")
      <button class="a-btn -icon -close">
        <div class="a-btn__content">
          <div class="a-icon">
            <svg>
              <use xlink:href="#icon-x"></use>
            </svg>
          </div>
        </div>
      </button>

script(type="text/javascript", src=`../../tabs.js`)
//!= '<script>Array.prototype.forEach.call(document.getElementsByClassName(\'a-tabs\'), function(e){chiTabs.init(e);});</script>'
!= '<script>chiTabs.init(document.getElementById(\'a-tabs\'));chiTabs.init(document.getElementById(\'a-tabs\'));</script>'
