---
title: Display
description: Use shorthand display utility classes to quickly change an elements display value.
styles: [assets/styles/show-example]
---

h2 Notation
p.-text
  | Display utility classes can be defined using the format <code>-d-{breakpoint}--{value}</code>.
  | Breakpoints supported are <code>sm</code>, <code>md</code>, <code>lg</code>, and <code>xl</code>.

h3 Target all breakpoints
p.-text Display utility classes with no breakpoint defined apply to all screen sizes.
section.a-table.-bordered.-mt--3.-mb--3
  div
    table.-text(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Display Class
          th
            div Value
      tbody
        each type in ['none', 'inline', 'inline-block', 'block', 'table', 'table-cell', 'table-row', 'flex', 'inline-flex']
          tr
            td(width='40%')
              code= '-d--' + type
            td
              code= 'display: ' + type + ';'

h3 Target specific breakpoints
p.-text
  | To target a specific breakpoint, add the breakpoint abbreviation to the class. As a mobile first framework, it will
  | apply to that specific breakpoint and up.
section.a-table.-bordered.-mt--3.-mb--3
  div
    table(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Display Class
          th
            div Value
      tbody
        each type in ['sm', 'md', 'lg', 'xl']
          tr
            td.-text(width='40%')
              code= '-d-' + type + '--none'
            td.-text Hidden only on <code>#{type}</code>

h2 Examples
.example.-mb--3
  .-p--3.-show--example
    .-text.-p--3.-m--1.-d--none.-d-xl--inline-flex -d--none -d-xl--inline-flex
    .-text.-p--3.-m--1.-d--flex.-d-sm--none -d-sm--none
    .-text.-p--3.-m--1.-d--inline-flex -d--inline-flex
    .-text.-p--3.-m--1.-d--flex -d--flex
  :code(lang="html")
    <!-- hidden on all breakpoints except xl -->
    <div class="-d--none -d-xl--inline-flex"></div>
    <!-- hidden on sm breakpoints -->
    <div class="-d-sm--none"></div>
    <!-- inline-flex on all breakpoints -->
    <div class="-d--inline-flex"></div>
    <!-- flex on all breakpoints -->
    <div class="-d--flex"></div>
