---
title: Image
description: Use to change the responsive behavior of an image element.
---

h2 Examples
h3 Responsive images
p.-text
  | Use <code>-img--responsive</code> to enable responsive behavior on image elements.
  | When applied, images will scale proportionally on all devices and not exceed
  | the width or height of their parent container.
.example.-mb--3
  .-p--2
    svg.-img--responsive(width='100%' height='250' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder responsive image' preserveAspectRatio='xMidYMid slice' focusable='false')
      title Placeholder image
      rect(width='100%' height='100%' fill='#000000')
      text(x='50%' y='50%' class='-text--h2' fill='#FFFFFF' dominant-baseline='middle' text-anchor='middle') Responsive image
  :code(lang="html")
    <img src="" class="-img--responsive" alt="">
