---
title: Position
description: Use shorthand position utility classes to quickly change an elements position value.
---

h2 Notation
p.-text
  | Position utility classes can be defined using the format <code>-position-{viewport}--{value}</code>.
  | Viewports supported are <code>sm</code>, <code>md</code>, <code>lg</code>, and <code>xl</code>.

h2 Target all viewports
p.-text Use to set an elements position on all viewports.

h2.-py--2 Base

h3 Static
.-mb--2
  :code(lang='html')
    <div class="-position--static"></div>

h3 Relative
.-mb--2
  :code(lang='html')
    <div class="-position--relative"></div>

h3 Fixed
.-mb--2
  :code(lang='html')
    <div class="-position--fixed"></div>

h3 Absolute
.-mb--2
  :code(lang='html')
    <div class="-position--absolute"></div>

h3 Sticky
.-mb--4
  :code(lang='html')
    <div class="-position--sticky"></div>

h2.-py--2 Additional classes
h3 Fixed Top
p.-text
  | Use the <code>-position--fixed-top</code> class to position an element at the top of the viewport.
.-mb--2
  :code(lang='html')
    <div class="-position--fixed-top"></div>

h3 Fixed Bottom
p.-text
  | Use the <code>-position--fixed-bottom</code> class to position an element at the bottom of the viewport.
.-mb--2
  :code(lang='html')
    <div class="-position--fixed-bottom"></div>

h2.-py--2 Target specific viewports
p.-text
 | To target a specific viewport, add the viewport abbreviation to the class.
 | It's important to note that viewport-specific classes apply to their respective
 | viewport and any larger viewport (unless overridden by a larger viewport class).

h3 Static
.-mb--2
  :code(lang='html')
    <div class="-position-sm--static"></div>
    <div class="-position-md--static"></div>
    <div class="-position-lg--static"></div>
    <div class="-position-xl--static"></div>

h3 Relative
.-mb--2
  :code(lang='html')
    <div class="-position-sm--relative"></div>
    <div class="-position-md--relative"></div>
    <div class="-position-lg--relative"></div>
    <div class="-position-xl--relative"></div>

h3 Fixed
.-mb--2
  :code(lang='html')
    <div class="-position-sm--fixed"></div>
    <div class="-position-md--fixed"></div>
    <div class="-position-lg--fixed"></div>
    <div class="-position-xl--fixed"></div>

h3 Absolute
.-mb--2
  :code(lang='html')
    <div class="-position-sm--absolute"></div>
    <div class="-position-md--absolute"></div>
    <div class="-position-lg--absolute"></div>
    <div class="-position-xl--absolute"></div>

h3 Sticky
.-mb--2
  :code(lang='html')
    <div class="-position-sm--sticky"></div>
    <div class="-position-md--sticky"></div>
    <div class="-position-lg--sticky"></div>
    <div class="-position-xl--sticky"></div>

h3 Fixed Top
.-mb--2
  :code(lang='html')
    <div class="-position-sm--fixed-top"></div>
    <div class="-position-md--fixed-top"></div>
    <div class="-position-lg--fixed-top"></div>
    <div class="-position-xl--fixed-top"></div>

h3 Fixed Bottom
.-mb--2
  :code(lang='html')
    <div class="-position-sm--fixed-bottom"></div>
    <div class="-position-md--fixed-bottom"></div>
    <div class="-position-lg--fixed-bottom"></div>
    <div class="-position-xl--fixed-bottom"></div>
