---
title: Shadow
description: Use shadow utility classes to assist in creating a visual hierarchy.
---

h2 Notation
p.-text Shadow utility classes can be defined using the format <code>-s[-{breakpoint}]--{size}</code>.
h3 {size}
ul.-text
  li <code>0</code> - use to set <code>box-shadow</code> to <code>none</code>
  li <code>1</code> - use to set <code>box-shadow</code> to <code>1px</code>
  li <code>2</code> - use to set <code>box-shadow</code> to <code>4px</code>
  li <code>3</code> - use to set <code>box-shadow</code> to <code>6px</code>
  li <code>4</code> - use to set <code>box-shadow</code> to <code>8px</code>
  li <code>5</code> - use to set <code>box-shadow</code> to <code>12px</code>
h3 {breakpoint}
p.-text
  | Optionally include -{breakpoint} to apply the utility behaviour to some breakpoints. As a mobile first library,
  | any applying to smaller breakpoint will modify also larger ones unless other class overrides this behaviour.
ul.-text
  li blank - leave blank to apply <code>shadow</code> to all breakpoints.
  li <code>sm</code> - use to apply <code>shadow</code> to sm and larger breakpoints.
  li <code>md</code> - use to apply <code>shadow</code> to ms and larger breakpoints.
  li <code>lg</code> - use to apply <code>shadow</code> to lg and larger breakpoints.
  li <code>xl</code> - use to apply <code>shadow</code> to xl breakpoints.

h2 Examples
h3 Default
.example.-mb--3
  .-p--2(style="background:#F5F5F5;")
    .a-grid.-text.-noGutter.-text--center
      .-p--5.-m--2.-s--0(style="background:#FFFFFF;") -s--0
      .-p--5.-m--2.-s--1(style="background:#FFFFFF;") -s--1
      .-p--5.-m--2.-s--2(style="background:#FFFFFF;") -s--2
      .-p--5.-m--2.-s--3(style="background:#FFFFFF;") -s--3
      .-p--5.-m--2.-s--4(style="background:#FFFFFF;") -s--4
      .-p--5.-m--2.-s--5(style="background:#FFFFFF;") -s--5
  :code(lang="html")
    <div class="-s--0"></div>
    <div class="-s--1"></div>
    <div class="-s--2"></div>
    <div class="-s--3"></div>
    <div class="-s--4"></div>
    <div class="-s--5"></div>

h3 Responsive
p.-text
  | Change viewport size to view the effect. You can do it by resizing your browser window.
.example.-mb--3
  .-p--2(style="background:#F5F5F5;")
    .a-grid.-text.-noGutter.-text--center
      .-p--5.-m--2.-s--5.-s-md--0(style="background:#FFFFFF;") -s--5 -s-md--0
      .-p--5.-m--2.-s-md--5.-s-xl--0(style="background:#FFFFFF;") -s-md--5 -s-xl--0
      .-p--5.-m--2.-s-xl--5(style="background:#FFFFFF;") -s-xl--5
  :code(lang="html")
    <div class="-s--5 -s-md--0"></div>
    <div class="-s-md--5 -s-xl--0"></div>
    <div class="-s-xl--5"></div>

h2 SASS
p.-text
  | Chi defines shadows with Saas maps. The following example will render
  | a shadow equivalent to <code>-s--1</code> / <code>1px</code>.

.-mb--4
  :code(lang='sass')
    @import '@centurylink/chi/src/chi/_variables';

    .example {
      box-shadow: map-get($shadow, 1);
    }
