---
title: Spacing
description: Use shorthand margin and padding utility classes to control spacing between elements.
---

h2 Notation
p.-text Spacing utility classes can be defined using the format <code>-{property}{sides}[-{breakpoint}]--{size}</code>.
h3 {property}
ul.-text
  li <code>m</code> - use to apply <code>margin</code>
  li <code>p</code> - use to apply <code>padding</code>
h3 {sides}
ul.-text
  li <code>t</code> - use to apply <code>margin-top</code> or <code>padding-top</code>
  li <code>b</code> - use to apply <code>margin-bottom</code> or <code>padding-bottom</code>
  li <code>l</code> - use to apply <code>margin-left</code> or <code>padding-left</code>
  li <code>r</code> - use to apply <code>margin-right</code> or <code>padding-right</code>
  li <code>x</code> - use to apply <code>margin-left</code> and <code>margin-right</code> or <code>padding-left</code> and <code>padding-right</code>
  li <code>y</code> - use to apply <code>margin-top</code> and <code>margin-bottom</code> or <code>padding-top</code> and <code>padding-bottom</code>
  li blank - leave blank to apply <code>margin</code> or <code>padding</code> to all 4 sides.
h3 {breakpoint}
p.-text
  | Optionally include -{breakpoint} to apply the utility behaviour to some breakpoints. As a mobile first library,
  | any applying to smaller breakpoint will modify also larger ones unless other class overrides this behaviour.
ul.-text
  li blank - leave blank to apply <code>margin</code> or <code>padding</code> to all breakpoints.
  li <code>sm</code> - use to apply <code>margin</code> or <code>padding</code> to sm and larger breakpoints.
  li <code>md</code> - use to apply <code>margin</code> or <code>padding</code> to md and larger breakpoints.
  li <code>lg</code> - use to apply <code>margin</code> or <code>padding</code> to lg and larger breakpoints.
  li <code>xl</code> - use to apply <code>margin</code> or <code>padding</code> to xl breakpoints.
h3 {size}
ul.-text
  li <code>0</code> - use to eliminate existing <code>margin</code> or <code>padding</code> and set to <code>0</code>
  li <code>1</code> - use to set <code>margin</code> or <code>padding</code> to <code>$base-unit</code>
  li <code>2</code> - use to set <code>margin</code> or <code>padding</code> to <code>$base-unit * 2</code>
  li <code>3</code> - use to set <code>margin</code> or <code>padding</code> to <code>$base-unit * 3</code>
  li <code>4</code> - use to set <code>margin</code> or <code>padding</code> to <code>$base-unit * 4</code>
  li <code>5</code> - use to set <code>margin</code> or <code>padding</code> to <code>$base-unit * 5</code>
  li <code>6</code> - use to set <code>margin</code> or <code>padding</code> to <code>$base-unit * 6</code>
  li <code>7</code> - use to set <code>margin</code> or <code>padding</code> to <code>$base-unit * 7</code>
  li <code>8</code> - use to set <code>margin</code> or <code>padding</code> to <code>$base-unit * 8</code>
  li <code>9</code> - use to set <code>margin</code> or <code>padding</code> to <code>$base-unit * 9</code>
  li <code>10</code> - use to set <code>margin</code> or <code>padding</code> to <code>$base-unit * 10</code>
  li <code>auto</code> - use to set <code>margin</code> to <code>auto</code> value

h2 Examples
h3 Margins
p.-text
  | In this example, various margin classes have been applied to render margin
  | on all 4 sides of the pink squares. The margin can be visualized in blue.
.example.-mb--3
  .-p--3
    .a-grid.-noGutter
      .-mr--3(style="background:#E6F0FF;border:1px dashed #2973E3;align-self:flex-start;")
        .-m--2(style="width:3rem;height:3rem;background:#F74F87;")
      .-mr--3(style="background:#E6F0FF;border:1px dashed #2973E3;align-self:flex-start;")
        .-m--4(style="width:3rem;height:3rem;background:#F74F87;")
      .-mr--3(style="background:#E6F0FF;border:1px dashed #2973E3;align-self:flex-start;")
        .-m--6(style="width:3rem;height:3rem;background:#F74F87;")
  :code(lang="html")
    <div class="-m--2"></div>
    <div class="-m--4"></div>
    <div class="-m--6"></div>
h3 Side Margins
p.-text
  | Apply margin to specific sides of an element by adding <code>t</code>,
  | <code>b</code>, <code>l</code>, <code>r</code>, <code>x</code> or <code>y</code>
  | to the class name.
.example.-mb--3
  .-p--3
    .a-grid.-noGutter
      .-mr--3(style="background:#E6F0FF;border:1px dashed #2973E3;align-self:flex-start;")
        .-mt--3(style="width:3rem;height:3rem;background:#F74F87;")
      .-mr--3(style="background:#E6F0FF;border:1px dashed #2973E3;align-self:flex-start;")
        .-mb--3(style="width:3rem;height:3rem;background:#F74F87;")
      .-mr--3(style="background:#E6F0FF;border:1px dashed #2973E3;align-self:flex-start;")
        .-ml--3(style="width:3rem;height:3rem;background:#F74F87;")
      .-mr--3(style="background:#E6F0FF;border:1px dashed #2973E3;align-self:flex-start;")
        .-mr--3(style="width:3rem;height:3rem;background:#F74F87;")
      .-mr--3(style="background:#E6F0FF;border:1px dashed #2973E3;align-self:flex-start;")
        .-mx--3(style="width:3rem;height:3rem;background:#F74F87;")
      .-mr--3(style="background:#E6F0FF;border:1px dashed #2973E3;align-self:flex-start;")
        .-my--3(style="width:3rem;height:3rem;background:#F74F87;")
  :code(lang="html")
    <!-- margin-top -->
    <div class="-mt--3"></div>
    <!-- margin-bottom -->
    <div class="-mb--3"></div>
    <!-- margin-left -->
    <div class="-ml--3"></div>
    <!-- margin-right -->
    <div class="-mr--3"></div>
    <!-- margin-left and margin-right -->
    <div class="-mx--3"></div>
    <!-- margin-top and margin-bottom -->
    <div class="-my--3"></div>
h3 Padding
p.-text
  | In this example, various padding classes have been applied to render padding
  | on all 4 sides of the pink squares. The padding can be visualized in yellow.
.example.-mb--3
  .-p--3
    .a-grid.-noGutter
      .-p--2.-mr--3(style="background:#FAECD9;border:1px dashed #C97D12;align-self:flex-start;")
        div(style="width:3rem;height:3rem;background:#F74F87;")
      .-p--4.-mr--3(style="background:#FAECD9;border:1px dashed #C97D12;align-self:flex-start;")
        div(style="width:3rem;height:3rem;background:#F74F87;")
      .-p--6.-mr--3(style="background:#FAECD9;border:1px dashed #C97D12;align-self:flex-start;")
        div(style="width:3rem;height:3rem;background:#F74F87;")
  :code(lang="html")
    <div class="-p--2"></div>
    <div class="-p--4"></div>
    <div class="-p--6"></div>
h3 Side Paddings
p.-text
  | Apply padding to specific sides of an element by adding <code>t</code>,
  | <code>b</code>, <code>l</code>, <code>r</code>, <code>x</code> or <code>y</code>
  | to the class name.
.example.-mb--3
  .-p--3
    .a-grid.-noGutter
      .-pt--3.-mr--3(style="background:#FAECD9;border:1px dashed #C97D12;align-self:flex-start;")
        div(style="width:3rem;height:3rem;background:#F74F87;")
      .-pb--3.-mr--3(style="background:#FAECD9;border:1px dashed #C97D12;align-self:flex-start;")
        div(style="width:3rem;height:3rem;background:#F74F87;")
      .-pl--3.-mr--3(style="background:#FAECD9;border:1px dashed #C97D12;align-self:flex-start;")
        div(style="width:3rem;height:3rem;background:#F74F87;")
      .-pr--3.-mr--3(style="background:#FAECD9;border:1px dashed #C97D12;align-self:flex-start;")
        div(style="width:3rem;height:3rem;background:#F74F87;")
      .-px--3.-mr--3(style="background:#FAECD9;border:1px dashed #C97D12;align-self:flex-start;")
        div(style="width:3rem;height:3rem;background:#F74F87;")
      .-py--3.-mr--3(style="background:#FAECD9;border:1px dashed #C97D12;align-self:flex-start;")
        div(style="width:3rem;height:3rem;background:#F74F87;")
  :code(lang="html")
    <!-- padding-top -->
    <div class="-pt--3"></div>
    <!-- padding-bottom -->
    <div class="-pb--3"></div>
    <!-- padding-left -->
    <div class="-pl--3"></div>
    <!-- padding-right -->
    <div class="-pr--3"></div>
    <!-- padding-left and padding-right -->
    <div class="-px--3"></div>
    <!-- padding-top and padding-bottom -->
    <div class="-py--3"></div>
h3 Margin + Padding
p.-text
  | Apply both margin and padding to an element by adding both class names.
.example.-mb--3
  .-p--3
    .a-grid.-noGutter
      div(style="background:#E6F0FF;border:1px dashed #2973E3;align-self:flex-start;")
        .-m--3.-p--3(style="background:#FAECD9;border:1px dashed #C97D12;align-self:flex-start;")
          div(style="width:3rem;height:3rem;background:#F74F87;")
  :code(lang="html")
    <div class="-m--3 -p--3"></div>
h3 Auto margin
p.-text
  | Apply margin auto to an element
.example.-mb--3
  .-p--3
      div(style="background:#E6F0FF;border:1px dashed #2973E3")
        .-m--auto(style="background:#FAECD9;border:1px dashed #C97D12;width:3rem;height:3rem;")
          div(style="width:3rem;height:3rem;background:#F74F87;")
  :code(lang="html")
    <div class="-m--auto"></div>
h3 Breakpoints
p.-text
  | Target specific breakpoints with responsive classes.
.example.-mb--3
  .-p--3
    .a-grid.-noGutter
      div(style="background:#E6F0FF;border:1px dashed #2973E3;align-self:flex-start;")
        .-mx--0.-px--0.-mx-lg--6.-px-lg--6(style="background:#FAECD9;border:1px dashed #C97D12;align-self:flex-start;")
          div(style="width:3rem;height:3rem;background:#F74F87;")
  :code(lang="html")
    <div class="-mx--0 -px--0 -mx-lg--6 -px-lg--6"></div>
