---
title: Text
description: Use text utility classes to control sizing, color, alignment and more.
styles: [assets/styles/show-example]
---

h2 Text size
h3 Base
p.-text 14px (0.875rem) font size with 24px (1.5rem) line-height
.example.-mb--3
  p.-text.-m--3
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel,
    | commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.
  :code(lang="html")
    <p class="-text"></p>

h3 Large
p.-text 16px (1rem) font size with 24px (1.5rem) line-height
.example.-mb--3
  p.-text.-text--large.-m--3
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel,
    | commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.
  :code(lang="html")
    <p class="-text--large"></p>
h3 Larger
p.-text 18px (1.125rem) font size with 28px (1.75rem) line-height
.example.-mb--3
  p.-text.-text--larger.-m--3
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel,
    | commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.
  :code(lang="html")
    <p class="-text--larger"></p>
h3 Small
p.-text 13px (0.8125rem) font size with 20px (1.25rem) line-height
.example.-mb--3
  p.-text.-text--small.-m--3
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel,
    | commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.
  :code(lang="html")
    <p class="-text--small"></p>
h3 Smaller
p.-text 12px (0.75rem) font size with 20px (1.25rem) line-height
.example.-mb--3
  p.-text.-text--smaller.-m--3
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel,
    | commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.
  :code(lang="html")
    <p class="-text--smaller"></p>
h2 Text line height
p.-text
  | Use shorthand utility classes to control an elements line-height. Line height sizes are equal to <code>$base-unit * {size}</code>
  | and illustrated in green in the example below.
.example.-mb--3
  .-m--3.-show--example
    each type in ['lh--1', 'lh--2', 'lh--3', 'lh--4', 'lh--5', 'lh--6', 'lh--7', 'lh--8', 'lh--9']
      p.-text.-pl--1(class=`-${type}`)
        = `-${type}`
  :code(lang="html")
      <p class="-text -lh--1">-lh--1</p>
      <p class="-text -lh--2">-lh--2</p>
      <p class="-text -lh--3">-lh--3</p>
      <p class="-text -lh--4">-lh--4</p>
      <p class="-text -lh--5">-lh--5</p>
      <p class="-text -lh--6">-lh--6</p>
      <p class="-text -lh--7">-lh--7</p>
      <p class="-text -lh--8">-lh--8</p>
      <p class="-text -lh--9">-lh--9</p>
h2 Text alignment
p.-text Change text alignment to justified, left, center, or right.
.example.-mb--3
  .-m--3
    p.-text.-text--justify This text will render as justified
    p.-text.-text--left This text will render as left aligned
    p.-text.-text--center This text will render as center aligned
    p.-text.-text--right This text will render as right aligned
  :code(lang="html")
      <p class="-text--justify">This text will render as justified</p>
      <p class="-text--left">This text will render as left aligned</p>
      <p class="-text--center">This text will render as center aligned</p>
      <p class="-text--right">This text will render as right aligned</p>
h2 Text transform
p.-text Change text transform to lowercase, uppercase, or capitalized.
.example.-mb--3
  .-m--3
    p.-text.-text--lowercase This text will render as lowercase
    p.-text.-text--uppercase This text will render as uppercase
    p.-text.-text--capitalized This text will render as capitalized
  :code(lang="html")
      <p class="-text--lowercase">This text will render as lowercase</p>
      <p class="-text--uppercase">This text will render as uppercase</p>
      <p class="-text--capitalized">This text will render as capitalized</p>
h2 Text weight
p.-text Change text weight to thin, normal, bold, or bolder.
.example.-mb--3
  .-m--3
    p.-text.-text--thin This text will render as thin
    p.-text.-text--normal This text will render as normal
    p.-text.-text--bold This text will render as bold
    p.-text.-text--bolder This text will render as bolder
  :code(lang="html")
      <p class="-text--thin">This text will render as thin</p>
      <p class="-text--normal">This text will render as normal</p>
      <p class="-text--bold">This text will render as bold</p>
      <p class="-text--bolder">This text will render as bolder</p>
h2 Text wrapping
p.-text Prevent text wrapping with nowrap or control overflow with truncate.
.example.-mb--3
  .-m--3
    p.-text.-text--nowrap(style="width: 11rem;background:#eeeeee;") This text will render without wrapping
    p.-text.-text--truncate(style="width: 11rem;") This text will truncate with an ellipsis
  :code(lang="html")
      <p class="-text--nowrap">This text will render without wrapping</p>
      <p class="-text--truncate">This text will truncate with an ellipsis</p>
h2 Text colors
p.-text Change text colors with contextual classes.
.example.-mb--3
  .a-grid.-noGutter
    .a-col.-w--12.-d--flex.-flex--row.-justify-content--center.-flex--wrap
      each type in ['text--body', 'text--primary', 'text--success', 'text--warning', 'text--danger', 'text--grey', 'text--muted']
        div.-p--1.-p-sm--2.-text--center
          p.-text(class=`-${type}`)
            = `.-${type}`
    .a-col.-w--12.-d--flex.-flex--row.-justify-content--center.-flex--wrap(style="background:#000;")
      each type in ['text--secondary', 'text--light']
        if (type === 'text--secondary')
          div.-p--1.-p-sm--2.-text--center
            p.-text.-text--secondary .-text--secondary
        else if (type === 'text--light')
          div.-p--1.-p-sm--2.-text--center
            p.-text.-text--light .-text--light
  :code(lang="html")
    <!-- For light backgrounds -->
    <p class="-text--body">.-text--body</p>
    <p class="-text--primary">.-text--primary</p>
    <p class="-text--success">.-text--success</p>
    <p class="-text--warning">.-text--warning</p>
    <p class="-text--danger">.-text--danger</p>
    <p class="-text--grey">.-text--grey</p>
    <p class="-text--muted">.-text--muted</p>
    <!-- For dark backgrounds -->
    <p class="-text--secondary">.-text--secondary</p>
    <p class="-text--light">.-text--light</p>

h2 Responsiveness
h3 Sizes
p.-text Text utility classes can be defined using the format <code>-text[-{breakpoint}]--{size}</code>.
h4 {breakpoint}
p.-text
  | Optionally include -{breakpoint} to apply the utility behaviour to some breakpoints. As a mobile first library,
  | any applying to smaller breakpoint will modify also larger ones unless other class overrides this behaviour.
ul.-text
  li blank - leave blank to apply <code>text</code> to all breakpoints.
  li <code>sm</code> - use to apply <code>text</code> to sm and larger breakpoints.
  li <code>md</code> - use to apply <code>text</code> to md and larger breakpoints.
  li <code>lg</code> - use to apply <code>text</code> to lg and larger breakpoints.
  li <code>xl</code> - use to apply <code>text</code> to xl breakpoints.
h4 {size}
ul.-text
  li <code>small</code> - use to set <code>small</code> the <code>text</code>
  li <code>smaller</code> - use to set <code>smaller</code> the <code>text</code>
  li <code>large</code> - use to set <code>large</code> the <code>text</code>
  li <code>larger</code> - use to set <code>larger</code> the <code>text</code>
.example.-mb--3
  p.-text.-text-md--large.-m--3
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel,
    | commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.
  p.-text.-text-xl--smaller.-m--3
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel,
    | commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.
  p.-text.-text-lg--larger.-m--3
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel,
    | commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.
  :code(lang="html")
    <p class="-text-md--large"></p>
    <p class="-text-xl--smaller"></p>
    <p class="-text-lg--larger"></p>

h3 Line heights
p.-text Line height sizes can be defined using the format <code>-lh[-{breakpoint}]--{size}</code>.
h4 {breakpoint}
p.-text
  | Optionally include -{breakpoint} to apply the utility behaviour to some breakpoints. As a mobile first library,
  | any applying to smaller breakpoint will modify also larger ones unless other class overrides this behaviour.
ul.-text
  li blank - leave blank to apply <code>text</code> to all breakpoints.
  li <code>sm</code> - use to apply <code>line-height</code> to sm and larger breakpoints.
  li <code>md</code> - use to apply <code>line-height</code> to md and larger breakpoints.
  li <code>lg</code> - use to apply <code>line-height</code> to lg and larger breakpoints.
  li <code>xl</code> - use to apply <code>line-height</code> to xl breakpoints.
h4 {size}
ul.-text
  li <code>0</code> - use to set <code>line-height</code> and set to <code>0</code>
  li <code>1</code> - use to set <code>line-height</code> to <code>$base-unit * 1</code>
  li <code>2</code> - use to set <code>line-height</code> to <code>$base-unit * 2</code>
  li <code>3</code> - use to set <code>line-height</code> to <code>$base-unit * 3</code>
  li <code>4</code> - use to set <code>line-height</code> to <code>$base-unit * 4</code>
  li <code>5</code> - use to set <code>line-height</code> to <code>$base-unit * 5</code>
  li <code>6</code> - use to set <code>line-height</code> to <code>$base-unit * 6</code>
  li <code>7</code> - use to set <code>line-height</code> to <code>$base-unit * 7</code>
  li <code>8</code> - use to set <code>line-height</code> to <code>$base-unit * 8</code>
  li <code>9</code> - use to set <code>line-height</code> to <code>$base-unit * 9</code>
.example.-mb--3
  .-m--3.-show--example
    p.-text.-pl--1.-lh-md--2 -lh-md--2
    p.-text.-pl--1.-lh-lg--4 -lh-lg--4
    p.-text.-pl--1.-lh-sm--5 -lh-sm--5
    p.-text.-pl--1.-lh-xl--7 -lh-xl--7
  :code(lang="html")
    <p class="-text -lh-md--2">-lh-md--2</p>
    <p class="-text -lh-lg--4">-lh-lg--4</p>
    <p class="-text -lh-sm--5">-lh-sm--5</p>
    <p class="-text -lh-xl--7">-lh-xl--7</p>

h3 Text alignment
p.-text Text utility classes can be align using the format <code>-text[-{breakpoint}]--{alignment}</code>.
h4 {breakpoint}
p.-text
  | Optionally include -{breakpoint} to apply the utility behaviour to some breakpoints. As a mobile first library,
  | any applying to smaller breakpoint will modify also larger ones unless other class overrides this behaviour.
ul.-text
  li blank - leave blank to apply <code>alignment</code> to all breakpoints.
  li <code>sm</code> - use to apply <code>alignment</code> to sm and larger breakpoints.
  li <code>md</code> - use to apply <code>alignment</code> to md and larger breakpoints.
  li <code>lg</code> - use to apply <code>alignment</code> to lg and larger breakpoints.
  li <code>xl</code> - use to apply <code>alignment</code> to xl breakpoints.
h4 {alignment}
ul.-text
  li <code>justify</code> - use to set <code>justify</code> the <code>text</code>
  li <code>center</code> - use to set <code>center</code> the <code>text</code>
  li <code>left</code> - use to set <code>left</code> the <code>text</code>
  li <code>right</code> - use to set <code>right</code> the <code>text</code>
.example.-mb--3
  .-m--3
    p.-text.-text-md--justify This text will render as justified from md and larger breakpoints
    p.-text.-text-lg--left This text will render as left aligned from lg and larger breakpoints
    p.-text.-text-sm--center This text will render as center aligned from sm and larger breakpoints
    p.-text.-text-xl--right This text will render as right aligned from xl and larger breakpoints
  :code(lang="html")
    <p class="-text-md--justify">This text will render as justified from md and larger breakpoints</p>
    <p class="-text-lg--left">This text will render as left aligned from lg and larger breakpoints</p>
    <p class="-text-sm--center">This text will render as center aligned from sm and larger breakpoints</p>
    <p class="-text-xl--right">This text will render as right aligned from xl and larger breakpoints</p>
