---
title: Button Groups
---
img(inline src='src/assets/images/icon-workspace.svg')

h3 Decription

| Button groups wrap a series of buttons.

H3 Examples

| In order to group buttons just wrap them inside a div with the class <code>c-btn-group</code>.

.c-mb4.c-mt2
  .c-btn-group
    button(class=`c-btn`) Button
    button(class=`c-btn`) Button
    button(class=`c-btn`) Button

  :code(lang='html')
    <div class="c-btn-group">
      <button class="c-btn">Button</button>
      <button class="c-btn">Button</button>
      <button class="c-btn">Button</button>
    </div>

| Also, if you want to make a vertical group add the class modifier <code>c-btn-group--vertical</code>.

.c-mb4.c-mt2
  .c-btn-group.c-btn-group--vertical
    button(class=`c-btn`) Button
    button(class=`c-btn`) Button
    button(class=`c-btn`) Button

  :code(lang='html')
    <div class="c-btn-group c-btn-group--vertical">
      <button class="c-btn">Button</button>
      <button class="c-btn">Button</button>
      <button class="c-btn">Button</button>
    </div>

| Button groups can be expanded to fill the parent space with the use of <code>c-btn-group--expanded</code>.

.c-mb4.c-mt2
  .c-btn-group.c-btn-group--expanded(style="width:600px")
    button(class=`c-btn`) Button
    button(class=`c-btn`) Button
    button(class=`c-btn`) Button

  :code(lang='html')
    <div class="c-btn-group c-btn-group--expanded">
      <button class="c-btn">Button</button>
      <button class="c-btn">Button</button>
      <button class="c-btn">Button</button>
    </div>

| Vertical groups can be expanded also!

.c-mb4.c-mt2
  .c-btn-group.c-btn-group--vertical.c-btn-group--expanded(style="width:200px")
    button(class=`c-btn`) Button
    button(class=`c-btn`) Button
    button(class=`c-btn`) Button

  :code(lang='html')
    <div class="c-btn-group c-btn-group--vertical c-btn-group--expanded">
      <button class="c-btn">Button</button>
      <button class="c-btn">Button</button>
      <button class="c-btn">Button</button>
    </div>

| By default the button text is centered in expanded buttons, but you can change this behaviour using the modifiers
| <code>c-btn--align-left</code> or <code>c-btn--align-right</code> in the buttons.

.c-mb4.c-mt2
  .c-btn-group.c-btn-group--expanded(style="width:600px")
    button(class=`c-btn c-btn--align-left`) Button
    button(class=`c-btn`) Button
    button(class=`c-btn c-btn--align-right`) Button

  :code(lang='html')
    <div class="c-btn-group c-btn-group--expanded">
      <button class="c-btn c-btn--align-left">Button</button>
      <button class="c-btn">Button</button>
      <button class="c-btn c-btn--align-right">Button</button>
    </div>

| Also could happen that sometimes we don't want some specific button to be expanded inside an expanded group. You can
| achieve this by the use of the modifier <code>c-btn--not-expand</code> on that specific button.

.c-mb4.c-mt2
  .c-btn-group.c-btn-group--expanded(style="width:600px")
    button(class=`c-btn`) Button
    button(class=`c-btn c-btn--not-expand`) Button
    button(class=`c-btn`) Button

  :code(lang='html')
    <div class="c-btn-group c-btn-group--expanded">
      <button class="c-btn">Button</button>
      <button class="c-btn c-btn--not-expand">Button</button>
      <button class="c-btn">Button</button>
    </div>

h3 Hybrid buttons

| The combination of a text button with an icon buttons inside a button group allows us to create an hybrid button.

.c-mb4.c-mt2
  .c-btn-group
    button(class=`c-btn`) Button
    button(class=`c-btn c-btn--icon`)
      .c-btn-content
        .c-icon
          svg
            use(xlink:href='#workspace')

  :code(lang='html')
    <div class="c-btn-group">
      <button class="c-btn">Button</button>
      <button class="c-btn c-btn--icon">
        <div class="c-btn-content">
          <div class="c-btn-icon">
            <svg>
              <use xlink:href="#workspace"></use>
            </svg>
          </div>
        </div>
      </button>
    </div>

| And remember that hybrid buttons can be expanded also.

.c-mb4.c-mt2
  .c-btn-group.c-btn-group--expanded(style="width:200px")
    button(class=`c-btn`) Button
    button(class=`c-btn c-btn--icon c-btn--not-expand`)
      .c-btn-content
        .c-icon
          svg
            use(xlink:href='#workspace')

  :code(lang='html')
    <div class="c-btn-group c-btn-group--expanded">
      <button class="c-btn">Button</button>
      <button class="c-btn c-btn--icon c-btn--not-expand">
        <div class="c-btn-content">
          <div class="c-btn-icon">
            <svg>
              <use xlink:href="#workspace"></use>
            </svg>
          </div>
        </div>
      </button>
    </div>
