---
title: Button Groups
---
img(inline src='src/assets/images/icon-workspace.svg')

h3 Decription

p.-text Button groups wrap a series of buttons.

H3 Examples

p.-text In order to group buttons just wrap them inside a div with the class <code>m-btnGroup</code>.

.-mb4.-mt2
  .m-btnGroup
    button(class=`a-btn`) Button
    button(class=`a-btn`) Button
    button(class=`a-btn`) Button

  :code(lang='html')
    <div class="m-btnGroup">
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
    </div>

p.-text Also, if you want to make a vertical group add the class modifier <code>-vertical</code>.

.-mb4.-mt2
  .m-btnGroup.-vertical
    button(class=`a-btn`) Button
    button(class=`a-btn`) Button
    button(class=`a-btn`) Button

  :code(lang='html')
    <div class="m-btnGroup -vertical">
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
    </div>

p.-text Button groups can be expanded to fill the parent space with the use of <code>-expanded</code>.

.-mb4.-mt2
  .m-btnGroup.-expanded(style="width:600px")
    button(class=`a-btn`) Button
    button(class=`a-btn`) Button
    button(class=`a-btn`) Button

  :code(lang='html')
    <div class="m-btnGroup -expanded">
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
    </div>

p.-text Vertical groups can be expanded also!

.-mb4.-mt2
  .m-btnGroup.-vertical.-expanded(style="width:200px")
    button(class=`a-btn`) Button
    button(class=`a-btn`) Button
    button(class=`a-btn`) Button

  :code(lang='html')
    <div class="m-btnGroup -vertical -expanded">
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
    </div>

p.-text
  | By default the button text is centered in expanded buttons, but you can change this behaviour using the modifiers
  | <code>-alignLeft</code> or <code>-alignRight</code> in the buttons.

.-mb4.-mt2
  .m-btnGroup.-expanded(style="width:600px")
    button(class=`a-btn -alignLeft`) Button
    button(class=`a-btn`) Button
    button(class=`a-btn -alignRight`) Button

  :code(lang='html')
    <div class="m-btnGroup -expanded">
      <button class="a-btn -alignLeft">Button</button>
      <button class="a-btn">Button</button>
      <button class="a-btn -alignRight">Button</button>
    </div>

p.-text
  | Also could happen that sometimes we don't want some specific button to be expanded inside an expanded group. You can
  | achieve this by the use of the modifier <code>-notExpand</code> on that specific button.

.-mb4.-mt2
  .m-btnGroup.-expanded(style="width:600px")
    button(class=`a-btn`) Button
    button(class=`a-btn -notExpand`) Button
    button(class=`a-btn`) Button

  :code(lang='html')
    <div class="m-btnGroup -expanded">
      <button class="a-btn">Button</button>
      <button class="a-btn -notExpand">Button</button>
      <button class="a-btn">Button</button>
    </div>

h3 Hybrid buttons

p.-text
  | The combination of a text button with an icon buttons inside a button group allows us to create an hybrid button.

.-mb4.-mt2
  .m-btnGroup
    button(class=`a-btn`) Button
    button(class=`a-btn -icon`)
      .a-btn__content
        .a-icon
          svg
            use(xlink:href='#workspace')

  :code(lang='html')
    <div class="m-btnGroup">
      <button class="a-btn">Button</button>
      <button class="a-btn -icon">
        <div class="a-btn__content">
          <div class="a-icon">
            <svg>
              <use xlink:href="#workspace"></use>
            </svg>
          </div>
        </div>
      </button>
    </div>

p.-text And remember that hybrid buttons can be expanded also.

.-mb4.-mt2
  .m-btnGroup.-expanded(style="width:200px")
    button(class=`a-btn`) Button
    button(class=`a-btn -icon -notExpand`)
      .a-btn__content
        .a-icon
          svg
            use(xlink:href='#workspace')

  :code(lang='html')
    <div class="m-btnGroup -expanded">
      <button class="a-btn">Button</button>
      <button class="a-btn -icon -notExpand">
        <div class="a-btn__content">
          <div class="a-icon">
            <svg>
              <use xlink:href="#workspace"></use>
            </svg>
          </div>
        </div>
      </button>
    </div>
