h2 Examples
p.-text To render activity, use the class <code>m-activity</code>.

h3 Base
.example.-mb--3
  .-p--3.-p-md--5
    .m-activity
      .m-activity__day
        .m-activity__header
          | Monday, Apr 22 2019
        .m-activity__content
          .m-activity__item
            .m-activity__start
              div
                | 2:50 PM
            .m-activity__end
              .m-activity__end-header
                |  Password change for user trent.anderson
              .m-activity__end-footer
                | Admin
          .m-activity__item
            .m-activity__start
              div
                | 2:38 PM
            .m-activity__end
              .m-activity__end-header
                |  Password change for user trent.anderson
              .m-activity__end-footer
                | Admin
          .m-activity__item
            .m-activity__start
              div
                | 11:37 PM
            .m-activity__end
              .m-activity__end-header
                |  Password change for user trent.anderson
              .m-activity__end-footer
                | Admin
      .m-activity__day
        .m-activity__header
          | Monday, Apr 21 2019
        .m-activity__content
          .m-activity__item
            .m-activity__start
              div
                | 5:00 PM
            .m-activity__end
              .m-activity__end-header
                |  Password change for user trent.anderson
              .m-activity__end-footer
                | Admin
          .m-activity__item
            .m-activity__start
              div
                | 5:00 PM
            .m-activity__end
              .m-activity__end-header
                |  Password change for user trent.anderson
              .m-activity__end-footer
                | Admin
          .m-activity__item
            .m-activity__start
              div
                | 11:20 AM
            .m-activity__end
              .m-activity__end-header
                |  Password change for user trent.anderson
              .m-activity__end-footer
                | Admin
  :code(lang='html')
    <div class="m-activity">
      <div class="m-activity__day">
        <div class="m-activity__header">Monday, Apr 22 2019</div>
        <div class="m-activity__content">
          <div class="m-activity__item">
            <div class="m-activity__start">
              <div>2:50 PM</div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header">Password change for user trent.anderson</div>
              <div class="m-activity__end-footer">Admin</div>
            </div>
          </div>
          <div class="m-activity__item">
            <div class="m-activity__start">
              <div>2:38 PM</div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header">Password change for user trent.anderson</div>
              <div class="m-activity__end-footer">Admin</div>
            </div>
          </div>
          <div class="m-activity__item">
            <div class="m-activity__start">
              <div>11:37 PM</div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header">Password change for user trent.anderson</div>
              <div class="m-activity__end-footer">Admin</div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-activity__day">
        <div class="m-activity__header">Monday, Apr 21 2019</div>
        <div class="m-activity__content">
          <div class="m-activity__item">
            <div class="m-activity__start">
              <div>5:00 PM</div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header">Password change for user trent.anderson</div>
              <div class="m-activity__end-footer">Admin</div>
            </div>
          </div>
          <div class="m-activity__item">
            <div class="m-activity__start">
              <div>5:00 PM</div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header">Password change for user trent.anderson</div>
              <div class="m-activity__end-footer">Admin</div>
            </div>
          </div>
          <div class="m-activity__item">
            <div class="m-activity__start">
              <div>11:20 AM</div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header">Password change for user trent.anderson</div>
              <div class="m-activity__end-footer">Admin</div>
            </div>
          </div>
        </div>
      </div>
    </div>

h3 With Avatar
.example.-mb--3
  .-p--3.-p-md--5
    .m-activity
      .m-activity__day
        .m-activity__header
          | Monday, Apr 22 2019
        .m-activity__content
          .m-activity__item
            .m-activity__start
              div
                | 2:50 PM
            .m-activity__item-avatar
              .a-avatar
                img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                |  Password change for user trent.anderson
              .m-activity__end-footer
                | Admin
          .m-activity__item
            .m-activity__start
              div
                | 2:38 PM
            .m-activity__item-avatar
              .a-avatar
                img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                |  Password change for user trent.anderson
              .m-activity__end-footer
                | Admin
          .m-activity__item
            .m-activity__start
              div
                | 11:37 PM
            .m-activity__item-avatar
              .a-avatar
                img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                |  Password change for user trent.anderson
              .m-activity__end-footer
                | Admin
      .m-activity__day
        .m-activity__header
          | Monday, Apr 21 2019
        .m-activity__content
          .m-activity__item
            .m-activity__start
              div
                | 5:00 PM
            .m-activity__item-avatar
              .a-avatar
                img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                |  Password change for user trent.anderson
              .m-activity__end-footer
                | Admin
          .m-activity__item
            .m-activity__start
              div
                | 5:00 PM
            .m-activity__item-avatar
              .a-avatar
                img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                |  Password change for user trent.anderson
              .m-activity__end-footer
                | Admin
          .m-activity__item
            .m-activity__start
              div
                | 11:20 AM
            .m-activity__item-avatar
              .a-avatar
                img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                |  Password change for user trent.anderson
              .m-activity__end-footer
                | Admin
  :code(lang='html')
    <div class="m-activity">
      <div class="m-activity__day">
        <div class="m-activity__header">Monday, Apr 22 2019</div>
        <div class="m-activity__content">
          <div class="m-activity__item">
            <div class="m-activity__start">
              <div>2:50 PM</div>
            </div>
            <div class="m-activity__item-avatar">
              <div class="a-avatar">
                <img src="../../assets/images/avatar.jpg" alt="avatar">
              </div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header">Password change for user trent.anderson</div>
              <div class="m-activity__end-footer">Admin</div>
            </div>
          </div>
          <div class="m-activity__item">
            <div class="m-activity__start">
              <div>2:38 PM</div>
            </div>
            <div class="m-activity__item-avatar">
              <div class="a-avatar">
                <img src="../../assets/images/avatar.jpg" alt="avatar">
              </div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header">Password change for user trent.anderson</div>
              <div class="m-activity__end-footer">Admin</div>
            </div>
          </div>
          <div class="m-activity__item">
            <div class="m-activity__start">
              <div>11:37 PM</div>
            </div>
            <div class="m-activity__item-avatar">
              <div class="a-avatar">
                <img src="../../assets/images/avatar.jpg" alt="avatar">
              </div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header">Password change for user trent.anderson</div>
              <div class="m-activity__end-footer">Admin</div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-activity__day">
        <div class="m-activity__header">Monday, Apr 21 2019</div>
        <div class="m-activity__content">
          <div class="m-activity__item">
            <div class="m-activity__start">
              <div>5:00 PM</div>
            </div>
            <div class="m-activity__item-avatar">
              <div class="a-avatar">
                <img src="../../assets/images/avatar.jpg" alt="avatar">
              </div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header">Password change for user trent.anderson</div>
              <div class="m-activity__end-footer">Admin</div>
            </div>
          </div>
          <div class="m-activity__item">
            <div class="m-activity__start">
              <div>5:00 PM</div>
            </div>
            <div class="m-activity__item-avatar">
              <div class="a-avatar">
                <img src="../../assets/images/avatar.jpg" alt="avatar">
              </div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header">Password change for user trent.anderson</div>
              <div class="m-activity__end-footer">Admin</div>
            </div>
          </div>
          <div class="m-activity__item">
            <div class="m-activity__start">
              <div>11:20 AM</div>
            </div>
            <div class="m-activity__item-avatar">
              <div class="a-avatar">
                <img src="../../assets/images/avatar.jpg" alt="avatar">
              </div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header">Password change for user trent.anderson</div>
              <div class="m-activity__end-footer">Admin</div>
            </div>
          </div>
        </div>
      </div>
    </div>

h3 Feed
p.-text Apply the modifier class <code>-feed</code> to render with feed style
.example.-mb--3
  .-p--3.-p-md--5
    .m-activity.-feed
      .m-activity__day
        .m-activity__content
          .m-activity__item
            .m-activity__item-avatar
              .a-avatar
                img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                strong trent.anderson
                |  deployed
                strong  Active Directory
              .m-activity__end-footer
                | 04/22/2019 &#183; 2:50 PM
          .m-activity__item
            .m-activity__item-avatar
              .a-avatar
                img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                strong trent.anderson
                |  deployed
                strong  Active Directory
              .m-activity__end-footer
                | 04/22/2019 &#183; 2:38 PM
          .m-activity__item
            .m-activity__item-avatar
              .a-avatar
                img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                strong trent.anderson
                |  deployed
                strong  Active Directory
              .m-activity__end-footer
                | 04/22/2019 &#183; 2:37 PM
          .m-activity__item
            .m-activity__item-avatar
              .a-avatar
                img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                strong trent.anderson
                |  deployed
                strong  Active Directory
              .m-activity__end-footer
                | 04/16/2019 &#183; 5:00 PM
          .m-activity__item
            .m-activity__item-avatar
              .a-avatar
                img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                strong trent.anderson
                |  deployed
                strong  Active Directory
              .m-activity__end-footer
                | 04/16/2019 &#183; 5:00 PM
          .m-activity__item
            .m-activity__item-avatar
              .a-avatar
                img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                strong trent.anderson
                |  deployed
                strong  Active Directory
              .m-activity__end-footer
                | 04/16/2019 &#183; 11:20 AM
  :code(lang='html')
    <div class="m-activity -feed">
      <div class="m-activity__day">
        <div class="m-activity__content">
          <div class="m-activity__item">
            <div class="m-activity__item-avatar">
              <div class="a-avatar"><img src="../../assets/images/avatar.jpg" alt="avatar"></div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header"><strong>trent.anderson</strong> deployed<strong> Active Directory</strong>
              </div>
              <div class="m-activity__end-footer">04/22/2019 &#183; 2:50 PM</div>
            </div>
          </div>
          <div class="m-activity__item">
            <div class="m-activity__item-avatar">
              <div class="a-avatar"><img src="../../assets/images/avatar.jpg" alt="avatar"></div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header"><strong>trent.anderson</strong> deployed<strong> Active Directory</strong>
              </div>
              <div class="m-activity__end-footer">04/22/2019 &#183; 2:38 PM</div>
            </div>
          </div>
          <div class="m-activity__item">
            <div class="m-activity__item-avatar">
              <div class="a-avatar"><img src="../../assets/images/avatar.jpg" alt="avatar"></div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header"><strong>trent.anderson</strong> deployed<strong> Active Directory</strong>
              </div>
              <div class="m-activity__end-footer">04/22/2019 &#183; 2:37 PM</div>
            </div>
          </div>
          <div class="m-activity__item">
            <div class="m-activity__item-avatar">
              <div class="a-avatar"><img src="../../assets/images/avatar.jpg" alt="avatar"></div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header"><strong>trent.anderson</strong> deployed<strong> Active Directory</strong>
              </div>
              <div class="m-activity__end-footer">04/16/2019 &#183; 5:00 PM</div>
            </div>
          </div>
          <div class="m-activity__item">
            <div class="m-activity__item-avatar">
              <div class="a-avatar"><img src="../../assets/images/avatar.jpg" alt="avatar"></div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header"><strong>trent.anderson</strong> deployed<strong> Active Directory</strong>
              </div>
              <div class="m-activity__end-footer">04/16/2019 &#183; 5:00 PM</div>
            </div>
          </div>
          <div class="m-activity__item">
            <div class="m-activity__item-avatar">
              <div class="a-avatar"><img src="../../assets/images/avatar.jpg" alt="avatar"></div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header"><strong>trent.anderson</strong> deployed<strong> Active Directory</strong>
              </div>
              <div class="m-activity__end-footer">04/16/2019 &#183; 11:20 AM</div>
            </div>
          </div>
        </div>
      </div>
    </div>

h3 Compact Feed
p.-text Apply the modifier class <code>-feed</code> and the modifier class <code>-compact</code> to render with compact feed style
.example.-mb--3
  .-p--3.-p-md--5
    .m-activity.-feed.-compact
      .m-activity__day
        .m-activity__content
          .m-activity__item
            .m-activity__item-avatar
              .a-avatar
                img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                strong trent.anderson
                |  deployed
                strong  Active Directory
              .m-activity__end-footer
                | 04/22/2019 &#183; 2:50 PM
          .m-activity__item
            .m-activity__item-avatar
              .a-avatar
                img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                strong trent.anderson
                |  deployed
                strong  Active Directory
              .m-activity__end-footer
                | 04/22/2019 &#183; 2:38 PM
          .m-activity__item
            .m-activity__item-avatar
              .a-avatar
                img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                strong trent.anderson
                |  deployed
                strong  Active Directory
              .m-activity__end-footer
                | 04/22/2019 &#183; 2:37 PM
          .m-activity__item
            .m-activity__item-avatar
              .a-avatar
                img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                strong trent.anderson
                |  deployed
                strong  Active Directory
              .m-activity__end-footer
                | 04/16/2019 &#183; 5:00 PM
          .m-activity__item
            .m-activity__item-avatar
              .a-avatar
                img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                strong trent.anderson
                |  deployed
                strong  Active Directory
              .m-activity__end-footer
                | 04/16/2019 &#183; 5:00 PM
          .m-activity__item
            .m-activity__item-avatar
              .a-avatar
                img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                strong trent.anderson
                |  deployed
                strong  Active Directory
              .m-activity__end-footer
                | 04/16/2019 &#183; 11:20 AM
  :code(lang='html')
    <div class="m-activity -feed -compact">
      <div class="m-activity__day">
        <div class="m-activity__content">
          <div class="m-activity__item">
            <div class="m-activity__item-avatar">
              <div class="a-avatar">
                <img src="../../assets/images/avatar.jpg" alt="avatar">
              </div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header"><strong>trent.anderson</strong> deployed<strong> Active Directory</strong>
              </div>
              <div class="m-activity__end-footer">04/22/2019 &#183; 2:50 PM</div>
            </div>
          </div>
          <div class="m-activity__item">
            <div class="m-activity__item-avatar">
              <div class="a-avatar">
                <img src="../../assets/images/avatar.jpg" alt="avatar">
              </div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header"><strong>trent.anderson</strong> deployed<strong> Active Directory</strong>
              </div>
              <div class="m-activity__end-footer">04/22/2019 &#183; 2:38 PM</div>
            </div>
          </div>
          <div class="m-activity__item">
            <div class="m-activity__item-avatar">
              <div class="a-avatar">
                <img src="../../assets/images/avatar.jpg" alt="avatar">
              </div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header"><strong>trent.anderson</strong> deployed<strong> Active Directory</strong>
              </div>
              <div class="m-activity__end-footer">04/22/2019 &#183; 2:37 PM</div>
            </div>
          </div>
          <div class="m-activity__item">
            <div class="m-activity__item-avatar">
              <div class="a-avatar">
                <img src="../../assets/images/avatar.jpg" alt="avatar">
              </div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header"><strong>trent.anderson</strong> deployed<strong> Active Directory</strong>
              </div>
              <div class="m-activity__end-footer">04/16/2019 &#183; 5:00 PM</div>
            </div>
          </div>
          <div class="m-activity__item">
            <div class="m-activity__item-avatar">
              <div class="a-avatar">
                <img src="../../assets/images/avatar.jpg" alt="avatar">
              </div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header"><strong>trent.anderson</strong> deployed<strong> Active Directory</strong>
              </div>
              <div class="m-activity__end-footer">04/16/2019 &#183; 5:00 PM</div>
            </div>
          </div>
          <div class="m-activity__item">
            <div class="m-activity__item-avatar">
              <div class="a-avatar">
                <img src="../../assets/images/avatar.jpg" alt="avatar">
              </div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header"><strong>trent.anderson</strong> deployed<strong> Active Directory</strong>
              </div>
              <div class="m-activity__end-footer">04/16/2019 &#183; 11:20 AM</div>
            </div>
          </div>
        </div>
      </div>
    </div>

h3 Feed with stories
.example.-mb--3
  .-p--3.-p-md--5
    .m-activity.-feed.-stories
      .m-activity__day
        .m-activity__content
          .m-activity__item
            .m-activity__start
              div
                .a-avatar
                  img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                strong trent.anderson
                |  deployed
                strong  Active Directory
              .m-activity__end-content
                ul
                  li
                    i.a-icon.-text--success.icon-check-alt
                    div
                      div Instance successfully deployed
                      .-time  1 minute ago
                  li
                    i.a-icon.-text--success.icon-check-alt
                    div
                      div Machine active-directory-vbo8o-1 successfully deployed
                      .-time 2 minutes ago
                  li
                    i.a-icon.-text--muted.icon-circle-plus-outline
                    div
                      div Executing install:Active Directory in machine active-directory-vbo8o-1
                      .-time 2 minutes ago
                  li
                    i.a-icon.-text--muted.icon-circle-plus-outline
                    div
                      div Updating machine IPs
                      .-time 3 minutes ago
              .m-activity__end-footer
                | 04/22/2019
      .m-activity__day
        .m-activity__content
          .m-activity__item
            .m-activity__start
              div
                .a-avatar
                  img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                strong trent.anderson
                |  deployed
                strong  Active Directory
              .m-activity__end-content
                ul
                  li
                    i.a-icon.-text--success.icon-check-alt
                    div
                      div Instance successfully deployed
                      .-time 1 minute ago
                  li
                    i.a-icon.-text--success.icon-check-alt
                    div
                      div Machine active-directory-vbo8o-1 successfully deployed
                      .-time 2 minutes ago
                  li
                    i.a-icon.-text--muted.icon-circle-plus-outline
                    div
                      div Executing install:Active Directory in machine active-directory-vbo8o-1
                      .-time 2 minutes ago
                  li
                    i.a-icon.-text--muted.icon-circle-plus-outline
                    div
                      div Updating machine IPs
                      .-time 3 minutes ago
              .m-activity__end-footer
                | 04/21/2019
  :code(lang='html')
    <div class="m-activity -feed -stories">
      <div class="m-activity__day">
        <div class="m-activity__content">
          <div class="m-activity__item">
            <div class="m-activity__start">
              <div>
                <div class="a-avatar">
                  <img src="../../assets/images/avatar.jpg" alt="avatar">
                </div>
              </div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header"><strong>trent.anderson</strong> deployed<strong> Active Directory</strong>
              </div>
              <div class="m-activity__end-content">
                <ul>
                  <li>
                    <i class="a-icon -text--success icon-check-alt"></i>
                    <div>
                      <div>Instance successfully deployed</div>
                      <div class="-time">1 minute ago</div>
                    </div>
                  </li>
                  <li>
                    <i class="a-icon -text--success icon-check-alt"></i>
                    <div>
                      <div>Machine active-directory-vbo8o-1 successfully deployed</div>
                      <div class="-time">2 minutes ago</div>
                    </div>
                  </li>
                  <li>
                    <i class="a-icon -text--muted icon-circle-plus-outline"></i>
                    <div>
                      <div>Executing install:Active Directory in machine active-directory-vbo8o-1</div>
                      <div class="-time">2 minutes ago</div>
                    </div>
                  </li>
                  <li>
                    <i class="a-icon -text--muted icon-circle-plus-outline"></i>
                    <div>
                      <div>Updating machine IPs</div>
                      <div class="-time">3 minutes ago</div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="m-activity__end-footer">04/22/2019</div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-activity__day">
        <div class="m-activity__content">
          <div class="m-activity__item">
            <div class="m-activity__start">
              <div>
                <div class="a-avatar">
                  <img src="../../assets/images/avatar.jpg" alt="avatar">
                </div>
              </div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header"><strong>trent.anderson</strong> deployed<strong> Active Directory</strong>
              </div>
              <div class="m-activity__end-content">
                <ul>
                  <li>
                    <i class="a-icon -text--success icon-check-alt"></i>
                    <div>
                      <div>Instance successfully deployed</div>
                      <div class="-time">1 minute ago</div>
                    </div>
                  </li>
                  <li>
                    <i class="a-icon -text--success icon-check-alt"></i>
                    <div>
                      <div>Machine active-directory-vbo8o-1 successfully deployed</div>
                      <div class="-time">2 minutes ago</div>
                    </div>
                  </li>
                  <li>
                    <i class="a-icon -text--muted icon-circle-plus-outline"></i>
                    <div>
                      <div>Executing install:Active Directory in machine active-directory-vbo8o-1</div>
                      <div class="-time">2 minutes ago</div>
                    </div>
                  </li>
                  <li>
                    <i class="a-icon -text--muted icon-circle-plus-outline"></i>
                    <div>
                      <div>Updating machine IPs</div>
                      <div class="-time">3 minutes ago</div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="m-activity__end-footer">04/21/2019</div>
            </div>
          </div>
        </div>
      </div>
    </div>

h3 Feed with stories and operation icons
.example.-mb--3
  .-p--3.-p-md--5
    .m-activity.-feed.-stories
      .m-activity__day
        .m-activity__content
          .m-activity__item
            .m-activity__start
              div
                i.a-icon.icon-circle-play-outline
                .a-avatar
                  img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                strong trent.anderson
                |  deployed
                strong  Active Directory
              .m-activity__end-content
                ul
                  li
                    i.a-icon.-text--success.icon-check-alt
                    div
                      div Instance successfully deployed
                      .-time 1 minute ago
                  li
                    i.a-icon.-text--success.icon-check-alt
                    div
                      div Machine active-directory-vbo8o-1 successfully deployed
                      .-time 2 minutes ago
                  li
                    i.a-icon.-text--muted.icon-circle-plus-outline
                    div
                      div Executing install:Active Directory in machine active-directory-vbo8o-1
                      .-time 2 minutes ago
                  li
                    i.a-icon.-text--muted.icon-circle-plus-outline
                    div
                      div Updating machine IPs
                      .-time 3 minutes ago
              .m-activity__end-footer
                | 04/22/2019
      .m-activity__day
        .m-activity__content
          .m-activity__item
            .m-activity__start
              div
                i.a-icon.icon-circle-play-outline
                .a-avatar
                  img(src='../../assets/images/avatar.jpg', alt="avatar")
            .m-activity__end
              .m-activity__end-header
                strong trent.anderson
                |  deployed
                strong  Active Directory
              .m-activity__end-content
                ul
                  li
                    i.a-icon.-text--success.icon-check-alt
                    div
                      div Instance successfully deployed
                      .-time 1 minute ago
                  li
                    i.a-icon.-text--success.icon-check-alt
                    div
                      div Machine active-directory-vbo8o-1 successfully deployed
                      .-time 2 minutes ago
                  li
                    i.a-icon.-text--muted.icon-circle-plus-outline
                    div
                      div Executing install:Active Directory in machine active-directory-vbo8o-1
                      .-time 2 minutes ago
                  li
                    i.a-icon.-text--muted.icon-circle-plus-outline
                    div
                      div Updating machine IPs
                      .-time 3 minutes ago
              .m-activity__end-footer
                | 04/21/2019
  :code(lang='html')
    <div class="m-activity -feed -stories">
      <div class="m-activity__day">
        <div class="m-activity__content">
          <div class="m-activity__item">
            <div class="m-activity__start">
              <div>
                <i class="a-icon -text--muted icon-circle-play-outline"></i>
                <div class="a-avatar">
                  <img src="../../assets/images/avatar.jpg" alt="avatar">
                </div>
              </div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header"><strong>trent.anderson</strong> deployed<strong> Active Directory</strong>
              </div>
              <div class="m-activity__end-content">
                <ul>
                  <li>
                    <i class="a-icon -text--success icon-check-alt"></i>
                    <div>
                      <div>Instance successfully deployed</div>
                      <div class="-time">1 minute ago</div>
                    </div>
                  </li>
                  <li>
                    <i class="a-icon -text--success icon-check-alt"></i>
                    <div>
                      <div>Machine active-directory-vbo8o-1 successfully deployed</div>
                      <div class="-time">2 minutes ago</div>
                    </div>
                  </li>
                  <li>
                    <i class="a-icon -text--muted icon-circle-plus-outline"></i>
                    <div>
                      <div>Executing install:Active Directory in machine active-directory-vbo8o-1</div>
                      <div class="-time">2 minutes ago</div>
                    </div>
                  </li>
                  <li>
                    <i class="a-icon -text--muted icon-circle-plus-outline"></i>
                    <div>
                      <div>Updating machine IPs</div>
                      <div class="-time">3 minutes ago</div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="m-activity__end-footer">04/22/2019</div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-activity__day">
        <div class="m-activity__content">
          <div class="m-activity__item">
            <div class="m-activity__start">
              <div>
                <i class="a-icon -text--muted icon-circle-play-outline"></i>
                <div class="a-avatar"><img src="../../assets/images/avatar.jpg" alt="avatar"></div>
              </div>
            </div>
            <div class="m-activity__end">
              <div class="m-activity__end-header"><strong>trent.anderson</strong> deployed<strong> Active Directory</strong>
              </div>
              <div class="m-activity__end-content">
                <ul>
                  <li>
                    <i class="a-icon -text--success icon-check-alt"></i>
                    <div>
                      <div>Instance successfully deployed</div>
                      <div class="-time">1 minute ago</div>
                    </div>
                  </li>
                  <li>
                    <i class="a-icon -text--success icon-check-alt"></i>
                    <div>
                      <div>Machine active-directory-vbo8o-1 successfully deployed</div>
                      <div class="-time">2 minutes ago</div>
                    </div>
                  </li>
                  <li>
                    <i class="a-icon -text--muted icon-circle-plus-outline"></i>
                    <div>
                      <div>Executing install:Active Directory in machine active-directory-vbo8o-1</div>
                      <div class="-time">2 minutes ago</div>
                    </div>
                  </li>
                  <li>
                    <i class="a-icon -text--muted icon-circle-plus-outline"></i>
                    <div>
                      <div>Updating machine IPs</div>
                      <div class="-time">3 minutes ago</div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="m-activity__end-footer">04/21/2019</div>
            </div>
          </div>
        </div>
      </div>
    </div>
