h2 Examples
p.-text To render accordion, use the class <code>chi-accordion</code>.

h3 Base
.example.-mb--3#example1
  .-p--3.-p-lg--6
    .chi-accordion#base-1
      button.chi-accordion__trigger
        i.chi-icon.icon-chevron-down
        .chi-accordion__title 
          | Accordion 1
      .chi-accordion__content
        p.chi-accordion__text Content goes here
    .chi-accordion.-expanded#base-2
      button.chi-accordion__trigger
        i.chi-icon.icon-chevron-down
        .chi-accordion__title
          | Accordion 2
      .chi-accordion__content
        p.chi-accordion__text Content goes here
    .chi-accordion#base-3
      button.chi-accordion__trigger
        i.chi-icon.icon-chevron-down
        .chi-accordion__title
          | Accordion 3
      .chi-accordion__content
        p.chi-accordion__text Content goes here
    .chi-accordion#base-4
      button.chi-accordion__trigger
        i.chi-icon.icon-chevron-down
        .chi-accordion__title
          | Accordion 4
      .chi-accordion__content
        p.chi-accordion__text Content goes here
  .example-tabs.-pl--2
    ul#chi-tabs-e1.chi-tabs
      li.-disabled
        a(href='#chi-tabs-e1-web') Web Component
      li.-active
        a(href='#chi-tabs-e1-html') HTML Blueprint
  #chi-tabs-e1-web.chi-tabs-panel
  #chi-tabs-e1-html.chi-tabs-panel.-active
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-accordion" id="base-1">
        <div class="chi-accordion__trigger">
          <i class="chi-icon icon-chevron-down"></i>
          <div class="chi-accordion__title">Accordion 1</div>
        </div>
        <div class="chi-accordion__content">
          <p class="chi-accordion__text">Content goes here</p>
        </div>
      </div>
      <div class="chi-accordion -expanded" id="base-2">
        <div class="chi-accordion__trigger">
          <i class="chi-icon icon-chevron-down"></i>
          <div class="chi-accordion__title">Accordion 2</div>
        </div>
        <div class="chi-accordion__content">
          <p class="chi-accordion__text">Content goes here</p>
        </div>
      </div>
      <div class="chi-accordion" id="base-3">
        <div class="chi-accordion__trigger">
          <i class="chi-icon icon-chevron-down"></i>
          <div class="chi-accordion__title">Accordion 3</div>
        </div>
        <div class="chi-accordion__content">
          <p class="chi-accordion__text">Content goes here</p>
        </div>
      </div>
      <div class="chi-accordion" id="base-4">
        <div class="chi-accordion__trigger">
          <i class="chi-icon icon-chevron-down"></i>
          <div class="chi-accordion__title">Accordion 4</div>
        </div>
        <div class="chi-accordion__content">
          <p class="chi-accordion__text">Content goes here</p>
        </div>
      </div>

      <script>
        chi.accordion(document.getElementById('base-1'));
        chi.accordion(document.getElementById('base-2'));
        chi.accordion(document.getElementById('base-3'));
        chi.accordion(document.getElementById('base-4'));
      </script>

h3 Portal
.example.-mb--3#example2
  .-p--3.-p-lg--6
    .chi-accordion.-portal#portal-1
      button.chi-accordion__trigger
        .chi-accordion__title
          | Accordion 1
        i.chi-icon.icon-chevron-down
      .chi-accordion__content
        p.chi-accordion__text Content goes here

    .chi-accordion.-portal.-expanded#portal-1
      button.chi-accordion__trigger
        .chi-accordion__title
          | Accordion 2
        i.chi-icon.icon-chevron-down
      .chi-accordion__content
        p.chi-accordion__text Content goes here

    .chi-accordion.-portal#portal-1
      button.chi-accordion__trigger
        .chi-accordion__title
          | Accordion 3
        i.chi-icon.icon-chevron-down
      .chi-accordion__content
        p.chi-accordion__text Content goes here

    .chi-accordion.-portal#portal-1
      button.chi-accordion__trigger
        .chi-accordion__title
          | Accordion 4
        i.chi-icon.icon-chevron-down
      .chi-accordion__content
        p.chi-accordion__text Content goes here
  .example-tabs.-pl--2
    ul#chi-tabs-e2.chi-tabs
      li.-disabled
        a(href='#chi-tabs-e2-web') Web Component
      li.-active
        a(href='#chi-tabs-e2-html') HTML Blueprint
  #chi-tabs-e2-web.chi-tabs-panel
  #chi-tabs-e2-html.chi-tabs-panel.-active
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-accordion -portal">
        <div class="chi-accordion__trigger">
          <div class="chi-accordion__title">Accordion 1</div>
          <i class="chi-icon icon-chevron-down"></i>
        </div>
        <div class="chi-accordion__content">
          <p class="chi-accordion__text">Content goes here</p>
        </div>
      </div>
      <div class="chi-accordion -portal -expanded">
        <div class="chi-accordion__trigger">
          <div class="chi-accordion__title">Accordion 2</div>
          <i class="chi-icon icon-chevron-down"></i>
        </div>
        <div class="chi-accordion__content">
          <p class="chi-accordion__text">Content goes here</p>
        </div>
      </div>
      <div class="chi-accordion -portal">
        <div class="chi-accordion__trigger">
          <div class="chi-accordion__title">Accordion 3</div>
          <i class="chi-icon icon-chevron-down"></i>
        </div>
        <div class="chi-accordion__content">
          <p class="chi-accordion__text">Content goes here</p>
        </div>
      </div>
      <div class="chi-accordion -portal">
        <div class="chi-accordion__trigger">
          <div class="chi-accordion__title">Accordion 4</div>
          <i class="chi-icon icon-chevron-down"></i>
        </div>
        <div class="chi-accordion__content">
          <p class="chi-accordion__text">Content goes here</p>
        </div>
      </div>

      <script>
        chi.accordion(document.getElementById('portal-1'));
        chi.accordion(document.getElementById('portal-2'));
        chi.accordion(document.getElementById('portal-3'));
        chi.accordion(document.getElementById('portal-4'));
      </script>

h3 Nested Accordions
.example.-mb--3#example2
  .-p--3.-p-lg--6
    .chi-accordion#nested-accordions-portal.-portal
      button.chi-accordion__trigger
        .chi-accordion__title
          | Click me to expand Accordion
        i.chi-icon.icon-chevron-down
      .chi-accordion__content.-p--2
        .chi-accordion.-portal
          button.chi-accordion__trigger
            .chi-accordion__title
              | Accordion 1
            i.chi-icon.icon-chevron-down
          .chi-accordion__content
            p.chi-accordion__text Content goes here
            .chi-accordion.-portal.-mt--1
              button.chi-accordion__trigger
                .chi-accordion__title
                  | Accordion 1.1
                i.chi-icon.icon-chevron-down
              .chi-accordion__content
                p.chi-accordion__text Content goes here
                .chi-accordion.-portal.-mt--1
                  button.chi-accordion__trigger
                    .chi-accordion__title
                      | Accordion 1.1.1
                    i.chi-icon.icon-chevron-down
                  .chi-accordion__content
                    p.chi-accordion__text Content goes here
            .chi-accordion.-portal.-mt--1
              button.chi-accordion__trigger
                .chi-accordion__title
                  | Accordion 1.2
                i.chi-icon.icon-chevron-down
              .chi-accordion__content
                p.chi-accordion__text Content goes here
        .chi-accordion.-portal
          button.chi-accordion__trigger
            .chi-accordion__title
              | Accordion 2
            i.chi-icon.icon-chevron-down
          .chi-accordion__content
            p.chi-accordion__text Content goes here
            .chi-accordion.-portal
              button.chi-accordion__trigger
                .chi-accordion__title
                  | Accordion 2.1
                i.chi-icon.icon-chevron-down
              .chi-accordion__content
                p.chi-accordion__text Content goes here
  .example-tabs.-pl--2
    ul#chi-tabs-e2.chi-tabs
      li.-disabled
        a(href='#chi-tabs-e2-web') Web Component
      li.-active
        a(href='#chi-tabs-e2-html') HTML Blueprint
  #chi-tabs-e2-web.chi-tabs-panel
  #chi-tabs-e2-html.chi-tabs-panel.-active
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-accordion -portal" id="nested-accordions-portal">
        <button class="chi-accordion__trigger">
          <div class="chi-accordion__title">Click me to expand Accordion</div>
          <i class="chi-icon icon-chevron-down"></i>
        </button>
        <div class="chi-accordion__content -p--2">
          <div class="chi-accordion -portal">
            <button class="chi-accordion__trigger">
              <div class="chi-accordion__title">Accordion 1</div>
              <i class="chi-icon icon-chevron-down"></i>
            </button>
            <div class="chi-accordion__content">
              <p class="chi-accordion__text">Content goes here</p>
              <div class="chi-accordion -portal -mt--1">
                <button class="chi-accordion__trigger">
                  <div class="chi-accordion__title">Accordion 1</div>
                  <i class="chi-icon icon-chevron-down"></i>
                </button>
                <div class="chi-accordion__content">
                  <p class="chi-accordion__text">Content goes here</p>
                  <div class="chi-accordion -portal -mt--1">
                    <button class="chi-accordion__trigger">
                      <div class="chi-accordion__title">Accordion 1</div>
                      <i class="chi-icon icon-chevron-down"></i>
                    </button>
                    <div class="chi-accordion__content">
                      <p class="chi-accordion__text">Content goes here</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="chi-accordion -portal">
            <button class="chi-accordion__trigger">
              <div class="chi-accordion__title">Accordion 1</div>
              <i class="chi-icon icon-chevron-down"></i>
            </button>
            <div class="chi-accordion__content">
              <p class="chi-accordion__text">Content goes here</p>
              <div class="chi-accordion -portal">
                <button class="chi-accordion__trigger">
                  <div class="chi-accordion__title">Accordion 1</div>
                  <i class="chi-icon icon-chevron-down"></i>
                </button>
                <div class="chi-accordion__content">
                  <p class="chi-accordion__text">Content goes here</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script>
        chi.accordion(document.getElementById('nested-accordions'));
      </script>

h3 Sizes
p.-text
  | Accordion supports the following sizes: <code>sm</code>, <code>md</code> (default), <code>lg</code>, and <code>xl</code>.
.example.-mb--3#example3
  .-p--3.-p-lg--6
    each size in ['sm', 'md', 'lg', 'xl']
      p.-text--bold.-pl--2= size
        div(class=`chi-accordion -${size}`)
          button.chi-accordion__trigger
            i.chi-icon.icon-chevron-down
            .chi-accordion__title
              | Accordion
          .chi-accordion__content
            p.chi-accordion__text Content goes here
  .example-tabs.-pl--2
    ul#chi-tabs-e3.chi-tabs
      li.-disabled
        a(href='#chi-tabs-e3-web') Web Component
      li.-active
        a(href='#chi-tabs-e3-html') HTML Blueprint
  #chi-tabs-e3-web.chi-tabs-panel
  #chi-tabs-e3-html.chi-tabs-panel.-active
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <!-- sm -->
      <div class="chi-accordion -sm" id="size-sm">
        <div class="chi-accordion__trigger">
          <i class="chi-icon icon-chevron-down"></i>
          <div class="chi-accordion__title">Accordion</div>
        </div>
        <div class="chi-accordion__content">
          <p class="chi-accordion__text">Content goes here</p>
        </div>
      </div>

      <!-- md -->
      <div class="chi-accordion -md" id="size-md">
        <div class="chi-accordion__trigger">
          <i class="chi-icon icon-chevron-down"></i>
          <div class="chi-accordion__title">Accordion</div>
        </div>
        <div class="chi-accordion__content">
          <p class="chi-accordion__text">Content goes here</p>
        </div>
      </div>

      <!-- lg -->
      <div class="chi-accordion -lg" id="size-lg">
        <div class="chi-accordion__trigger">
          <i class="chi-icon icon-chevron-down"></i>
          <div class="chi-accordion__title">Accordion</div>
        </div>
        <div class="chi-accordion__content">
          <p class="chi-accordion__text">Content goes here</p>
        </div>
      </div>

      <!-- xl -->
      <div class="chi-accordion -xl" id="size-xl">
        <div class="chi-accordion__trigger">
          <i class="chi-icon icon-chevron-down"></i>
          <div class="chi-accordion__title">Accordion</div>
        </div>
        <div class="chi-accordion__content">
          <p class="chi-accordion__text">Content goes here</p>
        </div>
      </div>

      <script>
        chi.accordion(document.getElementById('size-sm'));
        chi.accordion(document.getElementById('size-md'));
        chi.accordion(document.getElementById('size-lg'));
        chi.accordion(document.getElementById('size-xl'));
      </script>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      const baseExample = document.getElementById('example1');
      const baseAccordions = baseExample.querySelectorAll('.chi-accordion');
      const portalExample = document.getElementById('example2');
      const portalAccordions = portalExample.querySelectorAll('.chi-accordion');
      const sizesExample = document.getElementById('example3');
      const sizesAccordions = sizesExample.querySelectorAll('.chi-accordion');

      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));
      chi.accordion(document.getElementById('nested-accordions-portal'));
      chi.accordion(baseAccordions);
      chi.accordion(portalAccordions);
      chi.accordion(sizesAccordions);
    }
  );
