@import '_global-variables';

@mixin navigation-dropdown-not-vertical {
  & > li {
    & > a {
      &.chi-dropdown__trigger {
        &::after {
          position: absolute;
          right: 0;
          top: 1.3rem;
        }
      }
    }
  }

  &.-sm {
    & > li {
      & > a {
        &.chi-dropdown__trigger::after {
          top: 1.1rem;
        }
      }
    }
  }

  &.-lg {
    & > li {
      & > a {
        &.chi-dropdown__trigger::after {
          top: 1.55rem;
        }
      }
    }
  }
}

.chi-tabs {
  .chi-dropdown__menu-item {
    &.-active {
      background-image: none;
      background-size: initial;
      padding-right: 1rem;
    }
  }

  @include navigation-dropdown-not-vertical;
}
