h3 Base

script(src='https://cdn.jsdelivr.net/npm/vue@2.6.11')
script(src='https://assets-dev.ctl.io/chi/staging/chi-vue/umd/chi-vue.umd.js')

h2 Examples
h3 Interaction

#app
  chi-vue-data-table(:config='config', :data='table')

script.
  new Vue({
    components: {
      chiVueDataTable: window['chi-vue'].library.components.ChiDataTable,
    },
    data: {
      config: {
        columnResize: true,
        noResultsMessage: 'No matches found. Please revise search criteria and try again.',
        activePage: 1,
        style: {
          portal: true,
          noBorder: false,
          bordered: false,
          hover: false,
          size: 'md',
          striped: true,
        },
        pagination: {
          compact: true,
          firstLast: true,
          pageJumper: true,
        },
        resultsPerPage: 3,
      },
      table: {
        head: {
          name: { label: 'Name', sortable: true },
          id: { label: 'ID', sortable: true },
          lastLogin: { label: 'Last Login', sortable: true, sortDatatype: 'date' },
        },
        body: [
          {
            id: 'name-1',
            data: [
              'Name 1',
              'name-1',
              'Dec 18, 2020 3:26 PM',
            ],
          },
          {
            id: 'name-2',
            data: [
              'Name 2',
              'name-2',
              'Dec 18, 2020 2:38 AM',
            ],
          },
          {
            id: 'name-3',
            data: [
              'Name 3',
              'name-3',
              'Nov 5, 2020 10:15 AM',
            ],
          },
          {
            id: 'name-4',
            data: [
              'Name 4',
              'name-4',
              'Dec 18, 2020 3:26 PM',
            ],
          },
          {
            id: 'name-5',
            data: [
              'Name 5',
              'name-5',
              'Dec 18, 2020 2:38 AM',
            ],
          },
          {
            id: 'name-6',
            data: [
              'Name 6',
              'name-6',
              'Nov 5, 2020 10:15 AM',
            ],
          },
        ]
      }
    }
  }).$mount('#app');
