@import '_global-variables';
@import '_mixins';

input {
  &[type='number'] {
    &.chi-input {
      // sass-lint:disable no-vendor-prefixes
      -moz-appearance: textfield;
      border: 0.0625rem solid $color-border-base-dark;
      color: $color-text-base;
      display: block;
      font-size: $font-size-base;
      height: 2rem;
      line-height: $line-height-sm;
      outline: none;
      padding: 0.4375rem;
      width: 100%;

      &::-ms-clear {
        display: none;
      }

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      // sass-lint:enable no-vendor-prefixes

      &:hover,
      &.-hover {
        border-color: $color-grey-40;
      }

      &:focus,
      &.-focus {
        border-color: $focus-color;
        box-shadow: 0 0 0 1px rgba($focus-color, 1);
      }

      &[disabled],
      &.-disabled {
        background-color: $color-grey-10;
        border-color: $color-border-base-dark;
        color: $color-text-muted-light;
        pointer-events: none;
      }

      &:not([disabled]) {
        &.-danger {
          border-color: $color-border-danger;

          &:focus,
          &.-focus {
            box-shadow: 0 0 0 1px rgba($color-border-danger, 1);
          }
        }
      }
    }
  }
}
