@import '_global-variables';
@import '_global-mixins';

input {
  &[type='number'] {
    &.chi-input {
      // sass-lint:disable no-vendor-prefixes
      -moz-appearance: textfield;
      border: 0.0625rem solid $number-input-border-color;
      color: $number-input-text-color;
      display: block;
      font-size: $font-size-base;
      height: $number-input-md-height;
      line-height: $line-height-sm;
      outline: none;
      padding: 0.4375rem;
      width: 100%;

      &::-ms-clear {
        display: none;
      }

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      // sass-lint:enable no-vendor-prefixes

      &:hover,
      &.-hover {
        border-color: $number-input-hover-border-color;
      }

      &:focus,
      &.-focus {
        border-color: $number-input-focus-border-color;
        box-shadow: 0 0 0 1px $number-input-focus-border-color;
      }

      &[disabled],
      &.-disabled {
        background-color: $number-input-disabled-background-color;
        border-color: $number-input-disabled-border-color;
        color: $number-input-disabled-text-color;
        pointer-events: none;
      }

      &:not([disabled]) {
        &.-danger {
          border-color: $number-input-danger-border-color;

          &:focus,
          &.-focus {
            box-shadow: 0 0 0 1px $number-input-danger-border-color;
          }
        }
      }
    }
  }
}
