h2 Examples
p.-text
  | To display a stat, use the class <code>chi-stat</code>. Stat components are designed
  | to render in combination with Chi's <a href="../../foundations/grid">Grid component</a>.
  | Grid provides Stats with responsive capabilities that enable them to stack on smaller viewports.

h3 Base
.example.-mb--3
  .-p--3
    .chi-grid
      .chi-col.-w--6.-w-lg--3
        .chi-stat
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Base stat
              .chi-stat-metric__value
                | 1
      .chi-col.-w--6.-w-lg--3
        .chi-stat.-disabled
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Disabled stat
              .chi-stat-metric__value
                | 10
  .example-tabs.-pl--2
    ul.chi-tabs#example-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .chi-tabs-panel#webcomponent-base
  .chi-tabs-panel.-active#html-base
    :code(lang="html")
      <!-- Base -->
      <div class="chi-stat">
        <div class="chi-stat__content">
          <div class="chi-stat-metric">
            <div class="chi-stat-metric__title">Base stat</div>
            <div class="chi-stat-metric__value">1</div>
          </div>
        </div>
      </div>
      <!-- Disabled -->
      <div class="chi-stat -disabled">
        <div class="chi-stat__content">
          <div class="chi-stat-metric">
            <div class="chi-stat-metric__title">Disabled stat</div>
            <div class="chi-stat-metric__value">10</div>
          </div>
        </div>
      </div>

h3 Stat Card
p.-text
  | If using Stat cards as a menu, the class <code>-active</code> can be applied to indicate which stat card is active/selected.
.example.-mb--3
  .-p--3
    .chi-grid
      .chi-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .chi-stat.-card
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Stat card
              .chi-stat-metric__value
                | 1
      .chi-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .chi-stat.-card.-active
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Active stat card
              .chi-stat-metric__value
                | 100
      .chi-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .chi-stat.-card
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Stat card
              .chi-stat-metric__value
                | 10
      .chi-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .chi-stat.-card
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Stat card
              .chi-stat-metric__value
                | 1000
  .example-tabs.-pl--2
    ul.chi-tabs#example-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .chi-tabs-panel#webcomponent-base
  .chi-tabs-panel.-active#html-base
    :code(lang="html")
      <div class="chi-grid">
        <div class="chi-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="chi-stat -card">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__title">Stat card</div>
                <div class="chi-stat-metric__value">1</div>
              </div>
            </div>
          </div>
        </div>
        <div class="chi-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="chi-stat -card -active">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__title">Active stat card</div>
                <div class="chi-stat-metric__value">100</div>
              </div>
            </div>
          </div>
        </div>
        <div class="chi-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="chi-stat -card">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__title">Stat card</div>
                <div class="chi-stat-metric__value">10</div>
              </div>
            </div>
          </div>
        </div>
        <div class="chi-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="chi-stat -card">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__title">Stat card</div>
                <div class="chi-stat-metric__value">1000</div>
              </div>
            </div>
          </div>
        </div>
      </div>

h3 Center Aligned
.example.-mb--3
  .-p--3
    .chi-grid
      .chi-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .chi-stat.-card.-center
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Stat card
              .chi-stat-metric__value
                | 1
      .chi-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .chi-stat.-card.-center.-active
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Active stat card
              .chi-stat-metric__value
                | 100
      .chi-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .chi-stat.-card.-center
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Stat card
              .chi-stat-metric__value
                | 10
      .chi-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .chi-stat.-card.-center
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Stat card
              .chi-stat-metric__value
                | 1000
  .example-tabs.-pl--2
    ul.chi-tabs#example-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .chi-tabs-panel#webcomponent-base
  .chi-tabs-panel.-active#html-base
    :code(lang="html")
      <div class="chi-grid">
        <div class="chi-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="chi-stat -card -center">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__title">Stat card</div>
                <div class="chi-stat-metric__value">1</div>
              </div>
            </div>
          </div>
        </div>
        <div class="chi-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="chi-stat -card -center -active">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__title">Active stat card</div>
                <div class="chi-stat-metric__value">100</div>
              </div>
            </div>
          </div>
        </div>
        <div class="chi-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="chi-stat -card -center">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__title">Stat card</div>
                <div class="chi-stat-metric__value">10</div>
              </div>
            </div>
          </div>
        </div>
        <div class="chi-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="chi-stat -card -center">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__title">Stat card</div>
                <div class="chi-stat-metric__value">1000</div>
              </div>
            </div>
          </div>
        </div>
      </div>

h3 Portal
.example.-mb--3
  .-p--3
    .chi-grid
      .chi-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .chi-stat.-portal.-center
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 1
              .chi-stat-metric__title
                | High Utilization
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 16
              .chi-stat-submetric__title
                | Elevated
      .chi-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .chi-stat.-portal.-center
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 1
              .chi-stat-metric__title
                | Critical Performing
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 21
              .chi-stat-submetric__title
                | Impacted
      .chi-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .chi-stat.-portal.-center.-active
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 2
              .chi-stat-metric__title
                | Services Down
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 47
              .chi-stat-submetric__title
                | Up
      .chi-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .chi-stat.-portal.-center
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 3
              .chi-stat-metric__title
                | Scheduled Maintenance
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 1
              .chi-stat-submetric__title
                | Planned
  .example-tabs.-pl--2
    ul.chi-tabs#example-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .chi-tabs-panel#webcomponent-base
  .chi-tabs-panel.-active#html-base
    :code(lang="html")
      <div class="chi-grid">
        <div class="chi-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="chi-stat -portal -center">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">1</div>
                <div class="chi-stat-metric__title">High Utilization</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">16</div>
                <div class="chi-stat-submetric__title">Elevated</div>
              </div>
            </div>
          </div>
        </div>
        <div class="chi-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="chi-stat -portal -center">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">1</div>
                <div class="chi-stat-metric__title">Critical Performing</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">21</div>
                <div class="chi-stat-submetric__title">Impacted</div>
              </div>
            </div>
          </div>
        </div>
        <div class="chi-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="chi-stat -portal -center -active">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">2</div>
                <div class="chi-stat-metric__title">Services Down</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">47</div>
                <div class="chi-stat-submetric__title">Up</div>
              </div>
            </div>
          </div>
        </div>
        <div class="chi-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="chi-stat -portal -center">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">3</div>
                <div class="chi-stat-metric__title">Scheduled Maintenance</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">1</div>
                <div class="chi-stat-submetric__title">Planned</div>
              </div>
            </div>
          </div>
        </div>
      </div>
script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));
    }
  );
