h2 Examples

.-portal--hide
  h3 Base
  .example.-mb--3
    .-p--3
      .chi-stat
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 1
              .chi-stat-metric__title
                | High Utilization
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 1
              .chi-stat-metric__title
                | Critical Performing
        .chi-stat__item.-active
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 2
              .chi-stat-metric__title
                | Services Down
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 3
              .chi-stat-metric__title
                | Scheduled Maintenance
    .example-tabs.-pl--2
      ul.chi-tabs#example-base
        li.-disabled
          a(href=`#webcomponent-base`) Web Component
        li.-active
          a(href=`#html-base`) HTML Blueprint
    .chi-tabs-panel#webcomponent-base
    .chi-tabs-panel.-active#html-base
      :code(lang="html")
        <div class="chi-stat">
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">1</div>
                <div class="chi-stat-metric__title">High Utilization</div>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">1</div>
                <div class="chi-stat-metric__title">Critical Performing</div>
              </div>
            </div>
          </div>
          <div class="chi-stat__item -active">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">2</div>
                <div class="chi-stat-metric__title">Services Down</div>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">3</div>
                <div class="chi-stat-metric__title">Scheduled Maintenance</div>
              </div>
            </div>
          </div>
        </div>

  h3 Center
  .example.-mb--3
    .-p--3
      .chi-stat.-center
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 1
              .chi-stat-metric__title
                | High Utilization
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 1
              .chi-stat-metric__title
                | Critical Performing
        .chi-stat__item.-active
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 2
              .chi-stat-metric__title
                | Services Down
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 3
              .chi-stat-metric__title
                | Scheduled Maintenance
    .example-tabs.-pl--2
      ul.chi-tabs#example-center
        li.-disabled
          a(href=`#webcomponent-center`) Web Component
        li.-active
          a(href=`#html-center`) HTML Blueprint
    .chi-tabs-panel#webcomponent-center
    .chi-tabs-panel.-active#html-center
      :code(lang="html")
        <div class="chi-stat -center">
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">1</div>
                <div class="chi-stat-metric__title">High Utilization</div>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">1</div>
                <div class="chi-stat-metric__title">Critical Performing</div>
              </div>
            </div>
          </div>
          <div class="chi-stat__item -active">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">2</div>
                <div class="chi-stat-metric__title">Services Down</div>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">3</div>
                <div class="chi-stat-metric__title">Scheduled Maintenance</div>
              </div>
            </div>
          </div>
        </div>

  h3 Background Icons
  .example.-mb--3
    .-p--3
      .chi-stat
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 1
              .chi-stat-metric__title
                | High Utilization
            .chi-stat-background-icon
              i.chi-icon.icon-file(aria-hidden="true")
        .chi-stat__item.-active
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 1
              .chi-stat-metric__title
                | Critical Performing
            .chi-stat-background-icon
              i.chi-icon.icon-warning(aria-hidden="true")
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 2
              .chi-stat-metric__title
                | Services Down
            .chi-stat-background-icon
              i.chi-icon.icon-map-marker(aria-hidden="true")
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 3
              .chi-stat-metric__title
                | Scheduled Maintenance
            .chi-stat-background-icon
              i.chi-icon.icon-mail(aria-hidden="true")
    .example-tabs.-pl--2
      ul.chi-tabs#example-base-icons
        li.-disabled
          a(href=`#webcomponent-base-icons`) Web Component
        li.-active
          a(href=`#html-base-icons`) HTML Blueprint
    .chi-tabs-panel#webcomponent-base-icons
    .chi-tabs-panel.-active#html-base-icons
      :code(lang="html")
        <div class="chi-stat">
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">1</div>
                <div class="chi-stat-metric__title">High Utilization</div>
              </div>
              <div class="chi-stat-background-icon">
                <i class="chi-icon icon-file" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="chi-stat__item -active">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">1</div>
                <div class="chi-stat-metric__title">Critical Performing</div>
              </div>
              <div class="chi-stat-background-icon">
                <i class="chi-icon icon-warning" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">2</div>
                <div class="chi-stat-metric__title">Services Down</div>
              </div>
              <div class="chi-stat-background-icon">
                <i class="chi-icon icon-map-marker" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">3</div>
                <div class="chi-stat-metric__title">Scheduled Maintenance</div>
              </div>
              <div class="chi-stat-background-icon">
                <i class="chi-icon icon-mail" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>

  h3 Compact
  p.-text
    | Use <code>-compact</code> when vertical space is limited.
  .example.-mb--3
    .-p--3
      .chi-stat.-compact
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Utilization
              .chi-label__help
                button.chi-button.-icon.-xs.-flat(id="example__help-button" aria-label="Help" data-target="#example__help-popover" data-position="bottom")
                  i.chi-icon.icon-circle-info-outline(aria-hidden="true")
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 4
              .chi-stat-submetric__title
                | High
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 16
              .chi-stat-submetric__title
                | Elevated
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Performance
              .chi-label__help
                button.chi-button.-icon.-xs.-flat(id="example__help-button2" aria-label="Help" data-target="#example__help-popover2" data-position="bottom")
                  i.chi-icon.icon-circle-info-outline(aria-hidden="true")
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 0
              .chi-stat-submetric__title
                | Critical
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 1
              .chi-stat-submetric__title
                | Impacted
        .chi-stat__item.-active
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Status
              .chi-label__help
                button.chi-button.-icon.-xs.-flat(id="example__help-button3" aria-label="Help" data-target="#example__help-popover3" data-position="bottom")
                  i.chi-icon.icon-circle-info-outline(aria-hidden="true")
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 12
              .chi-stat-submetric__title
                | Down
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 333
              .chi-stat-submetric__title
                | Up
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Threshold Alerts
              .chi-label__help
                button.chi-button.-icon.-xs.-flat(id="example__help-button4" aria-label="Help" data-target="#example__help-popover4" data-position="bottom")
                  i.chi-icon.icon-circle-info-outline(aria-hidden="true")
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 0
              .chi-stat-submetric__title
                | Warnings
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 0
              .chi-stat-submetric__title
                | Watches
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Repair Tickets
              .chi-label__help
                button.chi-button.-icon.-xs.-flat(id="example__help-button5" aria-label="Help" data-target="#example__help-popover5" data-position="bottom")
                  i.chi-icon.icon-circle-info-outline(aria-hidden="true")
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 2
              .chi-stat-submetric__title
                | Active
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 1
              .chi-stat-submetric__title
                | Closed
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Sch Maintenance
              .chi-label__help
                button.chi-button.-icon.-xs.-flat(id="example__help-button6" aria-label="Help" data-target="#example__help-popover6" data-position="bottom")
                  i.chi-icon.icon-circle-info-outline(aria-hidden="true")
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 2
              .chi-stat-submetric__title
                | In Progress
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 2
              .chi-stat-submetric__title
                | Upcoming
    .example-tabs.-pl--2
      ul.chi-tabs#example-compact-base
        li.-disabled
          a(href=`#webcomponent-compact-base`) Web Component
        li.-active
          a(href=`#html-compact-base`) HTML Blueprint
    .chi-tabs-panel#webcomponent-compact-base
    .chi-tabs-panel.-active#html-compact-base
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <div class="chi-stat -compact">
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__title">Utilization</div>
                <div class="chi-label__help">
                  <button class="chi-button -icon -xs -flat" id="example__help-button" aria-label="Help" data-target="#example__help-popover" data-position="bottom" aria-describedby="example__help-popover">
                    <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">4</div>
                <div class="chi-stat-submetric__title">High</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">16</div>
                <div class="chi-stat-submetric__title">Elevated</div>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__title">Performance</div>
                <div class="chi-label__help">
                  <button class="chi-button -icon -xs -flat" id="example__help-button2" aria-label="Help" data-target="#example__help-popover2" data-position="bottom" aria-describedby="example__help-popover2">
                    <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">0</div>
                <div class="chi-stat-submetric__title">Critical</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">1</div>
                <div class="chi-stat-submetric__title">Impacted</div>
              </div>
            </div>
          </div>
          <div class="chi-stat__item -active">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__title">Status</div>
                <div class="chi-label__help">
                  <button class="chi-button -icon -xs -flat" id="example__help-button3" aria-label="Help" data-target="#example__help-popover3" data-position="bottom" aria-describedby="example__help-popover3">
                    <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">12</div>
                <div class="chi-stat-submetric__title">Down</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">333</div>
                <div class="chi-stat-submetric__title">Up</div>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__title">Threshold Alerts</div>
                <div class="chi-label__help">
                  <button class="chi-button -icon -xs -flat" id="example__help-button4" aria-label="Help" data-target="#example__help-popover4" data-position="bottom" aria-describedby="example__help-popover4">
                    <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">0</div>
                <div class="chi-stat-submetric__title">Warnings</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">0</div>
                <div class="chi-stat-submetric__title">Watches</div>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__title">Repair Tickets</div>
                <div class="chi-label__help">
                  <button class="chi-button -icon -xs -flat" id="example__help-button5" aria-label="Help" data-target="#example__help-popover5" data-position="bottom" aria-describedby="example__help-popover5">
                    <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">2</div>
                <div class="chi-stat-submetric__title">Active</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">1</div>
                <div class="chi-stat-submetric__title">Closed</div>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__title">Sch Maintenance</div>
                <div class="chi-label__help">
                  <button class="chi-button -icon -xs -flat" id="example__help-button6" aria-label="Help" data-target="#example__help-popover6" data-position="bottom" aria-describedby="example__help-popover6">
                    <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">2</div>
                <div class="chi-stat-submetric__title">In Progress</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">2</div>
                <div class="chi-stat-submetric__title">Upcoming</div>
              </div>
            </div>
          </div>
        </div>

        <section class="chi-popover chi-popover--bottom" id="example__help-popover" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__help-popover2" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__help-popover3" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__help-popover4" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__help-popover5" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__help-popover6" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>

        <script>
          chi.popover(document.getElementById('example__help-button'));
          chi.popover(document.getElementById('example__help-button2'));
          chi.popover(document.getElementById('example__help-button3'));
          chi.popover(document.getElementById('example__help-button4'));
          chi.popover(document.getElementById('example__help-button5'));
          chi.popover(document.getElementById('example__help-button6'));
        </script>

.-portal--show.-brightspeed--show
  h3 Base
  .example.-mb--3
    .-p--3
      .chi-stat
        .chi-stat__item.-active
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | ALL
              .chi-stat-metric__title
                | Services
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 366
              .chi-stat-metric__title
                | Communications
              .chi-label__help
                button.chi-button.-icon.-xs.-flat(id="example__portal-base-help-button2" aria-label="Help" data-target="#example__portal-base-help-popover2" data-position="bottom")
                  i.chi-icon.icon-circle-info-outline(aria-hidden="true")
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 932
              .chi-stat-metric__title
                | Hybrid & Cloud IT
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 0
              .chi-stat-submetric__title
                | Recently Closed
            .chi-label__help
              button.chi-button.-icon.-xs.-flat(id="example__portal-base-help-button3" aria-label="Help" data-target="#example__portal-base-help-popover3" data-position="bottom")
                i.chi-icon.icon-circle-info-outline(aria-hidden="true")
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 301
              .chi-stat-metric__title
                | Managed & IT Services
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 6
              .chi-stat-submetric__title
                | Recently Closed
            .chi-label__help
              button.chi-button.-icon.-xs.-flat(id="example__portal-base-help-button4" aria-label="Help" data-target="#example__portal-base-help-popover4" data-position="bottom")
                i.chi-icon.icon-circle-info-outline(aria-hidden="true")
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 100
              .chi-stat-metric__title
                | Networking & Cloud IT
            .chi-label__help
              button.chi-button.-icon.-xs.-flat(id="example__portal-base-help-button5" aria-label="Help" data-target="#example__portal-base-help-popover5" data-position="bottom")
                i.chi-icon.icon-circle-info-outline(aria-hidden="true")
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 2
              .chi-stat-metric__title
                | Security
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 0
              .chi-stat-submetric__title
                | Recently Closed
            .chi-label__help
              button.chi-button.-icon.-xs.-flat(id="example__portal-base-help-button6" aria-label="Help" data-target="#example__portal-base-help-popover6" data-position="bottom")
                i.chi-icon.icon-circle-info-outline(aria-hidden="true")
    .example-tabs.-pl--2
      ul.chi-tabs#example-portal-base
        li.-disabled
          a(href=`#webcomponent-portal-base`) Web Component
        li.-active
          a(href=`#html-portal-base`) HTML Blueprint
    .chi-tabs-panel#webcomponent-portal-base
    .chi-tabs-panel.-active#html-portal-base
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <div class="chi-stat">
          <div class="chi-stat__item -active">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">ALL</div>
                <div class="chi-stat-metric__title">Services</div>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">366</div>
                <div class="chi-stat-metric__title">Communications</div>
              </div>
              <div class="chi-label__help">
                <button class="chi-button -icon -xs -flat" id="example__portal-base-help-button2" aria-label="Help" data-target="#example__portal-base-help-popover2" data-position="bottom">
                  <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">932</div>
                <div class="chi-stat-metric__title">Hybrid & Cloud IT</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">0</div>
                <div class="chi-stat-submetric__title">Recently Closed</div>
              </div>
              <div class="chi-label__help">
                <button class="chi-button -icon -xs -flat" id="example__portal-base-help-button3" aria-label="Help" data-target="#example__portal-base-help-popover3" data-position="bottom">
                  <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">301</div>
                <div class="chi-stat-metric__title">Managed & IT Services</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">6</div>
                <div class="chi-stat-submetric__title">Recently Closed</div>
              </div>
              <div class="chi-label__help">
                <button class="chi-button -icon -xs -flat" id="example__portal-base-help-button4" aria-label="Help" data-target="#example__portal-base-help-popover4" data-position="bottom">
                  <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">100</div>
                <div class="chi-stat-metric__title">Networking & Cloud IT</div>
              </div>
              <div class="chi-label__help">
                <button class="chi-button -icon -xs -flat" id="example__portal-base-help-button5" aria-label="Help" data-target="#example__portal-base-help-popover5" data-position="bottom">
                  <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">2</div>
                <div class="chi-stat-metric__title">Security</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">0</div>
                <div class="chi-stat-submetric__title">Recently Closed</div>
              </div>
              <div class="chi-label__help">
                <button class="chi-button -icon -xs -flat" id="example__portal-base-help-button6" aria-label="Help" data-target="#example__portal-base-help-popover6" data-position="bottom">
                  <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <section class="chi-popover chi-popover--bottom" id="example__portal-base-help-popover2" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__portal-base-help-popover3" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__portal-base-help-popover4" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__portal-base-help-popover5" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__portal-base-help-popover6" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>

        <script>
          chi.popover(document.getElementById('example__portal-base-help-button2'));
          chi.popover(document.getElementById('example__portal-base-help-button3'));
          chi.popover(document.getElementById('example__portal-base-help-button4'));
          chi.popover(document.getElementById('example__portal-base-help-button5'));
          chi.popover(document.getElementById('example__portal-base-help-button6'));
        </script>

  h3 Background Icons
  .example.-mb--3
    .-p--3
      .chi-stat
        .chi-stat__item.-active
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | ALL
              .chi-stat-metric__title
                | Services
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 366
              .chi-stat-metric__title
                | Communications
            .chi-stat-background-icon
              chi-marketing-icon(icon="platform-voice-unified-communications")
            .chi-label__help
              button.chi-button.-icon.-xs.-flat(id="example__portal-bgicons-help-button2" aria-label="Help" data-target="#example__portal-bgicons-help-popover2" data-position="bottom")
                i.chi-icon.icon-circle-info-outline(aria-hidden="true")
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 932
              .chi-stat-metric__title
                | Hybrid & Cloud IT
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 0
              .chi-stat-submetric__title
                | Recently Closed
            .chi-stat-background-icon
              chi-marketing-icon(icon="platform-it-agility-hybrid-cloud")
            .chi-label__help
              button.chi-button.-icon.-xs.-flat(id="example__portal-bgicons-help-button3" aria-label="Help" data-target="#example__portal-bgicons-help-popover3" data-position="bottom")
                i.chi-icon.icon-circle-info-outline(aria-hidden="true")
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 301
              .chi-stat-metric__title
                | Managed & IT Services
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 6
              .chi-stat-submetric__title
                | Recently Closed
            .chi-stat-background-icon
              chi-marketing-icon(icon="business-support-ticket")
            .chi-label__help
              button.chi-button.-icon.-xs.-flat(id="example__portal-bgicons-help-button4" aria-label="Help" data-target="#example__portal-bgicons-help-popover4" data-position="bottom")
                i.chi-icon.icon-circle-info-outline(aria-hidden="true")
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 100
              .chi-stat-metric__title
                | Networking & Cloud IT
            .chi-stat-background-icon
              chi-marketing-icon(icon="platform-adaptive-networking")
            .chi-label__help
              button.chi-button.-icon.-xs.-flat(id="example__portal-bgicons-help-button5" aria-label="Help" data-target="#example__portal-bgicons-help-popover5" data-position="bottom")
                i.chi-icon.icon-circle-info-outline(aria-hidden="true")
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 2
              .chi-stat-metric__title
                | Security
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 0
              .chi-stat-submetric__title
                | Recently Closed
            .chi-stat-background-icon
              chi-marketing-icon(icon="platform-connected-security")
            .chi-label__help
              button.chi-button.-icon.-xs.-flat(id="example__portal-bgicons-help-button6" aria-label="Help" data-target="#example__portal-bgicons-help-popover6" data-position="bottom")
                i.chi-icon.icon-circle-info-outline(aria-hidden="true")
    .example-tabs.-pl--2
      ul.chi-tabs#example-base-portal-icons
        li.-active
          a(href=`#webcomponent-base-portal-icons`) Web Component
        li
          a(href=`#html-base-portal-icons`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-base-portal-icons
      :code(lang="html")
        <div class="chi-stat">
          <div class="chi-stat__item -active">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">ALL</div>
                <div class="chi-stat-metric__title">Services</div>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">366</div>
                <div class="chi-stat-metric__title">Communications</div>
              </div>
              <div class="chi-stat-background-icon">
                <chi-marketing-icon icon="platform-voice-unified-communications"></chi-marketing-icon>
              </div>
              <div class="chi-label__help">
                <button class="chi-button -icon -xs -flat" id="example__portal-bgicons-help-button2" aria-label="Help" data-target="#example__portal-bgicons-help-popover2" data-position="bottom">
                  <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">932</div>
                <div class="chi-stat-metric__title">Hybrid & Cloud IT</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">0</div>
                <div class="chi-stat-submetric__title">Recently Closed</div>
              </div>
              <div class="chi-stat-background-icon">
                <chi-marketing-icon icon="platform-it-agility-hybrid-cloud"></chi-marketing-icon>
              </div>
              <div class="chi-label__help">
                <button class="chi-button -icon -xs -flat" id="example__portal-bgicons-help-button3" aria-label="Help" data-target="#example__portal-bgicons-help-popover3" data-position="bottom">
                  <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">301</div>
                <div class="chi-stat-metric__title">Managed & IT Services</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">6</div>
                <div class="chi-stat-submetric__title">Recently Closed</div>
              </div>
              <div class="chi-stat-background-icon">
                <chi-marketing-icon icon="business-support-ticket"></chi-marketing-icon>
              </div>
              <div class="chi-label__help">
                <button class="chi-button -icon -xs -flat" id="example__portal-bgicons-help-button4" aria-label="Help" data-target="#example__portal-bgicons-help-popover4" data-position="bottom">
                  <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">100</div>
                <div class="chi-stat-metric__title">Networking & Cloud IT</div>
              </div>
              <div class="chi-stat-background-icon">
                <chi-marketing-icon icon="platform-adaptive-networking"></chi-marketing-icon>
              </div>
              <div class="chi-label__help">
                <button class="chi-button -icon -xs -flat" id="example__portal-bgicons-help-button5" aria-label="Help" data-target="#example__portal-bgicons-help-popover5" data-position="bottom">
                  <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">2</div>
                <div class="chi-stat-metric__title">Security</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">0</div>
                <div class="chi-stat-submetric__title">Recently Closed</div>
              </div>
              <div class="chi-stat-background-icon">
                <chi-marketing-icon icon="platform-connected-security"></chi-marketing-icon>
              </div>
              <div class="chi-label__help">
                <button class="chi-button -icon -xs -flat" id="example__portal-bgicons-help-button6" aria-label="Help" data-target="#example__portal-bgicons-help-popover6" data-position="bottom">
                  <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <section class="chi-popover chi-popover--bottom" id="example__portal-bgicons-help-popover2" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__portal-bgicons-help-popover3" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__portal-bgicons-help-popover4" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__portal-bgicons-help-popover5" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__portal-bgicons-help-popover6" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>

        <script>
          chi.popover(document.getElementById('example__portal-bgicons-help-button2'));
          chi.popover(document.getElementById('example__portal-bgicons-help-button3'));
          chi.popover(document.getElementById('example__portal-bgicons-help-button4'));
          chi.popover(document.getElementById('example__portal-bgicons-help-button5'));
          chi.popover(document.getElementById('example__portal-bgicons-help-button6'));
        </script>
    .chi-tabs-panel#html-base-portal-icons
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <div class="chi-stat">
          <div class="chi-stat__item -active">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">ALL</div>
                <div class="chi-stat-metric__title">Services</div>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">366</div>
                <div class="chi-stat-metric__title">Communications</div>
              </div>
              <div class="chi-stat-background-icon">
                <i class="chi-icon icon-file" aria-hidden="true"></i>
              </div>
              <div class="chi-label__help">
                <button class="chi-button -icon -xs -flat" id="example__portal-bgicons-help-button2" aria-label="Help" data-target="#example__portal-bgicons-help-popover2" data-position="bottom">
                  <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">932</div>
                <div class="chi-stat-metric__title">Hybrid & Cloud IT</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">0</div>
                <div class="chi-stat-submetric__title">Recently Closed</div>
              </div>
              <div class="chi-stat-background-icon">
                <i class="chi-icon icon-warning" aria-hidden="true"></i>
              </div>
              <div class="chi-label__help">
                <button class="chi-button -icon -xs -flat" id="example__portal-bgicons-help-button3" aria-label="Help" data-target="#example__portal-bgicons-help-popover3" data-position="bottom">
                  <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">301</div>
                <div class="chi-stat-metric__title">Managed & IT Services</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">6</div>
                <div class="chi-stat-submetric__title">Recently Closed</div>
              </div>
              <div class="chi-stat-background-icon">
                <i class="chi-icon icon-map-marker" aria-hidden="true"></i>
              </div>
              <div class="chi-label__help">
                <button class="chi-button -icon -xs -flat" id="example__portal-bgicons-help-button4" aria-label="Help" data-target="#example__portal-bgicons-help-popover4" data-position="bottom">
                  <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">100</div>
                <div class="chi-stat-metric__title">Networking & Cloud IT</div>
              </div>
              <div class="chi-stat-background-icon">
                <i class="chi-icon icon-mail" aria-hidden="true"></i>
              </div>
              <div class="chi-label__help">
                <button class="chi-button -icon -xs -flat" id="example__portal-bgicons-help-button5" aria-label="Help" data-target="#example__portal-bgicons-help-popover5" data-position="bottom">
                  <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__value">2</div>
                <div class="chi-stat-metric__title">Security</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">0</div>
                <div class="chi-stat-submetric__title">Recently Closed</div>
              </div>
              <div class="chi-stat-background-icon">
                <i class="chi-icon icon-file" aria-hidden="true"></i>
              </div>
              <div class="chi-label__help">
                <button class="chi-button -icon -xs -flat" id="example__portal-bgicons-help-button6" aria-label="Help" data-target="#example__portal-bgicons-help-popover6" data-position="bottom">
                  <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <section class="chi-popover chi-popover--bottom" id="example__portal-bgicons-help-popover2" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__portal-bgicons-help-popover3" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__portal-bgicons-help-popover4" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__portal-bgicons-help-popover5" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__portal-bgicons-help-popover6" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>

        <script>
          chi.popover(document.getElementById('example__portal-bgicons-help-button2'));
          chi.popover(document.getElementById('example__portal-bgicons-help-button3'));
          chi.popover(document.getElementById('example__portal-bgicons-help-button4'));
          chi.popover(document.getElementById('example__portal-bgicons-help-button5'));
          chi.popover(document.getElementById('example__portal-bgicons-help-button6'));
        </script>


  h3 Compact
  p.-text
    | Use <code>-compact</code> when vertical space is limited.
  .example.-mb--3
    .-p--3
      .chi-stat.-compact
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Utilization
              .chi-label__help
                button.chi-button.-icon.-xs.-flat(id="example__portal-help-button" aria-label="Help" data-target="#example__portal-help-popover" data-position="bottom")
                  i.chi-icon.icon-circle-info-outline(aria-hidden="true")
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 4
              .chi-stat-submetric__title
                | High
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 16
              .chi-stat-submetric__title
                | Elevated
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Performance
              .chi-label__help
                button.chi-button.-icon.-xs.-flat(id="example__portal-help-button2" aria-label="Help" data-target="#example__portal-help-popover2" data-position="bottom")
                  i.chi-icon.icon-circle-info-outline(aria-hidden="true")
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 0
              .chi-stat-submetric__title
                | Critical
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 1
              .chi-stat-submetric__title
                | Impacted
        .chi-stat__item.-active
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Status
              .chi-label__help
                button.chi-button.-icon.-xs.-flat(id="example__portal-help-button3" aria-label="Help" data-target="#example__portal-help-popover3" data-position="bottom")
                  i.chi-icon.icon-circle-info-outline(aria-hidden="true")
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 12
              .chi-stat-submetric__title
                | Down
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 333
              .chi-stat-submetric__title
                | Up
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Threshold Alerts
              .chi-label__help
                button.chi-button.-icon.-xs.-flat(id="example__portal-help-button4" aria-label="Help" data-target="#example__portal-help-popover4" data-position="bottom")
                  i.chi-icon.icon-circle-info-outline(aria-hidden="true")
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 0
              .chi-stat-submetric__title
                | Warnings
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 0
              .chi-stat-submetric__title
                | Watches
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Repair Tickets
              .chi-label__help
                button.chi-button.-icon.-xs.-flat(id="example__portal-help-button5" aria-label="Help" data-target="#example__portal-help-popover5" data-position="bottom")
                  i.chi-icon.icon-circle-info-outline(aria-hidden="true")
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 2
              .chi-stat-submetric__title
                | Active
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 1
              .chi-stat-submetric__title
                | Closed
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__title
                | Sch Maintenance
              .chi-label__help
                button.chi-button.-icon.-xs.-flat(id="example__portal-help-button6" aria-label="Help" data-target="#example__portal-help-popover6" data-position="bottom")
                  i.chi-icon.icon-circle-info-outline(aria-hidden="true")
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 2
              .chi-stat-submetric__title
                | In Progress
            .chi-stat-submetric
              .chi-stat-submetric__value
                | 2
              .chi-stat-submetric__title
                | Upcoming
    .example-tabs.-pl--2
      ul.chi-tabs#example-portal-compact-base
        li.-disabled
          a(href=`#webcomponent-portal-compact-base`) Web Component
        li.-active
          a(href=`#html-portal-compact-base`) HTML Blueprint
    .chi-tabs-panel#webcomponent-portal-compact-base
    .chi-tabs-panel.-active#html-portal-compact-base
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <div class="chi-stat -compact">
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__title">Utilization</div>
                <div class="chi-label__help">
                  <button class="chi-button -icon -xs -flat" id="example__portal-help-button" aria-label="Help" data-target="#example__portal-help-popover" data-position="bottom" aria-describedby="example__portal-help-popover">
                    <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">4</div>
                <div class="chi-stat-submetric__title">High</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">16</div>
                <div class="chi-stat-submetric__title">Elevated</div>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__title">Performance</div>
                <div class="chi-label__help">
                  <button class="chi-button -icon -xs -flat" id="example__portal-help-button2" aria-label="Help" data-target="#example__portal-help-popover2" data-position="bottom" aria-describedby="example__portal-help-popover2">
                    <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">0</div>
                <div class="chi-stat-submetric__title">Critical</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">1</div>
                <div class="chi-stat-submetric__title">Impacted</div>
              </div>
            </div>
          </div>
          <div class="chi-stat__item -active">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__title">Status</div>
                <div class="chi-label__help">
                  <button class="chi-button -icon -xs -flat" id="example__portal-help-button3" aria-label="Help" data-target="#example__portal-help-popover3" data-position="bottom" aria-describedby="example__portal-help-popover3">
                    <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">12</div>
                <div class="chi-stat-submetric__title">Down</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">333</div>
                <div class="chi-stat-submetric__title">Up</div>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__title">Threshold Alerts</div>
                <div class="chi-label__help">
                  <button class="chi-button -icon -xs -flat" id="example__portal-help-button4" aria-label="Help" data-target="#example__portal-help-popover4" data-position="bottom" aria-describedby="example__portal-help-popover4">
                    <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">0</div>
                <div class="chi-stat-submetric__title">Warnings</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">0</div>
                <div class="chi-stat-submetric__title">Watches</div>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__title">Repair Tickets</div>
                <div class="chi-label__help">
                  <button class="chi-button -icon -xs -flat" id="example__portal-help-button5" aria-label="Help" data-target="#example__portal-help-popover5" data-position="bottom" aria-describedby="example__portal-help-popover5">
                    <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">2</div>
                <div class="chi-stat-submetric__title">Active</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">1</div>
                <div class="chi-stat-submetric__title">Closed</div>
              </div>
            </div>
          </div>
          <div class="chi-stat__item">
            <div class="chi-stat__content">
              <div class="chi-stat-metric">
                <div class="chi-stat-metric__title">Sch Maintenance</div>
                <div class="chi-label__help">
                  <button class="chi-button -icon -xs -flat" id="example__portal-help-button6" aria-label="Help" data-target="#example__portal-help-popover6" data-position="bottom" aria-describedby="example__portal-help-popover6">
                    <i class="chi-icon icon-circle-info-outline" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">2</div>
                <div class="chi-stat-submetric__title">In Progress</div>
              </div>
              <div class="chi-stat-submetric">
                <div class="chi-stat-submetric__value">2</div>
                <div class="chi-stat-submetric__title">Upcoming</div>
              </div>
            </div>
          </div>
        </div>

        <section class="chi-popover chi-popover--bottom" id="example__portal-help-popover" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__portal-help-popover2" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__portal-help-popover3" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__portal-help-popover4" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__portal-help-popover5" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>
        <section class="chi-popover chi-popover--bottom" id="example__portal-help-popover6" aria-modal="true" role="dialog">
          <div class="chi-popover__content">
            <p class="chi-popover__text">Helpful information goes here.</p>
          </div>
        </section>

        <script>
          chi.popover(document.getElementById('example__portal-help-button'));
          chi.popover(document.getElementById('example__portal-help-button2'));
          chi.popover(document.getElementById('example__portal-help-button3'));
          chi.popover(document.getElementById('example__portal-help-button4'));
          chi.popover(document.getElementById('example__portal-help-button5'));
          chi.popover(document.getElementById('example__portal-help-button6'));
        </script>

  h3 Carousel
  .example.-mb--3
    .-p--3
      chi-carousel
        .chi-stat(slot="items")
          .chi-stat__item(style="max-width: 168px; min-width: 168px; width: 168px;")
            .chi-stat__content
              .chi-stat-metric
                .chi-stat-metric__value
                  | 1
                .chi-stat-metric__title
                  | High Utilization
          .chi-stat__item(style="max-width: 168px; min-width: 168px; width: 168px;")
            .chi-stat__content
              .chi-stat-metric
                .chi-stat-metric__value
                  | 2
                .chi-stat-metric__title
                  | Critical Performing
          .chi-stat__item(style="max-width: 168px; min-width: 168px; width: 168px;")
            .chi-stat__content
              .chi-stat-metric
                .chi-stat-metric__value
                  | 3
                .chi-stat-metric__title
                  | Services Down
          .chi-stat__item(style="max-width: 168px; min-width: 168px; width: 168px;")
            .chi-stat__content
              .chi-stat-metric
                .chi-stat-metric__value
                  | 4
                .chi-stat-metric__title
                  | Scheduled Maintenance
          .chi-stat__item(style="max-width: 168px; min-width: 168px; width: 168px;")
            .chi-stat__content
              .chi-stat-metric
                .chi-stat-metric__value
                  | 5
                .chi-stat-metric__title
                  | High Utilization
          .chi-stat__item(style="max-width: 168px; min-width: 168px; width: 168px;")
            .chi-stat__content
              .chi-stat-metric
                .chi-stat-metric__value
                  | 6
                .chi-stat-metric__title
                  | Critical Performing
          .chi-stat__item(style="max-width: 168px; min-width: 168px; width: 168px;")
            .chi-stat__content
              .chi-stat-metric
                .chi-stat-metric__value
                  | 7
                .chi-stat-metric__title
                  | Services Down
          .chi-stat__item(style="max-width: 168px; min-width: 168px; width: 168px;")
            .chi-stat__content
              .chi-stat-metric
                .chi-stat-metric__value
                  | 8
                .chi-stat-metric__title
                  | Scheduled Maintenance
    .example-tabs.-pl--2
      ul.chi-tabs#example-portal-compact-base
        li.-active
          a(href=`#webcomponent-portal-compact-base`) Web Component
        li.-disabled
          a(href=`#html-portal-compact-base`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-portal-compact-base
      :code(lang="html")
        <chi-carousel>
          <div class="chi-stat" slot="items">
            <div class="chi-stat__item">
              <div class="chi-stat__content">
                <div class="chi-stat-metric">
                  <div class="chi-stat-metric__value">1</div>
                  <div class="chi-stat-metric__title">High Utilization</div>
                </div>
              </div>
            </div>
            <div class="chi-stat__item">
              <div class="chi-stat__content">
                <div class="chi-stat-metric">
                  <div class="chi-stat-metric__value">2</div>
                  <div class="chi-stat-metric__title">Critical Performing</div>
                </div>
              </div>
            </div>
            <div class="chi-stat__item">
              <div class="chi-stat__content">
                <div class="chi-stat-metric">
                  <div class="chi-stat-metric__value">3</div>
                  <div class="chi-stat-metric__title">Services Down</div>
                </div>
              </div>
            </div>
            <div class="chi-stat__item">
              <div class="chi-stat__content">
                <div class="chi-stat-metric">
                  <div class="chi-stat-metric__value">4</div>
                  <div class="chi-stat-metric__title">Scheduled Maintenance</div>
                </div>
              </div>
            </div>
            <div class="chi-stat__item">
              <div class="chi-stat__content">
                <div class="chi-stat-metric">
                  <div class="chi-stat-metric__value">5</div>
                  <div class="chi-stat-metric__title">High Utilization</div>
                </div>
              </div>
            </div>
            <div class="chi-stat__item">
              <div class="chi-stat__content">
                <div class="chi-stat-metric">
                  <div class="chi-stat-metric__value">6</div>
                  <div class="chi-stat-metric__title">Critical Performing</div>
                </div>
              </div>
            </div>
            <div class="chi-stat__item">
              <div class="chi-stat__content">
                <div class="chi-stat-metric">
                  <div class="chi-stat-metric__value">7</div>
                  <div class="chi-stat-metric__title">Services Down</div>
                </div>
              </div>
            </div>
            <div class="chi-stat__item">
              <div class="chi-stat__content">
                <div class="chi-stat-metric">
                  <div class="chi-stat-metric__value">8</div>
                  <div class="chi-stat-metric__title">Scheduled Maintenance</div>
                </div>
              </div>
            </div>
          </div>
        </chi-carousel>
    .chi-tabs-panel#html-portal-compact-base

section.chi-popover.chi-popover--bottom(id="example__help-popover" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.
section.chi-popover.chi-popover--bottom(id="example__help-popover2" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.
section.chi-popover.chi-popover--bottom(id="example__help-popover3" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.
section.chi-popover.chi-popover--bottom(id="example__help-popover4" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.
section.chi-popover.chi-popover--bottom(id="example__help-popover5" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.
section.chi-popover.chi-popover--bottom(id="example__help-popover6" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.

section.chi-popover.chi-popover--bottom(id="example__portal-help-popover" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.
section.chi-popover.chi-popover--bottom(id="example__portal-help-popover2" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.
section.chi-popover.chi-popover--bottom(id="example__portal-help-popover3" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.
section.chi-popover.chi-popover--bottom(id="example__portal-help-popover4" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.
section.chi-popover.chi-popover--bottom(id="example__portal-help-popover5" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.
section.chi-popover.chi-popover--bottom(id="example__portal-help-popover6" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.

section.chi-popover.chi-popover--bottom(id="example__portal-base-help-popover2" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.
section.chi-popover.chi-popover--bottom(id="example__portal-base-help-popover3" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.
section.chi-popover.chi-popover--bottom(id="example__portal-base-help-popover4" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.
section.chi-popover.chi-popover--bottom(id="example__portal-base-help-popover5" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.
section.chi-popover.chi-popover--bottom(id="example__portal-base-help-popover6" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.

section.chi-popover.chi-popover--bottom(id="example__portal-bgicons-help-popover2" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.
section.chi-popover.chi-popover--bottom(id="example__portal-bgicons-help-popover3" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.
section.chi-popover.chi-popover--bottom(id="example__portal-bgicons-help-popover4" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.
section.chi-popover.chi-popover--bottom(id="example__portal-bgicons-help-popover5" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.
section.chi-popover.chi-popover--bottom(id="example__portal-bgicons-help-popover6" aria-modal="true" role="dialog")
  .chi-popover__content
    p.chi-popover__text
      | Helpful information goes here.

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));
      chi.popover(document.getElementById('example__help-button'));
      chi.popover(document.getElementById('example__portal-help-button'));
      chi.popover(document.getElementById('example__help-button2'));
      chi.popover(document.getElementById('example__portal-help-button2'));
      chi.popover(document.getElementById('example__help-button3'));
      chi.popover(document.getElementById('example__portal-help-button3'));
      chi.popover(document.getElementById('example__help-button4'));
      chi.popover(document.getElementById('example__portal-help-button4'));
      chi.popover(document.getElementById('example__help-button5'));
      chi.popover(document.getElementById('example__portal-help-button5'));
      chi.popover(document.getElementById('example__help-button6'));
      chi.popover(document.getElementById('example__portal-help-button6'));

      chi.popover(document.getElementById('example__portal-base-help-button2'));
      chi.popover(document.getElementById('example__portal-base-help-button3'));
      chi.popover(document.getElementById('example__portal-base-help-button4'));
      chi.popover(document.getElementById('example__portal-base-help-button5'));
      chi.popover(document.getElementById('example__portal-base-help-button6'));

      chi.popover(document.getElementById('example__portal-bgicons-help-button2'));
      chi.popover(document.getElementById('example__portal-bgicons-help-button3'));
      chi.popover(document.getElementById('example__portal-bgicons-help-button4'));
      chi.popover(document.getElementById('example__portal-bgicons-help-button5'));
      chi.popover(document.getElementById('example__portal-bgicons-help-button6'));
    }
  );
