---
title: Stat
description: Stats are used to prominently display text or number values in data visualizations.
tabs: {"Examples" : "examplestab", "Properties" : "propertiestab", "Accessibility" : "accessibilitytab"}
---

.chi-tabs-panel.-active#examplestab
  include _examples

.chi-tabs-panel#propertiestab
  include _properties

.chi-tabs-panel#accessibilitytab
  include _accessibility
