$sizes: (
  sm: (
    background-position: right 0.5rem center,
  ),
  md: (
    background-position: right 0.5rem center,
  ),
  lg: (
    background-position: right 1rem center,
  ),
  xl: (
    background-position: right 1rem center,
  )
);

.sc-chi-pagination {
  .chi-pagination__page-size {
    select {
      &.chi-input {
        background-color: transparent;
        border: .0625rem solid transparent;
        box-shadow: none;
        font-size: 0.875rem;
        font-weight: 600;
        height: 32px;
        padding: 8px;
        width: 54px;

        &:hover {
          -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .04);
          border: .0625rem solid #d0d4d9;
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .04);
        }
      }
    }
  }

  &.-inverse {
    .chi-pagination__page-size {
      select {
        &.chi-input {
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' version='1.1' width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.097 10.66l6.005-6.216.58-.6 1.162 1.201-.58.601-6.568 6.798-.58.601-.648-.67-.069-.067L.601 5.741 0 5.161 1.202 4l.6.58 6.295 6.08z' fill='%23FFFFFF' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
          background-position: map-get(map-get($sizes, md), background-position);
          background-repeat: no-repeat;
          background-size: 0.75rem 0.75rem;
          color: set-color(white);

          &:hover {
            border: .0625rem solid set-color(white);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .04);
          }
        }
      }
    }
  }
}
