@import '_mixins';
@import '_variables';

$animation-duration: 0.5s;

.-disableScroll {
  overflow: hidden;
}

.a-modal {
  background-color: set-color(white);
  border-radius: $border-radius;
  box-shadow: 0 0 25px 10px rgba(set-color(black), 0.15);
  margin: auto;
  max-width: 600px;
  min-width: 0;
  overflow: hidden;
  pointer-events: all;
  position: relative;
  top: 0;
  width: 100%;

  &.-active {
    display: block;
  }

  &.-animated {
    display: block;
    &:not(.-active) {
      top: -1000px;
    }

    transition-duration: $animation-duration;
    transition-property: top;
    transition-timing-function: ease-in-out;

    &.-transitioning {
      display: block;
    }
  }

  .-close {
    position: absolute;
    right: 0.75rem;
    top: 0.8125rem;
  }

  .-closed {
    display: none;
  }

  &__header {
    box-shadow: inset 0 -1px 0 0 rgba(set-color(black), 0.12);
    min-height: 3.5rem;
    padding: 1rem;
    position: relative;
    top: 0;
    width: 100%;

    &.-active {
      display: block;
    }

    &.-animated {
      display: block;
      &:not(.-active) {
        top: -1000px;
      }

      transition-duration: $animation-duration;
      transition-property: top;
      transition-timing-function: ease-in-out;

      &.-transitioning {
        display: block;
      }
    }

    .-close {
      position: absolute;
      right: 0.75rem;
      top: 0.8125rem;
    }

    .-closed {
      display: none;
    }

    &__header {
      box-shadow: inset 0 -1px 0 0 rgba(set-color(black), 0.12);
      min-height: 3.5rem;
      padding: 1rem;
      position: relative;

      &.-noBorder {
        box-shadow: none;
      }

      .a-modal__title {
        font-size: $text-large;
        font-weight: bold;
        line-height: $line-height-large;
        margin: 0;
      }


      &.-centered {
        text-align: center;
      }
    }

    .a-modal__subtitle {
      font-size: $text;
      font-weight: normal;
      margin: 0;

      &.-centered {
        text-align: center;
      }
    }

    .a-modal__back {
      & {
        align-items: center;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        display: flex;
        left: 1rem;
        outline: none;
        padding: 0;
        position: absolute;
        top: 1.25rem;
      }

      &::before {
        background-image: url('./icon-back.svg');
        content: '';
        display: block;
        height: 1rem;
        margin-right: 0.5rem;
        width: 1rem;
      }

      &::after {
        color: set-color(grey, 50);
        content: 'Back';
        display: block;
        font-size: $text;
        font-weight: 600;
        left: 1.5rem;
        position: absolute;
        top: 0;
      }
    }
  }

  &__content {
    font-size: $text-small;
    line-height: $line-height-smaller;
    overflow-y: auto;
    padding: 1.5rem;
  }

  &__footer {
    box-shadow: inset 0 1px 0 0 rgba(set-color(black), 0.12);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-height: 4rem;
    padding: 1rem;
    position: relative;

    &.-noBorder {
      box-shadow: none;
    }
  }
}
