@import '_mixins';
@import '_variables';

$animation-duration: 0.5s;

.-disable-scroll {
  overflow: hidden;
}

.chi-modal {
  background-color: set-color(white);
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
  0 9px 46px 8px rgba(0, 0, 0, 0.12),
  0 11px 15px -7px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  min-width: 0;
  overflow: hidden;
  pointer-events: all;
  position: relative;
  top: 0;
  width: 100%;

  &__header {
    box-shadow: inset 0 -1px 0 0 rgba(set-color(black), 0.12);
    min-height: 3.5rem;
    padding: 1rem;
    position: relative;

    &.-no-border {
      box-shadow: none;
    }

    .chi-modal__title {
      font-size: $text-large;
      font-weight: bold;
      line-height: $line-height-large;
      margin: 0;

      &.-centered {
        text-align: center;
      }
    }

    .chi-modal__subtitle {
      font-size: $text;
      font-weight: normal;
      line-height: $line-height-large;
      margin: 0;

      &.-centered {
        text-align: center;
      }
    }

    .chi-modal__back {
      & {
        align-items: center;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        display: flex;
        left: 1rem;
        outline: none;
        padding: 0;
        position: absolute;
        top: 1.25rem;
      }

      &::before {
        content: '\e91f';
        display: block;
        font-family: 'chi';
        font-size: 1rem;
        font-weight: normal;
        height: 1rem;
        line-height: 1.2rem;
        margin-right: 0.5rem;
        width: 1rem;
      }

      &::after {
        content: 'Back';
        display: block;
        font-size: $text;
        font-weight: 600;
        left: 1.5rem;
        position: absolute;
        top: 0;
      }
    }
  }

  &__content {
    font-size: $text;
    line-height: $line-height-small;
    overflow-y: auto;
    padding: 1.5rem;
  }

  &__footer {
    box-shadow: inset 0 1px 0 0 rgba(set-color(black), 0.12);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-height: 4rem;
    padding: 1rem;
    position: relative;

    &.-no-border {
      box-shadow: none;
    }

    .chi-button {
      & + .chi-button {
        margin-left: 1rem;
      }
    }
  }

  .-close {
    position: absolute;
    right: 0.75rem;
    top: 0.8125rem;
  }

  &.-active {
    display: block;
  }

  &.-animated {
    display: block;
    transition-duration: $animation-duration;
    transition-property: top;
    transition-timing-function: ease-in-out;

    &:not(.-active) {
      top: -1000px;
    }

    &.-transitioning {
      display: block;
    }
  }

  .-closed {
    display: none;
  }

  &.-portal {
    background-color: set-color(grey, 20);
    box-shadow: 0 3px 6px rgba(set-color(black), 0.15);

    .chi-modal__header {
      background-color: set-color(grey, 80);
      box-shadow: none;
      color: set-color(white);

      .chi-modal__back {
        color: set-color(white);
      }
    }

    .chi-modal__footer {
      box-shadow: none;
      justify-content: center;
    }

    .-close {
      color: set-color(white);
    }
  }
}
