@import '_global-mixins';
@import '_global-variables';

.-disable-scroll {
  overflow: hidden;
}

.chi-modal {
  background-color: $modal-background-color;
  box-shadow: $modal-box-shadow;
  max-width: $modal-max-width;
  min-width: 0;
  overflow: hidden;
  pointer-events: all;
  position: relative;
  top: 0;
  width: 100%;

  &__header {
    background-color: $modal-header-background-color;
    box-shadow: $modal-header-box-shadow;
    min-height: $modal-header-min-height;
    padding: $modal-header-padding;
    position: relative;

    &.-no-border {
      box-shadow: none;
    }

    .chi-modal__title {
      font-size: $font-size-lg;
      font-weight: bold;
      line-height: $line-height-lg;
      margin: 0;

      &.-centered {
        text-align: center;
      }
    }

    .chi-modal__subtitle {
      font-size: $font-size-base;
      font-weight: $font-weight-normal;
      line-height: $line-height-lg;
      margin: 0;

      &.-centered {
        text-align: center;
      }
    }

    .chi-modal__back {
      & {
        align-items: center;
        background-color: transparent;
        border: 0;
        color: $modal-back-link-color;
        cursor: pointer;
        display: flex;
        left: 1rem;
        outline: none;
        padding: 0;
        position: absolute;
        top: 1.25rem;
      }

      &::before {
        content: '\e91f';
        display: block;
        font-family: 'chi';
        font-size: 1rem;
        font-weight: $font-weight-normal;
        height: 1rem;
        line-height: 1.2rem;
        margin-right: 0.5rem;
        width: 1rem;
      }

      &::after {
        content: 'Back';
        display: block;
        font-size: $font-size-base;
        font-weight: $font-weight-semi-bold;
        left: 1.5rem;
        position: absolute;
        top: 0;
      }
    }
  }

  &__content {
    font-size: $font-size-base;
    line-height: $line-height;
    overflow-y: auto;
    padding: 1.5rem;
  }

  &__footer {
    box-shadow: $modal-footer-box-shadow;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-height: $modal-footer-min-height;
    padding: $modal-footer-padding;
    position: relative;

    &.-no-border {
      box-shadow: none;
    }

    .chi-button,
    chi-button {
      & + .chi-button,
      & + chi-button {
        margin-left: 1rem;
      }
    }
  }

  .-close {
    position: absolute;
    right: 0.75rem;
    top: $modal-close-top;

    .chi-icon {
      color: $modal-close-icon-color;
    }
  }

  &.-active {
    display: block;
  }

  &.-animated {
    display: block;
    transition-duration: $modal-animated-transition-duration;
    transition-property: top;
    transition-timing-function: ease-in-out;

    &:not(.-active) {
      top: -1000px;
    }

    &.-transitioning {
      display: block;
    }
  }

  .-closed {
    display: none;
  }
}
