---
title: Icon
styles: [assets/styles/icons]
description: Chi has adopted a subset of icons from Cyclops and CenturyLink's Cloud Application Manager.
tabs: {"Examples" : "examplestab", "Properties" : "propertiestab", "Accessibility" : "accessibilitytab"}
---

.a-tabs-panel.-active#examplestab
  include _examples

.a-tabs-panel#propertiestab
  include _properties

.a-tabs-panel#accessibilitytab
  include _accessibility