block variables

doctype html
html.chi
  head
    title Chi tests
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="edge")
    meta(name="description" content="Chi Tests")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="stylesheet" href="../../chi.css" type="text/css")
    link(rel="stylesheet" href="../tests.css" type="text/css")

    block scripts
  body(style= bodyStyle)
    .chi-grid__container
      h1= title 
      .tests#tests
        block content
