h2 Data Table Base

include ./base.pug
include ./base-compact.pug
include ./truncation.pug
include ./empty.pug
include ./no-border.pug
include ./striped.pug
include ./bordered.pug
include ./active.pug
include ./selectable.pug
include ./radio-selection.pug
include ./accordion.pug
include ./sorting.pug
include ./sizes.pug
include ./server-side.pug
