@import 'variables';
@import 'mixins';

.chi {
  input {
    &[type='checkbox'] {
      &.a-input {
        &.-toggle {
          left: -9999px;
          position: absolute;

          & + label {
            background-color: set-color(carbon, 100);
            border: 0;
            border-radius: 12px;
            cursor: pointer;
            display: inline-block;
            height: 3rem;
            line-height: 3rem;
            position: relative;
            transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
            width: 7rem;

            &::before {
              background-color: set-color(grey, 100);
              background-image: none;
              border: 0;
              border-radius: 12px;
              content: '';
              display: block;
              height: 2.5rem;
              left: 0.25rem;
              margin: 0;
              opacity: 1;
              position: absolute;
              top: 0.25rem;
              transition: left 0.2s cubic-bezier(1, 0.38, 0, 1.19) 0.1s;
              width: 2.5rem;
            }

            &::after {
              background-image: none;
              color: set-color(grey, 100);
              content: 'OFF';
              display: block;
              font-size: 1.375rem;
              font-weight: bold;
              height: 3rem;
              left: 3.125rem;
              opacity: 1;
              position: absolute;
              top: 0;
              transition: left 0.2s ease-in 0.1s;
            }
          }

          &:checked {
            & + label {
              background-color: set-color(green, 500);

              &::before {
                left: 4.25rem;
              }

              &::after {
                content: 'ON';
                left: 1.25rem;
              }
            }

            &:focus,
            &.-focus {
              & + label {
                box-shadow: 0 0 1px 4px rgba(set-color(green, 500), 0.3);
              }
            }
          }

          &[disabled] + label {
            opacity: 0.65;
            pointer-events: none;
          }

          &:focus,
          &.-focus {
            & + label {
              box-shadow: 0 0 1px 4px rgba(set-color(carbon, 100), 0.3);

              &::before {
                box-shadow: none;
              }
            }
          }

          &.-noText {
            & + label {
              width: 5rem;

              &::after {
                display: none;
              }
            }

            &:checked {
              & + label {
                &::before {
                  left: 2.25rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
