.m-alert.-info.-my--3
  i.m-alert__icon.a-icon.icon-circle-info
  .m-alert__content
    p.m-alert__text This component requires Javascript

h2 Examples
ul#a-tabs--drawer.a-tabs
  li.-active
    a(href='#a-tabs--drawer-left') Left
  li
    a(href='#a-tabs--drawer-right') Right
  li
    a(href='#a-tabs--drawer-top') Top
  li
    a(href='#a-tabs--drawer-bottom') Bottom
#a-tabs--drawer-left.a-tabs-panel.-active
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:30rem;overflow:hidden;")
      .-p--3
        each i in [1, 2, 3]
          .-text.-mb--1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
      .m-drawer.-left.-active(style="position:absolute;")
        .m-drawer__header
          button(class='a-btn -icon -close', aria-label='Close')
            .a-btn__content
              i.a-icon.icon-x
        .m-drawer__content
          .-px--2.-text Drawer content here
    :code(lang="html")
      <div class="m-drawer -left -active">
        <div class="m-drawer__header">
          <button class="a-btn -icon -close" aria-label="Close">
            <div class="a-btn__content">
              <i class="a-icon icon-x"></i>
            </div>
          </button>
        </div>
        <div class="m-drawer__content">
          <div class="-px--2 -text">Drawer content here</div>
        </div>
      </div>
#a-tabs--drawer-right.a-tabs-panel
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:30rem;overflow:hidden;")
      .-p--3
        each i in [1, 2, 3]
          .-text.-mb--1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
      .m-drawer.-right.-active(style="position:absolute;")
        .m-drawer__header
          button(class='a-btn -icon -close', aria-label='Close')
            .a-btn__content
              i.a-icon.icon-x
        .m-drawer__content
          .-px--2.-text Drawer content here
    :code(lang="html")
      <div class="m-drawer -right -active">
        <div class="m-drawer__header">
          <button class="a-btn -icon -close" aria-label="Close">
            <div class="a-btn__content">
              <i class="a-icon icon-x"></i>
            </div>
          </button>
        </div>
        <div class="m-drawer__content">
          <div class="-px--2 -text">Drawer content here</div>
        </div>
      </div>
#a-tabs--drawer-top.a-tabs-panel
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:30rem;overflow:hidden;")
      .-p--3
        each i in [1, 2, 3]
          .-text.-mb--1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
      .m-drawer.-top.-active(style="position:absolute;")
        .m-drawer__header
          button(class='a-btn -icon -close', aria-label='Close')
            .a-btn__content
              i.a-icon.icon-x
        .m-drawer__content
          .-px--2.-text Drawer content here
    :code(lang="html")
      <div class="m-drawer -top -active">
        <div class="m-drawer__header">
          <button class="a-btn -icon -close" aria-label="Close">
            <div class="a-btn__content">
              <i class="a-icon icon-x"></i>
            </div>
          </button>
        </div>
        <div class="m-drawer__content">
          <div class="-px--2 -text">Drawer content here</div>
        </div>
      </div>
#a-tabs--drawer-bottom.a-tabs-panel
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:30rem;overflow:hidden;")
      .-p--3
        each i in [1, 2, 3]
          .-text.-mb--1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
      .m-drawer.-bottom.-active(style="position:absolute;")
        .m-drawer__header
          button(class='a-btn -icon -close', aria-label='Close')
            .a-btn__content
              i.a-icon.icon-x
        .m-drawer__content
          .-px--2.-text Drawer content here
    :code(lang="html")
      <div class="m-drawer -bottom -active">
        <div class="m-drawer__header">
          <button class="a-btn -icon -close" aria-label="Close">
            <div class="a-btn__content">
              <i class="a-icon icon-x"></i>
            </div>
          </button>
        </div>
        <div class="m-drawer__content">
          <div class="-px--2 -text">Drawer content here</div>
        </div>
      </div>

h3 Backdrop
p.-text
  | An optional backdrop can be added to focus the users attention on drawer content.
.example.-mb--3(style='overflow:hidden;')
  .m-backdrop.-position--relative.-z--0(style="height:30rem;")
    .m-backdrop__wrapper
      .m-drawer.-bottom.-active.-position--absolute
        button(class='a-btn -icon -close', aria-label='Close')
          .a-btn__content
            i.a-icon.icon-x
        .m-drawer__content.-d--flex.-align-items--center.-justify-content--center
          .-px--2.-text Drawer content here
  :code(lang="html")
    <div class="m-backdrop">
      <div class="m-backdrop__wrapper">
        <div class="m-drawer -bottom -active">
          <button class="a-btn -icon -close" aria-label="Close">
            <div class="a-btn__content">
              <i class="a-icon icon-x"></i>
            </div>
          </button>
          <div class="m-drawer__content -d--flex -align-items--center -justify-content--center">
            <div class="-px--2 -text">Drawer content here</div>
          </div>
        </div>
      </div>
    </div>

h3 Header
p.-text
  | Header markup is optional. Remove it to make the content fill the drawer.

ul#a-tabs--header.a-tabs
  li.-active
    a(href='#a-tabs--header-with') Header
  li
    a(href='#a-tabs--header-without') No header
#a-tabs--header-with.a-tabs-panel.-active
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:15rem;overflow:hidden;")
      .m-backdrop(style="position:relative;height:30rem")
        .m-backdrop__wrapper
          .m-drawer.-left.-active(style="position:absolute;")
            .m-drawer__header
              button(class='a-btn -icon -close', aria-label='Close')
                .a-btn__content
                  i.a-icon.icon-x
            .m-drawer__content
              .-px--2.-text Drawer content here
    :code(lang="html")
      <div class="m-backdrop">
        <div class="m-backdrop__wrapper">
          <div class="m-drawer -left -active">
            <div class="m-drawer__header">
              <button class="a-btn -icon -close" aria-label="Close">
                <div class="a-btn__content">
                  <i class="a-icon icon-x"></i>
                </div>
              </button>
            </div>
            <div class="m-drawer__content">
              <div class="-px--2 -text">Drawer content here</div>
            </div>
          </div>
        </div>
      </div>
#a-tabs--header-without.a-tabs-panel
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:15rem;overflow:hidden;")
      .m-backdrop(style="position:relative;height:30rem")
        .m-backdrop__wrapper
          .m-drawer.-left.-active(style="position:absolute;")
            button(class='a-btn -icon -close', aria-label='Close')
              .a-btn__content
                i.a-icon.icon-x
            .m-drawer__content
              .-px--2.-text Drawer content here
    :code(lang="html")
      <div class="m-backdrop">
        <div class="m-backdrop__wrapper">
          <div class="m-drawer -left -active">
            <button class="a-btn -icon -close" aria-label="Close">
              <div class="a-btn__content">
                <i class="a-icon icon-x"></i>
              </div>
            </button>
            <div class="m-drawer__content">
              <div class="-px--2 -text">Drawer content here</div>
            </div>
          </div>
        </div>
      </div>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.getElementById('a-tabs--drawer'));
      chi.tab(document.getElementById('a-tabs--header'));
    }
  );
