h2 Examples
ul#chi-tabs--drawer.chi-tabs
  li.-active
    a(href='#chi-tabs--drawer-left') Left
  li
    a(href='#chi-tabs--drawer-right') Right
  li
    a(href='#chi-tabs--drawer-top') Top
  li
    a(href='#chi-tabs--drawer-bottom') Bottom
#chi-tabs--drawer-left.chi-tabs-panel.-active
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:30rem;overflow:hidden;")
      .-p--3
        each i in [1, 2, 3]
          .-text.-mb--1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
      chi-drawer(position='left', active)
        .-px--2.-text Drawer content here
    .example-tabs.-pl--2
      ul.chi-tabs#examples-default
        li.-active
          a(href=`#webcomponent`) Web Component
        li
          a(href=`#html`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent
      :code(lang="html")
        <chi-drawer position="left" active>
          <div class="-px--2 -text">Drawer content here</div>
        </chi-drawer>
    .chi-tabs-panel#html
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <div class="chi-drawer -left -active">
          <div class="chi-drawer__header">
            <button class="chi-button -icon -close" aria-label="Close">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
          </div>
          <div class="chi-drawer__content">
            <div class="-px--2 -text">Drawer content here</div>
          </div>
        </div>

#chi-tabs--drawer-right.chi-tabs-panel
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:30rem;overflow:hidden;")
      .-p--3
        each i in [1, 2, 3]
          .-text.-mb--1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
      chi-drawer(position='right', active)
        .-px--2.-text Drawer content here
    .example-tabs.-pl--2
      ul.chi-tabs#examples-default-right
        li.-active
          a(href=`#webcomponent-right`) Web Component
        li
          a(href=`#html-right`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-right
      :code(lang="html")
        <chi-drawer position="right" active>
          <div class="-px--2 -text">Drawer content here</div>
        </chi-drawer>
    .chi-tabs-panel#html-right
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <div class="chi-drawer -right -active">
          <div class="chi-drawer__header">
            <button class="chi-button -icon -close" aria-label="Close">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
          </div>
          <div class="chi-drawer__content">
            <div class="-px--2 -text">Drawer content here</div>
          </div>
        </div>

#chi-tabs--drawer-top.chi-tabs-panel
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:30rem;overflow:hidden;")
      .-p--3
        each i in [1, 2, 3]
          .-text.-mb--1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
      chi-drawer(position='top', active)
        .-px--2.-text Drawer content here
    .example-tabs.-pl--2
      ul.chi-tabs#examples-default-top
        li.-active
          a(href=`#webcomponent-top`) Web Component
        li
          a(href=`#html-top`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-top
      :code(lang="html")
        <chi-drawer position="top" active>
          <div class="-px--2 -text">Drawer content here</div>
        </chi-drawer>
    .chi-tabs-panel#html-top
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <div class="chi-drawer -top -active">
          <div class="chi-drawer__header">
            <button class="chi-button -icon -close" aria-label="Close">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
          </div>
          <div class="chi-drawer__content">
            <div class="-px--2 -text">Drawer content here</div>
          </div>
        </div>

#chi-tabs--drawer-bottom.chi-tabs-panel
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:30rem;overflow:hidden;")
      .-p--3
        each i in [1, 2, 3]
          .-text.-mb--1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
      chi-drawer(position='bottom', active)
        .-px--2.-text Drawer content here
    .example-tabs.-pl--2
      ul.chi-tabs#examples-default-bottom
        li.-active
          a(href=`#webcomponent-bottom`) Web Component
        li
          a(href=`#html-bottom`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-bottom
      :code(lang="html")
        <chi-drawer position="bottom" active>
          <div class="-px--2 -text">Drawer content here</div>
        </chi-drawer>
    .chi-tabs-panel#html-bottom
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <div class="chi-drawer -bottom -active">
          <div class="chi-drawer__header">
            <button class="chi-button -icon -close" aria-label="Close">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
          </div>
          <div class="chi-drawer__content">
            <div class="-px--2 -text">Drawer content here</div>
          </div>
        </div>

h3 Backdrop
p.-text
  | An optional backdrop can be added to focus the users attention on drawer content.
.example.-mb--3(style='overflow:hidden;')
  .-position--relative.-z--0(style="height:30rem;overflow:hidden;")
    chi-drawer(position='bottom', backdrop, active)
      .-px--2.-text Drawer content here
  .example-tabs.-pl--2
    ul.chi-tabs#examples-backdrop
      li.-active
        a(href=`#webcomponent-backdrop`) Web Component
      li
        a(href=`#html-backdrop`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-backdrop
    :code(lang="html")
      <chi-drawer position="bottom" backdrop active>
        <div class="-px--2 -text">Drawer content here</div>
      </chi-drawer>
  .chi-tabs-panel#html-backdrop
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-backdrop">
        <div class="chi-backdrop__wrapper">
          <div class="chi-drawer -bottom -active">
            <button class="chi-button -icon -close" aria-label="Close">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
            <div class="chi-drawer__content -d--flex -align-items--center -justify-content--center">
              <div class="-px--2 -text">Drawer content here</div>
            </div>
          </div>
        </div>
      </div>

h3 Titled
.example.-mb--3(style='overflow:hidden;')
  .-position--relative.-z--0(style="height:30rem;overflow:hidden;")
    chi-drawer(position='left', title='Drawer title here', backdrop, active)
      .-px--2.-text Drawer content here
  .example-tabs.-pl--2
    ul#examples-titled.chi-tabs
      li.-active
        a(href='#webcomponent-titled') Web Component
      li
        a(href='#html-titled') HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-titled
    :code(lang="html")
      <chi-drawer position="left" title="Drawer title here" backdrop active>
        <div class="-px--2 -text">Drawer content here</div>
      </chi-drawer>
  .chi-tabs-panel#html-titled
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-backdrop">
        <div class="chi-backdrop__wrapper">
          <div class="chi-drawer -left -active">
            <div class="chi-drawer__header">
              <span class="chi-drawer__title">
                Drawer title here
              </span>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content">
                  <i class="chi-icon icon-x"></i>
                </div>
              </button>
            </div>
            <div class="chi-drawer__content">
              <div class="-px--2 -text">Drawer content here</div>
            </div>
          </div>
        </div>
      </div>

h3 Close button
ul#chi-tabs--closable.chi-tabs
  li.-active
    a(href='#chi-tabs--closable-with') Closable
  li
    a(href='#chi-tabs--closable-without') Non closable
#chi-tabs--closable-with.chi-tabs-panel.-active
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:15rem;overflow:hidden;")
      chi-drawer(position='left' active backdrop)
        .-px--2.-text Drawer content here
    .example-tabs.-pl--2
      ul.chi-tabs#examples-closable
        li.-active
          a(href=`#webcomponent-closable`) Web Component
        li
          a(href=`#html-closable`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-closable
      .chi-tab__description
        | By default Drawer includes a close button
      :code(lang="html")
        <chi-drawer position="left" active backdrop>
          <div class="-px--2 -text">Drawer content here</div>
        </chi-drawer>
    .chi-tabs-panel#html-closable
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <div class="chi-backdrop">
          <div class="chi-backdrop__wrapper">
            <div class="chi-drawer -bottom -active">
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content">
                  <i class="chi-icon icon-x"></i>
                </div>
              </button>
              <div class="chi-drawer__content -d--flex -align-items--center -justify-content--center">
                <div class="-px--2 -text">Drawer content here</div>
              </div>
            </div>
          </div>
        </div>
#chi-tabs--closable-without.chi-tabs-panel
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:15rem;overflow:hidden;")
      chi-drawer(position='left', active, backdrop, non-closable)
        .-px--2.-text Drawer content here
    .example-tabs.-pl--2
      ul.chi-tabs#examples-nonclosable
        li.-active
          a(href=`#webcomponent-nonclosable`) Web Component
        li
          a(href=`#html-nonclosable`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-nonclosable
      .chi-tab__description
        | Use the <code>non-closable</code> attribute to render Drawer without a close button

      :code(lang="html")
        <chi-drawer position="left" active backdrop non-closable>
          <div class="-px--2 -text">Drawer content here</div>
        </chi-drawer>
    .chi-tabs-panel#html-nonclosable
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <div class="chi-backdrop">
          <div class="chi-backdrop__wrapper">
            <div class="chi-drawer -bottom -active">
              <div class="chi-drawer__content -d--flex -align-items--center -justify-content--center">
                <div class="-px--2 -text">Drawer content here</div>
              </div>
            </div>
          </div>
        </div>

h3 Header
p.-text
  | Header markup is optional. Remove it to make the content fill the drawer.

ul#chi-tabs--header.chi-tabs
  li.-active
    a(href='#chi-tabs--header-with') Header
  li
    a(href='#chi-tabs--header-without') No header
#chi-tabs--header-with.chi-tabs-panel.-active
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:15rem;overflow:hidden;")
      chi-drawer(position='left' active backdrop)
          .-px--2.-text Drawer content here
    .example-tabs.-pl--2
      ul.chi-tabs#examples-header
        li.-active
          a(href=`#webcomponent-header`) Web Component
        li
          a(href=`#html-header`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-header
      :code(lang="html")
        <chi-drawer position="left" active backdrop>
          <div class="-px--2 -text">Drawer content here</div>
        </chi-drawer>
    .chi-tabs-panel#html-header
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <div class="chi-backdrop">
          <div class="chi-backdrop__wrapper">
            <div class="chi-drawer -left -active">
              <div class="chi-drawer__header">
                <button class="chi-button -icon -close" aria-label="Close">
                  <div class="chi-button__content">
                    <i class="chi-icon icon-x"></i>
                  </div>
                </button>
              </div>
              <div class="chi-drawer__content">
                <div class="-px--2 -text">Drawer content here</div>
              </div>
            </div>
          </div>
        </div>

#chi-tabs--header-without.chi-tabs-panel
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:15rem;overflow:hidden;")
      chi-drawer(position='left' active backdrop no-header)
        .-px--2.-text Drawer content here
    .example-tabs.-pl--2
      ul.chi-tabs#examples-headerless
        li.-active
          a(href=`#webcomponent-headerless`) Web Component
        li
          a(href=`#html-headerless`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-headerless
      :code(lang="html")
        <chi-drawer position="left" active backdrop no-header>
          <div class="-px--2 -text">Drawer content here</div>
        </chi-drawer>
    .chi-tabs-panel#html-headerless
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <div class="chi-backdrop">
          <div class="chi-backdrop__wrapper">
            <div class="chi-drawer -left -active">
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content">
                  <i class="chi-icon icon-x"></i>
                </div>
              </button>
              <div class="chi-drawer__content">
                <div class="-px--2 -text">Drawer content here</div>
              </div>
            </div>
          </div>
        </div>

h2 Interaction
p.-text
  | Read this handy introduction to
  |
  a(href=`../../getting-started/installation`) HTML attributes and DOM properties

.example.-mb--3(style='overflow:hidden;')
  .-position--relative.-z--0(style='height:20rem;overflow:hidden;')
    .-p--3
      .-d--flex.-justify-content--end.-align-items--start
        button.chi-button.-icon#drawer-trigger(aria-label="Toggle drawer")
          .chi-button__content
            i.chi-icon.icon-menu.-sm--2
      each i in [1, 2]
        p.-text.-mb--3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
    chi-drawer#interactive-drawer(position="right", backdrop)
      .-px--2.-text Drawer content here
  .example-tabs.-pl--2
    ul#examples-interaction.chi-tabs
      li.-active
        a(href='#webcomponent-interaction') Web Component
      li
        a(href='#html-interaction') HTML Blueprint
  #webcomponent-interaction.chi-tabs-panel.-active
    .chi-tab__description
      | Modify the <code>active</code> attribute or property to make the drawer show or hide. The <code>chi-drawer</code>
      | element also has three public methods to interact with it: <code>show()</code>, <code>hide()</code>,
      | <code>toggle()</code>.
    :code(lang="html")
      <chi-button id="drawer-trigger" type="icon">
        <chi-icon icon="menu"></chi-icon>
      </chi-button>

      <chi-drawer id="interactive-drawer" position="right" backdrop>
        <div class="-px--2 -text">Drawer content here</div>
      </div>

      <script>
        var drawer = document.getElementById('interactive-drawer');
        var drawerTrigger = document.getElementById('drawer-trigger');
        drawerTrigger.addEventListener('click', function(){
          drawer.toggle();
          // or drawer.active = !drawer.active;
        });
      </script>
  #html-interaction.chi-tabs-panel
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
      br
      br
      | Use the function <code>chi.drawer(elem)</code> to instantiate a new drawer component in the DOM
      | element passed as a parameter. You must use the trigger element as the parameter.
    :code(lang="html")
      <button id="drawer-trigger-1" class="chi-button -icon chi-drawer__trigger" data-target="#drawer-1" aria-label="Toggle navigation">
        <div class="chi-button__content">
          <i class="chi-icon -sm--2 icon-menu"></i>
        </div>
      </button>

      <div class="chi-backdrop -closed">
        <div class="chi-backdrop__wrapper">
          <div id="drawer-1" class="chi-drawer -right">
            <div class="chi-drawer__header">
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content">
                  <i class="chi-icon icon-x"></i>
                </div>
              </button>
            </div>
            <div class="chi-drawer__content">
              <div class="-px--2 -text">Drawer content here</div>
            </div>
          </div>
        </div>
      </div>

      <script>chi.drawer(document.getElementById('drawer-trigger-1'));</script>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));

      var drawer = document.getElementById('interactive-drawer');
      var drawerTrigger = document.getElementById('drawer-trigger');
      drawerTrigger.addEventListener('click', function(){
        drawer.toggle();
      });
    }
  );
