h2 Examples
h3 Interaction
p.-text
  | Read this handy introduction to
  |
  a(href=`../../getting-started/installation`) HTML attributes and DOM properties

.example.-mb--3(style='overflow:hidden;')
  .-position--relative.-z--0(style='height:20rem;overflow:hidden;')
    .-p--3
      .-d--flex.-align-items--center
        button.chi-button.-icon#drawer-trigger(aria-label="Toggle drawer")
          .chi-button__content
            i.chi-icon.icon-menu.-sm--2
        b.-ml--2 Click menu button to open Drawer
      each i in [1, 2]
        p.-text.-mb--3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
    chi-drawer#interactive-drawer(position="left" backdrop)
      .-px--2.-text Drawer content here
  .example-tabs.-pl--2
    ul#examples-interaction.chi-tabs
      li.-active
        a(href='#webcomponent-interaction') Web Component
      li
        a(href='#html-interaction') HTML Blueprint
  #webcomponent-interaction.chi-tabs-panel.-active
    .chi-tab__description
      | Modify the <code>active</code> attribute or property to make the drawer show or hide. The <code>chi-drawer</code>
      | element also has three public methods to interact with it: <code>show()</code>, <code>hide()</code>,
      | <code>toggle()</code>.
    :code(lang="html")
      <!-- Trigger -->
      <chi-button id="drawer-trigger" type="icon">
        <chi-icon icon="menu" size="sm--2"></chi-icon>
      </chi-button>

      <!-- Drawer -->
      <chi-drawer id="interactive-drawer" position="left" backdrop>
        <div class="-px--2 -text">Drawer content here</div>
      </chi-drawer>

      <!-- JavaScript -->
      <script>
        var drawer = document.getElementById('interactive-drawer');
        var drawerTrigger = document.getElementById('drawer-trigger');
        drawerTrigger.addEventListener('click', function(){
          drawer.toggle();
          // or drawer.active = !drawer.active;
        });
      </script>
  #html-interaction.chi-tabs-panel
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
      br
      br
      | Use the function <code>chi.drawer(elem)</code> to instantiate a new drawer component in the DOM
      | element passed as a parameter. You must use the trigger element as the parameter.
    :code(lang="html")
      <!-- Trigger -->
      <button id="drawer-trigger-1" class="chi-button -icon chi-drawer__trigger" data-target="#drawer-1" aria-label="Toggle navigation">
        <div class="chi-button__content">
          <i class="chi-icon -sm--2 icon-menu"></i>
        </div>
      </button>

      <!-- Drawer -->
      <div class="chi-backdrop -closed">
        <div class="chi-backdrop__wrapper">
          <div id="drawer-1" class="chi-drawer -left">
            <div class="chi-drawer__header">
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content">
                  <i class="chi-icon icon-x"></i>
                </div>
              </button>
            </div>
            <div class="chi-drawer__content">
              <div class="-px--2 -text">Drawer content here</div>
            </div>
          </div>
        </div>
      </div>

      <!-- JavaScript -->
      <script>chi.drawer(document.getElementById('drawer-trigger-1'));</script>

h3 Position
ul#chi-tabs--drawer.chi-tabs
  li.-active
    a(href='#chi-tabs--drawer-left') Left
  li
    a(href='#chi-tabs--drawer-right') Right
  li
    a(href='#chi-tabs--drawer-top') Top
  li
    a(href='#chi-tabs--drawer-bottom') Bottom
#chi-tabs--drawer-left.chi-tabs-panel.-active
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:30rem;overflow:hidden;")
      .-p--3
        each i in [1, 2, 3]
          .-text.-mb--1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
      chi-drawer(position='left' active prevent-auto-hide)
        .-px--2.-text Drawer content here
    .example-tabs.-pl--2
      ul.chi-tabs#examples-default
        li.-active
          a(href=`#webcomponent`) Web Component
        li
          a(href=`#html`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent
      :code(lang="html")
        <!-- Trigger -->
        <chi-button id="drawer-trigger-2" type="icon">
          <chi-icon icon="menu" size="sm--2"></chi-icon>
        </chi-button>

        <!-- Drawer -->
        <chi-drawer id="interactive-drawer-2" position="left">
          <div class="-px--2 -text">Drawer content here</div>
        </chi-drawer>

        <!-- JavaScript -->
        <script>
          var drawer = document.getElementById('interactive-drawer-2');
          var drawerTrigger = document.getElementById('drawer-trigger-2');
          drawerTrigger.addEventListener('click', function(){
            drawer.toggle();
            // or drawer.active = !drawer.active;
          });
        </script>
    .chi-tabs-panel#html
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <!-- Trigger -->
        <button id="drawer-trigger-3" class="chi-button -icon chi-drawer__trigger" data-target="#drawer-3" aria-label="Toggle navigation">
          <div class="chi-button__content">
            <i class="chi-icon -sm--2 icon-menu"></i>
          </div>
        </button>

        <!-- Drawer -->
        <div id="drawer-3" class="chi-drawer -left">
          <div class="chi-drawer__header">
            <button class="chi-button -icon -close" aria-label="Close">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
          </div>
          <div class="chi-drawer__content">
            <div class="-px--2 -text">Drawer content here</div>
          </div>
        </div>

        <!-- JavaScript -->
        <script>chi.drawer(document.getElementById('drawer-trigger-3'));</script>

#chi-tabs--drawer-right.chi-tabs-panel
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:30rem;overflow:hidden;")
      .-p--3
        each i in [1, 2, 3]
          .-text.-mb--1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
      chi-drawer(position='right' active prevent-auto-hide)
        .-px--2.-text Drawer content here
    .example-tabs.-pl--2
      ul.chi-tabs#examples-default-right
        li.-active
          a(href=`#webcomponent-right`) Web Component
        li
          a(href=`#html-right`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-right
      :code(lang="html")
        <!-- Trigger -->
        <chi-button id="drawer-trigger-4" type="icon">
          <chi-icon icon="menu" size="sm--2"></chi-icon>
        </chi-button>

        <!-- Drawer -->
        <chi-drawer id="interactive-drawer-4" position="right">
          <div class="-px--2 -text">Drawer content here</div>
        </chi-drawer>

        <!-- JavaScript -->
        <script>
          var drawer = document.getElementById('interactive-drawer-4');
          var drawerTrigger = document.getElementById('drawer-trigger-4');
          drawerTrigger.addEventListener('click', function(){
            drawer.toggle();
            // or drawer.active = !drawer.active;
          });
        </script>
    .chi-tabs-panel#html-right
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <!-- Trigger -->
        <button id="drawer-trigger-5" class="chi-button -icon chi-drawer__trigger" data-target="#drawer-5" aria-label="Toggle navigation">
          <div class="chi-button__content">
            <i class="chi-icon -sm--2 icon-menu"></i>
          </div>
        </button>

        <!-- Drawer -->
        <div id="drawer-5" class="chi-drawer -right">
          <div class="chi-drawer__header">
            <button class="chi-button -icon -close" aria-label="Close">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
          </div>
          <div class="chi-drawer__content">
            <div class="-px--2 -text">Drawer content here</div>
          </div>
        </div>

        <!-- JavaScript -->
        <script>chi.drawer(document.getElementById('drawer-trigger-5'));</script>

#chi-tabs--drawer-top.chi-tabs-panel
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:30rem;overflow:hidden;")
      .-p--3
        each i in [1, 2, 3]
          .-text.-mb--1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
      chi-drawer(position='top' active prevent-auto-hide)
        .-px--2.-text Drawer content here
    .example-tabs.-pl--2
      ul.chi-tabs#examples-default-top
        li.-active
          a(href=`#webcomponent-top`) Web Component
        li
          a(href=`#html-top`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-top
      :code(lang="html")
        <!-- Trigger -->
        <chi-button id="drawer-trigger-6" type="icon">
          <chi-icon icon="menu" size="sm--2"></chi-icon>
        </chi-button>

        <!-- Drawer -->
        <chi-drawer id="interactive-drawer-6" position="top">
          <div class="-px--2 -text">Drawer content here</div>
        </chi-drawer>

        <!-- JavaScript -->
        <script>
          var drawer = document.getElementById('interactive-drawer-6');
          var drawerTrigger = document.getElementById('drawer-trigger-6');
          drawerTrigger.addEventListener('click', function(){
            drawer.toggle();
            // or drawer.active = !drawer.active;
          });
        </script>
    .chi-tabs-panel#html-top
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <!-- Trigger -->
        <button id="drawer-trigger-7" class="chi-button -icon chi-drawer__trigger" data-target="#drawer-7" aria-label="Toggle navigation">
          <div class="chi-button__content">
            <i class="chi-icon -sm--2 icon-menu"></i>
          </div>
        </button>

        <!-- Drawer -->
        <div id="drawer-7" class="chi-drawer -top">
          <div class="chi-drawer__header">
            <button class="chi-button -icon -close" aria-label="Close">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
          </div>
          <div class="chi-drawer__content">
            <div class="-px--2 -text">Drawer content here</div>
          </div>
        </div>

        <!-- JavaScript -->
        <script>chi.drawer(document.getElementById('drawer-trigger-7'));</script>

#chi-tabs--drawer-bottom.chi-tabs-panel
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:30rem;overflow:hidden;")
      .-p--3
        each i in [1, 2, 3]
          .-text.-mb--1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
      chi-drawer(position='bottom' active prevent-auto-hide)
        .-px--2.-text Drawer content here
    .example-tabs.-pl--2
      ul.chi-tabs#examples-default-bottom
        li.-active
          a(href=`#webcomponent-bottom`) Web Component
        li
          a(href=`#html-bottom`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-bottom
      :code(lang="html")
        <!-- Trigger -->
        <chi-button id="drawer-trigger-8" type="icon">
          <chi-icon icon="menu" size="sm--2"></chi-icon>
        </chi-button>

        <!-- Drawer -->
        <chi-drawer id="interactive-drawer-8" position="bottom">
          <div class="-px--2 -text">Drawer content here</div>
        </chi-drawer>

        <!-- JavaScript -->
        <script>
          var drawer = document.getElementById('interactive-drawer-8');
          var drawerTrigger = document.getElementById('drawer-trigger-8');
          drawerTrigger.addEventListener('click', function(){
            drawer.toggle();
            // or drawer.active = !drawer.active;
          });
        </script>
    .chi-tabs-panel#html-bottom
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <!-- Trigger -->
        <button id="drawer-trigger-9" class="chi-button -icon chi-drawer__trigger" data-target="#drawer-9" aria-label="Toggle navigation">
          <div class="chi-button__content">
            <i class="chi-icon -sm--2 icon-menu"></i>
          </div>
        </button>

        <!-- Drawer -->
        <div id="drawer-9" class="chi-drawer -bottom">
          <div class="chi-drawer__header">
            <button class="chi-button -icon -close" aria-label="Close">
              <div class="chi-button__content">
                <i class="chi-icon icon-x"></i>
              </div>
            </button>
          </div>
          <div class="chi-drawer__content">
            <div class="-px--2 -text">Drawer content here</div>
          </div>
        </div>

        <!-- JavaScript -->
        <script>chi.drawer(document.getElementById('drawer-trigger-9'));</script>

h3 Backdrop
p.-text
  | An optional backdrop can be added to focus the users attention on drawer content.
.example.-mb--3(style='overflow:hidden;')
  .-position--relative.-z--0(style="height:30rem;overflow:hidden;")
    chi-drawer(position='bottom' backdrop active prevent-auto-hide)
      .-px--2.-text Drawer content here
  .example-tabs.-pl--2
    ul.chi-tabs#examples-backdrop
      li.-active
        a(href=`#webcomponent-backdrop`) Web Component
      li
        a(href=`#html-backdrop`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-backdrop
    :code(lang="html")
      <!-- Trigger -->
      <chi-button id="drawer-trigger-10" type="icon">
        <chi-icon icon="menu" size="sm--2"></chi-icon>
      </chi-button>

      <!-- Drawer -->
      <chi-drawer id="interactive-drawer-10" position="bottom" backdrop>
        <div class="-px--2 -text">Drawer content here</div>
      </chi-drawer>

      <!-- JavaScript -->
      <script>
        var drawer = document.getElementById('interactive-drawer-10');
        var drawerTrigger = document.getElementById('drawer-trigger-10');
        drawerTrigger.addEventListener('click', function(){
          drawer.toggle();
          // or drawer.active = !drawer.active;
        });
      </script>
  .chi-tabs-panel#html-backdrop
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <!-- Trigger -->
      <button id="drawer-trigger-11" class="chi-button -icon chi-drawer__trigger" data-target="#drawer-11" aria-label="Toggle navigation">
        <div class="chi-button__content">
          <i class="chi-icon -sm--2 icon-menu"></i>
        </div>
      </button>

      <!-- Drawer -->
      <div class="chi-backdrop -closed">
        <div class="chi-backdrop__wrapper">
          <div id="drawer-11" class="chi-drawer -bottom">
            <div class="chi-drawer__header">
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content">
                  <i class="chi-icon icon-x"></i>
                </div>
              </button>
            </div>
            <div class="chi-drawer__content">
              <div class="-px--2 -text">Drawer content here</div>
            </div>
          </div>
        </div>
      </div>

      <!-- JavaScript -->
      <script>chi.drawer(document.getElementById('drawer-trigger-11'));</script>

h3 Titled
.example.-mb--3(style='overflow:hidden;')
  .-position--relative.-z--0(style="height:30rem;overflow:hidden;")
    chi-drawer(position='left' title='Drawer title here' backdrop active prevent-auto-hide)
      .-px--2.-text Drawer content here
  .example-tabs.-pl--2
    ul#examples-titled.chi-tabs
      li.-active
        a(href='#webcomponent-titled') Web Component
      li
        a(href='#html-titled') HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-titled
    :code(lang="html")
      <!-- Trigger -->
      <chi-button id="drawer-trigger-12" type="icon">
        <chi-icon icon="menu" size="sm--2"></chi-icon>
      </chi-button>

      <!-- Drawer -->
      <chi-drawer id="interactive-drawer-12" position="left" title="Drawer title here" backdrop>
        <div class="-px--2 -text">Drawer content here</div>
      </chi-drawer>

      <!-- JavaScript -->
      <script>
        var drawer = document.getElementById('interactive-drawer-12');
        var drawerTrigger = document.getElementById('drawer-trigger-12');
        drawerTrigger.addEventListener('click', function(){
          drawer.toggle();
          // or drawer.active = !drawer.active;
        });
      </script>
  .chi-tabs-panel#html-titled
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <!-- Trigger -->
      <button id="drawer-trigger-13" class="chi-button -icon chi-drawer__trigger" data-target="#drawer-13" aria-label="Toggle navigation">
        <div class="chi-button__content">
          <i class="chi-icon -sm--2 icon-menu"></i>
        </div>
      </button>

      <!-- Drawer -->
      <div class="chi-backdrop -closed">
        <div class="chi-backdrop__wrapper">
          <div id="drawer-13" class="chi-drawer -left">
            <div class="chi-drawer__header">
              <span class="chi-drawer__title">
                Drawer title here
              </span>
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content">
                  <i class="chi-icon icon-x"></i>
                </div>
              </button>
            </div>
            <div class="chi-drawer__content">
              <div class="-px--2 -text">Drawer content here</div>
            </div>
          </div>
        </div>
      </div>

      <!-- JavaScript -->
      <script>chi.drawer(document.getElementById('drawer-trigger-13'));</script>

h3 Close button
p.-text
  | Close buttons provide users with a consistent way to exit Drawers.
  | For special cases, such as requiring users to perform a task that
  | auto-closes the Drawer when complete, a close button may be removed.
ul#chi-tabs--closable.chi-tabs
  li.-active
    a(href='#chi-tabs--closable-with') Closable
  li
    a(href='#chi-tabs--closable-without') Non closable
#chi-tabs--closable-with.chi-tabs-panel.-active
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:15rem;overflow:hidden;")
      chi-drawer(position='left' active backdrop prevent-auto-hide)
        .-px--2.-text Drawer content here
    .example-tabs.-pl--2
      ul.chi-tabs#examples-closable
        li.-active
          a(href=`#webcomponent-closable`) Web Component
        li
          a(href=`#html-closable`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-closable
      :code(lang="html")
        <!-- Trigger -->
        <chi-button id="drawer-trigger-14" type="icon">
          <chi-icon icon="menu" size="sm--2"></chi-icon>
        </chi-button>

        <!-- Drawer -->
        <chi-drawer id="interactive-drawer-14" position="left" backdrop>
          <div class="-px--2 -text">Drawer content here</div>
        </chi-drawer>

        <!-- JavaScript -->
        <script>
          var drawer = document.getElementById('interactive-drawer-14');
          var drawerTrigger = document.getElementById('drawer-trigger-14');
          drawerTrigger.addEventListener('click', function(){
            drawer.toggle();
            // or drawer.active = !drawer.active;
          });
        </script>
    .chi-tabs-panel#html-closable
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <!-- Trigger -->
        <button id="drawer-trigger-15" class="chi-button -icon chi-drawer__trigger" data-target="#drawer-15" aria-label="Toggle navigation">
          <div class="chi-button__content">
            <i class="chi-icon -sm--2 icon-menu"></i>
          </div>
        </button>

        <!-- Drawer -->
        <div class="chi-backdrop -closed">
          <div class="chi-backdrop__wrapper">
            <div id="drawer-15" class="chi-drawer -left">
              <div class="chi-drawer__header">
                <button class="chi-button -icon -close" aria-label="Close">
                  <div class="chi-button__content">
                    <i class="chi-icon icon-x"></i>
                  </div>
                </button>
              </div>
              <div class="chi-drawer__content">
                <div class="-px--2 -text">Drawer content here</div>
              </div>
            </div>
          </div>
        </div>

        <!-- JavaScript -->
        <script>chi.drawer(document.getElementById('drawer-trigger-15'));</script>

#chi-tabs--closable-without.chi-tabs-panel
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:15rem;overflow:hidden;")
      chi-drawer(position='left' active backdrop non-closable prevent-auto-hide)
        .-px--2.-text Drawer content here
    .example-tabs.-pl--2
      ul.chi-tabs#examples-nonclosable
        li.-active
          a(href=`#webcomponent-nonclosable`) Web Component
        li
          a(href=`#html-nonclosable`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-nonclosable
      .chi-tab__description
        | Use the <code>non-closable</code> attribute to render Drawer without a close button

      :code(lang="html")
        <!-- Trigger -->
        <chi-button id="drawer-trigger-16" type="icon">
          <chi-icon icon="menu" size="sm--2"></chi-icon>
        </chi-button>

        <!-- Drawer -->
        <chi-drawer id="interactive-drawer-16" position="left" backdrop non-closable>
          <div class="-px--2 -text">Drawer content here</div>
        </chi-drawer>

        <!-- JavaScript -->
        <script>
          var drawer = document.getElementById('interactive-drawer-16');
          var drawerTrigger = document.getElementById('drawer-trigger-16');
          drawerTrigger.addEventListener('click', function(){
            drawer.toggle();
            // or drawer.active = !drawer.active;
          });
        </script>
    .chi-tabs-panel#html-nonclosable
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <!-- Trigger -->
        <button id="drawer-trigger-17" class="chi-button -icon chi-drawer__trigger" data-target="#drawer-17" aria-label="Toggle navigation">
          <div class="chi-button__content">
            <i class="chi-icon -sm--2 icon-menu"></i>
          </div>
        </button>

        <!-- Drawer -->
        <div class="chi-backdrop -closed">
          <div class="chi-backdrop__wrapper">
            <div id="drawer-17" class="chi-drawer -left">
              <div class="chi-drawer__header"></div>
              <div class="chi-drawer__content">
                <div class="-px--2 -text">Drawer content here</div>
              </div>
            </div>
          </div>
        </div>

        <!-- JavaScript -->
        <script>chi.drawer(document.getElementById('drawer-trigger-17'));</script>

h3 Header
p.-text
  | Header markup is optional. Remove it to make the content fill the drawer.

ul#chi-tabs--header.chi-tabs
  li.-active
    a(href='#chi-tabs--header-with') Header
  li
    a(href='#chi-tabs--header-without') No header
#chi-tabs--header-with.chi-tabs-panel.-active
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:15rem;overflow:hidden;")
      chi-drawer(position='left' active backdrop prevent-auto-hide)
        .-px--2.-text Drawer content here
    .example-tabs.-pl--2
      ul.chi-tabs#examples-header
        li.-active
          a(href=`#webcomponent-header`) Web Component
        li
          a(href=`#html-header`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-header
      :code(lang="html")
        <!-- Trigger -->
        <chi-button id="drawer-trigger-18" type="icon">
          <chi-icon icon="menu" size="sm--2"></chi-icon>
        </chi-button>

        <!-- Drawer -->
        <chi-drawer id="interactive-drawer-18" position="left" backdrop>
          <div class="-px--2 -text">Drawer content here</div>
        </chi-drawer>

        <!-- JavaScript -->
        <script>
          var drawer = document.getElementById('interactive-drawer-18');
          var drawerTrigger = document.getElementById('drawer-trigger-18');
          drawerTrigger.addEventListener('click', function(){
            drawer.toggle();
            // or drawer.active = !drawer.active;
          });
        </script>
    .chi-tabs-panel#html-header
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <!-- Trigger -->
        <button id="drawer-trigger-19" class="chi-button -icon chi-drawer__trigger" data-target="#drawer-19" aria-label="Toggle navigation">
          <div class="chi-button__content">
            <i class="chi-icon -sm--2 icon-menu"></i>
          </div>
        </button>

        <!-- Drawer -->
        <div class="chi-backdrop -closed">
          <div class="chi-backdrop__wrapper">
            <div id="drawer-19" class="chi-drawer -left">
              <div class="chi-drawer__header">
                <button class="chi-button -icon -close" aria-label="Close">
                  <div class="chi-button__content">
                    <i class="chi-icon icon-x"></i>
                  </div>
                </button>
              </div>
              <div class="chi-drawer__content">
                <div class="-px--2 -text">Drawer content here</div>
              </div>
            </div>
          </div>
        </div>

        <!-- JavaScript -->
        <script>chi.drawer(document.getElementById('drawer-trigger-19'));</script>

#chi-tabs--header-without.chi-tabs-panel
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:15rem;overflow:hidden;")
      chi-drawer(position='left' active backdrop no-header prevent-auto-hide)
        .-px--2.-text Drawer content here
    .example-tabs.-pl--2
      ul.chi-tabs#examples-headerless
        li.-active
          a(href=`#webcomponent-headerless`) Web Component
        li
          a(href=`#html-headerless`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-headerless
      :code(lang="html")
        <!-- Trigger -->
        <chi-button id="drawer-trigger-20" type="icon">
          <chi-icon icon="menu" size="sm--2"></chi-icon>
        </chi-button>

        <!-- Drawer -->
        <chi-drawer id="interactive-drawer-20" position="left" backdrop no-header>
          <div class="-px--2 -text">Drawer content here</div>
        </chi-drawer>

        <!-- JavaScript -->
        <script>
          var drawer = document.getElementById('interactive-drawer-20');
          var drawerTrigger = document.getElementById('drawer-trigger-20');
          drawerTrigger.addEventListener('click', function(){
            drawer.toggle();
            // or drawer.active = !drawer.active;
          });
        </script>
    .chi-tabs-panel#html-headerless
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang="html")
        <!-- Trigger -->
        <button id="drawer-trigger-21" class="chi-button -icon chi-drawer__trigger" data-target="#drawer-21" aria-label="Toggle navigation">
          <div class="chi-button__content">
            <i class="chi-icon -sm--2 icon-menu"></i>
          </div>
        </button>

        <!-- Drawer -->
        <div class="chi-backdrop -closed">
          <div class="chi-backdrop__wrapper">
            <div id="drawer-21" class="chi-drawer -left">
              <button class="chi-button -icon -close" aria-label="Close">
                <div class="chi-button__content">
                  <i class="chi-icon icon-x"></i>
                </div>
              </button>
              <div class="chi-drawer__content">
                <div class="-px--2 -text">Drawer content here</div>
              </div>
            </div>
          </div>
        </div>

        <!-- JavaScript -->
        <script>chi.drawer(document.getElementById('drawer-trigger-21'));</script>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));

      var drawer = document.getElementById('interactive-drawer');
      var drawerTrigger = document.getElementById('drawer-trigger');
      drawerTrigger.addEventListener('click', function() {
        drawer.toggle();
      });
    }
  );
