---
title: Badge
---

p.-text Badges are inline elements used to label, categorize, or organize a list of items.

h3 Examples
p.-text
  | To display a badge, use the class <code>a-badge</code>.
  | A contextual class (e.g. <code>-dark</code>) can also be applied to provide alternate styling.

h4 Base
.example.-mb--3
  .a-grid
    .a-col.-w-sm--6
      .-p--3.-text--center
        .a-badge(class=`-mr--2`)
          span Base
        .a-badge(class=`-primary -mr--2`)
          span Primary
        .a-badge(class=`-dark -mr--2`)
          span Dark
        .a-badge(class=`-muted -mr--2`)
          span Muted
    .a-col.-w-sm--6
      .-p--3.-bg--black.-text--center
        .a-badge(class=`-secondary -mr--2`)
          span Secondary
        .a-badge(class=`-inverse`)
          span Inverse
  :code(lang='html')
    <!-- For light backgrounds -->
    <div class="a-badge">
      <span>Base</span>
    </div>
    <div class="a-badge -primary">
      <span>Primary</span>
    </div>
    <div class="a-badge -dark">
      <span>Dark</span>
    </div>
    <div class="a-badge -muted">
      <span>Muted</span>
    </div>
    <!-- For dark backgrounds -->
    <div class="a-badge -secondary">
      <span>Secondary</span>
    </div>
    <div class="a-badge -inverse">
      <span>Inverse</span>
    </div>

h4 Outline
.example.-mb--3
  .a-grid
    .a-col.-w-sm--6
      .-p--3.-text--center
        .a-badge(class=`-primary -outline -mr--2`)
          span Primary
        .a-badge(class=`-dark -outline -mr--2`)
          span Dark
        .a-badge(class=`-muted -outline -mr--2`)
          span Muted
    .a-col.-w-sm--6
      .-p--3.-bg--black.-text--center
        .a-badge(class=`-secondary -outline -mr--2`)
          span Secondary
        .a-badge(class=`-inverse -outline`)
          span Inverse
  :code(lang="html")
    <!-- For light backgrounds -->
    <div class="a-badge -primary -outline">
      <span>Primary</span>
    </div>
    <div class="a-badge -dark -outline">
      <span>Dark</span>
    </div>
    <div class="a-badge -muted -outline">
      <span>Muted</span>
    </div>
    <!-- For dark backgrounds -->
    <div class="a-badge -secondary -outline">
      <span>Secondary</span>
    </div>
    <div class="a-badge -inverse -outline">
      <span>Inverse</span>
    </div>

h4 Flat
.example.-mb--3
  .a-grid
    .a-col.-w-sm--6
      .-p--3.-text--center
        .a-badge(class=`-primary -flat -mr--2`)
          span Primary
        .a-badge(class=`-dark -flat -mr--2`)
          span Dark
        .a-badge(class=`-muted -flat -mr--2`)
          span Muted
    .a-col.-w-sm--6
      .-p--3.-bg--black.-text--center
        .a-badge(class=`-secondary -flat -mr--2`)
          span Secondary
        .a-badge(class=`-inverse -flat`)
          span Inverse
  :code(lang="html")
    <!-- For light backgrounds -->
    <div class="a-badge -primary -flat">
      <span>Primary</span>
    </div>
    <div class="a-badge -dark -flat">
      <span>Dark</span>
    </div>
    <div class="a-badge -muted -flat">
      <span>Muted</span>
    </div>
    <!-- For dark backgrounds -->
    <div class="a-badge -secondary -flat">
      <span>Secondary</span>
    </div>
    <div class="a-badge -inverse -flat">
      <span>Inverse</span>
    </div>

h3 Pills
p.-text Use the <code>-pill</code> modifier class to render badges with a more pronounced border-radius.
h4 Base
.example.-mb--3
  .-p--2
    .a-badge(class=`-pill -m--1`)
      span Badge
  :code(lang="html")
    <div class="a-badge -pill">
      <span>Badge</span>
    </div>
h4 Icon badges
.example.-mb--3
  .-p--2
    .a-badge(class=`-flat -m--1`)
      .a-badge__content
        .a-icon
          svg
            use(xlink:href='#icon-atom')
        span Badge
    .a-badge(class=`-flat -m--1`)
      .a-badge__content
        span Badge
        .a-icon
          svg
            use(xlink:href='#icon-atom')
    .a-badge(class=`-flat -m--1`)
      .a-badge__content
        .a-icon
          svg
            use(xlink:href='#icon-atom')
        span Badge
        .a-icon
          svg
            use(xlink:href='#icon-atom')
  :code(lang="html")
    <div class="a-badge -flat">
      <div class="a-badge__content">
        <div class="a-icon">
          <svg>
           <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
        <span>Badge</span>
      </div>
    </div>
    <div class="a-badge -flat">
      <div class="a-badge__content">
        <span>Badge</span>
        <div class="a-icon">
          <svg>
           <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="a-badge -flat">
      <div class="a-badge__content">
        <div class="a-icon">
          <svg>
            <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
        <span>Badge</span>
        <div class="a-icon">
          <svg>
           <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
      </div>
    </div>

h3 Danger
p.-text
  | For special cases, such as styling a destructive category in an
  | application (e.g. Delete Account), a <code>-danger</code> badge may be used.
.example.-mb--3
  .-p--3
    .a-badge(class=`-danger -mr--2`)
      span Danger
    .a-badge(class=`-danger -outline -mr--2`)
      span Danger
    .a-badge(class=`-danger -flat -mr--2`)
      span Danger
  :code(lang='html')
    <div class="a-badge -danger">
      <span>Danger</span>
    </div>
    <div class="a-badge -danger -outline">
      <span>Danger</span>
    </div>
    <div class="a-badge -danger -flat">
      <span>Danger</span>
    </div>

h3 Additional Sizes
h4 Small
p.-text Use the <code>-small</code> modifier class to render small badges.
.example.-mb--3
  .-p--2
    .a-badge(class=`-small -m--1`)
      span Badge
    .a-badge(class=`-small -flat -m--1`)
      .a-badge__content
        .a-icon
          svg
            use(xlink:href='#icon-atom')
        span Badge
  :code(lang="html")
    <div class="a-badge -small">
      <span>Badge</span>
    </div>
    <div class="a-badge -flat -small">
      <div class="a-badge__content">
        <div class="a-icon">
          <svg>
           <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
        <span>Badge</span>
      </div>
    </div>
h4 Smaller
p.-text Use the <code>-smaller</code> modifier class to render even smaller badges.
.example.-mb--3
  .-p--2
    .a-badge(class=`-smaller -m--1`)
      span Badge
    .a-badge(class=`-flat -smaller -m--1`)
      .a-badge__content
        .a-icon
          svg
            use(xlink:href='#icon-atom')
        span Badge
  :code(lang="html")
    <div class="a-badge -smaller">
      <span>Badge</span>
    </div>
    <div class="a-badge -flat -smaller">
      <div class="a-badge__content">
        <div class="a-icon">
          <svg>
           <use xlink:href="#icon-atom"></use>
          </svg>
        </div>
        <span>Badge</span>
      </div>
    </div>
h3 Text Transform
h4 Uppercase
p.-text Use the <code>-text--uppercase</code> text utility class to render badges in all uppercase. <code>-text--lowercase</code> and <code>-text--capitalized</code> are also supported.
.example.-mb--3
  .-p--2
    .a-badge(class=`-text--uppercase -m--1`)
      span Badge
  :code(lang="html")
    <div class="a-badge">
      <span>Badge</span>
    </div>
