---
title: Breadcrumb
---

p.-text Breadcrumb indicate the current page’s location within a navigational hierarchy.

h3 Examples
p.-text
  | To render a breadcrumb, use the class <code>a-breadcrumb</code>.
  | A contextual class (e.g. <code>-alt</code>) is required to provide alternative separator styling.

h4 Base
.example.-mb3
  .-p3
    nav.a-breadcrumb.-text(aria-label="Breadcrumb")
      ol
        li.a-breadcrumb__item
          a(href='#') Parent
        li.a-breadcrumb__item
          a(href='#') Child 1
        li.a-breadcrumb__item.-active
          a(href='#',aria-current="page") Child 2
  :code(lang="html")
    <nav class="a-breadcrumb -text" aria-label="Breadcrumb">
      <ol>
          <li class="a-breadcrumb__item">
            <a href="#">Parent</a>
          </li>
          <li class="a-breadcrumb__item">
            <a href="#">Child 1</a>
          </li>
          <li class="a-breadcrumb__item -active">
            <a href="#" aria-current="page">Child 2</a>
          </li>
      </ol>
    </nav>

h4 Alternative Separator
.example.-mb3
  .-p3
    nav.a-breadcrumb.-alt.-text(aria-label="Breadcrumb")
      ol
        li.a-breadcrumb__item
          a(href='#') Parent
        li.a-breadcrumb__item
          a(href='#') Child 1
        li.a-breadcrumb__item.-active
          a(href='#',aria-current="page") Child 2
  :code(lang="html")
    <nav class="a-breadcrumb -alt -text" aria-label="Breadcrumb">
      <ol>
          <li class="a-breadcrumb__item">
            <a href="#">Parent</a>
          </li>
          <li class="a-breadcrumb__item">
            <a href="#">Child 1</a>
          </li>
          <li class="a-breadcrumb__item -active">
            <a href="#" aria-current="page">Child 2</a>
          </li>
      </ol>
    </nav>

h3 Size
h4 Large
.example.-mb3
  .-p3
    nav.a-breadcrumb.-textLarge(aria-label="Breadcrumb")
      ol
        li.a-breadcrumb__item
          a(href='#') Parent
        li.a-breadcrumb__item.-active
          a(href='#',aria-current="page") Child
  :code(lang="html")
    <nav class="a-breadcrumb -textLarge" aria-label="Breadcrumb">
      <ol>
        <li class="a-breadcrumb__item">
          <a href="#">Parent</a>
        </li>
        <li class="a-breadcrumb__item -active">
          <a href="#" aria-current="page">Child</a>
        </li>
      </ol>
    </nav>
h4 Larger
.example.-mb3
  .-p3
    nav.a-breadcrumb.-textLarger(aria-label="Breadcrumb")
      ol
        li.a-breadcrumb__item
          a(href='#') Parent
        li.a-breadcrumb__item.-active
          a(href='#',aria-current="page") Child
  :code(lang="html")
    <nav class="a-breadcrumb -textLarger" aria-label="Breadcrumb">
      <ol>
        <li class="a-breadcrumb__item">
          <a href="#">Parent</a>
        </li>
        <li class="a-breadcrumb__item -active">
          <a href="#" aria-current="page">Child</a>
        </li>
      </ol>
    </nav>
h4 Small
.example.-mb3
  .-p3
    nav.a-breadcrumb.-textSmall(aria-label="Breadcrumb")
      ol
        li.a-breadcrumb__item
          a(href='#') Parent
        li.a-breadcrumb__item.-active
          a(href='#',aria-current="page") Child
  :code(lang="html")
    <nav class="a-breadcrumb -textSmall" aria-label="Breadcrumb">
      <ol>
        <li class="a-breadcrumb__item">
          <a href="#">Parent</a>
        </li>
        <li class="a-breadcrumb__item -active">
          <a href="#" aria-current="page">Child</a>
        </li>
      </ol>
    </nav>
h4 Smaller
.example.-mb3
  .-p3
    nav.a-breadcrumb.-textSmaller(aria-label="Breadcrumb")
      ol
        li.a-breadcrumb__item
          a(href='#') Parent
        li.a-breadcrumb__item.-active
          a(href='#',aria-current="page") Child
  :code(lang="html")
    <nav class="a-breadcrumb -textSmaller" aria-label="Breadcrumb">
      <ol>
        <li class="a-breadcrumb__item">
          <a href="#">Parent</a>
        </li>
        <li class="a-breadcrumb__item -active">
          <a href="#" aria-current="page">Child</a>
        </li>
      </ol>
    </nav>


