---
title: Card
---
p.-text Cards are flexible containers used for displaying content.

h3 Examples
p.-text
  | To display a card, use the class <code>a-card</code>.

h4 Base
.example.-mb3
  .-p3
    .a-card(style="width:20rem;")
      .a-card__content.-text
        | This is a card
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__content">
        This is a card
      </div>
    </div>

h4 Titled
p.-text
  | Add a title to a card by applying the class <code>a-card__title</code> to any heading element
  | <code>h1</code> - <code>h6</code>. The class will override the headings default margin for optimal rendering.
.example.-mb3
  .-p3
    .a-card(style="width:20rem;")
      .a-card__content
        h5.a-card__title Title
        p.-text.-m0 This is a titled card
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__content">
        <h5 class="a-card__title">Title</h5>
        <p class="-text -m0">This is a titled card</p>
      </div>
    </div>

h4 Titled with content
.example.-mb3
  .-p3
    .a-card(style="width:20rem;")
      .a-card__content
        h5.a-card__title Title
        p.-text.-mt0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
        button.a-btn.-brand Link
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__content">
        <h5 class="a-card__title">Title</h5>
        <p class="-text -mt0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
        <button class="a-btn -brand">Link</button>
      </div>
    </div>

h4 Hero
p.-text
  | Add a full width image or banner to the top of a card by applying the class <code>a-card__hero</code>.
.example.-mb3
  .-p3
    .a-card(style="width:20rem;")
      .a-card__hero.-text--inverse(style="width:100%;background:rgba(0,0,0,0.8);")
        p.-text.-p6.-text--center Hero Image
      .a-card__content
        p.-text.-m0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec, ultrices in turpis.
          | Donec sit amet consectetur elit.
  :code(lang="html")
    <div class="a-card">
      <img src="a-card__hero" src="..." alt="Card Image">
      <div class="a-card__content">
        <p class="-text -m0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec, ultrices in turpis. Donec sit amet consectetur elit.</p>
      </div>
    </div>

h4 Footer
.example.-mb3
  .-p3
    .a-card(style="width:20rem;")
      .a-card__content
        p.-text.-m0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
      .a-card__footer
        button.a-btn.-brand Link
        button.a-btn.-ml1 Link
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__content">
        <p class="-text -m0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
      <div class="a-card__footer">
        <button class="a-btn -brand">Link</button>
        <button class="a-btn -ml1">Link</button>
      </div>
    </div>
h4 Footer Right Aligned
p.-text Apply the class <code>-align--right</code> on <code>a-card__footer</code> to right align its contents.
.example.-mb3
  .-p3
    .a-card(style="width:20rem;")
      .a-card__content
        p.-text.-m0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
      .a-card__footer.-align--right
        button.a-btn.-brand Link
        button.a-btn.-ml1 Link
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__content">
        <p class="-text -m0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
      <div class="a-card__footer -align--right">
        <button class="a-btn -brand">Link</button>
        <button class="a-btn -ml1">Link</button>
      </div>
    </div>
h4 Footer Center Aligned
p.-text Apply the class <code>-align--center</code> on <code>a-card__footer</code> to center align its contents.
.example.-mb3
  .-p3
    .a-card(style="width:20rem;")
      .a-card__content
        p.-text.-m0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
      .a-card__footer.-align--center
        button.a-btn.-brand Link
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__content">
        <p class="-text -m0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
      <div class="a-card__footer -align--center">
        <button class="a-btn -brand">Link</button>
      </div>
    </div>
h4 Footer No Border
p.-text Apply the class <code>-noBorder</code> on <code>a-card__footer</code> to remove the default border.
.example.-mb3
  .-p3
    .a-card(style="width:20rem;")
      .a-card__content
        p.-text.-m0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
      .a-card__footer.-noBorder
        button.a-btn.-brand Link
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__content">
        <p class="-text -m0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
      <div class="a-card__footer -noBorder">
        <button class="a-btn -brand">Link</button>
      </div>
    </div>
h4 Footer Small
p.-text Apply the class <code>-small</code> on <code>a-card__footer</code> to reduce its padding.
.example.-mb3
  .-p3
    .a-card(style="width:20rem;")
      .a-card__content
        p.-text.-m0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
      .a-card__footer.-small
        a.-text(href="#") Link
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__content">
        <p class="-text -m0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
      <div class="a-card__footer -small">
        <a class="-text" href="#">Link</a>
      </div>
    </div>
h4 Header
.example.-mb3
  .-p3
    .a-card(style="width:20rem;")
      .a-card__header
        h5.a-card__title Title
      .a-card__content
        p.-text.-m0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__header">
        <h5 class="a-card__title">Title</h5>
      </div>
      <div class="a-card__content">
        <p class="-text -m0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
    </div>
h4 Header Right Aligned
p.-text Apply the class <code>-align--right</code> on <code>a-card__header</code> to right align its contents.
.example.-mb3
  .-p3
    .a-card(style="width:20rem;")
      .a-card__header.-align--right
        h5.a-card__title Title
      .a-card__content
        p.-text.-m0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__header -align--right">
        <h5 class="a-card__title">Title</h5>
      </div>
      <div class="a-card__content">
        <p class="-text -m0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
    </div>
h4 Header Center Aligned
p.-text Apply the class <code>-align--center</code> on <code>a-card__header</code> to center align its contents.
.example.-mb3
  .-p3
    .a-card(style="width:20rem;")
      .a-card__header.-align--center
        h5.a-card__title Title
      .a-card__content
        p.-text.-m0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__header -align--center">
        <h5 class="a-card__title">Title</h5>
      </div>
      <div class="a-card__content">
        <p class="-text -m0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
    </div>
h4 Header No Border
p.-text Apply the class <code>-noBorder</code> on <code>a-card__header</code> to remove the default border.
.example.-mb3
  .-p3
    .a-card(style="width:20rem;")
      .a-card__header.-noBorder
        h5.a-card__title Title
      .a-card__content
        p.-text.-m0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__header -noBorder">
        <h5 class="a-card__title">Title</h5>
      </div>
      <div class="a-card__content">
        <p class="-text -m0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
    </div>
h4 Header Small
p.-text Apply the class <code>-small</code> on <code>a-card__header</code> to reduce its padding.
.example.-mb3
  .-p3
    .a-card(style="width:20rem;")
      .a-card__header.-small
        h5.a-card__title Title
      .a-card__content
        p.-text.-m0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__header -small">
        <h5 class="a-card__title">Title</h5>
      </div>
      <div class="a-card__content">
        <p class="-text -m0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
    </div>
h4 Header + Footer
p.-text Further customize cards by adding both headers <code>a-card__header</code> and footers <code>a-card__footer</code>.
.example.-mb3
  .-p3
    .a-card(style="width:20rem;")
      .a-card__header
        h5.a-card__title Title
      .a-card__content
        p.-text.-m0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
      .a-card__footer
        button.a-btn.-brand Link
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__header">
        <h5 class="a-card__title">Title</h5>
      </div>
      <div class="a-card__content">
        <p class="-text -m0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
      <div class="a-card__footer">
        <button class="a-btn -brand">Link</button>
      </div>
    </div>
h4 Header Small + Footer Small
p.-text Reduce the size of the header and footer by applying the class <code>-small</code> to each element.
.example.-mb3
  .-p3
    .a-card(style="width:20rem;")
      .a-card__header.-small
        h5.a-card__title Title
      .a-card__content
        p.-text.-m0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
      .a-card__footer.-small
        a.-text(href="#") Link
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__header -small">
        <h5 class="a-card__title">Title</h5>
      </div>
      <div class="a-card__content">
        <p class="-text -m0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
      <div class="a-card__footer -small">
        <a class="-text" href="#">Link</a>
      </div>
    </div>
