---
title: Card
---
p.-text Cards are flexible containers used for displaying content.

h2 Examples
p.-text
  | To display a card, use the class <code>a-card</code>.

h3 Base
.example.-mb--3
  .-p--3
    .a-card(style="width:20rem;")
      .a-card__content.-text
        | This is a card
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__content">
        This is a card
      </div>
    </div>

h3 Active
p.-text
  | Render an active state card with the class <code>-active</code>.
.example.-mb--3
  .-p--3
    .a-card.-active(style="width:20rem;")
      .a-card__content.-text
        | This is an active card
  :code(lang="html")
    <div class="a-card -active">
      <div class="a-card__content">
        This is an active card
      </div>
    </div>

h3 Active Alt
p.-text
  | Render an alternative active state card with the class <code>-active--alt</code>.
.example.-mb--3
  .-p--3
    .a-card.-active--alt(style="width:20rem;")
      .a-card__content.-text
        | This is an active alt card
  :code(lang="html")
    <div class="a-card -active--alt">
      <div class="a-card__content">
        This is an active alt card
      </div>
    </div>

h3 Empty
p.-text
  | Render an empty state card with the class <code>-empty</code>.
.example.-mb--3
  .-p--3
    .a-card.-empty(style="width:20rem;")
      .a-card__content
        i.a-icon.-md.-text--muted(class ='icon-circle-plus-outline')
        p.-text.-m--0 Add Product
  :code(lang="html")
    <div class="a-card -empty">
      <div class="a-card__content">
        <i class="a-icon icon-circle-plus-outline -md -text--muted"></i>
        <p class="-text -m--0">Add Product</p>
      </div>
    </div>

h3 Titled
p.-text
  | Add a title to a card by applying the class <code>a-card__title</code>.
.example.-mb--3
  .-p--3
    .a-card(style="width:20rem;")
      .a-card__content
        .a-card__title Title
        p.-text.-m--0 This is a titled card
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__content">
        <div class="a-card__title">Title</div>
        <p class="-text -m--0">This is a titled card</p>
      </div>
    </div>

h3 Titled with content
.example.-mb--3
  .-p--3
    .a-card(style="width:20rem;")
      .a-card__content
        .a-card__title Title
        p.-text.-mt--0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
        button.a-btn.-primary Action
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__content">
        <div class="a-card__title">Title</div>
        <p class="-text -mt--0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
        <button class="a-btn -primary">Action</button>
      </div>
    </div>

h3 Titled with content and icon
.example.-mb--3
  .-p--3.a-grid
    .a-col.-w--6.-w-md--4.-w-lg--3
      .a-card
        .a-card__content.-d--flex.-flex--column.-justify-content--center.-align-items--center.-text--center
          .a-card__title Title
          i.a-icon.-sm--3.-text--grey(class="icon-atom")
          p.-text--small.-mb--0.-mt--1 4 Running
          p.-text--smaller.-m--0.-text--grey 6 Pending
    .a-col.-w--6.-w-md--4.-w-lg--3
      .a-card.-active
        .a-card__content.-d--flex.-flex--column.-justify-content--center.-align-items--center.-text--center
          .a-card__title Title
          i.a-icon.-sm--3.-text--grey(class="icon-atom")
          p.-text--small.-mb--0.-mt--1 4 Running
          p.-text--smaller.-m--0.-text--grey 6 Pending
  :code(lang="html")
    <!-- Base -->
    <div class="a-card">
      <div class="a-card__content -d--flex -flex--column -justify-content--center -align-items--center -text--center">
        <div class="a-card__title">Title</div>
        <i class="a-icon icon-atom -sm--3 -text--grey"></i>
        <p class="-text--small -mb--0 -mt--1">4 Running</p>
        <p class="-text--smaller -m--0 -text--grey">6 Pending</p>
      </div>
    </div>
    <!-- Active -->
    <div class="a-card -active">
      <div class="a-card__content -d--flex -flex--column -justify-content--center -align-items--center -text--center">
        <div class="a-card__title">Title</div>
        <i class="a-icon icon-atom -sm--3 -text--grey"></i>
        <p class="-text--small -mb--0 -mt--1">4 Running</p>
        <p class="-text--smaller -m--0 -text--grey">6 Pending</p>
      </div>
    </div>

h3 Hero
p.-text
  | Add a full width image or banner to the top of a card by applying the class <code>a-card__hero</code>.
.example.-mb--3
  .-p--3
    .a-card(style="width:20rem;")
      .a-card__hero.-text--inverse(style="width:100%;background:rgba(0,0,0,0.8);")
        p.-text.-p--6.-text--center Hero Image
      .a-card__content
        p.-text.-m--0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec, ultrices in turpis.
          | Donec sit amet consectetur elit.
  :code(lang="html")
    <div class="a-card">
      <img class="a-card__hero" src="..." alt="Card Image">
      <div class="a-card__content">
        <p class="-text -m--0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec, ultrices in turpis. Donec sit amet consectetur elit.</p>
      </div>
    </div>

h3 Footer
.example.-mb--3
  .-p--3
    .a-card(style="width:20rem;")
      .a-card__content
        p.-text.-m--0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
      .a-card__footer
        button.a-btn.-primary Action 1
        button.a-btn.-ml--1 Action 2
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__content">
        <p class="-text -m--0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
      <div class="a-card__footer">
        <button class="a-btn -primary">Action 1</button>
        <button class="a-btn -ml--1">Action 2</button>
      </div>
    </div>

h3 Footer Right Aligned
p.-text Apply the class <code>-align--right</code> on <code>a-card__footer</code> to right align its contents.
.example.-mb--3
  .-p--3
    .a-card(style="width:20rem;")
      .a-card__content
        p.-text.-m--0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
      .a-card__footer.-align--right
        button.a-btn Action 2
        button.a-btn.-primary.-ml--1 Action 1
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__content">
        <p class="-text -m--0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
      <div class="a-card__footer -align--right">
        <button class="a-btn">Action 2</button>
        <button class="a-btn -primary -ml--1">Action 1</button>
      </div>
    </div>

h3 Footer Center Aligned
p.-text Apply the class <code>-align--center</code> on <code>a-card__footer</code> to center align its contents.
.example.-mb--3
  .-p--3
    .a-card(style="width:20rem;")
      .a-card__content
        p.-text.-m--0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
      .a-card__footer.-align--center
        button.a-btn.-primary Action
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__content">
        <p class="-text -m--0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
      <div class="a-card__footer -align--center">
        <button class="a-btn -primary">Action</button>
      </div>
    </div>

h3 Footer No Border
p.-text Apply the class <code>-noBorder</code> on <code>a-card__footer</code> to remove the default border.
.example.-mb--3
  .-p--3
    .a-card(style="width:20rem;")
      .a-card__content
        p.-text.-m--0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
      .a-card__footer.-noBorder
        button.a-btn.-primary Action
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__content">
        <p class="-text -m--0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
      <div class="a-card__footer -noBorder">
        <button class="a-btn -primary">Action</button>
      </div>
    </div>

h3 Footer Small
p.-text Apply the class <code>-sm</code> on <code>a-card__footer</code> to reduce its padding.
.example.-mb--3
  .-p--3
    .a-card(style="width:20rem;")
      .a-card__content
        p.-text.-m--0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
      .a-card__footer.-sm
        a.-text(href="#") Action
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__content">
        <p class="-text -m--0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
      <div class="a-card__footer -sm">
        <a class="-text" href="#">Action</a>
      </div>
    </div>

h3 Header
.example.-mb--3
  .-p--3
    .a-card(style="width:20rem;")
      .a-card__header
        .a-card__title Title
      .a-card__content
        p.-text.-m--0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__header">
        <div class="a-card__title">Title</div>
      </div>
      <div class="a-card__content">
        <p class="-text -m--0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
    </div>

h3 Header Center Aligned
p.-text Apply the class <code>-align--center</code> on <code>a-card__header</code> to center align its contents.
.example.-mb--3
  .-p--3
    .a-card(style="width:20rem;")
      .a-card__header.-align--center
        .a-card__title Title
      .a-card__content
        p.-text.-m--0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__header -align--center">
        <div class="a-card__title">Title</div>
      </div>
      <div class="a-card__content">
        <p class="-text -m--0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
    </div>

h3 Header No Border
p.-text Apply the class <code>-noBorder</code> on <code>a-card__header</code> to remove the default border.
.example.-mb--3
  .-p--3
    .a-card(style="width:20rem;")
      .a-card__header.-noBorder
        .a-card__title Title
      .a-card__content
        p.-text.-m--0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__header -noBorder">
        <div class="a-card__title">Title</div>
      </div>
      <div class="a-card__content">
        <p class="-text -m--0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
    </div>

h3 Header Small
p.-text Apply the class <code>-sm</code> on <code>a-card__header</code> to reduce its padding.
.example.-mb--3
  .-p--3
    .a-card(style="width:20rem;")
      .a-card__header.-sm
        .a-card__title Title
      .a-card__content
        p.-text.-m--0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__header -sm">
        <div class="a-card__title">Title</div>
      </div>
      <div class="a-card__content">
        <p class="-text -m--0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
    </div>

h3 Header + Footer
p.-text Further customize cards by adding both headers <code>a-card__header</code> and footers <code>a-card__footer</code>.
.example.-mb--3
  .-p--3
    .a-card(style="width:20rem;")
      .a-card__header
        .a-card__title Title
      .a-card__content
        p.-text.-m--0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
      .a-card__footer
        button.a-btn.-primary Action
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__header">
        <div class="a-card__title">Title</div>
      </div>
      <div class="a-card__content">
        <p class="-text -m--0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
      <div class="a-card__footer">
        <button class="a-btn -primary">Action</button>
      </div>
    </div>

h3 Header Small + Footer Small
p.-text Reduce the size of the header and footer by applying the class <code>-sm</code> to each element.
.example.-mb--3
  .-p--3
    .a-card(style="width:20rem;")
      .a-card__header.-sm
        .a-card__title Title
      .a-card__content
        p.-text.-m--0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
      .a-card__footer.-sm
        a.-text(href="#") Action
  :code(lang="html")
    <div class="a-card">
      <div class="a-card__header -sm">
        <div class="a-card__title">Title</div>
      </div>
      <div class="a-card__content">
        <p class="-text -m--0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
      <div class="a-card__footer -sm">
        <a class="-text" href="#">Action</a>
      </div>
    </div>

h3 Portal base
.example.-mb--3
  .-p--3
    .a-card.-portal(style="width:20rem;")
      .a-card__header.-sm
        .a-card__title Title
      .a-card__content
        p.-text.-m--0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
  :code(lang="html")
    <div class="a-card -portal">
      <div class="a-card__header -sm">
        <div class="a-card__title">Title</div>
      </div>
      <div class="a-card__content">
        <p class="-text -m--0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
    </div>

h3 Portal with tabs
.example.-mb--3
  .-p--3
    .a-card.-portal(style="width:20rem;")
      .a-card__tabs
        ul.a-tabs.-xs
          li.-active
            a(href='#') Active Tab
          li
            a(href='#') Tab Link
          li
            a(href='#') Tab Link
      .a-card__content
        p.-text.-m--0
          | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
          | Ut felis magna, facilisis ut malesuada nec.
  :code(lang="html")
    <div class="a-card -portal">
      <div class="a-card__tabs">
        <ul class="a-tabs -xs">
          <li class="-active">
            <a href="#">Active Tab</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
          <li>
            <a href="#">Tab Link</a>
          </li>
        </ul>
      </div>
      <div class="a-card__content">
        <p class="-text -m--0">Aenean pretium massa sed vehicula porta. Phasellus id metus felis. Ut felis magna, facilisis ut malesuada nec.</p>
      </div>
    </div>
