---
title: Dropdown
---
p.-text
  | Dropdowns contain and give access to a list of buttons or other elements hidden by default. They are commonly used
  | for menus in web applications.

h3 Using Dropdowns
p.-text
  | A dropdown must be associated to an activator, commonly a button, which, at the time of being clicked, it expands
  | the dropdown. Activator and dropdown might be contained in a div with an <code>m-dropdown</code> class, or otherwise, the
  | activator must reference the dropdown with a <code>data-target</code> attribute.
p.-text
  span.a-badge.-brand.-mr1
    span Tip
  | Use the <code>a-dropdown-trigger</code> class in your activator button to make the chevron appear.
h4 Example 1
p.-text
  | Trigger and dropdown enclosed in the same div.
.example.-mb3
  .-p3
    .m-dropdown
      button.a-btn.a-dropdown-trigger Dropdown, click me
      .a-dropdown
        a.a-menu-item(href='#') Element 1
        a.a-menu-item(href='#') Element 2
        a.a-menu-item(href='#') Element 3
        a.a-menu-item(href='#') Element 4
  ul#a-tabs--expanded.a-tabs.-ml3
    li.-active
      a(href='#a-tabs-panel--expanded-false') Initial
    li
      a(href='#a-tabs-panel--expanded-true') Expanded
  #a-tabs-panel--expanded-false.a-tabs-panel.-active
    :code(lang="html")
      <div class="m-dropdown">
        <button class="a-btn a-dropdown-trigger">Dropdown, click me</button>
        <div class="a-dropdown">
          <a class="a-menu-item" href="#">Element 1</a>
          <a class="a-menu-item" href="#">Element 2</a>
          <a class="a-menu-item" href="#">Element 3</a>
          <a class="a-menu-item" href="#">Element 4</a>
        </div>
      </div>
  #a-tabs-panel--expanded-true.a-tabs-panel
    :code(lang="html")
      <div class="m-dropdown">
        <button class="a-btn a-dropdown-trigger -active">Dropdown, click me</button>
        <div class="a-dropdown -active">
          <a class="a-menu-item" href="#">Element 1</a>
          <a class="a-menu-item" href="#">Element 2</a>
          <a class="a-menu-item" href="#">Element 3</a>
          <a class="a-menu-item" href="#">Element 4</a>
        </div>
      </div>

h4 Example 2
p.-text
  | Dropdown referenced by a <code>data-target</code> attribute in the activator.
.example.-mb3
  .-p3
    button.a-btn.a-dropdown-trigger(data-target="#dropdown-1") Dropdown, click me
    p.-text There is no need of proximity between the both elements.
    #dropdown-1.a-dropdown
      a.a-menu-item(href='#') Element 1
      a.a-menu-item(href='#') Element 2
      a.a-menu-item(href='#') Element 3
      a.a-menu-item(href='#') Element 4
  ul#a-tabs--expanded-2.a-tabs.-ml3
    li.-active
      a(href='#a-tabs-panel--expanded-2-false') Initial
    li
      a(href='#a-tabs-panel--expanded-2-true') Expanded
  #a-tabs-panel--expanded-2-false.a-tabs-panel.-active
    :code(lang="html")
      <div class="-p3">
        <button class="a-btn a-dropdown-trigger" data-target="#dropdown-1">Dropdown, click me</button>
        <p class="-text">There is no need of proximity between the both elements.</p>
        <div class="a-dropdown" id="dropdown-1">
          <a class="a-menu-item" href="#">Element 1</a>
          <a class="a-menu-item" href="#">Element 2</a>
          <a class="a-menu-item" href="#">Element 3</a>
          <a class="a-menu-item" href="#">Element 4</a>
        </div>
      </div>
  #a-tabs-panel--expanded-2-true.a-tabs-panel
    :code(lang="html")
      <div class="-p3">
        <button class="a-btn a-dropdown-trigger -active" data-target="#dropdown-1">Dropdown, click me</button>
        <p class="-text">There is no need of proximity between the both elements.</p>
        <div class="a-dropdown -active" id="dropdown-1">
          <a class="a-menu-item" href="#">Element 1</a>
          <a class="a-menu-item" href="#">Element 2</a>
          <a class="a-menu-item" href="#">Element 3</a>
          <a class="a-menu-item" href="#">Element 4</a>
        </div>
      </div>

h3 Divider
p.-text
  | Several menu items can be arranged together by using a divider. Use the <code>-divider</code> class.
h4 Example
.example.-mb3
  .-p3
    .m-dropdown
      button.a-btn.a-dropdown-trigger Dropdown, click me
      .a-dropdown
        a.a-menu-item(href='#') Element 1
        a.a-menu-item(href='#') Element 2
        a.a-menu-item(href='#') Element 3
        .-divider
        a.a-menu-item(href='#') Element 4
  :code(lang="html")
    <div class="m-dropdown">
      <button class="a-btn a-dropdown-trigger">Dropdown, click me</button>
      <div class="a-dropdown">
        <a class="a-menu-item" href="#">Element 1</a>
        <a class="a-menu-item" href="#">Element 2</a>
        <a class="a-menu-item" href="#">Element 3</a>
        <div class="-divider"></div>
        <a class="a-menu-item" href="#">Element 4</a>
      </div>
    </div>

h3 Menu item states
p.-text
  | Each menu item can be in one of four item states <code>normal</code>, <code>active</code>, <code>disabled</code> and
  | <code>hover</code>. Hover state is the one that happens when you put your mouse over an element. However, there is
  | a class to force this state.

h4 Example
.example.-mb3
  .-p3
    .m-dropdown
      button.a-btn.a-dropdown-trigger Dropdown, click me
      .a-dropdown
        a.a-menu-item(href='#') Normal element
        a.a-menu-item.-active(href='#') Active element
        a.a-menu-item.-disabled(href='#') Disabled element
        a.a-menu-item.-hover(href='#') Hovered item
  :code(lang="html")
    <div class="m-dropdown">
      <button class="a-btn a-dropdown-trigger">Dropdown, click me</button>
       <div class="a-dropdown">
        <a class="a-menu-item" href="#">Normal element</a>
        <a class="a-menu-item -active" href="#">Active element</a>
        <a class="a-menu-item -disabled href="#">Disabled element</a>
        <a class="a-menu-item -hover" href="#">Hovered item</a>
      </div>
    </div>

h3 Icons
p.-text
  | Dropdown component has been developed to support Chi icons in the menu items.

h4 Example
.example.-mb3
  .-p3
    .m-dropdown
      button.a-btn.a-dropdown-trigger Dropdown, click me
      .a-dropdown
        a.a-menu-item(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-file-outline')
          = "New"
        a.a-menu-item.-disabled(href='http://www.centurylink.com')
          .a-icon
            svg
              use(xlink:href='#icon-arrow-to-bottom')
          = "Save"
        .-divider
        a.a-menu-item(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-mail')
          = "Send"
        a.a-menu-item.-active(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-shopping-cart')
          = "Buy"
        a.a-menu-item(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-users')
          = "Share"
        .-divider
        a.a-menu-item(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-logout')
          = "Logout"
  :code(lang="html")
    <div class="m-dropdown">
      <button class="a-btn a-dropdown-trigger">Dropdown, click me</button>
      <div class="a-dropdown">
        <a class="a-menu-item" href="#">
          <div class="a-icon">
            <svg>
              <use xlink:href="#icon-file-outline"></use>
            </svg>
          </div>New
        </a>
        <a class="a-menu-item -disabled" href="#">
          <div class="a-icon">
          <svg>
            <use xlink:href="#icon-arrow-to-bottom"></use>
          </svg>
          </div>Save
        </a>
        <div class="-divider"></div>
        <a class="a-menu-item" href="#">
          <div class="a-icon">
            <svg>
              <use xlink:href="#icon-mail"></use>
            </svg>
          </div>Send
        </a>
        <a class="a-menu-item -active" href="#">
          <div class="a-icon">
            <svg>
              <use xlink:href="#icon-shopping-cart"></use>
            </svg>
          </div>Buy
        </a>
        <a class="a-menu-item" href="#">
          <div class="a-icon">
            <svg>
              <use xlink:href="#icon-users"></use>
            </svg>
          </div>Share
        </a>
        <div class="-divider"></div>
        <a class="a-menu-item" href="#">
          <div class="a-icon">
            <svg>
              <use xlink:href="#icon-logout"></use>
            </svg>
          </div>Logout
        </a>
      </div>
    </div>

h3 Form elements
p.-text
  | Several kinds of form items can be added inside the dropdown menu.

h4 Search box
p.-text
  | This search box is a special kind of text input prepared to be located on top of the menu-item. It has slightly
  | smaller padding at the sides.
.example.-mb3
  .-p3
    .m-dropdown
      button.a-btn.a-dropdown-trigger Dropdown, click me
      .a-dropdown
        .a-inputWrapper.-iconLeft.a-menu-item
          input(type="text", class="a-input", placeholder="Search")
          .a-icon.-textMuted
            svg
              use(xlink:href='#icon-search')
        a.a-menu-item(href='#') Element 1
        a.a-menu-item(href='#') Element 2
        a.a-menu-item(href='#') Element 3
        a.a-menu-item(href='#') Element 4
  :code(lang="html")
    <div class="m-dropdown">
      <button class="a-btn a-dropdown-trigger">Dropdown, click me</button>
      <div class="a-dropdown">
        <div class="a-inputWrapper -iconLeft a-menu-item">
          <input class="a-input" type="text" placeholder="Search">
          <div class="a-icon -textMuted">
            <svg>
              <use xlink:href="#icon-search"></use>
            </svg>
          </div>
        </div>
        <a class="a-menu-item" href="#">Element 1</a>
        <a class="a-menu-item" href="#">Element 2</a>
        <a class="a-menu-item" href="#">Element 3</a>
        <a class="a-menu-item" href="#">Element 4</a>
      </div>
    </div>

h4 Checkboxes
p.-text
  | Two versions of checkboxes, with and without icon have been included in the library to be used as menu items.

ul#a-tabs--checkboxes.a-tabs.-ml3
  li.-active
    a(href='#a-tabs-panel--checkbox') Regular
  li
    a(href='#a-tabs-panel--icon-checkboxes') With icons
.example.-mb3
  #a-tabs-panel--checkbox.a-tabs-panel.-active
    .-p3
      .m-dropdown
        button.a-btn.a-dropdown-trigger Dropdown, click me
        .a-dropdown
          .a-formGroup.a-menu-item
            input(type="checkbox", class="a-input", id="checkbox1")
            label(for="checkbox1")
            label.-text(for="checkbox1") Element 1
          .a-formGroup.a-menu-item
            input(type="checkbox", class="a-input", id="checkbox2", disabled)
            label(for="checkbox2")
            label.-text(for="checkbox2") Element 2
          .a-formGroup.a-menu-item
            input(type="checkbox", class="a-input", id="checkbox3", checked)
            label(for="checkbox3")
            label.-text(for="checkbox3") Element 3
          .a-formGroup.a-menu-item
            input(type="checkbox", class="a-input", id="checkbox4")
            label(for="checkbox4")
            label.-text(for="checkbox4") Element 4
    :code(lang="html")
      <div class="m-dropdown">
        <button class="a-btn a-dropdown-trigger">Dropdown, click me</button>
        <div class="a-dropdown">
          <div class="a-formGroup a-menu-item">
            <input class="a-input" type="checkbox" id="checkbox1">
            <label for="checkbox1"></label>
            <label class="-text" for="checkbox1">Element 1</label>
          </div>
          <div class="a-formGroup a-menu-item">
            <input class="a-input" type="checkbox" id="checkbox2" disabled>
            <label for="checkbox2"></label>
            <label class="-text" for="checkbox2">Element 2</label>
          </div>
          <div class="a-formGroup a-menu-item">
            <input class="a-input" type="checkbox" id="checkbox3" checked>
            <label for="checkbox3"></label>
            <label class="-text" for="checkbox3">Element 3</label>
          </div>
          <div class="a-formGroup a-menu-item">
            <input class="a-input" type="checkbox" id="checkbox4">
            <label for="checkbox4"></label>
            <label class="-text" for="checkbox4">Element 4</label>
          </div>
        </div>
      </div>

  #a-tabs-panel--icon-checkboxes.a-tabs-panel
    .-p3
      .m-dropdown
        button.a-btn.a-dropdown-trigger Dropdown, click me
        .a-dropdown
          .a-formGroup.a-menu-item
            input(type="checkbox", class="a-input", id="checkbox1b")
            label(for="checkbox1b")
            label.-text(for="checkbox1b")
              .a-icon
                svg
                  use(xlink:href='#icon-logo-centurylink')
              | Element 1
          .a-formGroup.a-menu-item
            input(type="checkbox", class="a-input", id="checkbox2b", disabled)
            label(for="checkbox2b")
            label.-text(for="checkbox2b")
              .a-icon
                svg
                  use(xlink:href='#icon-logo-centurylink')
              | Element 2
          .a-formGroup.a-menu-item
            input(type="checkbox", class="a-input", id="checkbox3b", checked)
            label(for="checkbox3b")
            label.-text(for="checkbox3b")
              .a-icon
                svg
                  use(xlink:href='#icon-logo-centurylink')
              | Element 3
          .a-formGroup.a-menu-item
            input(type="checkbox", class="a-input", id="checkbox4b")
            label(for="checkbox4b")
            label.-text(for="checkbox4b")
              .a-icon
                svg
                  use(xlink:href='#icon-logo-centurylink')
              | Element 4

    :code(lang="html")
      <div class="m-dropdown">
        <button class="a-btn a-dropdown-trigger">Dropdown, click me</button>
        <div class="a-dropdown">
          <div class="a-formGroup a-menu-item">
            <input class="a-input" type="checkbox" id="checkbox1">
            <label for="checkbox1"></label>
            <label class="-text" for="checkbox1">
              <div class="a-icon">
                <svg>
                  <use xlink:href="#icon-logo-centurylink"></use>
                </svg>
              </div>
              Element 1
            </label>
          </div>
          <div class="a-formGroup a-menu-item">
            <input class="a-input" type="checkbox" id="checkbox2" disabled>
            <label for="checkbox2"></label>
            <label class="-text" for="checkbox2">
              <div class="a-icon">
                <svg>
                  <use xlink:href="#icon-logo-centurylink"></use>
                </svg>
              </div>
              Element 2
            </label>
          </div>
          <div class="a-formGroup a-menu-item">
            <input class="a-input" type="checkbox" id="checkbox3" checked>
            <label for="checkbox3"></label>
            <label class="-text" for="checkbox3">
              <div class="a-icon">
                <svg>
                  <use xlink:href="#icon-logo-centurylink"></use>
                </svg>
              </div>
              Element 3
            </label>
          </div>
          <div class="a-formGroup a-menu-item">
            <input class="a-input" type="checkbox" id="checkbox4">
            <label for="checkbox4"></label>
            <label class="-text" for="checkbox4">
              <div class="a-icon">
                <svg>
                  <use xlink:href="#icon-logo-centurylink"></use>
                </svg>
              </div>
              Element 4
            </label>
          </div>
        </div>
      </div>

h4 Others
p.-text
  span.a-badge.-brand.-mr1
    span Pro tip
  | You can add your content as a menu item using the class <code>a-menu-item</code>. It sets the height, padding,
  | and alignment to fit other menu items rendering.

ul#a-tabs--others.a-tabs.-ml3
  li.-active
    a(href='#a-tabs-panel--others-text') Text
  li
    a(href='#a-tabs-panel--others-radio') Radio buttons
  li
    a(href='#a-tabs-panel--others-input') Text input
  li
    a(href='#a-tabs-panel--others-range') Range input
  li
    a(href='#a-tabs-panel--others-toggle') Toggle

.example.-mb3
  #a-tabs-panel--others-text.a-tabs-panel.-active
    .-p3
      p.-text It is possible to include text, without link, using a span tag.
      .m-dropdown
        button.a-btn.a-dropdown-trigger Dropdown, click me
        .a-dropdown
          span.a-menu-item Text 1
          span.a-menu-item Text 2
          span.a-menu-item Text 3
          span.a-menu-item Text 4
    :code(lang="html")
      <div class="m-dropdown">
        <button class="a-btn a-dropdown-trigger">Dropdown, click me</button>
        <div class="a-dropdown">
          <span class="a-menu-item">Text 1</span>
          <span class="a-menu-item">Text 2</span>
          <span class="a-menu-item">Text 3</span>
          <span class="a-menu-item">Text 4</span>
        </div>
      </div>
  #a-tabs-panel--others-radio.a-tabs-panel
    .-p3
      .m-dropdown
        button.a-btn.a-dropdown-trigger Dropdown, click me
        .a-dropdown
          .a-formGroup.a-menu-item
            input(class="a-input", type="radio", name="radios", id="radio1")
            label(for="radio1")
            label.-text(for="radio1") Radio Button 1
          .a-formGroup.a-menu-item
            input(class="a-input", type="radio", name="radios", id="radio2", disabled)
            label(for="radio2")
            label.-text(for="radio2") Disabled Radio Button 2
          .a-formGroup.a-menu-item
            input(class="a-input", type="radio", name="radios", id="radio3")
            label(for="radio3")
            label.-text(for="radio3") Radio Button 3
          .a-formGroup.a-menu-item
            input(class="a-input", type="radio", name="radios", id="radio4")
            label(for="radio4")
            label.-text(for="radio4") Radio Button 4
    :code(lang="html")
      <div class="m-dropdown">
          <button class="a-btn a-dropdown-trigger">Dropdown, click me</button>
          <div class="a-dropdown">
            <div class="a-formGroup a-menu-item">
              <input class="a-input" type="radio" name="radios" id="radio1">
              <label for="radio1"></label>
              <label class="-text" for="radio1">Radio Button 1</label>
            </div>
            <div class="a-formGroup a-menu-item">
              <input class="a-input" type="radio" name="radios" id="radio2" disabled="">
              <label for="radio2"></label>
              <label class="-text" for="radio2">Disabled Radio Button 2</label>
            </div>
            <div class="a-formGroup a-menu-item">
              <input class="a-input" type="radio" name="radios" id="radio3">
              <label for="radio3"></label>
              <label class="-text" for="radio3">Radio Button 3</label>
            </div>
            <div class="a-formGroup a-menu-item">
              <input class="a-input" type="radio" name="radios" id="radio4">
              <label for="radio4"></label>
              <label class="-text" for="radio4">Radio Button 4</label>
            </div>
          </div>
        </div>
  #a-tabs-panel--others-input.a-tabs-panel
    .-p3
      .m-dropdown
        button.a-btn.a-dropdown-trigger Dropdown, click me
        .a-dropdown
          a.a-menu-item(href='#') Link 1
          a.a-menu-item(href='#') Link 2
          .-divider
          .a-menu-item
            input.a-input(type="text",placeholder="Placeholder")
    :code(lang="html")
      <div class="m-dropdown">
        <button class="a-btn a-dropdown-trigger">Dropdown, click me</button>
        <div class="a-dropdown">
          <a class="a-menu-item" href="#">Link 1</a>
          <a class="a-menu-item" href="#">Link 2</a>
          <div class="-divider"></div>
          <div class="a-menu-item">
            <input class="a-input" type="text" placeholder="Placeholder">
          </div>
        </div>
      </div>
  #a-tabs-panel--others-range.a-tabs-panel
    .-p3
      .m-dropdown
        button.a-btn.a-dropdown-trigger Dropdown, click me
        .a-dropdown
          .a-formGroup.a-menu-item
            label.-text.-mr2 200GB
            input.a-input(type="range")
            label.-text.-ml2 5TB
          .-divider
          span.a-menu-item Select range
          .a-menu-item
            input.a-input(type="range")
    :code(lang="html")
      <div class="m-dropdown">
          <button class="a-btn a-dropdown-trigger">Dropdown, click me</button>
          <div class="a-dropdown">
            <div class="a-formGroup a-menu-item">
              <label class="-text -mr2">200GB</label>
              <input class="a-input" type="range">
              <label class="-text -ml2">5TB</label>
            </div>
            <div class="-divider"></div>
            <span class="a-menu-item">Select range</span>
            <div class="a-menu-item">
              <input class="a-input" type="range">
            </div>
          </div>
        </div>
  #a-tabs-panel--others-toggle.a-tabs-panel
    .-p3
      .m-dropdown
        button.a-btn.a-dropdown-trigger Longer button for longer content
        .a-dropdown
          .a-formGroup.a-menu-item
            input(type="checkbox", class="a-input -toggle", id="toggle-mail")
            label(class="-mr1", for="toggle-mail")
            label(class="-text", for="toggle-mail") Email notifications
          .a-formGroup.a-menu-item
            input(type="checkbox", class="a-input -toggle", id="toggle-tlf")
            label(class="-mr1", for="toggle-tlf")
            label(class="-text", for="toggle-tlf") Phone notifications
          .a-formGroup.a-menu-item
            input(type="checkbox", class="a-input -toggle", id="toggle-app")
            label(class="-mr1", for="toggle-app")
            label(class="-text", for="toggle-app") App notifications
    :code(lang="html")
      <div class="m-dropdown">
        <button class="a-btn a-dropdown-trigger">Longer button for longer content</button>
        <div class="a-dropdown">
          <div class="a-formGroup a-menu-item">
            <input class="a-input -toggle" type="checkbox" id="toggle-mail">
            <label class="-mr1" for="toggle-mail"></label>
            <label class="-text" for="toggle-mail">Email notifications</label>
          </div>
          <div class="a-formGroup a-menu-item">
            <input class="a-input -toggle" type="checkbox" id="toggle-tlf">
            <label class="-mr1" for="toggle-tlf"></label>
            <label class="-text" for="toggle-tlf">Phone notifications</label>
          </div>
          <div class="a-formGroup a-menu-item">
            <input class="a-input -toggle" type="checkbox" id="toggle-app">
            <label class="-mr1" for="toggle-app"></label>
            <label class="-text" for="toggle-app">App notifications</label>
          </div>
        </div>
      </div>


h3 Helpers

h4 Truncate long menu-items
p.-text
  | You can wrap the menu-item content into a div with the class <code>-flex--ellipsis</code>.
.example.-mb3
  .-p3
    .m-dropdown
      button.a-btn.a-dropdown-trigger Click me
      .a-dropdown(style="width:100%")
        a.a-menu-item(href='#') Element 1
        a.a-menu-item(href='#') Element 2
        a.a-menu-item(href='#')
          .-flex--ellipsis Long text element 3
        a.a-menu-item(href='#') Element 4
  :code(lang="html")
    <div class="m-dropdown">
      <button class="a-btn a-dropdown-trigger">Click me</button>
      <div class="a-dropdown" style="width:100%">
        <a class="a-menu-item" href="#">Element 1</a>
        <a class="a-menu-item" href="#">Element 2</a>
        <a class="a-menu-item" href="#">
          <div class="-flex--ellipsis">Long text element 3</div>
        </a>
        <a class="a-menu-item" href="#">Element 4</a>
      </div>
    </div>

h4 Higher menu items
p.-text If you need to insert higher menu items than default, add the class <code>-h--auto</code>.
.example.-mb3
  .-p3
    .m-dropdown
      button.a-btn.a-dropdown-trigger Dropdown, click me
      .a-dropdown(style="width:100%")
        a.a-menu-item(href="#") Link 1
        .a-menu-item.-h--auto.-py1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        a.a-menu-item(href="#") Link 2
  :code(lang="html")
    <div class="m-dropdown">
      <button class="a-btn a-dropdown-trigger">Dropdown, click me</button>
      <div class="a-dropdown" style="width:100%">
        <a class="a-menu-item" href="#">Link 1</a>
        <div class="a-menu-item -h--auto -py1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        <a class="a-menu-item" href="#">Link 2</a>
      </div>
    </div>

p















































h3 Tests (to be erased)

.example.-mb3
  .-p3
    .m-dropdown.-mr1
      button.a-btn.a-dropdown-trigger.-active Button with a long text
      .a-dropdown.-active(style="width:100%")
        .a-formGroup.a-menu-item
          input(type="checkbox", class="a-input", id="checkbox4")
          label(for="checkbox4")
          label.-text(for="checkbox4")
            .a-icon
              svg
                use(xlink:href='#icon-logo-centurylink')
            = "Element one"
        .a-formGroup.a-menu-item
          input(type="checkbox", class="a-input", id="checkbox5", disabled)
          label(for="checkbox5")
          label.-text(for="checkbox5")
            .a-icon
              svg
                use(xlink:href='#icon-logo-centurylink')
            span Element two demasiado largo para container
        .-divider
        span.a-menu-item ---------------------
        .-divider
        a.a-menu-item(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-logo-centurylink')
          = "Element no activo"
        a.a-menu-item.-active(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-logo-centurylink')
          = "Active element"
        .-divider
        a.a-menu-item(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-logo-centurylink')
          = "Element no activo que es muy largo"
        a.a-menu-item.-active(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-logo-centurylink')
          = "Active element que es muy largo"
        .-divider
        a.a-menu-item(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-logo-centurylink')
          span.-flex--ellipsis Element no activo que es muy largo
        a.a-menu-item.-active(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-logo-centurylink')
          span.-flex--ellipsis Active element que es muy largo

        .-divider
        span.a-menu-item ---------------------


    .m-dropdown.-mr1
      button.a-btn.a-dropdown-trigger(data-target="#dropdown-2") Button with a long text
      #dropdown-2.a-dropdown
        a.a-menu-item(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-logo-centurylink')
          = "Element"
        a.a-menu-item.-disabled
          .a-icon
            svg
              use(xlink:href='#icon-logo-centurylink')
          = "Disabled element"
        .-divider
        a.a-menu-item(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-logo-centurylink')
          = "Element"
        a.a-menu-item.-active(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-logo-centurylink')
          = "Active element"
        .-divider
        a.a-menu-item(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-logo-centurylink')
          = "Another element"

    .m-dropdown.-mr1
      button.a-btn.a-dropdown-trigger(data-target="#dropdown-3") Button with a long text
      #dropdown-3.a-dropdown
        .a-inputWrapper.-iconLeft.a-menu-item
          input(type="text", class="a-input", placeholder="Search")
          .a-icon.-textMuted
            svg
              use(xlink:href='#icon-search')
        a.a-menu-item(href='#') Element
        a.a-menu-item.-disabled Disabled element
        .-divider
        a.a-menu-item(href='#') Element
        a.a-menu-item.-active(href='#') Active element
        .-divider
        a.a-menu-item(href='#') Another element

    .m-dropdown
      button.a-btn.a-dropdown-trigger(data-target="#dropdown-4") Button with quite a long text
      #dropdown-4.a-dropdown
        .a-formGroup.a-menu-item
          input(type="checkbox", class="a-input", id="checkbox1")
          label(for="checkbox1")
          label.-text(for="checkbox1") Element
        .a-formGroup.a-menu-item
          input(type="checkbox", class="a-input", id="checkbox2", disabled)
          label(for="checkbox2")
          label.-text(for="checkbox2") Disabled Element
        .-divider
        .a-formGroup.a-menu-item
          input(type="checkbox", class="a-input", id="checkbox3", checked)
          label(for="checkbox3")
          label.-text(for="checkbox3") Test element (*) <!-- Este codigo no valida label inside label -->
        a.a-menu-item.-active(href='#') Active element
        .-divider
        a.a-menu-item(href='#') Another element
        .a-formGroup.a-menu-item
          input(type="checkbox", class="a-input", id="checkbox4")
          label(for="checkbox4")
          label.-text(for="checkbox4")
            .a-icon
              svg
                use(xlink:href='#icon-logo-centurylink')
            = "Element one"
        .a-formGroup.a-menu-item
          input(type="checkbox", class="a-input", id="checkbox5", disabled)
          label(for="checkbox5")
          label.-text(for="checkbox5")
            .a-icon
              svg
                use(xlink:href='#icon-logo-centurylink')
            span Element two demasiado largo para container
        .-divider
        span.a-menu-item ---------------------
        .-divider
        a.a-menu-item(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-logo-centurylink')
          = "Element no activo"
        a.a-menu-item.-active(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-logo-centurylink')
          = "Active element"
        .-divider
        a.a-menu-item(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-logo-centurylink')
          = "Element no activo que es muy largo"
        a.a-menu-item.-active(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-logo-centurylink')
          = "Active element que es muy largo"
        .-divider
        a.a-menu-item(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-logo-centurylink')
          span.-flex--ellipsis Element no activo que es muy largo
        a.a-menu-item.-active(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-logo-centurylink')
          span.-flex--ellipsis Active element que es muy largo

        .-divider
        span.a-menu-item ---------------------
        .-divider

        a.a-menu-item(href='#')
          .a-icon
            svg
              use(xlink:href='#icon-logo-centurylink')
          = "Another element"
        .-divider
        .a-formGroup.a-menu-item
          input(class="a-input", type="radio", name="radios", id="radiob1")
          label(for="radiob1")
          label.-text(for="radiob1") Radio Button 1
        .a-formGroup.a-menu-item
          input(class="a-input", type="radio", name="radios", id="radiob2", disabled)
          label(for="radiob2")
          label.-text(for="radiob2") Disabled Radio Button 2
        .a-formGroup.a-menu-item
          input(class="a-input", type="radio", name="radios", id="radiob3")
          label(for="radiob3")
          label.-text(for="radiob3") Radio Button 3
        .a-formGroup.a-menu-item
          input(class="a-input", type="radio", name="radios", id="radiob4")
          label(for="radiob4")
          label.-text(for="radiob4") Radio Button 4
        .a-formGroup.a-menu-item
          label.-text.-mr2 200GB
          input.a-input(type="range")
          label.-text.-ml2 5TB
        .-divider
        span.a-menu-item Hola
        .a-menu-item
          input.a-input(type="range")
        .a-menu-item
          input.a-input(type="text",placeholder="Placeholder")
        .a-formGroup.a-menu-item
          input(type="checkbox", class="a-input -toggle", id="toggle4")
          label(class="-mr1", for="toggle4")
          label(class="-text", for="toggle4") Notifications


script(type="text/javascript", src=`../../dropdown.js`)
script(type="text/javascript", src=`../../tabs.js`)
!= '<script>chiTabs.init(document.getElementById(\'a-tabs--checkboxes\'));chiTabs.init(document.getElementById(\'a-tabs--expanded\'));chiTabs.init(document.getElementById(\'a-tabs--expanded-2\'));chiTabs.init(document.getElementById(\'a-tabs--others\'));</script>'
