---
title: Modal
---
p.-text Modals are windows used for displaying prompts and subtasks without losing context of the parent application.

h3 Examples
p.-text
  | Modals are composed of several parts. To render a modal, include a modal backdrop, modal header, modal body,
  | and modal footer (optional).

h4 Base
.example.-mb3
  .a-modal__backdrop.-p6(style="position:relative;border-top-left-radius:3px;border-top-right-radius:3px;")
    .a-modal(style="margin-top:0;")
      .a-modal__header
        h3.a-modal__title Modal Title
        button(class='a-btn -icon -close')
          .a-btn__content
            i.a-icon.icon-x
      .a-modal__content
        p.-text.-m0 Modal content
      .a-modal__footer
        button.a-btn Cancel
        button.a-btn.-brand.-ml2 Save
  :code(lang="html")
    <div class="a-modal__backdrop">
      <div class="a-modal">
        <div class="a-modal__header">
          <h3 class="a-modal__title">Modal Title</h3>
          <button class="a-btn -icon -close">
            <div class="a-btn__content">
              <i class="a-icon icon-x"></i>
            </div>
          </button>
        </div>
        <div class="a-modal__content">
          <p class="-text -m0">Modal content</p>
        </div>
        <div class="a-modal__footer">
          <button class="a-btn">Cancel</button>
          <button class="a-btn -brand -ml2">Save</button>
        </div>
      </div>
    </div>

h4 Inverse Backdrop
p.-text
  | Invert a modals backdrop by applying the class <code>-inverse</code>.
.example.-mb3
  .a-modal__backdrop.-inverse.-p6(style="position:relative;border-top-left-radius:3px;border-top-right-radius:3px;")
    .a-modal(style="margin-top:0;")
      .a-modal__header
        h3.a-modal__title Modal Title
        button(class='a-btn -icon -close')
          .a-btn__content
            i.a-icon.icon-x
      .a-modal__content
        p.-text.-m0 Modal content
      .a-modal__footer
        button.a-btn Cancel
        button.a-btn.-brand.-ml2 Save
  :code(lang="html")
    <div class="a-modal__backdrop -inverse">
      <div class="a-modal">
        <div class="a-modal__header">
          <h3 class="a-modal__title">Modal Title</h3>
          <button class="a-btn -icon -close">
            <div class="a-btn__content">
              <i class="a-icon icon-x"></i>
            </div>
          </button>
        </div>
        <div class="a-modal__content">
          <p class="-text -m0">Modal content</p>
        </div>
        <div class="a-modal__footer">
          <button class="a-btn">Cancel</button>
          <button class="a-btn -brand -ml2">Save</button>
        </div>
      </div>
    </div>

h4 Borderless
p.-text
  | Disable header or footer borders by applying the class <code>-noBorder</code> to
  | <code>a-modal__header</code> or <code>a-modal__footer</code>.
.example.-mb3
  .a-modal__backdrop.-p6(style="position:relative;border-top-left-radius:3px;border-top-right-radius:3px;")
    .a-modal(style="margin-top:0;")
      .a-modal__header.-noBorder
        h3.a-modal__title Modal Title
        button(class='a-btn -icon -close')
          .a-btn__content
            i.a-icon.icon-x
      .a-modal__content
        p.-text.-m0 Modal content
      .a-modal__footer.-noBorder
        button.a-btn Cancel
        button.a-btn.-brand.-ml2 Save
  :code(lang="html")
    <div class="a-modal__backdrop">
      <div class="a-modal">
        <div class="a-modal__header -noBorder">
          <h3 class="a-modal__title">Modal Title</h3>
          <button class="a-btn -icon -close">
            <div class="a-btn__content">
              <i class="a-icon icon-x"></i>
            </div>
          </button>
        </div>
        <div class="a-modal__content">
          <p class="-text -m0">Modal content</p>
        </div>
        <div class="a-modal__footer -noBorder">
          <button class="a-btn">Cancel</button>
          <button class="a-btn -brand -ml2">Save</button>
        </div>
      </div>
    </div>

h4 Multi-step
p.-text
  | For multi-step modals, ensure the class <code>-centered</code> is applied
  | to <code>a-modal__title</code>. This will provide sufficient real estate on the
  | left side to store a back button <code>a-modal__back</code>.
.example.-mb3
  .a-modal__backdrop.-p6(style="position:relative;border-top-left-radius:3px;border-top-right-radius:3px;")
    .a-modal(style="margin-top:0;")
      .a-modal__header
        h3.a-modal__title.-centered Modal Title
        button.a-modal__back
        button(class='a-btn -icon -close')
          .a-btn__content
            i.a-icon.icon-x
      .a-modal__content
        p.-text.-m0 Modal content
      .a-modal__footer
        button.a-btn.-brand.-ml2 Next
  :code(lang="html")
    <div class="a-modal__backdrop">
      <div class="a-modal">
        <div class="a-modal__header">
          <h3 class="a-modal__title -centered">Modal Title</h3>
          <button class="a-modal__back"></button>
          <button class="a-btn -icon -close">
            <div class="a-btn__content">
              <i class="a-icon icon-x"></i>
            </div>
          </button>
        </div>
        <div class="a-modal__content">
          <p class="-text -m0">Modal content</p>
        </div>
        <div class="a-modal__footer">
          <button class="a-btn -brand -ml2">Next</button>
        </div>
      </div>
    </div>

h4 Simple
p.-text Remove <code>a-modal__header</code> and <code>a-modal__footer</code> for a simple and customizable modal.
.example.-mb3
  .a-modal__backdrop.-p6(style="position:relative;border-top-left-radius:3px;border-top-right-radius:3px;")
    .a-modal(style="margin-top:0;")
      button(class='a-btn -icon -close')
        .a-btn__content
          i.a-icon.icon-x
      .a-modal__content.-text--center.-p6
        h3.-m0.-text--bolder Modal Title
        p.-text.-py1.-px3
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis
          | mollis nulla, eget ornare tellus. Lorem ipsum dolor sit amet,
          | consectetur adipiscing elit. Donec laoreet rutrum eros laoreet.
        button.a-btn.-brand.-large.-mt1 Action
  :code(lang="html")
    <div class="a-modal__backdrop">
      <div class="a-modal">
        <button class="a-btn -icon -close">
          <div class="a-btn__content">
            <i class="a-icon icon-x"></i>
          </div>
        </button>
        <div class="a-modal__content -text--center -p6">
          <h3 class="-text--bolder -m0">Modal Title</h3>
          <p class="-text -py1 -px3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis mollis nulla, eget ornare tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet rutrum eros laoreet.</p>
          <button class="a-btn -brand -large -mt1">Action</button>
        </div>
      </div>
    </div>
