---
title: Navigation
---
p.-text
  | In this section, you can find several navigation components built with chi smaller parts. CSS has been adjusted for
  | better results in the integration of smaller navigation components.

.m-alert.-bubble.-info
  i.a-icon.-sm2.icon-circle-info.-text--info
  | This component requires Javascript for: sliding border, dropdowns, tabs and overflow menu.

h3 Nav Tabs
p.-text
  | You can use a combination of tabs and dropdowns for an any-level navigation menu. More than two levels are not
  | recommended, although this component will support more if needed.

.example.-mb--3
  .-p--3.-pb--4
    ul.a-tabs.a-navigationExample
      li.m-dropdown.-active
        a.m-dropdown__trigger(href='#') Active tab, click me
        .m-dropdown__menu
          a.m-dropdown__menu-item(href='#') Elem 1
          a.m-dropdown__menu-item(href='#') Elem 2
          div
            a.m-dropdown__menu-item.m-dropdown__trigger(href='#') Elem 3 more
            .m-dropdown__menu
              a.m-dropdown__menu-item(href='#') Elem 3.1
              a.m-dropdown__menu-item(href='#') Elem 3.2
              a.m-dropdown__menu-item(href='#') Elem 3.3
              a.m-dropdown__menu-item(href='#') Elem 3.4
          a.m-dropdown__menu-item(href='#') Elem 4
      li
        a(href='#') Tab Link
      li
        a(href='#') Tab Link
      li.m-dropdown
        a.m-dropdown__trigger(href='#') Tab Link
        .m-dropdown__menu
          a.m-dropdown__menu-item(href='#') Element 1
          a.m-dropdown__menu-item(href='#') Element 2
          a.m-dropdown__menu-item(href='#') Element 3
  :code(lang='html')
    <ul class="a-tabs">
      <li class="m-dropdown -active">
        <a class="m-dropdown__trigger" href="#">Active tab, click me</a>
        <div class="m-dropdown__menu">
          <a class="m-dropdown__menu-item" href="#">Elem 1</a>
          <a class="m-dropdown__menu-item" href="#">Elem 2</a>
          <div>
            <a class="m-dropdown__menu-item m-dropdown__trigger" href="#">Elem 3 more</a>
            <div class="m-dropdown__menu">
              <a class="m-dropdown__menu-item" href="#">Elem 3.1</a>
              <a class="m-dropdown__menu-item" href="#">Elem 3.2</a>
              <a class="m-dropdown__menu-item" href="#">Elem 3.3</a>
              <a class="m-dropdown__menu-item" href="#">Elem 3.4</a>
            </div>
          </div>
          <a class="m-dropdown__menu-item" href="#">Elem 4</a>
        </div>
      </li>
      <li>
        <a href="#">Tab Link</a>
      </li>
      <li>
        <a href="#">Tab Link</a>
      </li>
      <li class="m-dropdown">
        <a class="m-dropdown__trigger" href="#">Tab Link</a>
        <div class="m-dropdown__menu">
          <a class="m-dropdown__menu-item" href="#">Element 1</a>
          <a class="m-dropdown__menu-item" href="#">Element 2</a>
          <a class="m-dropdown__menu-item" href="#">Element 3</a>
        </div>
      </li>
    </ul>

h4 Active status
p.-text
  | Active status markup is inherited from tabs and dropdowns.

ul.a-tabs
  li.-active
    a(href='#example-2__tab') Tab
  li
    a(href='#example-2__dropdown') Dropdown
  li
    a(href='#example-2__menuItem') Menu item
#example-2__tab.a-tabs-panel.-active
  .example.-mb--3
    .-p--3.-pb--4
      p.-text
        | Use the <code>-active</code> class on the <code>li</code> element under the <code>ul.a-tabs</code> to make
        | the tab render as active.
      .a-divider
      ul.a-tabs.a-navigationExample
        li.-active
          a(href='#') Active tab
        li
          a(href='#') Inactive tab
        li
          a(href='#') Inactive tab
    :code(lang='html')
      <ul class="a-tabs">
        <li class="-active">
          <a href="#">Active Tab</a>
        </li>
        <li>
          <a href="#">Inactive tab</a>
        </li>
        <li>
          <a href="#">Inactive tab</a>
        </li>
      </ul>
#example-2__dropdown.a-tabs-panel
  .example.-mb--3
    .-p--3.-pb--4
      p.-text
        | Dropdowns get active status by adding <code>-active</code> class to both the <code>m-dropdown__trigger</code> and
        | the <code>m-dropdown__menu</code>. Active dropdowns will be shown unfolded.
      .a-divider
      ul.a-tabs.a-navigationExample
        li.m-dropdown.-active
          a.m-dropdown__trigger.-active(href='#') Active tab & dropdown
          .m-dropdown__menu.-active
            a.m-dropdown__menu-item(href='#') Elem 1
            div
              a.m-dropdown__menu-item.m-dropdown__trigger.-active(href='#') Level 2 active dropdown
              .m-dropdown__menu.-active
                a.m-dropdown__menu-item(href='#') Elem 2.1
                a.m-dropdown__menu-item(href='#') Elem 2.2
                a.m-dropdown__menu-item(href='#') Elem 2.3
            a.m-dropdown__menu-item(href='#') Elem 3
        li
          a(href='#') Tab Link
        li
          a(href='#') Tab Link
  :code(lang='html')
    <ul class="a-tabs">
      <li class="m-dropdown -active">
        <a class="m-dropdown__trigger -active" href="#">Active tab & dropdown</a>
        <div class="m-dropdown__menu -active">
          <a class="m-dropdown__menu-item" href="#">Elem 1</a>
          <div>
            <a class="m-dropdown__menu-item m-dropdown__trigger -active" href="#">Level 2 active dropdown</a>
            <div class="m-dropdown__menu -active">
              <a class="m-dropdown__menu-item" href="#">Elem 2.1</a>
              <a class="m-dropdown__menu-item" href="#">Elem 2.2</a>
              <a class="m-dropdown__menu-item" href="#">Elem 2.3</a>
            </div>
          </div>
          <a class="m-dropdown__menu-item" href="#">Elem 3</a>
        </div>
      </li>
      <li>
        <a href="#">Tab Link</a>
      </li>
      <li>
        <a href="#">Tab Link</a>
      </li>
    </ul>
#example-2__menuItem.a-tabs-panel
  .example.-mb--3
    .-p--3.-pb--4
      p.-text
        | To show menu items as active, add the <code>-active</code> class to the <code>.m-dropdown__menu-item</code>
        | elements.
      .a-divider
      ul.a-tabs.a-navigationExample
        li.m-dropdown.-active
          a.m-dropdown__trigger.-active(href='#') Active tab & dropdown
          .m-dropdown__menu.-active
            a.m-dropdown__menu-item(href='#') Elem 1
            a.m-dropdown__menu-item.-active(href='#') Active menu item
            a.m-dropdown__menu-item(href='#') Elem 3
        li
          a(href='#') Tab Link
        li
          a(href='#') Tab Link
  :code(lang='html')
    <ul class="a-tabs">
      <li class="m-dropdown -active">
        <a class="m-dropdown__trigger -active" href="#">Active tab & dropdown</a>
        <div class="m-dropdown__menu -active">
          <a class="m-dropdown__menu-item" href="#">Elem 1</a>
          <a class="m-dropdown__menu-item -active" href="#">Active menu item</a>
          <a class="m-dropdown__menu-item" href="#">Elem 3</a>
        </div>
      </li>
      <li>
        <a href="#">Tab Link</a>
      </li>
      <li>
        <a href="#">Tab Link</a>
      </li>
    </ul>

h3 Overflow menu
p.-text
  | If there are so many tabs in a horizontal navigation bar that they don't fit in the horizontal gap, you can
  | optionally enclose overflowed items into a submenu called overflow menu. This behavior must be achieved through the
  | use of JavaScript. You can create your own or rely on the Chi JavaScript library.
h4 Static example
.example.-mb--3
  .-p--3.-pb--4
    ul.a-tabs
      li.m-dropdown
        a(href='#') Tab #1
      li
        a(href='#') Tab #...
      li.m-dropdown.-active(data-position='bottom-end')
        a(href='#') More…
        .m-dropdown__menu.-active(data-position='bottom-end')
          a.m-dropdown__menu-item(href='#') Tab Link #6
          a.m-dropdown__menu-item(href='#') Tab Link #7
          a.m-dropdown__menu-item(href='#') Tab Link #8
          a.m-dropdown__menu-item(href='#') Tab Link #9
          a.m-dropdown__menu-item(href='#') Tab Link #10
          a.m-dropdown__menu-item(href='#') Tab Link #11
  :code(lang='html')
    <ul class="a-tabs">
      <li class="m-dropdown">
        <a href="#">Tab #1</a>
      </li>
      <li>
        <a href="#">...</a>
      </li>
      <li class="m-dropdown -active">
        <a href="#" class="m-dropdown__trigger -active" data-position='bottom-end'>More…</a>
        <div class="m-dropdown__menu -active">
          <div>
            <a href="#" class="m-dropdown__menu-item">Tab Link #6</a>
          </div>
          <div>
            <a href="#" class="m-dropdown__menu-item">Tab Link #7</a>
          </div>
          <div>
            <a href="#" class="m-dropdown__menu-item">Tab Link #8</a>
          </div>
          <div>
            <a href="#" class="m-dropdown__menu-item">Tab Link #9</a>
          </div>
          <div>
            <a href="#" class="m-dropdown__menu-item">Tab Link #10</a>
          </div>
          <div>
            <a href="#" class="m-dropdown__menu-item">Tab Link #11</a>
          </div>
        </div>
      </li>
    </ul>

h3 Components
p.-text
  | As navigation component is built from other primitive Chi components, most of these components behavior can be
  | replicated on the navigation component.
.example.-mb--3
  .-p--3.-pb--4
    p.-text
      | Use the <code>-animate</code> class on the dropdowns to make the chevron rotate when activated.
    .a-divider
    ul.a-tabs.a-navigationExample
      li.m-dropdown.-active
        a.m-dropdown__trigger.-animate(href='#') Active Tab
        .m-dropdown__menu
          a.m-dropdown__menu-item(href='#') Elem 1
          a.m-dropdown__menu-item(href='#') Elem 2
          div
            a.m-dropdown__menu-item.m-dropdown__trigger.-animate(href='#') Elem 3 more
            .m-dropdown__menu
              a.m-dropdown__menu-item(href='#') Elem 3.1
              a.m-dropdown__menu-item(href='#') Elem 3.2
              a.m-dropdown__menu-item(href='#') Elem 3.3
              a.m-dropdown__menu-item(href='#') Elem 3.4
          a.m-dropdown__menu-item(href='#') Elem 4
      li
        a(href='#') Tab Link
      li
        a(href='#') Tab Link
      li.m-dropdown
        a.m-dropdown__trigger.-animate(href='#') Tab Link
        .m-dropdown__menu
          a.m-dropdown__menu-item(href='#') Element 1
          a.m-dropdown__menu-item(href='#') Element 2
          a.m-dropdown__menu-item(href='#') Element 3
  :code(lang='html')
    <ul class="a-tabs">
      <li class="m-dropdown -active">
        <a class="m-dropdown__trigger -animate" href="#">Active Tab</a>
        <div class="m-dropdown__menu" x-placement="bottom-start">
          <a class="m-dropdown__menu-item" href="#">Elem 1</a><a class="m-dropdown__menu-item" href="#">Elem 2</a>
          <div>
            <a class="m-dropdown__menu-item m-dropdown__trigger" href="#">Elem 3 more</a>
            <div class="m-dropdown__menu">
              <a class="m-dropdown__menu-item" href="#">Elem 3.1</a><a class="m-dropdown__menu-item" href="#">Elem 3.2</a><a class="m-dropdown__menu-item" href="#">Elem 3.3</a><a class="m-dropdown__menu-item" href="#">Elem 3.4</a>
            </div>
          </div><a class="m-dropdown__menu-item" href="#">Elem 4</a>
        </div>
      </li>
      <li>
        <a href="#">Tab Link</a>
      </li>
      <li>
        <a href="#">Tab Link</a>
      </li>
      <li class="m-dropdown">
        <a class="m-dropdown__trigger" href="#">Tab Link</a>
        <div class="m-dropdown__menu">
          <a class="m-dropdown__menu-item" href="#">Element 1</a><a class="m-dropdown__menu-item" href="#">Element 2</a><a class="m-dropdown__menu-item" href="#">Element 3</a>
        </div>
      </li>
    </ul>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.navigation(document.querySelectorAll('.docs-body__content .a-tabs.a-navigationExample'));
      chi.tab(document.querySelectorAll('.docs-body__content .a-tabs:not(.a-navigationExample)'));
    },
    false
  );
