---
title: Popover
---
p.-text
  | Popovers provide a contextual space, attached to an element and in an upper z-index layer, where you can
  | include any kind of HTML code related to the trigger.

.m-alert.-info.-my--3
  i.m-alert__icon.a-icon.icon-circle-info
  .m-alert__content
    p.m-alert__text This component requires Javascript

h2 Examples

h3 Base
p.-text
  | Popover components are absolutely positioned. For this example we have forced a relative position.
p.-text
  span.a-badge.-primary.-mr1
    span Tip
  | Remove the <code>-active</code> class to hide the popover.
.example.-mb--3
  .-p--3
    section.m-popover.-active(aria-label="Popover Title", aria-hidden="false", style="position: relative", role="dialog")
      header.m-popover__header
        h2.m-popover__title Popover Title
      .m-popover__content
        p.m-popover__text Popover content
  :code(lang="html")
    <section class="m-popover -active" aria-label="Popover Title" role="dialog">
      <header class="m-popover__header">
        <h2 class="m-popover__title">Popover Title</h2>
      </header>
      <div class="m-popover__content">
        <p class="m-popover__text">Popover content</p>
      </div>
    </section>

h3 Arrow
p.-text
  | Popovers support arrows to show the origin where they come from. Arrows can be located anywhere around the Popover.
  | Use the classes <code>m-popover--top</code>, <code>m-popover--right</code>, <code>m-popover--bottom</code> and
  | <code>m-popover--left</code> to position the arrow in the proper place.
p.-text
  span.a-badge.-primary.-mr1
    span Tip
  | If you use a position engine as Popper.js (as our <a href="../../javascript/popover/">JavaScript solution</a>),
  | the attribute <code>x-placement</code> should be used instead of these classes. It accepts all the values Popper.js
  | does. Popper.js sets this attribute automatically, so there is no need to include it on the code.
ul#a-tabs--positioning.a-tabs
  li.-active
    a(href='#a-tabs--positioning-top') Top
  li
    a(href='#a-tabs--positioning-right') Right
  li
    a(href='#a-tabs--positioning-bottom') Bottom
  li
    a(href='#a-tabs--positioning-left') Left
#a-tabs--positioning-top.a-tabs-panel.-active
  .example.-mb--3
    .-p--3
      section.m-popover.m-popover--top.-active(aria-label="Popover Title", aria-hidden="false", style="position: relative", role="dialog")
        header.m-popover__header
          h2.m-popover__title Popover Title
        .m-popover__content
          p.m-popover__text Popover content
        .m-popover__arrow
    :code(lang="html")
      <section class="m-popover m-popover--top -active" aria-label="Popover Title" role="dialog">
        <header class="m-popover__header">
          <h2 class="m-popover__title">Popover Title</h2>
        </header>
        <div class="m-popover__content">
          <p class="m-popover__text">Popover content</p>
        </div>
        <div class="m-popover__arrow"></div>
      </section>
#a-tabs--positioning-right.a-tabs-panel
  .example.-mb--3
    .-p--3
      section.m-popover.m-popover--right.-active(aria-label="Popover Title", aria-hidden="false", style="position: relative", role="dialog")
        header.m-popover__header
          h2.m-popover__title Popover Title
        .m-popover__content
          p.m-popover__text Popover content
        .m-popover__arrow
    :code(lang="html")
      <section class="m-popover m-popover--right -active" aria-label="Popover Title" role="dialog">
        <header class="m-popover__header">
          <h2 class="m-popover__title">Popover Title</h2>
        </header>
        <div class="m-popover__content">
          <p class="m-popover__text">Popover content</p>
        </div>
        <div class="m-popover__arrow"></div>
      </section>
#a-tabs--positioning-bottom.a-tabs-panel
  .example.-mb--3
    .-p--3
      section.m-popover.m-popover--bottom.-active(aria-label="Popover Title", aria-hidden="false", style="position: relative", role="dialog")
        header.m-popover__header
          h2.m-popover__title Popover Title
        .m-popover__content
          p.m-popover__text Popover content
        .m-popover__arrow
    :code(lang="html")
      <section class="m-popover m-popover--bottom -active" aria-label="Popover Title" role="dialog">
        <header class="m-popover__header">
          <h2 class="m-popover__title">Popover Title</h2>
        </header>
        <div class="m-popover__content">
          <p class="m-popover__text">Popover content</p>
        </div>
        <div class="m-popover__arrow"></div>
      </section>
#a-tabs--positioning-left.a-tabs-panel
  .example.-mb--3
    .-p--3
      section.m-popover.m-popover--left.-active(aria-label="Popover Title", aria-hidden="false", style="position: relative", role="dialog")
        header.m-popover__header
          h2.m-popover__title Popover Title
        .m-popover__content
          p.m-popover__text Popover content
        .m-popover__arrow
    :code(lang="html")
      <section class="m-popover m-popover--left -active" aria-label="Popover Title" role="dialog">
        <header class="m-popover__header">
          <h2 class="m-popover__title">Popover Title</h2>
        </header>
        <div class="m-popover__content">
          <p class="m-popover__text">Popover content</p>
        </div>
        <div class="m-popover__arrow"></div>
      </section>

h3 Popover with custom content
.-text.-mb--3
  | Popover can be used to display any kind of custom content (even other components)
.example.-mb--3
  .-p--3
    section.m-popover.m-popover--top.-active(aria-label="Popover Title", aria-hidden="false", style="position: relative", role="dialog")
      header.m-popover__header
        h2.m-popover__title Current progress (75%)
      .m-popover__content
        progress.-success(value='75', max='100', role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
      .m-popover__arrow
  :code(lang="html")
    <section class="m-popover m-popover--top -active" aria-label="Popover Title" aria-hidden="false" style="position: relative;" role="dialog">
      <header class="m-popover__header">
        <h2 class="m-popover__title">Current progress (75%)</h2>
      </header>
      <div class="m-popover__content">
        <progress class="-success" value="75" max="100" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></progress>
      </div>
      <div class="m-popover__arrow"></div>
    </section>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function () {
      chi.tab(document.getElementById('a-tabs--positioning'));
    }
  );
