---
title: Progress
---

p.-text Use progress to display the status of a task or process.

h2 Examples
p.-text
  | To render a progress element, use the <code>progress</code> HTML5 tag.
  | Set the value attribute to the amount of work complete. The default color is green.

h3 Base
.example.-mb--3
  .-p--3
    label.a-label(for='progress-1') 0%
    progress(id='progress-1', class='-mb--1', value='0', max='100')
    label.a-label(for='progress-2') 50%
    progress(id='progress-2', class='-mb--1', value='50', max='100')
    label.a-label(for='progress-3') 100%
    progress(id='progress-3', class='-mb--1', value='100', max='100')
  :code(lang="html")
    <!-- 0% -->
    <label class="a-label" for="progress-1">0%</label>
    <progress id="progress-1" value="0" max="100" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></progress>
    <!-- 50% -->
    <label class="a-label" for="progress-2">50%</label>
    <progress id="progress-2" value="50" max="100" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></progress>
    <!-- 100% -->
    <label class="a-label" for="progress-3">100%</label>
    <progress id="progress-3" value="100" max="100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></progress>

h3 States
p.-text
  | To indicate a progress state, use the class <code>-info</code>, <code>-warning</code>, <code>-danger</code>, or <code>-success</code>.
.example.-mb--3
  .-p--3
    label.a-label(for='progress-4') Danger
    progress.-danger(id='progress-4', class='-mb--1', value='75', max='100')
    label.a-label(for='progress-5') Info
    progress.-info(id='progress-5', class='-mb--1', value='75', max='100')
    label.a-label(for='progress-6') Warning
    progress.-warning(id='progress-6', class='-mb--1', value='75', max='100')
    label.a-label(for='progress-7') Success
    progress.-success(id='progress-7', class='-mb--1', value='75', max='100')
  :code(lang="html")
    <!-- Danger -->
    <label class="a-label" for="progress-4">Danger</label>
    <progress id="progress-4" class="-danger" value="75" max="100" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></progress>
    <!-- Info -->
    <label class="a-label" for="progress-5">Info</label>
    <progress id="progress-5" class="-info" value="75" max="100" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></progress>
    <!-- Warning -->
    <label class="a-label" for="progress-6">Warning</label>
    <progress id="progress-6" class="-warning" value="75" max="100" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></progress>
    <!-- Success -->
    <label class="a-label" for="progress-7">Success</label>
    <progress id="progress-7" class="-success" value="75" max="100" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></progress>
