---
title: Steps
---

p.-text Steps are a navigation component that helps the user to know the steps of a process.

h3 Examples

p.-text
  | To display steps, apply the class <code>a-steps</code> to a unordered list <code>ul</code>
  | and indicate the active link with the class <code>-active</code> in the corresponding li tag.

h4 Base
.example.-mb--3
  .-p--3
    ul.a-steps
      li
        a(href='#') Step 1
      li
        a(href='#') Step 2
      li.-active
        a(href='#') Step 3
      li
        a(href='#') Step 4
      li
        a(href='#') Step 5
  :code(lang="html")
    <ul class="a-steps">
      <li>
        <a href="#">Step 1</a>
      </li>
      <li>
        <a href="#">Step 2</a>
      </li>
      <li class="-active">
        <a href="#">Step 3</a>
      </li>
      <li>
        <a href="#">Step 4</a>
      </li>
      <li>
        <a href="#">Step 5</a>
      </li>
    </ul>
