---
title: Tooltip
---

p.-text
  | Tooltips provide text labels that display when users hover or focus on an element.

h3 Base
p.-text
  | To render a tooltip, apply the <code>data-tooltip</code> attribute to an element
.example.-mb--3
  .-p--3.-d--flex
    button(data-tooltip='Your tooltip text on a button').a-btn.-mr--2 Tooltip
  :code(lang='html')
    <button class="a-btn" data-tooltip="Your tooltip text on a button">Tooltip</button>

h3 Positioning
p.-text
  | By default, tooltip's position on top of an element. To alter position, use
  | the <code>data-position</code> attribute. Valid values are <code>top</code>,
  | <code>right</code>, <code>bottom</code>, <code>left</code>.
.example.-mb--3
  .-p--3.-d--flex
    button(data-tooltip='Your top tooltip text').a-btn.-mr--2 Top Tooltip
    button(data-tooltip='Your right tooltip text', data-position='right').a-btn.-mr--2 Right Tooltip
    button(data-tooltip='Your bottom tooltip text', data-position='bottom').a-btn.-mr--2 Bottom Tooltip
    button(data-tooltip='Your left tooltip text', data-position='left').a-btn.-mr--2 Left Tooltip
  :code(lang='html')
    <button class="a-btn" data-tooltip="Your top tooltip text">Top Tooltip</button>
    <button class="a-btn" data-tooltip="Your right tooltip text" data-position="right">Right Tooltip</button>
    <button class="a-btn" data-tooltip="Your bottom tooltip text" data-position="bottom">Bottom Tooltip</button>
    <button class="a-btn" data-tooltip="Yourleft tooltip text" data-position="left">Left Tooltip</button>