h2 Examples

- var day = 1;
- var weekS = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
- var weekS = ['S', 'M', 'T', 'W', 'T', 'F', 'S'];
- var today = 19;
- var active = 23;

h3 Base
p.-text
.example.-mb--3
  .-p--3
    div(style="max-width: 14rem;")
      chi-label(for='date')
        | Date
      chi-date-picker(id="date")
  .example-tabs.-pl--2
    ul.chi-tabs#example-with-label
      li.-active
        a(href=`#webcomponent-with-label`) Web Component
      li
        a(href=`#html-with-label`) HTML Blueprint
  #webcomponent-with-label.chi-tabs-panel.-active
    :code(lang="html",style="height:20rem")
      <chi-label for="date">Date</chi-label>
      <chi-date-picker id="date"></chi-date-picker>
  #html-with-label.chi-tabs-panel
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="datepicker-1">Date</label>
        <div class="chi-input__wrapper -icon--right">
          <input id="datepicker-1" type="text" class="chi-input" placeholder="MM/DD/YYYY">
          <i class="chi-icon icon-date -icon--muted"></i>
        </div>
      </div>

      <script>chi.datePicker(document.getElementById('datepicker-1'));</script>

h3 Disabled
.example.-mb--3(style="z-index: 1;")
  .-p--3
    div(style="max-width: 14rem;")
      chi-label(for='date-2')
        | Date
      chi-date-picker(id="date-2", disabled)
  .example-tabs.-pl--2
    ul.chi-tabs#example-disabled
      li.-active
        a(href=`#webcomponent-disabled`) Web Component
      li
        a(href=`#html-disabled`) HTML Blueprint
  #webcomponent-disabled.chi-tabs-panel.-active
    :code(lang="html")
      <chi-label for="date-2">Date</chi-label>
      <chi-date-picker id="date-2" disabled></chi-date-picker>
  #html-disabled.chi-tabs-panel
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="datepicker-2">Date</label>
        <div class="chi-input__wrapper -disabled -icon--right">
          <input id="datepicker-2" type="text" class="chi-input" placeholder="MM/DD/YYYY" disabled>
          <i class="chi-icon icon-date -icon--muted"></i>
        </div>
      </div>

      <script>chi.datePicker(document.getElementById('datepicker-2'));</script>

h3 Value, min and max options
.example.-mb--3
  .-p--3
    div(style="max-width: 14rem;")
      chi-label(for='date-3') Date
      chi-date-picker(id="date-3", value="01/24/2019", min="01/14/2019", max="02/07/2019")
  .example-tabs.-pl--2
    ul.chi-tabs#example-min-max-value
      li.-active
        a(href=`#webcomponent-min-max-value`) Web Component
      li
        a(href=`#html-min-max-value`) HTML Blueprint
  #webcomponent-min-max-value.chi-tabs-panel.-active
    :code(lang="html")
      <chi-label for="date-3">Date</chi-label>
      <chi-date-picker id="date-3" value="01/24/2019" min="01/14/2019" max="02/07/2019">
  #html-min-max-value.chi-tabs-panel
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <div class="chi-form__item">
        <label class="chi-label" for="datepicker-3">Date</label>
        <div class="chi-input__wrapper -icon--right">
          <input id="datepicker-3" type="text" class="chi-input" value="01/24/2019" min="01/14/2019" max="02/07/2019" placeholder="MM/DD/YYYY">
          <i class="chi-icon icon-date -icon--muted"></i>
        </div>
      </div>

      <script>chi.datePicker(document.getElementById('datepicker-3'));</script>

      <!-- Or configure programmatically -->
      <script>
        chi.datePicker(
          document.getElementById('datepicker-3'),
          {
            date: '01/24/2019',
            min: '01/24/2019'
          }
      );
      </script>

h3 Excluded week days
p.-text Specify which week days to disable by using <code>excluded-weekdays="0, 6"</code> attribute
.example.-mb--3
  .-p--3
    div(style="max-width: 14rem;")
      chi-label(for='date-excluded-weekdays') Date
      chi-date-picker(id="date-excluded-weekdays", excluded-weekdays="0, 6")
  .example-tabs.-pl--2
    ul.chi-tabs#example-excluded-weekdays
      li.-active
        a(href=`#webcomponent-excluded-weekdays`) Web Component
      li.-disabled
        a(href=`#html-excluded-weekdays`) HTML Blueprint
  #webcomponent-excluded-weekdays.chi-tabs-panel.-active
    :code(lang="html",style="height:20rem")
      <chi-label for="date-excluded-weekdays">Date</chi-label>
      <chi-date-picker id="date-excluded-weekdays" excluded-weekdays="0, 6"></chi-date-picker>
  #html-excluded-weekdays.chi-tabs-panel

h3 Excluded dates
p.-text
  | Specify which dates to disable by using <code>excluded-dates="02/24/2020, 05/25/2020"</code> attribute
  br
  | Separate dates with a comma
.example.-mb--3
  .-p--3
    div(style="max-width: 14rem;")
      chi-label(for='date-excluded-dates') Date
      chi-date-picker(id="date-excluded-dates", excluded-dates="02/24/2020, 05/25/2020, 07/03/2020, 09/12/2020, 12/12/2020")
  .example-tabs.-pl--2
    ul.chi-tabs#example-excluded-dates
      li.-active
        a(href=`#webcomponent-excluded-dates`) Web Component
      li.-disabled
        a(href=`#html-excluded-dates`) HTML Blueprint
  #webcomponent-excluded-dates.chi-tabs-panel.-active
    :code(lang="html",style="height:20rem")
      <chi-label for="date-excluded-dates">Date</chi-label>
      <chi-date-picker id="date-excluded-dates" excluded-dates="02/24/2020, 05/25/2020, 07/03/2020, 09/12/2020, 12/12/2020"></chi-date-picker>
  #html-excluded-dates.chi-tabs-panel

h3 Excluded dates and week days
p.-text
  | Disable dates - <code>excluded-dates="02/24/2020, 05/25/2020"</code>
  br
  | Disable days - <code>excluded-weekdays="0, 6"</code>
.example.-mb--3
  .-p--3
    div(style="max-width: 14rem;")
      chi-label(for='date-excluded-days-dates') Date
      chi-date-picker(id="date-excluded-days-dates", excluded-dates="02/24/2020, 05/25/2020, 07/03/2020, 09/12/2020, 12/12/2020", excluded-weekdays="0, 6")
  .example-tabs.-pl--2
    ul.chi-tabs#example-excluded-days-dates
      li.-active
        a(href=`#webcomponent-excluded-days-dates`) Web Component
      li.-disabled
        a(href=`#html-excluded-days-dates`) HTML Blueprint
  #webcomponent-excluded-days-dates.chi-tabs-panel.-active
    :code(lang="html",style="height:20rem")
      <chi-label for="date-excluded-days-dates">Date</chi-label>
      <chi-date-picker id="date-excluded-days-dates" excluded-weekdays="0, 6" excluded-dates="01/24/2020, 05/25/2020, 07/03/2020, 09/12/2020, 12/12/2020"></chi-date-picker>
  #html-excluded-days-dates.chi-tabs-panel

h3 Calendar
p.-text
  | An example of a date picker calendar not attached to any element.

- day = 1;

h4 Base
.example.-mb--3
  .-p--3
    chi-date
  .example-tabs.-pl--2
    ul.chi-tabs#example-default
      li.-active
        a(href=`#webcomponent`) Web Component
      li
        a(href=`#html`) HTML Blueprint
  #webcomponent.chi-tabs-panel.-active
    :code(lang="html")
      <chi-date></chi-date>
  #html.chi-tabs-panel
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
      br
      br
      | Use the classes <code>-month-starts-on-sun</code>,
      | <code>-month-starts-on-mon</code>, <code>-month-starts-on-tue</code>, <code>-month-starts-on-wed</code>,
      | <code>-month-starts-on-thu</code>, <code>-month-starts-on-fri</code> and <code>-month-starts-on-sat</code> to
      | locate the first day in the correct cell.
      br
      | Use the classes <code>-week-starts-on-sun</code> or <code>-week-starts-on-mon</code> to fit the week definition
      | of the desired locale.
      br
      | Use the class <code>-today</code> for the current date
    :code(lang="html")
      <div class="chi-datepicker -week-starts-on-sun -month-starts-on-wed">
        <div class="chi-datepicker__month-row">
          <div class="prev">
            <i class="chi-icon icon-chevron-left -sm"></i>
          </div>
          <div class="chi-datepicker__month">
            November 2018
          </div>
          <div class="next">
            <i class="chi-icon icon-chevron-right -sm"></i>
          </div>
        </div>
        <div class="chi-datepicker__day-names">
          <div class="chi-datepicker__week-day">
            S
          </div>
          <div class="chi-datepicker__week-day">
            M
          </div>
          <div class="chi-datepicker__week-day">
            T
          </div>
          <div class="chi-datepicker__week-day">
            W
          </div>
          <div class="chi-datepicker__week-day">
            T
          </div>
          <div class="chi-datepicker__week-day">
            F
          </div>
          <div class="chi-datepicker__week-day">
            S
          </div>
        </div>
        <div class="chi-datepicker__days">
          <div class="chi-datepicker__day">1</div>
          <div class="chi-datepicker__day">2</div>
          <div class="chi-datepicker__day">3</div>
          <div class="chi-datepicker__day">4</div>
          <div class="chi-datepicker__day">5</div>
          <div class="chi-datepicker__day">6</div>
          <div class="chi-datepicker__day">7</div>
          <div class="chi-datepicker__day">8</div>
          <div class="chi-datepicker__day">9</div>
          <div class="chi-datepicker__day">10</div>
          <div class="chi-datepicker__day">11</div>
          <div class="chi-datepicker__day">12</div>
          <div class="chi-datepicker__day">13</div>
          <div class="chi-datepicker__day">14</div>
          <div class="chi-datepicker__day">15</div>
          <div class="chi-datepicker__day">16</div>
          <div class="chi-datepicker__day">17</div>
          <div class="chi-datepicker__day">18</div>
          <div class="chi-datepicker__day">19</div>
          <div class="chi-datepicker__day">20</div>
          <div class="chi-datepicker__day">21</div>
          <div class="chi-datepicker__day">22</div>
          <div class="chi-datepicker__day">23</div>
          <div class="chi-datepicker__day">24</div>
          <div class="chi-datepicker__day">25</div>
          <div class="chi-datepicker__day">26</div>
          <div class="chi-datepicker__day">27</div>
          <div class="chi-datepicker__day">28</div>
          <div class="chi-datepicker__day">29</div>
          <div class="chi-datepicker__day">30</div>
        </div>
      </div>
h4 Active
.example.-mb--3
  .-p--3
    chi-date(value="05/15/2019")
  .example-tabs.-pl--2
    ul.chi-tabs#example-active
      li.-active
        a(href=`#webcomponent-active`) Web Component
      li
        a(href=`#html-active`) HTML Blueprint
  #webcomponent-active.chi-tabs-panel.-active
    :code(lang="html")
      <chi-date value="05/15/2019"></chi-date>
  #html-active.chi-tabs-panel
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
      br
      br
      | Use class <code>-active</code> for the selected date
    :code(lang="html")
      <div class="chi-datepicker -week-starts-on-sun -month-starts-on-wed">
        <div class="chi-datepicker__month-row">
          <div class="prev"><i class="chi-icon icon-chevron-left -sm"></i></div>
          <div class="chi-datepicker__month">May 2019</div>
          <div class="next"><i class="chi-icon icon-chevron-right -sm"></i></div>
        </div>
        <div class="chi-datepicker__day-names">
          <div class="chi-datepicker__week-day">S</div>
          <div class="chi-datepicker__week-day">M</div>
          <div class="chi-datepicker__week-day">T</div>
          <div class="chi-datepicker__week-day">W</div>
          <div class="chi-datepicker__week-day">T</div>
          <div class="chi-datepicker__week-day">F</div>
          <div class="chi-datepicker__week-day">S</div>
        </div>
        <div class="chi-datepicker__days">
          <div class="chi-datepicker__day">1</div>
          <div class="chi-datepicker__day">2</div>
          <div class="chi-datepicker__day">3</div>
          <div class="chi-datepicker__day">4</div>
          <div class="chi-datepicker__day">5</div>
          <div class="chi-datepicker__day">6</div>
          <div class="chi-datepicker__day">7</div>
          <div class="chi-datepicker__day">8</div>
          <div class="chi-datepicker__day">9</div>
          <div class="chi-datepicker__day">10</div>
          <div class="chi-datepicker__day">11</div>
          <div class="chi-datepicker__day">12</div>
          <div class="chi-datepicker__day">13</div>
          <div class="chi-datepicker__day">14</div>
          <div class="chi-datepicker__day -active">15</div>
          <div class="chi-datepicker__day">16</div>
          <div class="chi-datepicker__day">17</div>
          <div class="chi-datepicker__day">18</div>
          <div class="chi-datepicker__day">19</div>
          <div class="chi-datepicker__day">20</div>
          <div class="chi-datepicker__day">21</div>
          <div class="chi-datepicker__day">22</div>
          <div class="chi-datepicker__day">23</div>
          <div class="chi-datepicker__day">24</div>
          <div class="chi-datepicker__day">25</div>
          <div class="chi-datepicker__day">26</div>
          <div class="chi-datepicker__day">27</div>
          <div class="chi-datepicker__day">28</div>
          <div class="chi-datepicker__day">29</div>
          <div class="chi-datepicker__day">30</div>
          <div class="chi-datepicker__day">31</div>
        </div>
      </div>
h4 Min and Max
.example.-mb--3
  .-p--3
    chi-date(min="06/06/2019", max="06/22/2019")
  .example-tabs.-pl--2
    ul.chi-tabs#example-min-max
      li.-active
        a(href=`#webcomponent-min-max`) Web Component
      li
        a(href=`#html-min-max`) HTML Blueprint
  #webcomponent-min-max.chi-tabs-panel.-active
    :code(lang="html")
      <chi-date min="06/06/2019" max="06/22/2019"></chi-date>
  #html-min-max.chi-tabs-panel
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
      br
      br
      | Use class <code>-inactive</code> for deactivated dates.
    :code(lang="html")
      <div class="chi-datepicker -week-starts-on-sun -month-starts-on-sat">
        <div class="chi-datepicker__month-row">
          <div class="prev -disabled"><i class="chi-icon icon-chevron-left -sm"></i></div>
          <div class="chi-datepicker__month">June 2019</div>
          <div class="next -disabled"><i class="chi-icon icon-chevron-right -sm"></i></div>
        </div>
        <div class="chi-datepicker__day-names">
          <div class="chi-datepicker__week-day">S</div>
          <div class="chi-datepicker__week-day">M</div>
          <div class="chi-datepicker__week-day">T</div>
          <div class="chi-datepicker__week-day">W</div>
          <div class="chi-datepicker__week-day">T</div>
          <div class="chi-datepicker__week-day">F</div>
          <div class="chi-datepicker__week-day">S</div>
        </div>
        <div class="chi-datepicker__days">
          <div class="chi-datepicker__day -inactive">1</div>
          <div class="chi-datepicker__day -inactive">2</div>
          <div class="chi-datepicker__day -inactive">3</div>
          <div class="chi-datepicker__day -inactive">4</div>
          <div class="chi-datepicker__day -inactive">5</div>
          <div class="chi-datepicker__day">6</div>
          <div class="chi-datepicker__day">7</div>
          <div class="chi-datepicker__day">8</div>
          <div class="chi-datepicker__day">9</div>
          <div class="chi-datepicker__day">10</div>
          <div class="chi-datepicker__day">11</div>
          <div class="chi-datepicker__day">12</div>
          <div class="chi-datepicker__day">13</div>
          <div class="chi-datepicker__day">14</div>
          <div class="chi-datepicker__day">15</div>
          <div class="chi-datepicker__day">16</div>
          <div class="chi-datepicker__day">17</div>
          <div class="chi-datepicker__day">18</div>
          <div class="chi-datepicker__day">19</div>
          <div class="chi-datepicker__day">20</div>
          <div class="chi-datepicker__day">21</div>
          <div class="chi-datepicker__day">22</div>
          <div class="chi-datepicker__day -inactive">23</div>
          <div class="chi-datepicker__day -inactive">24</div>
          <div class="chi-datepicker__day -inactive">25</div>
          <div class="chi-datepicker__day -inactive">26</div>
          <div class="chi-datepicker__day -inactive">27</div>
          <div class="chi-datepicker__day -inactive">28</div>
          <div class="chi-datepicker__day -inactive">29</div>
          <div class="chi-datepicker__day -inactive">30</div>
        </div>
      </div>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function () {
      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));
    }
  );
