---
title: Date picker
description: Date pickers are used for inputting dates from the user. It might be toggled when the user focuses an input of type date in a form.
tabs: {"Examples" : "examplestab", "Properties" : "propertiestab", "Accessibility" : "accessibilitytab"}
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-chi-ce/ux-chi-ce.js')

.a-tabs-panel.-active#examplestab
  include _examples

.a-tabs-panel#propertiestab
  include _properties

.a-tabs-panel#accessibilitytab
  include _accessibility