@import '_variables';
@import '_mixins';

.chi-dropdown {
  display: inline-block;
  position: relative;

  .chi-dropdown__menu {
    left: 0;
    min-width: 100%;
    position: absolute;
    z-index: $zindex-dropdown;

    .chi-dropdown__menu {
      border: 0 solid transparent;
      box-shadow: none;
      padding-bottom: 0;
      padding-top: 0;
      position: initial;

      .chi-dropdown__menu {
        &-item {
          padding-left: 2.5rem;
        }

        .chi-dropdown__menu {
          &-item {
            padding-left: 4.5rem;
          }

          .chi-dropdown__menu {
            &-item {
              padding-left: 6.5rem;
            }
          }
        }
      }
    }
  }

  &__trigger {

    &:not([data-position^='left']) {

      &::after {
        content: '\e91e';
        display: block;
        font-family: 'chi';
        font-size: 0.75rem;
        font-weight: normal;
        height: 1rem;
        line-height: 1.2rem;
        margin-left: 0.5rem;
        width: 0.75rem;
      }

      &.-lg::after,
      &.-large::after {//Legacy code: -large to be removed.
        height: 1.5rem;
        line-height: 1.7rem;
        margin-left: 1rem;
      }

      &.-sm::after,
      &.-small::after { //Legacy code: -small to be removed.
        font-size: 0.5rem;
        height: 1rem;
        margin-left: 0.5rem;
      }

      &[data-position^='top']::after {
        transform: rotate(-180deg);
      }

      &[data-position^='right']::after {
        transform: rotate(-90deg);
      }

      &.-animate {
        &::after {
          transition: transform 0.2s ease-in-out;
        }

        &.-active {
          &::after {
            transform: rotate(180deg);
          }

          &[data-position^='right']::after {
            transform: rotate(90deg);
          }

          &[data-position^='top']::after {
            transform: rotate(0deg);
          }
        }
      }
    }

    &[data-position^='left'] {

      &::before {
        content: '\e91e';
        display: block;
        font-family: 'chi';
        font-size: 0.75rem;
        font-weight: normal;
        height: 1rem;
        line-height: 1.2rem;
        margin-right: 0.5rem;
        transform: rotate(90deg);
        width: 0.75rem;
      }

      &.-lg::before,
      &.-large::before { //Legacy code: -large to be removed.
        height: 1.5rem;
        line-height: 1.7rem;
        margin-right: 1rem;
      }

      &.-sm::before,
      &.-small::before { //Legacy code: -small to be removed.
        font-size: 0.5rem;
        height: 1rem;
        margin-right: 0.5rem;
      }

      &.-animate {
        &::before {
          transition: transform 0.2s ease-in-out;
        }

        &.-active::before {
          transform: rotate(270deg);
        }
      }
    }

    &[data-position='bottom-end'] ~ .chi-dropdown__menu {
      left: initial;
      right: 0;
    }
  }

  &__menu {
    background-color: set-color(white);
    border: 0.0625rem solid set-color(grey, 30);
    box-shadow: 0 1px 4px 0 rgba(set-color(black), 0.1);
    display: none;
    font-size: $text;
    margin: 0;
    padding: 0.5rem 0;

    &.-active {
      display: block;
    }

    &-item {
      align-items: center;
      display: flex;
      height: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      white-space: nowrap;

      & > .chi-checkbox {
        align-items: center;
        display: flex;
      }

      &.-h--auto {
        height: auto;
        white-space: normal;
      }

      .-flex--ellipsis {
        display: block;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .chi-icon {
        margin-right: 1rem;
      }

      &:not(.-active) {
        .chi-icon {
          color: set-color(grey, 50);
        }
      }

      &.-active {
        background: url('icon-check-alt.svg') no-repeat right 1rem center;
        background-size: 1rem 1rem;
        color: $brand-color;
        font-weight: 600;
        padding-right: 3rem;
      }

      &.-hasActive {
        color: $brand-color;
      }

      &.-disabled {
        color: set-color(grey, 70);
        opacity: 0.6;
        pointer-events: none;

        .chi-icon {
          color: set-color(grey, 70);
          opacity: 0.6;
        }
      }
    }

    & > .a-inputWrapper,
    & > .m-input__wrapper {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      padding-left: 0;
      padding-right: 0;

      &:not(:first-child) {
        margin-top: 0.5rem;
      }

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    label {
      &.-text {
        align-items: center;
        display: flex;
        font-weight: normal;
        margin-bottom: 0;
      }
    }

    input {
      &[type='checkbox'],
      &[type='radio'] {
        &.chi-input + label {
          margin-bottom: 0;
          margin-right: 0;

          &::before {
            margin-right: 1rem;
          }
        }
      }
    }

    .chi-checkbox {
      input {
        &[type='checkbox'] {
          &.chi-checkbox__input {
            & + label {
              &.chi-checkbox__label {
                padding-left: 2rem;

                &::before {
                  margin-right: 1rem;
                }
              }
            }
          }
        }
      }
    }

    .chi-radio {
      input {
        &[type='radio'] {
          &.chi-radio__input {
            & + label {
              &.chi-radio__label {
                padding-left: 2rem;
              }
            }
          }
        }
      }
    }
  }
}

.chi-dropdown__hover:hover,
.chi-dropdown__hover.-hover, // sass-lint:disable-line force-element-nesting
.chi-dropdown__hover:active {

  .chi-dropdown__trigger {
    &:not([data-position^='left']) {
      &.-animate {
        &::after {
          transform: rotate(180deg);
        }

        &[data-position^='right']::after {
          transform: rotate(90deg);
        }

        &[data-position^='top']::after {
          transform: rotate(0deg);
        }
      }
    }

    &[data-position^='left'] {
      &.-animate {
        &::before {
          transform: rotate(270deg);
        }
      }
    }
  }

  .chi-dropdown__menu {
    display: block;
  }
}

legend {
  &.chi-dropdown__menu-item {
    font-weight: 600;
  }
}

a {
  &.chi-dropdown__menu-item {
    color: inherit;

    &:hover {
      text-decoration: none;
    }

    &:hover:not(.-disabled):not(.-active),
    &.-hover:not(.-disabled):not(.-active),
    &:focus:not(.-disabled):not(.-active),
    &.focus:not(.-disabled):not(.-active) {
      background-color: set-color(blue, 20);
    }
  }
}
