chi-textarea {
  .chi-composer-input {
    &.-agentic {
      border-width: $textarea-composer-border-width;
      border-radius: $textarea-composer-border-radius;
      background: linear-gradient($textarea-composer-background-color,
          $textarea-composer-background-color ) padding-box,
        linear-gradient(to right,
          $textarea-composer-border-color-start,
          $textarea-composer-border-color-mid,
          $textarea-composer-border-color-start ) border-box;
      border-color: transparent;
      box-shadow: $textarea-composer-box-shadow;

      &:hover,
      &:focus-within {
        border-color: transparent;
      }

      &:focus-within {
        box-shadow: $textarea-composer-focus-box-shadow;
      }

      .chi-composer-input__content {
        textarea {
          background: transparent;

          &:focus {
            border-color: transparent;
            box-shadow: none;
          }
        }
      }
    }
  }
}
