@import '_global-variables';
@import '_global-mixins';

.chi-save-views {
  .chi-modal {
    .chi-modal__content {
      .chi-form__item:has(chi-text-input),
      chi-form-wrapper[type='radio'],
      chi-alert {
        margin-bottom: $save-views-modal-form-item-margin-bottom;
      }
    }
  }
}
