@import '_global-variables';
@import '_global-mixins';

.chi-save-views {
  .chi-modal {
    overflow: initial;

    .chi-modal__content {
      .chi-form__item:has(chi-text-input) {
        margin-bottom: $save-views-modal-form-item-margin-bottom;
      }
    }
  }
}
