h2 Examples
p.-text
  | A dropdown must be associated to an activator, commonly a button, which, at the time of being clicked, expands
  | the dropdown. Activator and dropdown should be contained in a div with a <code>chi-dropdown</code> class, or otherwise, the
  | activator must reference the dropdown with a <code>data-target</code> attribute.
p.-text
  | Use the <code>chi-dropdown__trigger</code> class on your activator button to make the chevron appear.
h3 Example 1
p.-text
  | Trigger and dropdown enclosed in the same div.
.example.-mb--3
  .-p--3
    .chi-dropdown
      button.chi-btn.chi-dropdown__trigger#dropdown-1 Dropdown, click me
      .chi-dropdown__menu
        a.chi-dropdown__menu-item(href='#') Element 1
        a.chi-dropdown__menu-item(href='#') Element 2
        a.chi-dropdown__menu-item(href='#') Element 3
        a.chi-dropdown__menu-item(href='#') Element 4
  :code(lang="html")
    <div class="chi-dropdown">
      <button id="dropdown-1" class="chi-btn chi-dropdown__trigger">Dropdown component</button>
      <div class="chi-dropdown__menu">
        <a class="chi-dropdown__menu-item" href="#">Element 1</a>
        <a class="chi-dropdown__menu-item" href="#">Element 2</a>
        <a class="chi-dropdown__menu-item" href="#">Element 3</a>
      </div>
    </div>

    <script>chi.dropdown(document.getElementById('dropdown-1'));</script>

h3 Example 2
p.-text
  | Dropdown referenced by a <code>data-target</code> attribute in the activator.

.example.-mb--3
  .-p--3
    .chi-dropdown
      button.chi-btn.chi-dropdown__trigger#dropdown-2(data-target="#dropdown-2-menu") Dropdown component
      p.-text There is no need for proximity between elements.
      #dropdown-2-menu.chi-dropdown__menu
        a.chi-dropdown__menu-item(href='#') Element 1
        a.chi-dropdown__menu-item(href='#') Element 2
        a.chi-dropdown__menu-item(href='#') Element 3
        a.chi-dropdown__menu-item(href='#') Element 4
  :code(lang="html")
    <div class="chi-dropdown">
      <button id="dropdown-2" class="chi-btn chi-dropdown__trigger" data-target="#dropdown-2-menu">Dropdown component</button>
      <p class="-text">There is no need for proximity between elements.</p>
      <div class="chi-dropdown__menu" id="dropdown-2-menu">
        <a class="chi-dropdown__menu-item" href="#">Element 1</a>
        <a class="chi-dropdown__menu-item" href="#">Element 2</a>
        <a class="chi-dropdown__menu-item" href="#">Element 3</a>
        <a class="chi-dropdown__menu-item" href="#">Element 4</a>
      </div>
    </div>

    <script>chi.dropdown(document.getElementById('dropdown-2'));</script>

h3 Example 3
p.-text
  | Dropdown on hover is only supported when trigger and dropdown elements are enclosed in the same div. Use the
  | <code>chi-dropdown__hover</code> class to achieve this.
.example.-mb--3
  .-p--3
    .chi-dropdown.chi-dropdown__hover(style='margin-bottom: 7rem')
      button.chi-btn.chi-dropdown__trigger Dropdown component
      .chi-dropdown__menu
        a.chi-dropdown__menu-item(href='#') Element 1
        a.chi-dropdown__menu-item(href='#') Element 2
        a.chi-dropdown__menu-item(href='#') Element 3
  :code(lang="html")
    <div class="chi-dropdown chi-dropdown__hover">
      <button class="chi-btn chi-dropdown__trigger">Dropdown component</button>
      <div class="chi-dropdown__menu">
        <a class="chi-dropdown__menu-item" href="#">Element 1</a>
        <a class="chi-dropdown__menu-item" href="#">Element 2</a>
        <a class="chi-dropdown__menu-item" href="#">Element 3</a>
      </div>
    </div>

h2 Divider
p.-text
  | Several menu items can be arranged together by using a divider. Use the <code>chi-divider</code> component.
h3 Example
.example.-mb--3
  .-p--3
    .chi-col.-w--7.-w-sm--4.-w-md--5.-w-lg--3
      .chi-dropdown__menu.-active
        a.chi-dropdown__menu-item(href='#') Element 1
        a.chi-dropdown__menu-item(href='#') Element 2
        a.chi-dropdown__menu-item(href='#') Element 3
        .chi-divider
        a.chi-dropdown__menu-item(href='#') Element 4
  :code(lang="html")
    <div class="chi-dropdown__menu">
      <a class="chi-dropdown__menu-item" href="#">Element 1</a>
      <a class="chi-dropdown__menu-item" href="#">Element 2</a>
      <a class="chi-dropdown__menu-item" href="#">Element 3</a>
      <div class="chi-divider"></div>
      <a class="chi-dropdown__menu-item" href="#">Element 4</a>
    </div>

h2 Menu item states
p.-text
  | Each menu item can be in one of four item states <code>normal</code>, <code>active</code>, <code>disabled</code> and
  | <code>hover</code>.

h3 Example
.example.-mb--3
  .-p--3
    .chi-col.-w--12.-w-sm--7.-w-md--8.-w-lg--6.-w-xl--4
      .chi-dropdown__menu.-active
        a.chi-dropdown__menu-item(href='#') Normal element
        a.chi-dropdown__menu-item.-active(href='#') Active element
        a.chi-dropdown__menu-item.-disabled(href='#') Disabled element
        a.chi-dropdown__menu-item.-hover(href='#') Hovered item
  :code(lang="html")
    <div class="chi-dropdown__menu">
      <a class="chi-dropdown__menu-item" href="#">Normal element</a>
      <a class="chi-dropdown__menu-item -active" href="#">Active element</a>
      <a class="chi-dropdown__menu-item -disabled" href="#">Disabled element</a>
      <a class="chi-dropdown__menu-item -hover" href="#">Hovered item</a>
    </div>

h2 Icons
p.-text
  | Dropdown component has been developed to support Chi icons in the menu items.

h3 Example
.example.-mb--3
  .-p--3
    .chi-col.-w--7.-w-sm--4.-w-md--5.-w-lg--3
      .chi-dropdown__menu.-active
        a.chi-dropdown__menu-item(href='#')
          i.chi-icon.icon-file-outline
          = "New"
        a.chi-dropdown__menu-item.-disabled(href='http://www.centurylink.com')
          i.chi-icon.icon-arrow-to-bottom
          = "Save"
        .chi-divider
        a.chi-dropdown__menu-item(href='#')
          i.chi-icon.icon-mail
          = "Send"
        a.chi-dropdown__menu-item.-active(href='#')
          i.chi-icon.icon-cart
          = "Buy"
        a.chi-dropdown__menu-item(href='#')
          i.chi-icon.icon-users
          = "Share"
        .chi-divider
        a.chi-dropdown__menu-item(href='#')
          i.chi-icon.icon-logout
          = "Logout"
  :code(lang="html")
    <div class="chi-dropdown__menu">
      <a class="chi-dropdown__menu-item" href="#">
        <i class="chi-icon icon-file-outline"></i>New
      </a>
      <a class="chi-dropdown__menu-item -disabled" href="#">
        <i class="chi-icon icon-arrow-to-bottom"></i>Save
      </a>
      <div class="chi-divider"></div>
      <a class="chi-dropdown__menu-item" href="#">
        <i class="chi-icon icon-mail"></i>Send
      </a>
      <a class="chi-dropdown__menu-item -active" href="#">
        <i class="chi-icon icon-cart"></i>Buy
      </a>
      <a class="chi-dropdown__menu-item" href="#">
        <i class="chi-icon icon-users"></i>Share
      </a>
      <div class="chi-divider"></div>
      <a class="chi-dropdown__menu-item" href="#">
        <i class="chi-icon icon-logout"></i>Logout
      </a>
    </div>

h2 Form elements
p.-text
  | Several kinds of form items can be added inside the dropdown menu.

h3 Search box
p.-text
  | This search box is a special kind of text input prepared to be located on top of the menu-item. It has slightly
  | smaller padding at the sides.
.example.-mb--3
  .-p--3
    .chi-col.-w--7.-w-sm--4.-w-md--5.-w-lg--3
      .chi-dropdown__menu.-active
        .chi-input__wrapper.-icon--left.chi-dropdown__menu-item(role="search")
          input(type="text", class="chi-input", placeholder="Search", aria-label="Search")
          i.chi-icon.icon-search
        a.chi-dropdown__menu-item(href='#') Element 1
        a.chi-dropdown__menu-item(href='#') Element 2
        a.chi-dropdown__menu-item(href='#') Element 3
        a.chi-dropdown__menu-item(href='#') Element 4
  :code(lang="html")
    <div class="chi-dropdown__menu">
      <div class="chi-input__wrapper -icon--left chi-dropdown__menu-item" role="search">
        <input class="chi-input" type="text" placeholder="Search" aria-label="Search">
        <i class="chi-icon icon-search"></i>
      </div>
      <a class="chi-dropdown__menu-item" href="#">Element 1</a>
      <a class="chi-dropdown__menu-item" href="#">Element 2</a>
      <a class="chi-dropdown__menu-item" href="#">Element 3</a>
      <a class="chi-dropdown__menu-item" href="#">Element 4</a>
    </div>

h3 Checkboxes
p.-text
  | Two versions of checkboxes, with and without icon have been included in the library to be used as menu items.

h4 Base
.example.-mb--3
  .-p--3
    .chi-col.-w--7.-w-sm--4.-w-md--5.-w-lg--3
      .chi-dropdown__menu.-active
        .chi-dropdown__menu-item
          .chi-checkbox
            input(type="checkbox", class="chi-checkbox__input", id="checkbox1")
            label(for="checkbox1", class="chi-checkbox__label") Element 1
        .chi-dropdown__menu-item
          .chi-checkbox
            input(type="checkbox", class="chi-checkbox__input", id="checkbox2", disabled)
            label(for="checkbox2", class="chi-checkbox__label") Element 2
        .chi-dropdown__menu-item
          .chi-checkbox
            input(type="checkbox", class="chi-checkbox__input", id="checkbox3", checked)
            label(for="checkbox3", class="chi-checkbox__label") Element 3
        .chi-dropdown__menu-item
          .chi-checkbox
            input(type="checkbox", class="chi-checkbox__input", id="checkbox4")
            label(for="checkbox4", class="chi-checkbox__label") Element 4
  :code(lang="html")
    <div class="chi-dropdown__menu">
      <div class="chi-dropdown__menu-item">
        <div class="chi-checkbox">
          <input class="chi-checkbox__input" type="checkbox" id="checkbox1">
          <label class="chi-checkbox__label" for="checkbox1">Element 1</label>
        </div>
      </div>
      <div class="chi-dropdown__menu-item">
        <div class="chi-checkbox">
          <input class="chi-checkbox__input" type="checkbox" id="checkbox2" disabled>
          <label class="chi-checkbox__label" for="checkbox2">Element 2</label>
        </div>
      </div>
      <div class="chi-dropdown__menu-item">
        <div class="chi-checkbox">
          <input class="chi-checkbox__input" type="checkbox" id="checkbox3" checked>
          <label class="chi-checkbox__label" for="checkbox3">Element 3</label>
        </div>
      </div>
      <div class="chi-dropdown__menu-item">
        <div class="chi-checkbox">
          <input class="chi-checkbox__input" type="checkbox" id="checkbox4">
          <label class="chi-checkbox__label" for="checkbox4">Element 4</label>
        </div>
      </div>
    </div>

h4 With Icons
.example.-mb--3
  .-p--3
    .chi-col.-w--10.-w-sm--6.-w-md--7.-w-lg--5.-w-xl--3
      .chi-dropdown__menu.-active
        .chi-dropdown__menu-item
          .chi-checkbox
            input(type="checkbox", class="chi-checkbox__input", id="checkbox1b")
            label(for="checkbox1b", class="chi-checkbox__label")
              i.chi-icon.icon-logo-centurylink
              | Element 1
        .chi-dropdown__menu-item
          .chi-checkbox
            input(type="checkbox", class="chi-checkbox__input", id="checkbox2b", disabled)
            label(for="checkbox2b", class="chi-checkbox__label")
              i.chi-icon.icon-logo-centurylink
              | Element 2
        .chi-dropdown__menu-item
          .chi-checkbox
            input(type="checkbox", class="chi-checkbox__input", id="checkbox3b", checked)
            label(for="checkbox3b", class="chi-checkbox__label")
              i.chi-icon.icon-logo-centurylink
              | Element 3
        .chi-dropdown__menu-item
          .chi-checkbox
            input(type="checkbox", class="chi-checkbox__input", id="checkbox4b")
            label(for="checkbox4b", class="chi-checkbox__label")
              i.chi-icon.icon-logo-centurylink
              | Element 4
  :code(lang="html")
    <div class="chi-dropdown__menu">
      <div class="chi-dropdown__menu-item">
        <div class="chi-checkbox">
          <input class="chi-checkbox__input" type="checkbox" id="checkbox1">
          <label class="chi-checkbox__label" for="checkbox1">
            <i class="chi-icon icon-logo-centurylink"></i>
            Element 1
          </label>
        </div>
      </div>
      <div class="chi-dropdown__menu-item">
        <div class="chi-checkbox">
          <input class="chi-checkbox__input" type="checkbox" id="checkbox2" disabled>
          <label class="chi-checkbox__label" for="checkbox2">
            <i class="chi-icon icon-logo-centurylink"></i>
            Element 2
          </label>
        </div>
      </div>
      <div class="chi-dropdown__menu-item">
        <div class="chi-checkbox">
          <input class="chi-checkbox__input" type="checkbox" id="checkbox3" checked>
          <label class="chi-checkbox__label" for="checkbox3">
            <i class="chi-icon icon-logo-centurylink"></i>
            Element 3
          </label>
        </div>
      </div>
      <div class="chi-dropdown__menu-item">
        <div class="chi-checkbox">
          <input class="chi-checkbox__input" type="checkbox" id="checkbox4">
          <label class="chi-checkbox__label" for="checkbox4">
            <i class="chi-icon icon-logo-centurylink"></i>
            Element 4
          </label>
        </div>
      </div>
    </div>

h3 Plain Text
p.-text Use a <code>span</code> tag to include text without rendering as a link.
.example.-mb--3
  .-p--3
    .chi-col.-w--7.-w-sm--4.-w-md--5.-w-lg--3
      .chi-dropdown__menu.-active
        span.chi-dropdown__menu-item Text 1
        span.chi-dropdown__menu-item Text 2
        span.chi-dropdown__menu-item Text 3
        span.chi-dropdown__menu-item Text 4
  :code(lang="html")
    <div class="chi-dropdown__menu">
      <span class="chi-dropdown__menu-item">Text 1</span>
      <span class="chi-dropdown__menu-item">Text 2</span>
      <span class="chi-dropdown__menu-item">Text 3</span>
      <span class="chi-dropdown__menu-item">Text 4</span>
    </div>

h3 Radio Buttons
.example.-mb--3
  .-p--3
    .chi-col.-w--12.-w-sm--7.-w-md--8.-w-lg--6.-w-xl--4
      .chi-dropdown__menu.-active
        fieldset
          legend.chi-dropdown__menu-item Select an option
          .chi-dropdown__menu-item
            .chi-radio
              input(class="chi-radio__input", type="radio", name="radios", id="radio1")
              label.chi-radio__label(for="radio1") Radio Button 1
          .chi-dropdown__menu-item
            .chi-radio
              input(class="chi-radio__input", type="radio", name="radios", id="radio2", disabled)
              label.chi-radio__label(for="radio2") Disabled Radio Button 2
          .chi-dropdown__menu-item
            .chi-radio
              input(class="chi-radio__input", type="radio", name="radios", id="radio3")
              label.chi-radio__label(for="radio3") Radio Button 3
          .chi-dropdown__menu-item
            .chi-radio
              input(class="chi-radio__input", type="radio", name="radios", id="radio4")
              label.chi-radio__label(for="radio4") Radio Button 4
  :code(lang="html")
    <div class="chi-dropdown__menu">
      <fieldset>
        <legend class="chi-dropdown__menu-item">Select an option</legend>
        <div class="chi-dropdown__menu-item">
          <div class="chi-radio">
            <input class="chi-radio__input" type="radio" name="radios" id="radio1">
            <label class="chi-radio__label" for="radio1">Radio Button 1</label>
          </div>
        </div>
        <div class="chi-dropdown__menu-item">
          <div class="chi-radio">
            <input class="chi-radio__input" type="radio" name="radios" id="radio2" disabled>
            <label class="chi-radio__label" for="radio2">Disabled Radio Button 2</label>
          </div>
        </div>
        <div class="chi-dropdown__menu-item">
          <div class="chi-radio">
            <input class="chi-radio__input" type="radio" name="radios" id="radio3">
            <label class="chi-radio__label" for="radio3">Radio Button 3</label>
          </div>
        </div>
        <div class="chi-dropdown__menu-item">
          <div class="chi-radio">
            <input class="chi-radio__input" type="radio" name="radios" id="radio4">
            <label class="chi-radio__label" for="radio4">Radio Button 4</label>
          </div>
        </div>
      </fieldset>
    </div>

h3 Text Input
.example.-mb--3
  .-p--3
    .chi-col.-w--7.-w-sm--4.-w-md--5.-w-lg--3
      .chi-dropdown__menu.-active
        a.chi-dropdown__menu-item(href='#') Option 1
        a.chi-dropdown__menu-item(href='#') Option 2
        .chi-divider
        .chi-dropdown__menu-item
          input.chi-input(type="text", placeholder="Placeholder", aria-label="Text input description")
  :code(lang="html")
    <div class="chi-dropdown__menu">
      <a class="chi-dropdown__menu-item" href="#">Option 1</a>
      <a class="chi-dropdown__menu-item" href="#">Option 2</a>
      <div class="chi-divider"></div>
      <div class="chi-dropdown__menu-item">
        <input class="chi-input" type="text" placeholder="Placeholder" aria-label="Text input description">
      </div>
    </div>

h3 Range Input
.example.-mb--3
  .-p--3
    .chi-col.-w--12.-w-sm--7.-w-md--8.-w-lg--6.-w-xl--4
      .chi-dropdown__menu.-active
        .chi-dropdown__menu-item
          span.-text.-mr--2 200GB
          input.chi-input(type="range", aria-label="Range description")
          span.-text.-ml--2 5TB
        .chi-divider
        legend.chi-dropdown__menu-item Select range
        .chi-dropdown__menu-item
          input.chi-input(type="range", aria-label="Range description")
  :code(lang="html")
    <div class="chi-dropdown__menu">
      <div class="chi-dropdown__menu-item">
        <span class="-text -mr--2">200GB</span>
        <input class="chi-input" type="range" aria-label="Range description">
        <span class="-text -ml--2">5TB</span>
      </div>
      <div class="chi-divider"></div>
      <legend class="chi-dropdown__menu-item">Select range</legend>
      <div class="chi-dropdown__menu-item">
        <input class="chi-input" type="range" aria-label="Range description">
      </div>
    </div>

h3 Toggle Switch
.example.-mb--3
  .-p--3
    .chi-col.-w--12.-w-sm--7.-w-md--8.-w-lg--6.-w-xl--4
      .chi-dropdown__menu.-active
        legend.chi-dropdown__menu-item Configure options
        .chi-dropdown__menu-item
          .chi-form__item
            label.chi-switch(for="toggle-mail")
              input(type="checkbox", class="chi-switch__input", id="toggle-mail")
              span(class="chi-switch__content")
                span.chi-switch__thumb
              span.chi-switch__label Email notifications
        .chi-dropdown__menu-item
          .chi-form__item
            label.chi-switch(for="toggle-tlf")
              input(type="checkbox", class="chi-switch__input", id="toggle-tlf")
              span(class="chi-switch__content")
                span.chi-switch__thumb
              span.chi-switch__label Phone notifications
        .chi-dropdown__menu-item
          .chi-form__item
            label.chi-switch(for="toggle-app")
              input(type="checkbox", class="chi-switch__input", id="toggle-app")
              span(class="chi-switch__content")
                span.chi-switch__thumb
              span.chi-switch__label App notifications
  :code(lang="html")
    <div class="chi-dropdown__menu">
      <fieldset>
        <legend class="chi-dropdown__menu-item">Configure options</legend>
        <div class="chi-dropdown__menu-item">
          <div class="chi-form__item">
            <label class="chi-switch" for="toggle-mail">
              <input type="checkbox" class="chi-switch__input" id="toggle-mail">
              <span class="chi-switch__content">
                <span class="chi-switch__thumb"></span>
              </span>
              <span class="chi-switch__label">Email notifications</span>
            </label>
          </div>
        </div>
        <div class="chi-dropdown__menu-item">
          <div class="chi-form__item">
            <label class="chi-switch" for="toggle-tlf">
              <input type="checkbox" class="chi-switch__input" id="toggle-tlf">
              <span class="chi-switch__content">
                <span class="chi-switch__thumb"></span>
              </span>
              <span class="chi-switch__label">Phone notifications</span>
            </label>
          </div>
        </div>
        <div class="chi-dropdown__menu-item">
          <div class="chi-form__item">
            <label class="chi-switch" for="toggle-app">
              <input type="checkbox" class="chi-switch__input" id="toggle-mail">
              <span class="chi-switch__content">
                <span class="chi-switch__thumb"></span>
              </span>
              <span class="chi-switch__label">Email notifications</span>
            </label>
          </div>
        </div>
      </fieldset>
    </div>


h2 Helpers

h3 Truncate long menu-items
p.-text
  | Wrap the menu-item content in a div with the class <code>-flex--ellipsis</code> to truncate long strings.
.example.-mb--3
  .-p--3
    .chi-dropdown__menu.-active(style="width:10rem")
      a.chi-dropdown__menu-item(href='#') Element 1
      a.chi-dropdown__menu-item(href='#') Element 2
      a.chi-dropdown__menu-item(href='#')
        .-flex--ellipsis Longer text element 3
      a.chi-dropdown__menu-item(href='#') Element 4
  :code(lang="html")
    <div class="chi-dropdown__menu" style="width:10rem">
      <a class="chi-dropdown__menu-item" href="#">Element 1</a>
      <a class="chi-dropdown__menu-item" href="#">Element 2</a>
      <a class="chi-dropdown__menu-item" href="#">
        <div class="-flex--ellipsis">Long text element 3</div>
      </a>
      <a class="chi-dropdown__menu-item" href="#">Element 4</a>
    </div>

h3 Flexible height
p.-text Add the class <code>-h--auto</code> to set menu item height to auto.
.example.-mb--3
  .-p--3
    .chi-dropdown__menu.-active(style="width:10rem")
      a.chi-dropdown__menu-item(href="#") Option 1
      .chi-dropdown__menu-item.-h--auto.-py--1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      a.chi-dropdown__menu-item(href="#") Option 2
  :code(lang="html")
    <div class="chi-dropdown__menu" style="width:10rem">
      <a class="chi-dropdown__menu-item" href="#">Option 1</a>
      <div class="chi-dropdown__menu-item -h--auto -py--1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      <a class="chi-dropdown__menu-item" href="#">Option 2</a>
    </div>

h2 Animation
p.-text
  | Triggers can be animated by applying the <code>-animate</code> class.
h3 Example
.example.-mb--3
  .-p--3
    .chi-dropdown(style='margin-bottom:7rem')
      button#dropdown-animate.chi-btn.chi-dropdown__trigger.-animate Animated dropdown trigger
      .chi-dropdown__menu
        a.chi-dropdown__menu-item(href='#') Element 1
        a.chi-dropdown__menu-item(href='#') Element 2
        a.chi-dropdown__menu-item(href='#') Element 3
  :code(lang="html")
    <div class="chi-dropdown">
      <button class="chi-btn chi-dropdown__trigger -animate">Animated dropdown trigger</button>
      <div class="chi-dropdown__menu">
        <a class="chi-dropdown__menu-item" href="#">Element 1</a>
        <a class="chi-dropdown__menu-item" href="#">Element 2</a>
        <a class="chi-dropdown__menu-item" href="#">Element 3</a>
      </div>
    </div>

h2 Positioning
p.-text
  | Dropdown is prepared to work with positioning libraries like Popper.js. That is why we support the data-position
  | attribute. Chevron orientation will change depending on its value. Valid values are <code>default</code>,
  | <code>initial</code>, <code>top</code>, <code>right</code>, <code>bottom</code>, <code>left</code>,
  | <code>top-start</code>, <code>top-end</code>, <code>right-start</code>, <code>right-end</code>,
  | <code>bottom-start</code>, <code>bottom-end</code>, <code>left-start</code>, <code>left-end</code>.

.example.-mb--3
  .-p--3.-d--flex.-flex--wrap
    .chi-dropdown.-mr--3.-mb--2.-mb-md--0
      button#dropdown-3.chi-btn.chi-dropdown__trigger(data-position="bottom") Drop-down
      .chi-dropdown__menu
        a.chi-dropdown__menu-item(href='#') Element 1
        a.chi-dropdown__menu-item(href='#') Element 2
        a.chi-dropdown__menu-item(href='#') Element 3
    .chi-dropdown.-mr--3.-mb--2.-mb-md--0
      button#droptop.chi-btn.chi-dropdown__trigger(data-position="top") Drop-top
      .chi-dropdown__menu
        a.chi-dropdown__menu-item(href='#') Element 1
        a.chi-dropdown__menu-item(href='#') Element 2
        a.chi-dropdown__menu-item(href='#') Element 3
    .chi-dropdown.-mr--3.-mb--2.-mb-md--0
      button#dropleft.chi-btn.chi-dropdown__trigger(data-position="left") Drop-left
      .chi-dropdown__menu
        a.chi-dropdown__menu-item(href='#') Element 1
        a.chi-dropdown__menu-item(href='#') Element 2
        a.chi-dropdown__menu-item(href='#') Element 3
    .chi-dropdown.-mr--3.-mb--2.-mb-md--0
      button#dropright.chi-btn.chi-dropdown__trigger(data-position="right") Drop-right
      .chi-dropdown__menu
        a.chi-dropdown__menu-item(href='#') Element 1
        a.chi-dropdown__menu-item(href='#') Element 2
        a.chi-dropdown__menu-item(href='#') Element 3
  :code(lang="html")
    <div class="chi-dropdown">
      <button class="chi-btn chi-dropdown__trigger" id="dropdown-3" data-position="bottom">Drop-down</button>
      <div class="chi-dropdown__menu">
        <a class="chi-dropdown__menu-item" href="#">Element 1</a>
        <a class="chi-dropdown__menu-item" href="#">Element 2</a>
        <a class="chi-dropdown__menu-item" href="#">Element 3</a>
      </div>
    </div>
    <div class="chi-dropdown">
      <button class="chi-btn chi-dropdown__trigger" id="droptop" data-position="top">Drop-top</button>
      <div class="chi-dropdown__menu">
        <a class="chi-dropdown__menu-item" href="#">Element 1</a>
        <a class="chi-dropdown__menu-item" href="#">Element 2</a>
        <a class="chi-dropdown__menu-item" href="#">Element 3</a>
      </div>
    </div>
    <div class="chi-dropdown">
      <button class="chi-btn chi-dropdown__trigger" id="dropleft" data-position="left">Drop-left</button>
      <div class="chi-dropdown__menu">
        <a class="chi-dropdown__menu-item" href="#">Element 1</a>
        <a class="chi-dropdown__menu-item" href="#">Element 2</a>
        <a class="chi-dropdown__menu-item" href="#">Element 3</a>
      </div>
    </div>
    <div class="chi-dropdown">
      <button class="chi-btn chi-dropdown__trigger" id="dropright" data-position="right">Drop-right</button>
      <div class="chi-dropdown__menu">
        <a class="chi-dropdown__menu-item" href="#">Element 1</a>
        <a class="chi-dropdown__menu-item" href="#">Element 2</a>
        <a class="chi-dropdown__menu-item" href="#">Element 3</a>
      </div>
    </div>

    <script>
      chi.dropdown(document.getElementById('dropdown-3'));
      chi.dropdown(document.getElementById('droptop'));
      chi.dropdown(document.getElementById('dropleft'));
      chi.dropdown(document.getElementById('dropright'));
    </script>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.dropdown(document.getElementById('dropdown-1'));
      chi.dropdown(document.getElementById('dropdown-2'));
      chi.dropdown(document.getElementById('dropdown-animate'));
      chi.dropdown(document.getElementById('dropdown-animate'));
      chi.dropdown(document.getElementById('dropdown-3'));
      chi.dropdown(document.getElementById('droptop'));
      chi.dropdown(document.getElementById('dropleft'));
      chi.dropdown(document.getElementById('dropright'));
    }
  );
