.m-alert.-info.-my--3
  i.m-alert__icon.a-icon.icon-circle-info
  .m-alert__content
    p.m-alert__text This component requires Javascript

h2 Using Dropdowns
p.-text
  | A dropdown must be associated to an activator, commonly a button, which, at the time of being clicked, expands
  | the dropdown. Activator and dropdown should be contained in a div with an <code>m-dropdown</code> class, or otherwise, the
  | activator must reference the dropdown with a <code>data-target</code> attribute.
p.-text
  | Use the <code>m-dropdown__trigger</code> class on your activator button to make the chevron appear.
h3 Example 1
p.-text
  | Trigger and dropdown enclosed in the same div.
ul#a-tabs--expanded.a-tabs
  li.-active
    a(href='#a-tabs-panel--expanded-false') Initial
  li
    a(href='#a-tabs-panel--expanded-true') Expanded
.example.-mb--3
  #a-tabs-panel--expanded-false.a-tabs-panel.-active
    .-p--3
      .m-dropdown(style='margin-bottom: 7rem')
        button.a-btn.m-dropdown__trigger Dropdown component
        .m-dropdown__menu
          a.m-dropdown__menu-item(href='#') Element 1
          a.m-dropdown__menu-item(href='#') Element 2
          a.m-dropdown__menu-item(href='#') Element 3
    :code(lang="html")
      <div class="m-dropdown">
        <button class="a-btn m-dropdown__trigger">Dropdown component</button>
        <div class="m-dropdown__menu">
          <a class="m-dropdown__menu-item" href="#">Element 1</a>
          <a class="m-dropdown__menu-item" href="#">Element 2</a>
          <a class="m-dropdown__menu-item" href="#">Element 3</a>
        </div>
      </div>
  #a-tabs-panel--expanded-true.a-tabs-panel
    .-p--3
      .m-dropdown(style='margin-bottom: 7rem')
        button.a-btn.m-dropdown__trigger.-active Dropdown component
        .m-dropdown__menu.-active
          a.m-dropdown__menu-item(href='#') Element 1
          a.m-dropdown__menu-item(href='#') Element 2
          a.m-dropdown__menu-item(href='#') Element 3
    :code(lang="html")
      <div class="m-dropdown">
        <button class="a-btn m-dropdown__trigger -active">Dropdown component</button>
        <div class="m-dropdown__menu -active">
          <a class="m-dropdown__menu-item" href="#">Element 1</a>
          <a class="m-dropdown__menu-item" href="#">Element 2</a>
          <a class="m-dropdown__menu-item" href="#">Element 3</a>
        </div>
      </div>

h3 Example 2
p.-text
  | Dropdown referenced by a <code>data-target</code> attribute in the activator.
ul#a-tabs--expanded-2.a-tabs
  li.-active
    a(href='#a-tabs-panel--expanded-2-false') Initial
  li
    a(href='#a-tabs-panel--expanded-2-true') Expanded
.example.-mb--3
  #a-tabs-panel--expanded-2-false.a-tabs-panel.-active
    .-p--3
      button.a-btn.m-dropdown__trigger(data-target="#dropdown-1") Dropdown component
      p.-text There is no need for proximity between elements.
      #dropdown-1.m-dropdown__menu
        a.m-dropdown__menu-item(href='#') Element 1
        a.m-dropdown__menu-item(href='#') Element 2
        a.m-dropdown__menu-item(href='#') Element 3
        a.m-dropdown__menu-item(href='#') Element 4
    :code(lang="html")
      <div class="-p--3">
        <button class="a-btn m-dropdown__trigger" data-target="#dropdown-1">Dropdown component</button>
        <p class="-text">There is no need for proximity between elements.</p>
        <div class="m-dropdown__menu" id="dropdown-1">
          <a class="m-dropdown__menu-item" href="#">Element 1</a>
          <a class="m-dropdown__menu-item" href="#">Element 2</a>
          <a class="m-dropdown__menu-item" href="#">Element 3</a>
          <a class="m-dropdown__menu-item" href="#">Element 4</a>
        </div>
      </div>
  #a-tabs-panel--expanded-2-true.a-tabs-panel
    .-p--3
      button.a-btn.m-dropdown__trigger.-active(data-target="#dropdown-1") Dropdown component
      p.-text There is no need for proximity between elements.
      #dropdown-1b.m-dropdown__menu.-active
        a.m-dropdown__menu-item(href='#') Element 1
        a.m-dropdown__menu-item(href='#') Element 2
        a.m-dropdown__menu-item(href='#') Element 3
        a.m-dropdown__menu-item(href='#') Element 4
    :code(lang="html")
      <div class="-p--3">
        <button class="a-btn m-dropdown__trigger -active" data-target="#dropdown-1">Dropdown component</button>
        <p class="-text">There is no need for proximity between elements.</p>
        <div class="m-dropdown__menu -active" id="dropdown-1">
          <a class="m-dropdown__menu-item" href="#">Element 1</a>
          <a class="m-dropdown__menu-item" href="#">Element 2</a>
          <a class="m-dropdown__menu-item" href="#">Element 3</a>
          <a class="m-dropdown__menu-item" href="#">Element 4</a>
        </div>
      </div>

h3 Example 3
p.-text
  | Dropdown on hover is only supported when trigger and dropdown elements are enclosed in the same div. Use the
  | <code>m-dropdown__hover</code> class to achieve this.
.example.-mb--3
  .-p--3
    .m-dropdown.m-dropdown__hover(style='margin-bottom: 7rem')
      button.a-btn.m-dropdown__trigger Dropdown component
      .m-dropdown__menu
        a.m-dropdown__menu-item(href='#') Element 1
        a.m-dropdown__menu-item(href='#') Element 2
        a.m-dropdown__menu-item(href='#') Element 3
  :code(lang="html")
    <div class="m-dropdown m-dropdown__hover">
      <button class="a-btn m-dropdown__trigger">Dropdown component</button>
      <div class="m-dropdown__menu">
        <a class="m-dropdown__menu-item" href="#">Element 1</a>
        <a class="m-dropdown__menu-item" href="#">Element 2</a>
        <a class="m-dropdown__menu-item" href="#">Element 3</a>
      </div>
    </div>

h2 Divider
p.-text
  | Several menu items can be arranged together by using a divider. Use the <code>a-divider</code> component.
h3 Example
.example.-mb--3
  .-p--3
    .a-col.-w--7.-w-sm--4.-w-md--5.-w-lg--3
      .m-dropdown__menu.-active
        a.m-dropdown__menu-item(href='#') Element 1
        a.m-dropdown__menu-item(href='#') Element 2
        a.m-dropdown__menu-item(href='#') Element 3
        .a-divider
        a.m-dropdown__menu-item(href='#') Element 4
  :code(lang="html")
    <div class="m-dropdown__menu">
      <a class="m-dropdown__menu-item" href="#">Element 1</a>
      <a class="m-dropdown__menu-item" href="#">Element 2</a>
      <a class="m-dropdown__menu-item" href="#">Element 3</a>
      <div class="a-divider"></div>
      <a class="m-dropdown__menu-item" href="#">Element 4</a>
    </div>

h2 Menu item states
p.-text
  | Each menu item can be in one of four item states <code>normal</code>, <code>active</code>, <code>disabled</code> and
  | <code>hover</code>.

h3 Example
.example.-mb--3
  .-p--3
    .a-col.-w--12.-w-sm--7.-w-md--8.-w-lg--6.-w-xl--4
      .m-dropdown__menu.-active
        a.m-dropdown__menu-item(href='#') Normal element
        a.m-dropdown__menu-item.-active(href='#') Active element
        a.m-dropdown__menu-item.-disabled(href='#') Disabled element
        a.m-dropdown__menu-item.-hover(href='#') Hovered item
  :code(lang="html")
    <div class="m-dropdown__menu">
      <a class="m-dropdown__menu-item" href="#">Normal element</a>
      <a class="m-dropdown__menu-item -active" href="#">Active element</a>
      <a class="m-dropdown__menu-item -disabled" href="#">Disabled element</a>
      <a class="m-dropdown__menu-item -hover" href="#">Hovered item</a>
    </div>

h2 Icons
p.-text
  | Dropdown component has been developed to support Chi icons in the menu items.

h3 Example
.example.-mb--3
  .-p--3
    .a-col.-w--7.-w-sm--4.-w-md--5.-w-lg--3
      .m-dropdown__menu.-active
        a.m-dropdown__menu-item(href='#')
          i.a-icon.icon-file-outline
          = "New"
        a.m-dropdown__menu-item.-disabled(href='http://www.centurylink.com')
          i.a-icon.icon-arrow-to-bottom
          = "Save"
        .a-divider
        a.m-dropdown__menu-item(href='#')
          i.a-icon.icon-mail
          = "Send"
        a.m-dropdown__menu-item.-active(href='#')
          i.a-icon.icon-cart
          = "Buy"
        a.m-dropdown__menu-item(href='#')
          i.a-icon.icon-users
          = "Share"
        .a-divider
        a.m-dropdown__menu-item(href='#')
          i.a-icon.icon-logout
          = "Logout"
  :code(lang="html")
    <div class="m-dropdown__menu">
      <a class="m-dropdown__menu-item" href="#">
        <i class="a-icon icon-file-outline"></i>New
      </a>
      <a class="m-dropdown__menu-item -disabled" href="#">
        <i class="a-icon icon-arrow-to-bottom"></i>Save
      </a>
      <div class="a-divider"></div>
      <a class="m-dropdown__menu-item" href="#">
        <i class="a-icon icon-mail"></i>Send
      </a>
      <a class="m-dropdown__menu-item -active" href="#">
        <i class="a-icon icon-cart"></i>Buy
      </a>
      <a class="m-dropdown__menu-item" href="#">
        <i class="a-icon icon-users"></i>Share
      </a>
      <div class="a-divider"></div>
      <a class="m-dropdown__menu-item" href="#">
        <i class="a-icon icon-logout"></i>Logout
      </a>
    </div>

h2 Form elements
p.-text
  | Several kinds of form items can be added inside the dropdown menu.

h3 Search box
p.-text
  | This search box is a special kind of text input prepared to be located on top of the menu-item. It has slightly
  | smaller padding at the sides.
.example.-mb--3
  .-p--3
    .a-col.-w--7.-w-sm--4.-w-md--5.-w-lg--3
      .m-dropdown__menu.-active
        .m-input__wrapper.-icon--left.m-dropdown__menu-item(role="search")
          input(type="text", class="a-input", placeholder="Search", aria-label="Search")
          i.a-icon.icon-search
        a.m-dropdown__menu-item(href='#') Element 1
        a.m-dropdown__menu-item(href='#') Element 2
        a.m-dropdown__menu-item(href='#') Element 3
        a.m-dropdown__menu-item(href='#') Element 4
  :code(lang="html")
    <div class="m-dropdown__menu">
      <div class="m-input__wrapper -icon--left m-dropdown__menu-item" role="search">
        <input class="a-input" type="text" placeholder="Search" aria-label="Search">
        <i class="a-icon icon-search"></i>
      </div>
      <a class="m-dropdown__menu-item" href="#">Element 1</a>
      <a class="m-dropdown__menu-item" href="#">Element 2</a>
      <a class="m-dropdown__menu-item" href="#">Element 3</a>
      <a class="m-dropdown__menu-item" href="#">Element 4</a>
    </div>

h3 Checkboxes
p.-text
  | Two versions of checkboxes, with and without icon have been included in the library to be used as menu items.

h4 Base
.example.-mb--3
  .-p--3
    .a-col.-w--7.-w-sm--4.-w-md--5.-w-lg--3
      .m-dropdown__menu.-active
        .m-dropdown__menu-item
          .a-checkbox
            input(type="checkbox", class="a-checkbox__input", id="checkbox1")
            label(for="checkbox1", class="a-checkbox__label") Element 1
        .m-dropdown__menu-item
          .a-checkbox
            input(type="checkbox", class="a-checkbox__input", id="checkbox2", disabled)
            label(for="checkbox2", class="a-checkbox__label") Element 2
        .m-dropdown__menu-item
          .a-checkbox
            input(type="checkbox", class="a-checkbox__input", id="checkbox3", checked)
            label(for="checkbox3", class="a-checkbox__label") Element 3
        .m-dropdown__menu-item
          .a-checkbox
            input(type="checkbox", class="a-checkbox__input", id="checkbox4")
            label(for="checkbox4", class="a-checkbox__label") Element 4
  :code(lang="html")
    <div class="m-dropdown__menu">
      <div class="m-dropdown__menu-item">
        <div class="a-checkbox">
          <input class="a-checkbox__input" type="checkbox" id="checkbox1">
          <label class="a-checkbox__label" for="checkbox1">Element 1</label>
        </div>
      </div>
      <div class="m-dropdown__menu-item">
        <div class="a-checkbox">
          <input class="a-checkbox__input" type="checkbox" id="checkbox2" disabled>
          <label class="a-checkbox__label" for="checkbox2">Element 2</label>
        </div>
      </div>
      <div class="m-dropdown__menu-item">
        <div class="a-checkbox">
          <input class="a-checkbox__input" type="checkbox" id="checkbox3" checked>
          <label class="a-checkbox__label" for="checkbox3">Element 3</label>
        </div>
      </div>
      <div class="m-dropdown__menu-item">
        <div class="a-checkbox">
          <input class="a-checkbox__input" type="checkbox" id="checkbox4">
          <label class="a-checkbox__label" for="checkbox4">Element 4</label>
        </div>
      </div>
    </div>

h4 With Icons
.example.-mb--3
  .-p--3
    .a-col.-w--10.-w-sm--6.-w-md--7.-w-lg--5.-w-xl--3
      .m-dropdown__menu.-active
        .m-dropdown__menu-item
          .a-checkbox
            input(type="checkbox", class="a-checkbox__input", id="checkbox1b")
            label(for="checkbox1b", class="a-checkbox__label")
              i.a-icon.icon-logo-centurylink
              | Element 1
        .m-dropdown__menu-item
          .a-checkbox
            input(type="checkbox", class="a-checkbox__input", id="checkbox2b", disabled)
            label(for="checkbox2b", class="a-checkbox__label")
              i.a-icon.icon-logo-centurylink
              | Element 2
        .m-dropdown__menu-item
          .a-checkbox
            input(type="checkbox", class="a-checkbox__input", id="checkbox3b", checked)
            label(for="checkbox3b", class="a-checkbox__label")
              i.a-icon.icon-logo-centurylink
              | Element 3
        .m-dropdown__menu-item
          .a-checkbox
            input(type="checkbox", class="a-checkbox__input", id="checkbox4b")
            label(for="checkbox4b", class="a-checkbox__label")
              i.a-icon.icon-logo-centurylink
              | Element 4
  :code(lang="html")
    <div class="m-dropdown__menu">
      <div class="m-dropdown__menu-item">
        <div class="a-checkbox">
          <input class="a-checkbox__input" type="checkbox" id="checkbox1">
          <label class="a-checkbox__label" for="checkbox1">
            <i class="a-icon icon-logo-centurylink"></i>
            Element 1
          </label>
        </div>
      </div>
      <div class="m-dropdown__menu-item">
        <div class="a-checkbox">
          <input class="a-checkbox__input" type="checkbox" id="checkbox2" disabled>
          <label class="a-checkbox__label" for="checkbox2">
            <i class="a-icon icon-logo-centurylink"></i>
            Element 2
          </label>
        </div>
      </div>
      <div class="m-dropdown__menu-item">
        <div class="a-checkbox">
          <input class="a-checkbox__input" type="checkbox" id="checkbox3" checked>
          <label class="a-checkbox__label" for="checkbox3">
            <i class="a-icon icon-logo-centurylink"></i>
            Element 3
          </label>
        </div>
      </div>
      <div class="m-dropdown__menu-item">
        <div class="a-checkbox">
          <input class="a-checkbox__input" type="checkbox" id="checkbox4">
          <label class="a-checkbox__label" for="checkbox4">
            <i class="a-icon icon-logo-centurylink"></i>
            Element 4
          </label>
        </div>
      </div>
    </div>

h3 Plain Text
p.-text Use a <code>span</code> tag to include text without rendering as a link.
.example.-mb--3
  .-p--3
    .a-col.-w--7.-w-sm--4.-w-md--5.-w-lg--3
      .m-dropdown__menu.-active
        span.m-dropdown__menu-item Text 1
        span.m-dropdown__menu-item Text 2
        span.m-dropdown__menu-item Text 3
        span.m-dropdown__menu-item Text 4
  :code(lang="html")
    <div class="m-dropdown__menu">
      <span class="m-dropdown__menu-item">Text 1</span>
      <span class="m-dropdown__menu-item">Text 2</span>
      <span class="m-dropdown__menu-item">Text 3</span>
      <span class="m-dropdown__menu-item">Text 4</span>
    </div>

h3 Radio Buttons
.example.-mb--3
  .-p--3
    .a-col.-w--12.-w-sm--7.-w-md--8.-w-lg--6.-w-xl--4
      .m-dropdown__menu.-active
        fieldset
          legend.m-dropdown__menu-item Select an option
          .m-dropdown__menu-item
            .a-radio
              input(class="a-radio__input", type="radio", name="radios", id="radio1")
              label.a-radio__label(for="radio1") Radio Button 1
          .m-dropdown__menu-item
            .a-radio
              input(class="a-radio__input", type="radio", name="radios", id="radio2", disabled)
              label.a-radio__label(for="radio2") Disabled Radio Button 2
          .m-dropdown__menu-item
            .a-radio
              input(class="a-radio__input", type="radio", name="radios", id="radio3")
              label.a-radio__label(for="radio3") Radio Button 3
          .m-dropdown__menu-item
            .a-radio
              input(class="a-radio__input", type="radio", name="radios", id="radio4")
              label.a-radio__label(for="radio4") Radio Button 4
  :code(lang="html")
    <div class="m-dropdown__menu">
      <fieldset>
        <legend class="m-dropdown__menu-item">Select an option</legend>
        <div class="m-dropdown__menu-item">
          <div class="a-radio">
            <input class="a-radio__input" type="radio" name="radios" id="radio1">
            <label class="a-radio__label" for="radio1">Radio Button 1</label>
          </div>
        </div>
        <div class="m-dropdown__menu-item">
          <div class="a-radio">
            <input class="a-radio__input" type="radio" name="radios" id="radio2" disabled>
            <label class="a-radio__label" for="radio2">Disabled Radio Button 2</label>
          </div>
        </div>
        <div class="m-dropdown__menu-item">
          <div class="a-radio">
            <input class="a-radio__input" type="radio" name="radios" id="radio3">
            <label class="a-radio__label" for="radio3">Radio Button 3</label>
          </div>
        </div>
        <div class="m-dropdown__menu-item">
          <div class="a-radio">
            <input class="a-radio__input" type="radio" name="radios" id="radio4">
            <label class="a-radio__label" for="radio4">Radio Button 4</label>
          </div>
        </div>
      </fieldset>
    </div>

h3 Text Input
.example.-mb--3
  .-p--3
    .a-col.-w--7.-w-sm--4.-w-md--5.-w-lg--3
      .m-dropdown__menu.-active
        a.m-dropdown__menu-item(href='#') Option 1
        a.m-dropdown__menu-item(href='#') Option 2
        .a-divider
        .m-dropdown__menu-item
          input.a-input(type="text", placeholder="Placeholder", aria-label="Text input description")
  :code(lang="html")
    <div class="m-dropdown__menu">
      <a class="m-dropdown__menu-item" href="#">Option 1</a>
      <a class="m-dropdown__menu-item" href="#">Option 2</a>
      <div class="a-divider"></div>
      <div class="m-dropdown__menu-item">
        <input class="a-input" type="text" placeholder="Placeholder" aria-label="Text input description">
      </div>
    </div>

h3 Range Input
.example.-mb--3
  .-p--3
    .a-col.-w--12.-w-sm--7.-w-md--8.-w-lg--6.-w-xl--4
      .m-dropdown__menu.-active
        .m-dropdown__menu-item
          span.-text.-mr--2 200GB
          input.a-input(type="range", aria-label="Range description")
          span.-text.-ml--2 5TB
        .a-divider
        legend.m-dropdown__menu-item Select range
        .m-dropdown__menu-item
          input.a-input(type="range", aria-label="Range description")
  :code(lang="html")
    <div class="m-dropdown__menu">
      <div class="m-dropdown__menu-item">
        <span class="-text -mr--2">200GB</span>
        <input class="a-input" type="range" aria-label="Range description">
        <span class="-text -ml--2">5TB</span>
      </div>
      <div class="a-divider"></div>
      <legend class="m-dropdown__menu-item">Select range</legend>
      <div class="m-dropdown__menu-item">
        <input class="a-input" type="range" aria-label="Range description">
      </div>
    </div>

h3 Toggle Switch
.example.-mb--3
  .-p--3
    .a-col.-w--12.-w-sm--7.-w-md--8.-w-lg--6.-w-xl--4
      .m-dropdown__menu.-active
        legend.m-dropdown__menu-item Configure options
        .m-dropdown__menu-item
          .m-form__item
            label.a-switch(for="toggle-mail")
              input(type="checkbox", class="a-switch__input", id="toggle-mail")
              span(class="a-switch__content")
                span.a-switch__thumb
              span.a-switch__label Email notifications
        .m-dropdown__menu-item
          .m-form__item
            label.a-switch(for="toggle-tlf")
              input(type="checkbox", class="a-switch__input", id="toggle-tlf")
              span(class="a-switch__content")
                span.a-switch__thumb
              span.a-switch__label Phone notifications
        .m-dropdown__menu-item
          .m-form__item
            label.a-switch(for="toggle-app")
              input(type="checkbox", class="a-switch__input", id="toggle-app")
              span(class="a-switch__content")
                span.a-switch__thumb
              span.a-switch__label App notifications
  :code(lang="html")
    <div class="m-dropdown__menu">
      <fieldset>
        <legend class="m-dropdown__menu-item">Configure options</legend>
        <div class="m-dropdown__menu-item">
          <div class="m-form__item">
            <label class="a-switch" for="toggle-mail">
              <input type="checkbox" class="a-switch__input" id="toggle-mail">
              <span class="a-switch__content">
                <span class="a-switch__thumb"></span>
              </span>
              <span class="a-switch__label">Email notifications</span>
            </label>
          </div>
        </div>
        <div class="m-dropdown__menu-item">
          <div class="m-form__item">
            <label class="a-switch" for="toggle-tlf">
              <input type="checkbox" class="a-switch__input" id="toggle-tlf">
              <span class="a-switch__content">
                <span class="a-switch__thumb"></span>
              </span>
              <span class="a-switch__label">Phone notifications</span>
            </label>
          </div>
        </div>
        <div class="m-dropdown__menu-item">
          <div class="m-form__item">
            <label class="a-switch" for="toggle-app">
              <input type="checkbox" class="a-switch__input" id="toggle-mail">
              <span class="a-switch__content">
                <span class="a-switch__thumb"></span>
              </span>
              <span class="a-switch__label">Email notifications</span>
            </label>
          </div>
        </div>
      </fieldset>
    </div>


h2 Helpers

h3 Truncate long menu-items
p.-text
  | Wrap the menu-item content in a div with the class <code>-flex--ellipsis</code> to truncate long strings.
.example.-mb--3
  .-p--3
    .m-dropdown__menu.-active(style="width:10rem")
      a.m-dropdown__menu-item(href='#') Element 1
      a.m-dropdown__menu-item(href='#') Element 2
      a.m-dropdown__menu-item(href='#')
        .-flex--ellipsis Longer text element 3
      a.m-dropdown__menu-item(href='#') Element 4
  :code(lang="html")
    <div class="m-dropdown__menu" style="width:10rem">
      <a class="m-dropdown__menu-item" href="#">Element 1</a>
      <a class="m-dropdown__menu-item" href="#">Element 2</a>
      <a class="m-dropdown__menu-item" href="#">
        <div class="-flex--ellipsis">Long text element 3</div>
      </a>
      <a class="m-dropdown__menu-item" href="#">Element 4</a>
    </div>

h3 Flexible height
p.-text Add the class <code>-h--auto</code> to set menu item height to auto.
.example.-mb--3
  .-p--3
    .m-dropdown__menu.-active(style="width:10rem")
      a.m-dropdown__menu-item(href="#") Option 1
      .m-dropdown__menu-item.-h--auto.-py--1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      a.m-dropdown__menu-item(href="#") Option 2
  :code(lang="html")
    <div class="m-dropdown__menu" style="width:10rem">
      <a class="m-dropdown__menu-item" href="#">Option 1</a>
      <div class="m-dropdown__menu-item -h--auto -py--1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      <a class="m-dropdown__menu-item" href="#">Option 2</a>
    </div>

h2 Animation
p.-text
  | Triggers can be animated by applying the <code>-animate</code> class.
h3 Example
ul#a-tabs--animation-expanded.a-tabs
  li.-active
    a(href='#a-tabs-panel--animation-expanded-false') Initial
  li
    a(href='#a-tabs-panel--animation-expanded-true') Expanded
.example.-mb--3
  #a-tabs-panel--animation-expanded-false.a-tabs-panel.-active
    .-p--3
      .m-dropdown(style='margin-bottom:7rem')
        button.a-btn.m-dropdown__trigger.-animate Animated dropdown trigger
        .m-dropdown__menu
          a.m-dropdown__menu-item(href='#') Element 1
          a.m-dropdown__menu-item(href='#') Element 2
          a.m-dropdown__menu-item(href='#') Element 3
    :code(lang="html")
      <div class="m-dropdown">
        <button class="a-btn m-dropdown__trigger -animate">Animated dropdown trigger</button>
        <div class="m-dropdown__menu">
          <a class="m-dropdown__menu-item" href="#">Element 1</a>
          <a class="m-dropdown__menu-item" href="#">Element 2</a>
          <a class="m-dropdown__menu-item" href="#">Element 3</a>
        </div>
      </div>
  #a-tabs-panel--animation-expanded-true.a-tabs-panel
    .-p--3
      .m-dropdown(style='margin-bottom:7rem')
        button.a-btn.m-dropdown__trigger.-animate.-active Animated dropdown trigger
        .m-dropdown__menu.-active
          a.m-dropdown__menu-item(href='#') Element 1
          a.m-dropdown__menu-item(href='#') Element 2
          a.m-dropdown__menu-item(href='#') Element 3
    :code(lang="html")
      <div class="m-dropdown">
        <button class="a-btn m-dropdown__trigger -animate -active">Animated dropdown trigger</button>
        <div class="m-dropdown__menu -active">
          <a class="m-dropdown__menu-item" href="#">Element 1</a>
          <a class="m-dropdown__menu-item" href="#">Element 2</a>
          <a class="m-dropdown__menu-item" href="#">Element 3</a>
        </div>
      </div>
h2 Positioning
p.-text
  | Dropdown is prepared to work with positioning libraries like Popper.js. That is why we support the data-position
  | attribute. Chevron orientation will change depending on its value. Valid values are <code>default</code>,
  | <code>initial</code>, <code>top</code>, <code>right</code>, <code>bottom</code>, <code>left</code>,
  | <code>top-start</code>, <code>top-end</code>, <code>right-start</code>, <code>right-end</code>,
  | <code>bottom-start</code>, <code>bottom-end</code>, <code>left-start</code>, <code>left-end</code>.

.example.-mb--3
  .-p--3.-d--flex.-flex--wrap
    .m-dropdown.-mr--3.-mb--2.-mb-md--0
      button.a-btn.m-dropdown__trigger(data-position="bottom") Drop-down
      .m-dropdown__menu
        a.m-dropdown__menu-item(href='#') Element 1
        a.m-dropdown__menu-item(href='#') Element 2
        a.m-dropdown__menu-item(href='#') Element 3
    .m-dropdown.-mr--3.-mb--2.-mb-md--0
      button.a-btn.m-dropdown__trigger(data-position="top") Drop-top
      .m-dropdown__menu
        a.m-dropdown__menu-item(href='#') Element 1
        a.m-dropdown__menu-item(href='#') Element 2
        a.m-dropdown__menu-item(href='#') Element 3
    .m-dropdown.-mr--3.-mb--2.-mb-md--0
      button.a-btn.m-dropdown__trigger(data-position="left") Drop-left
      .m-dropdown__menu
        a.m-dropdown__menu-item(href='#') Element 1
        a.m-dropdown__menu-item(href='#') Element 2
        a.m-dropdown__menu-item(href='#') Element 3
    .m-dropdown.-mr--3.-mb--2.-mb-md--0
      button.a-btn.m-dropdown__trigger(data-position="right") Drop-right
      .m-dropdown__menu
        a.m-dropdown__menu-item(href='#') Element 1
        a.m-dropdown__menu-item(href='#') Element 2
        a.m-dropdown__menu-item(href='#') Element 3
  :code(lang="html")
    <div class="m-dropdown">
      <button class="a-btn m-dropdown__trigger" data-position="bottom">Drop-down</button>
      <div class="m-dropdown__menu">
        <a class="m-dropdown__menu-item" href="#">Element 1</a>
        <a class="m-dropdown__menu-item" href="#">Element 2</a>
        <a class="m-dropdown__menu-item" href="#">Element 3</a>
      </div>
    </div>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.getElementById('a-tabs--animation-expanded'));
      chi.tab(document.getElementById('a-tabs--expanded'));
      chi.tab(document.getElementById('a-tabs--expanded-2'));
    }
  );
