---
title: Dropdown
description: Dropdowns contain and give access to a list of buttons or other elements hidden by default. They are commonly used for menus in web applications.
tabs: {"Examples" : "examplestab", "Properties" : "propertiestab", "Accessibility" : "accessibilitytab"}
---

.a-tabs-panel.-active#examplestab
  include _examples

.a-tabs-panel#propertiestab
  include _properties

.a-tabs-panel#accessibilitytab
  include _accessibility