@import 'variables';
@import 'mixins';

$input: c-input;

input {
  &[type='checkbox'] {
    &.#{$input} {
      left: -9999px;
      position: absolute;

      & + label {
        background-color: set-color(grey, 100);
        border: 0.25rem solid set-color(carbon, 100);
        border-radius: 3px;
        cursor: pointer;
        display: block;
        height: 2rem;
        line-height: 2rem;
        position: relative;
        width: 2rem;

        &::before {
          background-image: url('./icon-check.svg');
          content: '';
          display: none;
          height: 1.25rem;
          left: 0.125rem;
          position: absolute;
          top: 0.125rem;
          width: 1.25rem;
        }

        &:hover,
        &.#{$input}--hover {
          &::before {
            display: block;
          }
        }
      }

      &:checked + label {
        &::before {
          display: block;
        }
      }

      &[disabled] + label {
        opacity: 0.65;
        pointer-events: none;
      }

      &:focus,
      &.#{$input}--focus {
        & + label {
          box-shadow: 0 0 1px 4px rgba(set-color(carbon, 100), 0.3);
        }
      }

      &.#{$input}--primary {
        & + label {
          background-color: set-color(green, 500);
          border-color: set-color(green, 500);

          &::before {
            background-image: url('./icon-check--primary.svg');
          }
        }

        &:focus,
        &.#{$input}--focus {
          & + label {
            box-shadow: 0 0 1px 4px rgba(set-color(green, 500), 0.3);
          }
        }
      }
    }
  }
}
