@import '_variables';
@import '_mixins';

$popover-arrow-width: 1rem;
$popover-arrow-height: 0.5rem;
$popover-border-width: 0.0625rem;

.m-popover {
  background-color: set-color(white);
  border: $popover-border-width solid set-color(grey, 30);
  border-radius: $border-radius;
  box-shadow: map-get($shadow, 3);
  color: $text-color;
  display: none;
  font-family: $font-family;
  font-size: $text;
  font-weight: normal;
  left: 0;
  line-height: $line-height-small;
  max-width: 18rem;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: $zindex-popover;

  &.-animated {
    transition: opacity 0.2s, transform 0.2s;
  }

  &.-active {
    display: block;
    opacity: 1;
  }

  &.-transitioning {
    display: block;
  }

  & .m-popover__header {
    padding: 1rem 1rem 0;

    & .m-popover__title {
      font-size: $text-large;
      font-weight: 600;
      line-height: $line-height-large;
      margin: 0;
    }

    & + .m-popover__content {
      padding: 0.625rem 1rem 1rem;

      & p,
      & .m-popover__text {
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .a-btn.-close {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
    }
  }

  & .m-popover__content {
    padding: 0.5rem 1rem;

    & .m-popover__title {
      font-size: $text-large;
      font-weight: 600;
      line-height: $line-height-large;
      margin: 0.5rem 0;
    }

    & p,
    & .m-popover__text {
      font-size: $text;
      line-height: $line-height-small;
      margin: 0.5rem 0;
    }
  }

  &__input {
    > .m-popover__content {
      padding: 0;
    }
  }

  & .a-arrow,
  & .m-popover__arrow {
    display: block;
    height: $popover-arrow-height;
    margin: 0 $border-radius;
    position: absolute;
    width: $popover-arrow-width;

    &::before,
    &::after {
      border-color: transparent;
      border-style: solid;
      content: '';
      display: block;
      position: absolute;
    }
  }

  &:not(.-no-arrow) {
    &.m-popover--top,
    &[x-placement^='top'] {
      margin-bottom: calc(#{$popover-arrow-height} + 0.25rem);

      .a-arrow,
      .m-popover__arrow {
        bottom: calc((#{$popover-arrow-height} + #{$popover-border-width}) * -1);
        left: calc(50% - 4px);
      }

      .a-arrow::before,
      .a-arrow::after,
      .m-popover__arrow::before,
      .m-popover__arrow::after {
        border-width: $popover-arrow-height ($popover-arrow-width / 2) 0;
      }

      .a-arrow::before,
      .m-popover__arrow::before {
        border-top-color: set-color(grey, 30);
        bottom: 0;
      }

      .a-arrow::after,
      .m-popover__arrow::after {
        border-top-color: white;
        bottom: $popover-border-width;
      }
    }

    &.m-popover--right,
    &[x-placement^='right'] {
      margin-left: calc(#{$popover-arrow-height} + 0.25rem);

      .a-arrow,
      .m-popover__arrow {
        height: $popover-arrow-width;
        left: calc((#{$popover-arrow-height} + #{$popover-border-width}) * -1);
        margin: $border-radius 0; // make sure the arrow does not touch the popover's rounded corners
        top: calc(50% - 8px);
        width: $popover-arrow-height;
      }

      .a-arrow::before,
      .a-arrow::after,
      .m-popover__arrow::before,
      .m-popover__arrow::after {
        border-width: ($popover-arrow-width / 2) $popover-arrow-height ($popover-arrow-width / 2) 0;
      }

      .a-arrow::before,
      .m-popover__arrow::before {
        border-right-color: set-color(grey, 30);
        left: 0;
      }

      .a-arrow::after,
      .m-popover__arrow::after {
        border-right-color: white;
        left: $popover-border-width;
      }
    }

    &.m-popover--bottom,
    &[x-placement^='bottom'] {
      margin-top: calc(#{$popover-arrow-height} + 0.25rem);


      .a-arrow,
      .m-popover__arrow {
        left: calc(50% - 4px);
        top: calc((#{$popover-arrow-height} + #{$popover-border-width}) * -1);
      }

      .a-arrow::before,
      .a-arrow::after,
      .m-popover__arrow::before,
      .m-popover__arrow::after {
        border-width: 0 ($popover-arrow-width / 2) $popover-arrow-height ($popover-arrow-width / 2);
      }

      .a-arrow::before,
      .m-popover__arrow::before {
        border-bottom-color: set-color(grey, 30);
        top: 0;
      }

      .a-arrow::after,
      .m-popover__arrow::after {
        border-bottom-color: white;
        top: $popover-border-width;
      }
    }

    &.m-popover--left,
    &[x-placement^='left'] {
      margin-right: calc(#{$popover-arrow-height} + 0.25rem);


      .a-arrow,
      .m-popover__arrow {
        height: $popover-arrow-width;
        margin: $border-radius 0; // make sure the arrow does not touch the popover's rounded corners
        right: calc((#{$popover-arrow-height} + #{$popover-border-width}) * -1);
        top: calc(50% - 8px);
        width: $popover-arrow-height;
      }

      .a-arrow::before,
      .a-arrow::after,
      .m-popover__arrow::before,
      .m-popover__arrow::after {
        border-width: ($popover-arrow-width / 2) 0 ($popover-arrow-width / 2) $popover-arrow-height;
      }

      .a-arrow::before,
      .m-popover__arrow::before {
        border-left-color: set-color(grey, 30);
        right: 0;
      }

      .a-arrow::after,
      .m-popover__arrow::after {
        border-left-color: white;
        right: $popover-border-width;
      }
    }
  }
}
