h3 Events
section.chi-table.-bordered.-my--3
  table(cellpadding='0', cellspacing='0')
    thead
      tr
        th
          div Event
        th
          div Description
    tbody
      tr
        td
          div
            code chiTooltipShow
        td
          div Tooltip show method has been executed.
      tr
        td
          div
            code chiTooltipHide
        td
          div Tooltip hide method has been executed.

h3 Preventing memory leaks
p.-text
  | Tooltip components have a dispose function to free all resources attached to the element, such as event listeners
  | and object data. You must call this method when you want to remove the component.
:code(lang="javascript")
  var elem = document.getElementById('tooltip');
  var tooltip = chi.tooltip(elem);
  // do stuff
  tooltip.dispose();

p.-text
  span.chi-badge.-dark.-sm.-mr--1
    span Tip
  | It is safe to call the <code>tooltip</code> method more than once, as it will return any previously created tooltip component
  | associated to the element.
:code(lang="javascript")
  var elem = document.getElementById('tooltip-1');
  var tooltip = chi.tooltip(elem);
  var elem2 = document.getElementById('tooltip-1');
  var tooltip2 = chi.tooltip(elem2);
  tooltip === tooltip2; // returns true

  tooltip.dispose(); // Only have to do it once.
