h2 Examples
h3 Base
.example.-mb--3
  .-p--3
    .-py--2
      .chi-label(id='example-1') 0%
      progress.chi-progress(aria-labelledby='example-1', value='0', max='100')
    .-py--2
      .chi-label(id='example-2') 50%
      progress.chi-progress(aria-labelledby='example-2', value='50', max='100')
    .-py--2
      .chi-label(id='example-3') 100%
      progress.chi-progress(aria-labelledby='example-3', value='100', max='100')
  .example-tabs.-pl--2
    ul.chi-tabs#examples-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .chi-tabs-panel#webcomponent-base
  .chi-tabs-panel.-active#html-base
    .chi-tab__description
      | To render a progress element, use the <code>progress</code> HTML5 tag.
      | Set the value attribute to the amount of work complete.
    :code(lang="html")
      <!-- 0% -->
      <div class="chi-label" id="example-1">0%</div>
      <progress aria-labelledby="example-1" value="0" max="100"></progress>

      <!-- 50% -->
      <div class="chi-label" id="example-2">50%</div>
      <progress aria-labelledby="example-2" value="50" max="100"></progress>

      <!-- 100% -->
      <div class="chi-label" id="example-3">100%</div>
      <progress aria-labelledby="example-3" value="100" max="100"></progress>

h3 Semantic States
p.-text
  | Use semantic colors to communicate meaning to users.
  | Use green (<code>-success</code>) for positive, blue (base state)
  | for informative, red (<code>-danger</code>) for negative, and yellow (<code>-warning</code>) for needs attention.
.example.-mb--3
  .-p--3
    .-py--2
      .chi-label(id='example-7') Success
      progress.chi-progress.-success(aria-labelledby='example-7', value='75', max='100')
    .-py--2
      .chi-label(id='example-6') Warning
      progress.chi-progress.-warning(aria-labelledby='example-6', value='75', max='100')
    .-py--2
      .chi-label(id='example-4') Danger
      progress.chi-progress.-danger(aria-labelledby='example-4', value='75', max='100')
  .example-tabs.-pl--2
    ul.chi-tabs#examples-states
      li.-disabled
        a(href=`#webcomponent-states`) Web Component
      li.-active
        a(href=`#html-states`) HTML Blueprint
  .chi-tabs-panel#webcomponent-states
  .chi-tabs-panel.-active#html-states
    :code(lang="html")
      <!-- Success -->
      <div class="chi-label" id="example-5">Success</div>
      <progress aria-labelledby="example-5" class="-success" value="75" max="100"></progress>

      <!-- Warning -->
      <div class="chi-label" id="example-6">Warning</div>
      <progress aria-labelledby="example-6" class="-warning" value="75" max="100"></progress>

      <!-- Danger -->
      <div class="chi-label" id="example-7">Danger</div>
      <progress aria-labelledby="example-7" class="-danger" value="75" max="100"></progress>

script.
    document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.getElementById('examples-base'));
      chi.tab(document.getElementById('examples-states'));
    }
  );
