extends ../layout.pug

block scripts
  script(src='../../js/ce/ux-chi-ce/ux-chi-ce.js')
  script(src='../../js/chi.js')
  script(src='../../chi-icons.js')
  script(src='../../chi-marketing-icons.js')

block variables
  - var title = 'Accordion'

block content
  h3 Base
  .test-accordion-base.-w--100
    .chi-accordion.-truncated.-md
      .chi-accordion__item
        button.chi-accordion__trigger
          i.chi-icon.icon-chevron-down(aria-hidden="true")
          .chi-accordion__title
            | Accordion 1
      .chi-accordion__item.-expanded
        button.chi-accordion__trigger
          i.chi-icon.icon-chevron-down(aria-hidden="true")
          .chi-accordion__title
            | Accordion 2
        .chi-accordion__content
          p.chi-accordion__text Item content 2
      .chi-accordion__item
        button.chi-accordion__trigger.-disabled
          i.chi-icon.icon-chevron-down(aria-hidden="true")
          .chi-accordion__title
            | Accordion 3
      .chi-accordion__item.-expanded
        button.chi-accordion__trigger
          i.chi-icon.icon-chevron-down(aria-hidden="true")
          .chi-accordion__title
            | Accordion 4
        .chi-accordion__content
          .chi-icon.-mr--2
              svg
                use(xlink:href='#icon-arrow-right')
          | Some custom content here
      .chi-accordion__item
        button.chi-accordion__trigger
          i.chi-icon.icon-chevron-down(aria-hidden="true")
          .chi-accordion__title Accordion 5 with very large title to test truncated class is properly applied. Accordion 5
            |  with very large title to test truncated class is properly applied. Accordion 5 with very 
            | large title to test truncated class is properly applied. Accordion 5 with very large title to test
            | truncated class is properly applied. Accordion 5 with very large title to test truncated class is 
            | properly applied

  h3 Sizes
  .test-accordion-sizes.-w--100
    each size in ['sm', 'md', 'lg', 'xl']
      div(class=`chi-accordion -${size} -mb--1`)
        .chi-accordion__item.-expanded
          .chi-accordion__trigger
            i.chi-icon.icon-chevron-down(aria-hidden="true")
            .chi-accordion__title=`Accordion ${size}`
          .chi-accordion__content
            p.chi-accordion__text Content here

  h3 Portal layout
  .test-accordion-portal-layout.-w--100
    .chi-accordion.-xl
      .chi-accordion__item
        button.chi-accordion__trigger
          .chi-accordion__title
            | Accordion 1
          i.chi-icon.icon-chevron-down(aria-hidden="true")
      .chi-accordion__item.-expanded
        button.chi-accordion__trigger
          .chi-accordion__title
            | Accordion 2
          i.chi-icon.icon-chevron-down(aria-hidden="true")
        .chi-accordion__content
          p.chi-accordion__text Item content 2
      .chi-accordion__item
        button.chi-accordion__trigger.-disabled
          .chi-accordion__title
            | Accordion 3
          i.chi-icon.icon-chevron-down(aria-hidden="true")
      .chi-accordion__item.-expanded
        button.chi-accordion__trigger
          .chi-accordion__title
            | Accordion 4
          i.chi-icon.icon-chevron-down(aria-hidden="true")
        .chi-accordion__content
          .chi-icon.-mr--2
              svg
                use(xlink:href='#icon-arrow-right')
          | Some custom content here
      .chi-accordion__item
        button.chi-accordion__trigger
          .chi-accordion__title
            | Accordion 5 with very large title to test not truncated. Accordion 5 with very 
            | large title to test not truncated. Accordion 5 with very large title to test not truncated.
            | Accordion 5 with very large title to test not truncated. Accordion 5 with very large title to test not truncated.
          i.chi-icon.icon-chevron-down(aria-hidden="true")

  h3 Portal layout card
  .test-accordion-portal-layout-card.-w--100
    .chi-accordion.-card.-xl
      .chi-accordion__item
        button.chi-accordion__trigger
          i.chi-icon.icon-chevron-down(aria-hidden="true")
          .chi-accordion__title
            | Accordion 1
      .chi-accordion__item.-expanded
        button.chi-accordion__trigger
          i.chi-icon.icon-chevron-down(aria-hidden="true")
          .chi-accordion__title
            | Accordion 2
        .chi-accordion__content
          p.chi-accordion__text Item content 2
      .chi-accordion__item
        button.chi-accordion__trigger.-disabled
          i.chi-icon.icon-chevron-down(aria-hidden="true")
          .chi-accordion__title
            | Accordion 3
      .chi-accordion__item.-expanded
        button.chi-accordion__trigger
          i.chi-icon.icon-chevron-down(aria-hidden="true")
          .chi-accordion__title
            | Accordion 4
        .chi-accordion__content
          .chi-icon.-mr--2
            svg
              use(xlink:href='#icon-arrow-right')
          | Some custom content here
      .chi-accordion__item
        button.chi-accordion__trigger
          i.chi-icon.icon-chevron-down(aria-hidden="true")
          .chi-accordion__title
            | Accordion 5 with very large title to test not truncated. Accordion 5 with very 
            | large title to test not truncated. Accordion 5 with very large title to test not truncated.
            | Accordion 5 with very large title to test not truncated. Accordion 5 with very large title to test not truncated.

  h3 Accordion type link
  .test-accordion-link.-w--100 
    .chi-accordion.-md.-link
      .chi-accordion__item
        button.chi-accordion__trigger
          a.chi-link.-no-underline
            span Accordion 1
          i.chi-icon.icon-chevron-down(aria-hidden="true")
      .chi-accordion__item.-expanded
        button.chi-accordion__trigger
          .chi-link.-no-underline
            span Accordion 2
          i.chi-icon.icon-chevron-down(aria-hidden="true")
        .chi-accordion__content
          p.chi-accordion__text Item content 2
      .chi-accordion__item
        button.chi-accordion__trigger.-disabled
          .chi-link.-no-underline
            span Accordion 3
          i.chi-icon.icon-chevron-down(aria-hidden="true")
      .chi-accordion__item.-expanded
        button.chi-accordion__trigger
          .chi-link.-no-underline
            span Accordion 4
          i.chi-icon.icon-chevron-down(aria-hidden="true")
        .chi-accordion__content
          .chi-icon.-mr--2
            svg
              use(xlink:href='#icon-arrow-right')
          | Some custom content here
      .chi-accordion__item
        button.chi-accordion__trigger
          .chi-link.-no-underline
            | Accordion 5 with very large title to test not truncated. Accordion 5 with very 
            | large title to test not truncated. Accordion 5 with very large title to test not truncated.
            | Accordion 5 with very large title to test not truncated. Accordion 5 with very large title to test not truncated.
          i.chi-icon.icon-chevron-down(aria-hidden="true")
