extends ../layout.pug

block scripts
  script(src='../../js/chi.js')
  script(src='../../chi-icons.js')
  script(src='../../chi-marketing-icons.js')

block variables
  - var title = 'Dropdown Select'

block content
  span.-text--h2 With button icons
  .test-dropdown-select-button-icon(style='width: 500px; height: 200px;')
    .chi-dropdown.-active(style="margin-bottom: 8em")
      button(class='chi-button chi-dropdown__trigger chi-dropdown__select-mode -active -animate -fluid -focus') Item 1
      div(class='chi-dropdown__menu -z--10 -active -fluid')
        .chi-dropdown__menu-wrapper.-active
          a(class='chi-dropdown__menu-item -active', href='#') Item 1
          button(class='chi-button -flat -icon -sm')
            .chi-button__content
              .chi-icon
                svg
                  use(xlink:href='#icon-delete')
        .chi-dropdown__menu-wrapper
          a(class='chi-dropdown__menu-item', href='#') Item 2
          button(class='chi-button -flat -icon -sm')
            .chi-button__content
              .chi-icon
                svg
                  use(xlink:href='#icon-delete')
        .chi-dropdown__menu-wrapper
          a(class='chi-dropdown__menu-item', href='#') Item 3
          button(class='chi-button -flat -icon -sm')
            .chi-button__content
              .chi-icon
                svg
                  use(xlink:href='#icon-delete')
