extends ../layout.pug

block variables
  - var title = 'Expansion Panel'
 
block content
  .chi-grid.-no-gutter.-w--100
    .chi-col.-w--12.-w-xl--6.-pb--4.-px--4
      h2 Base
      .test-expansion-panel-base.-w--100.-bg--none
        .chi-epanel.-done(data-chi-epanel-group='example1')
          .chi-epanel__header
            .chi-epanel__number 1.
            .chi-epanel__title Done state
            .chi-epanel__content
              .chi-epanel__collapse
                .-done--only
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  | Pellentesque ac tellus sed tellus tempus consectetur.
                  | Quisque mattis sapien sem, vitae luctus leo gravida in.
            .chi-epanel__action.-done--only
              button.chi-button.-primary.-flat Edit
        .chi-epanel.-active(data-chi-epanel-group='example1')
          .chi-epanel__header
            .chi-epanel__number 2.
            .chi-epanel__title Active state
          .chi-epanel__collapse
            .-active--only
              .chi-epanel__body
                .chi-epanel__content
                  .chi-epanel__subtitle Active
                  p.chi-epanel__text Active content in expansion panel.
                .chi-epanel__footer.-justify-content--end
                  button.chi-button.-primary.-flat Cancel
                  button.chi-button(data-chi-epanel-action='previous') Previous
                  button.chi-button(data-chi-epanel-action='next').-primary Continue
        .chi-epanel(data-chi-epanel-group='example1')
          .chi-epanel__header
            .chi-epanel__number 3.
            .chi-epanel__title Pending state
        .chi-epanel.-disabled(data-chi-epanel-group='example1')
          .chi-epanel__header
            .chi-epanel__number 4.
            .chi-epanel__title Disabled state

    .chi-col.-w--12.-w-xl--6.-pb--4.-px--4
      h2 Base / State Icon
      .test-expansion-panel-state-icon.-w--100.-bg--none
        .chi-epanel.-done.-state-icon(data-chi-epanel-group='example2')
          .chi-epanel__header
            i.chi-icon.-icon--success.icon-circle-check.-sm--2.-state
            .chi-epanel__number 1.
            .chi-epanel__title Done state
            .chi-epanel__content
              .chi-epanel__collapse
                .-done--only
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  | Pellentesque ac tellus sed tellus tempus consectetur.
                  | Quisque mattis sapien sem, vitae luctus leo gravida in.
            .chi-epanel__action.-done--only
              button.chi-button.-primary.-flat Edit
        .chi-epanel.-active.-state-icon(data-chi-epanel-group='example2')
          .chi-epanel__header
            i.chi-icon.-icon--success.icon-circle-check.-sm--2.-state
            .chi-epanel__number 2.
            .chi-epanel__title Active state
          .chi-epanel__collapse
            .-active--only
              .chi-epanel__body
                .chi-epanel__content
                  .chi-epanel__subtitle Active
                  p.chi-epanel__text Active content in expansion panel.
                .chi-epanel__footer.-justify-content--end
                  button.chi-button.-primary.-flat Cancel
                  button.chi-button(data-chi-epanel-action='previous') Previous
                  button.chi-button(data-chi-epanel-action='next').-primary Continue
        .chi-epanel.-state-icon(data-chi-epanel-group='example2')
          .chi-epanel__header
            i.chi-icon.-icon--success.icon-circle-check.-sm--2.-state
            .chi-epanel__number 3.
            .chi-epanel__title Pending state
        .chi-epanel.-disabled.-state-icon(data-chi-epanel-group='example2')
          .chi-epanel__header
            i.chi-icon.-icon--success.icon-circle-check.-sm--2.-state
            .chi-epanel__number 4.
            .chi-epanel__title Disabled state

    .chi-col.-w--12.-w-xl--6.-pb--4.-px--4
      h2 No Step Number
      .test-expansion-panel-no-step.-w--100.-bg--none
        .chi-epanel.-done.-no-step(data-chi-epanel-group='example3')
          .chi-epanel__header
            .chi-epanel__title Done state
            .chi-epanel__content
              .chi-epanel__collapse
                .-done--only
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  | Pellentesque ac tellus sed tellus tempus consectetur.
                  | Quisque mattis sapien sem, vitae luctus leo gravida in.
            .chi-epanel__action.-done--only
              button.chi-button.-primary.-flat Edit
        .chi-epanel.-active.-no-step(data-chi-epanel-group='example3')
          .chi-epanel__header
            .chi-epanel__title Active state
          .chi-epanel__collapse
            .-active--only
              .chi-epanel__body
                .chi-epanel__content
                  .chi-epanel__subtitle Active
                  p.chi-epanel__text Active content in expansion panel.
                .chi-epanel__footer.-justify-content--end
                  button.chi-button.-primary.-flat Cancel
                  button.chi-button(data-chi-epanel-action='previous') Previous
                  button.chi-button(data-chi-epanel-action='next').-primary Continue
        .chi-epanel.-no-step(data-chi-epanel-group='example3')
          .chi-epanel__header
            .chi-epanel__title Pending state
        .chi-epanel.-disabled.-no-step(data-chi-epanel-group='example3')
          .chi-epanel__header
            .chi-epanel__title Disabled state

    .chi-col.-w--12.-w-xl--6.-pb--4.-px--4
      h2 No Step Number / State Icon
      .test-expansion-panel-no-step-state-icon.-w--100.-bg--none
        .chi-epanel.-done.-state-icon.-no-step(data-chi-epanel-group='example4')
          .chi-epanel__header
            i.chi-icon.-icon--success.icon-circle-check.-sm--2.-state
            .chi-epanel__title Done state
            .chi-epanel__content
              .chi-epanel__collapse
                .-done--only
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  | Pellentesque ac tellus sed tellus tempus consectetur.
                  | Quisque mattis sapien sem, vitae luctus leo gravida in.
            .chi-epanel__action.-done--only
              button.chi-button.-primary.-flat Edit
        .chi-epanel.-active.-state-icon.-no-step(data-chi-epanel-group='example4')
          .chi-epanel__header
            .chi-epanel__title Active state
          .chi-epanel__collapse
            .-active--only
              .chi-epanel__body
                .chi-epanel__content
                  .chi-epanel__subtitle Active
                  p.chi-epanel__text Active content in expansion panel.
                .chi-epanel__footer.-justify-content--end
                  button.chi-button.-primary.-flat Cancel
                  button.chi-button(data-chi-epanel-action='previous') Previous
                  button.chi-button(data-chi-epanel-action='next').-primary Continue
        .chi-epanel.-state-icon.-no-step(data-chi-epanel-group='example4')
          .chi-epanel__header
            .chi-epanel__title Pending state
        .chi-epanel.-disabled.-state-icon.-no-step(data-chi-epanel-group='example4')
          .chi-epanel__header
            .chi-epanel__title Disabled state

    .chi-col.-w--12.-w-xl--6.-pb--4.-px--4
      h2 Bordered
      .test-expansion-panel-bordered.-w--100.-bg--none
        .chi-epanel.-done.-bordered(data-chi-epanel-group='example5')
          .chi-epanel__header
            .chi-epanel__number 1.
            .chi-epanel__title Done state
            .chi-epanel__content
              .chi-epanel__collapse
                .-done--only
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  | Pellentesque ac tellus sed tellus tempus consectetur.
                  | Quisque mattis sapien sem, vitae luctus leo gravida in.
            .chi-epanel__action.-done--only
              button.chi-button.-primary.-flat Edit
        .chi-epanel.-active.-bordered(data-chi-epanel-group='example5')
          .chi-epanel__header
            .chi-epanel__number 2.
            .chi-epanel__title Active state
          .chi-epanel__collapse
            .-active--only
              .chi-epanel__body
                .chi-epanel__content
                  .chi-epanel__subtitle Active
                  p.chi-epanel__text Active content in expansion panel.
                .chi-epanel__footer.-justify-content--end
                  button.chi-button.-primary.-flat Cancel
                  button.chi-button(data-chi-epanel-action='previous') Previous
                  button.chi-button(data-chi-epanel-action='next').-primary Continue
        .chi-epanel.-bordered(data-chi-epanel-group='example5')
          .chi-epanel__header
            .chi-epanel__number 3.
            .chi-epanel__title Pending state
        .chi-epanel.-disabled.-bordered(data-chi-epanel-group='example5')
          .chi-epanel__header
            .chi-epanel__number 4.
            .chi-epanel__title Disabled state

    .chi-col.-w--12.-w-xl--6.-pb--4.-px--4
      h2 Bordered / State Icon
      .test-expansion-panel-bordered-state-icon.-w--100.-bg--none
        .chi-epanel.-done.-state-icon.-bordered(data-chi-epanel-group='example6')
          .chi-epanel__header
            i.chi-icon.-icon--success.icon-circle-check.-sm--2.-state
            .chi-epanel__number 1.
            .chi-epanel__title Done state
            .chi-epanel__content
              .chi-epanel__collapse
                .-done--only
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  | Pellentesque ac tellus sed tellus tempus consectetur.
                  | Quisque mattis sapien sem, vitae luctus leo gravida in.
            .chi-epanel__action.-done--only
              button.chi-button.-primary.-flat Edit
        .chi-epanel.-active.-state-icon.-bordered(data-chi-epanel-group='example6')
          .chi-epanel__header
            i.chi-icon.-icon--success.icon-circle-check.-sm--2.-state
            .chi-epanel__number 2.
            .chi-epanel__title Active state
          .chi-epanel__collapse
            .-active--only
              .chi-epanel__body
                .chi-epanel__content
                  .chi-epanel__subtitle Active
                  p.chi-epanel__text Active content in expansion panel.
                .chi-epanel__footer.-justify-content--end
                  button.chi-button.-primary.-flat Cancel
                  button.chi-button(data-chi-epanel-action='previous') Previous
                  button.chi-button(data-chi-epanel-action='next').-primary Continue
        .chi-epanel.-state-icon.-bordered(data-chi-epanel-group='example6')
          .chi-epanel__header
            i.chi-icon.-icon--success.icon-circle-check.-sm--2.-state
            .chi-epanel__number 3.
            .chi-epanel__title Pending state
        .chi-epanel.-disabled.-state-icon.-bordered(data-chi-epanel-group='example6')
          .chi-epanel__header
            i.chi-icon.-icon--success.icon-circle-check.-sm--2.-state
            .chi-epanel__number 4.
            .chi-epanel__title Disabled state

    .chi-col.-w--12.-w-xl--6.-pb--4.-px--4
      h2 Bordered / No Step Number
      .test-expansion-panel-bordered-no-step.-w--100.-bg--none
        .chi-epanel.-done.-no-step.-bordered(data-chi-epanel-group='example7')
          .chi-epanel__header
            .chi-epanel__title Done state
            .chi-epanel__content
              .chi-epanel__collapse
                .-done--only
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  | Pellentesque ac tellus sed tellus tempus consectetur.
                  | Quisque mattis sapien sem, vitae luctus leo gravida in.
            .chi-epanel__action.-done--only
              button.chi-button.-primary.-flat Edit
        .chi-epanel.-active.-no-step.-bordered(data-chi-epanel-group='example7')
          .chi-epanel__header
            .chi-epanel__title Active state
          .chi-epanel__collapse
            .-active--only
              .chi-epanel__body
                .chi-epanel__content
                  .chi-epanel__subtitle Active
                  p.chi-epanel__text Active content in expansion panel.
                .chi-epanel__footer.-justify-content--end
                  button.chi-button.-primary.-flat Cancel
                  button.chi-button(data-chi-epanel-action='previous') Previous
                  button.chi-button(data-chi-epanel-action='next').-primary Continue
        .chi-epanel.-no-step.-bordered(data-chi-epanel-group='example7')
          .chi-epanel__header
            .chi-epanel__title Pending state
        .chi-epanel.-disabled.-no-step.-bordered(data-chi-epanel-group='example7')
          .chi-epanel__header
            .chi-epanel__title Disabled state

    .chi-col.-w--12.-w-xl--6.-pb--4.-px--4
      h2 Bordered / No Step Number / State Icon
      .test-expansion-panel-bordered-no-step-state-icon.-w--100.-bg--none
        .chi-epanel.-done.-state-icon.-no-step.-bordered(data-chi-epanel-group='example8')
          .chi-epanel__header
            i.chi-icon.-icon--success.icon-circle-check.-sm--2.-state
            .chi-epanel__title Done state
            .chi-epanel__content
              .chi-epanel__collapse
                .-done--only
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  | Pellentesque ac tellus sed tellus tempus consectetur.
                  | Quisque mattis sapien sem, vitae luctus leo gravida in.
            .chi-epanel__action.-done--only
              button.chi-button.-primary.-flat Edit
        .chi-epanel.-active.-state-icon.-no-step.-bordered(data-chi-epanel-group='example8')
          .chi-epanel__header
            .chi-epanel__title Active state
          .chi-epanel__collapse
            .-active--only
              .chi-epanel__body
                .chi-epanel__content
                  .chi-epanel__subtitle Active
                  p.chi-epanel__text Active content in expansion panel.
                .chi-epanel__footer.-justify-content--end
                  button.chi-button.-primary.-flat Cancel
                  button.chi-button(data-chi-epanel-action='previous') Previous
                  button.chi-button(data-chi-epanel-action='next').-primary Continue
        .chi-epanel.-state-icon.-no-step.-bordered(data-chi-epanel-group='example8')
          .chi-epanel__header
            .chi-epanel__title Pending state
        .chi-epanel.-disabled.-state-icon.-no-step.-bordered(data-chi-epanel-group='example8')
          .chi-epanel__header
            .chi-epanel__title Disabled state
