extends ../layout.pug

block scripts
  script(src='../../js/ce/ux-chi-ce/ux-chi-ce.js')
  script(src='../../js/chi.js')
  script(src='../../chi-icons.js')
  script(src='../../chi-marketing-icons.js')
block variables
  - var title = 'Label'

block content
  h3 Base
  .test-label-base.-w--100
    .test-label-base-xs.-w--100
        label.chi-label.-xs Label
    .test-label-base-sm.-w--100
        label.chi-label.-sm Label
    .test-label-base-md.-w--100
        label.chi-label.-md Label
    .test-label-base-lg.-w--100
        label.chi-label.-lg Label
    .test-label-base-xl.-w--100
        label.chi-label.-xl Label

  h3 Required
  .test-label-required.-w--100
    .test-label-required-xs.-w--100
      label.chi-label.-xs
        | Label
        abbr.chi-label__required(aria-label='Required field') *
    .test-label-required-sm.-w--100
      label.chi-label.-sm
        | Label
        abbr.chi-label__required(aria-label='Required field') *
    .test-label-required-md.-w--100
      label.chi-label.-md
        | Label
        abbr.chi-label__required(aria-label='Required field') *
    .test-label-required-lg.-w--100
      label.chi-label.-lg
        | Label
        abbr.chi-label__required(aria-label='Required field') *
    .test-label-required-xl.-w--100
      label.chi-label.-xl
        | Label
        abbr.chi-label__required(aria-label='Required field') *

  h3 Optional
  .test-label-optional.-w--100
    .test-label-optional-xs.-w--100
      label.chi-label.-xs
        | Label
        abbr.chi-label__optional(aria-label='Optional field') (optional)
    .test-label-optional-sm.-w--100
      label.chi-label.-sm
        | Label
        abbr.chi-label__optional(aria-label='Optional field') (optional)
    .test-label-optional-md.-w--100
      label.chi-label.-md
        | Label
        abbr.chi-label__optional(aria-label='Optional field') (optional)
    .test-label-optional-lg.-w--100
      label.chi-label.-lg
        | Label
        abbr.chi-label__optional(aria-label='Optional field') (optional)
    .test-label-optional-xl.-w--100
      label.chi-label.-xl
        | Label
        abbr.chi-label__optional(aria-label='Optional field') (optional)

  h3 Info Icon Message
  .test-label-info-icon-message.-w--100
    .test-label-info-icon-message-xs.-w--100
      label.chi-label.-xs
        | Label
        .chi-label__help
          button.chi-button.-icon.-xs.-flat(id="example__help-button" aria-label="Help" data-target="#example__help-popover" data-position="bottom")
            .chi-icon
              svg(xmlns='http://www.w3.org/2000/svg' aria-hidden='true')
                use.sc-chi-icon(xlink:href='#icon-circle-info-outline')
          section.chi-popover.chi-popover--bottom(id="example__help-popover" aria-modal="true" role="dialog")
            .chi-popover__content
              p.chi-popover__text
                | Helpful information goes here.
    .test-label-info-icon-message-sm.-w--100
      label.chi-label.-sm
        | Label
        .chi-label__help
          button.chi-button.-icon.-xs.-flat(id="example__help-button" aria-label="Help" data-target="#example__help-popover" data-position="bottom")
            .chi-icon
              svg(xmlns='http://www.w3.org/2000/svg' aria-hidden='true')
                use.sc-chi-icon(xlink:href='#icon-circle-info-outline')
          section.chi-popover.chi-popover--bottom(id="example__help-popover" aria-modal="true" role="dialog")
            .chi-popover__content
              p.chi-popover__text
                | Helpful information goes here.
    .test-label-info-icon-message-md.-w--100
      label.chi-label.-md
        | Label
        .chi-label__help
          button.chi-button.-icon.-xs.-flat(id="example__help-button" aria-label="Help" data-target="#example__help-popover" data-position="bottom")
            .chi-icon
              svg(xmlns='http://www.w3.org/2000/svg' aria-hidden='true')
                use.sc-chi-icon(xlink:href='#icon-circle-info-outline')
          section.chi-popover.chi-popover--bottom(id="example__help-popover" aria-modal="true" role="dialog")
            .chi-popover__content
              p.chi-popover__text
                | Helpful information goes here.
    .test-label-info-icon-message-lg.-w--100
      label.chi-label.-lg
        | Label
        .chi-label__help
          button.chi-button.-icon.-xs.-flat(id="example__help-button" aria-label="Help" data-target="#example__help-popover" data-position="bottom")
            .chi-icon
              svg(xmlns='http://www.w3.org/2000/svg' aria-hidden='true')
                use.sc-chi-icon(xlink:href='#icon-circle-info-outline')
          section.chi-popover.chi-popover--bottom(id="example__help-popover" aria-modal="true" role="dialog")
            .chi-popover__content
              p.chi-popover__text
                | Helpful information goes here.
    .test-label-info-icon-message-xl.-w--100
      label.chi-label.-xl
        | Label
        .chi-label__help
          button.chi-button.-icon.-xs.-flat(id="example__help-button" aria-label="Help" data-target="#example__help-popover" data-position="bottom")
            .chi-icon
              svg(xmlns='http://www.w3.org/2000/svg' aria-hidden='true')
                use.sc-chi-icon(xlink:href='#icon-circle-info-outline')
          section.chi-popover.chi-popover--bottom(id="example__help-popover" aria-modal="true" role="dialog")
            .chi-popover__content
              p.chi-popover__text
                | Helpful information goes here.
