extends ../layout.pug

block scripts
  script(src='../../js/chi.js')
  script(src='../../chi-icons.js')
  script(src='../../chi-marketing-icons.js')
block variables
  - var title = 'Tags'
  - var tags = ['Some tag', 'Another tag']
  - var aLotOfTags = ['Some tag', 'Another tag', 'Wonder tag', 'Some more tag', 'Lumen', 'Centurylink', '512Gb', 'Xeon']

block content
  mixin getTag(content)
    li
      .chi-tag
        .chi-badge
          span=content
            button(class=`chi-button -icon -close -xs`, aria-label='Close')
              .chi-button__content
                .chi-icon
                  svg
                    use(xlink:href='#icon-x')

  .test-base.-w--50.-mb--2.-pb--1
    span.-text--h2 Base
    ul.chi-tags
      li.chi-tags__input 
        input(type="text" placeholder="Add tag" size="8")

  .test-with-tags.-w--50.-mb--2.-pb--1
    span.-text--h2 With tags
    ul.chi-tags
      each tag in tags
        +getTag(tag)
      li.chi-tags__input 
        input(type="text" placeholder="Add tag" size="8")

  .test-with-overflow-tags.-w--30.-mb--2.-pb--1
    span.-text--h2 With overflow tags
    ul.chi-tags
      each tag in aLotOfTags
        +getTag(tag)
      li.chi-tags__input 
        input(type="text" placeholder="Add tag" size="8")

  .test-with-tags-focused.-w--50.-mb--2.-pb--1
    span.-text--h2 With tags focused
    ul.chi-tags.-focus
      each tag in tags
        +getTag(tag)
      li.chi-tags__input 
        input(type="text" placeholder="Add tag" size="8")

  .test-with-tags-hover.-w--50.-mb--2.-pb--1
    span.-text--h2 With tags hover
    ul.chi-tags.-hover
      each tag in tags
        +getTag(tag)
      li.chi-tags__input 
        input(type="text" placeholder="Add tag" size="8")
