.chi-filters {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .chi-drawer {
    width: $filters-drawer-width;

    .chi-drawer__header {
      border-bottom: $filters-drawer-header-border;
      margin-bottom: $filters-drawer-header-margin-bottom;
    }

    .chi-drawer__content {
      flex-grow: 0;

      & > .chi-form__item {
        &:not(:last-child) {
          margin-bottom: $filters-content-item-margin-bottom;
        }
      }

      .chi-link {
        margin-top: $filters-content-link-margin-top;
      }
    }

    .chi-drawer__footer {
      chi-button:not(:last-child) {
        .chi-button {
          margin-right: $filters-footer-button-margin-right;
        }
      }
    }
  }

  .chi-badge {
    padding: $filters-badge-padding;
  }

  .chi-filters-location {
    .chi-filter-location-field {
      display: $filters-location-field-display;
      flex-direction: $filters-location-field-flex-direction;

      .chi-divider {
        margin: $filters-location-field-divider-margin;
      }

      chi-button[variant='flat']:not([type='icon']) {
        margin: $filters-location-field-add-button-margin;
      }
    }

    .chi-filter-location-row {
      gap: $filters-location-row-gap;
      margin-bottom: $filters-location-row-margin-bottom;
    }
  }

  &__trigger-button {
    margin-left: $filters-drawer-trigger-button-margin-left;
  }
}
