@import 'components/icons/webfont-font-face';
:host(chi-number-input) {
  @import '../../global/styles/common';
  @import 'components/input-number/input-number';
  @import 'components/buttons/_button-groups-variables';
  @import 'components/buttons/_horizontal-button-groups';
  @import 'components/buttons/_vertical-button-groups';
  @import 'components/buttons/button-groups';
  @import 'components/buttons/buttons';
  
  display: inline-flex !important;
  position: relative;
  vertical-align: middle;

  &:not([expanded]) > div > button:first-of-type {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4.002L7.999 12H8l8-7.998L15.999 4H0v.002' fill='%23333' fill-rule='evenodd'/%3E%3C/svg%3E") !important;
  }

  &:not([expanded]) > div > button:last-of-type {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 12H0l8-8z' fill='%23333' fill-rule='evenodd'/%3E%3C/svg%3E") !important;
  }
}
