@import 'variables';
@import 'mixins';

.chi {
  select {
    &.a-input {
      appearance: none;
      background-color: set-color(grey, 100);
      background-image: url('./icon-triangle-down.svg');
      background-position: right 8px center;
      background-repeat: no-repeat;
      background-size: 12px 12px;
      border: 0.125rem solid set-color(grey, 600);
      border-radius: 3px;
      color: set-color(carbon, 500);
      cursor: pointer;
      cursor: hand; // sass-lint:disable-line no-duplicate-properties
      font-size: 1.625rem;
      height: 4rem;
      line-height: 2rem;
      outline: none;
      padding-left: 1.5rem;
      padding-right: 3.375rem;
      width: 100%;

      // sass-lint:disable no-vendor-prefixes
      &::-ms-expand {
        display: none;
      }

      &::-moz-focus-outer,
      &::-moz-focus-inner {
        border: 0;
      }
      // sass-lint:enable no-vendor-prefixes

      &:hover,
      &.-hover {
        border-color: set-color(grey, 800);
        box-shadow: 0 1px 4px 0 rgba(set-color(carbon, 800), 0.15);
      }

      &:active,
      &.-active {
        background-color: set-color(grey, 400);
        border-color: set-color(grey, 800);
        box-shadow: inset 0 2px 2px 0 rgba(set-color(carbon, 800), 0.1);
      }

      &:focus,
      &.-focus {
        border: 0.125rem solid set-color(grey, 800);
        box-shadow: 0 0 0 3px rgba(set-color(grey, 600), 0.6);
      }

      &[disabled] {
        opacity: 0.6;
        pointer-events: none;
      }

      &.-small {
        font-size: 1.375rem;
        height: 3rem;
      }

      &.-large {
        font-size: 2rem;
        height: 5rem;
        line-height: 3rem;
      }

      &:not([disabled]) {
        &.-danger {
          border-color: set-color(map-get($state-colors, 'danger'), 500);
        }
      }

      &.-danger {
        color: set-color(carbon, 500);

        &:focus,
        &.-focus {
          box-shadow: 0 0 0 3px rgba(set-color(map-get($state-colors, 'danger'), 500), 0.2);
        }
      }
    }
  }
}
