@import '_variables';
@import '_mixins';
@import '_input-text-variables';

input {
  &[type='date'],
  &[type='datetime'],
  &[type='datetime-local'],
  &[type='email'],
  &[type='month'],
  &[type='password'],
  &[type='search'],
  &[type='tel'],
  &[type='text'],
  &[type='time'],
  &[type='url'],
  &[type='week'] {
    &.chi-input {
      border: 0.0625rem solid set-color(grey, 30);
      color: $text-color;
      display: block;
      font-size: map-get(map-get($sizes, md), font-size);
      height: map-get(map-get($sizes, md), height);
      line-height: map-get(map-get($sizes, md), line-height);
      outline: none;
      padding: map-get(map-get($sizes, md), padding);
      transition: all 0.15s ease-in-out;
      width: 100%;

      &::placeholder {
        color: set-color(grey, 50);
      }

      &:hover,
      &.-hover {
        border-color: set-color(grey, 40);
      }

      &:focus,
      &.-focus {
        border-color: $focus-color;
        box-shadow: 0 0 0 1px rgba($focus-color, 1);
      }

      &[disabled],
      &.-disabled {
        background-color: set-color(grey, 10);
        border-color: set-color(grey, 30);
        color: set-color(grey, 90);
      }

      //Remove ie11,edge clear field
      &::-ms-clear {
        display: none;
      }

      @each $type in map-keys($sizes) {
        &.-#{$type} {
          font-size: map-get(map-get($sizes, $type), font-size);
          height: map-get(map-get($sizes, $type), height);
          line-height: map-get(map-get($sizes, $type), line-height);
          padding: map-get(map-get($sizes, $type), padding);

          .chi-icon {
            height: map-get(map-get(map-get($sizes, $type), icons), height);
            width: map-get(map-get(map-get($sizes, $type), icons), width);

            &[class^='icon-'],
            &[class*=' icon-'] {
              font-size: map-get(map-get($sizes, $type), font-size);
              line-height: map-get(map-get($sizes, $type), line-height);
            }
          }
        }
      }

      @each $type in map-keys($state-colors) {
        &:not([disabled]) {
          &.-#{$type} {
            border-color: set-color(map-get($state-colors, $type), 55);
          }
        }

        &.-#{$type} {
          color: set-color(grey, 90);

          &:focus,
          &.-focus {
            box-shadow: 0 0 0 1px rgba(set-color(map-get($state-colors, $type), 55), 1);
          }
        }
      }
    }
  }
}
