@import '_global-variables';
@import '_global-mixins';

.chi-search {
  &__input {
    ~ .chi-button.-icon,
    ~ chi-button {
      &[variant='flat'],
      &[type='close'],
      &.-flat,
      &.-close {
        position: absolute;
      }

      &.-flat,
      &[variant='flat'] {
        right: 0;
        top: $search-input-md-icon-top;

        &:active {
          box-shadow: $search-input-icon-active-box-shadow;
          background-color: $search-input-icon-active-background-color;
        }

        &.-disabled {
          background-color: $search-input-icon-disabled-background-color;
        }
      }

      &[type='close']:not([disabled]),
      &.-close:not(.-disabled) {
        right: $search-input-md-close-right;
        top: $search-input-md-close-top;

        &:active {
          background-color: $search-input-icon-active-background-color;
          box-shadow: $search-input-icon-active-box-shadow;
        }
      }
    }

    // sass-lint:disable-block no-vendor-prefixes
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}

.chi-input__wrapper {
  &.-icon--right {
    input {
      &[type='search'] {
        &.chi-search__input {
          padding-right: 3.75rem;

          &.-xs {
            padding-right: 3.5rem;

            ~ .chi-button.-icon,
            ~ chi-button {
              &.-flat,
              &[variant='flat'] {
                right: 0.25rem;
                top: $search-input-xs-icon-top;
              }

              &.-close,
              &[type='close'] {
                right: $search-input-xs-close-right;
                top: $search-input-xs-close-top;
              }
            }
          }

          &.-sm {
            padding-right: 3.5rem;

            ~ .chi-button.-icon,
            ~ chi-button {
              &.-flat,
              &[variant='flat'] {
                right: 0.25rem;
                top: $search-input-sm-icon-top;
              }

              &.-close,
              &[type='close'] {
                right: $search-input-sm-close-right;
                top: $search-input-sm-close-top;
              }
            }
          }

          &.-lg {
            ~ .chi-button.-icon,
            ~ chi-button {
              top: $search-input-lg-icon-top;

              &.-close,
              &[type='close'] {
                right: $search-input-lg-close-right;
                top: $search-input-lg-close-top;
              }
            }
          }

          &.-xl {
            ~ .chi-button.-icon,
            ~ chi-button {
              top: $search-input-xl-icon-top;

              &.-close,
              &[type='close'] {
                right: $search-input-xl-close-right;
                top: $search-input-xl-close-top;
              }
            }
          }
        }
      }
    }
  }
}

chi-search-input {
  ~ chi-dropdown {
    .chi-dropdown__menu {
      &.-active {
        position: absolute;
      }
    }
  }

  &:not([value='']) {
    .chi-dropdown__menu-item {
      font-weight: $search-input-menu-item-font-weight;
    }
  }

  .chi-dropdown__menu-item {
    white-space: pre;

    .-highlight {
      background: $search-input-highlight-background;
      border: $search-input-highlight-border;
      border-radius: $search-input-highlight-border-radius;
      box-shadow: $search-input-highlight-box-shadow;
      font-weight: $search-input-menu-item-font-weight-highlight;
    }
  }
}
