$sizes: (
  sm: (
    height: 0.75rem,
    top: 0.375rem,
    width: 0.75rem,
    spinner: (
      right: 0.75rem,
      top: 0.375rem,
    ),
  ),
  small: (
    height: 0.75rem,
    top: 0.375rem,
    width: 0.75rem,
    spinner: (
      right: 0.75rem,
      top: 0.375rem,
    ),
  ),
  md: (
    height: 1rem,
    top: 0.5rem,
    width: 1rem,
    spinner: (
      right: 0.75rem,
      top: 0.5rem,
    ),
  ),
  lg: (
    height: 1rem,
    top: 0.75rem,
    width: 1rem,
    spinner: (
      right: 0.625rem,
      top: 0.625rem,
    ),
  ),
  large: (
    height: 1rem,
    top: 0.75rem,
    width: 1rem,
    spinner: (
      right: 0.625rem,
      top: 0.625rem,
    ),
  ),
  xl: (
    height: 1rem,
    top: 1rem,
    width: 1rem,
    spinner: (
      right: 0.75rem,
      top: 0.75rem,
    ),
  )
);

.a-inputWrapper,
.m-input__wrapper {
  input {
    &[type='date'],
    &[type='datetime'],
    &[type='datetime-local'],
    &[type='email'],
    &[type='month'],
    &[type='password'],
    &[type='search'],
    &[type='tel'],
    &[type='text'],
    &[type='time'],
    &[type='url'],
    &[type='week'] {
      &.chi-input {

        & ~ .chi-icon {
          height: 1rem;
          position: absolute;
          top: 0.5rem;
          width: 1rem;
        }

        & ~ .chi-spinner {
          position: absolute;
          right: 0.75rem;
          top: 0.5rem;
        }

        @each $type in map-keys($sizes) {
          &.-#{$type} {
            & ~ .chi-icon {
              height: map-get(map-get($sizes, $type), height);
              top: map-get(map-get($sizes, $type), top);
              width: map-get(map-get($sizes, $type), width);
            }

            & ~ .chi-spinner {
              right: map-get(map-get(map-get($sizes, $type), spinner), right);
              top: map-get(map-get(map-get($sizes, $type), spinner), top);
            }
          }
        }
      }
    }
  }

  &.-icon--left {
    input {
      &[type='date'],
      &[type='datetime'],
      &[type='datetime-local'],
      &[type='email'],
      &[type='month'],
      &[type='password'],
      &[type='search'],
      &[type='tel'],
      &[type='text'],
      &[type='time'],
      &[type='url'],
      &[type='week'] {
        &.chi-input {
          padding-left: 1.9375rem;

          &.-small,
          &.-sm {
            padding-left: 1.6875rem;
          }

          &.-md {
            padding-left: 1.9375rem;
          }

          &.-large,
          &.-lg,
          &.-xl {
            padding-left: 2.4375rem;

            & ~ .chi-icon {
              &:first-of-type {
                left: 0.75rem;
              }
            }
          }

          & ~ .chi-icon {
            &:first-of-type {
              left: 0.5rem;
            }
          }
        }
      }
    }
  }

  &.-icon--right {
    input {
      &[type='date'],
      &[type='datetime'],
      &[type='datetime-local'],
      &[type='email'],
      &[type='month'],
      &[type='password'],
      &[type='search'],
      &[type='tel'],
      &[type='text'],
      &[type='time'],
      &[type='url'],
      &[type='week'] {
        &.chi-input {
          padding-right: 1.9375rem;

          &.-small,
          &.-sm {
            padding-right: 1.6875rem;
          }

          &.-md {
            padding-right: 1.9375rem;
          }

          &.-large,
          &.-lg,
          &.-xl {
            padding-right: 2.4375rem;

            & ~ .chi-icon {
              &:last-of-type {
                right: 0.75rem;
              }
            }
          }

          & ~ .chi-icon {
            &:last-of-type {
              right: 0.5rem;
            }
          }
        }
      }
    }
  }
}
