
$sizes: (
  sm: (
    height: 1.5rem,
    font-size: 0.75rem,
    line-height: 0.75rem,
    padding: 0.3125rem 0.5rem,
    icons: (
      height: 0.75rem,
      padding: 0.375rem,
      width: 0.75rem,
    )
  ),
  md: (
    height: 2rem,
    font-size: $font-size-base,
    line-height: $line-height-sm,
    padding: 0.4375rem 0.75rem,
    icons: (
      height: 1rem,
      padding: 0.5rem,
      width: 1rem,
    )
  ),
  lg: (
    height: 2.5rem,
    font-size: 0.875rem,
    line-height: 1.25rem,
    padding: 0.5625rem 0.75rem,
    icons: (
      height: 1rem,
      padding: 0.75rem,
      width: 1rem,
    )
  ),
  xl: (
    height: 3rem,
    font-size: 0.875rem,
    line-height: 1.5rem,
    padding: 0.6875rem 0.75rem,
    icons: (
      height: 1rem,
      padding: 1rem,
      width: 1rem,
    )
  )
);
