@import '_variables';
@import '_mixins';
@import 'input-text-variables';

$label-font-size: 0.75rem;
$label-font-size-relaxed: 0.875rem;
$label-left: 0.6875rem+0.0625rem;
$sizes: (
  lg: (
    label-bottom: 0.9375rem,
    label-bottom-relaxed: 0.5rem,
    label-font-size: 0.75rem,
    label-font-size-relaxed: 0.875rem,
    label-line-height: 0.75rem,
    padding-bottom: 0.15625rem,
    padding-top: 0.96875rem
  ),
  xl: (
    label-bottom: 1.1875rem,
    label-bottom-relaxed: 0.75rem,
    label-font-size: 0.75rem,
    label-font-size-relaxed: 0.875rem,
    label-line-height: 1.5rem,
    padding-bottom: 0.25rem,
    padding-top: 1.125rem,
  )
);

.a-inputWrapper.-floatingLabel {
  & > input, & > select {
    @each $type in map-keys($sizes) {
      &.-#{$type} {
        padding-bottom: map-get(map-get($sizes, $type), padding-bottom);
        padding-top: map-get(map-get($sizes, $type), padding-top);

        & ~ label {
          bottom: map-get(map-get($sizes, $type), label-bottom-relaxed);
          pointer-events: none;

          &.-active {
            bottom: map-get(map-get($sizes, $type), label-bottom);
          }
        }
      }
    }

    &::placeholder {
      color: transparent;
    }

    & ~ label {
      color: set-color(grey, 50);
      font-size: $label-font-size-relaxed;
      font-weight: normal;
      left: $label-left;
      line-height: 1.5rem;
      margin-bottom: unset;
      position: absolute;
      transition: all 0.2s ease-in-out;

      &.-active {
        font-size: $label-font-size;
      }
    }
  }
}
