@import '_global-variables';
@import '_global-mixins';

.chi-search {
  &__input {
    ~ .chi-button,
    ~ chi-button {
      &.-icon {
        &.-flat,
        &.-close {
          position: absolute;
        }

        &.-flat {
          right: 0;
          top: $search-input-md-icon-top;
        }

        &.-close {
          right: $search-input-md-close-right;
          top: $search-input-md-close-top;
        }
      }
    }

    &[disabled],
    &.-disabled {
      ~ .chi-button,
      ~ chi-button {
        cursor: not-allowed;
      }
    }

    // sass-lint:disable-block no-vendor-prefixes
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}

.chi-input__wrapper {
  &.-icon--right {
    input {
      &[type='search'] {
        &.chi-search__input {
          padding-right: 3.75rem;

          &.-xs {
            padding-right: 3.5rem;

            ~ .chi-button,
            ~ chi-button {
              &.-icon {
                &.-flat {
                  right: 0.25rem;
                  top: $search-input-xs-icon-top;
                }

                &.-close {
                  right: $search-input-xs-close-right;
                  top: $search-input-xs-close-top;
                }
              }
            }
          }

          &.-sm {
            padding-right: 3.5rem;

            ~ .chi-button,
            ~ chi-button {
              &.-icon {
                &.-flat {
                  right: 0.25rem;
                  top: $search-input-sm-icon-top;
                }

                &.-close {
                  right: $search-input-sm-close-right;
                  top: $search-input-sm-close-top;
                }
              }
            }
          }

          &.-lg {
            ~ .chi-button,
            ~ chi-button {
              &.-icon {
                top: $search-input-lg-icon-top;

                &.-close {
                  right: $search-input-lg-close-right;
                  top: $search-input-lg-close-top;
                }
              }
            }
          }

          &.-xl {
            ~ .chi-button,
            ~ chi-button {
              &.-icon {
                top: $search-input-xl-icon-top;

                &.-close {
                  right: $search-input-xl-close-right;
                  top: $search-input-xl-close-top;
                }
              }
            }
          }
        }
      }
    }
  }
}
