@import '_global-variables';
@import '_global-mixins';

.chi-search {
  &__input {
    ~ .chi-button,
    ~ chi-button {
      &.-icon {
        &.-flat,
        &.-close {
          position: absolute;
        }

        &.-flat {
          right: 0.25rem;
          top: 0;
        }

        &.-close {
          right: 2.25rem;
          top: 0.25rem;
        }
      }
    }

    &[disabled],
    &.-disabled {
      ~ .chi-button,
      ~ chi-button {
        cursor: not-allowed;
      }
    }

    // sass-lint:disable-block no-vendor-prefixes
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}

.chi-input__wrapper {
  &.-icon--right {
    input {
      &[type='search'] {
        &.chi-search__input {
          padding-right: 3.75rem;

          &.-sm {
            padding-right: 3.375rem;

            ~ .chi-button,
            ~ chi-button {
              &.-icon {
                &.-flat {
                  right: 0.375rem;
                }

                &.-close {
                  right: 1.875rem;
                  top: 0;
                }
              }
            }
          }

          &.-lg {
            ~ .chi-button,
            ~ chi-button {
              &.-icon {
                top: 0.25rem;

                &.-close {
                  top: 0.5rem;
                }
              }
            }
          }

          &.-xl {
            ~ .chi-button,
            ~ chi-button {
              &.-icon {
                top: 0.5rem;

                &.-close {
                  top: 0.75rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
