@import '../input-wrapper';

.chi {
  .a-inputWrapper {
    input {
      &[type='email'],
      &[type='text'],
      &[type='password'] {
        &.a-input {

          & ~ .a-icon {
            height: 1rem;
            position: absolute;
            top: 0.5rem;
            width: 1rem;
          }

          & ~ .a-spinner {
            height: 1rem;
            position: absolute;
            top: 0.3rem;
            right: 0.5rem;
            width: 1rem;
          }

          &.-small {
            & ~ .a-icon {
              height: 0.75rem;
              top: 0.375rem;
              width: 0.75rem;
            }

            & ~ .a-spinner {
              height: 0.75rem;
              top: 0rem;
              width: 0.75rem;
              right: 0.5rem
            }
          }

          &.-large {
            & ~ .a-icon {
              top: 0.75rem;
            }

            & ~ .a-spinner {
              top: 0.60rem;
              right: 1rem;
            }
          }
        }
      }
    }

    &.-iconLeft {
      input {
        &[type='email'],
        &[type='text'],
        &[type='password'] {
          &.a-input {
            padding-left: 1.9375rem;

            &.-small {
              padding-left: 1.6875rem;
            }

            &.-large {
              padding-left: 2.4375rem;

              & ~ .a-icon {
                &:first-of-type {
                  left: 0.75rem;
                }
              }
            }

            & ~ .a-icon {
              &:first-of-type {
                left: 0.5rem;
              }
            }
          }
        }
      }
    }

    &.-iconRight {
      input {
        &[type='email'],
        &[type='text'],
        &[type='password'] {
          &.a-input {
            padding-right: 1.9375rem;

            &.-small {
              padding-right: 1.6875rem;
            }

            &.-large {
              padding-right: 2.4375rem;

              & ~ .a-icon {
                &:last-of-type {
                  right: 0.75rem;
                }
              }
            }

            & ~ .a-icon {
              &:last-of-type {
                right: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}
