@import 'variables';
@import 'mixins';
@import 'input-text-variables';

$label-font-size: 0.75rem;
$label-font-size-relaxed: 0.875rem;
$label-left: 0.6875rem+0.0625rem;
$sizes: (
  lg: (
    label-bottom: 0.9375rem,
    label-bottom-relaxed: 0.625rem,
    label-font-size: 0.75rem,
    label-font-size-relaxed: 0.875rem,
    label-line-height: 0.75rem,
    old-padding-y: 0.5625rem,
    new-padding-bottom: 0,
    new-padding-top: 1.125rem,
  ),
  xl: (
    label-bottom: 1.1875rem,
    label-bottom-relaxed: 0.75rem,
    label-font-size: 0.75rem,
    label-font-size-relaxed: 0.875rem,
    label-line-height: 1.5rem,
    old-padding-y: 0.6875rem,
    new-padding-bottom: 0.0625rem,
    new-padding-top: 1.3125rem,
  )
);

.chi {
  .a-inputWrapper.-floatingLabel {
    & > input {
      @each $type in map-keys($sizes) {
        &.-#{$type} {
          padding-bottom: map-get(map-get($sizes, $type), new-padding-bottom);
          padding-top: map-get(map-get($sizes, $type), new-padding-top);

          & ~ label {
            bottom: map-get(map-get($sizes, $type), label-bottom);
          }

          &:placeholder-shown {
            padding-bottom: map-get(map-get($sizes, $type), old-padding-y);
            padding-top: map-get(map-get($sizes, $type), old-padding-y);

            & ~ label {
              bottom: map-get(map-get($sizes, $type), label-bottom-relaxed);
            }
          }

          // sass-lint:disable no-vendor-prefixes
          &:-ms-input-placeholder {
            padding-bottom: map-get(map-get($sizes, $type), old-padding-y);
            padding-top: map-get(map-get($sizes, $type), old-padding-y);

            & ~ label {
              bottom: map-get(map-get($sizes, $type), label-bottom-relaxed);
            }
          }
          // sass-lint:enable no-vendor-prefixes
        }
      }

      &::placeholder {
        color: transparent;
      }

      & ~ label {
        font-size: $label-font-size;
        left: $label-left;
        position: absolute;
        color: set-color(grey, 50);;
        transition: all 0.2s ease-in-out;
      }

      &:placeholder-shown ~ label {
        font-size: $label-font-size-relaxed;
      }
      // sass-lint:disable no-vendor-prefixes
      &:-ms-input-placeholder ~ label {
        font-size: $label-font-size-relaxed;
      }
      // sass-lint:enable no-vendor-prefixes
    }
  }
}
