@import '_global-variables';
@import '_global-mixins';

$sizes: (
  xs: (
    font-size: $font-size-xs,
    line-height: $line-height-sm,
  ),
  sm: (
    font-size: $font-size-sm,
    line-height: $line-height,
  ),
  md: (
    font-size: $font-size-base,
    line-height: $line-height,
  ),
  lg: (
    font-size: $font-size-lg,
    line-height: $line-height-lg,
  ),
  xl: (
    font-size: $font-size-xl,
    line-height: $line-height-xl,
  ),
);

label,
.chi-label {
  display: flex;
  font-size: $font-size-base;
  font-weight: $font-weight-semi-bold;
  line-height: $line-height;
  margin-bottom: 0.25rem;

  @each $type in map-keys($sizes) {
    &.-#{$type} {
      font-size: map-get(map-get($sizes, $type), font-size);
      line-height: map-get(map-get($sizes, $type), line-height);
    }
  }

  &.-status {
    color: $label-status-text-color;
    font-weight: $font-weight-normal;
    margin-top: 0.25rem;

    .chi-icon {
      margin: 0.125rem 0.375rem 0.125rem 0;
    }
  }

  &.-danger {
    color: $label-status-danger-text-color;

    .chi-icon {
      color: $color-icon-danger;
    }
  }

  &.-success {
    color: $label-status-success-text-color;

    .chi-icon {
      color: $color-icon-success;
    }
  }

  .chi-label__required,
  .chi-label__optional {
    margin-left: 0.25rem;
    text-decoration: none;
  }

  .chi-label__required {
    color: $label-required-text-color;
  }

  .chi-label__optional {
    font-weight: $font-weight-normal;
  }
}
