@import '_variables';
@import '_mixins';

$sizes: (
  xs: (
    font-size: $text-smaller,
    line-height: $line-height-smaller,
  ),
  sm: (
    font-size: $text-small,
    line-height: $line-height-small,
  ),
  md: (
    font-size: $text,
    line-height: $line-height-small,
  ),
  lg: (
    font-size: $text-large,
    line-height: $line-height-large,
  ),
  xl: (
    font-size: $text-larger,
    line-height: $line-height-larger,
  ),
);

label,
.chi-label {
  display: flex;
  font-size: $text;
  font-weight: 600;
  line-height: $line-height-small;
  margin-bottom: 0.25rem;

  @each $type in map-keys($sizes) {
    &.-#{$type} {
      font-size: map-get(map-get($sizes, $type), font-size);
      line-height: map-get(map-get($sizes, $type), line-height);
    }
  }

  &.-status {
    font-weight: normal;
    margin-top: 0.25rem;
  }

  &.-danger {
    color: $danger-color;
  }

  &.-success {
    color: $success-color;
  }


  .chi-label__required,
  .chi-label__optional {
    margin-left: 0.25rem;
    text-decoration: none;
  }

  .chi-label__required {
    color: set-color(red, 60);
  }

  .chi-label__optional {
    font-weight: 400;
  }
}
