@import '_variables';
@import '_mixins';

$badge: c-badge;

$colors: (
  primary: (
    background-color: $color-background-primary,
    border-color: $color-border-primary,
    text-color: $color-text-white,
    icon-color: $color-text-white,
    text-color-flat: $color-text-primary,
    icon-color-flat: $color-text-primary,
  ),
  secondary: (
    background-color: $color-background-secondary,
    border-color: $color-border-secondary,
    text-color: $color-text-base,
    icon-color: $color-text-base,
    text-color-flat: $color-text-secondary,
    icon-color-flat: $color-text-secondary,
  ),
  light: (
    background-color: $color-background-white,
    border-color: $color-border-white,
    text-color: $color-text-base,
    icon-color: $color-icon-base,
    text-color-flat: $color-text-white,
    icon-color-flat: $color-text-white,
  ),
  dark: (
    background-color: $color-background-dark,
    border-color: $color-border-dark,
    text-color: $color-text-white,
    icon-color: $color-icon-white,
    text-color-flat: $color-text-base,
    icon-color-flat: $color-icon-base,
  ),
  success: (
    background-color: $color-background-success,
    border-color: $color-border-success,
    text-color: $color-text-white,
    icon-color: $color-icon-white,
    text-color-flat: $color-text-success,
    icon-color-flat: $color-icon-success,
  ),
  danger: (
    background-color: $color-background-danger,
    border-color: $color-border-danger,
    text-color: $color-text-white,
    icon-color: $color-icon-white,
    text-color-flat: $color-text-danger,
    icon-color-flat: $color-icon-danger,
  ),
  warning: (
    background-color: $color-background-warning,
    border-color: $color-border-warning,
    text-color: $color-text-white,
    icon-color: $color-icon-white,
    text-color-flat: $color-text-warning,
    icon-color-flat: $color-icon-warning,
  ),
  info: (
    background-color: $color-background-info,
    border-color: $color-border-info,
    text-color: $color-text-white,
    icon-color: $color-icon-white,
    text-color-flat: $color-text-info,
    icon-color-flat: $color-icon-info,
  ),
  muted: (
    background-color: $color-border-muted,
    border-color: $color-border-muted,
    text-color: $color-text-white,
    icon-color: $color-icon-white,
    text-color-flat: $color-text-muted,
    icon-color-flat: $color-icon-muted,
  )
);

.chi-badge {
  background-color: $color-background-white;
  border: 0.0625rem solid $color-border-base-dark;
  border-radius: $border-radius;
  box-shadow: 0 1px 1px 0 rgba($color-black, 0.04);
  display: inline-block;
  font-size: $font-size-base;
  font-weight: $font-weight-semi-bold;
  height: 1.5rem;
  line-height: $line-height;
  padding: 0 0.5rem;
  text-align: center;
  vertical-align: middle;

  .chi-icon {
    color: $color-icon-base;
    height: 1rem;
    top: -0.07rem;
    width: 1rem;
  }

  &__content {
    align-items: center;
    display: inline-flex;
    justify-content: center;

    & > :not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  span {
    line-height: $line-height-lg;
    position: relative;
    top: -0.07rem;
  }

  &.-sm {
    font-size: $font-size-xs;
    height: 1.25rem;
    line-height: $line-height;

    .chi-icon {
      height: 0.75rem;
      width: 0.75rem;

      &[class^='icon-'],
      &[class*=' icon-'] {
        font-size: 0.75rem;
        line-height: 0.75rem;
      }
    }

    & > div > :not(:last-child) {
      margin-right: 0.25rem;
    }

    span {
      line-height: $line-height;
    }
  }

  &.-xs {
    font-size: $font-size-2xs;
    height: 1rem;
    line-height: $line-height-sm;
    padding: 0 0.25rem;

    .chi-icon {
      height: 0.75rem;
      width: 0.75rem;

      &[class^='icon-'],
      &[class*=' icon-'] {
        font-size: 0.75rem;
        line-height: 0.75rem;
      }
    }

    & > div > :not(:last-child) {
      margin-right: 0.25rem;
    }

    span {
      line-height: $line-height-sm;
    }
  }

  &.-outline,
  &.-flat {
    background-color: transparent;
    box-shadow: initial;
  }

  &.-flat {
    border-color: transparent;
  }

  @each $color in map-keys($colors) {
    &.-#{$color} {
      background-color: map-get(map-get($colors, $color), background-color);
      border: 0.0625rem solid map-get(map-get($colors, $color), background-color);
      color: map-get(map-get($colors, $color), text-color);

      .chi-icon {
        color: map-get(map-get($colors, $color), icon-color);
      }

      &.-outline,
      &.-flat {
        background-color: transparent;
        border-color: map-get(map-get($colors, $color), border-color);
        color: map-get(map-get($colors, $color), text-color-flat);

        .chi-icon {
          color: map-get(map-get($colors, $color), icon-color-flat);
        }
      }

      &.-flat {
        border-color: transparent;
      }
    }
  }
}
