@import '_variables';
@import '_mixins';

$badge: c-badge;

.a-badge {
  background-color: set-color(white);
  border: 0.0625rem solid set-color(grey, 30);
  border-radius: $border-radius;
  box-shadow: 0 1px 1px 0 rgba(set-color(black), 0.04);
  display: inline-block;
  font-size: $text;
  font-weight: 600;
  height: 1.5rem;
  line-height: $line-height;
  padding: 0 0.5rem;
  text-align: center;
  vertical-align: middle;

  .a-icon {
    height: 1rem;
    top: -0.07rem;
    width: 1rem;
  }

  &__content {
    align-items: center;
    display: inline-flex;
    justify-content: center;

    & > :not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  span {
    line-height: $line-height;
    position: relative;
    top: -0.07rem;
  }

  &.-small {
    font-size: $text-smaller;
    height: 1.25rem;
    line-height: $line-height-small;

    .a-icon {
      height: 0.75rem;
      width: 0.75rem;

      &[class^='icon-'],
      &[class*=' icon-'] {
        font-size: 0.75rem;
        line-height: 0.75rem;
      }
    }

    & > div > :not(:last-child) {
      margin-right: 0.25rem;
    }

    span {
      line-height: $line-height-small;
    }
  }

  &.-smaller {
    font-size: $text-smallest;
    height: 1rem;
    line-height: $line-height-smaller;
    padding: 0 0.25rem;

    .a-icon {
      height: 0.75rem;
      width: 0.75rem;

      &[class^='icon-'],
      &[class*=' icon-'] {
        font-size: 0.75rem;
        line-height: 0.75rem;
      }
    }

    & > div > :not(:last-child) {
      margin-right: 0.25rem;
    }

    span {
      line-height: $line-height-smaller;
    }
  }

  &.-pill {
    border-radius: 0.75rem;
  }

  &.-outline {
    background-color: transparent;
    border-color: set-color(grey, 50);
    box-shadow: initial;
  }

  &.-flat {
    background-color: transparent;
    border-color: transparent;
    box-shadow: initial;
  }

  &.-primary {
    background-color: $primary-color;
    border: 0.0625rem solid $primary-color;
    color: set-color(white);

    &.-outline {
      background-color: transparent;
      color: $primary-color;
    }

    &.-flat {
      background-color: transparent;
      border-color: transparent;
      color: $primary-color;
    }
  }

  &.-secondary {
    background-color: $secondary-color;
    border: 0.0625rem solid $secondary-color;

    &.-outline {
      background-color:  transparent;
      color: $secondary-color;
    }

    &.-flat {
      background-color: transparent;
      border-color: transparent;
      color: $secondary-color;
    }
  }

  &.-success {
    background-color: $success-color;
    border: 0.0625rem solid $success-color;
    color: set-color(white);

    &.-outline {
      background-color: transparent;
      color: $success-color;
    }

    &.-flat {
      background-color: transparent;
      border-color: transparent;
      color: $success-color;
    }
  }

  &.-danger {
    background-color: $danger-color;
    border: 0.0625rem solid $danger-color;
    color: set-color(white);

    &.-outline {
      background-color: transparent;
      color: $danger-color;
    }

    &.-flat {
      background-color: transparent;
      border-color: transparent;
      color: $danger-color;
    }
  }

  &.-info {
    background-color: $info-color;
    border: 0.0625rem solid $info-color;
    color: set-color(white);

    &.-outline {
      background-color: transparent;
      color: $info-color;
    }

    &.-flat {
      background-color: transparent;
      border-color: transparent;
      color: $info-color;
    }
  }

  &.-dark {
    background-color: $dark-color;
    border: 0.0625rem solid $dark-color;
    color: set-color(white);

    &.-outline {
      background-color: transparent;
      color: $dark-color;
    }

    &.-flat {
      background-color: transparent;
      border-color: transparent;
      color: $dark-color;
    }
  }

  &.-muted {
    background-color: $light-color;
    border: 0.0625rem solid $light-color;

    &.-outline {
      background-color: transparent;
      border-color: set-color(grey, 50);
      color: set-color(grey, 50);
    }

    &.-flat {
      background-color: transparent;
      border-color: transparent;
      color: set-color(grey, 50);
    }
  }

  &.-inverse {
    background-color: set-color(white);
    border: 0.0625rem solid set-color(white);

    &.-outline {
      background-color: transparent;
      color: set-color(white);
    }

    &.-flat {
      background-color: transparent;
      border-color: transparent;
      color: set-color(white);
    }
  }
}
