@import '_global-variables';
@import '_global-mixins';

$colors: (
  primary: (
    background-color: $badge-primary-background-color,
    border-color: $badge-primary-border-color,
    text-color: $badge-primary-text-color,
    icon-color: $badge-primary-icon-color,
    border-color-outline: $badge-outline-primary-border-color,
    text-color-outline: $badge-outline-primary-text-color,
    icon-color-outline: $badge-outline-primary-icon-color,
    text-color-flat: $badge-flat-primary-text-color,
    icon-color-flat: $badge-flat-primary-icon-color,
  ),
  secondary: (
    background-color: $badge-secondary-background-color,
    border-color: $badge-secondary-border-color,
    text-color: $badge-secondary-text-color,
    icon-color: $badge-secondary-icon-color,
    border-color-outline: $badge-outline-secondary-border-color,
    text-color-outline: $badge-outline-secondary-text-color,
    icon-color-outline: $badge-outline-secondary-icon-color,
    text-color-flat: $badge-flat-secondary-text-color,
    icon-color-flat: $badge-flat-secondary-icon-color,
  ),
  light: (
    background-color: $badge-light-background-color,
    border-color: $badge-light-border-color,
    text-color: $badge-light-text-color,
    icon-color: $badge-light-icon-color,
    border-color-outline: $badge-outline-light-border-color,
    text-color-outline: $badge-outline-light-text-color,
    icon-color-outline: $badge-outline-light-icon-color,
    text-color-flat: $badge-flat-light-text-color,
    icon-color-flat: $badge-flat-light-icon-color,
  ),
  dark: (
    background-color: $badge-dark-background-color,
    border-color: $badge-dark-border-color,
    text-color: $badge-dark-text-color,
    icon-color: $badge-dark-icon-color,
    border-color-outline: $badge-outline-dark-border-color,
    text-color-outline: $badge-outline-dark-text-color,
    icon-color-outline: $badge-outline-dark-icon-color,
    text-color-flat: $badge-flat-dark-text-color,
    icon-color-flat: $badge-flat-dark-icon-color,
  ),
  success: (
    background-color: $badge-success-background-color,
    border-color: $badge-success-border-color,
    text-color: $badge-success-text-color,
    icon-color: $badge-success-icon-color,
    border-color-outline: $badge-outline-success-border-color,
    text-color-outline: $badge-outline-success-text-color,
    icon-color-outline: $badge-outline-success-icon-color,
    text-color-flat: $badge-flat-success-text-color,
    icon-color-flat: $badge-flat-success-icon-color,
  ),
  danger: (
    background-color: $badge-danger-background-color,
    border-color: $badge-danger-border-color,
    text-color: $badge-danger-text-color,
    icon-color: $badge-danger-icon-color,
    border-color-outline: $badge-outline-danger-border-color,
    text-color-outline: $badge-outline-danger-text-color,
    icon-color-outline: $badge-outline-danger-icon-color,
    text-color-flat: $badge-flat-danger-text-color,
    icon-color-flat: $badge-flat-danger-icon-color,
  ),
  warning: (
    background-color: $badge-warning-background-color,
    border-color: $badge-warning-border-color,
    text-color: $badge-warning-text-color,
    icon-color: $badge-warning-icon-color,
    border-color-outline: $badge-outline-warning-border-color,
    text-color-outline: $badge-outline-warning-text-color,
    icon-color-outline: $badge-outline-warning-icon-color,
    text-color-flat: $badge-flat-warning-text-color,
    icon-color-flat: $badge-flat-warning-icon-color,
  ),
  info: (
    background-color: $badge-info-background-color,
    border-color: $badge-info-border-color,
    text-color: $badge-info-text-color,
    icon-color: $badge-info-icon-color,
    border-color-outline: $badge-outline-info-border-color,
    text-color-outline: $badge-outline-info-text-color,
    icon-color-outline: $badge-outline-info-icon-color,
    text-color-flat: $badge-flat-info-text-color,
    icon-color-flat: $badge-flat-info-icon-color,
  ),
  muted: (
    background-color: $badge-muted-background-color,
    border-color: $badge-muted-border-color,
    text-color: $badge-muted-text-color,
    icon-color: $badge-muted-icon-color,
    border-color-outline: $badge-outline-muted-border-color,
    text-color-outline: $badge-outline-muted-text-color,
    icon-color-outline: $badge-outline-muted-icon-color,
    text-color-flat: $badge-flat-muted-text-color,
    icon-color-flat: $badge-flat-muted-icon-color,
  ),
  accent-1: (
    background-color: $badge-accent-1-background-color,
    border-color: $badge-accent-1-border-color,
    text-color: $badge-accent-1-text-color,
    icon-color: $badge-accent-1-icon-color,
    border-color-outline: $badge-outline-accent-1-border-color,
    text-color-outline: $badge-outline-accent-1-text-color,
    icon-color-outline: $badge-outline-accent-1-icon-color,
    text-color-flat: $badge-flat-accent-1-text-color,
    icon-color-flat: $badge-flat-accent-1-icon-color,
  ),
  accent-2: (
    background-color: $badge-accent-2-background-color,
    border-color: $badge-accent-2-border-color,
    text-color: $badge-accent-2-text-color,
    icon-color: $badge-accent-2-icon-color,
    border-color-outline: $badge-outline-accent-2-border-color,
    text-color-outline: $badge-outline-accent-2-text-color,
    icon-color-outline: $badge-outline-accent-2-icon-color,
    text-color-flat: $badge-flat-accent-2-text-color,
    icon-color-flat: $badge-flat-accent-2-icon-color,
  ),
  accent-3: (
    background-color: $badge-accent-3-background-color,
    border-color: $badge-accent-3-border-color,
    text-color: $badge-accent-3-text-color,
    icon-color: $badge-accent-3-icon-color,
    border-color-outline: $badge-outline-accent-3-border-color,
    text-color-outline: $badge-outline-accent-3-text-color,
    icon-color-outline: $badge-outline-accent-3-icon-color,
    text-color-flat: $badge-flat-accent-3-text-color,
    icon-color-flat: $badge-flat-accent-3-icon-color,
  ),
  accent-4: (
    background-color: $badge-accent-4-background-color,
    border-color: $badge-accent-4-border-color,
    text-color: $badge-accent-4-text-color,
    icon-color: $badge-accent-4-icon-color,
    border-color-outline: $badge-outline-accent-4-border-color,
    text-color-outline: $badge-outline-accent-4-text-color,
    icon-color-outline: $badge-outline-accent-4-icon-color,
    text-color-flat: $badge-flat-accent-4-text-color,
    icon-color-flat: $badge-flat-accent-4-icon-color,
  ),
  accent-5: (
    background-color: $badge-accent-5-background-color,
    border-color: $badge-accent-5-border-color,
    text-color: $badge-accent-5-text-color,
    icon-color: $badge-accent-5-icon-color,
    border-color-outline: $badge-outline-accent-5-border-color,
    text-color-outline: $badge-outline-accent-5-text-color,
    icon-color-outline: $badge-outline-accent-5-icon-color,
    text-color-flat: $badge-flat-accent-5-text-color,
    icon-color-flat: $badge-flat-accent-5-icon-color,
  )
);

.chi-badge {
  // sass-lint:disable-block property-units
  align-items: $badge-align-items;
  background-color: $badge-background-color;
  border: 0.0625rem solid $badge-border-color;
  border-radius: $badge-border-radius;
  box-shadow: $badge-box-shadow;
  display: inline-flex;
  font-size: $font-size-base;
  font-weight: $badge-font-weight;
  line-height: $badge-line-height;
  min-width: 1.5rem;
  padding: $badge-padding;
  text-align: $badge-text-align;
  vertical-align: middle;
  white-space: $badge-white-space;

  .chi-icon {
    color: $badge-icon-color;
    height: 1.25rem;
    width: 1.25rem;
  }

  &__content {
    align-items: center;
    display: flex;
    justify-content: center;

    & > :not(:last-child) {
      margin-right: 0.375em; // sass-lint:disable-line property-units
    }
  }

  span {
    position: relative;
  }

  &.-sm {
    font-size: $font-size-xs;
    height: 1.25rem;
    line-height: $badge-sm-line-height;
    min-width: 1.25rem;
    padding: $badge-sm-padding;

    .chi-icon {
      height: 0.75rem;
      width: 0.75rem;

      &[class^='icon-'],
      &[class*=' icon-'] {
        font-size: 0.75rem;
        line-height: 0.75rem;
      }
    }

    & > div > :not(:last-child) {
      margin-right: 0.25rem;
    }

    span {
      line-height: $badge-sm-line-height;
    }
  }

  &.-xs {
    font-size: $font-size-2xs;
    height: 1rem;
    line-height: $badge-xs-line-height;
    min-width: 1rem;
    padding: 0 0.25rem;

    .chi-icon {
      height: 0.75rem;
      width: 0.75rem;

      &[class^='icon-'],
      &[class*=' icon-'] {
        font-size: 0.75rem;
        line-height: 0.75rem;
      }
    }

    & > div > :not(:last-child) {
      margin-right: 0.25rem;
    }

    span {
      line-height: $badge-xs-line-height;
    }
  }

  &.-outline,
  &.-flat {
    background-color: transparent;
    box-shadow: none;
  }

  &.-flat {
    border-color: transparent;
  }

  @each $color in map-keys($colors) {
    &.-#{$color} {
      background-color: map-get(map-get($colors, $color), background-color);
      border: 0.0625rem solid map-get(map-get($colors, $color), border-color);
      color: map-get(map-get($colors, $color), text-color);

      .chi-icon {
        color: map-get(map-get($colors, $color), icon-color);
      }

      &.-outline,
      &.-flat {
        background-color: transparent;
      }

      &.-outline {
        border-color: map-get(map-get($colors, $color), border-color-outline);
        color: map-get(map-get($colors, $color), text-color-outline);

        .chi-icon {
          color: map-get(map-get($colors, $color), icon-color-outline);
        }
      }

      &.-flat {
        border-color: transparent;
        color: map-get(map-get($colors, $color), text-color-flat);

        .chi-icon {
          color: map-get(map-get($colors, $color), icon-color-flat);
        }
      }
    }
  }

  &.-notification {
    background-color: $badge-notification-background-color;
    border: 0.0625rem solid $badge-notification-border-color;
    border-radius: $badge-notification-border-radius;
    color: $badge-notification-text-color;
    font-weight: $font-weight-bold;

    .chi-icon {
      color: $badge-notification-icon-color;
    }
  }
}
