@import 'variables';
@import 'mixins';

$input: c-input;

input {
  &[type='radio'] {
    &.#{$input} {
      left: -9999px;
      position: absolute;

      & + label {
        & {
          align-items: center;
          cursor: pointer;
          display: flex;
          position: relative;
        }

        &::before {
          background-color: set-color(grey, 100);
          border: 0.25rem solid set-color(carbon, 100);
          border-radius: 1rem;
          content: '';
          cursor: pointer;
          display: block;
          height: 2rem;
          margin-right: 1rem;
          position: relative;
          transition: box-shadow 0.2s ease-in-out;
          width: 2rem;
        }

        &::after {
          background-color: set-color(carbon, 100);
          border-radius: 1rem;
          content: '';
          display: block;
          height: 1rem;
          left: 0.5rem;
          opacity: 0;
          position: absolute;
          top: 1rem;
          transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
          width: 1rem;
        }

        &:hover,
        &.#{$input}--hover {
          &::after {
            opacity: 1;
          }
        }
      }

      &:checked {
        & + label {
          &::before {
            border-color: set-color(green, 500);
          }

          &::after {
            background-color: set-color(green, 500);
            opacity: 1;
          }
        }

        &:focus,
        &.#{$input}--focus {
          & + label::before {
            box-shadow: 0 0 1px 4px rgba(set-color(green, 500), 0.3);
          }
        }
      }

      &[disabled] + label {
        opacity: 0.65;
        pointer-events: none;
      }

      &:focus,
      &.#{$input}--focus {
        & + label::before {
          box-shadow: 0 0 1px 4px rgba(set-color(carbon, 100), 0.3);
        }
      }
    }
  }
}
