@import '_mixins';
@import '_variables';

// sass-lint:disable no-color-hex
$color-from: #00ffff;
$color-to: rgb(255, 255, 255);
// sass-lint:enable no-color-hex

html,
body {
  min-height: 100%;
  width: 100%;
}

body {
  padding-bottom: $base-unit * 4;
}

// sass-lint:disable class-name-format
.tests {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
// sass-lint:enable class-name-format

[class^='test-'] {
  background-image: linear-gradient(to bottom, $color-from 0, $color-to 1px);
  background-repeat: repeat-y;
  background-size: 100% $base-unit;
  display: flex;
  flex-direction: column;
  margin: 0 -0.5rem;
  padding: 0.5rem;

  &.-w--100 {
    align-self: stretch;
  }
}

.a-grid {
  &.-show {
    @include respond-to(md) {
      margin-bottom: $base-unit * 3;
    }
    margin-bottom: $base-unit * 2;
    text-align: center;

    [class*='a-col'] {
      &::before {
        background-color: set-color(grey, 10);
        box-shadow: inset 0 0 0 1px rgba(set-color(black), 0.4);
        content: attr(class);
        display: block;
        line-height: $line-height;
        min-height: $base-unit * 4;
        overflow: hidden;
        padding: $base-unit;
        text-overflow: ellipsis;
        white-space: pre;
      }
    }
  }
}
