@import '_global-variables';
@import '_global-mixins';

$sizes: (
  xs: (
    height: $file-input-xs-height,
    width: $file-input-xs-width,
    font-size: $file-input-xs-font-size,
    line-height: $file-input-xs-line-height,
  ),
  sm: (
    height: $file-input-sm-height,
    width: $file-input-sm-width,
    font-size: $file-input-sm-font-size,
    line-height: $file-input-sm-line-height,
  ),
  md: (
    height: $file-input-md-height,
    width: $file-input-md-width,
    font-size: $file-input-md-font-size,
    line-height: $file-input-md-line-height,
  ),
  lg: (
    height: $file-input-lg-height,
    width: $file-input-lg-width,
    font-size: $file-input-lg-font-size,
    line-height: $file-input-lg-line-height,
  ),
  xl: (
    height: $file-input-xl-height,
    width: $file-input-xl-width,
    font-size: $file-input-xl-font-size,
    line-height: $file-input-xl-line-height,
  )
);

.chi-file-input,
.chi-input {
  &[type='file'] {
    left: -9999px;
    position: absolute;

    & + label {
      & {
        align-items: center;
        display: flex;
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
        line-height: $line-height-sm;
        margin-bottom: 0;
        pointer-events: none;
        position: relative;
      }

      &::before {
        align-items: center;
        background-color: $file-input-button-background-color;
        border: 0.0625rem solid $file-input-button-border-color;
        border-radius: $border-radius;
        box-shadow: $file-input-button-box-shadow;
        content: $file-input-button-text-label-single;
        cursor: pointer;
        display: flex;
        font-weight: $font-weight-semi-bold;
        height: $file-input-md-height;
        justify-content: center;
        line-height: $file-input-md-line-height;
        margin-right: 1rem;
        pointer-events: initial;
        width: $file-input-md-width;
      }

      &:hover,
      &.-hover {
        &::before {
          background-color: $file-input-button-hover-background-color;
          border-color: $file-input-button-hover-border-color;
        }
      }

      &:active,
      &.-active {
        &::before {
          background-color: $file-input-button-active-background-color;
          border-color: $file-input-button-active-border-color;
        }
      }
    }

    &[multiple] + label::before {
      content: $file-input-button-text-label-multiple;
    }

    &[disabled] + label {
      &::before {
        @include button-disabled;
      }
    }

    &:focus,
    &.-focus {
      & + label::before {
        border: 0.0625rem solid $file-input-button-focus-border-color;
        outline: 0.125rem solid $file-input-button-focus-outline-color;
        outline-offset: 0.0625rem;
        z-index: $zindex-prominent;
      }
    }

    @each $type in map-keys($sizes) {
      &.-#{$type} {
        & + label {
          font-size: map-get(map-get($sizes, $type), font-size);

          &::before {
            height: map-get(map-get($sizes, $type), height);
            line-height: map-get(map-get($sizes, $type), line-height);
            width: map-get(map-get($sizes, $type), width);
          }
        }
      }
    }
  }
}
