@import '_variables';
@import '_mixins';

$sizes: (
  sm: (
    height: 1.5rem,
    width: 4.8125rem,
    font-size: 0.75rem,
    line-height: 1rem,
  ),
  small: (
    height: 1.5rem,
    width: 4.8125rem,
    font-size: 0.75rem,
    line-height: 1rem,
  ),
  md: (
    height: 2rem,
    width: 6.5rem,
    font-size: 0.875rem,
    line-height: 1rem,
  ),
  lg: (
    height: 2.5rem,
    width: 8.5rem,
    font-size: 0.875rem,
    line-height: 1.25rem,
  ),
  large: (
    height: 2.5rem,
    width: 8.5rem,
    font-size: 0.875rem,
    line-height: 1.25rem,
  ),
  xl: (
    height: 3rem,
    width: 10rem,
    font-size: 0.875rem,
    line-height: 1.25rem,
  )
);

input {
  &[type='file'] {
    &.a-input {
      left: -9999px;
      position: absolute;

      & + label {
        & {
          align-items: center;
          display: flex;
          font-size: $text;
          font-weight: 400;
          line-height: $line-height-smaller;
          margin-bottom: 0;
          pointer-events: none;
          position: relative;
        }

        &::before {
          align-items: center;
          background-color: set-color(white);
          border: 0.0625rem solid set-color(grey, 30);
          content: 'Choose File';
          cursor: pointer;
          display: flex;
          font-weight: 600;
          height: 2rem;
          justify-content: center;
          line-height: 1.125rem;
          margin-right: 1rem;
          pointer-events: initial;
          width: 6.5rem;
        }

        &:hover,
        &.-hover {
          &::before {
            border: 0.0625rem solid set-color(grey, 40);
            box-shadow: 0 1px 4px 0 rgba(set-color(black), 0.15);
          }
        }
      }

      &[multiple] + label::before {
        content: 'Choose Files';
      }

      &[disabled] + label {
        opacity: 0.65;

        &::before {
          cursor: initial;
          pointer-events: none;
        }
      }

      &:focus,
      &.-focus {
        & + label::before {
          border: 0.0625rem solid set-color(grey, 40);
          box-shadow: 0 0 0 3px rgba(set-color(grey, 30), 0.6);
          z-index: $zindex-prominent;
        }
      }

      @each $type in map-keys($sizes) {
        &.-#{$type} {
          & + label {
            font-size: map-get(map-get($sizes, $type), font-size);

            &::before {
              height: map-get(map-get($sizes, $type), height);
              line-height: map-get(map-get($sizes, $type), line-height);
              width: map-get(map-get($sizes, $type), width);
            }
          }
        }
      }
    }
  }
}
