h2 Examples
p.-text To render a divider, apply the class <code>a-divider</code> to an <code>hr</code> or <code>div</code> tag.

h3 Base
.example.-mb--3
  .-p--3
    hr.a-divider
  :code(lang="html")
    <div class="a-divider"></div>

h3 Vertical
p.-text To render a vertical divider, apply <code>-vertical</code> and ensure the parent container has a height specified.
.example.-mb--3
  .-p--3.-text.-d--flex.-align-items--center(style="height:72px")
    | Option
    .a-divider.-vertical
    | Option
    .a-divider.-vertical
    | Option
  :code(lang="html")
    <div class="a-divider -vertical"></div>

h3 Inverse
p.-text Use the <code>-inverse</code> class to render dividers on dark backgrounds.
.example.-mb--3
  .-p--3(style="background-color:#000;border-radius:.15em .15em 0 0;")
    .a-divider.-inverse
  :code(lang="html")
    <div class="a-divider -inverse"></div>

h3 Label
p.-text
  | Add text to a divider and apply the class <code>-hasLabel</code> to include a label.
  | This method is especially useful for login and sign up forms.
  | Label text size can be changed by applying text utility classes such as <code>-text</code>, <code>-text--small</code>, or <code>-text--large</code>.
.example.-mb--3
  .-p--3
    .a-divider.-text.-hasLabel or
  :code(lang="html")
    <div class="a-divider -hasLabel">or</div>

h3 Color Bar
p.-text
  | The CenturyLink Color Bar is a brand element that represents the combined companies that comprise the new
  | CenturyLink. It can be placed on the top or bottom of containers and must be used in the color order shown.
  | The length can fluctuate to accent the design, as long as the dark blue is the shortest color, vibrant blue
  | is larger than dark blue, and mint green is the longest color.

p.-text
  | To render a colored divider apply the class <code>-colorbar</code> to a divider.

.example.-mb--3
  .-p--3
    .a-divider.-colorbar
  :code(lang="html")
    <div class="a-divider -colorbar"></div>

h2 Additional Sizes
p.-text
  | Use border top <a href="../../utilities/border">utilities</a> such as
  | <code>-bt--1</code>, <code>-bt--2</code>, <code>-bt--3</code>, or <code>-bt--4</code> to customize a dividers size.
.example.-mb--3
  .-p--3
    p.-text.-m--0
      | -bt--1
    .a-divider.-bt--1
  .-p--3
    p.-text.-m--0
      | -bt--2
    .a-divider.-bt--2
  .-p--3
    p.-text.-m--0
      | -bt--3
    .a-divider.-bt--3
  .-p--3
    p.-text.-m--0
      | -bt--4
    .a-divider.-bt--4
  :code(lang="html")
    <div class="a-divider -bt--1"></div>
    <div class="a-divider -bt--2"></div>
    <div class="a-divider -bt--3"></div>
    <div class="a-divider -bt--4"></div>
