@import '../../../chi/_variables';
@import '../../../chi/_mixins';

.chi {
  .docs-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .m-drawer {
      ul.a-tabs {
        li {
          .a-collection__title {
            font-size: 0.875rem;
            font-weight: 600;
            line-height: $line-height;
            padding: 0.75rem 0 0.75rem 1.5rem;
          }

          &.-active {
            .a-collection__title {
              color: $primary;
            }
          }
        }
      }
    }

    .docs-body {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      position: relative;
      @include respond-to(lg) {
        flex-direction: row;
        padding-left: 16rem;
        padding-top: 4.5rem;
      }

      &__aside {
        background-color: set-color(white);
        border-bottom: 0.0625rem solid set-color(grey, 25);
        border-right: 0;
        display: none;
        height: 100%;
        left: 0;
        overflow: auto;
        padding-bottom: 1rem;
        padding-top: 0.5rem;
        position: static;
        top: 72px;
        width: 100%;
        @include respond-to(lg) {
          border-bottom: 0;
          border-right: 0.0625rem solid set-color(grey, 25);
          display: block;
          padding-bottom: 4.5rem;
          position: fixed;
          width: 16rem;
        }

        a[disabled] {
          color: set-color(grey, 50) !important;
          pointer-events: none;
        }

        ul.a-tabs {
          li {
            .a-collection__title {
              font-size: 0.875rem;
              font-weight: 600;
              line-height: $line-height;
              padding: 0.75rem 0 0.75rem 1.5rem;
            }

            &.-active {
              .a-collection__title {
                color: $primary;
              }
            }
          }
        }
      }

      &__content {
        background-color: set-color(white);
        flex-grow: 1;
        width: 100%;


        .docs-body__heading {
          background-color: set-color(black);
          flex-direction: column;
          display: flex;
          padding: 1rem 0 0;
          @include respond-to(lg) {
            padding: 3rem 0 0;
          }

          .a-grid__container {
            width: calc(100% - 2rem);

            + .a-grid__container {
              @include respond-to(lg) {
                margin-top: -1rem;
              }
            }

            &:first-child {
              padding-bottom: 1rem;
              @include respond-to(lg) {
                padding-bottom: 2rem;
              }
            }

            .docs-body__heading-title {
              color: set-color(white);
              font-size: 2rem;
              margin-bottom: 0.5rem;
              @include respond-to(lg) {
                font-size: 3rem;
                margin-bottom: 1.5rem;
              }
            }

            .docs-body__heading-description {
              color: set-color(grey, 50);
              font-size: 0.875rem;
              @include respond-to(lg) {
                font-size: 1rem;
                margin: 0 0 1rem;
              }
            }
          }
        }

        .a-grid__container {
          @include respond-to(lg) {
            margin: 0 40px;
          }

          @include respond-to(xl) {
            margin: 0 auto;
            max-width: 960px;
            padding: 0 20px;
          }

          >,
          .changelog__version >,
          .a-tabs-panel >,
          > .a-grid .a-col,
          > .m-epanel {
            h1 {
              font-size: 2rem;
              font-weight: 800;
              line-height: 3rem;
              margin: 1rem 0;
            }

            h2 {
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 2rem;
              margin: 1rem 0;
            }

            h3 {
              font-size: $text-larger;
              font-weight: 600;
              line-height: 2rem;
              margin: 0.5rem 0;
            }

            h4 {
              font-size: $text-large;
              font-weight: 600;
              line-height: 1.5rem;
              margin: 0.5rem 0;
            }

            h5 {
              font-size: $text;
              font-weight: 600;
              line-height: 1.5rem;
              margin: 0.5rem 0;
            }

            h6 {
              font-size: $text-small;
              font-weight: 600;
              line-height: 1.25rem;
              margin: 0.5rem 0;
            }
          }
        }

        .example {
          border: 0.0625rem solid set-color(grey, 25);
          border-radius: 0.15em;
          position: relative;
          z-index: 10;

          .example-tabs {
            background-color: set-color(grey, 15);
            border-bottom: 0.0625rem solid set-color(grey, 25);
            border-top: 0.0625rem solid set-color(grey, 25);
          }

          pre[class*="language-"] {
            border-top: 0.0625rem solid set-color(grey, 25);
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin: 0;
          }

          .a-tabs-panel {
            .a-tab__description {
              background-color: set-color(grey, 15);
              font-size: 0.875rem;
              padding: 1rem 0 0 1rem;
            }

            pre[class*="language-"] {
              border-top: 0;
            }
          }

          & > .clipboard:first-child + pre[class*="language-"] {
            border-top: 0;
          }

          .code-block>pre {
            border-radius: 0.15em;
            border-top: 0;
          }
        }
      }
    }

    &.outdated-version {
      .docs-body {
        @include respond-to(lg) {
          padding-top: 7rem;
        }

        &__aside {
          top: 112px;
        }
      }
    }
  }
}
