@import '../../../chi/variables';
@import '../../../chi/mixins';

.chi {
  .docs-header {
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    background-color: set-color(white);
    box-shadow: 0 1px 2px 0 rgba(set-color(black), 0.04),
      0 2px 2px 0 rgba(set-color(black), 0.12);
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 4rem;
    width: 100%;
    padding: 0 1.5rem;
    z-index: 1;
    @media only screen and (max-width: $md-breakpoint) {
      flex-direction: column;
      height: 5rem;
      justify-content: center;
      position: static;
    }

    &__logo {
      img, svg {
        @media only screen and (max-width: $md-breakpoint) {
          height: 1.5rem;
        }
      }
    }

    &__title {
      margin-left: 2rem;
      @media only screen and (max-width: $md-breakpoint) {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: .25rem 0 0 0;
      }
    }
  }
}
