@import '../../../chi/variables';
@import '../../../chi/mixins';

.chi {
  .docs-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .docs-body {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      padding: 0.5rem 0 0 0;
      position: relative;
      @include respond-to(lg) {
        flex-direction: row;
        padding-left: 16rem;
        padding-top: 4rem;
      }

      &__aside {
        background-color: set-color(white);
        border-bottom: 0.0625rem solid rgba(set-color(black), 0.12);
        border-right: 0;
        height: 100%;
        left: 0;
        overflow: auto;
        padding-bottom: 1rem;
        padding-top: 0.5rem;
        position: static;
        top: 64px;
        width: 100%;
        @include respond-to(lg) {
          border-right: 0.0625rem solid rgba(set-color(black), 0.12);
          border-bottom: 0;
          padding-bottom: 4.5rem;
          position: fixed;
          width: 16rem;
        }

        a[disabled] {
          color: set-color(grey, 50) !important;
          pointer-events: none;
        }

        .a-tabs.-vertical {
          >li {
            >a {
              padding-bottom: 0.5rem;
              padding-top: 0.5rem;
              @include respond-to(lg) {
                padding-bottom: 0.75rem;
                padding-top: 0.75rem;
              }
            }
          }
          >li.-active {
            >a {
              color: $brand-color;
              &:before {
                display: none;
              }
            }
          }
          .a-tabs__subtabs {
            li {
              margin-bottom: 0;
              &.-active {
                >a {
                  color: $brand-color;
                  position: relative;
                  &:before {
                    background-color: $brand-color;
                    content: "";
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: .125rem;
                    height: 2rem;
                  }
                }
              }
              a {
                &:hover {
                  color: $brand-color;
                }
              }
            }
          }
        }
      }


      &__content {
        background-color: set-color(white);
        flex-grow: 1;
        padding-top: 0.5rem;
        width: 100%;
        @include respond-to(lg) {
          padding-top: 1rem;
        }
        .a-table {
          &:before, th>div, &.-bordered td {
            border-color: set-color(grey, 30);
          }
        }
        >.a-grid__container {
          @include respond-to(lg) {
            margin: 0 40px;
          }
          @include respond-to(xl) {
            margin: 0 auto;
            max-width: 960px;
            padding: 0 2rem;
          }
        }
        .example {
          border: 0.0625rem solid rgba(set-color(black), 0.12);
          border-radius: 0.15em;

          pre[class*=language-] {
            margin: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: 0.0625rem solid rgba(set-color(black), 0.12);
          }
          .code-block>pre {
            border-top: 0;
            border-radius: 0.15em;
          }
        }
      }
    }
  }
}
