@import '../../../chi/_variables';
@import '../../../chi/_mixins';

.chi {
  .docs-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .chi-drawer {
      ul {
        &.chi-tabs {
          li {
            .chi-collection__title {
              font-size: $font-size-base;
              font-weight: $font-weight-semi-bold;
              line-height: $line-height-lg;
              padding: 0.75rem 0 0.75rem 1.5rem;
            }

            &.-active {
              .chi-collection__title {
                color: $color-text-primary;
              }
            }

            .chi-tabs__subtabs {
              .chi-accordion {
                &.accessibility-accordion {
                  .chi-accordion__trigger {
                    padding-bottom: 0.5rem;
                    padding-left: 2.5rem;
                    padding-top: 0.5rem;

                    .chi-accordion__title {
                      font-size: $font-size-sm;
                      font-weight: $font-weight-base;
                      line-height: $line-height-sm;
                    }
                  }

                  .chi-accordion__content {
                    .chi-tabs__subtabs {
                      li {
                        a {
                          padding-left: 3.5rem;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .docs-body {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      position: relative;
      @include respond-to(lg) {
        flex-direction: row;
        padding-left: 16rem;
        padding-top: 4rem;
      }

      .docs-sidenav {
        background-color: $color-background-white;
        border-bottom: 0.0625rem solid $color-grey-25;
        border-right: 0;
        display: none;
        height: calc(100% - 4rem);
        left: 0;
        overflow: auto;
        padding-bottom: 1rem;
        padding-top: 0.5rem;
        position: static;
        top: 4rem;
        width: 100%;
        @include respond-to(lg) {
          border-bottom: 0;
          border-right: 0.0625rem solid $color-grey-25;
          display: block;
          position: fixed;
          width: 16rem;
        }

        a {
          &[disabled] {
            color: $color-grey-50 !important;
            pointer-events: none;
          }
        }

        ul {
          &.chi-tabs {
            margin-bottom: 1rem;

            li {
              .chi-collection__title {
                font-size: $font-size-base;
                font-weight: $font-weight-semi-bold;
                line-height: $line-height-lg;
                padding: 0.75rem 0 0.75rem 1.5rem;
              }

              &.-active {
                .chi-collection__title {
                  color: $color-text-primary;
                }
              }

              .chi-tabs__subtabs {
                li {
                  a {
                    transition: background-color 0.12s ease-in, color 0.12s ease-in;

                    &:hover {
                      background-color: $color-background-base-darker;
                      color: $color-text-base;
                    }

                    &:active {
                      background-color: $color-background-base-darkest;
                    }
                  }

                  &.-active {
                    a {
                      &,
                      &:hover {
                        background-color: $color-background-primary-light;
                        color: $color-text-primary;
                      }
                    }
                  }

                  .chi-accordion {
                    &.accessibility-accordion {
                      .chi-accordion__trigger {
                        padding-bottom: 0.5rem;
                        padding-left: 2.5rem;
                        padding-top: 0.5rem;

                        .chi-accordion__title {
                          font-size: $font-size-sm;
                          font-weight: $font-weight-base;
                          line-height: $line-height-sm;
                        }
                      }

                      .chi-accordion__content {
                        .chi-tabs__subtabs {
                          li {
                            a {
                              padding-left: 3.5rem;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }


      }

      .docs-article {
        background-color: $color-background-white;
        flex-grow: 1;
        width: 100%;

        .docs-titlebar {
          background-color: $color-grey-15;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          padding: 0.5rem 0 0;
          @include respond-to(lg) {
            padding: 3rem 0 0;
          }

          .chi-grid__container {
            width: calc(100% - 2rem);

            + .chi-grid__container {
              @include respond-to(lg) {
                margin-top: -1rem;
              }
            }

            &:first-child {
              padding-bottom: 1rem;
              @include respond-to(lg) {
                padding-bottom: 2rem;
              }
            }

            .docs-titlebar__title {
              font-size: $font-size-h2;
              font-weight: $font-weight-bold;
              margin-bottom: 0.5rem;
              @include respond-to(lg) {
                font-size: 3rem;
                margin-bottom: 1.5rem;
              }
            }

            .docs-titlebar__description {
              color: $color-grey-70;
              font-size: $font-size-base;
              line-height: $line-height;
              @include respond-to(lg) {
                font-size: $font-size-lg;
                line-height: $line-height-lg;
                margin: 0 0 1rem;
              }
            }

            &.-introduction {
              padding-top: 14rem;
              text-align: center;
              @include respond-to(lg) {
                padding-top: 0;
                text-align: left;
              }

              .docs-titlebar__title {
                display: flex;
                font-size: $font-size-h2;
                font-weight: $font-weight-bold;
                justify-content: center;
                line-height: 2.5rem;
                margin-bottom: 0.5rem;
                padding-left: 3rem;
                padding-right: 3rem;
                @include respond-to(lg) {
                  font-size: 3rem;
                  justify-content: flex-start;
                  line-height: 4rem;
                  margin-bottom: 1.5rem;
                  padding-left: 0;
                  padding-right: 0;
                }
              }

              .docs-titlebar__description {
                color: $color-grey-80;
                display: flex;
                font-size: $font-size-base;
                font-weight: $font-weight-normal;
                justify-content: center;
                line-height: 1.25rem;
                padding-left: 2rem;
                padding-right: 2rem;
                @include respond-to(lg) {
                  font-size: 1.125rem;
                  justify-content: flex-start;
                  line-height: 1.5rem;
                  margin: 0 0 1rem;
                  padding-left: 0;
                  padding-right: 0;
                }
              }

              .docs-titlebar__buttons {
                align-items: center;
                display: flex;
                flex-direction: column;
                margin: 2rem 0;
                @include respond-to(sm) {
                  flex-direction: row;
                  justify-content: center;
                }
                @include respond-to(lg) {
                  justify-content: flex-start;
                  margin: 3rem 0;
                }

                .chi-button {
                  display: flex;
                  justify-content: center;
                  width: 80%;
                  @include respond-to(sm) {
                    display: inline-flex;
                    width: auto;
                  }
                }
              }

              .introduction-graphic {
                left: calc(50% - 8rem);
                position: absolute;
                top: -13rem;
                transform: scale(0.4);
                @include respond-to(lg) {
                  left: 0;
                  position: relative;
                  top: 0;
                  transform: scale(1);
                }

                .shape--1 {
                  border: 0.25rem solid #38c6f4;
                  height: 9rem;
                  left: 18rem;
                  position: absolute;
                  top: -7rem;
                  width: 9rem;
                }

                .shape--2 {
                  border: 0.25rem solid #0c9ed9;
                  height: 7rem;
                  left: 5rem;
                  position: absolute;
                  top: 4rem;
                  width: 7rem;
                }

                .shape--3 {
                  height: 8rem;
                  left: 28rem;
                  position: absolute;
                  top: 5rem;
                  width: 8rem;

                  &::before {
                    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 110' height='128' width='128'><polygon fill='%23F4F5F6' stroke='%230075C9' stroke-width='4' points='50 15, 100 100, 0 100'/></svg>");
                    background-repeat: no-repeat;
                    content: '';
                    display: block;
                    height: 8rem;
                    width: 8rem;
                  }
                }

                .shape--4 {
                  border: 0.25rem solid #38c6f4;
                  border-radius: 4.5rem;
                  height: 7rem;
                  left: 16rem;
                  position: absolute;
                  top: 13rem;
                  width: 7rem;
                }

                .shape--5 {
                  height: 14rem;
                  left: 0;
                  position: absolute;
                  top: 16rem;
                  width: 14rem;

                  &::before {
                    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 110' height='224' width='224'><polygon fill='%23F4F5F6' stroke='%230075C9' stroke-width='2' points='50 15, 100 100, 0 100'/></svg>");
                    background-repeat: no-repeat;
                    content: '';
                    display: block;
                    height: 14rem;
                    width: 14rem;
                  }
                }

                .shape--6 {
                  border: 0.25rem solid #0c9ed9;
                  border-radius: 4.5rem;
                  height: 9rem;
                  left: 30rem;
                  position: absolute;
                  top: 20rem;
                  width: 9rem;
                }
              }
            }
          }
        }

        .chi-grid__container {
          @include respond-to(lg) {
            margin: 0 40px;
          }

          @include respond-to(xl) {
            margin: 0 auto;
            max-width: 960px;
            padding: 0 20px;
          }

          >,
          .changelog__version >,
          .chi-tabs-panel >,
          > .chi-grid .chi-col,
          > .chi-epanel {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
              display: flex;
              font-weight: $font-weight-semi-bold;
            }

            h1 {
              font-size: $font-size-h2;
              font-weight: $font-weight-extra-bold;
              line-height: 3rem;
              margin: 1rem 0;
            }

            h2 {
              font-size: $font-size-h3;
              line-height: 2rem;
              margin: 1rem 0;
            }

            h3 {
              font-size: $font-size-h4;
              line-height: 2rem;
              margin: 0.5rem 0;

              > a {
                cursor: pointer;
              }
            }

            h4 {
              font-size: $font-size-h5;
              line-height: 1.5rem;
              margin: 0.5rem 0;
            }

            h5 {
              font-size: $font-size-h6;
              line-height: 1.5rem;
              margin: 0.5rem 0;
            }

            h6 {
              font-size: $font-size-sm;
              line-height: 1.25rem;
              margin: 0.5rem 0;
            }
          }
        }

        .example {
          border: 0.0625rem solid $color-grey-25;
          position: relative;
          z-index: 10;

          .example-tabs {
            background-color: $color-grey-15;
            border-bottom: 0.0625rem solid $color-grey-25;
            border-top: 0.0625rem solid $color-grey-25;
          }

          pre[class*="language-"] {
            border-top: 0.0625rem solid $color-grey-25;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin: 0;
          }

          .chi-tabs-panel {
            .chi-tab__description {
              background-color: $color-grey-15;
              font-size: $font-size-base;
              line-height: $line-height;
              padding: 1rem 1rem 0 1rem;
            }

            pre[class*="language-"] {
              border-top: 0;
            }
          }

          & > .clipboard:first-child + pre[class*="language-"] {
            border-top: 0;
          }

          .code-block>pre {
            border-top: 0;
          }
        }

        .example-opacity {
          background: linear-gradient(45deg, rgba(36, 37, 38, 0.1) 25%, transparent 0),
          linear-gradient(-45deg, rgba(36, 37, 38, 0.1) 25%, transparent 0),
          linear-gradient(45deg, transparent 75%, rgba(36, 37, 38, 0.1) 0),
          linear-gradient(-45deg, transparent 75%, rgba(36, 37, 38, 0.1) 0);
          background-position: 0 0, 0 6px, 6px -6px, -6px 0;
          background-size: 12px 12px;
          overflow: hidden;
          width: 100%;
        }

        .example-vertical-align {
          background-image: linear-gradient(180deg, $color-background-secondary 0, $color-background-base 1px);
          background-repeat: repeat-y;
          background-size: 100% 1.5rem;
          padding-bottom: 0.25rem;

          &__block {
            height: 3rem;
            width: 0.5rem;
          }
        }
      }

      &.chi-grid__container-wide {
        .docs-article {
          .chi-grid__container {
            @include respond-to(xl) {
              max-width: 1200px;
            }
          }
        }
      }
    }

    &.outdated-version {
      .docs-body {
        @include respond-to(lg) {
          padding-top: 7rem;
        }

        .docs-sidenav {
          top: 112px;
        }
      }
    }
  }
}
