@import '../../../chi/variables';
@import '../../../chi/mixins';

.chi {
  .docs-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .docs-body {
      display: flex;
      flex: 1 0 auto;
      flex-direction: row;
      padding: 4rem 0 0 16rem;
      @media only screen and (max-width: $md-breakpoint) {
        flex-direction: column;
        padding-left: 0;
        padding-top: 0.5rem;
      }

      &__aside {
        position: fixed;
        left: 0;
        top: 64px;
        background-color: set-color(white);
        border-right: 0.0625rem solid rgba(set-color(black), 0.12);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        overflow: auto;
        height: 100%;
        width: 16rem;
        padding-top: 0.5rem;
        padding-bottom: 4.5rem;
        @media only screen and (max-width: $md-breakpoint) {
          position: static;
          width: 100%;
          border-right: 0;
          padding-bottom: 1rem;
          border-bottom: 0.0625rem solid rgba(set-color(black), 0.12);
        }

        a[disabled] {
          color: set-color(white) !important;
          pointer-events: none;
        }
        .a-tabs.-vertical {
          @media only screen and (max-width: $md-breakpoint) {
            >li {
              >a {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
              }
            }
          }
          >li.-active {
            >a {
              color: $brand-color;
              &:before {
                display: none;
              }
            }
          }
          .a-tabs__subtabs {
            li {
              margin-bottom: 0;
              &.-active {
                >a {
                  color: $brand-color;
                  position: relative;
                  &:before {
                    background-color: $brand-color;
                    content: "";
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: .125rem;
                    height: 2rem;
                  }
                }
              }
              a {
                &:hover {
                  color: $brand-color;
                }
              }
            }
          }
        }
      }


      &__content {
        background-color: set-color(white);
        flex-grow: 1;
        min-width: 0;
        padding-top: 1rem;
        @media only screen and (max-width: $md-breakpoint) {
          padding-top: 0.5rem;
        }
        .a-table {
          &:before, th>div, &.-bordered td {
            border-color: set-color(grey, 30);
          }
        }

        @media only screen and (min-width: $md-breakpoint) {
          >.a-grid__container {
            margin: 0 40px;
          }
        }

        @media only screen and (min-width: 1260px) {
          >.a-grid__container {
            margin: 0 auto;
            max-width: 960px;
          }
        }

        .example {
          border: 0.0625rem solid rgba(set-color(black), 0.12);
          border-radius: 0.15em;

          pre[class*=language-] {
            margin: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: 0.0625rem solid rgba(set-color(black), 0.12);
          }
          .code-block>pre {
            border-top: 0;
            border-radius: 0.15em;
          }
        }
      }
    }
  }
}
