@import '../../../chi/_variables';
@import '../../../chi/_mixins';

.chi {
  .docs-header {
    position: relative;

    @include respond-to(lg) {
      position: fixed;
    }

    .o-header__content {
      flex-direction: column;
      display: flex;
      height: auto;
      padding: .75rem .5rem;

      @include respond-to(sm) {
        flex-direction: row;
        height: 4rem;
        padding: 0 1rem;
      }

      @include respond-to(md) {
        padding: 0 1.5rem;
      }

      .o-header__brand {
        flex-direction: column;

        @include respond-to(sm) {
          flex-direction: row;
        }
        .a-brand {
          margin: 0;
          width: auto;

          @include respond-to(sm) {
            margin: 0 1rem 0 0;
          }

          @include respond-to(md) {
            margin: 0 1.5rem 0 0;
          }

          & > img,
          & > svg {
            height: 1.5rem;

            @include respond-to(sm) {
              height: 2rem;
            }
          }
        }

        .o-header__title {
          font-size: $text;
          line-height: $line-height;

          @include respond-to(sm) {
            font-size: $text-large;
            line-height: $line-height-small;
          }

          @include respond-to(md) {
            font-size: $text-larger;
          }
        }

        .-chi-search {
          .a-input {
            width: 18.75rem;
            height: 2.5rem!important;
            background-color: set-color(grey, 80);
            border: none;
            color: set-color(grey, 50);
            
            &:focus {
              width: 21rem;
              background-color: set-color(white);
            }
          }
      
          .a-icon {
            position: absolute;
            right: 0.75rem;
            top: 0.75rem;
          }
      
          .algolia-autocomplete .ds-dropdown-menu {
            min-width: 21rem;
          }
      
          @include respond-to(xs) {
            .a-input {
              margin-top: 0.75rem;
            }
      
            .a-icon {
              top: 1.5rem;
            }
      
            .algolia-docsearch-suggestion--subcategory-column {
              display: none;
            }
          }
      
          @include respond-to(sm) {
            .a-input {
              width: 12.5rem;
      
              &:focus {
                width: 14rem;
              }
      
              .algolia-autocomplete .ds-dropdown-menu {
                min-width: 14rem;
              }
            }
          }
      
          @include respond-to(lg) {
            .a-input {
              width: 19rem;
            
              &:focus {
                width: 22rem;
              }
            }
      
            .algolia-autocomplete .ds-dropdown-menu {
              min-width: 22rem;
            }
          }
        }
      }

      .o-header__end {
        padding-top: .5rem;

        @include respond-to(sm) {
          padding-top: 0;
        }
      }

    }

  }
}
