@import '../../../chi/_variables';
@import '../../../chi/_mixins';

.chi {
  .docs-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .docs-body {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      padding: 0.5rem 0 0 0;
      position: relative;
      @include respond-to(lg) {
        flex-direction: row;
        padding-left: 16rem;
        padding-top: 4rem;
      }

      &__aside {
        background-color: set-color(white);
        border-bottom: 0.0625rem solid set-color(grey, 25);
        border-right: 0;
        height: 100%;
        left: 0;
        overflow: auto;
        padding-bottom: 1rem;
        padding-top: 0.5rem;
        position: static;
        top: 64px;
        width: 100%;
        @include respond-to(lg) {
          border-right: 0.0625rem solid set-color(grey, 25);
          border-bottom: 0;
          padding-bottom: 4.5rem;
          position: fixed;
          width: 16rem;
        }

        a[disabled] {
          color: set-color(grey, 50) !important;
          pointer-events: none;
        }
      }


      &__content {
        background-color: set-color(white);
        flex-grow: 1;
        padding-top: 0.5rem;
        width: 100%;
        @include respond-to(lg) {
          padding-top: 1rem;
        }
        >.a-grid__container {
          @include respond-to(lg) {
            margin: 0 40px;
          }
          @include respond-to(xl) {
            margin: 0 auto;
            max-width: 960px;
            padding: 0 2rem;
          }
        }
        .example {
          border: 0.0625rem solid set-color(grey, 25);
          border-radius: 0.15em;
          position: relative;
          z-index: 10;

          pre[class*=language-] {
            margin: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: 0.0625rem solid set-color(grey, 25);
          }

          & > .clipboard:first-child + pre[class*=language-] {
            border-top: none;
          }

          .code-block>pre {
            border-top: 0;
            border-radius: 0.15em;
          }
        }
      }
    }

    &.outdated-version {
      .docs-body {
        @include respond-to(lg) {
          padding-top: 6.5rem;
        }
        &__aside {
          top: 104px;
        }
      }
      #versionDropdown {
        height: 402px;
        overflow-y: auto;
      }
    }
  }
}
