@import './prismjs/chi-a11y-light';
@import '../../../chi/_variables';
@import '../../../chi/_mixins';

@import './docs-header';
@import './docs-container';

html,
body {
  height: 100%;
  min-width: 100%;

  pre {
    max-height: 20rem;
    overflow-y: auto;
  }

  code {
    background-color: $color-grey-15;
    border-radius: 0.1875rem;
    color: $color-green-70;
    font-family: Menlo, Consolas, 'Liberation Mono', Courier, monospace;
    font-size: 0.8125rem;

    &:not([class*='language-']) {
      padding: 0.125rem 0.25rem;
    }
  }

  a {
    color: $color-blue-60;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .chi-example {
    &__html,
    &__code {
      &.-hidden {
        display: none;
      }
    }

    pre {
      margin: 0;
    }
  }

  .clipboard {
    position: relative;

    &__button {
      opacity: 0.7;
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      transition: opacity 0.25ms ease-in-out;
      &:hover {
        opacity: 1;
      }
    }

    &__text-wrapper {
      height: 0;
      position: relative;
    }
  }

  .changelog__version {
    ul:not(.chi-tabs) {
      li {
        line-height: $line-height;
        padding: 0.125rem 0;
      }
    }
  }

  .chi-expansion-panel {
    &.-web-components {
      .chi-epanel {
        &.-active {
          .chi-epanel__title {
            .icon-chevron-right {
              transform: rotate(90deg);
              transition: transform 0.2s ease-in-out;
            }
          }
        }
      }
    }
  }

  .chi-table__options code {
    word-break: normal;
  }

  @include respond-to(lg) {
    .-anchor {
      &::before {
        height: 5rem;
        margin: -5rem 0 0;
      }
    }
  }
}
