@import './prismjs/chi-a11y-light';
@import '../../../chi/_variables';
@import '../../../chi/_mixins';

@import './docs-header';
@import './docs-container';

html,
body {
  height: 100%;
  min-width: 100%;

  pre {
    border-radius: $border-radius;
    max-height: 360px;
    overflow-y: auto;
  }

  code {
    font-family: Menlo, Consolas, 'Liberation Mono', Courier, monospace;
    font-size: 0.8125rem;
    background-color: set-color(grey, 15);
    border-radius: $border-radius;
    color: #008040;

    &:not([class*='language-']) {
      padding: 0.125rem 0.25rem;
    }
  }

  a {
    color: set-color(blue, 60);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .m-example {
    &__html,
    &__code {
      &.-hidden {
        display: none;
      }
    }

    pre {
      margin: 0;
    }
  }

  .clipboard {
    position: relative;

    &__button {
      opacity: 0.7;
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      transition: opacity 0.25ms ease-in-out;
      &:hover {
        opacity: 1;
      }
    }

    &__text-wrapper {
      height: 0;
      position: relative;
    }
  }

  .changelog__version {
    li {
      padding: 0.25rem 0;
    }
  }

  .a-table__options code {
    word-break: normal;
  }

  @include respond-to(lg) {
    .-anchor {
      &::before {
        height: 5rem;
        margin: -5rem 0 0;
      }
    }
  }
}
