.palette {
  font-size: 0.8125rem;
  line-height: 1rem;
  padding: 1rem;

  strong {
    display: block;
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }

  .hexa {
    background: none;
    color: inherit;
    padding: 0;
  }
}
