@import '../../../chi/variables';
@import '../../../chi/mixins';

.icon-library {
  >.a-col {
    >.a-card {
      align-items: center;
      border-color: transparent;
      justify-content: center;
    }
  }
}
