@import '../../../chi/_global-variables';
@import '../../../chi/_mixins';

.icon-library {
  >.chi-col {
    >.chi-card {
      align-items: center;
      border-color: transparent;
      justify-content: center;
    }
  }
}
