@import '../../../chi/variables';
@import '../../../chi/mixins';

.-show--example {
  [class*=a-col]:before {
    background-color: set-color(mint, 10);
    box-shadow: inset 0 0 0 1px set-color(mint, 30);
    content: attr(class);
    display: block;
    font-size: 0.875rem;
    min-height: 2rem;
    overflow: hidden;
    padding: 0.5rem 1rem;
    text-overflow: ellipsis;
    white-space: pre;
  }

  & > div:not(.a-col),
  & > p {
    background-color: set-color(mint, 10);
    box-shadow: inset 0 0 0 1px set-color(mint, 30);
  }
}
