@import '../../../chi/_global-variables';
@import '../../../chi/themes/lumen/_variables';
@import '../../../chi/_global-mixins';

.-show--example {
  [class*="chi-col"]:before {
    background-color: $color-blue-20;
    box-shadow: inset 0 0 0 1px $color-blue-30;
    content: attr(class);
    display: block;
    font-size: 0.875rem;
    min-height: 2rem;
    overflow: hidden;
    padding: 0.5rem 1rem;
    text-overflow: ellipsis;
    white-space: pre;
  }

  & > div:not(.chi-col),
  & > p {
    background-color: $color-blue-20;
    box-shadow: inset 0 0 0 1px $color-blue-30;
  }
}
