@import '_variables';
@import '_mixins';

$states: (
  success: (
    border-left-color: $icon-color-success,
    color: $icon-color-success,
    banner-color: set-color(mint, 20),
    banner-border-color: set-color(mint, 30),
    title-color: $success-color
  ),
  danger: (
    border-left-color: $icon-color-danger,
    color: $icon-color-danger,
    banner-color: set-color(red, 20),
    banner-border-color: set-color(red, 30),
    title-color: $danger-color
  ),
  warning: (
    border-left-color: $icon-color-warning,
    color: $icon-color-warning,
    banner-color: set-color(yellow, 20),
    banner-border-color: set-color(yellow, 30),
    title-color: $warning-color
  ),
  info: (
    border-left-color: $icon-color-info,
    color: $icon-color-info,
    banner-color: set-color(blue, 20),
    banner-border-color: set-color(blue, 30),
    title-color: $info-color
  ),
  muted: (
    border-left-color: $icon-color-muted,
    color: $icon-color-muted,
    banner-color: set-color(grey, 20),
    banner-border-color: set-color(grey, 30),
    title-color: $muted-color
  )
);

.chi-alert {
  background-color: set-color(white);
  border-color: set-color(grey, 30);
  border-style: solid;
  border-width: 0.0625rem;
  box-shadow: map-get($shadow, 1);
  color: $text-color;
  display: flex;
  font-family: $font-family;
  font-size: $text;
  line-height: $line-height-small;
  padding: 0.8125rem 1.5rem;
  position: relative;
  text-align: left;

  &:not(.-banner) {
    &::before {
      background-color: $text-color;
      content: '';
      height: 100%;
      left: -0.0625rem;
      position: absolute;
      top: 0;
      width: 0.25rem;
    }
  }

  &.-center {
    display: flex;
    justify-content: center;

    &::before {
      height: 0.125rem;
      left: 0;
      top: -0.0625rem;
      width: 100%;
    }

    .chi-alert__content {
      flex-grow: 0;
    }
  }

  > .chi-icon,
  > chi-icon .chi-icon,
  .chi-alert__icon {
    &:not(.icon-x) {
      flex-shrink: 0;
      font-size: 1rem;
      height: 1rem;
      margin-bottom: 0.125rem;
      margin-right: 1rem;
      margin-top: 0.125rem;
      width: 1rem;
    }
  }

  .chi-alert__text,
  p,
  .-text {
    font-size: $text;
    line-height: $line-height-small;
    margin: 0;
    word-break: break-word;
  }

  @each $state in map-keys($states) {
    &.-#{$state} {
      color: set-color(grey, 100);

      &:not(.-banner) {
        &::before {
          background-color: map-get(map-get($states, $state), border-left-color);
        }
      }

      &.-banner {
        background-color: map-get(map-get($states, $state), banner-color);
      }

      .chi-alert__icon,
      > chi-icon .chi-icon {
        color: map-get(map-get($states, $state), color);
      }

      .chi-alert__title {
        color: map-get(map-get($states, $state), title-color);
      }
    }
  }

  &.-close {
    padding-right: 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .chi-alert__title {
      font-size: $text;
      font-weight: 600;
      line-height: $line-height-small;
      margin-bottom: 0.25rem;
      margin-top: 0;
      word-break: break-word;

      &::first-letter {
        text-transform: capitalize;
      }
    }

    .chi-alert__actions {
      padding-top: 0.75rem;

      > .chi-button {
        margin-right: 0.5rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  > .chi-button,
  > chi-button .chi-button {
    &.-close,
    &.chi-alert__close-button {
      align-self: flex-start;
      margin-left: 1rem;
      padding: 0.1875rem;
      transform: initial;

      .chi-icon {
        font-size: 0.75rem;
        height: 0.75rem;
        line-height: 0.75rem;
        width: 0.75rem;
      }
    }
  }

  &.-lg {
    padding: 1.0625rem 1.5rem;

    > i.chi-icon,
    > chi-icon .chi-icon,
    .chi-alert__icon {
      &:not(.icon-x) {
        font-size: 1.25rem;
        height: 1.25rem;
        line-height: 1.25rem;
        width: 1.25rem;
      }
    }

    > .chi-button,
    > chi-button .chi-button {
      &.-close,
      &.chi-alert__close-button {
        padding: 0;

        .chi-icon {
          font-size: 1rem;
          height: 1rem;
          line-height: 1rem;
          width: 1rem;
        }
      }
    }

    .chi-alert__content {
      .chi-alert__title {
        font-size: $text-large;
        font-weight: 600;
        line-height: $line-height-large;
        margin-bottom: 0.375rem;
      }

      .chi-alert__text {
        padding-top: 0.125rem;
      }

      .chi-alert__actions {
        padding-top: 1rem;

        > .chi-button,
        > chi-button {
          margin-right: 1rem;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  &.-sm {
    padding: 0.5625rem 1.5rem;

    .chi-alert__content {
      .chi-alert__title {
        margin-bottom: 0;
      }

      .chi-alert__text {
        font-size: $text-small;
        line-height: $line-height-smaller;
        padding-top: 0.125rem;
      }

      .chi-alert__actions {
        padding-top: 0.5rem;
      }
    }

    &.-close {
      padding-right: 1rem;
    }
  }
}
