@import '_variables';
@import '_mixins';

$hr-sizes: (h1, h2, h3, h4, h5, h6);

$states: (
  success: (
    background-color: set-color(mint, 10),
    border-color: set-color(mint, 30)
  ),
  danger: (
    background-color: set-color(red, 10),
    border-color: set-color(red, 30)
  ),
  warning: (
    background-color: set-color(yellow, 10),
    border-color: set-color(yellow, 30)
  ),
  info: (
    background-color: set-color(navy, 10),
    border-color: set-color(navy, 30)
  ),
  muted: (
    background-color: set-color(grey, 10),
    border-color: set-color(grey, 30)
  )
);

.m-alert {
  background-color: set-color(white);
  border-color: set-color(grey, 30);
  border-radius: $border-radius;
  border-style: solid;
  border-width: 0.0625rem;
  box-sizing: border-box;
  color: $text-color;
  display: flex;
  font-family: $font-family;
  font-size: $text-small;
  line-height: $line-height-small;
  padding: 0.5625rem 1rem;
  position: relative;

  & i {
    &:not(.icon-x) {
      margin-right: 1rem;
    }
  }

  & .a-icon {
    margin-right: 1rem;
  }

  .a-btn {
    .a-icon {
      margin-right: auto;
    }
  }

  &.-center {
    align-items: center;
    justify-content: center;
  }

  @each $state in map-keys($states) {
    &.-#{$state} {
      background-color: map-get(map-get($states, $state), background-color);
      border-color: map-get(map-get($states, $state), border-color);
    }
  }

  &__content {
    align-items: center;
    display: flex;
    justify-content: center;

    & .a-h5 {
      margin-top: 0;
    }
  }
}
