.m-alert {
  &.-banner {
    align-items: center;
    border-radius: 0;

    & .m-alert__content {
      chi-icon {
        align-self: auto;
      }
      & .a-h5 {
        margin-bottom: 4px!important;
      }
    }

    &.-dismiss {
      justify-content: space-between;
    }

    &.-large, //Legacy code: -large to be removed.
    &.-lg {
      padding: .95rem 1rem;
      & .a-icon {
        align-self: flex-start;
      }

      & .a-h5 {
        margin-bottom: 4px!important;
      }
    }


    &.-md {
      padding: 1.0635rem 1rem;
      & > .-close {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

  }
}

.-titled {
  .a-icon {
    top: 0.1875rem;
  }
}