.chi-alert {
  &.-banner {
    background-color: $color-background-white;
    border: 0;
    box-shadow: none;
    padding: 0.875rem 1.5rem;

    .chi-alert__title {
      color: $color-text-base;
    }

    &.-sm {
      padding: 0.625rem 1.5rem;
    }

    &.-lg {
      padding: 1.125rem 1.5rem;
    }
  }
}
