@import 'alert-common';

.chi {
  .m-alert {
    &.-bubble {

      & > button.a-close {
        position: absolute;
        right: 1rem;
        top: 0.8125rem;
      }

      &.-small {
        &::before {
          display: none;
        }

        & > button.a-close {
          top: 0.3rem;
          transform: initial;
        }
      }

      &.-large {
        padding-bottom: 1.1875rem;
        padding-top: 0.75rem;

        & > button.a-close {
          top: 0.9375rem;
          transform: initial;
        }

        &::before {
          font-size: $text-large;
          margin-bottom: 0.4375rem;
          padding: 0.25rem 0;
        }
      }

      @each $state in map-keys($states) {
        &.-#{$state} {
          &.-hasIcon {
            &.-small {
              padding-left: 2.4375rem;

              &::after {
                height: 1rem;
                left: 0.9375rem;
                width: 1rem;
              }
            }

            &.-large {
              &::after {
                height: 1.5rem;
                left: 0.9375rem;
                top: 0.9375rem;
                transform: initial;
                width: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}
