@import 'alert-common';

.chi {
  .m-alert {
    &.-bubble {
      align-items: center;
      justify-content: start;

      &.-dismiss {
        justify-content: space-between;
      }

      & > .-close {
        &.-small {
          line-height: .75rem;
          padding: .25rem
        }
      }

      &.-large {
        padding-bottom: 1.1875rem;
        padding-top: 0.75rem;

        &.-titled {
          align-items: start;
          justify-content: start;

          & .m-alert__content {
            & .a-icon {
              align-self: start;
              top: 0.1875rem
            }
            & div:first-child {
              text-transform: capitalize;
            }
          }

          &.-dismiss {
            justify-content: space-between;
          }
        }

        & > .-close {
          top: 0.75rem;
          transform: initial;
        }
      }
    }
  }
}
