@import 'alert-common';

.chi {
  .m-alert {
    &.-bubble {
      align-items: center;
      justify-content: start;

      &.-dismiss {
        justify-content: space-between;
      }

      & > .-close {
        &.-small {
          line-height: 0.75rem;
          padding: 0.25rem;
        }
      }

      &.-large {
        padding-bottom: 1.1875rem;
        padding-top: 0.75rem;

        & .m-alert__content {
          & .a-icon {
            align-self: start;
            top: 0.1875rem;
          }

          & > div:not(p) {
            text-transform: capitalize;
          }
        }

        & > .-close {
          align-self: start;
          top: 0.75rem;
          transform: initial;
        }
      }
    }
  }
}
