.m-alert {
  &.-bubble {
    align-items: center;
    justify-content: flex-start;

    &.-dismiss {
      justify-content: space-between;

      & > .-close {
        &.-small {
          padding: 0.25rem;
        }

        & .a-icon {
          line-height: 0.75rem;
        }
      }
    }

    &.-center {
      justify-content: center;
    }

    &.-large, &.-lg { //Legacy code: -large to be removed.
      padding-bottom: 0.75rem;
      padding-top: 0.75rem;

      & .m-alert__content {
        & .a-icon {
          align-self: flex-start;
          top: 0.1875rem;
        }

        @each $size in $hr-sizes {
          & .a-#{$size} {
            margin-bottom: 0;
            margin-top: 0;
          }

          & #{$size} {
            margin-bottom: 0;
            margin-top: 0;
          }
        }
      }

      & > .-close {
        align-self: flex-start;
        top: 0.75rem;
        transform: initial;
      }
    }
  }
}
