// TODO: Replace placeholders 
$alert-gradient-image-1: url('https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=400&h=200&fit=crop') !default;
$alert-gradient-image-2: url('https://placehold.co/400x200') !default;

.chi-alert {
  &.-gradient,
  &.-gradient-accent-1 {
    background: $alert-gradient-background;
    border: 0;
    border-radius: $alert-border-radius;
    box-shadow: none;
    overflow: hidden;
    padding: $alert-gradient-padding;

    &::before {
      display: none;
    }

    .chi-alert__title {
      color: $alert-gradient-title-color;
      font-weight: $alert-gradient-title-font-weight;
      margin-bottom: $alert-gradient-title-margin-bottom;
    }

    .chi-alert__text {
      margin-bottom: $alert-gradient-text-margin-bottom;
    }

    .chi-button {
      &.-close {
        background-color: $alert-gradient-close-button-background;
        border-radius: $border-radius-circle;
        z-index: 1;

        .chi-icon {
          color: $alert-gradient-close-icon-color;
        }
      }
    }

    &.-image-1,
    &.-image-2 {
      &::after {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        height: 100%;
        position: absolute;
        right: 0;
        width: $alert-gradient-image-width;
      }

      .chi-alert__content {
        padding-right: $alert-gradient-image-width;
      }
    }

    &.-image-1::after {
      background-image: $alert-gradient-image-1;
    }

    &.-image-2::after {
      background-image: $alert-gradient-image-2;
    }
  }

  &.-gradient-accent-1 {
    background: $alert-gradient-teal-background;
  }
}
