// TODO: Replace placeholders 
$alert-gradient-image-1: url('https://lib.lumen.com/control-center/images/alert-banner-media-1.png') !default;
$alert-gradient-image-2: url('https://lib.lumen.com/control-center/images/alert-banner-media-2.png') !default;

.chi-alert {
  &.-gradient-accent-1,
  &.-gradient-accent-2 {
    border: 0;
    border-radius: $alert-border-radius;
    box-shadow: none;
    overflow: hidden;
    padding: $alert-gradient-padding;
    position: relative;

    &::before {
      display: none;
    }

    .chi-alert__title {
      color: $alert-gradient-title-color;
      font-weight: $alert-gradient-title-font-weight;
      margin-bottom: $alert-gradient-title-margin-bottom;
    }

    .chi-alert__text {
      margin-bottom: $alert-gradient-text-margin-bottom;
    }

    .chi-button {
      &.-close {
        background-color: $alert-gradient-close-button-background;
        border-radius: $border-radius-circle;
        position: relative;
        z-index: 1;

        .chi-icon {
          color: $alert-gradient-close-icon-color;
        }
      }
    }

    &.-alert-banner-media-1,
    &.-alert-banner-media-2 {
      &::after {
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: -5px;
        content: '';
        height: 110%;
        position: absolute;
        right: -5px;
        width: 100%;
        pointer-events: none;
      }

      .chi-alert__content {
        padding-right: $alert-gradient-image-width;
      }
    }

    &.-alert-banner-media-1::after {
      background-image: $alert-gradient-image-1;
    }

    &.-alert-banner-media-2::after {
      background-image: $alert-gradient-image-2;
    }
  }

  &.-gradient-accent-1 {
    background: $alert-gradient-background;
  }

  &.-gradient-accent-2 {
    background: $alert-gradient-teal-background;
  }
}
