@import 'alert-common';

.chi {
  .m-alert {
    &.-toast {
      max-width: 20rem;
      padding-bottom: 1.1875rem;
      padding-top: 0.75rem;

      &::before {
        font-size: $text-large;
        margin-bottom: 0.4375rem;
        padding: 0.25rem 0;
      }

      & > .-close {
        position: absolute;
        right: 0.9375rem;
        top: 0.9375rem;
      }

      @each $state in map-keys($states) {
        &.-#{$state} {
          &.-hasIcon {
            &::after {
              height: 1.5rem;
              left: 0.9375rem;
              top: 0.9375rem;
              transform: initial;
              width: 1.5rem;
            }
          }
        }
      }
    }
  }
}
