.m-alert {
  &.-toast {
    box-shadow: map-get($shadow, 2);
    max-width: 20rem;
    min-width: 16rem;
    padding-right: 1rem;

    .m-alert__content {
      .m-alert__title {
        margin-bottom: 0.25rem;
      }
    }

    &.-sm {
      .m-alert__content {
        .m-alert__title {
          margin-bottom: 0;
        }
      }
    }

    &.-large, //Legacy code: -large to be removed.
    &.-lg {
      padding-right: 1.5rem;
      .m-alert__content {
        .m-alert__title {
          margin-bottom: 0.375rem;
        }
      }
    }

  }
}
