@import 'alert-common';

$hr-sizes: (h1, h2, h3, h4, h5, h6);

.chi {
  .m-alert {
    &.-toast {
      align-items: start;
      justify-content: space-between;
      max-width: 20rem;
      padding-bottom: 1.1875rem;
      padding-top: 0.75rem;

      & .m-alert__content {
        & .a-icon {
          align-self: start;
          top: 0.1875rem;
        }

        @each $size in $hr-sizes {
          & .a-#{$size} {
            margin-bottom: 0;
            margin-top: 0;
            text-transform: capitalize;
          }

          & #{$size} {
            margin-bottom: 0;
            margin-top: 0;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
