- var example=0;
- var menuItems=['1', '2', '3', '4'];
- var drawerMenuItems=['1', '2'];
-
  var active = {
    menuItem: '1',
    drawerMenuItem: '2'
  };

#exampleHashTarget.-position--fixed-top.-sr--only

h2 Examples

.-portal--hide
  include ./_base
include ./_open-on-hover

.-portal--hide
  h2 Active Usage
  p.-text
    | The <code>-active</code> class can be applied to <code>ul.chi-sidenav__list &gt; li</code>
    | for activating the elements in the sidenav menu, <code>.drawer</code> for opening the <a href="../drawer/">drawer</a>,
    | and <code>ul.chi-sidenav__drawer-list &gt; li</code> for activating the menu items inside the drawer.

  h2 Sizes
  p.-text
    | Sidenav supports the following sizes: <code>-sm</code>, <code>-md</code> and <code>-lg</code>.
    | The default size is <code>-md</code>.

  include ./sizes/_sm.pug
  include ./sizes/_md.pug
  include ./sizes/_lg.pug

h2 Recommended layout
p.-text
  | Use this layout to ensure the sidenav renders correctly in your project.
.example.-mb--3
  :code(lang='html')
    <div class="-d--flex">
      <aside class="chi-sidenav -flex--shrink0">
        <!-- Sidenav content goes here -->
      </aside>
      <div class="-flex--grow1">
        <!-- Page content goes here -->
      </div>
    </div>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.sidenav(document.getElementById('example-base'));
      const sidenav = chi.sidenav(document.getElementById('example-open-on-hover'), {
        openOnHover: true,
        autoClose: true
      });

      chi.sidenav(document.getElementById('example-sizes-sm'));
      chi.sidenav(document.getElementById('example-sizes-md'));
      chi.sidenav(document.getElementById('example-sizes-lg'));

      chi.tab(document.getElementById('examples-default'));
      chi.tab(document.getElementById('examples-open-on-hover-tabs'));
      chi.tab(document.getElementById('examples-sizes-sm'));
      chi.tab(document.getElementById('examples-sizes-md'));
      chi.tab(document.getElementById('examples-sizes-lg'));
    }
  );
