---
title: Sidenav
description: Use the sidenav to add a navigation menu with a drawer for deeper navigation. It responds differently to three different media queries for screen sizes. In the smallest one, only the icon is visible.
tabs: {"Examples" : "examplestab", "Properties" : "propertiestab", "Accessibility" : "accessibilitytab"}
---

.a-tabs-panel.-active#examplestab
  include _examples

.a-tabs-panel#propertiestab
  include _properties

.a-tabs-panel#accessibilitytab
  include _accessibility