@import 'variables';
@import 'mixins';

$border: 0.0625rem;

.a-inputWrapper {
  position: relative;
}

.m-formGroup {
  display: flex;
  position: relative;

  &.-inline {
    align-items: center;
    display: inline-flex;
    margin-right: 0.5rem;
  }
}

.m-radiobuttonList,
.m-checkboxList {
  & .a-divider {
    margin: 0;
  }

  & > div:not(.a-divider) {
    border: $border solid set-color(grey, 30);
    border-bottom-width: 0;
    border-radius: 0;
    border-top-width: 0;
    padding: (0.5rem - $border) (1rem - $border);

    &:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      border-top-width: $border;
    }

    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      border-bottom-width: $border;
    }
  }
}
