@import 'variables';
@import 'mixins';

.a-inputWrapper {
  position: relative;

  &.-compact {
    display: table;
  }
}

.m-formGroup {
  display: flex;
  position: relative;

  &.-inline {
    align-items: center;
    display: inline-flex;
    margin-right: 0.5rem;
  }
}
