@import '_variables';
@import '_mixins';

$border: 0.0625rem;

.chi-input__wrapper {
  position: relative;
}

.chi-form__item {
  display: flex;
  flex-direction: column;

  & label:not(.chi-label) {
    font-weight: $font-weight-normal;
  }

  &.-row {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;

    & label {
      margin-bottom: 0;
    }

    chi-label,
    .chi-label {
      &:not(:last-child) {
        padding-right: 1rem;
      }
    }
  }

  &.-inline {
    display: inline-flex;
    margin-right: 1rem;
    vertical-align: middle;

    &:last-child {
      margin-right: 0;
    }
  }

  &.-list {
    border: $border solid $color-border-base-dark;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;

    & li {
      border-bottom: $border solid $color-border-base-light;
      flex: 1 0 auto;
      line-height: 1rem;
      padding: (0.5rem - $border) (1rem - $border);

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  & .chi-label__wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.25rem;

    label,
    .chi-label {
      margin-bottom: 0;
    }

    > .chi-icon {
      margin-left: 0.5rem;
    }
  }

  .chi-label__help {
    align-items: center;
    display: flex;
    margin-left: 0.375rem;

    .chi-button {
      padding: 0 !important;

      &.-flat {
        &.-icon {
          background: none !important;
          border: 0;

          &.-sm {
            height: 0.75rem;
          }

          .chi-icon {
            color: $color-icon-muted-dark;
          }

          &:hover {
            .chi-icon {
              color: $color-icon-primary;
            }
          }
        }
      }
    }
  }
}
