@import '_variables';
@import '_mixins';

$border: 0.0625rem;

.a-inputWrapper,
.m-input__wrapper {
  position: relative;
}

.m-form__item {
  display: flex;
  flex-direction: column;

  & label:not(.a-label) {
    font-weight: normal;
  }

  &.-row {
    align-items: center;
    flex-direction: row;
    justify-content: start;

    & label {
      margin-bottom: 0;
    }
  }

  &.-inline {
    display: inline-flex;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &.-list {
    border: $border solid set-color(grey, 30);
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;

    & li {
      border-bottom: $border solid set-color(grey, 20);
      flex: 1 0 auto;
      line-height: 1rem;
      padding: (0.5rem - $border) (1rem - $border);

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  & .m-label__wrapper {
    align-items: center;
    display: flex;
    justify-content: start;
    margin-bottom: 0.25rem;

    label,
    .a-label {
      margin-bottom: 0;
    }

    .chi-icon {
      margin-left: 0.5rem;
    }
  }
}

/// Legacy code starts here
.m-formGroup {
  display: flex;
  position: relative;

  &.-labeled {
    flex-direction: column;
  }

  &:not(.-labeled) {
    & label {
      font-weight: normal;
      margin-bottom: 0;
    }
  }

  &.-inline {
    align-items: center;
    display: inline-flex;
    margin-right: 1rem;
  }

  &.-list {
    border: $border solid set-color(grey, 30);
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;

    & li {
      border-bottom: $border solid set-color(grey, 20);
      flex: 1 0 auto;
      line-height: 1rem;
      padding: (0.5rem - $border) (1rem - $border);

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
// Legacy code ends here
