h2 Examples
p.-text
  | Expansion panels are components designed to be folded and stacked in sequence. They have four states: active,
  | pending, done and disabled. When pending, which is the default state, only the title is shown. When active, panels expand to show
  | content or forms. When done, content or form data is presented in a read only state. When disabled, a muted title
  | is shown in a non-clickable state.

ul#chi-tabs.chi-tabs
  li.-active
    a(href='#chi-tabs-done') Done
  li
    a(href='#chi-tabs-active') Active
  li
    a(href='#chi-tabs-pending') Pending
  li
    a(href='#chi-tabs-disabled') Disabled
.example.-mb--3
  #chi-tabs-done.chi-tabs-panel.-active
    .-px--3
      chi-expansion-panel(step='1', title='Done panel', state='done')
        div(slot='done')
          | CenturyLink
          br
          | 1100 112th Ave NE
          br
          | Suite 400
          br
          | Bellevue, WA 98004
        div(slot='change')
          button.chi-btn.-brand.-flat Change
    .example-tabs.-pl--2
      ul.chi-tabs#examples-default-done
        li.-active
          a(href=`#webcomponent-done`) Web component
        li
          a(href=`#html-done`) HTML
    .chi-tabs-panel.-active#webcomponent-done
      :code(lang="html")
        <chi-expansion-panel step="1" title="Done panel" state="done">
          <div slot="done">
            CenturyLink</br>
            1100 112th Ave NE</br>
            Suite 400</br>
            Bellevue, WA 98004</br>
          </div>
          <div slot="change">
            <button class="chi-btn -brand -flat">
              Change
            </button>
          </div>
        </chi-expansion-panel>
    .chi-tabs-panel#html-done
      :code(lang="html")
        <div class="chi-epanel -done">
          <div class="chi-epanel__header">
            <div class="chi-epanel__number">1.</div>
            <div class="chi-epanel__title">Expansion panel</div>
            <div class="chi-epanel__content">
              <div class="chi-epanel__collapse">
                <div class="-done--only">CenturyLink...</div>
              </div>
            </div>
            <div class="chi-epanel__action -done--only">
              <button class="chi-btn -primary -flat">Change</button>
            </div>
          </div>
        </div>

  #chi-tabs-active.chi-tabs-panel
    .-px--3
      chi-expansion-panel(step='2', title='Active panel', state='active')
        div(slot='active')
          .chi-epanel__subtitle Active panel title
          p.chi-epanel__text.-mb--0 Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque consequatur consequuntur excepturi
            |  illo maiores, nobis placeat recusandae rem! Accusantium ad in minus molestiae? Commodi cupiditate labore
            | nihil sed veritatis!
        div(slot='footer')
          button.chi-btn.-lg.-primary Continue
    .example-tabs.-pl--2
      ul.chi-tabs#examples-default-active
        li.-active
          a(href=`#webcomponent-active`) Web component
        li
          a(href=`#html-active`) HTML
    .chi-tabs-panel.-active#webcomponent-active
      :code(lang="html")
        <chi-expansion-panel step="2" title="Active panel" state="active">
          <div slot="active">
            <div class="chi-epanel__subtitle">
              Active panel title
            </div>
            <p class="chi-epanel__text">
              Lorem ipsum dolor sit amet...
            </p>
          </div>
          <div slot="footer">
            <button class="chi-btn -lg -primary">
              Continue
            </button>
          </div>
        </chi-expansion-panel>
    .chi-tabs-panel#html-active
      :code(lang="html")
        <div class="chi-epanel -active">
          <div class="chi-epanel__header">
            <div class="chi-epanel__number">2.</div>
            <div class="chi-epanel__title">Active panel</div>
          </div>
          <div class="chi-epanel__collapse">
            <div class="-active--only">
              <div class="chi-epanel__body">
                <div class="chi-epanel__content">
                  <div class="chi-epanel__subtitle">Active panel title</div>
                  <p class="chi-epanel__text">Lorem ipsum</p>
                </div>
                <div class="chi-epanel__footer -justify-content--end">
                  <button class="chi-btn -lg -primary -ml--2">Continue</button>
                </div>
              </div>
            </div>
          </div>
        </div>

  #chi-tabs-pending.chi-tabs-panel
    .-px--3
      chi-expansion-panel(step='3', title='Pending panel')
    .example-tabs.-pl--2
      ul.chi-tabs#examples-default-pending
        li.-active
          a(href=`#webcomponent-pending`) Web component
        li
          a(href=`#html-pending`) HTML
    .chi-tabs-panel.-active#webcomponent-pending
      :code(lang="html")
        <chi-expansion-panel step="3" title="Pending panel"></chi-expansion-panel>
    .chi-tabs-panel#html-pending
      :code(lang="html")
        <div class="chi-epanel">
          <div class="chi-epanel__header">
            <div class="chi-epanel__number">3.</div>
            <div class="chi-epanel__title">Pending panel</div>
          </div>
        </div>

  #chi-tabs-disabled.chi-tabs-panel
    .-px--3
      chi-expansion-panel(step='4', title='Disabled panel', state='disabled')
    .example-tabs.-pl--2
      ul.chi-tabs#examples-default-disabled
        li.-active
          a(href=`#webcomponent-disabled`) Web component
        li
          a(href=`#html-disabled`) HTML
    .chi-tabs-panel.-active#webcomponent-disabled
      :code(lang="html")
        <chi-expansion-panel step="4" title="Disabled panel" state="disabled"></chi-expansion-panel>
    .chi-tabs-panel#html-disabled
      :code(lang="html")
        <div class="chi-epanel -disabled">
          <div class="chi-epanel__header">
            <div class="chi-epanel__number">4.</div>
            <div class="chi-epanel__title">Disabled panel</div>
          </div>
        </div>

h2 Customization
.example.-mb--3
  .-p--3.-bg--grey-10
    chi-expansion-panel(title='Expansion panel', state='active')
      div(slot='active')
        .chi-epanel__subtitle Active panel title
        p.chi-epanel__text.-mb--0 Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque consequatur consequuntur excepturi
          |  illo maiores, nobis placeat recusandae rem! Accusantium ad in minus molestiae? Commodi cupiditate labore
          | nihil sed veritatis!
      div(slot='change')
        button.chi-btn.-brand.-flat Change
      div(slot='footer')
        button.chi-btn.-lg Previous
        button.chi-btn.-lg.-primary.-ml--2 Continue
  .example-tabs.-pl--2
    ul.chi-tabs#examples-customization
      li.-active
        a(href=`#webcomponent-customization`) Web component
      li
        a(href=`#html-customization`) HTML
  .chi-tabs-panel.-active#webcomponent-customization
    .chi-tab__description
      | This component accepts a small number of visual changes. The numbering of the panels is optional, so you can omit
      | the <code>step</code> property if you don't need it. Apart from that, including some custom content like a button
      | is also possible for done and active states.
    :code(lang="html")
      <chi-expansion-panel title="Expansion panel" state="active">
        <div slot="active">
          <div class="chi-epanel__subtitle">
            Active panel title
          </div>
          <p class="chi-epanel__text">
            Lorem ipsum dolor sit amet...
          </p>
        </div>
        <div slot="change">
          <button class="chi-btn -brand -flat">
            Change
          </button>
        </div>
        <div slot="footer">
          <button class="chi-btn -lg">
            Previous
          </button>
          <button class="chi-btn -lg -primary -ml--2">
            Continue
          </button>
        </div>
      </chi-expansion-panel>
  .chi-tabs-panel#html-customization
    .chi-tab__description
      | This component accepts a small number of visual changes. The numbering of the panels is optional, so you can omit
      | the <code>chi-epanel__number</code> class elements. In this case, the active content will render with a not desired
      | margin, that can be removed with the <code>-ml--0</code> class.
    :code(lang="html")
      <div class="chi-epanel -active">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title">Expansion panel</div>
          <div class="chi-epanel__action -done--only">
            <button class="chi-btn -primary -flat">Change</button>
          </div>
        </div>
        <div class="chi-epanel__collapse -ml--0">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Active panel title</div>
                <p class="chi-epanel__text">Lorem ipsum...</p>
              </div>
              <div class="chi-epanel__footer -justify-content--start">
                <button class="chi-btn -lg">Previous</button>
                <button class="chi-btn -lg -primary -ml--2">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

h2 Bordered expansion panel

ul#chi-tabs-bordered.chi-tabs
  li.-active
    a(href='#chi-tabs-bordered-done') Done
  li
    a(href='#chi-tabs-bordered-active') Active
  li
    a(href='#chi-tabs-bordered-pending') Pending
  li
    a(href='#chi-tabs-bordered-disabled') Disabled
.example.-mb--3
  #chi-tabs-bordered-done.chi-tabs-panel.-active
    .-p--3
      chi-expansion-panel(step='1', title='Done panel', state='done', bordered=true)
        div(slot='done')
            | CenturyLink
            br
            | 1100 112th Ave NE
            br
            | Suite 400
            br
            | Bellevue, WA 98004
        div(slot='change')
          button.chi-btn.-brand.-flat Change
    .example-tabs.-pl--2
      ul.chi-tabs#examples-bordered
        li.-active
          a(href=`#webcomponent-bordered`) Web component
        li
          a(href=`#html-bordered`) HTML
    .chi-tabs-panel.-active#webcomponent-bordered
      .chi-tab__description
        | Expansion panel component also supports a bordered version. Apply the <code>bordered</code> property where desired.
      :code(lang="html")
        <chi-expansion-panel step="1" title="Done panel" state="done" bordered>
          <div slot="done">
            CenturyLink</br>
            1100 112th Ave NE</br>
            Suite 400</br>
            Bellevue, WA 98004</br>
          </div>
          <div slot="change">
            <button class="chi-btn -brand -flat">
              Change
            </button>
          </div>
        </chi-expansion-panel>
    .chi-tabs-panel#html-bordered
      .chi-tab__description
        | Expansion panel components also support a bordered version. Apply the <code>-bordered</code> class where desired.
      :code(lang="html")
        <div class="chi-epanel -bordered -done">
          <div class="chi-epanel__header">
            <div class="chi-epanel__number">1.</div>
            <div class="chi-epanel__title">Expansion panel</div>
            <div class="chi-epanel__content">
              <div class="chi-epanel__collapse">
                <div class="-done--only">CenturyLink...</div>
              </div>
            </div>
            <div class="chi-epanel__action -done--only">
              <button class="chi-btn -primary -flat">Change</button>
            </div>
          </div>
        </div>

  #chi-tabs-bordered-active.chi-tabs-panel
    .-p--3
      chi-expansion-panel(step='2', title='Active panel', state='active', bordered=true)
        div(slot='active')
          .chi-epanel__subtitle Active panel title
          p.chi-epanel__text.-mb--0 Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque consequatur consequuntur excepturi
            |  illo maiores, nobis placeat recusandae rem! Accusantium ad in minus molestiae? Commodi cupiditate labore
            | nihil sed veritatis!
        div(slot='footer')
          button.chi-btn.-lg.-primary Continue
    .example-tabs.-pl--2
      ul.chi-tabs#examples-bordered-active
        li.-active
          a(href=`#webcomponent-bordered-active`) Web component
        li
          a(href=`#html-bordered-active`) HTML
    .chi-tabs-panel.-active#webcomponent-bordered-active
      .chi-tab__description
        | Expansion panel component also supports a bordered version. Apply the <code>bordered</code> property where desired.
      :code(lang="html")
        <chi-expansion-panel step="2" title="Active panel" state="active" bordered>
          <div slot="active">
            <div class="chi-epanel__subtitle">
              Active panel title
            </div>
            <p class="chi-epanel__text">
              Lorem ipsum dolor sit amet...
            </p>
          </div>
          <div slot="footer">
            <button class="chi-btn -lg -primary">
              Continue
            </button>
          </div>
        </chi-expansion-panel>
    .chi-tabs-panel#html-bordered-active
      .chi-tab__description
        | Expansion panel components also support a bordered version. Apply the <code>-bordered</code> class where desired.
      :code(lang="html")
        <div class="chi-epanel -bordered -active">
          <div class="chi-epanel__header">
            <div class="chi-epanel__number">2.</div>
            <div class="chi-epanel__title">Active panel</div>
          </div>
          <div class="chi-epanel__collapse">
            <div class="-active--only">
              <div class="chi-epanel__body">
                <div class="chi-epanel__content">
                  <div class="chi-epanel__subtitle">Active panel title</div>
                  <p class="chi-epanel__text">Lorem ipsum</p>
                </div>
                <div class="chi-epanel__footer -justify-content--end">
                  <button class="chi-btn -lg -primary -ml--2">Continue</button>
                </div>
              </div>
            </div>
          </div>
        </div>

  #chi-tabs-bordered-pending.chi-tabs-panel
    .-p--3
      chi-expansion-panel(step='3', title='Pending panel', bordered=true)
    .example-tabs.-pl--2
      ul.chi-tabs#examples-bordered-pending
        li.-active
          a(href=`#webcomponent-bordered-pending`) Web component
        li
          a(href=`#html-bordered-pending`) HTML
    .chi-tabs-panel.-active#webcomponent-bordered-pending
      .chi-tab__description
        | Expansion panel component also supports a bordered version. Apply the <code>bordered</code> property where desired.
      :code(lang="html")
        <chi-expansion-panel step="3" title="Pending panel" bordered></chi-expansion-panel>
    .chi-tabs-panel#html-bordered-pending
      .chi-tab__description
        | Expansion panel components also support a bordered version. Apply the <code>-bordered</code> class where desired.
      :code(lang="html")
        <div class="chi-epanel -bordered">
          <div class="chi-epanel__header">
            <div class="chi-epanel__number">3.</div>
            <div class="chi-epanel__title">Pending panel</div>
          </div>
        </div>

  #chi-tabs-bordered-disabled.chi-tabs-panel
    .-p--3
      chi-expansion-panel(step='4', title='Disabled panel', state='disabled', bordered=true)
    .example-tabs.-pl--2
      ul.chi-tabs#examples-bordered-disabled
        li.-active
          a(href=`#webcomponent-bordered-disabled`) Web component
        li
          a(href=`#html-bordered-disabled`) HTML
    .chi-tabs-panel.-active#webcomponent-bordered-disabled
      .chi-tab__description
        | Expansion panel component also supports a bordered version. Apply the <code>bordered</code> property where desired.
      :code(lang="html")
        <chi-expansion-panel step="4" title="Disabled panel" state="disabled" bordered></chi-expansion-panel>
    .chi-tabs-panel#html-bordered-disabled
      .chi-tab__description
        | Expansion panel components also support a bordered version. Apply the <code>-bordered</code> class where desired.
      :code(lang="html")
        <div class="chi-epanel -bordered -disabled">
          <div class="chi-epanel__header">
            <div class="chi-epanel__number">4.</div>
            <div class="chi-epanel__title">Disabled panel</div>
          </div>
        </div>


h2 Interaction
.example.-mb--3
  .-p--3.-bg--grey-10
    .chi-epanel#example2
      .chi-epanel__header
        .chi-epanel__title(data-chi-epanel-action='toggle') Click me to toggle
        .chi-epanel__content
          .chi-epanel__collapse
            .-done--only
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
        .chi-epanel__action.-done--only
          button.chi-btn.-primary.-flat(data-chi-epanel-action="active") Change
      .chi-epanel__collapse.-ml--0
        .-active--only
          .chi-epanel__body
            .chi-epanel__content
              .chi-epanel__subtitle Active panel title
              p.chi-epanel__text
                | Content in expansion panel
            .chi-epanel__footer.-justify-content--end
              button.chi-btn.-lg(data-chi-epanel-action='pending') Pending
              button.chi-btn.-lg(data-chi-epanel-action='done').-primary.-ml--2 Done
  ul#chi-tabs-e2.chi-tabs.-ml--3
    li.-active
      a(href='#chi-tabs-e2-html') HTML
    li
      a(href='#chi-tabs-e2-js') JS
  #chi-tabs-e2-html.chi-tabs-panel.-active
    :code(lang="html")
      <div class="chi-epanel" id="example2" data-chi-epanel-group="example2">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title" data-chi-epanel-action="toggle">Click me to toggle</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse">
              <div class="-done--only">CenturyLink...</div>
            </div>
          </div>
          <div class="chi-epanel__action -done--only">
            <button class="chi-btn -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="chi-epanel__collapse -ml--0">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Active panel title</div>
                <p class="chi-epanel__text">Content in expansion panel</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-btn -lg" data-chi-epanel-action="pending">Pending</button>
                <button class="chi-btn -lg -primary -ml--2" data-chi-epanel-action="done">Done</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  #chi-tabs-e2-js.chi-tabs-panel
    :code(lang="javascript")
      var ep = chi.expansionPanel(document.getElementById('example2'));

h2 Group of expansion panels
p.-text
  | The real power of the component comes when several expansion panels are used together. You can group them using the
  | attribute <code>data-chi-epanel-group="name-of-the-group"</code>. Now they will work together as an stepped form. When
  | an element is activated, the previous expanding panels will get the done state and the next will get the pending
  | state.

.example.-mb--3#example3
  .-p--3.-bg--grey-10
    .chi-epanel.-active(data-chi-epanel-group='example3')
      .chi-epanel__header
        .chi-epanel__title Expansion panel #1
        .chi-epanel__content
          .chi-epanel__collapse
            .-done--only
              | Done<br />
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
        .chi-epanel__action.-done--only
          button.chi-btn.-primary.-flat(data-chi-epanel-action="active") Change
      .chi-epanel__collapse.-ml--0
        .-active--only
          .chi-epanel__body
            .chi-epanel__content
              .chi-epanel__subtitle Active panel title
              p.chi-epanel__text Content in expansion panel
            .chi-epanel__footer.-justify-content--end
              button.chi-btn.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

    .chi-epanel(data-chi-epanel-group='example3')
      .chi-epanel__header
        .chi-epanel__title Expansion panel #2
        .chi-epanel__content
          .chi-epanel__collapse
            .-done--only
              | Done<br />
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
        .chi-epanel__action.-done--only
          button.chi-btn.-primary.-flat(data-chi-epanel-action="active") Change
      .chi-epanel__collapse.-ml--0
        .-active--only
          .chi-epanel__body
            .chi-epanel__content
              .chi-epanel__subtitle Active panel title
              p.chi-epanel__text Content in expansion panel
            .chi-epanel__footer.-justify-content--end
              button.chi-btn.-lg(data-chi-epanel-action='previous') Previous
              button.chi-btn.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

    .chi-epanel(data-chi-epanel-group='example3')
      .chi-epanel__header
        .chi-epanel__title Expansion panel #3
        .chi-epanel__content
          .chi-epanel__collapse
            .-done--only
              | Done<br />
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
        .chi-epanel__action.-done--only
          button.chi-btn.-primary.-flat(data-chi-epanel-action="active") Change
      .chi-epanel__collapse.-ml--0
        .-active--only
          .chi-epanel__body
            .chi-epanel__content
              .chi-epanel__subtitle Active panel title
              p.chi-epanel__text Content in expansion panel
            .chi-epanel__footer.-justify-content--end
              button.chi-btn.-lg(data-chi-epanel-action='previous') Previous
              button.chi-btn.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

    .chi-epanel(data-chi-epanel-group='example3')
      .chi-epanel__header
        .chi-epanel__title Expansion panel #4
        .chi-epanel__content
          .chi-epanel__collapse
            .-done--only
              | Done<br />
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
        .chi-epanel__action.-done--only
          button.chi-btn.-primary.-flat(data-chi-epanel-action="active") Change
      .chi-epanel__collapse.-ml--0
        .-active--only
          .chi-epanel__body
            .chi-epanel__content
              .chi-epanel__subtitle Active panel title
              p.chi-epanel__text Content in expansion panel
            .chi-epanel__footer.-justify-content--end
              button.chi-btn.-lg(data-chi-epanel-action='previous') Previous
              button.chi-btn.-lg(data-chi-epanel-action='done').-primary.-ml--2 Finish

  ul#chi-tabs-e3.chi-tabs.-ml--3
    li.-active
      a(href='#chi-tabs-e3-html') HTML
    li
      a(href='#chi-tabs-e3-js') JS
  #chi-tabs-e3-html.chi-tabs-panel.-active
    :code(lang="html")
      <div class="chi-epanel -active" data-chi-epanel-group="example3">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title">Expansion panel #1</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse">
              <div class="-done--only">Done<br>CenturyLink...</div>
            </div>
          </div>
          <div class="chi-epanel__action -done--only">
            <button class="chi-btn -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="chi-epanel__collapse -ml--0">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Active panel title</div>
                <p class="chi-epanel__text">Content in expansion panel</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-btn -lg -primary -ml--2" data-chi-epanel-action="next">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chi-epanel" data-chi-epanel-group="example3">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title">Expansion panel #2</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse">
              <div class="-done--only">Done<br>CenturyLink...</div>
            </div>
          </div>
          <div class="chi-epanel__action -done--only">
            <button class="chi-btn -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="chi-epanel__collapse -ml--0">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Active panel title</div>
                <p class="chi-epanel__text">Content in expansion panel</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-btn -lg" data-chi-epanel-action="previous">Previous</button>
                <button class="chi-btn -lg -primary -ml--2" data-chi-epanel-action="next">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- last div x3 -->
  #chi-tabs-e3-js.chi-tabs-panel
    :code(lang="javascript")
      chi.expansionPanel(document.querySelectorAll('[data-chi-epanel-group="example3"]'));

h2 Accordion mode
p.-text
  | You can configure the expansion panels component to work as an accordion in a way that when an element is activated,
  | any other panel in the same group will be deactivated by putting it in the pending state. To activate this mode, you
  | have to add the <code>mode: "accordion"</code> configuration parameter at the moment of creation. Done states should
  | not be used in this mode. In this example, titles have been configured to trigger the action <code>toggle</code>,
  | and the expansion panel #3 also have next and previous buttons that fulfills the accordion behavior.
.example.-mb--3#example4
  .-p--3.-bg--grey-10
    .chi-epanel.-bordered.-active(data-chi-epanel-group='example4')
      .chi-epanel__header
        .chi-epanel__title(data-chi-epanel-action='toggle') Expansion panel #1
      .chi-epanel__collapse
        .-active--only
          .chi-epanel__body
            .chi-epanel__content
              .chi-epanel__subtitle Active panel title
              p.chi-epanel__text Content in expansion panel

    .chi-epanel.-bordered(data-chi-epanel-group='example4')
      .chi-epanel__header
        .chi-epanel__title(data-chi-epanel-action='toggle') Expansion panel #2
      .chi-epanel__collapse
        .-active--only
          .chi-epanel__body
            .chi-epanel__content
              .chi-epanel__subtitle Active panel title
              p.chi-epanel__text Content in expansion panel

    .chi-epanel.-bordered(data-chi-epanel-group='example4')
      .chi-epanel__header
        .chi-epanel__title(data-chi-epanel-action='toggle') Expansion panel #3
      .chi-epanel__collapse
        .-active--only
          .chi-epanel__body
            .chi-epanel__content
              .chi-epanel__subtitle Active panel title
              p.chi-epanel__text Content in expansion panel
            .chi-epanel__footer.-justify-content--end
              button.chi-btn.-lg(data-chi-epanel-action='previous') Previous
              button.chi-btn.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

    .chi-epanel.-bordered(data-chi-epanel-group='example4')
      .chi-epanel__header
        .chi-epanel__title(data-chi-epanel-action='toggle') Expansion panel #4
      .chi-epanel__collapse
        .-active--only
          .chi-epanel__body
            .chi-epanel__content
              .chi-epanel__subtitle Active panel title
              p.chi-epanel__text Content in expansion panel
  ul#chi-tabs-e4.chi-tabs.-ml--3
    li.-active
      a(href='#chi-tabs-e4-html') HTML
    li
      a(href='#chi-tabs-e4-js') JS
  #chi-tabs-e4-html.chi-tabs-panel.-active
    :code(lang="html")
      <div class="chi-epanel -bordered -active" data-chi-epanel-group="example4">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title" data-chi-epanel-action="toggle">Expansion panel #1</div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Active panel title</div>
                <p class="chi-epanel__text">Content in expansion panel</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chi-epanel -bordered" data-chi-epanel-group="example4">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title" data-chi-epanel-action="toggle">Expansion panel #2</div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Active panel title</div>
                <p class="chi-epanel__text">Content in expansion panel</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- last div x3 -->

  #chi-tabs-e4-js.chi-tabs-panel
    :code(lang="javascript")
      chi.expansionPanel(
        document.querySelectorAll('[data-chi-epanel-group="example4"]'),
        {mode: 'accordion'}
      );

h2 Free mode
p.-text
  | In this mode, there is no automated action triggered when an element activates. So you have to manage all custom
  | behavior.

.example.-mb--3#example5
  .-p--3.-bg--grey-10
    .chi-epanel.-active(data-chi-epanel-group='example5')
      .chi-epanel__header
        .chi-epanel__title(data-chi-epanel-action='toggle') Expansion panel #1
        .chi-epanel__action.-done--only
          button.chi-btn.-primary.-flat(data-chi-epanel-action='active') Change
      .chi-epanel__collapse.-ml--0
        .-active--only
          .chi-epanel__body
            .chi-epanel__content
              .chi-epanel__subtitle Active panel title
              p.chi-epanel__text Content in expansion panel
            .chi-epanel__footer.-justify-content--end
              button.chi-btn.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue
    .chi-epanel(data-chi-epanel-group='example5')
      .chi-epanel__header
        .chi-epanel__title(data-chi-epanel-action='toggle') Expansion panel #2
        .chi-epanel__action.-done--only
          button.chi-btn.-primary.-flat(data-chi-epanel-action='active') Change
      .chi-epanel__collapse.-ml--0
        .-active--only
          .chi-epanel__body
            .chi-epanel__content
              .chi-epanel__subtitle Active panel title
              p.chi-epanel__text Content in expansion panel
            .chi-epanel__footer.-justify-content--end
              button.chi-btn.-lg(data-chi-epanel-action='previous') Previous
              button.chi-btn.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue
    .chi-epanel(data-chi-epanel-group='example5')
      .chi-epanel__header
        .chi-epanel__title(data-chi-epanel-action='toggle') Expansion panel #3
        .chi-epanel__action.-done--only
          button.chi-btn.-primary.-flat(data-chi-epanel-action='active') Change
      .chi-epanel__collapse.-ml--0
        .-active--only
          .chi-epanel__body
            .chi-epanel__content
              .chi-epanel__subtitle Active panel title
              p.chi-epanel__text Content in expansion panel
            .chi-epanel__footer.-justify-content--end
              button.chi-btn.-lg(data-chi-epanel-action='previous') Previous
              button.chi-btn.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue
    .chi-epanel(data-chi-epanel-group='example5')
      .chi-epanel__header
        .chi-epanel__title(data-chi-epanel-action='toggle') Expansion panel #4
        .chi-epanel__action.-done--only
          button.chi-btn.-primary.-flat(data-chi-epanel-action='active') Change
      .chi-epanel__collapse.-ml--0
        .-active--only
          .chi-epanel__body
            .chi-epanel__content
              .chi-epanel__subtitle Active panel title
              p.chi-epanel__text Content in expansion panel
            .chi-epanel__footer.-justify-content--end
              button.chi-btn.-lg(data-chi-epanel-action='previous') Previous

  ul#chi-tabs-e5.chi-tabs.-ml--3
    li.-active
      a(href='#chi-tabs-e5-html') HTML
    li
      a(href='#chi-tabs-e5-js') JS
  #chi-tabs-e5-html.chi-tabs-panel.-active
    :code(lang="html")
      <div class="chi-epanel -bordered -active" data-chi-epanel-group="example5">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title" data-chi-epanel-action="toggle">Expansion panel #1</div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Active panel title</div>
                <p class="chi-epanel__text">Content in expansion panel</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chi-epanel -bordered" data-chi-epanel-group="example4">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title" data-chi-epanel-action="toggle">Expansion panel #2</div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Active panel title</div>
                <p class="chi-epanel__text">Content in expansion panel</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- last div x3 -->

  #chi-tabs-e5-js.chi-tabs-panel
    :code(lang="javascript")
      chi.expansionPanel(
        document.querySelectorAll('[data-chi-epanel-group="example5"]'),
        {mode: 'free'}
      );
h2 Custom mode
p.-text
  | Write your custom mode by adding a handler for state changes of the expansion panels in the configuration, and
  | writing your own functions for the <code>active</code>, <code>done</code>, <code>pending</code>,
  | <code>disabled</code>, <code>toggle</code>, <code>next</code> and <code>previous</code> actions. In the
  | example, the component behaves similar to the accordion but alternates between <code>done</code> and
  | <code>pending</code> states instead of <code>active</code> and <code>pending</code> states. The overridden action
  | functions are for documenting purposes only because they clone the functionality of the default ones.

.example.-mb--3#example6
  .-p--3.-bg--grey-10
    .chi-epanel.-done(data-chi-epanel-group='example6')
      .chi-epanel__header
        .chi-epanel__title(data-chi-epanel-action='done') Expansion panel #1
        .chi-epanel__content
          .chi-epanel__collapse
            .-done--only
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
    .chi-epanel(data-chi-epanel-group='example6')
      .chi-epanel__header
        .chi-epanel__title(data-chi-epanel-action='done') Expansion panel #2
        .chi-epanel__content
          .chi-epanel__collapse
            .-done--only
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
    .chi-epanel(data-chi-epanel-group='example6')
      .chi-epanel__header
        .chi-epanel__title(data-chi-epanel-action='done') Expansion panel #3
        .chi-epanel__content
          .chi-epanel__collapse
            .-done--only
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
    .chi-epanel(data-chi-epanel-group='example6')
      .chi-epanel__header
        .chi-epanel__title(data-chi-epanel-action='done') Expansion panel #4
        .chi-epanel__content
          .chi-epanel__collapse
            .-done--only
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
  ul#chi-tabs-e6.chi-tabs.-ml--3
    li.-active
      a(href='#chi-tabs-e6-html') HTML
    li
      a(href='#chi-tabs-e6-js') JS
  #chi-tabs-e6-html.chi-tabs-panel.-active
    :code(lang="html")
      <div class="chi-epanel -done" data-chi-epanel-group="example6">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title" data-chi-epanel-action="done">Expansion panel #1</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse">
              <div class="-done--only">CenturyLink...</div>
            </div>
          </div>
        </div>
      </div>

      <div class="chi-epanel" data-chi-epanel-group="example6">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title" data-chi-epanel-action="done">Expansion panel #2</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse">
              <div class="-done--only">CenturyLink...</div>
            </div>
          </div>
        </div>
      </div>
      <!-- last div x3 -->
  #chi-tabs-e6-js.chi-tabs-panel
    :code(lang="javascript")
      chi.expansionPanel(
        document.querySelectorAll('[data-chi-epanel-group="example6"]'),
        {
          mode: 'custom',
          changeHandler: function (newState, oldState, expansionPanel, panelGroup) {
            if (newState === chi.EXPANSION_PANEL_STATES.DONE) {
              panelGroup.expansion_panels.forEach(function (exPa) {
                if (exPa !== expansionPanel) {
                  exPa.setState(chi.EXPANSION_PANEL_STATES.PENDING.NAME);
                }
              });
            }
          },
          customActions: {
            active: (expansionPanel, epGroup) =>
              expansionPanel.setState(chi.EXPANSION_PANEL_STATES.ACTIVE.NAME),
            done: (expansionPanel, epGroup) =>
              expansionPanel.setState(chi.EXPANSION_PANEL_STATES.DONE.NAME),
            pending: (expansionPanel, epGroup) =>
              expansionPanel.setState(chi.EXPANSION_PANEL_STATES.PENDING.NAME),
            toggle: (expansionPanel, epGroup) => {
              if (expansionPanel._state === chi.EXPANSION_PANEL_STATES.ACTIVE) {
                expansionPanel.setState(chi.EXPANSION_PANEL_STATES.PENDING.NAME);
              } else {
                expansionPanel.setState(chi.EXPANSION_PANEL_STATES.ACTIVE.NAME);
              }
            },
            next: (expansionPanel, epGroup) => {
              epGroup.reset(expansionPanel);
              epGroup.next().setState(chi.EXPANSION_PANEL_STATES.ACTIVE.NAME);
            },
            previous: (expansionPanel, epGroup) => {
              epGroup.reset(expansionPanel);
              epGroup.previous().setState(chi.EXPANSION_PANEL_STATES.ACTIVE.NAME);
            },
            disabled: (expansionPanel, epGroup) =>
              expansionPanel.setState(chi.EXPANSION_PANEL_STATES.DISABLED.NAME)
          }
        }
      );

h2 State custom behavior
p.-text
  | The four expansion panel states behave similarly to each other, although there are two main differences
  | between them.
ol.-text
  li
    | The title will render in the brand color for the active panel, in soft gray for the disabled panel and black for
    | the other panel states.
  li Two internal hiding utility classes will hide content depending on the state.

h3 Hiding by state
p.-text
  | The four examples below differ only on the state. Thanks to the state support and internal utility classes we can
  | represent the different states of the same content changing only that property.

ul#chi-tabs-ex.chi-tabs
  li.-active
    a(href='#chi-tabs-ex-done') Done
  li
    a(href='#chi-tabs-ex-active') Active
  li
    a(href='#chi-tabs-ex-pending') Pending
  li
    a(href='#chi-tabs-ex-disabled') Disabled
.example.-mb--3
  #chi-tabs-ex-done.chi-tabs-panel.-active
    .-p--3
      chi-expansion-panel(title='Expansion panel', state='done')
        div(slot='done')
          | CenturyLink
          br
          | 1100 112th Ave NE
          br
          | Suite 400
          br
          | Bellevue, WA 98004
        div(slot='change')
          button.chi-btn.-brand.-flat Change
    .example-tabs.-pl--2
      ul.chi-tabs#examples-custom-done
        li.-active
          a(href=`#webcomponent-custom-done`) Web component
        li
          a(href=`#html-custom-done`) HTML
    .chi-tabs-panel.-active#webcomponent-custom-done
      :code(lang="html")
        <chi-expansion-panel title="Expansion panel" state="done">
          <div slot="done">
            CenturyLink</br>
            1100 112th Ave NE</br>
            Suite 400</br>
            Bellevue, WA 98004</br>
          </div>
          <div slot="change">
            <button class="chi-btn -brand -flat">
              Change
            </button>
          </div>
        </chi-expansion-panel>
    .chi-tabs-panel#html-custom-done
      :code(lang="html")
        <div class="chi-epanel -done">
          <div class="chi-epanel__header">
            <div class="chi-epanel__title">Expansion panel</div>
            <div class="chi-epanel__content">
              <div class="chi-epanel__collapse">
                <div class="-done--only">CenturyLink...</div>
              </div>
            </div>
            <div class="chi-epanel__action -done--only">
              <button class="chi-btn -primary -flat">Change</button>
            </div>
          </div>
          <div class="chi-epanel__collapse -ml--0">
            <div class="-active--only">
              <div class="chi-epanel__body">
                <div class="chi-epanel__content">
                  <div class="chi-epanel__subtitle">Active panel title</div>
                  <p class="chi-epanel__text">Lorem ipsum...</p>
                </div>
                <div class="chi-epanel__footer -justify-content--end">
                  <button class="chi-btn -lg">Previous</button>
                  <button class="chi-btn -lg -primary -ml--2">Continue</button>
                </div>
              </div>
            </div>
          </div>
        </div>

  #chi-tabs-ex-active.chi-tabs-panel
    .-p--3.-bg--grey-10
      chi-expansion-panel(title='Expansion panel', state='active')
        div(slot='active')
          .chi-epanel__subtitle Active panel title
          p.chi-epanel__text.-mb--0 Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque consequatur consequuntur excepturi
            |  illo maiores, nobis placeat recusandae rem! Accusantium ad in minus molestiae? Commodi cupiditate labore
            | nihil sed veritatis!
        div(slot='footer')
          button.chi-btn.-lg Previous
          button.chi-btn.-lg.-primary.-ml--2 Continue
    .example-tabs.-pl--2
      ul.chi-tabs#examples-custom-active
        li.-active
          a(href=`#webcomponent-custom-active`) Web component
        li
          a(href=`#html-custom-active`) HTML
    .chi-tabs-panel.-active#webcomponent-custom-active
      :code(lang="html")
        <chi-expansion-panel title="Expansion panel" state="active">
          <div slot="active">
            <div class="chi-epanel__subtitle">
              Active panel title
            </div>
            <p class="chi-epanel__text">
              Lorem ipsum dolor sit amet...
            </p>
          </div>
          <div slot="footer">
            <button class="chi-btn -lg -primary">
              Continue
            </button>
          </div>
        </chi-expansion-panel>
    .chi-tabs-panel#html-custom-active
      :code(lang="html")
        <div class="chi-epanel -active">
          <div class="chi-epanel__header">
            <div class="chi-epanel__title">Expansion panel</div>
            <div class="chi-epanel__content">
              <div class="chi-epanel__collapse">
                <div class="-done--only">CenturyLink...</div>
              </div>
            </div>
            <div class="chi-epanel__action -done--only">
              <button class="chi-btn -primary -flat">Change</button>
            </div>
          </div>
          <div class="chi-epanel__collapse -ml--0">
            <div class="-active--only">
              <div class="chi-epanel__body">
                <div class="chi-epanel__content">
                  <div class="chi-epanel__subtitle">Active panel title</div>
                  <p class="chi-epanel__text">Lorem ipsum...</p>
                </div>
                <div class="chi-epanel__footer -justify-content--end">
                  <button class="chi-btn -lg">Previous</button>
                  <button class="chi-btn -lg -primary -ml--2">Continue</button>
                </div>
              </div>
            </div>
          </div>
        </div>

  #chi-tabs-ex-pending.chi-tabs-panel
    .-p--3
      chi-expansion-panel(title='Expansion panel')
    .example-tabs.-pl--2
      ul.chi-tabs#examples-custom-pending
        li.-active
          a(href=`#webcomponent-custom-pending`) Web component
        li
          a(href=`#html-custom-pending`) HTML
    .chi-tabs-panel.-active#webcomponent-custom-pending
      :code(lang="html")
        <chi-expansion-panel title="Expansion panel"></chi-expansion-panel>
    .chi-tabs-panel#html-custom-pending
      :code(lang="html")
        <div class="chi-epanel">
          <div class="chi-epanel__header">
            <div class="chi-epanel__title">Expansion panel</div>
            <div class="chi-epanel__content">
              <div class="chi-epanel__collapse">
                <div class="-done--only">CenturyLink...</div>
              </div>
            </div>
            <div class="chi-epanel__action -done--only">
              <button class="chi-btn -primary -flat">Change</button>
            </div>
          </div>
          <div class="chi-epanel__collapse -ml--0">
            <div class="-active--only">
              <div class="chi-epanel__body">
                <div class="chi-epanel__content">
                  <div class="chi-epanel__subtitle">Active panel title</div>
                  <p class="chi-epanel__text">Lorem ipsum...</p>
                </div>
                <div class="chi-epanel__footer -justify-content--end">
                  <button class="chi-btn -lg">Previous</button>
                  <button class="chi-btn -lg -primary -ml--2">Continue</button>
                </div>
              </div>
            </div>
          </div>
        </div>

  #chi-tabs-ex-disabled.chi-tabs-panel
    .-p--3
      chi-expansion-panel(title='Expansion panel', state='disabled')
    .example-tabs.-pl--2
      ul.chi-tabs#examples-custom-disabled
        li.-active
          a(href=`#webcomponent-custom-disabled`) Web component
        li
          a(href=`#html-custom-disabled`) HTML
    .chi-tabs-panel.-active#webcomponent-custom-disabled
      :code(lang="html")
        <chi-expansion-panel title="Expansion panel" state="disabled"></chi-expansion-panel>
    .chi-tabs-panel#html-custom-disabled
      :code(lang="html")
        <div class="chi-epanel -disabled">
          <div class="chi-epanel__header">
            <div class="chi-epanel__title">Expansion panel</div>
            <div class="chi-epanel__content">
              <div class="chi-epanel__collapse">
                <div class="-done--only">CenturyLink...</div>
              </div>
            </div>
            <div class="chi-epanel__action -done--only">
              <button class="chi-btn -primary -flat">Change</button>
            </div>
          </div>
          <div class="chi-epanel__collapse -ml--0">
            <div class="-active--only">
              <div class="chi-epanel__body">
                <div class="chi-epanel__content">
                  <div class="chi-epanel__subtitle">Active panel title</div>
                  <p class="chi-epanel__text">Lorem ipsum...</p>
                </div>
                <div class="chi-epanel__footer -justify-content--end">
                  <button class="chi-btn -lg">Previous</button>
                  <button class="chi-btn -lg -primary -ml--2">Continue</button>
                </div>
              </div>
            </div>
          </div>
        </div>

script(src=`../../assets/scripts/docs-expansion-panel.js`)
script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelectorAll('.docs-body__content .chi-tabs'));
      chi.tab(document.getElementById('examples-default-done'));
      chi.tab(document.getElementById('examples-default-active'));
      chi.tab(document.getElementById('examples-default-pending'));
      chi.tab(document.getElementById('examples-default-disabled'));
      chi.tab(document.getElementById('examples-customization'));
      chi.tab(document.getElementById('examples-bordered'));
      chi.tab(document.getElementById('examples-bordered-active'));
      chi.tab(document.getElementById('examples-bordered-pending'));
      chi.tab(document.getElementById('examples-bordered-disabled'));
      chi.tab(document.getElementById('examples-custom-done'));
      chi.tab(document.getElementById('examples-custom-active'));
      chi.tab(document.getElementById('examples-custom-disabled'));

      chi.expansionPanel(document.getElementById('example2'));
      chi.expansionPanel(document.querySelectorAll('[data-chi-epanel-group="example3"]'));
      chi.expansionPanel(document.querySelectorAll('[data-chi-epanel-group="example4"]'), {mode: 'accordion'});
      chi.expansionPanel(document.querySelectorAll('[data-chi-epanel-group="example5"]'), {mode: 'free'});

      chi.expansionPanel(
      document.querySelectorAll('[data-chi-epanel-group="example6"]'),
      {
        mode: 'custom',
        changeHandler: function (newState, oldState, expansionPanel, panelGroup) {
        if (newState === chi.EXPANSION_PANEL_STATES.DONE) {
          panelGroup.expansion_panels.forEach(function (exPa) {
            if (exPa !== expansionPanel) {
              exPa.setState(chi.EXPANSION_PANEL_STATES.PENDING.NAME);
            }
          });
          }
        }
      });
    }
  );
