.m-alert.-info.-my--3
  i.m-alert__icon.a-icon.icon-circle-info
  .m-alert__content
    p.m-alert__text This component requires Javascript

.example.-mb3.-mt3
  .-p3
    .m-epanel.-done
      .m-epanel__header
        .m-epanel__number 1.
        .m-epanel__title Done panel
        .m-epanel__content
          .m-epanel__collapse
            .-done--only
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
        .m-epanel__action.-done--only
          button.a-btn.-primary.-flat Change
    .m-epanel.-active
      .m-epanel__header
        .m-epanel__number 2.
        .m-epanel__title Active panel
      .m-epanel__collapse
        .-active--only
          .m-epanel__body
            .m-epanel__content
              .m-epanel__subtitle Active panel title
              p.m-epanel__text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque consequatur consequuntur excepturi
                | illo maiores, nobis placeat recusandae rem! Accusantium ad in minus molestiae? Commodi cupiditate labore
                | nihil sed veritatis!
            .m-epanel__footer.-justify-content--end
              button.a-btn.-lg.-primary.-ml--2 Continue
    .m-epanel
      .m-epanel__header
        .m-epanel__number 3.
        .m-epanel__title Pending panel
    .m-epanel.-disabled
      .m-epanel__header
        .m-epanel__number 4.
        .m-epanel__title Disabled panel
  ul#a-tabs.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-done') Done
    li
      a(href='#a-tabs-active') Active
    li
      a(href='#a-tabs-pending') Pending
    li
      a(href='#a-tabs-disabled') Disabled
  #a-tabs-done.a-tabs-panel.-active
    :code(lang="html")
      <div class="m-epanel -done">
        <div class="m-epanel__header">
          <div class="m-epanel__number">1.</div>
          <div class="m-epanel__title">Expansion panel</div>
          <div class="m-epanel__content">
            <div class="m-epanel__collapse">
              <div class="-done--only">CenturyLink...</div>
            </div>
          </div>
          <div class="m-epanel__action -done--only">
            <button class="a-btn -primary -flat">Change</button>
          </div>
        </div>
      </div>
  #a-tabs-active.a-tabs-panel
    :code(lang="html")
      <div class="m-epanel -active">
        <div class="m-epanel__header">
          <div class="m-epanel__number">2.</div>
          <div class="m-epanel__title">Active panel</div>
        </div>
        <div class="m-epanel__collapse">
          <div class="-active--only">
            <div class="m-epanel__body">
              <div class="m-epanel__content">
                <div class="m-epanel__subtitle">Active panel title</div>
                <p class="m-epanel__text">Lorem ipsum</p>
              </div>
              <div class="m-epanel__footer -justify-content--end">
                <button class="a-btn -lg -primary -ml--2">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  #a-tabs-pending.a-tabs-panel
    :code(lang="html")
      <div class="m-epanel">
        <div class="m-epanel__header">
          <div class="m-epanel__number">3.</div>
          <div class="m-epanel__title">Pending panel</div>
        </div>
      </div>
  #a-tabs-disabled.a-tabs-panel
    :code(lang="html")
      <div class="m-epanel -disabled">
        <div class="m-epanel__header">
          <div class="m-epanel__number">4.</div>
          <div class="m-epanel__title">Disabled panel</div>
        </div>
      </div>

h2 Customization
p.-text
  | This component accepts a small number of visual changes. The numbering of the panels is optional, so you can omit
  | the <code>m-epanel__number</code> class elements. In this case, the active content will render with a not desired
  | margin, that can be removed with the <code>-ml--0</code> class.
.example.-mb3
  .-p3.-bg--grey-10
    .m-epanel.-active
      .m-epanel__header
        .m-epanel__title Expansion panel
        .m-epanel__action.-done--only
          button.a-btn.-primary.-flat Change
      .m-epanel__collapse.-ml--0
        .-active--only
          .m-epanel__body
            .m-epanel__content
              .m-epanel__subtitle Active panel title
              p.m-epanel__text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque consequatur consequuntur excepturi
                | illo maiores, nobis placeat recusandae rem! Accusantium ad in minus molestiae? Commodi cupiditate labore
                | nihil sed veritatis!
            .m-epanel__footer.-justify-content--end
              button.a-btn.-lg Previous
              button.a-btn.-lg.-primary.-ml--2 Continue
  :code(lang="html")
    <div class="m-epanel -done">
      <div class="m-epanel__header">
        <div class="m-epanel__title">Expansion panel</div>
        <div class="m-epanel__action -done--only">
          <button class="a-btn -primary -flat">Change</button>
        </div>
      </div>
      <div class="m-epanel__collapse -ml--0">
        <div class="-active--only">
          <div class="m-epanel__body">
            <div class="m-epanel__content">
              <div class="m-epanel__subtitle">Active panel title</div>
              <p class="m-epanel__text">Lorem ipsum...</p>
            </div>
            <div class="m-epanel__footer -justify-content--end">
              <button class="a-btn -lg">Previous</button>
              <button class="a-btn -lg -primary -ml--2">Continue</button>
            </div>
          </div>
        </div>
      </div>
    </div>

h2 Bordered expansion panel
p.-text
  | Expansion panel components also support a bordered version. Apply the <code>-bordered</code> class where desired.

.example.-mb3
  .-p3
    .m-epanel.-bordered.-done
      .m-epanel__header
        .m-epanel__number 1.
        .m-epanel__title Done panel
        .m-epanel__content
          .m-epanel__collapse
            .-done--only
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
        .m-epanel__action.-done--only
          button.a-btn.-primary.-flat Change
    .m-epanel.-bordered.-active
      .m-epanel__header
        .m-epanel__number 2.
        .m-epanel__title Active panel
      .m-epanel__collapse
        .-active--only
          .m-epanel__body
            .m-epanel__content
              .m-epanel__subtitle Active panel title
              p.m-epanel__text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque consequatur consequuntur excepturi
                | illo maiores, nobis placeat recusandae rem! Accusantium ad in minus molestiae? Commodi cupiditate labore
                | nihil sed veritatis!
            .m-epanel__footer.-justify-content--end
              button.a-btn.-lg.-primary.-ml--2 Continue
    .m-epanel.-bordered
      .m-epanel__header
        .m-epanel__number 3.
        .m-epanel__title Pending panel
    .m-epanel.-bordered.-disabled
      .m-epanel__header
        .m-epanel__number 4.
        .m-epanel__title Disabled panel
  ul#a-tabs-bordered.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-bordered-done') Done
    li
      a(href='#a-tabs-bordered-active') Active
    li
      a(href='#a-tabs-bordered-pending') Pending
    li
      a(href='#a-tabs-bordered-disabled') Disabled
  #a-tabs-bordered-done.a-tabs-panel.-active
    :code(lang="html")
      <div class="m-epanel -bordered -done">
        <div class="m-epanel__header">
          <div class="m-epanel__number">1.</div>
          <div class="m-epanel__title">Expansion panel</div>
          <div class="m-epanel__content">
            <div class="m-epanel__collapse">
              <div class="-done--only">CenturyLink...</div>
            </div>
          </div>
          <div class="m-epanel__action -done--only">
            <button class="a-btn -primary -flat">Change</button>
          </div>
        </div>
      </div>
  #a-tabs-bordered-active.a-tabs-panel
    :code(lang="html")
      <div class="m-epanel -bordered -active">
        <div class="m-epanel__header">
          <div class="m-epanel__number">2.</div>
          <div class="m-epanel__title">Active panel</div>
        </div>
        <div class="m-epanel__collapse">
          <div class="-active--only">
            <div class="m-epanel__body">
              <div class="m-epanel__content">
                <div class="m-epanel__subtitle">Active panel title</div>
                <p class="m-epanel__text">Lorem ipsum</p>
              </div>
              <div class="m-epanel__footer -justify-content--end">
                <button class="a-btn -lg -primary -ml--2">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  #a-tabs-bordered-pending.a-tabs-panel
    :code(lang="html")
      <div class="m-epanel -bordered">
        <div class="m-epanel__header">
          <div class="m-epanel__number">3.</div>
          <div class="m-epanel__title">Pending panel</div>
        </div>
      </div>
  #a-tabs-bordered-disabled.a-tabs-panel
    :code(lang="html")
      <div class="m-epanel -bordered -disabled">
        <div class="m-epanel__header">
          <div class="m-epanel__number">4.</div>
          <div class="m-epanel__title">Disabled panel</div>
        </div>
      </div>

h2 State custom behavior
p.-text
  | The four expansion panel states behave very similar one from each other. For example, you shouldn't, but you may
  | use an <code>m-epanel__footer</code> element in a <code>pending</code> panel, or an
  | <code>m-epanel__action</code> button in an <code>active</code> panel.
p.-text
  | There are two main differences between them.
ol.-text
  li
    | The title will render in the brand color for the active panel, in soft gray for the disabled panel and black for
    | the other panel states.
  li Two hiding utility classes will hide content depending on the state.

h3 Hiding by state
p.-text
  | The four examples below differ only on the state. Thanks to the state support and the <code>-active--only</code> and
  | <code>-done--only</code> utility classes, we can represent the three states of the same content changing only the
  | state class.
p.-text
  span.a-badge.-primary.-mr1
    span Tip
  | It is not a best practice to use this utility classes in frontend frameworks such as Angular, React or Vue as they
  | have their own solutions to accomplish this goal.

.example.-mb3
  .-p3.-bg--grey-10
    .m-epanel.-done
      .m-epanel__header
        .m-epanel__title Expansion panel
        .m-epanel__content
          .m-epanel__collapse
            .-done--only
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
        .m-epanel__action.-done--only
          button.a-btn.-primary.-flat Change
      .m-epanel__collapse.-ml--0
        .-active--only
          .m-epanel__body
            .m-epanel__content
              .m-epanel__subtitle Active panel title
              p.m-epanel__text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque consequatur consequuntur excepturi
                | illo maiores, nobis placeat recusandae rem! Accusantium ad in minus molestiae? Commodi cupiditate labore
                | nihil sed veritatis!
            .m-epanel__footer.-justify-content--end
              button.a-btn.-lg Previous
              button.a-btn.-lg.-primary.-ml--2 Continue
    .m-epanel.-active
      .m-epanel__header
        .m-epanel__title Expansion panel
        .m-epanel__content
          .m-epanel__collapse
            .-done--only
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
        .m-epanel__action.-done--only
          button.a-btn.-primary.-flat Change
      .m-epanel__collapse.-ml--0
        .-active--only
          .m-epanel__body
            .m-epanel__content
              .m-epanel__subtitle Active panel title
              p.m-epanel__text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque consequatur consequuntur excepturi
                | illo maiores, nobis placeat recusandae rem! Accusantium ad in minus molestiae? Commodi cupiditate labore
                | nihil sed veritatis!
            .m-epanel__footer.-justify-content--end
              button.a-btn.-lg Previous
              button.a-btn.-lg.-primary.-ml--2 Continue
    .m-epanel
      .m-epanel__header
        .m-epanel__title Expansion panel
        .m-epanel__content
          .m-epanel__collapse
            .-done--only
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
        .m-epanel__action.-done--only
          button.a-btn.-primary.-flat Change
      .m-epanel__collapse.-ml--0
        .-active--only
          .m-epanel__body
            .m-epanel__content
              .m-epanel__subtitle Active panel title
              p.m-epanel__text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque consequatur consequuntur excepturi
                | illo maiores, nobis placeat recusandae rem! Accusantium ad in minus molestiae? Commodi cupiditate labore
                | nihil sed veritatis!
            .m-epanel__footer.-justify-content--end
              button.a-btn.-lg Previous
              button.a-btn.-lg.-primary.-ml--2 Continue
    .m-epanel.-disabled
      .m-epanel__header
        .m-epanel__title Expansion panel
        .m-epanel__content
          .m-epanel__collapse
            .-done--only
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
        .m-epanel__action.-done--only
          button.a-btn.-primary.-flat Change
      .m-epanel__collapse.-ml--0
        .-active--only
          .m-epanel__body
            .m-epanel__content
              .m-epanel__subtitle Active panel title
              p.m-epanel__text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque consequatur consequuntur excepturi
                | illo maiores, nobis placeat recusandae rem! Accusantium ad in minus molestiae? Commodi cupiditate labore
                | nihil sed veritatis!
            .m-epanel__footer.-justify-content--end
              button.a-btn.-lg Previous
              button.a-btn.-lg.-primary.-ml--2 Continue
  ul#a-tabs-ex.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-ex-done') Done
    li
      a(href='#a-tabs-ex-active') Active
    li
      a(href='#a-tabs-ex-pending') Pending
    li
      a(href='#a-tabs-ex-disabled') Disabled
  #a-tabs-ex-done.a-tabs-panel.-active
    :code(lang="html")
      <div class="m-epanel -done">
        <div class="m-epanel__header">
          <div class="m-epanel__title">Expansion panel</div>
          <div class="m-epanel__content">
            <div class="m-epanel__collapse">
              <div class="-done--only">CenturyLink...</div>
            </div>
          </div>
          <div class="m-epanel__action -done--only">
            <button class="a-btn -primary -flat">Change</button>
          </div>
        </div>
        <div class="m-epanel__collapse -ml--0">
          <div class="-active--only">
            <div class="m-epanel__body">
              <div class="m-epanel__content">
                <div class="m-epanel__subtitle">Active panel title</div>
                <p class="m-epanel__text">Lorem ipsum...</p>
              </div>
              <div class="m-epanel__footer -justify-content--end">
                <button class="a-btn -lg">Previous</button>
                <button class="a-btn -lg -primary -ml--2">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  #a-tabs-ex-active.a-tabs-panel
    :code(lang="html")
      <div class="m-epanel -active">
        <div class="m-epanel__header">
          <div class="m-epanel__title">Expansion panel</div>
          <div class="m-epanel__content">
            <div class="m-epanel__collapse">
              <div class="-done--only">CenturyLink...</div>
            </div>
          </div>
          <div class="m-epanel__action -done--only">
            <button class="a-btn -primary -flat">Change</button>
          </div>
        </div>
        <div class="m-epanel__collapse -ml--0">
          <div class="-active--only">
            <div class="m-epanel__body">
              <div class="m-epanel__content">
                <div class="m-epanel__subtitle">Active panel title</div>
                <p class="m-epanel__text">Lorem ipsum...</p>
              </div>
              <div class="m-epanel__footer -justify-content--end">
                <button class="a-btn -lg">Previous</button>
                <button class="a-btn -lg -primary -ml--2">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  #a-tabs-ex-pending.a-tabs-panel
    :code(lang="html")
      <div class="m-epanel">
        <div class="m-epanel__header">
          <div class="m-epanel__title">Expansion panel</div>
          <div class="m-epanel__content">
            <div class="m-epanel__collapse">
              <div class="-done--only">CenturyLink...</div>
            </div>
          </div>
          <div class="m-epanel__action -done--only">
            <button class="a-btn -primary -flat">Change</button>
          </div>
        </div>
        <div class="m-epanel__collapse -ml--0">
          <div class="-active--only">
            <div class="m-epanel__body">
              <div class="m-epanel__content">
                <div class="m-epanel__subtitle">Active panel title</div>
                <p class="m-epanel__text">Lorem ipsum...</p>
              </div>
              <div class="m-epanel__footer -justify-content--end">
                <button class="a-btn -lg">Previous</button>
                <button class="a-btn -lg -primary -ml--2">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  #a-tabs-ex-disabled.a-tabs-panel
    :code(lang="html")
      <div class="m-epanel -disabled">
        <div class="m-epanel__header">
          <div class="m-epanel__title">Expansion panel</div>
          <div class="m-epanel__content">
            <div class="m-epanel__collapse">
              <div class="-done--only">CenturyLink...</div>
            </div>
          </div>
          <div class="m-epanel__action -done--only">
            <button class="a-btn -primary -flat">Change</button>
          </div>
        </div>
        <div class="m-epanel__collapse -ml--0">
          <div class="-active--only">
            <div class="m-epanel__body">
              <div class="m-epanel__content">
                <div class="m-epanel__subtitle">Active panel title</div>
                <p class="m-epanel__text">Lorem ipsum...</p>
              </div>
              <div class="m-epanel__footer -justify-content--end">
                <button class="a-btn -lg">Previous</button>
                <button class="a-btn -lg -primary -ml--2">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelectorAll('.docs-body__content .a-tabs'));
    }
  );
