h2 Examples
h3 Base
p.-text
  | Group expansion panels using the attribute <code>data-chi-epanel-group="name-of-the-group"</code>.
  | This will enable panels to work together as a sequential form. When a panel is activated,
  | the previous expanding panels will get the done state and the next will get the pending state.

.example.-mb--3#example3
  .-p--3.-p-lg--6.-bg--grey-10
    .-mw--720.-mx--auto
      .chi-epanel.-active(data-chi-epanel-group='example3')
        .chi-epanel__header
          .chi-epanel__number 1.
          .chi-epanel__title Panel title
          .chi-epanel__content
            .chi-epanel__collapse
              .-done--only
                | Use this area to present<br />
                | a read-only summary of what the user<br />
                | entered or selected in step 1.<br />
                | (e.g.) a package selection
          .chi-epanel__action.-done--only
            button.chi-button.-primary.-flat(data-chi-epanel-action="active") Change
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                .chi-epanel__subtitle Optional subtitle
                p.chi-epanel__text Content in expansion panel (e.g. a form to select a product package)
              .chi-epanel__footer.-justify-content--end
                button.chi-button.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

      .chi-epanel(data-chi-epanel-group='example3')
        .chi-epanel__header
          .chi-epanel__number 2.
          .chi-epanel__title Panel title
          .chi-epanel__content
            .chi-epanel__collapse
              .-done--only
                | Use this area to present<br />
                | a read-only summary of what the user<br />
                | entered or selected in step 2.<br />
                | (e.g.) shipping address
          .chi-epanel__action.-done--only
            button.chi-button.-primary.-flat(data-chi-epanel-action="active") Change
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                .chi-epanel__subtitle Optional subtitle
                p.chi-epanel__text Content in expansion panel (e.g. a form to enter shipping address)
              .chi-epanel__footer.-justify-content--end
                button.chi-button.-lg(data-chi-epanel-action='previous') Previous
                button.chi-button.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

      .chi-epanel(data-chi-epanel-group='example3')
        .chi-epanel__header
          .chi-epanel__number 3.
          .chi-epanel__title Panel title
          .chi-epanel__content
            .chi-epanel__collapse
              .-done--only
                | Use this area to present<br />
                | a read-only summary of what the user<br />
                | entered or selected in step 3.<br />
                | (e.g.) installation date
          .chi-epanel__action.-done--only
            button.chi-button.-primary.-flat(data-chi-epanel-action="active") Change
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                .chi-epanel__subtitle Optional subtitle
                p.chi-epanel__text Content in expansion panel (e.g. a form to select installation date)
              .chi-epanel__footer.-justify-content--end
                button.chi-button.-lg(data-chi-epanel-action='previous') Previous
                button.chi-button.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

      .chi-epanel(data-chi-epanel-group='example3')
        .chi-epanel__header
          .chi-epanel__number 4.
          .chi-epanel__title Panel title
          .chi-epanel__content
            .chi-epanel__collapse
              .-done--only
                | Use this area to present<br />
                | a read-only summary of what the user<br />
                | entered or selected in step 4.<br />
                | (e.g.) payment method
          .chi-epanel__action.-done--only
            button.chi-button.-primary.-flat(data-chi-epanel-action="active") Change
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                .chi-epanel__subtitle Optional subtitle
                p.chi-epanel__text Content in expansion panel (e.g. a form to enter payment method)
              .chi-epanel__footer.-justify-content--end
                button.chi-button.-lg(data-chi-epanel-action='previous') Previous
                button.chi-button.-lg(data-chi-epanel-action='done').-primary.-ml--2 Finish
  .example-tabs.-pl--2
    ul.chi-tabs#example-group-panel
      li.-active
        a(href='#web-group-panel') Web Component
      li
        a(href='#html-group-panel') HTML Blueprint
  #web-group-panel.chi-tabs-panel.-active
    :code(lang="html")
      <chi-expansion-panel step="1" title="Panel title" state="active">
        <div slot="active">
          <div class="chi-epanel__subtitle">
            Optional subtitle
          </div>
          <p class="chi-epanel__text">
            Content in expansion panel (e.g. a form to select a product package)
          </p>
        </div>
        <div slot="footer">
          <chi-button size="lg" color="primary">
            Continue
          </chi-button>
        </div>
      </chi-expansion-panel>
      <chi-expansion-panel step="2" title="Panel title"></chi-expansion-panel>
      <chi-expansion-panel step="3" title="Panel title"></chi-expansion-panel>
      <chi-expansion-panel step="4" title="Panel title"></chi-expansion-panel>
  #html-group-panel.chi-tabs-panel
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation/#jstab">Chi.js</a>.
    :code(lang="html")
      <!-- JavaScript -->
      <script>chi.expansionPanel(document.querySelectorAll('[data-chi-epanel-group="example3"]'));</script>

      <!-- HTML -->
      <div class="chi-epanel -active" data-chi-epanel-group="example3">
        <div class="chi-epanel__header">
          <div class="chi-epanel__number">1.</div>
          <div class="chi-epanel__title">Panel title</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse">
              <div class="-done--only">
                Use this area to present<br />
                a read-only summary of what the user<br />
                entered or selected in step 1.<br />
                (e.g.) a package selection
              </div>
            </div>
          </div>
          <div class="chi-epanel__action -done--only">
            <button class="chi-button -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Optional subtitle</div>
                <p class="chi-epanel__text">Content in expansion panel (e.g. a form to select a product package)</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-button -lg -primary -ml--2" data-chi-epanel-action="next">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chi-epanel" data-chi-epanel-group="example3">
        <div class="chi-epanel__header">
          <div class="chi-epanel__number">2.</div>
          <div class="chi-epanel__title">Panel title</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse">
              <div class="-done--only">
                Use this area to present<br />
                a read-only summary of what the user<br />
                entered or selected in step 2.<br />
                (e.g.) shipping address
              </div>
            </div>
          </div>
          <div class="chi-epanel__action -done--only">
            <button class="chi-button -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Optional subtitle</div>
                <p class="chi-epanel__text">Content in expansion panel (e.g. a form to enter shipping address)</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-button -lg" data-chi-epanel-action="previous">Previous</button>
                <button class="chi-button -lg -primary -ml--2" data-chi-epanel-action="next">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chi-epanel" data-chi-epanel-group="example3">
        <div class="chi-epanel__header">
          <div class="chi-epanel__number">3.</div>
          <div class="chi-epanel__title">Panel title</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse">
              <div class="-done--only">
                Use this area to present<br />
                a read-only summary of what the user<br />
                entered or selected in step 3.<br />
                (e.g.) installation date
              </div>
            </div>
          </div>
          <div class="chi-epanel__action -done--only">
            <button class="chi-button -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Optional subtitle</div>
                <p class="chi-epanel__text">Content in expansion panel (e.g. a form to select installation date)</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-button -lg" data-chi-epanel-action="previous">Previous</button>
                <button class="chi-button -lg -primary -ml--2" data-chi-epanel-action="done">Finish</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chi-epanel" data-chi-epanel-group="example3">
        <div class="chi-epanel__header">
          <div class="chi-epanel__number">4.</div>
          <div class="chi-epanel__title">Panel title</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse">
              <div class="-done--only">
                Use this area to present<br />
                a read-only summary of what the user<br />
                entered or selected in step 4.<br />
                (e.g.) payment method
              </div>
            </div>
          </div>
          <div class="chi-epanel__action -done--only">
            <button class="chi-button -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Optional subtitle</div>
                <p class="chi-epanel__text">Content in expansion panel (e.g. a form to enter payment method)</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-button -lg" data-chi-epanel-action="previous">Previous</button>
                <button class="chi-button -lg -primary -ml--2" data-chi-epanel-action="next">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

h3 States
p.-text
  | Expansion panels have four states: <code>active</code>, <code>pending</code>, <code>done</code> and
  | <code>disabled</code>. When <code>pending</code> (default state), only the title is shown. When
  | <code>active</code>, panels expand to show content or forms. When <code>done</code>, content or form
  | data is presented in a read only state. When <code>disabled</code>, a muted title is shown in a
  | non-clickable state.
p.-text
  | The four examples below differ only by state. Thanks to the state support and two internal hiding utility
  | classes we can represent the different states of the same content changing only the property.
.example.-mb--3
  .-p--3.-p-lg--6
    .-mw--720.-mx--auto
      .chi-epanel.-done(data-chi-epanel-group='example7')
        .chi-epanel__header
          .chi-epanel__number 1.
          .chi-epanel__title Done state
          .chi-epanel__content
            .chi-epanel__collapse
              .-done--only
                | Use this area to present<br />
                | a read-only summary of what the user<br />
                | entered or selected in step 1.<br />
                | (e.g.) a package selection
          .chi-epanel__action.-done--only
            button.chi-button.-primary.-flat(data-chi-epanel-action="active") Change
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                .chi-epanel__subtitle Optional subtitle
                p.chi-epanel__text Content in expansion panel (e.g. a form to select a product package)
              .chi-epanel__footer.-justify-content--end
                button.chi-button.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

      .chi-epanel.-active(data-chi-epanel-group='example7')
        .chi-epanel__header
          .chi-epanel__number 2.
          .chi-epanel__title Active state
          .chi-epanel__content
            .chi-epanel__collapse
              .-done--only
                | Use this area to present<br />
                | a read-only summary of what the user<br />
                | entered or selected in step 2.<br />
                | (e.g.) shipping address
          .chi-epanel__action.-done--only
            button.chi-button.-primary.-flat(data-chi-epanel-action="active") Change
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                .chi-epanel__subtitle Optional subtitle
                p.chi-epanel__text Content in expansion panel (e.g. a form to enter shipping address)
              .chi-epanel__footer.-justify-content--end
                button.chi-button.-lg(data-chi-epanel-action='previous') Previous
                button.chi-button.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

      .chi-epanel.-pending(data-chi-epanel-group='example7')
        .chi-epanel__header
          .chi-epanel__number 3.
          .chi-epanel__title Pending state
          .chi-epanel__content
            .chi-epanel__collapse
              .-done--only
                | Use this area to present<br />
                | a read-only summary of what the user<br />
                | entered or selected in step 3.<br />
                | (e.g.) installation date
          .chi-epanel__action.-done--only
            button.chi-button.-primary.-flat(data-chi-epanel-action="active") Change
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                .chi-epanel__subtitle Optional subtitle
                p.chi-epanel__text Content in expansion panel (e.g. a form to select installation date)
              .chi-epanel__footer.-justify-content--end
                button.chi-button.-lg(data-chi-epanel-action='previous') Previous
                button.chi-button.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

      .chi-epanel.-disabled(data-chi-epanel-group='example7')
        .chi-epanel__header
          .chi-epanel__number 4.
          .chi-epanel__title Disabled state
          .chi-epanel__content
            .chi-epanel__collapse
              .-done--only
                | Use this area to present<br />
                | a read-only summary of what the user<br />
                | entered or selected in step 4.<br />
                | (e.g.) payment method
          .chi-epanel__action.-done--only
            button.chi-button.-primary.-flat(data-chi-epanel-action="active") Change
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                .chi-epanel__subtitle Optional subtitle
                p.chi-epanel__text Content in expansion panel (e.g. a form to enter payment method)
              .chi-epanel__footer.-justify-content--end
                button.chi-button.-lg(data-chi-epanel-action='previous') Previous
                button.chi-button.-lg(data-chi-epanel-action='done').-primary.-ml--2 Finish
  .example-tabs.-pl--2
    ul.chi-tabs#example-default-states
      li.-active
        a(href=`#webcomponent-states`) Web Component
      li
        a(href=`#html-states`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-states
    :code(lang="html")
      <!-- Done state -->
      <chi-expansion-panel step="1" title="Done panel" state="done">
        <div slot="done">
          Use this area to present<br />
          a read-only summary of what the user<br />
          entered or selected in step 1.<br />
          (e.g.) a package selection
        </div>
        <div slot="change">
          <chi-button color="primary" variant="flat">
            Change
          </chi-button>
        </div>
      </chi-expansion-panel>

      <!-- Active state -->
      <chi-expansion-panel step="2" title="Active panel" state="active">
        <div slot="active">
          <div class="chi-epanel__subtitle">
            Optional subtitle
          </div>
          <p class="chi-epanel__text">
            Content in expansion panel (e.g. a form to enter shipping address)
          </p>
        </div>
        <div slot="footer">
          <chi-button size="lg" color="primary">
            Continue
          </chi-button>
        </div>
      </chi-expansion-panel>

      <!-- Pending state -->
      <chi-expansion-panel step="3" title="Pending panel"></chi-expansion-panel>

      <!-- Disabled state -->
      <chi-expansion-panel step="4" title="Disabled panel" state="disabled"></chi-expansion-panel>
  .chi-tabs-panel#html-states
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation/#jstab">Chi.js</a>.
    :code(lang="html")
      <!-- JavaScript -->
      <script>chi.expansionPanel(document.querySelectorAll('[data-chi-epanel-group="example7"]'));</script>

      <!-- HTML -->
      <!-- Done state -->
      <div class="chi-epanel -done" data-chi-epanel-group="example7">
        <div class="chi-epanel__header">
          <div class="chi-epanel__number">1.</div>
          <div class="chi-epanel__title">Done state</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse">
              <div class="-done--only">
                Use this area to present<br />
                a read-only summary of what the user<br />
                entered or selected in step 1.<br />
                (e.g.) a package selection
              </div>
            </div>
          </div>
          <div class="chi-epanel__action -done--only">
            <button class="chi-button -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Optional subtitle</div>
                <p class="chi-epanel__text">Content in expansion panel (e.g. a form to select a product package)</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-button -lg -primary -ml--2" data-chi-epanel-action="next">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Active state -->
      <div class="chi-epanel -active" data-chi-epanel-group="example7">
        <div class="chi-epanel__header">
          <div class="chi-epanel__number">2.</div>
          <div class="chi-epanel__title">Active state</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse">
              <div class="-done--only">
                Use this area to present<br />
                a read-only summary of what the user<br />
                entered or selected in step 2.<br />
                (e.g.) shipping address
              </div>
            </div>
          </div>
          <div class="chi-epanel__action -done--only">
            <button class="chi-button -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Optional subtitle</div>
                <p class="chi-epanel__text">Content in expansion panel (e.g. a form to enter shipping address)</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-button -lg" data-chi-epanel-action="previous">Previous</button>
                <button class="chi-button -lg -primary -ml--2" data-chi-epanel-action="next">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pending state -->
      <div class="chi-epanel -pending" data-chi-epanel-group="example7">
        <div class="chi-epanel__header">
          <div class="chi-epanel__number">3.</div>
          <div class="chi-epanel__title">Pending state</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse">
              <div class="-done--only">
                Use this area to present<br />
                a read-only summary of what the user<br />
                entered or selected in step 3.<br />
                (e.g.) installation date
              </div>
            </div>
          </div>
          <div class="chi-epanel__action -done--only">
            <button class="chi-button -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Optional subtitle</div>
                <p class="chi-epanel__text">Content in expansion panel (e.g. a form to select installation date)</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-button -lg" data-chi-epanel-action="previous">Previous</button>
                <button class="chi-button -lg -primary -ml--2" data-chi-epanel-action="done">Finish</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Disabled state -->
      <div class="chi-epanel -disabled" data-chi-epanel-group="example7">
        <div class="chi-epanel__header">
          <div class="chi-epanel__number">4.</div>
          <div class="chi-epanel__title">Done state</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse">
              <div class="-done--only">
                Use this area to present<br />
                a read-only summary of what the user<br />
                entered or selected in step 4.<br />
                (e.g.) payment method
              </div>
            </div>
          </div>
          <div class="chi-epanel__action -done--only">
            <button class="chi-button -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Optional subtitle</div>
                <p class="chi-epanel__text">Content in expansion panel (e.g. a form to enter payment method)</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-button -lg" data-chi-epanel-action="previous">Previous</button>
                <button class="chi-button -lg -primary -ml--2" data-chi-epanel-action="next">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

h3 No step number
p.-text Step numbering is optional and can be easily omitted.
.example.-mb--3#example3
  .-p--3.-p-lg--6.-bg--grey-10
    .-mw--720.-mx--auto
      .chi-epanel.-no-step.-active(data-chi-epanel-group='example8')
        .chi-epanel__header
          .chi-epanel__title Panel title
          .chi-epanel__content
            .chi-epanel__collapse
              .-done--only
                | Use this area to present<br />
                | a read-only summary of what the user<br />
                | entered or selected in step 1.<br />
                | (e.g.) a package selection
          .chi-epanel__action.-done--only
            button.chi-button.-primary.-flat(data-chi-epanel-action="active") Change
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                .chi-epanel__subtitle Optional subtitle
                p.chi-epanel__text Content in expansion panel (e.g. a form to select a product package)
              .chi-epanel__footer.-justify-content--end
                button.chi-button.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

      .chi-epanel.-no-step(data-chi-epanel-group='example8')
        .chi-epanel__header
          .chi-epanel__title Panel title
          .chi-epanel__content
            .chi-epanel__collapse
              .-done--only
                | Use this area to present<br />
                | a read-only summary of what the user<br />
                | entered or selected in step 2.<br />
                | (e.g.) shipping address
          .chi-epanel__action.-done--only
            button.chi-button.-primary.-flat(data-chi-epanel-action="active") Change
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                .chi-epanel__subtitle Optional subtitle
                p.chi-epanel__text Content in expansion panel (e.g. a form to enter shipping address)
              .chi-epanel__footer.-justify-content--end
                button.chi-button.-lg(data-chi-epanel-action='previous') Previous
                button.chi-button.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

      .chi-epanel.-no-step(data-chi-epanel-group='example8')
        .chi-epanel__header
          .chi-epanel__title Panel title
          .chi-epanel__content
            .chi-epanel__collapse
              .-done--only
                | Use this area to present<br />
                | a read-only summary of what the user<br />
                | entered or selected in step 3.<br />
                | (e.g.) installation date
          .chi-epanel__action.-done--only
            button.chi-button.-primary.-flat(data-chi-epanel-action="active") Change
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                .chi-epanel__subtitle Optional subtitle
                p.chi-epanel__text Content in expansion panel (e.g. a form to select installation date)
              .chi-epanel__footer.-justify-content--end
                button.chi-button.-lg(data-chi-epanel-action='previous') Previous
                button.chi-button.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

      .chi-epanel.-no-step(data-chi-epanel-group='example8')
        .chi-epanel__header
          .chi-epanel__title Panel title
          .chi-epanel__content
            .chi-epanel__collapse
              .-done--only
                | Use this area to present<br />
                | a read-only summary of what the user<br />
                | entered or selected in step 4.<br />
                | (e.g.) payment method
          .chi-epanel__action.-done--only
            button.chi-button.-primary.-flat(data-chi-epanel-action="active") Change
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                .chi-epanel__subtitle Optional subtitle
                p.chi-epanel__text Content in expansion panel (e.g. a form to enter payment method)
              .chi-epanel__footer.-justify-content--end
                button.chi-button.-lg(data-chi-epanel-action='previous') Previous
                button.chi-button.-lg(data-chi-epanel-action='done').-primary.-ml--2 Finish
  .example-tabs.-pl--2
    ul.chi-tabs#example-group-panel
      li.-active
        a(href='#web-no-step-numbers') Web Component
      li
        a(href='#html-no-step-numbers') HTML Blueprint
  #web-no-step-numbers.chi-tabs-panel.-active
    .chi-tab__description
      | Step numbering can be omitted by removing the <code>step</code> property.
    :code(lang="html")
      <chi-expansion-panel title="Panel title" state="active">
        <div slot="active">
          <div class="chi-epanel__subtitle">
            Optional subtitle
          </div>
          <p class="chi-epanel__text">
            Content in expansion panel (e.g. a form to select a product package)
          </p>
        </div>
        <div slot="footer">
          <chi-button size="lg" color="primary">
            Continue
          </chi-button>
        </div>
      </chi-expansion-panel>
      <chi-expansion-panel title="Panel title"></chi-expansion-panel>
      <chi-expansion-panel title="Panel title"></chi-expansion-panel>
      <chi-expansion-panel title="Panel title"></chi-expansion-panel>
  #html-no-step-numbers.chi-tabs-panel
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation/#jstab">Chi.js</a>.
      | <br>
      | <br>
      | Step numbering can be omitted by applying <code>-no-step</code> to <code>chi-epanel</code>
      | and removing <code>chi-epanel__number</code>.
    :code(lang="html")
      <!-- JavaScript -->
      <script>chi.expansionPanel(document.querySelectorAll('[data-chi-epanel-group="example8"]'));</script>

      <!-- HTML -->
      <div class="chi-epanel -no-step -active" data-chi-epanel-group="example8">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title">Panel title</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse -ml--0">
              <div class="-done--only">
                Use this area to present<br />
                a read-only summary of what the user<br />
                entered or selected in step 1.<br />
                (e.g.) a package selection
              </div>
            </div>
          </div>
          <div class="chi-epanel__action -done--only">
            <button class="chi-button -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Optional subtitle</div>
                <p class="chi-epanel__text">Content in expansion panel (e.g. a form to select a product package)</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-button -lg -primary -ml--2" data-chi-epanel-action="next">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chi-epanel -no-step" data-chi-epanel-group="example8">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title">Panel title</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse -ml--0">
              <div class="-done--only">
                Use this area to present<br />
                a read-only summary of what the user<br />
                entered or selected in step 2.<br />
                (e.g.) shipping address
              </div>
            </div>
          </div>
          <div class="chi-epanel__action -done--only">
            <button class="chi-button -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Optional subtitle</div>
                <p class="chi-epanel__text">Content in expansion panel (e.g. a form to enter shipping address)</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-button -lg" data-chi-epanel-action="previous">Previous</button>
                <button class="chi-button -lg -primary -ml--2" data-chi-epanel-action="next">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chi-epanel -no-step" data-chi-epanel-group="example8">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title">Panel title</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse -ml--0">
              <div class="-done--only">
                Use this area to present<br />
                a read-only summary of what the user<br />
                entered or selected in step 3.<br />
                (e.g.) installation date
              </div>
            </div>
          </div>
          <div class="chi-epanel__action -done--only">
            <button class="chi-button -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Optional subtitle</div>
                <p class="chi-epanel__text">Content in expansion panel (e.g. a form to select installation date)</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-button -lg" data-chi-epanel-action="previous">Previous</button>
                <button class="chi-button -lg -primary -ml--2" data-chi-epanel-action="done">Finish</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chi-epanel -no-step" data-chi-epanel-group="example8">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title">Panel title</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse -ml--0">
              <div class="-done--only">
                Use this area to present<br />
                a read-only summary of what the user<br />
                entered or selected in step 4.<br />
                (e.g.) payment method
              </div>
            </div>
          </div>
          <div class="chi-epanel__action -done--only">
            <button class="chi-button -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Optional subtitle</div>
                <p class="chi-epanel__text">Content in expansion panel (e.g. a form to enter payment method)</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-button -lg" data-chi-epanel-action="previous">Previous</button>
                <button class="chi-button -lg -primary -ml--2" data-chi-epanel-action="next">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

h3 Bordered
p.-text
  | Use bordered to apply borders to panels and contain them in card styled boxes.
.example.-mb--3
  .-p--3.-p-lg--6.-bg--grey-10
    .-mw--720.-mx--auto
      .chi-epanel.-bordered.-active(data-chi-epanel-group='example9')
        .chi-epanel__header
          .chi-epanel__title Panel title
          .chi-epanel__content
            .chi-epanel__collapse
              .-done--only
                | Use this area to present<br />
                | a read-only summary of what the user<br />
                | entered or selected in step 1.
          .chi-epanel__action.-done--only
            button.chi-button.-primary.-flat(data-chi-epanel-action="active") Change
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                .chi-epanel__subtitle Optional subtitle
                p.chi-epanel__text Content goes here
              .chi-epanel__footer.-justify-content--end
                button.chi-button.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

      .chi-epanel.-bordered(data-chi-epanel-group='example9')
        .chi-epanel__header
          .chi-epanel__title Panel title
          .chi-epanel__content
            .chi-epanel__collapse
              .-done--only
                | Use this area to present<br />
                | a read-only summary of what the user<br />
                | entered or selected in step 2.
          .chi-epanel__action.-done--only
            button.chi-button.-primary.-flat(data-chi-epanel-action="active") Change
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                .chi-epanel__subtitle Optional subtitle
                p.chi-epanel__text Content goes here
              .chi-epanel__footer.-justify-content--end
                button.chi-button.-lg(data-chi-epanel-action='previous') Previous
                button.chi-button.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

      .chi-epanel.-bordered(data-chi-epanel-group='example9')
        .chi-epanel__header
          .chi-epanel__title Panel title
          .chi-epanel__content
            .chi-epanel__collapse
              .-done--only
                | Use this area to present<br />
                | a read-only summary of what the user<br />
                | entered or selected in step 3.
          .chi-epanel__action.-done--only
            button.chi-button.-primary.-flat(data-chi-epanel-action="active") Change
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                .chi-epanel__subtitle Optional subtitle
                p.chi-epanel__text Content goes here
              .chi-epanel__footer.-justify-content--end
                button.chi-button.-lg(data-chi-epanel-action='previous') Previous
                button.chi-button.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

      .chi-epanel.-bordered.-disabled(data-chi-epanel-group='example9')
        .chi-epanel__header
          .chi-epanel__title Panel title
          .chi-epanel__content
            .chi-epanel__collapse
              .-done--only
                | Use this area to present<br />
                | a read-only summary of what the user<br />
                | entered or selected in step 4.
          .chi-epanel__action.-done--only
            button.chi-button.-primary.-flat(data-chi-epanel-action="active") Change
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                .chi-epanel__subtitle Optional subtitle
                p.chi-epanel__text Content goes here
              .chi-epanel__footer.-justify-content--end
                button.chi-button.-lg(data-chi-epanel-action='previous') Previous
                button.chi-button.-lg(data-chi-epanel-action='done').-primary.-ml--2 Finish
  .example-tabs.-pl--2
    ul.chi-tabs#example-bordered-states
      li.-active
        a(href=`#webcomponent-bordered-states`) Web Component
      li
        a(href=`#html-bordered-states`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-bordered-states
    .chi-tab__description
      | To render bordered panels, apply the property <code>bordered</code>.
    :code(lang="html")
      <!-- Done state -->
      <chi-expansion-panel title="Done panel" bordered state="done">
        <div slot="done">
          Use this area to present<br />
          a read-only summary of what the user<br />
          entered or selected in step 1.
        </div>
        <div slot="change">
          <chi-button color="primary" variant="flat">
            Change
          </chi-button>
        </div>
      </chi-expansion-panel>

      <!-- Active state -->
      <chi-expansion-panel title="Active panel" bordered state="active">
        <div slot="active">
          <div class="chi-epanel__subtitle">
            Optional subtitle
          </div>
          <p class="chi-epanel__text">
            Content goes here
          </p>
        </div>
        <div slot="footer">
          <chi-button size="lg" color="primary">
            Continue
          </chi-button>
        </div>
      </chi-expansion-panel>

      <!-- Pending state -->
      <chi-expansion-panel title="Pending panel" bordered></chi-expansion-panel>

      <!-- Disabled state -->
      <chi-expansion-panel title="Disabled panel" bordered state="disabled"></chi-expansion-panel>
  .chi-tabs-panel#html-bordered-states
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation/#jstab">Chi.js</a>.
      | <br><br>
      | To render bordered panels, apply the class <code>-bordered</code>.
    :code(lang="html")
      <!-- JavaScript -->
      <script>chi.expansionPanel(document.querySelectorAll('[data-chi-epanel-group="example9"]'));</script>

      <!-- HTML -->
      <!-- Done state -->
      <div class="chi-epanel -bordered -done" data-chi-epanel-group="example9">
        <div class="chi-epanel__header">
          <div class="chi-epanel__number">1.</div>
          <div class="chi-epanel__title">Done state</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse">
              <div class="-done--only">
                Use this area to present<br />
                a read-only summary of what the user<br />
                entered or selected in step 1.
              </div>
            </div>
          </div>
          <div class="chi-epanel__action -done--only">
            <button class="chi-button -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Optional subtitle</div>
                <p class="chi-epanel__text">Content goes here</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-button -lg -primary -ml--2" data-chi-epanel-action="next">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Active state -->
      <div class="chi-epanel -bordered -active" data-chi-epanel-group="example9">
        <div class="chi-epanel__header">
          <div class="chi-epanel__number">2.</div>
          <div class="chi-epanel__title">Active state</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse">
              <div class="-done--only">
                Use this area to present<br />
                a read-only summary of what the user<br />
                entered or selected in step 2.
              </div>
            </div>
          </div>
          <div class="chi-epanel__action -done--only">
            <button class="chi-button -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Optional subtitle</div>
                <p class="chi-epanel__text">Content goes here</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-button -lg" data-chi-epanel-action="previous">Previous</button>
                <button class="chi-button -lg -primary -ml--2" data-chi-epanel-action="next">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pending state -->
      <div class="chi-epanel -bordered -pending" data-chi-epanel-group="example9">
        <div class="chi-epanel__header">
          <div class="chi-epanel__number">3.</div>
          <div class="chi-epanel__title">Pending state</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse">
              <div class="-done--only">
                Use this area to present<br />
                a read-only summary of what the user<br />
                entered or selected in step 3.
              </div>
            </div>
          </div>
          <div class="chi-epanel__action -done--only">
            <button class="chi-button -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Optional subtitle</div>
                <p class="chi-epanel__text">Content goes here</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-button -lg" data-chi-epanel-action="previous">Previous</button>
                <button class="chi-button -lg -primary -ml--2" data-chi-epanel-action="done">Finish</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Disabled state -->
      <div class="chi-epanel -bordered -disabled" data-chi-epanel-group="example9">
        <div class="chi-epanel__header">
          <div class="chi-epanel__number">4.</div>
          <div class="chi-epanel__title">Done state</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse">
              <div class="-done--only">
                Use this area to present<br />
                a read-only summary of what the user<br />
                entered or selected in step 4.
              </div>
            </div>
          </div>
          <div class="chi-epanel__action -done--only">
            <button class="chi-button -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Optional subtitle</div>
                <p class="chi-epanel__text">Content goes here</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-button -lg" data-chi-epanel-action="previous">Previous</button>
                <button class="chi-button -lg -primary -ml--2" data-chi-epanel-action="next">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

h3 Accordion mode
p.-text
  | The expansion panel component can be configured to work as an accordion in a way that when an element is activated,
  | any other panel in the same group will be deactivated by putting it in the pending state. To activate this mode, add
  | the <code>mode: "accordion"</code> configuration parameter at the moment of creation. Done states should
  | not be used in this mode. In this example, titles have been configured to trigger the action <code>toggle</code>,
  | and panel #3 includes next and previous buttons that fulfill the accordion behavior.
.example.-mb--3#example4
  .-p--3.-p-lg--6.-bg--grey-10
    .-mw--720.-mx--auto
      .chi-epanel.-bordered.-active(data-chi-epanel-group='example4')
        .chi-epanel__header
          .chi-epanel__title(data-chi-epanel-action='toggle') Panel 1
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                p.chi-epanel__text Content goes here

      .chi-epanel.-bordered(data-chi-epanel-group='example4')
        .chi-epanel__header
          .chi-epanel__title(data-chi-epanel-action='toggle') Panel 2
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                p.chi-epanel__text Content goes here

      .chi-epanel.-bordered(data-chi-epanel-group='example4')
        .chi-epanel__header
          .chi-epanel__title(data-chi-epanel-action='toggle') Panel 3
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                p.chi-epanel__text Content goes here
              .chi-epanel__footer.-justify-content--end
                button.chi-button.-lg(data-chi-epanel-action='previous') Previous
                button.chi-button.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

      .chi-epanel.-bordered(data-chi-epanel-group='example4')
        .chi-epanel__header
          .chi-epanel__title(data-chi-epanel-action='toggle') Panel 4
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                p.chi-epanel__text Content goes here
  .example-tabs.-pl--2
    ul#chi-tabs-e4.chi-tabs
      li.-disabled
        a(href='#chi-tabs-e4-web') Web Component
      li.-active
        a(href='#chi-tabs-e4-html') HTML Blueprint
  #chi-tabs-e4-web.chi-tabs-panel
  #chi-tabs-e4-html.chi-tabs-panel.-active
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation/#jstab">Chi.js</a>.
    :code(lang="html")
      <div class="chi-epanel -bordered -active" data-chi-epanel-group="example4">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title" data-chi-epanel-action="toggle">Panel 1</div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <p class="chi-epanel__text">Content goes here</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chi-epanel -bordered" data-chi-epanel-group="example4">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title" data-chi-epanel-action="toggle">Panel 2</div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <p class="chi-epanel__text">Content goes here</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chi-epanel -bordered" data-chi-epanel-group="example4">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title" data-chi-epanel-action="toggle">Panel 3</div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <p class="chi-epanel__text">Content goes here</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-button -lg" data-chi-epanel-action="previous">Previous</button>
                <button class="chi-button -lg -primary -ml--2" data-chi-epanel-action="next">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chi-epanel -bordered" data-chi-epanel-group="example4">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title" data-chi-epanel-action="toggle">Panel 4</div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <p class="chi-epanel__text">Content goes here</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- JavaScript -->
      <script>
      chi.expansionPanel(
        document.querySelectorAll('[data-chi-epanel-group="example4"]'),
        {mode: 'accordion'}
      );
      </script>

h3 Free mode
p.-text
  | In this mode there is no automated action triggered when an element activates
  | so you will need to manage all custom behavior.
.example.-mb--3#example5
  .-p--3.-p-lg--6.-bg--grey-10
    .-mw--720.-mx--auto
      .chi-epanel.-no-step.-active(data-chi-epanel-group='example5')
        .chi-epanel__header
          .chi-epanel__title(data-chi-epanel-action='toggle') Panel 1
          .chi-epanel__action.-done--only
            button.chi-button.-primary.-flat(data-chi-epanel-action='active') Change
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                .chi-epanel__subtitle Optional subtitle
                p.chi-epanel__text Content goes here
              .chi-epanel__footer.-justify-content--end
                button.chi-button.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue
      .chi-epanel.-no-step(data-chi-epanel-group='example5')
        .chi-epanel__header
          .chi-epanel__title(data-chi-epanel-action='toggle') Panel 2
          .chi-epanel__action.-done--only
            button.chi-button.-primary.-flat(data-chi-epanel-action='active') Change
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                .chi-epanel__subtitle Optional subtitle
                p.chi-epanel__text Content goes here
              .chi-epanel__footer.-justify-content--end
                button.chi-button.-lg(data-chi-epanel-action='previous') Previous
                button.chi-button.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue
      .chi-epanel.-no-step(data-chi-epanel-group='example5')
        .chi-epanel__header
          .chi-epanel__title(data-chi-epanel-action='toggle') Panel 3
          .chi-epanel__action.-done--only
            button.chi-button.-primary.-flat(data-chi-epanel-action='active') Change
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                .chi-epanel__subtitle Optional subtitle
                p.chi-epanel__text Content goes here
              .chi-epanel__footer.-justify-content--end
                button.chi-button.-lg(data-chi-epanel-action='previous') Previous
                button.chi-button.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue
      .chi-epanel.-no-step(data-chi-epanel-group='example5')
        .chi-epanel__header
          .chi-epanel__title(data-chi-epanel-action='toggle') Panel 4
          .chi-epanel__action.-done--only
            button.chi-button.-primary.-flat(data-chi-epanel-action='active') Change
        .chi-epanel__collapse
          .-active--only
            .chi-epanel__body
              .chi-epanel__content
                .chi-epanel__subtitle Optional subtitle
                p.chi-epanel__text Content goes here
              .chi-epanel__footer.-justify-content--end
                button.chi-button.-lg(data-chi-epanel-action='previous') Previous
  .example-tabs.-pl--2
    ul#chi-tabs-e5.chi-tabs
      li.-disabled
        a(href='#chi-tabs-e5-web') Web Component
      li.-active
        a(href='#chi-tabs-e5-html') HTML Blueprint
  #chi-tabs-e5-web.chi-tabs-panel
  #chi-tabs-e5-html.chi-tabs-panel.-active
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation/#jstab">Chi.js</a>.
    :code(lang="html")
      <div class="chi-epanel -no-step -active" data-chi-epanel-group="example5">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title" data-chi-epanel-action="toggle">Panel 1</div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Optional subtitle</div>
                <p class="chi-epanel__text">Content goes here</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-button -lg -primary -ml--2" data-chi-epanel-action="next">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chi-epanel -no-step" data-chi-epanel-group="example5">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title" data-chi-epanel-action="toggle">Panel 2</div>
        </div>
        <div class="chi-epanel__collapse">
          <div class="-active--only">
            <div class="chi-epanel__body">
              <div class="chi-epanel__content">
                <div class="chi-epanel__subtitle">Optional subtitle</div>
                <p class="chi-epanel__text">Content goes here</p>
              </div>
              <div class="chi-epanel__footer -justify-content--end">
                <button class="chi-button -lg" data-chi-epanel-action="previous">Previous</button>
                <button class="chi-button -lg -primary -ml--2" data-chi-epanel-action="next">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- JavaScript -->
      <script>
        chi.expansionPanel(
          document.querySelectorAll('[data-chi-epanel-group="example5"]'),
          {mode: 'free'}
        );
      </script>

h3 Custom mode
p.-text
  | Write your own custom mode by adding a handler for state changes of the expansion panels in the configuration, and
  | writing your own functions for the <code>active</code>, <code>done</code>, <code>pending</code>,
  | <code>disabled</code>, <code>toggle</code>, <code>next</code> and <code>previous</code> actions. In the
  | example, the component behaves similar to the accordion but alternates between <code>done</code> and
  | <code>pending</code> states instead of <code>active</code> and <code>pending</code> states. The overridden action
  | functions are for documentation purposes only because they clone the functionality of the default ones.
.example.-mb--3#example6
  .-p--3.-p-lg--6.-bg--grey-10
    .-mw--720.-mx--auto
      .chi-epanel.-done(data-chi-epanel-group='example6')
        .chi-epanel__header
          .chi-epanel__title(data-chi-epanel-action='done') Panel 1
          .chi-epanel__content
            .chi-epanel__collapse
              .-done--only
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius arcu nisl, non accumsan elit
                | interdum et. Nunc ut gravida justo. Nulla sit amet est accumsan, condimentum elit nec, dapibus nulla.
                | Aenean eu sapien eget ante placerat pretium a sit amet ante.
      .chi-epanel(data-chi-epanel-group='example6')
        .chi-epanel__header
          .chi-epanel__title(data-chi-epanel-action='done') Panel 2
          .chi-epanel__content
            .chi-epanel__collapse
              .-done--only
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius arcu nisl, non accumsan elit
                | interdum et. Nunc ut gravida justo. Nulla sit amet est accumsan, condimentum elit nec, dapibus nulla.
                | Aenean eu sapien eget ante placerat pretium a sit amet ante.
      .chi-epanel(data-chi-epanel-group='example6')
        .chi-epanel__header
          .chi-epanel__title(data-chi-epanel-action='done') Panel 3
          .chi-epanel__content
            .chi-epanel__collapse
              .-done--only
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius arcu nisl, non accumsan elit
                | interdum et. Nunc ut gravida justo. Nulla sit amet est accumsan, condimentum elit nec, dapibus nulla.
                | Aenean eu sapien eget ante placerat pretium a sit amet ante.
      .chi-epanel(data-chi-epanel-group='example6')
        .chi-epanel__header
          .chi-epanel__title(data-chi-epanel-action='done') Panel 4
          .chi-epanel__content
            .chi-epanel__collapse
              .-done--only
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius arcu nisl, non accumsan elit
                | interdum et. Nunc ut gravida justo. Nulla sit amet est accumsan, condimentum elit nec, dapibus nulla.
                | Aenean eu sapien eget ante placerat pretium a sit amet ante.
  .example-tabs.-pl--2
    ul#chi-tabs-e6.chi-tabs
      li.-disabled
        a(href='#chi-tabs-e6-web') Web Component
      li.-active
        a(href='#chi-tabs-e6-html') HTML Blueprint
  #chi-tabs-e6-web.chi-tabs-panel
  #chi-tabs-e6-html.chi-tabs-panel.-active
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation/#jstab">Chi.js</a>.
    :code(lang="html")
      <div class="chi-epanel -done" data-chi-epanel-group="example6">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title" data-chi-epanel-action="done">Panel 1</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse">
              <div class="-done--only">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius arcu nisl, non accumsan elit
                interdum et. Nunc ut gravida justo. Nulla sit amet est accumsan, condimentum elit nec, dapibus nulla.
                Aenean eu sapien eget ante placerat pretium a sit amet ante.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chi-epanel" data-chi-epanel-group="example6">
        <div class="chi-epanel__header">
          <div class="chi-epanel__title" data-chi-epanel-action="done">Panel 2</div>
          <div class="chi-epanel__content">
            <div class="chi-epanel__collapse">
              <div class="-done--only">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius arcu nisl, non accumsan elit
                interdum et. Nunc ut gravida justo. Nulla sit amet est accumsan, condimentum elit nec, dapibus nulla.
                Aenean eu sapien eget ante placerat pretium a sit amet ante.
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- JavaScript -->
      <script>
        chi.expansionPanel(
          document.querySelectorAll('[data-chi-epanel-group="example6"]'),
          {
            mode: 'custom',
            changeHandler: function (newState, oldState, expansionPanel, panelGroup) {
              if (newState === chi.EXPANSION_PANEL_STATES.DONE) {
                panelGroup.expansion_panels.forEach(function (exPa) {
                  if (exPa !== expansionPanel) {
                    exPa.setState(chi.EXPANSION_PANEL_STATES.PENDING.NAME);
                  }
                });
              }
            },
            customActions: {
              active: (expansionPanel, epGroup) =>
                expansionPanel.setState(chi.EXPANSION_PANEL_STATES.ACTIVE.NAME),
              done: (expansionPanel, epGroup) =>
                expansionPanel.setState(chi.EXPANSION_PANEL_STATES.DONE.NAME),
              pending: (expansionPanel, epGroup) =>
                expansionPanel.setState(chi.EXPANSION_PANEL_STATES.PENDING.NAME),
              toggle: (expansionPanel, epGroup) => {
                if (expansionPanel._state === chi.EXPANSION_PANEL_STATES.ACTIVE) {
                  expansionPanel.setState(chi.EXPANSION_PANEL_STATES.PENDING.NAME);
                } else {
                  expansionPanel.setState(chi.EXPANSION_PANEL_STATES.ACTIVE.NAME);
                }
              },
              next: (expansionPanel, epGroup) => {
                epGroup.reset(expansionPanel);
                epGroup.next().setState(chi.EXPANSION_PANEL_STATES.ACTIVE.NAME);
              },
              previous: (expansionPanel, epGroup) => {
                epGroup.reset(expansionPanel);
                epGroup.previous().setState(chi.EXPANSION_PANEL_STATES.ACTIVE.NAME);
              },
              disabled: (expansionPanel, epGroup) =>
                expansionPanel.setState(chi.EXPANSION_PANEL_STATES.DISABLED.NAME)
            }
          }
        );
      </script>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));

      chi.expansionPanel(document.querySelectorAll('[data-chi-epanel-group="example3"]'));
      chi.expansionPanel(document.querySelectorAll('[data-chi-epanel-group="example4"]'), {mode: 'accordion'});
      chi.expansionPanel(document.querySelectorAll('[data-chi-epanel-group="example5"]'), {mode: 'free'});
      chi.expansionPanel(document.querySelectorAll('[data-chi-epanel-group="example7"]'));
      chi.expansionPanel(document.querySelectorAll('[data-chi-epanel-group="example8"]'));
      chi.expansionPanel(document.querySelectorAll('[data-chi-epanel-group="example9"]'));

      chi.expansionPanel(
      document.querySelectorAll('[data-chi-epanel-group="example6"]'),
      {
        mode: 'custom',
        changeHandler: function (newState, oldState, expansionPanel, panelGroup) {
        if (newState === chi.EXPANSION_PANEL_STATES.DONE) {
          panelGroup.expansion_panels.forEach(function (exPa) {
            if (exPa !== expansionPanel) {
              exPa.setState(chi.EXPANSION_PANEL_STATES.PENDING.NAME);
            }
          });
          }
        }
      });
    }
  );
