---
title: Expansion panel
description: Expansion panels are components designed to be folded and stacked in sequence. They have four states - active, pending, done and disabled.
tabs: {"Examples" : "examplestab", "Properties" : "propertiestab", "Accessibility" : "accessibilitytab"}
---

p.-text
  | When pending, only the title is shown.
  | When active, panels expand to show content or forms.
  | When done, content or form data is presented in a read only state.
  | When disabled, a muted title is shown in a non-clickable state.
  | Three classes represent these states: <code>-done</code>, <code>-active</code>, and <code>-disabled</code>. Pending is the default state.

.a-tabs-panel.-active#examplestab
  include _examples

.a-tabs-panel#propertiestab
  include _properties

.a-tabs-panel#accessibilitytab
  include _accessibility