@import 'button-groups-variables';

.chi {
  .m-btnGroup {
    display: inline-flex;

    &:not(.-vertical) {
      .a-btn {
        &,
        &.-primary,
        &.-danger,
        &.-info,
        &.-dark {

          &,
          &.-outline {
            border-radius: 0;
            border-right-width: 0;
            padding-right: 2rem;

            &.-icon {
              padding-right: 1rem;
            }

            &.-small {
              padding-right: 1rem;

              &.-icon {
                padding-right: 0.75rem;
              }
            }

            &.-large {
              padding-right: 3rem;

              &.-icon {
                padding-right: 1.25rem;
              }
            }

            &:first-child {
              border-bottom-left-radius: $border-radius;
              border-top-left-radius: $border-radius;
            }

            &:last-child {
              border-bottom-right-radius: $border-radius;
              border-right-width: 0.125rem;
              border-top-right-radius: $border-radius;
              padding-right: 1.875rem;

              &.-icon {
                padding-right: 0.875rem;
              }

              &.-small {
                padding-right: 0.875rem;

                &.-icon {
                  padding-right: 0.625rem;
                }
              }

              &.-large {
                padding-right: 2.875rem;

                &.-icon {
                  padding-right: 1.125rem;
                }
              }
            }

            &:active,
            &.-active,
            &:hover,
            &.-hover,
            &:focus,
            &.-focus {
              border-right-width: 0.125rem;
              padding-right: 1.875rem;

              &.-icon {
                padding-right: 0.875rem;
              }

              &.-small {
                padding-right: 0.875rem;

                &.-icon {
                  padding-right: 0.625rem;
                }
              }

              &.-large {
                padding-right: 2.875rem;

                &.-icon {
                  padding-right: 1.125rem;
                }
              }

              & + .a-btn:not(.-flat) {
                border-left-width: 0;
                padding-left: 2rem;

                &.-icon {
                  padding-left: 1rem;
                }

                &.-small {
                  padding-left: 1rem;

                  &.-icon {
                    padding-left: 0.75rem;
                  }
                }

                &.-large {
                  padding-left: 3rem;

                  &.-icon {
                    padding-left: 1.25rem;
                  }
                }
              }
            }

            &:hover,
            &.-hover {
              & + .a-btn:focus,
              & + .-focus {
                border-left-width: 0.125rem;
                padding-left: 1.875rem;

                &.-icon {
                  padding-left: 0.875rem;
                }

                &.-small {
                  padding-left: 0.875rem;

                  &.-icon {
                    padding-left: 0.625rem;
                  }
                }

                &.-large {
                  padding-left: 2.875rem;

                  &.-icon {
                    padding-left: 1.125rem;
                  }
                }
              }
            }
          }

          &.-flat {
            border-radius: $border-radius;
            padding-left: 2rem;
            padding-right: 2rem;

            &.-icon {
              padding-left: 1rem;
              padding-right: 1rem;
            }

            &.-small {
              padding-left: 1rem;
              padding-right: 1rem;

              &.-icon {
                padding-left: 0.75rem;
                padding-right: 0.75rem;
              }
            }

            &.-large {
              padding-left: 3rem;
              padding-right: 3rem;

              &.-icon {
                padding-left: 1.25rem;
                padding-right: 1.25rem;
              }
            }

            &:active,
            &.-active,
            &:hover,
            &.-hover,
            &:focus,
            &.-focus {
              padding-left: 1.875rem;
              padding-right: 1.875rem;

              &.-icon {
                padding-left: 0.875rem;
                padding-right: 0.875rem;
              }

              &.-small {
                padding-left: 0.875rem;
                padding-right: 0.875rem;

                &.-icon {
                  padding-left: 0.625rem;
                  padding-right: 0.625rem;
                }
              }

              &.-large {
                padding-left: 2.875rem;
                padding-right: 2.875rem;

                &.-icon {
                  padding-left: 1.125rem;
                  padding-right: 1.125rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
