@import 'mixins';
@import 'variables';

$btn: c-btn;
$btn-group: #{$btn}-group;
$state-colors: (primary: green, danger: red, info: blue, dark: carbon);

.#{$btn-group} {
  display: inline-flex;

  .#{$btn} {
    &,
    &.#{$btn}--primary,
    &.#{$btn}--danger,
    &.#{$btn}--info,
    &.#{$btn}--dark {

      &,
      &.#{$btn}--outline {
        border-radius: 0;
        border-right-width: 0;

        &:first-child {
          border-bottom-left-radius: $border-radius;
          border-top-left-radius: $border-radius;
        }

        &:last-child {
          border-bottom-right-radius: $border-radius;
          border-right-width: 0.125rem;
          border-top-right-radius: $border-radius;
        }

        &:hover,
        .#{$btn}--hover,
        &:focus,
        .#{$btn}--focus {
          border-right-width: 0.125rem;

          & + .#{$btn} {
            border-left-width: 0;
          }
        }

        &:hover,
        .#{$btn}--hover {
          & + .#{$btn}:focus,
          & + .#{$btn}--focus {
            border-left-width: 0.125rem;
            left: -0.125rem;
            margin-right: -0.125rem;
            position: relative;
          }
        }
      }

      &.#{$btn}--flat {
        border-radius: $border-radius;
        padding-left: 2rem;
        padding-right: 1.875rem;

        &.#{$btn}--small {
          padding-left: 1rem;
          padding-right: 0.875rem;
        }

        &.#{$btn}--large {
          padding-left: 3rem;
          padding-right: 2.875rem;
        }

        &.#{$btn}--icon {
          padding-left: 1rem;
          padding-right: 0.875rem;

          &.#{$btn}--small {
            padding-left: 0.75rem;
            padding-right: 0.625rem;
          }

          &.#{$btn}--large {
            padding-left: 1.25rem;
            padding-right: 1.125rem;
          }
        }

        &:last-child {
          padding-right: 2rem;

          &.#{$btn}--small {
            padding-right: 1rem;
          }

          &.#{$btn}--large {
            padding-right: 3rem;
          }

          &.#{$btn}--icon {
            padding-right: 1rem;

            &.#{$btn}--small {
              padding-right: 0.75rem;
            }

            &.#{$btn}--large {
              padding-right: 1.25rem;
            }
          }
        }

        &:hover,
        .#{$btn}--hover,
        &:focus,
        .#{$btn}--focus {
          padding-left: 1.875rem;
          padding-right: 1.875rem;

          &.#{$btn}--small {
            padding-left: 0.875rem;
            padding-right: 0.875rem;
          }

          &.#{$btn}--large {
            padding-left: 2.875rem;
            padding-right: 2.875rem;
          }

          &.#{$btn}--icon {
            padding-left: 0.875rem;
            padding-right: 0.875rem;

            &.#{$btn}--small {
              padding-left: 0.625rem;
              padding-right: 0.625rem;
            }

            &.#{$btn}--large {
              padding-left: 1.125rem;
              padding-right: 1.125rem;
            }
          }

          & + .#{$btn} {
            padding-left: 1.875rem;

            &.#{$btn}--small {
              padding-left: 0.875rem;
            }

            &.#{$btn}--large {
              padding-left: 2.875rem;
            }

            &.#{$btn}--icon {
              padding-left: 0.875rem;

              &.#{$btn}--small {
                padding-left: 0.625rem;
              }

              &.#{$btn}--large {
                padding-left: 1.125rem;
              }
            }

            &:not(.#{$btn}--focus):not(:focus) {
              border-left-width: 0;
            }
          }
        }
      }
    }
  }
}
