@import 'mixins';
@import 'variables';

$btn: c-btn;
$state-colors: (primary: green, danger: red, info: blue, dark: carbon);

.#{$btn} {
  & {
    background-color: set-color(grey, 100);
    border: 0;
    border-radius: $border-radius;
    box-shadow: inset 0 0 0 1px set-color(grey, 600), 0 1px 1px 0 rgba(set-color(carbon, 800), 0.04);
    color: $text-color;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 2rem;
    outline: 0;
    padding: 1rem 2rem;
    text-align: center;
    transition: all 0.15s ease-in-out;
    vertical-align: middle;
    white-space: nowrap;

    .c-icon {
      color: set-color(carbon, 100);
      height: 2rem;
      width: 2rem;
    }

    .#{$btn}-content {
      align-items: center;
      display: inline-flex;
      justify-content: center;

      & > :not(:last-child) {
        margin-right: 1rem;
      }
    }

    &--small {
      font-size: 1.375rem;
      line-height: 2rem;
      padding: 0.5rem 1rem;

      .c-icon {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    &--large {
      font-size: 2rem;
      line-height: 3rem;
      padding: 1rem 3rem;

      .c-icon {
        height: 2.5rem;
        width: 2.5rem;
      }
    }

    &:hover,
    &--hover {
      box-shadow: inset 0 0 0 1px set-color(grey, 800), 0 1px 4px 0 rgba(set-color(carbon, 800), 0.15);
    }

    &:focus,
    &.#{$btn}--focus {
      box-shadow: inset 0 0 0 1px set-color(grey, 800), 0 0 0 3px rgba(set-color(grey, 600), 0.6);
    }

    &:active,
    &.#{$btn}--active {
      &,
      &:focus,
      &.#{$btn}--focus {
        background-color: set-color(grey, 400);
        box-shadow: inset 0 0 0 1px set-color(grey, 800), inset 0 1px 2px 0 rgba(set-color(carbon, 800), 0.2);
      }
    }

    &.#{$btn}--icon {
      padding: 1rem;

      &.#{$btn}--small {
        padding: 0.75rem;
      }

      &.#{$btn}--large {
        padding: 1.25rem;
      }
    }

    &.#{$btn}--float {
      border-radius: 50%;
      padding: 1rem;

      .c-icon {
        height: 2rem;
        width: 2rem;
      }
    }

    &.#{$btn}--outline {
      background-color: set-color(grey, 100);
      box-shadow: inset 0 0 0 1px set-color(carbon, 100);

      &:hover,
      &.#{$btn}--hover {
        background-color: set-color(carbon, 100);
        color: set-color(grey, 100);

        .c-icon {
          color: set-color(grey, 100);
        }
      }

      &:focus,
      &.#{$btn}--focus {
        box-shadow: inset 0 0 0 1px set-color(carbon, 100), 0 0 0 3px rgba(set-color(carbon, 100), 0.3);
      }

      &:active,
      &.#{$btn}--active {
        &,
        &:focus,
        &.#{$btn}--focus {
          background-color: set-color(carbon, 200);
          box-shadow: inset 0 1px 2px 0 rgba(set-color(carbon, 800), 0.2);
          color: set-color(grey, 100);
        }
      }
    }

    &.#{$btn}--flat {
      background-color: transparent;
      box-shadow: none;
      color: set-color(carbon, 500);

      &:hover,
      &.#{$btn}--hover {
        background-color: set-color(grey, 100);
        box-shadow: inset 0 0 0 1px set-color(grey, 800), 0 1px 4px 0 rgba(set-color(carbon, 800), 0.15);
      }

      &:focus,
      &.#{$btn}--focus {
        background-color: set-color(grey, 100);
        box-shadow: inset 0 0 0 1px set-color(grey, 800), 0 0 0 3px rgba(set-color(grey, 600), 0.6);
      }

      &:active,
      &.#{$btn}--active {
        &,
        &:focus,
        &.#{$btn}--focus {
          background-color: set-color(grey, 400);
          box-shadow: inset 0 0 0 1px set-color(grey, 800),
          inset 0 1px 2px 0 rgba(set-color(carbon, 800), 0.2);
        }
      }
    }
  }

  @each $type in map-keys($state-colors) {
    &.#{$btn}--#{$type} {
      background-color: set-color(map-get($state-colors, $type), 500);
      box-shadow: 0 1px 1px 0 rgba(set-color(carbon, 800), 0.04);
      color: set-color(grey, 100);
      font-weight: 700;

      .c-icon {
        color: inherit;
      }

      &:hover,
      &.#{$btn}--hover {
        background-color: set-color(map-get($state-colors, $type), 600);
        box-shadow: 0 1px 4px 0 rgba(set-color(carbon, 800), 0.15);
      }

      &:focus,
      &.#{$btn}--focus {
        box-shadow: 0 0 0 3px rgba(set-color(map-get($state-colors, $type), 600), 0.3);
      }

      &:active,
      &.#{$btn}--active {
        &,
        &:focus,
        &.#{$btn}--focus {
          background-color: set-color(map-get($state-colors, $type), 700);
          box-shadow: inset 0 1px 2px 0 rgba(set-color(carbon, 800), 0.2);
        }
      }

      &.#{$btn}--outline {
        background-color: set-color(grey, 100);
        box-shadow: inset 0 0 0 1px set-color(map-get($state-colors, $type), 500);
        color: set-color(map-get($state-colors, $type), 500);

        &:hover,
        &.#{$btn}--hover {
          background-color: set-color(map-get($state-colors, $type), 500);
          color: set-color(grey, 100);
        }

        &:focus,
        &.#{$btn}--focus {
          box-shadow: inset 0 0 0 1px set-color(map-get($state-colors, $type), 500),
          0 0 0 3px rgba(set-color(map-get($state-colors, $type), 600), 0.4);
        }

        &:active,
        &.#{$btn}--active {
          &,
          &:focus,
          &.#{$btn}--focus {
            background-color: set-color(map-get($state-colors, $type), 700);
            box-shadow: inset 0 1px 2px 0 rgba(set-color(carbon, 800), 0.2);
            color: set-color(grey, 100);
          }
        }
      }

      &.#{$btn}--flat {
        background-color: transparent;
        box-shadow: none;
        color: set-color(map-get($state-colors, $type), 500);

        &:hover,
        &.#{$btn}--hover {
          background-color: set-color(grey, 100);
          box-shadow: inset 0 0 0 1px set-color(map-get($state-colors, $type), 500);
        }

        &:focus,
        &.#{$btn}--focus {
          background-color: set-color(grey, 100);
          box-shadow: inset 0 0 0 1px set-color(map-get($state-colors, $type), 500),
          0 0 0 3px rgba(set-color(map-get($state-colors, $type), 600), 0.4);
        }

        &:active,
        &.#{$btn}--active {
          &,
          &:focus,
          &.#{$btn}--focus {
            background-color: set-color(map-get($state-colors, $type), 500);
            box-shadow: inset 0 1px 2px 0 rgba(set-color(carbon, 800), 0.2),
            inset 0 0 0 1px set-color(map-get($state-colors, $type), 500);
            color: set-color(grey, 100);
          }
        }
      }
    }
  }
}
