@import 'mixins';
@import 'variables';

$btn: c-btn;
$state-colors: (primary: green, danger: red, info: blue, dark: carbon);

.#{$btn} {
  & {
    background-color: set-color(grey, 100);
    border: 0;
    border-radius: $border-radius;
    box-shadow: inset 0 0 0 1px set-color(grey, 600), 0 1px 1px 0 rgba(0, 0, 0, 0.04);
    color: $text-color;
    cursor: pointer;
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 2rem;
    outline: 0;
    padding: 1rem 2rem;
    text-align: center;
    transition: all 0.15s ease-in-out;
    vertical-align: middle;
    white-space: nowrap;

    &--small {
      font-size: 1.375rem;
      line-height: 2rem;
      padding: 0.5rem 1rem;
    }

    &--large {
      font-size: 2rem;
      line-height: 3rem;
      padding: 1rem 3rem;
    }

    &:hover,
    &--hover {
      box-shadow: inset 0 0 0 1px set-color(grey, 800), 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    }

    &:focus,
    &.#{$btn}--focus {
      box-shadow: inset 0 0 0 1px set-color(grey, 800), 0 0 0 3px rgba(set-color(grey, 600), 0.4);
    }

    &:active,
    &.#{$btn}--active {
      &,
      &:focus,
      &.#{$btn}--focus {
        background-color: set-color(grey, 400);
        box-shadow: inset 0 0 0 1px set-color(grey, 800), 0 0 0 5px rgba(set-color(grey, 600), 0.6);
      }
    }

    &.#{$btn}--outline {
      background-color: set-color(grey, 100);
      box-shadow: inset 0 0 0 1px set-color(carbon, 100);
      color: set-color(carbon, 200);

      &:hover,
      &.#{$btn}--hover {
        background-color: set-color(carbon, 100);
        color: set-color(grey, 100);
      }

      &:focus,
      &.#{$btn}--focus {
        box-shadow: inset 0 0 0 1px set-color(grey, 800), 0 0 0 3px rgba(set-color(grey, 600), 0.4);
      }

      &:active,
      &.#{$btn}--active {
        &,
        &:focus,
        &.#{$btn}--focus {
          background-color: set-color(carbon, 200);
          box-shadow: inset 0 0 0 1px set-color(grey, 800), 0 0 0 5px rgba(set-color(grey, 600), 0.6);
          color: set-color(grey, 100);
        }
      }
    }

    &.#{$btn}--flat {
      background-color: transparent;
      box-shadow: none;
      color: set-color(carbon, 500);

      &:hover,
      &.#{$btn}--hover {
        background-color: set-color(grey, 100);
        box-shadow: inset 0 0 0 1px set-color(grey, 800), 0 1px 4px 0 rgba(0, 0, 0, 0.15);
      }

      &:focus,
      &.#{$btn}--focus {
        background-color: set-color(grey, 100);
        box-shadow: inset 0 0 0 1px set-color(grey, 800), 0 0 0 3px rgba(set-color(grey, 600), 0.4);
      }

      &:active,
      &.#{$btn}--active {
        &,
        &:focus,
        &.#{$btn}--focus {
          background-color: set-color(grey, 400);
          box-shadow: inset 0 0 0 1px set-color(grey, 800), 0 0 0 5px rgba(set-color(grey, 600), 0.6);
        }
      }
    }
  }

  @each $type in map-keys($state-colors) {
    &.#{$btn}--#{$type} {
      background-color: set-color(map-get($state-colors, $type), 500);
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
      color: set-color(grey, 100);
      font-weight: 700;

      &:hover,
      &.#{$btn}--hover {
        background-color: set-color(map-get($state-colors, $type), 600);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
      }

      &:focus,
      &.#{$btn}--focus {
        box-shadow: 0 0 0 3px rgba(set-color(map-get($state-colors, $type), 600), 0.6);
      }

      &:active,
      &.#{$btn}--active {
        &,
        &:focus,
        &.#{$btn}--focus {
          background-color: set-color(map-get($state-colors, $type), 700);
          box-shadow: 0 0 0 5px rgba(set-color(map-get($state-colors, $type), 600), 0.4);
        }
      }

      &.#{$btn}--outline {
        background-color: set-color(grey, 100);
        box-shadow: inset 0 0 0 1px set-color(map-get($state-colors, $type), 500);
        color: set-color(map-get($state-colors, $type), 500);

        &:hover,
        &.#{$btn}--hover {
          background-color: set-color(map-get($state-colors, $type), 500);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
          color: set-color(grey, 100);
        }

        &:focus,
        &.#{$btn}--focus {
          box-shadow: 0 0 0 3px rgba(set-color(map-get($state-colors, $type), 600), 0.4);
        }

        &:active,
        &.#{$btn}--active {
          &,
          &:focus,
          &.#{$btn}--focus {
            background-color: set-color(map-get($state-colors, $type), 700);
            box-shadow: 0 0 0 5px rgba(set-color(map-get($state-colors, $type), 600), 0.6);
            color: set-color(grey, 100);
          }
        }
      }

      &.#{$btn}--flat {
        background-color: transparent;
        box-shadow: none;
        color: set-color(map-get($state-colors, $type), 500);

        &:hover,
        &.#{$btn}--hover {
          background-color: set-color(grey, 100);
          box-shadow: inset 0 0 0 1px set-color(map-get($state-colors, $type), 500), 0 1px 4px 0 rgba(0, 0, 0, 0.15);
        }

        &:focus,
        &.#{$btn}--focus {
          background-color: set-color(grey, 100);
          box-shadow: 0 0 0 3px rgba(set-color(map-get($state-colors, $type), 600), 0.4);
        }

        &:active,
        &.#{$btn}--active {
          &,
          &:focus,
          &.#{$btn}--focus {
            background-color: set-color(map-get($state-colors, $type), 500);
            box-shadow: 0 0 0 5px rgba(set-color(map-get($state-colors, $type), 600), 0.6);
            color: set-color(grey, 100);
          }
        }
      }
    }
  }
}
