@import '_global-mixins';
@import '_global-variables';

$brand-sizes: (
  xs: (
    height: 0.75rem,
    width: 5.25rem,
  ),
  sm: (
    height: 1rem,
    width: 7rem,
  ),
  md: (
    height: 1.25rem,
    width: 8.75rem,
  ),
  lg: (
    height: 1.5rem,
    width: 10.5rem,
  ),
  xl: (
    height: 2rem,
    width: 14rem,
  ),
  xxl: (
    height: 2.5rem,
    width: 17.5rem,
  ),
);

.chi-brand {
  & > img,
  & > svg {
    display: block;
    height: 1.25rem;
    width: 8.75rem;
  }

  @each $type in map-keys($brand-sizes) {
    &.-#{$type} {
      & > img,
      & > svg {
        height: map-get(map-get($brand-sizes, $type), height);
        width: map-get(map-get($brand-sizes, $type), width);
      }
    }
  }
}
