@import 'mixins';
@import 'variables';

$brand-sizes: (xs: 0.75rem, sm: 1rem, sm2: 1.25rem, sm3: 1.5rem, md: 2rem, lg: 4rem, xl: 6rem, xxl: 8rem);

.chi {
  .a-brand {
    & > img,
    & > svg {
      display: block;
      height: 2rem;
      width: auto;
    }

    @each $type in map-keys($brand-sizes) {
      &.-#{$type} {
        & > img,
        & > svg {
          height: map-get($brand-sizes, $type);
        }
      }
    }
  }
}
