@import '_variables';

@mixin remove-anchor-style {
  color: $color-text-base;

  &:hover {
    text-decoration: none;
  }
}

@mixin button-disabled {
  background-color: $button-secondary-disabled-background-color;
  border-color: $button-secondary-disabled-border-color;
  box-shadow: none;
  color: $button-secondary-disabled-text-color;
  opacity: $opacity-100;
  pointer-events: none;

  & .chi-icon {
    color: $button-secondary-disabled-icon-color;
    opacity: $opacity-100;
  }
}
