h2 Examples

h3 Base
p.-text
.example.-mb--3
  .-p--3
    div.chi-form__item(style="max-width: 14rem;")
      chi-label(for="time-picker-base") Label
      chi-time-picker(id="time-picker-base" display-seconds)
  .example-tabs.-pl--2
    ul.chi-tabs#example-with-label
      li.-active
        a(href=`#webcomponent-with-label`) Web Component
      li.-disabled
        a(href=`#html-with-label`) HTML Blueprint
  #webcomponent-with-label.chi-tabs-panel.-active
    :code(lang="html",style="height:20rem")
      <chi-label for="time-picker-base">Label</chi-label>
      <chi-time-picker id="time-picker-base"></chi-time-picker>
  #html-with-label.chi-tabs-panel

h3 Disabled
p.-text
  | Use the <code>disabled</code> boolean attribute to prevent users from interacting with an input.
  | Disabled inputs are not submitted with the form and can not receive any browsing events such as mouse clicks or focus.
  | <strong>Note:</strong> The required attribute can not be used on inputs with a disabled attribute specified.
.example.-mb--3(style="z-index: 1;")
  .-p--3
    div.chi-form__item(style="max-width: 14rem;")
      chi-label(for="time-picker-disabled") Label
      chi-time-picker(id="time-picker-disabled" disabled)
  .example-tabs.-pl--2
    ul.chi-tabs#example-disabled
      li.-active
        a(href=`#webcomponent-disabled`) Web Component
      li.-disabled
        a(href=`#html-disabled`) HTML Blueprint
  #webcomponent-disabled.chi-tabs-panel.-active
    :code(lang="html")
      <chi-label for="time-picker-base">Label</chi-label>
      <chi-time-picker id="time-picker-base" disabled></chi-time-picker>
  #html-disabled.chi-tabs-panel

h3 Value option
.example.-mb--3
  .-p--3
    div.chi-form__item(style="max-width: 14rem;")
      chi-label(for='unique-id-va1') Time
      chi-time-picker#unique-id-va1(value='09:00:00')
  .example-tabs.-pl--2
    ul.chi-tabs#example-min-max-value
      li.-active
        a(href=`#webcomponent-min-max-value`) Web Component
      li.-disabled
        a(href=`#html-min-max-value`) HTML Blueprint
  #webcomponent-min-max-value.chi-tabs-panel.-active
    :code(lang="html")
      <chi-label for="unique-id-va1">Time</chi-label>
      <chi-time-picker id="unique-id-va1" value="09:00:00"></chi-time-picker>
  #html-min-max-value.chi-tabs-panel

h3 Excluded hours, minutes and seconds
p.-text
  | Specify which hours to disable by using the <code>excluded-hours</code> attribute.
.example.-mb--3
  .-p--3
    div.chi-form__item(style="max-width: 14rem;")
      chi-label(for="time-picker-excluded") Label
      chi-time-picker(id="time-picker-excluded", excluded-hours="14, 15", excluded-minutes="00, 01, 02, 03, 04, 05", excluded-seconds="00, 01, 02, 03, 04, 05", display-seconds)
  .example-tabs.-pl--2
    ul.chi-tabs#example-excluded-times
      li.-active
        a(href=`#webcomponent-excluded-times`) Web Component
      li.-disabled
        a(href=`#html-excluded-times`) HTML Blueprint
  #webcomponent-excluded-times.chi-tabs-panel.-active
    :code(lang="html",style="height:20rem")
      <chi-label for="unique-id-et1">Time</chi-label>
      <chi-time-picker id="unique-id-et1" excluded-hours="14, 15"></chi-time-picker>
  #html-excluded-times.chi-tabs-panel

h3 Time
p.-text
  | An example of a time picker not attached to any element.
h4 Base
.example.-mb--3
  .-p--3
    chi-time
  .example-tabs.-pl--2
    ul.chi-tabs#example-time
      li.-active
        a(href=`#webcomponent-time`) Web Component
      li.-disabled
        a(href=`#html-time`) HTML Blueprint
  #webcomponent-time.chi-tabs-panel.-active
    :code(lang="html")
      <chi-time></chi-time>
  #html-time.chi-tabs-panel

h4 Active
.example.-mb--3
  .-p--3
    chi-time(value="14:00:00")
  .example-tabs.-pl--2
    ul.chi-tabs#example-active
      li.-active
        a(href=`#webcomponent-active`) Web Component
      li.-disabled
        a(href=`#html-active`) HTML Blueprint
  #webcomponent-active.chi-tabs-panel.-active
    :code(lang="html")
      <chi-time value="14:00:00"></chi-time>
  #html-active.chi-tabs-panel

h4 Seconds
.example.-mb--3
  .-p--3
    chi-time(display-seconds)
  .example-tabs.-pl--2
    ul.chi-tabs#example-seconds
      li.-active
        a(href=`#webcomponent-seconds`) Web Component
      li.-disabled
        a(href=`#html-seconds`) HTML Blueprint
  #webcomponent-seconds.chi-tabs-panel.-active
    :code(lang="html")
      <chi-time></chi-time>
  #html-seconds.chi-tabs-panel

h4 24-hour format
.example.-mb--3
  .-p--3
    chi-time(extended)
  .example-tabs.-pl--2
    ul.chi-tabs#example-24hour
      li.-active
        a(href=`#webcomponent-24hour`) Web Component
      li.-disabled
        a(href=`#html-24hour`) HTML Blueprint
  #webcomponent-24hour.chi-tabs-panel.-active
    :code(lang="html")
      <chi-time extended></chi-time>
  #html-24hour.chi-tabs-panel

h4 Step
.example.-mb--3
  .-p--3
    chi-time(stepped, display-seconds)
  .example-tabs.-pl--2
    ul.chi-tabs#example-step
      li.-active
        a(href=`#webcomponent-step`) Web Component
      li.-disabled
        a(href=`#html-step`) HTML Blueprint
  #webcomponent-step.chi-tabs-panel.-active
    :code(lang="html")
      <chi-time stepped display-seconds></chi-time>
  #html-step.chi-tabs-panel

script.
  document.addEventListener(
    'DOMContentLoaded',
    function () {
      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));
    }
  );
