h2 Examples

h3 Base
p.-text
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width: 14rem;")
      chi-label(for="example__base") Label
      chi-time-picker(id="example__base")
  .example-tabs.-pl--2
    ul.chi-tabs#example-base
      li.-active
        a(href=`#webcomponent-base`) Web Component
      li.-disabled
        a(href=`#html-base`) HTML Blueprint
  #webcomponent-base.chi-tabs-panel.-active
    :code(lang="html",style="height:20rem")
      <chi-label for="example__base">Label</chi-label>
      <chi-time-picker id="example__base"></chi-time-picker>
  #html-base.chi-tabs-panel

h3 Disabled
p.-text
  | Use the <code>disabled</code> boolean attribute to prevent users from interacting with an input.
  | Disabled inputs are not submitted with the form and can not receive any browsing events such as mouse clicks or focus.
  | <strong>Note:</strong> The required attribute can not be used on inputs with a disabled attribute specified.
.example.-mb--3(style="z-index: 1;")
  .-p--3
    .chi-form__item(style="max-width: 14rem;")
      chi-label(for="example__disabled") Label
      chi-time-picker(id="example__disabled" disabled)
  .example-tabs.-pl--2
    ul.chi-tabs#example-disabled
      li.-active
        a(href=`#webcomponent-disabled`) Web Component
      li.-disabled
        a(href=`#html-disabled`) HTML Blueprint
  #webcomponent-disabled.chi-tabs-panel.-active
    :code(lang="html")
      <chi-label for="example__disabled">Label</chi-label>
      <chi-time-picker id="example__disabled" disabled></chi-time-picker>
  #html-disabled.chi-tabs-panel

h3 Value option
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width: 14rem;")
      chi-label(for="example__value-option") Label
      chi-time-picker(id="example__value-option" value="09:00")
  .example-tabs.-pl--2
    ul.chi-tabs#example-value-option
      li.-active
        a(href=`#webcomponent-value-option`) Web Component
      li.-disabled
        a(href=`#html-value-option`) HTML Blueprint
  #webcomponent-value-option.chi-tabs-panel.-active
    :code(lang="html")
      <chi-label for="example__value-option">Label</chi-label>
      <chi-time-picker id="example__value-option" value="09:00"></chi-time-picker>
  #html-value-option.chi-tabs-panel

h3 Seconds
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width: 14rem;")
      chi-label(for="example__seconds") Label
      chi-time-picker(id="example__seconds", display-seconds)
  .example-tabs.-pl--2
    ul.chi-tabs#example-seconds
      li.-active
        a(href=`#webcomponent-seconds`) Web Component
      li.-disabled
        a(href=`#html-seconds`) HTML Blueprint
  #webcomponent-seconds.chi-tabs-panel.-active
    :code(lang="html")
      <chi-label for="example__seconds">Label</chi-label>
      <chi-time-picker id="example__seconds" display-seconds></chi-time-picker>
  #html-seconds.chi-tabs-panel

h3 24-hour format
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width: 14rem;")
      chi-label(for="example__24hour-format") Label
      chi-time-picker(id="example__24hour-format", format="24hr")
  .example-tabs.-pl--2
    ul.chi-tabs#example-24hour-format
      li.-active
        a(href=`#webcomponent-24hour-format`) Web Component
      li.-disabled
        a(href=`#html-24hour-format`) HTML Blueprint
  #webcomponent-24hour-format.chi-tabs-panel.-active
    :code(lang="html")
      <chi-label for="example__24hour-format">Label</chi-label>
      <chi-time-picker id="example__24hour-format" format="24hr"></chi-time-picker>
  #html-24hour-format.chi-tabs-panel

h3 Step
p.-text
  | Minutes and seconds can be shown in steps of 1, 5, 10, 15, 20, or 30 minutes or seconds.
  | Use the property <code>minutes-step</code> to define the step for the minutes (defaults to 15 minutes)
  | and the property <code>seconds-step</code> to define the step for the minutes (defaults to 10 seconds).

h4 Minutes step
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width: 14rem;")
      chi-label(for="example__minutes-step") Label
      chi-time-picker(id="example__minutes-step", minutes-step="20")
  .example-tabs.-pl--2
    ul.chi-tabs#example-minutes-step
      li.-active
        a(href=`#webcomponent-minutes-step`) Web Component
      li.-disabled
        a(href=`#html-minutes-step`) HTML Blueprint
  #webcomponent-minutes-step.chi-tabs-panel.-active
    :code(lang="html")
      <chi-label for="example__minutes-step">Label</chi-label>
      <chi-time-picker id="example__minutes-step" minutes-step="20"></chi-time-picker>
  #html-minutes-step.chi-tabs-panel

h4 Seconds step
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width: 14rem;")
      chi-label(for="example__seconds-step") Label
      chi-time-picker(id="example__seconds-step", seconds-step="30", display-seconds)
  .example-tabs.-pl--2
    ul.chi-tabs#example-seconds-step
      li.-active
        a(href=`#webcomponent-seconds-step`) Web Component
      li.-disabled
        a(href=`#html-seconds-step`) HTML Blueprint
  #webcomponent-seconds-step.chi-tabs-panel.-active
    :code(lang="html")
      <chi-label for="example__seconds-step">Label</chi-label>
      <chi-time-picker id="example__seconds-step" seconds-step="30" display-seconds></chi-time-picker>
  #html-seconds-step.chi-tabs-panel

h3 Time
p.-text
  | An example of a time picker not attached to any element.
h4 Base
.example.-mb--3
  .-p--3
    chi-time
  .example-tabs.-pl--2
    ul.chi-tabs#example-time-base
      li.-active
        a(href=`#webcomponent-time-base`) Web Component
      li.-disabled
        a(href=`#html-time-base`) HTML Blueprint
  #webcomponent-time-base.chi-tabs-panel.-active
    :code(lang="html")
      <chi-time></chi-time>
  #html-time-base.chi-tabs-panel

h4 Active
.example.-mb--3
  .-p--3
    chi-time(value="14:00")
  .example-tabs.-pl--2
    ul.chi-tabs#example-time-active
      li.-active
        a(href=`#webcomponent-time-active`) Web Component
      li.-disabled
        a(href=`#html-time-active`) HTML Blueprint
  #webcomponent-time-active.chi-tabs-panel.-active
    :code(lang="html")
      <chi-time value="14:00"></chi-time>
  #html-time-active.chi-tabs-panel

h4 Seconds
.example.-mb--3
  .-p--3
    chi-time(display-seconds)
  .example-tabs.-pl--2
    ul.chi-tabs#example-time-seconds
      li.-active
        a(href=`#webcomponent-time-seconds`) Web Component
      li.-disabled
        a(href=`#html-time-seconds`) HTML Blueprint
  #webcomponent-time-seconds.chi-tabs-panel.-active
    :code(lang="html")
      <chi-time display-seconds></chi-time>
  #html-time-seconds.chi-tabs-panel

h4 24-hour format
.example.-mb--3
  .-p--3
    chi-time(format="24hr")
  .example-tabs.-pl--2
    ul.chi-tabs#example-time-24hour
      li.-active
        a(href=`#webcomponent-time-24hour`) Web Component
      li.-disabled
        a(href=`#html-time-24hour`) HTML Blueprint
  #webcomponent-time-24hour.chi-tabs-panel.-active
    :code(lang="html")
      <chi-time format="24hr"></chi-time>
  #html-time-24hour.chi-tabs-panel

h4 Step
p.-text
  | Minutes and seconds can be shown in steps of 1, 5, 10, 15, 20, or 30 minutes or seconds.
  | Use the property <code>minutes-step</code> to define the step for the minutes (defaults to 15 minutes)
  | and the property <code>seconds-step</code> to define the step for the minutes (defaults to 10 seconds).

h5 Minutes step
.example.-mb--3
  .-p--3
    chi-time(minutes-step="20")
  .example-tabs.-pl--2
    ul.chi-tabs#example-time-minutes-step
      li.-active
        a(href=`#webcomponent-time-minutes-step`) Web Component
      li.-disabled
        a(href=`#html-time-minutes-step`) HTML Blueprint
  #webcomponent-time-minutes-step.chi-tabs-panel.-active
    :code(lang="html")
      <chi-time minutes-step="20"></chi-time>
  #html-time-minutes-step.chi-tabs-panel

h5 Seconds step
.example.-mb--3
  .-p--3
    chi-time(seconds-step="30", display-seconds)
  .example-tabs.-pl--2
    ul.chi-tabs#example-time-seconds-step
      li.-active
        a(href=`#webcomponent-time-seconds-step`) Web Component
      li.-disabled
        a(href=`#html-time-seconds-step`) HTML Blueprint
  #webcomponent-time-seconds-step.chi-tabs-panel.-active
    :code(lang="html")
      <chi-time seconds-step="30", display-seconds></chi-time>
  #html-time-seconds-step.chi-tabs-panel

script.
  document.addEventListener(
    'DOMContentLoaded',
    function () {
      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));
    }
  );
