---
title: Buttons
---

.test-01
  h4 Solid buttons
  .c-grid
    .c-col.c-col--1
      button.c-btn.c-btn--primary Button
      h6 Primary
    .c-col.c-col--1
      button.c-btn Button
      h6 Default
    .c-col.c-col--1
      button.c-btn.c-btn--danger Button
      h6 Danger
    .c-col.c-col--1
      button.c-btn.c-btn--info Button
      h6 Info
    .c-col.c-col--1
      button.c-btn.c-btn--dark Button
      h6 Dark

.test-01
  h4 Solid buttons hover
  .c-grid
    .c-col.c-col--1
      button.c-btn.c-btn--primary.c-btn--hover Button
      h6 Primary
    .c-col.c-col--1
      button.c-btn.c-btn--hover Button
      h6 Default
    .c-col.c-col--1
      button.c-btn.c-btn--danger.c-btn--hover Button
      h6 Danger
    .c-col.c-col--1
      button.c-btn.c-btn--info.c-btn--hover Button
      h6 Info
    .c-col.c-col--1
      button.c-btn.c-btn--dark.c-btn--hover Button
      h6 Dark
