---
title: Checkbox
---

h4 States

.test-states
  .c-mb1
    h5 Base
    input(type="checkbox", class="c-input", id="checkbox01")
    label(for="checkbox01")

  .c-mb1
    h5 Hover
    input(type="checkbox", class="c-input", id="checkbox02")
    label(class="c-input--hover", for="checkbox02")

  .c-mb1
    h5 Focus
    input(type="checkbox", class="c-input c-input--focus", checked, id="checkbox03")
    label(for="checkbox03")

  .c-mb1
    h5 Disabled
    input(type="checkbox", class="c-input", id="checkbox04", checked, disabled)
    label(for="checkbox04")

h4 Primary

.test-primary
  .c-mb1
    h5 Base
    input(type="checkbox", class="c-input c-input--primary", id="checkbox05")
    label(for="checkbox05")

  .c-mb1
    h5 Hover
    input(type="checkbox", class="c-input c-input--primary", id="checkbox06")
    label(class="c-input--hover", for="checkbox06")

  .c-mb1
    h5 Focus
    input(type="checkbox", class="c-input c-input--primary c-input--focus", checked, id="checkbox07")
    label(for="checkbox07")

  .c-mb1
    h5 Disabled
    input(type="checkbox", class="c-input c-input--primary", id="checkbox08", checked, disabled)
    label(for="checkbox08")
