---
title: Grid
---

.test-flex-cells.-w100
  h4 Grid with flex cells
  .a-grid.-show
    .a-col
    .a-col
    .a-col

.test-no-gutter.-w100
  h4 Grid without gutter
  .a-grid.-noGutter.-show
    .a-col
    .a-col
    .a-col

h3 sizes

.test-column-sizes.-w100
  h4 Column sizes
  .a-grid.-show
    .a-col.-w1
    .a-col.-w1
    .a-col.-w1
    .a-col.-w1
    .a-col.-w1
    .a-col.-w1
    .a-col.-w1
    .a-col.-w1
    .a-col.-w1
    .a-col.-w1
    .a-col.-w1
    .a-col.-w1
    .a-col.-w2
    .a-col.-w10
    .a-col.-w3
    .a-col.-w9
    .a-col.-w4
    .a-col.-w8
    .a-col.-w5
    .a-col.-w7
    .a-col.-w6
    .a-col.-w6

.test-column-sizes-specific-screens.-w100
  h4 Column sizes at specific screen sizes
  .a-grid.-show
    .a-col.-w2.-sm--w3.-md--w8.-lg--w1.-xl--w11
    .a-col.-w2.-sm--w5.-md--w4.-lg--w11.-xl--w1

h3 Offsets

.test-offsets.-w100
  h4 Generic offsets
  .a-grid.-show
    .a-col.-w1
    .a-col.-w2.-o1
    .a-col.-w2.-o1
    .a-col.-w2.-o1
    .a-col.-w1.-o1

  .a-grid.-show
    .a-col.-w1
    .a-col.-w1.-o1

  h4 Column offsets for specific screen sizes
  .a-grid.-show
    .a-col.-w1
    .a-col.-w6.-o5.-sm--w4.-sm--o3.-xs--w2.-xs--o1

h3 Aligns

.test-aligns.-w100
  h4 Align columns relative to the grid
  .a-grid.-show(style={height: '160px'})
    .a-col.-alignTop
    .a-col.-alignMiddle
    .a-col.-alignBottom

  h4 Align content relative to the column
  .a-grid.-show(style={height: '160px'})
    .a-col.-top
    .a-col.-middle
    .a-col.-bottom
