---
title: Grid
---

.test-flex-cells.-w100
  h4 Default Grid
  .a-grid.-show
    .a-col
    .a-col
    .a-col

.test-no-gutter.-w100
  h4 Default Grid w/o Gutter
  .a-grid.-noGutter.-show
    .a-col
    .a-col
    .a-col

h3 Sizes

.test-column-sizes.-w100
  h4 Column Sizes
  .a-grid.-noGutter.-show
    .a-col.-w1
    .a-col.-w11
    .a-col.-w2
    .a-col.-w10
    .a-col.-w3
    .a-col.-w9
    .a-col.-w4
    .a-col.-w8
    .a-col.-w5
    .a-col.-w7
    .a-col.-w6
    .a-col.-w6
    .a-col.-w7
    .a-col.-w5
    .a-col.-w8
    .a-col.-w4
    .a-col.-w9
    .a-col.-w3
    .a-col.-w10
    .a-col.-w2
    .a-col.-w11
    .a-col.-w1
    .a-col.-w1
    .a-col.-w1
    .a-col.-w1
    .a-col.-w1
    .a-col.-w1
    .a-col.-w1
    .a-col.-w1
    .a-col.-w1
    .a-col.-w1
    .a-col.-w1
    .a-col.-w1
    .a-col.-w1

h3 Offsets

.test-offsets.-w100
  h4 Generic offsets
  .a-grid.-show
    .a-col.-w1
    .a-col.-w2.-o1
    .a-col.-w2.-o1
    .a-col.-w2.-o1
    .a-col.-w1.-o1

  .a-grid.-show
    .a-col.-w1
    .a-col.-w1.-o1

  h4 Column offsets for specific screen sizes
  .a-grid.-show
    .a-col.-w1
    .a-col.-w6.-o5.-sm--w4.-sm--o3.-xs--w2.-xs--o1

h3 Responsive

.test-stacked-columns.-w100
  h4 Stacked Columns
  .a-grid.-show
    .a-col.-sm--w8
    .a-col.-sm--w4
    .a-col.-sm
    .a-col.-sm
  .a-grid.-show
    .a-col.-sm
    .a-col.-sm
    .a-col.-sm

h3 Aligns

.test-aligns.-w100
  h4 Align columns relative to the grid
  .a-grid.-show(style={height: '160px'})
    .a-col.-alignTop
    .a-col.-alignMiddle
    .a-col.-alignBottom

  h4 Align content relative to the column
  .a-grid.-show(style={height: '160px'})
    .a-col.-top
    .a-col.-middle
    .a-col.-bottom
