---
title: Icons
---
doctype html

img(inline src='test/css/components/icon-workspace.svg')

h2 Sizes
.test-sizes
  .c-grid
    each size in ['xs', 'sm', 'sm2', 'sm3', 'md', 'lg', 'xl', 'xxl']
      .c-col.c-col--1.c-col--offset-1.c-col--middle
        h4= size
      .c-col.c-col--2.c-col--middle
        div(class=`c-icon c-icon--${size}`)
          svg
            use(xlink:href='#workspace')
