---
title: Icons
---
img(inline src='test/css/components/icon-workspace.svg')

h2 Sizes
.test-sizes
  .a-grid
    each size in ['xs', 'sm', 'sm2', 'sm3', 'md', 'lg', 'xl', 'xxl']
      .a-col.-w1.-o1.-middle
        h4= size
      .a-col.-w2.-middle
        div(class=`a-icon -${size}`)
          svg
            use(xlink:href='#workspace')
