---
title: radio
---
h4 States

.test-states

  .c-mb1
    h5 Base
    input(type="radio", class="c-input", id="radio01")
    label(for="radio01")
    label(for="radio01") Radio
    span.c-text  aligned with text

  .c-mb1
    h5 Hover
    input(type="radio", class="c-input", id="radio02")
    label(class="c-input--hover", for="radio02")
    label(for="radio02") Radio
    span.c-text  aligned with text

  .c-mb1
    h5 Focus
    input(type="radio", class="c-input c-input--focus", id="radio03", checked)
    label(for="radio03")
    label(for="radio03") Radio
    span.c-text  aligned with text

  .c-mb1
    h5 Disabled
    input(type="radio", class="c-input", id="radio04", checked, disabled)
    label(for="radio04")
    label(for="radio04") Radio
    span.c-text  aligned with text
