---
title: radio
---
h4 States

.test-states
  .c-mb1
    h5 Base
    input(type="radio", class="c-radio", id="radio01")
    label(for="radio01")

  .c-mb1
    h5 Hover
    input(type="radio", class="c-radio", id="radio02")
    label(class="c-radio--hover", for="radio02")

  .c-mb1
    h5 Focus
    input(type="radio", class="c-radio c-radio--focus", id="radio03", checked)
    label(for="radio03")

  .c-mb1
    h5 Disabled
    input(type="radio", class="c-radio", id="radio04", checked, disabled)
    label(for="radio04")

h4 Primary

.test-primary
  .c-mb1
    h5 Base
    input(type="radio", class="c-radio c-radio--primary", id="radio05")
    label(for="radio05")

  .c-mb1
    h5 Hover
    input(type="radio", class="c-radio c-radio--primary", id="radio06")
    label(class="c-radio--hover", for="radio06")

  .c-mb1
    h5 Focus
    input(type="radio", class="c-radio c-radio--primary c-radio--focus", id="radio07", checked)
    label(for="radio07")

  .c-mb1
    h5 Disabled
    input(type="radio", class="c-radio c-radio--primary", id="radio08", checked, disabled)
    label(for="radio08")
