---
title: radio
---
h4 States

.test-states

  .-mb1
    h5 Base
    input(type="radio", class="a-input", id="radio01")
    label.-mr1(for="radio01")
    label(for="radio01") Radio
    span.-text  aligned with text

  .-mb1
    h5 Hover
    input(type="radio", class="a-input", id="radio02")
    label.-mr1(class="-hover", for="radio02")
    label(for="radio02") Radio
    span.-text  aligned with text

  .-mb1
    h5 Focus
    input(type="radio", class="a-input -focus", id="radio03", checked)
    label.-mr1(for="radio03")
    label(for="radio03") Radio
    span.-text  aligned with text

  .-mb1
    h5 Disabled
    input(type="radio", class="a-input", id="radio04", checked, disabled)
    label.-mr1(for="radio04")
    label(for="radio04") Radio
    span.-text  aligned with text
