---
title: Range slider
---

h4 States

.test-states
  .c-mb1
    h5 Base
    input(type="range", class="c-input c-input--zero", value="0")

  .c-mb1
    h5 Focus
    input(type="range", class="c-input c-input--focus", value="80")

  .c-mb1
    h5 Disabled
    input(type="range", class="c-input", value="20", disabled)
