---
title: Textarea
---

h4 Sizes

.test-sizes
  .c-mb1
    h5 Small
    textarea(class="c-textarea c-textarea--small", placeholder="Placeholder", value="Sample text")

  .c-mb1
    h5 Base
    textarea(class="c-textarea", placeholder="Placeholder", value="Sample text")

  .c-mb1
    h5 Large
    textarea(class="c-textarea c-textarea--large", placeholder="Placeholder", value="Sample text")

h4 States

.test-states
  .c-mb1
    h5 Base
    textarea(class="c-textarea", placeholder="Placeholder", value="Sample Text")

  .c-mb1
    h5 Hover
    textarea(class="c-textarea c-textarea--hover", placeholder="Placeholder", value="Sample Text")

  .c-mb1
    h5 Focus
    textarea(class="c-textarea c-textarea--focus", placeholder="Placeholder", value="Sample Text")

  .c-mb1
    h5 Disabled
    textarea(class="c-textarea", placeholder="Placeholder", disabled, value="Sample Text")

h4 validation

.test-validation
  .c-mb1
    h5 Success
    textarea(class="c-textarea c-textarea--success", placeholder="Placeholder", value="Sample Text")

  .c-mb1
    h5 Warning
    textarea(class="c-textarea c-textarea--warning", placeholder="Placeholder", value="Sample Text")

  .c-mb1
    h5 Danger
    textarea(class="c-textarea c-textarea--danger", placeholder="Placeholder", value="Sample Text")
