---
title: Toggle switch
---

.test-states
  .c-mb1
    h5 Base
    input(type="checkbox", class="c-input c-input--toggle", id="checkbox01")
    label(for="checkbox01")

  .c-mb1
    h5 Hover
    input(type="checkbox", class="c-input c-input--toggle", id="checkbox02")
    label(class="c-input--hover", for="checkbox02")

  .c-mb1
    h5 Focus
    input(type="checkbox", class="c-input c-input--toggle c-input--focus", checked, id="checkbox03")
    label(for="checkbox03")

  .c-mb1
    h5 Disabled
    input(type="checkbox", class="c-input c-input--toggle", id="checkbox04", checked, disabled)
    label(for="checkbox04")

h4 No text

.test-no-text-states
  .c-mb1
    h5 Base
    input(type="checkbox", class="c-input c-input--toggle c-input--no-text", id="checkbox11")
    label(for="checkbox11")

  .c-mb1
    h5 Hover
    input(type="checkbox", class="c-input c-input--toggle c-input--no-text", id="checkbox12")
    label(class="c-input--hover", for="checkbox12")

  .c-mb1
    h5 Focus
    input(type="checkbox", class="c-input c-input--toggle c-input--no-text c-input--focus", checked, id="checkbox13")
    label(for="checkbox13")

  .c-mb1
    h5 Disabled
    input(type="checkbox", class="c-input c-input--toggle c-input--no-text", id="checkbox14", checked, disabled)
    label(for="checkbox14")
