h2 Examples
p.-text
  | To render a select, apply the class <code>chi-input</code> to a <code>select</code>.

h3 Base
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:20rem")
      label.chi-label(for="select01") Label
      select(class="chi-input", id="select01")
        option Base Select
  :code(lang="html")
    <div class="chi-form__item">
      <label class="chi-label" for="select01">Label</label>
      <select class="chi-input" id="select01">
        <option>Base Select</option>
      </select>
    </div>

h3 Disabled
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:20rem")
      label.chi-label(for="select02") Label
      select(class="chi-input", id="select02", disabled)
        option Disabled Select
  :code(lang="html")
    <div class="chi-form__item">
      <label class="chi-label" for="select02">Label</label>
      <select class="chi-input" id="select02" disabled>
        <option>Disabled Select</option>
      </select>
    </div>

h3 Danger
p.-text
  | Selects support the validation class modifier <code>-danger</code> for indicating
  | an invalid selection.
.example.-mb--3
  .-p--3
    .chi-form__item(style="max-width:20rem")
      label.chi-label(for="select03") Label
      select(class="chi-input -danger", id="select03")
        option Danger Select
  :code(lang="html")
    <div class="chi-form__item">
      <label class="chi-label" for="select03">Label</label>
      <select class="chi-input -danger" id="select03">
        <option>Danger Select</option>
      </select>
    </div>

h2 Sizes
p.-text
  | Selects support the following sizes: <code>-sm</code>, <code>-md</code>,
  |  <code>-lg</code>, <code>-xl</code>.
  | The default size is <code>-md</code>.
.example.-mb--3
  .-p--3
    .-p--2
      .chi-form__item(style="max-width:20rem")
        label.chi-label(for="select04") Label
        select(class="chi-input -sm", id="select04")
          option -sm Select
    .-p--2
      .chi-form__item(style="max-width:20rem")
        label.chi-label(for="select05") Label
        select(class="chi-input -md", id="select05")
          option -md Select
    .-p--2
      .chi-form__item(style="max-width:20rem")
        label.chi-label(for="select06") Label
        select(class="chi-input -lg", id="select06")
          option -lg Select
    .-p--2
      .chi-form__item(style="max-width:20rem")
        label.chi-label(for="select07") Label
        select(class="chi-input -xl", id="select07")
          option -xl Select
  :code(lang='html')
    <div class="chi-form__item">
      <label class="chi-label" for="select04">Label</label>
      <select class="chi-input -sm" id="select04">
        <option>-sm Select</option>
      </select>
    </div>
    <div class="chi-form__item">
      <label class="chi-label" for="select05">Label</label>
      <select class="chi-input -md" id="select05">
        <option>-md Select</option>
      </select>
    </div>
    <div class="chi-form__item">
      <label class="chi-label" for="select06">Label</label>
      <select class="chi-input -lg" id="select06">
        <option>-lg Select</option>
      </select>
    </div>
    <div class="chi-form__item">
      <label class="chi-label" for="select07">Label</label>
      <select class="chi-input -xl" id="select07">
        <option>-xl Select</option>
      </select>
    </div>

h2 Floating label
.chi-alert.-info.-mb--3
  i.chi-alert__icon.chi-icon.icon-circle-info
  .chi-alert__content
    p.chi-alert__text This component requires Javascript

.example.-mb--3
  .-p--3
    each size in ['-lg', '-xl']
      div(class=`chi-col -w--12 -p--2`)
        .chi-input__wrapper.-floatingLabel(style="max-width:20rem")
          select#floating-label-select.chi-input(class=`${size}`)
            option
            option Option 1
            option Option 2
            option Option 3
          label(for="floating-label-select") Placeholder text
  :code(lang='html')
    <div id="floating-label-lg" class="chi-input__wrapper -floatingLabel">
      <select class="chi-input -lg" id="floating-label-select-lg">
        <option></option>
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
      <label for="floating-label-select-lg">Placeholder text</label>
    </div>

    <div id="floating-label-xl" class="chi-input__wrapper -floatingLabel">
      <select class="chi-input -xl" id="floating-label-select-xl">
        <option></option>
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
      <label for="floating-label-select-xl">Placeholder text</label>
    </div>

    <script>chi.floatingLabel(document.querySelectorAll('.-floatingLabel'));</script>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.floatingLabel(document.querySelectorAll('.-floatingLabel'));
    }
  );
