@import 'mixins';
@import 'variables';

$btn: c-btn;

$solid-states: (
  primary: (
    props: (
      color: set-color(grey, 100),
      background-color: set-color(green, 500),
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04),
      font-weight: 700,
    ),
    hover: (
      background-color: set-color(green, 600),
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15),
    )
  ),
  danger: (
    props: (
      color: set-color(grey, 100),
      background-color: set-color(red, 500),
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04),
    ),
    hover: (
      background-color: set-color(red, 600),
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15),
    )
  ),
  info: (
    props: (
      color: set-color(grey, 100),
      background-color: set-color(blue, 500),
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04),
    ),
    hover: (
      background-color: set-color(blue, 600),
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15),
    )
  ),
  dark: (
    props: (
      color: set-color(grey, 100),
      background-color: set-color(carbon, 500),
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04),
    ),
    hover: (
      background-color: set-color(carbon, 600),
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04),
    )
  )
);

.#{$btn} {
  & {
    background-color: set-color(grey, 100);
    border: 0;
    border-radius: $border-radius;
    box-shadow: inset 0 0 0 1px set-color(grey, 600), 0 1px 1px 0 rgba(0, 0, 0, 0.04);
    color: $text-color;
    cursor: pointer;
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 2rem;
    outline: 0;
    padding: 1rem 2rem;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    &:hover,
    &--hover {
      box-shadow: inset 0 0 0 1px $unknown-grey, 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    }
  }

  @each $state in map-keys($solid-states) {
    &--#{$state} {
      @each $property in map-keys(map-get(map-get($solid-states, $state), props)) {
        #{$property}: map-get(map-get(map-get($solid-states, $state), props), $property);
      }

      &:hover,
      &.#{$btn}--hover {
        @each $property in map-keys(map-get(map-get($solid-states, $state), hover)) {
          #{$property}: map-get(map-get(map-get($solid-states, $state), hover), $property);
        }
      }
    }
  }
}

