.-lumen-only.-mt--5
  h2.-text--h2.-mt--3 Framework specific boilerplates
  p.-text
    | The boilerplates include:
  table.chi-table.-bordered.-text--center.-mb--5
    thead
      tr
        th.-text--center
          .-sr--only Framework
        th.-text--center chi.css
        th.-text--center chi.js
        th.-text--center Web components
        th.-text--center Favicon
        th.-text--center Download
    tbody
      tr
        td.-text--bold Vue
        td
          i.chi-icon.icon-check.-icon--success
        td
          i.chi-icon.icon-check.-icon--success
        td
          i.chi-icon.icon-check.-icon--success
        td
          i.chi-icon.icon-check.-icon--success
        td
          a.chi-button(href='../../boilerplates/chi-vue-boilerplate.zip')
            .chi-button__content
              i.chi-icon.icon-circle-arrow-down-outline
              span Download
      tr
        td.-text--bold Stencil
        td
          i.chi-icon.icon-check.-icon--success
        td
          i.chi-icon.icon-check.-icon--success
        td
          i.chi-icon.icon-check.-icon--success
        td
          i.chi-icon.icon-check.-icon--success
        td
          a.chi-button(href='../../boilerplates/chi-stencil-boilerplate.zip')
            .chi-button__content
              i.chi-icon.icon-circle-arrow-down-outline
              span Download
      tr
        td.-text--bold Angular
        td
          i.chi-icon.icon-check.-icon--success
        td
          i.chi-icon.icon-check.-icon--success
        td
          i.chi-icon.icon-check.-icon--success
        td
          i.chi-icon.icon-check.-icon--success
        td
          a.chi-button(href='../../boilerplates/chi-angular-boilerplate.zip')
            .chi-button__content
              i.chi-icon.icon-circle-arrow-down-outline
              span Download
      tr
        td.-text--bold React
        td
          i.chi-icon.icon-check.-icon--success
        td
          i.chi-icon.icon-check.-icon--success
        td
          i.chi-icon.icon-check.-icon--success
        td
          i.chi-icon.icon-check.-icon--success
        td
          a.chi-button(href='../../boilerplates/chi-react-boilerplate.zip')
            .chi-button__content
              i.chi-icon.icon-circle-arrow-down-outline
              span Download
      tr
        td.-text--bold Vue + ES6
        td
          i.chi-icon.icon-check.-icon--success
        td
          i.chi-icon.icon-check.-icon--success
        td
          i.chi-icon.icon-check.-icon--success
        td
          i.chi-icon.icon-check.-icon--success
        td
          a.chi-button(href='../../boilerplates/chi-vue-es6-boilerplate.zip')
            .chi-button__content
              i.chi-icon.icon-circle-arrow-down-outline
              span Download
