h2.-text--h2.-text--bold Chi Vue
.chi-badge.-dark.-outline.-xs.-mb--1
  span Optional
p.-text
  | Chi supports a set of native Vue components.
  | Chi Vue can be installed via Github npm registry or included from CDN as a UMD library.
ul#chi-vue-tabs.chi-tabs.-border
  li.-active
    a(href='#chi-vue-tabs--npm') NPM
  li
    a(href='#chi-vue-tabs--umd') UMD
.-no-example-code-snippet
  #chi-vue-tabs--npm.chi-tabs-panel.-active
    .-d--flex.-no-gutter.-bt--1.-bg--grey-15
      .-bg--grey-20.-py--3.-br--1(style="width: 14rem;")
        ul#chi-vue-npm-tabs.chi-tabs.-vertical(role='tablist' aria-label='chi-tabs-vertical-base')
          li.-active
            a(href='#npm--npmrc' role='tab' aria-selected='true' aria-controls='vertical-base-1') .npmrc
          li
            a(href='#npm--package' role='tab' aria-selected='false' tabindex='-1' aria-controls='vertical-base-2') package.json
          li
            a(href='#npm--main' role='tab' aria-selected='false' tabindex='-1' aria-controls='vertical-base-3') main.ts
          li
            a(href='#npm--vueconfig' role='tab' aria-selected='false' tabindex='-1' aria-controls='vertical-base-3') vue.config.js

      .-flex--grow1.-h--100
        #npm--npmrc.chi-tabs-panel.-active(role='tabpanel')
          :code(lang='javascript')
            registry=https://registry.npmjs.org
            @centurylink:registry=https://npm.pkg.github.com/centurylink
        #npm--package.chi-tabs-panel(role='tabpanel')
          :code(lang='javascript')
            "@centurylink/chi-vue": "1.0.1",
            "copy-webpack-plugin": "^5.1.1",
        #npm--main.chi-tabs-panel(role='tabpanel')
          .chi-tab__description
            | Import Chi Vue and register its components globally
          :code(lang='javascript')
            import(/* webpackChunkName: "chi-vue" */ '@centurylink/chi-vue').then(chiVue => {
              Object.keys(chiVue.library.components).forEach((name: string) => {
                Vue.component(name, chiVue.library.components[name]);
              });
            }).finally(() =>{
              new Vue({
                render: h => h(App),
              }).$mount('#app')
            }).catch(() => {
              throw('@centurylink/chi-vue library is not loaded correctly!');
            }); 
        #npm--vueconfig.chi-tabs-panel(role='tabpanel')
          .chi-tab__description
            | Use <code>CopyWebpackPlugin</code> in vue.config.js to copy Chi Vue assets to dist
          :code(lang='javascript')
            const CopyWebpackPlugin = require('copy-webpack-plugin');

            module.exports = {
                configureWebpack: config => {
                  if (!config.externals) {
                    config.externals = {};
                  }

                  config.output.filename = '[name].js';
                  config.output.chunkFilename = '[name].js';

                  let plugins = [{ from: '@centurylink/chi-vue/dist' }];
                  config.plugins.push(
                    new CopyWebpackPlugin(plugins, {
                      context: 'node_modules',
                      ignore: ['.DS_Store'],
                    }));
                },
              };

  #chi-vue-tabs--umd.chi-tabs-panel
    .chi-tab__description
      | Include Chi Vue UMD library from CDN and register the components you need.
    :code(lang='html')
      <!-- UMD asset -->
      <script src="https://assets.ctl.io/chi/4.4.0/chi-vue/umd/chi-vue.umd.js"></script>

      <!-- Vue component example -->
      new Vue({
        components: {
          chiVuePagination: window['chi-vue'].library.components.ChiPagination,
        }
      });

      <!-- Vue template example -->
      <chi-vue-pagination :pages="5" :current-page="currentPage"></chi-vue-pagination>
