h2 CSS
p.-text
  | Chi CSS provides cross-browser compatible CSS, a responsive mobile-first grid system, colors, fonts,
  | icons, logos, utilities, and an extensive library of components. Chi's Web Components consume Chi CSS
  | but you can also use the CSS independently. Chi CSS is written in SCSS using the BEM (Block-Element-Modifier) syntax.

h3 Adding Chi CSS
p.-text
  | Adding Chi CSS to your project is as simple as placing the stylesheet in the header of your project.
  | The stylesheet is hosted on CenturyLink's Assets Server which is a highly available and performant option
  | for loading assets into your CenturyLink project.

.-mb--2
  :code(lang='html')
    <link rel="stylesheet" href="https://assets.ctl.io/chi/2.0.0/chi.css">

p.-text
  | Next, add the <code>chi</code> CSS class to the <code>&lt;html&gt;</code> tag of your document to properly scope the styles.
  | This allows Chi to override any existing styles that have been defined by legacy markup.

  .-mb--2
  :code(lang='html')
    <html class="chi">
      ...
    </html>

p.-text.-mb--3
  | At this point you will be able to target the styles available in Chi by referencing documentation.
