h2.-text--h2.-text--bold.-mt--4 Web Components
.chi-badge.-dark.-outline.-xs.-mb--1
  span Optional
p.-text
  | Chi Web Components are <a target="_blank" href="https://html.spec.whatwg.org/multipage/custom-elements.html#custom-elements" rel="noopener">Custom Elements</a>
  | designed to Lumen's specifications and built according to the HTML Living Standard.
  | They are written in vanilla Javascript for compatibility with major frameworks including
  | AngularJS, ReactJS, VueJS, or no framework at all.

p.-text
  | Add Chi Web Components by copying and pasting the JavaScript files below into the header of your
  | web application. Placing the files in the header is important as it will load any Polyfill if the browser
  | doesn't support Web Components.

.-mb--2
  :sriDoc(name='web-components')

p.-text.-mb--3
  | After placing the files in your header, you are now ready to use the Web Components described in this documentation.

.chi-expansion-panel.-web-components
  .chi-epanel.-no-step(data-chi-epanel-group="web-component-details")
    .chi-epanel__header
      .chi-epanel__title.-w--100(data-chi-epanel-action="toggle")
        i.chi-icon.icon-chevron-right.-mr--2
        | HTML attributes and DOM properties
    .chi-epanel__collapse
      .-active--only
        .chi-epanel__body
          .chi-epanel__content
            .chi-epanel__text
              p.-text
                | Chi Web Components can be used in several different ways. The most common are the HTML attributes
                | and the DOM properties. In most cases, we keep them synchronized. For example, the <code>chi-button</code> element has
                | a <code>size</code> attribute that can be accessed and modified in two ways.
              h3.-text--h5.-mt--3 Modifying the HTML attribute
              :code(lang='html')
                <chi-button id="close-btn" size="md">Close</chi-button>
                <script>
                  document.getElementById("close-btn").setAttribute("size", "xl");
                </script>
              h3.-text--h5.-mt--3 Setting the DOM property
              :code(lang='html')
                <chi-button id="close-btn" size="md">Close</chi-button>
                <script>
                  document.getElementById("close-btn").size="xl";
                </script>
  .chi-epanel.-no-step(data-chi-epanel-group="web-component-details")
    .chi-epanel__header
      .chi-epanel__title.-w--100(data-chi-epanel-action="toggle")
        i.chi-icon.icon-chevron-right.-mr--2
        | Boolean attributes and properties
    .chi-epanel__collapse
      .-active--only
        .chi-epanel__body
          .chi-epanel__content
            .chi-epanel__text
              p.-text
                | Some Chi components have boolean attributes which function the same way as the well known <code>disabled</code>
                | attribute. Boolean attributes are <code>true</code> when the HTML element has the attribute and <code>false</code> when not.
              p.-text
                | Boolean attributes can be set to true this way:
              .-mb--2
                :code(lang='html')
                  <input type="text" disabled />
                  <chi-drawer id="drawer" active />
                  <script>
                    document.getElementById("drawer").active = true;
                    document.getElementById("drawer").setAttribute("active", "active");
                  </script>
              p.-text
                | And set to false this way:
              .-mb--2
                :code(lang='html')
                  <input type="text"  />
                  <chi-drawer id="drawer" />
                  <script>
                    document.getElementById("drawer").active = false;
                    document.getElementById("drawer").removeAttribute("active");
                  </script>
              p.-text
                | Some components, like <code>chi-drawer</code>, have helper methods in order to change the state of commonly modified attributes:
              .-mb--2
                :code(lang='html')
                  <chi-drawer id="drawer" />
                  <script>
                    document.getElementById("drawer").show();   // This sets the active property to true
                    document.getElementById("drawer").hide();   // This sets the active property to false
                    document.getElementById("drawer").toggle(); // This toggles the state of the active property
                  </script>
