---
title: Installation
order: 2
---

h2.-text--h2.-text--bold CSS
p.-text
  | Add Chi CSS by copying and pasting the stylesheet below into the header of your project.
  | Chi's stylesheet is hosted on Lumen's Assets Server which is a highly available and 
  | performant option for loading assets into your Lumen project.
.-mb--2
  .-lumen-only
    :sriDoc(name='css-lumen')
  .-centurylink-only
    :sriDoc(name='css-centurylink')

p.-text
  | Next, add the <code>chi</code> CSS class to the <code>&lt;html&gt;</code> tag of your document to properly scope the styles.
  | This allows Chi to override any existing styles that have been defined by legacy markup.

  .-mb--2
  :code(lang='html')
    <html class="chi">
      ...
    </html>

p.-text.-mb--3
  | At this point you can now start using Chi. The documentation includes a wealth of templates and code samples
  | to get you started.

h2.-text--h2.-text--bold Favicon
.chi-badge.-dark.-outline.-xs.-mb--1
  span Optional
p.-text
  | A favicon is a small icon associated with a webpage that is typically displayed in a browser's
  | address bar, bookmarks, and tabs. To add a Lumen favicon to your project, insert the following
  | code before the closing <code>&lt;head&gt;</code> tag.
  .-mb--2
    .-lumen-only
      :sriDoc(name='favicon-lumen')
    .-centurylink-only
      :sriDoc(name='favicon-centurylink')

include _javascript.pug
include _web-components.pug
include _chi-vue.pug
include _boilerplates.pug

script.
  chi.tab(document.getElementById('chi-js-tabs'));
  chi.tab(document.getElementById('chi-vue-tabs'));
  chi.tab(document.getElementById('chi-vue-npm-tabs'));
  chi.expansionPanel(
    document.querySelectorAll('[data-chi-epanel-group="web-component-details"]'),
    {mode: 'accordion'}
  );
