---
title: Checkbox
description: Checboxes are used to select one or several options in a list.
tabs: {"Examples" : "examplestab", "Properties" : "propertiestab", "Accessibility" : "accessibilitytab"}
---

.a-tabs-panel.-active#examplestab
  include _examples

.a-tabs-panel#propertiestab
  include _properties

.a-tabs-panel#accessibilitytab
  include _accessibility