@import '_global-variables';
@import '_global-mixins';

$sizes: (
  sm: (
    height: $select-sm-height,
    font-size: $select-sm-font-size,
    line-height: $select-sm-line-height,
    background-position: $select-sm-arrow-background-position,
    padding: $select-sm-padding,
  ),
  md: (
    height: $select-md-height,
    font-size: $select-md-font-size,
    line-height: $select-md-line-height,
    background-position: $select-md-arrow-background-position,
    padding: $select-md-padding,
  ),
  lg: (
    height: $select-lg-height,
    font-size: $select-lg-font-size,
    line-height: $select-lg-line-height,
    background-position: $select-lg-arrow-background-position,
    padding: $select-lg-padding,
  ),
  xl: (
    height: $select-xl-height,
    font-size: $select-xl-font-size,
    line-height: $select-xl-line-height,
    background-position: $select-xl-arrow-background-position,
    padding: $select-xl-padding,
  )
);


.chi-select,
select.chi-input { // sass-lint:disable-line force-element-nesting
  appearance: none;
  background-color: $select-background-color;
  background-image: url('icon-chevron-thin-down.svg');
  background-position: map-get(map-get($sizes, md), background-position);
  background-repeat: no-repeat;
  background-size: 0.75rem;
  border: 0.0625rem solid $select-border-color;
  border-radius: $border-radius-base;
  box-shadow: $select-box-shadow;
  color: $select-text-color;
  cursor: pointer;
  font-size: map-get(map-get($sizes, md), font-size);
  height: map-get(map-get($sizes, md), height);
  line-height: map-get(map-get($sizes, md), line-height);
  outline: none;
  padding: map-get(map-get($sizes, md), padding);
  transition: background-color 0.12s ease-in, border-color 0.1s ease-in;
  width: 100%;

  // sass-lint:disable no-vendor-prefixes
  &::-ms-expand {
    display: none;
  }

  &::-moz-focus-outer,
  &::-moz-focus-inner {
    border: 0;
  }
  // sass-lint:enable no-vendor-prefixes

  &:hover,
  &.-hover,
  &:active,
  &.-active {
    border-color: $select-hover-border-color;
  }

  &:focus,
  &.-focus {
    border-color: $select-focus-border-color;
    box-shadow: 0 0 0 1px rgba($select-focus-border-color, 1);
  }

  &[disabled] {
    opacity: $select-disabled-opacity;
    pointer-events: none;
  }

  @each $type in map-keys($sizes) {
    &.-#{$type} {
      background-position: map-get(map-get($sizes, $type), background-position);
      font-size: map-get(map-get($sizes, $type), font-size);
      height: map-get(map-get($sizes, $type), height);
      line-height: map-get(map-get($sizes, $type), line-height);
      padding: map-get(map-get($sizes, $type), padding);
    }
  }

  &:not([disabled]) {
    &.-danger {
      border-color: $select-danger-border-color;
    }
  }

  &.-danger {
    color: $select-danger-text-color;

    &:focus,
    &.-focus {
      box-shadow: 0 0 0 1px $select-danger-border-color;
    }
  }
}
