h2 Examples
p.-text To render a breadcrumb, use the class <code>a-breadcrumb</code>.

h3 Base
.example.-mb--3
  .-p--3
    nav.a-breadcrumb.-text(aria-label="Breadcrumb")
      ol
        li.a-breadcrumb__item
          a(href='#') Parent
        li.a-breadcrumb__item
          a(href='#') Child 1
        li.a-breadcrumb__item.-active
          a(href='#',aria-current="page") Child 2
  :code(lang="html")
    <nav class="a-breadcrumb -text" aria-label="Breadcrumb">
      <ol>
          <li class="a-breadcrumb__item">
            <a href="#">Parent</a>
          </li>
          <li class="a-breadcrumb__item">
            <a href="#">Child 1</a>
          </li>
          <li class="a-breadcrumb__item -active">
            <a href="#" aria-current="page">Child 2</a>
          </li>
      </ol>
    </nav>

h3 Alternate Separator
p.-text Apply the <code>-alt</code> class to render breadcrumbs with an alternate separator.
.example.-mb--3
  .-p--3
    nav.a-breadcrumb.-alt.-text(aria-label="Breadcrumb")
      ol
        li.a-breadcrumb__item
          a(href='#') Parent
        li.a-breadcrumb__item
          a(href='#') Child 1
        li.a-breadcrumb__item.-active
          a(href='#',aria-current="page") Child 2
  :code(lang="html")
    <nav class="a-breadcrumb -alt -text" aria-label="Breadcrumb">
      <ol>
          <li class="a-breadcrumb__item">
            <a href="#">Parent</a>
          </li>
          <li class="a-breadcrumb__item">
            <a href="#">Child 1</a>
          </li>
          <li class="a-breadcrumb__item -active">
            <a href="#" aria-current="page">Child 2</a>
          </li>
      </ol>
    </nav>

h2 Additional Sizes
p.-text
  | Use <a href="../../utilities/text">text utilities</a> such as <code>-text--small</code> or
  |  <code>-text--large</code> to change the size of breadcrumb text.
h3 Large
.example.-mb--3
  .-p--3
    nav.a-breadcrumb.-text--large(aria-label="Breadcrumb")
      ol
        li.a-breadcrumb__item
          a(href='#') Parent
        li.a-breadcrumb__item.-active
          a(href='#',aria-current="page") Child
  :code(lang="html")
    <nav class="a-breadcrumb -text--large" aria-label="Breadcrumb">
      <ol>
        <li class="a-breadcrumb__item">
          <a href="#">Parent</a>
        </li>
        <li class="a-breadcrumb__item -active">
          <a href="#" aria-current="page">Child</a>
        </li>
      </ol>
    </nav>
h3 Larger
.example.-mb--3
  .-p--3
    nav.a-breadcrumb.-text--larger(aria-label="Breadcrumb")
      ol
        li.a-breadcrumb__item
          a(href='#') Parent
        li.a-breadcrumb__item.-active
          a(href='#',aria-current="page") Child
  :code(lang="html")
    <nav class="a-breadcrumb -text--larger" aria-label="Breadcrumb">
      <ol>
        <li class="a-breadcrumb__item">
          <a href="#">Parent</a>
        </li>
        <li class="a-breadcrumb__item -active">
          <a href="#" aria-current="page">Child</a>
        </li>
      </ol>
    </nav>
h3 Small
.example.-mb--3
  .-p--3
    nav.a-breadcrumb.-text--small(aria-label="Breadcrumb")
      ol
        li.a-breadcrumb__item
          a(href='#') Parent
        li.a-breadcrumb__item.-active
          a(href='#',aria-current="page") Child
  :code(lang="html")
    <nav class="a-breadcrumb -text--small" aria-label="Breadcrumb">
      <ol>
        <li class="a-breadcrumb__item">
          <a href="#">Parent</a>
        </li>
        <li class="a-breadcrumb__item -active">
          <a href="#" aria-current="page">Child</a>
        </li>
      </ol>
    </nav>
h3 Smaller
.example.-mb--3
  .-p--3
    nav.a-breadcrumb.-text--smaller(aria-label="Breadcrumb")
      ol
        li.a-breadcrumb__item
          a(href='#') Parent
        li.a-breadcrumb__item.-active
          a(href='#',aria-current="page") Child
  :code(lang="html")
    <nav class="a-breadcrumb -text--smaller" aria-label="Breadcrumb">
      <ol>
        <li class="a-breadcrumb__item">
          <a href="#">Parent</a>
        </li>
        <li class="a-breadcrumb__item -active">
          <a href="#" aria-current="page">Child</a>
        </li>
      </ol>
    </nav>


