h3 Empty

.example.-mb--3
  .-p--3
    .chi-card.-portal.-bg--white.-bg-md--grey-15
      .chi-card__header.-sm
        .chi-card__title Title
      .chi-card__content.-p--0
        #portal-empty(style="min-height: 5.25rem;")
          chi-vue-data-table(:config='config', :data='table')
  .example-tabs.-pl--2
    ul.chi-tabs#example-portal-empty
      li.-disabled
        a(href=`#webcomponent-portal-empty`) Web Component
      li.-active
        a(href=`#vue-portal-empty`) Vue
      li
        a(href=`#html-portal-empty`) HTML Blueprint
  .chi-tabs-panel#webcomponent-portal-empty
  .chi-tabs-panel.-active#vue-portal-empty
    .chi-tab__description Use <code>noResultsMessage</code> config to customize the empty data message
    :code(lang='html')
      <!-- Vue component -->
      <ChiDataTable :config="config" :data="table"></ChiDataTable>

      <!-- Config and Data -->
      data: {
        config: {
            columnResize: true,
            noResultsMessage: 'No matches found. Please revise search criteria and try again.',
            style: {
            portal: true,
            noBorder: false,
            bordered: false,
            hover: false,
            size: 'md',
            striped: true,
            },
            pagination: {
            activePage: 1,
            compact: false,
            firstLast: false,
            pageJumper: true,
            },
            resultsPerPage: 3,
        },
        table: {
          head: {
            name: { label: 'Name' },
            id: { label: 'ID' },
            lastLogin: { label: 'Last Login' },
          },
          body: []
        }
      }
  .chi-tabs-panel#html-portal-empty
    :code(lang="html")
      <div class="chi-card -portal -bg--white -bg-md--grey-15">
        <div class="chi-card__header -sm">
          <div class="chi-card__title">Title</div>
        </div>
        <div class="chi-card__content -p--0">
          <div class="chi-data-table -portal -compact">
            <div class="chi-data-table__head">
              <div class="chi-data-table__row">
                <div class="chi-data-table__cell">
                  <div>Name</div>
                </div>
                <div class="chi-data-table__cell">
                  <div>ID</div>
                </div>
                <div class="chi-data-table__cell">
                  <div>Last Login</div>
                </div>
              </div>
            </div>
            <div class="chi-data-table__body">
              <div class="chi-data-table__row-empty">
                <div>No matches found. Please revise search criteria and try again.</div>
              </div>
            </div>
          </div>
        </div>
      </div> 

script.
  new Vue({
    components: {
      ChiVueDataTable: window['chi-vue'].library.components.ChiDataTable,
    },
    data: {
      config: {
        columnResize: true,
        noResultsMessage: 'No matches found. Please revise search criteria and try again.',
        style: {
          portal: true,
          noBorder: false,
          bordered: false,
          hover: false,
          size: 'md',
          striped: true,
        },
        pagination: {
          activePage: 1,
          compact: false,
          firstLast: false,
          pageJumper: true,
        },
        resultsPerPage: 3,
      },
      table: {
        head: {
          name: { label: 'Name' },
          id: { label: 'ID' },
          lastLogin: { label: 'Last Login' },
        },
        body: [],
      }
    }
  }).$mount('#portal-empty');
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelector('#example-portal-empty'));
    }
  );
