@import '_global-mixins';
@import '_global-variables';

.chi-card {
  background-color: $card-background-color;
  border: $card-border;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;

  &__hero {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    font-size: $font-size-base;
    line-height: $line-height;
    padding: $card-content-padding;

    .chi-card__title {
      font-size: $font-size-lg;
      font-weight: $font-weight-semi-bold;
      line-height: $line-height-lg;
      margin: 0 0 0.5rem 0;
    }

    .chi-card__icon {
      + .chi-card__caption,
      + .chi-card__title {
        margin-top: 0.5rem;
      }
    }

    .chi-card__caption {
      display: flex;
      flex-direction: column;
      font-size: $font-size-base;
      line-height: $line-height;
      margin: 0;
      padding: 0;
    }

    .chi-card__actions {
      margin-top: 1rem;

      &.-align--center {
        display: flex;
        justify-content: center;
      }

      .chi-button,
      chi-button {
        & + .chi-button,
        & + chi-button {
          margin-left: 0.5rem;
        }
      }
    }

    &.-align--center {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  &__header {
    background-color: $card-header-background-color;
    box-shadow: $card-header-box-shadow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: $card-header-min-height;
    padding: $card-header-padding;
    position: relative;

    &.-align--left {
      justify-content: flex-start;
    }

    &.-align--right {
      justify-content: flex-end;
    }

    &.-align--center {
      justify-content: center;
    }

    &.-no-border {
      box-shadow: none;
    }

    &.-sm {
      padding: $card-header-sm-padding;
    }
  }

  .chi-card__title {
    font-size: $card-title-font-size;
    font-weight: $card-title-font-weight;
    line-height: $card-title-line-height;
    margin: 0;
  }

  &__footer {
    box-shadow: inset 0 1px 0 0 $card-footer-border-color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: $card-footer-min-height;
    padding: $card-footer-padding;
    position: relative;

    .chi-button {
      + .chi-button {
        margin-left: 0.5rem;
      }
    }

    &.-align--left {
      justify-content: flex-start;
    }

    &.-align--right {
      justify-content: flex-end;
    }

    &.-align--center {
      justify-content: center;
    }

    &.-sm {
      padding: 0.5rem 1rem;
    }

    &.-no-border {
      box-shadow: none;
    }
  }

  &__tabs {
    padding: $card-tabs-padding;

    .chi-tabs {
      border-bottom: $card-tabs-border-bottom;
    }
  }

  &.-active {
    border: 0.0625rem solid $card-active-border-color;
    box-shadow: 0 0 0 0.0625rem $card-active-border-color;

    .chi-card__title {
      color: $card-active-title-text-color !important;
    }

    .chi-icon {
      &.chi-card__icon {
        color: $card-active-icon-color;
      }
    }
  }

  &.-empty {
    background-color: transparent;
    border: 0.125rem dashed $card-empty-border-color;

    & .chi-card__content {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & .chi-icon {
        color: $card-empty-icon-color;
        margin: 0.5rem 0;
      }
    }
  }

  &.-no-border {
    border-color: transparent;
  }

  &.-align--center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .chi-card__caption {
      text-align: center;
    }

    .chi-card__content {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .chi-card__footer,
    .chi-card__header,
    .chi-card__tabs {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }

  &.-hover--animate {
    cursor: pointer;
    transition: all 0.15s ease;

    &:hover {
      box-shadow: map-get($shadow, 2) !important;
      transform: translateY(-0.125rem);
    }

    &.-active {
      box-shadow: map-get($shadow, 2), 0 0 0 0.0625rem $card-active-border-color !important;
    }
  }

  &.-highlight {
    background-color: $color-background-secondary-light;

    .chi-card__header {
      background-color: $color-background-white;
    }
  }
}
