$border: 0.0625rem;

$sizes: (
  sm: (
    padding: 0.5rem,
    icons: (
      padding: 0.375rem
    )
  ),
  md: (
    padding: 1rem,
    icons: (
      padding: 0.5rem
    )
  ),
  lg: (
    padding: 1.5rem,
    icons: (
      padding: 0.75rem
    )
  ),
  xl: (
    padding: 1.5rem,
    icons: (
      padding: 1rem
    )
  )
);

.chi-button-group {
  display: inline-flex;

  &:not(.-vertical) {
    .chi-button {
      &:not(.-flat) {
        border-radius: $border-radius-sharp;
        border-right-width: 0;

        &:not(:last-child) {
          padding-right: 1rem;

          &.-icon {
            padding-right: 0.5rem;
          }
        }

        @each $type in map-keys($sizes) {
          &.-#{$type} {
            padding-right: map-get(map-get($sizes, $type), padding);

            &.-icon {
              padding-right: map-get(map-get(map-get($sizes, $type), icons), padding);
            }
          }
        }

        &:hover,
        &.-hover,
        &:focus,
        &.-focus {
          border-right-width: 0.0625rem;

          & + .chi-button {
            border-left-width: 0;
          }
        }

        &:first-child {
          border-bottom-left-radius: $border-radius;
          border-top-left-radius: $border-radius;
        }

        &:last-child {
          border-bottom-right-radius: $border-radius;
          border-right-width: 0.0625rem;
          border-top-right-radius: $border-radius;
        }
      }
    }
  }
}
