@import 'button-groups-variables';

.chi {
  .m-btnGroup {
    display: inline-flex;

    &:not(.-vertical) {
      .a-btn {
        &,
        &.-primary,
        &.-secondary,
        &.-brand,
        &.-danger,
        &.-info,
        &.-dark {

          &,
          &.-outline {
            border-radius: 0;
            border-right-width: 0;
            padding-right: 1rem;

            &.-icon {
              padding-right: 0.5rem;
            }

            &.-small {
              padding-right: 0.5rem;

              &.-icon {
                padding-right: 0.375rem;
              }
            }

            &.-large {
              padding-right: 1.5rem;

              &.-icon {
                padding-right: 0.625rem;
              }
            }

            &:first-child {
              border-bottom-left-radius: $border-radius;
              border-top-left-radius: $border-radius;
            }

            &:last-child {
              border-bottom-right-radius: $border-radius;
              border-right-width: 0.0625rem;
              border-top-right-radius: $border-radius;
              padding-right: 0.9375rem;

              &.-icon {
                padding-right: 0.4375rem;
              }

              &.-small {
                padding-right: 0.4375rem;

                &.-icon {
                  padding-right: 0.3125rem;
                }
              }

              &.-large {
                padding-right: 1.4375rem;

                &.-icon {
                  padding-right: 0.5625rem;
                }
              }
            }

            &:active,
            &.-active,
            &:hover,
            &.-hover,
            &:focus,
            &.-focus {
              border-right-width: 0.0625rem;
              padding-right: 0.9375rem;

              &.-icon {
                padding-right: 0.4375rem;
              }

              &.-small {
                padding-right: 0.4375rem;

                &.-icon {
                  padding-right: 0.3125rem;
                }
              }

              &.-large {
                padding-right: 1.4375rem;

                &.-icon {
                  padding-right: 0.5625rem;
                }
              }

              & + .a-btn:not(.-flat) {
                border-left-width: 0;
                padding-left: 1rem;

                &.-icon {
                  padding-left: 0.5rem;
                }

                &.-small {
                  padding-left: 0.5rem;

                  &.-icon {
                    padding-left: 0.375rem;
                  }
                }

                &.-large {
                  padding-left: 1.5rem;

                  &.-icon {
                    padding-left: 0.625rem;
                  }
                }
              }
            }

            &:hover,
            &.-hover {
              & + .a-btn:focus,
              & + .-focus {
                border-left-width: 0.0625rem;
                padding-left: 0.9375rem;

                &.-icon {
                  padding-left: 0.4375rem;
                }

                &.-small {
                  padding-left: 0.4375rem;

                  &.-icon {
                    padding-left: 0.3125rem;
                  }
                }

                &.-large {
                  padding-left: 1.4375rem;

                  &.-icon {
                    padding-left: 0.5625rem;
                  }
                }
              }
            }
          }

          &.-flat {
            border-radius: $border-radius;
            padding-left: 1rem;
            padding-right: 1rem;

            &.-icon {
              padding-left: 0.5rem;
              padding-right: 0.5rem;
            }

            &.-small {
              padding-left: 0.5rem;
              padding-right: 0.5rem;

              &.-icon {
                padding-left: 0.375rem;
                padding-right: 0.375rem;
              }
            }

            &.-large {
              padding-left: 1.5rem;
              padding-right: 1.5rem;

              &.-icon {
                padding-left: 0.625rem;
                padding-right: 0.625rem;
              }
            }

            &:active,
            &.-active,
            &:hover,
            &.-hover,
            &:focus,
            &.-focus {
              padding-left: 0.9375rem;
              padding-right: 0.9375rem;

              &.-icon {
                padding-left: 0.4375rem;
                padding-right: 0.4375rem;
              }

              &.-small {
                padding-left: 0.4375rem;
                padding-right: 0.4375rem;

                &.-icon {
                  padding-left: 0.3125rem;
                  padding-right: 0.3125rem;
                }
              }

              &.-large {
                padding-left: 1.4375rem;
                padding-right: 1.4375rem;

                &.-icon {
                  padding-left: 0.5625rem;
                  padding-right: 0.5625rem;
                }
              }
            }
          }
        }
      }

      &.-pill {
        .a-btn {
          &:first-child {
            border-bottom-left-radius: 1rem;
            border-top-left-radius: 1rem;
          }
          &:last-child {
            border-bottom-right-radius: 1rem;
            border-top-right-radius: 1rem;
          }

          &.-small {
            &:first-child {
              border-bottom-left-radius: 0.75rem;
              border-top-left-radius: 0.75rem;
            }
            &:last-child {
              border-bottom-right-radius: 0.75rem;
              border-top-right-radius: 0.75rem;
            }
          }

          &.-large {
            &:first-child {
              border-bottom-left-radius: 1.25rem;
              border-top-left-radius: 1.25rem;
            }
            &:last-child {
              border-bottom-right-radius: 1.25rem;
              border-top-right-radius: 1.25rem;
            }
          }
        }
      }
    }
  }
}
