$button-group-border-width: $button-solid-border-width !default;

.chi-button-group {
  display: inline-flex;

  &:not(.-vertical) {
    .chi-button {
      &:not(.-flat) {
        border-radius: $border-radius-sharp !important;
        border-right-width: 0;

        &:hover,
        &.-hover,
        &:focus,
        &.-focus {
          border-right-width: $button-group-border-width;

          & + .chi-button {
            border-left-width: 0;
          }
        }

        &:first-child {
          border-bottom-left-radius: $button-border-radius !important;
          border-top-left-radius: $button-border-radius !important;
        }

        &:last-child {
          border-bottom-right-radius: $button-border-radius !important;
          border-right-width: $button-group-border-width;
          border-top-right-radius: $button-border-radius !important;
        }
      }
    }
  }
}
