$sizes: (
  xs: (
    padding: $button-group-horizontal-xs-padding,
    icons: (
      padding: $button-group-horizontal-xs-icon-padding,
    ),
  ),
  sm: (
    padding: $button-group-horizontal-sm-padding,
    icons: (
      padding: $button-group-horizontal-sm-icon-padding,
    ),
  ),
  md: (
    padding: $button-group-horizontal-md-padding,
    icons: (
      padding: $button-group-horizontal-md-icon-padding,
    ),
  ),
  lg: (
    padding: $button-group-horizontal-lg-padding,
    icons: (
      padding: $button-group-horizontal-lg-icon-padding,
    ),
  ),
  xl: (
    padding: $button-group-horizontal-xl-padding,
    icons: (
      padding: $button-group-horizontal-xl-icon-padding,
    ),
  ),
);

.chi-button-group {
  display: inline-flex;

  &:not(.-vertical) {
    .chi-button {
      &:not(.-flat) {
        border-radius: $border-radius-sharp !important;
        border-right-width: 0;

        &:not(:last-child) {
          padding-right: $button-group-horizontal-md-padding;

          &.-icon {
            padding-right: $button-group-horizontal-md-icon-padding;
          }
        }

        @each $type in map-keys($sizes) {
          &.-#{$type} {
            padding-right: map-get(map-get($sizes, $type), padding);

            &.-icon {
              padding-right: map-get(map-get(map-get($sizes, $type), icons), padding);
            }
          }
        }

        &:hover,
        &.-hover,
        &:focus,
        &.-focus {
          border-right-width: $button-group-border-width;

          & + .chi-button {
            border-left-width: 0;
          }
        }

        &:first-child {
          border-bottom-left-radius: $button-border-radius;
          border-top-left-radius: $button-border-radius;
        }

        &:last-child {
          border-bottom-right-radius: $button-border-radius;
          border-right-width: $button-group-border-width;
          border-top-right-radius: $button-border-radius;
        }
      }
    }
  }
}
