$border: 0.0625rem;

$sizes: (
  sm: (
    padding: 0.25rem,
    icons: (
      padding: 0.375rem
    )
  ),
  md: (
    padding: 0.5rem,
    icons: (
      padding: 0.5rem
    )
  ),
  lg: (
    padding: 0.625rem,
    icons: (
      padding: 0.75rem
    )
  ),
  xl: (
    padding: 0.875rem,
    icons: (
      padding: 1rem
    )
  )
);

.chi-button-group {
  &.-vertical {
    flex-direction: column;

    .chi-button {
      &:not(.-flat) {
        border-bottom-width: 0;
        border-radius: $border-radius-sharp;

        &:not(:last-child) {
          padding-bottom: 0.5rem;
        }

        @each $type in map-keys($sizes) {
          &.-#{$type} {
            padding-bottom: map-get(map-get($sizes, $type), padding);

            &.-icon {
              padding-bottom: map-get(map-get(map-get($sizes, $type), icons), padding);
            }
          }
        }

        &:hover,
        &.-hover,
        &:focus,
        &.-focus {
          border-bottom-width: 0.0625rem;

          & + .chi-button {
            border-top-width: 0;
          }
        }

        &:first-child {
          border-top-left-radius: $border-radius;
          border-top-right-radius: $border-radius;
        }

        &:last-child {
          border-bottom-left-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
          border-bottom-width: 0.0625rem;
        }
      }
    }
  }
}
