@import '_horizontal-button-groups';
@import '_vertical-button-groups';

.chi-button-group {
  &.-fluid {
    display: flex;

    .chi-button {
      display: flex;
      flex: 1 0 auto;
      justify-content: center;

      &.-no-fluid {
        flex: 0 0 auto;
      }

      &.-align--left {
        justify-content: flex-start;
      }

      &.-align--right {
        justify-content: flex-end;
      }
    }
  }
}
