@import '_mixins';
@import '_variables';

$sidenav-sm-width: 3rem;
$sidenav-md-width: 6rem;
$sidenav-lg-width: 12.5rem;

.m-sidenav {
  position: relative;
  width: $sidenav-sm-width;

  &__content {
    background-color: set-color(white);
    border-right: 0.0625rem solid $border-color;
    height: 100%;
    position: relative;
    z-index: $zindex-fixed + 2;

    > * + nav {
      border-top: 0.0625rem solid map-get(map-get($colorscheme, grey), 20);
    }
  }

  &__list,
  &__drawer-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

    > li {
      border-bottom: 0.0625rem solid map-get(map-get($colorscheme, grey), 20);
      list-style: none;
      padding-left: 0;

      > a {
        @include remove-anchor-style;
      }
    }
  }

  &__list > li {
    > a {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: 0.8125rem;
      font-weight: 400;
      justify-content: center;
      min-height: 3rem;
      padding: 0.5rem;

      > *:not(.a-icon) {
        display: none;
        line-height: 1rem;
        text-align: center;
      }

      &:hover {
        color: $primary-color;
      }
    }

    &.-active {
      > a {
        box-shadow: inset 0.125rem 0 0 $primary-color;
        color: $primary-color;
        font-weight: 600;
      }
    }

    &.-active > a { // List item -active. The one that has the left 3px blue border.
      background-color: set-color(grey, 20);
    }

    & > a {
      &.-active { // Drawer shown, will sets active the trigger (this anchor element)
        background-color: set-color(grey, 20);
      }
    }

    &:not(.-active) > a:not(.-active):hover {
      background-color: set-color(grey, 10);
    }
  }

  &.-sliding {
    .m-sidenav__list > li {
      &.-active > a {
        box-shadow: none;
      }
    }
  }

  &__drawer-list {
    border-top: 0.0625rem solid map-get(map-get($colorscheme, grey), 20);

    & > li {
      & > a {
        display: block;
        padding: 1rem;

        & > *:first-child {
          margin-top: 0;
        }

        & > *:last-child {
          margin-bottom: 0;
        }
      }

      &.-active > a {
        background-color: set-color(grey, 20);
      }

      &:not(.-active) > a:hover {
        background-color: set-color(grey, 10);
      }

      .m-sidenav__drawer-item-list {
        display: none;
        overflow: hidden;
        transition: height 0.075s ease-out;

        &.-transitioning {
          display: block;
        }
      }
    }
  }

  &__title {
    font-size: 0.875rem;
    font-weight: 600;
  }

  &__description {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
  }

  &.-inverse {
    .m-sidenav {
      &__content {
        background-color: set-color(black);
      }

      &__list,
      &__drawer-list {
        > li {
          > a {
            color: $text-white;
          }

          &.-active {
            > a {
              box-shadow: inset 0.125rem 0 0 $secondary-color;
              color: $secondary-color;
            }
          }

          &.-active > a { // List item -active. The one that has the left 3px blue border.
            background-color: set-color(mint, 100);
          }

          & > a {
            &.-active { // Drawer shown, will sets active the trigger (this anchor element)
              background-color: set-color(mint, 100);
            }
          }
        }
      }

      &__list {
        > li {
          border-bottom-color: set-color(black);

          &:not(.-active) > a:not(.-active):hover {
            background-color: set-color(grey, 100);
          }
        }
      }

      &__drawer-list {
        border-top: 0.0625rem solid map-get(map-get($colorscheme, grey), 70);

        > li {
          border-bottom-color: set-color(grey, 100);

          &.-active {
            > a {
              .m-sidenav__description {
                color: $secondary-color;
              }
            }
          }

          &:not(.-active) > a:not(.-active):hover {
            background-color: set-color(grey, 90);
          }
        }
      }

      &__description {
        color: set-color(grey, 40);
      }

      &__drawers {
        .m-drawer {
          background-color: set-color(grey, 100);

          &__header {
            .a-btn {
              color: $text-white;
            }
          }
        }
      }
    }

    .a-sliding-border {
      background-color: $secondary-color;
    }

    &.-sliding {
      .m-sidenav__list > li {
        &.-active > a {
          box-shadow: none;
        }
      }
    }
  }

  .m-drawer {
    box-shadow: 0.5rem 0 0.5rem -0.5rem rgba(set-color(black), 0.2);
    position: absolute;
    z-index: $zindex-fixed;

    &.-active {
      z-index: $zindex-fixed + 1;
    }

    &.-left {
      left: $sidenav-sm-width;

      &.-animated:not(.-active) {
        left: -$drawer-width + $sidenav-sm-width;
      }
    }
  }

  .a-sliding-border {
    background-color: $brand-color;
    display: none;
    left: 0;
    position: absolute;
    width: 0.125rem;
    z-index: $zindex-fixed + 2;
  }

  &.-sliding {
    .a-sliding-border {
      display: block;
      transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    }
  }

  @include respond-to(md) {
    width: $sidenav-md-width;

    .m-drawer {
      &.-left {
        left: $sidenav-md-width;

        &.-animated:not(.-active) {
          left: -$drawer-width + $sidenav-md-width;
        }
      }
    }

    &__list > li {
      > a {
        min-height: 4rem;

        > *:not(.a-icon) {
          display: block;
        }

        .a-icon {
          margin-bottom: 0.25rem;
        }
      }
    }
  }

  &.-sm {
    width: $sidenav-sm-width;

    @include respond-to(md) {
      .m-sidenav__list > li {
        > a {
          align-items: center;
          flex-direction: column;
          justify-content: center;
          min-height: 3rem;
          padding-left: 0.5rem;

          > *:not(.a-icon) {
            display: none;
          }

          > .a-icon {
            margin-bottom: 0;
            margin-right: 0;
          }
        }
      }
    }

    .m-drawer {
      &.-left {
        left: $sidenav-sm-width;

        &.-animated:not(.-active) {
          left: -$drawer-width + $sidenav-sm-width;
        }
      }
    }
  }

  &.-md {
    width: $sidenav-md-width;

    .m-sidenav__list > li {
      > a {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        min-height: 4rem;

        @include respond-to(lg) {
          font-size: 0.8125rem;
          padding-left: 0.5rem;
        }

        > *:not(.a-icon) {
          display: block;
        }

        > .a-icon {
          margin-bottom: 0.25rem;
          margin-right: 0;
        }
      }
    }

    .m-drawer {
      &.-left {
        left: $sidenav-md-width;

        &.-animated:not(.-active) {
          left: -$drawer-width + $sidenav-md-width;
        }
      }
    }
  }

  &.-lg {
    width: $sidenav-lg-width;

    .m-sidenav__list > li {
      > a {
        flex-direction: row;
        font-size: 0.875rem;
        justify-content: flex-start;
        min-height: 3rem;
        padding-left: 1.5rem;

        > *:not(.a-icon) {
          display: block;
        }

        > .a-icon {
          margin-bottom: 0;
          margin-right: 1rem;
        }
      }
    }

    .m-drawer {
      &.-left {
        left: $sidenav-lg-width;

        &.-animated:not(.-active) {
          left: -$drawer-width + $sidenav-lg-width;
        }
      }
    }
  }

  &.-global-nav {
    &.-inverse {
      .m-sidenav__content {
        background-color: set-color(grey, 100);
        border-right: 0;

        nav {
          ul {
            &.m-sidenav__list {
              li {
                border-bottom: 0;

                &.-active {
                  a {
                    background-color: rgba(set-color(mint, 40), 0.08);

                    &.-unselected {
                      background-color: transparent;
                      box-shadow: none;
                    }
                  }
                }

                &:not(.-active) {
                  a.-active {
                    background-color: set-color(grey, 90);
                    box-shadow: inset 0.125rem 0 0 set-color(white);
                  }
                }
              }
            }
          }
        }
      }

      .m-sidenav__drawers {
        .m-drawer {
          background-color: set-color(grey, 90);

          &.-active {
            .m-drawer__header {
              align-items: center;
              background-color: rgba(set-color(grey, 100), 0.5);
              color: set-color(grey, 40);
              display: flex;
              height: 4rem;
              padding-left: 1.5rem;

              .a-drawer__title {
                font-size: 1rem;
                font-weight: 600;
              }

              .a-btn {
                &.-close {
                  right: 1rem;
                  top: 1rem;
                }
              }
            }

            .m-drawer__content {
              background-color: set-color(grey, 90);

              .m-sidenav__drawer-list {
                border-top: 0;

                li {
                  border-bottom: 0;
                  line-height: 1.25rem;

                  a {
                    color: set-color(white);
                    padding-bottom: 0.625rem;
                    padding-left: 1.5rem;
                    padding-top: 0.625rem;

                    .m-sidenav__title {
                      align-items: center;
                      display: flex;
                      font-weight: 400;

                      .a-icon {
                        margin-left: 0.5rem;
                      }
                    }
                  }

                  &.-active {
                    & > a {
                      background-color: set-color(grey, 80);
                      box-shadow: none;

                      .m-sidenav__title {
                        font-weight: 600;
                      }
                    }

                    .m-sidenav__drawer-item-list {
                      display: block;
                    }
                  }

                  .m-sidenav__drawer-item-list {
                    background-color: set-color(grey, 80);

                    .a-tabs {
                      &.-sm {
                        li {
                          a {
                            &.a-sidenav__drawer-item-tab {
                              font-size: 0.8125rem;
                              font-weight: 400;
                              line-height: 1.25rem;
                              padding-bottom: 0.375rem;
                              padding-left: 3rem;
                              padding-top: 0.375rem;

                              &:hover {
                                background-color: set-color(grey, 70);
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* IE11 CSS hack */
@media only screen and (max-width: $lg-breakpoint -1) and (-ms-high-contrast: none) {
  .m-sidenav__list {
    li {
      a {
        height: 4rem;
      }
    }
  }
}

@media only screen and (min-width: $lg-breakpoint) and (-ms-high-contrast: none) {
  .m-sidenav__list {
    li {
      a {
        height: 3rem;
      }
    }
  }
}

@media only screen and (-ms-high-contrast: none) {
  .m-sidenav {
    &.-sm,
    &.-md {
      .m-sidenav__list {
        li {
          a {
            height: 4rem;
          }
        }
      }
    }

    &.-lg {
      .m-sidenav__list {
        li {
          a {
            height: 3rem;
          }
        }
      }
    }
  }
}
