@import '_mixins';
@import '_global-variables';

$sidenav-sm-width: 3rem;
$sidenav-md-width: 6rem;
$sidenav-lg-width: 12.5rem;

.chi-sidenav {
  position: relative;
  width: $sidenav-sm-width;

  &__content {
    background-color: $color-grey-20;
    height: 100%;
    position: relative;
    z-index: $zindex-fixed + 2;

    // sass-lint:disable-block no-universal-selectors
    > * + nav {
      border-top: 0.0625rem solid $color-border-base-light;
    }
  }

  &__list,
  &__drawer-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

    > li {
      list-style: none;
      padding-left: 0;

      > a {
        @include remove-anchor-style;
      }
    }
  }

  &__list > li {
    > a {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: $font-size-sm;
      font-weight: $font-weight-semi-bold;
      justify-content: center;
      min-height: 3rem;
      padding: 0.5rem;

      // sass-lint:disable-block no-universal-selectors
      > *:not(.chi-icon) {
        display: none;
        line-height: 1rem;
        text-align: center;
      }
    }

    &.-active {
      > a {
        background-color: rgba($color-blue-50, 0.12);
        box-shadow: inset 0.125rem 0 0 $color-border-primary;
        color: $color-text-primary;
        font-weight: $font-weight-semi-bold;
      }
    }

    &:not(.-active) {
      a {
        &.-active {
          background-color: rgba($color-grey-25, 0.5);
          box-shadow: inset 0.125rem 0 0 $color-cyan-50;
        }
      }
    }
  }

  // &.-sliding {
  //   .chi-sidenav__list > li {
  //     &.-active > a {
  //       box-shadow: none;
  //     }
  //   }
  // }

  .chi-drawer {
    box-shadow: 0.5rem 0 0.5rem -0.5rem rgba($color-black, 0.2);
    position: absolute;
    z-index: $zindex-fixed;

    &__header {
      align-items: center;
      background-color: $color-grey-10;
      color: $color-text-base;
      display: flex;
      height: 4rem;
      padding-left: 1.5rem;

      .chi-button {
        &.-close {
          right: 1rem;
          top: 1rem;
        }
      }
    }

    &.-left {
      left: $sidenav-sm-width;

      &.-animated:not(.-active) {
        left: -$drawer-width + $sidenav-sm-width;
      }
    }

    &__content {
      background: $color-background-white;

      ul {
        &.chi-sidenav__drawer-list {
          li {
            a {
              line-height: $line-height;
              padding-right: 1.5rem;

              &.chi-drawer__subitem-list-trigger {
                padding-right: 3rem;
                position: relative;

                .chi-sidenav__title {
                  &::after {
                    content: '\e91e';
                    display: block;
                    font-family: 'chi';
                    font-size: $font-size-xs;
                    font-weight: $font-weight-normal;
                    height: 1rem;
                    line-height: 1.2rem;
                    position: absolute;
                    right: 1.5rem;
                    top: 0.75rem;
                    transition: 0.2s;
                    width: 0.75rem;
                  }
                }
              }
            }

            &.-expanded {
              a {
                .chi-sidenav__title {
                  &::after {
                    transform: rotate(180deg);
                  }
                }
              }
            }
          }
        }
      }
    }

    &.-active {
      z-index: $zindex-fixed + 1;

      .chi-drawer__content {
        .chi-sidenav__drawer-list {
          li {
            a {
              .chi-sidenav__title {
                .chi-icon {
                  margin-left: 0.5rem;
                }
              }
            }

            &.-active {
              & > a {
                background: none;
                box-shadow: inset 0.125rem 0 0 $color-border-primary;
                color: $color-text-primary;
              }

              &.-expanded {
                & > a {
                  background-color: $color-background-white;
                  color: $color-text-primary;
                }

                &:hover {
                  & > a {
                    background-color: $color-background-white;
                  }
                }
              }

              &.-unselected {
                & > a {
                  box-shadow: none;
                }
              }

              &:hover {
                & > a {
                  background-color: $color-grey-20;
                }
              }
            }

            &.-expanded {
              & > a {
                background-color: $color-background-white;

                .chi-sidenav__title {
                  font-weight: $font-weight-semi-bold;
                }
              }

              .chi-sidenav__drawer-item-list {
                display: block;
              }
            }

            .chi-sidenav__drawer-item-list {
              background-color: $color-background-white;

              .chi-tabs {
                &.-sm {
                  li {
                    a {
                      &.chi-sidenav__drawer-item-tab {
                        font-size: $font-size-sm;
                        font-weight: $font-weight-normal;
                        line-height: 1.25rem;
                        padding-bottom: 0.375rem;
                        padding-left: 3rem;
                        padding-top: 0.375rem;

                        &:hover {
                          background-color: $color-grey-20;
                          color: $color-text-base;
                        }

                        &.-active {
                          color: $color-text-primary;
                          font-weight: $font-weight-semi-bold;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &__drawer-list {
    & > li {
      & > a {
        display: block;
        padding-bottom: 0.625rem;
        padding-left: 1.5rem;
        padding-top: 0.625rem;

        // sass-lint:disable no-universal-selectors
        & > *:first-child {
          margin-top: 0;
        }

        & > *:last-child {
          margin-bottom: 0;
        }
        // sass-lint:enable no-universal-selectors
      }

      &.-active > a {
        background-color: $color-background-white;

        .chi-sidenav__title {
          font-weight: $font-weight-semi-bold;
        }
      }

      &:not(.-active) > a:hover {
        background-color: $color-grey-20;
      }

      .chi-sidenav__drawer-item-list {
        display: none;
        overflow: hidden;
        transition: height 0.075s ease-out;

        &.-transitioning {
          display: block;
        }
      }
    }
  }

  &__title {
    align-items: center;
    display: flex;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
  }

  &__description {
    font-size: $font-size-base;
    line-height: 1.25rem;
    margin: 0;
  }

  // .chi-sliding-border {
  //   background-color: $color-text-primary;
  //   display: none;
  //   left: 0;
  //   position: absolute;
  //   width: 0.125rem;
  //   z-index: $zindex-fixed + 2;
  // }
  //
  // &.-sliding {
  //   .chi-sliding-border {
  //     display: block;
  //     transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  //   }
  // }

  @include respond-to(md) {
    width: $sidenav-md-width;

    .chi-drawer {
      &.-left {
        left: $sidenav-md-width;

        &.-animated:not(.-active) {
          left: -$drawer-width + $sidenav-md-width;
        }
      }
    }

    &__list > li {
      > a {
        min-height: 4rem;

        // sass-lint:disable-block no-universal-selectors
        > *:not(.chi-icon) {
          display: block;
        }

        .chi-icon {
          margin-bottom: 0.25rem;
        }
      }
    }
  }

  &.-sm {
    width: $sidenav-sm-width;

    @include respond-to(md) {
      .chi-sidenav__list > li {
        > a {
          align-items: center;
          flex-direction: column;
          justify-content: center;
          min-height: 3rem;
          padding-left: 0.5rem;

          // sass-lint:disable-block no-universal-selectors
          > *:not(.chi-icon) {
            display: none;
          }

          > .chi-icon {
            margin-bottom: 0;
            margin-right: 0;
          }
        }
      }
    }

    .chi-drawer {
      &.-left {
        left: $sidenav-sm-width;

        &.-animated:not(.-active) {
          left: -$drawer-width + $sidenav-sm-width;
        }
      }
    }
  }

  &.-md {
    width: $sidenav-md-width;

    .chi-sidenav__list > li {
      > a {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        min-height: 4rem;

        @include respond-to(lg) {
          font-size: 0.8125rem;
          padding-left: 0.5rem;
        }

        // sass-lint:disable-block no-universal-selectors
        > *:not(.chi-icon) {
          display: block;
        }

        > .chi-icon {
          margin-bottom: 0.25rem;
          margin-right: 0;
        }
      }
    }

    .chi-drawer {
      &.-left {
        left: $sidenav-md-width;

        &.-animated:not(.-active) {
          left: -$drawer-width + $sidenav-md-width;
        }
      }
    }
  }

  &.-lg {
    width: $sidenav-lg-width;

    .chi-sidenav__list > li {
      > a {
        flex-direction: row;
        font-size: 0.875rem;
        justify-content: flex-start;
        min-height: 3rem;
        padding-left: 1.5rem;

        // sass-lint:disable-block no-universal-selectors
        > *:not(.chi-icon) {
          display: block;
        }

        > .chi-icon {
          margin-bottom: 0;
          margin-right: 1rem;
        }
      }
    }

    .chi-drawer {
      &.-left {
        left: $sidenav-lg-width;

        &.-animated:not(.-active) {
          left: -$drawer-width + $sidenav-lg-width;
        }
      }
    }
  }
}

/* IE11 CSS hack */
// sass-lint:disable-block no-vendor-prefixes
@media only screen and (-ms-high-contrast: none) {
  .chi-sidenav {
    .chi-sidenav__list {
      li {
        a {
          height: 3rem;
        }
      }
    }

    &.-md {
      .chi-sidenav__list {
        li {
          a {
            height: 4rem;
          }
        }
      }
    }

    &.-lg {
      .chi-sidenav__list {
        li {
          a {
            height: 3rem;
          }
        }
      }
    }
  }
}
