@import 'variables';
@import 'mixins';

$input: c-input;

input {
  &[type='file'] {
    &.#{$input} {
      left: -9999px;
      position: absolute;

      & + label {
        & {
          align-items: center;
          display: flex;
          font-size: 1.625rem;
          line-height: 2rem;
          pointer-events: none;
          position: relative;
        }

        &::before {
          align-items: center;
          background-color: set-color(grey, 100);
          border: 0.125rem solid set-color(grey, 600);
          border-radius: 3px;
          content: 'Choose File';
          cursor: pointer;
          display: flex;
          font-weight: 600;
          height: 4rem;
          justify-content: center;
          line-height: 2.25rem;
          margin-right: 2rem;
          pointer-events: initial;
          width: 13rem;
        }

        &:hover,
        &.#{$input}--hover {
          &::before {
            border: 0.125rem solid set-color(grey, 800);
            box-shadow: 0 1px 4px 0 rgba(set-color(carbon, 800), 0.15);
          }
        }
      }

      &[multiple] + label::before {
        content: 'Choose Files';
      }

      &[disabled] + label {
        opacity: 0.65;

        &::before {
          cursor: initial;
          pointer-events: none;
        }
      }

      &:focus,
      &.#{$input}--focus {
        & + label::before {
          border: 0.125rem solid set-color(grey, 800);
          box-shadow: 0 0 0 3px rgba(set-color(grey, 600), 0.6);
          z-index: 1;
        }
      }

      &.#{$input}--small {
        & + label {
          font-size: 1.375rem;

          &::before {
            height: 3rem;
            line-height: 2rem;
            width: 9.625rem;
          }
        }
      }

      &.#{$input}--large {
        & + label {
          font-size: 2rem;
          line-height: 3rem;

          &::before {
            height: 5rem;
            line-height: 3rem;
            width: 17rem;
          }
        }
      }
    }
  }
}
