@import '_global-mixins';
@import '_global-variables';

.chi-drag {
  .chi-drag__item {
    background-color: $drag-item-background-color;
    border: 0.0625rem solid $drag-item-border-color;
    border-radius: $drag-item-border-radius;
    margin-bottom: 1rem;

    &:focus {
      border: 0.0625rem solid $drag-item-focus-color;
      outline: 0.0625rem solid $drag-item-focus-color;
    }

    .chi-drag__wrapper {
      padding: $drag-item-padding;
      width: 100%;

      &:hover {
        cursor: move;
      }
    }

    .chi-drag__title {
      display: flex;
      align-items: center;
      font-size: $drag-item-title-font-size;
      font-weight: $drag-item-title-font-weight;
      line-height: $drag-item-title-line-height;
      margin-bottom: 0.315rem;
    }

    .chi-drag__content {
      display: flex;
      align-items: center;

      &:not(:has(> chi-icon)) {
        margin-left: 2rem;
      }

      .chi-drag__description {
        font-size: $drag-item-description-font-size;
        line-height: $drag-item-description-line-height;
      }
    }

    .chi-drag__title,
    .chi-drag__content {
      & > chi-icon {
        margin-right: 1rem !important; // important needed until inline utility class is removed
      }
    }


    .chi-drag__closable {
      border-left: 0.0625rem solid $drag-item-border-color;
      display: flex;

      .chi-button {
        border-radius: $border-radius-sharp;
        padding: 1rem;

        &:hover {
          background-color: $drag-item-close-hover-background-color;
          scale: none;
        }

        &:active {
          background-color: $drag-item-close-active-background-color;
        }
      }
    }

    &:has(.chi-drag__wrapper:active) {
      box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
    }

    &.-locked {
      .chi-drag__wrapper {
        &:hover {
          cursor: not-allowed;
        }
      }

      .chi-drag__closable {
        .chi-button {
          &:hover {
            cursor: not-allowed;
          }
        }
      }
    }

    &.-dragging {
      .chi-drag__closable {
        .chi-button {
          background-color: $drag-item-dragging-close-background-color;
        }
      }
    }

    &.drag-over {
      position: relative;
      margin-top: 1.25rem;

      &::after {
        content: '';
        position: absolute;
        top: -0.625rem;
        left: 0;
        width: 100%;
        height: 0.25rem;
        background-color: $drag-item-drop-indicator-background-color;
        margin-top: 0.3125rem;
        margin-bottom: 0.3125rem;
      }
    }
  }
}
