@import '_global-mixins';
@import '_global-variables';

.chi-drag {
  .chi-drag__item {
    background-color: $drag-item-background-color;
    border: 0.0625rem solid $drag-item-border-color;
    border-radius: $drag-item-border-radius;
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;

    &.-active {
      border: $drag-item-active-border;
    }

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    &:focus {
      border: 0.0625rem solid rgba($drag-item-focus-color, 0.7);
      outline: 0.0625rem solid rgba($drag-item-focus-color, 0.7);
    }

    &:hover {
      cursor: move;
    }

    .chi-drag__wrapper {
      padding: $drag-item-padding;
      width: 100%;
    }

    .chi-drag__title {
      align-items: center;
      display: flex;
      font-size: $drag-item-title-font-size;
      font-weight: $drag-item-title-font-weight;
      line-height: $drag-item-title-line-height;
      margin-bottom: 0.315rem;

      .chi-drag__title-info-icon-message {
        margin-left: $drag-item-title-info-icon-margin-left;
      }
    }

    .chi-drag__title-icon {
      display: flex;
      margin-right: 0;
      padding: $drag-item-title-icon-padding;
    }

    .chi-drag__content {
      align-items: center;
      display: flex;
      margin: 0;

      .chi-drag__description {
        font-size: $drag-item-description-font-size;
        line-height: $drag-item-description-line-height;
        text-align: $drag-item-description-text-align;
      }
    }

    .chi-drag__closable {
      border-left: 0.0625rem solid $drag-item-border-color;
      display: flex;

      .chi-button {
        border-radius: 0 $drag-item-border-radius $drag-item-border-radius 0;
        padding: 1rem;

        &:hover {
          background-color: $drag-item-close-hover-background-color;
          scale: none;
        }

        &:active {
          background-color: $drag-item-close-active-background-color;
        }

        &:focus {
          outline: none;

          .chi-icon {
            border-radius: 2rem;
            outline: 0.125rem solid rgba($drag-item-focus-color, 0.7);
            outline-offset: 0.5rem;
          }
        }
      }
    }

    .chi-drag__actions-dropdown {
      align-items: center;
      border-left: 0.0625rem solid $drag-item-border-color;
      border-radius: 0 $drag-item-border-radius $drag-item-border-radius 0;
      cursor: pointer;
      display: flex;

      &:hover {
        background-color: $drag-item-close-hover-background-color;
      }

      .chi-dropdown {
        > chi-button {
          .chi-button {
            border-color: transparent;
            padding: $drag-item-actions-dropdown-button-padding;

            .chi-icon {
              color: $drag-item-actions-dropdown-icon-color;
            }

            &:focus {
              outline: none;
            }

            &,
            &:hover {
              background-color: transparent;
            }
          }
        }

        .chi-dropdown__menu {
          .chi-drag__action-item {
            .chi-icon {
              color: $color-icon-muted;
            }

            &.-active {
              box-shadow: none;
              color: $drag-item-actions-dropdown-active-text-color;
              font-weight: $font-weight-normal;

              .chi-icon {
                color: $drag-item-actions-dropdown-active-icon-color;
              }
            }
          }

          &:has(.chi-drag__action-item chi-icon) {
            .chi-drag__action-item:not(:has(chi-icon)) {
              padding-left: $drag-item-actions-dropdown-item-padding-left;
            }
          }
        }
      }
    }

    &:has(.chi-drag__wrapper:active) {
      box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
    }

    &.-locked {
      &:hover {
        cursor: not-allowed;
      }

      .chi-drag__closable {
        .chi-button {
          &:hover {
            cursor: not-allowed;
          }
        }
      }
    }

    &.dragging {
      border: 0.0625rem solid $drag-item-border-color;
      outline: none;
    }

    &.drag-over {
      margin-top: 1.25rem;
      position: relative;

      &::after {
        background-color: $drag-item-drop-indicator-background-color;
        content: '';
        height: 0.25rem;
        left: 0;
        margin-bottom: 0.3125rem;
        margin-top: 0.3125rem;
        position: absolute;
        top: -0.625rem;
        width: 100%;
      }
    }

    &.-accordion {
      .chi-accordion {
        .chi-accordion__item {
          background-color: $drag-accordion-item-background-color;

          .chi-accordion__trigger {
            padding: $drag-accordion-trigger-padding;

            .chi-accordion__title {
              font-size: $drag-accordion-title-font-size;
            }
          }

          .chi-accordion__content {
            padding: $drag-accordion-content-padding;

            .chi-accordion__text {
              text-align: $drag-accordion-content-text-align;
            }
          }
        }
      }

      .chi-drag__title-icon {
        .chi-icon {
          height: $drag-accordion-title-icon-height;
        }
      }
    }

    &.-base {
      .chi-drag__title-icon {
        .chi-icon {
          margin-top: 0.25rem;
        }
      }
    }
  }
}

.-mouse-control {
  .chi-drag {
    .chi-drag__item {
      &:focus {
        border: 0.0625rem solid $drag-item-border-color;
        outline: none;
      }

      &.-active:focus {
        border: $drag-item-active-border;
        outline: none;
      }

      .chi-drag__closable {
        .chi-button {
          &:focus {
            outline: none;

            .chi-icon {
              outline: none;
            }
          }
        }
      }
    }
  }
}
