@import '_variables';
@import '_mixins';

$sundayStartingWeek: (
  sun: 0,
  mon: 1,
  tue: 2,
  wed: 3,
  thu: 4,
  fri: 5,
  sat: 6
);
$mondayStartingWeek: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6
);

.a-inputWrapper.-disabled {
  pointer-events: none;
  & .a-input {
    opacity: 0.65;
  }
  & .a-icon {
    opacity: 0.65;
  }
}

.m-datepicker {
  font-size: $text;
  width: 14rem;

  &__day {
    text-align: center;
    line-height: 2rem;
    width: calc(100% / 7);
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;

    &.-active {
      background-color: $brand-color;
      border-radius: $border-radius;
      color: white;
      &.-today:after {
        background-color: white;
      }
    }

    &.-inactive {
      color: rgba(set-color(grey, 90), 0.4);
      pointer-events: none;
      &.-today:after {
        background-color: rgba(set-color(grey, 90), 0.4);
      }
    }

    &.-today {
      position: relative;
      &:after {
        background-color: $brand-color;
        border-radius: 2px;
        bottom: 3px;
        content: '';
        height: 4px;
        left: calc(50% - 1px);
        position: absolute;
        width: 4px;
        transition: background-color 0.1s ease-in-out;
      }
    }

    &:not(.-inactive):not(.-active):hover, &:not(.-inactive):not(.-active).-hover {
      background-color: (set-color(grey, 20));
      border-radius: 2px;
    }

    &:not(.-inactive) {
      cursor: pointer;
      font-weight: 600;
    }
  }

  &__week-day {
    font-weight: 600;
    text-align: center;
    line-height: 2rem;
    width: calc(100% / 7);
  }

  &__month {
    font-weight: 600;
    text-align: center;
    width: calc(100% * 5 / 7);
    margin-left: calc(100% / 7);

    &-row {
      .prev, .next {
        width: calc(100% / 7);
        text-align: center;
        &.-disabled {
          color: rgba(set-color(grey, 90), 0.2);
          pointer-events: none;
        }
        &:not(.-disabled) {
          cursor: pointer;
          color: $brand-color;
        }
      }
    }
  }

  .prev + .m-datepicker__month {
    margin-left: 0;
  }

  &__days, &__day-names {
    display: flex;
    flex-wrap: wrap;
  }

  &__month-row {
    display: flex;
    align-items: center;
    height: 2.5rem;
  }

  &.-week-starts-on-sun {
    @each $weekDay, $columnStart in $sundayStartingWeek {
      &.-month-starts-on-#{$weekDay} {
        .m-datepicker__day:first-child {
          margin-left: calc(100% * #{$columnStart} / 7);
        }
      }
    }
  }

  &.-week-starts-on-mon {
    @each $weekDay, $columnStart in $mondayStartingWeek {
      &.-month-starts-on-#{$weekDay} {
        .m-datepicker__day:first-child {
          margin-left: calc(100% * #{$columnStart} / 7);
        }
      }
    }
  }
}

.m-popover {

  .m-datepicker {
    padding: 0.5rem 1rem;
  }

  &__datepicker.-no-arrow, &__input.-no-arrow {
    &.m-popover--top, &[x-placement^="top"] {
      margin-bottom: 1px;
    }

    &.m-popover--right, &[x-placement^="right"] {
      margin-left: 1px;
    }

    &.m-popover--bottom, &[x-placement^="bottom"] {
      margin-top: 1px;
    }

    &.m-popover--left, &[x-placement^="left"] {
      margin-right: 1px;
    }
  }
}
