@import '_variables';
@import '_mixins';

$sunday-starting-week: (
  sun: 0,
  mon: 1,
  tue: 2,
  wed: 3,
  thu: 4,
  fri: 5,
  sat: 6
);
$monday-starting-week: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6
);

.a-inputWrapper,
.m-input__wrapper {
  &.-disabled {
    pointer-events: none;
  }
}

.m-datepicker {
  font-size: $text;
  width: 14rem;

  &__day {
    line-height: 2rem;
    text-align: center;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    width: calc(100% / 7);

    &.-active {
      background-color: $brand-color;
      color: white;

      &.-today::after {
        background-color: white;
      }
    }

    &.-inactive {
      color: rgba(set-color(grey, 90), 0.4);
      pointer-events: none;

      &.-today::after {
        background-color: rgba(set-color(grey, 90), 0.4);
      }
    }

    &.-today {
      position: relative;

      &::after {
        background-color: $brand-color;
        bottom: 3px;
        content: '';
        height: 4px;
        left: calc(50% - 2px);
        position: absolute;
        transition: background-color 0.1s ease-in-out;
        width: 4px;
      }
    }

    &:not(.-inactive):not(.-active) {
      &:hover {
        background-color: (set-color(grey, 20));
      }

      &.-hover {
        background-color: (set-color(grey, 20));
      }
    }

    &:not(.-inactive) {
      cursor: pointer;
      font-weight: 600;
    }
  }

  &__week-day {
    font-weight: 600;
    line-height: 2rem;
    text-align: center;
    width: calc(100% / 7);
  }

  &__month {
    font-weight: 600;
    margin-left: calc(100% / 7);
    text-align: center;
    width: calc(100% * 5 / 7);

    &-row {
      .prev,
      .next {
        text-align: center;
        width: calc(100% / 7);

        &.-disabled {
          color: rgba(set-color(grey, 90), 0.2);
          pointer-events: none;
        }

        &:not(.-disabled) {
          color: $brand-color;
          cursor: pointer;
        }
      }
    }
  }

  .prev + .m-datepicker__month {
    margin-left: 0;
  }

  &__days,
  &__day-names {
    display: flex;
    flex-wrap: wrap;
  }

  &__month-row {
    align-items: center;
    display: flex;
    height: 2.5rem;
  }

  &.-week-starts-on-sun {
    @each $week-day, $column-start in $sunday-starting-week {
      &.-month-starts-on-#{$week-day} {

        .m-datepicker__day:first-child {
          margin-left: calc(100% * #{$column-start} / 7);
        }
      }
    }
  }

  &.-week-starts-on-mon {
    @each $week-day, $column-start in $monday-starting-week {
      &.-month-starts-on-#{$week-day} {

        .m-datepicker__day:first-child {
          margin-left: calc(100% * #{$column-start} / 7);
        }
      }
    }
  }
}

.m-popover {
  .m-datepicker {
    padding: 0.5rem 1rem;
  }

  &__datepicker,
  &__input {
    &.-no-arrow {
      &.m-popover--top,
      &[x-placement^='top'] {
        margin-bottom: 1px;
      }

      &.m-popover--right,
      &[x-placement^='right'] {
        margin-left: 1px;
      }

      &.m-popover--bottom,
      &[x-placement^='bottom'] {
        margin-top: 1px;
      }

      &.m-popover--left,
      &[x-placement^='left'] {
        margin-right: 1px;
      }
    }
  }
}
