---
title: Color and sensory
disabled: true
---

h2 Sensory characteristics
div.chi-grid
  .chi-col.-w--12
    .chi-breadcrumb
      ol.-text--normal
        li.chi-breadcrumb__item
          a(href="https://www.w3.org/TR/WCAG20" rel="noopener noreferrer" target="_blank") WCAG 2.0 Guideline
        li.chi-breadcrumb__item
          a(href="https://www.w3.org/TR/WCAG20/#content-structure-separation" rel="noopener noreferrer" target="_blank") 1.3 Adaptable
        li.chi-breadcrumb__item
          a(href="https://www.w3.org/TR/WCAG20/#content-structure-separation-understanding" rel="noopener noreferrer" target="_blank") 1.3.3 Sensory Characteristics
  .chi-col.-w--12
    .-lh--3
      .chi-badge.-dark.-outline.-xs(data-tooltip="Content must be presentable to users in ways they can perceive." data-position="bottom")
        span Perceivable
      .chi-badge.-dark.-outline.-xs.-ml--1(data-tooltip="Requirements must be satisfied to pass WCAG 2.0 Level A Success Criteria." data-position="bottom")
        span Level A
  .chi-col.-w--12
    p.-text
      | <strong>Benefits:</strong> Blind and low-vision disabilities.
    p.-text
      | Instructions provided for understanding and operating content do not rely solely on sensory characteristics of components 
      | such as shape, size, visual location, orientation, or sound.
  .chi-col.-w--12
    .chi-card.-s--1.-rounded.-mb--3.-mt--1
      .chi-card__header
        .chi-card__title
          | How to pass
      .chi-card__content.-px--3
        ul.accessibility-checklist
          li 
            | Can the user access instructions for using the content, even when they cannot perceive shape or size or use information about spatial location or orientation?
          li 
            | Are descriptions of controls solely via references to visual or auditory cues avoided?
          li 
            | Is additional information provided other than shape and/or location?
          li 
            | Does positioning, color, and labeling help identify the information?

h2 Use of color
div.chi-grid
  .chi-col.-w--12
    .chi-breadcrumb
      ol.-text--normal
        li.chi-breadcrumb__item
          a(href="https://www.w3.org/TR/WCAG20" rel="noopener noreferrer" target="_blank") WCAG 2.0 Guideline
        li.chi-breadcrumb__item
          a(href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast" rel="noopener noreferrer" target="_blank") 1.4 Distinguishable
        li.chi-breadcrumb__item
          a(href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-without-color" rel="noopener noreferrer" target="_blank") 1.4.1 Use of Color
  .chi-col.-w--12
    .-lh--3
      .chi-badge.-dark.-outline.-xs(data-tooltip="Content must be presentable to users in ways they can perceive." data-position="bottom")
        span Perceivable
      .chi-badge.-dark.-outline.-xs.-ml--1(data-tooltip="Requirements must be satisfied to pass WCAG 2.0 Level A Success Criteria." data-position="bottom")
        span Level A
  .chi-col.-w--12
    p.-text
      | <strong>Benefits:</strong> Colorblind disabilities.
    p.-text
      | Color is not used as the only visual means of conveying information, indicating an action, prompting a response, or distinguishing a visual element.
  .chi-col.-w--12
    .chi-card.-s--1.-rounded.-mb--3.-mt--1
      .chi-card__header
        .chi-card__title
          | How to pass
      .chi-card__content.-px--3
        ul.accessibility-checklist
          li 
            | Verify that color alone is not used to convey important information.
          li 
            | Can all of the information be understood when viewing the page in grayscale?
          li 
            | Can all of the page functions be performed when viewing the page in grayscale?

h2 Contrast
div.chi-grid
  .chi-col.-w--12
    .chi-breadcrumb
      ol.-text--normal
        li.chi-breadcrumb__item
          a(href="https://www.w3.org/TR/WCAG20" rel="noopener noreferrer" target="_blank") WCAG 2.0 Guideline
        li.chi-breadcrumb__item
          a(href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast" rel="noopener noreferrer" target="_blank") 1.4 Distinguishable
        li.chi-breadcrumb__item
          a(href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast" rel="noopener noreferrer" target="_blank") 1.4.3 Contrast (Minimum)
  .chi-col.-w--12
    .-lh--3
      .chi-badge.-dark.-outline.-xs(data-tooltip="Content must be presentable to users in ways they can perceive." data-position="bottom")
        span Perceivable
      .chi-badge.-dark.-outline.-xs.-ml--1(data-tooltip="Requirements must be satisfied to pass WCAG 2.0 Level AA Success Criteria." data-position="bottom")
        span Level AA
  .chi-col.-w--12
    p.-text
      | <strong>Benefits:</strong> Low-vision and colorblind disabilities.
    p.-text
      | The visual presentation of text and images of text has a contrast ratio of at least 4.5:1, except for the following:
    ul.-text
      li <strong>Large Text:</strong> Large-scale text and images of large-scale text have a contrast ratio of at least 3:1.
      li <strong>Incidental:</strong> Text or images of text that are part of an inactive user interface component, that are pure decoration,
         | that are not visible to anyone, or that are part of a picture that contains significant other visual content, have no contrast requirement.
      li <strong>Logotypes:</strong> Text that is part of a logo or brand name has no minimum contrast requirement.
  .chi-col.-w--12
    .chi-card.-s--1.-rounded.-mb--3.-mt--1
      .chi-card__header
        .chi-card__title
          | How to pass
      .chi-card__content.-px--3
        ul.accessibility-checklist
          li 
            | Is the color contrast of the text and its background readable by low-vision users?
          li 
            | Using a color contrast tool - are color contrast ratios at least 4.5:1 for text that is < 18 point/24 px, and for bold text that is < 14 point/18.5 px?
          li 
            | Using a color contrast tool - are color contrast ratios at least 3:1 for large-scale text that is at least 18 point/24 px, and for large-scale bold text
            | that is at least 14 point/18.5 px?
          li 
            | Is there a text that is only decorative and conveys no information? (Decorative text does not need to meet color contrast guidelines)

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tooltip(document.querySelectorAll('[data-tooltip]'));
    }
  );
