---
title: Overview
disabled: true
---

p.-text
  | The Lumen Chi Accessibility Foundations defines how to make web content more accessible to people with disabilities.

p.-text
  | Accessibility involves a wide range of disabilities, including visual, auditory, physical, speech, cognitive, language, learning, and 
  | neurological disabilities. According to the <a target="_blank" href="https://www.cdc.gov/ncbddd/disabilityandhealth/infographic-disability-impacts-all.html" rel="noopener noreferrer">CDC</a>,
  | 1 in 4 adults in the United States have some type of functional disability.
  
p.-text
  | Lumen is required to meet the <a target="_blank" href="https://www.w3.org/TR/WCAG20/" rel="noopener noreferrer">Web Content Accessibility Guidelines (WCAG 2.0)</a>, Conformance
  | Levels A and AA success criteria. These guidelines and their success criteria will also satisfy the <a target="_blank" href="https://www.section508.gov/" rel="noopener noreferrer">Revised Section 508</a>
  | of the U.S. Rehabilitation Act (as of January 18, 2018).

p.-text
  | The content within the Lumen Chi Accessibility Foundations is derived from the WCAG principles, guidelines, and success criteria. 
  | Although these WCAG guidelines cover a wide range of issues, they are not able to address the needs of people with all types, degrees, 
  | and combinations of disability. These guidelines also make web content more usable by older individuals with changing abilities due to
  | aging and often improve usability for users in general.

h2 Key accessibility concepts
h3 
  | <a class="-text--h4 -text--body -m--0" href='../using-keyboard'>Using the keyboard</a>
p.-text.-mt--0
  | The website or application must be completely usable through a keyboard. There can be nothing which requires a mouse.  Blind users who
  | rely on screen readers navigate by using the keyboard. In addition, some users who see the screen perfectly well have impaired motor
  | skills which make it difficult or impossible to control a mouse.

h3 
  | <a class="-text--h4 -text--body -m--0" href='../page-structure'>Page structure</a>
p.-text.-mt--0
  | Well-structured content allows more efficient navigation and processing. Use HTML and WAI-ARIA to improve navigation and orientation
  | on web pages and in applications. Mark up should include page regions, labeling regions, headings, and content structure.

h3 
  | <a class="-text--h4 -text--body -m--0" href='../color-sensory'>Color and sensory</a>
p.-text.-mt--0
  | Enables people with visual impairments or color vision deficiencies to interact with digital experiences in the same way as non-visually-impaired people.

h3 
  | <a class="-text--h4 -text--body -m--0" href='../images'>Images</a>
p.-text.-mt--0
  | Images must have text alternatives that describe the information or function represented by them.

h3 
  | <a class="-text--h4 -text--body -m--0" href='../text'>Text</a>
p.-text.-mt--0
  | Genuine text is much more flexible than images. Text can be resized without losing clarity, and background and text colors can be modified
  | to suit the reading preferences of users. Images are more likely to distort and pixelate when resized.

h3 
  | <a class="-text--h4 -text--body -m--0" href='../links-and-forms'>Links and forms</a>
p.-text.-mt--0
  | Users usually prefer simple and short forms. Only ask users to enter what is required to complete the transaction or process. If irrelevant
  | or excessive data is requested, users are more likely to abandon the form.

h3 
  | <a class="-text--h4 -text--body -m--0" href='../tables'>Tables</a>
p.-text.-mt--0
  | Accessible tables need HTML structural markup that indicates header cells and data cells and defines their relationship. Assistive technologies
  | use this information to provide context to users.

h3 
  | <a class="-text--h4 -text--body -m--0" href='../other'>Other</a>
ul.-text.-mt--0
  li <strong>Time-based Media:</strong> Provide alternatives for time-based media.
  li <strong>Distinguishable:</strong> Make it easier for users to see and hear content including separating foreground from background.
  li <strong>Enough Time:</strong> Provide users enough time to read and use content.
  li <strong>Seizures:</strong> Do not design content in a way that is known to cause seizures.
  
.chi-divider.-my--5

h3 About assistive technologies
p.-text.-mt--0
  | Technologies that allow people with disabilities to use a resource are known as assistive technologies. Perhaps the most commonly thought of type of
  | assistive technology for the web are screen readers, which proccess the visible (and sometimes invisible) elements on the screen and read the
  | information aloud to the user. The three most popular screen readers are JAWS, NVDA and VoiceOver (iOS). Other examples of assistive technologies
  | used on the web include Braille translation devices, screen magnifiers, closed captioning, and specialized keyboards.  

h2 Foundations
h3 The Four Principles of Accessibility (POUR) and the Guidelines
p.-text
  | Anyone who wants to use the web must have content that is:
  
.chi-expansion-panel.-web-components.-accessibility.-pb--5
  .chi-epanel.-no-step(data-chi-epanel-group="web-component-details")
    .chi-epanel__header
      .chi-epanel__title.-w--100(data-chi-epanel-action="toggle")
        i.chi-icon.icon-chevron-right.-mr--2(aria-hidden="true")
        | Perceivable  
      p.-text.-ml--4.-mt--0
        | Information and user interface components must be presentable to users in ways the can perceive. 
      p.-text.-ml--4.-my--0
        | <strong>Ask:</strong> Can a user get a context to their senses?
    .chi-epanel__collapse
      .-active--only
        .chi-epanel__body
          .chi-epanel__content
            .chi-epanel__text
              ul.-text
                li <a class="-text--bold" target="_blank" href="https://www.w3.org/TR/WCAG20/#text-equiv" rel="noopener noreferrer">1.1 Text-alternatives:</a>
                   |  Provide text alternatives for any non-text content so that it can be changed into other forms people need, such as 
                   | large print, braille, speech, symbols or simpler language.
                li <a class="-text--bold" target="_blank" href="https://www.w3.org/TR/WCAG20/#media-equiv" rel="noopener noreferrer">1.2 Time-based media:</a> Provide alternatives for time-based media.
                li <a class="-text--bold" target="_blank" href="https://www.w3.org/TR/WCAG20/#content-structure-separation" rel="noopener noreferrer">1.3 Adaptable:</a> Create content that can be presented in 
                   | different ways (for example simpler layout) without losing information or structure. 
                li <a class="-text--bold" target="_blank" href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast" rel="noopener noreferrer">1.4 Distinguishable:</a> Make it easier for users to see and hear 
                   | content including separating foreground from background.
  .chi-epanel.-no-step(data-chi-epanel-group="web-component-details")
    .chi-epanel__header
      .chi-epanel__title.-w--100(data-chi-epanel-action="toggle")
        i.chi-icon.icon-chevron-right.-mr--2(aria-hidden="true")
        | Operable
      p.-text.-ml--4.-mt--0
        | User interface components and navigation must be operable.
      p.-text.-ml--4.-my--0
        | <strong>Ask:</strong> Can a user successfully use controls, buttons, navigations and other interactive elements?
    .chi-epanel__collapse
      .-active--only
        .chi-epanel__body
          .chi-epanel__content
            .chi-epanel__text
              ul.-text
                li <a class="-text--bold" target="_blank" href="https://www.w3.org/TR/WCAG20/#keyboard-operation" rel="noopener noreferrer">2.1 Keyboard accessible:</a> Make all functionality available from a keyboard.
                li <a class="-text--bold" target="_blank" href="https://www.w3.org/TR/WCAG20/#time-limits" rel="noopener noreferrer">2.2 Enough time:</a> Provide users enough time to read and use content.
                li <a class="-text--bold" target="_blank" href="https://www.w3.org/TR/WCAG20/#seizure" rel="noopener noreferrer">2.3 Seizures:</a> Do not design content in a way that is known to cause seizures.
                li <a class="-text--bold" target="_blank" href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms" rel="noopener noreferrer">2.4 Navigable:</a> Provide ways to help users navigate, find content, and determine where they are.
  .chi-epanel.-no-step(data-chi-epanel-group="web-component-details")
    .chi-epanel__header
      .chi-epanel__title.-w--100(data-chi-epanel-action="toggle")
        i.chi-icon.icon-chevron-right.-mr--2(aria-hidden="true")
        | Understandable
      p.-text.-ml--4.-mt--0
        | Information and the operation of user interface must be understandable.
      p.-text.-ml--4.-my--0
        | <strong>Ask:</strong> Is the presentation and format consistent, predictable in its design and usage patterns, concise, multimodal, and appropriate to the audience in its voice and tone?
    .chi-epanel__collapse
      .-active--only
        .chi-epanel__body
          .chi-epanel__content
            .chi-epanel__text
              ul.-text
                li <a class="-text--bold" target="_blank" href="https://www.w3.org/TR/WCAG20/#meaning" rel="noopener noreferrer">3.1 Readable:</a> Make text content readable and understandable.
                li <a class="-text--bold" target="_blank" href="https://www.w3.org/TR/WCAG20/#consistent-behavior" rel="noopener noreferrer">3.2 Predictable:</a> Make web pages appear and operate in predictable ways.
                li <a class="-text--bold" target="_blank" href="https://www.w3.org/TR/WCAG20/#minimize-error" rel="noopener noreferrer">3.3 Input Assistance:</a> Help users avoid and correct mistakes. 
  .chi-epanel.-no-step(data-chi-epanel-group="web-component-details")
    .chi-epanel__header
      .chi-epanel__title.-w--100(data-chi-epanel-action="toggle")
        i.chi-icon.icon-chevron-right.-mr--2(aria-hidden="true")
        | Robust
      p.-text.-ml--4.-mt--0
        | Content must be robust enough that it can be interpreted reliably by a wide variety of user agents, including assistive technologies.
      p.-text.-ml--4.-my--0
        | <strong>Ask:</strong> Is the website compliant with the standards, and does it work with the assistive technologies - including websites, online documents,  multimedia and other information formats?
    .chi-epanel__collapse
      .-active--only
        .chi-epanel__body
          .chi-epanel__content
            .chi-epanel__text
              ul.-text
                li <a class="-text--bold" target="_blank" href="https://www.w3.org/TR/WCAG20/#ensure-compat" rel="noopener noreferrer">4.1 Compatible:</a> Maximize compatibility with current and future user agents, including assistive technologies.
script.
  chi.expansionPanel(
    document.querySelectorAll('[data-chi-epanel-group="web-component-details"]'),
    {mode: 'accordion'}
  );
