---
title: Using the keyboard
disabled: true
---

p.-text
  | Blind users and users with motor disabilities must use the keyboard for navigation. These users may use traditional
  | keyboards, but some users may use modified keyboards or other hardware to mimic keyboard functionality.
p.-text
  | All content needs to be accessed using the keyboard alone. When using the keyboard only to ensure that all interactions
  | are predictable. Below are some of the keystrokes used to navigate a web site.  
ul.-text
  li Tab and Shift + Tab key(s) to navigate towards and backwards through links and form controls.
  li Enter (and sometimes spacebar) to select an element. 
  li Arrow keys are sometimes used for other navigation.
  li Esc to close dialog boxes.
  li Home / End goes to beginning or end.
p.-text
  | Visit <a target="_blank" href="https://webaim.org/techniques/keyboard/" rel="noopener">WebAIM</a> for keyboard techniques.
h2 Info and Relationships
div.chi-grid
  .chi-col.-w-sm--12.-w-md--8
    div.-d--flex.-justify-content--start.-align-items--center
      .chi-badge.-primary.-xs.-mr--1
        span A
      p.-text.-my--0
        | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#content-structure-separation-programmatic" rel="noopener">1.3.1 Info and Relationships</a>
    p.-text
      | Information, structure, and relationships conveyed through presentation can be programmatically determined or are available in text.
    p.-text
      | Use a screen reader (with your eyes closed):
    ul.-text
      li 
        i.chi-icon.-xs.-icon--primary.icon-checkbox-checked.-mr--1
        | Is all content and functionality available to a screen reader?
      li
        i.chi-icon.-xs.-icon--primary.icon-checkbox-checked.-mr--1
        | Does the user have access to all information and features on the page?
      li
        i.chi-icon.-xs.-icon--primary.icon-checkbox-checked.-mr--1
        | Can the user complete all tasks independently?
  .chi-col.-w-sm--12.-w-md--4
    div.-d--flex.-justify-content--start.-align-items--center
      p.-text.-text--bold.-my--0
        | WCAG 2.0 Guideline
      .chi-badge.-dark.-outline.-xs.-ml--1
        span Perceivable
    p.-text.-mt--1
      | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#content-structure-separation" rel="noopener">1.3 Adaptable</a>
    p.-text
      | <strong>Benefits:</strong> Blind keyboard user
h2 Keyboard
div.chi-grid
  .chi-col.-w-sm--12.-w-md--8
    div.-d--flex.-justify-content--start.-align-items--center
      .chi-badge.-primary.-xs.-mr--1
        span A
      p.-text.-my--0
        | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#keyboard-operation-keyboard-operable" rel="noopener">2.1.1 Keyboard</a>
    p.-text
      | All functionality of the content is operable through a keyboard interface without requiring specific timings for individual keystrokes,
      | except where the underlying function requires input that depends on the path of the user's movement and not just the endpoints.
    p.-text
      | Fully interact with every interactive aspect of a web page using your keyboard alone - do not use a mouse.
    ul.-text
      li 
        i.chi-icon.-xs.-icon--primary.icon-checkbox-checked.-mr--1
        | Can the user access the full functionality of the page or application using a keyboard alone?
      li 
        i.chi-icon.-xs.-icon--primary.icon-checkbox-checked.-mr--1
        | Is all information or functionality accessible and operable with a keyboard alone, that would typically be triggered with a mouse?
  .chi-col.-w-sm--12.-w-md--4
    div.-d--flex.-justify-content--start.-align-items--center
      p.-text.-text--bold.-my--0
        | WCAG 2.0 Guideline
      .chi-badge.-dark.-outline.-xs.-ml--1
        span Operable
    p.-text.-mt--1
      | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#keyboard-operation" rel="noopener">2.1 Keyboard accesible</a>
    p.-text
      | <strong>Benefits:</strong> Keyboard users (typically people with visual and / or motor / physical disabilities).

h2 No keyboard trap
div.chi-grid
  .chi-col.-w-sm--12.-w-md--8
    div.-d--flex.-justify-content--start.-align-items--center
      .chi-badge.-primary.-xs.-mr--1
        span A
      p.-text.-my--0
        | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#keyboard-operation-trapping" rel="noopener">2.1.2 No Keyboard Trap</a>
    p.-text
      | If keyboard focus can be moved to a component of the page (such as a plugin) using a keyboard interface, then focus can be moved away
      | from that component using only a keyboard interface, and, if it requires more than unmodified arrow or tab keys or other standard 
      | exit methods, the user is advised of the method for moving focus away.
    ul.-text
      li 
        i.chi-icon.-xs.-icon--primary.icon-checkbox-checked.-mr--1
        | Can the keyboard user be trapped in a subset of the content that can only be exited using a mouse or pointing device?
      li 
        i.chi-icon.-xs.-icon--primary.icon-checkbox-checked.-mr--1
        | Is there a keyboard mechanism to return focus to the parent window?
      li 
        i.chi-icon.-xs.-icon--primary.icon-checkbox-checked.-mr--1
        | Can the keyboard function for advancing focus within content (commonly the tab key) exit the subset of the content after reaching 
        | the final navigation location?
      li 
        i.chi-icon.-xs.-icon--primary.icon-checkbox-checked.-mr--1
        | Is help information available for the Web page documents on how to move focus from the content that is not accessibility-supported
        | to the accessibility-supported content via the keyboard?
      li 
        i.chi-icon.-xs.-icon--primaryicon-checkbox-checked.-mr--1
        | Can the help information be accessed via the keyboard?
  .chi-col.-w-sm--12.-w-md--4
    div.-d--flex.-justify-content--start.-align-items--center
      p.-text.-text--bold.-my--0
        | WCAG 2.0 Guideline
      .chi-badge.-dark.-outline.-xs.-ml--1
        span Operable
    p.-text.-mt--1
      | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#keyboard-operation" rel="noopener">2.1 Keyboard accesible</a>
    p.-text
      | <strong>Benefits:</strong> Keyboard users (typically people with visual and / or motor / physical disabilities).

h2 Focus order
div.chi-grid
  .chi-col.-w-sm--12.-w-md--8
    div.-d--flex.-justify-content--start.-align-items--center
      .chi-badge.-primary.-xs.-mr--1
        span A
      p.-text.-my--0
        | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-focus-order" rel="noopener">2.4.3 Focus Order</a>
    p.-text
      | If a Web page can be navigated sequentially and the navigation sequences affect meaning or operation, focusable components receive
      | focus in an order that preserves meaning and operability.
    p.-text
      | Tab through the page using only the keyboard.
    ul.-text
      li 
        i.chi-icon.-xs.-icon--primary.icon-checkbox-checked.-mr--1
        | Is the navigation order logical and intuitive?
      li 
        i.chi-icon.-xs.-icon--primary.icon-checkbox-checked.-mr--1
        | Does the tab order makes sense?
  .chi-col.-w-sm--12.-w-md--4
    div.-d--flex.-justify-content--start.-align-items--center
      p.-text.-text--bold.-my--0
        | WCAG 2.0 Guideline
      .chi-badge.-dark.-outline.-xs.-ml--1
        span Operable
    p.-text.-mt--1
      | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms" rel="noopener">2.4 Navigable</a>
    p.-text
      | <strong>Benefits:</strong> Keyboard users (typically people with visual and / or motor / physical disabilities).

h2 Focus visible
div.chi-grid
  .chi-col.-w-sm--12.-w-md--8
    div.-d--flex.-justify-content--start.-align-items--center
      .chi-badge.-primary.-xs.-mr--1
        span AA
      p.-text.-my--0
        | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms-focus-visible" rel="noopener">2.4.7 Focus Visible</a>
    p.-text
      | Any keyboard operable user interface has a mode of operation where the keyboard focus indicator is visible.
    p.-text
      | Tab through the page using only the keyboard.
    ul.-text
      li 
        i.chi-icon.-xs.-icon--primary.icon-checkbox-checked.-mr--1
        | Can the user always see which element on the page has focus?
  .chi-col.-w-sm--12.-w-md--4
    div.-d--flex.-justify-content--start.-align-items--center
      p.-text.-text--bold.-my--0
        | WCAG 2.0 Guideline
      .chi-badge.-dark.-outline.-xs.-ml--1
        span Operable
    p.-text.-mt--1
      | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms" rel="noopener">2.4 Navigable</a>
    p.-text
      | <strong>Benefits:</strong> Keyboard users (typically people with visual and / or motor / physical disabilities).
