h3 Empty
h4 No Results

.example.-mb--3
  .-p--3
    #no-results(style="min-height: 5.2rem;")
      chi-vue-data-table(:config='config', :data-table-data='table')
  .example-tabs.-pl--2
    ul.chi-tabs#example-no-results
      li.-disabled
        a(href=`#webcomponent-no-results`) Web Component
      li.-active
        a(href=`#vue-no-results`) Vue
      li
        a(href=`#html-no-results`) HTML Blueprint
  .chi-tabs-panel#webcomponent-no-results
  .chi-tabs-panel.-active#vue-no-results
    .chi-tab__description Use <code>noResultsMessage</code> config to customize the no results data message
    :code(lang='html')
      <!-- Vue component -->
      <ChiDataTable :config="config" :dataTableData="table"></ChiDataTable>

      <!-- Config and Data -->
      data() {
        return {
          config: {
            columnResize: true,
            noResultsMessage: 'No matching results',
            style: {
              portal: false,
              noBorder: false,
              bordered: false,
              hover: false,
              size: 'md',
              striped: false,
            },
            pagination: {
              activePage: 1,
              compact: false,
              firstLast: false,
              pageJumper: true,
            },
            resultsPerPage: 3,
          },
          table: {
            head: {
              name: { label: 'Name' },
              id: { label: 'ID' },
              lastLogin: { label: 'Last Login' },
            },
            body: []
          }
        }
      }
  .chi-tabs-panel#html-no-results
    :code(lang="html")
      <div class="chi-data-table">
        <div class="chi-data-table__head">
          <div class="chi-data-table__row">
            <div class="chi-data-table__cell">
              <div>Name</div>
            </div>
            <div class="chi-data-table__cell">
              <div>ID</div>
            </div>
            <div class="chi-data-table__cell">
              <div>Last Login</div>
            </div>
          </div>
        </div>
        <div class="chi-data-table__body">
          <div class="chi-data-table__row-empty">
            <div>No matching results</div>
          </div>
        </div>
      </div>

h4 No Filters

.example.-mb--3
  .-p--3
    #no-filters(style="min-height: 5.2rem;")
      chi-vue-data-table(:config='config', :data-table-data='table')
  .example-tabs.-pl--2
    ul.chi-tabs#example-no-filters
      li.-disabled
        a(href=`#webcomponent-no-filters`) Web Component
      li.-active
        a(href=`#vue-no-filters`) Vue
      li
        a(href=`#html-no-filters`) HTML Blueprint
  .chi-tabs-panel#webcomponent-no-filters
  .chi-tabs-panel.-active#vue-no-filters
    .chi-tab__description Use <code>noFiltersMessage</code> config to customize the no filters data message
    :code(lang='html')
      <!-- Vue component -->
      <ChiDataTable :config="config" :dataTableData="table"></ChiDataTable>

      <!-- Config and Data -->
      data() {
        return {
          config: {
            columnResize: true,
            noFiltersMessage: "Search for or select at least one filter to get results",
            style: {
              portal: false,
              noBorder: false,
              bordered: false,
              hover: false,
              size: 'md',
              striped: false,
            },
            pagination: {
              activePage: 1,
              compact: false,
              firstLast: false,
              pageJumper: true,
            },
            resultsPerPage: 3,
          },
          table: {
            head: {
              name: { label: 'Name' },
              id: { label: 'ID' },
              lastLogin: { label: 'Last Login' },
            },
            body: []
          }
        }
      }
  .chi-tabs-panel#html-no-filters
    :code(lang="html")
      <div class="chi-data-table">
        <div class="chi-data-table__head">
          <div class="chi-data-table__row">
            <div class="chi-data-table__cell">
              <div>Name</div>
            </div>
            <div class="chi-data-table__cell">
              <div>ID</div>
            </div>
            <div class="chi-data-table__cell">
              <div>Last Login</div>
            </div>
          </div>
        </div>
        <div class="chi-data-table__body">
          <div class="chi-data-table__row-empty">
            <i class="-mr--1 chi-icon icon-search"></i>
            Search for or select at least one filter to get results
          </div>
        </div>
      </div>

h4 Empty Actionable

.example.-mb--3
  .-p--3
    #empty-actionable
      chi-vue-data-table(:config='config', :data-table-data='table')
  .example-tabs.-pl--2
    ul.chi-tabs#example-empty-actionable
      li.-disabled
        a(href=`#webcomponent-empty-actionable`) Web Component
      li.-active
        a(href=`#vue-empty-actionable`) Vue
      li
        a(href=`#html-empty-actionable`) HTML Blueprint
  .chi-tabs-panel#webcomponent-empty-actionable
  .chi-tabs-panel.-active#vue-empty-actionable
  :code(lang='html')
    <!-- Vue component -->
    <ChiDataTable :config="config" :dataTableData="table"></ChiDataTable>

    <!-- Config and Data -->
    data() {
      return {
        config: {
          columnResize: true,
          style: {
            portal: false,
            noBorder: false,
            bordered: false,
            hover: false,
            size: 'md',
            striped: false,
          },
          pagination: {
            activePage: 1,
            compact: false,
            firstLast: false,
            pageJumper: true,
          },
          resultsPerPage: 3,
          emptyActionable: {
            isActionable: true,
          },
        },
        table: {
          head: {
            name: { label: 'Name' },
            id: { label: 'ID' },
            lastLogin: { label: 'Last Login' },
          },
          body: []
        }
      }
    }
  .chi-tabs-panel#html-empty-actionable
    :code(lang="html")
      <div class="chi-data-table">
        <div class="chi-data-table__head">
          <div class="chi-data-table__row">
            <div class="chi-data-table__cell">
              <div>Name</div>
            </div>
            <div class="chi-data-table__cell">
              <div>ID</div>
            </div>
            <div class="chi-data-table__cell">
              <div>Last Login</div>
            </div>
          </div>
        </div>
        <div class="chi-data-table__body">
          <div class="chi-data-table__row-empty -actionable">
            <div>
              <i class="chi-icon icon-circle-plus-outline -icon--grey" aria-hidden="true"></i>
              <span>
                <a>Add a new or existing service</a>, then manage here.
              </span>
            </div>
          </div>
        </div>
      </div>

script.
  const noResultsApp = Vue.createApp({
    data() {
      return {
        config: {
          columnResize: true,
          noResultsMessage: 'No matching results',
          style: {
            portal: false,
            noBorder: false,
            bordered: false,
            hover: false,
            size: 'md',
            striped: true,
          },
          pagination: {
            activePage: 1,
            compact: false,
            firstLast: false,
            pageJumper: true,
          },
          resultsPerPage: 3,
        },
        table: {
          head: {
            name: { label: 'Name' },
            id: { label: 'ID' },
            lastLogin: { label: 'Last Login' },
          },
          body: [],
        }
      }
    },
  });

  noResultsApp.component('chiVueDataTable', window["chi-vue"].library.components.ChiDataTable);
  noResultsApp.mount('#no-results');

  const noFiltersApp = Vue.createApp({
    data() {
      return {
        config: {
          columnResize: true,
          noResultsMessage: "Search for or select at least one filter to get results",
          style: {
            portal: false,
            noBorder: false,
            bordered: false,
            hover: false,
            size: 'md',
            striped: true,
          },
          pagination: {
            activePage: 1,
            compact: false,
            firstLast: false,
            pageJumper: true,
          },
          resultsPerPage: 3,
        },
        table: {
          head: {
            name: {label: 'Name'},
            id: {label: 'ID'},
            lastLogin: {label: 'Last Login'},
          },
          body: [],
        }
      }
    },
  });

  noFiltersApp.component('chiVueDataTable', window["chi-vue"].library.components.ChiDataTable);
  noFiltersApp.mount('#no-filters');

  const emptyActionableApp = Vue.createApp({
    data() {
      return {
        config: {
          columnResize: true,
          style: {
            portal: false,
            noBorder: false,
            bordered: false,
            hover: false,
            size: 'md',
            striped: true,
          },
          pagination: {
            activePage: 1,
            compact: false,
            firstLast: false,
            pageJumper: true,
          },
          resultsPerPage: 3,
          emptyActionable: {
            isActionable: true,
          },
        },
        table: {
          head: {
            name: { label: 'Name' },
            id: { label: 'ID' },
            lastLogin: { label: 'Last Login' },
          },
          body: [],
        }
      }
    },
  });

  emptyActionableApp.component('chiVueDataTable', window["chi-vue"].library.components.ChiDataTable);
  emptyActionableApp.mount('#empty-actionable');

  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelector('#example-no-results'));
      chi.tab(document.querySelector('#example-no-filters'));
      chi.tab(document.querySelector('#example-empty-actionable'));
    }
  );
