@import 'alert-common';

.chi {
  .m-alert {
    &.-bubble {

      & > button {
        background-color: transparent;
        background-image: url('./icon-close.svg');
        border: 0;
        cursor: pointer;
        height: 1.5rem;
        outline: none;
        padding: 0;
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        width: 1.5rem;
      }

      &.-small {
        &::before {
          display: none;
        }
      }

      &.-large {
        padding-bottom: 2.375rem;
        padding-top: 1.5rem;

        & > button {
          top: 1.875rem;
          transform: initial;
        }

        &::before {
          font-size: 2rem;
          line-height: 3rem;
          margin-bottom: 0.875rem;
        }
      }

      @each $state in map-keys($states) {
        &.-#{$state} {
          &.-hasIcon {
            &.-small {
              padding-left: 4.875rem;

              &::after {
                height: 2rem;
                left: 1.875rem;
                width: 2rem;
              }
            }

            &.-large {
              &::after {
                height: 3rem;
                left: 1.875rem;
                top: 1.875rem;
                transform: initial;
                width: 3rem;
              }
            }
          }
        }
      }
    }
  }
}
