h2 Examples
#exampleHashTarget.-position--fixed-top.-sr--only

h3 Horizontal
ul#chi-tabs--menu.chi-tabs
  li.-active
    a(href='#chi-tabs-panel--horizontal-base') Base
  li
    a(href='#chi-tabs-panel--horizontal-inverse') Inverse
.example.-mb--3
  #chi-tabs-panel--horizontal-base.chi-tabs-panel.-active
    .-p--3.-bg--grey-20
      .-bg--white.-px--3
        ul.chi-tabs#example-horizontal-base
          li.-active
            a(href='#horizontal-base-1') Active Tab
          li
            a(href='#horizontal-base-2') Tab Link
          li
            a(href='#horizontal-base-3') Tab Link
        .-py--3
          .chi-tabs-panel.-active#horizontal-base-1
            .-text Tab 1 content
          .chi-tabs-panel#horizontal-base-2
            .-text Tab 2 content
          .chi-tabs-panel#horizontal-base-3
            .-text Tab 3 content
    .example-tabs.-pl--2
      ul.chi-tabs#example-base
        li.-disabled
          a(href=`#webcomponent-base`) Web Component
        li.-active
          a(href=`#html-base`) HTML Blueprint
    .chi-tabs-panel#webcomponent-base
    .chi-tabs-panel.-active#html-base
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang='html')
        <ul class="chi-tabs" id="example-horizontal-base">
          <li class="-active"><a href="#horizontal-base-1">Active Tab</a></li>
          <li><a href="#horizontal-base-2">Tab Link</a></li>
          <li><a href="#horizontal-base-3">Tab Link</a></li>
        </ul>

        <div class="chi-tabs-panel -active" id="horizontal-base-1">Tab 1 content</div>
        <div class="chi-tabs-panel" id="horizontal-base-2">Tab 2 content</div>
        <div class="chi-tabs-panel" id="horizontal-base-3">Tab 3 content</div>

        <script>chi.tab(document.getElementById('example-horizontal-base'));</script>

  #chi-tabs-panel--horizontal-inverse.chi-tabs-panel
    .-p--3.-bg--grey-20
      .-bg--black.-px--3
        ul.chi-tabs.-inverse#example-horizontal-inverse
          li.-active
            a(href='#horizontal-inverse-1') Active Tab
          li
            a(href='#horizontal-inverse-2') Tab Link
          li
            a(href='#horizontal-inverse-3') Tab Link
      .-bg--white.-p--3
        .chi-tabs-panel.-active#horizontal-inverse-1
          .-text Tab 1 content
        .chi-tabs-panel#horizontal-inverse-2
          .-text Tab 2 content
        .chi-tabs-panel#horizontal-inverse-3
          .-text Tab 3 content
    .example-tabs.-pl--2
      ul.chi-tabs#example-base-inverse
        li.-disabled
          a(href=`#webcomponent-base-inverse`) Web Component
        li.-active
          a(href=`#html-base-inverse`) HTML Blueprint
    .chi-tabs-panel#webcomponent-base-inverse
    .chi-tabs-panel.-active#html-base-inverse
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang='html')
        <ul class="chi-tabs -inverse" id="example-horizontal-inverse">
          <li class="-active"><a href="#horizontal-inverse-1">Active Tab</a></li>
          <li><a href="#horizontal-inverse-2">Tab Link</a></li>
          <li><a href="#horizontal-inverse-3">Tab Link</a></li>
        </ul>

        <div class="chi-tabs-panel -active" id="horizontal-inverse-1">Tab 1 content</div>
        <div class="chi-tabs-panel" id="horizontal-inverse-2">Tab 2 content</div>
        <div class="chi-tabs-panel" id="horizontal-inverse-3">Tab 3 content</div>

        <script>chi.tab(document.getElementById('example-horizontal-inverse'));</script>

h3 Vertical
ul#chi-tabs--menu-vertical.chi-tabs
  li.-active
    a(href='#chi-tabs-panel--vertical-base') Base
  li
    a(href='#chi-tabs-panel--vertical-inverse') Inverse
.example.-mb--3
  #chi-tabs-panel--vertical-base.chi-tabs-panel.-active
    .-p--3.-bg--grey-20
      .chi-grid.-no-gutter.-bg--white
        .chi-col.-w--6.-w-sm--4.-p--3
          ul.chi-tabs.-vertical#example-vertical-base
            li.-active
              a(href='#vertical-base-1') Active Tab
            li
              a(href='#vertical-base-2') Tab Link
            li
              a(href='#vertical-base-3') Tab Link
        .chi-col.-p--3
          .chi-tabs-panel.-active#vertical-base-1
            .-text Tab 1 content
          .chi-tabs-panel#vertical-base-2
            .-text Tab 2 content
          .chi-tabs-panel#vertical-base-3
            .-text Tab 3 content
    .example-tabs.-pl--2
      ul.chi-tabs#example-vertical
        li.-disabled
          a(href=`#webcomponent-vertical`) Web Component
        li.-active
          a(href=`#html-vertical`) HTML Blueprint
    .chi-tabs-panel#webcomponent-vertical
    .chi-tabs-panel.-active#html-vertical
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang='html')
        <ul class="chi-tabs -vertical" id="example-vertical-base">
          <li class="-active"><a href="#vertical-base-1">Active Tab</a></li>
          <li><a href="#vertical-base-2">Tab Link</a></li>
          <li><a href="#vertical-base-3">Tab Link</a></li>
        </ul>

        <div class="chi-tabs-panel -active" id="vertical-base-1">Tab 1 content</div>
        <div class="chi-tabs-panel" id="vertical-base-2">Tab 2 content</div>
        <div class="chi-tabs-panel" id="vertical-base-3">Tab 3 content</div>

        <script>chi.tab(document.getElementById('example-vertical-base'));</script>
  #chi-tabs-panel--vertical-inverse.chi-tabs-panel
    .-p--3.-bg--grey-20
      .chi-grid.-no-gutter.-bg--black
        .chi-col.-w--6.-w-sm--4.-p--3
          ul.chi-tabs.-inverse.-vertical#example-vertical-inverse
            li.-active
              a(href='#vertical-inverse-1') Active Tab
            li
              a(href='#vertical-inverse-2') Tab Link
            li
              a(href='#vertical-inverse-3') Tab Link
        .chi-col.-bg--white.-p--3
          .chi-tabs-panel.-active#vertical-inverse-1
            .-text Tab 1 content
          .chi-tabs-panel#vertical-inverse-2
            .-text Tab 2 content
          .chi-tabs-panel#vertical-inverse-3
            .-text Tab 3 content
    .example-tabs.-pl--2
      ul.chi-tabs#example-vertical-inverse-tabs
        li.-disabled
          a(href=`#webcomponent-vertical-inverse`) Web Component
        li.-active
          a(href=`#html-vertical-inverse`) HTML Blueprint
    .chi-tabs-panel#webcomponent-vertical-inverse
    .chi-tabs-panel.-active#html-vertical-inverse
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang='html')
        <ul class="chi-tabs -inverse -vertical" id="example-vertical-inverse">
          <li class="-active"><a href="#vertical-inverse-1">Active Tab</a></li>
          <li><a href="#vertical-inverse-2">Tab Link</a></li>
          <li><a href="#vertical-inverse-3">Tab Link</a></li>
        </ul>

        <div class="chi-tabs-panel -active" id="vertical-inverse-1">Tab 1 content</div>
        <div class="chi-tabs-panel" id="vertical-inverse-2">Tab 2 content</div>
        <div class="chi-tabs-panel" id="vertical-inverse-3">Tab 3 content</div>

        <script>chi.tab(document.getElementById('example-vertical-inverse'));</script>

h2 Keep default link behavior
p.-text
  | By default, Chi JavaScript enabled tabs will ignore default link behavior.
  | To preserve it, specify a target property on the link.
.example.-mb--3
  .-p--3.-pb--4
    ul#example-default-link-behavior.chi-tabs
      li.-active
        a(href='#a2') Tab a
      li
        a(href='#b2') Tab b
      li
        a(href='#c2') Tab c
      li
        a(href='https://assets.ctl.io/chi/', target='_self') External Link

    #a2.chi-tabs-panel.-active
      p.-text Content for tab a
    #b2.chi-tabs-panel
      p.-text Content for tab b
    #c2.chi-tabs-panel
      p.-text Content for tab c
  .example-tabs.-pl--2
    ul.chi-tabs#example-target-link
      li.-disabled
        a(href=`#webcomponent-target-link`) Web Component
      li.-active
        a(href=`#html-target-link`) HTML Blueprint
  .chi-tabs-panel#webcomponent-target-link
  .chi-tabs-panel.-active#html-target-link
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang='html')
      <ul class="chi-tabs" id="example-tabs-2">
        <li class="-active"><a href="#a">Tab a</a></li>
        <li><a href="#b">Tab b</a></li>
        <li><a href="#c">Tab c</a></li>
        <li><a href="https://assets.ctl.io/chi/" target="_self">External Link</a></li>
      </ul>

      <div class="chi-tabs-panel -active" id="a">
        <p class="-text">Content for tab a</p>
      </div>
      <div class="chi-tabs-panel" id="b">
        <p class="-text">Content for tab b</p>
      </div>
      <div class="chi-tabs-panel" id="c">
        <p class="-text">Content for tab c</p>
      </div>

      <script>chi.tab(document.getElementById('example-tabs-2'));</script>

h2 Tabbed navigation bar

p.-text
  | The navigation component is a combination of Chi tabs and dropdowns components. You must use
  | <code>chi.navigation</code> function to instantiate the whole group of components, and there is no need for
  | instantiating the tabs nor the dropdowns independently. The navigation components will manage the lifecycle of the
  | descendants' tabs and dropdowns.

p.-text
  | Although navigation reproduces all the functionality that tabs and dropdowns have, like the sliding border or the
  | animated chevron in the dropdowns, it also adds some other new functionalities like the automatic overflow menu,
  | or a wait-for-animation option.

.example.-mb--3
  .-p--3.-pb--4
    ul.chi-tabs.chi-navigationExample#example-tabbed-navigation
      li.chi-dropdown.-active
        a.chi-dropdown__trigger(href='#') Active tab
        .chi-dropdown__menu
          a.chi-dropdown__menu-item(href='#exampleHashTarget') Elem 1
          a.chi-dropdown__menu-item(href='#exampleHashTarget') Elem 2
          div
            a.chi-dropdown__menu-item.chi-dropdown__trigger(href='#') Elem 3 more
            .chi-dropdown__menu
              a.chi-dropdown__menu-item(href='#exampleHashTarget') Elem 3.1
              a.chi-dropdown__menu-item(href='#exampleHashTarget') Elem 3.2
              a.chi-dropdown__menu-item(href='#exampleHashTarget') Elem 3.3
              a.chi-dropdown__menu-item(href='#exampleHashTarget') Elem 3.4
          a.chi-dropdown__menu-item(href='#exampleHashTarget') Elem 4
      li
        a(href='#exampleHashTarget') Tab Link
      li
        a(href='#exampleHashTarget') Tab Link
      li
        a(href='#exampleHashTarget') Tab Link
      li
        a(href='#exampleHashTarget') Tab Link
      li
        a(href='#exampleHashTarget') Tab Link
      li
        a(href='#exampleHashTarget') Tab Link
      li.chi-dropdown
        a.chi-dropdown__trigger(href='#') Tab Dropdown
        .chi-dropdown__menu
          a.chi-dropdown__menu-item(href='#exampleHashTarget') Element 1
          a.chi-dropdown__menu-item(href='#exampleHashTarget') Element 2
          a.chi-dropdown__menu-item(href='#exampleHashTarget') Element 3
  .example-tabs.-pl--2
    ul.chi-tabs#example-tabs-tabbed-navigation
      li.-disabled
        a(href=`#webcomponent-tabbed-navigation`) Web Component
      li.-active
        a(href=`#html-tabbed-navigation`) HTML Blueprint
  .chi-tabs-panel#webcomponent-tabbed-navigation
  .chi-tabs-panel.-active#html-tabbed-navigation
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang='html')
      <ul id="navigationExample-1" class="chi-tabs">
        <li class="chi-dropdown -active">
          <a class="chi-dropdown__trigger" href="#">Active tab</a>
          <div class="chi-dropdown__menu">
            <a class="chi-dropdown__menu-item" href="#">Elem 1</a>
            <a class="chi-dropdown__menu-item" href="#">Elem 2</a>
            <div>
              <a class="chi-dropdown__menu-item chi-dropdown__trigger" href="#">Elem 3 more</a>
              <div class="chi-dropdown__menu">
                <a class="chi-dropdown__menu-item" href="#">Elem 3.1</a><a class="chi-dropdown__menu-item" href="#">Elem 3.2</a><a class="chi-dropdown__menu-item" href="#">Elem 3.3</a><a class="chi-dropdown__menu-item" href="#">Elem 3.4</a>
              </div>
            </div>
            <a class="chi-dropdown__menu-item" href="#">Elem 4</a>
          </div>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li class="chi-dropdown">
          <a class="chi-dropdown__trigger" href="#">Tab Dropdown</a>
          <div class="chi-dropdown__menu">
            <a class="chi-dropdown__menu-item" href="#">Element 1</a>
            <a class="chi-dropdown__menu-item" href="#">Element 2</a>
            <a class="chi-dropdown__menu-item" href="#">Element 3</a>
          </div>
        </li>
      </ul>

      <script>
        const navigationElem = document.getElementById('#navigationExample-1');
        chi.navigation(navigationElem);
      </script>

h3 Components contained
p.-text
  | As navigation component is built from other primitive Chi components, most of the components behavior
  | can be replicated on the navigation component. For example, you can use the <code>-animate</code> class
  | on the dropdowns to make the chevron rotate when activated.
.example.-mb--3
  .-p--3.-pb--4
    ul.chi-tabs.chi-navigationExample#navigation-components-contained
      li.chi-dropdown.-active
        a.chi-dropdown__trigger.-animate(href='#') Active Tab
        .chi-dropdown__menu
          a.chi-dropdown__menu-item(href='#exampleHashTarget') Elem 1
          a.chi-dropdown__menu-item(href='#exampleHashTarget') Elem 2
          div
            a.chi-dropdown__menu-item.chi-dropdown__trigger.-animate(href='#') Elem 3 more
            .chi-dropdown__menu
              a.chi-dropdown__menu-item(href='#exampleHashTarget') Elem 3.1
              a.chi-dropdown__menu-item(href='#exampleHashTarget') Elem 3.2
              a.chi-dropdown__menu-item(href='#exampleHashTarget') Elem 3.3
              a.chi-dropdown__menu-item(href='#exampleHashTarget') Elem 3.4
          a.chi-dropdown__menu-item(href='#') Elem 4
      li
        a(href='#exampleHashTarget') Tab Link
      li
        a(href='#exampleHashTarget') Tab Link
      li.chi-dropdown
        a.chi-dropdown__trigger.-animate(href='#') Tab Link
        .chi-dropdown__menu
          a.chi-dropdown__menu-item(href='#exampleHashTarget') Element 1
          a.chi-dropdown__menu-item(href='#exampleHashTarget') Element 2
          a.chi-dropdown__menu-item(href='#exampleHashTarget') Element 3
  .example-tabs.-pl--2
    ul.chi-tabs#example-nav-contained
      li.-disabled
        a(href=`#webcomponent-nav-contained`) Web Component
      li.-active
        a(href=`#html-nav-contained`) HTML Blueprint
  .chi-tabs-panel#webcomponent-nav-contained
  .chi-tabs-panel.-active#html-nav-contained
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang='html')
      <ul class="chi-tabs" id="navigation-components-contained">
        <li class="chi-dropdown -active">
          <a class="chi-dropdown__trigger -animate" href="#">Active Tab</a>
          <div class="chi-dropdown__menu" x-placement="bottom-start">
            <a class="chi-dropdown__menu-item" href="#">Elem 1</a><a class="chi-dropdown__menu-item" href="#">Elem 2</a>
            <div>
              <a class="chi-dropdown__menu-item chi-dropdown__trigger" href="#">Elem 3 more</a>
              <div class="chi-dropdown__menu">
                <a class="chi-dropdown__menu-item" href="#">Elem 3.1</a><a class="chi-dropdown__menu-item" href="#">Elem 3.2</a><a class="chi-dropdown__menu-item" href="#">Elem 3.3</a><a class="chi-dropdown__menu-item" href="#">Elem 3.4</a>
              </div>
            </div><a class="chi-dropdown__menu-item" href="#">Elem 4</a>
          </div>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li class="chi-dropdown">
          <a class="chi-dropdown__trigger" href="#">Tab Link</a>
          <div class="chi-dropdown__menu">
            <a class="chi-dropdown__menu-item" href="#">Element 1</a><a class="chi-dropdown__menu-item" href="#">Element 2</a><a class="chi-dropdown__menu-item" href="#">Element 3</a>
          </div>
        </li>
      </ul>

      <script>chi.navigation(document.getElementById('navigation-components-contained'));</script>

h3 Wait for animations
p.-text
  | Browsers stop any execution of JavaScript as soon as a link is clicked and it starts to fetch the destination URL.
  | For this reason, the sliding border animation will not be perceived by the user when an external link is clicked, as
  | the animation will not be done, an this can be confusing for the user. To prevent this possible confusion, this
  | component has the option to wait for the animation to finish and, then, it will redirect the user to the destination
  | URL. You can enable this behavior by setting the <code>waitForAnimations</code> option to <code>true</code>.
ul.chi-tabs#example-4-switch
  li.-active
    a(href='#example-4__enabled') Enabled
  li
    a(href='#example-4__disabled') Disabled
.chi-tabs-panel.-active#example-4__enabled
  .example.-mb--3
    .-p--3.-pb--4
      ul.chi-tabs.chi-navigationExample.chi-customExample
        li.-active
          a(href='?tab=1') Tab Link
        li
          a(href='?tab=2') Tab Link
        li
          a(href='?tab=3') Tab Link
        li
          a(href='?tab=4') Tab Link
        li
          a(href='?tab=5') Tab Link
        li
          a(href='?tab=6') Tab Link
    .example-tabs.-pl--2
      ul.chi-tabs#example-nav4-enabled
        li.-disabled
          a(href=`#webcomponent-nav4-enabled`) Web Component
        li.-active
          a(href=`#html-nav4-enabled`) HTML Blueprint
    .chi-tabs-panel#webcomponent-nav4-enabled
    .chi-tabs-panel.-active#html-nav4-enabled
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang='html')
        <ul id="navigationexample-4-enabled" class="chi-tabs">
          <li class="-active">
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
        </ul>
        <script>
          const navigationElem = document.getElementById('#navigationexample-4-enabled');
          chi.navigation(
            navigationElem,
            {waitForAnimations: true}
          );
        </script>
.chi-tabs-panel#example-4__disabled
  .example.-mb--3
    .-p--3.-pb--4
      ul.chi-tabs.chi-navigationExample.chi-customExample
        li.-active
          a(href='?tab=1') Tab Link
        li
          a(href='?tab=2') Tab Link
        li
          a(href='?tab=3') Tab Link
        li
          a(href='?tab=4') Tab Link
        li
          a(href='?tab=5') Tab Link
        li
          a(href='?tab=6') Tab Link
    .example-tabs.-pl--2
      ul.chi-tabs#example-nav4-disabled
        li.-disabled
          a(href=`#webcomponent-nav4-disabled`) Web Component
        li.-active
          a(href=`#html-nav4-disabled`) HTML Blueprint
    .chi-tabs-panel#webcomponent-nav4-disabled
    .chi-tabs-panel.-active#html-nav4-disabled
      .chi-tab__description
        span.-text--grey
          | This HTML Blueprint requires JavaScript.
          | You may use your own solution, or use Chi's vanilla JavaScript solution,
          | <a href="../../getting-started/installation">Chi.js</a>.
      :code(lang='html')
        <ul id="navigationexample-4-disabled" class="chi-tabs">
          <li class="-active">
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
          <li>
            <a href="/">Tab Link</a>
          </li>
        </ul>
        <script>
          const navigationElem = document.getElementById('#navigationexample-4-disabled');
          chi.navigation(
            navigationElem,
            {waitForAnimations: false}
          );
        </script>

h2 Icons
h3 Horizontal tabs with icons
ul#chi-tabs--menu-horizontal-icons.chi-tabs
  li.-active
    a(href='#chi-tabs-panel--horizontal-icons-base') Base
  li
    a(href='#chi-tabs-panel--horizontal-icons-inverse') Inverse
.example.-mb--3
  .chi-tabs-panel.-active#chi-tabs-panel--horizontal-icons-base
    .-p--3.-bg--grey-20
      .-bg--white.-px--3
        ul.chi-tabs.-icons
          li.-active
            a(href='#')
              i.chi-icon.icon-atom
              span Active Tab
          li
            a(href='#')
              i.chi-icon.icon-atom
              span Tab Link
          li
            a(href='#')
              i.chi-icon.icon-atom
              span Tab Link
    .example-tabs.-pl--2
      ul.chi-tabs#example-icon-base
        li.-disabled
          a(href=`#webcomponent-example-icon-base`) Web Component
        li.-active
          a(href=`#html-example-icon-base`) HTML Blueprint
    .chi-tabs-panel#webcomponent-example-icon-base
    .chi-tabs-panel.-active#html-example-icon-base
      :code(lang='html')
        <ul class="chi-tabs -icons">
          <li class="-active">
            <a href="#">
              <i class="chi-icon icon-atom"></i>
              <span>Active Tab</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="chi-icon icon-atom"></i>
              <span>Tab Link</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="chi-icon icon-atom"></i>
              <span>Tab Link</span>
            </a>
          </li>
        </ul>
  .chi-tabs-panel#chi-tabs-panel--horizontal-icons-inverse
    .-p--3.-bg--grey-20
      .-bg--black.-px--3
        ul.chi-tabs.-inverse.-icons
          li.-active
            a(href='#')
              i.chi-icon.icon-atom
              span Active Tab
          li
            a(href='#')
              i.chi-icon.icon-atom
              span Tab Link
          li
            a(href='#')
              i.chi-icon.icon-atom
              span Tab Link
    .example-tabs.-pl--2
      ul.chi-tabs#example-icon-inverse
        li.-disabled
          a(href=`#webcomponent-example-icon-inverse`) Web Component
        li.-active
          a(href=`#html-example-icon-inverse`) HTML Blueprint
    .chi-tabs-panel#webcomponent-example-icon-inverse
    .chi-tabs-panel.-active#html-example-icon-inverse
      :code(lang='html')
        <ul class="chi-tabs -inverse -icons">
          <li class="-active">
            <a href="#">
              <i class="chi-icon icon-atom"></i>
              <span>Active Tab</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="chi-icon icon-atom"></i>
              <span>Tab Link</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="chi-icon icon-atom"></i>
              <span>Tab Link</span>
            </a>
          </li>
        </ul>

h3 Vertical tabs with icons
ul#chi-tabs--menu-vertical-icons.chi-tabs
  li.-active
    a(href='#chi-tabs-panel--vertical-icons-base') Base
  li
    a(href='#chi-tabs-panel--vertical-icons-inverse') Inverse
.example.-mb--3
  .chi-tabs-panel.-active#chi-tabs-panel--vertical-icons-base
    .-p--3.-bg--grey-20
      .-bg--white.-p--3
        ul.chi-tabs.-vertical.-icons
          li.-active
            a(href='#')
              i.chi-icon.icon-atom
              span Active Tab
            ul.chi-tabs__subtabs
              li.-active
                a(href='#') Subtab Link
              li
                a(href='#') Subtab Link
              li
                a(href='#') Subtab Link
          li
            a(href='#')
              i.chi-icon.icon-atom
              span Tab Link
          li
            a(href='#')
              i.chi-icon.icon-atom
              span Tab Link
    .example-tabs.-pl--2
      ul.chi-tabs#example-icon-vertical-base
        li.-disabled
          a(href=`#webcomponent-example-icon-vertical-base`) Web Component
        li.-active
          a(href=`#html-example-icon-vertical-base`) HTML Blueprint
    .chi-tabs-panel#webcomponent-example-icon-vertical-base
    .chi-tabs-panel.-active#html-example-icon-vertical-base
      :code(lang='html')
        <ul class="chi-tabs -vertical -icons">
          <li class="-active">
            <a href="#">
              <i class="chi-icon icon-atom"></i>
              <span>Active Tab</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="chi-icon icon-atom"></i>
              <span>Tab link</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="chi-icon icon-atom"></i>
              <span>Tab link</span>
            </a>
          </li>
        </ul>
  .chi-tabs-panel#chi-tabs-panel--vertical-icons-inverse
    .-p--3.-bg--grey-20
      .-bg--black.-p--3
        ul.chi-tabs.-inverse.-vertical.-icons
          li.-active
            a(href='#')
              i.chi-icon.icon-atom
              span Active Tab
            ul.chi-tabs__subtabs
              li.-active
                a(href='#') Subtab Link
              li
                a(href='#') Subtab Link
              li
                a(href='#') Subtab Link
          li
            a(href='#')
              i.chi-icon.icon-atom
              span Tab Link
          li
            a(href='#')
              i.chi-icon.icon-atom
              span Tab Link
    .example-tabs.-pl--2
      ul.chi-tabs#example-icon-vertical-inverse
        li.-disabled
          a(href=`#webcomponent-example-icon-vertical-inverse`) Web Component
        li.-active
          a(href=`#html-example-icon-vertical-inverse`) HTML Blueprint
    .chi-tabs-panel#webcomponent-example-icon-vertical-inverse
    .chi-tabs-panel.-active#html-example-icon-vertical-inverse
      :code(lang='html')
        <ul class="chi-tabs -inverse -vertical -icons">
          <li class="-active">
            <a href="#">
              <i class="chi-icon icon-atom"></i>
              <span>Active Tab</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="chi-icon icon-atom"></i>
              <span>Tab link</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="chi-icon icon-atom"></i>
              <span>Tab link</span>
            </a>
          </li>
        </ul>

h3 Vertical tabs with icons and description
.example.-mb--3
  .-p--3.-bg--grey-20
    .-bg--white.-p--3
      ul.chi-tabs.-vertical.-icons.-list
        li.-active
          a.chi-tabs_item(href='#')
            i.chi-icon.icon-atom
            span.chi-tabs_item-title Tab Link
            span.chi-tabs_item-text Tab description
        li
          a.chi-tabs_item(href='#')
            i.chi-icon.icon-atom
            span.chi-tabs_item-title Active Tab
            span.chi-tabs_item-text Tab description
          ul.chi-tabs__subtabs
            li
              a.chi-tabs_item(href='#')
                span.chi-tabs_item-title Subtab Link
                span.chi-tabs_item-text Subtab description
            li
              a.chi-tabs_item(href='#')
                span.chi-tabs_item-title Subtab Link
                span.chi-tabs_item-text Subtab description
            li
              a.chi-tabs_item(href='#')
                span.chi-tabs_item-title Subtab Link
                span.chi-tabs_item-text Subtab description
        li
          a.chi-tabs_item(href='#')
            i.chi-icon.icon-atom
            span.chi-tabs_item-title Tab Link
            span.chi-tabs_item-text Tab description
  .example-tabs.-pl--2
    ul.chi-tabs#example-size-large
      li.-disabled
        a(href=`#webcomponent-size-large`) Web Component
      li.-active
        a(href=`#html-size-large`) HTML Blueprint
  .chi-tabs-panel#webcomponent-size-large
  .chi-tabs-panel.-active#html-size-large
    :code(lang='html')
      <ul class="chi-tabs -vertical -icons -list">
        <li class="-active">
          <a class="chi-tabs_item" href="#">
            <i class="chi-icon icon-atom"></i>
            <span class="chi-tabs_item-title">Tab Link</span>
            <span class="chi-tabs_item-text">Tab description</span>
          </a>
        </li>
        <li>
          <a class="chi-tabs_item" href="#">
            <i class="chi-icon icon-atom"></i>
            <span class="chi-tabs_item-title">Active Tab</span>
            <span class="chi-tabs_item-text">Tab description</span>
          </a>
          <ul class="chi-tabs__subtabs">
              <li>
                <a class="chi-tabs_item" href="#">
                  <span class="chi-tabs_item-title">Subtab Link</span>
                  <span class="chi-tabs_item-text">Subtab description</span>
                </a>
              </li>
              <li>
                <a class="chi-tabs_item" href="#">
                  <span class="chi-tabs_item-title">Subtab Link</span>
                  <span class="chi-tabs_item-text">Subtab description</span>
                </a>
              </li>
              <li>
                <a class="chi-tabs_item" href="#">
                  <span class="chi-tabs_item-title">Subtab Link</span>
                  <span class="chi-tabs_item-text">Subtab description</span>
                </a>
              </li>
          </ul>
        </li>
        <li>
          <a class="chi-tabs_item" href="#">
            <i class="chi-icon icon-atom"></i>
            <span class="chi-tabs_item-title">Tab Link</span>
            <span class="chi-tabs_item-text">Tab description</span>
          </a>
        </li>
      </ul>
h3 Portal
.example.-mb--3
  .-p--3
    .-bg--grey-20.-p--3
      ul.chi-tabs.-vertical.-icons.-list.-portal.-lg
        li.-active
          a.chi-tabs_item(href='#')
            i.chi-icon.icon-atom
            span.chi-tabs_item-title Active Tab
            button.chi-button.-icon.-flat.-no-hover(aria-label="Button action")
              .chi-button__content
                i.chi-icon.icon-more-vert
        li
          a.chi-tabs_item(href='#')
            i.chi-icon.icon-atom
            span.chi-tabs_item-title Tab Link
            span.chi-tabs_item-text Tab description
            button.chi-button.-icon.-flat.-no-hover(aria-label="Button action")
              .chi-button__content
                i.chi-icon.icon-more-vert
          ul.chi-tabs__subtabs
            li
              a.chi-tabs_item(href='#')
                span.chi-tabs_item-title Subtab Link
                span.chi-tabs_item-text Subtab description
                button.chi-button.-icon.-flat.-no-hover(aria-label="Button action")
                  .chi-button__content
                    i.chi-icon.icon-more-vert
            li
              a.chi-tabs_item(href='#')
                span.chi-tabs_item-title Subtab Link
                span.chi-tabs_item-text Subtab description
                button.chi-button.-icon.-flat.-no-hover(aria-label="Button action")
                  .chi-button__content
                    i.chi-icon.icon-more-vert
              ul.chi-tabs__subtabs
                li
                  a.chi-tabs_item(href='#')
                    span.chi-tabs_item-title Subtab Link
                    span.chi-tabs_item-text Subtab description
                    button.chi-button.-icon.-flat.-no-hover(aria-label="Button action")
                      .chi-button__content
                        i.chi-icon.icon-more-vert
                li
                  a.chi-tabs_item(href='#')
                    span.chi-tabs_item-title Subtab Link
                    span.chi-tabs_item-text Subtab description
                    button.chi-button.-icon.-flat.-no-hover(aria-label="Button action")
                      .chi-button__content
                        i.chi-icon.icon-more-vert
            li
              a.chi-tabs_item(href='#')
                span.chi-tabs_item-title Subtab Link
                span.chi-tabs_item-text Subtab description
                button.chi-button.-icon.-flat.-no-hover(aria-label="Button action")
                  .chi-button__content
                    i.chi-icon.icon-more-vert
        li
          a.chi-tabs_item(href='#')
            i.chi-icon.icon-atom
            span.chi-tabs_item-title Tab Link
            span.chi-tabs_item-text Tab description
            button.chi-button.-icon.-flat.-no-hover(aria-label="Button action")
              .chi-button__content
                i.chi-icon.icon-more-vert
  .example-tabs.-pl--2
    ul.chi-tabs#example-portal-size-large
      li.-disabled
        a(href=`#webcomponent-portal-size-large`) Web Component
      li.-active
        a(href=`#html--portal-size-large`) HTML Blueprint
  .chi-tabs-panel#webcomponent-portal-size-large
  .chi-tabs-panel.-active#html-portal-size-large
    :code(lang='html')
      <ul class="chi-tabs -vertical -icons -list -portal -lg">
        <li class="-active">
          <a class="chi-tabs_item" href="#">
            <i class="chi-icon icon-atom"></i>
            <span class="chi-tabs_item-title">Active Tab</span>
            <button class="chi-button -icon -flat -no-hover" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-more-vert"></i>
              </div>
            </button>
          </a>
        </li>
        <li>
          <a class="chi-tabs_item" href="#">
            <i class="chi-icon icon-atom"></i>
            <span class="chi-tabs_item-title">Tab Link</span>
            <span class="chi-tabs_item-text">Tab description</span>
            <button class="chi-button -icon -flat -no-hover" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-more-vert"></i>
              </div>
            </button>
          </a>
          <ul class="chi-tabs__subtabs">
              <li>
                <a class="chi-tabs_item" href="#">
                  <span class="chi-tabs_item-title">Subtab Link</span>
                  <span class="chi-tabs_item-text">Subtab description</span>
                  <button class="chi-button -icon -flat -no-hover" aria-label="Button action">
                    <div class="chi-button__content">
                      <i class="chi-icon icon-more-vert"></i>
                    </div>
                  </button>
                </a>
              </li>
              <li>
                <a class="chi-tabs_item" href="#">
                  <span class="chi-tabs_item-title">Subtab Link</span>
                  <span class="chi-tabs_item-text">Subtab description</span>
                  <button class="chi-button -icon -flat -no-hover" aria-label="Button action">
                    <div class="chi-button__content">
                      <i class="chi-icon icon-more-vert"></i>
                    </div>
                  </button>
                </a>
                <ul class="chi-tabs__subtabs">
                    <li>
                      <a class="chi-tabs_item" href="#">
                        <span class="chi-tabs_item-title">Subtab Link</span>
                        <span class="chi-tabs_item-text">Subtab description</span>
                        <button class="chi-button -icon -flat -no-hover" aria-label="Button action">
                          <div class="chi-button__content">
                            <i class="chi-icon icon-more-vert"></i>
                          </div>
                        </button>
                      </a>
                    </li>
                    <li>
                      <a class="chi-tabs_item" href="#">
                        <span class="chi-tabs_item-title">Subtab Link</span>
                        <span class="chi-tabs_item-text">Subtab description</span>
                        <button class="chi-button -icon -flat -no-hover" aria-label="Button action">
                          <div class="chi-button__content">
                            <i class="chi-icon icon-more-vert"></i>
                          </div>
                        </button>
                      </a>
                    </li>
                </ul>
              </li>
              <li>
                <a class="chi-tabs_item" href="#">
                  <span class="chi-tabs_item-title">Subtab Link</span>
                  <span class="chi-tabs_item-text">Subtab description</span>
                  <button class="chi-button -icon -flat -no-hover" aria-label="Button action">
                    <div class="chi-button__content">
                      <i class="chi-icon icon-more-vert"></i>
                    </div>
                  </button>
                </a>
              </li>
          </ul>
        </li>
        <li>
          <a class="chi-tabs_item" href="#">
            <i class="chi-icon icon-atom"></i>
            <span class="chi-tabs_item-title">Tab Link</span>
            <span class="chi-tabs_item-text">Tab description</span>
            <button class="chi-button -icon -flat -no-hover" aria-label="Button action">
              <div class="chi-button__content">
                <i class="chi-icon icon-more-vert"></i>
              </div>
            </button>
          </a>
        </li>
      </ul>
h2 Vertical Subtabs
ul#chi-tabs--menu-subtabs.chi-tabs
  li.-active
    a(href='#chi-tabs-panel--subtabs-base') Base
  li
    a(href='#chi-tabs-panel--subtabs-inverse') Inverse
.example.-mb--3
  .chi-tabs-panel.-active#chi-tabs-panel--subtabs-base
    .-p--3.-bg--grey-20
      .-bg--white.-p--3
        ul.chi-tabs.-vertical
          li.-active
            a(href='#') Active tab
            ul.chi-tabs__subtabs
              li.-active
                a(href='#') Subtab Link
              li
                a(href='#') Subtab Link
              li
                a(href='#') Subtab Link
          li
            a(href='#') Tab link
          li
            a(href='#') Tab link
    .example-tabs.-pl--2
      ul.chi-tabs#example-vertical-subtabs-base
        li.-disabled
          a(href=`#webcomponent-example-vertical-subtabs-base`) Web Component
        li.-active
          a(href=`#html-example-vertical-subtabs-base`) HTML Blueprint
    .chi-tabs-panel#webcomponent-example-vertical-subtabs-base
    .chi-tabs-panel.-active#html-example-vertical-subtabs-base
      :code(lang='html')
        <ul class="chi-tabs -vertical">
          <li class="-active">
            <a href="#">Active tab</a>
            <ul class="chi-tabs__subtabs">
              <li class="-active">
                <a href="#">Subtab Link</a>
              </li>
              <li>
                <a href="#">Subtab Link</a>
              </li>
              <li>
                <a href="#">Subtab Link</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Tab link</a>
          </li>
          <li>
            <a href="#">Tab link</a>
          </li>
        </ul>
  .chi-tabs-panel#chi-tabs-panel--subtabs-inverse
    .-p--3.-bg--grey-20
      .-bg--black.-p--3
        ul.chi-tabs.-inverse.-vertical
          li.-active
            a(href='#') Active tab
            ul.chi-tabs__subtabs
              li.-active
                a(href='#') Subtab Link
              li
                a(href='#') Subtab Link
              li
                a(href='#') Subtab Link
          li
            a(href='#') Tab link
          li
            a(href='#') Tab link
    .example-tabs.-pl--2
      ul.chi-tabs#example-vertical-subtabs-inverse
        li.-disabled
          a(href=`#webcomponent-example-vertical-subtabs-inverse`) Web Component
        li.-active
          a(href=`#html-example-vertical-subtabs-inverse`) HTML Blueprint
    .chi-tabs-panel#webcomponent-example-vertical-subtabs-inverse
    .chi-tabs-panel.-active#html-example-vertical-subtabs-inverse
      :code(lang='html')
        <ul class="chi-tabs -inverse -vertical">
          <li class="-active">
            <a href="#">Active tab</a>
            <ul class="chi-tabs__subtabs">
              <li class="-active">
                <a href="#">Subtab Link</a>
              </li>
              <li>
                <a href="#">Subtab Link</a>
              </li>
              <li>
                <a href="#">Subtab Link</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Tab link</a>
          </li>
          <li>
            <a href="#">Tab link</a>
          </li>
        </ul>

h2 Bordered
ul#chi-tabs--menu-bordered.chi-tabs
  li.-active
    a(href='#chi-tabs-panel--bordered-base') Base
  li
    a(href='#chi-tabs-panel--bordered-inverse') Inverse
.example.-mb--3
  .chi-tabs-panel.-active#chi-tabs-panel--bordered-base
    .-p--3.-bg--grey-20
      .-bg--white.-p--3
        ul.chi-tabs.-border
          li.-active
            a(href='#') Active tab
          li
            a(href='#') Tab link
          li
            a(href='#') Tab link
    :code(lang='html')
      <ul class="chi-tabs -border">
        <li class="-active">
          <a href="#">Active tab</a>
        </li>
        <li>
          <a href="#">Tab link</a>
        </li>
        <li>
          <a href="#">Tab link</a>
        </li>
      </ul>
  .chi-tabs-panel#chi-tabs-panel--bordered-inverse
    .-p--3.-bg--grey-20
      .-bg--black.-p--3
        ul.chi-tabs.-inverse.-border
          li.-active
            a(href='#') Active tab
          li
            a(href='#') Tab link
          li
            a(href='#') Tab link
    :code(lang='html')
      <ul class="chi-tabs -inverse -border">
        <li class="-active">
          <a href="#">Active tab</a>
        </li>
        <li>
          <a href="#">Tab link</a>
        </li>
        <li>
          <a href="#">Tab link</a>
        </li>
      </ul>

h2 Additional Sizes

h3 Horizontal
.example.-mb--3
  .-p--3.-pb--4
    p.-text--bold X-small
    .chi-divider.-mb--2
    ul.chi-tabs.-xs
      li.-active
        a(href='#') Active Tab
      li
        a(href='#') Tab Link
      li
        a(href='#') Tab Link
    p.-text--bold.-mt--6 Small
    .chi-divider.-mb--2
    ul.chi-tabs.-sm
      li.-active
        a(href='#') Active Tab
      li
        a(href='#') Tab Link
      li
        a(href='#') Tab Link
    p.-text--bold.-mt--6 Medium (Base)
    .chi-divider.-mb--2
    ul.chi-tabs
      li.-active
        a(href='#') Active Tab
      li
        a(href='#') Tab Link
      li
        a(href='#') Tab Link
    p.-text--bold.-mt--6 Large
    .chi-divider.-mb--2
    ul.chi-tabs.-lg
      li.-active
        a(href='#') Active Tab
      li
        a(href='#') Tab Link
      li
        a(href='#') Tab Link
  .example-tabs.-pl--2
    ul.chi-tabs#example-sizes-h
      li.-disabled
        a(href=`#webcomponent-sizes-h`) Web Component
      li.-active
        a(href=`#html-sizes-h`) HTML Blueprint
  .chi-tabs-panel#webcomponent-sizes-h
  .chi-tabs-panel.-active#html-sizes-h
    :code(lang='html')
      <!-- X-small -->
      <ul class="chi-tabs -xs">
        <li class="-active">
          <a href="#">Active Tab</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
      </ul>

      <!-- Small -->
      <ul class="chi-tabs -sm">
        <li class="-active">
          <a href="#">Active Tab</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
      </ul>

      <!-- Medium (Base) -->
      <ul class="chi-tabs">
        <li class="-active">
          <a href="#">Active Tab</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
      </ul>

      <!-- Large -->
      <ul class="chi-tabs -lg">
        <li class="-active">
          <a href="#">Active Tab</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
      </ul>

h3 Vertical
.example.-mb--3
  .-p--3.-pb--4
    p.-text--bold.-mt--6 Small
    .chi-divider.-mb--3
    ul.chi-tabs.-vertical.-sm
      li.-active
        a(href='#') Active Tab
        ul.chi-tabs__subtabs
          li.-active
            a(href='#') Subtab Link
          li
            a(href='#') Subtab Link
          li
            a(href='#') Subtab Link
      li
        a(href='#') Tab Link
      li
        a(href='#') Tab Link
    p.-text--bold.-mt--6 Medium (Base)
    .chi-divider.-mb--3
    ul.chi-tabs.-vertical
      li.-active
        a(href='#') Active Tab
        ul.chi-tabs__subtabs
          li.-active
            a(href='#') Subtab Link
          li
            a(href='#') Subtab Link
          li
            a(href='#') Subtab Link
      li
        a(href='#') Tab Link
      li
        a(href='#') Tab Link
    p.-text--bold.-mt--6 Large
    .chi-divider.-mb--3
    ul.chi-tabs.-vertical.-lg
      li.-active
        a(href='#') Active Tab
        ul.chi-tabs__subtabs
          li.-active
            a(href='#') Subtab Link
          li
            a(href='#') Subtab Link
          li
            a(href='#') Subtab Link
      li
        a(href='#') Tab Link
      li
        a(href='#') Tab Link
    p.-text--bold.-mt--6 X-Large
    .chi-divider.-mb--3
    ul.chi-tabs.-vertical.-xl
      li.-active
        a(href='#') Active Tab
        ul.chi-tabs__subtabs
          li.-active
            a(href='#') Subtab Link
          li
            a(href='#') Subtab Link
          li
            a(href='#') Subtab Link
      li
        a(href='#') Tab Link
      li
        a(href='#') Tab Link
  .example-tabs.-pl--2
    ul.chi-tabs#example-sizes-v
      li.-disabled
        a(href=`#webcomponent-sizes-v`) Web Component
      li.-active
        a(href=`#html-sizes-v`) HTML Blueprint
  .chi-tabs-panel#webcomponent-sizes-v
  .chi-tabs-panel.-active#html-sizes-v
    :code(lang='html')
      <!-- Small -->
      <ul class="chi-tabs -vertical -sm">
        <li class="-active">
          <a href="#">Active Tab</a>
          <ul class="chi-tabs__subtabs">
            <li class="-active">
              <a href="#">Subtab Link</a>
            </li>
            <li>
              <a href="#">Subtab Link</a>
            </li>
            <li>
              <a href="#">Subtab Link</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
      </ul>

      <!-- Medium (Base) -->
      <ul class="chi-tabs -vertical">
        <li class="-active">
          <a href="#">Active Tab</a>
          <ul class="chi-tabs__subtabs">
            <li class="-active">
              <a href="#">Subtab Link</a>
            </li>
            <li>
              <a href="#">Subtab Link</a>
            </li>
            <li>
              <a href="#">Subtab Link</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
      </ul>

      <!-- Large -->
      <ul class="chi-tabs -vertical -lg">
        <li class="-active">
          <a href="#">Active Tab</a>
          <ul class="chi-tabs__subtabs">
            <li class="-active">
              <a href="#">Subtab Link</a>
            </li>
            <li>
              <a href="#">Subtab Link</a>
            </li>
            <li>
              <a href="#">Subtab Link</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
      </ul>

      <!-- X-Large -->
      <ul class="chi-tabs -vertical -xl">
        <li class="-active">
          <a href="#">Active Tab</a>
          <ul class="chi-tabs__subtabs">
            <li class="-active">
              <a href="#">Subtab Link</a>
            </li>
            <li>
              <a href="#">Subtab Link</a>
            </li>
            <li>
              <a href="#">Subtab Link</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
        <li>
          <a href="#">Tab Link</a>
        </li>
      </ul>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.getElementById('chi-tabs--menu'));
      chi.tab(document.getElementById('chi-tabs--menu-vertical'));
      chi.tab(document.getElementById('chi-tabs--menu-horizontal-icons'));
      chi.tab(document.getElementById('chi-tabs--menu-vertical-icons'));
      chi.tab(document.getElementById('chi-tabs--menu-subtabs'));
      chi.tab(document.getElementById('chi-tabs--menu-bordered'));
      chi.tab(document.getElementById('example-base'));
      chi.tab(document.getElementById('example-base-inverse'));
      chi.tab(document.getElementById('example-target-link'));
      chi.tab(document.getElementById('example-tabs-tabbed-navigation'));
      chi.tab(document.getElementById('example-nav-contained'));
      chi.tab(document.getElementById('example-horizontal-base'));
      chi.tab(document.getElementById('example-horizontal-inverse'));
      chi.tab(document.getElementById('example-vertical-base'));
      chi.tab(document.getElementById('example-vertical-inverse'));
      chi.tab(document.getElementById('example-vertical-inverse-tabs'));
      chi.tab(document.getElementById('example-default-link-behavior'));
      chi.tab(document.getElementById('example-nav4-enabled'));
      chi.tab(document.getElementById('example-nav4-disabled'));
      chi.tab(document.getElementById('example-4-switch'));
      chi.tab(document.getElementById('example-sizes-h'));
      chi.tab(document.getElementById('example-sizes-v'));
      chi.tab(document.getElementById('example-size-large'));
      chi.tab(document.getElementById('example-portal-size-large'));
      chi.tab(document.getElementById('example-icon-base'));
      chi.tab(document.getElementById('example-icon-inverse'));
      chi.tab(document.getElementById('example-icon-vertical-base'));
      chi.tab(document.getElementById('example-icon-vertical-inverse'));
      chi.tab(document.getElementById('example-vertical-subtabs-base'));
      chi.tab(document.getElementById('example-vertical-subtabs-inverse'));
      chi.navigation(document.getElementById('navigation-components-contained'));
      chi.navigation(document.getElementById('example-tabbed-navigation'));
    }
  );
