---
title: Tabs
description: Tabs are used to navigate between views within the same context.
tabs: {"Examples" : "examplestab", "Properties" : "propertiestab", "Accessibility" : "accessibilitytab"}
---

.a-tabs-panel.-active#examplestab
  include _examples

.a-tabs-panel#propertiestab
  include _properties

.a-tabs-panel#accessibilitytab
  include _accessibility