extends ../layout.pug

block scripts
  script(type="module" src='../../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
  script(src='../../../js/chi.js')
  script(src='../../../chi-icons.js')
  script(src='../../../chi-marketing-icons.js')

block variables
  - var title = 'Global Sidenav'

block content

  chi-button#toggle-nav(type="icon" variant="flat")
    chi-icon(icon="menu")
  aside#global-nav.chi-sidenav.-global(data-cy="global-nav")
    div(class="chi-sidenav__content")
      nav
        ul(class="chi-sidenav__list")
          li(class="chi-sidenav__item")
            div(class="chi-sidenav__item-wrapper")
              chi-link
                chi-icon(icon="dashboard")
                span Dashboard
          li(class="chi-sidenav__item")
            div(class="chi-sidenav__item-wrapper")
              chi-link
                chi-icon(icon="bell")
                chi-badge(
                  text-weight="bold"
                  size="xs"
                  type="notification"
                ) 21
                span Alerts & Notifications
          li(class="chi-sidenav__item")
            div(class="chi-sidenav__item-wrapper")
              chi-accordion#services(type="link")
                div(slot="services-template")
                  div(class="chi-sidenav__item-guide")
                    chi-link Manage Services
                    chi-link Add Services
                    chi-link Order Status
                    chi-accordion#services-tools(type="link")
                      div(slot="services-tools-template")
                        div(class="chi-sidenav__item-guide")
                          chi-link ELS & LI Managements
                          chi-link Network Storage
                          chi-link.-active Edge Bare Metal
                          chi-link SASE Management
                          chi-link Voice Complete Features
                          chi-link +1 Switched Toll Free
                          chi-link Cross Connect
                          chi-link Enhanced Routing
                          chi-link Manage Voicemail
                          chi-link Security Certificate Management
                          chi-link Toll Free Management
                    chi-accordion#services-requests(type="link")
                      div(slot="services-requests-template")
                        div(class="chi-sidenav__item-guide")
                          chi-link Requests Page 1
                          chi-link Requests Page 2
                          chi-link Requests Page 3
                    chi-accordion#services-quotes(type="link")
                      div(slot="services-quotes-template")
                        div(class="chi-sidenav__item-guide")
                          chi-link Quotes Page 1
                          chi-link Quotes Page 2
                          chi-link Quotes Page 3
                    chi-accordion#services-portals(type="link")
                      div(slot="services-portals-template")
                        div(class="chi-sidenav__item-guide")
                          chi-link Portals Page 1
                          chi-link Portals Page 2
                          chi-link Portals Page 3
          li(class="chi-sidenav__item")
            div(class="chi-sidenav__item-wrapper")
              chi-accordion#apis(type="link")
                div(slot="apis-template")
                  div(class="chi-sidenav__item-guide")
                    chi-link APIs page 1
                    chi-link APIs page 2
                    chi-link APIs page 3
          li(class="chi-sidenav__item")
            div(class="chi-sidenav__item-wrapper")
              chi-accordion#monitoring-and-reports(type="link")
                div(slot="monitoring-and-reports-template")
                  div(class="chi-sidenav__item-guide")
                    chi-link Monitoring & Reports page 1
                    chi-link Monitoring & Reports page 2
                    chi-link Monitoring & Reports page 3
          li(class="chi-sidenav__item")
            div(class="chi-sidenav__item-wrapper")
              chi-accordion#billing(type="link")
                div(slot="billing-template")
                  div(class="chi-sidenav__item-guide")
                    chi-link Billing page 1
                    chi-link Billing page 2
                    chi-link Billing page 3
          li(class="chi-sidenav__item")
            div(class="chi-sidenav__item-wrapper")
              chi-accordion#admin(type="link")
                div(slot="admin-template")
                  div(class="chi-sidenav__item-guide")
                    chi-link Admin page 1
                    chi-link Admin page 2
                    chi-link Admin page 3
          li(class="chi-sidenav__item")
            div(class="chi-sidenav__item-wrapper")
              chi-accordion#support(type="link")
                div(slot="support-template")
                  div(class="chi-sidenav__item-guide")
                    chi-link Support page 1
                    chi-link Support page 2
                    chi-link Support page 3
          .chi-divider
          li(class="chi-sidenav__item")
            div(class="chi-sidenav__item-wrapper")
              chi-link
                chi-icon(icon="circle-question")
                span [Portal Name] Help
          li(class="chi-sidenav__item")
            div(class="chi-sidenav__item-wrapper")
              chi-link
                chi-icon(icon="compose")
                span Contact Lumen

  button#dispose-sidenav-button.chi-button.-mt--3
    | Dispose Sidenav

  script.
    const servicesAccordion = document.getElementById('services');
    const servicesToolsAccordion = document.getElementById('services-tools');
    const servicesRequestsAccordion = document.getElementById('services-requests');
    const servicesQuotesAccordion = document.getElementById('services-quotes');
    const servicesPortalsAccordion = document.getElementById('services-portals');
    const apisAccordion = document.getElementById('apis');
    const monitoringAndReportsAccordion = document.getElementById('monitoring-and-reports');
    const billingAccordion = document.getElementById('billing');
    const adminAccordion = document.getElementById('admin');
    const supportAccordion = document.getElementById('support');
    servicesAccordion.accordions = [{ title: 'Services', icon: 'list-alt', template: 'services-template' }];
    servicesToolsAccordion.accordions = [{ title: 'Service Tools', template: 'services-tools-template' }];
    servicesRequestsAccordion.accordions = [{ title: 'Service Requests', template: 'services-requests-template' }];
    servicesQuotesAccordion.accordions = [{ title: 'Quotes', template: 'services-quotes-template' }];
    servicesPortalsAccordion.accordions = [{ title: 'Service Portals', template: 'services-portals-template' }];
    apisAccordion.accordions = [{ title: 'APIs', icon: 'api', template: 'apis-template' }];
    monitoringAndReportsAccordion.accordions = [{ title: 'Monitoring & Reports', icon: 'chart-bar', template: 'monitoring-and-reports-template' }];
    billingAccordion.accordions = [{ title: 'Billing', icon: 'cost', template: 'billing-template' }];
    adminAccordion.accordions = [{ title: 'Admin', icon: 'users', template: 'admin-template' }];
    supportAccordion.accordions = [{ title: 'Support', icon: 'life-ring', template: 'support-template' }];

    const sidenavElement = document.getElementById('global-nav');
    const globalNav = chi.globalNav(sidenavElement);

    const toggleNavButton = document.getElementById('toggle-nav');
    toggleNavButton.addEventListener('click', () => (globalNav.expanded = !globalNav.expanded));

    const disposeSidenavButton = document.getElementById('dispose-sidenav-button');
    disposeSidenavButton.addEventListener('click', () => globalNav.dispose());
