extends ../layout.pug

block scripts
  script(type="module" src='../../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
  script(src='../../../js/chi.js')
  script(src='../../../chi-marketing-icons.js')

block variables
  - var title = 'Sidenav'

block content
  h3 Legacy Sidenav HTML markup
  .enterprise-nav-menu.chi(style='height: 35rem;')
    aside#sidenav-0.chi-sidenav.-h--75(data-cy="sidenav-legacy")
      .chi-sidenav__content
        nav
          ul.chi-sidenav__list
            li.-active
              a(href='#drawer-0-1')
                i.chi-icon.icon-atom(aria-hidden="true")
                span Active Item
            li
              a(href='#drawer-0-2')
                i.chi-icon.icon-atom(aria-hidden="true")
                span Menu Item
      .chi-sidenav__drawers
        #drawer-0-1.chi-drawer.-animated.-left
          .chi-drawer__header
            .chi-drawer__title Menu item 1
            button.chi-button.-icon.-close(aria-label='Close')
              .chi-button__content
                i.chi-icon.icon-x(aria-hidden="true")
          .chi-drawer__content
            ul.chi-sidenav__drawer-list
              li
                a(href='#drawer-item-list-1-A')
                  .chi-sidenav__title Title A
                #drawer-item-list-1-A.chi-sidenav__drawer-item-list
                  ul.chi-tabs.-vertical.-sm
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab A
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab B
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab C
              li.-active.-expanded
                a(href='#drawer-item-list-1-B')
                  .chi-sidenav__title Title B
                #drawer-item-list-1-B.chi-sidenav__drawer-item-list
                  ul.chi-tabs.-vertical.-sm
                    li
                      a.chi-sidenav__drawer-item-tab.-active(href='#exampleHashTarget')
                        | Sub tab A
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab B
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab C
              li
                a(href='#exampleHashTarget')
                  span.chi-sidenav__title
                    | Title C
                    i.chi-icon.icon-external-link.-xs(aria-hidden="true")
              li
                a(href='#exampleHashTarget')
                  span.chi-sidenav__title
                    | Title D
                    i.chi-icon.icon-external-link.-xs(aria-hidden="true")
        #drawer-0-2.chi-drawer.-animated.-left
          .chi-drawer__header
            .chi-drawer__title Menu item 2
            button.chi-button.-icon.-close(aria-label='Close')
              .chi-button__content
                i.chi-icon.icon-x(aria-hidden="true")
          .chi-drawer__content
            ul.chi-sidenav__drawer-list
              li
                a(href='#drawer-item-list-2-A')
                  .chi-sidenav__title Title E
                #drawer-item-list-2-A.chi-sidenav__drawer-item-list
                  ul.chi-tabs.-vertical.-sm
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab A
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab B
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab C
              li
                a(href='#drawer-item-list-2-B')
                  .chi-sidenav__title Title F
                #drawer-item-list-2-B.chi-sidenav__drawer-item-list
                  ul.chi-tabs.-vertical.-sm
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab A
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab B
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab C
              li
                a(href='#exampleHashTarget')
                  span.chi-sidenav__title
                    | Title G
                    i.chi-icon.icon-external-link.-xs(aria-hidden="true")
              li
                a(href='#exampleHashTarget')
                  span.chi-sidenav__title
                    | Title H
                    i.chi-icon.icon-external-link.-xs(aria-hidden="true")

  h3 Sidenav Accordion implementation
  aside#sidenav-1.chi-sidenav.-flex--shrink0.-animated(data-cy="sidenav-accordion")
    .chi-sidenav__content
      nav
        ul.chi-sidenav__list
          li.-active
            a(href='#drawer-1-1')
              i.chi-icon.icon-atom(aria-hidden='true')
              span Active Item
          li
            a(href='#drawer-1-2')
              i.chi-icon.icon-atom(aria-hidden='true')
              span Menu Item
          li
            a(href='#drawer-1-3')
              i.chi-icon.icon-atom(aria-hidden='true')
              span Menu Item
          li
            a(href='#drawer-1-4')
              i.chi-icon.icon-atom(aria-hidden='true')
              span Menu Item
    .chi-sidenav__drawers
      #drawer-1-1.chi-drawer.-animated.-left
        .chi-drawer__header
          .chi-drawer__title Menu item 1
          button.chi-button.-icon.-close(aria-label='Close')
            .chi-button__content
              i.chi-icon.icon-x(aria-hidden='true')
        .chi-drawer__content
          .chi-accordion
            .chi-accordion__item.-active.-expanded
              button.chi-accordion__trigger
                .chi-accordion__title Title 1
                i.chi-icon.icon-chevron-down(aria-hidden='true')
              .chi-accordion__content
                .chi-accordion
                  .chi-accordion__item
                    button.chi-accordion__trigger
                      .chi-accordion__title Accordion A
                      i.chi-icon.icon-chevron-down(aria-hidden='true')
                    .chi-accordion__content
                      a(href='#exampleHashTarget')
                        span
                          | Title 1
                      a(href='#exampleHashTarget')
                        span
                          | Title 2
                      a(href='#exampleHashTarget')
                        span
                          | Title 3
                  .chi-accordion__item.-active.-expanded
                    button.chi-accordion__trigger
                      .chi-accordion__title Accordion B
                      i.chi-icon.icon-chevron-down(aria-hidden='true')
                    .chi-accordion__content
                      a(href='#exampleHashTarget')
                        span
                          | Title 1
                      a.-active(href='#exampleHashTarget')
                        span
                          | Title 2
                      a(href='#exampleHashTarget')
                        span
                          | Title 3
            a(href='#exampleHashTarget')
              span
                | External 1
                i.chi-icon.icon-external-link.-xs(aria-hidden='true')
      #drawer-1-2.chi-drawer.-left.-animated
        .chi-drawer__header
          .chi-drawer__title Menu item 2
          button.chi-button.-icon.-close(aria-label='Close')
            .chi-button__content
              i.chi-icon.icon-x(aria-hidden='true')
        .chi-drawer__content
          .chi-accordion
            .chi-accordion__item
              button.chi-accordion__trigger
                .chi-accordion__title Title 2
                i.chi-icon.icon-chevron-down(aria-hidden='true')
              .chi-accordion__content
                .chi-accordion
                  .chi-accordion__item
                    button.chi-accordion__trigger
                      .chi-accordion__title Accordion A
                      i.chi-icon.icon-chevron-down(aria-hidden='true')
                    .chi-accordion__content
                      a(href='#exampleHashTarget')
                        span
                          | Title 1
                      a(href='#exampleHashTarget')
                        span
                          | Title 2
                      a(href='#exampleHashTarget')
                        span
                          | Title 3
                  .chi-accordion__item
                    button.chi-accordion__trigger
                      .chi-accordion__title Accordion B
                      i.chi-icon.icon-chevron-down(aria-hidden='true')
                    .chi-accordion__content
                      a(href='#exampleHashTarget')
                        span
                          | Title 1
                      a(href='#exampleHashTarget')
                        span
                          | Title 2
                      a(href='#exampleHashTarget')
                        span
                          | Title 3
            a(href='#exampleHashTarget')
              span
                | External 2
                i.chi-icon.icon-external-link.-xs(aria-hidden='true')
      #drawer-1-3.chi-drawer.-left.-animated
        .chi-drawer__header
          .chi-drawer__title Menu item 3
          button.chi-button.-icon.-close(aria-label='Close')
            .chi-button__content
              i.chi-icon.icon-x(aria-hidden='true')
        .chi-drawer__content
          .chi-accordion
            .chi-accordion__item
              button.chi-accordion__trigger
                .chi-accordion__title Title 3
                i.chi-icon.icon-chevron-down(aria-hidden='true')
              .chi-accordion__content
                .chi-accordion
                  .chi-accordion__item
                    button.chi-accordion__trigger
                      .chi-accordion__title Accordion A
                      i.chi-icon.icon-chevron-down(aria-hidden='true')
                    .chi-accordion__content
                      a(href='#exampleHashTarget')
                        span
                          | Title 1
                      a(href='#exampleHashTarget')
                        span
                          | Title 2
                      a(href='#exampleHashTarget')
                        span
                          | Title 3
                  .chi-accordion__item
                    button.chi-accordion__trigger
                      .chi-accordion__title Accordion B
                      i.chi-icon.icon-chevron-down(aria-hidden='true')
                    .chi-accordion__content
                      a(href='#exampleHashTarget')
                        span
                          | Title 1
                      a(href='#exampleHashTarget')
                        span
                          | Title 2
                      a(href='#exampleHashTarget')
                        span
                          | Title 3
            a(href='#exampleHashTarget')
              span
                | External 3
                i.chi-icon.icon-external-link.-xs(aria-hidden='true')
      #drawer-1-4.chi-drawer.-left.-animated
        .chi-drawer__header
          .chi-drawer__title Menu item 4
          button.chi-button.-icon.-close(aria-label='Close')
            .chi-button__content
              i.chi-icon.icon-x(aria-hidden='true')
        .chi-drawer__content
          .chi-accordion
            .chi-accordion__item
              button.chi-accordion__trigger
                .chi-accordion__title Title 4
                i.chi-icon.icon-chevron-down(aria-hidden='true')
              .chi-accordion__content
                .chi-accordion
                  .chi-accordion__item
                    button.chi-accordion__trigger
                      .chi-accordion__title Accordion A
                      i.chi-icon.icon-chevron-down(aria-hidden='true')
                    .chi-accordion__content
                      a(href='#exampleHashTarget')
                        span
                          | Title 1
                      a(href='#exampleHashTarget')
                        span
                          | Title 2
                      a(href='#exampleHashTarget')
                        span
                          | Title 3
                  .chi-accordion__item
                    button.chi-accordion__trigger
                      .chi-accordion__title Accordion B
                      i.chi-icon.icon-chevron-down(aria-hidden='true')
                    .chi-accordion__content
                      a(href='#exampleHashTarget')
                        span
                          | Title 1
                      a(href='#exampleHashTarget')
                        span
                          | Title 2
                      a(href='#exampleHashTarget')
                        span
                          | Title 3
            a(href='#exampleHashTarget')
              span
                | External 4
                i.chi-icon.icon-external-link.-xs(aria-hidden='true')

  h3 Open on hover Sidenav
  .enterprise-nav-menu.chi(style='height: 35rem;')
    aside#sidenav-2.chi-sidenav.-h--75(data-cy="open-on-hover-sidenav")
      .chi-sidenav__content
        nav
          ul.chi-sidenav__list
            li.-active
              a(href='#drawer-2-1')
                i.chi-icon.icon-atom(aria-hidden="true")
                span Active Item
            li
              a(href='#drawer-2-2')
                i.chi-icon.icon-atom(aria-hidden="true")
                span Menu Item
      .chi-sidenav__drawers
        #drawer-2-1.chi-drawer.-animated.-left
          .chi-drawer__header
            .chi-drawer__title Menu item 1
            button.chi-button.-icon.-close(aria-label='Close')
              .chi-button__content
                i.chi-icon.icon-x(aria-hidden="true")
          .chi-drawer__content
            ul.chi-sidenav__drawer-list
              li
                a(href='#drawer-item-list-2-1-A')
                  .chi-sidenav__title Title A
                #drawer-item-list-2-1-A.chi-sidenav__drawer-item-list
                  ul.chi-tabs.-vertical.-sm
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab A
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab B
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab C
              li.-active.-expanded
                a(href='#drawer-item-list-2-1-B')
                  .chi-sidenav__title Title B
                #drawer-item-list-2-1-B.chi-sidenav__drawer-item-list
                  ul.chi-tabs.-vertical.-sm
                    li
                      a.chi-sidenav__drawer-item-tab.-active(href='#exampleHashTarget')
                        | Sub tab A
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab B
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab C
              li
                a(href='#exampleHashTarget')
                  span.chi-sidenav__title
                    | Title C
                    i.chi-icon.icon-external-link.-xs(aria-hidden="true")
              li
                a(href='#exampleHashTarget')
                  span.chi-sidenav__title
                    | Title D
                    i.chi-icon.icon-external-link.-xs(aria-hidden="true")
        #drawer-2-2.chi-drawer.-animated.-left
          .chi-drawer__header
            .chi-drawer__title Menu item 2
            button.chi-button.-icon.-close(aria-label='Close')
              .chi-button__content
                i.chi-icon.icon-x(aria-hidden="true")
          .chi-drawer__content
            ul.chi-sidenav__drawer-list
              li
                a(href='#drawer-item-list-2-2-A')
                  .chi-sidenav__title Title E
                #drawer-item-list-2-2-A.chi-sidenav__drawer-item-list
                  ul.chi-tabs.-vertical.-sm
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab A
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab B
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab C
              li
                a(href='#drawer-item-list-2-2-B')
                  .chi-sidenav__title Title F
                #drawer-item-list-2-2-B.chi-sidenav__drawer-item-list
                  ul.chi-tabs.-vertical.-sm
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab A
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab B
                    li
                      a.chi-sidenav__drawer-item-tab(href='#exampleHashTarget')
                        | Sub tab C
              li
                a(href='#exampleHashTarget')
                  span.chi-sidenav__title
                    | Title G
                    i.chi-icon.icon-external-link.-xs(aria-hidden="true")
              li
                a(href='#exampleHashTarget')
                  span.chi-sidenav__title
                    | Title H
                    i.chi-icon.icon-external-link.-xs(aria-hidden="true")

  h3 Global Sidenav - Collapsed
  .test-sidenav-global-collapsed(style='height: 40rem;')
    chi-button#toggle-nav-collapsed(variant='flat' type='icon')
      chi-icon(icon='menu')

    aside#global-nav-collapsed.chi-sidenav.-global
      .chi-sidenav__content
        nav
          ul.chi-sidenav__list
            li.chi-sidenav__item
              .chi-sidenav__item-wrapper
                chi-link
                  chi-icon(icon='dashboard')
                  span Dashboard
            li.chi-sidenav__item
              .chi-sidenav__item-wrapper
                chi-link
                  chi-icon(icon='bell')
                  chi-badge(type='notification' size='xs' text-weight='bold') 21
                  span Alerts & Notifications
            li.chi-sidenav__item
              .chi-sidenav__item-wrapper
                chi-accordion#services-collapsed(type='link')
                  div(slot='services-collapsed-template')
                    .chi-sidenav__item-guide
                      chi-link Manage Services
                      chi-link Add Services
                      chi-link Order Status
                      chi-accordion#services-tools-collapsed(type='link')
                        div(slot='services-tools-collapsed-template')
                          .chi-sidenav__item-guide
                            chi-link ELS & LI Management
                            chi-link Network Storage
                            chi-link.-active Edge Bare Metal
                            chi-link SASE Management
            li.chi-sidenav__item
              .chi-sidenav__item-wrapper
                chi-accordion#apis-collapsed(type='link')
                  div(slot='apis-collapsed-template')
                    .chi-sidenav__item-guide
                      chi-link APIs page 1
                      chi-link APIs page 2
                      chi-link APIs page 3
            li.chi-sidenav__item
              .chi-sidenav__item-wrapper
                chi-accordion#billing-collapsed(type='link')
                  div(slot='billing-collapsed-template')
                    .chi-sidenav__item-guide
                      chi-link Billing page 1
                      chi-link Billing page 2
                      chi-link Billing page 3
            .chi-divider
            li.chi-sidenav__item
              .chi-sidenav__item-wrapper
                chi-link
                  chi-icon(icon='circle-question')
                  span Help
                  chi-icon(icon='external-link' size='sm')

  h3 Global Sidenav - Expanded
  .test-sidenav-global-expanded(style='height: 40rem;')
    aside#global-nav-expanded.chi-sidenav.-global.-expanded
      .chi-sidenav__content
        nav
          ul.chi-sidenav__list
            li.chi-sidenav__item
              .chi-sidenav__item-wrapper
                chi-link
                  chi-icon(icon='dashboard')
                  span Dashboard
            li.chi-sidenav__item
              .chi-sidenav__item-wrapper
                chi-link
                  chi-icon(icon='bell')
                  chi-badge(type='notification' size='xs' text-weight='bold') 21
                  span Alerts & Notifications
            li.chi-sidenav__item
              .chi-sidenav__item-wrapper
                chi-accordion#services-expanded(type='link')
                  div(slot='services-expanded-template')
                    .chi-sidenav__item-guide
                      chi-link Manage Services
                      chi-link Add Services
                      chi-link Order Status
                      chi-accordion#services-tools-expanded(type='link')
                        div(slot='services-tools-expanded-template')
                          .chi-sidenav__item-guide
                            chi-link ELS & LI Management
                            chi-link Network Storage
                            chi-link.-active Edge Bare Metal
                            chi-link SASE Management
            li.chi-sidenav__item
              .chi-sidenav__item-wrapper
                chi-accordion#apis-expanded(type='link')
                  div(slot='apis-expanded-template')
                    .chi-sidenav__item-guide
                      chi-link APIs page 1
                      chi-link APIs page 2
                      chi-link APIs page 3
            li.chi-sidenav__item
              .chi-sidenav__item-wrapper
                chi-accordion#billing-expanded(type='link')
                  div(slot='billing-expanded-template')
                    .chi-sidenav__item-guide
                      chi-link Billing page 1
                      chi-link Billing page 2
                      chi-link Billing page 3
            .chi-divider
            li.chi-sidenav__item
              .chi-sidenav__item-wrapper
                chi-link
                  chi-icon(icon='circle-question')
                  span Help
                  chi-icon(icon='external-link' size='sm')

  h3 dispose()
  button#dispose-sidenav-button.chi-button
    | Dispose Sidenav

  script.
    chi.sidenav(document.getElementById('sidenav-0'));
    chi.sidenav(document.getElementById('sidenav-1'));
    const sidenav = chi.sidenav(document.getElementById('sidenav-2'), { openOnHover: true, autoClose: true });

    const disposeSidenavButton = document.getElementById('dispose-sidenav-button');
    disposeSidenavButton.addEventListener('click', () => sidenav.dispose());

    // Global sidenav — DOMContentLoaded required; CE module script is deferred.
    document.addEventListener('DOMContentLoaded', function () {
      const servicesCollapsed = document.getElementById('services-collapsed');
      const servicesToolsCollapsed = document.getElementById('services-tools-collapsed');
      const apisCollapsed = document.getElementById('apis-collapsed');
      const billingCollapsed = document.getElementById('billing-collapsed');

      servicesCollapsed.accordions = [{ title: 'Services', icon: 'list-alt', template: 'services-collapsed-template' }];
      servicesToolsCollapsed.accordions = [{ title: 'Service Tools', template: 'services-tools-collapsed-template' }];
      apisCollapsed.accordions = [{ title: 'APIs', icon: 'api', template: 'apis-collapsed-template' }];
      billingCollapsed.accordions = [{ title: 'Billing', icon: 'cost', template: 'billing-collapsed-template' }];

      const sidenavCollapsed = document.getElementById('global-nav-collapsed');
      const globalNavCollapsed = chi.globalNav(sidenavCollapsed, { expanded: false });

      const toggleNavCollapsed = document.getElementById('toggle-nav-collapsed');
      toggleNavCollapsed.addEventListener('click', function () { globalNavCollapsed.expanded = !globalNavCollapsed.expanded; });

      const servicesExpanded = document.getElementById('services-expanded');
      const servicesToolsExpanded = document.getElementById('services-tools-expanded');
      const apisExpanded = document.getElementById('apis-expanded');
      const billingExpanded = document.getElementById('billing-expanded');

      servicesExpanded.accordions = [{ title: 'Services', icon: 'list-alt', template: 'services-expanded-template' }];
      servicesToolsExpanded.accordions = [{ title: 'Service Tools', template: 'services-tools-expanded-template' }];
      apisExpanded.accordions = [{ title: 'APIs', icon: 'api', template: 'apis-expanded-template' }];
      billingExpanded.accordions = [{ title: 'Billing', icon: 'cost', template: 'billing-expanded-template' }];

      const ceSelector = 'chi-accordion, chi-link, chi-icon, chi-badge, chi-button';
      const total = document.querySelectorAll(ceSelector).length;
      const hydratedSelector = ceSelector.split(', ').map(function (s) { return s + '.hydrated'; }).join(', ');
      let attempts = 0;
      const maxAttempts = 100;

      function checkHydration() {
        const hydrated = document.querySelectorAll(hydratedSelector).length;
        attempts++;
        if (hydrated >= total) {
          console.log('backstop_ready');
        } else if (attempts >= maxAttempts) {
          console.warn('backstop_ready fired after timeout: ' + hydrated + '/' + total + ' CEs hydrated');
          console.log('backstop_ready');
        } else {
          setTimeout(checkHydration, 100);
        }
      }

      checkHydration();
    });
