@import '../input-wrapper';

.chi {
  .a-inputWrapper {
    textarea {
      &.a-input {
        & ~ .a-icon {
          height: 2rem;
          position: absolute;
          top: 1rem;
          width: 2rem;
        }

        &.-small {
          & ~ .a-icon {
            height: 1.5rem;
            top: 0.75rem;
            width: 1.5rem;
          }
        }

        &.-large {
          & ~ .a-icon {
            top: 1.5rem;
          }
        }
      }
    }

    &.-iconLeft {
      textarea {
        &.a-input {
          padding-left: 3.875rem;

          &.-small {
            padding-left: 3.375rem;
          }

          &.-large {
            padding-left: 4.875rem;

            & ~ .a-icon {
              &:first-of-type {
                left: 1.5rem;
              }
            }
          }

          & ~ .a-icon {
            &:first-of-type {
              left: 1rem;
            }
          }
        }
      }
    }

    &.-iconRight {
      textarea {
        &.a-input {
          padding-right: 3.875rem;

          &.-small {
            padding-right: 3.375rem;
          }

          &.-large {
            padding-right: 4.875rem;

            & ~ .a-icon {
              &:last-of-type {
                right: 1.5rem;
              }
            }
          }

          & ~ .a-icon {
            &:last-of-type {
              right: 1rem;
            }
          }
        }
      }
    }
  }
}
