@import 'variables';
@import 'mixins';

:root {
  font-size: 8px;
}

* { // sass-lint:disable-line no-universal-selectors
  -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
}

body {
  color: $text-color;
  font-family: 'Open Sans', 'Open Sans Fallback', 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
  font-size: 2rem;
  line-height: 1rem;
}

h1,
.c-h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 8rem;
  margin: 4rem 0;
}

h2,
.c-h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 6rem;
  margin: 2rem 0;
}

h3,
.c-h3 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  margin: 2rem 0;
}

h4,
.c-h4 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 4rem;
  margin: 1rem 0;
}

h5,
.c-h5 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 4rem;
  margin: 1rem 0;
}

h6,
.c-h6 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 3rem;
  margin: 1rem 0;
}

.c-text {
  font-size: 2rem;
  line-height: 3rem;
}

small,
.c-text--small {
  font-size: 1.375rem;
  line-height: 2rem;
}

// line heights
@for $index from 1 through 4 {
  .c-lh#{$index} {
    line-height:  $index + rem;
  }
}

// text colors
.c-text--inverse {
  color: $text-inverse !important;
}

.c-text--success {
  color: $accent-color !important;
}

.c-text--danger {
  color: $danger-color !important;
}

.c-text--info {
  color: $info-color !important;
}

.c-text--warning {
  color: $warning-color !important;
}
