---
title: Button Groups
---
img(inline src='src/assets/images/icon-workspace.svg')

p.-text
  | Button groups are used to wrap a series of buttons on a single line.

h3 Examples
h4 Base
p.-text To render a button group, wrap a series of buttons in a div and apply the class <code>m-btnGroup</code>.
.example.-mb3
  .-p3
    .m-btnGroup
      button(class=`a-btn`) Button
      button(class=`a-btn`) Button
      button(class=`a-btn`) Button
  :code(lang='html')
    <div class="m-btnGroup">
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
    </div>

h4 Vertical
p.-text To render a series of buttons vertically, apply the class modifier <code>-vertical</code>.
.example.-mb3
  .-p3
    .m-btnGroup.-vertical
      button(class=`a-btn`) Button
      button(class=`a-btn`) Button
      button(class=`a-btn`) Button
  :code(lang='html')
    <div class="m-btnGroup -vertical">
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
    </div>

h3 Fluid buttons
p.-text Button groups can be expanded to fill the parent space by applying the class <code>-fluid</code>.
h4 Horizontal
.example.-mb3
  .-p3
    .m-btnGroup.-fluid(style="width:600px")
      button(class=`a-btn`) Button
      button(class=`a-btn`) Button
      button(class=`a-btn`) Button
  :code(lang='html')
    <div class="m-btnGroup -fluid">
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
    </div>

h4 Vertical
.example.-mb3
  .-p3
    .m-btnGroup.-vertical.-fluid(style="width:200px")
      button(class=`a-btn`) Button
      button(class=`a-btn`) Button
      button(class=`a-btn`) Button
  :code(lang='html')
    <div class="m-btnGroup -vertical -fluid">
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
      <button class="a-btn">Button</button>
    </div>

h4 Alignment
p.-text
  | Button text is centered by default. However, this behavior can change by applying the modifiers
  | <code>-alignLeft</code> or <code>-alignRight</code>.
.example.-mb3
  .-p3
    .m-btnGroup.-fluid(style="width:600px")
      button(class=`a-btn -alignLeft`) Button
      button(class=`a-btn`) Button
      button(class=`a-btn -alignRight`) Button
  :code(lang='html')
    <div class="m-btnGroup -fluid">
      <button class="a-btn -alignLeft">Button</button>
      <button class="a-btn">Button</button>
      <button class="a-btn -alignRight">Button</button>
    </div>

h4 Disable Fluidity
p.-text
  | To disable the fluidity of a specific button in a fluid button group, apply the class <code>-notFluid</code> to the button.

.example.-mb3
  .-p3
    .m-btnGroup.-fluid(style="width:600px")
      button(class=`a-btn`) Button
      button(class=`a-btn -notFluid`) Button
      button(class=`a-btn`) Button
  :code(lang='html')
    <div class="m-btnGroup -fluid">
      <button class="a-btn">Button</button>
      <button class="a-btn -notFluid">Button</button>
      <button class="a-btn">Button</button>
    </div>

h3 Hybrid buttons

p.-text
  | Button groups support all button types and styles, including icons.
  | Mix and match text and icons to form a hybrid button group.

.example.-mb3
  .-p3
    .m-btnGroup
      button(class=`a-btn`) Button
      button(class=`a-btn -icon`)
        .a-btn__content
          .a-icon
            svg
              use(xlink:href='#workspace')
  :code(lang='html')
    <div class="m-btnGroup">
      <button class="a-btn">Button</button>
      <button class="a-btn -icon">
        <div class="a-btn__content">
          <div class="a-icon">
            <svg>
              <use xlink:href="#workspace"></use>
            </svg>
          </div>
        </div>
      </button>
    </div>

p.-text
  | Hybrid buttons also support fluid rendering.

.example.-mb3
  .-p3
    .m-btnGroup.-fluid(style="width:200px")
      button(class=`a-btn`) Button
      button(class=`a-btn -icon -notFluid`)
        .a-btn__content
          .a-icon
            svg
              use(xlink:href='#workspace')
  :code(lang='html')
    <div class="m-btnGroup -fluid">
      <button class="a-btn">Button</button>
      <button class="a-btn -icon -notFluid">
        <div class="a-btn__content">
          <div class="a-icon">
            <svg>
              <use xlink:href="#workspace"></use>
            </svg>
          </div>
        </div>
      </button>
    </div>
