---
title: Header
description: Headers are used to render consistent CenturyLink branded headers.
tabs: {"Examples" : "examplestab", "Properties" : "propertiestab", "Accessibility" : "accessibilitytab"}
---

.a-tabs-panel.-active#examplestab
  include _examples

.a-tabs-panel#propertiestab
  include _properties

.a-tabs-panel#accessibilitytab
  include _accessibility