---
title: Link
description: Use Links to navigate between pages, locations within the same page, and more.
tabs: {"Examples" : "examplestab", "Properties" : "propertiestab", "Accessibility" : "accessibilitytab"}
---

.chi-tabs-panel.-active#examplestab
  include _examples

.chi-tabs-panel#propertiestab
  include _properties

.chi-tabs-panel#accessibilitytab
  include _accessibility
