h2 Examples

h3 Base
:example(lang="html"):html-beautify:pug include ./_default.pug

h3 No Border
p.-text Remove all borders by applying the modifier class <code>-no-border</code>.
:example(lang="html"):html-beautify:pug include ./_borderless.pug

h3 Striped
p.-text Alternate the table row color by applying the modifier class <code>-striped</code>.
:example(lang="html"):html-beautify:pug include ./_striped.pug

h3 Hover
p.-text Enable a hover state by applying the modifier class <code>-hover</code>.
:example(lang="html"):html-beautify:pug include ./_hover.pug

h3 Portal theme
p.-text
  | Enable portal styling by applying class <code>-portal</code>.
  | To display a row in active / selected state, apply class <code>-active</code> to the <code>tr</code>.
:example(lang="html"):html-beautify:pug include ./_portal.pug

h3 Inverse theme
p.-text
  | Enable inverse styling by applying class <code>-inverse</code>.
  | To display a row in active / selected state, apply class <code>-active</code> to the <code>tr</code>.
:example(lang="html"):html-beautify:pug include ./_inverse.pug

h2 Row States
p.-text
  | Chi offers a wide variety of modifiers to express different row states.

h3 Disabled
p.-text Disable a row by applying the attribute <code>disabled</code>.
:example(lang="html"):html-beautify:pug include ./_disabled.pug

h3 Success
p.-text Render a success state by applying the modifier class <code>-row--success</code>.
:example(lang="html"):html-beautify:pug include ./_row-success.pug

h3 Warning
p.-text Render a warning state by applying the modifier class <code>-row--warning</code>.
:example(lang="html"):html-beautify:pug include ./_row-warning.pug

h3 Danger
p.-text Render a danger state by applying the modifier class <code>-row--danger</code>.
:example(lang="html"):html-beautify:pug include ./_row-danger.pug

h3 Info
p.-text Render an info state by applying the modifier class <code>-row--info</code>.
:example(lang="html"):html-beautify:pug include ./_row-info.pug

h2 Column Sorting
p.-text
  | To express column sorting, apply the class <code>-sorted</code> with one of
  | the following modifiers: <code>-ascending</code> or <code>-descending</code>.

h3 Ascending
:example(lang="html"):html-beautify:pug include ./_sort-ascending.pug

h3 Descending
:example(lang="html"):html-beautify:pug include ./_sort-descending.pug

h2 Content alignment
p.-text
  | Chi also supports additional content alignment with inline text align utilities
  | applying the modifier class <code>-text--left</code> , <code>-text--center</code>
  | or <code>-text--right</code>.

:example(lang="html"):html-beautify:pug
  include ./_common.pug
  table.chi-table
    thead
      tr
        th.-text--left Name
        th.-text--center ID
        th.-text--right Last Login
    tbody
      tr.-md
        td.-text--left Name 1
        td.-text--center name-1
        td.-text--right 2020 3:26 PM
      tr.-md
        td.-text--left Name 2
        td.-text--center name-2
        td.-text--right 2020 3:26 PM
      tr.-md
        td.-text--left Name 3
        td.-text--center name-3
        td.-text--right 2020 3:26 PM

h2 Additional Sizes
p.-text
  | Chi also supports additional table sizes: <code>-xs</code>, <code>-sm</code>, <code>-md</code>,
  |  <code>-lg</code>, <code>-xl</code>.
  | The default size is <code>-md</code>.

h3 Size -xs
p.-text Render a <strong>-xs</strong> size by applying the modifier class <code>-xs</code>.
:example(lang="html"):html-beautify:pug include ./_row-xs.pug

h3 Size -sm
p.-text Render a <strong>-sm</strong> size by applying the modifier class <code>-sm</code>.
:example(lang="html"):html-beautify:pug include ./_row-sm.pug

h3 Size -md
p.-text Render a <strong>-md</strong> size by applying the modifier class <code>-md</code>.
  |  <strong>-md</strong> is the default size.
:example(lang="html"):html-beautify:pug include ./_row-md.pug

h3 Size -lg
p.-text Render a <strong>-lg</strong> size by applying the modifier class <code>-lg</code>.
:example(lang="html"):html-beautify:pug include ./_row-lg.pug

h3 Size -xl
p.-text Render a <strong>-xl</strong> size by applying the modifier class <code>-xl</code>.
:example(lang="html"):html-beautify:pug include ./_row-xl.pug

h2 Selectable
:example(lang="html")
  <table class="chi-table">
    <thead>
        <tr>
            <th>
              <div class="-lh--1">
                <input class="chi-checkbox__input" type="checkbox" id="chk-1" />
                <label class="chi-checkbox__label" for="chk-1">
                  <div class="-sr--only">Label</div>
                </label>
              </div>
            </th>
            <th class="-sorted -ascending">
                <div>Name</div>
            </th>
            <th>ID</th>
            <th>Last Login</th>
        </tr>
    </thead>
    <tbody>
        <tr class="-row--info">
            <td class="-lh--1">
              <input class="chi-checkbox__input" type="checkbox" id="chk-1-01" checked="checked" />
              <label class="chi-checkbox__label" for="chk-1-01">
                <div class="-sr--only">Label</div>
              </label>
            </td>
            <td>Name 1</td>
            <td>name-1</td>
            <td>Dec 18, 2020 3:26 PM</td>
        </tr>
        <tr>
            <td class="-lh--1">
              <input class="chi-checkbox__input" type="checkbox" id="chk-1-02" />
              <label class="chi-checkbox__label" for="chk-1-02">
                <div class="-sr--only">Label</div>
              </label>
            </td>
            <td>Name 2</td>
            <td>name-2</td>
            <td>Dec 18, 2020 2:38 AM</td>
        </tr>
        <tr>
            <td class="-lh--1">
              <input class="chi-checkbox__input" type="checkbox" id="chk-1-03" />
              <label class="chi-checkbox__label" for="chk-1-03">
                  <div class="-sr--only">Label</div>
              </label>
            </td>
            <td>Name 3</td>
            <td>name-3</td>
            <td>Nov 5, 2020 10:15 AM</td>
        </tr>
    </tbody>
  </table>

h2 Scrollable
p.-text
  | If the <code>section</code> height is smaller than the <code>table</code>
  | height, the <code>table</code> header will be fixed positioned and
  | content will scroll. Tables must be wrapped in a
  | <code>&lt;section class="chi-table -fixed--header"&gt;</code>
:example(lang="html"):html-beautify:pug
  include ./_common.pug
  section.chi-table.-fixed--header(style="height: 150px")
    div
      table
        thead
          tr
            th
              div Name
            th
              div ID
            th
              div Last Login
        tbody
          +tr('Name 1', 'name-1', 'Dec 18, 2020 3:26 PM')
          +tr('Name 2', 'name-2', 'Dec 18, 2020 2:38 AM')
          +tr('Name 3', 'name-3', 'Nov 5, 2020 10:15 AM')

h2 Two tier table header
:example(lang="html"):html-beautify:pug
  include ./_common.pug
  table.chi-table
    colgroup
      col
    colgroup(span='2')
    colgroup(span='2')
    colgroup
      col
    thead
      tr
        th.-sorted.-descending
          div Location
        th(colspan='2', scope='colgroup') High Utilization
        th(colspan='2', scope='colgroup') Elevated Utilization
        th.-sorted.-descending
          div Highest %
      tr
        th(scope='col')
        th(scope='col').-sorted.-descending
          div Total
        th(scope='col').-sorted.-descending
          div %
        th(scope='col').-sorted.-descending
          div Total
        th(scope='col').-sorted.-descending
          div %
        th(scope='col')
    tbody
      tr
        td.-text--normal(scope='row') Location 1
        td 3
        td 98%
        td —
        td —
        td 98%
      tr
        td.-text--normal(scope='row') Location 2
        td 1
        td 98%
        td 3
        td 67%
        td 98%
      tr
        td.-text--normal(scope='row') Location 3
        td —
        td —
        td 2
        td 66%
        td 66%
      tr
        td.-text--normal(scope='row') Location 4
        td —
        td —
        td 1
        td 66%
        td 66%