include ./_common.pug

table.chi-table.-inverse
	thead
		tr
			th Name
			th ID
			th Last Login
	tbody
		tr
			td Name 1
			td name-1
			td Dec 18, 2020 3:26 PM
		tr
			td Name 2
			td name-2
			td Dec 18, 2020 2:38 AM
		tr.-active
			td Name 3
			td name-3
			td Nov 5, 2020 10:15 AM
