include ./_common.pug

table.a-table.-portal
	caption Table title
	thead
		tr
			th Column 1
			th Column 2
			th Column 3
	tbody
		tr
			td
				a(href="#") David Navarro
			td david
			td Dec 18, 2017 3:26 PM
		tr
			td
				a(href="#") Diego Sanjuan
			td diego
			td Dec 18, 2017 2:38 AM
		tr
			td
				a(href="#") Manuel Martin	
			td manuel
			td Nov 5, 2017 10:15 AM
