---
title: Table
---
p.-text Tables are used to present data sets in a simple and organized way.

h3 Examples
h4 Base
:example(lang="html"):html-beautify:pug include ./_default.pug

h4 Bordered
p.-text Tables can be bordered by applying the modifier class <code>-bordered</code>.
:example(lang="html"):html-beautify:pug include ./_bordered.pug

h4 Borderless
p.-text Remove all borders by applying the modifier class <code>-borderless</code>.
:example(lang="html"):html-beautify:pug include ./_borderless.pug

h4 Striped
p.-text Alternate the table row color by applying the modifier class <code>-striped</code>.
:example(lang="html"):html-beautify:pug include ./_striped.pug

h4 Hover
p.-text Enable a hover state by applying the modifier class <code>-hover</code>.
:example(lang="html"):html-beautify:pug include ./_hover.pug

h3 Row States
p.-text
  | Chi offers a wide variety of modifiers to express different row states.

h4 Disabled
p.-text Disable a row by applying the attribute <code>disabled="disabled"</code>.
:example(lang="html"):html-beautify:pug include ./_disabled.pug

h4 Success
p.-text Render a success state by applying the modifier class <code>-row--success</code>.
:example(lang="html"):html-beautify:pug include ./_row-success.pug

h4 Warning
p.-text Render a warning state by applying the modifier class <code>-row--warning</code>.
:example(lang="html"):html-beautify:pug include ./_row-warning.pug

h4 Danger
p.-text Render a danger state by applying the modifier class <code>-row--danger</code>.
:example(lang="html"):html-beautify:pug include ./_row-danger.pug

h4 Info
p.-text Render an info state by applying the modifier class <code>-row--info</code>.
:example(lang="html"):html-beautify:pug include ./_row-info.pug

h3 Column Sorting
p.-text
  | To express column sorting, apply the class <code>-sorted</code> with one of
  | the following modifiers: <code>-ascending</code> or <code>-descending</code>.

h4 Ascending
:example(lang="html"):html-beautify:pug include ./_sort-ascending.pug

h4 Descending
:example(lang="html"):html-beautify:pug include ./_sort-descending.pug

h3 Content alignment
p.-text
  | Chi also supports additional content alignment with inline text align utilities
  | applying the modifier class <code>-text--left</code> , <code>-text--center</code>
  | or <code>-text--right</code>.

:example(lang="html"):html-beautify:pug
  include ./_common.pug
  table.a-table
    thead
      tr
        th.-text--left name
        th.-text--center ID
        th.-text--right last login
    tbody
      tr.-md
        td.-text--left David Navarro
        td.-text--center david
        td.-text--right 2017 3:26 PM
      tr.-md
        td.-text--left Diego Sanjuan
        td.-text--center diego
        td.-text--right 2017 3:26 PM
      tr.-md
        td.-text--left Manuel Martin
        td.-text--center manuel
        td.-text--right 2017 3:26 PM

h3 Additional Sizes
p.-text
  | Chi also supports additional table sizes: <code>-xs</code>, <code>-sm</code>, <code>-md</code>,
  |  <code>-lg</code>, <code>-xl</code>.
  | The default size is <code>-md</code>.

h4 Size -xs
p.-text Render a <strong>-xs</strong> size by applying the modifier class <code>-xs</code>.
:example(lang="html"):html-beautify:pug include ./_row-xs.pug

h4 Size -sm
p.-text Render a <strong>-sm</strong> size by applying the modifier class <code>-sm</code>.
:example(lang="html"):html-beautify:pug include ./_row-sm.pug

h4 Size -md
p.-text Render a <strong>-md</strong> size by applying the modifier class <code>-md</code>.
  |  <strong>-md</strong> is the default size.
:example(lang="html"):html-beautify:pug include ./_row-md.pug

h4 Size -lg
p.-text Render a <strong>-lg</strong> size by applying the modifier class <code>-lg</code>.
:example(lang="html"):html-beautify:pug include ./_row-lg.pug

h4 Size -xl
p.-text Render a <strong>-xl</strong> size by applying the modifier class <code>-xl</code>.
:example(lang="html"):html-beautify:pug include ./_row-xl.pug

h3 Selectable
:example(lang="html"):html-beautify:pug include ./_selectable.pug

h3 Scrollable
p.-text
  | If the <code>section</code> height is smaller than the <code>table</code>
  | height, the <code>table</code> header will be fixed positioned and
  | content will scroll.
h4 Requirements
p.-text
  | Tables must be wrapped in a <code>&lt;section class="a-table -fixed--header"&gt;</code>
:example(lang="html"):html-beautify:pug
  include ./_common.pug
  section.a-table.-fixed--header(style="height: 150px")
    div
      table
        thead
          tr
            th
              div name
            th
              div ID
            th
              div last login
        tbody
          +tr('David Navarro', 'david', 'Dec 18, 2017 3:26 PM')
          +tr('Diego Sanjuan', 'diego', 'Dec 18, 2017 2:38 AM')
          +tr('Manuel Martin', 'manuel', 'Nov 5, 2017 10:15 AM')
