.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.3s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
  transform: translateY(-8px);
}

// TODO: Remove after new Chi 5.29.0 version
.chi-save-view {
  &__base,
  &__edit,
  &__saved {
    .chi-save-view__no_actions {
      align-items: center;
      display: flex;
    }
  }
}
