h3 Portal Empty
.test-empty-portal.-p--3.-w--100
  .chi-data-table.-portal.-compact
    .chi-data-table__head
      .chi-data-table__row
        .chi-data-table__cell
          div Name
        .chi-data-table__cell
          div ID
        .chi-data-table__cell
          div Last Login
    .chi-data-table__body
      .chi-data-table__row-empty
        | No matches found. Please revise search criteria and try again.
