---
title: Checkbox
---
p.-text Checboxes are used to select one or several options in a list.

h2 Examples
p.-text
  | To render a checkbox, apply the class <code>a-input</code> to an <code>input type="checkbox"</code>.
  | For proper styling, checkboxes require an empty label element defined immediately after their declaration.

h3 Stacked
p.-text
  | Group checkboxes in <code>m-form__item</code> for easy stacking. Apply class <code>-row</code> to display checkbox and label inline.
.example.-mb--3
  .-p--3
    .m-form__item.-row
      input(type="checkbox", class="a-input", id="checkbox1")
      label(for="checkbox1")
      label.-text(for="checkbox1") Checkbox
    .m-form__item.-row
      input(type="checkbox", class="a-input", id="checkbox2", disabled)
      label(for="checkbox2")
      label.-text(for="checkbox2") Disabled Checkbox
  :code(lang="html")
    <div class="m-form__item -row">
      <input type="checkbox" class="a-input" id="checkbox1">
      <label for="checkbox1"></label>
      <label class="-text" for="checkbox1">Checkbox</label>
    </div>
    <div class="m-form__item -row">
      <input type="checkbox" class="a-input" id="checkbox2" disabled>
      <label for="checkbox2"></label>
      <label class="-text" for="checkbox2">Disabled Checkbox</label>
    </div>

h3 Inline
p.-text
  | Apply the class <code>-inline</code> to <code>m-form__item</code> to display two or more checkboxes in one row.
.example.-mb--3
  .-p--3
    .m-form__item.-row.-inline
      input(type="checkbox", class="a-input", id="inlineCheckbox1")
      label(for="inlineCheckbox1")
      label.-text(for="inlineCheckbox1") Option 1
    .m-form__item.-row.-inline.-ml--1
      input(type="checkbox", class="a-input", id="inlineCheckbox2")
      label(for="inlineCheckbox2")
      label.-text(for="inlineCheckbox2") Option 2
  :code(lang="html")
    <div class="m-form__item -row -inline">
      <input type="checkbox" class="a-input" id="inlineCheckbox1">
      <label for="inlineCheckbox1"></label>
      <label class="-text" for="inlineCheckbox1">Option 1</label>
    </div>
    <div class="m-form__item -row -inline">
      <input type="checkbox" class="a-input" id="inlineCheckbox2">
      <label for="inlineCheckbox2"></label>
      <label class="-text" for="inlineCheckbox2">Option 2</label>
    </div>

h2 Checkbox List
p.-text
  | Checkbox lists are used to wrap a series of checkbox in a list.

h2 Examples
p.-text To render a series of checkboxes in a list, apply the class <code>-list</code> to <code>m-form__item</code>.
.example.-mb--3
  .-p--3
    legend.a-label Select an option
    ul.m-form__item.-list(style="max-width:20rem")
      li.m-form__item.-row
        input(type="checkbox", class="a-input", id="checkbox-1")
        label(for="checkbox-1")
        label.-text(for="checkbox-1") Option 1
      li.m-form__item.-row
        input(type="checkbox", class="a-input", id="checkbox-2")
        label(for="checkbox-2")
        label.-text(for="checkbox-2") Option 2
      li.m-form__item.-row
        input(type="checkbox", class="a-input", id="checkbox-3")
        label(for="checkbox-3")
        label.-text(for="checkbox-3") Option 3
      li.m-form__item.-row
        input(type="checkbox", class="a-input", id="checkbox-4")
        label(for="checkbox-4")
        label.-text(for="checkbox-4") Option 4
      li.m-form__item.-row
        input(type="checkbox", class="a-input", id="checkbox-5")
        label(for="checkbox-5")
        label.-text(for="checkbox-5") Option 5
  :code(lang='html')
    <legend class="a-label">Select an option</legend>
    <ul class="m-form__item -list">
      <li class="m-form__item -row">
        <input type="checkbox" class="a-input" id="checkbox1">
        <label for="checkbox1"></label>
        <label class="-text" for="checkbox1">Option 1</label>
      </li>
      <li class="m-form__item -row">
        <input type="checkbox" class="a-input" id="checkbox2">
        <label for="checkbox2"></label>
        <label class="-text" for="checkbox2">Option 2</label>
      </li>
      <li class="m-form__item -row">
        <input type="checkbox" class="a-input" id="checkbox3">
        <label for="checkbox3"></label>
        <label class="-text" for="checkbox3">Option 3</label>
      </li>
      <li class="m-form__item -row">
        <input type="checkbox" class="a-input" id="checkbox4">
        <label for="checkbox4"></label>
        <label class="-text" for="checkbox4">Option 4</label>
      </li>
      <li class="m-form__item -row">
        <input type="checkbox" class="a-input" id="checkbox5">
        <label for="checkbox5"></label>
        <label class="-text" for="checkbox5">Option 5</label>
      </li>
    </ul>
