---
title: Checkbox List
---

p.-text
  | Checkbox lists are used to wrap a series of checkbox on a list.

h3 Examples
h4 Base
p.-text To render a series of checkbox in a list, apply the class <code>m-checkboxList</code>.
.example.-mb--3
  .-p--3
    .m-checkboxList(style="width:400px")
      div
        input(type="checkbox", class="a-input", id="checkbox1")
        label(for="checkbox1")
        label.-text(for="checkbox1") Checkbox 1
      .a-divider
      div
        input(type="checkbox", class="a-input", id="checkbox2")
        label(for="checkbox2")
        label.-text(for="checkbox2") Checkbox 2
      .a-divider
      div
        input(type="checkbox", class="a-input", id="checkbox3")
        label(for="checkbox3")
        label.-text(for="checkbox3") Checkbox 3
      .a-divider
      div
        input(type="checkbox", class="a-input", id="checkbox4")
        label(for="checkbox4")
        label.-text(for="checkbox4") Checkbox 4
      .a-divider
      div
        input(type="checkbox", class="a-input", id="checkbox5")
        label(for="checkbox5")
        label.-text(for="checkbox5") Checkbox 5
  :code(lang='html')
    <div class="m-checkboxList">
      <div>
        <input type="checkbox" class="a-input" id="checkbox1">
        <label for="checkbox1"></label>
        <label class="-text" for="checkbox1">Checkbox 1</label>
      </div>
      <div class="a-divider"></div>
      <div>
        <input type="checkbox" class="a-input" id="checkbox2">
        <label for="checkbox2"></label>
        <label class="-text" for="checkbox2">Checkbox 2</label>
      </div>
      <div class="a-divider"></div>
      <div>
        <input type="checkbox" class="a-input" id="checkbox3">
        <label for="checkbox3"></label>
        <label class="-text" for="checkbox3">Checkbox 3</label>
      </div>
      <div class="a-divider"></div>
      <div>
        <input type="checkbox" class="a-input" id="checkbox4">
        <label for="checkbox4"></label>
        <label class="-text" for="checkbox4">Checkbox 4</label>
      </div>
      <div class="a-divider"></div>
        <div>
          <input type="checkbox" class="a-input" id="checkbox5">
          <label for="checkbox5"></label>
          <label class="-text" for="checkbox5">Checkbox 5</label>
        </div>
    </div>
