---
title: File input
---
p.-text File inputs are used to select one or more files from a users device storage.

.m-alert.-bubble.-info.-hasIcon
  | This component requires Javascript

h3 Examples
p.-text
  | To render a file input, apply the class <code>a-input</code> to an <code>input type="file"</code> and
  | add a label next to it.

h4 Base
.example.-mb--3
  .-p--3
    .m-formGroup
      input.a-input(type="file", id="file01")
      label(for="file01") No file chosen
  :code(lang="html")
    <input type="file" class="a-input" id="file01">
    <label for="file01">No file chosen</label>

h3 Sizes
p.-text
  | File inputs supports a full spectrum of sizes: <code>-sm</code>, <code>-md</code>,
  |  <code>-lg</code>, <code>-xl</code>.
  | The default size is <code>-md</code>.
.example.-mb--3
  .-p--3
    each size in ['sm', 'md', 'lg', 'xl']
      div(class=`a-col -w--12 -p--2`)
        .m-formGroup
          input.a-input(type="file", class=`-${size}`, id="file01")
          label(for="file01") No file chosen
  :code(lang='html')
    <input type="file" class="a-input -sm" id="file01">
    <label for="file01">No file chosen</label>
    <input type="file" class="a-input -md" id="file01">
    <label for="file01">No file chosen</label>
    <input type="file" class="a-input -lg" id="file01">
    <label for="file01">No file chosen</label>
    <input type="file" class="a-input -xl" id="file01">
    <label for="file01">No file chosen</label>

h3 JavaScript
p.-text This component requires JavaScript to update the label content once a file or files have been selected.

h4 Example
.-mb--4
  include:code(lang="js") ../../../../chi/components/input-file/input-file.js

script
  include ../../../../chi/components/input-file/input-file.js
