---
title: Radio Button List
---

p.-text
  | Radio button lists are used to wrap a series of radio buttons on a list.

h3 Examples
h4 Base
p.-text To render a series of radio buttons in a list, apply the class <code>m-radiobuttonList</code>.
.example.-mb--3
  .-p--3
    h5 Choose an option
    .m-radiobuttonList(style="width:400px")
      div
        input(type="radio", class="a-input", name="radiobuttonList", id="radio1")
        label(for="radio1")
        label.-text(for="radio1") Option 1
      .a-divider
      div
        input(type="radio", class="a-input", name="radiobuttonList", id="radio2")
        label(for="radio2")
        label.-text(for="radio2") Option 2
      .a-divider
      div
        input(type="radio", class="a-input", name="radiobuttonList", id="radio3")
        label(for="radio3")
        label.-text(for="radio3") Option 3
      .a-divider
      div
        input(type="radio", class="a-input", name="radiobuttonList", id="radio4")
        label(for="radio4")
        label.-text(for="radio4") Option 4
      .a-divider
      div
        input(type="radio", class="a-input", name="radiobuttonList", id="radio5")
        label(for="radio5")
        label.-text(for="radio5") Option 5
  :code(lang='html')
    <h5> Choose an option </h5>
    <div class="m-radiobuttonList">
      <div>
        <input type="radio" class="a-input" name="radiobuttonList" id="radio1">
        <label for="radio1"></label>
        <label class="-text" for="radio1">Option 1</label>
      </div>
      <div class="a-divider"></div>
      <div>
        <input type="radio" class="a-input" name="radiobuttonList" id="radio2">
        <label for="radio2"></label>
        <label class="-text" for="radio2">Option 2</label>
      </div>
      <div class="a-divider"></div>
      <div>
        <input type="radio" class="a-input" name="radiobuttonList" id="radio3">
        <label for="radio3"></label>
        <label class="-text" for="radio3">Option 3</label>
      </div>
      <div class="a-divider"></div>
      <div>
        <input type="radio" class="a-input" name="radiobuttonList" id="radio4">
        <label for="radio4"></label>
        <label class="-text" for="radio4">Option 4</label>
      </div>
      <div class="a-divider"></div>
        <div>
          <input type="radio" class="a-input" name="radiobuttonList" id="radio5">
          <label for="radio5"></label>
          <label class="-text" for="radio5">Option 5</label>
        </div>
    </div>
