---
title: Radio Button
---
p.-text Radio buttons are used to select a single item in a list of options.

h3 Examples
p.-text
  | To render a radio button, apply the class <code>a-input</code> to an <code>input type="radio"</code>.
  | For proper styling, radio buttons require an empty label element defined immediately after their declaration.

h4 Stacked
p.-text
  | Group radio buttons in <code>m-formGroup</code> for easy stacking.
.example.-mb--3
  .-p--3
    .m-formGroup
      input(class="a-input", type="radio", name="radios", id="radio1")
      label(for="radio1")
      label.-text(for="radio1") Radio Button
    .m-formGroup
      input(class="a-input", type="radio", name="radios", id="radio2", disabled)
      label(for="radio2")
      label.-text(for="radio2") Disabled Radio Button
  :code(lang="html")
    <div class="m-formGroup">
      <input class="a-input" type="radio" name="radios" id="radio1">
      <label for="radio1"></label>
      <label class="-text" for="radio1">Radio Button</label>
    </div>
    <div class="m-formGroup">
      <input class="a-input" type="radio" name="radios" id="radio2" disabled>
      <label for="radio2"></label>
      <label class="-text" for="radio2">Disabled Radio Button</label>
    </div>

h4 Inline
p.-text
  | Apply the class <code>-inline</code> to <code>m-formGroup</code> to display radio buttons inline.
.example.-mb--3
  .-p--3
    .m-formGroup.-inline
      input(class="a-input", type="radio", name="inlineRadios", id="inlineRadio1")
      label(for="inlineRadio1")
      label.-text(for="inlineRadio1") Option 1
    .m-formGroup.-inline.-ml--1
      input(class="a-input", type="radio", name="inlineRadios", id="inlineRadio2")
      label(for="inlineRadio2")
      label.-text(for="inlineRadio2") Option 2
  :code(lang="html")
    <div class="m-formGroup -inline">
      <input class="a-input" type="radio" name="inlineRadios" id="inlineRadio1">
      <label for="inlineRadio1"></label>
      <label class="-text" for="inlineRadio1">Option 1</label>
    </div>
    <div class="m-formGroup -inline">
      <input class="a-input" type="radio" name="inlineRadios" id="inlineRadio2" disabled>
      <label for="inlineRadio2"></label>
      <label class="-text" for="inlineRadio2">Option 2</label>
    </div>

h2 Radio Button List
p.-text
  | Radio button lists are used to wrap a series of radio buttons on a list.

h3 Examples
p.-text To render a series of radio buttons in a list, apply the class<code>m-formGroup</code> in a list with
 |  a contextual class <code>-list</code> that apply the right style.
.example.-mb--3
  .-p--3
    h5 Select an option
    ul.m-formGroup.-list(style="max-width:20rem")
      li.m-formGroup
        input(type="radio", class="a-input", name="radiobuttonList", id="radio-1")
        label(for="radio-1")
        label.-text(for="radio-1") Option 1
      li.m-formGroup
        input(type="radio", class="a-input", name="radiobuttonList", id="radio-2")
        label(for="radio-2")
        label.-text(for="radio-2") Option 2
      li.m-formGroup
        input(type="radio", class="a-input", name="radiobuttonList", id="radio-3")
        label(for="radio-3")
        label.-text(for="radio-3") Option 3
      li.m-formGroup
        input(type="radio", class="a-input", name="radiobuttonList", id="radio-4")
        label(for="radio-4")
        label.-text(for="radio-4") Option 4
      li.m-formGroup
        input(type="radio", class="a-input", name="radiobuttonList", id="radio-5")
        label(for="radio-5")
        label.-text(for="radio-5") Option 5
  :code(lang='html')
    <h5> Select an option </h5>
    <ul class="m-formGroup -list">
      <li class="m-formGroup">
        <input type="radio" class="a-input" name="radiobuttonList" id="radio1">
        <label for="radio1"></label>
        <label class="-text" for="radio1">Option 1</label>
      </li>
      <li class="m-formGroup">
        <input type="radio" class="a-input" name="radiobuttonList" id="radio2">
        <label for="radio2"></label>
        <label class="-text" for="radio2">Option 2</label>
      </li>
      <li class="m-formGroup">
        <input type="radio" class="a-input" name="radiobuttonList" id="radio3">
        <label for="radio3"></label>
        <label class="-text" for="radio3">Option 3</label>
      </li>
      <li class="m-formGroup">
        <input type="radio" class="a-input" name="radiobuttonList" id="radio4">
        <label for="radio4"></label>
        <label class="-text" for="radio4">Option 4</label>
      </li>
      <li class="m-formGroup">
        <input type="radio" class="a-input" name="radiobuttonList" id="radio5">
        <label for="radio5"></label>
        <label class="-text" for="radio5">Option 5</label>
      </li>
    </ul>
