---
title: Radio Button
---
p.-text Radio buttons are used to select a single item in a list of options.

h3 Examples
p.-text
  | To render a radio button, apply the class <code>a-input</code> to an <code>input type="radio"</code>.
  | For proper styling, radio buttons require an empty label element defined immediately after their declaration.

h4 Stacked
p.-text
  | Group radio buttons in <code>m-formGroup</code> for easy stacking.
.example.-mb3
  .-p3
    .m-formGroup
      input(class="a-input", type="radio", name="radios", id="radio1")
      label(for="radio1")
      label.-text(for="radio1") Radio Button
    .m-formGroup
      input(class="a-input", type="radio", name="radios", id="radio2", disabled)
      label(for="radio2")
      label.-text(for="radio2") Disabled Radio Button
  :code(lang="html")
    <div class="m-formGroup">
      <input class="a-input" type="radio" name="radios" id="radio1">
      <label for="radio1"></label>
      <label class="-text" for="radio1">Radio Button</label>
    </div>
    <div class="m-formGroup">
      <input class="a-input" type="radio" name="radios" id="radio2" disabled>
      <label for="radio2"></label>
      <label class="-text" for="radio2">Disabled Radio Button</label>
    </div>

h4 Inline
p.-text
  | Apply the class <code>-inline</code> to <code>m-formGroup</code> to display radio buttons inline.
.example.-mb3
  .-p3
    .m-formGroup.-inline
      input(class="a-input", type="radio", name="inlineRadios", id="inlineRadio1")
      label(for="inlineRadio1")
      label.-text(for="inlineRadio1") Option 1
    .m-formGroup.-inline.-ml1
      input(class="a-input", type="radio", name="inlineRadios", id="inlineRadio2")
      label(for="inlineRadio2")
      label.-text(for="inlineRadio2") Option 2
  :code(lang="html")
    <div class="m-formGroup -inline">
      <input class="a-input" type="radio" name="inlineRadios" id="inlineRadio1">
      <label for="inlineRadio1"></label>
      <label class="-text" for="inlineRadio1">Option 1</label>
    </div>
    <div class="m-formGroup -inline">
      <input class="a-input" type="radio" name="inlineRadios" id="inlineRadio2" disabled>
      <label for="inlineRadio2"></label>
      <label class="-text" for="inlineRadio2">Option 2</label>
    </div>
