---
title: Range Slider
---
p.-text Range sliders are used for inputting numeric values within a range.

.m-alert.-info.-my--3
  i.m-alert__icon.a-icon.icon-circle-info
  .m-alert__content
    p.m-alert__text This component requires Javascript to render consistently between browsers.

h3 Examples
p.-text
  | To render a range slider, apply the class <code>a-input</code> to an <code>input type="range"</code>.
  | Range widths are fluid by default.

h4 Base
.example.-mb--3
  .-p--3
    input(class="a-input", type="range")
  :code(lang="html")
    <input class="a-input" type="range">

h4 Disabled
.example.-mb--3
  .-p--3
    input(class="a-input", type="range", disabled)
  :code(lang="html")
    <input class="a-input" type="range" disabled>

h4 With Labels
.example.-mb--3
  .-p--3
    .m-form__item.-row
      label.-text.-mr--2 200GB
      input(type="range", class="a-input")
      label.-text.-ml--2 5TB
  :code(lang="html")
    <div class="m-form__item -row">
      <label class="-text">200GB</label>
      <input class="a-input -mx--2" type="range">
      <label class="-text">5TB</label>
    </div>

h3 Achieve consistent rendering

p.-text
  | As webkit browsers don't support an active track bar, we've created our own.
  | You will either need a JavaScript solution for moving the <code>a-input__thumb</code>
  | element and changing the size of <code>a-input__progress</code>, or
  | you can use Chi's JavaScript library as it provides this functionality out of the box.

h4 Base
.example.-mb--3
  .-p--3
    .m-input__wrapper
      input(class="a-input", type="range")
      .a-input__progress
      .a-input__thumb
  :code(lang="html")
    <div class="m-input__wrapper">
      <input class="a-input" type="range">
      <div class="a-input__progress"></div>
      <div class="a-input__thumb"></div>
    </div>

h4 Disabled
.example.-mb--3
  .-p--3
    .m-input__wrapper
      input(class="a-input", type="range", disabled)
      .a-input__progress
      .a-input__thumb
  :code(lang="html")
    <div class="m-input__wrapper">
      <input class="a-input" type="range" disabled>
      <div class="a-input__progress"></div>
      <div class="a-input__thumb"></div>
    </div>

h4 With Labels
.example.-mb--3
  .-p--3
    .m-form__item.-row
      label.-text.-mr--2 200GB
      .m-input__wrapper.-w--100
        input(type="range", class="a-input")
        .a-input__progress
        .a-input__thumb
      label.-text.-ml--2 5TB
  :code(lang="html")
    <div class="m-form__item -row">
      <label class="-text -mr--2">200GB</label>
      <div class="m-input__wrapper -w--100">
        <input class="a-input" type="range">
        <div class="a-input__progress"></div>
        <div class="a-input__thumb"></div>
      </div>
      <label class="-text -ml--2">5TB</label>
    </div>

h3 Radio buttons as range slider

p.-text
  | Enable range sliders to function like radio buttons.

.example.-mb--3
  .-p--3
    .m-input__wrapper
      input(class='a-input', type='range', min='0', max='4', step='1')
      .a-input__tick-bar
        div
          .a-input__tick
          .a-input__tick-label Monthly
        div
          .a-input__tick
          .a-input__tick-label 1 year
        div
          .a-input__tick
          .a-input__tick-label 2 years
        div
          .a-input__tick
          .a-input__tick-label 3 years
        div
          .a-input__tick
          .a-input__tick-label > 3 years

  :code(lang="html")
    <div class="m-input__wrapper">
      <input class="a-input" type="range" min="0" max="4" step="1">
      <div class="a-input__tick-bar">
        <div>
          <div class="a-input__tick"></div>
          <div class="a-input__tick-label">Monthly</div>
        </div>
        <div>
          <div class="a-input__tick"></div>
          <div class="a-input__tick-label">1 year</div>
        </div>
        <div>
          <div class="a-input__tick"></div>
          <div class="a-input__tick-label">2 years</div>
        </div>
        <div>
          <div class="a-input__tick"></div>
          <div class="a-input__tick-label">3 years</div>
        </div>
        <div>
          <div class="a-input__tick"></div>
          <div class="a-input__tick-label">&gt; 3 years</div>
        </div>
      </div>
    </div>

h4 Disabled
.example.-mb--3
  .-p--3
    .m-input__wrapper
      input(class="a-input", type="range", disabled, min='0', max='4', step='1')
      .a-input__tick-bar
        div
          .a-input__tick
          .a-input__tick-label Monthly
        div
          .a-input__tick
          .a-input__tick-label 1 year
        div
          .a-input__tick
          .a-input__tick-label 2 years
        div
          .a-input__tick
          .a-input__tick-label 3 years
        div
          .a-input__tick
          .a-input__tick-label > 3 years
  :code(lang="html")
    <div class="m-input__wrapper">
      <input class="a-input" type="range" min="0" max="4" step="1" disabled>
      <div class="a-input__tick-bar">
        <div>
          <div class="a-input__tick"></div>
          <div class="a-input__tick-label">Monthly</div>
        </div>
        <div>
          <div class="a-input__tick"></div>
          <div class="a-input__tick-label">1 year</div>
        </div>
        <div>
          <div class="a-input__tick"></div>
          <div class="a-input__tick-label">2 years</div>
        </div>
        <div>
          <div class="a-input__tick"></div>
          <div class="a-input__tick-label">3 years</div>
        </div>
        <div>
          <div class="a-input__tick"></div>
          <div class="a-input__tick-label">&gt; 3 years</div>
        </div>
      </div>
    </div>

h4 Consistent rendering in WebKit browsers

.example.-mb--3
  .-p--3
    .m-input__wrapper
      input(class='a-input', type='range', min='0', max='4', step='1')
      .a-input__tick-bar
        div
          .a-input__tick
          .a-input__tick-label Monthly
        div
          .a-input__tick
          .a-input__tick-label 1 year
        div
          .a-input__tick
          .a-input__tick-label 2 years
        div
          .a-input__tick
          .a-input__tick-label 3 years
        div
          .a-input__tick
          .a-input__tick-label > 3 years
      .a-input__progress
      .a-input__thumb

  :code(lang="html")
    <div class="m-input__wrapper">
      <input class="a-input" type="range" min="0" max="4" step="1">
      <div class="a-input__tick-bar">
        <div>
          <div class="a-input__tick"></div>
          <div class="a-input__tick-label">Monthly</div>
        </div>
        <div>
          <div class="a-input__tick"></div>
          <div class="a-input__tick-label">1 year</div>
        </div>
        <div>
          <div class="a-input__tick"></div>
          <div class="a-input__tick-label">2 years</div>
        </div>
        <div>
          <div class="a-input__tick"></div>
          <div class="a-input__tick-label">3 years</div>
        </div>
        <div>
          <div class="a-input__tick"></div>
          <div class="a-input__tick-label">&gt; 3 years</div>
        </div>
      </div>
      <div class="a-input__progress"></div>
      <div class="a-input__thumb"></div>
    </div>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.rangeSlider(document.querySelectorAll('.m-input__wrapper > input[type="range"]'));
    }
  );
