---
title: Select
---
p.-text Selects are used to select a single item in a list of many options.

h3 Examples
p.-text
  | To render a select, apply the class <code>a-input</code> to a <code>select</code>.

h4 Base
.example.-mb--3
  .-p--3
    .m-formGroup(style="max-width:20rem")
      select(class="a-input")
        option Base Select
  :code(lang="html")
    <select class="a-input">
      <option>Base Select</option>
    </select>

h4 Pill
p.-text Use the <code>-pill</code> modifier class to render a select with a more pronounced border-radius.
.example.-mb--3
  .-p--3
    .m-formGroup(style="max-width:20rem")
      select(class="a-input -pill")
        option Base Select
  :code(lang="html")
    <select class="a-input -pill">
      <option>Base Select</option>
    </select>

h4 Disabled
.example.-mb--3
  .-p--3
    .m-formGroup(style="max-width:20rem")
      select(class="a-input", disabled)
        option Disabled Select
  :code(lang="html")
    <select class="a-input" disabled>
      <option>Disabled Select</option>
    </select>

h4 With Label
.example.-mb--3
  .-p--3
    .m-formGroup.-labelled(style="max-width:20rem")
      label.a-label(for='example') Label
      select(class='a-input', id='example')
        option Base Select
  :code(lang="html")
    <div class="m-formGroup -labelled">
      <label class="a-label" for="example">Label</label>
      <select class="a-input" id="example">
        <option>Base Select</option>
      </select>
    </div>

h4 Danger
p.-text
  | Selects support the validation class modifier <code>-danger</code> for indicating
  | an invalid selection.
.example.-mb--3
  .-p--3
    .m-formGroup(style="max-width:20rem")
      select(class="a-input -danger")
        option Danger Select
  :code(lang="html")
    <select class="a-input -danger">
      <option>Danger Select</option>
    </select>

h3 Sizes
p.-text
  | Selects supports a full spectrum of sizes: <code>-sm</code>, <code>-md</code>,
  |  <code>-lg</code>, <code>-xl</code>.
  | The default size is <code>-md</code>.
.example.-mb--3
  .-p--3
    each size in ['sm', 'md', 'lg', 'xl']
      div(class=`a-col -w--12 -p--2`)
        .m-formGroup(style="max-width:20rem")
          select(class=`a-input -${size}`)
            option= '-' + size + ' Select'
  :code(lang='html')
    <select class="a-input -sm">
      <option>-sm Select</option>
    </select>
    <select class="a-input -md">
      <option>-md Select</option>
    </select>
    <select class="a-input -lg">
      <option>-lg Select</option>
    </select>
    <select class="a-input -xl">
      <option>-xl Select</option>
    </select>
