---
title: Textarea
---

p.-text Textareas are used to input multi-line text data

h3 Examples
p.-text
  | To render a textarea, apply the class <code>a-input</code> to a <code>textarea</code>.

h4 Base
.example.-mb--3
  .-p--3
    .m-formGroup(style="max-width:30rem")
      textarea.a-input(placeholder='Placeholder') Sample text
  :code(lang="html")
    <textarea class="a-input">
      Sample text
    </textarea>

h4 Disabled
.example.-mb--3
  .-p--3
    .m-formGroup(style="max-width:30rem")
      textarea.a-input(disabled) Sample text
  :code(lang="html")
    <textarea class="a-input" disabled>
      Sample text
    </textarea>

h4 With Label
.example.-mb--3
  .-p--3
    .m-formGroup.-labeled(style="max-width:30rem")
      label.a-label(for='example') Label
      textarea.a-input(id='example') Sample text
  :code(lang="html")
    <div class="m-formGroup -labeled">
      <label class="a-label" for="example">Label</label>
      <textarea class="a-input" id="example">
        Sample text
      </textarea>
    </div>

h3 Icons
p.-text
  | To add icons to a textarea, wrap the input in a <code>div</code> using the class <code>a-inputWrapper</code>.
  | Next, add the icon as a sibling of the <code>textarea</code> and use an icon alignment utility class
  | (e.g. <code>-icon--left</code>) to specify where it should be placed.

h4 Left Aligned
.example.-mb--3
  .-p--3
    .a-inputWrapper.-icon--left(style="max-width:30rem")
      textarea.a-input Sample text
      i.a-icon.icon-map-marker.-text--muted
  :code(lang="html")
    <div class="a-inputWrapper -icon--left">
      <textarea class="a-input">
        Sample text
      </textarea>
      <div class="a-icon icon-map-marker -text--muted"></i>
    </div>

h4 Right Aligned
.example.-mb--3
  .-p--3
    .a-inputWrapper.-icon--right(style="max-width:30rem")
      textarea.a-input Sample text
      i.a-icon.icon-circle-question-outline.-text--muted
  :code(lang="html")
    <div class="a-inputWrapper -icon--right">
      <textarea class="a-input">
        Sample text
      </textarea>
      <div class="a-icon icon-circle-question-outline -text--muted"></i>
    </div>

h4 Left + Right Aligned
.example.-mb--3
  .-p--3
    .a-inputWrapper.-icon--left.-icon--right(style="max-width:30rem")
      textarea.a-input Sample text
      i.a-icon.icon-map-marker.-text--muted
      i.a-icon.icon-check-alt.-text--success
  :code(lang="html")
    <div class="a-inputWrapper -icon--left -icon--right">
      <textarea class="a-input">
        Sample text
      </textarea>
      <i class="a-icon icon-map-marker -text--muted"></i>
      <i class="a-icon icon-check-alt -text--success"></i>
    </div>

h3 States

p.-text
  | Textareas offer three validation states: <code>-success</code>,
  | <code>-warning</code>, and <code>-danger</code>.

h4 Success
.example.-mb--3
  .-p--3
    .m-formGroup(style="max-width:30rem")
      textarea.a-input.-success Sample text
  :code(lang="html")
    <textarea class="a-input -success">
      Sample text
    </textarea>

.example.-mb--3
  .-p--3
    .a-inputWrapper.-icon--right(style="max-width:30rem")
      textarea.a-input.-success Sample text
      i.a-icon.icon-check-alt.-text--success
  :code(lang="html")
    <div class="a-inputWrapper -icon--right">
      <textarea class="a-input -success">
        Sample text
      </textarea>
      <i class="a-icon icon-check-alt -text--success"></i>
    </div>

h4 Warning
.example.-mb--3
  .-p--3
    .m-formGroup(style="max-width:30rem")
      textarea.a-input.-warning Sample text
  :code(lang="html")
    <textarea class="a-input -warning">
      Sample text
    </textarea>

.example.-mb--3
  .-p--3
    .a-inputWrapper.-icon--right(style="max-width:30rem")
      textarea.a-input.-warning Sample text
      i.a-icon.icon-warning.-text--warning
  :code(lang="html")
    <div class="a-inputWrapper -icon--right">
      <textarea class="a-input -warning">
        Sample text
      </textarea>
      <i class="a-icon icon-warning -text--warning"></i>
    </div>

h4 Danger
.example.-mb--3
  .-p--3
    .m-formGroup(style="max-width:30rem")
      textarea.a-input.-danger Sample text
  :code(lang="html")
    <textarea class="a-input -danger">
      Sample text
    </textarea>

.example.-mb--3
  .-p--3
    .a-inputWrapper.-icon--right(style="max-width:30rem")
      textarea.a-input.-danger Sample text
      i.a-icon.icon-circle-warning.-text--danger
  :code(lang="html")
    <div class="a-inputWrapper -icon--right">
      <textarea class="a-input -danger">
        Sample text
      </textarea>
      <i class="a-icon icon-circle-warning -text--danger"></i>
    </div>

h3 Sizes
p.-text
  | Textareas supports a full spectrum of sizes: <code>-sm</code>, <code>-md</code>,
  |  <code>-lg</code>, <code>-xl</code>.
  | The default size is <code>-md</code>.
.example.-mb--3
  .-p--3
    each size in ['sm', 'md', 'lg', 'xl']
      div(class=`a-col -w--12 -p--2`)
        .a-inputWrapper(style="max-width:30rem")
          textarea.a-input(class=`-${size}`) Sample text
  :code(lang='html')
    <textarea class="a-input -sm">
      Sample text
    </textarea>
    <textarea class="a-input -md">
      Sample text
    </textarea>
    <textarea class="a-input -lg">
      Sample text
    </textarea>
    <textarea class="a-input -xl">
      Sample text
    </textarea>
