---
title: Text Input
---

p.-text Text inputs are used for inputting single line text data.

h3 Examples
p.-text
  | To render a text input, apply the class <code>a-input</code> to an <code>input type="text"</code>,
  | <code>input type="password"</code>, <code>input type="email"</code>, etc.

h4 Base
.example.-mb--3
  .-p--3
    .m-formGroup(style="max-width:20rem")
      input(type="text", class="a-input", placeholder="Placeholder")
  :code(lang="html")
    <input type="text" class="a-input" placeholder="Placeholder">

h4 Disabled
.example.-mb--3
  .-p--3
    .m-formGroup(style="max-width:20rem")
      input(type="text", class="a-input", value="Sample Text", disabled)
  :code(lang="html")
    <input type="text" class="a-input" value="Sample Text" disabled>

h3 Icons
p.-text
  | To add icons to a text input, wrap the input in a <code>div</code> using the class
  | <code>a-inputWrapper</code>. Next, add the icon as a sibling of the <code>input</code> and utilize
  | an icon alignment utility class (e.g. <code>-iconLeft</code>) to specify where it should be placed.

h4 Left Aligned
.example.-mb--3
  .-p--3
    .a-inputWrapper.-iconLeft(style="max-width:20rem")
      input(type="text", class="a-input", placeholder="Placeholder", value="Sample Text")
      .a-icon.-text--muted
        svg
          use(xlink:href='#icon-edit')
  :code(lang="html")
    <div class="a-inputWrapper -iconLeft">
      <input type="text" class="a-input" placeholder="Placeholder" value="Sample text">
      <div class="a-icon -text--muted">
        <svg>
          <use xlink:href="#icon-edit"></use>
        </svg>
      </div>
    </div>

h4 Right Aligned
.example.-mb--3
  .-p--3
    .a-inputWrapper.-iconRight(style="max-width:20rem")
      input(type="text", class="a-input", placeholder="Placeholder", value="Sample Text")
      .a-icon.-text--muted
        svg
          use(xlink:href='#icon-edit')
  :code(lang="html")
    <div class="a-inputWrapper -iconRight">
      <input type="text" class="a-input" placeholder="Placeholder" value="Sample text">
      <div class="a-icon -text--muted">
        <svg>
          <use xlink:href="#icon-edit"></use>
        </svg>
      </div>
    </div>

h4 Left + Right Aligned
.example.-mb--3
  .-p--3
    .a-inputWrapper.-iconLeft.-iconRight(style="max-width:20rem")
      input(type="text", class="a-input", placeholder="Placeholder", value="Sample Text")
      .a-icon.-text--muted
        svg
          use(xlink:href='#icon-edit')
      .a-icon.-text--muted
        svg
          use(xlink:href='#icon-check')
  :code(lang="html")
    <div class="a-inputWrapper -iconLeft -iconRight">
      <input type="text" class="a-input" placeholder="Placeholder" value="Sample text">
      <div class="a-icon -text--muted">
        <svg>
          <use xlink:href="#icon-edit"></use>
        </svg>
      </div>
      <div class="a-icon -text--muted">
        <svg>
          <use xlink:href="#icon-check"></use>
        </svg>
      </div>
    </div>

h3 States

p.-text
  | Text inputs offer three validation states: <code>-success</code>, <code>-warning</code>, and <code>-danger</code>.

h4 Success
.example.-mb--3
  .-p--3
    .m-formGroup(style="max-width:20rem")
      input(type="text", class="a-input -success", placeholder="Placeholder", value="Sample Text")
  :code(lang="html")
    <input type="text" class="a-input -success" placeholder="Placeholder" value="Sample Text">

.example.-mb--3
  .-p--3
    .a-inputWrapper.-iconRight(style="max-width:20rem")
      input(type="text", class="a-input -success", placeholder="Placeholder", value="Sample Text")
      .a-icon.-text--success
        svg
          use(xlink:href="#icon-check")
  :code(lang="html")
    <div class="a-inputWrapper -iconRight">
      <input type="text" class="a-input -success" placeholder="Placeholder" value="Sample Text">
      <div class="a-icon -text--success">
        <svg>
          <use xlink:href="#icon-check"></use>
        </svg>
      </div>
    </div>

h4 Warning
.example.-mb--3
  .-p--3
    .m-formGroup(style="max-width:20rem")
      input(type="text", class="a-input -warning", placeholder="Placeholder", value="Sample Text")
  :code(lang="html")
    <input type="text" class="a-input -warning" placeholder="Placeholder" value="Sample Text">

.example.-mb--3
  .-p--3
    .a-inputWrapper.-iconRight(style="max-width:20rem")
      input(type="text", class="a-input -warning", placeholder="Placeholder", value="Sample Text")
      .a-icon.-text--warning
        svg
          use(xlink:href="#icon-warning")
  :code(lang="html")
    <div class="a-inputWrapper -iconRight">
      <input type="text" class="a-input -success" placeholder="Placeholder" value="Sample Text">
      <div class="a-icon -text--warning">
        <svg>
          <use xlink:href="#icon-warning"></use>
        </svg>
      </div>
    </div>

h4 Danger
.example.-mb--3
  .-p--3
    .m-formGroup(style="max-width:20rem")
      input(type="text", class="a-input -danger", placeholder="Placeholder", value="Sample Text")
  :code(lang="html")
    <input type="text" class="a-input -danger" placeholder="Placeholder" value="Sample Text">

.example.-mb--3
  .-p--3
    .a-inputWrapper.-iconRight(style="max-width:20rem")
      input(type="text", class="a-input -danger", placeholder="Placeholder", value="Sample Text")
      .a-icon.-text--danger
        svg
          use(xlink:href="#icon-circle-warning")
  :code(lang="html")
    <div class="a-inputWrapper -iconRight">
      <input type="text" class="a-input -danger" placeholder="Placeholder" value="Sample Text">
      <div class="a-icon -text--danger">
        <svg>
          <use xlink:href="#icon-circle-warning"></use>
        </svg>
      </div>
    </div>

h3 Sizes
p.-text
  | Text inputs supports a full spectrum of sizes: <code>-sm</code>, <code>-md</code>,
  |  <code>-lg</code>, <code>-xl</code>.
  | The default size is <code>-md</code>.
.example.-mb--3
  .-p--3
    each size in ['sm', 'md', 'lg', 'xl']
      div(class=`a-col -w--12 -p--2`)
        .m-formGroup(style="max-width:20rem")
          input(type="text", class=`a-input -${size} -mr--3`, placeholder="Sample Text")
  :code(lang='html')
    <input type="text" class="a-input -sm" placeholder="Sample Text">
    <input type="text" class="a-input -md" placeholder="Sample Text">
    <input type="text" class="a-input -lg" placeholder="Sample Text">
    <input type="text" class="a-input -xl" placeholder="Sample Text">

h3 Floating labels
p.-text
  | Floating labels are a solution to keep the placeholder visible when no label is attached to the input. Chi supports
  | floating labels for <code>-lg</code> and <code>-xl</code> inputs. Although this is a pure CSS component, it is not
  | supported by Microsoft Edge, that will fallback to render the label in the top part of the input as if the user were
  | already writing. To give complete support to floating labels in Microsoft Edge, you can rely on the JavaScript
  | solution that is in the JavaScript section, or you can build your own.

.example.-mb--3
  .-p--3
    each size in ['lg', 'xl']
      div(class=`a-col -w--12 -p--2`)
        .a-inputWrapper.-floatingLabel(style="max-width:20rem")
          input(type="text", class=`a-input -${size} -mr--3`, placeholder="Placeholder Text", id=`floating-label-${size}`)
          label(for=`floating-label-${size}`) Placeholder text
  :code(lang='html')
    <div class="a-inputWrapper -floatingLabel">
      <input class="a-input -lg" type="text" placeholder="Placeholder Text" id="floating-label-lg">
      <label for="floating-label-lg">Placeholder text</label>
    </div>

    <div class="a-inputWrapper -floatingLabel">
      <input class="a-input -xl" type="text" placeholder="Placeholder Text" id="floating-label-xl">
      <label for="floating-label-xl">Placeholder text</label>
    </div>
