---
title: Toggle Switch
---
p.-text Toggle switches are used to switch between two possible states.

h2 Examples
p.-text
  | To render a toggle switch, apply the classes <code>a-input</code> and <code>-toggle</code> to an <code>input type="checkbox"</code>.
  | For proper styling, toggle switches require an empty label element defined immediately after their declaration.

h3 Base
.example.-mb--3
  .-p--3
    .m-form__item
      label.a-switch
        span.a-switch__label Toggle
        input(type="checkbox", class="a-switch__input -toggle", name="toggle1", value="toggle1", aria-describedby="toggle1", aria-label="toggle")
        span(id="toggle1", class="a-switch__content", aria-live="assertive")
          span.a-switch__faux
          span.a-switch__on Enabled
          span.a-switch__off Disabled
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-switch">
        <span class="a-switch__label">Toggle</span>
        <input type="checkbox" class="a-switch__input -toggle" name="toggle1" value="toggle1" aria-describedby="toggle1" aria-label="toggle">
        <span id="toggle1" class="a-switch__content" aria-live="assertive">
          <span class="a-switch__faux"></span>
          <span class="a-switch__on">Enabled</span>
          <span class="a-switch__off">Disabled</span>
        </span>
      </label>
    </div>

h3 Disabled
.example.-mb--3
  .-p--3
    .m-form__item
      label.a-switch
        span.a-switch__label Toggle
        input(type="checkbox", class="a-switch__input -toggle", name="toggle2", value="toggle2", aria-describedby="toggle2", aria-label="toggle", disabled)
        span(id="toggle2", class="a-switch__content", aria-live="assertive")
          span.a-switch__faux
          span.a-switch__on Enabled
          span.a-switch__off Disabled
  :code(lang="html")
    <div class="m-form__item">
      <label class="a-switch">
        <span class="a-switch__label">Toggle</span>
        <input type="checkbox" class="a-switch__input -toggle" name="toggle2" value="toggle2" aria-describedby="toggle2" aria-label="toggle" disabled>
        <span id="toggle2" class="a-switch__content" aria-live="assertive">
          <span class="a-switch__faux"></span>
          <span class="a-switch__on">Enabled</span>
          <span class="a-switch__off">Disabled</span>
        </span>
      </label>
    </div>

h3 Stacked
p.-text
  | Group toggle switches in <code>m-form__item</code> for easy stacking. Apply class <code>-row</code> to display checkbox and label inline.
.example.-mb--3
  .-p--3
    .m-form__item.-row.-mb--2
      label.a-switch
        span.a-switch__label Toggle
        input(type="checkbox", class="a-switch__input -toggle", name="toggle3", value="toggle3", aria-describedby="toggle3", aria-label="toggle")
        span(id="toggle3", class="a-switch__content", aria-live="assertive")
          span.a-switch__faux
          span.a-switch__on Enabled
          span.a-switch__off Disabled
    .m-form__item.-row
      label.a-switch
        span.a-switch__label Toggle
        input(type="checkbox", class="a-switch__input -toggle", name="toggle4", value="toggle4", aria-describedby="toggle4", aria-label="toggle")
        span(id="toggle4", class="a-switch__content", aria-live="assertive")
          span.a-switch__faux
          span.a-switch__on Enabled
          span.a-switch__off Disabled
  :code(lang="html")
    <div class="m-form__item -row -mb--2">
      <label class="a-switch">
        <span class="a-switch__label">Toggle</span>
        <input type="checkbox" class="a-switch__input -toggle" name="toggle3" value="toggle3" aria-describedby="toggle3" aria-label="toggle">
        <span id="toggle3" class="a-switch__content" aria-live="assertive">
          <span class="a-switch__faux"></span>
          <span class="a-switch__on">Enabled</span>
          <span class="a-switch__off">Disabled</span>
        </span>
      </label>
    </div>
    <div class="m-form__item -row">
      <label class="a-switch">
        <span class="a-switch__label">Toggle</span>
        <input type="checkbox" class="a-switch__input -toggle" name="toggle4" value="toggle4" aria-describedby="toggle4" aria-label="toggle">
        <span id="toggle4" class="a-switch__content" aria-live="assertive">
          <span class="a-switch__faux"></span>
          <span class="a-switch__on">Enabled</span>
          <span class="a-switch__off">Disabled</span>
        </span>
      </label>
    </div>

h3 Inline
p.-text
  | Apply the class <code>-inline</code> to <code>m-form__item</code> to display toggle switches inline.
.example.-mb--3
  .-p--3.-d--flex
    .m-form__item.-inline.-row.-mr--3
      label.a-switch
        span.a-switch__label Toggle
        input(type="checkbox", class="a-switch__input -toggle", name="toggle5", value="toggle5", aria-describedby="toggle5", aria-label="toggle")
        span(id="toggle5", class="a-switch__content", aria-live="assertive")
          span.a-switch__faux
          span.a-switch__on Enabled
          span.a-switch__off Disabled
    .m-form__item.-inline.-row
      label.a-switch
        span.a-switch__label Toggle
        input(type="checkbox", class="a-switch__input -toggle", name="toggle6", value="toggle6", aria-describedby="toggle6", aria-label="toggle")
        span(id="toggle6", class="a-switch__content", aria-live="assertive")
          span.a-switch__faux
          span.a-switch__on Enabled
          span.a-switch__off Disabled
  :code(lang="html")
    <div class="m-form__item -inline -mr--3">
      <label class="a-switch">
        <span class="a-switch__label">Toggle</span>
        <input type="checkbox" class="a-switch__input -toggle" name="toggle5" value="toggle5" aria-describedby="toggle5" aria-label="toggle">
        <span id="toggle5" class="a-switch__content" aria-live="assertive">
          <span class="a-switch__faux"></span>
          <span class="a-switch__on">Enabled</span>
          <span class="a-switch__off">Disabled</span>
        </span>
      </label>
    </div>
    <div class="m-form__item -inline">
      <label class="a-switch">
        <span class="a-switch__label">Toggle</span>
        <input type="checkbox" class="a-switch__input -toggle" name="toggle6" value="toggle6" aria-describedby="toggle6" aria-label="toggle">
        <span id="toggle6" class="a-switch__content" aria-live="assertive">
          <span class="a-switch__faux"></span>
          <span class="a-switch__on">Enabled</span>
          <span class="a-switch__off">Disabled</span>
        </span>
      </label>
    </div>
