---
title: Toggle Switch
---
p.-text Toggle switches are used to switch between two possible states.

h2 Examples
p.-text
  | To render a toggle switch, apply the classes <code>a-input</code> and <code>-toggle</code> to an <code>input type="checkbox"</code>.
  | For proper styling, toggle switches require an empty label element defined immediately after their declaration.

h3 Base
.example.-mb--3
  .-p--3
    .m-form__item.-row
      label.a-switch
        span.a-switch__label Toggle
        input(type="checkbox", class="a-switch__input -toggle", name="toggle1-test", value="toggle1-test", aria-describedby="toggle1-test", aria-label="toggle")
        span(id="toggle1-test", class="a-switch__content", aria-live="assertive")
          span.a-switch__faux
          span.a-switch__on Enabled
          span.a-switch__off Disabled
  :code(lang="html")
    <input type="checkbox" class="a-input -toggle" id="toggle1">
    <label for="toggle1"></label>

h3 Disabled
.example.-mb--3
  .-p--3
    .m-form__item
      input(type="checkbox", class="a-input -toggle", id="toggle2", disabled)
      label(for="toggle2")
  :code(lang="html")
    <input type="checkbox" class="a-input -toggle" id="toggle2" disabled>
    <label for="toggle2"></label>

h3 No Label
p.-text
  | By default, toggle switches are labeled with text <code>ON/OFF</code>. To disable this, apply the modifier <code>-noText</code>.
.example.-mb--3
  .-p--3
    .m-form__item
      input(type="checkbox", class="a-input -toggle -noText", id="toggle3")
      label(for="toggle3")
  :code(lang="html")
    <input type="checkbox" class="a-input -toggle -noText" id="toggle3">
    <label for="toggle3"></label>

h3 Stacked
p.-text
  | Group toggle switches in <code>m-form__item</code> for easy stacking. Apply class <code>-row</code> to display checkbox and label inline.
.example.-mb--3
  .-p--3
    .m-form__item.-row.-mb--2
      input(type="checkbox", class="a-input -toggle -noText", id="toggle4")
      label(for="toggle4")
      label(class="-text", for="toggle4") Notifications
    .m-form__item.-row
      input(type="checkbox", class="a-input -toggle -noText", id="toggle5")
      label(for="toggle5")
      label(class="-text", for="toggle5") Outage Alerts
  :code(lang="html")
    <div class="m-form__item -row -mb--2">
      <input type="checkbox" class="a-input -toggle -noText" id="toggle4">
      <label for="toggle4"></label>
      <label class="-text" for="toggle4">Notifications</label>
    </div>
    <div class="m-form__item -row">
      <input type="checkbox" class="a-input -toggle -noText" id="toggle5">
      <label for="toggle5"></label>
      <label class="-text" for="toggle5">Outage Alerts</label>
    </div>

h3 Inline
p.-text
  | Apply the class <code>-inline</code> to <code>m-form__item</code> to display toggle switches inline.
.example.-mb--3
  .-p--3.-d--flex
    .m-form__item.-inline.-row.-mr--3
      input(type="checkbox", class="a-input -toggle -noText", id="toggle6")
      label(for="toggle6")
      label(class="-text", for="toggle6") Notifications
    .m-form__item.-inline.-row
      input(type="checkbox", class="a-input -toggle -noText", id="toggle7")
      label(for="toggle7")
      label(class="-text", for="toggle7") Outage Alerts
  :code(lang="html")
    <div class="m-form__item -inline -row -mr--3">
      <input type="checkbox" class="a-input -toggle -noText" id="toggle6">
      <label for="toggle6"></label>
      <label class="-text" for="toggle6">Notifications</label>
    </div>
    <div class="m-form__item -inline -row">
      <input type="checkbox" class="a-input -toggle -noText" id="toggle7">
      <label for="toggle7"></label>
      <label class="-text" for="toggle7">Outage Alerts</label>
    </div>
