---
title: Colors
styles: [colors]
---

p.-text Chi defines three primary color palettes and another three extended.

h3 Primary

.palette-container
  .color-palette
    .header(style="background-color:#009f00;color:#ffffff")
      .title Green
      .value 500
      .hexa #009f00
    div(style="background-color:#edf7e1;color:#333333")
      .value 100
      .hexa #edf7e1
    div(style="background-color:#cce8a9;color:#333333")
      .value 200
      .hexa #cce8a9
    div(style="background-color:#a0dd4c;color:#333333")
      .value 300
      .hexa #a0dd4c
    div(style="background-color:#8cc63f;color:#333333")
      .value 400
      .hexa #8cc63f
    div(style="background-color:#009f00;color:#ffffff")
      .value 500
      .hexa #009f00
    div(style="background-color:#008100;color:#ffffff")
      .value 600
      .hexa #008100
    div(style="background-color:#006c00;color:#ffffff")
      .value 700
      .hexa #006c00
    div(style="background-color:#205020;color:#ffffff")
      .value 800
      .hexa #205020

  .color-palette
    .header(style="background-color:#333333;color:#ffffff")
      .title Carbon
      .value 500
      .hexa #333333
    div(style="background-color:#969696;color:#ffffff")
      .value 100
      .hexa #969696
    div(style="background-color:#757575;color:#ffffff")
      .value 200
      .hexa #757575
    div(style="background-color:#616161;color:#ffffff")
      .value 300
      .hexa #616161
    div(style="background-color:#424242;color:#ffffff")
      .value 400
      .hexa #424242
    div(style="background-color:#333333;color:#ffffff")
      .value 500
      .hexa #333333
    div(style="background-color:#212121;color:#ffffff")
      .value 600
      .hexa #212121
    div(style="background-color:#0e0e0e;color:#ffffff")
      .value 700
      .hexa #0e0e0e
    div(style="background-color:#000000;color:#ffffff")
      .value 800
      .hexa #000000

  .color-palette
    .header(style="background-color:#e0e0e0;color:#333333")
      .title Grey
      .value 500
      .hexa #e0e0e0
    div(style="background-color:#ffffff;color:#333333")
      .value 100
      .hexa #ffffff
    div(style="background-color:#fafafa;color:#333333")
      .value 200
      .hexa #fafafa
    div(style="background-color:#f8f8f8;color:#333333")
      .value 300
      .hexa #f8f8f8
    div(style="background-color:#eeeeee;color:#333333")
      .value 400
      .hexa #eeeeee
    div(style="background-color:#e0e0e0;color:#333333")
      .value 500
      .hexa #e0e0e0
    div(style="background-color:#d5d5d5;color:#333333")
      .value 600
      .hexa #d5d5d5
    div(style="background-color:#cacaca;color:#333333")
      .value 700
      .hexa #cacaca
    div(style="background-color:#bdbdbd;color:#333333")
      .value 800
      .hexa #bdbdbd

h3 Extended

.palette-container
  .color-palette
    .header(style="background-color:#007ad1;color:#ffffff")
      .title Blue
      .value 500
      .hexa #007ad1
    div(style="background-color:#e5f4fb;color:#333333")
      .value 100
      .hexa #e5f4fb
    div(style="background-color:#b8e2f5;color:#333333")
      .value 200
      .hexa #b8e2f5
    div(style="background-color:#a1d0ec;color:#333333")
      .value 300
      .hexa #a1d0ec
    div(style="background-color:#7ec3f4;color:#333333")
      .value 400
      .hexa #7ec3f4
    div(style="background-color:#007ad1;color:#ffffff")
      .value 500
      .hexa #007ad1
    div(style="background-color:#0067b6;color:#ffffff")
      .value 600
      .hexa #0067b6
    div(style="background-color:#00569c;color:#ffffff")
      .value 700
      .hexa #00569c
    div(style="background-color:#1f3a93;color:#ffffff")
      .value 800
      .hexa #1f3a93

  .color-palette
    .header(style="background-color:#de0c10;color:#ffffff")
      .title Red
      .value 500
      .hexa #de0c10
    div(style="background-color:#fcebea;color:#333333")
      .value 100
      .hexa #fcebea
    div(style="background-color:#f9d6d4;color:#333333")
      .value 200
      .hexa #f9d6d4
    div(style="background-color:#ffb4b0;color:#333333")
      .value 300
      .hexa #ffb4b0
    div(style="background-color:#ff6360;color:#ffffff")
      .value 400
      .hexa #ff6360
    div(style="background-color:#de0c10;color:#ffffff")
      .value 500
      .hexa #de0c10
    div(style="background-color:#c32720;color:#ffffff")
      .value 600
      .hexa #c32720
    div(style="background-color:#9b0000;color:#ffffff")
      .value 700
      .hexa #9b0000

  .color-palette
    .header(style="background-color:#ffa633;color:#333333")
      .title Yellow
      .value 500
      .hexa #ffa633
    div(style="background-color:#fdf9e8;color:#333333")
      .value 100
      .hexa #fdf9e8
    div(style="background-color:#f8e4bc;color:#333333")
      .value 200
      .hexa #f8e4bc
    div(style="background-color:#f6d490;color:#333333")
      .value 300
      .hexa #f6d490
    div(style="background-color:#ffba10;color:#333333")
      .value 400
      .hexa #ffba10
    div(style="background-color:#ffa633;color:#333333")
      .value 500
      .hexa #ffa633
    div(style="background-color:#ff8f00;color:#333333")
      .value 600
      .hexa #ff8f00
    div(style="background-color:#e8730c;color:#333333")
      .value 700
      .hexa #e8730c

h2 SASS

p.-text Chi defines a set of colors in Sass language variables.

.-mb4
  :code(lang='sass')
    $colorscheme: (
      green: (
        100: #edf7e1,
        200: #cce8a9,
        300: #a0dd4c,
        400: #8cc63f,
        500: #009f00,
        600: #008100,
        700: #006c00,
        800: #205020,
      ),
      carbon: (
        100: #969696,
        200: #757575,
        300: #616161,
        400: #424242,
        500: #333333,
        600: #212121,
        700: #0e0e0e,
        800: #000000,
      ),
      grey: (
        100: #ffffff,
        200: #fafafa,
        300: #f8f8f8,
        400: #eeeeee,
        500: #e0e0e0,
        600: #d5d5d5,
        700: #cacaca,
        800: #bdbdbd,
      ),
      blue: (
        100: #e5f4fb,
        200: #b8e2f5,
        300: #a1d0ec,
        400: #7ec3f4,
        500: #007ad1,
        600: #0067b6,
        700: #00569c,
        800: #1f3a93,
      ),
      red: (
        100: #fcebea,
        200: #f9d6d4,
        300: #ffb4b0,
        400: #ff6360,
        500: #de0c10,
        600: #c32720,
        700: #9b0000,
      ),
      yellow: (
        100: #fdf9e8,
        200: #f8e4bc,
        300: #f6d490,
        400: #ffba10,
        500: #ffa633,
        600: #ff8f00,
        700: #e8730c,
      )
    );

p.-text Also an utility function is created to reference them

.-mb4
  :code(lang='sass')
    set-color($scheme, $tone)

p.-text
  | In order to use it, developers only needs to add chi in their project through npm and import the variables and
  | mixins sass files.

.-mb4
  :code(lang='sass')
    @import '@centurylink/chi/src/css/variables';
    @import '@centurylink/chi/src/css/mixins';

    .example {
      color: set-color(carbon, 500);
    }
