---
title: Typography
---

h3 Description

| Open Sans is our font family.

h3 Sizes

| Default font size is 2rem (1rem is 8px) with a line height of 3rem.

h4 Examples

.c-mb4
  h1 h1 header
  h2 h2 header
  h3 h3 header
  h4 h4 header
  h5 h5 header
  h6 h6 header
  div body default
  div
    small body small

  :code(lang='html')
    <h1>h1 header</h1>
    <h2>h2 header</h1>
    <h3>h3 header</h1>
    <h4>h4 header</h1>
    <h5>h5 header</h1>
    <h6>h6 header</h1>
    <span>body default</span>
    <small>body small</small>

| Sometimes you need to use classes instead or with elements. In this case classes take visual precedence over elements.

.c-mb4
  .h4 I'm a div with an h4 header
  h4.h2 I'm an h4 header with an h2 class

  :code(lang='html')
    <div class="h4">I'm a div with an h4 class</div>
    <h4 class="h2">I'm an h4 header with an h2 class</h4>

