---
title: Typography
---

h3 Description

p.-text Open Sans is our font family.

h3 Sizes

p.-text Default font size is 2rem (1rem is 8px).

h4 Examples

.-mb4
  h1 h1 header
  h2 h2 header
  h3 h3 header
  h4 h4 header
  h5 h5 header
  h6 h6 header
  p.-text body default
  small body small

  :code(lang='html')
    <h1>h1 header</h1>
    <h2>h2 header</h1>
    <h3>h3 header</h1>
    <h4>h4 header</h1>
    <h5>h5 header</h1>
    <h6>h6 header</h1>
    <p class="c-text">body default</p>
    <small>body small</small>

p.-text
  | Sometimes you need to use classes instead or with elements. In this case classes take visual precedence over
  | elements.

.-mb4
  .a-h4 I'm a div with an h4 header
  h4.a-h2 I'm an h4 header with an h2 class

  :code(lang='html')
    <div class="h4">I'm a div with an h4 class</div>
    <h4 class="h2">I'm an h4 header with an h2 class</h4>

