---
title: Typography
---

p.-text Documentation and examples for Chi typography.

h3 Grid

p.-text All components in Chi, including Typography, adhere to a 4px baseline grid. The grid promotes consistency and familiarity through repetition. Chi achieves this repetition by ensuring line-height, padding, border, and margin values are divisible by 4. For user friendliness, Chi utilizes rem units instead of pixels. A rem is a unit of measurement that is equal to the root html font-size. Chi's root is 8px. So 1rem equals 8px.

h3 Typeface

p.-text The sans-serif font stack is used to display all typography within Chi except code. For code, Chi defers to a monospace font stack.

h6 Sans-serif font stack

.-mb2
  :code(lang='html')
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;

h6 Monospace font stack

.-mb3
   :code(lang='html')
     font-family: Menlo, Consolas, "Liberation Mono", Courier, monospace;

h3 Headings

p.-text Headings are used to illustrate the typographic hierarchy of a page. <code>h1</code> defines the most important heading and h6 the least. Headings in Chi can be defined as tags <code>&lt;h1&gt;</code> - <code>&lt;h6&gt;</code> or classes <code>.a-h1</code> - <code>.a-h6</code>.

section.a-table.-bordered.-mt3.-mb3
  div
    table(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Heading
          th
            div Example
      tbody
        each type in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
          tr
            td(width='20%')
              code= '<' + type + '>'
            td
              #{type}= type + ' Chi heading'

h3 Body text
p.-text
  | Chi's default font size is 14px (1.75rem) and is intended to maximize screen real estate in dense, app oriented interfaces.

section.a-table.-bordered.-mt3.-mb3
  div
    table(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Font size
          th
            div Example
      tbody
          tr
            td(width='20%')
              p.-text 14px (1.75rem)
            td
              p.-text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel,
                | commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.

h3 Inline text
p.-text
  | Styles for common inline text elements. Styles can be defined as tags <code>&lt;code&gt;</code> or classes <code>.a-code</code>.

section.a-table.-bordered.-mt3.-mb3
  div
    table(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Tag
          th
            div Example
      tbody
        each val, type in {Abbreviated:'abbr', Bold:'b', Code:'code', Delete:'del', Emphasis:'em', Italic:'i', Mark:'mark', Small:'small', Strong:'strong'}
          tr
            td(width='20%')
              code= '<' + val + '>'
            td
              #{val}= type

h3 Paragraphs
h4 Base
p.-text 14px (1.75rem) font size with 24px (3rem) line-height
.example.-mb3
  p.-text.-m3
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel,
    | commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.
  :code(lang="html")
    <p class="-text"></p>
h4 Large
p.-text 16px (2rem) font size with 24px (3rem) line-height
.example.-mb3
  p.-text.-textLarge.-m3
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel,
    | commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.
  :code(lang="html")
    <p class="-textLarge"></p>
h4 Larger
p.-text 18px (2.25rem) font size with 28px (3.5rem) line-height
.example.-mb3
  p.-text.-textLarger.-m3
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel,
    | commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.
  :code(lang="html")
    <p class="-textLarger"></p>
h4 Small
p.-text 13px (1.625rem) font size with 20px (2.5rem) line-height
.example.-mb3
  p.-text.-textSmall.-m3
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel,
    | commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.
  :code(lang="html")
    <p class="-textSmall"></p>
h4 Smaller
p.-text 12px (1.5rem) font size with 20px (2.5rem) line-height
.example.-mb3
  p.-text.-textSmaller.-m3
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel,
    | commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.
  :code(lang="html")
    <p class="-textSmaller"></p>

h3 Code
h4 Inline code
p.-text Code tags are used to wrap inline snippets of code.
.example.-mb3
  p.-text.-m3
    | This <code>&lt;code&gt;</code> will render as inline code.
  :code(lang="html")
    This <code>&lt;code&gt;</code> will render as inline code.
h4 Code blocks
p.-text Pre tags are used to wrap multiple lines of code.
.example.-mb3
  .code-block.-m3
    pre
      code &lt;p&gt;This code will render as a code block.&lt;/p&gt;
  :code(lang="html")
    <pre>
      <code>&lt;p&gt;This code will render as a code block.&lt;/p&gt;</code>
    </pre>

h3 Lists
h4 Base
p.-text Use <code>&lt;ul&gt;</code> tags for unordered lists and <code>&lt;ol&gt;</code> tags for ordered lists.
.a-grid
  .a-col.-w6
    .example.-mb3
      ul
        li List item 1
        li List item 2
          ul
            li List item 2.1
            li List item 2.2
        li List item 3
        li List item 4
      :code(lang="html")
        <ul>
          <li></li>
        </ul>
  .a-col.-w6
    .example.-mb3
      ol
        li List item 1
        li List item 2
          ul
            li List item 2.1
            li List item 2.2
        li List item 3
        li List item 4
      :code(lang="html")
        <ol>
          <li></li>
        </ol>
h4 No style
p.-text To remove default list styling, apply the class <code>.-noStyle</code>
.example.-mb3
  ul.-noStyle.-m3
    li List item 1
    li List item 2
      ul.-noStyle
        li List item 2.1
        li List item 2.2
    li List item 3
    li List item 4
  :code(lang="html")
    <ul class="-noStyle">
      <li></li>
    </ul>
h4 Inline
p.-text To display list items inline, apply the class <code>.-inline</code>
.example.-mb3
  ul.-inline.-m3
    li List item 1
    li List item 2
      ul.-inline
        li List item 2.1
        li List item 2.2
    li List item 3
    li List item 4
  :code(lang="html")
    <ul class="-inline">
      <li></li>
    </ul>
h3 Blockquotes
p.-text Blockquotes are used to quote content from another source.
.example.-mb3
  blockquote.-m3
    p.-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel, commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.
  :code(lang="html")
    <blockquote>
      <p class="-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacus lacus, dictum quis mauris vel, commodo condimentum odio. Praesent lacus metus, vehicula at orci ac, fringilla mollis mauris.</p>
    </blockquote>
h3 Text alignment
p.-text Change text alignment to justified, left, center, or right.
.example.-mb3
  .-m3
    p.-text.-textJustify This text will render as justified
    p.-text.-textLeft This text will render as left aligned
    p.-text.-textCenter This text will render as center aligned
    p.-text.-textRight This text will render as right aligned
  :code(lang="html")
      <p class="-textJustify">This text will render as justified</p>
      <p class="-textLeft">This text will render as left aligned</p>
      <p class="-textCenter">This text will render as center aligned</p>
      <p class="-textRight">This text will render as right aligned</p>
h3 Text transform
p.-text Change text transform to lowercase, uppercase, or capitalized.
.example.-mb3
  .-m3
    p.-text.-textLowercase This text will render as lowercase
    p.-text.-textUppercase This text will render as uppercase
    p.-text.-textCapitalized This text will render as capitalized
  :code(lang="html")
      <p class="-textLowercase">This text will render as lowercase</p>
      <p class="-textUppercase">This text will render as uppercase</p>
      <p class="-textCapitalized">This text will render as capitalized</p>
h3 Text weight
p.-text Change text weight to thin, normal, bold, or bolder.
.example.-mb3
  .-m3
    p.-text.-textThin This text will render as thin
    p.-text.-textNormal This text will render as normal
    p.-text.-textBold This text will render as bold
    p.-text.-textBolder This text will render as bolder
  :code(lang="html")
      <p class="-textThin">This text will render as thin</p>
      <p class="-textNormal">This text will render as normal</p>
      <p class="-textBold">This text will render as bold</p>
      <p class="-textBolder">This text will render as bolder</p>
h3 Text wrapping
p.-text Prevent text wrapping with nowrap or control overflow with truncate.
.example.-mb3
  .-m3
    p.-text.-textNoWrap(style="width: 22rem;background:#eeeeee;") This text will render without wrapping
    p.-text.-textTruncate(style="width: 22rem;") This text will truncate with an ellipsis
  :code(lang="html")
      <p class="-textNoWrap">This text will render without wrapping</p>
      <p class="-textTruncate">This text will truncate with an ellipsis</p>
