@import '_global-variables';
@import '_global-mixins';

.chi-bulk-actions {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem;

  @include respond-to(md) {
    background-color: $bulk-actions-background-color;
    justify-content: space-between;
    padding: 0.25rem 0.875rem 0.25rem 1.5rem;
  }

  .chi-divider {
    &.-vertical {
      display: none;

      @include respond-to(md) {
        border-right-color: $bulk-actions-divider-border-right-color;
        display: block;
        height: $bulk-actions-divider-height;
      }
    }
  }

  &__start,
  &__end {
    align-items: center;
    display: flex;
  }

  &__end {
    display: none;

    @include respond-to(md) {
      display: block;
    }
  }

  &__top,
  .chi-bulk-actions__buttons-mobile {
    background-color: $bulk-actions-background-color;
    display: flex;
    left: 0;
    position: fixed;
    width: 100%;

    @include respond-to(md) {
      display: none;
    }
  }

  &__top {
    justify-content: space-between;
    padding: 1.375rem 1rem;
    top: 0;

    .chi-link {
      color: $bulk-actions-link-color;
      font-weight: $bulk-actions-link-font-weight;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__results {
    display: none;

    @include respond-to(md) {
      display: flex;
      font-size: $bulk-actions-results-font-size;
    }

    .chi-bulk-actions__label {
      font-weight: $bulk-actions-label-font-weight;
      margin-right: 1rem;
    }
  }

  &__buttons {
    &-mobile {
      bottom: 0;
      justify-content: space-evenly;
      padding: 0.75rem 1rem;

      .chi-button {
        .chi-icon {
          color: $bulk-actions-button-icon-color;
        }
      }
    }

    &-desktop {
      display: none;

      @include respond-to(md) {
        align-items: center;
        display: flex;

        > chi-button,
        > .chi-button {
          margin-right: 1rem;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}


