---
title: Drawer
---
p.-text
  | Use the function <code>chi.drawer(elem)</code> to instantiate a new drawer component in the DOM
  | element passed as a parameter. You must use the trigger element as the parameter.

h3 Base

.example.-mb--3(style='overflow:hidden;')
  .-position--relative.-z--0(style="height:20rem;overflow:hidden;")
    .-p--3
      .-d--flex.-justify-content--end.-align-items--start
        button#drawer-trigger-1.a-btn.-icon.m-drawer__trigger(data-target='#drawer-1')
          .a-btn__content
            i.a-icon.-sm--2.icon-menu
      each i in [1, 2]
        p.-text.-mb--1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
    .m-drawer.-right.-animated#drawer-1.-position--absolute
      .m-drawer__header
        button(class='a-btn -icon -close')
          .a-btn__content
            i.a-icon.icon-x
      .m-drawer__content
        .-px--2.-text Drawer content here
  :code(lang="html")
    <!-- ---------------  Drawer --------------- -->
    <div id="drawer-1" class="m-drawer -right -animated">
      <div class="m-drawer__header">
        <button class="a-btn -icon -close">
          <div class="a-btn__content">
            <i class="a-icon icon-x"></i>
          </div>
        </button>
      </div>
      <div class="m-drawer__content">
        <div class="-px--2 -text">Drawer content here</div>
      </div>
    </div>

    <!-- ---------------- Button ---------------- -->

    <button id="drawer-trigger-1" class="a-btn -icon m-drawer__trigger" data-target="#drawer-1">
      <div class="a-btn__content">
        <i class="a-icon -sm--2 icon-menu"></i>
      </div>
    </button>

    <!-- -------------- Javascript -------------- -->

    <script>chi.drawer(document.getElementById('drawer-trigger-1'));</script>

h3 With backdrop

.example.-mb--3(style='overflow:hidden;')
  .-position--relative.-z--0(style="height:20rem;overflow:hidden;")
    .-p--3
      .-d--flex.-justify-content--end.-align-items--start
        button#drawer-trigger-2.a-btn.-icon.m-drawer__trigger(data-target='#drawer-2')
          .a-btn__content
            i.a-icon.-sm--2.icon-menu
      each i in [1, 2]
        p.-text.-mb--3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
    .a-backdrop.-animated.-closed.-position--absolute
      .m-drawer.-right.-animated#drawer-2.-position--absolute
        .m-drawer__header
          button(class='a-btn -icon -close')
            .a-btn__content
              i.a-icon.icon-x
        .m-drawer__content
          .-px--2.-text Drawer content here
  :code(lang="html")
    <!-- ---------------  Drawer --------------- -->
    <div class="a-backdrop -animated -closed">
      <div id="drawer-2" class="m-drawer -right -animated">
        <div class="m-drawer__header">
          <button class="a-btn -icon -close">
            <div class="a-btn__content">
              <i class="a-icon icon-x"></i>
            </div>
          </button>
        </div>
        <div class="m-drawer__content">
          <div class="-px--2 -text">Drawer content here</div>
        </div>
      </div>
    </div>
    <!-- ---------------- Button ---------------- -->

    <button id="drawer-trigger-2" class="a-btn -icon m-drawer__trigger" data-target="#drawer-2">
      <div class="a-btn__content">
        <i class="a-icon -sm--2 icon-menu"></i>
      </div>
    </button>

    <!-- -------------- Javascript -------------- -->

    <script>chi.drawer(document.getElementById('drawer-trigger-2'));</script>


h4 Preventing memory leaks
p.-text
  | Drawer components have a dispose function to free all resources attached to the element, such as event listeners
  | and object data. You should call this method when you want to remove the component.
:code(lang="javascript")
  var elem = document.getElementById('drawer-1');
  var drawer = chi.drawer(elem);
  // do stuff
  drawer.dispose();

p.-text
  span.a-badge.-primary.-mr1
    span Tip
  | It is safe to call the <code>drawer</code> method more than once, as it will return any previously created drawer component
  | associated to the trigger.
:code(lang="javascript")
  var elem = document.getElementById('drawer-2');
  var drawer = chi.drawer(elem);
  var elem2 = document.getElementById('drawer-2');
  var drawer2 = chi.drawer(elem2);
  drawer === drawer2; // returns true

  drawer.dispose(); // Only have to do it once.

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      Array.prototype.forEach.call(
        document.getElementsByClassName("m-drawer__trigger"),
        function(el){
          chi.drawer(el);
        }
      );
    },
    false
  );
