---
title: Drawer
---
p.-text
  | Use the function <code>chi.drawer(elem)</code> to instantiate a new drawer component in the DOM
  | element passed as a parameter. You must use the trigger element as the parameter.

h2 Base
.example.-mb--3(style='overflow:hidden;')
  .-position--relative.-z--0.-bb--1(style="height:20rem;overflow:hidden;")
    .-p--3
      .-d--flex.-justify-content--end.-align-items--start
        button#drawer-trigger-1.a-btn.-icon.m-drawer__trigger(data-target="#drawer-1", aria-label="Toggle navigation")
          .a-btn__content
            i.a-icon.-sm--2.icon-menu
      each i in [1, 2]
        p.-text.-mb--1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
    .m-drawer.-right#drawer-1.-position--absolute
      .m-drawer__header
        button(class='a-btn -icon -close', aria-label='Close')
          .a-btn__content
            i.a-icon.icon-x
      .m-drawer__content
        .-px--2.-text Drawer content here
  ul#a-tabs-base.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-e1-button') Button
    li
      a(href='#a-tabs-e1-drawer') Drawer
    li
      a(href='#a-tabs-e1-js') JS
  #a-tabs-e1-button.a-tabs-panel.-active
    :code(lang="html")
      <button id="drawer-trigger-1" class="a-btn -icon m-drawer__trigger" data-target="#drawer-1" aria-label="Toggle navigation">
        <div class="a-btn__content">
          <i class="a-icon -sm--2 icon-menu"></i>
        </div>
      </button>
  #a-tabs-e1-drawer.a-tabs-panel
    :code(lang="html")
      <div id="drawer-1" class="m-drawer -right">
        <div class="m-drawer__header">
          <button class="a-btn -icon -close" aria-label="Close">
            <div class="a-btn__content">
              <i class="a-icon icon-x"></i>
            </div>
          </button>
        </div>
        <div class="m-drawer__content">
          <div class="-px--2 -text">Drawer content here</div>
        </div>
      </div>
  #a-tabs-e1-js.a-tabs-panel
    :code(lang="html")
      <script>chi.drawer(document.getElementById('drawer-trigger-1'));</script>

h2 With backdrop

.example.-mb--3(style='overflow:hidden;')
  .-position--relative.-z--0.-bb--1(style="height:20rem;overflow:hidden;")
    .-p--3
      .-d--flex.-justify-content--end.-align-items--start
        button#drawer-trigger-2.a-btn.-icon.m-drawer__trigger(data-target='#drawer-2', aria-label="Toggle navigation")
          .a-btn__content
            i.a-icon.-sm--2.icon-menu
      each i in [1, 2]
        p.-text.-mb--3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
    .m-backdrop.-closed.-position--absolute
      .m-backdrop__wrapper
        .m-drawer.-right#drawer-2.-position--absolute
          .m-drawer__header
            button(class='a-btn -icon -close', aria-label='Close')
              .a-btn__content
                i.a-icon.icon-x
          .m-drawer__content
            .-px--2.-text Drawer content here
  ul#a-tabs-backdrop.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-e2-button') Button
    li
      a(href='#a-tabs-e2-drawer') Drawer
    li
      a(href='#a-tabs-e2-js') JS
  #a-tabs-e2-button.a-tabs-panel.-active
    :code(lang="html")
      <button id="drawer-trigger-2" class="a-btn -icon m-drawer__trigger" data-target="#drawer-2" aria-label="Toggle navigation">
        <div class="a-btn__content">
          <i class="a-icon -sm--2 icon-menu"></i>
        </div>
      </button>
  #a-tabs-e2-drawer.a-tabs-panel
    :code(lang="html")
      <div class="m-backdrop -closed">
        <div class="m-backdrop__wrapper">
          <div id="drawer-2" class="m-drawer -right">
            <div class="m-drawer__header">
              <button class="a-btn -icon -close" aria-label="Close">
                <div class="a-btn__content">
                  <i class="a-icon icon-x"></i>
                </div>
              </button>
            </div>
            <div class="m-drawer__content">
              <div class="-px--2 -text">Drawer content here</div>
            </div>
          </div>
        </div>
      </div>
  #a-tabs-e2-js.a-tabs-panel
    :code(lang="html")
      <script>chi.drawer(document.getElementById('drawer-trigger-2'));</script>

h2 Options
p.-text This component accepts options to configure its behavior.

section.a-table.a-table__options.-bordered.-my--3
  div
    table.-text(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Option
          th
            div Default
          th
            div Description
      tbody
        tr
          td
            div
              code= 'animated'
          td
            div
              code= 'true'
          td
            div
              | Enables animation on drawer display and hide, and fade effect in the backdrop.
        tr
          td
            div
              code= 'target'
          td
            div
              code= 'null'
          td
            div
              | Lets the developer referer the target programmatically instead of by data-target attribute.
              | It accepts Element object and xpath selector string.

h3.mt--2 Methods
  h4 hide() =&gt; void
  p.-text Hides the drawer
  h5 Returns
  p.-text Type: void
  h4 show() =&gt; void
  p.-text Shows the drawer
  h5 Returns
  p.-text Type: void
  h4 toggle() =&gt; void
  p.-text Toggles active state (show/hide)
  h5 Returns
  p.-text Type: void

h3 Preventing memory leaks
p.-text
  | Drawer components have a dispose function to free all resources attached to the element, such as event listeners
  | and object data. You should call this method when you want to remove the component.
:code(lang="javascript")
  var elem = document.getElementById('drawer-1');
  var drawer = chi.drawer(elem);
  // do stuff
  drawer.dispose();

p.-text
  span.a-badge.-dark.-sm.-mr1
    span Tip
  | It is safe to call the <code>drawer</code> method more than once, as it will return any previously created drawer component
  | associated to the trigger.
:code(lang="javascript")
  var elem = document.getElementById('drawer-2');
  var drawer = chi.drawer(elem);
  var elem2 = document.getElementById('drawer-2');
  var drawer2 = chi.drawer(elem2);
  drawer === drawer2; // returns true

  drawer.dispose(); // Only have to do it once.

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      Array.prototype.forEach.call(
        document.getElementsByClassName("m-drawer__trigger"),
        function(el){
          chi.drawer(el);
        }
      );
      chi.tab(document.querySelectorAll('#a-tabs-base, #a-tabs-backdrop'));
    }
  );
