---
title: Expansion panel
---
p.-text
  | Use the function <code>chi.epanel(elem)</code> to instantiate a new extension panel component in the DOM
  | element passed as a parameter. It will return an ExpansionPanel object that will provide functions for interacting
  | with the panel, such as <code>setState</code>. Valid states are <code>pending</code>, <code>active</code>,
  | <code>disabled</code> and <code>done</code>.
.example.-mb3
  .-p3.-bg--grey-10
    .m-epanel#example1
      .m-epanel__header
        .m-epanel__title Expansion panel
        .m-epanel__content
          .m-epanel__collapse
            .-done--only
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
        .m-epanel__action.-done--only
          button.a-btn.-primary.-flat(data-chi-epanel-action="active") Change
      .m-epanel__collapse.-ml--0
        .-active--only
          .m-epanel__body
            .m-epanel__content
              .m-epanel__subtitle Active panel title
              p.m-epanel__text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque consequatur consequuntur excepturi
                | illo maiores, nobis placeat recusandae rem! Accusantium ad in minus molestiae? Commodi cupiditate labore
                | nihil sed veritatis!
            .m-epanel__footer.-justify-content--end
              button.a-btn.-lg Previous
              button.a-btn.-lg.-primary.-ml--2 Continue
    .-d--flex.-justify-content--center.-mt--3
      fieldset
        legend.a-label.-d--none Toggle panel state
        .m-form__item.-inline.-row
          .a-radio
            input.a-radio__input(type='radio', name='example1', value='pending', id='example1_radio1', checked='checked')
            label.a-radio__label(for='example1_radio1') Pending
        .m-form__item.-inline.-row
          .a-radio
            input.a-radio__input(type='radio', name='example1', value='active', id='example1_radio2')
            label.a-radio__label(for='example1_radio2') Active
        .m-form__item.-inline.-row
          .a-radio
            input.a-radio__input(type='radio', name='example1', value='done', id='example1_radio3')
            label.a-radio__label(for='example1_radio3') Done
        .m-form__item.-inline.-row
          .a-radio
            input.a-radio__input(type='radio', name='example1', value='disabled', id='example1_radio4')
            label.a-radio__label(for='example1_radio4') Disabled
  ul#a-tabs-e1.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-e1-html') HTML
    li
      a(href='#a-tabs-e1-js') JS
  #a-tabs-e1-html.a-tabs-panel.-active
    :code(lang="html")
      <div class="m-epanel" id="example1">
        <div class="m-epanel__header">
          <div class="m-epanel__title">Expansion panel</div>
          <div class="m-epanel__content">
            <div class="m-epanel__collapse">
              <div class="-done--only">
                <!-- some body content -->
              </div>
            </div>
          </div>
          <div class="m-epanel__action -done--only">
            <button class="a-btn -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="m-epanel__collapse -ml--0">
          <div class="-active--only">
            <div class="m-epanel__body">
              <div class="m-epanel__content">
                <div class="m-epanel__subtitle">Active panel title</div>
                <!-- some body content -->
              </div>
              <div class="m-epanel__footer -justify-content--end">
                <button class="a-btn -lg">Previous</button>
                <button class="a-btn -lg -primary -ml--2">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="-d--flex -justify-content--center -mt--3">
        <div class="m-form__item -inline -row">
          <div class="a-radio">
            <input class="a-radio__input" type="radio" name="example1" value="pending" id="example1_radio1" checked="checked">
            <label class="a-radio__label" for="example1_radio1">Pending</label>
          </div>
        </div>
        <div class="m-form__item -inline -row">
          <div class="a-radio">
            <input class="a-radio__input" type="radio" name="example1" value="active" id="example1_radio2">
            <label class="a-radio__label" for="example1_radio2">Active</label>
          </div>
        </div>
        <div class="m-form__item -inline -row">
          <div class="a-radio">
            <input class="a-radio__input" type="radio" name="example1" value="done" id="example1_radio3">
            <label class="a-radio__label" for="example1_radio3">Done</label>
          </div>
        </div>
        <div class="m-form__item -inline -row">
          <div class="a-radio">
            <input class="a-radio__input" type="radio" name="example1" value="disabled" id="example1_radio4">
            <label class="a-radio__label" for="example1_radio4">Disabled</label>
          </div>
        </div>
      </div>
  #a-tabs-e1-js.a-tabs-panel
    :code(lang="javascript")
      var epDom = document.getElementById('example1');
      var ePanel = chi.expansionPanel(epDom);
      var checkBoxes = document.querySelectorAll('input[name="example1"]');

      // Add event listeners to radio buttons
      Array.prototype.forEach.call(
        checkBoxes,
        function(input) {
          input.addEventListener('change', function() {
            if (this.checked) {
              ePanel.setState(this.value);
            }
          }, false);
        }
      );

      // Listen to Extension Panel state changes and update radio buttons
      epDom.addEventListener('chi.epanel.change', function() {
        var state = ePanel.getStateName();
        Array.prototype.forEach.call(
          checkBoxes,
          function(input) {
            if (input.value === state) {
              input.checked = true;
            }
          }
        );
      });

h2 Actions
p.-text
  | You can bind actions to activators inside the expansion panel with the <code>data-chi-epanel-action</code> attribute.

table.a-table.a-table__options.-hover
  thead
    tr
      th Action
      th Description
  tbody
    tr
      td
        code(style='word-break: initial') pending
      td
        | Sets the panel to the pending state. All the contents under the <code>-active--only</code> and the
        | <code>-done--only</code> will not be visible.
    tr
      td
        code(style='word-break: initial') active
      td Sets the panel to the active state. All the contents under the <code>-active--only</code> will be visible.
    tr
      td
        code(style='word-break: initial') toggle
      td
        | In the case the panel is previously set to active, this action sets it to pending. It sets to active state
        | otherwise.
    tr
      td
        code(style='word-break: initial') done
      td Sets the panel to the done state. All the contents under the <code>-done--only</code> will be visible.
    tr
      td
        code(style='word-break: initial') disabled
      td
        | Sets the panel to the disabled state. All the contents under the <code>-active--only</code> and the
        | <code>-done--only</code> will not be visible, and the title will render in a soft grey color.
    tr
      td
        code(style='word-break: initial') inactive
      td Is a synonym for <code>pending</code>.
    tr
      td
        code(style='word-break: initial') next
      td Sets the next panel in <code>active</code> status.
    tr
      td
        code(style='word-break: initial') previous
      td Sets the previous panel in <code>active</code> status.

p.-text
  span.a-badge.-dark.-sm.-mr1
    span Tip
  | You can freely add, remove or change the <code>data-chi-epanel-action</code> attribute on the fly, as is the main
  | element with the <code>m-epanel</code> class, the one which listens for the events.

h3 Example
.example.-mb3
  .-p3.-bg--grey-10
    .m-epanel#example2
      .m-epanel__header
        .m-epanel__title(data-chi-epanel-action='toggle') Click me to toggle
        .m-epanel__content
          .m-epanel__collapse
            .-done--only
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
        .m-epanel__action.-done--only
          button.a-btn.-primary.-flat(data-chi-epanel-action="active") Change
      .m-epanel__collapse.-ml--0
        .-active--only
          .m-epanel__body
            .m-epanel__content
              .m-epanel__subtitle Active panel title
              p.m-epanel__text
                | Content in expansion panel
            .m-epanel__footer.-justify-content--end
              button.a-btn.-lg(data-chi-epanel-action='pending') Pending
              button.a-btn.-lg(data-chi-epanel-action='done').-primary.-ml--2 Done
  ul#a-tabs-e2.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-e2-html') HTML
    li
      a(href='#a-tabs-e2-js') JS
  #a-tabs-e2-html.a-tabs-panel.-active
    :code(lang="html")
      <div class="m-epanel" id="example2" data-chi-epanel-group="example2">
        <div class="m-epanel__header">
          <div class="m-epanel__title" data-chi-epanel-action="toggle">Click me to toggle</div>
          <div class="m-epanel__content">
            <div class="m-epanel__collapse">
              <div class="-done--only">CenturyLink...</div>
            </div>
          </div>
          <div class="m-epanel__action -done--only">
            <button class="a-btn -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="m-epanel__collapse -ml--0">
          <div class="-active--only">
            <div class="m-epanel__body">
              <div class="m-epanel__content">
                <div class="m-epanel__subtitle">Active panel title</div>
                <p class="m-epanel__text">Content in expansion panel</p>
              </div>
              <div class="m-epanel__footer -justify-content--end">
                <button class="a-btn -lg" data-chi-epanel-action="pending">Pending</button>
                <button class="a-btn -lg -primary -ml--2" data-chi-epanel-action="done">Done</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  #a-tabs-e2-js.a-tabs-panel
    :code(lang="javascript")
      var ep = chi.expansionPanel(document.getElementById('example2'));

h2 Group of expansion panels
p.-text
  | The real power of the component comes when several expansion panels are used together. You can group them using the
  | attribute <code>data-chi-epanel-group="name-of-the-group"</code>. Now they will work together as an stepped form. When
  | an element is activated, the previous expanding panels will get the done state and the next will get the pending
  | state.

.example.-mb3#example3
  .-p3.-bg--grey-10
    .m-epanel.-active(data-chi-epanel-group='example3')
      .m-epanel__header
        .m-epanel__title Expansion panel #1
        .m-epanel__content
          .m-epanel__collapse
            .-done--only
              | Done<br />
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
        .m-epanel__action.-done--only
          button.a-btn.-primary.-flat(data-chi-epanel-action="active") Change
      .m-epanel__collapse.-ml--0
        .-active--only
          .m-epanel__body
            .m-epanel__content
              .m-epanel__subtitle Active panel title
              p.m-epanel__text Content in expansion panel
            .m-epanel__footer.-justify-content--end
              button.a-btn.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

    .m-epanel(data-chi-epanel-group='example3')
      .m-epanel__header
        .m-epanel__title Expansion panel #2
        .m-epanel__content
          .m-epanel__collapse
            .-done--only
              | Done<br />
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
        .m-epanel__action.-done--only
          button.a-btn.-primary.-flat(data-chi-epanel-action="active") Change
      .m-epanel__collapse.-ml--0
        .-active--only
          .m-epanel__body
            .m-epanel__content
              .m-epanel__subtitle Active panel title
              p.m-epanel__text Content in expansion panel
            .m-epanel__footer.-justify-content--end
              button.a-btn.-lg(data-chi-epanel-action='previous') Previous
              button.a-btn.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

    .m-epanel(data-chi-epanel-group='example3')
      .m-epanel__header
        .m-epanel__title Expansion panel #3
        .m-epanel__content
          .m-epanel__collapse
            .-done--only
              | Done<br />
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
        .m-epanel__action.-done--only
          button.a-btn.-primary.-flat(data-chi-epanel-action="active") Change
      .m-epanel__collapse.-ml--0
        .-active--only
          .m-epanel__body
            .m-epanel__content
              .m-epanel__subtitle Active panel title
              p.m-epanel__text Content in expansion panel
            .m-epanel__footer.-justify-content--end
              button.a-btn.-lg(data-chi-epanel-action='previous') Previous
              button.a-btn.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

    .m-epanel(data-chi-epanel-group='example3')
      .m-epanel__header
        .m-epanel__title Expansion panel #4
        .m-epanel__content
          .m-epanel__collapse
            .-done--only
              | Done<br />
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
        .m-epanel__action.-done--only
          button.a-btn.-primary.-flat(data-chi-epanel-action="active") Change
      .m-epanel__collapse.-ml--0
        .-active--only
          .m-epanel__body
            .m-epanel__content
              .m-epanel__subtitle Active panel title
              p.m-epanel__text Content in expansion panel
            .m-epanel__footer.-justify-content--end
              button.a-btn.-lg(data-chi-epanel-action='previous') Previous
              button.a-btn.-lg(data-chi-epanel-action='done').-primary.-ml--2 Finish

  ul#a-tabs-e3.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-e3-html') HTML
    li
      a(href='#a-tabs-e3-js') JS
  #a-tabs-e3-html.a-tabs-panel.-active
    :code(lang="html")
      <div class="m-epanel -active" data-chi-epanel-group="example3">
        <div class="m-epanel__header">
          <div class="m-epanel__title">Expansion panel #1</div>
          <div class="m-epanel__content">
            <div class="m-epanel__collapse">
              <div class="-done--only">Done<br>CenturyLink...</div>
            </div>
          </div>
          <div class="m-epanel__action -done--only">
            <button class="a-btn -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="m-epanel__collapse -ml--0">
          <div class="-active--only">
            <div class="m-epanel__body">
              <div class="m-epanel__content">
                <div class="m-epanel__subtitle">Active panel title</div>
                <p class="m-epanel__text">Content in expansion panel</p>
              </div>
              <div class="m-epanel__footer -justify-content--end">
                <button class="a-btn -lg -primary -ml--2" data-chi-epanel-action="next">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="m-epanel" data-chi-epanel-group="example3">
        <div class="m-epanel__header">
          <div class="m-epanel__title">Expansion panel #2</div>
          <div class="m-epanel__content">
            <div class="m-epanel__collapse">
              <div class="-done--only">Done<br>CenturyLink...</div>
            </div>
          </div>
          <div class="m-epanel__action -done--only">
            <button class="a-btn -primary -flat" data-chi-epanel-action="active">Change</button>
          </div>
        </div>
        <div class="m-epanel__collapse -ml--0">
          <div class="-active--only">
            <div class="m-epanel__body">
              <div class="m-epanel__content">
                <div class="m-epanel__subtitle">Active panel title</div>
                <p class="m-epanel__text">Content in expansion panel</p>
              </div>
              <div class="m-epanel__footer -justify-content--end">
                <button class="a-btn -lg" data-chi-epanel-action="previous">Previous</button>
                <button class="a-btn -lg -primary -ml--2" data-chi-epanel-action="next">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- last div x3 -->
  #a-tabs-e3-js.a-tabs-panel
    :code(lang="javascript")
      chi.expansionPanel(document.querySelectorAll('[data-chi-epanel-group="example3"]'));

h2 Accordion mode
p.-text
  | You can configure the expansion panels component to work as an accordion in a way that when an element is activated,
  | any other panel in the same group will be deactivated by putting it in the pending state. To activate this mode, you
  | have to add the <code>mode: "accordion"</code> configuration parameter at the moment of creation. Done states should
  | not be used in this mode. In this example, titles have been configured to trigger the action <code>toggle</code>,
  | and the expansion panel #3 also have next and previous buttons that fulfills the accordion behavior.
.example.-mb3#example4
  .-p3.-bg--grey-10
    .m-epanel.-bordered.-active(data-chi-epanel-group='example4')
      .m-epanel__header
        .m-epanel__title(data-chi-epanel-action='toggle') Expansion panel #1
      .m-epanel__collapse
        .-active--only
          .m-epanel__body
            .m-epanel__content
              .m-epanel__subtitle Active panel title
              p.m-epanel__text Content in expansion panel

    .m-epanel.-bordered(data-chi-epanel-group='example4')
      .m-epanel__header
        .m-epanel__title(data-chi-epanel-action='toggle') Expansion panel #2
      .m-epanel__collapse
        .-active--only
          .m-epanel__body
            .m-epanel__content
              .m-epanel__subtitle Active panel title
              p.m-epanel__text Content in expansion panel

    .m-epanel.-bordered(data-chi-epanel-group='example4')
      .m-epanel__header
        .m-epanel__title(data-chi-epanel-action='toggle') Expansion panel #3
      .m-epanel__collapse
        .-active--only
          .m-epanel__body
            .m-epanel__content
              .m-epanel__subtitle Active panel title
              p.m-epanel__text Content in expansion panel
            .m-epanel__footer.-justify-content--end
              button.a-btn.-lg(data-chi-epanel-action='previous') Previous
              button.a-btn.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

    .m-epanel.-bordered(data-chi-epanel-group='example4')
      .m-epanel__header
        .m-epanel__title(data-chi-epanel-action='toggle') Expansion panel #4
      .m-epanel__collapse
        .-active--only
          .m-epanel__body
            .m-epanel__content
              .m-epanel__subtitle Active panel title
              p.m-epanel__text Content in expansion panel
  ul#a-tabs-e4.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-e4-html') HTML
    li
      a(href='#a-tabs-e4-js') JS
  #a-tabs-e4-html.a-tabs-panel.-active
    :code(lang="html")
      <div class="m-epanel -bordered -active" data-chi-epanel-group="example4">
        <div class="m-epanel__header">
          <div class="m-epanel__title" data-chi-epanel-action="toggle">Expansion panel #1</div>
        </div>
        <div class="m-epanel__collapse">
          <div class="-active--only">
            <div class="m-epanel__body">
              <div class="m-epanel__content">
                <div class="m-epanel__subtitle">Active panel title</div>
                <p class="m-epanel__text">Content in expansion panel</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="m-epanel -bordered" data-chi-epanel-group="example4">
        <div class="m-epanel__header">
          <div class="m-epanel__title" data-chi-epanel-action="toggle">Expansion panel #2</div>
        </div>
        <div class="m-epanel__collapse">
          <div class="-active--only">
            <div class="m-epanel__body">
              <div class="m-epanel__content">
                <div class="m-epanel__subtitle">Active panel title</div>
                <p class="m-epanel__text">Content in expansion panel</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- last div x3 -->

  #a-tabs-e4-js.a-tabs-panel
    :code(lang="javascript")
      chi.expansionPanel(
        document.querySelectorAll('[data-chi-epanel-group="example4"]'),
        {mode: 'accordion'}
      );

h2 Free mode
p.-text
  | In this mode, there is no automated action triggered when an element activates. So you have to manage all custom
  | behavior.

.example.-mb3#example5
  .-p3.-bg--grey-10
    .m-epanel.-active(data-chi-epanel-group='example5')
      .m-epanel__header
        .m-epanel__title(data-chi-epanel-action='toggle') Expansion panel #1
        .m-epanel__action.-done--only
          button.a-btn.-primary.-flat(data-chi-epanel-action='active') Change
      .m-epanel__collapse.-ml--0
        .-active--only
          .m-epanel__body
            .m-epanel__content
              .m-epanel__subtitle Active panel title
              p.m-epanel__text Content in expansion panel
            .m-epanel__footer.-justify-content--end
              button.a-btn.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue
    .m-epanel(data-chi-epanel-group='example5')
      .m-epanel__header
        .m-epanel__title(data-chi-epanel-action='toggle') Expansion panel #2
        .m-epanel__action.-done--only
          button.a-btn.-primary.-flat(data-chi-epanel-action='active') Change
      .m-epanel__collapse.-ml--0
        .-active--only
          .m-epanel__body
            .m-epanel__content
              .m-epanel__subtitle Active panel title
              p.m-epanel__text Content in expansion panel
            .m-epanel__footer.-justify-content--end
              button.a-btn.-lg(data-chi-epanel-action='previous') Previous
              button.a-btn.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue
    .m-epanel(data-chi-epanel-group='example5')
      .m-epanel__header
        .m-epanel__title(data-chi-epanel-action='toggle') Expansion panel #3
        .m-epanel__action.-done--only
          button.a-btn.-primary.-flat(data-chi-epanel-action='active') Change
      .m-epanel__collapse.-ml--0
        .-active--only
          .m-epanel__body
            .m-epanel__content
              .m-epanel__subtitle Active panel title
              p.m-epanel__text Content in expansion panel
            .m-epanel__footer.-justify-content--end
              button.a-btn.-lg(data-chi-epanel-action='previous') Previous
              button.a-btn.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue
    .m-epanel(data-chi-epanel-group='example5')
      .m-epanel__header
        .m-epanel__title(data-chi-epanel-action='toggle') Expansion panel #4
        .m-epanel__action.-done--only
          button.a-btn.-primary.-flat(data-chi-epanel-action='active') Change
      .m-epanel__collapse.-ml--0
        .-active--only
          .m-epanel__body
            .m-epanel__content
              .m-epanel__subtitle Active panel title
              p.m-epanel__text Content in expansion panel
            .m-epanel__footer.-justify-content--end
              button.a-btn.-lg(data-chi-epanel-action='previous') Previous

  ul#a-tabs-e5.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-e5-html') HTML
    li
      a(href='#a-tabs-e5-js') JS
  #a-tabs-e5-html.a-tabs-panel.-active
    :code(lang="html")
      <div class="m-epanel -bordered -active" data-chi-epanel-group="example5">
        <div class="m-epanel__header">
          <div class="m-epanel__title" data-chi-epanel-action="toggle">Expansion panel #1</div>
        </div>
        <div class="m-epanel__collapse">
          <div class="-active--only">
            <div class="m-epanel__body">
              <div class="m-epanel__content">
                <div class="m-epanel__subtitle">Active panel title</div>
                <p class="m-epanel__text">Content in expansion panel</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="m-epanel -bordered" data-chi-epanel-group="example4">
        <div class="m-epanel__header">
          <div class="m-epanel__title" data-chi-epanel-action="toggle">Expansion panel #2</div>
        </div>
        <div class="m-epanel__collapse">
          <div class="-active--only">
            <div class="m-epanel__body">
              <div class="m-epanel__content">
                <div class="m-epanel__subtitle">Active panel title</div>
                <p class="m-epanel__text">Content in expansion panel</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- last div x3 -->

  #a-tabs-e5-js.a-tabs-panel
    :code(lang="javascript")
      chi.expansionPanel(
        document.querySelectorAll('[data-chi-epanel-group="example5"]'),
        {mode: 'free'}
      );
h2 Custom mode
p.-text
  | Write your custom mode by adding a handler for state changes of the expansion panels in the configuration, and
  | writing your own functions for the <code>active</code>, <code>done</code>, <code>pending</code>,
  | <code>disabled</code>, <code>toggle</code>, <code>next</code> and <code>previous</code> actions. In the
  | example, the component behaves similar to the accordion but alternates between <code>done</code> and
  | <code>pending</code> states instead of <code>active</code> and <code>pending</code> states. The overridden action
  | functions are for documenting purposes only because they clone the functionality of the default ones.

.example.-mb3#example6
  .-p3.-bg--grey-10
    .m-epanel.-done(data-chi-epanel-group='example6')
      .m-epanel__header
        .m-epanel__title(data-chi-epanel-action='done') Expansion panel #1
        .m-epanel__content
          .m-epanel__collapse
            .-done--only
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
    .m-epanel(data-chi-epanel-group='example6')
      .m-epanel__header
        .m-epanel__title(data-chi-epanel-action='done') Expansion panel #2
        .m-epanel__content
          .m-epanel__collapse
            .-done--only
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
    .m-epanel(data-chi-epanel-group='example6')
      .m-epanel__header
        .m-epanel__title(data-chi-epanel-action='done') Expansion panel #3
        .m-epanel__content
          .m-epanel__collapse
            .-done--only
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
    .m-epanel(data-chi-epanel-group='example6')
      .m-epanel__header
        .m-epanel__title(data-chi-epanel-action='done') Expansion panel #4
        .m-epanel__content
          .m-epanel__collapse
            .-done--only
              | CenturyLink<br />
              | 1100 112th Ave NE<br />
              | Suite 400<br />
              | Bellevue, WA 98004
  ul#a-tabs-e6.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-e6-html') HTML
    li
      a(href='#a-tabs-e6-js') JS
  #a-tabs-e6-html.a-tabs-panel.-active
    :code(lang="html")
      <div class="m-epanel -done" data-chi-epanel-group="example6">
        <div class="m-epanel__header">
          <div class="m-epanel__title" data-chi-epanel-action="done">Expansion panel #1</div>
          <div class="m-epanel__content">
            <div class="m-epanel__collapse">
              <div class="-done--only">CenturyLink...</div>
            </div>
          </div>
        </div>
      </div>

      <div class="m-epanel" data-chi-epanel-group="example6">
        <div class="m-epanel__header">
          <div class="m-epanel__title" data-chi-epanel-action="done">Expansion panel #2</div>
          <div class="m-epanel__content">
            <div class="m-epanel__collapse">
              <div class="-done--only">CenturyLink...</div>
            </div>
          </div>
        </div>
      </div>
      <!-- last div x3 -->
  #a-tabs-e6-js.a-tabs-panel
    :code(lang="javascript")
      chi.expansionPanel(
        document.querySelectorAll('[data-chi-epanel-group="example6"]'),
        {
          mode: 'custom',
          changeHandler: function (newState, oldState, expansionPanel, panelGroup) {
            if (newState === chi.EXPANSION_PANEL_STATES.DONE) {
              panelGroup.expansion_panels.forEach(function (exPa) {
                if (exPa !== expansionPanel) {
                  exPa.setState(chi.EXPANSION_PANEL_STATES.PENDING.NAME);
                }
              });
            }
          },
          customActions: {
            active: (expansionPanel, epGroup) =>
              expansionPanel.setState(chi.EXPANSION_PANEL_STATES.ACTIVE.NAME),
            done: (expansionPanel, epGroup) =>
              expansionPanel.setState(chi.EXPANSION_PANEL_STATES.DONE.NAME),
            pending: (expansionPanel, epGroup) =>
              expansionPanel.setState(chi.EXPANSION_PANEL_STATES.PENDING.NAME),
            toggle: (expansionPanel, epGroup) => {
              if (expansionPanel._state === chi.EXPANSION_PANEL_STATES.ACTIVE) {
                expansionPanel.setState(chi.EXPANSION_PANEL_STATES.PENDING.NAME);
              } else {
                expansionPanel.setState(chi.EXPANSION_PANEL_STATES.ACTIVE.NAME);
              }
            },
            next: (expansionPanel, epGroup) => {
              epGroup.reset(expansionPanel);
              epGroup.next().setState(chi.EXPANSION_PANEL_STATES.ACTIVE.NAME);
            },
            previous: (expansionPanel, epGroup) => {
              epGroup.reset(expansionPanel);
              epGroup.previous().setState(chi.EXPANSION_PANEL_STATES.ACTIVE.NAME);
            },
            disabled: (expansionPanel, epGroup) =>
              expansionPanel.setState(chi.EXPANSION_PANEL_STATES.DISABLED.NAME)
          }
        }
      );

h3 Preventing memory leaks
p.-text
  | Expansion panel components have a dispose function to free all resources attached to the element, such as event
  | listeners and object data. You should call this method when you want to remove the component.
:code(lang="javascript")
  var elemArray = document.querySelectorAll('[data-chi-epanel-group="groupName"]');
  var expansionPanelsArray = chi.expansionPanel(elemArray);
  // do stuff
  expansionPanelsArray.forEach(function (expansionPanel) {
    expansionPanel.dispose();
  });

p.-text
  span.a-badge.-dark.-sm.-mr1
    span Tip
  | It is safe to call the <code>expansionPanel</code> method more than once, as it will return any previously created
  | expansion panel component associated to the element.
:code(lang="javascript")
  var elem = document.getElementById('expansion-panel-1');
  var expansionPanelComponent = chi.expansionPanel(elem);
  var elem2 = document.getElementById('expansion-panel-1');
  var expansionPanelComponent2 = chi.expansionPanel(elem2);
  expansionPanelComponent === expansionPanelComponent2; // returns true

  expansionPanelComponent.dispose(); // Only have to do it once.

script(src=`../../assets/scripts/docs-expansion-panel.js`)
