---
title: Floating labels
---
p.-text
  | Floating labels rely on JavaScript to add/remove the <code>-active</code> class whenever the input focuses or has
  | a value.

h2 Input boxes
.example.-mb--3
  .-p--3
    div(class=`a-col -w--12 -p--2`)
      .m-input__wrapper.-floatingLabel(style="max-width:20rem")
        input(type="text", class=`a-input -xl -mr--3`, id="floating-label-1")
        label(for="floating-label-1") Placeholder text
  :code(lang='html')
    <div id="floating-label-1" class="m-input__wrapper -floatingLabel">
      <input class="a-input -xl" type="text" id="floating-label-input">
      <label for="floating-label-input">Placeholder text</label>
    </div>

    <script>chi.floatingLabel(document.getElementById('floating-label-1'));</script>

h2 Select boxes
.example.-mb--3
  .-p--3
    div(class=`a-col -w--12 -p--2`)
      .m-input__wrapper.-floatingLabel(style="max-width:20rem")
        select#floating-label-select.a-input.-xl.-mr--3
          option
          option Option 1
          option Option 2
          option Option 3
        label(for="floating-label-select") Placeholder text
  :code(lang='html')
    <div id="floating-label-2" class="m-input__wrapper -floatingLabel">
      <select class="a-input -xl" id="floating-label-select">
        <option></option>
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
      <label for="floating-label-select">Placeholder text</label>
    </div>

    <script>chi.floatingLabel(document.getElementById('floating-label-2'));</script>

h3 Preventing memory leaks
p.-text
  | Floating label components have a dispose function to free all resources attached to the element, such as event listeners
  | and object data. You must call this method when you want to remove the component.
:code(lang="javascript")
  var elem = document.getElementById('floating-label-1');
  var floatingLabel = chi.floatingLabel(elem);
  // do stuff
  floatingLabel.dispose();

p.-text
  span.a-badge.-dark.-sm.-mr1
    span Tip
  | It is safe to call the <code>floatingLabel</code> method more than once, as it will return any previously created floating label component
  | associated to the trigger.
:code(lang="javascript")
  var elem = document.getElementById('floating-label-1');
  var floatingLabel = chi.floatingLabel(elem);
  var elem2 = document.getElementById('floating-label-1');
  var floatingLabel2 = chi.floatingLabel(elem2);
  floatingLabel === floatingLabel2; // returns true

  floatingLabel.dispose(); // Only have to do it once.

script(type="text/javascript", src=`../../js/chi.js`)
!= '<script>chi.FloatingLabel.initAll();</script>'
