---
title: Number input
---
p.-text
  | Number inputs are used to increase or decrease numeric values, and they require JavaScript to increment and
  | decrement the value when the buttons are pressed.

h3 Default
p.-text
  | Call the function chi.numberInput and pass the input element as parameter.
.example.-mb--3
  .-p--3
    .m-formGroup
      .a-inputWrapper
        input#input-number-1.a-input(type="number", value="0")
        button
        button
  :code(lang="html")
    <div class="a-inputWrapper">
      <input id="input-number-1" type="number" class="a-input" value="0">
      <button></button>
      <button></button>
    </div>

    <script>chi.numberInput(document.getElementById('input-number-1'));</script>

h3 Expanded version
.example.-mb--3
  .-p--3
    .m-inputNumber
      input#input-number-2.a-input(type="number", value="0")
      button.a-btn.-icon
        .a-btn__content
          i.a-icon.icon-minus
      button.a-btn.-icon
        .a-btn__content
          i.a-icon.icon-plus
  :code(lang="html")
    <div class="m-inputNumber">
      <input id="input-number-2" class="a-input" type="number" value="0">
      <button class="a-btn -icon">
        <div class="a-btn__content">
          <i class="a-icon icon-minus"></i>
        </div>
      </button>
      <button class="a-btn -icon">
        <div class="a-btn__content">
          <i class="a-icon icon-plus"></i>
        </div>
      </button>
    </div>

    <script>chi.numberInput(document.getElementById('input-number-2'));</script>

h4 Preventing memory leaks
p.-text
  | Input number components have a dispose function to free all resources attached to the element, such as event
  | listeners and object data. You should call this method when you want to remove the component.
:code(lang="javascript")
  var elem = document.getElementById('input-number-1');
  var inputNumberComponent = chi.numberInput(elem);
  // do stuff
  inputNumberComponent.dispose();

p.-text
  span.a-badge.-brand.-mr1
    span Tip
  | It is safe to call the <code>numberInput</code> method more than once, as it will return any previously created
  | number input component associated to the input.
:code(lang="javascript")
  var elem = document.getElementById('input-number-1');
  var inputNumberComponent = chi.numberInput(elem);
  var elem2 = document.getElementById('input-number-1');
  var inputNumberComponent2 = chi.numberInput(elem2);
  inputNumberComponent === inputNumberComponent2; // returns true

  inputNumberComponent.dispose(); // Only have to do it once.

script(type="text/javascript", src=`../../js/chi.js`)
!= '<script>chi.numberInput(document.getElementById(\'input-number-1\'));chi.numberInput(document.getElementById(\'input-number-2\'));</script>'
