@import 'variables';
@import 'mixins';

$spinner-sizes: (xs: 0.75rem, sm: 1rem, sm2: 1.25rem, sm3: 1.5rem, md: 2rem, lg: 4rem, xl: 6rem, xxl: 8rem);

.chi {

  .a-spinner {
    animation: rotator 1.4s linear infinite;
    stroke: currentColor;
    position: relative;
    height: 1rem;
    width: 1rem;

    & .path {
      stroke-dasharray: 150,190;
      stroke-dashoffset: 0;
      transform-origin: center;
      stroke-linecap: round;
      animation: dash 1.4s ease-in-out infinite;
    }

    @each $type in map-keys($spinner-sizes) {
      &.-#{$type} {
        height: map-get($spinner-sizes, $type);
        width: map-get($spinner-sizes, $type);
      }
    }
  }

  .a-backdrop {
    .a-spinner {
      transform-origin: center;
      width: 4rem;
      height: 4rem;
    }
  }

  @keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 265;
    }
    50% {
      stroke-dashoffset: 65;
      transform: rotate(90deg);
    }
    100% {
      stroke-dashoffset: 265;
      transform: rotate(360deg);
    }
  }
}
