@import 'variables';
@import 'mixins';

$spinner-sizes: (xs: 0.75rem, sm: 1rem, sm2: 1.25rem, sm3: 1.5rem, md: 2rem, lg: 4rem, xl: 6rem, xxl: 8rem);

.chi {
  .a-spinner__backdrop {
    background: rgba(set-color(white), 0.7);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .a-spinner {
      animation: rotator 1.4s linear infinite;
      transform-origin: center;
      stroke: currentColor;
      width: 4rem;
      height: 4rem;

      & .path {
        stroke-dasharray: 187;
        stroke-dashoffset: 0;
        transform-origin: center;
        stroke-linecap: round;
        animation: dash 1.4s ease-in-out infinite;
      }
    }

    &.-inverse {
      background: rgba(set-color(black), 0.7);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      .a-spinner {
        animation: rotator 1.4s linear infinite;
        transform-origin: center;
        stroke: currentColor;
        width: 4rem;
        height: 4rem;

        & .path {
          stroke-dasharray: 187;
          stroke-dashoffset: 0;
          transform-origin: center;
          stroke-linecap: round;
          animation: dash 1.4s ease-in-out infinite;
        }
      }
    }
  }

  .a-spinner {
    animation: rotator 1.4s linear infinite;
    stroke: currentColor;
    position: relative;
    height: 1rem;
    width: 1rem;

    & .path {
      stroke-dasharray: 187;
      stroke-dashoffset: 0;
      transform-origin: center;
      stroke-linecap: round;
      animation: dash 1.4s ease-in-out infinite;
    }

    @each $type in map-keys($spinner-sizes) {
      &.-#{$type} {
        height: map-get($spinner-sizes, $type);
        width: map-get($spinner-sizes, $type);
      }
    }
  }

  @keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 265;
    }
    50% {
      stroke-dashoffset: 65;
      transform: rotate(90deg);
    }
    100% {
      stroke-dashoffset: 265;
      transform: rotate(360deg);
    }
  }
}
