@import '_global-variables';
@import '_global-mixins';

$spinner-sizes: (
  xs: $spinner-size-xs,
  sm: $spinner-size-sm,
  sm--2: $spinner-size-sm2,
  sm--3: $spinner-size-sm3,
  md: $spinner-size-md,
  lg: $spinner-size-lg,
  xl: $spinner-size-xl,
  xxl: $spinner-size-xxl);

.chi-spinner {
  animation: rotator 1.4s linear infinite;
  height: $spinner-size-sm;
  position: relative;
  stroke: currentColor;
  vertical-align: top;
  width: $spinner-size-sm;

  & .path {
    animation: dash 1.4s ease-in-out infinite;
    stroke-dasharray: 150, 190;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    transform-origin: center;
  }

  @each $type in map-keys($spinner-sizes) {
    &.-#{$type} {
      height: map-get($spinner-sizes, $type);
      width: map-get($spinner-sizes, $type);
    }
  }
}

.chi-backdrop {
  &__wrapper {
    & > .chi-spinner {
      height: 4rem;
      transform-origin: center;
      width: 4rem;
    }
  }
}

@keyframes rotator {
  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 265;
  }

  50% {
    stroke-dashoffset: 65;
    transform: rotate(90deg);
  }

  100% {
    stroke-dashoffset: 265;
    transform: rotate(360deg);
  }
}
