@import '_variables';
@import '_mixins';

$spinner-sizes: (
  xs: 0.75rem,
  sm: 1rem,
  sm2: 1.25rem,  // Legacy size code
  sm--2: 1.25rem,
  sm3: 1.5rem,  // Legacy size code
  sm--3: 1.5rem,
  md: 2rem,
  lg: 4rem,
  xl: 6rem,
  xxl: 8rem);

.chi-spinner {
  animation: rotator 1.4s linear infinite;
  height: 1rem;
  position: relative;
  stroke: currentColor;
  vertical-align: top;
  width: 1rem;

  & .path {
    animation: dash 1.4s ease-in-out infinite;
    stroke-dasharray: 150, 190;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    transform-origin: center;
  }

  @each $type in map-keys($spinner-sizes) {
    &.-#{$type} {
      height: map-get($spinner-sizes, $type);
      width: map-get($spinner-sizes, $type);
    }
  }
}

// Legacy code start
.a-backdrop {
  & > .chi-spinner {
    height: 4rem;
    transform-origin: center;
    width: 4rem;
  }
}
// Legacy code end

.m-backdrop {
  &__wrapper {
    & > .chi-spinner {
      height: 4rem;
      transform-origin: center;
      width: 4rem;
    }
  }
}

@keyframes rotator {
  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 265;
  }

  50% {
    stroke-dashoffset: 65;
    transform: rotate(90deg);
  }

  100% {
    stroke-dashoffset: 265;
    transform: rotate(360deg);
  }
}
