@import '_mixins';
@import '_variables';

$sizes: (
  xs: (
    padding: 0.5rem,
  ),
  sm: (
    padding: 0.75rem,
  ),
  md: (
    padding: 1rem,
  ),
  lg: (
    padding: 1.25rem,
  ),
  xl: (
    padding: 1.5rem,
  )
);

$inverse-sizes: (
  xs: (
    padding-left: 0.75rem,
    active-padding-left: 0.5rem
  ),
  sm: (
    padding-left: 0.75rem,
    active-padding-left: 0.5rem
  ),
  md: (
    padding-left: 1rem,
    active-padding-left: 0.75rem
  ),
  lg: (
    padding-left: 1.25rem,
    active-padding-left: 1rem
  ),
  xl: (
    padding-left: 1.5rem,
    active-padding-left: 1.25rem
  )
);

th {
  text-align: left;
}

.chi-table {
  border-spacing: 0;
  font-size: $text;
  line-height: $line-height-smaller;
  margin: 0;
  padding: 0;
  width: 100%;

  @each $type in map-keys($sizes) {
    &.-#{$type} {
      & th {
        padding: map-get(map-get($sizes, $type), padding);
      }

      & td {
        padding: map-get(map-get($sizes, $type), padding);
      }
    }
  }

  table {
    border-spacing: 0;
    font-size: $text;
    line-height: $line-height-smaller;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  label {
    margin-bottom: 0;
  }

  tr {
    background-color: set-color(white);

    & th {
      border-bottom: 0.0625rem solid set-color(grey, 30);
      padding: 1rem;
    }

    & td {
      border-bottom: 0.0625rem solid set-color(grey, 20);
      padding: 1rem;
    }

    @each $type in map-keys($sizes) {
      &.-#{$type} {
        & th {
          padding: map-get(map-get($sizes, $type), padding) !important;
        }

        & td {
          padding: map-get(map-get($sizes, $type), padding) !important;
        }
      }
    }
  }

  th {
    font-weight: 600;

    &.-sorted {
      div {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: row;

        &::after {
          background-image: url('icon-chevron-thin-up.svg');
          content: '';
          display: block;
          height: 0.75rem;
          margin-left: 0.5rem;
          opacity: 0;
          width: 0.75rem;
        }
      }

      & i {
        margin-left: 0.5rem;
      }
    }

    &.-ascending {
      div::after {
        opacity: 1;
      }
    }

    &.-descending {
      div::after {
        opacity: 1;
        transform: rotate(180deg);
      }
    }
  }

  & tbody {
    tr {
      &.-row--success {
        background-color: set-color(mint, 10) !important;
      }

      &.-row--warning {
        background-color: set-color(yellow, 10) !important;
      }

      &.-row--danger {
        background-color: set-color(red, 10) !important;
      }

      &.-row--info {
        background-color: set-color(blue, 10) !important;
      }

      &[disabled] {
        color: rgba(set-color(grey, 90), 0.4) !important;
      }
    }
  }

  &.-inverse {
    tr {
      background-color: set-color(grey, 90);
      color: set-color(white);

      & th {
        border-bottom: 0.0625rem solid set-color(grey, 60);
      }

      & td {
        border-bottom: 0.0625rem solid set-color(grey, 70);
      }
    }

    thead {
      tr {
        th {
          &.-sorted {
            div {
              &::after {
                background-image: none;
                content: '\e921';
                font-family: 'chi';
                font-size: 0.75rem;
                font-weight: normal;
                height: 1rem;
              }
            }
          }
        }
      }
    }

    & tbody {
      tr {
        &.-row--success {
          background-color: set-color(mint, 80) !important;
        }

        &.-row--warning {
          background-color: set-color(yellow, 80) !important;
        }

        &.-row--danger {
          background-color: set-color(red, 80) !important;
        }

        &.-row--info {
          background-color: set-color(blue, 80) !important;
        }

        &[disabled] {
          color: rgba(set-color(grey, 10), 0.4) !important;
        }

        &.-active {
          td {
            background-color: rgba(set-color(mint, 40), 0.08);
            color: $secondary-color;

            &:first-child {
              border-left: 0.25rem solid $secondary-color;
              padding-left: 0.75rem;
            }
          }
        }
      }
    }

    &.-hover {
      tbody {
        tr {
          &:hover,
          &.-hover {
            background-color: set-color(grey, 90);

            td {
              background-color: set-color(grey, 80);
            }
          }

          &.-active {
            &:hover,
            &.-hover {
              td {
                background-color: rgba(set-color(mint, 40), 0.08);
              }
            }
          }
        }
      }
    }

    &.-striped {
      tbody {
        tr {
          &:nth-child(odd) {
            background-color: set-color(grey, 80);
          }

          &.-active {
            background-color: set-color(grey, 90);
          }
        }
      }
    }

    &.-bordered {
      &::before {
        border: 0.0625rem solid set-color(grey, 30);
      }

      tr {
        & th {
          border: 0.0625rem solid set-color(grey, 30);
        }

        & td {
          border: 0.0625rem solid set-color(grey, 30);
        }
      }
    }

    &.-fixed--header {
      &::before {
        background-color: set-color(grey, 90);
      }

      &.-striped {
        tbody {
          tr:nth-child(odd) {
            background-color: set-color(grey, 80);
          }
        }
      }

      &.-bordered {
        th {
          border: 0;
        }
      }
    }

    @each $type in map-keys($inverse-sizes) {
      &.-#{$type} {
        tr {
          & th {
            &:first-child {
              padding-left: map-get(map-get($inverse-sizes, $type), padding-left);
            }
          }

          & td {
            &:first-child {
              padding-left: map-get(map-get($inverse-sizes, $type), padding-left);
            }
          }

          &.-active {
            td {
              &:first-child {
                padding-left: map-get(map-get($inverse-sizes, $type), active-padding-left);
              }
            }
          }
        }
      }
    }
  }

  &.-portal {
    thead {
      tr {
        th {
          background-color: set-color(grey, 25);
          border-bottom: 0;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background-color: set-color(grey, 20);
        }

        &.-active {
          td {
            background-color: rgb(206, 218, 241);

            &:first-child {
              border-left: 0.25rem solid $primary-color;
              padding-left: 0.75rem;
            }
          }
        }

        td {
          border-bottom: 0;
        }
      }
    }

    &.-hover {
      tbody {
        tr {
          &:hover,
          &.-hover {
            td {
              background-color: set-color(blue, 20);
            }
          }
        }
      }
    }

    &.-striped {
      tbody {
        tr {
          &:nth-child(odd) {
            background-color: set-color(grey, 20);
          }
        }
      }
    }
  }

  &.-hover {
    tbody {
      tr {
        &:hover,
        &.-hover {
          background-color: set-color(grey, 10);
        }
      }
    }
  }

  &.-striped {
    tbody {
      tr:nth-child(odd) {
        background-color: set-color(grey, 10);
      }
    }
  }

  &.-no-border {
    &::before {
      border: 0;
    }

    tr {
      & th {
        border: 0;
      }

      & td {
        border: 0;
      }
    }
  }

  &.-bordered {
    &,
    &.-portal {
      &::before {
        border: 0.0625rem solid set-color(grey, 30);
        border-bottom-width: 0;
        border-left-width: 0;
      }

      tr {
        & th {
          border: 0.0625rem solid set-color(grey, 30);
          border-right-width: 0;

          &:last-of-type {
            border-right-width: 0.0625rem;
          }
        }

        & td {
          border: 0.0625rem solid set-color(grey, 30);
          border-right-width: 0;
          border-top-width: 0;

          &:last-of-type {
            border-right-width: 0.0625rem;
          }
        }
      }
    }
  }

  &.-fixed--header {
    padding-top: 3rem;
    position: relative;

    &::before {
      background-color: set-color(white);
      content: '';
      display: block;
      height: 3rem;
      position: absolute;
      top: 0;
      width: 100%;
    }

    & > div {
      height: 100%;
      overflow-y: auto;
    }

    tr {
      height: 0;
    }

    th {
      height: 0;
      padding: 0;

      div {
        padding: 1rem;
        position: absolute;
        text-align: start;
        top: 0;
        vertical-align: middle;
      }

      &.-sorted {
        div {
          align-items: center;
          cursor: pointer;
          display: flex;
          flex-direction: row;

          &::after {
            background-image: url('icon-chevron-thin-up.svg');
            content: '';
            display: block;
            height: 0.75rem;
            margin-left: 0.5rem;
            opacity: 0;
            width: 0.75rem;
          }
        }
      }

      &.-ascending {
        div::after {
          opacity: 1;
        }
      }

      &.-descending {
        div::after {
          opacity: 1;
          transform: rotate(180deg);
        }
      }
    }

    td {
      border-bottom: 0.0625rem solid set-color(grey, 20);
      padding: 1rem;
      padding-bottom: 0.9375rem;
      text-align: start;
      vertical-align: middle;
    }

    &.-hover {
      tbody {
        tr {
          &:hover,
          &.-hover {
            background-color: set-color(grey, 10);
          }
        }
      }
    }

    &.-striped {
      tbody {
        tr:nth-child(odd) {
          background-color: set-color(grey, 10);
        }
      }
    }

    &.-no-border {
      &::before {
        border: 0;
      }

      td {
        border: 0;
        padding: 1rem;
      }
    }

    &.-bordered {
      &::before {
        border: 0.0625rem solid set-color(grey, 20);
        border-left-width: 0;
      }

      th {
        border: 0;
      }

      th > div {
        border-left: 0.0625rem solid set-color(grey, 20);
        padding-left: 0.9375rem;
      }

      td {
        border: 0.0625rem solid set-color(grey, 20);
        border-right-width: 0;
        border-top-width: 0;
        padding: 1rem 1rem 0.9375rem 0.9375rem;

        &:last-of-type {
          border-right-width: 0.0625rem;
          padding-right: 0.9375rem;
        }
      }
    }
  }
}
