script(src='https://cdn.jsdelivr.net/npm/vue@2.6.11')
script(src='../../chi-vue/umd/chi-vue.umd.js')

h2 Examples

.-portal--hide
  include examples/base/_base
  include examples/base/_empty
  include examples/base/_no-border
  include examples/base/_striped
  include examples/base/_hover
  include examples/base/_bordered
  include examples/base/_active
  include examples/base/_selectable
  include examples/base/_radio-selection
  include examples/base/_accordion
  include examples/base/_sorting
  include examples/base/_sorting-ascending
  include examples/base/_sorting-descending
  include examples/base/_size-xs
  include examples/base/_size-sm
  include examples/base/_size-md
  include examples/base/_size-lg
  include examples/base/_size-xl

.-portal--show
  include examples/portal/_base
  include examples/portal/_empty
  include examples/portal/_accordion
  include examples/portal/_accordion-child
  include examples/portal/_accordion-grand-child
  include examples/portal/_complex
  include examples/portal/_two-tier

script.
  document.addEventListener(
  'DOMContentLoaded',
  function() {
    chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));
    chi.tooltip(document.querySelectorAll('[data-tooltip]'));
  });
