script(src='https://cdn.jsdelivr.net/npm/vue@2.6.11')
script(src='https://ffa501f0173abba98f9476d13fde468ee1ac8e93-chi-pr.enterprise.ctl.io/chi-vue/umd/chi-vue.umd.js')

h2 Examples

include examples/base/_base
include examples/base/_empty
include examples/base/_no-border
include examples/base/_striped
include examples/base/_hover
include examples/base/_bordered
include examples/base/_active
include examples/base/_selectable
include examples/base/_accordion
include examples/base/_sorting
include examples/base/_sorting-ascending
include examples/base/_sorting-descending
include examples/base/_size-xs
include examples/base/_size-sm
include examples/base/_size-md
include examples/base/_size-lg
include examples/base/_size-xl

.-lumen-only
  include examples/portal/_base
  include examples/portal/_two-tier
  include examples/portal/_empty
  include examples/portal/_accordion
  include examples/portal/_accordion-child
  include examples/portal/_accordion-grand-child
  include examples/portal/_complex

//- h3 Portal -- Complex example
//- .example.-mb--3
//-   .-p--3
//-     .chi-data-table.-portal.-compact.-bg--white.-bg-md--grey-15
//-       .chi-data-table__head
//-         .chi-data-table__row
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell
//-              div Name
//-           .chi-data-table__cell
//-             div Email
//-           .chi-data-table__cell
//-            div Phone Number
//-           .chi-data-table__cell
//-             div Address
//-           .chi-data-table__cell
//-             div Last Login
//-       .chi-data-table__body
//-         .chi-data-table__row.-collapsed
//-           .chi-data-table__cell.-expandable
//-             i.chi-icon.icon-plus
//-           .chi-data-table__cell.-key.-bold
//-             div FJD983-JFE890-HFKE84-567ASuper WrappingBoldtitle | Western Main
//-           .chi-data-table__cell.-key
//-             div Internet Backbone
//-           .chi-data-table__cell.-key
//-             div Active
//-           .chi-data-table__cell
//-             div 8 Glenlake Lane, San Francisco, California, 94107, USA
//-           .chi-data-table__cell
//-             div April 8, 2020
//-         .chi-data-table__row.-collapsed
//-           .chi-data-table__cell.-expandable
//-             i.chi-icon.icon-plus
//-           .chi-data-table__cell.-key.-bold
//-             div JFE890-HFKE84
//-           .chi-data-table__cell
//-             div ashley.macias@domain.com
//-           .chi-data-table__cell
//-             div 543-723-8733
//-           .chi-data-table__cell
//-             div 4 W Chapel St, San Jose, California, 95129, USA
//-           .chi-data-table__cell
//-             div April 8, 2020
//-         .chi-data-table__row
//-           .chi-data-table__cell.-expandable
//-             i.chi-icon.icon-plus
//-           .chi-data-table__cell.-key.-bold
//-             div 8-FJFIFE4328 | Western Regional Main Super Long Customer Created Name
//-           .chi-data-table__cell.-key
//-             div Main Pending Activate
//-           .chi-data-table__cell
//-             div 555-995-5348
//-           .chi-data-table__cell
//-             div 8 Glenlake Lane, San Francisco, California, 94107, USA
//-           .chi-data-table__cell
//-             div April 8, 2020
//-         .chi-data-table__row
//-           .chi-data-table__cell.-expandable
//-             i.chi-icon.icon-plus
//-           .chi-data-table__cell.-key.-bold
//-             div LKD983-DS849 | Headquarters
//-           .chi-data-table__cell.-key
//-             div Active
//-           .chi-data-table__cell.-key
//-             div 102224 ELDORADO BLVD, BROOMFIELD, CO, 80202
//-           .chi-data-table__cell
//-             div 8 Glenlake Lane, San Francisco, California, 94107, USA
//-           .chi-data-table__cell
//-             div April 8, 2020
//-         .chi-data-table__row.-collapsed
//-           .chi-data-table__cell.-expandable
//-             i.chi-icon.icon-plus
//-           .chi-data-table__cell.-key.-bold
//-             div LKD983-DS849 (Headquarters)
//-           .chi-data-table__cell.-key
//-             div Active
//-           .chi-data-table__cell.-key
//-             div 1024 ELDORADO BLVD, BROOMFIELD, CO, 80202
//-           .chi-data-table__cell.-key
//-             div Pending Active
//-           .chi-data-table__cell.-key
//-             div Awaiting Customer Action
//-         .chi-data-table__row.-expanded
//-           .chi-data-table__cell.-expandable
//-             i.chi-icon.icon-minus.-xs
//-           .chi-data-table__cell.-key.-bold
//-             div JFE890-984J
//-           .chi-data-table__cell.-key
//-             div Pending Activate
//-           .chi-data-table__cell.-key
//-             div 543-723-8733
//-           .chi-data-table__cell.-key
//-             div 4 W Chapel St, San Jose, California, 95129, USA
//-           .chi-data-table__cell
//-             div April 8, 2020
//-         .chi-data-table__row-child.-collapsed
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-key.-bold
//-             div GHF89-DD | Pine Boulevard Station
//-           .chi-data-table__cell.-key
//-             div Active
//-           .chi-data-table__cell.-key
//-             div 543-723-8733
//-           .chi-data-table__cell.-key
//-             div 4 W Chapel St, San Jose, California, 95129, USA
//-           .chi-data-table__cell
//-             div April 8, 2020
//-         .chi-data-table__row-child.-collapsed
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-key.-bold
//-             div KOL89-EF | Gilbert Street Station super long name
//-           .chi-data-table__cell.-key
//-             div Pending Activate
//-           .chi-data-table__cell.-key
//-             div 543-723-8733
//-           .chi-data-table__cell
//-             div 4 W Chapel St, San Jose, California, 95129, USA
//-           .chi-data-table__cell
//-             div April 8, 2020
//-         .chi-data-table__row.-expanded
//-           .chi-data-table__cell.-expandable
//-             i.chi-icon.icon-minus.-xs
//-           .chi-data-table__cell.-key.-bold
//-             div FJD983-DS849 | Western Regional Main Internet
//-           .chi-data-table__cell.-key
//-             div Pending Activate
//-           .chi-data-table__cell
//-             div 543-723-8733
//-           .chi-data-table__cell
//-             div 4 W Chapel St, San Jose, California, 95129, USA
//-           .chi-data-table__cell
//-             div April 8, 2020
//-         .chi-data-table__row-child.-expanded
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-key.-bold
//-             div GHF89-DD | Pine Boulevard Station
//-           .chi-data-table__cell.-key
//-             div Active
//-           .chi-data-table__cell.-key
//-             div 543-723-8733
//-           .chi-data-table__cell
//-             div 4 W Chapel St, San Jose, California, 95129, USA
//-           .chi-data-table__cell
//-             div April 8, 2020
//-         .chi-data-table__row-grand-child
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-key.-bold
//-             div FJD983-JFE890-HFKE84-567ASuper WrappingBoldtitle | Western Main
//-           .chi-data-table__cell.-key
//-             div ashley.macias@domain.com
//-           .chi-data-table__cell.-key
//-             div 543-723-8733
//-           .chi-data-table__cell
//-             div 4 W Chapel St, San Jose, California, 95129, USA
//-           .chi-data-table__cell
//-             div April 8, 2020
//-         .chi-data-table__row-grand-child
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-key.-bold
//-             div Ashley Macias
//-           .chi-data-table__cell.-key
//-             div ashley.macias@domain.com
//-           .chi-data-table__cell
//-             div 543-723-8733
//-           .chi-data-table__cell
//-             div 4 W Chapel St, San Jose, California, 95129, USA
//-           .chi-data-table__cell
//-             div April 8, 2020
//-         .chi-data-table__row-grand-child
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-key.-bold
//-             div 8-FJFIFE4328 | Western Regional Main Super Long Customer Created Name
//-           .chi-data-table__cell.-key
//-             div ashley.macias@domain.com
//-           .chi-data-table__cell.-key
//-             div 543-723-8733
//-           .chi-data-table__cell.-key
//-             div 4 W Chapel St, San Jose, California, 95129, USA
//-           .chi-data-table__cell
//-             div April 8, 2020
//-         .chi-data-table__row-grand-child
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-key.-bold
//-             div LKD983-DS849 | Headquarters Active super long name
//-           .chi-data-table__cell
//-             div ashley.macias@domain.com
//-           .chi-data-table__cell
//-             div 543-723-8733
//-           .chi-data-table__cell
//-             div 4 W Chapel St, San Jose, California, 95129, USA
//-           .chi-data-table__cell
//-             div April 8, 2020
//-         .chi-data-table__row-child.-collapsed
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-key.-bold
//-             div KOL89-EF | Gilbert Street Station
//-           .chi-data-table__cell.-key
//-             div Pending Activate
//-           .chi-data-table__cell.-key
//-             div 543-723-8733
//-           .chi-data-table__cell
//-             div 4 W Chapel St, San Jose, California, 95129, USA
//-           .chi-data-table__cell
//-             div April 8, 2020
//-         .chi-data-table__row.-collapsed
//-           .chi-data-table__cell.-expandable
//-             i.chi-icon.icon-plus
//-           .chi-data-table__cell.-key.-bold
//-             div JFE890-HFKE84
//-           .chi-data-table__cell.-key
//-             div 1025 S MISSISSIPPI BLVD, ST PAUL, MN, 54707, USA
//-           .chi-data-table__cell.-key
//-             div Activate Pending Customer Another Example of Wrapped Line Height Chunk
//-           .chi-data-table__cell
//-             div 7842 Center Rd, San Jose, California, 95129, USA
//-           .chi-data-table__cell
//-             div April 5, 2020
//-       .chi-data-table__footer
//-         nav.chi-pagination.-compact(role='navigation', aria-label='Pagination')
//-           .chi-pagination__content
//-             .chi-pagination__start
//-               .chi-pagination__results
//-                 span.chi-pagination__label 240 Results
//-             .chi-pagination__center
//-               .chi-pagination__button-group.chi-button-group
//-                 a(class=`chi-button -icon -flat -sm`, href='#', aria-label='Previous page')
//-                   .chi-button__content
//-                     i(class="chi-icon icon-chevron-left", aria-hidden='true')
//-               .chi-pagination__label
//-                 strong 2
//-                 span of
//-                 strong 3
//-               .chi-pagination__button-group.chi-button-group
//-                 a(class=`chi-button -icon -flat -sm`, href='#', aria-label='Next page')
//-                   .chi-button__content
//-                     i(class="chi-icon icon-chevron-right", aria-hidden='true')
//-             .chi-pagination__end
//- 
//-   .example-tabs.-pl--2
//-     ul.chi-tabs#example-base
//-       li.-disabled
//-         a(href=`#webcomponent-base`) Web Component
//-       li.-active
//-         a(href=`#html-base`) HTML Blueprint
//-   .chi-tabs-panel#webcomponent-base
//-   .chi-tabs-panel.-active#html-base
//-     :code(lang='html')
//-       <div class="chi-data-table -portal -compact">
//-       </div>
//- 
//- h3 Portal with truncation -- Desktop example
//- .example.-mb--3
//-   .-p--3
//-     .chi-data-table.-portal.-compact.-bg--white.-bg-md--grey-15
//-       .chi-data-table__head
//-         .chi-data-table__row
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Name
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Email
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Phone Number
//-           .chi-data-table__cell(style="flex-basis: 30%;")
//-             div Address
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Last Login
//-       .chi-data-table__body
//-         .chi-data-table__row
//-           .chi-data-table__cell.-key.-bold(style="flex-basis: 10%;")
//-             div Abe Salazar
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div.-text--truncate(style="width: 75px;", data-tooltip="abe.salazar@domain.com") abe.salazar@domain.com
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div 555-995-5348
//-           .chi-data-table__cell(style="flex-basis: 30%;")
//-             div.-text--truncate(style="width: 250px;", data-tooltip="8 Glenlake Lane, San Francisco, California, 94107, USA") 8 Glenlake Lane, San Francisco, California, 94107, USA
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div April 8, 2020
//-         .chi-data-table__row
//-           .chi-data-table__cell.-key.-bold(style="flex-basis: 10%;")
//-             div Ashley Macias
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div.-text--truncate(style="width: 75px;", data-tooltip="ashley.macias@domain.com") ashley.macias@domain.com
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div 543-723-8733
//-           .chi-data-table__cell(style="flex-basis: 30%;")
//-             div.-text--truncate(style="width: 250px;", data-tooltip="4 W Chapel St, San Jose, California, 95129, USA") 4 W Chapel St, San Jose, California, 95129, USA
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div April 8, 2020
//-         .chi-data-table__row
//-           .chi-data-table__cell.-key.-bold(style="flex-basis: 10%;")
//-             div Cameron Hodge
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div.-text--truncate(style="width: 75px;", data-tooltip="cameron.hodge@domain.com") cameron.hodge@domain.com
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div 509-635-9551
//-           .chi-data-table__cell(style="flex-basis: 30%;")
//-             div.-text--truncate(style="width: 250px;", data-tooltip="7842 Center Rd, San Jose, California, 95129, USA") 7842 Center Rd, San Jose, California, 95129, USA
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div April 5, 2020
//-       .chi-data-table__footer
//-         nav.chi-pagination.-compact(role='navigation', aria-label='Pagination')
//-           .chi-pagination__content
//-             .chi-pagination__start
//-               .chi-pagination__results
//-                 span.chi-pagination__label 240 Results
//-             .chi-pagination__center
//-               .chi-pagination__button-group.chi-button-group
//-                 a(class=`chi-button -icon -flat -sm`, href='#', aria-label='Previous page')
//-                   .chi-button__content
//-                     i(class="chi-icon icon-chevron-left", aria-hidden='true')
//-               .chi-pagination__label
//-                 strong 2
//-                 span of
//-                 strong 3
//-               .chi-pagination__button-group.chi-button-group
//-                 a(class=`chi-button -icon -flat -sm`, href='#', aria-label='Next page')
//-                   .chi-button__content
//-                     i(class="chi-icon icon-chevron-right", aria-hidden='true')
//-             .chi-pagination__end
//- 
//-   .example-tabs.-pl--2
//-     ul.chi-tabs#example-base
//-       li.-disabled
//-         a(href=`#webcomponent-base`) Web Component
//-       li.-active
//-         a(href=`#html-base`) HTML Blueprint
//-   .chi-tabs-panel#webcomponent-base
//-   .chi-tabs-panel.-active#html-base
//-     :code(lang='html')
//-       <div class="chi-data-table -portal -compact">
//-       </div>
//- 
//- h3 Complex Portal example 1 -- No Flex-basis -- Desktop example
//- .example.-mb--3
//-   .-p--3
//-     .chi-data-table.-portal.-compact.-bg--white.-bg-md--grey-15
//-       .chi-data-table__head
//-         .chi-data-table__row
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-selectable
//-             .chi-checkbox
//-               input(type="checkbox" class="chi-checkbox__input" id="checkbox-ba5")
//-               label(for="checkbox-ba5" class="chi-checkbox__label") 
//-                 .-sr--only Label
//-           .chi-data-table__cell
//-             div Alerts
//-           .chi-data-table__cell
//-             div Ticket ID
//-           .chi-data-table__cell
//-             div Support Type
//-           .chi-data-table__cell
//-             div Service Type
//-           .chi-data-table__cell
//-             div Created
//-           .chi-data-table__cell
//-             div Product / Service ID
//-           .chi-data-table__cell.-justify-content--end
//-             div Actions
//-       .chi-data-table__body
//-         .chi-data-table__row
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-selectable
//-             .chi-checkbox
//-               input(type="checkbox" class="chi-checkbox__input" id="checkbox-ba6")
//-               label(for="checkbox-ba6" class="chi-checkbox__label") 
//-                 .-sr--only Label
//-           .chi-data-table__cell
//-             i.chi-icon.icon-circle-check
//-           .chi-data-table__cell.-key.-bold
//-             div NTM000021063
//-           .chi-data-table__cell
//-             div Colocation
//-           .chi-data-table__cell
//-             div Internet Advantage
//-           .chi-data-table__cell
//-             div 04/05/2020 8:00 AM
//-           .chi-data-table__cell
//-             div SVUJW034781A
//-           .chi-data-table__cell.-justify-content--end
//-             button.chi-button.-icon.-flat.-sm(aria-label='Expand row')
//-               .chi-button__content
//-                 i.chi-icon.icon-more-vert
//-         .chi-data-table__row
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-selectable
//-             .chi-checkbox
//-               input(type="checkbox" class="chi-checkbox__input" id="checkbox-ba7")
//-               label(for="checkbox-ba7" class="chi-checkbox__label") 
//-                 .-sr--only Label
//-           .chi-data-table__cell
//-             i.chi-icon.icon-circle-check
//-           .chi-data-table__cell.-key.-bold
//-             div NTM000021063
//-           .chi-data-table__cell
//-             div Colocation
//-           .chi-data-table__cell
//-             div Internet Advantage
//-           .chi-data-table__cell
//-             div 04/05/2020 8:00 AM
//-           .chi-data-table__cell
//-             div SVUJW034781A
//-           .chi-data-table__cell.-justify-content--end
//-             button.chi-button.-icon.-flat.-sm(aria-label='Expand row')
//-               .chi-button__content
//-                 i.chi-icon.icon-more-vert
//-         .chi-data-table__row.-expanded
//-           .chi-data-table__cell.-expandable
//-             button.chi-button.-icon.-flat.-sm(aria-label='Expand row')
//-               .chi-button__content
//-                 i.chi-icon.icon-minus
//-           .chi-data-table__cell.-selectable
//-             .chi-checkbox
//-               input(type="checkbox" class="chi-checkbox__input" id="checkbox-ba8")
//-               label(for="checkbox-ba8" class="chi-checkbox__label") 
//-                 .-sr--only Label
//-           .chi-data-table__cell
//-             i.chi-icon.icon-circle-check
//-           .chi-data-table__cell.-key.-bold
//-             div NTM000021063
//-           .chi-data-table__cell
//-             div Colocation
//-           .chi-data-table__cell
//-             div Internet Advantage
//-           .chi-data-table__cell
//-             div 04/05/2020 8:00 AM
//-           .chi-data-table__cell
//-             div SVUJW034781A
//-           .chi-data-table__cell.-justify-content--end
//-             button.chi-button.-icon.-flat.-sm(aria-label='Expand row')
//-               .chi-button__content
//-                 i.chi-icon.icon-more-vert
//-         .chi-data-table__row-child
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-selectable
//-           .chi-data-table__cell
//-             div -
//-           .chi-data-table__cell.-key.-bold
//-             div NTM000021063
//-           .chi-data-table__cell
//-             div Colocation
//-           .chi-data-table__cell
//-             div Internet Advantage
//-           .chi-data-table__cell
//-             div 04/05/2020 8:00 AM
//-           .chi-data-table__cell
//-             div SVUJW034781A
//-           .chi-data-table__cell.-justify-content--end
//-             button.chi-button.-icon.-flat.-sm(aria-label='Expand row')
//-               .chi-button__content
//-                 i.chi-icon.icon-more-vert
//-         .chi-data-table__row-child
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-selectable
//-           .chi-data-table__cell
//-             div -
//-           .chi-data-table__cell.-key.-bold
//-             div NTM000021063
//-           .chi-data-table__cell
//-             div Configuration
//-           .chi-data-table__cell
//-             div IPVS
//-           .chi-data-table__cell
//-             div 04/05/2020 8:00 AM
//-           .chi-data-table__cell
//-             div 10422125557AB
//-           .chi-data-table__cell.-justify-content--end
//-             button.chi-button.-icon.-flat.-sm(aria-label='Expand row')
//-               .chi-button__content
//-                 i.chi-icon.icon-more-vert
//-         .chi-data-table__row
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-selectable
//-             .chi-checkbox
//-               input(type="checkbox" class="chi-checkbox__input" id="checkbox-ba9")
//-               label(for="checkbox-ba9" class="chi-checkbox__label") 
//-                 .-sr--only Label
//-           .chi-data-table__cell
//-             i.chi-icon.icon-circle-check
//-           .chi-data-table__cell.-key.-bold
//-             div NTM000021063
//-           .chi-data-table__cell
//-             div Configuration
//-           .chi-data-table__cell
//-             div IPVS
//-           .chi-data-table__cell
//-             div 04/05/2020 8:00 AM
//-           .chi-data-table__cell
//-             div 10422125557AB
//-           .chi-data-table__cell.-justify-content--end
//-             button.chi-button.-icon.-flat.-sm(aria-label='Expand row')
//-               .chi-button__content
//-                 i.chi-icon.icon-more-vert
//-       .chi-data-table__footer
//-         nav.chi-pagination.-compact(role='navigation', aria-label='Pagination')
//-           .chi-pagination__content
//-             .chi-pagination__start
//-               .chi-pagination__results
//-                 span.chi-pagination__label 240 Results
//-             .chi-pagination__center
//-               .chi-pagination__button-group.chi-button-group
//-                 a(class=`chi-button -icon -flat -sm`, href='#', aria-label='Previous page')
//-                   .chi-button__content
//-                     i(class="chi-icon icon-chevron-left", aria-hidden='true')
//-               .chi-pagination__label
//-                 strong 2
//-                 span of
//-                 strong 3
//-               .chi-pagination__button-group.chi-button-group
//-                 a(class=`chi-button -icon -flat -sm`, href='#', aria-label='Next page')
//-                   .chi-button__content
//-                     i(class="chi-icon icon-chevron-right", aria-hidden='true')
//-             .chi-pagination__end
//- 
//-   .example-tabs.-pl--2
//-     ul.chi-tabs#example-base
//-       li.-disabled
//-         a(href=`#webcomponent-base`) Web Component
//-       li.-active
//-         a(href=`#html-base`) HTML Blueprint
//-   .chi-tabs-panel#webcomponent-base
//-   .chi-tabs-panel.-active#html-base
//-     :code(lang='html')
//-       <div class="chi-data-table -portal -compact">
//-       </div>
//- 
//- h3 Complex Portal example 2 -- Flex-basis -- Desktop example
//- .example.-mb--3
//-   .-p--3
//-     .chi-data-table.-portal.-compact.-bg--white.-bg-md--grey-15
//-       .chi-data-table__head
//-         .chi-data-table__row
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-selectable
//-             .chi-checkbox
//-               input(type="checkbox" class="chi-checkbox__input" id="checkbox-ba10")
//-               label(for="checkbox-ba10" class="chi-checkbox__label") 
//-                 .-sr--only Label
//-           .chi-data-table__cell
//-             div Alerts
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Ticket ID
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Support Type
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Service Type
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Created
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Product / Service ID
//-           .chi-data-table__cell.-justify-content--end
//-             div Actions
//-       .chi-data-table__body
//-         .chi-data-table__row
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-selectable
//-             .chi-checkbox
//-               input(type="checkbox" class="chi-checkbox__input" id="checkbox-ba11")
//-               label(for="checkbox-ba11" class="chi-checkbox__label") 
//-                 .-sr--only Label
//-           .chi-data-table__cell
//-             i.chi-icon.icon-circle-check
//-           .chi-data-table__cell.-key.-bold(style="flex-basis: 10%;")
//-             div NTM000021063
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Colocation
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Internet Advantage
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div 04/05/2020 8:00 AM
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div SVUJW034781A
//-           .chi-data-table__cell.-justify-content--end
//-             button.chi-button.-icon.-flat.-sm(aria-label='Expand row')
//-               .chi-button__content
//-                 i.chi-icon.icon-more-vert
//-         .chi-data-table__row
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-selectable
//-             .chi-checkbox
//-               input(type="checkbox" class="chi-checkbox__input" id="checkbox-ba12")
//-               label(for="checkbox-ba12" class="chi-checkbox__label") 
//-                 .-sr--only Label
//-           .chi-data-table__cell
//-             i.chi-icon.icon-circle-check
//-           .chi-data-table__cell.-key.-bold(style="flex-basis: 10%;")
//-             div NTM000021063
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Colocation
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Internet Advantage
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div 04/05/2020 8:00 AM
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div SVUJW034781A
//-           .chi-data-table__cell.-justify-content--end
//-             button.chi-button.-icon.-flat.-sm(aria-label='Expand row')
//-               .chi-button__content
//-                 i.chi-icon.icon-more-vert
//-         .chi-data-table__row.-expanded
//-           .chi-data-table__cell.-expandable
//-             button.chi-button.-icon.-flat.-sm(aria-label='Expand row')
//-               .chi-button__content
//-                 i.chi-icon.icon-minus
//-           .chi-data-table__cell.-selectable
//-             .chi-checkbox
//-               input(type="checkbox" class="chi-checkbox__input" id="checkbox-ba13")
//-               label(for="checkbox-ba13" class="chi-checkbox__label") 
//-                 .-sr--only Label
//-           .chi-data-table__cell
//-             i.chi-icon.icon-circle-check
//-           .chi-data-table__cell.-key.-bold(style="flex-basis: 10%;")
//-             div NTM000021063
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Colocation
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Internet Advantage
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div 04/05/2020 8:00 AM
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div SVUJW034781A
//-           .chi-data-table__cell.-justify-content--end
//-             button.chi-button.-icon.-flat.-sm(aria-label='Expand row')
//-               .chi-button__content
//-                 i.chi-icon.icon-more-vert
//-         .chi-data-table__row-child
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-selectable
//-           .chi-data-table__cell
//-             div -
//-           .chi-data-table__cell.-key.-bold(style="flex-basis: 10%;")
//-             div NTM000021063
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Colocation
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Internet Advantage
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div 04/05/2020 8:00 AM
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div SVUJW034781A
//-           .chi-data-table__cell.-justify-content--end
//-             button.chi-button.-icon.-flat.-sm(aria-label='Expand row')
//-               .chi-button__content
//-                 i.chi-icon.icon-more-vert
//-         .chi-data-table__row-child
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-selectable
//-           .chi-data-table__cell
//-             div -
//-           .chi-data-table__cell.-key.-bold(style="flex-basis: 10%;")
//-             div NTM000021063
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Configuration
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div IPVS
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div 04/05/2020 8:00 AM
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div 10422125557AB
//-           .chi-data-table__cell.-justify-content--end
//-             button.chi-button.-icon.-flat.-sm(aria-label='Expand row')
//-               .chi-button__content
//-                 i.chi-icon.icon-more-vert
//-         .chi-data-table__row
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-lh--1.-selectable
//-             .chi-checkbox
//-               input(type="checkbox" class="chi-checkbox__input" id="checkbox-ba14")
//-               label(for="checkbox-ba14" class="chi-checkbox__label") 
//-                 .-sr--only Label
//-           .chi-data-table__cell
//-             i.chi-icon.icon-circle-check
//-           .chi-data-table__cell.-key.-bold(style="flex-basis: 10%;")
//-             div NTM000021063
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Configuration
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div IPVS
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div 04/05/2020 8:00 AM
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div 10422125557AB
//-           .chi-data-table__cell.-justify-content--end
//-             button.chi-button.-icon.-flat.-sm(aria-label='Expand row')
//-               .chi-button__content
//-                 i.chi-icon.icon-more-vert
//-       .chi-data-table__footer
//-         nav.chi-pagination.-compact(role='navigation', aria-label='Pagination')
//-           .chi-pagination__content
//-             .chi-pagination__start
//-               .chi-pagination__results
//-                 span.chi-pagination__label 240 Results
//-             .chi-pagination__center
//-               .chi-pagination__button-group.chi-button-group
//-                 a(class=`chi-button -icon -flat -sm`, href='#', aria-label='Previous page')
//-                   .chi-button__content
//-                     i(class="chi-icon icon-chevron-left", aria-hidden='true')
//-               .chi-pagination__label
//-                 strong 2
//-                 span of
//-                 strong 3
//-               .chi-pagination__button-group.chi-button-group
//-                 a(class=`chi-button -icon -flat -sm`, href='#', aria-label='Next page')
//-                   .chi-button__content
//-                     i(class="chi-icon icon-chevron-right", aria-hidden='true')
//-             .chi-pagination__end
//- 
//-   .example-tabs.-pl--2
//-     ul.chi-tabs#example-base
//-       li.-disabled
//-         a(href=`#webcomponent-base`) Web Component
//-       li.-active
//-         a(href=`#html-base`) HTML Blueprint
//-   .chi-tabs-panel#webcomponent-base
//-   .chi-tabs-panel.-active#html-base
//-     :code(lang='html')
//-       <div class="chi-data-table -portal -compact">
//-       </div>
//- 
//- h3 Complex Portal example 3 -- Flex-basis + truncation -- Desktop example
//- .example.-mb--3
//-   .-p--3
//-     .chi-data-table.-portal.-compact.-bg--white.-bg-md--grey-15
//-       .chi-data-table__head
//-         .chi-data-table__row
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-selectable
//-             .chi-checkbox
//-               input(type="checkbox" class="chi-checkbox__input" id="checkbox-ba15")
//-               label(for="checkbox-ba15" class="chi-checkbox__label") 
//-                 .-sr--only Label
//-           .chi-data-table__cell
//-             div Alerts
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Ticket ID
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Support Type
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Service Type
//-           .chi-data-table__cell(style="flex-basis: 5%;")
//-             div Created
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Product / Service ID
//-           .chi-data-table__cell.-justify-content--end
//-             div Actions
//-       .chi-data-table__body
//-         .chi-data-table__row
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-selectable
//-             .chi-checkbox
//-               input(type="checkbox" class="chi-checkbox__input" id="checkbox-ba16")
//-               label(for="checkbox-ba16" class="chi-checkbox__label") 
//-                 .-sr--only Label
//-           .chi-data-table__cell
//-             i.chi-icon.icon-circle-check
//-           .chi-data-table__cell.-key.-bold(style="flex-basis: 10%;")
//-             div NTM000021063
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Colocation
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Internet Advantage
//-           .chi-data-table__cell(style="flex-basis: 5%;")
//-             div.-text--truncate(style="width: 80px;", data-tooltip="04/05/2020 8:00 AM") 04/05/2020 8:00 AM
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div SVUJW034781A
//-           .chi-data-table__cell.-justify-content--end
//-             button.chi-button.-icon.-flat.-sm(aria-label='Expand row')
//-               .chi-button__content
//-                 i.chi-icon.icon-more-vert
//-         .chi-data-table__row
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-selectable
//-             .chi-checkbox
//-               input(type="checkbox" class="chi-checkbox__input" id="checkbox-ba17")
//-               label(for="checkbox-ba17" class="chi-checkbox__label") 
//-                 .-sr--only Label
//-           .chi-data-table__cell
//-             i.chi-icon.icon-circle-check
//-           .chi-data-table__cell.-key.-bold(style="flex-basis: 10%;")
//-             div NTM000021063
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Colocation
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Internet Advantage
//-           .chi-data-table__cell(style="flex-basis: 5%;")
//-             div.-text--truncate(style="width: 80px;", data-tooltip="04/05/2020 8:00 AM") 04/05/2020 8:00 AM
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div SVUJW034781A
//-           .chi-data-table__cell.-justify-content--end
//-             button.chi-button.-icon.-flat.-sm(aria-label='Expand row')
//-               .chi-button__content
//-                 i.chi-icon.icon-more-vert
//-         .chi-data-table__row.-expanded
//-           .chi-data-table__cell.-expandable
//-             button.chi-button.-icon.-flat.-sm(aria-label='Expand row')
//-               .chi-button__content
//-                 i.chi-icon.icon-minus
//-           .chi-data-table__cell.-selectable
//-             .chi-checkbox
//-               input(type="checkbox" class="chi-checkbox__input" id="checkbox-ba18")
//-               label(for="checkbox-ba18" class="chi-checkbox__label") 
//-                 .-sr--only Label
//-           .chi-data-table__cell
//-             i.chi-icon.icon-circle-check
//-           .chi-data-table__cell.-key.-bold(style="flex-basis: 10%;")
//-             div NTM000021063
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Colocation
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Internet Advantage
//-           .chi-data-table__cell(style="flex-basis: 5%;")
//-             div.-text--truncate(style="width: 80px;", data-tooltip="04/05/2020 8:00 AM") 04/05/2020 8:00 AM
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div SVUJW034781A
//-           .chi-data-table__cell.-justify-content--end
//-             button.chi-button.-icon.-flat.-sm(aria-label='Expand row')
//-               .chi-button__content
//-                 i.chi-icon.icon-more-vert
//-         .chi-data-table__row-child
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-selectable
//-           .chi-data-table__cell
//-             div -
//-           .chi-data-table__cell.-key.-bold(style="flex-basis: 10%;")
//-             div NTM000021063
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Colocation
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Internet Advantage
//-           .chi-data-table__cell(style="flex-basis: 5%;")
//-             div.-text--truncate(style="width: 80px;", data-tooltip="04/05/2020 8:00 AM") 04/05/2020 8:00 AM
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div SVUJW034781A
//-           .chi-data-table__cell.-justify-content--end
//-             button.chi-button.-icon.-flat.-sm(aria-label='Expand row')
//-               .chi-button__content
//-                 i.chi-icon.icon-more-vert
//-         .chi-data-table__row-child
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-selectable
//-           .chi-data-table__cell
//-             div -
//-           .chi-data-table__cell.-key.-bold(style="flex-basis: 10%;")
//-             div NTM000021063
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Configuration
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div IPVS
//-           .chi-data-table__cell(style="flex-basis: 5%;")
//-             div.-text--truncate(style="width: 80px;", data-tooltip="04/05/2020 8:00 AM") 04/05/2020 8:00 AM
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div 10422125557AB
//-           .chi-data-table__cell.-justify-content--end
//-             button.chi-button.-icon.-flat.-sm(aria-label='Expand row')
//-               .chi-button__content
//-                 i.chi-icon.icon-more-vert
//-         .chi-data-table__row
//-           .chi-data-table__cell.-expandable
//-           .chi-data-table__cell.-selectable
//-             .chi-checkbox
//-               input(type="checkbox" class="chi-checkbox__input" id="checkbox-ba19")
//-               label(for="checkbox-ba19" class="chi-checkbox__label") 
//-                 .-sr--only Label
//-           .chi-data-table__cell
//-             i.chi-icon.icon-circle-check
//-           .chi-data-table__cell.-key.-bold(style="flex-basis: 10%;")
//-             div NTM000021063
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div Configuration
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div IPVS
//-           .chi-data-table__cell(style="flex-basis: 5%;")
//-             div.-text--truncate(style="width: 80px;", data-tooltip="04/05/2020 8:00 AM") 04/05/2020 8:00 AM
//-           .chi-data-table__cell(style="flex-basis: 10%;")
//-             div 10422125557AB
//-           .chi-data-table__cell.-justify-content--end
//-             button.chi-button.-icon.-flat.-sm(aria-label='Expand row')
//-               .chi-button__content
//-                 i.chi-icon.icon-more-vert
//-       .chi-data-table__footer
//-         nav.chi-pagination.-compact(role='navigation', aria-label='Pagination')
//-           .chi-pagination__content
//-             .chi-pagination__start
//-               .chi-pagination__results
//-                 span.chi-pagination__label 240 Results
//-             .chi-pagination__center
//-               .chi-pagination__button-group.chi-button-group
//-                 a(class=`chi-button -icon -flat -sm`, href='#', aria-label='Previous page')
//-                   .chi-button__content
//-                     i(class="chi-icon icon-chevron-left", aria-hidden='true')
//-               .chi-pagination__label
//-                 strong 2
//-                 span of
//-                 strong 3
//-               .chi-pagination__button-group.chi-button-group
//-                 a(class=`chi-button -icon -flat -sm`, href='#', aria-label='Next page')
//-                   .chi-button__content
//-                     i(class="chi-icon icon-chevron-right", aria-hidden='true')
//-             .chi-pagination__end
//- 
//-   .example-tabs.-pl--2
//-     ul.chi-tabs#example-base
//-       li.-disabled
//-         a(href=`#webcomponent-base`) Web Component
//-       li.-active
//-         a(href=`#html-base`) HTML Blueprint
//-   .chi-tabs-panel#webcomponent-base
//-   .chi-tabs-panel.-active#html-base
//-     :code(lang='html')
//-       <div class="chi-data-table -portal -compact">
//-       </div>

script.
  document.addEventListener(
  'DOMContentLoaded',
  function() {
    chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));
    chi.tooltip(document.querySelectorAll('[data-tooltip]'));
  });
