h2 Chi Vue

h3 Props
section.chi-table.chi-table__options.-bordered.-my--3
  div(style='overflow-x:auto;')
    table.-types.-text(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Property
          th
            div Description
          th
            div Interface
          th
            div Default
      tbody
        tr
          td
            div <code>config</code>
          td
            div To customize Data table behavior and style
          td.-p--0
            pre.-mb--0.
              {
                columnResize?: <code>boolean</code>;
                columnSizes?: {
                  xs: <code>number[]</code>;
                  sm: <code>number[]</code>;
                  md: <code>number[]</code>;
                  lg: <code>number[]</code>;
                  xl: <code>number[]</code>;
                };
                defaultSort?: <code>DataTableSortConfig</code>;
                unsorted?: <code>boolean</code>;
                mode?: <code>'clientside' | 'serverside'</code>;
                noResultsMessage?: <code>string</code>;
                pagination: {
                  activePage?: <code>number</code>;
                  compact?: <code>boolean</code>;
                  firstLast?: <code>boolean</code>;
                  hideOnSinglePage?: <code>boolean</code>;
                  pages?: <code>number</code>;
                  pageJumper?: <code>boolean</code>;
                  results?: <code>number</code>;
                };
                resultsPerPage?: <code>number</code>;
                style: <code>DataTableStyleConfig</code>;
                selectable?: <code>boolean | 'radio'</code>;
                reserveExpansionSlot?: <code>boolean</code>;
                truncation?: <code>boolean</code>;
              }
          td
            div undefined
        tr
          td
            div <code>data</code>
          td
            div To provide Data Table with Head and Body related data
          td.-p--0
            pre.-mb--0.
              {
                head: {
                  [code: string]: {
                    label: <code>string</code>;
                    sortable?: <code>boolean</code>;
                    sortBy?: <code>string</code>;
                    sortDataType?: <code>'string' | 'number' | 'date' | 'boolean'</code>;
                    align?: <code>'left' | 'center' | 'right'</code>;
                    allowOverflow?: <code>'visible' | 'hidden'</code>;
                    key?: <code>boolean</code>;
                    bold?: <code>boolean</code>;
                  };
                };
                body: <code>DataTableRow[]</code>;
              }
          td
            div undefined

h3 Interfaces and types
section.chi-table.chi-table__options.-bordered.-my--3
  div(style='overflow-x:auto;')
    table.-types.-text(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Name
          th
            div Interface
      tbody
        tr
          td
            div <code>DataTableRow</code>
          td.-p--0
            pre.-mb--0.
              interface DataTableRow {
                active: <code>boolean</code>;
                expanded: <code>boolean</code>;
                data: <code>Record &lt;string, any&gt;</code>;
                nestedContent: {
                  table: {
                    data: <code>DataTableRow[]</code>;
                  };
                  template: <code>string</code>;
                  value: <code>string</code>;
                  payload: <code>any</code>;
                };
                id: <code>string</code>;
                selected?: <code>boolean</code>;
                selectionDisabled?: <code>boolean</code>;
              }
        tr
          td
            div <code>DataTableStyleConfig</code>
          td.-p--0
            pre.-mb--0.
              interface DataTableStyleConfig {
                portal?: <code>boolean</code>;
                compact?: <code>boolean</code>;
                bordered?: <code>boolean</code>;
                noBorder?: <code>boolean</code>;
                hover?: <code>boolean</code>;
                striped?: <code>boolean</code>;
                size?: <code>DataTableSizes</code>;
              }
        tr
          td
            div <code>DataTableSortConfig</code>
          td.-p--0
            pre.-mb--0.
              interface DataTableSortConfig {
                key: <code>string</code>;
                sortBy?: <code>string</code>;
                direction: <code>'ascending' | 'descending'</code>;
              }
        tr
          td
            div <code>DataTableSizes</code>
          td
            <code>'xs' | 'sm' | 'md' | 'lg' | 'xl'</code>

h3 Methods
section.chi-table.chi-table__options.-bordered.-my--3
  div(style='overflow-x:auto;')
    table.-text(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Method
          th
            div Description
          th
            div Returns
          th
            div Parameters
      tbody
        tr
          td
            div <code>toggleRow() => Promise&lt;void&gt;</code>
          td
            div To expand / collapse specific rows
          td
            | Type: Promise<void>
          td
            div rowId: <code>string</code>

h3 Events
section.chi-table.chi-table__options.-bordered.-my--3
  div(style='overflow-x:auto;')
    table.-types.-text(cellpadding='0', cellspacing='0')
      thead
        tr
          th
            div Event
          th
            div Description
          th
            div Type
      tbody
        tr
          td
            div <code>chiDataSorting</code>
          td
            div The user has sorted the table by a specific column
          td.-p--0
            pre.-mb--0.
              {
                column: <code>string | undefined</code>;
                direction: <code>'ascending' | 'descending' | undefined</code>;
                data?: <code>DataTableRow[]</code>;
              }
        tr
          td
            div <code>chiPageChange</code>
          td
            div The user changed active page
          td.-p--0
            pre.-mb--0.
              {
                page: <code>number</code>;
                data?: <code>DataTableRow[]</code>;
              }
        tr
          td
            div <code>chiRowExpanded</code>
          td
            div The user expanded a row
          td
            <code>DataTableRow</code>
        tr
          td
            div <code>chiRowCollapsed</code>
          td
            div The user collapsed a row
          td
            <code>DataTableRow</code>
        tr
          td
            div <code>chiSelectAll</code>
          td
            div The user selected all the rows on the page
          td
            <code>DataTableRow[]</code>
        tr
          td
            div <code>chiDeselectAll</code>
          td
            div The user deselected all the rows on the page
          td
            <code>DataTableRow[]</code>
        tr
          td
            div <code>chiRowSelected</code>
          td
            div The user selected a row
          td
            <code>DataTableRow</code>
        tr
          td
            div <code>chiRowDeselected</code>
          td
            div The user deselected a row
          td
            <code>DataTableRow</code>
        tr
          td
            div <code>chiShowSelectedOnly</code>
          td
            div The user selected show selected only from bulk actions
          td
            <code>DataTableRow[]</code>
