---
title: Data Table
description: Data tables are used to present data sets in a simple and organized way.
tabs: {"Examples" : "examplestab", "Properties" : "propertiestab", "Accessibility" : "accessibilitytab"}
---

.chi-tabs-panel.-active#examplestab
  include _examples

.chi-tabs-panel#propertiestab
  include _properties

.chi-tabs-panel#accessibilitytab
  include _accessibility
