@font-face {
  font-display: swap;
  font-family: 'Maison Neue';
  font-style: normal;
  font-weight: 400;
  src: url('https://lib.lumen.com/fonts/maisonneue/MaisonNeue-Book.otf') format('opentype'),
  url('https://lib.lumen.com/fonts/maisonneue/MaisonNeue-Book.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Maison Neue';
  font-style: normal;
  font-weight: 300;
  src: url('https://lib.lumen.com/fonts/maisonneue/MaisonNeue-Light.otf') format('opentype'),
  url('https://lib.lumen.com/fonts/maisonneue/MaisonNeue-Light.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Maison Neue';
  font-style: normal;
  font-weight: 500;
  src: url('https://lib.lumen.com/fonts/maisonneue/MaisonNeue-Medium.eot?#iefix') format('embedded-opentype'),
  url('https://lib.lumen.com/fonts/maisonneue/MaisonNeue-Medium.otf') format('opentype'),
  url('https://lib.lumen.com/fonts/maisonneue/MaisonNeue-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Maison Neue';
  font-style: normal;
  font-weight: 700;
  src: url('https://lib.lumen.com/fonts/maisonneue/MaisonNeue-Bold.otf') format('opentype'),
  url('https://lib.lumen.com/fonts/maisonneue/MaisonNeue-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Maison Neue';
  font-style: normal;
  font-weight: 800;
  src: url('https://lib.lumen.com/fonts/maisonneue/MaisonNeue-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('https://lib.lumen.com/fonts/maisonneue/MaisonNeue-ExtraBold.otf') format('opentype'),
  url('https://lib.lumen.com/fonts/maisonneue/MaisonNeue-ExtraBold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Maison Neue';
  font-style: normal;
  font-weight: 100;
  src: url('https://lib.lumen.com/fonts/maisonneue/MaisonNeueThin.otf') format('opentype'),
  url('https://lib.lumen.com/fonts/maisonneue/MaisonNeueThin.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Maison Neue Extended';
  font-style: normal;
  font-weight: 100;
  src: url('https://lib.lumen.com/fonts/maisonneue/MaisonNeueExtendedThin.otf') format('opentype'),
  url('https://lib.lumen.com/fonts/maisonneue/MaisonNeueExtendedThin.woff') format('woff');
}

