$font-url: 'https://lib.lumen.com/fonts/maisonneue/';

@font-face {
  font-display: swap;
  font-family: 'Maison Neue';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-url}MaisonNeue-Book.otf') format('opentype'),
  url('#{$font-url}MaisonNeue-Book.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Maison Neue';
  font-style: normal;
  font-weight: 300;
  src: url('#{$font-url}MaisonNeue-Light.otf') format('opentype'),
  url('#{$font-url}MaisonNeue-Light.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Maison Neue';
  font-style: normal;
  font-weight: 500;
  src: url('#{$font-url}MaisonNeue-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$font-url}MaisonNeue-Medium.otf') format('opentype'),
  url('#{$font-url}MaisonNeue-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Maison Neue';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-url}MaisonNeue-Bold.otf') format('opentype'),
  url('#{$font-url}MaisonNeue-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Maison Neue';
  font-style: normal;
  font-weight: 800;
  src: url('#{$font-url}MaisonNeue-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('#{$font-url}MaisonNeue-ExtraBold.otf') format('opentype'),
  url('#{$font-url}MaisonNeue-ExtraBold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Maison Neue';
  font-style: normal;
  font-weight: 100;
  src: url('#{$font-url}MaisonNeueThin.otf') format('opentype'),
  url('#{$font-url}MaisonNeueThin.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Maison Neue Extended';
  font-style: normal;
  font-weight: 100;
  src: url('#{$font-url}MaisonNeueExtendedThin.otf') format('opentype'),
  url('#{$font-url}MaisonNeueExtendedThin.woff') format('woff');
}
