$border: 0.0625rem;

$sizes: (
  sm: (
    font-size: 0.75rem,
    line-height: 1rem,
    padding: (0.25rem - $border) 0.5rem (0.25rem - $border) (0.5rem - $border),
        padding_hover: (0.5rem - $border),
        padding_checked: 0.5rem
  ),
  md: (
    font-size: 0.875rem,
    line-height: 1rem,
    padding: (0.5rem - $border) 1rem (0.5rem - $border) (1rem - $border),
        padding_hover: (1rem - $border),
        padding_checked: 1rem
  ),
  lg: (
    font-size: 0.875rem,
    line-height: 1.25rem,
    padding: (0.625rem - $border) 1.5rem (0.625rem - $border) (1.5rem - $border),
        padding_hover: (1.5rem - $border),
        padding_checked: 1.5rem
  ),
  xl: (
    font-size: 0.875rem,
    line-height: 1.25rem,
    padding: (0.875rem - $border) 1.5rem (0.875rem - $border) (1.5rem - $border),
        padding_hover: (1.5rem - $border),
        padding_checked: 1.5rem
  )
);

.chi-picker-group {
  align-items: center;
  display: inline-flex;
  justify-content: center;

  input {
    &[type='radio'] {
      &.chi-picker {
        left: -9999px;
        position: absolute;

        & + label {
          align-items: center;
          background-color: $text-white;
          border: solid 0.0625rem set-color(grey, 30);
          border-right-width: 0;
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
          display: flex;
          font-size: $text;
          font-weight: 600;
          justify-content: space-between;
          line-height: 1rem;
          margin-bottom: 0;
          padding: (0.5rem - $border) 1rem (0.5rem - $border) (1rem - $border);
          transition: border-color 0.2s, box-shadow 0.2s;

          @each $type in map-keys($sizes) {
            &.-#{$type} {
              font-size: map-get(map-get($sizes, $type), font-size);
              line-height: map-get(map-get($sizes, $type), line-height);
              padding: map-get(map-get($sizes, $type), padding);
            }
          }

          &:hover {
            background-color: set-color(grey, 10);
            cursor: pointer;
          }

          &:last-of-type {
            border-right-width: 0.0625rem;
          }

          & > :not(:last-child) {
            margin-right: 0.5rem;
          }

        }
      }

      &:checked {
        &.chi-picker {
          & + label {
            border: solid 0.0625rem $focus-color;
            box-shadow: inset 0 0 0 0.0625rem $focus-color;
            color: $primary-color;
            font-weight: 600;
            padding-right: 0.9375rem;

            @each $type in map-keys($sizes) {
              &.-#{$type} {
                padding-right: map-get(map-get($sizes, $type), padding_hover);
              }
            }

            & + input + label {
              border-left-width: 0;
              padding-left: 1rem;

              @each $type in map-keys($sizes) {
                &.-#{$type} {
                  padding-left: map-get(map-get($sizes, $type), padding_checked);
                }
              }
            }
          }
        }
      }
    }
  }

  &.-fluid {
    input {
      &[type='radio'] {
        &:last-of-type {
          &:checked + label {
            padding-right: 1rem;

            @each $type in map-keys($sizes) {
              &.-#{$type} {
                padding-right: map-get(map-get($sizes, $type), padding_checked);
              }
            }
          }
        }
      }
    }
  }
}
