@import 'mixins';
@import 'variables';

$border: 0.0625rem;

.chi {
  .m-pickerGroup {
    display: inline-flex;

    .m-picker {
      input {
        &[type='checkbox'],
        &[type='radio'] {
          &.a-picker {
            & + label {
              border-radius: 0;
            }
          }
        }
      }

      &.-number {
        input {
          &[type='checkbox'],
          &[type='radio'] {
            &.a-picker {
              & + label::before {
                border: solid 0.0625rem $brand-color;
                box-shadow: inset 0 0 0 0.0625rem $brand-color;
              }
            }
          }
        }
      }

      &.-inline {
        input {
          &[type='checkbox'],
          &[type='radio'] {
            &.a-picker {
              & + label {
                border-radius: 0;
                display: block;
                padding: (1rem - $border) (3rem - $border);
                text-align: center;
              }
            }
          }
        }
      }

      &:first-child {
        input {
          &[type='checkbox'],
          &[type='radio'] {
            &.a-picker {
              & + label {
                border-bottom-left-radius: $border-radius;
                border-top-left-radius: $border-radius;
              }
            }
          }
        }
      }

      &:last-child {
        input {
          &[type='checkbox'],
          &[type='radio'] {
            &.a-picker {
              & + label {
                border-bottom-right-radius: $border-radius;
                border-right-width: 0.0625rem;
                border-top-right-radius: $border-radius;
              }
            }
          }
        }
      }
    }
  }
}
