@import '_variables';
@import '_mixins';

$border: 0.0625rem;
$sizes: (
  sm: (
    min-height: 3rem
  ),
  md: (
    min-height: 3.5rem
  ),
  lg: (
    min-height: 4rem
  )
);

.a-label,
label,
legend {
  & + .m-picker {
    margin-top: 0.25rem;
  }
}

.m-picker {
  input {
    &[type='checkbox'],
    &[type='radio'] {
      &.a-picker {
        & + label {
          span {
            &.a-picker__checkbox {
              border: 2px solid set-color(grey, 50);
              color: set-color(grey, 50);
              height: 1rem;
              position: relative;
              width: 1rem;

              &::before {
                border: 2px solid set-color(grey, 50);
                border-right: 0;
                border-top: 0;
                content: '';
                height: 0.3125rem;
                left: 0.0625rem;
                position: absolute;
                top: 0.125rem;
                transform: rotate(-45deg) scale(0);
                transition-duration: 0.2s;
                width: 0.625rem;
              }
            }

            &.a-picker__radio {
              border: 2px solid set-color(grey, 50);
              border-radius: 0.5rem;
              color: set-color(grey, 50);
              height: 1rem;
              position: relative;
              width: 1rem;

              &::before {
                background-color: set-color(grey, 50);
                border-radius: 0.25rem;
                content: '';
                height: 0.5rem;
                left: calc(50%-0.25rem);
                position: absolute;
                top: calc(50%-0.25rem);
                transform: scale(0);
                transition-duration: 0.2s;
                width: 0.5rem;
              }
            }
          }

          & .a-picker__label {
            margin-left: 0.5rem;
          }

          &:hover {
            span {
              &.a-picker__checkbox {
                &::before {
                  transform: rotate(-45deg) scale(1);
                }
              }

              &.a-picker__radio {
                &::before {
                  transform: scale(1);
                }
              }
            }
          }

          .m-picker__content {
            &--start {
              span {
                &.a-picker__label {
                  padding-left: 0.5rem;
                }
              }

              & .a-picker__description {
                color: $text-color;
                font-size: $text-small;
                font-weight: 400;
                line-height: 1.25rem;
                margin-left: 2.5rem;
                padding: 0.5rem 0;
              }
            }
          }
        }
      }

      &:checked {
        & + label {
          span {
            &.a-picker__checkbox {
              background-color: $brand-color;
              border: 2px solid $brand-color;
              color: $brand-color;

              &::before {
                border: 2px solid set-color(white);
                border-right: 0;
                border-top: 0;
                transform: rotate(-45deg) scale(1);
              }
            }

            &.a-picker__radio {
              border: 2px solid $brand-color;

              &::before {
                background-color: $brand-color;
                transform: scale(1);
              }
            }
          }
        }
      }
    }
  }
}

.m-picker {
  align-items: center;
  display: flex;
  justify-content: center;

  input {
    &[type='checkbox'],
    &[type='radio'] {
      &.a-picker {
        left: -9999px;
        position: absolute;

        & + label {
          align-items: center;
          background-color: $text-white;
          border: solid 0.0625rem set-color(grey, 30);
          box-shadow: map-get($shadow, 1);
          display: flex;
          font-size: $text;
          font-weight: normal;
          justify-content: space-between;
          margin-bottom: 0.5rem;
          padding: 1rem - $border;
          transition: all 0.2s;
          width: 100%;

          .m-picker__content {
            &--start,
            &--end {
              display: flex;
              flex-direction: column;

              & * {
                line-height: 1rem;
              }
            }

            &--start {
              & label {
                margin-bottom: 0;
              }

              & .m-formGroup,
              & .m-form__item {
                font-weight: 600;
                margin: 0.5rem 0 0 0.5rem;

                & label {
                  font-weight: 600;

                  &::before {
                    margin-right: 1rem;
                  }
                }

                & .a-radio {
                  .a-radio__label {
                    padding-left: 2rem;
                  }
                }
              }

              & div:first-of-type + div {
                margin-left: 2.5rem;
                padding: 0.5rem 0;
              }
            }
          }

          &:hover {
            background-color: set-color(grey, 10);
            cursor: pointer;
          }
        }

        &:checked {
          & + label {
            border: solid 0.0625rem $focus-color;
            box-shadow: inset 0 0 0 0.0625rem $focus-color;
            color: $primary-color;
            font-weight: 600;

            .m-picker__content {
              &--start {
                & .a-checkbox__input {
                  & + label {
                    &::after {
                      top: 0.1875rem;
                    }
                  }
                }
              }
            }
          }
        }

        & + label {
          .m-picker__content {
            &--start {
              & .a-checkbox__input {
                & + label {
                  padding-left: 2rem;

                  &::before {
                    top: 0;
                  }

                  &::after {
                    top: 0.1875rem;
                  }

                  &:hover {
                    &::after {
                      top: 0.1875rem;
                    }
                  }
                }
              }

              & .m-formGroup,
              & .m-form__item {
                input {
                  &[type='radio'] {
                    & + label {
                      &::before {
                        margin-right: 0.5rem;
                      }
                    }
                  }
                }

                & .a-checkbox {
                  line-height: 1rem;
                }
              }

              & .m-formGroup {
                input {
                  &[type='checkbox'] {
                    & + label {
                      margin-right: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &[type='checkbox'] {
      &.a-picker {
        &:checked {
          & + label {
            & .a-input,
            & .a-checkbox__input {
              & + label {
                font-weight: 600;

                &::before {
                  background-color: $brand-color;
                  border-color: $brand-color;
                }

                &::after {
                  background-image: url('icon-check.svg');
                  transform: scale(1);
                }
              }
            }
          }
        }

        & + label {
          & .a-checkbox {
            line-height: 1.25rem;
          }
        }
      }
    }

    &[type='radio'] {
      &.a-picker {
        &:checked {
          & + label {
            & .a-input,
            & .a-radio__input {
              & + label {
                font-weight: 600;

                &::before {
                  border-color: $brand-color;
                }

                &::after {
                  background-color: $brand-color;
                  transform: scale(1);
                }
              }
            }
          }
        }

        & + label {
          & .a-radio {
            line-height: $line-height-small;
          }
        }
      }

      & + label {
        & .m-picker__content--start {
          & .a-radio {
            line-height: $line-height-smaller;

            & .a-radio__label {
              font-weight: 600;
              line-height: $line-height-smaller;

              &::before {
                top: 0;
              }

              &::after {
                top: 0.25rem;
              }
            }
          }
        }
      }
    }
  }

  @each $type in map-keys($sizes) {
    &.-#{$type} {

      input {
        &[type='checkbox'],
        &[type='radio'] {
          &.a-picker {
            & + label {
              min-height: map-get(map-get($sizes, $type), min-height);
              padding: (0.5rem - $border) (1rem - $border) (0.5rem - $border) (1.5rem - $border);
            }
          }
        }
      }
    }
  }
}

/* IE11 CSS hack */
@media all and (-ms-high-contrast: none) {
  .m-picker:not(.-sm):not(.-md):not(.-lg) {
    input {
      &[type='checkbox'],
      &[type='radio'] {
        &.a-picker + label {
          display: block;
        }
      }
    }
  }
}
