@import 'horizontal-picker-groups';

.m-pickerGroup {
  &.-fluid {
    display: flex;
    input {
      &[type='checkbox'],
      &[type='radio'] {
        &.a-picker {
          & + label {
            display: flex;
            flex: 1 0 0;

            &.-notFluid {
              flex: 0 1 0;
            }

            &.-align--left {
              justify-content: flex-start;
            }

            &.-align--center {
              justify-content: center;
            }

            &.-align--right {
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
}
