@import '_global-variables';
@import '_global-mixins';

$border: 0.0625rem;
$sizes: (
  md: (
    item-font-size: $picker-md-item-font-size,
    item-padding: $picker-md-item-padding,
    item-label-margin: $picker-md-item-label-margin,
    item-description-font-size: $picker-md-item-description-font-size,
    item-description-line-height: $picker-md-item-description-line-height,
    item-description-margin: $picker-md-item-description-margin,
    item-description-padding: $picker-md-item-description-padding
  ),
  lg: (
    item-font-size: $picker-lg-item-font-size,
    item-padding: $picker-lg-item-padding,
    item-label-margin: $picker-lg-item-label-margin,
    item-description-font-size: $picker-lg-item-description-font-size,
    item-description-line-height: $picker-lg-item-description-line-height,
    item-description-margin: $picker-lg-item-description-margin,
    item-description-padding: $picker-lg-item-description-padding
  )
);
$pill-sizes: (
  xs: (
    item-padding: $picker-xs-item-padding,
    item-font-size: $picker-xs-item-font-size,
    item-description-line-height: $picker-xs-item-description-line-height,
  ),
  sm: (
    item-padding: $picker-sm-item-padding,
    item-font-size: $picker-sm-item-font-size,
    item-description-line-height: $picker-sm-item-description-line-height,
  )
);

.chi-picker {
  align-items: center;
  display: flex;
  justify-content: center;

  .chi-picker__input {
    left: -9999px;
    position: absolute;

    & + label {
      align-items: flex-start;
      background-color: $picker-background-color;
      border: solid $border $picker-border-color;
      border-radius: $border-radius;
      box-shadow: map-get($shadow, 1);
      cursor: pointer;
      display: flex;
      font-size: $picker-md-item-font-size;
      font-weight: $font-weight-normal;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      min-height: 3rem;
      padding: 1rem;
      transition: all 0.2s;
      width: 100%;

      .chi-picker__checkbox {
        border: $border solid $picker-checkbox-border-color;
        color: $picker-checkbox-text-color;
        flex-shrink: 0;
        height: 1rem;
        position: relative;
        width: 1rem;

        &::before {
          border: 0.125rem solid $picker-checkbox-icon-color;
          border-right: 0;
          border-top: 0;
          content: '';
          height: 0.3125rem;
          left: calc(50% - 0.3125rem);
          position: absolute;
          top: calc(50% - 0.25rem);
          transform: rotate(-45deg) scale(0);
          transition-duration: 0.2s;
          width: 0.625rem;
        }
      }

      .chi-picker__radio {
        border: $border solid $picker-radio-border-color;
        border-radius: 0.5rem;
        color: $picker-radio-text-color;
        flex-shrink: 0;
        height: 1rem;
        position: relative;
        width: 1rem;

        &::before {
          background-color: $picker-radio-icon-color;
          border-radius: 0.25rem;
          content: '';
          height: 0.375rem;
          left: calc(50% - 0.1875rem);
          position: absolute;
          top: calc(50% - 0.1875rem);
          transform: scale(0);
          transition-duration: 0.2s;
          width: 0.375rem;
        }
      }

      & .chi-picker__label {
        margin-left: $picker-md-item-label-margin;
      }

      .chi-picker__content {
        display: flex;

        &--start,
        &--end {
          display: flex;
          flex-direction: column;

          .chi-form__item {
            line-height: 1.25rem;
          }
        }

        &--start {
          .chi-form__item {
            font-weight: $font-weight-semi-bold;
          }

          .chi-picker__description {
            color: $color-text-base;
            font-weight: $font-weight-normal;
            margin: $picker-md-item-description-margin;
            padding: $picker-md-item-description-padding;
          }
        }

        &--end {
          align-items: flex-end;
          flex-grow: 1;
          text-align: right;

          .chi-picker__label {
            font-weight: $font-weight-semi-bold;
          }
        }
      }
    }

    .chi-picker__description {
      font-size: $font-size-sm;
      line-height: 1.25rem;
    }

    &[disabled],
    &.-disabled {
      & + label {
        background-color: $picker-disabled-background-color;
        box-shadow: none;
        color: $picker-disabled-text-color;
        pointer-events: none;
      }
    }

    &:checked {
      & + label {
        border: solid $border $picker-checked-border-color;
        box-shadow: inset 0 0 0 $border $picker-checked-border-color;
        background-color: $picker-checked-background-color;
        color: $picker-checked-text-color;
        font-weight: $font-weight-semi-bold;

        .chi-picker__checkbox {
          background-color: $picker-checked-checkbox-background-color;
          border: $border solid $picker-checked-checkbox-border-color;
          color: $picker-checked-checkbox-text-color;

          &::before {
            border: 0.125rem solid $picker-checked-checkbox-icon-color;
            border-right: 0;
            border-top: 0;
            transform: rotate(-45deg) scale(1);
          }
        }

        .chi-picker__radio {
          background-color: $picker-checked-radio-background-color;
          border: $border solid $picker-checked-radio-border-color;

          &::before {
            background-color: $picker-checked-radio-icon-color;
            transform: scale(1);
          }
        }
      }
    }

    &:hover {
      &:not(:checked) {
        & + label {
          border-color: $picker-hover-border-color;

          .chi-picker__checkbox {
            &::before {
              transform: rotate(-45deg) scale(1);
            }
          }

          .chi-picker__radio {
            &::before {
              transform: scale(1);
            }
          }
        }
      }
    }

    &:focus {
      &:not(:checked) {
        & + label {
          background-color: $picker-focus-background-color;
          border-color: $picker-focus-border-color;
          cursor: pointer;
        }
      }
    }
  }

  &.-pill {
    .chi-picker__input + label {
      border-radius: $border-radius-rounded-pill;
    }

    & ~ .-pill {
      margin-left: 0.5rem;
    }

    @each $type in map-keys($pill-sizes) {
      &.-#{$type} {
        .chi-picker__input + label {
          font-size: map-get(map-get($pill-sizes, $type), item-font-size);
          padding: map-get(map-get($pill-sizes, $type), item-padding);
          border-radius: $border-radius-rounded-pill;
          min-height: inherit;
          line-height: map-get(map-get($pill-sizes, $type), item-description-line-height);
        }
      }
    }
  }

  @each $type in map-keys($sizes) {
    &.-#{$type} {
      .chi-picker__input {
        & + label,
        .chi-picker__label {
          font-size: map-get(map-get($sizes, $type), item-font-size);
          padding: map-get(map-get($sizes, $type), item-padding);

          .chi-picker__label {
            margin-left: map-get(map-get($sizes, $type), item-label-margin);
          }

          .chi-picker__content {
            &--start {
              .chi-picker__description {
                font-size: map-get(map-get($sizes, $type), item-description-font-size);
                line-height: map-get(map-get($sizes, $type), item-description-line-height);
                margin: map-get(map-get($sizes, $type), item-description-margin);
                padding: map-get(map-get($sizes, $type), item-description-padding);
              }
            }
          }
        }
      }

      .chi-picker__content--end {
        .chi-picker__label {
          font-size: map-get(map-get($sizes, $type), item-font-size);
          font-weight: $font-weight-semi-bold;
        }
      }
    }
  }
}

/* IE11 CSS hack */
// sass-lint:disable-block no-vendor-prefixes
@media all and (-ms-high-contrast: none) {
  .chi-picker:not(.-sm):not(.-md):not(.-lg) {
    .chi-picker__input + label {
      display: block;
    }
  }
}
