@import 'variables';
@import 'mixins';

.chi {
  .m-picker {
    align-items: center;
    display: flex;
    justify-content: center;

    input {
      &[type='checkbox'],
      &[type='radio'] {
        &.a-picker {
          left: -9999px;
          position: absolute;

          & + label {
            align-items: center;
            background-color: $text-white;
            border: solid 0.125rem set-color(grey, 30);
            border-radius: 0.1875rem;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
            color: $dark-color;
            font-size: $text;
            font-weight: 600;
            justify-content: center;
            padding: 3rem;
            text-transform: capitalize;
            transition: all 0.2s;

            &:active {
              background-color: set-color(grey, 20);
            }

            &:hover {
              background-color: set-color(grey, 10);
              cursor: pointer;
            }

            &::after,
            &::before {
              display: none;
            }
          }

          &:checked {
            & + label {
              border: solid 0.125rem $brand-color;
              color: $brand-color;

              & .a-input {
                & + label {
                  &::before {
                    background-color: #00853f;
                    border-color: #00853f;
                  }

                  &::after {
                    background-image: url('./icon-check.svg');
                    transform: scale(1);
                  }
                }
              }
            }
          }

          &.-icon {
            & + label {
              background-color: $text-white;
              border-radius: 0.125rem;
              border: solid 0.125rem set-color(grey, 30);
              color: $dark-color;
              display: flex;
              flex-direction: column;
              font-size: $text;
              font-weight: 600;
              justify-content: center;
              transition: all 0.2s;

              &:active {
                background-color: set-color(grey, 20);
              }

              &:hover {
                background-color: set-color(grey, 10);
              }

              &::after,
              &::before {
                display: none;
              }

              & i {
                margin-top: 1rem;
              }
            }

            &:checked {
              & + label {
                border: solid 0.125rem $brand-color;
                color: $brand-color;
              }
            }
          }
        }

        &:checked {
          & + label {
            border: solid 0.125rem $brand-color;
            padding: 3rem;
          }
        }
      }
    }

    &.-number {
      input {
        &[type='checkbox'],
        &[type='radio'] {
          &.a-picker {
            & + label {
              font-size: 2rem;
            }
          }
        }
      }
    }

    &.-pill {
      input {
        &[type='checkbox'],
        &[type='radio'] {
          &.a-picker {
            & + label {
              border-radius: 5rem;
              padding-left: 5rem;
              padding-right: 5rem;
            }
          }
        }
      }
    }

    &.-inline {
      input {
        &[type='checkbox'],
        &[type='radio'] {
          &.a-picker {
            & + label {
              padding: 0.5rem 1rem;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
