@import '_global-variables';
@import '_global-mixins';

$sizes: (
  md: (
    item-font-size: $picker-md-item-font-size,
    item-padding: $picker-md-item-padding,
    item-label-margin: $picker-md-item-label-margin,
    item-description-font-size: $picker-md-item-description-font-size,
    item-description-line-height: $picker-md-item-description-line-height,
    item-description-margin: $picker-md-item-description-margin,
    item-description-padding: $picker-md-item-description-padding,
  ),
  lg: (
    item-font-size: $picker-lg-item-font-size,
    item-padding: $picker-lg-item-padding,
    item-label-margin: $picker-lg-item-label-margin,
    item-description-font-size: $picker-lg-item-description-font-size,
    item-description-line-height: $picker-lg-item-description-line-height,
    item-description-margin: $picker-lg-item-description-margin,
    item-description-padding: $picker-lg-item-description-padding,
  ),
);
$pill-sizes: (
  xs: (
    item-padding: $picker-xs-item-padding,
    item-font-size: $picker-xs-item-font-size,
    item-description-line-height: $picker-xs-item-description-line-height,
  ),
  sm: (
    item-padding: $picker-sm-item-padding,
    item-font-size: $picker-sm-item-font-size,
    item-description-line-height: $picker-sm-item-description-line-height,
  ),
);

.chi-picker {
  align-items: center;
  display: flex;
  justify-content: center;

  .chi-picker__input {
    left: -9999px;
    position: absolute;

    & + label {
      align-items: flex-start;
      background-color: $picker-background-color;
      border: solid $picker-border-width $picker-border-color;
      border-radius: $picker-border-radius;
      box-shadow: map-get($shadow, 1);
      cursor: pointer;
      display: flex;
      font-size: $picker-md-item-font-size;
      font-weight: $font-weight-normal;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      min-height: 3rem;
      padding: 1rem;
      transition: all 0.2s;
      width: 100%;

      .chi-picker__checkbox {
        border: $picker-checkbox-border-width solid $picker-checkbox-border-color;
        border-radius: $picker-checkbox-border-radius;
        color: $picker-checkbox-text-color;
        flex-shrink: 0;
        height: $picker-checkbox-size;
        position: relative;
        width: $picker-checkbox-size;

        &::before {
          border: $picker-checkbox-checkmark-border-width solid $picker-checkbox-icon-color;
          border-right: 0;
          border-top: 0;
          content: '';
          height: $picker-checkbox-checkmark-height;
          left: $picker-checkbox-checkmark-left;
          position: absolute;
          top: $picker-checkbox-checkmark-top;
          transform: rotate(-45deg) scale(0);
          transition-duration: 0.2s;
          width: $picker-checkbox-checkmark-width;
        }
      }

      .chi-picker__radio {
        border: $picker-radio-border-width solid $picker-radio-border-color;
        border-radius: $picker-radio-border-radius;
        color: $picker-radio-text-color;
        flex-shrink: 0;
        height: $picker-radio-size;
        position: relative;
        width: $picker-radio-size;

        &::before {
          background-color: $picker-radio-icon-color;
          border-radius: $picker-radio-dot-border-radius;
          content: '';
          height: $picker-radio-dot-size;
          left: $picker-radio-dot-left;
          position: absolute;
          top: $picker-radio-dot-top;
          transform: scale(0);
          transition-duration: 0.2s;
          width: $picker-radio-dot-size;
        }
      }

      & .chi-picker__label {
        margin-left: $picker-md-item-label-margin;
      }

      .chi-picker__content {
        display: flex;

        &--start,
        &--end {
          display: flex;
          flex-direction: column;

          .chi-form__item {
            line-height: 1.25rem;
          }
        }

        &--start {
          .chi-form__item {
            font-weight: $font-weight-semi-bold;
          }

          .chi-picker__description {
            color: $color-text-base;
            font-weight: $font-weight-normal;
            margin: $picker-md-item-description-margin;
            padding: $picker-md-item-description-padding;
          }

          .chi-picker__label-info-icon {
            margin-left: $picker-item-info-icon-margin-left;
          }
        }

        &--end {
          align-items: flex-end;
          flex-grow: 1;
          text-align: right;

          .chi-picker__label {
            font-weight: $font-weight-semi-bold;
          }
        }
      }
    }

    .chi-picker__description {
      font-size: $font-size-sm;
      line-height: 1.25rem;
    }

    &[disabled],
    &.-disabled {
      & + label {
        background-color: $picker-disabled-background-color;
        border-color: $picker-disabled-border-color;
        box-shadow: none;
        color: $picker-disabled-text-color;
        pointer-events: none;

        .chi-picker__checkbox {
          background-color: $picker-disabled-checkbox-background-color;
          border-color: $picker-disabled-checkbox-border-color;
        }

        .chi-picker__radio {
          background-color: $picker-disabled-radio-background-color;
          border-color: $picker-disabled-radio-border-color;
        }
      }
    }

    &:checked {
      & + label {
        background-color: $picker-checked-background-color;
        border: solid $picker-border-width $picker-checked-border-color;
        box-shadow: inset 0 0 0 $picker-border-width $picker-checked-border-color;
        color: $picker-checked-text-color;
        font-weight: $font-weight-semi-bold;

        .chi-picker__checkbox {
          background-color: $picker-checked-checkbox-background-color;
          border: $picker-checkbox-border-width solid $picker-checked-checkbox-border-color;
          color: $picker-checked-checkbox-text-color;

          &::before {
            border: $picker-checkbox-checkmark-border-width solid $picker-checked-checkbox-icon-color;
            border-right: 0;
            border-top: 0;
            transform: rotate(-45deg) scale(1);
          }
        }

        .chi-picker__radio {
          background-color: $picker-checked-radio-background-color;
          border: $picker-radio-border-width solid $picker-checked-radio-border-color;
          box-shadow: $picker-checked-radio-box-shadow;

          &::before {
            background-color: $picker-checked-radio-icon-color;
            transform: $picker-checked-radio-dot-transform;
          }
        }
      }

      &:focus {
        & + label {
          outline: $picker-checked-focus-outline;
          outline-offset: $picker-checked-focus-outline-offset;
        }
      }

      &[disabled],
      &.-disabled {
        & + label {
          .chi-picker__checkbox {
            background-color: $picker-checked-disabled-checkbox-background-color;
            border-color: $picker-checked-disabled-checkbox-border-color;

            &::before {
              border-color: $picker-checked-disabled-checkbox-icon-color;
            }
          }

          .chi-picker__radio {
            background-color: $picker-checked-disabled-radio-background-color;
            border-color: $picker-checked-disabled-radio-border-color;
          }
        }
      }
    }

    &:hover {
      &:not(:checked) {
        & + label {
          border-color: $picker-hover-border-color;

          .chi-picker__checkbox {
            border-color: $picker-hover-checkbox-border-color;

            &::before {
              transform: $picker-hover-checkbox-checkmark-transform;
            }
          }

          .chi-picker__radio {
            border-color: $picker-hover-radio-border-color;

            &::before {
              transform: $picker-hover-radio-dot-transform;
            }
          }
        }
      }
    }

    &:focus {
      &:not(:checked) {
        & + label {
          background-color: $picker-focus-background-color;
          border-color: $picker-focus-border-color;
          outline: $picker-focus-outline;
          outline-offset: $picker-focus-outline-offset;
          cursor: pointer;
        }
      }
    }
  }

  &.-pill {
    .chi-picker__input {
      & + label {
        border-radius: $border-radius-rounded-pill;
      }

      &[disabled],
      &.-disabled {
        & + label {
          background-color: $picker-pill-disabled-background-color;
          border-color: $picker-pill-disabled-border-color;
          box-shadow: $picker-pill-disabled-box-shadow;
        }
      }

      &:hover {
        &:not(:checked) {
          & + label {
            background-color: $picker-pill-hover-background-color;
            border-color: $picker-pill-hover-border-color;
          }
        }
      }

      &:active {
        &:not(:checked) {
          & + label {
            background-color: $picker-pill-active-background-color;
          }
        }
      }
    }

    & ~ .-pill {
      margin-left: 0.5rem;
    }

    @each $type in map-keys($pill-sizes) {
      &.-#{$type} {
        .chi-picker__input + label {
          font-size: map-get(map-get($pill-sizes, $type), item-font-size);
          padding: map-get(map-get($pill-sizes, $type), item-padding);
          border-radius: $border-radius-rounded-pill;
          min-height: inherit;
          line-height: map-get(map-get($pill-sizes, $type), item-description-line-height);
        }
      }
    }
  }

  @each $type in map-keys($sizes) {
    &.-#{$type} {
      .chi-picker__input {
        & + label,
        .chi-picker__label {
          font-size: map-get(map-get($sizes, $type), item-font-size);
          padding: map-get(map-get($sizes, $type), item-padding);

          .chi-picker__label {
            margin-left: map-get(map-get($sizes, $type), item-label-margin);
          }

          .chi-picker__content {
            &--start {
              .chi-picker__description {
                font-size: map-get(map-get($sizes, $type), item-description-font-size);
                line-height: map-get(map-get($sizes, $type), item-description-line-height);
                margin: map-get(map-get($sizes, $type), item-description-margin);
                padding: map-get(map-get($sizes, $type), item-description-padding);
              }
            }
          }
        }
      }

      .chi-picker__content--end {
        .chi-picker__label {
          font-size: map-get(map-get($sizes, $type), item-font-size);
          font-weight: $font-weight-semi-bold;
        }
      }
    }
  }
}
