---
title: Grid
---
.test-flex-cells.-w--100
  h4 Default Grid
  .chi-grid.-show
    .chi-col
    .chi-col
    .chi-col

.test-no-gutter.-w--100
  h4 Default Grid (w/o Gutter)
  .chi-grid.-noGutter.-show
    .chi-col
    .chi-col
    .chi-col

h3 Sizing

.test-automatic-column-sizing.-w--100
  h4 Automatic
  .chi-grid.-show
    .chi-col
  .chi-grid.-show
    .chi-col
    .chi-col
  .chi-grid.-show
    .chi-col
    .chi-col
    .chi-col
  .chi-grid.-show
    .chi-col
    .chi-col
    .chi-col
    .chi-col

.test-mixed-column-sizing.-w--100
  h4 Mixed (Automatic and Specific)
  .chi-grid.-show
    .chi-col.-w--3
    .chi-col
  .chi-grid.-show
    .chi-col.-w--3
    .chi-col
    .chi-col.-w--3
  .chi-grid.-show
    .chi-col
    .chi-col.-w--3
    .chi-col
  .chi-grid.-show
    .chi-col
    .chi-col.-w--3

.test-specific-column-sizing.-w--100
  h4 Specific
  .chi-grid.-show
    .chi-col.-w--12
  .chi-grid.-show
    .chi-col.-w--1
    .chi-col.-w--11
  .chi-grid.-show
    .chi-col.-w--2
    .chi-col.-w--10
  .chi-grid.-show
    .chi-col.-w--3
    .chi-col.-w--9
  .chi-grid.-show
    .chi-col.-w--4
    .chi-col.-w--8
  .chi-grid.-show
    .chi-col.-w--5
    .chi-col.-w--7
  .chi-grid.-show
    .chi-col.-w--6
    .chi-col.-w--6
  .chi-grid.-show
    .chi-col.-w--7
    .chi-col.-w--5
  .chi-grid.-show
    .chi-col.-w--8
    .chi-col.-w--4
  .chi-grid.-show
    .chi-col.-w--9
    .chi-col.-w--3
  .chi-grid.-show
    .chi-col.-w--10
    .chi-col.-w--2
  .chi-grid.-show
    .chi-col.-w--11
    .chi-col.-w--1
  .chi-grid.-show
    .chi-col.-w--1
    .chi-col.-w--1
    .chi-col.-w--1
    .chi-col.-w--1
    .chi-col.-w--1
    .chi-col.-w--1
    .chi-col.-w--1
    .chi-col.-w--1
    .chi-col.-w--1
    .chi-col.-w--1
    .chi-col.-w--1
    .chi-col.-w--1
  .chi-grid.-show
    .chi-col.-w--2
    .chi-col.-w--2
    .chi-col.-w--2
    .chi-col.-w--2
    .chi-col.-w--2
    .chi-col.-w--2
  .chi-grid.-show
    .chi-col.-w--3
    .chi-col.-w--3
    .chi-col.-w--3
    .chi-col.-w--3
  .chi-grid.-show
    .chi-col.-w--4
    .chi-col.-w--4
    .chi-col.-w--4
  .chi-grid.-show
    .chi-col.-w--6
    .chi-col.-w--6

h3 Wrapping

.test-wrapping.-w--100
  .chi-grid.-show
    .chi-col
    .chi-col
    .chi-col
    .chi-col
    .chi-col
    .chi-col
    .chi-col
    .chi-col
    .chi-col
    .chi-col
    .chi-col
    .chi-col
    .chi-col
    .chi-col
    .chi-col
    .chi-col

h3 Offsets

.test-offsets.-w--100
  h4 Offset Sizes
  .chi-grid.-show
    .chi-col.-w--11.-o--1
    .chi-col.-w--10.-o--2
    .chi-col.-w--9.-o--3
    .chi-col.-w--8.-o--4
    .chi-col.-w--7.-o--5
    .chi-col.-w--6.-o--6
    .chi-col.-w--5.-o--7
    .chi-col.-w--4.-o--8
    .chi-col.-w--3.-o--9
    .chi-col.-w--2.-o--10
    .chi-col.-w--1.-o--11

h3 Reordering

.test-reordering.-w--100
  .chi-grid.-show
    .chi-col.-n--3
    .chi-col.-n--1
    .chi-col.-n--2

h3 Responsive

.test-responsive-column-stacking.-w--100
  h4 Stacked (XS)
  .chi-grid.-show
    .chi-col.-w-sm--2
    .chi-col.-w-sm--4
    .chi-col.-w-sm
  .chi-grid.-show
    .chi-col.-w-sm
    .chi-col.-w-sm
    .chi-col.-w-sm
  .chi-grid.-show
    .chi-col.-w-md
    .chi-col.-w-md
    .chi-col.-w-md
  .chi-grid.-show
    .chi-col.-w-lg
    .chi-col.-w-lg
    .chi-col.-w-lg
  .chi-grid.-show
    .chi-col.-w-xl
    .chi-col.-w-xl
    .chi-col.-w-xl

.test-mixed-responsive-column-sizing.-w--100
  h4 Mixed
  .chi-grid.-show
    .chi-col.-w--12.-w-md--8
    .chi-col.-w--6.-w-md--4
  .chi-grid.-show
    .chi-col.-w--6.-w-md--4
    .chi-col.-w--6.-w-md--4
    .chi-col.-w--6.-w-md--4
  .chi-grid.-show
    .chi-col.-w--6
    .chi-col.-w--6

.test-responsive-offsets.-w--100
  h4 Offsets
  .chi-grid.-show
    .chi-col.-w--12.-w-sm--11.-o-sm--1
    .chi-col.-w--12.-w-md--10.-o-md--2
    .chi-col.-w--12.-w-lg--9.-o-lg--3
    .chi-col.-w--12.-w-xl--8.-o-xl--4

h3 Alignment

.test-vertical-alignment-on-container.-w--100
  h4 Vertical Alignment (Grid Container)
  h5 .-align--top
  .chi-grid.-align--top.-show(style = { height: '160px', outline: '1px solid red' })
    .chi-col
    .chi-col
    .chi-col
  h5 .-align--center
  .chi-grid.-align--center.-show(style = { height: '160px', outline: '1px solid red' })
    .chi-col
    .chi-col
    .chi-col
  h5 .-align--bottom
  .chi-grid.-align--bottom.-show(style = { height: '160px', outline: '1px solid red' })
    .chi-col
    .chi-col
    .chi-col

.test-vertical-alignment-on-column.-w--100
  h4 Vertical Alignment (Column Specific)
  .chi-grid.-show(style = { height: '160px', outline: '1px solid red' })
    .chi-col.-align--top
    .chi-col.-align--center
    .chi-col.-align--bottom
