@import '_global-variables';
@import '_global-mixins';

.chi-main {
  background-color: $app-layout-background-color;
  height: 100%;
  margin-top: 2.5rem;

  &__header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    &-start {
      display: flex;
      flex-direction: column;
    }

    &-end {
      margin-top: 1rem;

      @include respond-to(md) {
        margin-top: 0;
      }
    }

    @include respond-to(md) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__title {
    align-items: center;
    display: flex;
    justify-content: flex-start;

    &-heading {
      font-size: $font-size-h3;
      font-weight: $font-weight-extra-bold;
      color: $app-layout-header-title-color;
      margin: 0;
      padding-right: 1rem;

      .chi-button {
        margin-left: 0.5rem;

        &.-flat {
          &.-icon {
            &,
            &:hover {
              color: inherit;

              .chi-icon {
                color: inherit;
              }
            }
          }
        }
      }

      & + .chi-main__title-subheading {
        border-left: 0.0625rem solid $color-border-base;
      }
    }

    &-subheading {
      font-size: $font-size-base;
      padding-left: 1rem;
    }
  }

  &__header,
  &__content {
    margin: 0 1rem 1rem;
    position: relative;

    @include respond-to(sm) {
      margin: 0 1.5rem 1rem;
    }

    @include respond-to(md) {
      margin: 0 2rem 1rem;
    }

    @include respond-to(lg) {
      margin: 0 4rem 1rem;
    }
  }

  &.-no-margin {
    .chi-main__header,
    .chi-main__content {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.-fixed-width {
    .chi-main__content,
    .chi-main__header,
    .chi-footer__internal-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 688px;
      padding-left: 1rem;
      padding-right: 1rem;

      @include respond-to(md) {
        max-width: 744px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      @include respond-to(lg) {
        max-width: 1280px;
        padding-left: 4rem;
        padding-right: 4rem;
      }
    }
  }

  &.-header-background {
    .chi-main__background {
      z-index: 0;
    }
  }

  &__background {
    position: absolute;
    height: 12rem;
    overflow: hidden;
    width: 100%;
    top: 0;
  }

  &__background-image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $app-layout-header-background-color;
  }
}
