@import '_global-variables';
@import '_global-mixins';

.chi-main {
  background-color: $app-layout-background-color;
  height: 100%;
  padding-top: 0;
  position: relative;
  width: 100%;

  &__header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    &-start {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    &-end {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      margin-top: 1.5rem;

      @include respond-to(sm) {
        align-self: flex-start;
        justify-content: flex-end;
      }

      @include respond-to(lg) {
        margin-top: 0;
      }
    }

    @include respond-to(lg) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__title {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;

    &-heading {
      color: $app-layout-header-title-color;
      font-size: $app-layout-header-title-font-size;
      font-weight: $app-layout-header-title-font-weight;
      line-height: $app-layout-header-line-height;
      margin: 0;
      padding-right: 1rem;

      .chi-button {
        margin-left: 0.5rem;

        &.-flat {
          &.-icon {
            margin-left: 0;

            &,
            &:hover {
              color: inherit;

              .chi-icon {
                color: inherit;
              }
            }
          }
        }
      }
    }

    &-subheading {
      color: $app-layout-sub-header-title-color;
      font-size: $app-layout-sub-header-font-size;
      font-weight: $app-layout-sub-header-font-weight;
    }

    &-description {
      color: $app-layout-sub-header-title-color;
      font-size: $app-layout-sub-header-font-size;
      font-weight: normal;
      padding-top: 0.5rem;

      @include respond-to(xxl) {
        max-width: 65%;
      }
    }
  }

  &__content {
    padding-top: 2rem;
  }

  &__content,
  &__alert {
    margin: 0 1rem 2rem;
    position: relative;

    @include respond-to(sm) {
      margin: 0 1.5rem 2rem;
    }

    @include respond-to(md) {
      margin: 0 2rem 2rem;
    }

    @include respond-to(lg) {
      margin: 0 4rem 1rem;
    }
  }

  &__header {
    margin: 0;
    padding: 2rem 1rem;
    position: relative;

    @include respond-to(sm) {
      padding: 2.5rem 1.5rem;
    }

    @include respond-to(md) {
      padding: 2.5rem 2rem;
    }

    @include respond-to(lg) {
      padding: 2.5rem 4rem;
    }
  }

  &__alert {
    padding-bottom: 0.5rem;

    & > chi-alert,
    & > .chi-alert {
      & + chi-alert,
      & + .chi-alert {
        margin-top: 0.5rem;
      }
    }
  }

  &.-no-margin {
    .chi-main__header,
    .chi-main__content,
    .chi-main__alert {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.-fixed-width {
    .chi-main__content,
    .chi-main__header,
    .chi-main__alert,
    .chi-footer__internal-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 688px;
      padding-left: 1rem;
      padding-right: 1rem;

      @include respond-to(lg) {
        max-width: 792px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      @include respond-to(xl) {
        max-width: 1176px;
      }
    }

    .chi-main__content {
      padding-bottom: 1.5rem;

      @include respond-to(lg) {
        padding-bottom: 2.5rem;
      }
    }
  }

  &.-header-background {
    .chi-main__header {
      background: $app-layout-header-background-color;
    }

    .chi-main__title-heading {
      color: $app-layout-header-background-title-color;
    }

    .chi-main__title-subheading,
    .chi-main__title-description,
    .chi-main__title-link,
    .chi-main__title-link .chi-link,
    .chi-main__title-link .chi-link .chi-icon {
      color: $app-layout-header-background-subtitle-color;
    }
  }

  &.-card-header {
    .chi-main__header {
      background: $app-layout-header-card-background-color;
      border: $app-layout-header-card-border;
      border-radius: $app-layout-header-card-border-radius;
      margin: 1.5rem 1rem;
      padding: 1.25rem;

      @include respond-to(sm) {
        margin: 1.5rem 1.5rem;
        padding: 1.25rem;
      }

      @include respond-to(md) {
        margin: 1.5rem 2rem;
        padding: 1.25rem;
      }

      @include respond-to(lg) {
        margin: 1.5rem 4rem;
        padding: 1.25rem;
      }

      .chi-main__title {
        padding: 1rem 0;
      }
    }
  }
}

.chi-main__wrapper div:has(chi-main) {
  height: 100%;
}
