@import '_variables';
@import '_mixins';

$multi-line-ellipsis-max: 3;
$padding-vertical: 0.25rem;

.chi-tooltip {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: rgba(set-color(grey, 100), 0.95);
  color: set-color(white);
  display: block;
  font-family: $font-family;
  font-size: $text;
  font-weight: normal;
  line-height: $line-height-small;
  max-height: $line-height-small * $multi-line-ellipsis-max + $padding-vertical * 2;
  max-width: 20rem;
  opacity: 0;
  overflow: hidden;
  padding: $padding-vertical 0.5rem;
  pointer-events: none;
  transition: opacity 0.2s, transform 0.2s;

  &.-active {
    opacity: 1;
  }
}
