@import '_global-variables';
@import '_global-mixins';

$multi-line-ellipsis-max: 4;
$padding-vertical: 0.125rem;

.chi-tooltip {
  // sass-lint:disable-block no-vendor-prefixes
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: $tooltip-background-color;
  border-radius: $border-radius;
  color: $tooltip-text-color;
  display: block;
  font-family: $font-family-base;
  font-size: $font-size-xs;
  font-weight: $font-weight-semi-bold;
  line-height: $line-height-sm;
  max-height: $line-height-sm * $multi-line-ellipsis-max + $padding-vertical * 2;
  max-width: $tooltip-max-width;
  opacity: 0;
  overflow: hidden;
  padding: $padding-vertical 0.375rem;
  pointer-events: none;
  transition: opacity 0.2s, transform 0.2s;
  z-index: $zindex-tooltip;

  &.-active {
    opacity: 1;
  }

  &.-light {
    background: $tooltip-light-background-color;
    box-shadow: $tooltip-light-box-shadow;
    color: $tooltip-light-text-color;
  }
}
