@import '_mixins';
@import '_variables';

.chi-footer {
  background-color: transparent;
  font-size: $font-size-base;
  line-height: $line-height;
  width: 100%;
  z-index: 1;

  &__content {
    position: relative;
    text-decoration: none;
    width: 100%;
  }

  &__internal {
    background-color: $color-grey-80;
    display: flex;
    justify-content: center;

    &-content {
      align-items: center;
      color: $color-text-white;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      width: 100%;

      @include respond-to(md) {
        align-items: flex-start;
        flex-direction: row;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: $font-size-sm;
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;

      @include respond-to(md) {
        flex-direction: row;
      }

      li {
        a {
          display: block;
          font-weight: $font-weight-semi-bold;
          padding: 0.25rem 0.5rem;

          @include respond-to(md) {
            flex-direction: row;
            padding: 0 0.5rem;
          }
        }
      }
    }

    a {
      color: $color-text-white;
    }

    .chi-footer__language {
      display: flex;
      flex-shrink: 0;
      padding-bottom: 1rem;

      @include respond-to(md) {
        padding-bottom: 0;
        padding-right: 3rem;
      }

      select {
        &.chi-input {
          background-color: transparent;
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' version='1.1' width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.097 10.66l6.005-6.216.58-.6 1.162 1.201-.58.601-6.568 6.798-.58.601-.648-.67-.069-.067L.601 5.741 0 5.161 1.202 4l.6.58 6.295 6.08z' fill='%2338C6F4' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
          background-position: map-get(map-get($sizes, md), background-position);
          background-repeat: no-repeat;
          background-size: 0.75rem 0.75rem;
          border-color: transparent;
          box-shadow: none;
          color: $color-text-white;
          font-weight: $font-weight-semi-bold;
          max-width: 7rem;
          position: relative;
          text-overflow: ellipsis;
          top: 0;

          @include respond-to(md) {
            top: -0.35rem;
          }
        }
      }
    }

    .chi-footer__copyright {
      align-items: center;
      display: flex;
      font-size: $font-size-xs;
      justify-content: center;
      line-height: 1rem;
      max-width: 22rem;
      padding-top: 0.75rem;
      text-align: center;
      width: 100%;

      @include respond-to(md) {
        max-width: none;
      }
    }

    .chi-footer__links {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      width: 100%;

      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        @include respond-to(md) {
          flex-direction: row;
        }
      }
    }
  }

  ul {
    margin: 0;

    &,
    li {
      list-style: none;
      padding-left: 0;
    }
  }

  &__external {
    background-color: $color-grey-15;
    display: flex;
    justify-content: center;

    &-content {
      align-items: center;
      color: $color-text-base;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      width: 100%;

      @include respond-to(md) {
        align-items: flex-start;
        flex-direction: column;
      }

      .chi-footer__header {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 2rem;
        padding-top: 1rem;
        width: 100%;

        @include respond-to(md) {
          align-items: center;
          flex-direction: row;
          justify-content: space-between;
        }

        .chi-footer__search {
          margin-top: 2rem;
          width: 100%;

          @include respond-to(md) {
            margin-top: 0;
            width: 50%;
          }

          @include respond-to(lg) {
            width: 18rem;
          }
        }
      }

      .chi-footer__links {
        width: 100%;

        &-title {
          font-weight: $font-weight-bold;
          padding: 0.25rem 0;
          text-transform: uppercase;
        }

        .chi-col {
          margin-bottom: 1rem;

          &:first-child {
            ul {
              li {
                a {
                  color: $color-text-primary;
                }
              }
            }
          }

          @include respond-to(md) {
            margin-bottom: 0;

            &:nth-child(2) {
              margin-bottom: 2rem;
            }
          }

          @include respond-to(lg) {
            &:nth-child(2) {
              margin-bottom: 0;
            }
          }
        }

        ul {
          margin-bottom: 0.5rem;

          li {
            padding: 0.25rem 0;

            a {
              color: $color-text-base;
            }
          }
        }
      }

      .chi-footer__social {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        margin-top: 2rem;
        width: 100%;

        @include respond-to(lg) {
          margin-bottom: 0;
          margin-top: 1rem;
        }

        a {
          color: $color-icon-primary;
          display: block;
          margin-right: 0.25rem;
          transform: scale(0.875);

          &:first-child {
            margin-right: 0.75rem;
            padding-top: 0.25rem;
          }

          &:last-child {
            margin-left: 0.25rem;
            margin-right: 0;
            padding-top: 0.25rem;
          }

          &:hover {
            color: $color-icon-info;
          }
        }
      }
    }
  }
}
