@import '_global-mixins';
@import '_global-variables';

.chi-footer {
  background-color: transparent;
  font-size: $font-size-base;
  line-height: $line-height;
  width: 100%;
  z-index: 1;

  &__content {
    position: relative;
    text-decoration: none;
    width: 100%;
  }

  &__internal {
    background-color: $footer-internal-background-color;
    display: flex;
    justify-content: center;

    &-content {
      align-items: center;
      color: $footer-internal-text-color;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      width: 100%;

      @include respond-to(md) {
        align-items: flex-start;
        flex-direction: row;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: $font-size-sm;
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;

      @include respond-to(md) {
        flex-direction: row;
      }

      li {
        a {
          display: block;
          font-size: $font-size-xs;
          font-weight: $font-weight-normal;
          padding: 0.25rem 0.5rem;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }

          @include respond-to(md) {
            flex-direction: row;
            padding: 0 0.5rem;
          }
        }
      }
    }

    .chi-footer__language {
      display: flex;
      flex-shrink: 0;
      padding-bottom: 1rem;

      @include respond-to(md) {
        padding-bottom: 0;
        padding-right: 3rem;
      }

      .chi-dropdown__trigger {
        &.chi-button {
          &.-icon {
            &.-flat {
              &::after {
                color: $footer-dropdown-arrow-icon-color;
              }
            }
          }
        }
      }
    }

    .chi-footer__copyright {
      align-items: center;
      display: flex;
      font-size: $footer-copyright-font-size;
      justify-content: center;
      line-height: $footer-copyright-line-height;
      max-width: 22rem;
      padding-top: 0.75rem;
      text-align: center;
      width: 100%;

      @include respond-to(md) {
        max-width: none;
      }
    }

    .chi-footer__links {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      width: 100%;

      a {
        color: $footer-internal-link-color;
      }

      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        @include respond-to(md) {
          flex-direction: row;
        }
      }
    }
  }

  ul {
    margin: 0;

    &,
    li {
      list-style: none;
      padding-left: 0;
    }
  }

  &__external {
    background-color: $footer-external-background-color;
    display: flex;
    justify-content: center;

    &-content {
      align-items: center;
      color: $footer-external-text-color;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      width: 100%;

      @include respond-to(md) {
        align-items: flex-start;
        flex-direction: column;
      }

      .chi-footer__header {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 2rem;
        padding-top: 1rem;
        width: 100%;

        @include respond-to(md) {
          align-items: center;
          flex-direction: row;
          justify-content: space-between;
        }

        .chi-footer__search {
          margin-top: 2rem;
          width: 100%;

          @include respond-to(md) {
            margin-top: 0;
            width: 50%;
          }

          @include respond-to(lg) {
            width: 18rem;
          }
        }
      }

      .chi-footer__links {
        width: 100%;

        &-title {
          font-weight: $footer-external-title-font-weight;
          padding: 0.25rem 0;
          text-transform: $footer-external-title-text-transform;
        }

        .chi-col {
          margin-bottom: 1rem;

          &:first-child {
            ul {
              li {
                a {
                  color: $footer-external-first-column-link-color;
                }
              }
            }
          }

          @include respond-to(md) {
            margin-bottom: 0;

            &:nth-child(2) {
              margin-bottom: 2rem;
            }
          }

          @include respond-to(lg) {
            &:nth-child(2) {
              margin-bottom: 0;
            }
          }
        }

        ul {
          margin-bottom: 0.5rem;

          li {
            padding: 0.25rem 0;

            a {
              color: $footer-external-link-color;
            }
          }
        }
      }

      .chi-footer__social {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        margin-top: 2rem;
        width: 100%;

        @include respond-to(lg) {
          margin-bottom: 0;
          margin-top: 1rem;
        }

        a {
          color: $footer-external-social-link-color;
          display: block;
          margin-right: 0.25rem;
          transform: scale(0.875);

          .chi-icon {
            color: $footer-external-social-link-color;
          }

          &:last-child {
            margin-right: 0;
          }

          &:hover {
            color: $footer-external-social-hover-link-color;

            .chi-icon {
              color: $footer-external-social-hover-link-color;
            }
          }
        }
      }
    }

    & + .chi-footer__internal {
      box-shadow: 0 -1px 0 $footer-internal-border-top-color;
    }
  }

  &.-row {
    .chi-footer__internal {
      background-color: $footer-internal-row-background-color;
      border-top: $footer-internal-row-border-top;
      
      .chi-footer__internal-content {
        color: $footer-internal-row-color;
        flex-direction: column;
        gap: $footer-internal-row-content-gap;
        padding: $footer-internal-row-content-padding;

        @include respond-to(lg) {
          flex-direction: row;
          gap: $footer-internal-row-content-lg-gap;
          padding: $footer-internal-row-content-padding-lg
        }

        @include respond-to(xxl) {
          gap: $footer-internal-row-content-xxl-gap;
          padding: $footer-internal-row-content-padding-lg
        }

        .chi-footer__copyright {
          flex: 1;
          font-size: $font-size-md;
          justify-content: flex-start;
          line-height: $line-height-lg;
          min-width: 100%;
          padding: 0;
          text-align: left;

          @include respond-to(lg) {
            min-width: auto;
          }
        }

        .chi-footer__links {
          flex-direction: row;
          flex-wrap: wrap;
          flex: 2;
          gap: $footer-internal-row-links-gap;
          height: 100%;
          justify-content: flex-start;

          chi-link,
          .chi-link {
            color: $link-color;
            display: inline;
          }
        }
      }
    }
  }
}
