@import '_global-variables';
@import '_mixins';

$animation-duration: 0.2s;

$sizes: (
  sm: (
    font-size: $font-size-sm,
    line-height: 1rem,
    padding: 0.5rem 1rem,
  ),
  md: (
    font-size: $font-size-md,
    line-height: 1.25rem,
    padding: 0.625rem 1rem,
  ),
  lg: (
    font-size: $font-size-lg,
    line-height: 1.5rem,
    padding: 0.75rem 1rem,
  ),
  xl: (
    font-size: $font-size-xl,
    line-height: 1.75rem,
    padding: 0.875rem 1rem,
  )
);

$icon-sizes: (
  sm: 0.75rem,
  md: 1rem,
  lg: 1rem,
  xl: 1rem,
);

.chi-accordion {
  &__item {
    background-color: $color-background-base;
    border-bottom: 0.0625rem solid $color-border-base-dark;

    &:last-child {
      border-bottom: 0.0625rem solid transparent;
    }

    .chi-accordion__trigger {
      align-items: center;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      display: flex;
      padding: 0.625rem 1rem;
      width: 100%;

      &[disabled],
      &.-disabled {
        color: $color-text-muted-light;
        opacity: $opacity-60;
        pointer-events: none;
      }

      .chi-icon {
        + .chi-accordion__title {
          margin-left: 1rem;
        }
      }

      .chi-accordion__title {
        align-items: center;
        color: $color-text-base;
        display: flex;
        flex-grow: 1;
        font-size: $font-size-md;
        font-weight: $font-weight-semi-bold;
        line-height: 1.25rem;

        + .chi-icon {
          margin-left: 1rem;
        }
      }

      .icon-chevron-down {
        transition-duration: $animation-duration;
      }
    }

    .chi-accordion__content {
      display: none;
      overflow: hidden;
      padding: 1rem;
      transition: height 0.075s ease-out;

      .chi-accordion__text,
      p {
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &.-transitioning {
        display: block;
      }
    }

    &.-expanded {
      & > .chi-accordion__content {
        display: block;
      }

      & > .chi-accordion__trigger {
        .icon-chevron-down {
          transform: rotate(180deg);
          transition: transform $animation-duration ease-in-out;
        }
      }
    }
  }

  .chi-accordion__item {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  @each $type in map-keys($sizes) {
    &.-#{$type} {
      .chi-accordion__item {
        font-size: map-get(map-get($sizes, $type), font-size);
        line-height: map-get(map-get($sizes, $type), line-height);

        .chi-accordion__trigger {
          font-size: map-get(map-get($sizes, $type), font-size);
          line-height: map-get(map-get($sizes, $type), line-height);
          padding: map-get(map-get($sizes, $type), padding);

          .chi-accordion__title {
            font-size: map-get(map-get($sizes, $type), font-size);
            line-height: map-get(map-get($sizes, $type), line-height);
          }
        }
      }
    }
  }

  @each $type in map-keys($icon-sizes) {
    &.-#{$type} {
      & .chi-icon {
        font-size: map-get($icon-sizes, $type);
        height: map-get($icon-sizes, $type);
        line-height: map-get($icon-sizes, $type);
        width: map-get($icon-sizes, $type);
      }
    }
  }


  &.-portal {
    .chi-accordion__item {
      background-color: $color-background-base-dark;
      border-bottom: 0;

      .chi-accordion__trigger {
        background-color: $color-background-base-darkest;
      }
    }

    .-portal {
      .chi-accordion__content {
        border: 0.0625rem solid $color-border-base;
      }
    }
  }
}
