@import '_variables';
@import '_mixins';

.chi-accordion {
  background-color: $color-white;
  border-bottom: 1px solid $color-grey-30;

  &__header {
    display: flex;
    padding: 1rem;

    .chi-accordion__title {
      cursor: pointer;
      font-size: $font-size-xl;
      font-weight: $font-weight-semi-bold;
      line-height: 2rem;
    }
  }

  &__content {
    display: none;
    padding: 1rem;
    padding-top: 0;
  }

  &.-expanded {
    .chi-accordion__content {
      display: block;
    }

    .chi-accordion__title {
      .icon-chevron-right {
        transform: rotate(90deg);
        transition: transform 0.2s ease-in-out;
      }
    }
  }

  &.-portal {
    background-color: $color-grey-20;
    border-bottom: 0;
    margin-bottom: 0.5rem;

    &.-expanded {
      &.-bordered {
        background-color: $color-white;
        border: 0.0625rem solid $color-grey-30;
        margin-bottom: 0.5rem;
      }
    }

    .chi-accordion__header {
      background-color: $color-grey-30;
    }

    .chi-icon {
      color: $color-blue-70;
    }
  }
}
