@import '_global-variables';
@import '_global-mixins';

$animation-duration: 0.2s;

$sizes: (
  sm: (
    font-size: $font-size-sm,
    line-height: 1rem,
    padding: 0.5rem 1rem,
  ),
  md: (
    font-size: $font-size-md,
    line-height: 1.25rem,
    padding: 0.625rem 1rem,
  ),
  lg: (
    font-size: $font-size-lg,
    line-height: 1.5rem,
    padding: 0.75rem 1rem,
  ),
  xl: (
    font-size: $font-size-xl,
    line-height: 1.75rem,
    padding: 0.875rem 1rem,
  )
);

$icon-sizes: (
  sm: 0.75rem,
  md: 1rem,
  lg: 1rem,
  xl: 1rem,
);

.chi-accordion {
  &__item {
    background-color: $accordion-item-background-color;
    border-bottom: 0.0625rem solid  $accordion-item-border-color;

    &:last-child {
      border-bottom: 0.0625rem solid transparent;
    }

    .chi-accordion__trigger {
      align-items: center;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      display: flex;
      padding: 0.625rem 1rem;
      width: 100%;

      &[disabled],
      &.-disabled {
        color: $accordion-item-disabled-text-color;
        opacity: $accordion-item-disabled-opacity;
        pointer-events: none;
      }

      .chi-icon {
        + .chi-accordion__title {
          margin-left: 1rem;
        }
      }

      .chi-accordion__title {
        align-items: center;
        color: $accordion-item-title-text-color;
        display: flex;
        flex-grow: 1;
        font-size: $accordion-item-title-font-size;
        font-weight: $accordion-item-title-font-weight;
        line-height: 1.25rem;
        text-align: left;

        + .chi-icon {
          margin-left: 1rem;
        }
      }

      .icon-chevron-down {
        transition-duration: $animation-duration;
      }
    }

    .chi-accordion__content {
      display: none;
      overflow: hidden;
      padding: 1rem;
      transition: height 0.075s ease-out;

      .chi-accordion__text,
      p {
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &.-transitioning {
        display: block;
      }
    }

    &.-expanded {
      & > .chi-accordion__content {
        display: block;
      }

      & > .chi-accordion__trigger {
        .icon-chevron-down {
          transform: rotate(180deg);
          transition: transform $animation-duration ease-in-out;
        }
      }
    }
  }

  .chi-accordion__item {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  @each $type in map-keys($sizes) {
    &.-#{$type} {
      .chi-accordion__item {
        font-size: map-get(map-get($sizes, $type), font-size);
        line-height: map-get(map-get($sizes, $type), line-height);

        .chi-accordion__trigger {
          font-size: map-get(map-get($sizes, $type), font-size);
          line-height: map-get(map-get($sizes, $type), line-height);
          padding: map-get(map-get($sizes, $type), padding);

          .chi-accordion__title {
            font-size: map-get(map-get($sizes, $type), font-size);
            line-height: map-get(map-get($sizes, $type), line-height);
          }
        }
      }
    }
  }

  @each $type in map-keys($icon-sizes) {
    &.-#{$type} {
      & .chi-icon {
        font-size: map-get($icon-sizes, $type);
        height: map-get($icon-sizes, $type);
        line-height: map-get($icon-sizes, $type);
        width: map-get($icon-sizes, $type);
      }
    }
  }

  &.-truncated {
    .chi-accordion__title {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &.-portal {
    .chi-accordion__item {
      background-color: $color-grey-10;
      border-bottom: 0;

      .chi-accordion__trigger {
        background-color: $color-grey-10;
        padding: 1.5rem;

        .chi-icon {
          color: $color-icon-primary;
        }
      }

      .chi-accordion__title {
        font-size: $font-size-xl;
        line-height: $line-height-lg;
      }

      .chi-accordion__content {
        padding: 1.5rem;
        padding-top: 0;
      }
    }

    .chi-accordion {
      .chi-accordion__item {
        background-color: $color-background-white;

        .chi-accordion__title {
          font-size: $font-size-lg;
        }
      }

      .chi-accordion__trigger {
        background-color: $color-background-white;
      }

      .chi-accordion {
        .chi-accordion__item,
        .chi-accordion__trigger {
          background-color: $color-grey-10;
        }

        .chi-accordion {
          .chi-accordion__item,
          .chi-accordion__trigger {
            background-color: $color-background-white;
          }
        }
      }
    }

    &.-card {
      .chi-accordion__item {
        margin-bottom: 1.75rem;

        &:not(.-expanded) {
          border-bottom: 0.0625rem solid $color-border-base;
        }

        .chi-accordion__trigger {
          background-color: $color-background-white;
          padding: 0.5rem 0;

          .chi-accordion__title {
            font-size: $font-size-7;
            font-weight: $font-weight-extra-bold;
          }
        }

        .chi-accordion__content {
          padding: 2rem;
        }

        .chi-accordion {
          .chi-accordion__item {
            background-color: $color-background-white;
            border: 0;
            margin-bottom: 0.5rem;

            &:last-child {
              margin-bottom: 0;
            }

            .chi-accordion__title {
              font-size: $font-size-lg;
              font-weight: $font-weight-semi-bold;
            }

            .chi-accordion__content {
              padding: 0 1.5rem 1.5rem;
            }
          }
    
          .chi-accordion__trigger {
            background-color: $color-background-white;
            padding: 1.5rem;
          }
    
          .chi-accordion {
            .chi-accordion__item,
            .chi-accordion__trigger {
              background-color: $color-grey-10;
            }
    
            .chi-accordion {
              .chi-accordion__item,
              .chi-accordion__trigger {
                background-color: $color-background-white;
              }
            }
          }
        }
      }
    }
  }
}
