@import '_variables';
@import '_mixins';

.chi-switch {
  display: flex;
  line-height: $line-height;
  margin: 0.25rem 0;
  position: relative;

  .chi-switch__label {
    align-items: flex-start;
    display: flex;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    line-height: $line-height;
    margin-bottom: 0;
    margin-right: 0.5rem;
    padding: 0.125rem 0;
  }

  .chi-switch__content {
    display: flex;
    flex-direction: column;
    font-size: $font-size-2xs;
    line-height: $line-height;

    & + .chi-switch__label {
      margin-left: 0.5rem;
      margin-right: 0;
    }

    .chi-switch__thumb {
      background-color: $color-grey-50;
      border: 0;
      border-radius: 0.75rem;
      cursor: pointer;
      display: inline-block;
      height: 1.5rem;
      line-height: $line-height-lg;
      margin-bottom: 0;
      margin-right: 0;
      position: relative;
      transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      width: 3rem;

      &::after {
        background-color: $color-background-white;
        border: 0;
        border-radius: 0.75rem;
        content: '';
        display: block;
        height: 1.25rem;
        left: 0.125rem;
        margin: 0;
        opacity: $opacity-100;
        position: absolute;
        top: 0.125rem;
        transition: left 0.2s cubic-bezier(1, 0.38, 0, 1.19) 0.1s;
        width: 1.25rem;
      }
    }
  }

  // sass-lint:disable no-duplicate-properties
  &.-label--hide {
    .chi-switch__label {
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
  }
  // sass-lint:enable no-duplicate-properties

  .chi-switch__input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    pointer-events: auto;
    position: absolute;
    width: 1px;

    &:checked {
      & + .chi-switch__content {
        .chi-switch__thumb {
          background-color: $color-background-primary;

          &::after {
            background-color: $color-background-white;
            border: 0;
            border-radius: 0.75rem;
            content: '';
            display: block;
            height: 1.25rem;
            left: 1.625rem;
            margin: 0;
            opacity: $opacity-100;
            position: absolute;
            top: 0.125rem;
            transition: left 0.2s cubic-bezier(1, 0.38, 0, 1.19) 0.1s;
            width: 1.25rem;
          }
        }
      }
    }

    &:focus,
    &.-focus {
      & + .chi-switch__content {
        .chi-switch__thumb {
          outline: 0.125rem solid $focus-color;
          outline-offset: 0.0625rem;
        }
      }
    }

    &.-disabled,
    &[disabled] {
      & + .chi-switch__content {
        .chi-switch__thumb {
          opacity: $opacity-60;
          pointer-events: none;
        }
      }

      & ~ .chi-switch__label {
        opacity: $opacity-60;
        pointer-events: none;
      }
    }
  }

  &.-xs {
    .chi-switch__content {
      .chi-switch__thumb {
        border-radius: 0.5rem;
        height: 1rem;
        line-height: $line-height-sm;
        width: 2rem;

        &::after {
          border-radius: 0.5rem;
          height: 0.75rem;
          width: 0.75rem;
        }
      }
    }

    .chi-switch__input {
      &:checked {
        & + .chi-switch__content {
          .chi-switch__thumb {
            &::after {
              border-radius: 0.5rem;
              height: 0.75rem;
              left: 1.125rem;
              width: 0.75rem;
            }
          }
        }
      }
    }

    .chi-switch__label {
      line-height: $line-height-sm;
      padding: 0;
    }
  }

  &.-sm {
    .chi-switch__content {
      .chi-switch__thumb {
        border-radius: 0.75rem;
        height: 1.5rem;
        line-height: $line-height-lg;
        width: 3rem;

        &::after {
          border-radius: 0.75rem;
          height: 1.25rem;
          width: 1.25rem;
        }
      }
    }

    .chi-switch__input {
      &:checked {
        & + .chi-switch__content {
          .chi-switch__thumb {
            &::after {
              border-radius: 0.75rem;
              height: 1.25rem;
              left: 1.625rem;
              width: 1.25rem;
            }
          }
        }
      }
    }
  }
}

.chi-form__item {
  &.-row {
    .chi-switch {
      margin-bottom: 0.25rem;
    }
  }

  &.-list {
    .chi-switch {
      .chi-switch__label {
        flex-grow: 1;
      }
    }
  }
}

.chi-label {
  + .chi-switch {
    margin: 0;
  }
}
