@import '../../../../chi/_global-variables';
@import '../../../../chi/themes/portal-rebrand24/_variables';
@import '../../../../chi/_global-mixins';
@import '../../../../chi/themes/portal-rebrand24/_mixins';

.chi {
  @import './header';
  @import './sidenav';
  @import './content';
  @import './introduction';
  @import './code';
}
