---
title: App Layout
---

.chi-grid.-no-gutter.-w--100
  .chi-col.-w--12.-mb--2
    h3 Base
    .test-layout-base.-bg--none.-s--3.-p--0
      .chi-main
        .chi-main__header
          .chi-main__header-start
            .chi-main__title
              .chi-main__title-heading Page Title
        .chi-main__content
          .-d--flex.-align-items--center.-justify-content--center(style='height:10rem;')
            | Page content goes here
        footer.chi-footer
          .chi-footer__content
            .chi-footer__internal
              .chi-footer__internal-content
                .chi-dropdown.chi-footer__language
                  a#language-dropdown-button.chi-button.-icon.-flat.-light.-sm.chi-dropdown__trigger(data-position='top-start' aria-label='Select your preferred language')
                    .chi-button__content
                      i.chi-icon.icon-globe-network-outline(aria-hidden='true')
                      span English
                  .chi-dropdown__menu.-w--sm.-text--body
                    a.chi-dropdown__menu-item.-active(href='#') English
                    a.chi-dropdown__menu-item(href='#') Español
                    a.chi-dropdown__menu-item(href='#') Português
                    a.chi-dropdown__menu-item(href='#') Français
                    a.chi-dropdown__menu-item(href='#') Deutsch
                    a.chi-dropdown__menu-item(href='#') 简体中文
                    a.chi-dropdown__menu-item(href='#') 日本語
                .chi-footer__links
                  ul
                    li
                      a(href='https://www.lumen.com/en-us/about.html') About Us
                    li
                      a(href='https://www.centurylink.com/aboutus/community/community-development/programs-for-customers-with-disabilities.html') Accessibility
                    li
                      a(href='https://jobs.lumen.com' target='_blank') Careers
                    li
                      a(href='https://www.lumen.com/en-us/contact-us.html') Contact Us
                    // OneTrust Cookies Settings button start
                    li
                      a.optanon-toggle-display(href='#') Cookie Settings
                    // OneTrust Cookies Settings button end
                    li
                      a(href='https://www.centurylink.com/aboutus/legal.html' target='_blank') Legal
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/acceptable-use-policy.html' target='_blank') Legal Notices
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/privacy-notice.html') Privacy
                    li
                      a(href='https://www.centurylink.com/aboutus/company-information/public-policy.html' target='_blank') Public Policy
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/commission-for-complaints-for-telecom-television-services-ccts' target='_blank') Support
                    li
                      a(href='https://www.lumen.com/help/en-us/home.html') Canadian Ombudsman
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/gender-pay-gap-report?Creativeid=b565bf28-6d55-4f86-a245-2f0eb40b91a3' target='_blank') Gender Pay Gap 2020 (UK)
                    li
                      a(href='https://www.centurylink.com/aboutus/legal/latam/tariffs-and-regulatory-information.html') Legal (Latin America)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/de-legal-notices.html') Legal Notices (Germany)
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/modern-slavery-statement-1?Creativeid=5dbb9687-e4a8-4a40-ae00-673ce51d6a80' target='_blank') Modern Slavery Statement 2020 (UK)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/uk-tax-strategy.html') UK Tax Strategy
                  .chi-footer__copyright
                    | © 2024 Lumen Technologies. All Rights Reserved. Lumen is a registered trademark in the United States, EU and certain other countries.
  .chi-col.-w--12.-mb--2
    h3 Base with alert
    .test-layout-base-with-alert.-bg--none.-s--3.-p--0
      .chi-main
        .chi-main__alert
          .chi-alert.-info(role='alert')
            i.chi-alert__icon.chi-icon(aria-hidden='true')
              svg(xmlns='http://www.w3.org/2000/svg' xmlnsxlink='http://www.w3.org/1999/xlink' aria-hidden='true')
                use(xlink:href='#icon-circle-info')
            .chi-alert__content
              p.chi-alert__text This is a page level info alert
        .chi-main__header
          .chi-main__header-start
            .chi-main__title
              .chi-main__title-heading Page Title
        .chi-main__content
          .-d--flex.-align-items--center.-justify-content--center(style='height:10rem;')
            | Page content goes here
        footer.chi-footer
          .chi-footer__content
            .chi-footer__internal
              .chi-footer__internal-content
                .chi-dropdown.chi-footer__language
                  a#language-dropdown-button.chi-button.-icon.-flat.-light.-sm.chi-dropdown__trigger(data-position='top-start' aria-label='Select your preferred language')
                    .chi-button__content
                      i.chi-icon.icon-globe-network-outline(aria-hidden='true')
                      span English
                  .chi-dropdown__menu.-w--sm.-text--body
                    a.chi-dropdown__menu-item.-active(href='#') English
                    a.chi-dropdown__menu-item(href='#') Español
                    a.chi-dropdown__menu-item(href='#') Português
                    a.chi-dropdown__menu-item(href='#') Français
                    a.chi-dropdown__menu-item(href='#') Deutsch
                    a.chi-dropdown__menu-item(href='#') 简体中文
                    a.chi-dropdown__menu-item(href='#') 日本語
                .chi-footer__links
                  ul
                    li
                      a(href='https://www.lumen.com/en-us/about.html') About Us
                    li
                      a(href='https://www.centurylink.com/aboutus/community/community-development/programs-for-customers-with-disabilities.html') Accessibility
                    li
                      a(href='https://jobs.lumen.com' target='_blank') Careers
                    li
                      a(href='https://www.lumen.com/en-us/contact-us.html') Contact Us
                    // OneTrust Cookies Settings button start
                    li
                      a.optanon-toggle-display(href='#') Cookie Settings
                    // OneTrust Cookies Settings button end
                    li
                      a(href='https://www.centurylink.com/aboutus/legal.html' target='_blank') Legal
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/acceptable-use-policy.html' target='_blank') Legal Notices
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/privacy-notice.html') Privacy
                    li
                      a(href='https://www.centurylink.com/aboutus/company-information/public-policy.html' target='_blank') Public Policy
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/commission-for-complaints-for-telecom-television-services-ccts' target='_blank') Support
                    li
                      a(href='https://www.lumen.com/help/en-us/home.html') Canadian Ombudsman
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/gender-pay-gap-report?Creativeid=b565bf28-6d55-4f86-a245-2f0eb40b91a3' target='_blank') Gender Pay Gap 2020 (UK)
                    li
                      a(href='https://www.centurylink.com/aboutus/legal/latam/tariffs-and-regulatory-information.html') Legal (Latin America)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/de-legal-notices.html') Legal Notices (Germany)
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/modern-slavery-statement-1?Creativeid=5dbb9687-e4a8-4a40-ae00-673ce51d6a80' target='_blank') Modern Slavery Statement 2020 (UK)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/uk-tax-strategy.html') UK Tax Strategy
                  .chi-footer__copyright
                    | © 2024 Lumen Technologies. All Rights Reserved. Lumen is a registered trademark in the United States, EU and certain other countries.
  .chi-col.-w--12.-mb--2
    h3 Base with back link
    .test-layout-backlink.-bg--none.-s--3.-p--0
      .chi-main
        .chi-main__header
          .chi-main__header-start
            a.chi-link(href='#')
              .chi-link__content
                i.chi-icon.icon-chevron-left.-xs
                span.-text--md Back link
            .chi-main__title
              .chi-main__title-heading Page Title
        .chi-main__content
          .-d--flex.-align-items--center.-justify-content--center(style='height:10rem;')
            | Page content goes here
        footer.chi-footer
          .chi-footer__content
            .chi-footer__internal
              .chi-footer__internal-content
                .chi-dropdown.chi-footer__language
                  a#language-dropdown-button3.chi-button.-icon.-flat.-light.-sm.chi-dropdown__trigger(data-position='top-start' aria-label='Select your preferred language')
                    .chi-button__content
                      i.chi-icon.icon-globe-network-outline
                      span English
                  .chi-dropdown__menu.-w--sm.-text--body
                    a.chi-dropdown__menu-item.-active(href='#') English
                    a.chi-dropdown__menu-item(href='#') Español
                    a.chi-dropdown__menu-item(href='#') Português
                    a.chi-dropdown__menu-item(href='#') Français
                    a.chi-dropdown__menu-item(href='#') Deutsch
                    a.chi-dropdown__menu-item(href='#') 简体中文
                    a.chi-dropdown__menu-item(href='#') 日本語
                .chi-footer__links
                  ul
                    li
                      a(href='https://www.lumen.com/en-us/about.html') About Us
                    li
                      a(href='https://www.centurylink.com/aboutus/community/community-development/programs-for-customers-with-disabilities.html') Accessibility
                    li
                      a(href='https://jobs.lumen.com' target='_blank') Careers
                    li
                      a(href='https://www.lumen.com/en-us/contact-us.html') Contact Us
                    // OneTrust Cookies Settings button start
                    li
                      a.optanon-toggle-display(href='#') Cookie Settings
                    // OneTrust Cookies Settings button end
                    li
                      a(href='https://www.centurylink.com/aboutus/legal.html' target='_blank') Legal
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/acceptable-use-policy.html' target='_blank') Legal Notices
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/privacy-notice.html') Privacy
                    li
                      a(href='https://www.centurylink.com/aboutus/company-information/public-policy.html' target='_blank') Public Policy
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/commission-for-complaints-for-telecom-television-services-ccts' target='_blank') Support
                    li
                      a(href='https://www.lumen.com/help/en-us/home.html') Canadian Ombudsman
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/gender-pay-gap-report?Creativeid=b565bf28-6d55-4f86-a245-2f0eb40b91a3' target='_blank') Gender Pay Gap 2020 (UK)
                    li
                      a(href='https://www.centurylink.com/aboutus/legal/latam/tariffs-and-regulatory-information.html') Legal (Latin America)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/de-legal-notices.html') Legal Notices (Germany)
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/modern-slavery-statement-1?Creativeid=5dbb9687-e4a8-4a40-ae00-673ce51d6a80' target='_blank') Modern Slavery Statement 2020 (UK)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/uk-tax-strategy.html') UK Tax Strategy
                  .chi-footer__copyright
                    | © 2024 Lumen Technologies. All Rights Reserved. Lumen is a registered trademark in the United States, EU and certain other countries.
  .chi-col.-w--12.-mb--2
    h3 Base with back link and subtitle
    .test-layout-backlink-subtitle.-bg--none.-s--3.-p--0
      .chi-main
        .chi-main__header
          .chi-main__header-start
            a.chi-link(href='#')
              .chi-link__content
                i.chi-icon.icon-chevron-left.-xs(aria-hidden='true')
                span.-text--md Back link
            .chi-main__title
              .chi-main__title-heading Page Title
              .chi-main__title-subheading Page subtitle
        .chi-main__content
          .-d--flex.-align-items--center.-justify-content--center(style='height:10rem;')
            | Page content goes here
        footer.chi-footer
          .chi-footer__content
            .chi-footer__internal
              .chi-footer__internal-content
                .chi-dropdown.chi-footer__language
                  a#language-dropdown-button4.chi-button.-icon.-flat.-light.-sm.chi-dropdown__trigger(data-position='top-start' aria-label='Select your preferred language')
                    .chi-button__content
                      i.chi-icon.icon-globe-network-outline(aria-hidden='true')
                      span English
                  .chi-dropdown__menu.-w--sm.-text--body
                    a.chi-dropdown__menu-item.-active(href='#') English
                    a.chi-dropdown__menu-item(href='#') Español
                    a.chi-dropdown__menu-item(href='#') Português
                    a.chi-dropdown__menu-item(href='#') Français
                    a.chi-dropdown__menu-item(href='#') Deutsch
                    a.chi-dropdown__menu-item(href='#') 简体中文
                    a.chi-dropdown__menu-item(href='#') 日本語
                .chi-footer__links
                  ul
                    li
                      a(href='https://www.lumen.com/en-us/about.html') About Us
                    li
                      a(href='https://www.centurylink.com/aboutus/community/community-development/programs-for-customers-with-disabilities.html') Accessibility
                    li
                      a(href='https://jobs.lumen.com' target='_blank') Careers
                    li
                      a(href='https://www.lumen.com/en-us/contact-us.html') Contact Us
                    // OneTrust Cookies Settings button start
                    li
                      a.optanon-toggle-display(href='#') Cookie Settings
                    // OneTrust Cookies Settings button end
                    li
                      a(href='https://www.centurylink.com/aboutus/legal.html' target='_blank') Legal
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/acceptable-use-policy.html' target='_blank') Legal Notices
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/privacy-notice.html') Privacy
                    li
                      a(href='https://www.centurylink.com/aboutus/company-information/public-policy.html' target='_blank') Public Policy
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/commission-for-complaints-for-telecom-television-services-ccts' target='_blank') Support
                    li
                      a(href='https://www.lumen.com/help/en-us/home.html') Canadian Ombudsman
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/gender-pay-gap-report?Creativeid=b565bf28-6d55-4f86-a245-2f0eb40b91a3' target='_blank') Gender Pay Gap 2020 (UK)
                    li
                      a(href='https://www.centurylink.com/aboutus/legal/latam/tariffs-and-regulatory-information.html') Legal (Latin America)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/de-legal-notices.html') Legal Notices (Germany)
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/modern-slavery-statement-1?Creativeid=5dbb9687-e4a8-4a40-ae00-673ce51d6a80' target='_blank') Modern Slavery Statement 2020 (UK)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/uk-tax-strategy.html') UK Tax Strategy
                  .chi-footer__copyright
                    | © 2024 Lumen Technologies. All Rights Reserved. Lumen is a registered trademark in the United States, EU and certain other countries.
  .chi-col.-w--12.-mb--2
    h3 Base with back link, subtitle, and buttons
    .test-layout-backlink-subtitle-buttons.-bg--none.-s--3.-p--0
      .chi-main
        .chi-main__header
          .chi-main__header-start
            a.chi-link(href='#')
              .chi-link__content
                i.chi-icon.icon-chevron-left.-xs(aria-hidden='true')
                span.-text--md Back link
            .chi-main__title
              .chi-main__title-heading Page Title
              .chi-main__title-subheading Page subtitle
          .chi-main__header-end
            button.chi-button.-primary Primary
        .chi-main__content
          .-d--flex.-align-items--center.-justify-content--center(style='height:10rem;')
            | Page content goes here
        footer.chi-footer
          .chi-footer__content
            .chi-footer__internal
              .chi-footer__internal-content
                .chi-dropdown.chi-footer__language
                  a#language-dropdown-button5.chi-button.-icon.-flat.-light.-sm.chi-dropdown__trigger(data-position='top-start' aria-label='Select your preferred language')
                    .chi-button__content
                      i.chi-icon.icon-globe-network-outline(aria-hidden='true')
                      span English
                  .chi-dropdown__menu.-w--sm.-text--body
                    a.chi-dropdown__menu-item.-active(href='#') English
                    a.chi-dropdown__menu-item(href='#') Español
                    a.chi-dropdown__menu-item(href='#') Português
                    a.chi-dropdown__menu-item(href='#') Français
                    a.chi-dropdown__menu-item(href='#') Deutsch
                    a.chi-dropdown__menu-item(href='#') 简体中文
                    a.chi-dropdown__menu-item(href='#') 日本語
                .chi-footer__links
                  ul
                    li
                      a(href='https://www.lumen.com/en-us/about.html') About Us
                    li
                      a(href='https://www.centurylink.com/aboutus/community/community-development/programs-for-customers-with-disabilities.html') Accessibility
                    li
                      a(href='https://jobs.lumen.com' target='_blank') Careers
                    li
                      a(href='https://www.lumen.com/en-us/contact-us.html') Contact Us
                    // OneTrust Cookies Settings button start
                    li
                      a.optanon-toggle-display(href='#') Cookie Settings
                    // OneTrust Cookies Settings button end
                    li
                      a(href='https://www.centurylink.com/aboutus/legal.html' target='_blank') Legal
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/acceptable-use-policy.html' target='_blank') Legal Notices
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/privacy-notice.html') Privacy
                    li
                      a(href='https://www.centurylink.com/aboutus/company-information/public-policy.html' target='_blank') Public Policy
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/commission-for-complaints-for-telecom-television-services-ccts' target='_blank') Support
                    li
                      a(href='https://www.lumen.com/help/en-us/home.html') Canadian Ombudsman
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/gender-pay-gap-report?Creativeid=b565bf28-6d55-4f86-a245-2f0eb40b91a3' target='_blank') Gender Pay Gap 2020 (UK)
                    li
                      a(href='https://www.centurylink.com/aboutus/legal/latam/tariffs-and-regulatory-information.html') Legal (Latin America)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/de-legal-notices.html') Legal Notices (Germany)
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/modern-slavery-statement-1?Creativeid=5dbb9687-e4a8-4a40-ae00-673ce51d6a80' target='_blank') Modern Slavery Statement 2020 (UK)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/uk-tax-strategy.html') UK Tax Strategy
                  .chi-footer__copyright
                    | © 2024 Lumen Technologies. All Rights Reserved. Lumen is a registered trademark in the United States, EU and certain other countries.
  .chi-col.-w--12.-mb--2
    h3 Base with page-level actions
    .test-layout-page-level-actions.-bg--none.-s--3.-p--0
      .chi-main
        .chi-main__header
          .chi-main__header-start
            a.chi-link(href='#')
              .chi-link__content
                i.chi-icon.icon-chevron-left.-xs(aria-hidden='true')
                span.-text--md Back link
            .chi-main__title
              .chi-main__title-heading Page Title
              .chi-main__title-subheading Page subtitle
        .chi-main__content
          .-d--flex.-align-items--center.-justify-content--center(style='height:10rem;')
            | Page content goes here
          .-d--flex.-align-items--center.-justify-content--end.-py--3.-my--2.-bt--1
            button.chi-button.-primary.-outline.-bg--white Cancel
            button.chi-button.-primary.-ml--1 Submit
        footer.chi-footer
          .chi-footer__content
            .chi-footer__internal
              .chi-footer__internal-content
                .chi-dropdown.chi-footer__language
                  a#language-dropdown-button6.chi-button.-icon.-flat.-light.-sm.chi-dropdown__trigger(data-position='top-start' aria-label='Select your preferred language')
                    .chi-button__content
                      i.chi-icon.icon-globe-network-outline(aria-hidden='true')
                      span English
                  .chi-dropdown__menu.-w--sm.-text--body
                    a.chi-dropdown__menu-item.-active(href='#') English
                    a.chi-dropdown__menu-item(href='#') Español
                    a.chi-dropdown__menu-item(href='#') Português
                    a.chi-dropdown__menu-item(href='#') Français
                    a.chi-dropdown__menu-item(href='#') Deutsch
                    a.chi-dropdown__menu-item(href='#') 简体中文
                    a.chi-dropdown__menu-item(href='#') 日本語
                .chi-footer__links
                  ul
                    li
                      a(href='https://www.lumen.com/en-us/about.html') About Us
                    li
                      a(href='https://www.centurylink.com/aboutus/community/community-development/programs-for-customers-with-disabilities.html') Accessibility
                    li
                      a(href='https://jobs.lumen.com' target='_blank') Careers
                    li
                      a(href='https://www.lumen.com/en-us/contact-us.html') Contact Us
                    // OneTrust Cookies Settings button start
                    li
                      a.optanon-toggle-display(href='#') Cookie Settings
                    // OneTrust Cookies Settings button end
                    li
                      a(href='https://www.centurylink.com/aboutus/legal.html' target='_blank') Legal
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/acceptable-use-policy.html' target='_blank') Legal Notices
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/privacy-notice.html') Privacy
                    li
                      a(href='https://www.centurylink.com/aboutus/company-information/public-policy.html' target='_blank') Public Policy
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/commission-for-complaints-for-telecom-television-services-ccts' target='_blank') Support
                    li
                      a(href='https://www.lumen.com/help/en-us/home.html') Canadian Ombudsman
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/gender-pay-gap-report?Creativeid=b565bf28-6d55-4f86-a245-2f0eb40b91a3' target='_blank') Gender Pay Gap 2020 (UK)
                    li
                      a(href='https://www.centurylink.com/aboutus/legal/latam/tariffs-and-regulatory-information.html') Legal (Latin America)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/de-legal-notices.html') Legal Notices (Germany)
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/modern-slavery-statement-1?Creativeid=5dbb9687-e4a8-4a40-ae00-673ce51d6a80' target='_blank') Modern Slavery Statement 2020 (UK)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/uk-tax-strategy.html') UK Tax Strategy
                  .chi-footer__copyright
                    | © 2024 Lumen Technologies. All Rights Reserved. Lumen is a registered trademark in the United States, EU and certain other countries.
  .chi-col.-w--12.-mb--2
    h3 No Margin
    .test-layout-no-margin.-bg--none.-s--3.-position--relative.-p--0
      .chi-main.-no-margin
        .chi-main__header
          .chi-main__header-start
            .chi-main__title
              .chi-main__title-heading
                | Page Title
                button.chi-button.-flat.-icon.-sm(aria-label='Help')
                  .chi-button__content
                    .chi-icon
                      svg(xmlns='http://www.w3.org/2000/svg' xmlnsxlink='http://www.w3.org/1999/xlink' aria-hidden='true')
                        use(xlink:href='#icon-circle-question-outline')
          .chi-main__header-end
            button.chi-button.-xs
              .chi-button__content
                .chi-icon
                  svg(xmlns='http://www.w3.org/2000/svg' xmlnsxlink='http://www.w3.org/1999/xlink' aria-hidden='true')
                    use(xlink:href='#icon-settings')
                span Customize
        .chi-main__content
          .chi-grid
            .chi-col.-w--12.-w-lg--6.-w-xl--4
              .chi-card.-highlight.-widget.-mb--3
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content(style='height:10rem;') Content here
            .chi-col.-w--12.-w-lg--6.-w-xl--4
              .chi-card.-widget.-mb--3
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content(style='height:10rem;') Content here
            .chi-col.-w--12.-w-lg--6.-w-xl--4
              .chi-card.-widget.-mb--3
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content(style='height:10rem;') Content here
            .chi-col.-w--12.-w-lg--6.-w-xl--4
              .chi-card.-widget.-mb--3
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content(style='height:10rem;') Content here
            .chi-col.-w--12.-w-lg--6.-w-xl--4
              .chi-card.-widget.-mb--3
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content(style='height:10rem;') Content here
            .chi-col.-w--12.-w-lg--6.-w-xl--4
              .chi-card.-widget.-mb--3
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content(style='height:10rem;') Content here
        footer.chi-footer
          .chi-footer__content
            .chi-footer__internal
              .chi-footer__internal-content
                .chi-dropdown.chi-footer__language
                  a#language-dropdown-button7.chi-button.-icon.-flat.-light.-sm.chi-dropdown__trigger(data-position='top-start' aria-label='Select your preferred language')
                    .chi-button__content
                      i.chi-icon.icon-globe-network-outline
                      span English
                  .chi-dropdown__menu.-w--sm.-text--body
                    a.chi-dropdown__menu-item.-active(href='#') English
                    a.chi-dropdown__menu-item(href='#') Español
                    a.chi-dropdown__menu-item(href='#') Português
                    a.chi-dropdown__menu-item(href='#') Français
                    a.chi-dropdown__menu-item(href='#') Deutsch
                    a.chi-dropdown__menu-item(href='#') 简体中文
                    a.chi-dropdown__menu-item(href='#') 日本語
                .chi-footer__links
                  ul
                    li
                      a(href='https://www.lumen.com/en-us/about.html') About Us
                    li
                      a(href='https://www.centurylink.com/aboutus/community/community-development/programs-for-customers-with-disabilities.html') Accessibility
                    li
                      a(href='https://jobs.lumen.com' target='_blank') Careers
                    li
                      a(href='https://www.lumen.com/en-us/contact-us.html') Contact Us
                    // OneTrust Cookies Settings button start
                    li
                      a.optanon-toggle-display(href='#') Cookie Settings
                    // OneTrust Cookies Settings button end
                    li
                      a(href='https://www.centurylink.com/aboutus/legal.html' target='_blank') Legal
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/acceptable-use-policy.html' target='_blank') Legal Notices
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/privacy-notice.html') Privacy
                    li
                      a(href='https://www.centurylink.com/aboutus/company-information/public-policy.html' target='_blank') Public Policy
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/commission-for-complaints-for-telecom-television-services-ccts' target='_blank') Support
                    li
                      a(href='https://www.lumen.com/help/en-us/home.html') Canadian Ombudsman
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/gender-pay-gap-report?Creativeid=b565bf28-6d55-4f86-a245-2f0eb40b91a3' target='_blank') Gender Pay Gap 2020 (UK)
                    li
                      a(href='https://www.centurylink.com/aboutus/legal/latam/tariffs-and-regulatory-information.html') Legal (Latin America)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/de-legal-notices.html') Legal Notices (Germany)
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/modern-slavery-statement-1?Creativeid=5dbb9687-e4a8-4a40-ae00-673ce51d6a80' target='_blank') Modern Slavery Statement 2020 (UK)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/uk-tax-strategy.html') UK Tax Strategy
                  .chi-footer__copyright
                    | © 2024 Lumen Technologies. All Rights Reserved. Lumen is a registered trademark in the United States, EU and certain other countries.
  .chi-col.-w--12.-mb--2
    h3 Fixed width
    .test-layout-fixed-width.-bg--none.-s--3.-position--relative.-p--0
      .chi-main.-fixed-width
        .chi-main__header
          .chi-main__header-start
            .chi-main__title
              .chi-main__title-heading
                | Page Title
                button.chi-button.-flat.-icon.-sm(aria-label='Help')
                  .chi-button__content
                    .chi-icon
                      svg(xmlns='http://www.w3.org/2000/svg' xmlnsxlink='http://www.w3.org/1999/xlink' aria-hidden='true')
                        use(xlink:href='#icon-circle-question-outline')
          .chi-main__header-end
            button.chi-button.-xs
              .chi-button__content
                .chi-icon
                  svg(xmlns='http://www.w3.org/2000/svg' xmlnsxlink='http://www.w3.org/1999/xlink' aria-hidden='true')
                    use(xlink:href='#icon-settings')
                span Customize
        .chi-main__content
          .chi-grid
            .chi-col.-w--12.-w-lg--6.-w-xl--4
              .chi-card.-highlight.-widget.-mb--3
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content(style='height:10rem;') Content here
            .chi-col.-w--12.-w-lg--6.-w-xl--4
              .chi-card.-widget.-mb--3
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content(style='height:10rem;') Content here
            .chi-col.-w--12.-w-lg--6.-w-xl--4
              .chi-card.-widget.-mb--3
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content(style='height:10rem;') Content here
            .chi-col.-w--12.-w-lg--6.-w-xl--4
              .chi-card.-widget.-mb--3
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content(style='height:10rem;') Content here
            .chi-col.-w--12.-w-lg--6.-w-xl--4
              .chi-card.-widget.-mb--3
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content(style='height:10rem;') Content here
            .chi-col.-w--12.-w-lg--6.-w-xl--4
              .chi-card.-widget.-mb--3
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content(style='height:10rem;') Content here
        footer.chi-footer
          .chi-footer__content
            .chi-footer__internal
              .chi-footer__internal-content
                .chi-dropdown.chi-footer__language
                  a#language-dropdown-button7.chi-button.-icon.-flat.-light.-sm.chi-dropdown__trigger(data-position='top-start' aria-label='Select your preferred language')
                    .chi-button__content
                      i.chi-icon.icon-globe-network-outline
                      span English
                  .chi-dropdown__menu.-w--sm.-text--body
                    a.chi-dropdown__menu-item.-active(href='#') English
                    a.chi-dropdown__menu-item(href='#') Español
                    a.chi-dropdown__menu-item(href='#') Português
                    a.chi-dropdown__menu-item(href='#') Français
                    a.chi-dropdown__menu-item(href='#') Deutsch
                    a.chi-dropdown__menu-item(href='#') 简体中文
                    a.chi-dropdown__menu-item(href='#') 日本語
                .chi-footer__links
                  ul
                    li
                      a(href='https://www.lumen.com/en-us/about.html') About Us
                    li
                      a(href='https://www.centurylink.com/aboutus/community/community-development/programs-for-customers-with-disabilities.html') Accessibility
                    li
                      a(href='https://jobs.lumen.com' target='_blank') Careers
                    li
                      a(href='https://www.lumen.com/en-us/contact-us.html') Contact Us
                    // OneTrust Cookies Settings button start
                    li
                      a.optanon-toggle-display(href='#') Cookie Settings
                    // OneTrust Cookies Settings button end
                    li
                      a(href='https://www.centurylink.com/aboutus/legal.html' target='_blank') Legal
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/acceptable-use-policy.html' target='_blank') Legal Notices
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/privacy-notice.html') Privacy
                    li
                      a(href='https://www.centurylink.com/aboutus/company-information/public-policy.html' target='_blank') Public Policy
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/commission-for-complaints-for-telecom-television-services-ccts' target='_blank') Support
                    li
                      a(href='https://www.lumen.com/help/en-us/home.html') Canadian Ombudsman
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/gender-pay-gap-report?Creativeid=b565bf28-6d55-4f86-a245-2f0eb40b91a3' target='_blank') Gender Pay Gap 2020 (UK)
                    li
                      a(href='https://www.centurylink.com/aboutus/legal/latam/tariffs-and-regulatory-information.html') Legal (Latin America)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/de-legal-notices.html') Legal Notices (Germany)
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/modern-slavery-statement-1?Creativeid=5dbb9687-e4a8-4a40-ae00-673ce51d6a80' target='_blank') Modern Slavery Statement 2020 (UK)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/uk-tax-strategy.html') UK Tax Strategy
                  .chi-footer__copyright
                    | © 2024 Lumen Technologies. All Rights Reserved. Lumen is a registered trademark in the United States, EU and certain other countries.
  .chi-col.-w--12.-mb--2
    h3 Fixed width with header background
    .test-layout-fixed-width-header-background.-bg--none.-s--3.-position--relative.-p--0
      .chi-main.-fixed-width.-header-background
        .chi-main__background
          .chi-main__background-image
        .chi-main__header
          .chi-main__header-start
            .chi-main__title
              .chi-main__title-heading
                | Page Title
                button.chi-button.-flat.-icon.-sm(aria-label='Help')
                  .chi-button__content
                    .chi-icon
                      svg(xmlns='http://www.w3.org/2000/svg' xmlnsxlink='http://www.w3.org/1999/xlink' aria-hidden='true')
                        use(xlink:href='#icon-circle-question-outline')
          .chi-main__header-end
            button.chi-button.-xs
              .chi-button__content
                .chi-icon
                  svg(xmlns='http://www.w3.org/2000/svg' xmlnsxlink='http://www.w3.org/1999/xlink' aria-hidden='true')
                    use(xlink:href='#icon-settings')
                span Customize
        .chi-main__content
          .chi-grid
            .chi-col.-w--12.-w-lg--6.-w-xl--4
              .chi-card.-highlight.-widget.-mb--3
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content(style='height:10rem;') Content here
            .chi-col.-w--12.-w-lg--6.-w-xl--4
              .chi-card.-widget.-mb--3
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content(style='height:10rem;') Content here
            .chi-col.-w--12.-w-lg--6.-w-xl--4
              .chi-card.-widget.-mb--3
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content(style='height:10rem;') Content here
            .chi-col.-w--12.-w-lg--6.-w-xl--4
              .chi-card.-widget.-mb--3
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content(style='height:10rem;') Content here
            .chi-col.-w--12.-w-lg--6.-w-xl--4
              .chi-card.-widget.-mb--3
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content(style='height:10rem;') Content here
            .chi-col.-w--12.-w-lg--6.-w-xl--4
              .chi-card.-widget.-mb--3
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content(style='height:10rem;') Content here
        footer.chi-footer
          .chi-footer__content
            .chi-footer__internal
              .chi-footer__internal-content
                .chi-dropdown.chi-footer__language
                  a#language-dropdown-button8.chi-button.-icon.-flat.-light.-sm.chi-dropdown__trigger(data-position='top-start' aria-label='Select your preferred language')
                    .chi-button__content
                      i.chi-icon.icon-globe-network-outline
                      span English
                  .chi-dropdown__menu.-w--sm.-text--body
                    a.chi-dropdown__menu-item.-active(href='#') English
                    a.chi-dropdown__menu-item(href='#') Español
                    a.chi-dropdown__menu-item(href='#') Português
                    a.chi-dropdown__menu-item(href='#') Français
                    a.chi-dropdown__menu-item(href='#') Deutsch
                    a.chi-dropdown__menu-item(href='#') 简体中文
                    a.chi-dropdown__menu-item(href='#') 日本語
                .chi-footer__links
                  ul
                    li
                      a(href='https://www.lumen.com/en-us/about.html') About Us
                    li
                      a(href='https://www.centurylink.com/aboutus/community/community-development/programs-for-customers-with-disabilities.html') Accessibility
                    li
                      a(href='https://jobs.lumen.com' target='_blank') Careers
                    li
                      a(href='https://www.lumen.com/en-us/contact-us.html') Contact Us
                    // OneTrust Cookies Settings button start
                    li
                      a.optanon-toggle-display(href='#') Cookie Settings
                    // OneTrust Cookies Settings button end
                    li
                      a(href='https://www.centurylink.com/aboutus/legal.html' target='_blank') Legal
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/acceptable-use-policy.html' target='_blank') Legal Notices
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/privacy-notice.html') Privacy
                    li
                      a(href='https://www.centurylink.com/aboutus/company-information/public-policy.html' target='_blank') Public Policy
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/commission-for-complaints-for-telecom-television-services-ccts' target='_blank') Support
                    li
                      a(href='https://www.lumen.com/help/en-us/home.html') Canadian Ombudsman
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/gender-pay-gap-report?Creativeid=b565bf28-6d55-4f86-a245-2f0eb40b91a3' target='_blank') Gender Pay Gap 2020 (UK)
                    li
                      a(href='https://www.centurylink.com/aboutus/legal/latam/tariffs-and-regulatory-information.html') Legal (Latin America)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/de-legal-notices.html') Legal Notices (Germany)
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/modern-slavery-statement-1?Creativeid=5dbb9687-e4a8-4a40-ae00-673ce51d6a80' target='_blank') Modern Slavery Statement 2020 (UK)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/uk-tax-strategy.html') UK Tax Strategy
                  .chi-footer__copyright
                    | © 2024 Lumen Technologies. All Rights Reserved. Lumen is a registered trademark in the United States, EU and certain other countries.
  .chi-col.-w--12.-mb--2
    h3 Fixed width with header background and CSS grid
    .test-layout-fixed-width-header-background-css-grid.-bg--none.-s--3.-position--relative.-p--0
      .chi-main.-fixed-width.-header-background
        .chi-main__background
          .chi-main__background-image
        .chi-main__header
          .chi-main__header-start
            .chi-main__title
              .chi-main__title-heading
                | Page Title
                button.chi-button.-flat.-icon.-sm(aria-label='Help')
                  .chi-button__content
                    .chi-icon
                      svg(xmlns='http://www.w3.org/2000/svg' xmlnsxlink='http://www.w3.org/1999/xlink' aria-hidden='true')
                        use(xlink:href='#icon-circle-question-outline')
          .chi-main__header-end
            button.chi-button.-xs
              .chi-button__content
                .chi-icon
                  svg(xmlns='http://www.w3.org/2000/svg' xmlnsxlink='http://www.w3.org/1999/xlink' aria-hidden='true')
                    use(xlink:href='#icon-settings')
                span Customize
        .chi-main__content
          .chi-css-grid.-grid-rows--176
            .chi-css-col.-col-lg--6.-col-xl--4.-row--2
              .chi-card.-highlight.-widget.-h--100
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content Content here
            .chi-css-col.-col-lg--6.-col-xl--4
              .chi-card.-widget.-h--100
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content Content here
            .chi-css-col.-col-lg--6.-col-xl--4
              .chi-card.-widget.-h--100
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content
                  ul.chi-css-grid.-gap--05.-no-style.-m--0
                    li.chi-css-col.-col-sm--6
                      a.chi-link(href='#') Widget Link
                    li.chi-css-col.-col-sm--6
                      a.chi-link(href='#') Widget Link
                    li.chi-css-col.-col-sm--6
                      a.chi-link(href='#') Widget Link
                    li.chi-css-col.-col-sm--6
                      a.chi-link(href='#') Widget Link
                    li.chi-css-col.-col-sm--6
                      a.chi-link(href='#') Widget Link
                    li.chi-css-col.-col-sm--6
                      a.chi-link(href='#') Widget Link
                    li.chi-css-col.-col-sm--6
                      a.chi-link(href='#') Widget Link
                    li.chi-css-col.-col-sm--6
                      a.chi-link(href='#') Widget Link
            .chi-css-col.-col-lg--6.-col-xl--4
              .chi-card.-widget.-h--100
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content Content here
            .chi-css-col.-col-lg--6.-col-xl--4.-row--2
              .chi-card.-widget.-h--100
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content Content here
            .chi-css-col.-col-lg--6.-col-xl--4.-row--2
              .chi-card.-widget.-h--100
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content Content here
            .chi-css-col.-col-lg--6.-col-xl--4
              .chi-card.-widget.-h--100
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content Content here
            .chi-css-col.-col-lg--6.-col-xl--4.-row--2
              .chi-card.-widget.-h--100
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content Content here
            .chi-css-col.-col-lg--6.-col-xl--4.-row--2
              .chi-card.-widget.-h--100
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content Content here
            .chi-css-col.-col-lg--6.-col-xl--4
              .chi-card.-widget.-h--100
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content Content here
        footer.chi-footer
          .chi-footer__content
            .chi-footer__internal
              .chi-footer__internal-content
                .chi-dropdown.chi-footer__language
                  a#language-dropdown-button8.chi-button.-icon.-flat.-light.-sm.chi-dropdown__trigger(data-position='top-start' aria-label='Select your preferred language')
                    .chi-button__content
                      i.chi-icon.icon-globe-network-outline
                      span English
                  .chi-dropdown__menu.-w--sm.-text--body
                    a.chi-dropdown__menu-item.-active(href='#') English
                    a.chi-dropdown__menu-item(href='#') Español
                    a.chi-dropdown__menu-item(href='#') Português
                    a.chi-dropdown__menu-item(href='#') Français
                    a.chi-dropdown__menu-item(href='#') Deutsch
                    a.chi-dropdown__menu-item(href='#') 简体中文
                    a.chi-dropdown__menu-item(href='#') 日本語
                .chi-footer__links
                  ul
                    li
                      a(href='https://www.lumen.com/en-us/about.html') About Us
                    li
                      a(href='https://www.centurylink.com/aboutus/community/community-development/programs-for-customers-with-disabilities.html') Accessibility
                    li
                      a(href='https://jobs.lumen.com' target='_blank') Careers
                    li
                      a(href='https://www.lumen.com/en-us/contact-us.html') Contact Us
                    // OneTrust Cookies Settings button start
                    li
                      a.optanon-toggle-display(href='#') Cookie Settings
                    // OneTrust Cookies Settings button end
                    li
                      a(href='https://www.centurylink.com/aboutus/legal.html' target='_blank') Legal
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/acceptable-use-policy.html' target='_blank') Legal Notices
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/privacy-notice.html') Privacy
                    li
                      a(href='https://www.centurylink.com/aboutus/company-information/public-policy.html' target='_blank') Public Policy
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/commission-for-complaints-for-telecom-television-services-ccts' target='_blank') Support
                    li
                      a(href='https://www.lumen.com/help/en-us/home.html') Canadian Ombudsman
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/gender-pay-gap-report?Creativeid=b565bf28-6d55-4f86-a245-2f0eb40b91a3' target='_blank') Gender Pay Gap 2020 (UK)
                    li
                      a(href='https://www.centurylink.com/aboutus/legal/latam/tariffs-and-regulatory-information.html') Legal (Latin America)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/de-legal-notices.html') Legal Notices (Germany)
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/modern-slavery-statement-1?Creativeid=5dbb9687-e4a8-4a40-ae00-673ce51d6a80' target='_blank') Modern Slavery Statement 2020 (UK)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/uk-tax-strategy.html') UK Tax Strategy
                  .chi-footer__copyright
                    | © 2024 Lumen Technologies. All Rights Reserved. Lumen is a registered trademark in the United States, EU and certain other countries.
  .chi-col.-w--12.-mb--2
    h3 Fixed width with alert, header background and CSS grid
    .test-layout-fixed-width-alert-header-background-css-grid.-bg--none.-s--3.-position--relative.-p--0
      .chi-main.-fixed-width.-header-background
        .chi-main__background
          .chi-main__background-image
        .chi-main__alert
          .chi-alert.-info(role='alert')
            i.chi-alert__icon.chi-icon.icon-circle-info(aria-hidden='true')
            .chi-alert__content
              p.chi-alert__text This is a page level info alert
        .chi-main__header
          .chi-main__header-start
            .chi-main__title
              .chi-main__title-heading
                | Page Title
                button.chi-button.-flat.-icon.-sm(aria-label='Help')
                  .chi-button__content
                    .chi-icon
                      svg(xmlns='http://www.w3.org/2000/svg' xmlnsxlink='http://www.w3.org/1999/xlink' aria-hidden='true')
                        use(xlink:href='#icon-circle-question-outline')
          .chi-main__header-end
            button.chi-button.-xs
              .chi-button__content
                .chi-icon
                  svg(xmlns='http://www.w3.org/2000/svg' xmlnsxlink='http://www.w3.org/1999/xlink' aria-hidden='true')
                    use(xlink:href='#icon-settings')
                span Customize
        .chi-main__content
          .chi-css-grid.-grid-rows--176
            .chi-css-col.-col-lg--6.-col-xl--4.-row--2
              .chi-card.-highlight.-widget.-h--100
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content Content here
            .chi-css-col.-col-lg--6.-col-xl--4
              .chi-card.-widget.-h--100
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content Content here
            .chi-css-col.-col-lg--6.-col-xl--4
              .chi-card.-widget.-h--100
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content
                  ul.chi-css-grid.-gap--05.-no-style.-m--0
                    li.chi-css-col.-col-sm--6
                      a.chi-link(href='#') Widget Link
                    li.chi-css-col.-col-sm--6
                      a.chi-link(href='#') Widget Link
                    li.chi-css-col.-col-sm--6
                      a.chi-link(href='#') Widget Link
                    li.chi-css-col.-col-sm--6
                      a.chi-link(href='#') Widget Link
                    li.chi-css-col.-col-sm--6
                      a.chi-link(href='#') Widget Link
                    li.chi-css-col.-col-sm--6
                      a.chi-link(href='#') Widget Link
                    li.chi-css-col.-col-sm--6
                      a.chi-link(href='#') Widget Link
                    li.chi-css-col.-col-sm--6
                      a.chi-link(href='#') Widget Link
            .chi-css-col.-col-lg--6.-col-xl--4
              .chi-card.-widget.-h--100
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content Content here
            .chi-css-col.-col-lg--6.-col-xl--4.-row--2
              .chi-card.-widget.-h--100
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content Content here
            .chi-css-col.-col-lg--6.-col-xl--4.-row--2
              .chi-card.-widget.-h--100
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content Content here
            .chi-css-col.-col-lg--6.-col-xl--4
              .chi-card.-widget.-h--100
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content Content here
            .chi-css-col.-col-lg--6.-col-xl--4.-row--2
              .chi-card.-widget.-h--100
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content Content here
            .chi-css-col.-col-lg--6.-col-xl--4.-row--2
              .chi-card.-widget.-h--100
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content Content here
            .chi-css-col.-col-lg--6.-col-xl--4
              .chi-card.-widget.-h--100
                .chi-card__header
                  .chi-card__title Widget
                  a.chi-link.-md.-cta(href='#') View
                .chi-card__content Content here
        footer.chi-footer
          .chi-footer__content
            .chi-footer__internal
              .chi-footer__internal-content
                .chi-dropdown.chi-footer__language
                  a#language-dropdown-button8.chi-button.-icon.-flat.-light.-sm.chi-dropdown__trigger(data-position='top-start' aria-label='Select your preferred language')
                    .chi-button__content
                      i.chi-icon.icon-globe-network-outline
                      span English
                  .chi-dropdown__menu.-w--sm.-text--body
                    a.chi-dropdown__menu-item.-active(href='#') English
                    a.chi-dropdown__menu-item(href='#') Español
                    a.chi-dropdown__menu-item(href='#') Português
                    a.chi-dropdown__menu-item(href='#') Français
                    a.chi-dropdown__menu-item(href='#') Deutsch
                    a.chi-dropdown__menu-item(href='#') 简体中文
                    a.chi-dropdown__menu-item(href='#') 日本語
                .chi-footer__links
                  ul
                    li
                      a(href='https://www.lumen.com/en-us/about.html') About Us
                    li
                      a(href='https://www.centurylink.com/aboutus/community/community-development/programs-for-customers-with-disabilities.html') Accessibility
                    li
                      a(href='https://jobs.lumen.com' target='_blank') Careers
                    li
                      a(href='https://www.lumen.com/en-us/contact-us.html') Contact Us
                    // OneTrust Cookies Settings button start
                    li
                      a.optanon-toggle-display(href='#') Cookie Settings
                    // OneTrust Cookies Settings button end
                    li
                      a(href='https://www.centurylink.com/aboutus/legal.html' target='_blank') Legal
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/acceptable-use-policy.html' target='_blank') Legal Notices
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/privacy-notice.html') Privacy
                    li
                      a(href='https://www.centurylink.com/aboutus/company-information/public-policy.html' target='_blank') Public Policy
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/commission-for-complaints-for-telecom-television-services-ccts' target='_blank') Support
                    li
                      a(href='https://www.lumen.com/help/en-us/home.html') Canadian Ombudsman
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/gender-pay-gap-report?Creativeid=b565bf28-6d55-4f86-a245-2f0eb40b91a3' target='_blank') Gender Pay Gap 2020 (UK)
                    li
                      a(href='https://www.centurylink.com/aboutus/legal/latam/tariffs-and-regulatory-information.html') Legal (Latin America)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/de-legal-notices.html') Legal Notices (Germany)
                    li
                      a(href='https://assets.lumen.com/is/content/Lumen/modern-slavery-statement-1?Creativeid=5dbb9687-e4a8-4a40-ae00-673ce51d6a80' target='_blank') Modern Slavery Statement 2020 (UK)
                    li
                      a(href='https://www.lumen.com/en-us/about/legal/uk-tax-strategy.html') UK Tax Strategy
                  .chi-footer__copyright
                    | © 2024 Lumen Technologies. All Rights Reserved. Lumen is a registered trademark in the United States, EU and certain other countries.

