---
title: Breadcrumb
---

h4 Base
.test-base
  .example
    .-p--3
      nav.chi-breadcrumb.-text(aria-label="Breadcrumb")
        ol
          li.chi-breadcrumb__item
            a(href='#') Parent
          li.chi-breadcrumb__item
            a(href='#') Child 1
          li.chi-breadcrumb__item.-active
            a(href='#',aria-current="page") Child 2

h4 Alternative Separator
.test-alternative-separator
  .example
    .-p--3
      nav.chi-breadcrumb.-alt.-text(aria-label="Breadcrumb")
        ol
          li.chi-breadcrumb__item
            a(href='#') Parent
          li.chi-breadcrumb__item
            a(href='#') Child 1
          li.chi-breadcrumb__item.-active
            a(href='#',aria-current="page") Child 2

h4 Sizes
.test-sizes
  table(cellpadding="0", cellspacing="0", width="600px")
    each size in ['small', 'smaller', 'large', 'larger']
      tr
        td
          h5= `-text--${size}`
          td
            .-m--1
              nav(class=`chi-breadcrumb -text--${size}`,aria-label="Breadcrumb")
                ol
                  li.chi-breadcrumb__item
                    a(href='#') Parent
                  li.chi-breadcrumb__item
                    a(href='#') Child 1
                  li.chi-breadcrumb__item.-active
                    a(href='#',aria-current="page") Child 2
    each size in ['small', 'smaller', 'large', 'larger']
      tr
        td
          h5= `-text--${size}`
          td
            .-m--1
              nav(class=`chi-breadcrumb -alt -text--${size}`,aria-label="Breadcrumb")
                ol
                  li.chi-breadcrumb__item
                    a(href='#') Parent
                  li.chi-breadcrumb__item
                    a(href='#') Child 1
                  li.chi-breadcrumb__item.-active
                    a(href='#',aria-current="page") Child 2
