---
title: Breadcrumb
---

h4 Base
.example.-mb3
  .-p3
    nav.a-breadcrumb.-text(aria-label="Breadcrumb")
      ol
        li.a-breadcrumb__item
          a(href='#') Parent
        li.a-breadcrumb__item
          a(href='#') Child 1
        li.a-breadcrumb__item.-active
          a(href='#',aria-current="page") Child 2
h4 Alternative Separator
.example.-mb3
  .-p3
    nav.a-breadcrumb.-alt.-text(aria-label="Breadcrumb")
      ol
        li.a-breadcrumb__item
          a(href='#') Parent
        li.a-breadcrumb__item
          a(href='#') Child 1
        li.a-breadcrumb__item.-active
          a(href='#',aria-current="page") Child 2

h2 Sizes
.test-sizes
  table(cellpadding="0", cellspacing="0", width="600px")
    each size in ['Small', 'Smaller', 'Large', 'Larger']
      tr
        td
          h5= `-text${size}`
          td
            .-m1
              nav(class=`a-breadcrumb -text${size}`,aria-label="Breadcrumb")
                ol
                  li.a-breadcrumb__item
                    a(href='#') Parent
                  li.a-breadcrumb__item
                    a(href='#') Child 1
                  li.a-breadcrumb__item.-active
                    a(href='#',aria-current="page") Child 2
    each size in ['Small', 'Smaller', 'Large', 'Larger']
      tr
        td
          h5= `-text${size}`
          td
            .-m1
              nav(class=`a-breadcrumb -alt -text${size}`,aria-label="Breadcrumb")
                ol
                  li.a-breadcrumb__item
                    a(href='#') Parent
                  li.a-breadcrumb__item
                    a(href='#') Child 1
                  li.a-breadcrumb__item.-active
                    a(href='#',aria-current="page") Child 2
