---
title: Card
---

.test-card
  h3 Base
  .a-card(style="width: 20rem")
    .a-card__content
      p.-text.-m--0 This is a card
.test-card-titled
  h3 Titled
  .a-card(style="width: 20rem")
    .a-card__content
      .a-card__title Title
      p.-text.-m--0 This is a card
.test-card-content
  h3 Titled with content
  .a-card(style="width: 20rem")
    .a-card__content
      .a-card__title Title
      p.-text.-mt--0
        | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
        | Ut felis magna, facilisis ut malesuada nec.
      button.a-btn.-primary Link
.test-card-content-with-icon
  h3 Titled with content and icon
  .a-card(style="width:10rem;")
    .a-card__content.-d--flex.-flex--column.-justify-content--center.-align-items--center.-text--center
      .a-card__title Title
      i.a-icon.-sm--3.-text--grey(class ='icon-atom')
      p.-text--small.-mb--0.-mt--1 4 Running
      p.-text--smaller.-m--0.-text--grey 6 Pending
.test-card-hero
  h3 Hero
  .a-card(style="width: 20rem")
    .a-card__hero.-text--inverse(style="width: 100%;background:rgba(0,0,0,.8);")
      p.-text.-p--6.-text--center Hero Image
    .a-card__content
      p.-text.-m--0
        | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
        | Ut felis magna, facilisis ut malesuada nec, ultrices in turpis.
        | Donec sit amet consectetur elit.
.test-card-footer
  h3 Footer
  .a-card(style="width: 20rem")
    .a-card__content
      p.-text.-m--0
        | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
        | Ut felis magna, facilisis ut malesuada nec.
    .a-card__footer
      button.a-btn.-primary Link
      button.a-btn.-ml--1 Link
.test-card-footer-right
  h3 Footer Right Aligned
  .a-card(style="width: 20rem")
    .a-card__content
      p.-text.-m--0
        | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
        | Ut felis magna, facilisis ut malesuada nec.
    .a-card__footer.-align--right
      button.a-btn Link
      button.a-btn.-primary.-ml--1 Link
.test-card-footer-center
  h3 Footer Center Aligned
  .a-card(style="width: 20rem")
    .a-card__content
      p.-text.-m--0
        | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
        | Ut felis magna, facilisis ut malesuada nec.
    .a-card__footer.-align--center
      button.a-btn.-primary Link
.test-card-footer-noborder
  h3 Footer No Border
  .a-card(style="width: 20rem")
    .a-card__content
      p.-text.-m--0
        | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
        | Ut felis magna, facilisis ut malesuada nec.
    .a-card__footer.-noBorder
      button.a-btn.-primary Link
.test-card-footer-small
  h3 Footer Small
  .a-card(style="width: 20rem")
    .a-card__content
      p.-text.-m--0
        | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
        | Ut felis magna, facilisis ut malesuada nec.
    .a-card__footer.-sm
      a(href="#") Link
.test-card-header
  h3 Header
  .a-card(style="width: 20rem")
    .a-card__header
      .a-card__title Title
    .a-card__content
      p.-text.-m--0 This is a card with a header
.test-card-header-right
  h3 Header Right Aligned
  .a-card(style="width: 20rem")
    .a-card__header.-align--right
      .a-card__title Title
    .a-card__content
      p.-text.-m--0 This is a card with a header
.test-card-header-center
  h3 Header Center Aligned
  .a-card(style="width: 20rem")
    .a-card__header.-align--center
      .a-card__title Title
    .a-card__content
      p.-text.-m--0 This is a card with a header
.test-card-header-noborder
  h3 Header No Border
  .a-card(style="width: 20rem")
    .a-card__header.-noBorder
      .a-card__title Title
    .a-card__content
      p.-text.-m--0 This is a card with a header
.test-card-header-small
  h3 Header Small
  .a-card(style="width: 20rem")
    .a-card__header.-sm
      .a-card__title Title
    .a-card__content
      p.-text.-m--0 This is a card with a header
.test-card-header-footer
  h3 Header + Footer
  .a-card(style="width: 20rem")
    .a-card__header
      .a-card__title Title
    .a-card__content
      p.-text.-m--0
        | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
        | Ut felis magna, facilisis ut malesuada nec.
    .a-card__footer
      button.a-btn.-primary Link
.test-card-header-footer-small
  h3 Header Small + Footer Small
  .a-card(style="width: 20rem")
    .a-card__header.-sm
      .a-card__title Title
    .a-card__content
      p.-text.-m--0
        | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
        | Ut felis magna, facilisis ut malesuada nec.
    .a-card__footer.-sm
      a(href="#") Link
.test-card-empty
  h3 Empty
  .a-card.-empty(style="width:20rem;")
    .a-card__content
      i.a-icon.-md.-text--muted(class ='icon-circle-plus-outline')
      p.-text.-m--0 Add Product
.test-card-active
  h3 Active
  .a-card.-active(style="width:20rem;")
    .a-card__content
      .a-card__title Title
      p.-text.-m--0 This is an active card
.test-card-active-alt
  h3 Active Version
  .a-card.-active--alt(style="width:20rem;")
    .a-card__content.-text
      | This is an active alt card

.test-card-portal-base
  h3 Portal Base
  .a-card.-portal(style="width:20rem;")
    .a-card__header.-sm
      .a-card__title Title
    .a-card__content
      p.-text.-m--0
        | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
        | Ut felis magna, facilisis ut malesuada nec.

.test-card-portal-base-tabs
  h3 Portal Base + Tabs
  .a-card.-portal(style="width:20rem;")
    .a-card__tabs
      ul.a-tabs.-xs
        li.-active
          a(href='#') Active Tab
        li
          a(href='#') Tab Link
        li
          a(href='#') Tab Link
    .a-card__content
      p.-text.-m--0
        | Aenean pretium massa sed vehicula porta. Phasellus id metus felis.
        | Ut felis magna, facilisis ut malesuada nec.
