---
title: Divider
---

h3 Base
.example.-mb3(style="width:30rem;background-color:#ffffff")
  .-p3
    .a-divider

h3 Vertical
.example.-mb3(style="width:30rem;background-color:#ffffff")
  .-p3.-d--flex.-align-items--center(style="height:72px")
    | option
    .a-divider.-vertical
    | option
    .a-divider.-vertical
    | option

h3 Inverse
.example.-mb3(style="width:30rem;background-color:#000000")
  .-p3
    .a-divider.-inverse

h3 Labeled Divider
.example.-mb3(style="width:30rem;background-color:#ffffff")
  .-p3
    .a-divider.-hasLabel or

h3 Divider Sizes
.example.-mb3(style="width:30rem;background-color:#ffffff")
  .-p3
    p.-text.-m0
      | -bt1
    .a-divider.-bt1
  .-p3
    p.-text.-m0
      | -bt2
    .a-divider.-bt2
  .-p3
    p.-text.-m0
      | -bt3
    .a-divider.-bt3
  .-p3
    p.-text.-m0
      | -bt4
    .a-divider.-bt4
