---
title: Divider
---

h4 Base
.test-divider
  .example(style="width:30rem;background-color:#ffffff")
    .-p--3
      .chi-divider

h4 Vertical
.test-vertical
  .example(style="width:30rem;background-color:#ffffff")
    .-p--3.-d--flex.-align-items--center(style="height:72px")
      | Option
      .chi-divider.-vertical
      | Option
      .chi-divider.-vertical
      | Option

h4 Inverse
.test-inverse
  .example(style="width:30rem;background-color:#000000")
    .-p--3
      .chi-divider.-inverse

h4 Labeled
.test-labeled
  .example(style="width:30rem;background-color:#ffffff")
    .-p--3
      .chi-divider.-hasLabel.-text or

h4 Color Bar
.test-colorbar
  .example(style="width:30rem;background-color:#ffffff")
    .-p--3
      .chi-divider.-colorbar

h4 Sizes
.test-sizes
  .example(style="width:30rem;background-color:#ffffff")
    .-p--3
      p.-text.-m--0
        | -bt--1
      .chi-divider.-bt--1
    .-p--3
      p.-text.-m--0
        | -bt--2
      .chi-divider.-bt--2
    .-p--3
      p.-text.-m--0
        | -bt--3
      .chi-divider.-bt--3
    .-p--3
      p.-text.-m--0
        | -bt--4
      .chi-divider.-bt--4
