---
title: Divider
---

h3 Base
.example.-mb3(style="width:30rem;background-color:#ffffff")
  .-p3
    .a-divider

h3 Vertical
.example.-mb3(style="width:30rem;background-color:#ffffff")
  .-p3.-d--flex.-align-items--center
    | option
    .a-divider.-vertical
    | option
    .a-divider.-vertical
    | option

h3 Dark
.example.-mb3(style="width:30rem;background-color:#eeeeee")
  .-p3
    .a-divider.-dark

h3 Inverse
.example.-mb3(style="width:30rem;background-color:#000000")
  .-p3
    .a-divider.-inverse

h3 Base with text in a form
.example.-mb3(style="width:30rem;background-color:#ffffff")
  .-p3
    .a-divider.-textDivider or

h3 Divider Sizes
.example.-mb3(style="width:30rem;background-color:#ffffff")
  .-p3
    p.-text.-m0
      | -b1
    .a-divider.-b1
  .-p3
    p.-text.-m0
      | -b2
    .a-divider.-b2
  .-p3
    p.-text.-m0
      | -b3
    .a-divider.-b3
  .-p3
    p.-text.-m0
      | -b4
    .a-divider.-b4
