---
title: Expansion panel
---
.test-expansion-panel-done.-mb--3(style="min-width: 20rem")
  .chi-epanel.-done
    .chi-epanel__header
      .chi-epanel__title Expansion panel #1
      .chi-epanel__content
        .chi-epanel__collapse
          .-done--only
            | Done content in expansion panel.
      .chi-epanel__action.-done--only
        button.chi-btn.-primary.-flat Change

.test-expansion-panel-active.-mb--3(style="min-width: 20rem")
  .chi-epanel.-active(data-chi-epanel-group='example3')
    .chi-epanel__header
      .chi-epanel__title Expansion panel #2
    .chi-epanel__collapse.-ml--0
      .-active--only
        .chi-epanel__body
          .chi-epanel__content
            .chi-epanel__subtitle Active
            p.chi-epanel__text Active content in expansion panel.
          .chi-epanel__footer
            button.chi-btn.-lg(data-chi-epanel-action='previous') Previous
            button.chi-btn.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

.test-expansion-panel-pending.-mb--3(style="min-width: 20rem")
  .chi-epanel(data-chi-epanel-group='example3')
    .chi-epanel__header
      .chi-epanel__title Expansion panel #3

.test-expansion-panel-disabled.-mb--3(style="min-width: 20rem")
  .chi-epanel.-disabled(data-chi-epanel-group='example3')
    .chi-epanel__header
      .chi-epanel__title Expansion panel #4

.test-expansion-panel-done-bordered.-mb--3(style="min-width: 20rem")
  .chi-epanel.-done.-bordered
    .chi-epanel__header
      .chi-epanel__title Expansion panel #5
      .chi-epanel__content
        .chi-epanel__collapse
          .-done--only
            | Done content in expansion panel.
      .chi-epanel__action.-done--only
        button.chi-btn.-primary.-flat Change

.test-expansion-panel-active-bordered.-mb--3(style="min-width: 20rem")
  .chi-epanel.-active(data-chi-epanel-group='example3').-bordered
    .chi-epanel__header
      .chi-epanel__title Expansion panel #6
    .chi-epanel__collapse.-ml--0
      .-active--only
        .chi-epanel__body
          .chi-epanel__content
            .chi-epanel__subtitle Active
            p.chi-epanel__text Active content in expansion panel.
          .chi-epanel__footer
            button.chi-btn.-lg(data-chi-epanel-action='previous') Previous
            button.chi-btn.-lg(data-chi-epanel-action='next').-primary.-ml--2 Continue

.test-expansion-panel-pending-bordered.-mb--3(style="min-width: 20rem")
  .chi-epanel(data-chi-epanel-group='example3').-bordered
    .chi-epanel__header
      .chi-epanel__title Expansion panel #7

.test-expansion-panel-disabled-bordered.-mb--3(style="min-width: 20rem")
  .chi-epanel.-disabled(data-chi-epanel-group='example3').-bordered
    .chi-epanel__header
      .chi-epanel__title Expansion panel #8
