---
title: Label
---

h3 Base
.test-label-base.-w--100
  .test-label-base-xs.-w--100
      label.chi-label.-xs Label
  .test-label-base-sm.-w--100
      label.chi-label.-sm Label
  .test-label-base-md.-w--100
      label.chi-label.-md Label
  .test-label-base-lg.-w--100
      label.chi-label.-lg Label
  .test-label-base-xl.-w--100
      label.chi-label.-xl Label

h3 Required
.test-label-required.-w--100
  .test-label-required-xs.-w--100
    label.chi-label.-xs
      | Label
      abbr.chi-label__required(title='Required field') *
  .test-label-required-sm.-w--100
    label.chi-label.-sm
      | Label
      abbr.chi-label__required(title='Required field') *
  .test-label-required-md.-w--100
    label.chi-label.-md
      | Label
      abbr.chi-label__required(title='Required field') *
  .test-label-required-lg.-w--100
    label.chi-label.-lg
      | Label
      abbr.chi-label__required(title='Required field') *
  .test-label-required-xl.-w--100
    label.chi-label.-xl
      | Label
      abbr.chi-label__required(title='Required field') *

h3 Optional
.test-label-optional.-w--100
  .test-label-optional-xs.-w--100
    label.chi-label.-xs
      | Label
      abbr.chi-label__optional(title='Optional field') (optional)
  .test-label-optional-sm.-w--100
    label.chi-label.-sm
      | Label
      abbr.chi-label__optional(title='Optional field') (optional)
  .test-label-optional-md.-w--100
    label.chi-label.-md
      | Label
      abbr.chi-label__optional(title='Optional field') (optional)
  .test-label-optional-lg.-w--100
    label.chi-label.-lg
      | Label
      abbr.chi-label__optional(title='Optional field') (optional)
  .test-label-optional-xl.-w--100
    label.chi-label.-xl
      | Label
      abbr.chi-label__optional(title='Optional field') (optional)
      