---
title: Modals
background: 969696
---

h3 backdrops

.test-backdrops
  table(cellpadding="0", cellspacing="16px")
    tr
      td
        h4 backdrop
        .a-backdrop(style={
          position: 'relative',
          height: '12rem',
          width: '12rem',
          top: 'initial',
          left: 'initial'
        })
      td
        h4 backdrop / inverse
        .a-backdrop.-inverse(style={
          position: 'relative',
          height: '12rem',
          width: '12rem',
          top: 'initial',
          left: 'initial'
        })

h3 Window base
.test-window-base(style={
  width: '100%'
})
  h4 window base
  .a-modal(style={
    'height': '10rem',
    'margin-top': 0
  })

h3 Headers
.test-headers(style={
    width: '100%'
  })
  h4 header
  .a-modal(style={
    'box-shadow': 'none',
    'border-bottom-left-radius': 0,
    'border-bottom-right-radius': 0,
    'margin-top': 0
  })
    .a-modal__header

  h4 header / title
  .a-modal(style={
    'box-shadow': 'none',
    'border-bottom-left-radius': 0,
    'border-bottom-right-radius': 0,
    'margin-top': 0
  })
    .a-modal__header
      h1.a-modal__title Modal alert title

  h4 header / title / close
  .a-modal(style={
    'box-shadow': 'none',
    'border-bottom-left-radius': 0,
    'border-bottom-right-radius': 0,
    'margin-top': 0
  })
    .a-modal__header
      h1.a-modal__title Modal alert title
      button(class='a-btn -icon -close')
        .a-btn__content
          i.a-icon.icon-x

  h4 header / title / no border / close
  .a-modal(style={
    'box-shadow': 'none',
    'border-bottom-left-radius': 0,
    'border-bottom-right-radius': 0,
    'margin-top': 0
  })
    .a-modal__header.-noBorder
      h1.a-modal__title Modal alert title
      button(class='a-btn -icon -close')
        .a-btn__content
          i.a-icon.icon-x

  h4 header / title / centered / close
  .a-modal(style={
    'box-shadow': 'none',
    'border-bottom-left-radius': 0,
    'border-bottom-right-radius': 0,
    'margin-top': 0
  })
    .a-modal__header
      h1.a-modal__title.-centered Modal alert title
      button(class='a-btn -icon -close')
        .a-btn__content
          i.a-icon.icon-x

  h4 header / title / centered / back/ close
  .a-modal(style={
    'box-shadow': 'none',
    'border-bottom-left-radius': 0,
    'border-bottom-right-radius': 0,
    'margin-top': 0
  })
    .a-modal__header
      h1.a-modal__title.-centered Modal alert title
      button.a-modal__back
      button(class='a-btn -icon -close')
        .a-btn__content
          i.a-icon.icon-x

h3 Footers

.test-footers(style={
    width: '100%'
  })
  h4 footer
  .a-modal(style={
    'box-shadow': 'none',
    'border-top-left-radius': 0,
    'border-top-right-radius': 0,
    'margin-top': 0
  })
    .a-modal__footer

  h4 footer / no border
  .a-modal(style={
    'box-shadow': 'none',
    'border-top-left-radius': 0,
    'border-top-right-radius': 0,
    'margin-top': 0
  })
    .a-modal__footer.-noBorder

  h4 footer / save
  .a-modal(style={
    'box-shadow': 'none',
    'border-top-left-radius': 0,
    'border-top-right-radius': 0,
    'margin-top': 0
  })
    .a-modal__footer
      button.a-btn.-brand.-ml2 Save

  h4 footer / cancel / save
  .a-modal(style={
    'box-shadow': 'none',
    'border-top-left-radius': 0,
    'border-top-right-radius': 0,
    'margin-top': 0
  })
    .a-modal__footer
      button.a-btn Cancel
      button.a-btn.-brand.-ml2 Save
