---
title: Modal
---

.modal-examples.-w--100
  .example.-w--50.modal-default-test
    .-p--2
      .chi-backdrop(style="position: relative; height: 400px;")
        .chi-backdrop__wrapper
          section#modal-1.chi-modal.-active(role="dialog" aria-label="Modal description" aria-modal="true")
            header.chi-modal__header
              h2.chi-modal__title Modal title
              button.chi-button.-icon.-close(data-dismiss="modal" aria-label="Close")
                .chi-button__content
                  i.chi-icon.icon-x(aria-hidden="true")
            .chi-modal__content
              p.-text.-m--0 Modal Content
            footer.chi-modal__footer
              button.chi-button(data-dismiss="modal") Cancel
              button.chi-button.-primary Save
  .example.-w--50.modal-subtitle-test
    .-p--2
      .chi-backdrop(style="position: relative; height: 400px;")
        .chi-backdrop__wrapper
          section#modal-1.chi-modal.-active(role="dialog" aria-label="Modal description" aria-modal="true")
            header.chi-modal__header
              h2.chi-modal__title Custom modal Title
              h3.chi-modal__subtitle Subtitle
              button.chi-button.-icon.-close(data-dismiss="modal" aria-label="Close")
                .chi-button__content
                  i.chi-icon.icon-x(aria-hidden="true")
            .chi-modal__content
              p.-text.-m--0 Modal Content
            footer.chi-modal__footer
              button.chi-button(data-dismiss="modal") Cancel
              button.chi-button.-primary Save
  .example.-w--50.modal-center-test
    .-p--2
      .chi-backdrop.-center(style="position: relative; height: 400px;")
        .chi-backdrop__wrapper
          section#modal-1.chi-modal.-active(role="dialog" aria-label="Modal description" aria-modal="true")
            header.chi-modal__header
              h2.chi-modal__title Modal title
              button.chi-button.-icon.-close(data-dismiss="modal" aria-label="Close")
                .chi-button__content
                  i.chi-icon.icon-x(aria-hidden="true")
            .chi-modal__content
              p.-text.-m--0 Modal Content
            footer.chi-modal__footer
              button.chi-button(data-dismiss="modal") Cancel
              button.chi-button.-primary Save
  .example.-w--50.modal-inverse-test
    .-p--2
      .chi-backdrop.-inverse(style="position: relative; height: 400px;")
        .chi-backdrop__wrapper
          section#modal-1.chi-modal.-active(role="dialog" aria-label="Modal description" aria-modal="true")
            header.chi-modal__header
              h2.chi-modal__title Modal title
              button.chi-button.-icon.-close(data-dismiss="modal" aria-label="Close")
                .chi-button__content
                  i.chi-icon.icon-x(aria-hidden="true")
            .chi-modal__content
              p.-text.-m--0 Modal Content
            footer.chi-modal__footer
              button.chi-button(data-dismiss="modal") Cancel
              button.chi-button.-primary Save
  .example.-w--50.modal-simple-test
    .-p--2
      .chi-backdrop(style="position: relative; height: 400px;")
        .chi-backdrop__wrapper
          section#modal-1.chi-modal.-active(role="dialog" aria-label="Modal description" aria-modal="true")
            .chi-modal__content
              p.-text.-m--0 Modal Content
  .example.-w--50.modal-multi-step-test
    .-p--2
      .chi-backdrop(style="position: relative; height: 400px;")
        .chi-backdrop__wrapper
          section#modal-1.chi-modal.-active(role="dialog" aria-label="Modal description" aria-modal="true")
            header.chi-modal__header
              h2.chi-modal__title.-centered Modal title
              button.chi-modal__back(aria-label="Back")
              button.chi-button.-icon.-close(data-dismiss="modal" aria-label="Close")
                .chi-button__content
                  i.chi-icon.icon-x(aria-hidden="true")
            .chi-modal__content
              p.-text.-m--0 Modal Content
            footer.chi-modal__footer
              button.chi-button(data-dismiss="modal") Cancel
              button.chi-button.-primary Save
