---
title: Modals
background: 969696
---

h3 backdrops

.test-backdrops
  table(cellpadding="0", cellspacing="16px")
    tr
      td
        h4 backdrop
        .chi-backdrop(style={
          position: 'relative',
          height: '12rem',
          width: '12rem',
          top: 'initial',
          left: 'initial'
        })
      td
        h4 backdrop / inverse
        .chi-backdrop.-inverse(style={
          position: 'relative',
          height: '12rem',
          width: '12rem',
          top: 'initial',
          left: 'initial'
        })

h3 Window base
.test-window-base(style={
  width: '100%'
})
  h4 window base
  .chi-modal(style={
    'height': '10rem'
  })

  h4 window portal base
  .chi-modal.-portal(style={
    'height': '10rem'
  })

h3 Headers
.test-headers(style={
    width: '100%'
  })
  h4 header
  .chi-modal(style={
    'box-shadow': 'none',
    'border-bottom-left-radius': 0,
    'border-bottom-right-radius': 0
  })
    .chi-modal__header

  h4 header / title
  .chi-modal(style={
    'box-shadow': 'none',
    'border-bottom-left-radius': 0,
    'border-bottom-right-radius': 0
  })
    .chi-modal__header
      h1.chi-modal__title Modal alert title

  h4 header / subtitle
    .chi-modal(style={
      'box-shadow': 'none',
      'border-bottom-left-radius': 0,
      'border-bottom-right-radius': 0
    })
      .chi-modal__header
        h1.chi-modal__title Modal alert title
        p.chi-modal__subtitle Modal alert subtitle

  h4 header / title / close
  .chi-modal(style={
    'box-shadow': 'none',
    'border-bottom-left-radius': 0,
    'border-bottom-right-radius': 0
  })
    .chi-modal__header
      h1.chi-modal__title Modal alert title
      button(class='chi-button -icon -close', aria-label='Close')
        .chi-button__content
          i.chi-icon.icon-x(aria-hidden="true")

  h4 header / title / no border / close
  .chi-modal(style={
    'box-shadow': 'none',
    'border-bottom-left-radius': 0,
    'border-bottom-right-radius': 0
  })
    .chi-modal__header.-no-border
      h1.chi-modal__title Modal alert title
      button(class='chi-button -icon -close', aria-label='Close')
        .chi-button__content
          i.chi-icon.icon-x(aria-hidden="true")

  h4 header / title / centered / close
  .chi-modal(style={
    'box-shadow': 'none',
    'border-bottom-left-radius': 0,
    'border-bottom-right-radius': 0
  })
    .chi-modal__header
      h1.chi-modal__title.-centered Modal alert title
      button(class='chi-button -icon -close', aria-label='Close')
        .chi-button__content
          i.chi-icon.icon-x(aria-hidden="true")

  h4 header / title / centered / back/ close
  .chi-modal(style={
    'box-shadow': 'none',
    'border-bottom-left-radius': 0,
    'border-bottom-right-radius': 0
  })
    .chi-modal__header
      h1.chi-modal__title.-centered Modal alert title
      button.chi-modal__back
      button(class='chi-button -icon -close', aria-label='Close')
        .chi-button__content
          i.chi-icon.icon-x(aria-hidden="true")

  h4 header / subtitle / centered / back/ close
    .chi-modal(style={
      'box-shadow': 'none',
      'border-bottom-left-radius': 0,
      'border-bottom-right-radius': 0
    })
      .chi-modal__header
        h1.chi-modal__title.-centered Modal alert title
        p.chi-modal__subtitle.-centered Modal alert subtitle
        button.chi-modal__back
        button(class='chi-button -icon -close', aria-label='Close')
          .chi-button__content
            i.chi-icon.icon-x(aria-hidden="true")

    h4 header / portal
    .chi-modal.-portal(style={
      'box-shadow': 'none'
    })
      .chi-modal__header

    h4 header / title / portal
    .chi-modal.-portal(style={
      'box-shadow': 'none'
    })
      .chi-modal__header
        h1.chi-modal__title Modal alert title

    h4 header / title / close / portal
    .chi-modal.-portal(style={
      'box-shadow': 'none'
    })
      .chi-modal__header
        h1.chi-modal__title Modal alert title
        button(class='chi-button -icon -close', aria-label='Close')
          .chi-button__content
            i.chi-icon.icon-x(aria-hidden="true")

h3 Footers

.test-footers(style={
    width: '100%'
  })
  h4 footer
  .chi-modal(style={
    'box-shadow': 'none',
    'border-top-left-radius': 0,
    'border-top-right-radius': 0
  })
    .chi-modal__footer

  h4 footer / no border
  .chi-modal(style={
    'box-shadow': 'none',
    'border-top-left-radius': 0,
    'border-top-right-radius': 0
  })
    .chi-modal__footer.-no-border

  h4 footer / save
  .chi-modal(style={
    'box-shadow': 'none',
    'border-top-left-radius': 0,
    'border-top-right-radius': 0
  })
    .chi-modal__footer
      button.chi-button.-primary Save

  h4 footer / cancel / save
  .chi-modal(style={
    'box-shadow': 'none',
    'border-top-left-radius': 0,
    'border-top-right-radius': 0
  })
    .chi-modal__footer
      button.chi-button Cancel
      button.chi-button.-primary Save

  h4 footer / portal
  .chi-modal.-portal(style={
    'box-shadow': 'none'
  })
    .chi-modal__footer

  h4 footer / save / portal
  .chi-modal.-portal(style={
    'box-shadow': 'none'
  })
    .chi-modal__footer
      button.chi-button.-primary.-lg Save
