---
title: Price
---

- var sizes = ['sm', 'md', 'lg'];

h3 Sizes
.example.-mb--3
  .-p--3(style='overflow:auto')
    h4 Base
    each size in sizes
      div(class=`a-col -w--12 -p--3`)
        .a-price(class=`-${size}`)
          span.-currency
            | $
          | 100
          span.-cents
            | 00
        p(class=`-text--bold -mb--3`)= '-' + size
    h4 Sup
    each size in sizes
      div(class=`a-col -w--12 -p--3`)
        .a-price(class=`-${size}`)
          sup
            | $
          | 100
          sup
            | 00
        p(class=`-text--bold -mb--3`)= '-' + size
