---
title: Range slider
---

h4 States

.test-states
  .-mb--1
    h5 Base
    input(type="range", class="a-input -zero", value="0")

  .-mb--1
    h5 Focus
    input(type="range", class="a-input -focus", value="80")

  .-mb--1
    h5 Disabled
    input(type="range", class="a-input", value="20", disabled)
