---
title: Stat
---

.test-base
  h3 Base
  .chi-stat(style="width: 12rem")
    .chi-stat__content
      .chi-stat-metric
        .chi-stat-metric__title
          | Base stat
        .chi-stat-metric__value
          | 1
.test-disabled
  h3 Disabled
  .chi-stat.-disabled(style="width: 12rem")
    .chi-stat__content
      .chi-stat-metric
        .chi-stat-metric__title
          | Disabled stat
        .chi-stat-metric__value
          | 1
.test-active
  h3 Active
  .chi-stat.-active(style="width: 12rem")
    .chi-stat__content
      .chi-stat-metric
        .chi-stat-metric__title
          | Active stat
        .chi-stat-metric__value
          | 1
.test-center
  h3 Center Aligned
  .chi-stat.-center(style="width: 12rem")
    .chi-stat__content
      .chi-stat-metric
        .chi-stat-metric__title
          | Centered stat
        .chi-stat-metric__value
          | 1
.test-active
  h3 Card
  .chi-stat.-card(style="width: 12rem")
    .chi-stat__content
      .chi-stat-metric
        .chi-stat-metric__title
          | Card stat
        .chi-stat-metric__value
          | 1
.test-card-active
  h3 Card Active
  .chi-stat.-card.-active(style="width: 12rem")
    .chi-stat__content
      .chi-stat-metric
        .chi-stat-metric__title
          | Active card stat
        .chi-stat-metric__value
          | 1
.test-card-center
  h3 Center Aligned Card
  .chi-stat.-card.-center(style="width: 12rem")
    .chi-stat__content
      .chi-stat-metric
        .chi-stat-metric__title
          | Center card stat
        .chi-stat-metric__value
          | 1
.test-portal
  h3 Portal Card
  .chi-stat.-portal(style="width: 12rem")
    .chi-stat__content
      .chi-stat-metric
        .chi-stat-metric__value
          | 1
        .chi-stat-metric__title
          | Metric title
      .chi-stat-submetric
        .chi-stat-submetric__value
          | 1
        .chi-stat-submetric__title
          | Submetric title
.test-portal-active
  h3 Portal Active Card
  .chi-stat.-portal.-active(style="width: 12rem")
    .chi-stat__content
      .chi-stat-metric
        .chi-stat-metric__value
          | 1
        .chi-stat-metric__title
          | Metric title
      .chi-stat-submetric
        .chi-stat-submetric__value
          | 1
        .chi-stat-submetric__title
          | Submetric title
.test-portal-center
  h3 Portal Center Aligned Card
  .chi-stat.-portal.-center(style="width: 12rem")
    .chi-stat__content
      .chi-stat-metric
        .chi-stat-metric__value
          | 1
        .chi-stat-metric__title
          | Metric title
      .chi-stat-submetric
        .chi-stat-submetric__value
          | 1
        .chi-stat-submetric__title
          | Submetric title
.test-portal-center-active
  h3 Portal Center Aligned Active Card
  .chi-stat.-portal.-center.-active(style="width: 12rem")
    .chi-stat__content
      .chi-stat-metric
        .chi-stat-metric__value
          | 1
        .chi-stat-metric__title
          | Metric title
      .chi-stat-submetric
        .chi-stat-submetric__value
          | 1
        .chi-stat-submetric__title
          | Submetric title
.test-portal-background-icon
  h3 Portal Background Icon Card
  .chi-stat.-portal.-center(style="width: 12rem")
    .chi-stat__content
      .chi-stat-metric
        .chi-stat-metric__value
          | 1
        .chi-stat-metric__title
          | Metric title
      .chi-stat-submetric
        .chi-stat-submetric__value
          | 1
        .chi-stat-submetric__title
          | Submetric title
      .chi-stat-background-icon
        i.chi-icon.icon-logo-centurylink
.test-portal-background-icon-active
  h3 Portal Background Icon Active Card
  .chi-stat.-portal.-center.-active(style="width: 12rem")
    .chi-stat__content
      .chi-stat-metric
        .chi-stat-metric__value
          | 1
        .chi-stat-metric__title
          | Metric title
      .chi-stat-submetric
        .chi-stat-submetric__value
          | 1
        .chi-stat-submetric__title
          | Submetric title
      .chi-stat-background-icon
        i.chi-icon.icon-logo-centurylink