---
title: Toggle switch
---
.test-states
  .-mb--1
    h5 Base
    .m-form__item
      label.a-switch
        span.a-switch__label Toggle
        input(type="checkbox", class="a-switch__input -toggle", name="toggle1", value="toggle1", aria-describedby="toggle1", aria-label="toggle")
        span(id="toggle1", class="a-switch__content", aria-live="assertive")
          span.a-switch__faux
          span.a-switch__on Enabled
          span.a-switch__off Disabled

  .-mb--1
    h5 Hover
    .m-form__item
      label.a-switch
        span.a-switch__label Toggle
        input(type="checkbox", class="a-switch__input -toggle", name="toggle2", value="toggle2", aria-describedby="toggle2", aria-label="toggle")
        span(id="toggle2", class="a-switch__content", aria-live="assertive")
          span.a-switch__faux
          span.a-switch__on Enabled
          span.a-switch__off Disabled

  .-mb--1
    h5 Focus
    .m-form__item
      label.a-switch
        span.a-switch__label Toggle
        input(type="checkbox", class="a-switch__input -toggle -focus", name="toggle3", value="toggle3", aria-describedby="toggle3", aria-label="toggle")
        span(id="toggle3", class="a-switch__content", aria-live="assertive")
          span.a-switch__faux
          span.a-switch__on Enabled
          span.a-switch__off Disabled

  .-mb--1
    h5 Disabled
    .m-form__item
      label.a-switch
        span.a-switch__label Toggle
        input(type="checkbox", class="a-switch__input -toggle", name="toggle4", value="toggle4", aria-describedby="toggle4", aria-label="toggle", disabled)
        span(id="toggle4", class="a-switch__content", aria-live="assertive")
          span.a-switch__faux
          span.a-switch__on Enabled
          span.a-switch__off Disabled
