---
title: Toggle switch
---
.test-states
  .-mb--1
    h5 Base
    .m-form__item
      label.a-switch(for="toggle1")
        input(type="checkbox", class="a-switch__input", id="toggle1")
        span(class="a-switch__content")
          span.a-switch__thumb
        span.a-switch__label Label

  .-mb--1
    h5 Hover
    .m-form__item
      label.a-switch(for="toggle2")
        input(type="checkbox", class="a-switch__input", id="toggle2")
        span(class="a-switch__content")
          span.a-switch__thumb
        span.a-switch__label Label

  .-mb--1
    h5 Focus
    .m-form__item
      label.a-switch(for="toggle3")
        input(type="checkbox", class="a-switch__input -focus", id="toggle3")
        span(class="a-switch__content")
          span.a-switch__thumb
        span.a-switch__label Label

  .-mb--1
    h5 Disabled
    .m-form__item
      label.a-switch(for="toggle4")
        input(type="checkbox", class="a-switch__input", id="toggle4", disabled)
        span(class="a-switch__content")
          span.a-switch__thumb
        span.a-switch__label Label
