---
title: Toggle switch
---

.test-states
  .-mb--1
    h5 Base
    input(type="checkbox", class="a-input -toggle", id="checkbox01")
    label(for="checkbox01")

  .-mb--1
    h5 Hover
    input(type="checkbox", class="a-input -toggle", id="checkbox02")
    label(class="-hover", for="checkbox02")

  .-mb--1
    h5 Focus
    input(type="checkbox", class="a-input -toggle -focus", checked, id="checkbox03")
    label(for="checkbox03")

  .-mb--1
    h5 Disabled
    input(type="checkbox", class="a-input -toggle", id="checkbox04", checked, disabled)
    label(for="checkbox04")

h4 No text

.test-no-text-states
  .-mb--1
    h5 Base
    input(type="checkbox", class="a-input -toggle -noText", id="checkbox11")
    label(for="checkbox11")

  .-mb--1
    h5 Hover
    input(type="checkbox", class="a-input -toggle -noText", id="checkbox12")
    label(class="-hover", for="checkbox12")

  .-mb--1
    h5 Focus
    input(type="checkbox", class="a-input -toggle -noText -focus", checked, id="checkbox13")
    label(for="checkbox13")

  .-mb--1
    h5 Disabled
    input(type="checkbox", class="a-input -toggle -noText", id="checkbox14", checked, disabled)
    label(for="checkbox14")
