:host(chi-button) {
  @import '../../global/styles/common';

  display: inline-flex;
  vertical-align: middle;

  &[fluid]:not(.-float) {
    width: 100%;
    &[center] {
      .-justify-content--center {
        justify-content: center;
      }
    }
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

::slotted(*)>:not(:last-child) {
  margin-right: .5rem !important;
}

::slotted(chi-spinner) {
  display: inline-flex !important;
    &[size='sm--2'], &[size='md'], &[size='lg'], &[size='xl'], &[size='xxl'] {
      svg {
        height: 1rem !important;
        width: 1rem !important;
      }
    }
}
