:host(chi-button) {
  @import '../../global/styles/common';
  @import 'components/buttons/_button-groups-variables';
  @import 'components/buttons/_horizontal-button-groups';
  @import 'components/buttons/_vertical-button-groups';
  @import 'components/buttons/button-groups';
  @import 'components/buttons/buttons';

  display: inline-flex;
  vertical-align: middle;

  &[fluid]:not(.-float) {
    width: 100%;
    &[center] {
      .-justify-content--center {
        justify-content: center;
      }
    }
  }
}
::slotted(*)>:not(:last-child) {
  margin-right: .5rem !important;
}
