script(src='https://cdn.jsdelivr.net/npm/vue@2.6.11')
script(src='../../../chi-vue/umd/chi-vue.umd.js')

h2 Examples

include examples/base/_base
include examples/base/_disabled
include examples/base/_sizes

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelectorAll('.chi-tabs-panel .chi-tabs'));
    }
  );
