:host(chi-alert) {
  @import '../../global/styles/common';
  display: block;
  &[center] {
    .-center {
      justify-content: center;
    }
  }

  chi-button {
    align-self: flex-start;
  }
}

::slotted(chi-icon) {
  align-self: flex-start;
}
