script(src="https://cdn.jsdelivr.net/npm/vue@2.6.11")
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-chi-ce/ux-chi-ce.js')
script(src="../../chi-vue/umd/chi-vue.umd.js")
script(src=`../../js/chi.js`)

.chi
  .-p--1
    h2 Expansion Panel - Tests
    #app
      h3 Base
      chi-vue-expansion-panel(step="1" title="Panel title 1" :state="active === 0 ? 'active' : active > 0 ? 'done' : 'pending'" data-cy="base-expansion-panel-1")
        div(slot='active')
          .chi-epanel__subtitle
            | Optional subtitle
          p.chi-epanel__text
            | Content in expansion panel (e.g. a form to select a product package)
        div(slot='done')
          | Use this area to present
          br
          | a read-only summary of what the user
          br
          | entered or selected in step 1.
          br
          | (e.g.) a package selection
        div(slot='footer')
          chi-button(color='primary' @click="active += 1" data-chi-epanel-action='next')
            | Continue
        div(slot='change')
          chi-button(color='primary' variant='flat' @click="active = 0" data-chi-epanel-action='change')
            | Change
      chi-vue-expansion-panel(step="2" title="Panel title 2" :state="active === 1 ? 'active' : active > 1 ? 'done' : 'pending'" data-cy="base-expansion-panel-2")
        div(slot='active')
          .chi-epanel__subtitle
            | Optional subtitle
          p.chi-epanel__text
            | Content in expansion panel (e.g. a form to select a product package)
        div(slot='done')
          | Use this area to present
          br
          | a read-only summary of what the user
          br
          | entered or selected in step 2.
          br
          | (e.g.) a package selection
        div(slot='footer')
          chi-button(color='primary' @click="active -= 1" data-chi-epanel-action='previous')
            | Previous
          chi-button(color='primary' @click="active += 1" data-chi-epanel-action='next')
            | Continue
        div(slot='change')
          chi-button(color='primary' variant='flat' @click="active = 1" data-chi-epanel-action='change')
            | Change
      chi-vue-expansion-panel(step="3" title="Panel title 3" :state="active === 2 ? 'active' : active > 2 ? 'done' : 'pending'" data-cy="base-expansion-panel-3")
        div(slot='active')
          .chi-epanel__subtitle
            | Optional subtitle
          p.chi-epanel__text
            | Content in expansion panel (e.g. a form to select a product package)
        div(slot='done')
          | Use this area to present
          br
          | a read-only summary of what the user
          br
          | entered or selected in step 3.
          br
          | (e.g.) a package selection
        div(slot='footer')
          chi-button(color='primary' @click="active -= 1" data-chi-epanel-action='previous')
            | Previous
          chi-button(color='primary' @click="active += 1" data-chi-epanel-action='next')
            | Finish
        div(slot='change')
          chi-button(color='primary' variant='flat' @click="active = 2" data-chi-epanel-action='change')
            | Change

      h3.-pt--6 State
      chi-vue-expansion-panel(step="1" title="Panel title 1" state="done" data-cy="state-expansion-panel-done")
        div(slot='active')
          .chi-epanel__subtitle
            | Optional subtitle
          p.chi-epanel__text
            | Content in expansion panel (e.g. a form to select a product package)
        div(slot='done')
          | Use this area to present
          br
          | a read-only summary of what the user
          br
          | entered or selected in step 1.
          br
          | (e.g.) a package selection
        div(slot='footer')
          chi-button(color='primary' @click="active += 1" data-chi-epanel-action='next')
            | Continue
        div(slot='change')
          chi-button(color='primary' variant='flat' @click="active = 0" data-chi-epanel-action='change')
            | Change
      chi-vue-expansion-panel(step="2" title="Panel title 2" state="active" data-cy="state-expansion-panel-active")
        div(slot='active')
          .chi-epanel__subtitle
            | Optional subtitle
          p.chi-epanel__text
            | Content in expansion panel (e.g. a form to select a product package)
        div(slot='done')
          | Use this area to present
          br
          | a read-only summary of what the user
          br
          | entered or selected in step 2.
          br
          | (e.g.) a package selection
        div(slot='footer')
          chi-button(color='primary' @click="active -= 1" data-chi-epanel-action='previous')
            | Previous
          chi-button(color='primary' @click="active += 1" data-chi-epanel-action='next')
            | Continue
        div(slot='change')
          chi-button(color='primary' variant='flat' @click="active = 1" data-chi-epanel-action='change')
            | Change
      chi-vue-expansion-panel(step="3" title="Panel title 3" state="pending" data-cy="state-expansion-panel-pending")
        div(slot='active')
          .chi-epanel__subtitle
            | Optional subtitle
          p.chi-epanel__text
            | Content in expansion panel (e.g. a form to select a product package)
        div(slot='done')
          | Use this area to present
          br
          | a read-only summary of what the user
          br
          | entered or selected in step 3.
          br
          | (e.g.) a package selection
        div(slot='footer')
          chi-button(color='primary' @click="active -= 1" data-chi-epanel-action='previous')
            | Previous
          chi-button(color='primary' @click="active += 1" data-chi-epanel-action='next')
            | Finish
        div(slot='change')
          chi-button(color='primary' variant='flat' @click="active = 2" data-chi-epanel-action='change')
            | Change

      h3.-pt--6 Number
      chi-vue-expansion-panel(step="1" title="Panel title 1" state="done" data-cy="number-expansion-panel-numbered")
        div(slot='active')
          .chi-epanel__subtitle
            | Optional subtitle
          p.chi-epanel__text
            | Content in expansion panel (e.g. a form to select a product package)
        div(slot='done')
          | Use this area to present
          br
          | a read-only summary of what the user
          br
          | entered or selected in step 1.
          br
          | (e.g.) a package selection
        div(slot='footer')
          chi-button(color='primary' @click="active += 1" data-chi-epanel-action='next')
            | Continue
        div(slot='change')
          chi-button(color='primary' variant='flat' @click="active = 0" data-chi-epanel-action='change')
            | Change
      chi-vue-expansion-panel(title="Panel title 2" state="active" data-cy="number-expansion-panel-non-numbered")
        div(slot='active')
          .chi-epanel__subtitle
            | Optional subtitle
          p.chi-epanel__text
            | Content in expansion panel (e.g. a form to select a product package)
        div(slot='done')
          | Use this area to present
          br
          | a read-only summary of what the user
          br
          | entered or selected in step 2.
          br
          | (e.g.) a package selection
        div(slot='footer')
          chi-button(color='primary' @click="active -= 1" data-chi-epanel-action='previous')
            | Previous
          chi-button(color='primary' @click="active += 1" data-chi-epanel-action='next')
            | Continue
        div(slot='change')
          chi-button(color='primary' variant='flat' @click="active = 1" data-chi-epanel-action='change')
            | Change
      
      h3.-pt--6 Border
      chi-vue-expansion-panel(step="1" title="Non Bordered Panel" :bordered="false" state="active" data-cy="border-expansion-panel-non-bordered")
        div(slot='active')
          .chi-epanel__subtitle
            | Optional subtitle
          p.chi-epanel__text
            | Content in expansion panel (e.g. a form to select a product package)
        div(slot='done')
          | Use this area to present
          br
          | a read-only summary of what the user
          br
          | entered or selected in step 2.
          br
          | (e.g.) a package selection
        div(slot='footer')
          chi-button(color='primary' @click="active -= 1" data-chi-epanel-action='previous')
            | Previous
          chi-button(color='primary' @click="active += 1" data-chi-epanel-action='next')
            | Continue
        div(slot='change')
          chi-button(color='primary' variant='flat' @click="active = 1" data-chi-epanel-action='change')
            | Change
      chi-vue-expansion-panel(step="1" title="Bordered Panel" :bordered="true" state="active" data-cy="border-expansion-panel-bordered")
        div(slot='active')
          .chi-epanel__subtitle
            | Optional subtitle
          p.chi-epanel__text
            | Content in expansion panel (e.g. a form to select a product package)
        div(slot='done')
          | Use this area to present
          br
          | a read-only summary of what the user
          br
          | entered or selected in step 2.
          br
          | (e.g.) a package selection
        div(slot='footer')
          chi-button(color='primary' @click="active -= 1" data-chi-epanel-action='previous')
            | Previous
          chi-button(color='primary' @click="active += 1" data-chi-epanel-action='next')
            | Continue
        div(slot='change')
          chi-button(color='primary' variant='flat' @click="active = 1" data-chi-epanel-action='change')
            | Change

      h3.-pt--6 Slots
      chi-vue-expansion-panel(step="1" title="Panel title 1" :bordered="true" state="done" data-cy="slot-expansion-panel-done")
        div(slot='active')
          .chi-epanel__subtitle
            | Optional subtitle
          p.chi-epanel__text
            | Content in expansion panel (e.g. a form to select a product package)
        div.done-slot(slot='done')
          | Use this area to present
          br
          | a read-only summary of what the user
          br
          | entered or selected in step 2.
          br
          | (e.g.) a package selection
        div(slot='footer')
          | >>
        div.-p--2(slot='footerStart')
          | Sample footer text
        div(slot='footerEnd')
          chi-button(color='primary' @click="active -= 1" data-chi-epanel-action='previous')
            | Previous
          chi-button(color='primary' @click="active += 1" data-chi-epanel-action='next')
            | Continue
        div(slot='change')
          chi-button(color='primary' variant='flat' @click="active = 1" data-chi-epanel-action='change')
            | Change
      chi-vue-expansion-panel(step="2" title="Panel title 2" :bordered="true" state="active" data-cy="slot-expansion-panel-active")
        div(slot='active')
          .chi-epanel__subtitle
            | Optional subtitle
          p.chi-epanel__text
            | Content in expansion panel (e.g. a form to select a product package)
        div.done-slot(slot='done')
          | Use this area to present
          br
          | a read-only summary of what the user
          br
          | entered or selected in step 2.
          br
          | (e.g.) a package selection
        div(slot='footer')
          | >>
        div.-p--2(slot='footerStart')
          | Sample footer text
        div(slot='footerEnd')
          chi-button(color='primary' @click="active -= 1" data-chi-epanel-action='previous')
            | Previous
          chi-button(color='primary' @click="active += 1" data-chi-epanel-action='next')
            | Continue
        div(slot='change')
          chi-button(color='primary' variant='flat' @click="active = 1" data-chi-epanel-action='change')
            | Change

script.
  new Vue({
    components: {
      ChiVueExpansionPanel: window["chi-vue"].library.components.ChiExpansionPanel
    },
    data: () => {
      return {
        active: 0,
        states: ['done', 'active', 'pending', 'disabled'],
      };
    },
    mounted() {
      console.log('Mounted vue component jay', typeof chi);
      chi.expansionPanel(document.querySelectorAll('[data-chi-epanel-group="example8"]'))
    }
  }).$mount("#app")
