script(src="https://cdn.jsdelivr.net/npm/vue@2.6.11")
script(src="../../chi-vue/umd/chi-vue.umd.js")

h2 Data Table Server Side

.test-data-table.-p--3.-w--100
  #base-server-side
    chi-vue-data-table(data-cy='data-table-server-side' ref="dataTableServerSideRef" :config="config", :data="table")
      template(#status='payload')
        div(:class="`chi-badge ${payload.status === 'active' ? '-primary' : ''}`")
          span.-text--truncate {{ payload.status }}

script.

  const page1 = [
    {
      id: "name-1",
      active: false,
      nestedContent: {
        value: "Accordion content",
      },
      data: [
        "Name 1",
        {
          template: "status",
          payload: {
            status: "active",
          },
        },
        "Dec 18, 2020 3:26 PM"
      ],
    },
    {
      id: "name-2",
      active: false,
      data: [
        "Name 2",
        {
          template: "status",
          payload: {
            status: "inact",
          },
        },
        "Dec 18, 2020 2:38 AM" 
      ],
    },
    {
      id: "name-3",
      active: false,
      nestedContent: {
        value: "Accordion content",
      },
      data: [
        "Name 3",
        {
          template: "status",
          payload: {
            status: "active",
          },
        },
        "Nov 5, 2020 10:15 AM"
      ],
    },
  ];

  const page2 = [
    {
      id: "name-4",
      active: false,
      data: [
        "Name 4",
        {
          template: "status",
          payload: {
            status: "active",
          },
        },
        "Dec 18, 2020 3:26 PM"
      ],
    },
    {
      id: "name-5",
      active: false,
      nestedContent: {
        value: "Accordion content",
      },
      data: [
        "Name 5", 
        {
          template: "status",
          payload: {
            status: "inact",
          },
        },
        "Dec 18, 2020 2:38 AM"
      ],
    },
    {
      id: "name-6",
      active: false,
      data: [
        "Name 6",
        {
          template: "status",
          payload: {
            status: "inact",
          },
        },
        "Nov 5, 2020 10:15 AM"
      ],
    },
  ];

  new Vue({
    components: {
      chiVueDataTable: window["chi-vue"].library.components.ChiDataTable,
    },
    methods: {
      fakeApiCall(page) {
        if(this.sortedData.length){
          return page === 1 ? this.sortedData.slice(0, this.config.resultsPerPage) : page === 2 ? this.sortedData.slice(this.config.resultsPerPage) : null
        }
        return page === 1 ? page1 : page === 2 ? page2 : null;
      },
      pagination(e) {
        const apiResponsePageData = this.fakeApiCall(Number(e.page));

        this.config = {
          ...this.config,
          pagination: {
            ...this.config.pagination,
            activePage: Number(e.page),
          },
        };
        this.table = {
          ...this.table,
          body: apiResponsePageData
        };
      },
      selection(selectedRows) {
        const copiedTableBodyData = [...this.table.body];
        const flagRowSelection = (levelData, id, action) => {
          const dataRow = levelData.find((row) => row.id === id);

          if (dataRow) {
            const nestedRows =
              dataRow.nestedContent && dataRow.nestedContent.table && dataRow.nestedContent.table.data
                ? dataRow.nestedContent.table.data
                : undefined;

            dataRow.selected = action === 'select';

            if (nestedRows) {
              dataRow.nestedContent.table.data.forEach((subRow) =>
                flagRowSelection(nestedRows, subRow.id, action)
              );
            }
          }
        };

        copiedTableBodyData.forEach((row) => {
          const isSelected = selectedRows?.some((selectedRow) => selectedRow.id === row.id);

          flagRowSelection(copiedTableBodyData, row.id, isSelected ? 'select' : 'deselect');
        });
        this.table = {
          ...this.table,
          body: copiedTableBodyData,
        };
      },
      sortData(e) {
        if(!e.direction){
          this.sortedData = [];

          const apiResponsePageData = this.fakeApiCall(this.config.pagination.activePage);

          this.table = {
            ...this.table,
            body: [...apiResponsePageData],
          };
        } else{
          const columnIndex = Object.keys(this.table.head).indexOf(e.column);
          const copiedTableBodyData = [...page1].concat(page2);

          copiedTableBodyData.sort((a, b) => {
            const statusA = a.data[columnIndex].payload.status;
            const statusB = b.data[columnIndex].payload.status;

            if(e.direction === "ascending"){
              return ((statusA < statusB) ? -1 : ((statusA > statusB) ? 1 : 0));
            } else{
              return ((statusA < statusB) ? 1 : ((statusA > statusB) ? -1 : 0));
            }
          });

          this.sortedData = copiedTableBodyData;
          this.table = {
            ...this.table,
            body:  this.sortedData.slice(0, this.config.resultsPerPage),
          };
        }
      }
    },
    mounted() {
      if (window.Cypress) {
        window.dataTableServerSideExample = this;
      }
    },
    updated() {
      this.$refs.dataTableServerSideRef.$on("chiPageChange", (e) => {
        this.pagination(e);
      });
      this.$refs.dataTableServerSideRef.$on("chiSelectedRowsChange", (e) => {
        this.selection(e);
      });
      this.$refs.dataTableServerSideRef.$on("chiDataSorting", (e) => {
        this.sortData(e);
      });
    },
    data: {
      config: {
        columnResize: true,
        mode: 'serverside',
        noResultsMessage: 'No matches found. Please revise search criteria and try again.',
        style: {
          portal: false,
          noBorder: false,
          bordered: false,
          hover: false,
          size: 'lg',
          striped: true,
        },
        pagination: {
          activePage: 1,
          compact: false,
          firstLast: true,
          hideOnSinglePage: true,
          pages: 2,
          pageJumper: true,
        },
        selectable: true,
        reserveExpansionSlot: true,
        columnSizes: {
          xs: [10, 10, 10, 0, 10, 10, 10, 5],
          sm: [10, 10, 10, 0, 10, 10, 10, 5],
          md: [15, 5, 15, 0, 15, 15, 15, 5],
          lg: [15, 5, 15, 0, 15, 15, 15, 5],
          xl: [15, 5, 10, 15, 15, 15, 15, 5],
        },
        resultsPerPage: 3,
      },
      table: {
        head: {
          name: { label: "Name" },
          id: { label: "ID", sortable: true, sortBy: "status", sortDataType: "string", },
          lastLogin: { label: "Last Login" },
        },
        body: page1
      },
      sortedData: []
    },
  }).$mount("#base-server-side");