@import '_mixins';
@import '_variables';

.o-header {
  align-items: center;
  background-color: set-color(white);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: auto;
  justify-content: center;
  min-height: 4rem;
  width: 100%;

  &__content {
    align-items: center;
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr auto 1fr;
    height: 4rem;
    justify-content: space-between;
    padding: 0 0.5rem;
    position: relative;
    width: 100%;

    @include respond-to(sm) {
      padding: 0 1rem;
    }

    @include respond-to(lg) {
      display: flex;
      padding: 0 1.5rem;
    }

    ~ .o-header__toolbar {
      height: 3rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__brand {
    align-items: center;
    display: inline-flex;
    grid-column-start: 2;
    justify-content: center;
    order: 2;

    @include respond-to(lg) {
      order: 1;
    }

    .a-brand {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0 0.5rem;
      width: 8.75rem;

      @include respond-to(md) {
        margin: 0 1rem 0 0;
        width: 10rem;
      }

      @include respond-to(lg) {
        margin: 0 1.5rem 0 0;
      }

      & > img,
      & > svg {
        height: 1.75rem;

        @include respond-to(md) {
          height: 2rem;
        }
      }
    }

    .o-header__title {
      color: set-color(grey, 70);
      flex: 1 0 auto;
      font-size: $text-large;
      line-height: $line-height-small;

      @include respond-to(lg) {
        font-size: $text-larger;
        margin-right: 1rem;
      }
    }
  }

  &__start {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;

    @include respond-to(lg) {
      flex-grow: 1;
      order: 2;
    }
  }

  &__end {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    order: 3;
    padding-top: 0;

    .a-tabs {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &__toolbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: $text;
    height: 2rem;
    justify-content: space-between;
    margin-top: 0;
    padding: 0 0.5rem;
    position: relative;
    width: 100%;

    @include respond-to(sm) {
      padding: 0 1rem;
    }

    @include respond-to(lg) {
      padding: 0 1.5rem;
    }

    ~ .o-header__content {
      height: auto;
      min-height: 4rem;
    }

    & .a-tabs:not(.-vertical):not(.-responsive) {
      height: 2rem;

      & > li {
        & > a {
          font-size: $text-smaller;
          padding: 0.5rem 0;
        }

        &.m-dropdown {
          &.-active > a {
            border-bottom: 0.0625rem solid $brand-color;
            padding-bottom: 0.4375rem;
          }

          .m-dropdown__trigger {
            padding-right: 1rem;

            &::after {
              top: 0.5rem;
            }
          }
        }

        &.a-sliding-border {
          height: 0.0625rem;
        }
      }

      &:not(.-sliding) {
        & > li {
          &.-active > a {
            padding-bottom: 0.4375rem;
          }
        }
      }
    }

    .o-header__start {
      align-items: center;
    }

    .o-header__end {
      margin-left: 1rem;
      padding-top: 0;

      & a {
        color: set-color(grey, 90);
        font-size: $text-smaller;
        font-weight: 600;

        &:hover {
          color: $brand-color;
          text-decoration: none;
        }
      }
    }
  }

  &.-inverse {
    background-color: set-color(black);

    .o-header__title {
      color: set-color(grey, 50);
    }

    .o-header__toolbar {
      .o-header__end {
        & > a {
          color: set-color(white);

          &:hover {
            color: $secondary;
          }
        }

        &.-active > a {
          color: $secondary;
        }
      }
    }

    .a-tabs {
      li {
        & > a {
          color: set-color(white);

          &:hover {
            color: $secondary-color;
          }
        }
      }

      & li {
        &.-active {
          & a {
            border-bottom: 0.125rem solid $secondary;
            color: $secondary;
          }
        }
      }

      &:not(.-vertical):not(.-responsive):not(.-sliding) > li {
        &.-active > a {
          border-bottom-color: $secondary-color;
          color: $secondary-color;
        }
      }
    }
  }

  &.bottom-toolbar__navigation {
    .a-divider {
      &.-colorbar {
        height: 0.25rem;
      }
    }

    .o-header__content {
      @include respond-to(md) {
        grid-template-columns: auto auto 1fr;
      }

      .o-header__start {
        @include respond-to(md) {
          padding-right: 1rem;
        }
      }

      .o-header__end {
        color: set-color(white);
        font-size: 0.75rem;

        .toolbar__info {
          border-right: 0;
          display: inline-flex;
          padding-right: 0.25rem;

          @include respond-to(md) {
            border-right: 1px solid set-color(grey, 80);
            padding-right: 0.5rem;
          }
        }
      }
    }

    .bottom-navigation {
      padding: 0 1.5rem;
      width: 100%;

      .a-tabs {
        li {
          &:not(:first-child) {
            margin-left: 2rem;

            @include respond-to(xl) {
              margin-left: 3rem;
            }
          }
        }
      }
    }
  }
}

/* IE11 CSS hack */
@media all and (-ms-high-contrast: none) {
  .o-header__content,
  .o-header__toolbar ~ .o-header__content {
    height: 4rem;
  }
}
