---
title: Browser support
---

p.-text.-mb--3
  | Chi supports the latest, stable versions of all major browsers, including
  | Chrome, Firefox, Microsoft Edge, Internet Explorer, Safari, and Opera.
  | Chi uses <a href="https://github.com/postcss/autoprefixer" target="_blank">Autoprefixer</a> to improve CSS support in older
  | browser versions and <a href="https://github.com/necolas/normalize.css" target="_blank">Normalize.css</a> for CSS resets.

div(style="overflow-x:auto;")
  section.a-table.-large.-bordered(style="min-width:896px;")
    div
      table(cellpadding='0', cellspacing='0')
        thead
          tr
            th
              div &nbsp;
            th
              div Chrome 45+
            th
              div Firefox 43+
            th
              div Edge 15+
            th
              div IE 10+
            th
              div Safari 9+
            th
              div Opera 30+
        tbody
          tr
            td
              | Mac
            td
              .-text--center
                i.a-icon.icon-check-alt.-text--brand
            td
              .-text--center
                i.a-icon.icon-check-alt.-text--brand
            td
            td
            td
              .-text--center
                i.a-icon.icon-check-alt.-text--brand
            td
              .-text--center
                i.a-icon.icon-check-alt.-text--brand
          tr
            td
              | Windows
            td
              .-text--center
                i.a-icon.icon-check-alt.-text--brand
            td
              .-text--center
                i.a-icon.icon-check-alt.-text--brand
            td
              .-text--center
                i.a-icon.icon-check-alt.-text--brand
            td
              .-text--center
                i.a-icon.icon-check-alt.-text--brand
            td
              .-text--center
                i.a-icon.icon-x.-text--danger
            td
              .-text--center
                i.a-icon.icon-check-alt.-text--brand