---
title: Browser support
order: 4
---

p.-text.-mb--3
  | Chi supports the latest, stable versions of all major browsers, including
  | Chrome, Firefox, Microsoft Edge, Internet Explorer, Safari, and Opera.
  | Chi uses <a href="https://github.com/postcss/autoprefixer" target="_blank" rel="noopener">Autoprefixer</a> to improve CSS support in older
  | browser versions and <a href="https://github.com/necolas/normalize.css" target="_blank" rel="noopener">Normalize.css</a> for CSS resets.

div(style="overflow-x:auto;").-mb--6
  table.chi-table.-lg.-bordered.-text--center(cellpadding='0', cellspacing='0')
    thead
      tr
        th
          span.-d--none Operating System
        th.-text--center Chrome 45+
        th.-text--center Firefox 43+
        th.-text--center Edge 15+
        th.-text--center IE 11+
        th.-text--center Safari 9+
        th.-text--center Opera 30+
    tbody
      tr
        td.-text--left
          | Mac
        td
          i.chi-icon.icon-check.-icon--success
        td
          i.chi-icon.icon-check.-icon--success
        td
        td
        td
          i.chi-icon.icon-check.-icon--success
        td
          i.chi-icon.icon-check.-icon--success
      tr
        td.-text--left
          | Windows
        td
          i.chi-icon.icon-check.-icon--success
        td
          i.chi-icon.icon-check.-icon--success
        td
          i.chi-icon.icon-check.-icon--success
        td
          i.chi-icon.icon-check.-icon--success
        td
        td
          i.chi-icon.icon-check.-icon--success
