---
title: Introduction
order: 1
description: Chi provides developers with a collection of HTML and CSS patterns to build fast, reusable, and consistent responsive interfaces.
tabs: {"Chi Web Components" : "webcomponentstab", "Chi CSS" : "csstab"}
---

.a-tabs-panel.-active#webcomponentstab
  include ./introduction/_web-components

.a-tabs-panel#csstab
  include ./introduction/_css
