---
title: Introduction
order: 1
homepage: true
heroTitle: Build products customers love
heroSubtitle: Chi is CenturyLink's design system for building consistent digital products and experiences.
---

.chi-grid.-py-lg--2.-py-xl--4
    .chi-col.-w--12.-w-md--6.-w-lg--5.-mb--1.-mb-lg--6
        .chi-grid.-no-gutter
            .chi-col.-w--12.-p--2.-p-lg--0
                h3.-text--h3.-mt--0.-mb--1.-mb-sm--2 Accessible
                p.-text--large.-text--grey.-m--0
                    | Chi components follow Section 508 and WCAG AA standards which ensure the best experience
                    | is provided for all customers, including those with disabilities.
    .chi-col.-w--12.-w-md--6.-w-lg--5.-o-lg--2.-mb--1.-mb-lg--6
        .chi-grid.-no-gutter
            .chi-col.-w--12.-p--2.-p-lg--0
                h3.-text--h3.-mt--0.-mb--1.-mb-sm--2 Composable
                p.-text--large.-text--grey.-m--0
                    | Chi components are flexible, scalable building blocks that can be implemented as is or
                    | assembled in various combinations to satisfy a diverse set of requirements.
    .chi-col.-w--12.-w-md--6.-w-lg--5.-mb--1.-mb-lg--6
        .chi-grid.-no-gutter
            .chi-col.-w--12.-p--2.-p-lg--0
                h3.-text--h3.-mt--0.-mb--1.-mb-sm--2 Reusable
                p.-text--large.-text--grey.-m--0
                    | Chi components provide tried-and-tested patterns that enable teams to ship faster, accrue
                    | less technical debt, and deliver more predictable and seamless experiences to customers.
    .chi-col.-w--12.-w-md--6.-w-lg--5.-o-lg--2.-mb--1.-mb-lg--6
        .chi-grid.-no-gutter
            .chi-col.-w--12.-p--2.-p-lg--0
                h3.-text--h3.-mt--0.-mb--1.-mb-sm--2 Compatible
                p.-text--large.-text--grey.-m--0
                    | Chi's framework agnostic web components and independent CSS layer are compatible with any
                    | major framework (AngularJS, ReactJS, VueJS) or no framework at all.