---
title: Installation
order: 2
---

h2.-text--h2.-text--bold CSS
p.-text
  | Add Chi CSS by copying and pasting the stylesheet below into the header of your project.
  | Chi's stylesheet is hosted on CenturyLink's Assets Server which is a highly available and 
  | performant option for loading assets into your CenturyLink project.
.-mb--2
  :code(lang='html')
    <link rel="stylesheet" href="https://assets.ctl.io/chi/2.1.0/chi.css">

p.-text
  | Next, add the <code>chi</code> CSS class to the <code>&lt;html&gt;</code> tag of your document to properly scope the styles.
  | This allows Chi to override any existing styles that have been defined by legacy markup.

  .-mb--2
  :code(lang='html')
    <html class="chi">
      ...
    </html>

p.-text.-mb--3
  | At this point you can now start using Chi. The documentation includes a wealth of templates and code samples
  | to get you started.

h2.-text--h2.-text--bold JavaScript
.chi-badge.-dark.-outline.-xs.-mb--1
  span Optional
p.-text
  | Although Chi can be used as a pure HTML and CSS framework with only the stylesheet above, many advanced components
  | like tabs, drop downs, date pickers, and others require JavaScript to function. In most cases the need is minimal.
  | You may write your own JavaScript to integrate Chi's CSS and blueprints into your project, or use Chi's JavaScript library
  | which was written to provide a complete solution.
p.-text
  | Chi's JavaScript library depends on Popper.js for positioning components like Popovers and Dropdown menus, and Day.js
  | for calculating dates in the Datepicker component. For the rest, the library is entirely independent.
p.-text
  | Chi's JavaScript library is developed as an ES6 component, but with the help of Webpack, it is available in several flavors.
  | Choose the method that best fits your project.
ul#chi-js-tabs.chi-tabs.-border
  li.-active
    a(href='#chi-js-tabs--file') JavaScript file
  li
    a(href='#chi-js-tabs--amd') AMD module
  li
    a(href='#chi-js-tabs--es6') ES6 modules
#chi-js-tabs--file.chi-tabs-panel.-active
  p.-text
    | To use the old method of including Chi in your project, include the ES5, browser prepared, JavaScript
    | file from the CenturyLink Assets Server. In this solution Popper.js and Day.js are bundled into the file.
  .-mb--2
    :code(lang='html')
      <script src="https://assets.ctl.io/chi/2.1.0/js/chi.js"></script>
#chi-js-tabs--amd.chi-tabs-panel
  p.-text
    | If you use RequireJS or any other AMD compatible module loader in your project, you will find the AMD compatible
    | version in the <code>amd</code> folder. Then, you will have to update your require configuration:
  :code(lang='javascript')
    'chi': {
      path: [CHI_PATH, 'amd', 'chi'].join('/'),
      shim: {
        deps: ['Popper'],
        exports: 'chi'
      }
    }
#chi-js-tabs--es6.chi-tabs-panel
  p.-text
    | For recent projects already using ES6 modules, will find their version in the <code>es6</code> folder. In this case, there is no
    | need for importing the whole Chi library as you can import each component separately by using ES6 import syntax.
  :code(lang='javascript')
    import {Dropdown} from "route/to/chi/es6/dropdown.js";

h2.-text--h2.-text--bold.-mt--4 Web Components
.chi-badge.-dark.-outline.-xs.-mb--1
  span Optional
p.-text
  | Chi Web Components are <a target="_blank" href="https://html.spec.whatwg.org/multipage/custom-elements.html#custom-elements" rel="noopener">Custom Elements</a>
  | designed to CenturyLink's specifications and built according to the HTML Living Standard.
  | They are written in vanilla Javascript for compatibility with major frameworks including
  | AngularJS, ReactJS, VueJS, or no framework at all.

p.-text
  | Add Chi Web Components by copying and pasting the JavaScript files below into the header of your
  | web application. Placing the files in the header is important as it will load any Polyfill if the browser
  | doesn't support Web Components.

.-mb--2
  :code(lang='html')
    <script type="module" src="https://assets.ctl.io/chi/2.1.0/js/ce/ux-chi-ce/ux-chi-ce.esm.js"></script>
    <script nomodule="" src="https://assets.ctl.io/chi/2.1.0/js/ce/ux-chi-ce/ux-chi-ce.js"></script>

p.-text.-mb--3
  | After placing the files in your header, you are now ready to use the Web Components described in this documentation.

.chi-expansion-panel.-web-components.-pb--5
  .chi-epanel.-no-step(data-chi-epanel-group="web-component-details")
    .chi-epanel__header
      .chi-epanel__title.-w--100(data-chi-epanel-action="toggle")
        i.chi-icon.icon-chevron-right.-mr--2
        | HTML attributes and DOM properties
    .chi-epanel__collapse
      .-active--only
        .chi-epanel__body
          .chi-epanel__content
            .chi-epanel__text
              p.-text
                | Chi Web Components can be used in several different ways. The most common are the HTML attributes
                | and the DOM properties. In most cases, we keep them synchronized. For example, the <code>chi-button</code> element has
                | a <code>size</code> attribute that can be accessed and modified in two ways.
              h3.-text--h5.-mt--3 Modifying the HTML attribute
              :code(lang='html')
                <chi-button id="close-btn" size="md">Close</chi-button>
                <script>
                  document.getElementById("close-btn").setAttribute("size", "xl");
                </script>
              h3.-text--h5.-mt--3 Setting the DOM property
              :code(lang='html')
                <chi-button id="close-btn" size="md">Close</chi-button>
                <script>
                  document.getElementById("close-btn").size="xl";
                </script>
  .chi-epanel.-no-step(data-chi-epanel-group="web-component-details")
    .chi-epanel__header
      .chi-epanel__title.-w--100(data-chi-epanel-action="toggle")
        i.chi-icon.icon-chevron-right.-mr--2
        | Boolean attributes and properties
    .chi-epanel__collapse
      .-active--only
        .chi-epanel__body
          .chi-epanel__content
            .chi-epanel__text
              p.-text
                | Some Chi components have boolean attributes which function the same way as the well known <code>disabled</code>
                | attribute. Boolean attributes are <code>true</code> when the HTML element has the attribute and <code>false</code> when not.
              p.-text
                | Boolean attributes can be set to true this way:
              .-mb--2
                :code(lang='html')
                  <input type="text" disabled />
                  <chi-drawer id="drawer" active />
                  <script>
                    document.getElementById("drawer").active = true;
                    document.getElementById("drawer").setAttribute("active", "active");
                  </script>
              p.-text
                | And set to false this way:
              .-mb--2
                :code(lang='html')
                  <input type="text"  />
                  <chi-drawer id="drawer" />
                  <script>
                    document.getElementById("drawer").active = false;
                    document.getElementById("drawer").removeAttribute("active");
                  </script>
              p.-text
                | Some components, like <code>chi-drawer</code>, have helper methods in order to change the state of commonly modified attributes:
              .-mb--2
                :code(lang='html')
                  <chi-drawer id="drawer" />
                  <script>
                    document.getElementById("drawer").show();   // This sets the active property to true
                    document.getElementById("drawer").hide();   // This sets the active property to false
                    document.getElementById("drawer").toggle(); // This toggles the state of the active property
                  </script>

script.
  chi.tab(document.getElementById('chi-js-tabs'));
  chi.expansionPanel(
    document.querySelectorAll('[data-chi-epanel-group="web-component-details"]'),
    {mode: 'accordion'}
  );