---
title: Installation
order: 2
description: Use these guidelines to install Chi in your project
tabs: {
      "Web Components" : "webcomponentstab",
      "CSS" : "csstab",
      "JavaScript" : "jstab"
}
---

.chi-tabs-panel.-active#webcomponentstab
  include ./installation/_web-components

.chi-tabs-panel#csstab
  include ./installation/_css

.chi-tabs-panel#jstab
  include ./installation/_js
