---
title: Installation
order: 2
description: Use these guidelines to install Chi in your project or set up development environment
tabs: {
      "Web Components" : "webcomponentstab",
      "CSS" : "csstab",
      "JavaScript" : "jstab",
      "Development workflow" : "developmenttab"
}
---

.a-tabs-panel.-active#webcomponentstab
  include ./installation/_web-components

.a-tabs-panel#csstab
  include ./installation/_css

.a-tabs-panel#jstab
  include ./installation/_js

.a-tabs-panel#developmenttab
  include ./installation/_development
