---
title: What's new
order: 3
---
.changelog__version.-py--1
  h3 <a href="https://github.com/CenturyLinkCloud/ux-chi/releases/tag/v1.2.5" target="_blank">v1.2.5</a>
  ul.-text.-pl--2
    li Added Dark version of Sidenav component for Enterprise portals.
    li Added small, medium, and large size support to Sidenav component.
    li Updated Card component documentation with common Dashboard KPI example.
    li Removed unnecessary font-family property from Button component which conflicted with the font-family defined on root.
    li Added icon support to Picker Group component.
    li Updated Drawer component javascript documentation with methods.
    li Updated documentation with a version check to alert users when a new version is available.
    li Fixed Steps component link color inconsistency in base light version.
    li Updated Header component documentation with Enterprise Portal header example.
    li Updated Grid component documentation with base grid guidelines.
    li Updated Dropdown component trigger margin.
    li Updated Progress component bar height.

.changelog__version.-py--1
  h3 <a href="https://github.com/CenturyLinkCloud/ux-chi/releases/tag/v1.2.4" target="_blank">v1.2.4</a>
  ul.-text.-pl--2
    li Added responsive behavior to Picker Group component.
    li Fixed bug in Text Input component which failed to style all available HTML5 input types.
    li Fixed bug in Expansion Panel component that prevented long text strings from wrapping.
    li Updated Divider component Color Bar proportions.
    li Added Color utility for muted backgrounds.
    li Added support for centering bubble alerts with new utility class.
    li Updated base Steps component disabled color.
    li Added !important to shadow utility values.
    li Added default color value to o-header__title in Header component.
    li Fixed Steps component bug in IE which caused step numbers to misalign.
    li Replaced modal back SVG icon with Chi web font icon for easier theming.
    li Fixed Steps component bug which was not reseting default browser padding and margin on ul element.
    li Added 720px max width to Sizing utility.
    li Improved responsive behavior of Footer component.
    li Fixed bug in Drawer component which caused the close icon to scroll with content.
    li Fixed bug in Drawer component which caused the drawer to unexpectedly close.

.changelog__version.-py--1
  h3 <a href="https://github.com/CenturyLinkCloud/ux-chi/releases/tag/v1.2.3" target="_blank">v1.2.3</a>
  ul.-text.-pl--2
    li Fixed Icon bug which prevented several web font icons from loading.
    li Added new solid and outline Icons for: Cart, Circle Info, Circle Question, Comment, Comments, Database, Home, Mail, Wifi.
    li Fixed Dropdown component bug which prevented the trigger icon from rendering correctly on non-base buttons.
    li Fixed bug which scrolled the underlying body content when a Drawer or Modal was open.
    li Improved Header component responsive behavior.
    li Fixed line-height of base textarea.
    li Added new background color utilities.
    li Fixed bug which sized Spinner components incorrectly when placed inside Modals.
    li Fixed incorrect documentation example code for Tooltips and Date pickers.
    li Fixed Step component bug which colored non-active inverse step lines mint instead of grey.
    li Added Picker Group component.
    li Removed margin-right from Toggle Switch component.
    li Updated Number Input component widths to support more digits by default.
    li Added !important to utility values to allow overriding component styles.

.changelog__version.-py--1
  h3 <a href="https://github.com/CenturyLinkCloud/ux-chi/releases/tag/v1.2.2" target="_blank">v1.2.2</a>
  ul.-text.-pl--2
    li Added text and background utility for CenturyLink's primary grey.
    li Added support for -muted to Alert component.
    li Removed support for -light and -dark from Alert component.
    li Fixed Expansion Panel component bug which failed to apply active styles to active panel step numbers.
    li Updated Footer component with correct legal links.
    li Updated base Header and Footer components to use the black Brand logo for consistency with dot com.
    li Fixed Icon Button bug which rendered incorrect padding on :active when a size class was defined.
    li Fixed Tab component animation which was buggy on -lg sized horizontal tabs.
    li Created chi alias to run all development environment commands.
    li Fixed wrapping and margin bugs in documentation examples.
    li Renamed text color utility from -text--inverse to -text--light.
    li Added new reference images for BackstopJS regression tests.
    li Updated development environment tasks to run in Docker.
    li Fixed responsive behavior in Activity component.
    li Updated Authentication templates with Floating Label Input component.
    li Improved design of disabled icon buttons to look more disabled.

.changelog__version.-py--1
  h3 <a href="https://github.com/CenturyLinkCloud/ux-chi/releases/tag/v1.2.1" target="_blank">v1.2.1</a>
  ul.-text.-pl--2
    li Fixed Sidenav animation.
    li Fixed Activity lint warnings.

.changelog__version.-py--1
  h3 <a href="https://github.com/CenturyLinkCloud/ux-chi/releases/tag/v1.2.0" target="_blank">v1.2.0</a>
  ul.-text.-pl--2
    li Added Javascript Modal component.
    li Added ability to close Modal component via escape key.
    li Fixed margin misalignment bug in Modal component.
    li Added scrolling support to Modal component.
    li Removed forced text-transform from Modal title.
    li Added support for CenturyLink's Color Bar brand element to Divider component.
    li Fixed IE11 content misalignment bug in Header component.
    li Added Activity component.
    li Added support for Warning styles to Badge component.
    li Updated Icon component with new arrow icons.
    li Renamed grey Badge style from Light to Muted.
    li Added new Light Badge and Button style for use on black backgrounds.
    li Fixed IE11 text overflow bug in Picker component.
    li Fixed IE11 tab display bug in Sidenav component.
    li Fixed bug in Button component where outline button background was set to white instead of transparent.
    li Fixed bug in Button component where outline button secondary hover icon color wasn't inheriting text color.
    li Added anchor link support to all sections within Documentation.
    li Added State template to illustrate common user and application states.

.changelog__version.-py--1
  h3 <a href="https://github.com/CenturyLinkCloud/ux-chi/releases/tag/v1.1.1" target="_blank">v1.1.1</a>
  ul.-text.-pl--2
    li Fixed vertical nav tab active state.
    li Fixed padding on header mobile.

.changelog__version.-py--1
  h3 <a href="https://github.com/CenturyLinkCloud/ux-chi/releases/tag/v1.1.0" target="_blank">v1.1.0</a>
  ul.-text.-pl--2
    li Added support for solid white and solid black logos to brand component.
    li Added label examples to text input and textarea documentation.
    li Added Fieldset template.
    li Added sidenav component which emulates Cyclops's Main Nav component.
    li Added date picker component.
    li Improved truncating logic in Tooltip component to support more characters.
    li Added popover component.
    li Added pagination component.
    li Added tooltip component.
    li Updated Tab component size classes from -large and -small to the more consistent, -lg and -sm.
    li Fixed browser sync issues in dev environment.
    li Added subtitle support to modal component.
    li Fixed line-height bug in Floating Label component.
    li Fixed toggle switches from incorrectly wrapping within Card components.
    li Added fluid support to Button component.
    li Removed white background from outline button hover states.
    li Fixed text input and select input padding inconsistency.
    li Added floating label support to Select component.

.changelog__version.-py--1
  h3 <a href="https://github.com/CenturyLinkCloud/ux-chi/releases/tag/v1.0.0" target="_blank">v1.0.0</a>
  ul.-text.-pl--2
    li Updated colors to comply with new guidelines from brand team.

.changelog__version.-py--1
  h3 <a href="https://github.com/CenturyLinkCloud/ux-chi/releases/tag/v0.9.1" target="_blank">v0.9.1</a>
  ul.-text.-pl--2
    li Added progress component.
    li Fixed bug in Range Slider component which prevented tooltips from rendering in IE.
    li Added Footer component.
    li Added dropdown and responsive support to Tab component.
    li Updated Position utility with fixed-bottom and fixed-top support.
    li Added concept of grouping to Checkbox and Radio button components.
    li Added Picker component.
    li Added horizontal label support to Steps component.
    li Updated Button component color definition logic in preparation for the rebrand.
    li Updated javascript components to remove redundancies and instantiate consistently.
    li Updated Dropdown component to include the ability to initiate on hover.
    li Added empty and active states to Card component.
    li Added Range slider javascript component.
    li Fixed bug in Button component which colored icons in inverse buttons incorrectly.
    li Added Expansion Panel javascript component.
    li Added Price component.
    li Fixed bug in Drawer component which prevented some drawers from animating.

.changelog__version.-py--1
  h3 <a href="https://github.com/CenturyLinkCloud/ux-chi/releases/tag/v0.9.0" target="_blank">v0.9.0</a>
  ul.-text.-pl--2
    li Updated Header component to support black backgrounds.
    li Updated Brand component to support rendering on black backgrounds.
    li Updated font-size of tab component to match Chi's base font-size.
    li Added Tooltip javascript component.
    li Updated Tab component to include hover state.
    li Updated input alignment notation.
    li Fixed flat button bug which prevented the ability to override the button padding with a utility class.
    li Added version dropdown to documentation.
    li Added Changelog page to documentation.
    li Added Floating Label javascript component.
    li Added Steps component.
    li Added new Number Input component.
    li Migrated javascript Tabs component into the new Chi core javascript library.
    li Added javascript Drawer component.
    li Added Z-index utility.
    li Added browser support page to documentation.
    li Added new text color utilities for base/body text and white text.
    li Updated documentation examples to reference new utility notation.
    li Added copy to clipboard functionality to all documentation examples.
    li Added Drawer component.
    li Updated Button component to support a larger set of sizes.
    li Fixed Display utility bug which targeted single breakpoints instead of specific breakpoint + larger.
    li Added javascript Dropdown component.
    li Updated Alert component to enable more flexibility with icons, header sizes, and alignment.

.changelog__version.-py--1
  h3 <a href="https://github.com/CenturyLinkCloud/ux-chi/releases/tag/v0.8.3" target="_blank">v0.8.3</a>
  ul.-text.-pl--2
    li Updated grid utility notation.
    li Updated text utilities notation.
    li Added Dropdown component.
    li Added Templates section to documentation with Sign In and Error 500 layout examples.
    li Added Color utility.
    li Added responsive support to Border utility.
    li Added responsive support to Shadow utility.
    li Added Sizing utility.
    li Added responsive support to Spacing utility.
    li Added -pill support to Button component.
    li Added Position utility.
    li Added Header component.
    li Removed unnecessary xs breakpoint from display and flex utilities.
    li Updated Modal component to allow close buttons to render outside of a-modal__header.
    li Improved color documentation.
    li Added Brand component.
    li Added Divider component.
    li Fixed bug that prevented adding buttons to Alert components.
    li Renamed a-formGroup to m-formGroup.
    li Added Spinner component.
    li Added Avatar component.

.changelog__version.-py--1
  h3 <a href="https://github.com/CenturyLinkCloud/ux-chi/releases/tag/v0.8.2" target="_blank">v0.8.2</a>
  ul.-text.-pl--2
    li Extended tab functionality by creating tabbable panes of content and animating active tab borders.
    li Updated Badge component to include icon support.
    li Added Icon component with SVG and Web font support.
    li Added Getting Started section.
    li Improved compatibility with Edge and IE11.
    li Added flex utility classes.
    li Merged ux-chi-docs into ux-chi.

.changelog__version.-py--1
  h3 <a href="https://github.com/CenturyLinkCloud/ux-chi/releases/tag/v0.8.1" target="_blank">v0.8.1</a>
  ul.-text.-pl--2
    li Updated select form arrow icon and focus color.
    li Added display utility classes.
    li Renamed -d (depth) utility class to -s (shadow).
    li Renamed -primary button class to -brand.
    li Added border utility classes.

.changelog__version.-pt--1.-pb--4
  h3 <a href="https://github.com/CenturyLinkCloud/ux-chi/releases/tag/v0.8.0" target="_blank">v0.8.0</a>
  ul.-text.-pl--2
    li Added depth utility classes.
    li Enabled spacing utility classes to be combined (i.e. .-p--4 .-pb--0).
    li Added card component.
    li Changed relative base size to 16px (the default on most browsers).
    li Removed API and CLI support to focus strictly on CDN and packaged source as integration options.
    li Added WCAG 2.0 compliant color palette.
    li Updated margin and padding utility classes to include zero.
    li Updated checkboxes and radios to dim both the input and label when disabled.
    li Added margin to checkboxes and radios to provide sufficient space between the input and label.
    li Added support for displaying checkboxes and radios as stacked or inline.
    li Renamed the green themed Badge modifier class from brand to success.
    li Updated the grid system with cleanups and improved responsive support.
    li Added text size and style utility classes.
    li Removed hosted fallback support for Open Sans fonts.
    li Updated Google Fonts reference to always load via https.
    li Moved the package into the `@centurylink` scope (from `@ctl`, which we don't control).
    li Updated package metadata to point to the GitHub repository and the CenturyLink Assets Server (https://assets.ctl.io/chi) as the project homepage.
    li Added licensing and the CenturyLink contributor notice.
    li Removed unintentionally rounded corners on banner alerts.
    li Added close buttons to bubble alerts.
