---
title: What's new
order: 3
---
.changelog__version.-py--1
  h3 <a href="https://github.com/CenturyLinkCloud/ux-chi/releases/tag/v0.9.1" target="_blank">v0.9.1</a>
  ul.-text.-pl--2
    li Added progress component.
    li Fixed bug in Range Slider component which prevented tooltips from rendering in IE.
    li Added Footer component.
    li Added dropdown and responsive support to Tab component.
    li Updated Position utility with fixed-bottom and fixed-top support.
    li Added concept of grouping to Checkbox and Radio button components.
    li Added Picker component.
    li Added horizontal label support to Steps component.
    li Updated Button component color definition logic in preparation for the rebrand.
    li Updated javascript components to remove redundancies and instantiate consistently.
    li Updated Dropdown component to include the ability to initiate on hover.
    li Added empty and active states to Card component.
    li Added Range slider javascript component.
    li Fixed bug in Button component which colored icons in inverse buttons incorrectly.
    li Added Expansion Panel javascript component.
    li Added Price component.
    li Fixed bug in Drawer component which prevented some drawers from animating.

.changelog__version.-py--1
  h3 <a href="https://github.com/CenturyLinkCloud/ux-chi/releases/tag/v0.9.0" target="_blank">v0.9.0</a>
  ul.-text.-pl--2
    li Updated Header component to support black backgrounds.
    li Updated Brand component to support rendering on black backgrounds.
    li Updated font-size of tab component to match Chi's base font-size.
    li Added Tooltip javascript component.
    li Updated Tab component to include hover state.
    li Updated input alignment notation.
    li Fixed flat button bug which prevented the ability to override the button padding with a utility class.
    li Added version dropdown to documentation.
    li Added Changelog page to documentation.
    li Added Floating Label javascript component.
    li Added Steps component.
    li Added new Number Input component.
    li Migrated javascript Tabs component into the new Chi core javascript library.
    li Added javascript Drawer component.
    li Added Z-index utility.
    li Added browser support page to documentation.
    li Added new text color utilities for base/body text and white text.
    li Updated documentation examples to reference new utility notation.
    li Added copy to clipboard functionality to all documentation examples.
    li Added Drawer component.
    li Updated Button component to support a larger set of sizes.
    li Fixed Display utility bug which targeted single breakpoints instead of specific breakpoint + larger.
    li Added javascript Dropdown component.
    li Updated Alert component to enable more flexibility with icons, header sizes, and alignment.

.changelog__version.-py--1
  h3 <a href="https://github.com/CenturyLinkCloud/ux-chi/releases/tag/v0.8.3" target="_blank">v0.8.3</a>
  ul.-text.-pl--2
    li Updated grid utility notation.
    li Updated text utilities notation.
    li Added Dropdown component.
    li Added Templates section to documentation with Sign In and Error 500 layout examples.
    li Added Color utility.
    li Added responsive support to Border utility.
    li Added responsive support to Shadow utility.
    li Added Sizing utility.
    li Added responsive support to Spacing utility.
    li Added -pill support to Button component.
    li Added Position utility.
    li Added Header component.
    li Removed unnecessary xs breakpoint from display and flex utilities.
    li Updated Modal component to allow close buttons to render outside of a-modal__header.
    li Improved color documentation.
    li Added Brand component.
    li Added Divider component.
    li Fixed bug that prevented adding buttons to Alert components.
    li Renamed a-formGroup to m-formGroup.
    li Added Spinner component.
    li Added Avatar component.

.changelog__version.-py--1
  h3 <a href="https://github.com/CenturyLinkCloud/ux-chi/releases/tag/v0.8.2" target="_blank">v0.8.2</a>
  ul.-text.-pl--2
    li Extended tab functionality by creating tabbable panes of content and animating active tab borders.
    li Updated Badge component to include icon support.
    li Added Icon component with SVG and Web font support.
    li Added Getting Started section.
    li Improved compatibility with Edge and IE11.
    li Added flex utility classes.
    li Merged ux-chi-docs into ux-chi.

.changelog__version.-py--1
  h3 <a href="https://github.com/CenturyLinkCloud/ux-chi/releases/tag/v0.8.1" target="_blank">v0.8.1</a>
  ul.-text.-pl--2
    li Updated select form arrow icon and focus color.
    li Added display utility classes.
    li Renamed -d (depth) utility class to -s (shadow).
    li Renamed -primary button class to -brand.
    li Added border utility classes.

.changelog__version.-pt--1.-pb--4
  h3 <a href="https://github.com/CenturyLinkCloud/ux-chi/releases/tag/v0.8.0" target="_blank">v0.8.0</a>
  ul.-text.-pl--2
    li Added depth utility classes.
    li Enabled spacing utility classes to be combined (i.e. .-p--4 .-pb--0).
    li Added card component.
    li Changed relative base size to 16px (the default on most browsers).
    li Removed API and CLI support to focus strictly on CDN and packaged source as integration options.
    li Added WCAG 2.0 compliant color palette.
    li Updated margin and padding utility classes to include zero.
    li Updated checkboxes and radios to dim both the input and label when disabled.
    li Added margin to checkboxes and radios to provide sufficient space between the input and label.
    li Added support for displaying checkboxes and radios as stacked or inline.
    li Renamed the green themed Badge modifier class from brand to success.
    li Updated the grid system with cleanups and improved responsive support.
    li Added text size and style utility classes.
    li Removed hosted fallback support for Open Sans fonts.
    li Updated Google Fonts reference to always load via https.
    li Moved the package into the `@centurylink` scope (from `@ctl`, which we don't control).
    li Updated package metadata to point to the GitHub repository and the CenturyLink Assets Server (https://assets.ctl.io/chi) as the project homepage.
    li Added licensing and the CenturyLink contributor notice.
    li Removed unintentionally rounded corners on banner alerts.
    li Added close buttons to bubble alerts.
