@import '_global-variables';
@import '_global-mixins';

$avatar-sizes: (
  xs: 0.75rem,
  sm: 1rem,
  sm--2: 1.25rem,
  sm--3: 1.5rem,
  md: 2rem,
  lg: 4rem,
  xl: 6rem,
  xxl: 8rem
);

$avatar-colors: (
  grey: (
    border-color: $avatar-grey-border-color,
    text-color:   $avatar-grey-text-color,
  ),
  red: (
    border-color: $avatar-red-border-color,
    text-color:   $avatar-red-text-color,
  ),
  pink: (
    border-color: $avatar-pink-border-color,
    text-color:   $avatar-pink-text-color,
  ),
  purple: (
    border-color: $avatar-purple-border-color,
    text-color:   $avatar-purple-text-color,
  ),
  indigo: (
    border-color: $avatar-indigo-border-color,
    text-color:   $avatar-indigo-text-color,
  ),
  cyan: (
    border-color: $avatar-cyan-border-color,
    text-color:   $avatar-cyan-text-color,
  ),
  navy: (
    border-color: $avatar-navy-border-color,
    text-color:   $avatar-navy-text-color,
  ),
  blue: (
    border-color: $avatar-blue-border-color,
    text-color:   $avatar-blue-text-color,
  ),
  teal: (
    border-color: $avatar-teal-border-color,
    text-color:   $avatar-teal-text-color,
  ),
  green: (
    border-color: $avatar-green-border-color,
    text-color:   $avatar-green-text-color,
  ),
  yellow: (
    border-color: $avatar-yellow-border-color,
    text-color:   $avatar-yellow-text-color,
  ),
  orange: (
    border-color: $avatar-orange-border-color,
    text-color:   $avatar-orange-text-color,
  ),
  light: (
    border-color: $avatar-light-border-color,
    text-color:   $avatar-light-text-color,
  ),
  inverse: (
    border-color: $avatar-inverse-border-color,
    text-color:   $avatar-inverse-text-color,
  ),
  primary: (
    border-color: $avatar-primary-border-color,
    text-color:   $avatar-primary-text-color,
  ),
  secondary: (
    border-color: $avatar-secondary-border-color,
    text-color:   $avatar-secondary-text-color,
  ),
);

$avatar-default-size: 'md';

.chi-avatar {
  background-color: $avatar-background-color;
  border-radius: 50%;
  color: $avatar-text-color;
  display: inline-block;
  font-size: map-get($avatar-sizes, $avatar-default-size) / 2;
  height: map-get($avatar-sizes, $avatar-default-size);
  line-height: map-get($avatar-sizes, $avatar-default-size);
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: map-get($avatar-sizes, $avatar-default-size);

  & > img,
  & > svg {
    height: 100%;
    width: 100%;
  }

  & > i,
  &.chi-icon > svg {
    height: 50%;
    margin: 25%;
    width: 50%;
  }

  &.chi-icon {
    font-size: map-get($avatar-sizes, $avatar-default-size) / 2;
    height: map-get($avatar-sizes, $avatar-default-size);
    line-height: map-get($avatar-sizes, $avatar-default-size);
    width: map-get($avatar-sizes, $avatar-default-size);
  }

  @each $type in map-keys($avatar-sizes) {
    &.-#{$type} {
      font-size: map-get($avatar-sizes, $type) / 2;
      height: map-get($avatar-sizes, $type);
      line-height: map-get($avatar-sizes, $type);
      width: map-get($avatar-sizes, $type);

      & > i {
        &.chi-icon {
          font-size: map-get($avatar-sizes, $type) / 2;
        }
      }
    }
  }

  @each $color in map-keys($avatar-colors) {
    &.-#{$color} {

      @if($color == 'light' or 'inverse') {
        background-color: transparent;
      } @else {
        background-color: white;
      }

      border: max(0.0625rem, map-get($avatar-sizes,
          $avatar-default-size) / 48) solid map-get($avatar-colors, border-color);
      color: map-get(map-get($avatar-colors, $color), text-color);

      &.-transparent {
        background-color: transparent;
      }

      & > i,
      &.chi-icon > svg {
        color: map-get(map-get($avatar-colors, $color), text-color);
      }
    }

    @each $type in map-keys($avatar-sizes) {
      &.-#{$type} {
        border-width: max(0.0625rem, map-get($avatar-sizes, $type) / 48);
      }
    }
  }
}

.chi-avatar-group {
  align-items: center;
  display: flex;

  .chi-avatar {
    margin-right: 0.75rem;
  }
}
