@import '_mixins';
@import '_variables';

@mixin tabs-vertical {
  display: flex;
  flex-direction: column;
  line-height: $line-height-smaller;

  .chi-tabs__subtabs {
    list-style: none;
    padding: 0;

    & > li {
      &.-active {
        & > a {
          color: $brand-color;
          font-weight: 600;
        }
      }

      & > a {
        color: $text-color;
        cursor: pointer;
        display: block;
        font-size: $text-small;
        line-height: $line-height-smaller;
        padding: 0.5rem 0 0.5rem 2.5rem;
        text-decoration: none;

        &:hover {
          color: $brand-color;
        }
      }
    }
  }

  &.-icons {
    & > li {
      &.-active {
        & > a {
          position: relative;

          & > .chi-icon {
            color: $brand-color;
            left: 1.5rem;
          }
        }
      }

      & > a {
        padding-left: 3.5rem;
        position: relative;

        & > .chi-icon {
          left: 1.5rem;
          position: absolute;
        }
      }

      .chi-tabs__subtabs {
        & > li {
          & > a {
            padding-left: 4.5rem;
          }
        }
      }
    }
  }

  & > li {
    &.chi-sliding-border {
      left: 0;
      position: absolute;
      width: 0.125rem;
    }

    &.-activeAlt {
      & > a {
        background-color: set-color(grey, 20);
        color: $text-color;

        & > .chi-icon {
          color: $text-color;
        }
      }
    }

    & > a {
      padding: 0.5rem 0 0.5rem 1.5rem;
      width: 100%;
    }
  }

  &:not(.-sliding) {
    & > li {
      &.-active:not(.-hasActive) > a {
        box-shadow: inset 0.125rem 0 0 $primary-color;
      }
    }

    &.-animated > li {
      &.-active:not(.-hasActive) > a {
        box-shadow: inset 0.125rem 0 0 $primary-color;
      }

      & .chi-tabs__subtabs > li {
        &.-active:not(.-hasActive) > a {
          box-shadow: inset 0.125rem 0 0 $primary-color;
        }
      }
    }
  }

  &.-sm {
    & > li {
      & > a {
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
      }
    }

    .chi-tabs__subtabs {
      & > li {
        & > a {
          padding: 0.25rem 0 0.25rem 2.5rem;
        }
      }
    }
  }

  &.-lg {
    & > li {
      & > a {
        line-height: $line-height-large;
        padding-bottom: 0.75rem;
        padding-top: 0.75rem;

        & > .chi-icon {
          margin-top: 0.25rem;
        }
      }
    }
  }

  &.-border {
    & > li {
      border-bottom: 0.0625rem solid set-color(grey, 30);

      &.-active {
        & > a {
          &::before {
            top: -0.0625rem;
          }
        }
      }

      & > a {
        padding-bottom: 0.5rem;
        padding-top: 0.4375rem;
      }

      &:first-child {
        border-top: 0.0625rem solid set-color(grey, 30);

        & > a {
          padding-bottom: 0.4375rem;
          padding-top: 0.4375rem;
        }
      }
    }

    &.-sm {
      & > li {
        & > a {
          padding-bottom: 0.25rem;
          padding-top: 0.1875rem;
        }

        &:first-child {
          & > a {
            padding-bottom: 0.1875rem;
            padding-top: 0.1875rem;
          }
        }
      }
    }

    &.-lg {
      & > li {
        & > a {
          padding-bottom: 0.75rem;
          padding-top: 0.6875rem;
        }

        &:first-child {
          & > a {
            padding-bottom: 0.6875rem;
            padding-top: 0.6875rem;
          }
        }
      }
    }
  }
}

@mixin tabs-not-vertical {
  height: 3.5rem;

  &.-icons {
    & > li {
      &.-active {
        .chi-icon {
          color: $brand-color;
        }
      }

      & > a {
        padding-left: 1.5rem;
        position: relative;

        .chi-icon {
          left: 0;
          position: absolute;
        }
      }
    }
  }

  &.-border {
    border-bottom: 0.0625rem solid set-color(grey, 30);
  }

  & > li {
    &:not(:first-child) {
      margin-left: 1.5rem;
    }

    & > a {
      line-height: $line-height-smaller;
      padding: 1.25rem 0;
    }

    &.chi-sliding-border {
      bottom: 0;
      height: 0.125rem;
      margin-left: 0;
    }
  }

  &:not(.-sliding) > li {
    &.-active > a {
      border-bottom: 0.125rem solid $brand-color;
      padding-bottom: 1.125rem;
    }
  }

  &.-xs {
    height: 2.5rem;

    & > li {
      &.-active > a {
        padding-bottom: 0.5625rem;
      }

      & > a {
        font-size: $text-smaller;
        padding: 0.8125rem 0 0.6875rem 0;
      }
    }
  }

  &.-sm {
    height: 3rem;

    & > li {
      &.-active > a {
        padding-bottom: 0.875rem;
      }

      & > a {
        line-height: $line-height-smaller;
        padding: 1rem 0;
      }
    }
  }

  &.-lg {
    height: 4rem;

    & > li:not(.chi-sliding-border) {
      &:not(:first-child) {
        margin-left: 2rem;
      }

      &.-active > a {
        padding-bottom: 1.125rem;
      }

      & > a {
        line-height: $line-height-large;
      }
    }
  }
}

.chi-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  & > li {
    display: inline-block;

    &.-active > a {
      color: $brand-color;
    }

    & > a {
      color: $text-color;
      cursor: pointer;
      display: block;
      font-size: $text;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        color: $brand-color;
      }
    }

    &.chi-sliding-border {
      background-color: $brand-color;
      display: none;
      position: absolute;
    }
  }

  &.-sliding > li {
    &.chi-sliding-border {
      display: block;
      transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    }
  }

  &.-lg {
    & > li {
      & > a {
        font-size: $text;
      }
    }
  }

  &.-inverse {
    & > li {
      &.-active > a {
        color: $secondary-color;
      }

      & > a {
        color: $text-white;

        &:hover {
          color: $secondary-color;
        }
      }

      &.chi-sliding-border {
        background-color: $secondary-color;
      }
    }

    &:not(.-vertical):not(.-responsive):not(.-sliding) > li {
      &.-active > a {
        border-bottom: 0.125rem solid $secondary-color;

        .chi-icon {
          color: $secondary-color;
        }
      }
    }

    &:not(.-vertical):not(.-responsive) {
      &.-border {
        border-bottom: 0.0625rem solid set-color(grey, 80);
      }
    }

    &.-vertical {
      // sass-lint:disable-block force-element-nesting
      &:not(.-sliding) > li.-active:not(.-hasActive) > a,
      &:not(.-sliding).-animated > li.-active:not(.-hasActive) > a,
      &:not(.-sliding).-animated .chi-tabs__subtabs > li.-active:not(.-hasActive) > a {
        box-shadow: inset 0.125rem 0 0 $secondary-color;
      }
      // sass-lint:disable-block force-element-nesting

      & > li {
        &.-active > a {
          color: $secondary-color;
        }
      }

      &.-icons {
        & > li {
          &.-active > a {
            .chi-icon {
              color: $secondary-color;
            }
          }
        }
      }

      &.-border {
        > li {
          border-bottom: 0.0625rem solid set-color(grey, 80);

          &:first-child {
            border-top: 0.0625rem solid set-color(grey, 80);
          }
        }
      }

      .chi-tabs__subtabs {
        & > li {
          &.-active {
            & > a {
              color: $secondary-color;
            }
          }

          & > a {
            color: $text-white;

            &:hover {
              color: $secondary-color;
            }
          }
        }
      }
    }
  }

  &:not(.-vertical):not(.-responsive) {
    @include tabs-not-vertical;
  }

  &.-vertical {
    @include tabs-vertical;
  }

  @media only screen and (min-width: $md-breakpoint) {
    &.-responsive {
      @include tabs-not-vertical;
    }
  }

  @media only screen and (max-width: $md-breakpoint - 1) {
    &.-responsive {
      @include tabs-vertical;
    }
  }
}

.chi-tabs-panel:not(.-active) {
  display: none;
}
