@import '_global-mixins';
@import '_global-variables';

@mixin tabs-vertical {
  display: flex;
  flex-direction: column;
  line-height: $line-height-sm;

  .chi-tabs__subtabs {
    list-style: none;
    padding: 0;

    & > li {
      &.-active {
        & > a {
          color: $color-text-primary;
          font-weight: $font-weight-semi-bold;
        }
      }

      & > a {
        color: $color-text-base;
        cursor: pointer;
        display: block;
        font-size: $font-size-sm;
        line-height: $line-height-sm;
        padding: 0.5rem 0.5rem 0.5rem 2.5rem;
        text-decoration: none;

        &:hover {
          color: $color-text-primary;
        }
      }
    }
  }

  &.-icons {
    & > li {
      &.-active {
        & > a {
          position: relative;

          & > .chi-icon {
            color: $color-text-primary;
            left: 1.5rem;
          }
        }
      }

      & > a {
        padding-left: 3.5rem;
        position: relative;

        & > .chi-icon {
          color: inherit;
          left: 1.5rem;
          position: absolute;
        }
      }

      .chi-tabs__subtabs {
        & > li {
          & > a {
            padding-left: 4.5rem;
          }
        }
      }
    }
  }

  & > li {
    &.chi-sliding-border {
      left: 0;
      position: absolute;
      width: 0.125rem;
    }

    &.-active-alt {
      & > a {
        background-color: $color-grey-20;
        color: $color-text-base;

        & > .chi-icon {
          color: $color-text-base;
        }
      }
    }

    & > a {
      padding: 0.5rem 0.5rem 0.5rem 1.5rem;
      width: 100%;
    }
  }

  &:not(.-sliding) {
    & > li {
      &.-active:not(.-has-active) > a {
        box-shadow: inset 0.125rem 0 0 $color-border-primary;
      }
    }

    &.-animated > li {
      &.-active:not(.-has-active) > a {
        box-shadow: inset 0.125rem 0 0 $color-border-primary;
      }

      & .chi-tabs__subtabs > li {
        &.-active:not(.-has-active) > a {
          box-shadow: inset 0.125rem 0 0 $color-border-primary;
        }
      }
    }
  }

  &.-sm {
    & > li {
      & > a {
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
      }
    }

    .chi-tabs__subtabs {
      & > li {
        & > a {
          padding: 0.25rem 0.25rem 0.25rem 2.5rem;
        }
      }
    }
  }

  &.-lg {
    & > li {
      & > a {
        line-height: $line-height-sm;
        padding-bottom: 0.75rem;
        padding-top: 0.75rem;

        & > .chi-icon {
          margin-top: 0.0625rem;
        }
      }
    }
  }

  &.-xl {
    & > li {
      & > a {
        line-height: $line-height;
        padding-bottom: 0.875rem;
        padding-top: 0.875rem;

        & > .chi-icon {
          margin-top: 0.1875rem;
        }
      }
    }
  }

  &.-border {
    & > li {
      border-bottom: 0.0625rem solid $color-border-base-dark;

      &.-active {
        & > a {
          &::before {
            top: -0.0625rem;
          }
        }
      }

      & > a {
        padding-bottom: 0.5rem;
        padding-top: 0.4375rem;
      }

      &:first-child {
        border-top: 0.0625rem solid $color-border-base-dark;

        & > a {
          padding-bottom: 0.4375rem;
          padding-top: 0.4375rem;
        }
      }
    }

    &.-sm {
      & > li {
        & > a {
          padding-bottom: 0.25rem;
          padding-top: 0.1875rem;
        }

        &:first-child {
          & > a {
            padding-bottom: 0.1875rem;
            padding-top: 0.1875rem;
          }
        }
      }
    }

    &.-lg {
      & > li {
        & > a {
          padding-bottom: 0.75rem;
          padding-top: 0.6875rem;
        }

        &:first-child {
          & > a {
            padding-bottom: 0.6875rem;
            padding-top: 0.6875rem;
          }
        }
      }
    }
  }

  &.-list {
    > li {
      .chi-tabs_item {
        align-items: flex-start;
        display: flex;
        flex-direction: column;

        &-title {
          font-weight: $font-weight-semi-bold;
        }

        &-text {
          font-weight: $font-weight-normal;
        }
      }
    }
  }
}

@mixin tabs-not-vertical {
  height: $tabs-horizontal-md-height;

  &.-icons {
    & > li {
      &.-active {
        .chi-icon {
          color: $color-text-primary;
        }
      }

      & > a {
        padding-left: 1.5rem;
        position: relative;

        .chi-icon {
          color: inherit;
          left: 0;
          position: absolute;
        }
      }
    }
  }

  &.-border {
    border-bottom: $tabs-horizontal-border-bottom;

    & > li {
      &.chi-sliding-border {
        bottom: -0.0625rem;
      }
    }
  }

  & > li {
    &:not(:first-child) {
      margin-left: 1.5rem;
    }

    & > a {
      font-size: $tabs-horizontal-md-font-size;
      font-weight: $tabs-horizontal-md-font-weight;
      line-height: $line-height-sm;
      padding: $tabs-horizontal-md-padding;

      &.chi-dropdown__trigger {
        padding-right: $tabs-horizontal-md-trigger-padding-right;

        &::after {
          top: $tabs-horizontal-md-trigger-icon-top;
        }
      }
    }

    &.chi-sliding-border {
      bottom: 0;
      height: 0.125rem;
      margin-left: 0;
    }
  }

  &:not(.-sliding) > li {
    &.-active > a {
      border-bottom: 0.125rem solid $color-border-primary;
      padding-bottom: $tabs-horizontal-md-active-padding-bottom;
    }
  }

  &.-xs {
    height: $tabs-horizontal-xs-height;

    & > li {
      &.-active > a {
        padding-bottom: $tabs-horizontal-xs-active-padding-bottom;
      }

      & > a {
        font-size: $tabs-horizontal-xs-font-size;
        font-weight: $tabs-horizontal-xs-font-weight;
        padding: $tabs-horizontal-xs-padding;

        &.chi-dropdown__trigger {
          padding-right: $tabs-horizontal-xs-trigger-padding-right;

          &::after {
            top: $tabs-horizontal-xs-trigger-icon-top;
          }
        }
      }
    }
  }

  &.-sm {
    height: $tabs-horizontal-sm-height;

    & > li {
      &.-active > a {
        padding-bottom: $tabs-horizontal-sm-active-padding-bottom;
      }

      & > a {
        font-size: $tabs-horizontal-sm-font-size;
        font-weight: $tabs-horizontal-sm-font-weight;
        line-height: $line-height-sm;
        padding: $tabs-horizontal-sm-padding;

        &.chi-dropdown__trigger {
          padding-right: $tabs-horizontal-sm-trigger-padding-right;

          &::after {
            top: $tabs-horizontal-sm-trigger-icon-top;
          }
        }
      }
    }
  }

  &.-lg {
    height: $tabs-horizontal-lg-height;

    & > li:not(.chi-sliding-border) {
      &:not(:first-child) {
        margin-left: 2rem;
      }

      &.-active > a {
        padding-bottom: $tabs-horizontal-lg-active-padding-bottom;
      }

      & > a {
        font-size: $tabs-horizontal-lg-font-size;
        font-weight: $tabs-horizontal-lg-font-weight;
        line-height: $tabs-horizontal-lg-line-height;
        padding: $tabs-horizontal-lg-padding;

        &.chi-dropdown__trigger {
          padding-right: $tabs-horizontal-lg-trigger-padding-right;

          &::after {
            top: $tabs-horizontal-lg-trigger-icon-top;
          }
        }
      }
    }
  }
}

.chi-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  & > li {
    display: inline-block;

    &.-active > a {
      color: $color-text-primary;
    }

    &.-disabled {
      &,
      & > a {
        color: $color-text-muted;
        font-weight: $font-weight-semi-bold;
        opacity: 0.75;
        pointer-events: none;
      }
    }

    & > a {
      color: $color-text-base;
      cursor: pointer;
      display: block;
      font-size: $font-size-base;
      font-weight: $font-weight-semi-bold;
      text-decoration: none;

      &:hover {
        color: $color-text-primary;
      }
    }

    &.chi-sliding-border {
      background-color: $color-border-primary;
      display: none;
      position: absolute;
    }
  }

  &.-sliding > li {
    &.chi-sliding-border {
      display: block;
      transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    }
  }

  &.-lg {
    & > li {
      & > a {
        font-size: $font-size-base;
      }
    }
  }

  &.-inverse {
    & > li {
      &.-active > a {
        &,
        &:hover {
          color: $tabs-inverse-item-hover-text-color;
        }
      }

      & > a {
        color: $color-text-white;

        &:hover {
          color: $tabs-inverse-item-hover-text-color;
        }
      }

      &.-disabled {
        &,
        & > a {
          color: $color-text-white;
          font-weight: $font-weight-semi-bold;
          opacity: 0.75;
          pointer-events: none;
        }
      }

      &.chi-sliding-border {
        background-color: $tabs-inverse-item-active-border-color;
      }
    }

    &:not(.-vertical):not(.-responsive):not(.-sliding) > li {
      &.-active > a {
        border-bottom: 0.125rem solid $tabs-inverse-item-active-border-color;

        .chi-icon {
          color: $tabs-inverse-item-active-text-color;
        }
      }
    }

    &:not(.-vertical):not(.-responsive) {
      &.-border {
        border-bottom: 0.0625rem solid $color-grey-80;
      }
    }

    &.-vertical {
      // sass-lint:disable-block force-element-nesting
      &:not(.-sliding) > li.-active:not(.-has-active) > a,
      &:not(.-sliding).-animated > li.-active:not(.-has-active) > a,
      &:not(.-sliding).-animated .chi-tabs__subtabs > li.-active:not(.-has-active) > a {
        box-shadow: inset 0.125rem 0 0 $tabs-inverse-item-active-border-color;
      }

      & > li {
        &.-active > a {
          color: $tabs-inverse-item-active-text-color;
        }
      }

      &.-icons {
        & > li {
          &.-active > a {
            .chi-icon {
              color: $tabs-inverse-item-active-text-color;
            }
          }
        }
      }

      &.-border {
        > li {
          border-bottom: 0.0625rem solid $color-grey-80;

          &:first-child {
            border-top: 0.0625rem solid $color-grey-80;
          }
        }
      }

      .chi-tabs__subtabs {
        & > li {
          &.-active {
            & > a {
              &,
              &:hover {
                color: $tabs-inverse-item-active-text-color;
              }
            }
          }

          & > a {
            color: $color-text-white;

            &:hover {
              color: $color-text-white;
            }
          }
        }
      }
    }
  }

  &:not(.-vertical):not(.-responsive) {
    @include tabs-not-vertical;
  }

  &.-vertical {
    @include tabs-vertical;
  }

  @media only screen and (min-width: $md-breakpoint) {
    &.-responsive {
      @include tabs-not-vertical;
    }
  }

  @media only screen and (max-width: $md-breakpoint - 1) {
    &.-responsive {
      @include tabs-vertical;
    }
  }
}

.chi-tabs-panel:not(.-active) {
  display: none;
}
