h3 Base
.example.-mb--3
  .-p--3
    chi-carousel
      .chi-stat(slot="items")
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 1
              .chi-stat-metric__title
                | High Utilization
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 2
              .chi-stat-metric__title
                | Critical Performing
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 3
              .chi-stat-metric__title
                | Services Down
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 4
              .chi-stat-metric__title
                | Scheduled Maintenance
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 5
              .chi-stat-metric__title
                | High Utilization
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 6
              .chi-stat-metric__title
                | Critical Performing
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 7
              .chi-stat-metric__title
                | Services Down
        .chi-stat__item
          .chi-stat__content
            .chi-stat-metric
              .chi-stat-metric__value
                | 8
              .chi-stat-metric__title
                | Scheduled Maintenance
  .example-tabs.-pl--2
    ul.chi-tabs#example-accordion-base
      li.-disabled
        a(href=`#webcomponent-accordion-base`) Web Component
      li.-active
        a(href=`#html-accordion-base`) HTML Blueprint
  .chi-tabs-panel#webcomponent-accordion-base
  .chi-tabs-panel.-active#html-accordion-base
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <chi-carousel>
        <!-- ITEMS -->
      </chi-carousel>
