h3 Card
.example.-mb--3
  .-p--3
    chi-carousel
      .chi-stat(slot="items")
        .chi-card(style="width: 12rem;")
          .chi-card__hero.-text--inverse(style='width:100%;background:rgba(0,0,0,0.8);')
            p.-text.-p--6.-text--center 1
          .chi-card__content
            .chi-card__caption This is a hero card
        .chi-card(style="width: 12rem;")
          .chi-card__hero.-text--inverse(style='width:100%;background:rgba(0,0,0,0.8);')
            p.-text.-p--6.-text--center 2
          .chi-card__content
            .chi-card__caption This is a hero card
        .chi-card(style="width: 12rem;")
          .chi-card__hero.-text--inverse(style='width:100%;background:rgba(0,0,0,0.8);')
            p.-text.-p--6.-text--center 3
          .chi-card__content
            .chi-card__caption This is a hero card
        .chi-card(style="width: 12rem;")
          .chi-card__hero.-text--inverse(style='width:100%;background:rgba(0,0,0,0.8);')
            p.-text.-p--6.-text--center 4
          .chi-card__content
            .chi-card__caption This is a hero card
        .chi-card(style="width: 12rem;")
          .chi-card__hero.-text--inverse(style='width:100%;background:rgba(0,0,0,0.8);')
            p.-text.-p--6.-text--center 5
          .chi-card__content
            .chi-card__caption This is a hero card
        .chi-card(style="width: 12rem;")
          .chi-card__hero.-text--inverse(style='width:100%;background:rgba(0,0,0,0.8);')
            p.-text.-p--6.-text--center 6
          .chi-card__content
            .chi-card__caption This is a hero card
        .chi-card(style="width: 12rem;")
          .chi-card__hero.-text--inverse(style='width:100%;background:rgba(0,0,0,0.8);')
            p.-text.-p--6.-text--center 7
          .chi-card__content
            .chi-card__caption This is a hero card
        .chi-card(style="width: 12rem;")
          .chi-card__hero.-text--inverse(style='width:100%;background:rgba(0,0,0,0.8);')
            p.-text.-p--6.-text--center 8
          .chi-card__content
            .chi-card__caption This is a hero card
        .chi-card(style="width: 12rem;")
          .chi-card__hero.-text--inverse(style='width:100%;background:rgba(0,0,0,0.8);')
            p.-text.-p--6.-text--center 9
          .chi-card__content
            .chi-card__caption This is a hero card
        .chi-card(style="width: 12rem;")
          .chi-card__hero.-text--inverse(style='width:100%;background:rgba(0,0,0,0.8);')
            p.-text.-p--6.-text--center 10
          .chi-card__content
            .chi-card__caption This is a hero card
  .example-tabs.-pl--2
    ul.chi-tabs#example-accordion-base
      li.-disabled
        a(href=`#webcomponent-accordion-base`) Web Component
      li.-active
        a(href=`#html-accordion-base`) HTML Blueprint
  .chi-tabs-panel#webcomponent-accordion-base
  .chi-tabs-panel.-active#html-accordion-base
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <chi-carousel>
        <!-- ITEMS -->
      </chi-carousel>
