h3 Dot controller
.example.-mb--3
  .-p--3
    chi-carousel(dots)
      .-d--flex.-p--1(slot="items")
        .-ml--1.-text--white(style="height: 10rem; width: 14rem; background:rgba(0,0,0,0.8);") 1
        .-ml--1.-text--white(style="height: 10rem; width: 14rem; background:rgba(0,0,0,0.8);") 2
        .-ml--1.-text--white(style="height: 10rem; width: 14rem; background:rgba(0,0,0,0.8);") 3
        .-ml--1.-text--white(style="height: 10rem; width: 14rem; background:rgba(0,0,0,0.8);") 4
        .-ml--1.-text--white(style="height: 10rem; width: 14rem; background:rgba(0,0,0,0.8);") 5
        .-ml--1.-text--white(style="height: 10rem; width: 14rem; background:rgba(0,0,0,0.8);") 6
        .-ml--1.-text--white(style="height: 10rem; width: 14rem; background:rgba(0,0,0,0.8);") 7
        .-ml--1.-text--white(style="height: 10rem; width: 14rem; background:rgba(0,0,0,0.8);") 8
  .example-tabs.-pl--2
    ul.chi-tabs#example-accordion-base
      li.-disabled
        a(href=`#webcomponent-accordion-base`) Web Component
      li.-active
        a(href=`#html-accordion-base`) HTML Blueprint
  .chi-tabs-panel#webcomponent-accordion-base
  .chi-tabs-panel.-active#html-accordion-base
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <chi-carousel>
        <!-- ITEMS -->
      </chi-carousel>
