---
title: Depth
---

p.-text Use depth utility classes to assist in creating a visual hierarchy.

h3 Notation
p.-text Depth utility classes can be defined using the format <code>-d{size}</code>.
h4 {size}
ul.-text
  li <code>0</code> - use to set <code>box-shadow</code> to <code>none</code>
  li <code>1</code> - use to set <code>box-shadow</code> to <code>1px</code>
  li <code>2</code> - use to set <code>box-shadow</code> to <code>4px</code>
  li <code>3</code> - use to set <code>box-shadow</code> to <code>6px</code>
  li <code>4</code> - use to set <code>box-shadow</code> to <code>8px</code>
  li <code>5</code> - use to set <code>box-shadow</code> to <code>12px</code>

h3 Examples
.example.-mb3
  .-p2(style="background:#F5F5F5;")
    .a-grid.-text.-noGutter.-textCenter
      .-p5.-m2.-d0(style="background:#FFFFFF;border-radius:3px;") -d0
      .-p5.-m2.-d1(style="background:#FFFFFF;border-radius:3px;") -d1
      .-p5.-m2.-d2(style="background:#FFFFFF;border-radius:3px;") -d2
      .-p5.-m2.-d3(style="background:#FFFFFF;border-radius:3px;") -d3
      .-p5.-m2.-d4(style="background:#FFFFFF;border-radius:3px;") -d4
      .-p5.-m2.-d5(style="background:#FFFFFF;border-radius:3px;") -d5
  :code(lang="html")
    <div class="-d0"></div>
    <div class="-d1"></div>
    <div class="-d2"></div>
    <div class="-d3"></div>
    <div class="-d4"></div>
    <div class="-d5"></div>

h3 SASS
p.-text
  | Chi defines depths with Saas maps. The following example will render
  | a depth equivalent to <code>-d1</code> / <code>1px</code>.

.-mb4
  :code(lang='sass')
    @import '@centurylink/chi/src/css/variables';

    .example {
      box-shadow: map-get($depth, 1);
    }
