---
title: Text Input
description: Text inputs are used for inputting single line text data.
tabs: {"Examples" : "examplestab", "Properties" : "propertiestab", "Accessibility" : "accessibilitytab"}
---
script(type='module' src='../../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../../js/ce/ux-chi-ce/ux-chi-ce.js')

.chi-tabs-panel.-active#examplestab
  include _examples

.chi-tabs-panel#propertiestab
  include _properties

.chi-tabs-panel#accessibilitytab
  include _accessibility
