@import '_global-variables';
@import '_global-mixins';

.chi-toolbar {
  &__header,
  &__ribbon {
    align-items: center;
    display: flex;
  }

  &__header {
    background-color: $toolbar-header-background-color;
    justify-content: flex-start;
    padding: 0.5rem;

    @include respond-to(md) {
      justify-content: space-between;
      padding: 1.5rem;

      .chi-form__item {
        padding-right: 0.5rem;
      }
    }

    + .chi-toolbar__ribbon {
      border-top: 0.0625rem solid $toolbar-ribbon-border-color;
    }

    .chi-divider {
      &.-vertical {
        display: none;

        @include respond-to(md) {
          display: block;
          height: $toolbar-header-divider-height;
        }
      }
    }

    // To-do remove once PF fully migrates 5.X
    .chi-toolbar__start {
      .chi-toolbar__filters {
        .chi-popover {
          max-width: 22.5rem;
        }
      }
    }
  }

  &__ribbon {
    background-color: $toolbar-ribbon-background-color;
    justify-content: space-between;
    padding: 0.25rem 0.875rem 0.25rem 1.5rem;

    .chi-divider {
      border-color: $toolbar-ribbon-divider-border-color;
      height: $toolbar-ribbon-divider-height;
      margin: 0 1rem;
    }
  }

  &__start,
  &__end {
    align-items: center;
    display: flex;
  }

  &__results {
    font-size: $toolbar-results-font-size;
    margin-left: 0.5rem;

    .chi-toolbar__label {
      font-weight: 600;
    }
  }

  &__filters,
  &__actions,
  &__views {
    display: flex;

    &-desktop {
      display: none;

      @include respond-to(md) {
        display: flex;

        .chi-form__item {
          padding-left: 0.5rem;
        }
      }
    }

    &-mobile {
      @include respond-to(md) {
        display: none;
      }
    }
  }
}
