@import '_global-variables';
@import '_global-mixins';

.chi-toolbar {
  &__header,
  &__ribbon {
    align-items: center;
    display: flex;
  }

  &__header {
    background-color: $toolbar-header-background-color;
    justify-content: flex-start;
    padding: 0.5rem;

    .chi-form__item {
      .chi-select {
        display: none;
      }
    }

    .chi-toolbar__end {
      .chi-button:not(.chi-toolbar__btn-actions) {
        display: none;
      }
    }

    @include respond-to(md) {
      justify-content: space-between;
      padding: 1.5rem;

      .chi-form__item {
        padding-right: 0.5rem;

        .chi-select {
          display: block;
        }

        + .chi-form__item {
          padding-left: 0.5rem;
        }
      }

      .chi-toolbar__end {
        .chi-button:not(.chi-toolbar__btn-actions) {
          display: inline-flex;
        }
      }
    }

    + .chi-toolbar__ribbon {
      border-top: 0.0625rem solid $toolbar-ribbon-border-color;
    }
  }

  &__ribbon {
    background-color: $toolbar-ribbon-background-color;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;

    .chi-divider {
      height: $toolbar-ribbon-divider-height;
      margin: 0 1rem;
    }
  }

  &__start,
  &__end {
    align-items: center;
    display: flex;
  }

  &__btn-actions {
    @include respond-to(md) {
      display: none;
    }
  }

  &__results {
    font-size: $toolbar-results-font-size;
    margin-left: 0.5rem;

    .chi-toolbar__label {
      font-weight: 600;
    }
  }

  &.-portal {
    .chi-toolbar__header {
      .chi-divider {
        display: none;
      }

      + .chi-toolbar__ribbon {
        border-top: 0;
      }

      @include respond-to(md) {
        background-color: $color-background-muted-lighter;
        
        .chi-divider {
          display: block;
          height: 2.5rem;

          + .chi-form__item {
            padding-left: 0.5rem;
          }
        }
      }
    }

    .chi-toolbar__ribbon {
      background-color: $color-background-primary-light;

      .chi-divider {
        border-right-color: $color-blue-40;
      }
    }
  }
}
