doctype html
html(lang="en")
    head
        title CenturyLink Human Interface

        link(rel="stylesheet", media="all", href="/chi.css")
        link(rel="stylesheet", media="all", href="/test.css")

    body
        div!= contents
