---
title: Checkboxes
---

p.c-text
  | In order to use a checkbox just use an <code>input type="checkbox"</code> with the class <code>c-input</code>. Also,
  | in order to have the checkbox properly styled you must add an empty label for the checkbox immediately after it's
  | declaration. You can add any other label next to the previous one.

.c-mb4.c-mt2
  div(style="display:flex; align-items: center")
    input(type="checkbox", class="c-input", id="checkbox")
    label(for="checkbox")

    label.c-text(for="checkbox") Checkbox

  :code(lang="html")
    <input type="checkbox" class="c-input" id="checkbox">
    <label for="checkbox"></label>

    <label class="c-text" for="checkbox">Checkbox</label>

