---
title: Radio Buttons
---

| In order to use a radio button just use an <code>input type="radio"</code> with the class <code>c-input</code>. Also,
| in order to have the checkbox properly styled you must add a label for the checkbox immediately after it's
| declaration, even if it's empty.

.c-mb4.c-mt2
  div(style="display:flex; align-items: center")
    input(type="radio", class="c-input", name="example", id="radio01", checked)
    label(for="radio01") Radio 1
  div(style="display:flex; align-items: center")
    input(type="radio", class="c-input", name="example", id="radio02")
    label(for="radio02") Radio 2
  div(style="display:flex; align-items: center")
    input(type="radio", class="c-input", name="example", id="radio03")
    label(for="radio03") Radio 3

  :code(lang="html")
    <input type="checkbox" class="c-input" name="example" id="radio01" checked>
    <label for="radio01">Radio 1</label>

    <input type="checkbox" class="c-input" name="example" id="radio02">
    <label for="radio02">Radio 2</label>

    <input type="checkbox" class="c-input" name="example" id="radio03">
    <label for="radio03">Radio 3</label>
