---
title: Range Sliders
---

p.-text
  | In order to use a range slider just use an <code>input type="range"</code> with the class <code>a-input</code>.
  | Ranges width are fluid by default.

.-mb4.-mt2
  div(style="display:flex; align-items: center")
    input(type="range", class="a-input")

  :code(lang="html")
    <input type="range" class="a-input">

