---
title: Range Sliders
---

| In order to use a range slider just use an <code>input type="range"</code> with the class <code>c-input</code>. Ranges
| are fluid by default.

.c-mb4.c-mt2
  div(style="display:flex; align-items: center")
    input(type="range", class="c-input")

  :code(lang="html")
    <input type="range" class="c-input">

