@import 'normalize.css/normalize'; // sass-lint:disable-line clean-import-paths

*, // sass-lint:disable-line no-universal-selectors
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/

.-sr--only {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); // sass-lint:disable-line no-duplicate-properties
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

//Reset fieldset properties
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

* { // sass-lint:disable-line no-universal-selectors
  -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar; // sass-lint:disable-line no-vendor-prefixes
}

.-disableScroll {
  overflow: hidden;
}
