@import '_variables';
@import '_mixins';

.a-radio {
  line-height: $line-height;
  position: relative;

  input[type='radio'] {
    &.a-input,
    &.a-radio__input {
      & + label {
        &.a-radio__label {
          font-size: $text;
          font-weight: normal;
          line-height: $line-height-small;
          margin-bottom: 0;
          margin-right: 0;
          padding-left: 1.5rem;

          &::before {
            left: 0;
            position: absolute;
            top: 0.125rem;
          }

          &::after {
            position: absolute;
            top: 0.375rem;
          }
        }
      }
    }
  }
}

input {
  &[type='radio'] {
    &.a-input,
    &.a-radio__input {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      overflow: hidden;
      padding: 0;
      pointer-events: auto;
      position: absolute;
      width: 1px;

      & + label {
        & {
          align-items: center;
          cursor: pointer;
          display: inline-flex;
          line-height: $line-height-smaller;
          margin: 0 0.5rem 0 0;
          position: relative;
        }

        &::before {
          background-color: set-color(white);
          border: 0.125rem solid set-color(grey, 50);
          border-radius: 0.5rem;
          content: '';
          cursor: pointer;
          display: block;
          height: 1rem;
          transition: box-shadow 0.2s ease-in-out;
          width: 1rem;
        }

        &::after {
          background-color: set-color(grey, 50);
          border-radius: 0.5rem;
          content: '';
          display: block;
          height: 0.5rem;
          left: 0.25rem;
          position: absolute;
          top: calc(50% - 0.25rem);
          transform: scale(0);
          transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
          width: 0.5rem;
        }

        &:hover,
        &.-hover {
          &::after {
            transform: scale(1);
          }
        }
      }

      &:checked {
        & + label {
          &::before {
            border-color: $brand-color;
          }

          &::after {
            background-color: $brand-color;
            transform: scale(1);
          }
        }

        &:focus,
        &.-focus {
          & + label::before {
            box-shadow: 0 0 0 0.25rem rgba($brand-color, 0.25);
          }
        }
      }

      &[disabled] {
        & ~ label {
          color: set-color(grey, 70);
        }

        & + label {
          opacity: 0.6;
          pointer-events: none;
        }
      }

      &:focus,
      &.-focus {
        & + label::before {
          box-shadow: 0 0 0 0.25rem rgba(set-color(grey, 50), 0.25);
        }
      }
    }
  }
}
