---
title: Color
styles: [assets/styles/colors]
---
p.-text
  | Chi colors are designed to comply with U.S. <a href="https://www.section508.gov/">Section 508</a> federal requirements.
  | Section 508 follows the Web Content Accessibility Guidelines (<a href="https://www.w3.org/TR/WCAG20/">WCAG 2.0</a>) Level AA
  | standards which require text and background color contrast ratios of 4.5:1 or higher.
  | All Chi colors either meet (AA) or exceed (AAA) these standards and have been marked below accordingly.

h2 Brand
div.chi-grid
  .chi-col.-w-sm--12.-w-md--6.-w-lg--6.-mb--3
    h3 Primary Accent
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-pt--10.-text--white(style="background-color:#0047BB;")
        .chi-col.-w--12
          .-text--bold Blue 70
        .chi-col.-w--6.-text--sm
          code.hexa #0047BB
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
  .chi-col.-w-sm--12.-w-md--6.-w-lg--6.-mb--3
    h3 Secondary Accent
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-pt--10.-text--body(style="background-color:#48D597;")
        .chi-col.-w--12
          .-text--bold Mint 40
        .chi-col.-w--6.-text--sm
          code.hexa #48D597
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
div.chi-grid
  .chi-col.-w--12
    h3 Supporting Colors
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--white(style="background-color:#000000;")
        .chi-col.-w--12
          .-text--bold Black
        .chi-col.-w--6.-text--sm
          code.hexa #000000
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--white(style="background-color:#001E60;")
        .chi-col.-w--12
          .-text--bold Blue 90
        .chi-col.-w--6.-text--sm
          code.hexa #001E60
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--white(style="background-color:#53565A;")
        .chi-col.-w--12
          .-text--bold Grey 70
        .chi-col.-w--6.-text--sm
          code.hexa #53565A
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text(style="background-color:#ffffff;color:#242424;box-shadow: inset 0 0 0 1px rgba(0,0,0,0.06)")
        .chi-col.-w--12
          .-text--bold White
        .chi-col.-w--6.-text--sm
          code.hexa #FFFFFF
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
.chi-divider.-mt--3.-mb--5
h2 Neutral
p.-text.-mb--3
  | Neutral palette is an extension of CenturyLink Brand's Dark
  | Grey swatch (Grey 70).
div.chi-grid
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--white(style="background-color:#000000;")
        .chi-col.-w--12
          .-text--bold Black
        .chi-col.-w--6.-text--sm
          code.hexa #000000
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
    p.-text--sm.-mb--0 Used to brand business and corporate content (mastheads, heroes, etc.).
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--white(style="background-color:#242526;")
        .chi-col.-w--12
          .-text--bold Grey 100
        .chi-col.-w--6.-text--sm
          code.hexa #242526
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
    p.-text--sm.-mb--0 Used for primary text color on white and low-contrast backgrounds on black.
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--white(style="background-color:#313336;")
        .chi-col.-w--12
          .-text--bold Grey 90
        .chi-col.-w--6.-text--sm
          code.hexa #313336
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
    p.-text--sm.-mb--0 Used for low-contrast borders on black and medium-contrast backgrounds on black.
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--white(style="background-color:#3F4145;")
        .chi-col.-w--12
          .-text--bold Grey 80
        .chi-col.-w--6.-text--sm
          code.hexa #3F4145
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
    p.-text--sm.-mb--0 Used for medium-contrast borders on black and high-contrast backgrounds on black.
div.chi-grid
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--white(style="background-color:#53565A;")
        .chi-col.-w--12
          .-text--bold Grey 70
        .chi-col.-w--6.-text--sm
          code.hexa #53565A
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AA
    p.-text--sm.-mb--0 Used for secondary text on white and high-contrast borders on black.
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--white(style="background-color:#72767A;")
        .chi-col.-w--12
          .-text--bold Grey 60
        .chi-col.-w--6.-text--sm
          code.hexa #72767A
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AA
    p.-text--sm.-mb--0 Used for muted or disabled text and icons on white.
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--body(style="background-color:#8E9399;")
        .chi-col.-w--12
          .-text--bold Grey 50
        .chi-col.-w--6.-text--sm
          code.hexa #8E9399
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AA
    p.-text--sm.-mb--0 Used for muted or disabled text and icons on black.
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--body(style="background-color:#ACB0B5;")
        .chi-col.-w--12
          .-text--bold Grey 40
        .chi-col.-w--6.-text--sm
          code.hexa #ACB0B5
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
    p.-text--sm.-mb--0 Used for high-contrast borders on white.
div.chi-grid
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--body(style="background-color:#D0D4D9;")
        .chi-col.-w--12
          .-text--bold Grey 30
        .chi-col.-w--6.-text--sm
          code.hexa #D0D4D9
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
    p.-text--sm.-mb--0 Used for medium-contrast borders on white.
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--body(style="background-color:#EDF0F2;")
        .chi-col.-w--12
          .-text--bold Grey 20
        .chi-col.-w--6.-text--sm
          code.hexa #EDF0F2
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
    p.-text--sm.-mb--0 Used for low-contrast borders and medium-contrast backgrounds on white.
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--body(style="background-color:#F8F9F9;")
        .chi-col.-w--12
          .-text--bold Grey 10
        .chi-col.-w--6.-text--sm
          code.hexa #F8F9F9
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
    p.-text--sm.-mb--0 Used for low-contrast backgrounds on white.
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text(style="background-color:#ffffff;color:#242424;box-shadow: inset 0 0 0 1px rgba(0,0,0,0.06)")
        .chi-col.-w--12
          .-text--bold White
        .chi-col.-w--6.-text--sm
          code.hexa #FFFFFF
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
    p.-text--sm.-mb--0 Used as body background color and primary text color on black.
.chi-divider.-mt--3.-mb--5
h2 Semantic
p.-text
  | Use semantic colors to communicate meaning to users.
  | Examples include displaying alerts, form field validation, user status, application state and more.
  | Use mint (success) for positive, blue (info) for informative, red (danger) for negative, and yellow (warning) for needs attention.
  | Semantic colors should never be used for decorative purposes.
h3 Text
p.-text Use to color semantic text in all components.
div.chi-grid
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--white(style="background-color:#007E46;")
        .chi-col.-w--12
          .-text--bold Mint 60
        .chi-col.-w--6.-text--sm
          code.hexa #007E46
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AA
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--white(style="background-color:#0060FA;")
        .chi-col.-w--12
          .-text--bold Blue 60
        .chi-col.-w--6.-text--sm
          code.hexa #0060FA
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AA
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--white(style="background-color:#D81820;")
        .chi-col.-w--12
          .-text--bold Red 60
        .chi-col.-w--6.-text--sm
          code.hexa #D81820
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AA
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--white(style="background-color:#A15C00;")
        .chi-col.-w--12
          .-text--bold Yellow 60
        .chi-col.-w--6.-text--sm
          code.hexa #A15C00
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AA
h3 Icons, Borders
p.-text Use to color semantic icons and semantic accent borders in all components.
div.chi-grid
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--white(style="background-color:#009E5C;")
        .chi-col.-w--12
          .-text--bold Mint 55
        .chi-col.-w--6.-text--sm
          code.hexa #009E5C
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AA
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--white(style="background-color:#2580FF;")
        .chi-col.-w--12
          .-text--bold Blue 55
        .chi-col.-w--6.-text--sm
          code.hexa #2580FF
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AA
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--white(style="background-color:#F0363C;")
        .chi-col.-w--12
          .-text--bold Red 55
        .chi-col.-w--6.-text--sm
          code.hexa #F0363C
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AA
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--white(style="background-color:#CA7300;")
        .chi-col.-w--12
          .-text--bold Yellow 55
        .chi-col.-w--6.-text--sm
          code.hexa #CA7300
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AA

h3 Borders
p.-text Use for low-contrast borders such as highlighting semantic messaging in an Alert or Card.
div.chi-grid
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--body(style="background-color:#abe0c9")
        .chi-col.-w--12
          .-text--bold Mint 30
        .chi-col.-w--6.-text--sm
          code.hexa #ABE0C9
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--body(style="background-color:#C0D7FA;")
        .chi-col.-w--12
          .-text--bold Blue 30
        .chi-col.-w--6.-text--sm
          code.hexa #C0D7FA
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--body(style="background-color:#FCC7C9;")
        .chi-col.-w--12
          .-text--bold Red 30
        .chi-col.-w--6.-text--sm
          code.hexa #FCC7C9
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--body(style="background-color:#F5CC93;")
        .chi-col.-w--12
          .-text--bold Yellow 30
        .chi-col.-w--6.-text--sm
          code.hexa #F5CC93
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA

h3 Backgrounds
p.-text Use for low-contrast backgrounds such as highlighting semantic messaging in an Alert or Card.
div.chi-grid
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--body(style="background-color:#daf5e9")
        .chi-col.-w--12
          .-text--bold Mint 20
        .chi-col.-w--6.-text--sm
          code.hexa #DAF5E9
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--body(style="background-color:#E6F0FF;")
        .chi-col.-w--12
          .-text--bold Blue 20
        .chi-col.-w--6.-text--sm
          code.hexa #E6F0FF
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--body(style="background-color:#FCE8E9;")
        .chi-col.-w--12
          .-text--bold Red 20
        .chi-col.-w--6.-text--sm
          code.hexa #FCE8E9
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--body(style="background-color:#FAECD9;")
        .chi-col.-w--12
          .-text--bold Yellow 20
        .chi-col.-w--6.-text--sm
          code.hexa #FAECD9
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA

h3 Backgrounds
p.-text Use for subtle, low-contrast backgrounds such as a highlighting rows in a Table or lines in a Diff.
div.chi-grid
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--body(style="background-color:#edfaf3")
        .chi-col.-w--12
          .-text--bold Mint 10
        .chi-col.-w--6.-text--sm
          code.hexa #EDFAF3
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--body(style="background-color:#F5F8FC;")
        .chi-col.-w--12
          .-text--bold Blue 10
        .chi-col.-w--6.-text--sm
          code.hexa #F5F8FC
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--body(style="background-color:#FFF5F5;")
        .chi-col.-w--12
          .-text--bold Red 10
        .chi-col.-w--6.-text--sm
          code.hexa #FFF5F5
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA
  .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.chi-grid.-no-gutter.-text.-text--body(style="background-color:#FFF8ED;")
        .chi-col.-w--12
          .-text--bold Yellow 10
        .chi-col.-w--6.-text--sm
          code.hexa #FFF8ED
        .chi-col.-w--6.-text--right.-text--sm
          .a11y AAA