---
title: Color
styles: [assets/styles/colors]
---
p.-text
  | Chi colors are designed to comply with U.S. <a href="https://www.section508.gov/">Section 508</a> federal requirements.
  | Section 508 follows the Web Content Accessibility Guidelines (<a href="https://www.w3.org/TR/WCAG20/">WCAG 2.0</a>) Level AA
  | standards which require text and background color contrast ratios of 4.5:1 or higher.
  | All Chi colors either meet (AA) or exceed (AAA) these standards and have been marked below accordingly.

h3 Brand
div.a-grid
  .a-col.-w-sm--12.-w-md--6.-w-lg--6.-mb--3
    h5 Primary Accent
    .palette-container
      .palette.a-grid.-noGutter.-text.-pt--10.-text--white(style="background-color:#0047BB;")
        .a-col.-w--12
          .-text--bold Navy 70
        .a-col.-w--6.-text--small
          code.hexa #0047BB
        .a-col.-w--6.-text--right.-text--small
          .a11y AAA
  .a-col.-w-sm--12.-w-md--6.-w-lg--6.-mb--3
    h5 Secondary Accent
    .palette-container
      .palette.a-grid.-noGutter.-text.-pt--10.-text--body(style="background-color:#48D597;")
        .a-col.-w--12
          .-text--bold Mint 40
        .a-col.-w--6.-text--small
          code.hexa #48D597
        .a-col.-w--6.-text--right.-text--small
          .a11y AAA
div.a-grid
  .a-col.-w--12
    h5 Supporting Colors
  .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.a-grid.-noGutter.-text.-text--white(style="background-color:#000000;")
        .a-col.-w--12
          .-text--bold Black
        .a-col.-w--6.-text--small
          code.hexa #000000
        .a-col.-w--6.-text--right.-text--small
          .a11y AAA
  .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.a-grid.-noGutter.-text.-text--white(style="background-color:#001E60;")
        .a-col.-w--12
          .-text--bold Navy 90
        .a-col.-w--6.-text--small
          code.hexa #001E60
        .a-col.-w--6.-text--right.-text--small
          .a11y AAA
  .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.a-grid.-noGutter.-text.-text--white(style="background-color:#097A49;")
        .a-col.-w--12
          .-text--bold Mint 70
        .a-col.-w--6.-text--small
          code.hexa #097A49
        .a-col.-w--6.-text--right.-text--small
          .a11y AA
  .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.a-grid.-noGutter.-text.-text--white(style="background-color:#53565A;")
        .a-col.-w--12
          .-text--bold Grey 70
        .a-col.-w--6.-text--small
          code.hexa #53565A
        .a-col.-w--6.-text--right.-text--small
          .a11y AAA
.a-divider.-mt--3.-mb--5
h3 Neutral
p.-text.-mb--3
  | Neutral palette is an extension of CenturyLink Brand's Dark
  | Grey swatch (Grey 70). Each shade is based off the original hue.
div.a-grid
  .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.a-grid.-noGutter.-text.-text--white(style="background-color:#000000;")
        .a-col.-w--12
          .-text--bold Black
        .a-col.-w--6.-text--small
          code.hexa #000000
        .a-col.-w--6.-text--right.-text--small
          .a11y AAA
    p.-text--small.-mb--0 Used to brand business and corporate content (mastheads, heroes, etc.).
  .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.a-grid.-noGutter.-text.-text--white(style="background-color:#242526;")
        .a-col.-w--12
          .-text--bold Grey 100
        .a-col.-w--6.-text--small
          code.hexa #242526
        .a-col.-w--6.-text--right.-text--small
          .a11y AAA
    p.-text--small.-mb--0 Used for primary text color on white and low-contrast backgrounds on black.
  .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.a-grid.-noGutter.-text.-text--white(style="background-color:#313336;")
        .a-col.-w--12
          .-text--bold Grey 90
        .a-col.-w--6.-text--small
          code.hexa #313336
        .a-col.-w--6.-text--right.-text--small
          .a11y AAA
    p.-text--small.-mb--0 Used for low-contrast borders on black and medium-contrast backgrounds on black.
  .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.a-grid.-noGutter.-text.-text--white(style="background-color:#3F4145;")
        .a-col.-w--12
          .-text--bold Grey 80
        .a-col.-w--6.-text--small
          code.hexa #3F4145
        .a-col.-w--6.-text--right.-text--small
          .a11y AAA
    p.-text--small.-mb--0 Used for medium-contrast borders on black and high-contrast backgrounds on black.
div.a-grid
  .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.a-grid.-noGutter.-text.-text--white(style="background-color:#53565A;")
        .a-col.-w--12
          .-text--bold Grey 70
        .a-col.-w--6.-text--small
          code.hexa #53565A
        .a-col.-w--6.-text--right.-text--small
          .a11y AA
    p.-text--small.-mb--0 Used for secondary text on white and high-contrast borders on black.
  .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.a-grid.-noGutter.-text.-text--white(style="background-color:#72767A;")
        .a-col.-w--12
          .-text--bold Grey 60
        .a-col.-w--6.-text--small
          code.hexa #72767A
        .a-col.-w--6.-text--right.-text--small
          .a11y AA
    p.-text--small.-mb--0 Used for muted or disabled text and icons on white.
  .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.a-grid.-noGutter.-text.-text--body(style="background-color:#8E9399;")
        .a-col.-w--12
          .-text--bold Grey 50
        .a-col.-w--6.-text--small
          code.hexa #8E9399
        .a-col.-w--6.-text--right.-text--small
          .a11y AA
    p.-text--small.-mb--0 Used for muted or disabled text and icons on black.
  .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.a-grid.-noGutter.-text.-text--body(style="background-color:#ACB0B5;")
        .a-col.-w--12
          .-text--bold Grey 40
        .a-col.-w--6.-text--small
          code.hexa #ACB0B5
        .a-col.-w--6.-text--right.-text--small
          .a11y AAA
    p.-text--small.-mb--0 Used for high-contrast borders on white.
div.a-grid
  .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.a-grid.-noGutter.-text.-text--body(style="background-color:#D0D4D9;")
        .a-col.-w--12
          .-text--bold Grey 30
        .a-col.-w--6.-text--small
          code.hexa #D0D4D9
        .a-col.-w--6.-text--right.-text--small
          .a11y AAA
    p.-text--small.-mb--0 Used for medium-contrast borders on white.
  .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.a-grid.-noGutter.-text.-text--body(style="background-color:#EDF0F2;")
        .a-col.-w--12
          .-text--bold Grey 20
        .a-col.-w--6.-text--small
          code.hexa #EDF0F2
        .a-col.-w--6.-text--right.-text--small
          .a11y AAA
    p.-text--small.-mb--0 Used for low-contrast borders and medium-contrast backgrounds on white.
  .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.a-grid.-noGutter.-text.-text--body(style="background-color:#F8F9F9;")
        .a-col.-w--12
          .-text--bold Grey 10
        .a-col.-w--6.-text--small
          code.hexa #F8F9F9
        .a-col.-w--6.-text--right.-text--small
          .a11y AAA
    p.-text--small.-mb--0 Used for low-contrast backgrounds on white.
  .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    .palette-container
      .palette.a-grid.-noGutter.-text(style="background-color:#ffffff;color:#242424;box-shadow: inset 0 0 0 1px rgba(0,0,0,0.06)")
        .a-col.-w--12
          .-text--bold White
        .a-col.-w--6.-text--small
          code.hexa #FFFFFF
        .a-col.-w--6.-text--right.-text--small
          .a11y AAA
    p.-text--small.-mb--0 Used as body background color and primary text color on black.
.a-divider.-mt--3.-mb--5
h3 Semantic
div.a-grid
  .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    h5 Success
    .palette-container
      .palette.a-grid.-noGutter.-text.-text--white(style="background-color:#097A49;")
        .a-col.-w--12
          .-text--bold Mint 70
        .a-col.-w--6.-text--small
          code.hexa #097A49
        .a-col.-w--6.-text--right.-text--small
          .a11y AA
  .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    h5 Info
    .palette-container
      .palette.a-grid.-noGutter.-text.-text--white(style="background-color:#0047BB;")
        .a-col.-w--12
          .-text--bold Navy 70
        .a-col.-w--6.-text--small
          code.hexa #0047BB
        .a-col.-w--6.-text--right.-text--small
          .a11y AAA
  .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    h5 Danger
    .palette-container
      .palette.a-grid.-noGutter.-text(style="background-color:#B50D12;color:#ffffff")
        .a-col.-w--12
          .-text--bold Red 70
        .a-col.-w--6.-text--small
          code.hexa #B50D12
        .a-col.-w--6.-text--right.-text--small
          .a11y AA
  .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
    h5 Warning
    .palette-container
      .palette.a-grid.-noGutter.-text(style="background-color:#854E03;color:#ffffff")
        .a-col.-w--12
          .-text--bold Yellow 70
        .a-col.-w--6.-text--small
          code.hexa #854E03
        .a-col.-w--6.-text--right.-text--small
          .a11y AA
.a-divider.-mt--3.-mb--5
h3 Palettes
p.-text
  | In addition to brand colors, Chi offers twelve palettes designed to assist
  | in the creation of application components such as alerts, avatars, charts,
  | and data visualizations.

.m-epanel(style='border-bottom:none')#palettes
  button.a-btn(data-chi-epanel-action='toggle')
    .a-btn__content
      .a-icon
        svg
          use(xlink:href='#icon-grid')
      span Available Palettes
  .m-epanel__collapse.-ml--0
    .-active--only
      .m-epanel__body
        .m-epanel__content
          div.a-grid
            .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
              h5 Grey
              .palette-container
                .palette.a-grid.-noGutter(style="background-color:#242526;color:#ffffff")
                  .a-col.-w--12
                    strong 100
                  .a-col.-w--6
                    code.hexa #242526
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#313336;color:#ffffff")
                  .a-col.-w--12
                    strong 90
                  .a-col.-w--6
                    code.hexa #313336
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#3F4145;color:#ffffff")
                  .a-col.-w--12
                    strong 80
                  .a-col.-w--6
                    code.hexa #3F4145
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#5E6165;color:#ffffff")
                  .a-col.-w--12
                    strong 70
                  .a-col.-w--6
                    code.hexa #53565A
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#72767A;color:#ffffff")
                  .a-col.-w--12
                    strong 60
                  .a-col.-w--6
                    code.hexa #72767A
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#8E9399;color:#242424")
                  .a-col.-w--12
                    strong 50
                  .a-col.-w--6
                    code.hexa #8E9399
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#ACB0B5;color:#242424")
                  .a-col.-w--12
                    strong 40
                  .a-col.-w--6
                    code.hexa #ACB0B5
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#D0D4D9;color:#242424")
                  .a-col.-w--12
                    strong 30
                  .a-col.-w--6
                    code.hexa #D0D4D9
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#EDF0F2;color:#242424")
                  .a-col.-w--12
                    strong 20
                  .a-col.-w--6
                    code.hexa #EDF0F2
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#F8F9F9;color:#242424")
                  .a-col.-w--12
                    strong 10
                  .a-col.-w--6
                    code.hexa #F8F9F9
                  .a-col.-w--6.-text--right
                    .a11y AAA
            .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
              h5 Red
              .palette-container
                .palette.a-grid.-noGutter(style="background-color:#471819;color:#ffffff")
                  .a-col.-w--12
                    strong 100
                  .a-col.-w--6
                    code.hexa #471819
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#691518;color:#ffffff")
                  .a-col.-w--12
                    strong 90
                  .a-col.-w--6
                    code.hexa #691518
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#8F0E13;color:#ffffff")
                  .a-col.-w--12
                    strong 80
                  .a-col.-w--6
                    code.hexa #8F0E13
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#B50D12;color:#ffffff")
                  .a-col.-w--12
                    strong 70
                  .a-col.-w--6
                    code.hexa #B50D12
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#DE1B21;color:#ffffff")
                  .a-col.-w--12
                    strong 60
                  .a-col.-w--6
                    code.hexa #DE1B21
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#FA5056;color:#242424")
                  .a-col.-w--12
                    strong 50
                  .a-col.-w--6
                    code.hexa #FA5056
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#FC9094;color:#242424")
                  .a-col.-w--12
                    strong 40
                  .a-col.-w--6
                    code.hexa #FC9094
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#FCC7C9;color:#242424")
                  .a-col.-w--12
                    strong 30
                  .a-col.-w--6
                    code.hexa #FCC7C9
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#FCE8E9;color:#242424")
                  .a-col.-w--12
                    strong 20
                  .a-col.-w--6
                    code.hexa #FCE8E9
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#FFF5F5;color:#242424")
                  .a-col.-w--12
                    strong 10
                  .a-col.-w--6
                    code.hexa #FFF5F5
                  .a-col.-w--6.-text--right
                    .a11y AAA
            .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
              h5 Pink
              .palette-container
                .palette.a-grid.-noGutter(style="background-color:#451726;color:#ffffff")
                  .a-col.-w--12
                    strong 100
                  .a-col.-w--6
                    code.hexa #451726
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#661430;color:#ffffff")
                  .a-col.-w--12
                    strong 90
                  .a-col.-w--6
                    code.hexa #661430
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#8C0E38;color:#ffffff")
                  .a-col.-w--12
                    strong 80
                  .a-col.-w--6
                    code.hexa #8C0E38
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#B30C44;color:#ffffff")
                  .a-col.-w--12
                    strong 70
                  .a-col.-w--6
                    code.hexa #B30C44
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#DB1A5B;color:#ffffff")
                  .a-col.-w--12
                    strong 60
                  .a-col.-w--6
                    code.hexa #DB1A5B
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#F74F87;color:#242424")
                  .a-col.-w--12
                    strong 50
                  .a-col.-w--6
                    code.hexa #F74F87
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#FA8EB2;color:#242424")
                  .a-col.-w--12
                    strong 40
                  .a-col.-w--6
                    code.hexa #FA8EB2
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#FCC7D9;color:#242424")
                  .a-col.-w--12
                    strong 30
                  .a-col.-w--6
                    code.hexa #FCC7D9
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#FCE8EF;color:#242424")
                  .a-col.-w--12
                    strong 20
                  .a-col.-w--6
                    code.hexa #FCE8EF
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#FCF5F7;color:#242424")
                  .a-col.-w--12
                    strong 10
                  .a-col.-w--6
                    code.hexa #FCF5F7
                  .a-col.-w--6.-text--right
                    .a11y AAA
            .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
              h5 Purple
              .palette-container
                .palette.a-grid.-noGutter(style="background-color:#371C52;color:#ffffff")
                  .a-col.-w--12
                    strong 100
                  .a-col.-w--6
                    code.hexa #371C52
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#4D2378;color:#ffffff")
                  .a-col.-w--12
                    strong 90
                  .a-col.-w--6
                    code.hexa #4D2378
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#642B9E;color:#ffffff")
                  .a-col.-w--12
                    strong 80
                  .a-col.-w--6
                    code.hexa #642B9E
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#7E40BD;color:#ffffff")
                  .a-col.-w--12
                    strong 70
                  .a-col.-w--6
                    code.hexa #7E40BD
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#9557D4;color:#ffffff")
                  .a-col.-w--12
                    strong 60
                  .a-col.-w--6
                    code.hexa #9557D4
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#B277ED;color:#242424")
                  .a-col.-w--12
                    strong 50
                  .a-col.-w--6
                    code.hexa #B277ED
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#CDA3F7;color:#242424")
                  .a-col.-w--12
                    strong 40
                  .a-col.-w--6
                    code.hexa #CDA3F7
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#E2CDF7;color:#242424")
                  .a-col.-w--12
                    strong 30
                  .a-col.-w--6
                    code.hexa #E2CDF7
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#F2EBFA;color:#242424")
                  .a-col.-w--12
                    strong 20
                  .a-col.-w--6
                    code.hexa #F2EBFA
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#FAF7FC;color:#242424")
                  .a-col.-w--12
                    strong 10
                  .a-col.-w--6
                    code.hexa #FAF7FC
                  .a-col.-w--6.-text--right
                    .a11y AAA
            .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
              h5 Indigo
              .palette-container
                .palette.a-grid.-noGutter(style="background-color:#222261;color:#ffffff")
                  .a-col.-w--12
                    strong 100
                  .a-col.-w--6
                    code.hexa #222261
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#2B2B94;color:#ffffff")
                  .a-col.-w--12
                    strong 90
                  .a-col.-w--6
                    code.hexa #2B2B94
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#3939BD;color:#ffffff")
                  .a-col.-w--12
                    strong 80
                  .a-col.-w--6
                    code.hexa #3939BD
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#4F4FDB;color:#ffffff")
                  .a-col.-w--12
                    strong 70
                  .a-col.-w--6
                    code.hexa #4F4FDB
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#6666E3;color:#ffffff")
                  .a-col.-w--12
                    strong 60
                  .a-col.-w--6
                    code.hexa #6666E3
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#8787FA;color:#242424")
                  .a-col.-w--12
                    strong 50
                  .a-col.-w--6
                    code.hexa #8787FA
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#ADADFF;color:#242424")
                  .a-col.-w--12
                    strong 40
                  .a-col.-w--6
                    code.hexa #ADADFF
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#D1D1FF;color:#242424")
                  .a-col.-w--12
                    strong 30
                  .a-col.-w--6
                    code.hexa #D1D1FF
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#EDEDFF;color:#242424")
                  .a-col.-w--12
                    strong 20
                  .a-col.-w--6
                    code.hexa #EDEDFF
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#F7F7FF;color:#242424")
                  .a-col.-w--12
                    strong 10
                  .a-col.-w--6
                    code.hexa #F7F7FF
                  .a-col.-w--6.-text--right
                    .a11y AAA
            .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
              h5 Navy
              .palette-container
                .palette.a-grid.-noGutter(style="background-color:#001238;color:#ffffff")
                  .a-col.-w--12
                    strong 100
                  .a-col.-w--6
                    code.hexa #001238
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#001e60;color:#ffffff")
                  .a-col.-w--12
                    strong 90
                  .a-col.-w--6
                    code.hexa #001E60
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#00308a;color:#ffffff")
                  .a-col.-w--12
                    strong 80
                  .a-col.-w--6
                    code.hexa #00308A
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#0047bb;color:#ffffff")
                  .a-col.-w--12
                    strong 70
                  .a-col.-w--6
                    code.hexa #0047BB
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#005bed;color:#ffffff")
                  .a-col.-w--12
                    strong 60
                  .a-col.-w--6
                    code.hexa #005BED
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#4289F5;color:#242424")
                  .a-col.-w--12
                    strong 50
                  .a-col.-w--6
                    code.hexa #4289F5
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#8CB6F5;color:#242424")
                  .a-col.-w--12
                    strong 40
                  .a-col.-w--6
                    code.hexa #8CB6F5
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#C0D7FA;color:#242424")
                  .a-col.-w--12
                    strong 30
                  .a-col.-w--6
                    code.hexa #C0D7FA
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#E6F0FF;color:#242424")
                  .a-col.-w--12
                    strong 20
                  .a-col.-w--6
                    code.hexa #E6F0FF
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#F5F8FC;color:#242424")
                  .a-col.-w--12
                    strong 10
                  .a-col.-w--6
                    code.hexa #F5F8FC
                  .a-col.-w--6.-text--right
                    .a11y AAA
            .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
              h5 Blue
              .palette-container
                .palette.a-grid.-noGutter(style="background-color:#0C2B3B;color:#ffffff")
                  .a-col.-w--12
                    strong 100
                  .a-col.-w--6
                    code.hexa #0C2B3B
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#093D57;color:#ffffff")
                  .a-col.-w--12
                    strong 90
                  .a-col.-w--6
                    code.hexa #093D57
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#064E73;color:#ffffff")
                  .a-col.-w--12
                    strong 80
                  .a-col.-w--6
                    code.hexa #064E73
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#066594;color:#ffffff")
                  .a-col.-w--12
                    strong 70
                  .a-col.-w--6
                    code.hexa #066594
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#0D7DB5;color:#ffffff")
                  .a-col.-w--12
                    strong 60
                  .a-col.-w--6
                    code.hexa #0D7DB5
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#239CD9;color:#242424")
                  .a-col.-w--12
                    strong 50
                  .a-col.-w--6
                    code.hexa #239CD9
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#53BFF5;color:#242424")
                  .a-col.-w--12
                    strong 40
                  .a-col.-w--6
                    code.hexa #53BFF5
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#B0DEF5;color:#242424")
                  .a-col.-w--12
                    strong 30
                  .a-col.-w--6
                    code.hexa #B0DEF5
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#E1F2FA;color:#242424")
                  .a-col.-w--12
                    strong 20
                  .a-col.-w--6
                    code.hexa #E1F2FA
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#F2F9FC;color:#242424")
                  .a-col.-w--12
                    strong 10
                  .a-col.-w--6
                    code.hexa #F2F9FC
                  .a-col.-w--6.-text--right
                    .a11y AAA
            .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
              h5 Teal
              .palette-container
                .palette.a-grid.-noGutter(style="background-color:#082E2B;color:#ffffff")
                  .a-col.-w--12
                    strong 100
                  .a-col.-w--6
                    code.hexa #082E2B
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#06403B;color:#ffffff")
                  .a-col.-w--12
                    strong 90
                  .a-col.-w--6
                    code.hexa #06403B
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#07524B;color:#ffffff")
                  .a-col.-w--12
                    strong 80
                  .a-col.-w--6
                    code.hexa #07524B
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#056960;color:#ffffff")
                  .a-col.-w--12
                    strong 70
                  .a-col.-w--6
                    code.hexa #056960
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#038277;color:#ffffff")
                  .a-col.-w--12
                    strong 60
                  .a-col.-w--6
                    code.hexa #038277
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#0AA396;color:#242424")
                  .a-col.-w--12
                    strong 50
                  .a-col.-w--6
                    code.hexa #0AA396
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#1EC7B9;color:#242424")
                  .a-col.-w--12
                    strong 40
                  .a-col.-w--6
                    code.hexa #1EC7B9
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#ABE0DC;color:#242424")
                  .a-col.-w--12
                    strong 30
                  .a-col.-w--6
                    code.hexa #ABE0DC
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#D7F5F2;color:#242424")
                  .a-col.-w--12
                    strong 20
                  .a-col.-w--6
                    code.hexa #D7F5F2
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#EDFAF9;color:#242424")
                  .a-col.-w--12
                    strong 10
                  .a-col.-w--6
                    code.hexa #EDFAF9
                  .a-col.-w--6.-text--right
                    .a11y AAA
            .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
              h5 Mint
              .palette-container
                .palette.a-grid.-noGutter(style="background-color:#0a2e1e;color:#ffffff")
                  .a-col.-w--12
                    strong 100
                  .a-col.-w--6
                    code.hexa #0A2E1E
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#094028;color:#ffffff")
                  .a-col.-w--12
                    strong 90
                  .a-col.-w--6
                    code.hexa #094028
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#075433;color:#ffffff")
                  .a-col.-w--12
                    strong 80
                  .a-col.-w--6
                    code.hexa #075433
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#097a49;color:#ffffff")
                  .a-col.-w--12
                    strong 70
                  .a-col.-w--6
                    code.hexa #097A49
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#12995f;color:#ffffff")
                  .a-col.-w--12
                    strong 60
                  .a-col.-w--6
                    code.hexa #12995F
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#27b875;color:#242424")
                  .a-col.-w--12
                    strong 50
                  .a-col.-w--6
                    code.hexa #27B875
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#48d597;color:#242424")
                  .a-col.-w--12
                    strong 40
                  .a-col.-w--6
                    code.hexa #48D597
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#abe0c9;color:#242424")
                  .a-col.-w--12
                    strong 30
                  .a-col.-w--6
                    code.hexa #ABE0C9
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#daf5e9;color:#242424")
                  .a-col.-w--12
                    strong 20
                  .a-col.-w--6
                    code.hexa #DAF5E9
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#edfaf3;color:#242424")
                  .a-col.-w--12
                    strong 10
                  .a-col.-w--6
                    code.hexa #EDFAF3
                  .a-col.-w--6.-text--right
                    .a11y AAA
            .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
              h5 Green
              .palette-container
                .palette.a-grid.-noGutter(style="background-color:#1E2B0A;color:#ffffff")
                  .a-col.-w--12
                    strong 100
                  .a-col.-w--6
                    code.hexa #1E2B0A
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#283D09;color:#ffffff")
                  .a-col.-w--12
                    strong 90
                  .a-col.-w--6
                    code.hexa #283D09
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#344F0B;color:#ffffff")
                  .a-col.-w--12
                    strong 80
                  .a-col.-w--6
                    code.hexa #344F0B
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#3F6605;color:#ffffff")
                  .a-col.-w--12
                    strong 70
                  .a-col.-w--6
                    code.hexa #3F6605
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#4E8003;color:#ffffff")
                  .a-col.-w--12
                    strong 60
                  .a-col.-w--6
                    code.hexa #4E8003
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#689E18;color:#242424")
                  .a-col.-w--12
                    strong 50
                  .a-col.-w--6
                    code.hexa #689E18
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#8CC63F;color:#242424")
                  .a-col.-w--12
                    strong 40
                  .a-col.-w--6
                    code.hexa #8CC63F
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#C6DBA7;color:#242424")
                  .a-col.-w--12
                    strong 30
                  .a-col.-w--6
                    code.hexa #C6DBA7
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#E4F2CE;color:#242424")
                  .a-col.-w--12
                    strong 20
                  .a-col.-w--6
                    code.hexa #E4F2CE
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#F2FAE6;color:#242424")
                  .a-col.-w--12
                    strong 10
                  .a-col.-w--6
                    code.hexa #F2FAE6
                  .a-col.-w--6.-text--right
                    .a11y AAA
            .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
              h5 Yellow
              .palette-container
                .palette.a-grid.-noGutter(style="background-color:#36240C;color:#ffffff")
                  .a-col.-w--12
                    strong 100
                  .a-col.-w--6
                    code.hexa #36240C
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#4D310B;color:#ffffff")
                  .a-col.-w--12
                    strong 90
                  .a-col.-w--6
                    code.hexa #4D310B
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#663E07;color:#ffffff")
                  .a-col.-w--12
                    strong 80
                  .a-col.-w--6
                    code.hexa #663E07
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#854E03;color:#ffffff")
                  .a-col.-w--12
                    strong 70
                  .a-col.-w--6
                    code.hexa #854E03
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#A66102;color:#ffffff")
                  .a-col.-w--12
                    strong 60
                  .a-col.-w--6
                    code.hexa #A66102
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#C97D12;color:#242424")
                  .a-col.-w--12
                    strong 50
                  .a-col.-w--6
                    code.hexa #C97D12
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#E6A243;color:#242424")
                  .a-col.-w--12
                    strong 40
                  .a-col.-w--6
                    code.hexa #E6A243
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#F5CC93;color:#242424")
                  .a-col.-w--12
                    strong 30
                  .a-col.-w--6
                    code.hexa #F5CC93
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#FAECD9;color:#242424")
                  .a-col.-w--12
                    strong 20
                  .a-col.-w--6
                    code.hexa #FAECD9
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#FFF8ED;color:#242424")
                  .a-col.-w--12
                    strong 10
                  .a-col.-w--6
                    code.hexa #FFF8ED
                  .a-col.-w--6.-text--right
                    .a11y AAA
            .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
              h5 Orange
              .palette-container
                .palette.a-grid.-noGutter(style="background-color:#3D1E14;color:#ffffff")
                  .a-col.-w--12
                    strong 100
                  .a-col.-w--6
                    code.hexa #3D1E14
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#5E2413;color:#ffffff")
                  .a-col.-w--12
                    strong 90
                  .a-col.-w--6
                    code.hexa #5E2413
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#80280D;color:#ffffff")
                  .a-col.-w--12
                    strong 80
                  .a-col.-w--6
                    code.hexa #80280D
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#A6310D;color:#ffffff")
                  .a-col.-w--12
                    strong 70
                  .a-col.-w--6
                    code.hexa #A6310D
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#C94218;color:#ffffff")
                  .a-col.-w--12
                    strong 60
                  .a-col.-w--6
                    code.hexa #C94218
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#E8663F;color:#242424")
                  .a-col.-w--12
                    strong 50
                  .a-col.-w--6
                    code.hexa #E8663F
                  .a-col.-w--6.-text--right
                    .a11y AA
                .palette.a-grid.-noGutter(style="background-color:#F2997E;color:#242424")
                  .a-col.-w--12
                    strong 40
                  .a-col.-w--6
                    code.hexa #F2997E
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#F5CCBF;color:#242424")
                  .a-col.-w--12
                    strong 30
                  .a-col.-w--6
                    code.hexa #F5CCBF
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#FCE9E3;color:#242424")
                  .a-col.-w--12
                    strong 20
                  .a-col.-w--6
                    code.hexa #FCE9E3
                  .a-col.-w--6.-text--right
                    .a11y AAA
                .palette.a-grid.-noGutter(style="background-color:#FAF6F5;color:#242424")
                  .a-col.-w--12
                    strong 10
                  .a-col.-w--6
                    code.hexa #FAF6F5
                  .a-col.-w--6.-text--right
                    .a11y AAA
            .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
              h5 White
              .palette-container
                .palette.a-grid.-noGutter(style="background-color:#ffffff;color:#242424;box-shadow: inset 0 0 0 1px rgba(0,0,0,0.06)")
                  .a-col.-w--12
                    strong White
                  .a-col.-w--6
                    code.hexa #FFFFFF
                  .a-col.-w--6.-text--right
                    .a11y AAA
            .a-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
              h5 Black
              .palette-container
                .palette.a-grid.-noGutter(style="background-color:#000000;color:#ffffff")
                  .a-col.-w--12
                    strong Black
                  .a-col.-w--6
                    code.hexa #000000
                  .a-col.-w--6.-text--right
                    .a11y AAA
.a-divider.-mt--3.-mb--5
h3 SASS

p.-text Chi defines colors with Sass language variables.

.-mb--4
  :code(lang='sass')
    $colorscheme: (
      grey: (
        100: #242526,
        90: #313336,
        80: #3f4145,
        70: #53565a,
        60: #72767a,
        50: #8e9399,
        40: #acb0b5,
        30: #d0d4d9,
        20: #edf0f2,
        10: #f8f9f9,
      ),
      red: (
        100: #471819,
        90: #691518,
        80: #8f0e13,
        70: #b50d12,
        60: #de1b21,
        50: #fa5056,
        40: #fc9094,
        30: #fcc7c9,
        20: #fce8e9,
        10: #fff5f5,
      ),
      pink: (
        100: #451726,
        90: #661430,
        80: #8c0e38,
        70: #b30c44,
        60: #db1a5b,
        50: #f74f87,
        40: #fa8eb2,
        30: #fcc7d9,
        20: #fce8ef,
        10: #fcf5f7,
      ),
      purple: (
        100: #371c52,
        90: #4d2378,
        80: #642b9e,
        70: #7e40bd,
        60: #9557d4,
        50: #b277ed,
        40: #cda3f7,
        30: #e2cdf7,
        20: #f2ebfa,
        10: #faf7fc,
      ),
      indigo: (
        100: #222261,
        90: #2b2b94,
        80: #3939bd,
        70: #4f4fdb,
        60: #6666e3,
        50: #8787fa,
        40: #adadff,
        30: #d1d1ff,
        20: #ededff,
        10: #f7f7ff,
      ),
      navy: (
        100: #001238,
        90: #001e60,
        80: #00308a,
        70: #0047bb,
        60: #005bed,
        50: #4289f5,
        40: #8cb6f5,
        30: #c0d7fa,
        20: #e6f0ff,
        10: #f5f8fc,
      ),
      blue: (
        100: #0c2b3b,
        90: #093d57,
        80: #064e73,
        70: #066594,
        60: #0d7db5,
        50: #239cd9,
        40: #53bff5,
        30: #b0def5,
        20: #e1f2fa,
        10: #f2f9fc,
      ),
      teal: (
        100: #082e2b,
        90: #06403b,
        80: #07524b,
        70: #056960,
        60: #038277,
        50: #0aa396,
        40: #1ec7b9,
        30: #abe0dc,
        20: #d7f5f2,
        10: #edfaf9,
      ),
      mint: (
        100: #0a2e1e,
        90: #094028,
        80: #075433,
        70: #097a49,
        60: #12995f,
        50: #27b875,
        40: #48d597,
        30: #abe0c9,
        20: #daf5e9,
        10: #edfaf3,
      ),
      green: (
        100: #1e2b0a,
        90: #283d09,
        80: #344f0b,
        70: #3f6605,
        60: #4e8003,
        50: #689e18,
        40: #8CC63F,
        30: #c6dba7,
        20: #e4f2ce,
        10: #f2fae6,
      ),
      yellow: (
        100: #36240c,
        90: #4d310b,
        80: #663e07,
        70: #854e03,
        60: #a66102,
        50: #c97d12,
        40: #e6a243,
        30: #f5cc93,
        20: #faecd9,
        10: #fff8ed,
      ),
      orange: (
        100: #3d1e14,
        90: #5e2413,
        80: #80280d,
        70: #a6310d,
        60: #c94218,
        50: #e8663f,
        40: #f2997e,
        30: #f5ccbf,
        20: #fce9e3,
        10: #faf6f5,
      ),
      black: #000000,
      white: #ffffff
    );

p.-text A utility function has been created to reference them.

.-mb--4
  :code(lang='sass')
    set-color($scheme, $tone)

p.-text
  | To use it, add chi through npm and import the variables and
  | mixins sass files.

.-mb--4
  :code(lang='sass')
    @import '@centurylink/chi/src/chi/_variables';
    @import '@centurylink/chi/src/chi/_mixins';

    .example {
      color: set-color(red, 60);
    }


script.
  document.addEventListener(
    'DOMContentLoaded',
    function () {
      chi.expansionPanel(document.getElementById('palettes'));
    },
    false
  );
