---
title: Color
styles: [colors]
---
p.-text
  | Chi offers a wide variety of colors designed to comply with
  | <a href="https://www.w3.org/TR/WCAG20/">WCAG AA+</a> accessibility standards.
  | AA colors have a contrast ratio of 4.5:1 or higher, and AAA colors have a
  | contrast ratio of at least 7:1. Each color below is marked accordingly.
div.a-grid
  .a-col.-sm--w12.-md--w6.-lg--w3.-mb3
    h5 Grey
    .palette-container
      .palette.a-grid.-noGutter(style="background-color:#242424;color:#ffffff")
        .a-col.-w11
          strong 100
        .a-col.-w6
          .hexa #242424
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#333333;color:#ffffff")
        .a-col.-w11
          strong 90
        .a-col.-w6
          .hexa #333333
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#424242;color:#ffffff")
        .a-col.-w11
          strong 80
        .a-col.-w6
          .hexa #424242
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#616161;color:#ffffff")
        .a-col.-w11
          strong 70
        .a-col.-w6
          .hexa #616161
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#757575;color:#ffffff")
        .a-col.-w11
          strong 60
        .a-col.-w6
          .hexa #757575
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#919191;color:#242424")
        .a-col.-w11
          strong 50
        .a-col.-w6
          .hexa #919191
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#B0B0B0;color:#242424")
        .a-col.-w11
          strong 40
        .a-col.-w6
          .hexa #B0B0B0
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#D5D5D5;color:#242424")
        .a-col.-w11
          strong 30
        .a-col.-w6
          .hexa #D5D5D5
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#EEEEEE;color:#242424")
        .a-col.-w11
          strong 20
        .a-col.-w6
          .hexa #EEEEEE
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#F8F8F8;color:#242424")
        .a-col.-w11
          strong 10
        .a-col.-w6
          .hexa #F8F8F8
        .a-col.-w6.-textRight
          .a11y AAA
  .a-col.-sm--w12.-md--w6.-lg--w3.-mb3
    h5 Red
    .palette-container
      .palette.a-grid.-noGutter(style="background-color:#471819;color:#ffffff")
        .a-col.-w11
          strong 100
        .a-col.-w6
          .hexa #471819
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#691518;color:#ffffff")
        .a-col.-w11
          strong 90
        .a-col.-w6
          .hexa #691518
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#8F0E13;color:#ffffff")
        .a-col.-w11
          strong 80
        .a-col.-w6
          .hexa #8F0E13
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#B50D12;color:#ffffff")
        .a-col.-w11
          strong 70
        .a-col.-w6
          .hexa #B50D12
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#DE1B21;color:#ffffff")
        .a-col.-w11
          strong 60
        .a-col.-w6
          .hexa #DE1B21
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#FA5056;color:#242424")
        .a-col.-w11
          strong 50
        .a-col.-w6
          .hexa #FA5056
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#FC9094;color:#242424")
        .a-col.-w11
          strong 40
        .a-col.-w6
          .hexa #FC9094
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#FCC7C9;color:#242424")
        .a-col.-w11
          strong 30
        .a-col.-w6
          .hexa #FCC7C9
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#FCE8E9;color:#242424")
        .a-col.-w11
          strong 20
        .a-col.-w6
          .hexa #FCE8E9
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#FFF5F5;color:#242424")
        .a-col.-w11
          strong 10
        .a-col.-w6
          .hexa #FFF5F5
        .a-col.-w6.-textRight
          .a11y AAA
  .a-col.-sm--w12.-md--w6.-lg--w3.-mb3
    h5 Pink
    .palette-container
      .palette.a-grid.-noGutter(style="background-color:#451726;color:#ffffff")
        .a-col.-w11
          strong 100
        .a-col.-w6
          .hexa #451726
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#661430;color:#ffffff")
        .a-col.-w11
          strong 90
        .a-col.-w6
          .hexa #661430
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#8C0E38;color:#ffffff")
        .a-col.-w11
          strong 80
        .a-col.-w6
          .hexa #8C0E38
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#B30C44;color:#ffffff")
        .a-col.-w11
          strong 70
        .a-col.-w6
          .hexa #B30C44
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#DB1A5B;color:#ffffff")
        .a-col.-w11
          strong 60
        .a-col.-w6
          .hexa #DB1A5B
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#F74F87;color:#242424")
        .a-col.-w11
          strong 50
        .a-col.-w6
          .hexa #F74F87
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#FA8EB2;color:#242424")
        .a-col.-w11
          strong 40
        .a-col.-w6
          .hexa #FA8EB2
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#FCC7D9;color:#242424")
        .a-col.-w11
          strong 30
        .a-col.-w6
          .hexa #FCC7D9
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#FCE8EF;color:#242424")
        .a-col.-w11
          strong 20
        .a-col.-w6
          .hexa #FCE8EF
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#FCF5F7;color:#242424")
        .a-col.-w11
          strong 10
        .a-col.-w6
          .hexa #FCF5F7
        .a-col.-w6.-textRight
          .a11y AAA
  .a-col.-sm--w12.-md--w6.-lg--w3.-mb3
    h5 Purple
    .palette-container
      .palette.a-grid.-noGutter(style="background-color:#371C52;color:#ffffff")
        .a-col.-w11
          strong 100
        .a-col.-w6
          .hexa #371C52
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#4D2378;color:#ffffff")
        .a-col.-w11
          strong 90
        .a-col.-w6
          .hexa #4D2378
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#642B9E;color:#ffffff")
        .a-col.-w11
          strong 80
        .a-col.-w6
          .hexa #642B9E
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#7E40BD;color:#ffffff")
        .a-col.-w11
          strong 70
        .a-col.-w6
          .hexa #7E40BD
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#9557D4;color:#ffffff")
        .a-col.-w11
          strong 60
        .a-col.-w6
          .hexa #9557D4
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#B277ED;color:#242424")
        .a-col.-w11
          strong 50
        .a-col.-w6
          .hexa #B277ED
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#CDA3F7;color:#242424")
        .a-col.-w11
          strong 40
        .a-col.-w6
          .hexa #CDA3F7
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#E2CDF7;color:#242424")
        .a-col.-w11
          strong 30
        .a-col.-w6
          .hexa #E2CDF7
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#F2EBFA;color:#242424")
        .a-col.-w11
          strong 20
        .a-col.-w6
          .hexa #F2EBFA
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#FAF7FC;color:#242424")
        .a-col.-w11
          strong 10
        .a-col.-w6
          .hexa #FAF7FC
        .a-col.-w6.-textRight
          .a11y AAA
  .a-col.-sm--w12.-md--w6.-lg--w3.-mb3
    h5 Indigo
    .palette-container
      .palette.a-grid.-noGutter(style="background-color:#222261;color:#ffffff")
        .a-col.-w11
          strong 100
        .a-col.-w6
          .hexa #222261
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#2B2B94;color:#ffffff")
        .a-col.-w11
          strong 90
        .a-col.-w6
          .hexa #2B2B94
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#3939BD;color:#ffffff")
        .a-col.-w11
          strong 80
        .a-col.-w6
          .hexa #3939BD
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#4F4FDB;color:#ffffff")
        .a-col.-w11
          strong 70
        .a-col.-w6
          .hexa #4F4FDB
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#6666E3;color:#ffffff")
        .a-col.-w11
          strong 60
        .a-col.-w6
          .hexa #6666E3
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#8787FA;color:#242424")
        .a-col.-w11
          strong 50
        .a-col.-w6
          .hexa #8787FA
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#ADADFF;color:#242424")
        .a-col.-w11
          strong 40
        .a-col.-w6
          .hexa #ADADFF
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#D1D1FF;color:#242424")
        .a-col.-w11
          strong 30
        .a-col.-w6
          .hexa #D1D1FF
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#EDEDFF;color:#242424")
        .a-col.-w11
          strong 20
        .a-col.-w6
          .hexa #EDEDFF
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#F7F7FF;color:#242424")
        .a-col.-w11
          strong 10
        .a-col.-w6
          .hexa #F7F7FF
        .a-col.-w6.-textRight
          .a11y AAA
  .a-col.-sm--w12.-md--w6.-lg--w3.-mb3
    h5 Navy
    .palette-container
      .palette.a-grid.-noGutter(style="background-color:#172945;color:#ffffff")
        .a-col.-w11
          strong 100
        .a-col.-w6
          .hexa #172945
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#173A6E;color:#ffffff")
        .a-col.-w11
          strong 90
        .a-col.-w6
          .hexa #173A6E
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#10489C;color:#ffffff")
        .a-col.-w11
          strong 80
        .a-col.-w6
          .hexa #10489C
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#0E5BCF;color:#ffffff")
        .a-col.-w11
          strong 70
        .a-col.-w6
          .hexa #0E5BCF
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#2973E3;color:#ffffff")
        .a-col.-w11
          strong 60
        .a-col.-w6
          .hexa #2973E3
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#5394F5;color:#242424")
        .a-col.-w11
          strong 50
        .a-col.-w6
          .hexa #5394F5
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#8CB6F5;color:#242424")
        .a-col.-w11
          strong 40
        .a-col.-w6
          .hexa #8CB6F5
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#C0D7FA;color:#242424")
        .a-col.-w11
          strong 30
        .a-col.-w6
          .hexa #C0D7FA
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#E6F0FF;color:#242424")
        .a-col.-w11
          strong 20
        .a-col.-w6
          .hexa #E6F0FF
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#F5F8FC;color:#242424")
        .a-col.-w11
          strong 10
        .a-col.-w6
          .hexa #F5F8FC
        .a-col.-w6.-textRight
          .a11y AAA
  .a-col.-sm--w12.-md--w6.-lg--w3.-mb3
    h5 Blue
    .palette-container
      .palette.a-grid.-noGutter(style="background-color:#0C2B3B;color:#ffffff")
        .a-col.-w11
          strong 100
        .a-col.-w6
          .hexa #0C2B3B
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#093D57;color:#ffffff")
        .a-col.-w11
          strong 90
        .a-col.-w6
          .hexa #093D57
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#064E73;color:#ffffff")
        .a-col.-w11
          strong 80
        .a-col.-w6
          .hexa #064E73
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#066594;color:#ffffff")
        .a-col.-w11
          strong 70
        .a-col.-w6
          .hexa #066594
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#0D7DB5;color:#ffffff")
        .a-col.-w11
          strong 60
        .a-col.-w6
          .hexa #0D7DB5
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#239CD9;color:#242424")
        .a-col.-w11
          strong 50
        .a-col.-w6
          .hexa #239CD9
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#53BFF5;color:#242424")
        .a-col.-w11
          strong 40
        .a-col.-w6
          .hexa #53BFF5
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#B0DEF5;color:#242424")
        .a-col.-w11
          strong 30
        .a-col.-w6
          .hexa #B0DEF5
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#E1F2FA;color:#242424")
        .a-col.-w11
          strong 20
        .a-col.-w6
          .hexa #E1F2FA
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#F2F9FC;color:#242424")
        .a-col.-w11
          strong 10
        .a-col.-w6
          .hexa #F2F9FC
        .a-col.-w6.-textRight
          .a11y AAA
  .a-col.-sm--w12.-md--w6.-lg--w3.-mb3
    h5 Teal
    .palette-container
      .palette.a-grid.-noGutter(style="background-color:#082E2B;color:#ffffff")
        .a-col.-w11
          strong 100
        .a-col.-w6
          .hexa #082E2B
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#06403B;color:#ffffff")
        .a-col.-w11
          strong 90
        .a-col.-w6
          .hexa #06403B
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#07524B;color:#ffffff")
        .a-col.-w11
          strong 80
        .a-col.-w6
          .hexa #07524B
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#056960;color:#ffffff")
        .a-col.-w11
          strong 70
        .a-col.-w6
          .hexa #056960
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#038277;color:#ffffff")
        .a-col.-w11
          strong 60
        .a-col.-w6
          .hexa #038277
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#0AA396;color:#242424")
        .a-col.-w11
          strong 50
        .a-col.-w6
          .hexa #0AA396
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#1EC7B9;color:#242424")
        .a-col.-w11
          strong 40
        .a-col.-w6
          .hexa #1EC7B9
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#ABE0DC;color:#242424")
        .a-col.-w11
          strong 30
        .a-col.-w6
          .hexa #ABE0DC
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#D7F5F2;color:#242424")
        .a-col.-w11
          strong 20
        .a-col.-w6
          .hexa #D7F5F2
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#EDFAF9;color:#242424")
        .a-col.-w11
          strong 10
        .a-col.-w6
          .hexa #EDFAF9
        .a-col.-w6.-textRight
          .a11y AAA
  .a-col.-sm--w12.-md--w6.-lg--w3.-mb3
    h5 Emerald
    .palette-container
      .palette.a-grid.-noGutter(style="background-color:#0A2E1B;color:#ffffff")
        .a-col.-w11
          strong 100
        .a-col.-w6
          .hexa #0A2E1B
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#094023;color:#ffffff")
        .a-col.-w11
          strong 90
        .a-col.-w6
          .hexa #094023
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#07542B;color:#ffffff")
        .a-col.-w11
          strong 80
        .a-col.-w6
          .hexa #07542B
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#056B35;color:#ffffff")
        .a-col.-w11
          strong 70
        .a-col.-w6
          .hexa #056B35
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#03853F;color:#ffffff")
        .a-col.-w11
          strong 60
        .a-col.-w6
          .hexa #03853F
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#0AA653;color:#242424")
        .a-col.-w11
          strong 50
        .a-col.-w6
          .hexa #0AA653
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#1EC96E;color:#242424")
        .a-col.-w11
          strong 40
        .a-col.-w6
          .hexa #1EC96E
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#ABE0C4;color:#242424")
        .a-col.-w11
          strong 30
        .a-col.-w6
          .hexa #ABE0C4
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#DAF5E6;color:#242424")
        .a-col.-w11
          strong 20
        .a-col.-w6
          .hexa #DAF5E6
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#EDFAF3;color:#242424")
        .a-col.-w11
          strong 10
        .a-col.-w6
          .hexa #EDFAF3
        .a-col.-w6.-textRight
          .a11y AAA
  .a-col.-sm--w12.-md--w6.-lg--w3.-mb3
    h5 Green
    .palette-container
      .palette.a-grid.-noGutter(style="background-color:#1E2B0A;color:#ffffff")
        .a-col.-w11
          strong 100
        .a-col.-w6
          .hexa #1E2B0A
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#283D09;color:#ffffff")
        .a-col.-w11
          strong 90
        .a-col.-w6
          .hexa #283D09
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#344F0B;color:#ffffff")
        .a-col.-w11
          strong 80
        .a-col.-w6
          .hexa #344F0B
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#3F6605;color:#ffffff")
        .a-col.-w11
          strong 70
        .a-col.-w6
          .hexa #3F6605
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#4E8003;color:#ffffff")
        .a-col.-w11
          strong 60
        .a-col.-w6
          .hexa #4E8003
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#689E18;color:#242424")
        .a-col.-w11
          strong 50
        .a-col.-w6
          .hexa #689E18
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#7EC219;color:#242424")
        .a-col.-w11
          strong 40
        .a-col.-w6
          .hexa #7EC219
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#C6DBA7;color:#242424")
        .a-col.-w11
          strong 30
        .a-col.-w6
          .hexa #C6DBA7
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#E4F2CE;color:#242424")
        .a-col.-w11
          strong 20
        .a-col.-w6
          .hexa #E4F2CE
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#F2FAE6;color:#242424")
        .a-col.-w11
          strong 10
        .a-col.-w6
          .hexa #F2FAE6
        .a-col.-w6.-textRight
          .a11y AAA
  .a-col.-sm--w12.-md--w6.-lg--w3.-mb3
    h5 Yellow
    .palette-container
      .palette.a-grid.-noGutter(style="background-color:#36240C;color:#ffffff")
        .a-col.-w11
          strong 100
        .a-col.-w6
          .hexa #36240C
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#4D310B;color:#ffffff")
        .a-col.-w11
          strong 90
        .a-col.-w6
          .hexa #4D310B
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#663E07;color:#ffffff")
        .a-col.-w11
          strong 80
        .a-col.-w6
          .hexa #663E07
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#854E03;color:#ffffff")
        .a-col.-w11
          strong 70
        .a-col.-w6
          .hexa #854E03
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#A66102;color:#ffffff")
        .a-col.-w11
          strong 60
        .a-col.-w6
          .hexa #A66102
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#C97D12;color:#242424")
        .a-col.-w11
          strong 50
        .a-col.-w6
          .hexa #C97D12
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#E6A243;color:#242424")
        .a-col.-w11
          strong 40
        .a-col.-w6
          .hexa #E6A243
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#F5CC93;color:#242424")
        .a-col.-w11
          strong 30
        .a-col.-w6
          .hexa #F5CC93
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#FAECD9;color:#242424")
        .a-col.-w11
          strong 20
        .a-col.-w6
          .hexa #FAECD9
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#FFF8ED;color:#242424")
        .a-col.-w11
          strong 10
        .a-col.-w6
          .hexa #FFF8ED
        .a-col.-w6.-textRight
          .a11y AAA
  .a-col.-sm--w12.-md--w6.-lg--w3.-mb3
    h5 Orange
    .palette-container
      .palette.a-grid.-noGutter(style="background-color:#3D1E14;color:#ffffff")
        .a-col.-w11
          strong 100
        .a-col.-w6
          .hexa #3D1E14
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#5E2413;color:#ffffff")
        .a-col.-w11
          strong 90
        .a-col.-w6
          .hexa #5E2413
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#80280D;color:#ffffff")
        .a-col.-w11
          strong 80
        .a-col.-w6
          .hexa #80280D
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#A6310D;color:#ffffff")
        .a-col.-w11
          strong 70
        .a-col.-w6
          .hexa #A6310D
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#C94218;color:#ffffff")
        .a-col.-w11
          strong 60
        .a-col.-w6
          .hexa #C94218
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#E8663F;color:#242424")
        .a-col.-w11
          strong 50
        .a-col.-w6
          .hexa #E8663F
        .a-col.-w6.-textRight
          .a11y AAA+
      .palette.a-grid.-noGutter(style="background-color:#F2997E;color:#242424")
        .a-col.-w11
          strong 40
        .a-col.-w6
          .hexa #F2997E
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#F5CCBF;color:#242424")
        .a-col.-w11
          strong 30
        .a-col.-w6
          .hexa #F5CCBF
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#FCE9E3;color:#242424")
        .a-col.-w11
          strong 20
        .a-col.-w6
          .hexa #FCE9E3
        .a-col.-w6.-textRight
          .a11y AAA
      .palette.a-grid.-noGutter(style="background-color:#FAF6F5;color:#242424")
        .a-col.-w11
          strong 10
        .a-col.-w6
          .hexa #FAF6F5
        .a-col.-w6.-textRight
          .a11y AAA
  .a-col.-sm--w12.-md--w6.-lg--w3.-mb3
    h5 White
    .palette-container
      .palette.a-grid.-noGutter(style="background-color:#ffffff;color:#242424")
        .a-col.-w11
          strong White
        .a-col.-w6
          .hexa #FFFFFF
        .a-col.-w6.-textRight
          .a11y AAA
  .a-col.-sm--w12.-md--w6.-lg--w3.-mb3
    h5 Black
    .palette-container
      .palette.a-grid.-noGutter(style="background-color:#000000;color:#ffffff")
        .a-col.-w11
          strong Black
        .a-col.-w6
          .hexa #000000
        .a-col.-w6.-textRight
          .a11y AAA

h3 SASS

p.-text Chi defines colors with Sass language variables.

.-mb4
  :code(lang='sass')
    $colorscheme: (
      grey: (
        100: #242424,
        90: #333333,
        80: #424242,
        70: #616161,
        60: #757575,
        50: #919191,
        40: #b0b0b0,
        30: #d5d5d5,
        20: #eeeeee,
        10: #f8f8f8,
      ),
      red: (
        100: #471819,
        90: #691518,
        80: #8f0e13,
        70: #b50d12,
        60: #de1b21,
        50: #fa5056,
        40: #fc9094,
        30: #fcc7c9,
        20: #fce8e9,
        10: #fff5f5,
      ),
      pink: (
        100: #451726,
        90: #661430,
        80: #8c0e38,
        70: #b30c44,
        60: #db1a5b,
        50: #f74f87,
        40: #fa8eb2,
        30: #fcc7d9,
        20: #fce8ef,
        10: #fcf5f7,
      ),
      purple: (
        100: #371c52,
        90: #4d2378,
        80: #642b9e,
        70: #7e40bd,
        60: #9557d4,
        50: #b277ed,
        40: #cda3f7,
        30: #e2cdf7,
        20: #f2ebfa,
        10: #faf7fc,
      ),
      indigo: (
        100: #222261,
        90: #2b2b94,
        80: #3939bd,
        70: #4f4fdb,
        60: #6666e3,
        50: #8787fa,
        40: #adadff,
        30: #d1d1ff,
        20: #ededff,
        10: #f7f7ff,
      ),
      navy: (
        100: #172945,
        90: #173a6e,
        80: #10489c,
        70: #0e5bcf,
        60: #2973e3,
        50: #5394f5,
        40: #8cb6f5,
        30: #c0d7fa,
        20: #e6f0ff,
        10: #f5f8fc,
      ),
      blue: (
        100: #0c2b3b,
        90: #093d57,
        80: #064e73,
        70: #066594,
        60: #0d7db5,
        50: #239cd9,
        40: #53bff5,
        30: #b0def5,
        20: #e1f2fa,
        10: #f2f9fc,
      ),
      teal: (
        100: #082e2b,
        90: #06403b,
        80: #07524b,
        70: #056960,
        60: #038277,
        50: #0aa396,
        40: #1ec7b9,
        30: #abe0dc,
        20: #d7f5f2,
        10: #edfaf9,
      ),
      emerald: (
        100: #0a2e1b,
        90: #094023,
        80: #07542b,
        70: #056b35,
        60: #03853f,
        50: #0aa653,
        40: #1ec96e,
        30: #abe0c4,
        20: #daf5e6,
        10: #edfaf3,
      ),
      green: (
        100: #1e2b0a,
        90: #283d09,
        80: #344f0b,
        70: #3f6605,
        60: #4e8003,
        50: #689e18,
        40: #7ec219,
        30: #c6dba7,
        20: #e4f2ce,
        10: #f2fae6,
      ),
      yellow: (
        100: #36240c,
        90: #4d310b,
        80: #663e07,
        70: #854e03,
        60: #a66102,
        50: #c97d12,
        40: #e6a243,
        30: #f5cc93,
        20: #faecd9,
        10: #fff8ed,
      ),
      orange: (
        100: #3d1e14,
        90: #5e2413,
        80: #80280d,
        70: #a6310d,
        60: #c94218,
        50: #e8663f,
        40: #f2997e,
        30: #f5ccbf,
        20: #fce9e3,
        10: #faf6f5,
      ),
      black: #000000,
      white: #ffffff
    );

p.-text A utility function has been created to reference them.

.-mb4
  :code(lang='sass')
    set-color($scheme, $tone)

p.-text
  | To use it, add chi through npm and import the variables and
  | mixins sass files.

.-mb4
  :code(lang='sass')
    @import '@centurylink/chi/src/chi/variables';
    @import '@centurylink/chi/src/chi/mixins';

    .example {
      color: set-color(red, 60);
    }
