---
title: Color
---
p.-text
  | Chi colors are designed to comply with U.S. <a href="https://www.section508.gov/">Section 508</a> federal requirements.
  | Section 508 follows the Web Content Accessibility Guidelines (<a href="https://www.w3.org/TR/WCAG20/">WCAG 2.0</a>) Level AA
  | standards which require text and background color contrast ratios of 4.5:1 or higher.
  | All Chi colors either meet (AA) or exceed (AAA) these standards and have been marked below accordingly.

// Lumen

.-lumen--show
  h2 Brand
  div.chi-grid
    .chi-col.-w-sm--12.-w-md--6.-w-lg--6.-mb--3
      h3 Primary Accent
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-pt--10.-text--white(style="background-color:#0075C9;")
          .chi-col.-w--12
            .-text--bold Blue 70
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #0075C9
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
    .chi-col.-w-sm--12.-w-md--6.-w-lg--6.-mb--3
      h3 Secondary Accent
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-pt--10.-text--body(style="background-color:#38C6F4;")
          .chi-col.-w--12
            .-text--bold Cyan 40
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #38C6F4
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
  div.chi-grid
    .chi-col.-w--12
      h3 Supporting Colors
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body.-bg--white(style="box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1)")
          .chi-col.-w--12
            .-text--bold White
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #FFFFFF
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#0C9ED9;")
          .chi-col.-w--12
            .-text--bold Cyan 50
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #0C9ED9
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#083176;")
          .chi-col.-w--12
            .-text--bold Navy 100
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #083176
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white.-bg--black
          .chi-col.-w--12
            .-text--bold Black
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #000000
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
  .chi-divider.-mt--3.-mb--5
  h2 Neutral
  div.chi-grid
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#242526;")
          .chi-col.-w--12
            .-text--bold Grey 100
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #242526
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for primary text color on white and low-contrast backgrounds on black.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#313336;")
          .chi-col.-w--12
            .-text--bold Grey 90
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #313336
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for low-contrast borders on black and medium-contrast backgrounds on black.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#3F4145;")
          .chi-col.-w--12
            .-text--bold Grey 80
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #3F4145
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for medium-contrast borders on black and high-contrast backgrounds on black.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#53565A;")
          .chi-col.-w--12
            .-text--bold Grey 70
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #53565A
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      p.-text--sm.-mb--0 Used for secondary text on white and high-contrast borders on black.
  div.chi-grid
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#65686C;")
          .chi-col.-w--12
            .-text--bold Grey 60
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #65686C
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      p.-text--sm.-mb--0 Used for muted or disabled text and icons on white.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#8E9399;")
          .chi-col.-w--12
            .-text--bold Grey 50
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #8E9399
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      p.-text--sm.-mb--0 Used for muted or disabled text and icons on black.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#ACB0B5;")
          .chi-col.-w--12
            .-text--bold Grey 40
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #ACB0B5
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for high-contrast borders on white.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#D0D4D9;")
          .chi-col.-w--12
            .-text--bold Grey 30
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #D0D4D9
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for medium-contrast borders on white.
  div.chi-grid
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#DADEE2;")
          .chi-col.-w--12
            .-text--bold Grey 25
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #DADEE2
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for medium-contrast borders and high-contrast backgrounds on white.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#EDF0F2;")
          .chi-col.-w--12
            .-text--bold Grey 20
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #EDF0F2
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for low-contrast borders and medium-contrast backgrounds on white.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#F4F5F6;")
          .chi-col.-w--12
            .-text--bold Grey 15
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #F4F5F6
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for low-contrast backgrounds on white.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#F8F9F9;")
          .chi-col.-w--12
            .-text--bold Grey 10
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #F8F9F9
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for low-contrast backgrounds on white.
  .chi-divider.-mt--3.-mb--5
  h2 Semantic
  p.-text
    | Use semantic colors to communicate meaning to users.
    | Examples include displaying alerts, form field validation, user status, application state and more.
    | Use green (success) for positive, blue (info) for informative, red (danger) for negative, and yellow (warning) for needs attention.
    | Semantic colors should never be used for decorative purposes.
  div.chi-grid.-my--3
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#007E44;")
          .chi-col.-w--12
            .-text--bold Green 70
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #007E44
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#009054;")
          .chi-col.-w--12
            .-text--bold Green 60
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #009054
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#95E9C9")
          .chi-col.-w--12
            .-text--bold Green 30
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #95E9C9
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#DBFAEE")
          .chi-col.-w--12
            .-text--bold Green 20
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #DBFAEE
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#0262B9;")
          .chi-col.-w--12
            .-text--bold Blue 75
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #0262B9
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#0080DC;")
          .chi-col.-w--12
            .-text--bold Blue 60
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #0080DC
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#AEDEFF;")
          .chi-col.-w--12
            .-text--bold Blue 30
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #AEDEFF
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#E0F3FF;")
          .chi-col.-w--12
            .-text--bold Blue 20
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #E0F3FF
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#D62015;")
          .chi-col.-w--12
            .-text--bold Red 70
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #D62015
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#EE3026;")
          .chi-col.-w--12
            .-text--bold Red 60
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #EE3026
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#FFC2BD;")
          .chi-col.-w--12
            .-text--bold Red 30
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #FFC2BD
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#FFE8E5;")
          .chi-col.-w--12
            .-text--bold Red 20
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #FFE8E5
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#A15C00;")
          .chi-col.-w--12
            .-text--bold Yellow 70
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #A15C00
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#B96B00;")
          .chi-col.-w--12
            .-text--bold Yellow 60
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #B96B00
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#FFCC89;")
          .chi-col.-w--12
            .-text--bold Yellow 30
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #FFCC89
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#FAECD9;")
          .chi-col.-w--12
            .-text--bold Yellow 20
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #FAECD9
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA

// CenturyLink

.-centurylink--show
  h2 Brand
  div.chi-grid
    .chi-col.-w-sm--12.-w-md--6.-w-lg--6.-mb--3
      h3 Primary Accent
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-pt--10.-text--white(style="background-color:#0047BB;")
          .chi-col.-w--12
            .-text--bold Blue 70
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #0047BB
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
    .chi-col.-w-sm--12.-w-md--6.-w-lg--6.-mb--3
      h3 Secondary Accent
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-pt--10.-text--body(style="background-color:#48D597;")
          .chi-col.-w--12
            .-text--bold Mint 40
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #48D597
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
  div.chi-grid
    .chi-col.-w--12
      h3 Supporting Colors
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body.-bg--white(style="box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1)")
          .chi-col.-w--12
            .-text--bold White
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #FFFFFF
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#02BCB2;")
          .chi-col.-w--12
            .-text--bold Teal Blue 40
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #02BCB2
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#F9F162;")
          .chi-col.-w--12
            .-text--bold Yellow 35
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #F9F162
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#6FD16F;")
          .chi-col.-w--12
            .-text--bold Green 35
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #6FD16F
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
  .chi-divider.-mt--3.-mb--5
  h2 Neutral
  div.chi-grid
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#242526;")
          .chi-col.-w--12
            .-text--bold Grey 100
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #242526
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for primary text color on white and low-contrast backgrounds on black.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#313336;")
          .chi-col.-w--12
            .-text--bold Grey 90
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #313336
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for low-contrast borders on black and medium-contrast backgrounds on black.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#3F4145;")
          .chi-col.-w--12
            .-text--bold Grey 80
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #3F4145
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for medium-contrast borders on black and high-contrast backgrounds on black.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#53565A;")
          .chi-col.-w--12
            .-text--bold Grey 70
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #53565A
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      p.-text--sm.-mb--0 Used for secondary text on white and high-contrast borders on black.
  div.chi-grid
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#65686C;")
          .chi-col.-w--12
            .-text--bold Grey 60
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #65686C
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      p.-text--sm.-mb--0 Used for muted or disabled text and icons on white.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#8E9399;")
          .chi-col.-w--12
            .-text--bold Grey 50
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #8E9399
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      p.-text--sm.-mb--0 Used for muted or disabled text and icons on black.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#ACB0B5;")
          .chi-col.-w--12
            .-text--bold Grey 40
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #ACB0B5
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for high-contrast borders on white.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#D0D4D9;")
          .chi-col.-w--12
            .-text--bold Grey 30
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #D0D4D9
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for medium-contrast borders on white.
  div.chi-grid
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#DADEE2;")
          .chi-col.-w--12
            .-text--bold Grey 25
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #DADEE2
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for medium-contrast borders and high-contrast backgrounds on white.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#EDF0F2;")
          .chi-col.-w--12
            .-text--bold Grey 20
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #EDF0F2
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for low-contrast borders and medium-contrast backgrounds on white.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#F4F5F6;")
          .chi-col.-w--12
            .-text--bold Grey 15
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #F4F5F6
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for low-contrast backgrounds on white.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#F8F9F9;")
          .chi-col.-w--12
            .-text--bold Grey 10
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #F8F9F9
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for low-contrast backgrounds on white.
  .chi-divider.-mt--3.-mb--5
  h2 Semantic
  p.-text
    | Use semantic colors to communicate meaning to users.
    | Examples include displaying alerts, form field validation, user status, application state and more.
    | Use green (success) for positive, blue (info) for informative, red (danger) for negative, and yellow (warning) for needs attention.
    | Semantic colors should never be used for decorative purposes.
  div.chi-grid.-my--3
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#008000;")
          .chi-col.-w--12
            .-text--bold Green 60
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #008000
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#189E18;")
          .chi-col.-w--12
            .-text--bold Green 50
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #189E18
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#A7DBA7")
          .chi-col.-w--12
            .-text--bold Green 30
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #A7DBA7
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#CEF2CE")
          .chi-col.-w--12
            .-text--bold Green 20
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #CEF2CE
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#0060FA;")
          .chi-col.-w--12
            .-text--bold Blue 60
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #0060FA
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#468AF1;")
          .chi-col.-w--12
            .-text--bold Blue 50
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #468AF1
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#C0D7FA;")
          .chi-col.-w--12
            .-text--bold Blue 30
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #C0D7FA
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#E6F0FF;")
          .chi-col.-w--12
            .-text--bold Blue 20
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #E6F0FF
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#D81820;")
          .chi-col.-w--12
            .-text--bold Red 60
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #D81820
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#FA5056;")
          .chi-col.-w--12
            .-text--bold Red 50
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #FA5056
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#FCC7C9;")
          .chi-col.-w--12
            .-text--bold Red 30
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #FCC7C9
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#FCE8E9;")
          .chi-col.-w--12
            .-text--bold Red 20
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #FCE8E9
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#946300;")
          .chi-col.-w--12
            .-text--bold Yellow 60
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #946300
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#D19110;")
          .chi-col.-w--12
            .-text--bold Yellow 50
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #D19110
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#F6ED79;")
          .chi-col.-w--12
            .-text--bold Yellow 30
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #F6ED79
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#F9F5BE;")
          .chi-col.-w--12
            .-text--bold Yellow 20
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #F9F5BE
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA

// Lumen Portal

.-portal--show
  h2 Brand
  div.chi-grid
    .chi-col.-w-sm--12.-w-md--6.-w-lg--6.-mb--3
      h3 Primary Accent
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-pt--10.-text--white(style="background-color:#0075C9;")
          .chi-col.-w--12
            .-text--bold Blue 70
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #0075C9
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
    .chi-col.-w-sm--12.-w-md--6.-w-lg--6.-mb--3
      h3 Secondary Accent
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-pt--10.-text--body(style="background-color:#38C6F4;")
          .chi-col.-w--12
            .-text--bold Cyan 40
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #38C6F4
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
  div.chi-grid
    .chi-col.-w--12
      h3 Supporting Colors
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body.-bg--white(style="box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1)")
          .chi-col.-w--12
            .-text--bold White
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #FFFFFF
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#0C9ED9;")
          .chi-col.-w--12
            .-text--bold Cyan 50
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #0C9ED9
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#083176;")
          .chi-col.-w--12
            .-text--bold Navy 100
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #083176
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white.-bg--black
          .chi-col.-w--12
            .-text--bold Black
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #000000
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
  .chi-divider.-mt--3.-mb--5
  h2 Neutral
  div.chi-grid
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#242526;")
          .chi-col.-w--12
            .-text--bold Grey 100
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #242526
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for primary text color on white and low-contrast backgrounds on black.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#313336;")
          .chi-col.-w--12
            .-text--bold Grey 90
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #313336
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for low-contrast borders on black and medium-contrast backgrounds on black.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#3F4145;")
          .chi-col.-w--12
            .-text--bold Grey 80
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #3F4145
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for medium-contrast borders on black and high-contrast backgrounds on black.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#53565A;")
          .chi-col.-w--12
            .-text--bold Grey 70
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #53565A
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      p.-text--sm.-mb--0 Used for secondary text on white and high-contrast borders on black.
  div.chi-grid
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#65686C;")
          .chi-col.-w--12
            .-text--bold Grey 60
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #65686C
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      p.-text--sm.-mb--0 Used for muted or disabled text and icons on white.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#8E9399;")
          .chi-col.-w--12
            .-text--bold Grey 50
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #8E9399
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      p.-text--sm.-mb--0 Used for muted or disabled text and icons on black.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#ACB0B5;")
          .chi-col.-w--12
            .-text--bold Grey 40
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #ACB0B5
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for high-contrast borders on white.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#D0D4D9;")
          .chi-col.-w--12
            .-text--bold Grey 30
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #D0D4D9
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for medium-contrast borders on white.
  div.chi-grid
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#DADEE2;")
          .chi-col.-w--12
            .-text--bold Grey 25
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #DADEE2
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for medium-contrast borders and high-contrast backgrounds on white.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#EDF0F2;")
          .chi-col.-w--12
            .-text--bold Grey 20
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #EDF0F2
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for low-contrast borders and medium-contrast backgrounds on white.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#F4F5F6;")
          .chi-col.-w--12
            .-text--bold Grey 15
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #F4F5F6
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for low-contrast backgrounds on white.
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#F8F9F9;")
          .chi-col.-w--12
            .-text--bold Grey 10
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #F8F9F9
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      p.-text--sm.-mb--0 Used for low-contrast backgrounds on white.
  .chi-divider.-mt--3.-mb--5
  h2 Semantic
  p.-text
    | Use semantic colors to communicate meaning to users.
    | Examples include displaying alerts, form field validation, user status, application state and more.
    | Use green (success) for positive, blue (info) for informative, red (danger) for negative, and yellow (warning) for needs attention.
    | Semantic colors should never be used for decorative purposes.
  div.chi-grid.-my--3
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#007E44;")
          .chi-col.-w--12
            .-text--bold Green 70
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #007E44
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#009054;")
          .chi-col.-w--12
            .-text--bold Green 60
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #009054
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#95E9C9")
          .chi-col.-w--12
            .-text--bold Green 30
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #95E9C9
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#DBFAEE")
          .chi-col.-w--12
            .-text--bold Green 20
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #DBFAEE
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#0262B9;")
          .chi-col.-w--12
            .-text--bold Blue 75
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #0262B9
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#0080DC;")
          .chi-col.-w--12
            .-text--bold Blue 60
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #0080DC
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#AEDEFF;")
          .chi-col.-w--12
            .-text--bold Blue 30
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #AEDEFF
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#E0F3FF;")
          .chi-col.-w--12
            .-text--bold Blue 20
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #E0F3FF
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#D62015;")
          .chi-col.-w--12
            .-text--bold Red 70
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #D62015
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#EE3026;")
          .chi-col.-w--12
            .-text--bold Red 60
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #EE3026
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#FFC2BD;")
          .chi-col.-w--12
            .-text--bold Red 30
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #FFC2BD
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#FFE8E5;")
          .chi-col.-w--12
            .-text--bold Red 20
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #FFE8E5
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
    .chi-col.-w-sm--12.-w-md--6.-w-lg--3.-mb--3
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#A15C00;")
          .chi-col.-w--12
            .-text--bold Yellow 70
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #A15C00
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--white(style="background-color:#B96B00;")
          .chi-col.-w--12
            .-text--bold Yellow 60
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #B96B00
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#FFCC89;")
          .chi-col.-w--12
            .-text--bold Yellow 30
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #FFCC89
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
      .palette-container
        .palette.-p--2.chi-grid.-no-gutter.-text.-text--body(style="background-color:#FAECD9;")
          .chi-col.-w--12
            .-text--bold Yellow 20
          .chi-col.-w--6.-text--sm
            code.-bg--none.-text--inherit.-p--0 #FAECD9
          .chi-col.-w--6.-text--right.-text--sm
            .a11y AAA
