---
title: Color and sensory
disabled: true
---

h2 Sensory characteristics
div.chi-grid
  .chi-col.-w-sm--12.-w-md--8
    div.-d--flex.-justify-content--start.-align-items--center
      .chi-badge.-primary.-xs.-mr--1
        span A
      p.-text.-my--0
        | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#content-structure-separation-understanding" rel="noopener">1.3.3 Sensory Characteristics</a>
    p.-text
      | Instructions provided for understanding and operating content do not rely solely on sensory characteristics of components 
      | such as shape, size, visual location, orientation, or sound.
    ul.-text
      li Can the user access instructions for using the content, even when they cannot perceive shape or size or use information about spatial location or orientation?
      li Are descriptions of controls solely via references to visual or auditory cues avoided?
      li Is additional information provided other than shape and/or location?
      li Does positioning, color and labeling to help identify the information?
  .chi-col.-w-sm--12.-w-md--4
    div.-d--flex.-justify-content--start.-align-items--center
      p.-text.-text--bold.-my--0
        | WCAG 2.0 Guideline
      .chi-badge.-dark.-outline.-xs.-ml--1
        span Perceivable
    p.-text.-mt--1
      | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#content-structure-separation" rel="noopener">1.3 Adaptable</a>
    p.-text
      | <strong>Benefits:</strong> Blind and low-vision disabilities.
h2 Use of color
div.chi-grid
  .chi-col.-w-sm--12.-w-md--8
    div.-d--flex.-justify-content--start.-align-items--center
      .chi-badge.-primary.-xs.-mr--1
        span A
      p.-text.-my--0
        | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-without-color" rel="noopener">1.4.1 Use of Color</a>
    p.-text
      | Color is not used as the only visual means of conveying information, indicating an action, prompting a response, or distinguishing a visual element.
    ul.-text
      li Verify that color alone not used to convey important information.
      li Can all of the information be understood when viewing the page in grayscale?
      li Can all of the page functions be performed when viewing the page in grayscale?
  .chi-col.-w-sm--12.-w-md--4
    div.-d--flex.-justify-content--start.-align-items--center
      p.-text.-text--bold.-my--0
        | WCAG 2.0 Guideline
      .chi-badge.-dark.-outline.-xs.-ml--1
        span Perceivable
    p.-text.-mt--1
      | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast" rel="noopener">1.4 Distinguishable</a>
    p.-text
      | <strong>Benefits:</strong> Colorblind disabilities.

h2 Contrast
div.chi-grid
  .chi-col.-w-sm--12.-w-md--8
    div.-d--flex.-justify-content--start.-align-items--center
      .chi-badge.-primary.-xs.-mr--1
        span AA
      p.-text.-my--0
        | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast" rel="noopener">1.4.3 Contrast (Minimum)</a>
    p.-text
      | The visual presentation of text and images of text has a contrast ratio of at least 4.5:1, except for the following:
    ul.-text.-no-style
      li <strong>Large Text:</strong> Large-scale text and images of large-scale text have a contrast ratio of at least 3:1.
      li <strong>Incidental:</strong> Text or images of text that are part of an inactive user interface component, that are pure decoration,
         | that are not visible to anyone, or that are part of a picture that contains significant other visual content, have no contrast requirement.
      li <strong>Logotypes:</strong> Text that is part of a logo or brand name has no minimum contrast requirement.
    .chi-divider.-my--2
    ul.-text
      li Is the color contrast of the text and its background readable by low-vision users?
      li Using a color contrast tool - are color contrast ratios at least 4.5:1 for text that is < 18 point/24 px, and for bold text that is < 14 point/18.5 px?
      li Using a color contrast tool - are color contrast ratios at least 3:1 for large-scale text that is at least 18 point/24 px, and for large-scale bold text
         | that is at least 14 point/18.5 px?
      li Is there text that is only decorative and conveys not information? (Decorative text does not need to meet color contrast guidelines)
  .chi-col.-w-sm--12.-w-md--4
    div.-d--flex.-justify-content--start.-align-items--center
      p.-text.-text--bold.-my--0
        | WCAG 2.0 Guideline
      .chi-badge.-dark.-outline.-xs.-ml--1
        span Perceivable
    p.-text.-mt--1
      | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#visual-audio-contrast" rel="noopener">1.4 Distinguishable</a>
    p.-text
      | <strong>Benefits:</strong> Low-vision and colorblind disabilities.
