---
title: Links and forms
---

h2 Info and relationships
div.-d--flex.-justify-content--start.-align-items--center
  p.-text.-text--bold.-my--0
    | WCAG 2.0 Guideline
  .chi-badge.-dark.-outline.-xs.-ml--1
    span Perceivable
p.-text.-mt--1
  | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#content-structure-separation" rel="noopener">1.3 Adaptable</a>
p.-text
  | <strong>Benefits:</strong> Blind, low-vision disabilities.
p.-text
  | Information, structure, and relationships conveyed through presentation can be programmatically determined or are available in text.
ul.-text
  li Do form labels and fields have same/similar and appropriate identification that relates the fields with the label?
  li Are labels positioned nearby their associated fields?
  li Are labels still viewable when zoomed?
  li Can users with different disabilities use Assistive Technologies to adapt content according to the user's needs?
  li Is information and relationships that are implied by visual or auditory formatting preserved when the presentation format changes?
ul#chi-js-tabs.chi-tabs.-border
  li.-active
    a(href='#chi-js-tabs--info-examples') Examples
  li
    a(href='#chi-js-tabs--info-references') References
#chi-js-tabs--info-examples.chi-tabs-panel.-active
  p.-text
    | No text
#chi-js-tabs--info-references.chi-tabs-panel
  p.-text
    | No text
h2 On focus
div.-d--flex.-justify-content--start.-align-items--center
  p.-text.-text--bold.-my--0
    | WCAG 2.0 Guideline
  .chi-badge.-dark.-outline.-xs.-ml--1
    span Understandable
p.-text.-mt--1
  | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#consistent-behavior" rel="noopener">3.2 Predictable</a>
p.-text
  | <strong>Benefits:</strong> Blind, low vision, cognitive / intellectual, motor disabilities.
p.-text
  | When any component receives focus, it does not initiate a change of context.
ul.-text
  li Is functionality predictable as the user navigates their way through a document?
  li Is an unxpected change of context avoided when a component receives focus?
ul#chi-js-tabs--focus.chi-tabs.-border
  li.-active
    a(href='#chi-js-tabs--focus-examples') Examples
  li
    a(href='#chi-js-tabs--focus-references') References
#chi-js-tabs--focus-examples.chi-tabs-panel.-active
  p.-text
    | No text
#chi-js-tabs--focus-references.chi-tabs-panel
  p.-text
    | No text
h2 On input
div.-d--flex.-justify-content--start.-align-items--center
  p.-text.-text--bold.-my--0
    | WCAG 2.0 Guideline
  .chi-badge.-dark.-outline.-xs.-ml--1
    span Understandable
p.-text.-mt--1
  | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#consistent-behavior" rel="noopener">3.2 Predictable</a>
p.-text
  | <strong>Benefits:</strong> Blind, low vision, cognitive/intellectual disabilities.
p.-text
  | Changing the setting of any user interface component does not automatically cause a change of context unless the user has been advised of the behavior before using the component.
p.-text
  | Changes of context are appropriate only when it is clear that such a change will happen in response to the user's action.
ul.-text
  li Is the user pre-informed/cued when a change to a form control has a change of context?
  li Is an explanation of what will happen when the control is changed available prior to the controls activation?
ul#chi-js-tabs--input.chi-tabs.-border
  li.-active
    a(href='#chi-js-tabs--input-examples') Examples
  li
    a(href='#chi-js-tabs--input-references') References
#chi-js-tabs--input-examples.chi-tabs-panel.-active
  p.-text
    | No text
#chi-js-tabs--input-references.chi-tabs-panel
  p.-text
    | No text
h2 Error identification
div.-d--flex.-justify-content--start.-align-items--center
  p.-text.-text--bold.-my--0
    | WCAG 2.0 Guideline
  .chi-badge.-dark.-outline.-xs.-ml--1
    span Understandable
p.-text.-mt--1
  | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#minimize-error" rel="noopener">3.3 Input assistance</a>
p.-text
  | <strong>Benefits:</strong> Blind, colorblind, cognitive/intellectual disabilities.
p.-text
  | If an input error is automatically detected, the item that is in error is identified and the error is described to the user in text.
ul.-text
  li Is the user aware and notified/alerted that an input error has occurred?
  li Can the user determine and understand what is the error?
  li Is the message specific to the error?
ul#chi-js-tabs--error-identification.chi-tabs.-border
  li.-active
    a(href='#chi-js-tabs--error-identification-examples') Examples
  li
    a(href='#chi-js-tabs--error-identification-references') References
#chi-js-tabs--error-identification-examples.chi-tabs-panel.-active
  p.-text
    | No text
#chi-js-tabs--error-identification-references.chi-tabs-panel
  p.-text
    | No text
h2 Labels or instructions
div.-d--flex.-justify-content--start.-align-items--center
  p.-text.-text--bold.-my--0
    | WCAG 2.0 Guideline
  .chi-badge.-dark.-outline.-xs.-ml--1
    span Understandable
p.-text.-mt--1
  | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#minimize-error" rel="noopener">3.3 Input assistance</a>
p.-text
  | <strong>Benefits:</strong> Blind, low-vision, motion impairment, cognitive / intellectual disabilities.
p.-text
  | Labels or instructions are provided when content requires user input.
ul.-text
  li Are  instructions or labels that identify the controls in a form placed so that users know what input data is expected?
  li Are data format instructions specified in the instructions or labels, or are examples provided, especially when there are out of customary formats or specific rules for correct input?
  li Can the user accomplish the task without undue confusion or navigation?
  li Can the user determine required versus optional fields, so that an incomplete form cannot be submitted?
  li Are field labels located in close proximity to the associated field?
ul#chi-js-tabs--labels.chi-tabs.-border
  li.-active
    a(href='#chi-js-tabs--labels-examples') Examples
  li
    a(href='#chi-js-tabs--labels-references') References
#chi-js-tabs--labels-examples.chi-tabs-panel.-active
  p.-text
    | No text
#chi-js-tabs--labels-references.chi-tabs-panel
  p.-text
    | No text
h2 Error suggestion
div.-d--flex.-justify-content--start.-align-items--center
  p.-text.-text--bold.-my--0
    | WCAG 2.0 Guideline
  .chi-badge.-dark.-outline.-xs.-ml--1
    span Understandable
p.-text.-mt--1
  | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#minimize-error" rel="noopener">3.3 Input assistance</a>
p.-text
  | <strong>Benefits:</strong> Blind, colorblind, motion impairment, cognitive / intellectual disabilities.
p.-text
  | If an input error is automatically detected and suggestions for correction are known, then the suggestions are provided to the user, unless it would jeopardize the security or purpose of the content.
ul.-text
  li Does the user receive appropriate suggestions for correction of an input error?
  li Can the user determine how to correct the error?
ul#chi-js-tabs--error-suggestion.chi-tabs.-border
  li.-active
    a(href='#chi-js-tabs--error-suggestion-examples') Examples
  li
    a(href='#chi-js-tabs--error-suggestion-references') References
#chi-js-tabs--error-suggestion-examples.chi-tabs-panel.-active
  p.-text
    | No text
#chi-js-tabs--error-suggestion-references.chi-tabs-panel
  p.-text
    | No text
h2 Error prevention
div.-d--flex.-justify-content--start.-align-items--center
  p.-text.-text--bold.-my--0
    | WCAG 2.0 Guideline
  .chi-badge.-dark.-outline.-xs.-ml--1
    span Understandable
p.-text.-mt--1
  | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#minimize-error" rel="noopener">3.3 Input assistance</a>
p.-text
  | <strong>Benefits:</strong> All disabilities.
p.-text
  | For Web pages that cause legal commitments or financial transactions for the user to occur, that modify or delete user-controllable data in data storage systems, or that submit user test responses, at least one of the following is true:
ul.-text.-no-style
  li <strong>Reversible:</strong> Submissions are reversible.
  li <strong>Checked:</strong> Data entered by the user is checked for input errors and the user is provided an opportunity to correct them.
  li <strong>Confirmed:</strong> A mechanism is available for reviewing, confirming, and correcting information before finalizing the submission.
ul.-text
  li Can the user correct a mistake to avoid the serious consequences as the result of an action that cannot be reversed?
  li Are safeguards provided to avoid mistakes that can have serious consequences?
  li Can the user review, correct, confirm before submitting or deleting?
  li Is success feedback provided when data is submitted successfully?
ul#chi-js-tabs--error-prevention.chi-tabs.-border
  li.-active
    a(href='#chi-js-tabs--error-prevention-examples') Examples
  li
    a(href='#chi-js-tabs--error-prevention-references') References
#chi-js-tabs--error-prevention-examples.chi-tabs-panel.-active
  p.-text
    | No text
#chi-js-tabs--error-prevention-references.chi-tabs-panel
  p.-text
    | No text
h2 Name, role, value
div.-d--flex.-justify-content--start.-align-items--center
  p.-text.-text--bold.-my--0
    | WCAG 2.0 Guideline
  .chi-badge.-dark.-outline.-xs.-ml--1
    span Robust
p.-text.-mt--1
  | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#ensure-compat" rel="noopener">4.1 Compatible</a>
p.-text
  | <strong>Benefits:</strong> All disabilities using Assistive Technologies.
p.-text
  | For all user interface components (including but not limited to: form elements, links and components generated by scripts), the name and role can be programmatically determined; states, properties, and values that can be set by the user
  | can be programmatically set; and notification of changes to these items is available to user agents, including Assistive Technologies.
  p.-text
    | <strong>Note:</strong> This success criterion is primarily for Web authors who develop or script their own user interface components. For example, standard HTML controls already meet this success criterion when used according to specification.
ul.-text
  li If custom controls are created, or interface elements are programmed (in code or script) that have a different role and/or function than usual, are additional measures used to ensure that the controls provide important information to 
     | Assistive Technologies and can be controlled by Assistive Technologies.
ul#chi-js-tabs--name.chi-tabs.-border
  li.-active
    a(href='#chi-js-tabs--name-examples') Examples
  li
    a(href='#chi-js-tabs--name-references') References
#chi-js-tabs--name-examples.chi-tabs-panel.-active
  p.-text
    | No text
#chi-js-tabs--name-references.chi-tabs-panel
  p.-text
    | No text
script.
  chi.tab(document.getElementById('chi-js-tabs'));
  chi.tab(document.getElementById('chi-js-tabs--focus'));
  chi.tab(document.getElementById('chi-js-tabs--input'));
  chi.tab(document.getElementById('chi-js-tabs--error-identification'));
  chi.tab(document.getElementById('chi-js-tabs--labels'));
  chi.tab(document.getElementById('chi-js-tabs--error-suggestion'));
  chi.tab(document.getElementById('chi-js-tabs--error-prevention'));
  chi.tab(document.getElementById('chi-js-tabs--name'));
