---
title: Page structure
disabled: true
---

h2 Meaningful sequence
div.-d--flex.-justify-content--start.-align-items--center
  p.-text.-text--bold.-my--0
    | WCAG 2.0 Guideline
  .chi-badge.-dark.-outline.-xs.-ml--1
    span Perceivable
p.-text.-mt--1
  | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#content-structure-separation" rel="noopener">1.3 Adaptable</a>
p.-text
  | <strong>Benefits:</strong> Blind disabilities
p.-text
  | When the sequence in which content is presented affects its meaning, a correct reading sequence can be programmatically determined.
ul.-text
  li Does the order of the content have a meaningful sequence, such that changing the sequence does not change the content's meaning?
  li Can Assistive Technologies programmatically determine at least one sequence of the content that makes sense?
ul#chi-js-tabs.chi-tabs.-border
  li.-active
    a(href='#chi-js-tabs--meaningful-examples') Examples
  li
    a(href='#chi-js-tabs--meaningful-references') References
#chi-js-tabs--meaningful-examples.chi-tabs-panel.-active
  p.-text
    | No text
#chi-js-tabs--meaningful-references.chi-tabs-panel
  p.-text
    | No text
h2 Bypass blocks
div.-d--flex.-justify-content--start.-align-items--center
  p.-text.-text--bold.-my--0
    | WCAG 2.0 Guideline
  .chi-badge.-dark.-outline.-xs.-ml--1
    span Operable
p.-text.-mt--1
  | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms" rel="noopener">2.4 Navigable</a>
p.-text
  | <strong>Benefits:</strong> Keyboard users (typically people with blind, low vision and/or motor/physical disabilities).
p.-text
  | A mechanism is available to bypass blocks of content that are repeated on multiple Web pages.
ul.-text
  li Can content be navigated sequentially, allowing more direct access to the primary content of the Web page?
  li If a web page has blocks of text that are repeated within the page (example: navigation, headings), can the blocks of text be "skipped over"?
  li Can the main content of a web page be reached quickly and easily, with fewer keystrokes?
ul#chi-js-tabs--bypass.chi-tabs.-border
  li.-active
    a(href='#chi-js-tabs--bypass-examples') Examples
  li
    a(href='#chi-js-tabs--bypass-references') References
#chi-js-tabs--bypass-examples.chi-tabs-panel.-active
  p.-text
    | No text
#chi-js-tabs--bypass-references.chi-tabs-panel
  p.-text
    | No text
h2 Page titled
div.-d--flex.-justify-content--start.-align-items--center
  p.-text.-text--bold.-my--0
    | WCAG 2.0 Guideline
  .chi-badge.-dark.-outline.-xs.-ml--1
    span Operable
p.-text.-mt--1
  | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms" rel="noopener">2.4 Navigable</a>
p.-text
  | <strong>Benefits:</strong> Visual, cognitive, mobility disabled users to be able to identify / differentiate content.
p.-text
  | Web pages have titles that describe topic or purpose.
ul.-text
  li Does the web page have a descriptive title which helps the user to find content and orient themselves?
  li Do links to another page agree/similar with the new page title, such that the link is not ambiguous?
ul#chi-js-tabs--page-titled.chi-tabs.-border
  li.-active
    a(href='#chi-js-tabs--page-titled-examples') Examples
  li
    a(href='#chi-js-tabs--page-titled-references') References
#chi-js-tabs--page-titled-examples.chi-tabs-panel.-active
  p.-text
    | No text
#chi-js-tabs--page-titled-references.chi-tabs-panel
  p.-text
    | No text
h2 Link Purpose
div.-d--flex.-justify-content--start.-align-items--center
  p.-text.-text--bold.-my--0
    | WCAG 2.0 Guideline
  .chi-badge.-dark.-outline.-xs.-ml--1
    span Operable
p.-text.-mt--1
  | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms" rel="noopener">2.4 Navigable</a>
p.-text
  | <strong>Benefits:</strong> Visual, cognitive limitations, motion impairment disabilities.
p.-text
  | The purpose of each link can be determined from the link text alone or from the link text together with its
  |  programmatically determined link context, except where the purpose of the link would be ambiguous to users in general.
ul.-text
  li Can the user understand the purpose of the link (without needing additional context) in order to decide whether to follow the link?
  li Is meaningful link text provided?
  li Can the user arrive on a link and find out more about the link without losing their place on the page?
  li Does the context/description of the link preceed the link?
ul#chi-js-tabs--link-purpose.chi-tabs.-border
  li.-active
    a(href='#chi-js-tabs--link-purpose-examples') Examples
  li
    a(href='#chi-js-tabs--link-purpose-references') References
#chi-js-tabs--link-purpose-examples.chi-tabs-panel.-active
  p.-text
    | No text
#chi-js-tabs--link-purpose-references.chi-tabs-panel
  p.-text
    | No text
h2 Multiple ways
div.-d--flex.-justify-content--start.-align-items--center
  p.-text.-text--bold.-my--0
    | WCAG 2.0 Guideline
  .chi-badge.-dark.-outline.-xs.-ml--1
    span Operable
p.-text.-mt--1
  | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms" rel="noopener">2.4 Navigable</a>
p.-text
  | <strong>Benefits:</strong> Visual, cognitive limitations disabilities.
p.-text
  | More than one way is available to locate a Web page within a set of Web pages except where the Web Page is the
  | result of, or a step in, a process.
ul.-text
  li Can the user locate content in a manner/technique that best meets their needs (in order to find information faster)?
ul#chi-js-tabs--multiple-ways.chi-tabs.-border
  li.-active
    a(href='#chi-js-tabs--multiple-ways-examples') Examples
  li
    a(href='#chi-js-tabs--multiple-ways-references') References
#chi-js-tabs--multiple-ways-examples.chi-tabs-panel.-active
  p.-text
    | No text
#chi-js-tabs--multiple-ways-references.chi-tabs-panel
  p.-text
    | No text
h2 Headings and labels
div.-d--flex.-justify-content--start.-align-items--center
  p.-text.-text--bold.-my--0
    | WCAG 2.0 Guideline
  .chi-badge.-dark.-outline.-xs.-ml--1
    span Operable
p.-text.-mt--1
  | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#navigation-mechanisms" rel="noopener">2.4 Navigable</a>
p.-text
  | <strong>Benefits:</strong> Visual, cognitive limitations, motion impairment disabilities.
p.-text
  | Headings and labels describe topic or purpose.
ul.-text
  li Can the user understand what information is contained in Web pages and how that information is organized?
  li Can the user find the information they seek more easily, and can the user understand the relationships between different parts of the content more easily?
  li Does the label description help the user identify specific components within the content?
ul#chi-js-tabs--headings.chi-tabs.-border
  li.-active
    a(href='#chi-js-tabs--headings-examples') Examples
  li
    a(href='#chi-js-tabs--headings-references') References
#chi-js-tabs--headings-examples.chi-tabs-panel.-active
  p.-text
    | No text
#chi-js-tabs--headings-references.chi-tabs-panel
  p.-text
    | No text
h2 Language of the page
div.-d--flex.-justify-content--start.-align-items--center
  p.-text.-text--bold.-my--0
    | WCAG 2.0 Guideline
  .chi-badge.-dark.-outline.-xs.-ml--1
    span Understandable
p.-text.-mt--1
  | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#meaning" rel="noopener">3.1 Readable</a>
p.-text
  | <strong>Benefits:</strong> All users.
p.-text
  | The default human language of each Web page can be programmatically determined.
p.-text
  | Both Assistive Technologies and conventional user agents can render text more accurately when the language of the 
  | Web page is identified.  As a result, users with disabilities will be better able to understand the content.
ul.-text
  li Is information provided in the Web page that user agents need to present text and other linguistic content correctly?
  li Can a screen reader load the correct pronunciation rules?
  li Can visual browsers display characters and scripts correctly?
  li Can media players show captions correctly?
ul#chi-js-tabs--language.chi-tabs.-border
  li.-active
    a(href='#chi-js-tabs--language-examples') Examples
  li
    a(href='#chi-js-tabs--language-references') References
#chi-js-tabs--language-examples.chi-tabs-panel.-active
  p.-text
    | No text
#chi-js-tabs--language-references.chi-tabs-panel
  p.-text
    | No text
h2 Language of parts
div.-d--flex.-justify-content--start.-align-items--center
  p.-text.-text--bold.-my--0
    | WCAG 2.0 Guideline
  .chi-badge.-dark.-outline.-xs.-ml--1
    span Understandable
p.-text.-mt--1
  | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#meaning" rel="noopener">3.1 Readable</a>
p.-text
  | <strong>Benefits:</strong> All users.
p.-text
  | The human language of each passage or phrase in the content can be programmatically determined except for 
  | proper names, technical terms, words of indeterminate language, and words or phrases that have become part 
  | of the vernacular of the immediately surrounding text.
p.-text
  | Ensure that content is presented according to the presentation and pronunciate rules of a language (if specified).
ul.-text
  li Are single words considered part of the language of the surrounding text unless it is clear that a change in language was intended?
ul#chi-js-tabs--language-parts.chi-tabs.-border
  li.-active
    a(href='#chi-js-tabs--language-parts-examples') Examples
  li
    a(href='#chi-js-tabs--language-parts-references') References
#chi-js-tabs--language-parts-examples.chi-tabs-panel.-active
  p.-text
    | No text
#chi-js-tabs--language-parts-references.chi-tabs-panel
  p.-text
    | No text
h2 Parsing
div.-d--flex.-justify-content--start.-align-items--center
  p.-text.-text--bold.-my--0
    | WCAG 2.0 Guideline
  .chi-badge.-dark.-outline.-xs.-ml--1
    span Robust
p.-text.-mt--1
  | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#ensure-compat" rel="noopener">4.1 Compatible</a>
p.-text
  | <strong>Benefits:</strong> All users of Assistive Technologies.
p.-text
  | In content implemented using markup languages, elements have complete start and end tags, elements are nested
  | according to their specifications, elements do not contain duplicate attributes, and any IDs are unique, except
  | where the specifications allow these features.
p.-text
  | Ensure that Assistive Technologies can parse the content accurately and without crashing.
ul.-text
  li Do Web pages have complete start and end tags that are nested according to specification?
ul#chi-js-tabs--parsing.chi-tabs.-border
  li.-active
    a(href='#chi-js-tabs--parsing-examples') Examples
  li
    a(href='#chi-js-tabs--parsing-references') References
#chi-js-tabs--parsing-examples.chi-tabs-panel.-active
  p.-text
    | No text
#chi-js-tabs--parsing-references.chi-tabs-panel
  p.-text
    | No text
h2 Consistent navigation
div.-d--flex.-justify-content--start.-align-items--center
  p.-text.-text--bold.-my--0
    | WCAG 2.0 Guideline
  .chi-badge.-dark.-outline.-xs.-ml--1
    span Understandable
p.-text.-mt--1
  | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#consistent-behavior" rel="noopener">3.2 Predictable</a>
p.-text
  | <strong>Benefits:</strong> Blind, low-vision, cognitive / intellectual disabilities.
p.-text
  | Navigational mechanisms that are repeated on multiple Web pages within a set of Web pages occur in the same 
  | relative order each time they are repeated, unless a change is initiated by the user.
ul.-text
  li Is repeated content and layout presented consistently within a set of Web pages?
  li Can specific information or functionality be located more than once?
  li Can the user predict the location of the content they are looking for, and find it more quickly when encountered again?
ul#chi-js-tabs--consistent.chi-tabs.-border
  li.-active
    a(href='#chi-js-tabs--consistent-examples') Examples
  li
    a(href='#chi-js-tabs--consistent-references') References
#chi-js-tabs--consistent-examples.chi-tabs-panel.-active
  p.-text
    | No text
#chi-js-tabs--consistent-references.chi-tabs-panel
  p.-text
    | No text
h2 Consistent identification
div.-d--flex.-justify-content--start.-align-items--center
  p.-text.-text--bold.-my--0
    | WCAG 2.0 Guideline
  .chi-badge.-dark.-outline.-xs.-ml--1
    span Understandable
p.-text.-mt--1
  | <a target="_blank" href="https://www.w3.org/TR/WCAG20/#consistent-behavior" rel="noopener">3.2 Predictable</a>
p.-text
  | <strong>Benefits:</strong> Blind, cognitive/intellectual disabilities.
p.-text
  | Components that have the same functionality within a set of Web pages are identified consistently.
ul.-text
  li Are functional components that appear repeatedly within a set of Web pages consistently identified, so that familiar functions are predictable on different Web pages?
  li Are labels, icons/non-text items and their text alternatives, link text, and components consistent - within a page, and also if repeated on more than one page?
ul#chi-js-tabs--consistent-identification.chi-tabs.-border
  li.-active
    a(href='#chi-js-tabs--consistent-identification-examples') Examples
  li
    a(href='#chi-js-tabs--consistent-identification-references') References
#chi-js-tabs--consistent-identification-examples.chi-tabs-panel.-active
  p.-text
    | No text
#chi-js-tabs--consistent-identification-references.chi-tabs-panel
  p.-text
    | No text
script.
  chi.tab(document.getElementById('chi-js-tabs'));
  chi.tab(document.getElementById('chi-js-tabs--bypass'));
  chi.tab(document.getElementById('chi-js-tabs--page-titled'));
  chi.tab(document.getElementById('chi-js-tabs--link-purpose'));
  chi.tab(document.getElementById('chi-js-tabs--multiple-ways'));
  chi.tab(document.getElementById('chi-js-tabs--headings'));
  chi.tab(document.getElementById('chi-js-tabs--language'));
  chi.tab(document.getElementById('chi-js-tabs--language-parts'));
  chi.tab(document.getElementById('chi-js-tabs--parsing'));
  chi.tab(document.getElementById('chi-js-tabs--consistent'));
  chi.tab(document.getElementById('chi-js-tabs--consistent-identification'));
