h2 Examples
h3 Base
p.-text
  | Popover components are absolutely positioned. For this example we have forced a relative position.
.example.-mb--3
  .-p--3(style="height: 105px;")
    .-position--relative
      chi-popover(active, variant="text", prevent-auto-hide)
        | Popover content
  .example-tabs.-pl--2
    ul.chi-tabs#examples-default
      li.-active
        a(href=`#webcomponent`) Web Component
      li
        a(href=`#html`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent
    .chi-tab__description
      | Remove the <code>active</code> attribute to hide the popover.
      | Use the <code>variant="text"</code> attribute to display text content in a <code>&lt;p&gt;</code>.
    :code(lang="html")
      <chi-popover variant="text" active>
        Popover content
      </chi-popover>
  .chi-tabs-panel#html
    .chi-tab__description
      | Remove the <code>-active</code> class to hide the popover.
    :code(lang="html")
      <section class="chi-popover -active" aria-label="Popover Title" aria-modal="true" role="dialog">
        <div class="chi-popover__content">
          <p class="chi-popover__text">Popover content</p>
        </div>
      </section>

h3 Titled
.example.-mb--3
  .-p--3(style="height: 135px;")
    .-position--relative
      chi-popover(active, title="Popover title", variant="text", prevent-auto-hide)
        | Popover content
  .example-tabs.-pl--2
    ul.chi-tabs#examples-titled
      li.-active
        a(href=`#webcomponent-titled`) Web Component
      li
        a(href=`#html-titled`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-titled
    .chi-tab__description
      | Use the <code>title</code> attribute to display a title.
    :code(lang="html")
      <chi-popover title="Popover title" variant="text" active>
        Popover content
      </chi-popover>
  .chi-tabs-panel#html-titled
    .chi-tab__description
      | Add <code>chi-popover__header</code> and <code>chi-popover__title</code> to display a title.
    :code(lang="html")
      <section class="chi-popover -active" aria-label="Popover Title" aria-modal="true" role="dialog">
        <header class="chi-popover__header">
          <h2 class="chi-popover__title">Popover Title</h2>
        </header>
        <div class="chi-popover__content">
          <p class="chi-popover__text">Popover content</p>
        </div>
      </section>

h3 Arrow
p.-text
  | Popovers support arrows to indicate the element they originate from. Arrows can be located anywhere around the Popover.
.example.-mb--3
  .-p--3
    .chi-grid.-no-gutter
      .chi-col.-w--6.-w-md--4.-w-xl--3
        h4.-text--h5.-mb--3 Top
        .-position--relative(style='height: 100px')
          chi-popover(position="top", variant="text", active, arrow, prevent-auto-hide)
            | Popover content
      .chi-col.-w--6.-w-md--4.-w-xl--3
        h4.-text--h5.-mb--3 Right
        .-position--relative(style='height: 100px')
          chi-popover(position="right", variant="text", active, arrow, prevent-auto-hide)
            | Popover content
      .chi-col.-w--6.-w-md--4.-w-xl--3
        h4.-text--h5.-mb--3 Bottom
        .-position--relative(style='height: 100px; top: -12px')
          chi-popover(position="bottom", variant="text", active, arrow, prevent-auto-hide)
            | Popover content
      .chi-col.-w--6.-w-md--4.-w-xl--3
        h4.-text--h5.-mb--3 Left
        .-position--relative(style='height: 100px')
          chi-popover(position="left", variant="text", active, arrow, prevent-auto-hide)
            | Popover content
  .example-tabs.-pl--2
    ul.chi-tabs#examples-position
      li.-active
        a(href=`#webcomponent-position`) Web Component
      li
        a(href=`#html-position`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-position
    .chi-tab__description
      | Add the attribute <code>arrow</code> and use the attribute <code>position</code>
      | with the values: <code>top</code>, <code>right</code>, <code>bottom</code> and
      | <code>left</code> to position the arrow in the proper place.
    :code(lang="html")
      <!-- Top -->
      <chi-popover position="top" variant="text" active arrow>
        Popover content
      </chi-popover>

      <!-- Right -->
      <chi-popover position="right" variant="text" active arrow>
        Popover content
      </chi-popover>

      <!-- Bottom -->
      <chi-popover position="bottom" variant="text" active arrow>
        Popover content
      </chi-popover>

      <!-- Left -->
      <chi-popover position="left" variant="text" active arrow>
        Popover content
      </chi-popover>

  .chi-tabs-panel#html-position
    .chi-tab__description
      | Use the classes <code>chi-popover--top</code>, <code>chi-popover--right</code>, <code>chi-popover--bottom</code> and
      | <code>chi-popover--left</code> to position the arrow in the proper place.
      | If you use a position engine such as Popper.js (used by Chi), the attribute <code>x-placement</code> should be used instead of
      | these classes. It accepts all the values Popper.js does. Popper.js sets this attribute automatically, so there is
      | no need to include it on the code.
    :code(lang="html")
      <!-- Top -->
      <section class="chi-popover chi-popover--top -active" aria-label="Popover Title" aria-modal="true" role="dialog">
        <div class="chi-popover__content">
          <p class="chi-popover__text">Popover content</p>
        </div>
        <div class="chi-popover__arrow"></div>
      </section>

      <!-- Right -->
      <section class="chi-popover chi-popover--right -active" aria-label="Popover Title" aria-modal="true" role="dialog">
        <div class="chi-popover__content">
          <p class="chi-popover__text">Popover content</p>
        </div>
        <div class="chi-popover__arrow"></div>
      </section>

      <!-- Bottom -->
      <section class="chi-popover chi-popover--bottom -active" aria-label="Popover Title" aria-modal="true" role="dialog">
        <div class="chi-popover__content">
          <p class="chi-popover__text">Popover content</p>
        </div>
        <div class="chi-popover__arrow"></div>
      </section>

      <!-- Left -->
      <section class="chi-popover chi-popover--left -active" aria-label="Popover Title" aria-modal="true" role="dialog">
        <div class="chi-popover__content">
          <p class="chi-popover__text">Popover content</p>
        </div>
        <div class="chi-popover__arrow"></div>
      </section>

h3 Reference element
p.-text
  | A reference element can be set up for advanced positioning.
  | The popover will be positioned relative to this element.
.example.-mb--3
  .-p--3
    chi-button#example-3-button Click me!
    chi-popover#example-3-popover(position="top", title="Popover title", variant="text", arrow, reference="#example-3-button")
      | Popover content
  .example-tabs.-pl--2
    ul.chi-tabs#examples-reference
      li.-active
        a(href=`#webcomponent-reference`) Web Component
      li
        a(href=`#html-reference`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-reference
    .chi-tab__description
      | Use the <code>reference</code> attribute with a
      | CSS selector to properly reference an element.
    :code(lang="html")
      <chi-button id="example-3-button">Click me!</chi-button>

      <!-- put the following code anywhere in the DOM, e.g. at the end of the DOM -->
      <chi-popover id="example-3-popover" position="top" title="Popover title" variant="text" arrow reference="#example-3-button" position="top" active></chi-popover>

      <script>
        document.querySelector("#example-3-button")
          .addEventListener("click", function() {
            var popoverElem = document.querySelector("#example-3-popover");
            popoverElem.toggle();
          });
      </script>
  .chi-tabs-panel#html-reference
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <!-- Method 1 - Data Target -->
      <button class="chi-button" id="popover-1b" data-target="#popover-in-html">Popover</button>
      <!-- Put the following code anywhere in the DOM, e.g. at the end of the DOM -->
      <section class="chi-popover" id="popover-in-html" aria-modal="true" role="dialog" aria-label="Popover title">
        <header class="chi-popover__header">
          <h2 class="chi-popover__title">Popover title</h2>
        </header>
        <div class="chi-popover__content">
          <p class="chi-popover__text">Popover content</p>
        </div>
      </section>
      <script>chi.popover(document.getElementById('popover-1b'));</script>

      <!-- Method 2 - Data Content -->
      <button id='popover-1' class="chi-button" data-popover-content='<header class="chi-popover__header"><h2 class="chi-popover__title">Popover title</h2></header><div class="chi-popover__content"><p class="chi-popover__text">Popover content</p></div>'>Popover</button>
      <script>chi.popover(document.getElementById('popover-1'));</script>

.-portal--show
  h3 Inline Modal
  p.-text
    | Use Inline Modals to imitate the style of a Modal and the behavior of a Popover. This is useful for advanced
    | filtering in Data Tables.
  .example.-mb--3
    .-p--3(style='height: 155px')
      .-position--relative
        chi-popover#example-modal-popover(
          modal
          closable
          title="Popover title"
          active
          prevent-auto-hide)
          | Popover content
    .example-tabs.-pl--2
      ul.chi-tabs#examples-modal
        li.-active
          a(href=`#webcomponent-modal`) Web Component
        li
          a(href=`#html-modal`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-modal
      .chi-tab__description
        | Use the <code>modal</code> attribute to style a Popover as an inline Modal.
      :code(lang="html")
        <chi-popover title="Popover title" modal closable active>Popover content</chi-popover>
    .chi-tabs-panel#html-modal
      :code(lang="html")
        <!-- Put the following code anywhere in the DOM, e.g. at the end of the DOM -->
        <section class="chi-popover -modal -active" aria-modal="true" role="dialog" aria-label="Popover title">
          <button class="chi-button -xs -icon -close" aria-label="Close">
            <div class="chi-button__content">
              <i class="chi-icon icon-x" aria-hidden="true"></i>
            </div>
          </button>
          <header class="chi-popover__header">
            <h2 class="chi-popover__title">Popover title</h2>
          </header>
          <div class="chi-popover__content">
            <p class="chi-popover__text">Popover content</p>
          </div>
        </section>

.-portal--hide
  h3 Draggable popover
  .example.-mb--3
    .-p--3
      chi-button#example-draggable-button Click me!
    .example-tabs.-pl--2
      ul.chi-tabs#examples-draggable
        li.-active
          a(href=`#webcomponent-draggable`) Web Component
        li.-disabled
          a(href=`#html-draggable`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-draggable
      .chi-tab__description
        | Use the <code>reference</code> attribute with a
        | CSS selector to properly reference an element.
      :code(lang="html")
        <chi-button id="example-draggable-button">Click me!</chi-button>

        <!-- put the following code anywhere in the DOM, e.g. at the end of the DOM -->
        <chi-popover id="example-draggable-popover" title="Draggable Popover" reference="#example-draggable-button" drag portal closable>Popover content</chi-popover>

        <script>
          document.querySelector("#example-draggable-button")
            .addEventListener("click", function() {
              var popoverElem = document.querySelector("#example-draggable-popover");

              popoverElem.toggle();
          });
        </script>
    .chi-tabs-panel#html-draggable

.-portal--show
  h3 Draggable popover
  .example.-mb--3
    .-p--3
      chi-button#example-modal-draggable-button Click me!
    .example-tabs.-pl--2
      ul.chi-tabs#examples-modal-draggable
        li.-active
          a(href=`#webcomponent-modal-draggable`) Web Component
        li.-disabled
          a(href=`#html-modal-draggable`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-modal-draggable
      .chi-tab__description
        | Use the <code>reference</code> attribute with a
        | CSS selector to properly reference an element.
      :code(lang="html")
        <chi-button id="example-modal-draggable-button">Click me!</chi-button>

        <!-- put the following code anywhere in the DOM, e.g. at the end of the DOM -->
        <chi-popover id="example-modal-draggable-popover" title="Draggable Popover" reference="#example-modal-draggable-button" drag modal closable>Popover content</chi-popover>

        <script>
          document.querySelector("#example-modal-draggable-button")
            .addEventListener("click", function() {
              var popoverElem = document.querySelector("#example-modal-draggable-popover");

              popoverElem.toggle();
          });
        </script>
    .chi-tabs-panel#html-modal-draggable

h3 Open on hover
.example.-mb--3
  .-p--3
    .-position--relative
      chi-button#button-open-on-hover Hover me!
      chi-popover#popover-open-on-hover(variant="text", arrow,  reference="#button-open-on-hover")
        | Popover content
  .example-tabs.-pl--2
    ul.chi-tabs#examples-hover
      li.-active
        a(href=`#webcomponent-hover`) Web Component
      li
        a(href=`#html-hover`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-hover
    .chi-tab__description
      | Use the available methods to show / hide popover when <code>chiMouseEnter</code>, <code>chiMouseLeave</code> or any other event is triggered
    :code(lang="html")
      <chi-button id="button-open-on-hover">Hover me!</chi-button>
      <chi-popover id="popover-open-on-hover" variant="text" arrow="arrow" reference="#button-open-on-hover">Popover content</chi-popover>
      <script>
        const buttonOpenOnHover = document.getElementById("button-open-on-hover");
        const popoverOpenOnHover = document.getElementById("popover-open-on-hover");
        let hoverAnimationTimeout;

        buttonOpenOnHover.addEventListener('chiMouseEnter', function() {
          hoverAnimationTimeout = setTimeout(() => {
            popoverOpenOnHover.show();
          }, 300);
        });

        buttonOpenOnHover.addEventListener('chiMouseLeave', function() {
          if (hoverAnimationTimeout) {
            clearTimeout(hoverAnimationTimeout);
          }
          popoverOpenOnHover.hide();
        });

        buttonOpenOnHover.addEventListener('click', function() {
          popoverOpenOnHover.toggle();
        });
      </script>
  .chi-tabs-panel#html-hover
    .chi-tab__description
      | Use the available methods to show / hide popover when <code>mouseEnter</code>, <code>mouseLeave</code> or any other event is triggered
    :code(lang="html")
      <button class="chi-button" id="button-open-on-hover" data-target="#popover-open-on-hover">Hover me!</button>
      <section class="chi-popover" id="popover-open-on-hover" aria-modal="true" role="dialog">
        <div class="chi-popover__content">
          <p class="chi-popover__text">Popover content</p>
        </div>
      </section>

      <script>
        const buttonOpenOnHover = document.getElementById('button-open-on-hover');
        const popover = chi.popover(buttonOpenOnHover);
        let hoverAnimationTimeout;

        buttonOpenOnHover.addEventListener("mouseenter", function() {
          hoverAnimationTimeout = setTimeout(() => {
            popover.show();
          }, 300);
        });

        buttonOpenOnHover.addEventListener("mouseleave", function() {
          if (hoverAnimationTimeout) {
            clearTimeout(hoverAnimationTimeout);
          }
          popover.hide();
        });

        buttonOpenOnHover.addEventListener("click", function() {
          popover.toggle();
        });
      </script>

h3 Close button
.example.-mb--3
  .-p--3
    chi-button#button-example-popover-closable-1 Click Me!
    chi-popover#popover-example-popover-closable-1(
      title="Title"
      variant="text"
      arrow
      reference="#button-example-popover-closable-1"
      closable)
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .example-tabs.-pl--2
    ul.chi-tabs#examples-close-button
      li.-active
        a(href=`#webcomponent-close-button`) Web Component
      li
        a(href=`#html-close-button`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-close-button
    .chi-tab__description
      | Use the attribute <code>closable</code> to render the Popover with a close button.
    :code(lang="html")
      <chi-button id="button-example-popover-closable-1">With title</chi-button>
      <chi-popover id="popover-example-popover-closable-1" title="Title" variant="text" arrow reference="#button-example-popover-closable-1" closable>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </chi-popover>

      <script>
        const button = document.getElementById("button-example-popover-closable-1");
        const popover = document.getElementById("popover-example-popover-closable-1");

        button.addEventListener("click", function() {
            popover.toggle();
        });
      </script>
  .chi-tabs-panel#html-close-button
    :code(lang="html")
      <button class="chi-button" id="button-example-popover-closable-html" data-target="#popover-example-popover-closable-html">Popover</button>
      <section class="chi-popover -closable" id="popover-example-popover-closable-html" aria-modal="true" role="dialog" aria-label="Popover title">
        <button class="chi-button -xs -icon -close" id="close-popover-button" aria-label="Close">
          <div class="chi-button__content">
            <i class="chi-icon icon-x" aria-hidden="true"></i>
          </div>
        </button>
        <header class="chi-popover__header">
          <h2 class="chi-popover__title">Popover title</h2>
        </header>
        <div class="chi-popover__content">
          <p class="chi-popover__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </section>

      <script>
        const popoverTrigger = document.getElementById("button-example-popover-closable-html");
        const popoverInstance = chi.popover(popoverTrigger);
        const closeButton = document.getElementById("close-popover-button");

        closeButton.addEventListener("click", function () {
          popoverInstance.hide();
        });
      </script>

h3 Positioning
p.-text
  | Further positions can be used in this mode: <code>top</code>,
  | <code>right</code>, <code>bottom</code>, <code>left</code>, <code>top-start</code>,
  | <code>top-end</code>, <code>right-start</code>, <code>right-end</code>,
  | <code>bottom-start</code>, <code>bottom-end</code>, <code>left-start</code>,
  | <code>left-end</code>.

.example.-mb--3
  .-p--3.-px-xl--10
    .chi-grid.-no-gutter.-px-xl--3
      .chi-col.-w--12.-w-xl--10.-o-xl--1.-d--flex.-justify-content-sm--around.-flex--wrap
        div.-p--1
          chi-button#example-4-ts-button Top start
          chi-popover#example-4-ts-popover(position="top-start", title="Popover title", variant="text", arrow, reference="#example-4-ts-button")
            | This popover is top-start positioned.
        div.-p--1
          chi-button#example-4-t-button Top
          chi-popover#example-4-t-popover(position="top", title="Popover title", variant="text", arrow, reference="#example-4-t-button")
            | This popover is top positioned.
        div.-p--1
          chi-button#example-4-te-button Top end
          chi-popover#example-4-te-popover(position="top-end", title="Popover title", variant="text", arrow, reference="#example-4-te-button")
            | This popover is top-end positioned.
      .chi-col.-w--12.-w-sm--4.-d--flex.-flex-sm--column.-flex--wrap
        div.-p--1.-py-sm--3
          chi-button#example-4-ls-button Left start
          chi-popover#example-4-ls-popover(position="left-start", title="Popover title", variant="text", arrow, reference="#example-4-ls-button")
            | This popover is left-start positioned.
        div.-p--1.-py-sm--3
          chi-button#example-4-l-button Left
          chi-popover#example-4-l-popover(position="left", title="Popover title", variant="text", arrow, reference="#example-4-l-button")
            | This popover is left positioned.
        div.-p--1.-py-sm--3
          chi-button#example-4-le-button Left end
          chi-popover#example-4-le-popover(position="left-end", title="Popover title", variant="text", arrow, reference="#example-4-le-button")
            | This popover is left-end positioned.
      .chi-col.-d--none.-w--12.-w-sm--4.-d-sm--flex.-flex-sm--column.-justify-content-sm--center.-align-items-sm--center
        div.-w--75.-text.-text--muted.-text--center.-lh--2 Click buttons to see popover positions
      .chi-col.-w--12.-w-sm--4.-d--flex.-flex-sm--column.-align-items-sm--end.-flex--wrap
        div.-p--1.-py-sm--3
          chi-button#example-4-rs-button Right start
          chi-popover#example-4-rs-popover(position="right-start", title="Popover title", variant="text", arrow, reference="#example-4-rs-button")
            | This popover is right-start positioned.
        div.-p--1.-py-sm--3
          chi-button#example-4-r-button Right
          chi-popover#example-4-r-popover(position="right", title="Popover title", variant="text", arrow, reference="#example-4-r-button")
            | This popover is right positioned.
        div.-p--1.-py-sm--3
          chi-button#example-4-re-button Right end
          chi-popover#example-4-re-popover(position="right-end", title="Popover title", variant="text", arrow, reference="#example-4-re-button")
            | This popover is right-end positioned.
      .chi-col.-w--12.-w-xl--10.-o-xl--1.-d--flex.-justify-content-sm--around.-flex--wrap
        div.-p--1
          chi-button#example-4-bs-button Bottom start
          chi-popover#example-4-bs-popover(position="bottom-start", title="Popover title", variant="text", arrow, reference="#example-4-bs-button")
            | This popover is bottom-start positioned.
        div.-p--1
          chi-button#example-4-b-button Bottom
          chi-popover#example-4-b-popover(position="bottom", title="Popover title", variant="text", arrow, reference="#example-4-b-button")
            | This popover is bottom positioned.
        div.-p--1
          chi-button#example-4-be-button Bottom end
          chi-popover#example-4-be-popover(position="bottom-end", title="Popover title", variant="text", arrow, reference="#example-4-be-button")
            | This popover is bottom-end positioned.

  .example-tabs.-pl--2
    ul.chi-tabs#examples-positioning
      li.-active
        a(href=`#webcomponent-positioning`) Web Component
      li
        a(href=`#html-positioning`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-positioning
    :code(lang="html")
      <!-- Top -->
      <chi-button id="example-4-t-button">Top popover</chi-button>
      <chi-popover id="example-4-t-popover" position="top" title="Popover title" variant="text" arrow reference="#example-4-t-button">
        This popover is top positioned.
      </chi-popover>

      <!-- Top Start -->
      <chi-button id="example-4-ts-button">Top start popover</chi-button>
      <chi-popover id="example-4-ts-popover" position="top-start" title="Popover title" variant="text" arrow reference="#example-4-ts-button">
        This popover is top-start positioned.
      </chi-popover>

      <!-- Top End -->
      <chi-button id="example-4-te-button">Top end popover</chi-button>
      <chi-popover id="example-4-te-popover" position="top-end" title="Popover title" variant="text" arrow reference="#example-4-te-button">
        This popover is top-end positioned.
      </chi-popover>

      <!-- Right -->
      <chi-button id="example-4-r-button">Right popover</chi-button>
      <chi-popover id="example-4-r-popover" position="right" title="Popover title" variant="text" arrow reference="#example-4-r-button">
        This popover is right positioned.
      </chi-popover>

      <!-- Right Start -->
      <chi-button id="example-4-rs-button">Right start popover</chi-button>
      <chi-popover id="example-4-rs-popover" position="right-start" title="Popover title" variant="text" arrow reference="#example-4-rs-button">
        This popover is right-start positioned.
      </chi-popover>

      <!-- Right End -->
      <chi-button id="example-4-re-button">Right end popover</chi-button>
      <chi-popover id="example-4-re-popover" position="right-end" title="Popover title" variant="text" arrow reference="#example-4-re-button">
        This popover is right-end positioned.
      </chi-popover>

      <!-- Bottom -->
      <chi-button id="example-4-b-button">Bottom popover</chi-button>
      <chi-popover id="example-4-b-popover" position="bottom" title="Popover title" variant="text" arrow reference="#example-4-b-button">
        This popover is bottom positioned.
      </chi-popover>

      <!-- Bottom Start -->
      <chi-button id="example-4-bs-button">Bottom start popover</chi-button>
      <chi-popover id="example-4-bs-popover" position="bottom-start" title="Popover title" variant="text" arrow reference="#example-4-bs-button">
        This popover is bottom-start positioned.
      </chi-popover>

      <!-- Bottom End -->
      <chi-button id="example-4-be-button">Bottom end popover</chi-button>
      <chi-popover id="example-4-be-popover" position="bottom-end" title="Popover title" variant="text" arrow reference="#example-4-be-button">
        This popover is bottom-end positioned.
      </chi-popover>

      <!-- Left -->
      <chi-button id="example-4-l-button">Left popover</chi-button>
      <chi-popover id="example-4-l-popover" position="left" title="Popover title" variant="text" arrow reference="#example-4-l-button">
        This popover is left positioned.
      </chi-popover>

      <!-- Left Start -->
      <chi-button id="example-4-ls-button">Left start popover</chi-button>
      <chi-popover id="example-4-ls-popover" position="left-start" title="Popover title" variant="text" arrow reference="#example-4-ls-button">
        This popover is left-start positioned.
      </chi-popover>

      <!-- Left End -->
      <chi-button id="example-4-le-button">Left end popover</chi-button>
      <chi-popover id="example-4-le-popover" position="left-end" title="Popover title" variant="text" arrow reference="#example-4-le-button">
        This popover is left-end positioned.
      </chi-popover>
  .chi-tabs-panel#html-positioning
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
    :code(lang="html")
      <!-- Top -->
      <button data-position='top' data-popover-content='<header class="chi-popover__header"><h2 class="chi-popover__title">Popover positioning</h2></header><div class="chi-popover__content"><p class="chi-popover__text">This popover is top positioned.</p></div>' class="chi-button">Top popover</button>

      <!-- Top Start -->
      <button data-position='top-start' data-popover-content='<header class="chi-popover__header"><h2 class="chi-popover__title">Popover positioning</h2></header><div class="chi-popover__content"><p class="chi-popover__text">This popover is top start positioned.</p></div>' class="chi-button">Top start popover</button>

      <!-- Top End -->
      <button data-position='top-end' data-popover-content='<header class="chi-popover__header"><h2 class="chi-popover__title">Popover positioning</h2></header><div class="chi-popover__content"><p class="chi-popover__text">This popover is top end positioned.</p></div>' class="chi-button">Top end popover</button>

      <!-- Right -->
      <button class="chi-button" data-position='right' data-popover-content='<header class="chi-popover__header"><h2 class="chi-popover__title">Popover positioning</h2></header><div class="chi-popover__content"><p class="chi-popover__text">This popover is right positioned.</p></div>'>Right popover</button>

      <!-- Right Start -->
      <button class="chi-button" data-position='right-start' data-popover-content='<header class="chi-popover__header"><h2 class="chi-popover__title">Popover positioning</h2></header><div class="chi-popover__content"><p class="chi-popover__text">This popover is right start positioned.</p></div>'>Right start popover</button class="chi-button">

      <!-- Right End -->
      <button class="chi-button" data-position='right-end' data-popover-content='<header class="chi-popover__header"><h2 class="chi-popover__title">Popover positioning</h2></header><div class="chi-popover__content"><p class="chi-popover__text">This popover is right end positioned.</p></div>'>Right end popover</button class="chi-button">

      <!-- Bottom -->
      <button class="chi-button" data-position='bottom' data-popover-content='<header class="chi-popover__header"><h2 class="chi-popover__title">Popover positioning</h2></header><div class="chi-popover__content"><p class="chi-popover__text">This popover is bottom positioned.</p></div>'>Bottom popover</button>

      <!-- Bottom Start -->
      <button class="chi-button" data-position='bottom-start' data-popover-content='<header class="chi-popover__header"><h2 class="chi-popover__title">Popover positioning</h2></header><div class="chi-popover__content"><p class="chi-popover__text">This popover is bottom start positioned.</p></div>'>Bottom start popover</button class="chi-button">

      <!-- Bottom End -->
      <button class="chi-button" data-position='bottom-end' data-popover-content='<header class="chi-popover__header"><h2 class="chi-popover__title">Popover positioning</h2></header><div class="chi-popover__content"><p class="chi-popover__text">This popover is bottom end positioned.</p></div>'>Bottom end popover</button class="chi-button">

      <!-- Left -->
      <button class="chi-button" data-position='left' data-popover-content='<header class="chi-popover__header"><h2 class="chi-popover__title">Popover positioning</h2></header><div class="chi-popover__content"><p class="chi-popover__text">This popover is left positioned.</p></div>'>Left popover</button>

      <!-- Left Start -->
      <button class="chi-button" data-position='left-start' data-popover-content='<header class="chi-popover__header"><h2 class="chi-popover__title">Popover positioning</h2></header><div class="chi-popover__content"><p class="chi-popover__text">This popover is left start positioned.</p></div>'>Left start popover</button>

      <!-- Left End -->
      <button class="chi-button" data-position='left-end' data-popover-content='<header class="chi-popover__header"><h2 class="chi-popover__title">Popover positioning</h2></header><div class="chi-popover__content"><p class="chi-popover__text">This popover is left end positioned.</p></div>'>Left end popover</button>

      <!-- JavaScript -->
      <script>chi.popover(document.querySelectorAll('[data-popover-content]'));</script>

h2 Interaction
p.-text
  | Read this handy introduction to
  |
  a(href=`../../getting-started/installation`) HTML attributes and DOM properties
  | .

.example.-mb--3
  .-p--3
    chi-button#example-5-button-show.-mr--2.-mb--2.-mb-md--0 Show
    chi-button#example-5-button-hide.-mr--2.-mb--2.-mb-md--0 Hide
    chi-button#example-5-button-toggle.-mr--2.-mb--2.-mb-md--0 Toggle
    chi-button#example-5-button-reference.-mr--2.-mb--2.-mb-md--0 Reference

    chi-popover#example-5-popover(position="top", title="Popover title", variant="text", arrow, reference="#example-5-button-reference")
      | Popover content

  .example-tabs.-pl--2
    ul.chi-tabs#examples-interaction
      li.-active
        a(href=`#webcomponent-interaction`) Web Component
      li
        a(href=`#html-interaction`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-interaction
    .chi-tab__description
      | Modify the <code>active</code> attribute or property to make the popover show or hide. The <code>chi-popover</code>
      | element also has three public methods to interact with it: <code>show()</code>, <code>hide()</code>,
      | <code>toggle()</code>.
    :code(lang="html")
      <chi-button id="example-5-button-show">Show</chi-button>
      <chi-button id="example-5-button-hide">Hide</chi-button>
      <chi-button id="example-5-button-toggle">Toggle</chi-button>
      <chi-button id="example-5-button-reference">Reference</chi-button>

      <chi-popover id="example-5-popover" position="top" title="Popover title" variant="text" arrow reference="#example-5-button-reference">
        Popover content
      </chi-popover>

      <script>
        var popover5 = document.getElementById('example-5-popover');

        var bShow = document.getElementById('example-5-button-show');
        bShow.addEventListener('click', function(){
          popover5.show();
          // or popover5.active = true;
        });

        var bHide = document.getElementById('example-5-button-hide');
        bHide.addEventListener('click', function () {
          popover5.hide();
          // or popover5.active = false;
        });

        var bToggle = document.getElementById('example-5-button-toggle');
        bToggle.addEventListener('click', function(){
          popover5.toggle();
          // or popover5.active = !popover5.active;
        });
      </script>
  .chi-tabs-panel#html-interaction
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
      br
      br
      | Use methods <code>.show()</code>, <code>.hide()</code>, and <code>.toggle()</code>
      | to control popover visibility.
    :code(lang="html")
      <button id='show-popover-3' class="chi-button">Show</button>
      <button id='hide-popover-3' class="chi-button">Hide</button>
      <button id='toggle-popover-3' class="chi-button">Toggle</button>
      <button id='popover-3' class="chi-button" data-popover-content='<div class="chi-popover__content">Foo</div>'>Popover</button>
      <script>
        var popover = chi.popover(
          document.getElementById('popover-3'),
          {
            trigger: 'manual',
            preventAutoHide: true
          }
        );
        document.getElementById('show-popover-3').addEventListener('click', function(e) {
          popover.show()
        });
        document.getElementById('hide-popover-3').addEventListener('click', function(e) {
          popover.hide()
        });
        document.getElementById('toggle-popover-3').addEventListener('click', function(e) {
          popover.toggle()
        });
      </script>

h3 Auto hide
p.-text
  | Popovers automatically hide when clicking outside of it or when pressing the ESC key.

.example.-mb--3
  .-p--3
    chi-button#example-6-auto-hide-button.-mr--2.-mb--2.-mb-md--0 Auto hide
    chi-popover#example-6-auto-hide-popover(position="top", title="Popover title", variant="text", arrow, reference="#example-6-auto-hide-button")
      | Click outside. I will disappear!
    chi-button#example-6-no-auto-hide-button.-mr--2.-mb--2.-mb-md--0 No auto hide
    chi-popover#example-6-no-auto-hide-popover(position="top", title="Popover title", variant="text", arrow, prevent-auto-hide, reference="#example-6-no-auto-hide-button")
      | Click outside. I will stay!
  .example-tabs.-pl--2
    ul.chi-tabs#examples-autohide-true
      li.-active
        a(href=`#webcomponent-autohide`) Web Component
      li
        a(href=`#html-autohide`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-autohide
    .chi-tab__description
      | You can prevent automatic hiding behavior
      | with the <code>prevent-auto-hide</code> attribute.
    :code(lang="html")
      <!-- Auto hide -->
      <chi-popover id="example-6-popover-auto-hide-popover" position="top" title="Popover title" variant="text" arrow reference="#example-6-auto-hide-button">
        Click outside. I will disappear!
      </chi-popover>

      <!-- No auto hide -->
      <chi-popover id="example-6-popover-no-auto-hide-popover" position="top" title="Popover title" variant="text" arrow prevent-auto-hide reference="#example-6-no-auto-hide-button">
        Click outside. I will stay!
      </chi-popover>

  .chi-tabs-panel#html-autohide
    .chi-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Chi's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Chi.js</a>.
      br
      br
      | You can prevent automatic hiding behavior by
      | setting <code>preventAutoHide</code> to <code>true</code>
    :code(lang="html")
      <!-- Auto hide -->
      <button id='popover-6' class="chi-button" data-popover-content='<header class="chi-popover__header"><h2 class="chi-popover__title">Popover title</h2></header><div class="chi-popover__content"><p class="chi-popover__text">Click outside. I will disappear!</p></div>'>Auto hide</button>
      <script>chi.popover(document.getElementById('popover-6'),
        {
          preventAutoHide: false
        });
      </script>

      <!-- No auto hide -->
      <button id='popover-6' class="chi-button" data-popover-content='<header class="chi-popover__header"><h2 class="chi-popover__title">Popover title</h2></header><div class="chi-popover__content"><p class="chi-popover__text">Click outside. I will stay!</p></div>'>No auto hide</button>
      <script>chi.popover(document.getElementById('popover-6'),
        {
          preventAutoHide: true
        });
      </script>

h2 Popover with custom content
.-text.-mb--3
  | Popovers can be used to display any kind of custom content (even other components).

h3 Destructive action confirmation
.example.-mb--3
  .-p--3(style='height: 185px')
    .-position--relative
      chi-popover(position="top", title="Are you sure?", variant="text", active, arrow, prevent-auto-hide)
        | Are you sure you want to delete this?
        chi-button(slot="chi-popover__footer" color="danger") Delete
        chi-button(slot="chi-popover__footer") Cancel
  .example-tabs.-pl--2
    ul.chi-tabs#examples-custom-content
      li.-active
        a(href=`#webcomponent-custom-content`) Web Component
      li
        a(href=`#html-custom-content`) HTML Blueprint
  .chi-tabs-panel.-active#webcomponent-custom-content
    .chi-tab__description
      | Add buttons to Popovers by setting slot attribute to <code>slot="chi-popover__footer"</code>.
    :code(lang="html")
      <chi-popover position="top" title="Are you sure?" variant="text" active arrow>
        Are you sure you want to delete this?
        <chi-button slot="chi-popover__footer" color="danger">Delete</chi-button>
        <chi-button slot="chi-popover__footer">Cancel</chi-button>
      </chi-popover>
  .chi-tabs-panel#html-custom-content
    .chi-tab__description
      | Add buttons to Popovers by placing them in <code>chi-popover__footer</code>.
    :code(lang="html")
      <section class="chi-popover chi-popover--top -active" aria-label="Are you sure?" aria-modal="true" role="dialog">
        <header class="chi-popover__header">
          <h2 class="chi-popover__title">Are you sure?</h2>
        </header>
        <div class="chi-popover__content">
          <p class="chi-popover__text">Are you sure you want to delete this?</p>
        </div>
        <div class="chi-popover__footer">
          <button class="chi-button -danger">Delete</button>
          <button class="chi-button">Cancel</button>
        </div>
        <div class="chi-popover__arrow"></div>
      </section>

.-portal--show
  h3 Table filtering
  .example.-mb--3
    .-p--3(style='height: 485px')
      .-position--relative
        chi-popover(position='top' title='Filter' variant='custom' modal drag closable active prevent-auto-hide)
          button.chi-button(class='-flat -primary -sm -no-hover -px--0 -mb--1 -text--normal' id='example-expand-all') Expand All
          .chi-accordion.-sm#example-base
            .chi-accordion__item.-expanded
              button.chi-accordion__trigger
                .chi-accordion__title
                  | Accordion 1
                i.chi-icon.icon-chevron-down(aria-hidden='true')
              .chi-accordion__content
                p.chi-accordion__text Filter content goes here
            .chi-accordion__item
              button.chi-accordion__trigger
                .chi-accordion__title
                  | Accordion 2
                i.chi-icon.icon-chevron-down(aria-hidden="true")
              .chi-accordion__content
                p.chi-accordion__text Filter content goes here
            .chi-accordion__item
              button.chi-accordion__trigger
                .chi-accordion__title
                  | Accordion 3
                i.chi-icon.icon-chevron-down(aria-hidden="true")
              .chi-accordion__content
                p.chi-accordion__text Filter content goes here
            .chi-accordion__item
              button.chi-accordion__trigger
                .chi-accordion__title
                  | Accordion 4
                i.chi-icon.icon-chevron-down(aria-hidden="true")
              .chi-accordion__content
                p.chi-accordion__text Filter content goes here
          chi-button(slot="chi-popover__footer" variant='flat' type='icon' alternative-text='Clear all filters' data-tooltip='Clear all filters')
            chi-icon(icon='reset')
          .chi-divider.-vertical(slot="chi-popover__footer")
          chi-button(slot="chi-popover__footer") Cancel
          chi-button(slot="chi-popover__footer" color='primary') Apply
    .example-tabs.-pl--2
      ul.chi-tabs#examples-advanced-filters
        li.-active
          a(href=`#webcomponent-advanced-filters`) Web Component
        li
          a(href=`#html-advanced-filters`) HTML Blueprint
    .chi-tabs-panel.-active#webcomponent-advanced-filters
      :code(lang="html")
        <chi-popover position="top" title="Filter" variant="custom" modal drag closable active prevent-auto-hide>
          <button class="chi-button -flat -primary -sm -no-hover -px--0 -mb--1 -text--normal" id="example-expand-all">Expand All</button>
          <div class="chi-accordion -sm" id="example-base">
            <div class="chi-accordion__item -expanded">
              <button class="chi-accordion__trigger">
                <div class="chi-accordion__title">Accordion 1</div>
                <i class="chi-icon icon-chevron-down" aria-hidden="true"></i>
              </button>
              <div class="chi-accordion__content">
                <p class="chi-accordion__text">Filter content goes here</p>
              </div>
            </div>
            <div class="chi-accordion__item">
              <button class="chi-accordion__trigger">
                <div class="chi-accordion__title">Accordion 2</div>
                <i class="chi-icon icon-chevron-down" aria-hidden="true"></i>
              </button>
              <div class="chi-accordion__content">
                <p class="chi-accordion__text">Filter content goes here</p>
              </div>
            </div>
            <div class="chi-accordion__item">
              <button class="chi-accordion__trigger">
                <div class="chi-accordion__title">Accordion 3</div>
                <i class="chi-icon icon-chevron-down" aria-hidden="true"></i>
              </button>
              <div class="chi-accordion__content">
                <p class="chi-accordion__text">Filter content goes here</p>
              </div>
            </div>
            <div class="chi-accordion__item">
              <button class="chi-accordion__trigger">
                <div class="chi-accordion__title">Accordion 4</div>
                <i class="chi-icon icon-chevron-down" aria-hidden="true"></i>
              </button>
              <div class="chi-accordion__content">
                <p class="chi-accordion__text">Filter content goes here</p>
              </div>
            </div>
          </div>
          <chi-button slot="chi-popover__footer" variant="flat" type="icon" alternative-text="Clear all filters" data-tooltip="Clear all filters">
            <chi-icon icon="reset"></chi-icon>
          </chi-button>
          <div class="chi-divider -vertical" slot="chi-popover__footer"></div>
          <chi-button slot="chi-popover__footer">Cancel</chi-button>
          <chi-button slot="chi-popover__footer" color="primary">Apply</chi-button>
        </chi-popover>

        <script>
          const accordionBase = document.getElementById('example-base');
          const expandAll = document.getElementById("example-expand-all");

          chi.accordion(accordionBase);

          expandAll.addEventListener("click", () => {
            expandAccordion.expandAll();
          });

          chi.tooltip(document.querySelectorAll('[data-tooltip]'));
        </script>
    .chi-tabs-panel#html-advanced-filters
      :code(lang="html")
        <section class="chi-popover -active -closable -draggable -modal" aria-modal="true" role="dialog" aria-label="Popover title">
          <button class="chi-button -xs -icon -close" aria-label="Close">
            <div class="chi-button__content">
              <i class="chi-icon icon-x" aria-hidden="true"></i>
            </div>
          </button>
          <header class="chi-popover__header">
            <h2 class="chi-popover__title">Popover title</h2>
          </header>
          <div class="chi-popover__content">
            <button class="chi-button -flat -primary -sm -no-hover -px--0 -mb--1 -text--normal" id="example-expand-all">Expand All</button>
            <div class="chi-accordion -sm" id="example-base">
              <div class="chi-accordion__item -expanded">
                <button class="chi-accordion__trigger">
                  <div class="chi-accordion__title">Accordion 1</div>
                  <i class="chi-icon icon-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="chi-accordion__content">
                  <p class="chi-accordion__text">Filter content goes here</p>
                </div>
              </div>
              <div class="chi-accordion__item">
                <button class="chi-accordion__trigger">
                  <div class="chi-accordion__title">Accordion 2</div>
                  <i class="chi-icon icon-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="chi-accordion__content">
                  <p class="chi-accordion__text">Filter content goes here</p>
                </div>
              </div>
              <div class="chi-accordion__item">
                <button class="chi-accordion__trigger">
                  <div class="chi-accordion__title">Accordion 3</div>
                  <i class="chi-icon icon-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="chi-accordion__content">
                  <p class="chi-accordion__text">Filter content goes here</p>
                </div>
              </div>
              <div class="chi-accordion__item">
                <button class="chi-accordion__trigger">
                  <div class="chi-accordion__title">Accordion 4</div>
                  <i class="chi-icon icon-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="chi-accordion__content">
                  <p class="chi-accordion__text">Filter content goes here</p>
                </div>
              </div>
            </div>
          </div>
          <div class="chi-popover__footer">
            <button class="chi-button -icon -flat" aria-label="Clear filters" data-tooltip="Clear filters">
              <div class="chi-button__content">
                <i class="chi-icon icon-reset" aria-hidden="true"></i>
              </div>
            </button>
            <div class="chi-divider -vertical"></div>
            <button class="chi-button">Cancel</button>
            <button class="chi-button -primary">Apply</button>
          </div>
        </section>

        <script>
          const accordionBase = document.getElementById('example-base');
          const expandAll = document.getElementById("example-expand-all");

          chi.accordion(accordionBase);

          expandAll.addEventListener("click", () => {
            expandAccordion.expandAll();
          });

          chi.tooltip(document.querySelectorAll('[data-tooltip]'));
        </script>

chi-popover#example-draggable-popover(title="Draggable Popover" reference="#example-draggable-button" closable drag)
  | Popover content

chi-popover#example-modal-draggable-popover(title="Draggable Popover" modal reference="#example-modal-draggable-button" closable drag)
  | Popover content

script.
  document.addEventListener(
    'DOMContentLoaded',
    function () {
      const buttonOpenOnHover = document.getElementById('button-open-on-hover');
      const popoverOpenOnHover = document.getElementById('popover-open-on-hover');
      const accordionBase = document.getElementById('example-base');
      const expandAccordion = chi.accordion(document.getElementById("example-base"));
      const expandAll = document.getElementById("example-expand-all");
      let hoverAnimationTimeout;

      chi.tab(document.getElementById('examples-default'));
      chi.tab(document.getElementById('examples-titled'));
      chi.tab(document.getElementById('examples-position'));
      chi.tab(document.getElementById('examples-reference'));
      chi.tab(document.getElementById('examples-custom-content'));
      chi.tab(document.getElementById('examples-positioning'));
      chi.tab(document.getElementById('examples-interaction'));
      chi.tab(document.getElementById('examples-autohide-true'));
      chi.tab(document.getElementById('examples-hover'));
      chi.tab(document.getElementById('examples-close-button'));
      chi.tab(document.getElementById('examples-draggable'));
      chi.tab(document.getElementById('examples-modal-draggable'));
      chi.tab(document.getElementById('examples-modal'));
      chi.tooltip(document.querySelectorAll('[data-tooltip]'));

      buttonOpenOnHover.addEventListener('chiMouseEnter', function() {
        hoverAnimationTimeout = setTimeout(function() {
          popoverOpenOnHover.show();
        }, 300);
      });

      buttonOpenOnHover.addEventListener('chiMouseLeave', function() {
        if (hoverAnimationTimeout) {
          clearTimeout(hoverAnimationTimeout);
        }
        popoverOpenOnHover.hide();
      });

      buttonOpenOnHover.addEventListener('click', function() {
        popoverOpenOnHover.toggle();
      });

      chi.accordion(accordionBase);

      expandAll.addEventListener("click", () => {
        expandAccordion.expandAll();
      });

      var popovers = [
        {button: '#example-3-button',               popover: '#example-3-popover',              action: "toggle"},
        {button: '#example-4-t-button',             popover: '#example-4-t-popover',            action: "toggle"},
        {button: '#example-4-ts-button',            popover: '#example-4-ts-popover',           action: "toggle"},
        {button: '#example-4-te-button',            popover: '#example-4-te-popover',           action: "toggle"},
        {button: '#example-4-r-button',             popover: '#example-4-r-popover',            action: "toggle"},
        {button: '#example-4-rs-button',            popover: '#example-4-rs-popover',           action: "toggle"},
        {button: '#example-4-re-button',            popover: '#example-4-re-popover',           action: "toggle"},
        {button: '#example-4-b-button',             popover: '#example-4-b-popover',            action: "toggle"},
        {button: '#example-4-bs-button',            popover: '#example-4-bs-popover',           action: "toggle"},
        {button: '#example-4-be-button',            popover: '#example-4-be-popover',           action: "toggle"},
        {button: '#example-4-l-button',             popover: '#example-4-l-popover',            action: "toggle"},
        {button: '#example-4-ls-button',            popover: '#example-4-ls-popover',           action: "toggle"},
        {button: '#example-4-le-button',            popover: '#example-4-le-popover',           action: "toggle"},
        {button: '#example-5-button-show',          popover: '#example-5-popover',              action: "show"},
        {button: '#example-5-button-hide',          popover: '#example-5-popover',              action: "hide"},
        {button: '#example-5-button-toggle',        popover: '#example-5-popover',              action: "toggle"},
        {button: '#example-6-auto-hide-button',     popover: '#example-6-auto-hide-popover',    action: "toggle"},
        {button: '#example-6-no-auto-hide-button',  popover: '#example-6-no-auto-hide-popover', action: "toggle"},
        {button: '#button-example-popover-closable-1',  popover: '#popover-example-popover-closable-1', action: "toggle"},
        {button: '#example-draggable-button',  popover: '#example-draggable-popover', action: "toggle"},
        {button: '#example-modal-draggable-button',  popover: '#example-modal-draggable-popover', action: "toggle"}
      ];

      Array.prototype.forEach.call(popovers, function(popover){
        document.querySelector(popover.button).addEventListener('click', function () {
          var popoverElem = document.querySelector(popover.popover);
          switch (popover.action) {
            case 'show':
              popoverElem.show();
              break;
            case 'hide':
              popoverElem.hide();
              break;
            default:
              popoverElem.toggle();
          }
        });
      });
    }
  );
