@import 'mixins';
@import 'variables';

$drawer-width: 18.75rem;
$drawer-height: 18.75rem;

.chi {

  .m-drawer {

    & {
      background-color: set-color(white);
      box-shadow: 0 0 25px 10px rgba(set-color(black), 0.15);
      display: none;
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: auto;
      pointer-events: auto;
      position: fixed;
      z-index: $zindex-fixed;
    }

    &.-active {
      display: flex;
    }

    &.-animated {
      transition-duration: .5s;
      transition-timing-function: cubic-bezier(0.38, 0.52, 0.37, 1);

      &.-transitioning {
        display: flex;
      }
    }

    &.-top {
      height: $drawer-height;
      left: 0;
      right: 0;
      top: 0;

      &.-animated {
        &:not(.-active) {
          top: -$drawer-height;
        }
        transition-property: top;
      }
    }

    &.-right {
      bottom: 0;
      right: 0;
      top: 0;
      width: $drawer-width;

      &.-animated {
        &:not(.-active) {
          right: -$drawer-width;
        }
        transition-property: right;
      }
    }

    &.-bottom {
      bottom: 0;
      height: $drawer-height;
      left: 0;
      right: 0;

      &.-animated {
        &:not(.-active) {
          bottom: -$drawer-height;
        }
        transition-property: bottom;
      }
    }

    &.-left {
      bottom: 0;
      left: 0;
      top: 0;
      width: $drawer-width;

      &.-animated {
        &:not(.-active) {
          left: -$drawer-width;
        }
        transition-property: left;
      }
    }

    &__header {
      min-height: 3.5rem;
      padding: 1rem;
      position: relative;
    }

    &__content {
      flex-grow: 1;
    }

    .-close {
      position: absolute;
      right: 0.75rem;
      top: 0.8125rem;
    }
  }

  .a-backdrop > .m-drawer {
    z-index: $zindex-fixed-with-backdrop;
  }
}
