@import '_global-mixins';
@import '_global-variables';

$animation-duration: 0.5s;

.chi-drawer {
  background-color: $drawer-background-color;
  display: none;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
  position: fixed;
  transform: translate(0, 0);
  z-index: $zindex-fixed;

  &.-active {
    display: flex;
  }

  &.-animated {
    transition-duration: $animation-duration;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.38, 0.52, 0.37, 1);

    &.-transitioning {
      display: flex;
    }
  }

  &.-top {
    box-shadow: $drawer-box-shadow-top;
    height: $drawer-height;
    left: 0;
    right: 0;
    top: 0;

    &.-animated {
      &:not(.-active) {
        transform: translate(0, -$drawer-height);
      }
    }

    // sass-lint:disable property-units
    &.-menu {
      height: 95vh;

      &.-animated:not(.-active) {
        transform: translateY(-95vh);
      }

      @include respond-to(md) {
        height: $drawer-height;

        &.-animated {
          &:not(.-active) {
            transform: translateY(0, -$drawer-height);
          }
        }
      }
    }
    // sass-lint:enable property-units
  }

  &.-right {
    bottom: 0;
    box-shadow: $drawer-box-shadow-right;
    right: 0;
    top: 0;
    width: $drawer-width;

    &.-animated {
      &:not(.-active) {
        transform: translate($drawer-width, 0);
      }
    }

    // sass-lint:disable property-units
    &.-menu {
      width: 85vw;

      &.-animated:not(.-active) {
        transform: translate(85vw);
      }

      @include respond-to(md) {
        width: $drawer-width;

        &.-animated {
          &:not(.-active) {
            transform: translate($drawer-width, 0);
          }
        }
      }
    }
    // sass-lint:enable property-units
  }

  &.-bottom {
    bottom: 0;
    box-shadow: $drawer-box-shadow-bottom;
    height: $drawer-height;
    left: 0;
    right: 0;

    &.-animated {
      &:not(.-active) {
        transform: translate(0, $drawer-height);
      }
    }

    // sass-lint:disable property-units
    &.-menu {
      height: 95vh;

      &.-animated:not(.-active) {
        transform: translateY(95vh);
      }

      @include respond-to(md) {
        height: $drawer-height;

        &.-animated {
          &:not(.-active) {
            transform: translateY(0, $drawer-height);
          }
        }
      }
    }
    // sass-lint:enable property-units
  }

  &.-left {
    bottom: 0;
    box-shadow: $drawer-box-shadow-left;
    left: 0;
    top: 0;
    width: $drawer-width;

    &.-animated {
      &:not(.-active) {
        transform: translate(-$drawer-width, 0);
      }
    }

    // sass-lint:disable property-units
    &.-menu {
      width: 85vw;

      &.-animated:not(.-active) {
        transform: translate(-85vw);
      }

      @include respond-to(md) {
        width: $drawer-width;

        &.-animated {
          &:not(.-active) {
            transform: translate(-$drawer-width, 0);
          }
        }
      }
    }
    // sass-lint:enable property-units
  }

  .-close:not(.chi-drawer__content *) {
    position: fixed;
    right: $drawer-button-close-right;
    top: $drawer-button-close-top;
    z-index: 50;
  }

  &__header {
    background-color: $drawer-header-background-color;
    background-image: $drawer-header-background-image;
    color: $drawer-header-text-color;
    display: $drawer-header-display;
    flex-direction: column;
    flex-shrink: $drawer-header-flex-shrink;
    min-height: $drawer-header-min-height;
    padding: $drawer-header-padding;
    position: relative;

    .-close {
      .chi-icon {
        color: $drawer-header-close-icon-color;
      }
    }
  }

  &__title {
    font-size: $drawer-header-title-font-size;
    font-weight: $drawer-header-title-font-weight;
    line-height: $drawer-title-line-height;
    margin: 0;
  }

  &__content {
    flex-grow: 1;
    overflow: auto;
    padding: $drawer-content-padding;
  }

  &__footer {
    border-top: $drawer-footer-border;
    padding: $drawer-footer-padding;
  }
}

.chi-backdrop__wrapper > .chi-drawer {
  z-index: $zindex-fixed-with-backdrop;
}

/* IE11 CSS hack */
// sass-lint:disable-block no-vendor-prefixes
@media all and (-ms-high-contrast: none) {
  .chi-drawer {
    .-close {
      position: absolute;
    }
  }
}
