h2 Examples

h3 Base
.example.-mb--3
  .-p--3.-p-lg--6
    .chi-skeleton
  .example-tabs.-pl--2
    ul.chi-tabs#examples-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .chi-tabs-panel#webcomponent-base
  .chi-tabs-panel.-active#html-base
    :code(lang="html")
      <div class="chi-skeleton"></div>

h3 Rounded
.example.-mb--3
  .-p--3.-p-lg--6
    .chi-skeleton.-rounded
  .example-tabs.-pl--2
    ul.chi-tabs#examples-rounded
      li.-disabled
        a(href=`#webcomponent-rounded`) Web Component
      li.-active
        a(href=`#html-rounded`) HTML Blueprint
  .chi-tabs-panel#webcomponent-rounded
  .chi-tabs-panel.-active#html-rounded
    :code(lang="html")
      <div class="chi-skeleton -rounded"></div>

h3 Circle
.example.-mb--3
  .-p--3.-p-lg--6
    .chi-skeleton.-circle
  .example-tabs.-pl--2
    ul.chi-tabs#examples-circle
      li.-disabled
        a(href=`#webcomponent-circle`) Web Component
      li.-active
        a(href=`#html-circle`) HTML Blueprint
  .chi-tabs-panel#webcomponent-circle
  .chi-tabs-panel.-active#html-circle
    :code(lang="html")
      <div class="chi-skeleton -circle"></div>

h3 Square
.example.-mb--3
  .-p--3.-p-lg--6
    .chi-skeleton.-square
  .example-tabs.-pl--2
    ul.chi-tabs#examples-square
      li.-disabled
        a(href=`#webcomponent-square`) Web Component
      li.-active
        a(href=`#html-square`) HTML Blueprint
  .chi-tabs-panel#webcomponent-square
  .chi-tabs-panel.-active#html-square
    :code(lang="html")
      <div class="chi-skeleton -square"></div>

h3 Rounded square
.example.-mb--3
  .-p--3.-p-lg--6
    .chi-skeleton.-square.-rounded
  .example-tabs.-pl--2
    ul.chi-tabs#examples-square-rounded
      li.-disabled
        a(href=`#webcomponent-square-rounded`) Web Component
      li.-active
        a(href=`#html-square-rounded`) HTML Blueprint
  .chi-tabs-panel#webcomponent-square-rounded
  .chi-tabs-panel.-active#html-square-rounded
    :code(lang="html")
      <div class="chi-skeleton -square -rounded"></div>

h3 Complex combination
.example.-mb--3
  .-p--3.-p-lg--6
    button.chi-button#toggle-skeleton Toggle Skeleton
    .complex-combination-html.-d--none
      .-text--h2 Lorem ipsum dolor sit amet
      p.-mw--480
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        | eiusmod tempor incididunt ut labore et dolore magna aliqua.
        | Ut enim ad minim veniam, quis nostrud exercitation.
      .-d--flex.-mw--480.-mt--4
        .chi-avatar
          i.chi-icon.icon-user
        .chi-form__item.-flex--grow1.-ml--2
          input#example__placeholder.chi-input(type='text', placeholder='Placeholder')
        button.chi-button.-primary.-ml--2 Send
    .complex-combination-skeleton
      .-mw--480
        .chi-skeleton.-mt--2.-w--90
        .-mt--2
          .chi-skeleton.-xs.-mt--1
          .chi-skeleton.-xs.-mt--1.-w--90
          .chi-skeleton.-xs.-mt--1.-w--50
        .-d--flex.-mt--4
          .chi-skeleton.-circle
          .chi-skeleton.-rounded.-flex--grow1.-ml--2
          .chi-skeleton.-rounded.-ml--2.-w--15
  .example-tabs.-pl--2
    ul.chi-tabs#examples-square-rounded
      li.-disabled
        a(href=`#webcomponent-square-rounded`) Web Component
      li.-active
        a(href=`#html-square-rounded`) HTML Blueprint
  .chi-tabs-panel#webcomponent-square-rounded
  .chi-tabs-panel.-active#html-square-rounded
    :code(lang="html")
      <div class="-mw--480">
        <div class="chi-skeleton -mt--2 -w--90"></div>
        <div class="-mt--2">
          <div class="chi-skeleton -xs -mt--1"></div>
          <div class="chi-skeleton -xs -mt--1 -w--90"></div>
          <div class="chi-skeleton -xs -mt--1 -w--50"></div>
        </div>
        <div class="-d--flex -mt--4">
          <div class="chi-skeleton -circle"></div>
          <div class="chi-skeleton -rounded -flex--grow1 -ml--2"></div>
          <div class="chi-skeleton -rounded -ml--2 -w--15"></div>
        </div>
      </div>

h3 Sizes
.example.-mb--3
  .-p--3.-p-lg--6
    .-text--bold -xs
    .chi-grid.-mt--2
      .chi-col.-w--3
        .chi-skeleton.-xs
      .chi-col.-w--3
        .chi-skeleton.-rounded.-xs
      .chi-col.-w--2
        .chi-skeleton.-circle.-xs
      .chi-col.-w--2
        .chi-skeleton.-square.-xs
      .chi-col.-w--2
        .chi-skeleton.-square.-rounded.-xs
    .-text--bold.-mt--2 -sm
    .chi-grid.-mt--2
      .chi-col.-w--3
        .chi-skeleton.-sm
      .chi-col.-w--3
        .chi-skeleton.-rounded.-sm
      .chi-col.-w--2
        .chi-skeleton.-circle.-sm
      .chi-col.-w--2
        .chi-skeleton.-square.-sm
      .chi-col.-w--2
        .chi-skeleton.-square.-rounded.-sm
    .-text--bold.-mt--2 -md
    .chi-grid.-mt--2
      .chi-col.-w--3
        .chi-skeleton.-md
      .chi-col.-w--3
        .chi-skeleton.-rounded.-md
      .chi-col.-w--2
        .chi-skeleton.-circle.-md
      .chi-col.-w--2
        .chi-skeleton.-square.-md
      .chi-col.-w--2
        .chi-skeleton.-square.-rounded.-md
    .-text--bold.-mt--2 -lg
    .chi-grid.-mt--2
      .chi-col.-w--3
        .chi-skeleton.-lg
      .chi-col.-w--3
        .chi-skeleton.-rounded.-lg
      .chi-col.-w--2
        .chi-skeleton.-circle.-lg
      .chi-col.-w--2
        .chi-skeleton.-square.-lg
      .chi-col.-w--2
        .chi-skeleton.-square.-rounded.-lg
    .-text--bold.-mt--2 -xl
    .chi-grid.-mt--2
      .chi-col.-w--3
        .chi-skeleton.-xl
      .chi-col.-w--3
        .chi-skeleton.-rounded.-xl
      .chi-col.-w--2
        .chi-skeleton.-circle.-xl
      .chi-col.-w--2
        .chi-skeleton.-square.-xl
      .chi-col.-w--2
        .chi-skeleton.-square.-rounded.-xl
  .example-tabs.-pl--2
    ul.chi-tabs#examples-sizes
      li.-disabled
        a(href=`#webcomponent-sizes`) Web Component
      li.-active
        a(href=`#html-sizes`) HTML Blueprint
  .chi-tabs-panel#webcomponent-sizes
  .chi-tabs-panel.-active#html-sizes
    :code(lang="html")
      <!-- -xs-->
      <div class="chi-skeleton -xs"></div>
      <div class="chi-skeleton -rounded -xs"></div>
      <div class="chi-skeleton -circle -xs"></div>
      <div class="chi-skeleton -square -xs"></div>
      <div class="chi-skeleton -square -rounded -xs"></div>
      
      <!-- -sm-->
      <div class="chi-skeleton -sm"></div>
      <div class="chi-skeleton -rounded -sm"></div>
      <div class="chi-skeleton -circle -sm"></div>
      <div class="chi-skeleton -square -sm"></div>
      <div class="chi-skeleton -square -rounded -sm"></div>
      
      <!-- -md-->
      <div class="chi-skeleton -md"></div>
      <div class="chi-skeleton -rounded -md"></div>
      <div class="chi-skeleton -circle -md"></div>
      <div class="chi-skeleton -square -md"></div>
      <div class="chi-skeleton -square -rounded -md"></div>
      
      <!-- -lg-->
      <div class="chi-skeleton -lg"></div>
      <div class="chi-skeleton -rounded -lg"></div>
      <div class="chi-skeleton -circle -lg"></div>
      <div class="chi-skeleton -square -lg"></div>
      <div class="chi-skeleton -square -rounded -lg"></div>
      
      <!-- -xl-->
      <div class="chi-skeleton -xl"></div>
      <div class="chi-skeleton -rounded -xl"></div>
      <div class="chi-skeleton -circle -xl"></div>
      <div class="chi-skeleton -square -xl"></div>
      <div class="chi-skeleton -square -rounded -xl"></div>

script.
  const toggleButton = document.querySelector('#toggle-skeleton');
  const skeletonHtml = document.querySelector('.complex-combination-html');
  const skeletonSkeleton = document.querySelector('.complex-combination-skeleton');
  const classToToggle = '-d--none';

  if (toggleButton, skeletonHtml, skeletonSkeleton) {
    toggleButton.addEventListener('click', function() {
      skeletonHtml.classList.toggle(classToToggle);
      skeletonSkeleton.classList.toggle(classToToggle);
    });
  }
