---
title: Skeleton
description: Use skeleton to achieve loading state visual for asynchronously rendered UI elements
tabs: {"Examples" : "examplestab", "Properties" : "propertiestab", "Accessibility" : "accessibilitytab"}
---

.chi-tabs-panel.-active#examplestab
  include _examples

.chi-tabs-panel#propertiestab
  include _properties

.chi-tabs-panel#accessibilitytab
  include _accessibility
