@import '_global-variables';
@import '_global-mixins';

.chi-tags {
  align-items: center;
  background-color: white;
  border-radius: $tags-border-radius;
  border: 0.0625rem solid $tags-border-color;
  color: $tags-text-color;
  display: flex;
  flex-wrap: wrap;
  font-size: $tags-md-font-size;
  height: auto;
  line-height: $tags-md-line-height;
  margin: 0;
  outline: none;
  padding: $tags-md-padding;
  transition: all 0.15s ease-in-out;
  width: 100%;

  &:focus-within,
  &.-focus {
    border-color: $tags-focus-border-color;
    box-shadow: 0 0 0 0.0625rem $tags-focus-border-color;
  }

  &:hover,
  &.-hover {
    border-color: $tags-hover-border-color;
  }

  li {
    height: fit-content;
    list-style-type: none;

    .chi_tag {
      max-width: 100%;
    }
  }

  .chi-tags__input  {
    align-items: center;
    display: flex;
    flex: 1 0 auto;
    min-height: $line-height-xl;

    input {
      border: 0;
      height: 100%;
      outline: none;
      width: 100%;
      
      &::placeholder {
        color: $tags-input-placeholder-text-color;
      }
    }
  }

  .chi-tag, .chi-tags__input {
    margin-bottom: 0.25rem;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
  }
}
