h2 Examples
p.-text
  | To display a badge, use the class <code>a-badge</code>.
  | A contextual class (e.g. <code>-dark</code>) can also be applied to provide alternate styling.

h3 Base
.example.-mb--3
  .a-grid.-noGutter
    .a-col.-w--12
      .-p--2.-text--center
        .a-badge(class=`-m--1`)
          span Base
        .a-badge(class=`-primary -m--1`)
          span Primary
        .a-badge(class=`-success -m--1`)
          span Success
        .a-badge(class=`-warning -m--1`)
          span Warning
        .a-badge(class=`-danger -m--1`)
          span Danger
        .a-badge(class=`-dark -m--1`)
          span Dark
        .a-badge(class=`-muted -m--1`)
          span Muted
    .a-col.-w--12
      .-p--2.-bg--black.-text--center
        .a-badge(class=`-secondary -m--1`)
          span Secondary
        .a-badge(class=`-light -m--1`)
          span Light
  :code(lang='html')
    <!-- For light backgrounds -->
    <div class="a-badge">
      <span>Base</span>
    </div>
    <div class="a-badge -primary">
      <span>Primary</span>
    </div>
    <div class="a-badge -success">
      <span>Success</span>
    </div>
    <div class="a-badge -warning">
      <span>Warning</span>
    </div>
    <div class="a-badge -danger">
      <span>Danger</span>
    </div>
    <div class="a-badge -dark">
      <span>Dark</span>
    </div>
    <div class="a-badge -muted">
      <span>Muted</span>
    </div>
    <!-- For dark backgrounds -->
    <div class="a-badge -secondary">
      <span>Secondary</span>
    </div>
    <div class="a-badge -light">
      <span>Light</span>
    </div>

h3 Outline
.example.-mb--3
  .a-grid.-noGutter
    .a-col.-w--12
      .-p--2.-text--center
        .a-badge(class=`-primary -outline -m--1`)
          span Primary
        .a-badge(class=`-success -outline -m--1`)
          span Success
        .a-badge(class=`-warning -outline -m--1`)
          span Warning
        .a-badge(class=`-danger -outline -m--1`)
          span Danger
        .a-badge(class=`-dark -outline -m--1`)
          span Dark
        .a-badge(class=`-muted -outline -m--1`)
          span Muted
    .a-col.-w--12
      .-p--2.-bg--black.-text--center
        .a-badge(class=`-secondary -outline -m--1`)
          span Secondary
        .a-badge(class=`-light -outline -m--1`)
          span Light
  :code(lang="html")
    <!-- For light backgrounds -->
    <div class="a-badge -primary -outline">
      <span>Primary</span>
    </div>
    <div class="a-badge -success -outline">
      <span>Success</span>
    </div>
    <div class="a-badge -danger -outline">
      <span>Danger</span>
    </div>
    <div class="a-badge -dark -outline">
      <span>Dark</span>
    </div>
    <div class="a-badge -muted -outline">
      <span>Muted</span>
    </div>
    <!-- For dark backgrounds -->
    <div class="a-badge -secondary -outline">
      <span>Secondary</span>
    </div>
    <div class="a-badge -light -outline">
      <span>Light</span>
    </div>

h3 Flat
.example.-mb--3
  .a-grid.-noGutter
    .a-col.-w--12
      .-p--2.-text--center
        .a-badge(class=`-primary -flat -m--1`)
          span Primary
        .a-badge(class=`-success -flat -m--1`)
          span Success
        .a-badge(class=`-warning -flat -m--1`)
          span Warning
        .a-badge(class=`-danger -flat -m--1`)
          span Danger
        .a-badge(class=`-dark -flat -m--1`)
          span Dark
        .a-badge(class=`-muted -flat -m--1`)
          span Muted
    .a-col.-w--12
      .-p--2.-bg--black.-text--center
        .a-badge(class=`-secondary -flat -m--1`)
          span Secondary
        .a-badge(class=`-light -flat -m--1`)
          span Light
  :code(lang="html")
    <!-- For light backgrounds -->
    <div class="a-badge -primary -flat">
      <span>Primary</span>
    </div>
    <div class="a-badge -success -flat">
      <span>Success</span>
    </div>
    <div class="a-badge -warning -flat">
      <span>Warning</span>
    </div>
    <div class="a-badge -danger -flat">
      <span>Danger</span>
    </div>
    <div class="a-badge -dark -flat">
      <span>Dark</span>
    </div>
    <div class="a-badge -muted -flat">
      <span>Muted</span>
    </div>
    <!-- For dark backgrounds -->
    <div class="a-badge -secondary -flat">
      <span>Secondary</span>
    </div>
    <div class="a-badge -light -flat">
      <span>Light</span>
    </div>

h2 Icon badges
p.-text Icons can be placed before, after, or on both sides of text.
.example.-mb--3
  .-p--2
    .a-badge(class=`-m--1`)
      .a-badge__content
        i.a-icon.-xs.icon-plus
        span Badge
    .a-badge(class=`-m--1`)
      .a-badge__content
        span Badge
        i.a-icon.-xs.icon-x
    .a-badge(class=`-flat -success -m--1`)
      .a-badge__content
        i.a-icon.icon-circle
        span Active
    .a-badge(class=`-flat -warning -m--1`)
      .a-badge__content
        i.a-icon.icon-circle-clock
        span Away
    .a-badge(class=`-flat -danger -m--1`)
      .a-badge__content
        i.a-icon.icon-circle-minus
        span Do not disturb
    .a-badge(class=`-flat -muted -m--1`)
      .a-badge__content
        i.a-icon.icon-circle
        span Offline
  :code(lang="html")
    <div class="a-badge">
      <div class="a-badge__content">
        <i class="a-icon -xs icon-plus"></i>
        <span>Badge</span>
      </div>
    </div>
    <div class="a-badge">
      <div class="a-badge__content">
        <span>Badge</span>
        <i class="a-icon -xs icon-x"></i>
      </div>
    </div>
    <div class="a-badge -flat -success">
      <div class="a-badge__content">
        <i class="a-icon icon-circle"></i>
        <span>Active</span>
      </div>
    </div>
    <div class="a-badge -flat -warning">
      <div class="a-badge__content">
        <i class="a-icon icon-circle-clock"></i>
        <span>Away</span>
      </div>
    </div>
    <div class="a-badge -flat -danger">
      <div class="a-badge__content">
        <i class="a-icon icon-circle-minus"></i>
        <span>Do not disturb</span>
      </div>
    </div>
    <div class="a-badge -flat -muted">
      <div class="a-badge__content">
        <i class="a-icon icon-circle"></i>
        <span>Offline</span>
      </div>
    </div>

h2 Additional Sizes
h3 Small
p.-text Use the <code>-sm</code> modifier class to render small badges.
.example.-mb--3
  .-p--2
    .a-badge(class=`-sm -m--1`)
      span Badge
    .a-badge(class=`-sm -flat -m--1`)
      .a-badge__content
        i.a-icon.icon-atom
        span Badge
  :code(lang="html")
    <div class="a-badge -sm">
      <span>Badge</span>
    </div>
    <div class="a-badge -flat -sm">
      <div class="a-badge__content">
        <i class="a-icon icon-atom"></i>
        <span>Badge</span>
      </div>
    </div>
h3 Extra small
p.-text Use the <code>-xs</code> modifier class to render even smaller badges.
.example.-mb--3
  .-p--2
    .a-badge(class=`-xs -m--1`)
      span Badge
    .a-badge(class=`-flat -xs -m--1`)
      .a-badge__content
        i.a-icon.icon-atom
        span Badge
  :code(lang="html")
    <div class="a-badge -xs">
      <span>Badge</span>
    </div>
    <div class="a-badge -flat -xs">
      <div class="a-badge__content">
        <i class="a-icon icon-atom"></i>
        <span>Badge</span>
      </div>
    </div>
h2 Text Transform
h3 Uppercase
p.-text Use the <code>-text--uppercase</code> text utility class to render badges in all uppercase. <code>-text--lowercase</code> and <code>-text--capitalized</code> are also supported.
.example.-mb--3
  .-p--2
    .a-badge(class=`-text--uppercase -m--1`)
      span Badge
  :code(lang="html")
    <div class="a-badge -text--uppercase">
      <span>Badge</span>
    </div>
