$cap-height: 0.75;

$base-unit: 8px;

// colors
// sass-lint:disable no-color-hex
$colorscheme: (
  grey: (
    100: #242526,
    90: #313336,
    80: #3f4145,
    70: #53565a,
    60: #72767a,
    50: #8e9399,
    40: #acb0b5,
    30: #d0d4d9,
    25: #dadee2,
    20: #edf0f2,
    15: #f4f5f6,
    10: #f8f9f9,
  ),
  red: (
    100: #471819,
    90: #691518,
    80: #8f0e13,
    70: #b50d12,
    60: #de1b21,
    50: #fa5056,
    40: #fc9094,
    30: #fcc7c9,
    20: #fce8e9,
    10: #fff5f5,
  ),
  pink: (
    100: #451726,
    90: #661430,
    80: #8c0e38,
    70: #b30c44,
    60: #db1a5b,
    50: #f74f87,
    40: #fa8eb2,
    30: #fcc7d9,
    20: #fce8ef,
    10: #fcf5f7,
  ),
  purple: (
    100: #371c52,
    90: #4d2378,
    80: #642b9e,
    70: #7e40bd,
    60: #9557d4,
    50: #b277ed,
    40: #cda3f7,
    30: #e2cdf7,
    20: #f2ebfa,
    10: #faf7fc,
  ),
  indigo: (
    100: #222261,
    90: #2b2b94,
    80: #3939bd,
    70: #4f4fdb,
    60: #6666e3,
    50: #8787fa,
    40: #adadff,
    30: #d1d1ff,
    20: #ededff,
    10: #f7f7ff,
  ),
  navy: (
    100: #001238,
    90: #001e60,
    80: #00308a,
    70: #0047bb,
    60: #005bed,
    50: #468af1,
    40: #8cb6f5,
    30: #c0d7fa,
    20: #e6f0ff,
    10: #f5f8fc,
  ),
  blue: (
    100: #0c2b3b,
    90: #093d57,
    80: #064e73,
    70: #066594,
    60: #0d7db5,
    50: #239cd9,
    40: #53bff5,
    30: #b0def5,
    20: #e1f2fa,
    10: #f2f9fc,
  ),
  teal: (
    100: #082b2e,
    90: #063b40,
    80: #074c52,
    70: #026169,
    60: #03808c,
    50: #0a96a3,
    40: #1eb9c7,
    30: #abdce0,
    20: #d7f2f5,
    10: #edf9fa,
  ),
  mint: (
    100: #0a2e1e,
    90: #094028,
    80: #075433,
    70: #097a49,
    60: #0c8853,
    50: #27b875,
    40: #48d597,
    30: #abe0c9,
    20: #daf5e9,
    10: #edfaf3,
  ),
  green: (
    100: #1e2b0a,
    90: #283d09,
    80: #344f0b,
    70: #3f6605,
    60: #4e8003,
    50: #689e18,
    40: #8cc63f,
    30: #c6dba7,
    20: #e4f2ce,
    10: #f2fae6,
  ),
  yellow: (
    100: #36240c,
    90: #4d310b,
    80: #663e07,
    70: #854e03,
    60: #a66102,
    50: #c97d12,
    40: #e6a243,
    30: #f5cc93,
    20: #faecd9,
    10: #fff8ed,
  ),
  orange: (
    100: #3d1e14,
    90: #5e2413,
    80: #80280d,
    70: #a6310d,
    60: #c94218,
    50: #e8663f,
    40: #f2997e,
    30: #f5ccbf,
    20: #fce9e3,
    10: #faf6f5,
  ),
  black: #000000,
  white: #ffffff
);
// sass-lint:enable no-color-keywords
// sass-lint:enable no-color-hex

$state-colors: (success: mint, warning: yellow, danger: red);

$bg-inverse: map-get(map-get($colorscheme, grey), 90);

$text-color: map-get(map-get($colorscheme, grey), 100);
$text-white: map-get($colorscheme, white);
$text-inverse: map-get(map-get($colorscheme, grey), 10);

$link-color: map-get(map-get($colorscheme, navy), 70);
$focus-color: map-get(map-get($colorscheme, navy), 60);

$primary: map-get(map-get($colorscheme, navy), 70);
$secondary: map-get(map-get($colorscheme, mint), 40);
$secondary-alt: map-get(map-get($colorscheme, mint), 50);

$primary-color: map-get(map-get($colorscheme, navy), 70);
$secondary-color: map-get(map-get($colorscheme, mint), 40);
$secondary-color-alt: map-get(map-get($colorscheme, mint), 50);
$brand-color: map-get(map-get($colorscheme, navy), 70);
$success-color: map-get(map-get($colorscheme, mint), 70);
$danger-color: map-get(map-get($colorscheme, red), 70);
$info-color: map-get(map-get($colorscheme, navy), 70);
$warning-color: map-get(map-get($colorscheme, yellow), 60);
$dark-color: map-get(map-get($colorscheme, grey), 90);
$light-color: map-get(map-get($colorscheme, grey), 30);
$muted-color: map-get(map-get($colorscheme, grey), 60);
$grey-color: map-get(map-get($colorscheme, grey), 70);

// borders
$border-color: rgba(0, 0, 0, 0.12);

// font font-family
$font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
$font-family-monospace: Menlo, Consolas, 'Liberation Mono', Courier, monospace;

// text sizes
$text: 0.875rem; // 14px
$text-large: 1rem; // 16px
$text-larger: 1.125rem; // 18px
$text-small: 0.8125rem; // 13px
$text-smaller: 0.75rem; // 12px
$text-smallest: 0.6875rem; // 11px

// line height sizes
$line-height: 1.5rem; // 24px
$line-height-large: 1.5rem; // 24px
$line-height-larger: 1.75rem; // 28px
$line-height-small: 1.25rem; // 20px
$line-height-smaller: 1rem; // 16px

// shadows
$shadow: (
  0: none,
  1: 0 1px 2px 0 rgba(0, 0, 0, 0.1),
  2: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
  3: 0 6px 12px 0 rgba(0, 0, 0, 0.1),
  4: 0 8px 16px 0 rgba(0, 0, 0, 0.1),
  5: 0 12px 24px 0 rgba(0, 0, 0, 0.1)
);

// screen breakpoints
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;

$screen-sizes: xs sm md lg xl;

//z-index default values
$zindex-prominent:            1;
$zindex-dropdown:            10;
$zindex-fixed:               20;
$zindex-backdrop:            30;
$zindex-fixed-with-backdrop: 40;
$zindex-modal:               50;
$zindex-popover:             60;
$zindex-tooltip:             70;

//drawer + sidebar
$drawer-width: 18.75rem;
$drawer-height: 18.75rem;
