.chi-transfer-list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  width: 12.5rem;

  &__menu {
    border: 0.0625rem solid $transfer-list-border-color;
    border-radius: $transfer-list-border-radius;
    height: 18.75rem;
    overflow: auto;
    position: relative;
  }

  &__header {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    align-items: center;
    color: $transfer-list-title-color;
    display: flex;
    font-weight: 700;
    gap: 0.3125rem;
    margin: 0;
  }

  &__header-actions {
    align-items: center;
    display: flex;
    gap: 0.3125rem;
  }

  &__menu-item {
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    transition: all 0.3s;
    background: $transfer-list-item-color;

    &:hover {
      background: $transfer-list-item-hover-color;
    }

    &.-active {
      background: $transfer-list-item-active-color;
    }
  }
}
