@import 'variables';
@import 'mixins';

$badge: c-badge;

.chi {
  .a-badge {
    background-color: set-color(white);
    border: 0.125rem solid set-color(grey, 30);
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(set-color(black), 0.04);
    display: inline-block;
    font-size: 1.375rem;
    font-weight: 600;
    height: 2rem;
    line-height: 2rem;
    padding: 0 0.875rem;
    text-align: center;
    text-transform: uppercase;

    span {
      line-height: 2rem;
      position: relative;
      top: -0.125rem;
      width: 100%;
    }

    &.-pill {
      border-radius: 12px;
    }

    &.-outline {
      background-color: set-color(white);
      border-color: set-color(grey, 50);
      box-shadow: initial;
      color: set-color(grey, 60);
    }

    &.-flat {
      background-color: transparent;
      border-color: transparent;
      box-shadow: initial;
      color: set-color(grey, 60);
    }

    &.-success {
      background-color: $success-color;
      border: 0.125rem solid $success-color;
      color: set-color(white);

      &.-outline {
        background-color: set-color(white);
        color: $success-color;
      }

      &.-flat {
        background-color: transparent;
        border-color: transparent;
        color: $success-color;
      }
    }

    &.-danger {
      background-color: $danger-color;
      border: 0.125rem solid $danger-color;
      color: set-color(white);

      &.-outline {
        background-color: set-color(white);
        color: $danger-color;
      }

      &.-flat {
        background-color: transparent;
        border-color: transparent;
        color: $danger-color;
      }
    }

    &.-info {
      background-color: $info-color;
      border: 0.125rem solid $info-color;
      color: set-color(white);

      &.-outline {
        background-color: set-color(white);
        color: $info-color;
      }

      &.-flat {
        background-color: transparent;
        border-color: transparent;
        color: $info-color;
      }
    }

    &.-dark {
      background-color: $dark-color;
      border: 0.125rem solid $dark-color;
      color: set-color(white);

      &.-outline {
        background-color: set-color(white);
        color: $dark-color;
      }

      &.-flat {
        background-color: transparent;
        border-color: transparent;
        color: $dark-color;
      }
    }

    &.-light {
      background-color: $light-color;
      border: 0.125rem solid $light-color;

      &.-outline {
        background-color: set-color(white);
        color: set-color(grey, 50);
      }

      &.-flat {
        background-color: transparent;
        border-color: transparent;
        color: set-color(grey, 50);
      }
    }
  }
}
