@import 'variables';
@import 'mixins';

$badge: c-badge;

.chi {
  .a-badge {
    background-color: set-color(white);
    border: 0.0625rem solid set-color(grey, 30);
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(set-color(black), 0.04);
    display: inline-block;
    font-size: $text;
    font-weight: 600;
    height: 1.5rem;
    line-height: $line-height;
    padding: 0 0.5rem;
    text-align: center;

    span {
      line-height: $line-height;
      position: relative;
      top: -0.0625rem;
      width: 100%;
    }

    &.-small {
      font-size: $text-smaller;
      height: 1.25rem;
      line-height: $line-height-small;

      span {
        line-height: $line-height-small;
      }
    }

    &.-smaller {
      font-size: $text-smallest;
      height: 1rem;
      line-height: $line-height-smaller;
      padding: 0 0.25rem;

      span {
        line-height: $line-height-smaller;
      }
    }

    &.-pill {
      border-radius: 12px;
    }

    &.-outline {
      background-color: set-color(white);
      border-color: set-color(grey, 50);
      box-shadow: initial;
    }

    &.-flat {
      background-color: transparent;
      border-color: transparent;
      box-shadow: initial;
    }

    &.-brand {
      background-color: $brand-color;
      border: 0.0625rem solid $brand-color;
      color: set-color(white);

      &.-outline {
        background-color: set-color(white);
        color: $brand-color;
      }

      &.-flat {
        background-color: transparent;
        border-color: transparent;
        color: $brand-color;
      }
    }

    &.-success {
      background-color: $success-color;
      border: 0.0625rem solid $success-color;
      color: set-color(white);

      &.-outline {
        background-color: set-color(white);
        color: $success-color;
      }

      &.-flat {
        background-color: transparent;
        border-color: transparent;
        color: $success-color;
      }
    }

    &.-danger {
      background-color: $danger-color;
      border: 0.0625rem solid $danger-color;
      color: set-color(white);

      &.-outline {
        background-color: set-color(white);
        color: $danger-color;
      }

      &.-flat {
        background-color: transparent;
        border-color: transparent;
        color: $danger-color;
      }
    }

    &.-info {
      background-color: $info-color;
      border: 0.0625rem solid $info-color;
      color: set-color(white);

      &.-outline {
        background-color: set-color(white);
        color: $info-color;
      }

      &.-flat {
        background-color: transparent;
        border-color: transparent;
        color: $info-color;
      }
    }

    &.-dark {
      background-color: $dark-color;
      border: 0.0625rem solid $dark-color;
      color: set-color(white);

      &.-outline {
        background-color: set-color(white);
        color: $dark-color;
      }

      &.-flat {
        background-color: transparent;
        border-color: transparent;
        color: $dark-color;
      }
    }

    &.-light {
      background-color: $light-color;
      border: 0.0625rem solid $light-color;

      &.-outline {
        background-color: set-color(white);
        color: set-color(grey, 60);
      }

      &.-flat {
        background-color: transparent;
        border-color: transparent;
        color: set-color(grey, 60);
      }
    }
  }
}
