@import '_global-variables';
@import '_global-mixins';

$states: (
  danger: (
    background-color: $progress-value-danger-background-color,
  ),
  warning: (
    background-color: $progress-value-warning-background-color,
  ),
  info: (
    background-color: $progress-value-info-background-color,
  ),
  success: (
    background-color: $progress-value-success-background-color,
  ),
);

progress {
  // sass-lint:disable-block no-vendor-prefixes
  /* Reset the default appearance */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* Get rid of default border in Firefox. */
  border: 0;
  border-radius: $progress-border-radius;
  /* For IE10 / IE 11 / Edge */
  color: $progress-value-background-color;
  display: block;
  height: $progress-height;
  overflow: hidden;
  width: 100%;

  //Chrome, Safari
  &::-webkit-progress-bar {
    background-color: $progress-background-color;
  }

  &::-webkit-progress-value {
    background-color: $progress-value-background-color;
  }

  //Firefox
  &::-moz-progress-bar {
    background-color: $progress-value-background-color;
  }

  //Fix for 1 px border-right on progress bar in IE10 / IE 11 / Edge
  &::-ms-fill {
    border-color: currentColor;
  }

  @each $state in map-keys($states) {
    &.-#{$state} {
      color: map-get(map-get($states, $state), background-color);

      &::-webkit-progress-value {
        background-color: map-get(map-get($states, $state), background-color);
      }

      &::-moz-progress-bar {
        background-color: map-get(map-get($states, $state), background-color);
      }
    }
  }
}
