@import '_variables';
@import '_mixins';

$states: (
  light: (
    background-color: $light-color,
  ),
  danger: (
    background-color: $danger-color,
  ),
  warning: (
    background-color: $warning-color,
  ),
  info: (
    background-color: $info-color,
  ),
  success: (
    background-color: $success-color,
  )
);

progress {
  // sass-lint:disable-block no-vendor-prefixes
  /* Reset the default appearance */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* Get rid of default border in Firefox. */
  border: 0;
  border-radius: 0.1875rem;
  /* For IE10 / IE 11 / Edge */
  color:  $success-color;
  height: 0.5rem;
  overflow: hidden;
  width: 100%;

  //Chrome, Safari
  &::-webkit-progress-bar {
    background-color: set-color(grey, 20);
  }

  &::-webkit-progress-value {
    background-color: $success-color;
  }

  //Firefox
  &::-moz-progress-bar {
    background-color: $success-color;
  }

  //Fix for 1 px border-right on progress bar in IE10 / IE 11 / Edge
  &::-ms-fill {
    border-color: currentColor;
  }

  @each $state in map-keys($states) {
    &.-#{$state} {
      color: map-get(map-get($states, $state), background-color);

      &::-webkit-progress-value {
        background-color: map-get(map-get($states, $state), background-color);
      }

      &::-moz-progress-bar {
        background-color: map-get(map-get($states, $state), background-color);
      }
    }
  }
}
