@import '_global-variables';
@import '_global-mixins';

$states: (
  danger: (
    background-color: $progress-value-danger-background-color,
  ),
  info: (
    background-color: $progress-value-info-background-color,
  ),
  success: (
    background-color: $progress-value-success-background-color,
  ),
  warning: (
    background-color: $progress-value-warning-background-color,
  ),
);

.chi-progress__bar {
  span {
    color: $progress-percentage-color;
    font-size: $progress-percentage-font-size;
    font-weight: $progress-percentage-font-weight;
  }
}

.chi-progress__bar,
.chi-progress__label {
  align-items: center;
  color: $progress-bar-label-color;
  display: flex;
  font-size: $progress-bar-label-font-size;
  gap: $progress-bar-label-gap;
}

.chi-progress__label {
  margin-top: $progress-label-margin-top;

  chi-spinner {
    align-items: center;
    display: flex;
  }
}

progress {
  // sass-lint:disable-block no-vendor-prefixes
  /* Reset the default appearance */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* Get rid of default border in Firefox. */
  border-radius: $progress-border-radius;
  border: $progress-track-border;
  color: $progress-value-background-color;
  display: block;
  height: $progress-height;
  overflow: hidden;
  width: 100%;

  //Firefox
  &::-moz-progress-bar {
    background-color: $progress-value-background-color;
    border-radius: $progress-border-radius;
  }

  //Chrome, Safari
  &::-webkit-progress-bar {
    background-color: $progress-background-color;
  }

  &::-webkit-progress-value {
    background-color: $progress-value-background-color;
    border-radius: $progress-border-radius;
  }

  @each $state in map-keys($states) {
    &.-#{$state} {
      color: map-get(map-get($states, $state), background-color);

      &::-moz-progress-bar {
        background-color: map-get(map-get($states, $state), background-color);
      }

      &::-webkit-progress-value {
        background-color: map-get(map-get($states, $state), background-color);
      }
    }
  }
}
