@import '_global-variables';
@import '_global-mixins';

$states: (
  danger: (
    background-color: $progress-value-danger-background-color,
  ),
  warning: (
    background-color: $progress-value-warning-background-color,
  ),
  info: (
    background-color: $progress-value-info-background-color,
  ),
  success: (
    background-color: $progress-value-success-background-color,
  ),
);

.chi-progress__bar,
.chi-progress__label {
  align-items: center;
  color: $color-grey-60;
  display: flex;
  font-size: 0.8125rem;
  gap: 0.5rem;
}

.chi-progress__label {
  margin-top: 0.6rem;

  chi-spinner.sc-chi-spinner-h {
    align-items: center;
    display: flex;
  }
}

.chi-progress__bar {
  span {
    color: $color-grey-100;
    font-size: 0.9rem;
    font-weight: 500;
  }
}

progress {
  // sass-lint:disable-block no-vendor-prefixes
  /* Reset the default appearance */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* Get rid of default border in Firefox. */
  border: 0;
  border-radius: $progress-border-radius;
  color: $progress-value-background-color;
  display: block;
  height: $progress-height;
  overflow: hidden;
  width: 100%;
  border: 1px solid $color-grey-30;

  //Chrome, Safari
  &::-webkit-progress-bar {
    background-color: $progress-background-color;
  }

  &::-webkit-progress-value {
    background-color: $progress-value-background-color;
    border-radius: $progress-border-radius;
  }

  //Firefox
  &::-moz-progress-bar {
    background-color: $progress-value-background-color;
    border-radius: $progress-border-radius;
  }

  @each $state in map-keys($states) {
    &.-#{$state} {
      color: map-get(map-get($states, $state), background-color);

      &::-webkit-progress-value {
        background-color: map-get(map-get($states, $state), background-color);
      }

      &::-moz-progress-bar {
        background-color: map-get(map-get($states, $state), background-color);
      }
    }
  }
}
