extends ../layout.pug

block scripts
  script(type="module" src='http://localhost:3333/build/ux-chi-ce.esm.js')
  script(src='../../js/chi.js')

block variables
  - var title = 'Dropdown Select'

block content
  span.-text--h2 With button icons
  .test-dropdown-select-button-icon(style='width: 500px; height: 200px;')
    chi-dropdown-select(data-cy="with-button-icon" active button="- Select -")

  script.
    const items = [
      { label: 'Item 1', buttons: [{icon: "delete"}, {icon: "edit"}], checked: true },
      { label: 'Item 2', buttons: [{icon: "delete", disabled: true}, {icon: "edit"}] },
    ]

    document.querySelector('[data-cy="with-button-icon"]').items = items;
