extends ../layout.pug

block scripts
  script(type="module" src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
  script(src='../../js/chi.js')

block variables
  - var title = 'Modals'

block content
  .chi-col.-w--12.-w-md--6.-w-xl--4
    .test-gradient-type
      h2 Gradient type
      .example.-position--relative.-w--100(style='height: 16rem')
        chi-modal(button="Open modal" title="Modal Title" subtitle="This is the modal subtitle" type="gradient" active)
          | Modal content

    .test-gradient-type-with-header-image
      h2 Gradient type with header image
      .example.-position--relative.-w--100(style='height: 16rem')
        chi-modal(button="Open modal" title="Modal Title" subtitle="This is the modal subtitle" type="gradient" active header-image)
          | Modal content
