@import '_mixins';
@import '_variables';

$transition-duration: 0.2s;

.chi-epanel {
  &__header {
    min-height: 3.5rem;
  }

  & > .chi-epanel__header {
    display: flex;
    margin-left: -0.25rem;
    margin-right: -0.25rem;
    min-height: 0;

    & > * {
      display: block;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }

    & > .chi-epanel__title {
      width: 34.5%;
    }

    & > .chi-epanel__content {
      flex: 1;
      word-break: break-word;
    }

    & > .chi-epanel__action {
      margin-left: auto;
    }

    @include respond-to-only(xs) {
      & > .chi-epanel__number {
        display: none;
      }
    }
    @include respond-to(sm) {
      & > .chi-epanel__number {
        width: 7.5%;

        & ~ .chi-epanel__title,
        & ~ .chi-epanel__name {
          width: 27%;
        }
      }
    }

    & > .chi-epanel__title,
    & > .chi-epanel__number {
      font-size: $text-larger;
      font-weight: 600;
      line-height: 2rem;
      margin: 0;
      transition: color $transition-duration;

      &.-centered {
        text-align: center;
      }
    }
  }

  &.-active {
    & > .chi-epanel__header {
      & > .chi-epanel__title,
      & > .chi-epanel__number {
        color: $brand-color;
      }
    }
  }

  &.-disabled {
    & > .chi-epanel__header {
      & > .chi-epanel__title,
      & > .chi-epanel__number {
        color: $grey-color;
        opacity: 0.4;
      }
    }
  }

  &:not(.-done):not(.-done--transitioning) {
    .-done--only {
      display: none;
    }
  }

  &:not(.-active):not(.-active--transitioning) {
    .-active--only {
      display: none;
    }
  }

  &:not(.-done) {
    .-done--only {
      opacity: 0;
    }
  }

  &:not(.-active) {
    .-active--only {
      opacity: 0;
    }
  }

  &__collapse {
    position: relative;
    transition: height $transition-duration;
  }

  &__footer {
    align-items: center;
    box-shadow: inset 0 1px 0 0 rgba(set-color(black), 0.12);
    display: flex;
    flex-direction: row;
    min-height: 4rem;
    padding: 1rem;
    position: relative;
  }

  .-done--only,
  .-active--only {
    font-size: $text;
    line-height: $line-height-small;
    opacity: 1;
    transition: opacity $transition-duration;
  }

  [data-chi-epanel-action] {
    cursor: pointer;
  }

  &.-bordered {
    background-color: white;
    border: 0.0625rem solid $border-color;
    box-shadow: map-get($shadow, 1);
    margin-bottom: 0.5rem;

    .chi-epanel__header {
      padding: 1.25rem;
    }

    .chi-epanel__body {
      .chi-epanel__content {
        padding: 1.25rem;

        & > :first-child {
          margin-top: 0;
        }

        & > :last-child {
          margin-bottom: 0;
        }

        .chi-epanel__subtitle {
          font-size: $text-large;
          font-weight: 600;
          line-height: $line-height-large;
          margin: 0 0 0.5rem;
        }

        .chi-epanel__text {
          font-size: $text;
          line-height: $line-height-small;
        }
      }
    }

    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }

  &:not(.-bordered) {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;

    &:not(:last-child) {
      border-bottom: 0.0625rem solid $border-color;
    }

    & > .chi-epanel__header+.chi-epanel__collapse:not(.-ml--0) {
      margin-left: 7.5%;
    }

    .chi-epanel__body {
      background-color: white;
      border: 0.0625rem solid $border-color;
      box-shadow: map-get($shadow, 1);
      margin-bottom: 0.5rem;
      margin-top: 1.25rem;

      .chi-epanel__content {
        padding: 1.5rem;

        & > :first-child {
          margin-top: 0;
        }

        & > :last-child {
          margin-bottom: 0;
        }

        .chi-epanel__subtitle {
          font-size: $text-large;
          font-weight: 600;
          line-height: $line-height-large;
          margin: 0 0 0.5rem;
        }

        .chi-epanel__text {
          font-size: $text;
          line-height: $line-height-small;
        }
      }
    }
  }
}
