@import '_global-mixins';
@import '_global-variables';

$transition-duration: 0.2s;

.chi-epanel {
  &__header {
    min-height: 3.5rem;
  }

  & > .chi-epanel__header {
    display: flex;
    flex-direction: column;
    line-height: $expansion-panel-line-height;

    @include respond-to(sm) {
      flex-direction: row;
    }
    margin-left: -0.25rem;
    margin-right: -0.25rem;
    min-height: 0;

    & > * {
      // sass-lint:disable-line no-universal-selectors
      display: block;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }

    & > .chi-epanel__title {
      width: 100%;
      @include respond-to(sm) {
        width: 34.5%;
      }
    }

    & > .chi-epanel__content {
      flex: 1;
      word-break: break-word;
      margin-right: $expansion-panel-content-margin-right;
    }

    & > .chi-epanel__action {
      margin-left: auto;
    }

    @include respond-to-only(xs) {
      & > .chi-epanel__number {
        display: none;
      }
    }

    @include respond-to(sm) {
      & > .chi-epanel__number {
        width: $expansion-panel-number-width;

        & ~ .chi-epanel__title,
        & ~ .chi-epanel__name {
          width: $expansion-panel-title-width;
        }
      }
    }

    & > .chi-epanel__title,
    & > .chi-epanel__number {
      font-size: $font-size-xl;
      font-weight: $expansion-panel-title-font-weight;
      margin: 0;
      transition: color $transition-duration;

      &.-centered {
        text-align: center;
      }
    }

    & > .chi-epanel__number {
      margin-right: $expansion-panel-number-margin-right;
    }

    & > .chi-epanel__title {
      margin-right: $expansion-panel-title-margin-right;
    }
  }

  &.-active {
    & > .chi-epanel__header {
      & > .chi-epanel__title,
      & > .chi-epanel__number {
        color: $expansion-panel-active-title-text-color;
      }
    }
  }

  &.-disabled {
    & > .chi-epanel__header {
      & > .chi-epanel__title,
      & > .chi-epanel__number {
        color: $expansion-panel-disabled-title-text-color;
        opacity: $expansion-panel-disabled-title-opacity;
      }
    }
  }

  &:not(.-done):not(.-done--transitioning) {
    .-done--only {
      display: none;
    }
  }

  &:not(.-active):not(.-active--transitioning) {
    .-active--only {
      display: none;
    }
  }

  &:not(.-done) {
    .-done--only {
      opacity: 0;
    }
  }

  &:not(.-active) {
    .-active--only {
      opacity: 0;
    }
  }

  &__collapse {
    position: relative;
    transition: height $transition-duration;
  }

  &__footer {
    align-items: center;
    box-shadow: inset 0 1px 0 0 $expansion-panel-footer-border-color;
    display: flex;
    flex-direction: column;
    justify-content: $expansion-panel-footer-justify-content;
    min-height: 4rem;
    padding: $expansion-panel-footer-padding;
    position: relative;

    @include respond-to(sm) {
      flex-direction: row;

      &:has(> .chi-button:not([slot='footer']), > chi-button:not([slot='footer'])) {
        flex-direction: $expansion-panel-footer-no-slot-flex-direction;
        justify-content: $expansion-panel-footer-no-slot-justify-content;

        > button.chi-button,
        > chi-button {
          &:not(:first-of-type) {
            margin-left: $expansion-panel-footer-no-slot-button-margin-left;
            margin-right: $expansion-panel-footer-no-slot-button-margin-right;
          }
        }
      }
    }

    .chi-button,
    chi-button {
      justify-content: center;
      width: 100%;

      & + .chi-button,
      & + chi-button {
        margin-top: 1rem;
      }

      @include respond-to(sm) {
        justify-content: unset;
        width: auto;

        & + .chi-button,
        & + chi-button {
          margin-left: 1rem;
          margin-top: 0;
        }
      }
    }
  }

  .-done--only,
  .-active--only {
    font-size: $font-size-base;
    line-height: $expansion-panel-line-height;
    opacity: 1;
    transition: opacity $transition-duration;
  }

  [data-chi-epanel-action] {
    cursor: pointer;
  }

  &.-bordered {
    background-color: $expansion-panel-bordered-background-color;
    border: 0.0625rem solid $expansion-panel-bordered-border-color;
    box-shadow: map-get($shadow, 1);
    margin-bottom: 0.5rem;

    .chi-epanel__header {
      padding: 1.25rem;
    }

    .chi-epanel__body {
      .chi-epanel__content {
        padding: 0 1.25rem 1.25rem;

        & > :first-child {
          margin-top: 0;
        }

        & > :last-child {
          margin-bottom: 0;
        }

        .chi-epanel__subtitle {
          font-size: $font-size-lg;
          font-weight: $font-weight-semi-bold;
          line-height: $line-height-lg;
          margin: 0 0 0.5rem;
        }

        .chi-epanel__text {
          font-size: $font-size-base;
          line-height: $line-height;
        }
      }
    }

    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }

    @include respond-to(sm) {
      &:not(.-no-step) {
        .chi-epanel__body {
          .chi-epanel__content {
            padding-left: calc(7.5% + 1.125rem);
          }
        }
      }
    }
  }

  &:not(.-bordered) {
    padding: $expansion-panel-padding;

    &:not(:last-child) {
      border-bottom: 0.0625rem solid $expansion-panel-border-color;
    }

    .chi-epanel__body {
      background-color: white;
      border: 0.0625rem solid $expansion-panel-border-color;
      border-radius: $expansion-panel-body-border-radius;
      box-shadow: map-get($shadow, 1);
      margin: $expansion-panel-body-margin;

      .chi-epanel__content {
        padding: 1.5rem;

        & > :first-child {
          margin-top: 0;
        }

        & > :last-child {
          margin-bottom: 0;
        }

        .chi-epanel__subtitle {
          font-size: $font-size-lg;
          font-weight: $font-weight-semi-bold;
          line-height: $line-height-lg;
          margin: 0 0 0.5rem;
        }

        .chi-epanel__text {
          font-size: $font-size-base;
          line-height: $line-height;
        }
      }
    }
  }

  &.-no-step {
    & > .chi-epanel__header {
      & + .chi-epanel__collapse {
        margin-left: 0;
        @include respond-to(sm) {
          margin-left: 0;
        }
      }

      .chi-epanel__number {
        display: none;
      }
    }

    .chi-epanel__body {
      margin-left: 0;
    }
  }

  &.-state-icon {
    & > .chi-epanel__header {
      padding-left: 2rem;
      position: relative;

      @include respond-to(sm) {
        padding-left: 2.5rem;
      }
    }

    chi-icon,
    .chi-icon {
      &.-state {
        display: none;
      }
    }

    &.-done {
      chi-icon,
      .chi-icon {
        &.-state {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }

    &:not(.-bordered) {
      & > .chi-epanel__header {
        & + .chi-epanel__collapse {
          @include respond-to(sm) {
            margin-left: 2.5rem;
          }
        }
      }
    }

    &.-no-step {
      &:not(.-bordered) {
        & > .chi-epanel__header {
          & + .chi-epanel__collapse {
            @include respond-to(sm) {
              margin-left: 2.5rem;
            }
          }
        }
      }
    }

    &.-bordered {
      & > .chi-epanel__header {
        padding-left: 3.5rem;

        @include respond-to(sm) {
          padding-left: 4rem;
        }
      }

      .chi-epanel__body {
        .chi-epanel__content {
          padding-left: 3.5rem;

          @include respond-to(sm) {
            padding-left: calc(7.5% + 3.625rem);
          }
        }
      }

      &.-no-step {
        .chi-epanel__body {
          .chi-epanel__content {
            padding-left: 3.5rem;

            @include respond-to(sm) {
              padding-left: 4rem;
            }
          }
        }
      }

      &.-done {
        & > .chi-epanel__header {
          chi-icon,
          .chi-icon {
            &.-state {
              display: block;
              position: absolute;
              left: 1.25rem;
              top: 1.625rem;
            }
          }
        }
      }
    }
  }

  &__wrapper {
    background-color: $color-background-base-darker;
    border: 0.0625rem solid $color-grey-30;
    border-radius: 0.625rem;
    padding: 0 1.5rem;
  }
}

chi-expansion-panel {
  &:not(:last-of-type) {
    .chi-epanel:not(.-bordered) {
      border-bottom: 0.0625rem solid $expansion-panel-border-color;
    }
  }
}
