@import 'mixins';
@import 'variables';

.chi {

  .m-epanel {
    border: .0625rem solid rgba(0,0,0,.12);

    &__header {
      min-height: 3.5rem;
      padding: 1rem;
      position: relative;
    }

    &__activator-header {
      align-items: center;
      display: flex;
      height: 3.5rem;
      position: absolute;
      right: 1rem;
      top: 0;
    }

    &:not(.-done) .-done--only {
      display: none;
    }

    &:not(.-active) .-active--only {
      display: none;
    }

    &__title {
      font-size: $text-larger;
      line-height: $line-height-larger;
      margin: 0;

      &.-centered {
        text-align: center;
      }
    }

    &.-active .m-epanel__title {
      color: $brand-color;
    }

    &__contentWrapper {

    }

    &__body {
      padding: 1rem;

      & > :first-child {
        margin-top: 0;
      }

      & > :last-child {
        margin-bottom: 0;
      }
    }

    &__footer {
      align-items: center;
      box-shadow: inset 0 1px 0 0 rgba(set-color(black), 0.12);
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      min-height: 4rem;
      padding: 1rem;
      position: relative;

      &.-noBorder {
        box-shadow: none;
      }
    }
  }

}
