.chi-backdrop.-closed
  .chi-backdrop__wrapper
    div#drawer-1.chi-drawer.-left.-menu.-position--absolute
      .chi-drawer__header
        span.chi-drawer__title Filters
        button(class='chi-button -icon -close',  aria-label='Close')
          .chi-button__content
            i.chi-icon.icon-x
      .chi-drawer__content.-px--2.-py--3   
        .chi-form__item.-mb--2
          label.chi-label(for="example-ba11") Label
          select(class="chi-select", id="example-ba11")
            option(value="") Select
            option Option 1
            option Option 2
            option Option 3
        .chi-form__item.-mb--2
          label.chi-label(for="example-ba12") Label
          select(class="chi-select", id="example-ba12")
            option(value="") Select
            option Option 1
            option Option 2
            option Option 3
        .chi-form__item.-mb--2
          label.chi-label(for="example-ba13") Label
          select(class="chi-select", id="example-ba13")
            option(value="") Select
            option Option 1
            option Option 2
            option Option 3
        .chi-form__item.-mb--2
          label.chi-label(for="example-ba14") Label
           select(class="chi-select", id="example-ba14")
            option(value="") Select
            option Option 1
            option Option 2
            option Option 3
      .-d--flex.-justify-content--center.-pb--2
        button.chi-button.-primary.-lg.-uppercase.-px--4 Apply
        button.chi-button.-primary.-outline.-lg.-bg--white.-uppercase.-px--4.-ml--2 Cancel
.chi-backdrop.-closed 
  .chi-backdrop__wrapper
    div#drawer-2.chi-drawer.-right.-menu.-position--absolute
      .chi-drawer__header
        span.chi-drawer__title Actions
        button(class='chi-button -icon -close', aria-label='Close')
          .chi-button__content
            i.chi-icon.icon-x
      .chi-drawer__content.-px--2
        ul.-no-style
          li.-text--md Download data
          .chi-divider
          li.-text--md Refresh results
          .chi-divider