@import '_shine';

$sizes: (
  'xs': 0.75rem,
  'sm': 1rem,
  'md': 1.25rem,
  'lg': 1.5rem,
  'xl': 2rem,
  'xxl': 2.5rem);

chi-brand:not(.hydrated) {
  animation: shine $animation-duration infinite linear;
  display: block;
  font-size: 0;
  height: 1.25rem;
  width: 8.75rem;

  @each $name, $height in $sizes {
    &[size=#{$name}] {
      height: $height;
      width: $height * 5;
    }
  }

  @include background-gradient;
}
