@import '_shine';

$brand-sizes: (
  xs: (
    lumen-height: 0.75rem,
    lumen-width: 5.25rem,
    centurylink-height: 1rem,
    centurylink-width: 4.875rem,
  ),
  sm: (
    lumen-height: 1rem,
    lumen-width: 7rem,
    centurylink-height: 1.25rem,
    centurylink-width: 6.09375rem,
  ),
  md: (
    lumen-height: 1.25rem,
    lumen-width: 8.75rem,
    centurylink-height: 2rem,
    centurylink-width: 9.75rem,
  ),
  lg: (
    lumen-height: 1.5rem,
    lumen-width: 10.5rem,
    centurylink-height: 2.5rem,
    centurylink-width: 12.1875rem,
  ),
  xl: (
    lumen-height: 2rem,
    lumen-width: 14rem,
    centurylink-height: 3rem,
    centurylink-width: 14.625rem,
  ),
  xxl: (
    lumen-height: 2.5rem,
    lumen-width: 17.5rem,
    centurylink-height: 3.5rem,
    centurylink-width: 17.0625rem,
  ),
);

chi-brand:not(.hydrated) {
  animation: shine $animation-duration infinite linear;
  display: block;
  font-size: 0;
  height: map-get(map-get($brand-sizes, md), lumen-height);
  width: map-get(map-get($brand-sizes, md), lumen-width);

  @each $size in map-keys($brand-sizes) {
    &[size=#{$size}] {
      height: map-get(map-get($brand-sizes, $size), lumen-height);
      width: map-get(map-get($brand-sizes, $size), lumen-width);
    }

    &[logo='centurylink'] {
      height: 2rem;
      width: 9.951rem;

      &[size=#{$size}] {
        height: map-get(map-get($brand-sizes, $size), centurylink-height);
        width: map-get(map-get($brand-sizes, $size), centurylink-width);
      }
    }
  }

  @include background-gradient;
}
