@import '_shine';

@mixin background-gradient {
  background-image: linear-gradient(-45deg, $base-color 0, $shine-color 4rem, $base-color 8rem);
  background-size: 75rem;
}

chi-button:not(.hydrated) {
  animation: shine $animation-duration infinite linear;
  display: inline-flex;
  font-size: 0;
  height: 2rem;
  width: 6rem;

  &[size='sm'] {
    height: 1.5rem;
  }

  &[size='lg'] {
    height: 2.5rem;
  }

  &[size='xl'] {
    height: 3rem;
  }

  &[type='icon'] {
    width: 2rem;

    &[size='sm'] {
      width: 1.5rem;
    }
  
    &[size='lg'] {
      width: 2.5rem;
    }
  
    &[size='xl'] {
      width: 3rem;
    }
  }

  @include background-gradient;
}
