@import '_shine';

chi-progress:not(.hydrated) {
  animation: shine $animation-duration infinite linear;
  display: block;
  font-size: 0;
  height: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.75rem;

  @include background-gradient;
}
