@import 'mixins';
@import 'variables';

$modal: c-modal;
$backdrop: #{$modal}-backdrop;

.-disableScroll {
  overflow: hidden;
}

.chi {
  .a-modal__backdrop {
    background-color: rgba(set-color(black), 0.65);
    height: 100%;
    left: 0;
    padding: 0 0.5rem;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;

    &.-inverse {
      background-color: rgba(set-color(white), 0.8);
    }
  }

  .a-modal {
    background-color: set-color(white);
    border-radius: 3px;
    box-shadow: 0 0 25px 10px rgba(set-color(black), 0.15);
    margin: 128px auto 0;
    max-width: 600px;
    min-width: 0;
    overflow: hidden;
    pointer-events: all;
    top: 128px;
    width: 100%;

    &__header {
      box-shadow: inset 0 -1px 0 0 set-color(grey, 30);
      min-height: 3.5rem;
      padding: 1rem;
      position: relative;

      &.-noBorder {
        box-shadow: none;
      }

      .a-modal__title {
        font-size: $text-large;
        font-weight: bold;
        line-height: $line-height-large;
        margin: 0;
        text-transform: capitalize;

        &.-centered {
          text-align: center;
        }
      }

      .a-modal__close {
        background-color: transparent;
        background-image: url('./icon-close.svg');
        border: 0;
        cursor: pointer;
        height: 1rem;
        outline: none;
        padding: 0;
        position: absolute;
        right: 1rem;
        top: 1.25rem;
        width: 1rem;
      }

      .a-modal__back {
        & {
          align-items: center;
          background-color: transparent;
          border: 0;
          cursor: pointer;
          display: flex;
          left: 1rem;
          outline: none;
          padding: 0;
          position: absolute;
          top: 1.25rem;
        }

        &::before {
          background-image: url('./icon-back.svg');
          content: '';
          display: block;
          height: 1rem;
          margin-right: 0.5rem;
          width: 1rem;
        }

        &::after {
          color: set-color(grey, 50);
          content: 'Back';
          display: block;
          font-size: $text;
          font-weight: 600;
        }

      }
    }

    &__content {
      font-size: $text-small;
      line-height: $line-height-smaller;
      padding: 1.5rem;
    }

    &__footer {
      box-shadow: inset 0 1px 0 0 set-color(grey, 30);
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      min-height: 4rem;
      padding: 1rem;
      position: relative;

      &.-noBorder {
        box-shadow: none;
      }
    }
  }
}
