header.o-header.-inverse.docs-header.-z--20
  #version-check.-w--100
  script.
    if (localStorage.getItem("chiVersions") !== null) {
      if (JSON.parse(localStorage.getItem("chiVersions"))[0] !== window.chiCurrentVersion) {
        var chiVersions = JSON.parse(localStorage.getItem("chiVersions"));
        var docsContainerSelector = document.getElementById('docs-container');
        var chiVersionCheckSelector = document.getElementById('version-check');
        var newVersionMessage = document.createElement('div');

        newVersionMessage.setAttribute("class", "m-alert -banner -center -info -w--100");
        newVersionMessage.setAttribute("role", "alert");
        newVersionMessage.innerHTML = `<i class="a-icon m-alert__icon icon-circle-info -text--info"></i><div class="m-alert__content"><p class="m-alert__text">A new version of Chi is available! &nbsp;<a href="https://assets.ctl.io/chi/">Learn more &#8250;</a></p>`;
        chiVersionCheckSelector.appendChild(newVersionMessage, chiVersionCheckSelector.childNodes[0]);
        docsContainerSelector.classList.add("outdated-version");
      }

    }
  div.a-divider.-colorbar
  nav.o-header__content
    .o-header__brand
      a.a-brand.docs-header__logo(href=`${rootPath}`, aria-label='CenturyLink')
        img(src='https://assets.ctl.io/images/centurylink-logo-white.svg', alt='CenturyLink')
      span.o-header__title.-d--none.-d-lg--flex
        | Chi Documentation
    .o-header__start
      .-chi-search
        .a-inputWrapper.-icon--right.-flex--grow1
          input.a-input.searchbox(type="text", placeholder="Search")
          i.a-icon.icon-search
    .o-header__end
      .m-dropdown
        button.a-btn.-flat.-light.-px--1.m-dropdown__trigger(data-position='bottom-end', id='version-dropdown') v1.2.5
        .m-dropdown__menu(style='width:10rem;')#versionDropdown
          a.m-dropdown__menu-item.-active(href='https://assets.ctl.io/chi/1.2.5') v1.2.5
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.2.4') v1.2.4
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.2.3') v1.2.3
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.2.2') v1.2.2
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.2.1') v1.2.1
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.2.0') v1.2.0
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.1.1') v1.1.1
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.1.0') v1.1.0
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.0.0') v1.0.0
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/0.9.1') v0.9.1
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/0.9.0') v0.9.0
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/0.8.3') v0.8.3
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/0.8.2') v0.8.2
      script.
        if (localStorage.getItem("chiVersions") !== null) {
          if (JSON.parse(localStorage.getItem("chiVersions"))[0] !== window.chiCurrentVersion) {
            var drop = document.getElementById('versionDropdown');
            var versions = JSON.parse(localStorage.getItem("chiVersions"));
            var docsContainerSelector = document.getElementById('docs-container');

            while (drop.childNodes.length > 0) {
                drop.removeChild(drop.firstChild);
            }

            for (let version in versions) {
              var versionAnchor = document.createElement('a');
              
              versionAnchor.setAttribute("href", "https://assets.ctl.io/chi/"+versions[version]);
              versionAnchor.setAttribute("class", "m-dropdown__menu-item");
              versionAnchor.innerText = "v" + versions[version];
              drop.appendChild(versionAnchor);
            }
            
            docsContainerSelector.classList.add("outdated-version");
          }
        }
      .m-dropdown
        button.a-btn.-flat.-light.-px--1.-ml--1.m-dropdown__trigger(data-position='bottom-end', id='support') Support
        .m-dropdown__menu(style='width:14rem;')
          a.m-dropdown__menu-item(id='contact', href='mailto:chi.support@centurylink.com') Email Support
          a.m-dropdown__menu-item(id='teams', href='https://teams.microsoft.com/l/channel/19%253aa08fdfde482543ea80f81ce484cea21b%2540thread.skype/CHI?groupId=8631295d-43fc-4e40-93e5-dc8c9ab4d127&tenantId=72b17115-9915-42c0-9f1b-4f98e5a4bcd2', target='_blank')
            | Talk #Chi on Microsoft Teams
      a.a-btn.-icon.-flat.-light.-ml--1(href='https://github.com/CenturyLinkCloud/ux-chi')
        .a-btn__content
          i.a-icon.icon-logo-github