header.chi-header.docs-header.-z--20
  #version-check.-w--100
  script.
    function versionCompare(v1, v2) {
      var v1parts = v1.split('.'),
          v2parts = v2.split('.');

      for (var i = 0; i < v1parts.length; ++i) {
          if (v2parts.length == i) {
              return false;
          }

          if (Number(v1parts[i]) == Number(v2parts[i])) {
              continue;
          } else if (Number(v1parts[i]) > Number(v2parts[i])) {
              return false;
          } else {
              return true;
          }
      }

      return false;
    }

    if (localStorage.getItem("chiVersions") !== null) {
      if (versionCompare(window.chiCurrentVersion, JSON.parse(localStorage.getItem("chiVersions"))[0])) {
        var chiVersions = JSON.parse(localStorage.getItem("chiVersions"));
        var docsContainerSelector = document.getElementById('docs-container');
        var chiVersionCheckSelector = document.getElementById('version-check');
        var newVersionMessage = document.createElement('div');

        newVersionMessage.setAttribute("class", "chi-alert -banner -center -warning -w--100");
        newVersionMessage.setAttribute("role", "alert");
        newVersionMessage.innerHTML = '<i class="chi-icon chi-alert__icon icon-warning -icon--warning" aria-hidden="true"></i><div class="chi-alert__content"><p class="chi-alert__text">A new version of Chi is available! &nbsp;<a href="https://assets.ctl.io/chi/'+chiVersions[0]+'">Learn more &#8250;</a></p>';
        chiVersionCheckSelector.appendChild(newVersionMessage, chiVersionCheckSelector.childNodes[0]);
        docsContainerSelector.classList.add("outdated-version");
      }
    }
  style(type="text/css").
    .theme-lumen a.theme-trigger-lumen.chi-dropdown__menu-item,
    .theme-portal a.theme-trigger-portal.chi-dropdown__menu-item,
    .theme-centurylink a.theme-trigger-centurylink.chi-dropdown__menu-item {
      background-color: #e6f0ff;
      color: #0047bb;
      font-weight: 500;
    }

    .theme-brightspeed a.theme-trigger-brightspeed.chi-dropdown__menu-item {
      background-color: #fff1bf;
      color: #000;
      font-weight: 600;
    }

    .-lumen--show,
    .-centurylink--show,
    .-portal--show,
    .-brightspeed--show,
    .-colt--show {
      display: block;
    }

    .-lumen--hide,
    .-centurylink--hide,
    .-portal--hide,
    .-brightspeed--hide,
    .-colt--hide {
      display: none;
    }

    .theme-centurylink .-lumen--show,
    .theme-centurylink .-portal--show,
    .theme-centurylink .-brightspeed--show,
    .theme-centurylink .-colt--show,
    .theme-centurylink .-centurylink--hide,
    .theme-centurylink .-centurylink--hide.-colt--hide,
    .theme-centurylink .-centurylink--hide.-colt--hide.-brightspeed--hide {
      display: none;
    }

    .theme-lumen .-portal--show,
    .theme-lumen .-centurylink--show,
    .theme-lumen .-brightspeed--show,
    .theme-lumen .-colt--show,
    .theme-lumen .-lumen--hide {
      display: none;
    }

    .theme-portal .-lumen--show,
    .theme-portal .-centurylink--show,
    .theme-portal .-brightspeed--show,
    .theme-portal .-colt--show,
    .theme-portal .-portal--hide,
    .theme-portal .-portal--hide.-brightspeed--hide {
      display: none;
    }

    .theme-brightspeed .-lumen--show,
    .theme-brightspeed .-centurylink--show,
    .theme-brightspeed .-portal--show,
    .theme-brightspeed .-colt--show,
    .theme-brightspeed .-brightspeed--hide,
    .theme-brightspeed .-portal--hide.-brightspeed--hide,
    .theme-brightspeed .-centurylink--hide.-colt--hide.-brightspeed--hide {
      display: none;
    }

    .theme-brightspeed .-portal--hide,
    .theme-brightspeed .-centurylink--hide,
    .theme-brightspeed .-lumen--hide {
      display: none;
    }

    .theme-colt .-lumen--show,
    .theme-colt .-centurylink--show,
    .theme-colt .-portal--show,
    .theme-colt .-brightspeed--show,
    .theme-colt .-colt--hide,
    .theme-colt .-centurylink--hide.-colt--hide,
    .theme-colt .-centurylink--hide.-colt--hide.-brightspeed--hide,
    .theme-colt .-portal--hide.-brightspeed--hide,
    .theme-colt .-colt--hide.-brightspeed--hide,
    .theme-colt .-colt--hide.-brightspeed--hide.-portal--hide {
      display: none;
    }

    .theme-colt .-portal--hide,
    .theme-colt .-centurylink--hide,
    .theme-colt .-lumen--hide {
      display: none;
    }

    .theme-portal .-lumen--hide,
    .theme-portal .-centurylink--hide,
    .theme-portal .-brightspeed--hide,
    .theme-portal .-colt--hide,
    .theme-centurylink .-portal--hide,
    .theme-centurylink .-lumen--hide,
    .theme-centurylink .-brightspeed--hide,
    .theme-centurylink .-colt--hide,
    .theme-lumen .-portal--hide,
    .theme-lumen .-centurylink--hide,
    .theme-lumen .-brightspeed--hide,
    .theme-lumen .-colt--hide,
    .theme-colt .-lumen--hide,
    .theme-colt .-centurylink--hide,
    .theme-colt .-colt--show,
    .theme-colt .-portal--hide.-colt--show,
    .theme-brightspeed .-brightspeed--show,
    .theme-brightspeed .-centurylink--hide,
    .theme-brightspeed .-colt--hide,
    .theme-portal .-portal--show.-brightspeed--show {
      display: block;
    }

    .chi-brand {
      margin: 0;
    }
    @media only screen and (min-width: 992px) {
      .chi .docs-header__logo .chi-brand {
        margin: 0 1.5rem 0 0;
      }
    }
    .chi .docs-header__logo .chi-brand.-centurylink {
      width: 6.09375rem;
    }
    @media only screen and (min-width: 768px) {
      .chi .docs-header__logo .chi-brand.-centurylink {
        margin: 0 1.5rem 0 0;
        width: 9.75rem;
      }
    }
    .chi .docs-header__logo .chi-brand.-centurylink > img, .chi .docs-header__logo .chi-brand.-centurylink > svg {
      height: 1.25rem;
      width: 6.09375rem;
    }
    @media only screen and (min-width: 768px) {
      .chi .docs-header__logo .chi-brand.-centurylink > img, .chi .docs-header__logo .chi-brand.-centurylink > svg {
        height: 2rem;
        width: 9.75rem;
      }
    }
    .chi .docs-header__logo .chi-brand.-lumen {
      width: 7.1875rem;
    }
    @media only screen and (min-width: 768px) {
      .chi .docs-header__logo .chi-brand.-lumen {
        margin: 0 1rem 0 0;
        width: 8.75rem;
      }
    }
    @media only screen and (min-width: 992px) {
      .chi .docs-header__logo .chi-brand.-lumen {
        margin: 0 3rem 0 0;
      }
    }
    .chi .docs-header__logo .chi-brand.-lumen > img, .chi .docs-header__logo .chi-brand.-lumen > svg {
      height: 1rem;
      width: 7.1875rem;
    }
    @media only screen and (min-width: 768px) {
      .chi .docs-header__logo .chi-brand.-lumen > img, .chi .docs-header__logo .chi-brand.-lumen > svg {
        height: 1.25rem;
        width: 8.75rem;
      }
    }
    .chi.theme-portal .docs-header .chi-header__content .chi-header__start .-chi-search .chi-input {
      height: 2.5rem !important;
    }
    .chi.theme-portal .docs-header .chi-header__content .chi-header__start .-chi-search .chi-icon {
      color: #0262B9;
      font-size: 1.25rem;
      height: 1.25rem;
      line-height: 1.25rem;
      top: 0.625rem;
      width: 1.25rem;
    }
    .chi.theme-portal .example .example-tabs .chi-tabs,
    .chi.theme-brightspeed .example .example-tabs .chi-tabs,
    .chi.theme-colt .example .example-tabs .chi-tabs {
      height: 3rem;
    }
    .chi.theme-portal .example .example-tabs .chi-tabs > li > a,
    .chi.theme-brightspeed .example .example-tabs .chi-tabs > li > a,
    .chi.theme-colt .example .example-tabs .chi-tabs > li > a {
      line-height: 1.5rem;
      padding: 0.75rem 0;
    }
  nav.chi-header__content
    .chi-header__brand#header-brand
      button#drawer-trigger-1.chi-button.-icon.-flat.-mr-md--2.-d--flex.-d-lg--none.chi-drawer__trigger(data-target='#drawer-sidenav', aria-label="Toggle documentation navigation")
        .chi-button__content
          i.chi-icon.-sm--2.icon-menu(aria-hidden="true")
      a.docs-header__logo(href=`${rootPath}`, aria-label='Lumen')
        chi-brand#header-logo(logo="lumen")
      span.chi-header__title.-d--none.-d-lg--flex
        | Chi Design System
    .chi-header__start
      #docsearch.-chi-search
    .chi-header__end
      .chi-dropdown
        button.chi-button.-flat.-px--1.chi-dropdown__trigger.-animate(data-position='bottom-end', id='version-dropdown', aria-label="Toggle Chi version") v5.35.0
        .chi-dropdown__menu(style='width:10rem;')#versionDropdown
          a.chi-dropdown__menu-item.-active(href='https://assets.ctl.io/chi/5.35.0') v5.35.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.34.0') v5.34.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.33.0') v5.33.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.32.0') v5.32.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.31.0') v5.31.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.30.0') v5.30.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.29.0') v5.29.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.28.0') v5.28.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.27.0') v5.27.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.26.0') v5.26.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.25.0') v5.25.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.24.0') v5.24.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.23.0') v5.23.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.22.0') v5.22.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.21.0') v5.21.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.20.1') v5.20.1
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.20.0') v5.20.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.19.0') v5.19.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.18.0') v5.18.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.17.0') v5.17.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.16.0') v5.16.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.15.0') v5.15.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.14.1') v5.14.1
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.14.0') v5.14.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.13.1') v5.13.1
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.13.0') v5.13.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.12.0') v5.12.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.11.0') v5.11.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.9.1') v5.9.1
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.9.0') v5.9.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.8.0') v5.8.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.7.0') v5.7.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.6.0') v5.6.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.5.0') v5.5.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.4.0') v5.4.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.3.1') v5.3.1
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.3.0') v5.3.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.2.0') v5.2.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.1.0') v5.1.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/5.0.0') v5.0.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/4.4.0') v4.4.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/4.3.0') v4.3.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/4.2.0') v4.2.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/4.1.2') v4.1.2
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/4.1.1') v4.1.1
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/4.1.0') v4.1.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/4.0.0') v4.0.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/3.17.0') v3.17.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/3.16.0') v3.16.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/3.15.0') v3.15.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/3.14.0') v3.14.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/3.13.0') v3.13.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/3.12.0') v3.12.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/3.11.0') v3.11.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/3.10.0') v3.10.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/3.9.0') v3.9.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/3.8.0') v3.8.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/3.7.0') v3.7.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/3.6.0') v3.6.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/3.5.0') v3.5.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/3.4.0') v3.4.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/3.3.0') v3.3.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/3.2.0') v3.2.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/3.1.1') v3.1.1
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/3.1.0') v3.1.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/3.0.0') v3.0.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/2.6.0') v2.6.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/2.5.1') v2.5.1
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/2.5.0') v2.5.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/2.4.1') v2.4.1
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/2.4.0') v2.4.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/2.3.0') v2.3.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/2.2.0') v2.2.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/2.1.0') v2.1.0
          a.chi-dropdown__menu-item(href='https://assets.ctl.io/chi/2.0.0') v2.0.0
      script.
        if (localStorage.getItem("chiVersions") !== null) {
          if (versionCompare(window.chiCurrentVersion, JSON.parse(localStorage.getItem("chiVersions"))[0])) {
            var drop = document.getElementById('versionDropdown');
            var versions = JSON.parse(localStorage.getItem("chiVersions"));
            var docsContainerSelector = document.getElementById('docs-container');

            while (drop.childNodes.length > 0) {
                drop.removeChild(drop.firstChild);
            }

            for (let version in versions.slice(0, 4)) {
              var versionAnchor = document.createElement('a');

              versionAnchor.setAttribute("href", "https://assets.ctl.io/chi/"+versions[version]);
              versionAnchor.setAttribute("class", "chi-dropdown__menu-item");
              versionAnchor.innerText = "v" + versions[version];
              if (window.chiCurrentVersion === versions[version]) {
                versionAnchor.classList.add('-active');
              }
              drop.appendChild(versionAnchor);
            }

            docsContainerSelector.classList.add("outdated-version");
          }
        }
      .chi-dropdown
        button.chi-button.-flat.-px--1.-ml--1.chi-dropdown__trigger.-animate(data-position='bottom-end', id='support') Support
        .chi-dropdown__menu(style='width:14rem;')
          a.chi-dropdown__menu-item(id='contact', href='mailto:chi.support@centurylink.com') Email Support
          a.chi-dropdown__menu-item(id='teams', href='https://teams.microsoft.com/l/channel/19%253aa08fdfde482543ea80f81ce484cea21b%2540thread.skype/CHI?groupId=8631295d-43fc-4e40-93e5-dc8c9ab4d127&tenantId=72b17115-9915-42c0-9f1b-4f98e5a4bcd2', target='_blank', rel="noopener")
            | Talk #Chi on Microsoft Teams
      a#github-button.chi-button.-icon.-flat.-ml--1(href='https://github.com/CenturyLink/Chi', rel="noopener", aria-label="GitHub", data-tooltip="GitHub")
        .chi-button__content
          i.chi-icon.icon-logo-github(aria-hidden="true")

.chi-backdrop.-closed
  .chi-backdrop__wrapper
    div#drawer-sidenav.chi-drawer.-left.-menu.-position--absolute
      button(class='chi-button -icon -close', aria-label='Close')
        .chi-button__content
          i.chi-icon.icon-x(aria-hidden="true")
      .chi-drawer__content
        .-py--2
          include sidenav

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      Array.prototype.forEach.call(
        document.getElementsByClassName("chi-drawer__trigger"),
        function (el) {
          chi.drawer(el);
          chi.tooltip(document.getElementById('github-button'));
        }
      );
    },
    false
  );
