header.o-header.-inverse.docs-header.-z--20
  nav.o-header__content
    .o-header__brand
      a.a-brand.docs-header__logo(href=`${rootPath}`, aria-label='CenturyLink')
        img(src='https://assets.ctl.io/images/centurylink-logo-white.svg', alt='CenturyLink')
      span.o-header__title Chi Documentation
    .o-header__end
      .m-dropdown
        button.a-btn.-flat.-light.-px--1.m-dropdown__trigger(data-position='bottom-end', id='version-dropdown') v1.2.3
        .m-dropdown__menu(style='width:10rem;')
          a.m-dropdown__menu-item.-active(href='https://assets.ctl.io/chi/1.2.3') v1.2.3
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.2.2') v1.2.2
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.2.1') v1.2.1
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.2.0') v1.2.0
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.1.1') v1.1.1
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.1.0') v1.1.0
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.0.0') v1.0.0
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/0.9.1') v0.9.1
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/0.9.0') v0.9.0
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/0.8.3') v0.8.3
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/0.8.2') v0.8.2
      a.a-btn.-flat.-light.-px--1.-ml--1(id='contact', href='mailto:chi.support@centurylink.com')
        | Support
      a.a-btn.-icon.-flat.-light.-ml--1(href='https://github.com/CenturyLinkCloud/ux-chi')
        .a-btn__content
          i.a-icon.icon-logo-github
