header.o-header.-inverse.docs-header.-z--20
  nav.o-header__content
    .o-header__brand
      a.a-brand.docs-header__logo(href=`${rootPath}`, aria-label='CenturyLink')
        img(src='https://assets.ctl.io/images/centurylink-logo-white.svg', alt='CenturyLink')
      span.o-header__title Chi Documentation
    .o-header__end
      .m-dropdown
        button.a-btn.-flat.-light.-px--1.m-dropdown__trigger(data-position='bottom-end', id='version-dropdown') v1.2.4
        .m-dropdown__menu(style='width:10rem;')
          a.m-dropdown__menu-item.-active(href='https://assets.ctl.io/chi/1.2.4') v1.2.4
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.2.3') v1.2.3
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.2.2') v1.2.2
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.2.1') v1.2.1
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.2.0') v1.2.0
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.1.1') v1.1.1
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.1.0') v1.1.0
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.0.0') v1.0.0
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/0.9.1') v0.9.1
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/0.9.0') v0.9.0
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/0.8.3') v0.8.3
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/0.8.2') v0.8.2
      .m-dropdown
        button.a-btn.-flat.-light.-px--1.-ml--1.m-dropdown__trigger(data-position='bottom-end', id='support') Support
        .m-dropdown__menu(style='width:14rem;')
          a.m-dropdown__menu-item(id='contact', href='mailto:chi.support@centurylink.com') Email Support
          a.m-dropdown__menu-item(id='teams', href='https://teams.microsoft.com/l/channel/19%253aa08fdfde482543ea80f81ce484cea21b%2540thread.skype/CHI?groupId=8631295d-43fc-4e40-93e5-dc8c9ab4d127&tenantId=72b17115-9915-42c0-9f1b-4f98e5a4bcd2', target='_blank')
            | Talk #Chi on Microsoft Teams
      a.a-btn.-icon.-flat.-light.-ml--1(href='https://github.com/CenturyLinkCloud/ux-chi')
        .a-btn__content
          i.a-icon.icon-logo-github
