header.o-header.-inverse.docs-header.-z--100
  nav.o-header__content
    a.a-brand.docs-header__logo(href=`${rootPath}`, aria-label='CenturyLink')
      img(src='https://assets.ctl.io/images/centurylink-logo-inverse.svg', alt='CenturyLink')
    .o-header__start
      span.o-header__title.-text--muted Chi Documentation
    .o-header__end
      .m-dropdown.-mr--1
        button.a-btn.-flat.-inverse.-px--1.m-dropdown__trigger(data-position='bottom-end', id='version-dropdown') v1.0.1
        .m-dropdown__menu(style='width:10rem;')
          a.m-dropdown__menu-item.-active(href='https://assets.ctl.io/chi/1.0.1') v1.0.1
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/1.0.0') v1.0.0
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/0.9.1') v0.9.1
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/0.9.0') v0.9.0
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/0.8.3') v0.8.3
          a.m-dropdown__menu-item(href='https://assets.ctl.io/chi/0.8.2') v0.8.2
      a.a-btn.-icon.-flat.-inverse(href='https://github.com/CenturyLinkCloud/ux-chi')
        .a-btn__content
          i.a-icon.icon-logo-github
