if name === 'dist/chi.css'
  pre.language-html
    code.language-html
      span.token.tag
        span.token.tag
          span.token.punctuation &lt;
          | link&nbsp;
        span.token.attr-name rel
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | stylesheet
          span.token.punctuation &quot;&nbsp;
        span.token.attr-name href
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | https://assets.ctl.io/chi/3.11.0/chi.css
          span.token.punctuation &quot;&nbsp;
          span.token.attr-name integrity
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          div.-d--inline-block #{data[name]}
          span.token.punctuation &quot;
        span.token.punctuation &gt;

if name === 'dist/js/chi.js'
  pre.language-html
    code.language-html
      span.token.tag
        span.token.tag
          span.token.punctuation &lt;
          | script&nbsp;
        span.token.attr-name src
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          | https://assets.ctl.io/chi/3.11.0/js/chi.js
          span.token.punctuation &quot;&nbsp;
        span.token.attr-name integrity
        span.token.attr-value
          span.token.punctuation.attr-equals =
          span.token.punctuation &quot;
          div.-d--inline-block #{data[name]}
          span.token.punctuation &quot;
        span.token.punctuation &gt;
      span.token.script
      span.token.tag
        span.token.tag
          span.token.punctuation &lt;/
          | script
        span.token.punctuation &gt;
