@import '_mixins';
@import '_variables';

$icon-sizes: (
  xs: 0.75rem,
  sm: 1rem,
  sm--2: 1.25rem,
  sm--3: 1.5rem,
  md: 2rem,
  lg: 4rem,
  xl: 6rem,
  xxl: 8rem);

.chi-icon {
  display: inline-block;
  height: 1rem;
  position: relative;
  width: 1rem;

  & > svg {
    fill: currentColor;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @each $type in map-keys($icon-sizes) {
    &.-#{$type} {
      height: map-get($icon-sizes, $type);
      width: map-get($icon-sizes, $type);
    }
  }
}
