@import '_global-mixins';
@import '_global-variables';

$icon-sizes: (
  xs: $icon-size-xs,
  sm: $icon-size-sm,
  sm--2: $icon-size-sm2,
  sm--3: $icon-size-sm3,
  md: $icon-size-md,
  lg: $icon-size-lg,
  xl: $icon-size-xl,
  xxl: $icon-size-xxl);

.chi-icon {
  display: inline-block;
  height: $icon-size-sm;
  position: relative;
  width: $icon-size-sm;

  & > svg {
    fill: currentColor;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @each $type in map-keys($icon-sizes) {
    &.-#{$type} {
      height: map-get($icon-sizes, $type);
      width: map-get($icon-sizes, $type);
    }
  }
}
