$icon-sizes: (xs: 0.75rem, sm: 1rem, sm--2: 1.25rem, sm--3: 1.5rem, md: 2rem, lg: 4rem, xl: 6rem, xxl: 8rem);

i {
  &[class^='icon-'],
  &[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'chi' !important;
    font-size: 1rem;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;

    @each $type in map-keys($icon-sizes) {
      &.-#{$type} {
        font-size: map-get($icon-sizes, $type);
        line-height: map-get($icon-sizes, $type);
      }
    }
  }
}

.icon-handshake::before {
  content: '\e9c3';
}

.icon-thumbtack-angle::before {
  content: '\e9c4';
}

.icon-voip::before {
  content: '\e9c5';
}

.icon-ticket-wrench::before {
  content: '\e9c2';
}

.icon-user-outline::before {
  content: '\e9c1';
}

.icon-print::before {
  content: '\e9c0';
}

.icon-attachment::before {
  content: '\e9bd';
}

.icon-autopay::before {
  content: '\e9bc';
}

.icon-page-first::before {
  content: '\e9be';
}

.icon-page-last::before {
  content: '\e9bf';
}

.icon-flag::before {
  content: '\e9ba';
}

.icon-paste::before {
  content: '\e9bb';
}

.icon-chart-line::before {
  content: '\e9b5';
}

.icon-circle-user::before {
  content: '\e9b6';
}

.icon-file-invoice::before {
  content: '\e9b7';
}

.icon-inbox::before {
  content: '\e9b8';
}

.icon-wrench::before {
  content: '\e9b9';
}

.icon-external-link::before {
  content: '\e9b4';
}

.icon-square-minus-outline::before {
  content: '\e9ae';
}

.icon-square-plus-outline::before {
  content: '\e9af';
}

.icon-edit-cancel::before {
  content: '\e9b0';
}

.icon-logo-facebook::before {
  content: '\e960';
}

.icon-logo-linkedin::before {
  content: '\e964';
}

.icon-logo-twitter::before {
  content: '\e969';
}

.icon-logo-youtube::before {
  content: '\e9b1';
}

.icon-square-minus::before {
  content: '\e9b2';
}

.icon-square-plus::before {
  content: '\e9b3';
}

.icon-home-outline::before {
  content: '\e9a1';
}

.icon-home::before {
  content: '\e953';
}

.icon-mail-outline::before {
  content: '\e9a0';
}

.icon-mail::before {
  content: '\e96d';
}

.icon-cart-alt::before {
  content: '\e9ab';
}

.icon-cart-outline::before {
  content: '\e99d';
}

.icon-cart::before {
  content: '\e986';
}

.icon-circle-info-outline::before {
  content: '\e930';
}

.icon-circle-info::before {
  content: '\e931';
}

.icon-circle-question-outline::before {
  content: '\e939';
}

.icon-circle-question::before {
  content: '\e93a';
}

.icon-comment-dots-outline::before {
  content: '\e9a2';
}

.icon-comment-dots::before {
  content: '\e9a3';
}

.icon-comment-outline::before {
  content: '\e9a4';
}

.icon-comment::before {
  content: '\e9a5';
}

.icon-comments-dots-outline::before {
  content: '\e9a6';
}

.icon-comments-dots::before {
  content: '\e9a7';
}

.icon-comments-outline::before {
  content: '\e9a8';
}

.icon-comments::before {
  content: '\e9a9';
}

.icon-database-outline::before {
  content: '\e9aa';
}

.icon-database::before {
  content: '\e945';
}

.icon-wifi-outline::before {
  content: '\e9ac';
}

.icon-wifi::before {
  content: '\e9ad';
}

.icon-logo-slack::before {
  content: '\e968';
}

.icon-arrow-down::before {
  content: '\e902';
}

.icon-arrow-left::before {
  content: '\e903';
}

.icon-arrow-right::before {
  content: '\e904';
}

.icon-arrow-up::before {
  content: '\e906';
}

.icon-arrow-sync::before {
  content: '\e99e';
}

.icon-map-marker-alt::before {
  content: '\e96e';
}

.icon-map-marker-outline::before {
  content: '\e99f';
}

.icon-map-marker::before {
  content: '\e96f';
}

.icon-date::before {
  content: '\e99c';
}

.icon-activity::before {
  content: '\e900';
}

.icon-address-book::before {
  content: '\e901';
}

.icon-arrow-to-bottom::before {
  content: '\e905';
}

.icon-arrow-vertical::before {
  content: '\e907';
}

.icon-arrows::before {
  content: '\e908';
}

.icon-asterisk::before {
  content: '\e909';
}

.icon-atom::before {
  content: '\e90a';
}

.icon-ban::before {
  content: '\e90b';
}

.icon-bank::before {
  content: '\e90c';
}

.icon-bell-off-outline::before {
  content: '\e9fe';
}

.icon-bell-off::before {
  content: '\e90d';
}

.icon-bell-outline::before {
  content: '\e9fd';
}

.icon-bell::before {
  content: '\e90e';
}

.icon-box-application::before {
  content: '\e90f';
}

.icon-box-cloudformation::before {
  content: '\e910';
}

.icon-box-container::before {
  content: '\e911';
}

.icon-box-deployment::before {
  content: '\e912';
}

.icon-box-fill::before {
  content: '\e913';
}

.icon-box-outline::before {
  content: '\e914';
}

.icon-box-script::before {
  content: '\e915';
}

.icon-box::before {
  content: '\e916';
}

.icon-chart-bar::before {
  content: '\e917';
}

.icon-chart-pie::before {
  content: '\e918';
}

.icon-chat::before {
  content: '\e919';
}

.icon-check-alt::before {
  content: '\e91a';
}

.icon-check::before {
  content: '\e91b';
}

.icon-checkbox-checked::before {
  content: '\e91c';
}

.icon-checkbox::before {
  content: '\e91d';
}

.icon-chevron-down::before {
  content: '\e91e';
}

.icon-chevron-left::before {
  content: '\e91f';
}

.icon-chevron-right::before {
  content: '\e920';
}

.icon-chevron-up::before {
  content: '\e921';
}

.icon-circle-alert-outline::before {
  content: '\e922';
}

.icon-circle-alert::before {
  content: '\e923';
}

.icon-circle-arrow-down-outline::before {
  content: '\e924';
}

.icon-circle-arrow-down::before {
  content: '\e925';
}

.icon-circle-arrow-up-outline::before {
  content: '\e926';
}

.icon-circle-arrow-up::before {
  content: '\e927';
}

.icon-circle-check-outline::before {
  content: '\e928';
}

.icon-circle-check::before {
  content: '\e929';
}

.icon-circle-clock-outline::before {
  content: '\e92a';
}

.icon-circle-clock::before {
  content: '\e92b';
}

.icon-circle-code-outline::before {
  content: '\e92c';
}

.icon-circle-code::before {
  content: '\e92d';
}

.icon-circle-gear-outline::before {
  content: '\e92e';
}

.icon-circle-gear::before {
  content: '\e92f';
}

.icon-circle-minus-outline::before {
  content: '\e932';
}

.icon-circle-minus::before {
  content: '\e933';
}

.icon-circle-outline::before {
  content: '\e934';
}

.icon-circle-play-outline::before {
  content: '\e935';
}

.icon-circle-play::before {
  content: '\e936';
}

.icon-circle-plus-outline::before {
  content: '\e937';
}

.icon-circle-plus::before {
  content: '\e938';
}

.icon-circle-reload-outline::before {
  content: '\e93b';
}

.icon-circle-reload::before {
  content: '\e93c';
}

.icon-circle-stop-outline::before {
  content: '\e93d';
}

.icon-circle-stop::before {
  content: '\e93e';
}

.icon-circle-warning::before {
  content: '\e93f';
}

.icon-circle-x-outline::before {
  content: '\e940';
}

.icon-circle-x::before {
  content: '\e941';
}

.icon-circle::before {
  content: '\e942';
}

.icon-cloud::before {
  content: '\e943';
}

.icon-cost::before {
  content: '\e944';
}

.icon-delete::before {
  content: '\e946';
}

.icon-edit::before {
  content: '\e947';
}

.icon-file-error-outline::before {
  content: '\e948';
}

.icon-file-outline::before {
  content: '\e949';
}

.icon-file::before {
  content: '\e94a';
}

.icon-filter::before {
  content: '\e94b';
}

.icon-folder-gear::before {
  content: '\e94c';
}

.icon-folder-open::before {
  content: '\e94d';
}

.icon-folder::before {
  content: '\e94e';
}

.icon-globe-network::before {
  content: '\e94f';
}

.icon-globe-outline::before {
  content: '\e950';
}

.icon-grid::before {
  content: '\e951';
}

.icon-heart::before {
  content: '\e952';
}

.icon-key::before {
  content: '\e954';
}

.icon-life-ring::before {
  content: '\e955';
}

.icon-link::before {
  content: '\e956';
}

.icon-list::before {
  content: '\e957';
}

.icon-lock-outline::before {
  content: '\e958';
}

.icon-lock::before {
  content: '\e959';
}

.icon-logo-amazon::before {
  content: '\e95a';
}

.icon-logo-aws::before {
  content: '\e95b';
}

.icon-logo-azure::before {
  content: '\e95c';
}

.icon-logo-centurylink::before {
  content: '\e95d';
}

.icon-logo-cloudstack::before {
  content: '\e95e';
}

.icon-logo-dimensiondata::before {
  content: '\e95f';
}

.icon-logo-github::before {
  content: '\e961';
}

.icon-logo-google::before {
  content: '\e962';
}

.icon-logo-hp::before {
  content: '\e963';
}

.icon-logo-linux::before {
  content: '\e965';
}

.icon-logo-openstack::before {
  content: '\e966';
}

.icon-logo-rackspace::before {
  content: '\e967';
}

.icon-logo-vcloud::before {
  content: '\e96a';
}

.icon-logo-vsphere::before {
  content: '\e96b';
}

.icon-logout::before {
  content: '\e96c';
}

.icon-menu::before {
  content: '\e970';
}

.icon-microphone-mute::before {
  content: '\e971';
}

.icon-microphone::before {
  content: '\e972';
}

.icon-minus-alt::before {
  content: '\e973';
}

.icon-minus::before {
  content: '\e974';
}

.icon-more-vert::before {
  content: '\e975';
}

.icon-more::before {
  content: '\e976';
}

.icon-nodes::before {
  content: '\e977';
}

.icon-number::before {
  content: '\e978';
}

.icon-pause::before {
  content: '\e979';
}

.icon-phone::before {
  content: '\e97a';
}

.icon-play::before {
  content: '\e97b';
}

.icon-plus-alt::before {
  content: '\e97c';
}

.icon-plus::before {
  content: '\e97d';
}

.icon-radio-checked::before {
  content: '\e97e';
}

.icon-radio::before {
  content: '\e97f';
}

.icon-refresh::before {
  content: '\e980';
}

.icon-rocket::before {
  content: '\e981';
}

.icon-search::before {
  content: '\e982';
}

.icon-settings::before {
  content: '\e983';
}

.icon-share::before {
  content: '\e984';
}

.icon-shield::before {
  content: '\e985';
}

.icon-star-outline::before {
  content: '\e987';
}

.icon-star::before {
  content: '\e988';
}

.icon-stop::before {
  content: '\e989';
}

.icon-sync::before {
  content: '\e98a';
}

.icon-tag-outline::before {
  content: '\e98b';
}

.icon-tag::before {
  content: '\e98c';
}

.icon-text::before {
  content: '\e98d';
}

.icon-triangle-down::before {
  content: '\e98e';
}

.icon-triangle-left::before {
  content: '\e98f';
}

.icon-triangle-right::before {
  content: '\e990';
}

.icon-triangle-up::before {
  content: '\e991';
}

.icon-user::before {
  content: '\e992';
}

.icon-users::before {
  content: '\e993';
}

.icon-verified::before {
  content: '\e994';
}

.icon-video-camera-mute::before {
  content: '\e995';
}

.icon-video-camera::before {
  content: '\e996';
}

.icon-visible-off::before {
  content: '\e997';
}

.icon-visible::before {
  content: '\e998';
}

.icon-warning::before {
  content: '\e999';
}

.icon-x-alt::before {
  content: '\e99a';
}

.icon-x::before {
  content: '\e99b';
}
