@import '_global-mixins';
@import '_global-variables';


// $icon-sizes: (
//   xs: $icon-size-xs,
//   sm: $icon-size-sm,
//   sm--2: $icon-size-sm2,
//   sm--3: $icon-size-sm3,
//   md: $icon-size-md,
//   lg: $icon-size-lg,
//   xl: $icon-size-xl,
//   xxl: $icon-size-xxl,
// );

// Support legacy icon-* classes - extends chi-icon and applies Material Symbols mapping
// This enables backward compatibility: <i class="chi-icon icon-check -sm"></i>
// i {
//   &[class^='icon-'],
//   &[class*=' icon-'] {
//     @extend .chi-icon;
//     font-variant: normal;
//     speak: none;

//     // Apply size modifiers
//     @each $type in map-keys($icon-sizes) {
//       &.-#{$type} {
//         font-size: map-get($icon-sizes, $type) !important;
//         line-height: map-get($icon-sizes, $type) !important;
//         height: map-get($icon-sizes, $type) !important;
//         width: map-get($icon-sizes, $type) !important;
//       }
//     }
//   }
// }
