@import '_global-variables';
@import '_global-mixins';

.sc-chi-time-picker {
  &.-disabled {
    pointer-events: none;
  }

  chi-popover {
    display: flex;
  }
}

.chi-time-picker {
  font-size: $font-size-base;
  width: $time-picker-width;

  &__content {
    display: flex;
    justify-content: space-between;

    .chi-time-picker__hours,
    .chi-time-picker__minutes,
    .chi-time-picker__seconds,
    .chi-time-picker__periods {
      max-height: 14.5rem;
      overflow: auto;
      padding-top: 0.25rem;
      width: 100%;

      &:not(:last-child) {
        box-shadow: inset -0.0625rem 0 0 0 $time-picker-column-border-color;
      }

      .chi-time-picker__hour,
      .chi-time-picker__minute,
      .chi-time-picker__second,
      .chi-time-picker__period {
        border-radius: $border-radius-base;
        cursor: pointer;
        margin: 0 0.25rem;
        padding: 0.125rem;
        text-align: center;

        &:hover {
          background-color: $time-picker-item-hover-background-color;
        }

        &:focus {
          outline: 0.125rem solid $time-picker-item-focus-border-color;
          outline-offset: 0.0625rem;
        }

        &.-active {
          background-color: $time-picker-item-active-background-color;
          color: $time-picker-item-active-text-color;
          font-weight: $font-weight-semi-bold;
        }

        &.-disabled {
          color: $time-picker-item-disabled-text-color;
          opacity: $time-picker-item-disabled-opacity;
          pointer-events: none;
        }
      }
    }
  }
}
