@import '@centurylink/chi/src/css/variables';
@import '@centurylink/chi/src/css/mixins';

.chi {
  .docs-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .docs-body {
      display: flex;
      flex: 1 0 auto;
      flex-direction: row;
      padding: 8rem 0 0 32rem;

      &__aside {
        position: fixed;
        left: 0;
        top: 64px;
        background-color: set-color(grey, 100);
        border-right: 0.125rem solid set-color(grey, 500);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        overflow: auto;
        height: 100%;
        width: 32rem;
        padding-top: 1rem;

        a[disabled] {
          color: set-color(carbon, 100) !important;
          pointer-events: none;
        }
        .a-tabs.-vertical {
          >li.-active {
            >a {
              color: #00853F;
              &:before {
                display: none;
              }
            }
          }
          .a-tabs__subtabs {
            li {
              margin-bottom: 0;
              &.-active {
                >a {
                  color: #00853F;
                  position: relative;
                  &:before {
                    background-color: #00853F;
                    content: "";
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: .25rem;
                    height: 4rem;
                  }
                }
              }
            }
          }
        }
      }


      &__content {
        background-color: set-color(grey, 100);
        flex-grow: 1;
        min-width: 0;
        padding-top: 2rem;

        .a-table {
          &:before, th>div, &.-bordered td {
            border-color: set-color(grey, 500);
          }
        }

        @media only screen and (min-width: 900px) {
          >.a-grid__container {
          margin: 0 40px;
          }
        }

        .-text {
          font-size: 1.75rem;
        }
        p.-large,
        .-text.-large {
          font-size: 2rem;
          line-height: 3rem;
        }
        p.-larger,
        .-text.-larger {
          font-size: 2.25rem;
          line-height: 3.5rem;
        }
        p.-small,
        .-text.-small {
          font-size: 1.625rem;
          line-height: 2.5rem;
        }
        p.-smaller,
        .-text.-smaller {
          font-size: 1.5rem;
          line-height: 2.5rem;
        }
        ul.-noStyle,
        ol.-noStyle,
        li.-noStyle {
          padding-left: 0;
          list-style: none;
        }
        blockquote {
          padding-left: 2rem;
          border-left: .5rem solid set-color(grey, 500);
        }
        .example {
          border: 0.125rem solid set-color(grey, 500);
          border-radius: .3em;

          pre[class*=language-] {
            margin: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: 0.125rem solid set-color(grey, 500);
          }
          .code-block>pre {
            border-top: 0;
            border-radius: .3em;
          }
        }
      }
    }
  }
}
