@import '@centurylink/chi/src/css/variables';
@import '@centurylink/chi/src/css/mixins';

.chi {
  .docs-header {
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    background-color: set-color(grey, 100);
    box-shadow: 0 1px 2px 0 rgba(set-color(carbon, 800), 0.04),
    0 2px 2px 0 rgba(set-color(carbon, 800), 0.12);
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 8rem;
    width: 100%;
    padding: 0 3rem;
    z-index: 1;
    @media only screen and (max-width: 900px) {
      flex-direction: column;
      height: 12rem;
      justify-content: center;
      position: static;
    }

    &__logo {
      display: inline-flex;
      justify-content: center;
      max-width: 18rem;
      width: 100%;
      img {
        max-width: 18rem;
        @media only screen and (max-width: 900px) {
          height: 3rem;
        }
      }
    }

    &__title {
      color: set-color(carbon, 200);
      display: inline-flex;
      font-weight: 400;
      margin-left: 4rem;
      @media only screen and (max-width: 900px) {
        font-size: 2rem;
        line-height: 3rem;
        margin: 1rem 0 0 0;
      }
    }
  }
}
