@import '@centurylink/chi/src/css/variables';
@import '@centurylink/chi/src/css/mixins';

.chi {
  .docs-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .docs-body {
      display: flex;
      flex: 1 0 auto;
      flex-direction: row;
      padding: 8rem 0 0 32rem;
      @media only screen and (max-width: 900px) {
        flex-direction: column;
        padding-left: 0;
        padding-top: 1rem;
      }

      &__aside {
        position: fixed;
        left: 0;
        top: 64px;
        background-color: set-color(white);
        border-right: 0.125rem solid set-color(grey, 30);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        overflow: auto;
        height: 100%;
        width: 32rem;
        padding-top: 1rem;
        @media only screen and (max-width: 900px) {
          position: static;
          width: 100%;
          border-right: 0;
          padding-bottom: 2rem;
          border-bottom: 0.125rem solid set-color(grey, 30);
        }

        a[disabled] {
          color: set-color(white) !important;
          pointer-events: none;
        }
        .a-tabs.-vertical {
          @media only screen and (max-width: 900px) {
            >li {
              >a {
                padding-top: 1rem;
                padding-bottom: 1rem;
              }
            }
          }
          >li.-active {
            >a {
              color: #00853F;
              &:before {
                display: none;
              }
            }
          }
          .a-tabs__subtabs {
            li {
              margin-bottom: 0;
              &.-active {
                >a {
                  color: #00853F;
                  position: relative;
                  &:before {
                    background-color: #00853F;
                    content: "";
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: .25rem;
                    height: 4rem;
                  }
                }
              }
            }
          }
        }
      }


      &__content {
        background-color: set-color(white);
        flex-grow: 1;
        min-width: 0;
        padding-top: 2rem;
        @media only screen and (max-width: 900px) {
          padding-top: 1rem;
        }
        .a-table {
          &:before, th>div, &.-bordered td {
            border-color: set-color(grey, 30);
          }
        }

        @media only screen and (min-width: 900px) {
          >.a-grid__container {
          margin: 0 40px;
          }
        }

        @media only screen and (min-width: 1280px) {
          >.a-grid__container {
          margin: 0 auto;
          width: 960px;
          }
        }

        .example {
          border: 0.125rem solid set-color(grey, 30);
          border-radius: .3em;

          pre[class*=language-] {
            margin: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: 0.125rem solid set-color(grey, 30);
          }
          .code-block>pre {
            border-top: 0;
            border-radius: .3em;
          }
        }
      }
    }
  }
}
