@import './prismjs/chi-a11y-light';
@import '@centurylink/chi/src/css/variables';
@import '@centurylink/chi/src/css/mixins';

@import './docs-header';
@import './docs-container';

html,
body {
  height: 100%;
  min-width: 100%;

  pre {
    border-radius: 3px;
    max-height: 360px;
    overflow-y: auto;
  }

  code {
    font-family: Menlo, Consolas, 'Liberation Mono', Courier, monospace;
    font-size: 1.625rem;
    background-color: #f5f5f5;
    border-radius: 3px;
    color: #008040;

    &:not([class*='language-']) {
      padding: 0.25rem 0.5rem;
    }
  }

  a {
    color: set-color(blue, 60);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .m-example {
    &__html,
    &__code {
      &.-hidden {
        display: none;
      }
    }

    pre {
      margin: 0;
    }
  }
}
