@import 'prismjs/themes/prism-tomorrow';
@import '@centurylink/chi/src/css/variables';
@import '@centurylink/chi/src/css/mixins';

@import './docs-header';
@import './docs-container';

html,
body {
  height: 100%;
  min-width: 100%;

  pre {
    border-radius: 3px;
    max-height: 360px;
    overflow-y: auto;
  }

  code {
    background-color: set-color(grey, 400);
    border-radius: 3px;
    color: set-color(carbon, 300);
    padding: 0.25rem 0.5rem;
  }
}
