@import 'mixins';
@import 'variables';

.chi {
  .a-tabs {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
      display: inline-block;

      &.-active > a {
        color: $brand-color;
      }

      & > a {
        color: set-color(grey, 90);
        cursor: pointer;
        display: block;
        font-size: 0.8125rem;
        font-weight: 600;
        text-decoration: none;
        text-transform: capitalize;
      }
    }

    &.-large {
      & > li {
        & > a {
          font-size: 0.875rem;
        }
      }
    }

    &:not(.-vertical) {
      height: 3.5rem;

      &.-border {
        border-bottom: 0.0625rem solid set-color(grey, 30);
      }

      & > li {
        &:not(:first-child) {
          margin-left: 1.5rem;
        }

        &.-active > a {
          border-bottom: 0.25rem solid $brand-color;
          padding-bottom: 1rem;
        }

        & > a {
          line-height: 1rem;
          padding: 1.25rem 0;
        }
      }

      &.-small {
        height: 3rem;

        & > li {
          &.-active > a {
            padding-bottom: 0.75rem;
          }

          & > a {
            line-height: 1rem;
            padding: 1rem 0;
          }
        }
      }

      &.-large {
        height: 4rem;

        & > li {
          &:not(:first-child) {
            margin-left: 2rem;
          }

          &.-active > a {
            padding-bottom: 1rem;
          }

          & > a {
            line-height: 1.5rem;
            padding: 1.25rem 0;
          }
        }
      }
    }

    &.-vertical {
      display: flex;
      flex-direction: column;
      line-height: 1rem;

      .a-tabs__subtabs {
        list-style: none;
        padding: 0;

        & > li {
          &.-active > a {
            font-weight: 600;
          }

          & > a {
            color: set-color(grey, 90);
            cursor: pointer;
            display: block;
            font-size: 0.8125rem;
            line-height: 1rem;
            padding: 0.5rem 0 0.5rem 2.5rem;
            text-decoration: none;
            text-transform: capitalize;
          }
        }
      }

      &.-icons {
        & > li {
          & > a {
            padding-left: 3.5rem;
            position: relative;

            & > .a-icon {
              color: set-color(grey, 50);
              left: 1.5rem;
              position: absolute;
            }
          }

          .a-tabs__subtabs {
            & > li {
              & > a {
                padding-left: 3.5rem;
              }
            }
          }
        }
      }

      & > li {
        position: relative;

        &.-active {
          & > a {
            position: relative;

            & > .a-icon {
              color: $brand-color;
              left: 1.5rem;
            }

            &::before {
              background-color: $brand-color;
              content: '';
              height: 2rem;
              left: 0;
              position: absolute;
              top: 0;
              width: 0.25rem;
            }
          }
        }

        &.-activeAlt {
          & > a {
            background-color: set-color(grey, 20);
            color: set-color(grey, 90);

            & > .a-icon {
              color: set-color(grey, 90);
            }
          }
        }

        & > a {
          padding: 0.5rem 0 0.5rem 1.5rem;
          width: 100%;
        }
      }

      &.-small {
        & > li {
          & > a {
            padding-bottom: 0.25rem;
            padding-top: 0.25rem;
          }

          &.-active {
            & > a {
              &::before {
                height: 1.5rem;
              }
            }
          }
        }

        .a-tabs__subtabs {
          & > li {
            & > a {
              padding: 0.25rem 0 0.25rem 2.5rem;
            }
          }
        }
      }

      &.-large {
        & > li {
          & > a {
            line-height: 1.5rem;
            padding-bottom: 0.75rem;
            padding-top: 0.75rem;

            & > .a-icon {
              margin-top: 0.25rem;
            }
          }

          &.-active {
            & > a {
              &::before {
                height: 3rem;
              }
            }
          }

          .a-tabs__subtabs {
            & > li {
              margin-bottom: 0.5rem;
            }
          }
        }
      }

      &.-border {
        & > li {
          border-bottom: 0.0625rem solid set-color(grey, 30);

          &.-active {
            & > a {
              &::before {
                top: -0.0625rem;
              }
            }
          }

          & > a {
            padding-bottom: 0.5rem;
            padding-top: 0.4375rem;
          }

          &:first-child {
            border-top: 0.0625rem solid set-color(grey, 30);

            & > a {
              padding-bottom: 0.4375rem;
              padding-top: 0.4375rem;
            }
          }
        }

        &.-small {
          & > li {
            & > a {
              padding-bottom: 0.25rem;
              padding-top: 0.1875rem;
            }

            &:first-child {
              & > a {
                padding-bottom: 0.1875rem;
                padding-top: 0.1875rem;
              }
            }
          }
        }

        &.-large {
          & > li {
            & > a {
              padding-bottom: 0.75rem;
              padding-top: 0.6875rem;
            }

            &:first-child {
              & > a {
                padding-bottom: 0.6875rem;
                padding-top: 0.6875rem;
              }
            }
          }
        }
      }
    }
  }
}
