@import '_variables';

@mixin remove-anchor-style {
  color: $color-text-base;

  &:hover {
    text-decoration: none;
  }
}

@mixin button-disabled {
  background-color: $color-background-base-dark;
  border-color: $color-border-base-dark;
  box-shadow: none;
  color: $color-text-muted-light;
  opacity: $opacity-100;
  pointer-events: none;

  & .chi-icon {
    color: $color-icon-muted;
    opacity: $opacity-100;
  }
}
