@import '_variables';

@mixin remove-anchor-style {
  color: $color-text-base;

  &:hover {
    text-decoration: none;
  }
}

@mixin button-disabled {
  background-color: $button-solid-disabled-background-color;
  border-color: $button-solid-disabled-border-color;
  box-shadow: none;
  color: $button-solid-disabled-text-color;
  opacity: $button-solid-disabled-opacity;
  pointer-events: none;

  & .chi-icon {
    color: $button-solid-disabled-icon-color;
    opacity: $button-solid-disabled-opacity;
  }
}
