@import '../../../../chi/global-mixins';

.slide-fade-enter-active {
  height: auto !important;
  overflow: hidden;
  transition: all 0.2s ease-out;
}
.slide-fade-leave-active {
  height: 0 !important;
  overflow: hidden;
  transition: all 0.2s ease-out;
}
.slide-fade-enter-from,
.slide-fade-leave-to {
  height: 0 !important;
  overflow: hidden;
  transform: translateY(-1.25rem);
}

.chi-epanel {
  &:not(.-bordered) {
    &.-state-icon {
      .chi-epanel__content-active {
        @include respond-to(sm) {
          margin-left: 2.5rem;
        }
      }
    }
  }

  &__footer {
    > div {
      flex-direction: column;

      @include respond-to(sm) {
        flex-direction: row;
      }

      div {
        & + div {
          margin-top: 1rem;

          @include respond-to(sm) {
            margin-left: 1rem;
            margin-top: 0;
          }
        }

        .chi-button,
        chi-button {
          justify-content: center;
          width: 100%;

          @include respond-to(sm) {
            justify-content: unset;
            width: auto;
          }
        }
      }
    }
  }
}
