@import '../../../../chi/global-mixins';

.slide-fade-enter-active {
  height: auto !important;
  overflow: hidden;
  transition: all 0.2s ease-out;
}
.slide-fade-leave-active {
  height: 0 !important;
  overflow: hidden;
  transition: all 0.2s ease-out;
}
.slide-fade-enter-from,
.slide-fade-leave-to {
  height: 0 !important;
  overflow: hidden;
  transform: translateY(-1.25rem);
}

.chi-epanel {
  &:not(.-bordered) {
    .chi-epanel__content-active {
      margin-left: 0;

      @include respond-to(sm) {
        margin-left: 7.5%;
      }
    }

    &.-state-icon {
      .chi-epanel__content-active {
        @include respond-to(sm) {
          margin-left: calc(7.5% + 2.5rem);
        }
      }
    }
  }

  &.-state-icon {
    & > .chi-epanel__header {
      padding-left: 0 !important;
    }

    .inner-state-icon {
      margin-right: 0.75rem;
      visibility: hidden;
    }

    &.-done {
      .inner-state-icon {
        margin-top: 0.375rem;
      }
      & > .chi-epanel__header {
        &::before {
          content: '' !important;
        }
        .inner-state-icon {
          visibility: visible;
        }
      }
    }
  }

  &__footer {
    > div {
      flex-direction: column;

      @include respond-to(sm) {
        flex-direction: row;
      }

      div {
        & + div {
          margin-top: 1rem;

          @include respond-to(sm) {
            margin-left: 1rem;
            margin-top: 0;
          }
        }

        .chi-button,
        chi-button {
          justify-content: center;
          width: 100%;

          @include respond-to(sm) {
            justify-content: unset;
            width: auto;
          }
        }
      }
    }
  }
}
