---
title: Drawer
scripts:
  - assets/scripts/drawer-ce
styles:
  - assets/styles/drawer-ce
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-chi-ce/ux-chi-ce.js')

p.-text
  | Drawers are flexible containers anchored to the top, right, bottom, or left of the screen.
  | They are used primarily in Chi for displaying menus on small devices.

h2 Examples
ul#a-tabs--drawer.a-tabs
  li.-active
    a(href='#a-tabs--drawer-left') Left
  li
    a(href='#a-tabs--drawer-right') Right
  li
    a(href='#a-tabs--drawer-top') Top
  li
    a(href='#a-tabs--drawer-bottom') Bottom
#a-tabs--drawer-left.a-tabs-panel.-active
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:30rem;overflow:hidden;")
      .-p--3
        each i in [1, 2, 3]
          .-text.-mb--1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
      chi-drawer(position='left', active, collapsible)
        .-px--2.-text Drawer content here
    :code(lang="html")
      <chi-drawer position="left" active collapsible>
        <div class="-px--2 -text">Drawer content here</div>
      </chi-drawer>
#a-tabs--drawer-right.a-tabs-panel
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:30rem;overflow:hidden;")
      .-p--3
        each i in [1, 2, 3]
          .-text.-mb--1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
      chi-drawer(position='right', active, collapsible)
        .-px--2.-text Drawer content here
    :code(lang="html")
      <chi-drawer position="right" active collapsible>
        <div class="-px--2 -text">Drawer content here</div>
      </chi-drawer>

#a-tabs--drawer-top.a-tabs-panel
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:30rem;overflow:hidden;")
      .-p--3
        each i in [1, 2, 3]
          .-text.-mb--1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
      chi-drawer(position='top', active, collapsible)
        .-px--2.-text Drawer content here
    :code(lang="html")
      <chi-drawer position="top" active collapsible>
        <div class="-px--2 -text">Drawer content here</div>
      </chi-drawer>

#a-tabs--drawer-bottom.a-tabs-panel
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:30rem;overflow:hidden;")
      .-p--3
        each i in [1, 2, 3]
          .-text.-mb--1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
      chi-drawer(position='bottom', active, collapsible)
        .-px--2.-text Drawer content here
    :code(lang="html")
      <chi-drawer position="bottom" active collapsible>
        <div class="-px--2 -text">Drawer content here</div>
      </chi-drawer>

h3 Backdrop
p.-text
  | An optional backdrop can be added to focus the users attention on drawer content.
.example.-mb--3(style='overflow:hidden;')
  .-position--relative.-z--0(style="height:30rem;overflow:hidden;")
    chi-drawer(position='bottom', backdrop, active, collapsible)
      .-px--2.-text Drawer content here
  :code(lang="html")
    <chi-drawer position="bottom" backdrop active collapsible>
      <div class="-px--2 -text">Drawer content here</div>
    </chi-drawer>


h3 Close button
p.-text
  | Use the collapsible attribute to include a close button

ul#a-tabs--collapsible.a-tabs
  li.-active
    a(href='#a-tabs--collapsible-with') Collapsible
  li
    a(href='#a-tabs--collapsible-without') No collapsible
#a-tabs--collapsible-with.a-tabs-panel.-active
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:15rem;overflow:hidden;")
      chi-drawer(position='left' active backdrop collapsible)
        .-px--2.-text Drawer content here
    :code(lang="html")
      <chi-drawer position="left" active backdrop collapsible>
        <div class="-px--2 -text">Drawer content here</div>
      </chi-drawer>

#a-tabs--collapsible-without.a-tabs-panel
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:15rem;overflow:hidden;")
      chi-drawer(position='left' active backdrop)
        .-px--2.-text Drawer content here
    :code(lang="html")
      <chi-drawer position="left" active backdrop>
        <div class="-px--2 -text">Drawer content here</div>
      </chi-drawer>

h3 Header

p.-text
  | Use the <code>headless</code> attribute to remove it and make the content fill the drawer.

ul#a-tabs--header.a-tabs
  li.-active
    a(href='#a-tabs--header-with') Header
  li
    a(href='#a-tabs--header-without') No header
#a-tabs--header-with.a-tabs-panel.-active
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:15rem;overflow:hidden;")
      chi-drawer(position='left' active collapsible backdrop)
          .-px--2.-text Drawer content here
    :code(lang="html")
      <chi-drawer position="left" active collapsible backdrop>
        <div class="-px--2 -text">Drawer content here</div>
      </chi-drawer>

#a-tabs--header-without.a-tabs-panel
  .example.-mb--3(style='overflow:hidden;')
    .-position--relative.-z--0(style="height:15rem;overflow:hidden;")
      chi-drawer(position='left' active collapsible backdrop headless)
        .-px--2.-text Drawer content here
    :code(lang="html")
      <chi-drawer position="left" active collapsible backdrop headless>
        <div class="-px--2 -text">Drawer content here</div>
      </chi-drawer>

h2 Interaction
p.-text
  span.a-badge.-dark.-sm.-mr1
    span Tip
  | Read this handy introduction to
  |
  a(href=`../overview/#regarding-html-attributes-and-dom-properties`) HTML attributes and DOM properties
  | .

p.-text
  | Modify the <code>active</code> attribute or property to make the drawer show or hide. The <code>chi-drawer</code>
  | element also has three public methods to interact with it: <code>show()</code>, <code>hide()</code>,
  | <code>toggle()</code>.
.example.-mb--3(style='overflow:hidden;')
  .-position--relative.-z--0.-bb--1(style='height:20rem;overflow:hidden;')
    .-p--3
      .-d--flex.-justify-content--end.-align-items--start
        // Migrate this to chi-button
        button#drawer-trigger.a-btn.-icon
          .a-btn__content
            chi-icon(icon='menu',size='sm--2')
      each i in [1, 2]
        p.-text.-mb--3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
    chi-drawer#interactive-drawer(position="right", backdrop, collapsible)
      .-px--2.-text Drawer content here
  ul#a-tabs-backdrop.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-e2-button') Button
    li
      a(href='#a-tabs-e2-drawer') Drawer
    li
      a(href='#a-tabs-e2-js') JS
  #a-tabs-e2-button.a-tabs-panel.-active
    :code(lang="html")
      <button id="drawer-trigger" class="a-btn -icon">
        <div class="a-btn__content">
          <chi-icon icon="menu"></chi-icon>
        </div>
      </button>
  #a-tabs-e2-drawer.a-tabs-panel
    :code(lang="html")
      <chi-drawer id="interactive-drawer" position="right" backdrop collapsible>
        <div class="-px--2 -text">Drawer content here</div>
      </div>
  #a-tabs-e2-js.a-tabs-panel
    :code(lang="html")
      <script>
        var drawer = document.getElementById('interactive-drawer');
        var drawerTrigger = document.getElementById('drawer-trigger');
        drawerTrigger.addEventListener('click', function(){
          drawer.toggle();
          // or drawer.active = !drawer.active;
        });
      </script>

h2 Additional usage details
:stencilDoc(name='chi-drawer')

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      // TODO Migrate tabs to Custom Elements.
      chi.tab(document.querySelectorAll('#a-tabs--drawer, #a-tabs--collapsible, #a-tabs--header, #a-tabs-backdrop'));

      var drawer = document.getElementById('interactive-drawer');
      var drawerTrigger = document.getElementById('drawer-trigger');
      drawerTrigger.addEventListener('click', function(){
        drawer.toggle();
      });
    }
  );
