---
title: Expansion panel
styles:
  - assets/styles/expansion-panel-ce
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-chi-ce/ux-chi-ce.js')

p.-text
  | Expansion panels are components designed to be folded and stacked in sequence. They have four states: active,
  | pending, done and disabled. When pending, which is the default state, only the title is shown. When active, panels expand to show
  | content or forms. When done, content or form data is presented in a read only state. When disabled, a muted title
  | is shown in a non-clickable state.

  .example.-mb3.-mt3
    .-p3
      chi-expansion-panel(step='1', heading='Done panel', state='done')
        div(slot='done' class='-text') 
          | CenturyLink
          br
          | 1100 112th Ave NE
          br
          | Suite 400
          br
          | Bellevue, WA 98004
        div(slot='change')
          button.a-btn.-brand.-flat Change
      chi-expansion-panel(step='2', heading='Active panel', state='active')
        div(slot='active') 
          h5.-mt--0 Active panel title
          p.-text.-mb--0 Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque consequatur consequuntur excepturi
            |  illo maiores, nobis placeat recusandae rem! Accusantium ad in minus molestiae? Commodi cupiditate labore
            | nihil sed veritatis!
        div(slot='footer')
          button.a-btn.-lg.-primary Continue
      chi-expansion-panel(step='3', heading='Pending panel')
      chi-expansion-panel(step='4', heading='Disabled panel', state='disabled')
    ul#a-tabs.a-tabs.-ml--3
      li.-active
        a(href='#a-tabs-done') Done
      li
        a(href='#a-tabs-active') Active
      li
        a(href='#a-tabs-pending') Pending
      li
        a(href='#a-tabs-disabled') Disabled
    #a-tabs-done.a-tabs-panel.-active
      :code(lang='html')
        <chi-expansion-panel step="1" heading="Done panel" state="done">
          <div slot="done" class="-text">
            CenturyLink</br>
            1100 112th Ave NE</br>
            Suite 400</br>
            Bellevue, WA 98004</br>
          </div>
          <div slot="change">
            <button class="a-btn -brand -flat">
              Change
            </button>
          </div>
        </chi-expansion-panel>
    #a-tabs-active.a-tabs-panel
      :code(lang='html')
        <chi-expansion-panel step="2" heading="Active panel" state="active">
          <div slot="active"> 
            <h5 class="-mt--0">
              Active panel title
            </h5>
            <p class="-text -mb--0">
              Lorem ipsum dolor sit amet...
            </p>
          </div>
          <div slot="footer">
            <button class="a-btn -lg -primary">
              Continue
            </button>
          </div>
        </chi-expansion-panel>
    #a-tabs-pending.a-tabs-panel
      :code(lang='html')
        <chi-expansion-panel step="3" heading="Pending panel"></chi-expansion-panel>
    #a-tabs-disabled.a-tabs-panel
      :code(lang='html')
        <chi-expansion-panel step="4" heading="Disabled panel" state="disabled"></chi-expansion-panel>

h4 Customization
p.-text
  | This component accepts a small number of visual changes. The numbering of the panels is optional, so you can omit
  | the <code>step</code> property if you don't need it. Apart from that, including some custom content like a button
  | is also possible for done and active states.
.example.-mb3
  .-p3.-bg--grey-10
    chi-expansion-panel(heading='Expansion panel', state='active')
      div(slot='active') 
        h5.-mt--0 Active panel title
        p.-text.-mb--0 Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque consequatur consequuntur excepturi
          |  illo maiores, nobis placeat recusandae rem! Accusantium ad in minus molestiae? Commodi cupiditate labore
          | nihil sed veritatis!
      div(slot='change')
        button.a-btn.-brand.-flat Change
      div(slot='footer')
        button.a-btn.-lg Previous
        button.a-btn.-lg.-primary.-ml--2 Continue
  :code(lang='html')
    <chi-expansion-panel heading="Expansion panel" state="active">
      <div slot="active"> 
        <h5 class="-mt--0">
          Active panel title
        </h5>
        <p class="-text -mb--0">
          Lorem ipsum dolor sit amet...
        </p>
      </div>
      <div slot="change">
        <button class="a-btn -brand -flat">
          Change
        </button>
      </div>
      <div slot="footer">
        <button class="a-btn -lg">
          Previous
        </button>
        <button class="a-btn -lg -primary -ml--2">
          Continue
        </button>
      </div>
    </chi-expansion-panel>

h4 Bordered expansion panel
p.-text
  | Expansion panel component also supports a bordered version. Apply the <code>bordered</code> property where desired.

.example.-mb3
  .-p3
    chi-expansion-panel(step='1', heading='Done panel', state='done', bordered=true)
      div(slot='done' class='-text') 
          | CenturyLink
          br
          | 1100 112th Ave NE
          br
          | Suite 400
          br
          | Bellevue, WA 98004
      div(slot='change')
        button.a-btn.-brand.-flat Change
    chi-expansion-panel(step='2', heading='Active panel', state='active', bordered=true)
      div(slot='active') 
        h5.-mt--0 Active panel title
        p.-text.-mb--0 Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque consequatur consequuntur excepturi
          |  illo maiores, nobis placeat recusandae rem! Accusantium ad in minus molestiae? Commodi cupiditate labore
          | nihil sed veritatis!
      div(slot='footer')
        button.a-btn.-lg.-primary Continue
    chi-expansion-panel(step='3', heading='Pending panel', bordered=true)
    chi-expansion-panel(step='4', heading='Disabled panel', state='disabled', bordered=true)
  ul#a-tabs-bordered.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-bordered-done') Done
    li
      a(href='#a-tabs-bordered-active') Active
    li
      a(href='#a-tabs-bordered-pending') Pending
    li
      a(href='#a-tabs-bordered-disabled') Disabled
  #a-tabs-bordered-done.a-tabs-panel.-active
    :code(lang='html')
      <chi-expansion-panel step="1" heading="Done panel" state="done" bordered>
        <div slot="done" class="-text">
          CenturyLink</br>
          1100 112th Ave NE</br>
          Suite 400</br>
          Bellevue, WA 98004</br>
        </div>
        <div slot="change">
          <button class="a-btn -brand -flat">
            Change
          </button>
        </div>
      </chi-expansion-panel>
  #a-tabs-bordered-active.a-tabs-panel
    :code(lang='html')
      <chi-expansion-panel step="2" heading="Active panel" state="active" bordered>
        <div slot="active"> 
          <h5 class="-mt--0">
            Active panel title
          </h5>
          <p class="-text -mb--0">
            Lorem ipsum dolor sit amet...
          </p>
        </div>
        <div slot="footer">
          <button class="a-btn -lg -primary">
            Continue
          </button>
        </div>
      </chi-expansion-panel>
  #a-tabs-bordered-pending.a-tabs-panel
    :code(lang='html')
      <chi-expansion-panel step="3" heading="Pending panel" bordered></chi-expansion-panel>
  #a-tabs-bordered-disabled.a-tabs-panel
    :code(lang='html')
      <chi-expansion-panel step="4" heading="Disabled panel" state="disabled" bordered></chi-expansion-panel>

h3 State custom behavior
p.-text
  | The four expansion panel states behave similarly to each other, although there are two main differences
  | between them.
ol.-text
  li
    | The title will render in the brand color for the active panel, in soft gray for the disabled panel and black for
    | the other panel states.
  li Two internal hiding utility classes will hide content depending on the state.

h4 Hiding by state
p.-text
  | The four examples below differ only on the state. Thanks to the state support and internal utility classes we can 
  | represent the different states of the same content changing only that property.

.example.-mb3
  .-p3.-bg--grey-10
    chi-expansion-panel(heading='Expansion panel', state='done')
      div(slot='done' class='-text') 
        | CenturyLink
        br
        | 1100 112th Ave NE
        br
        | Suite 400
        br
        | Bellevue, WA 98004
      div(slot='change')
        button.a-btn.-brand.-flat Change
    chi-expansion-panel(heading='Expansion panel', state='active')
      div(slot='active') 
        h5.-mt--0 Active panel title
        p.-text.-mb--0 Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque consequatur consequuntur excepturi
          |  illo maiores, nobis placeat recusandae rem! Accusantium ad in minus molestiae? Commodi cupiditate labore
          | nihil sed veritatis!
      div(slot='footer')
        button.a-btn.-lg Previous
        button.a-btn.-lg.-primary.-ml--2 Continue
    chi-expansion-panel(heading='Expansion panel')
    chi-expansion-panel(heading='Expansion panel', state='disabled')
  ul#a-tabs-ex.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-ex-done') Done
    li
      a(href='#a-tabs-ex-active') Active
    li
      a(href='#a-tabs-ex-pending') Pending
    li
      a(href='#a-tabs-ex-disabled') Disabled
  #a-tabs-ex-done.a-tabs-panel.-active
    :code(lang='html')
      <chi-expansion-panel heading="Expansion panel" state="done">
        <div slot="done" class="-text">
          CenturyLink</br>
          1100 112th Ave NE</br>
          Suite 400</br>
          Bellevue, WA 98004</br>
        </div>
        <div slot="change">
          <button class="a-btn -brand -flat">
            Change
          </button>
        </div>
      </chi-expansion-panel>
  #a-tabs-ex-active.a-tabs-panel
    :code(lang='html')
      <chi-expansion-panel heading="Expansion panel" state="active">
        <div slot="active"> 
          <h5 class="-mt--0">
            Active panel title
          </h5>
          <p class="-text -mb--0">
            Lorem ipsum dolor sit amet...
          </p>
        </div>
        <div slot="footer">
          <button class="a-btn -lg -primary">
            Continue
          </button>
        </div>
      </chi-expansion-panel>
  #a-tabs-ex-pending.a-tabs-panel
    :code(lang='html')
      <chi-expansion-panel heading="Expansion panel"></chi-expansion-panel>
  #a-tabs-ex-disabled.a-tabs-panel
    :code(lang='html')
      <chi-expansion-panel heading="Expansion panel" state="disabled"></chi-expansion-panel>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      chi.tab(document.querySelectorAll('.docs-body__content .a-tabs'));
    }
  );
