---
title: Popover
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-chi-ce/ux-chi-ce.js')

p.-text
  | Popovers provide a contextual space, attached to an element and in an upper z-index layer, where you can
  | include any kind of HTML code related to the trigger element.

h2 Examples

h3 Base
p.-text
  | Popover components are absolutely positioned.
p.-text
  span.a-badge.-primary.-mr1
    span Tip
  | Remove the <code>active</code> attribute to hide the popover.
p.-text
  span.a-badge.-primary.-mr1
    span Tip
  | Read this handy introduction to
  |
  a(href=`../overview/#regarding-html-attributes-and-dom-properties`) HTML attributes and DOM properties
  | .
p.-text
  | Use <code>variant="text"</code> attribute to display text content in a <code>&lt;p&gt;</code>
#example-1.example.-mb--3
  .-p--3(style='height: 146px')
    .-position--relative
      chi-popover(active, title="Popover!", variant="text", prevent-auto-hide)
        | This is a popover content.
  :code(lang="html")
    <chi-popover title="Popover!" variant="text" active>
      This is a popover content.
    </chi-popover>

h3 Arrow
p.-text
  | Popovers support arrows to show the origin where they come from. Arrows can be located anywhere around the Popover.
  | Use the attribute <code>position</code> with the values: <code>top</code>, <code>right</code>, <code>bottom</code> and
  | <code>left</code> to position the arrow in the proper place.
ul#a-tabs--positioning.a-tabs
  li.-active
    a(href='#a-tabs--positioning-top') Top
  li
    a(href='#a-tabs--positioning-right') Right
  li
    a(href='#a-tabs--positioning-bottom') Bottom
  li
    a(href='#a-tabs--positioning-left') Left
#a-tabs--positioning-top.a-tabs-panel.-active
  #example-2.example.-mb--3
    .-p--3(style='height: 158px')
      .-position--relative
        chi-popover(position="top", title="Popover!", variant="text", active, arrow, prevent-auto-hide)
          | This is a popover content.
    :code(lang="html")
      <chi-popover position="top" title="Popover!" variant="text" active arrow>
        This is a popover content.
      </chi-popover>
#a-tabs--positioning-right.a-tabs-panel
  .example.-mb--3
    .-p--3(style='height: 158px')
      .-position--relative
        chi-popover(position="right", title="Popover!", variant="text", active, arrow, prevent-auto-hide)
          | This is a popover content.
    :code(lang="html")
      <chi-popover position="right" title="Popover!" variant="text" active arrow>
        This is a popover content.
      </chi-popover>
#a-tabs--positioning-bottom.a-tabs-panel
  .example.-mb--3
    .-p--3(style='height: 158px')
      .-position--relative
        chi-popover(position="bottom", title="Popover!", variant="text", active, arrow, prevent-auto-hide)
          | This is a popover content.
    :code(lang="html")
      <chi-popover position="bottom" title="Popover!" variant="text" active arrow>
        This is a popover content.
      </chi-popover>
#a-tabs--positioning-left.a-tabs-panel
  .example.-mb--3
    .-p--3(style='height: 158px')
      .-position--relative
        chi-popover(position="left", title="Popover!", variant="text", active, arrow, prevent-auto-hide)
          | This is a popover content.
    :code(lang="html")
      <chi-popover position="left" title="Popover!" variant="text" active arrow>
        This is a popover content.
      </chi-popover>

h3 Reference element
p.-text
  | A reference element can be setup for advanced positioning.
  | The popover will be positioned relative to this
  | element. Use the <code>reference</code> attribute with a
  | CSS selector to the reference element.
p.-text
  span.a-badge.-primary.-mr1
    span Tip 1
  | This feature makes use of the Popper.js position engine.
p.-text
  span.a-badge.-primary.-mr1
    span Tip 2
  | This example uses extra JavaScript. See <a href="#show-hide-toggle">Show, hide & toggle section</a>.

.example.-mb--3
  .-p--3
    button#example-3-button.a-btn Click me!
    chi-popover#example-3-popover(position="top", title="Popover!", variant="text", arrow, reference="#example-3-button")
      | This is a popover content.

  :code(lang='html')
    <button class="a-btn" id="example-3-button">Click me!</button>
    <!-- put the following code anywere in the DOM, e.g. at the end of the DOM -->
    <chi-popover position="top" title="Popover!" variant="text" arrow reference="example-3-button">
      This is a popover content.
    </chi-popover>

h4 Popover with custom content
p.-text
  | Popover can be used to display any kind of custom content (even other custom elements).

.example.-mb--3
  .-p--3(style='height: 125px')
    .-position--relative
      chi-popover(position="top", title="Current progress (75%)", active, arrow, prevent-auto-hide)
        chi-progress(value="75")
  :code(lang='html')
    <chi-popover position="top" title="Current progress (75%)" active arrow prevent-auto-hide="prevent-auto-hide">
      <chi-progress value="75"></chi-progress>
    </chi-popover>

h3 Positioning
p.-text
  | Further positions can be used in this mode: <code>top</code>,
  | <code>right</code>, <code>bottom</code>, <code>left</code>, <code>top-start</code>,
  | <code>top-end</code>, <code>right-start</code>, <code>right-end</code>,
  | <code>bottom-start</code>, <code>bottom-end</code>, <code>left-start</code>,
  | <code>left-end</code>.

ul#a-tabsb--positioning.a-tabs
  li.-active
    a(href='#a-tabsb--positioning-top') Top
  li
    a(href='#a-tabsb--positioning-right') Right
  li
    a(href='#a-tabsb--positioning-bottom') Bottom
  li
    a(href='#a-tabsb--positioning-left') Left
#a-tabsb--positioning-top.a-tabs-panel.-active
  .example.-mb--3
    .-p--3
      button#example-4-t-button.a-btn.-mr--2.-mb--2.-mb-md--0 Top popover
      chi-popover#example-4-t-popover(position="top", title="Popover!", variant="text", arrow, reference="#example-4-t-button")
        | This is popover is top positioned.

      button#example-4-ts-button.a-btn.-mr--2.-mb--2.-mb-md--0 Top start popover
      chi-popover#example-4-ts-popover(position="top-start", title="Popover!", variant="text", arrow, reference="#example-4-ts-button")
        | This is popover is top-start positioned.

      button#example-4-te-button.a-btn.-mr--2.-mb--2.-mb-md--0 Top end popover
      chi-popover#example-4-te-popover(position="top-end", title="Popover!", variant="text", arrow, reference="#example-4-te-button")
        | This is popover is top-end positioned.

    :code(lang="html")
      <button class="a-btn" id="example-4-t-button">Top popover</button>
      <chi-popover id="example-4-t-popover" position="top" title="Popover!" variant="text" arrow reference="#example-4-t-button">
        This is popover is top positioned.
      </chi-popover>

      <button class="a-btn" id="example-4-ts-button">Top start popover</button>
      <chi-popover id="example-4-ts-popover" position="top-start" title="Popover!" variant="text" arrow reference="#example-4-ts-button">
        This is popover is top-start positioned.
      </chi-popover>

      <button class="a-btn" id="example-4-te-button">Top end popover</button>
      <chi-popover id="example-4-te-popover" position="top-end" title="Popover!" variant="text" arrow reference="#example-4-te-button">
        This is popover is top-end positioned.
      </chi-popover>
#a-tabsb--positioning-right.a-tabs-panel
  .example.-mb--3
    .-p--3
      button#example-4-r-button.a-btn.-mr--2.-mb--2.-mb-md--0 Right popover
      chi-popover#example-4-r-popover(position="right", title="Popover!", variant="text", arrow, reference="#example-4-r-button")
        | This is popover is right positioned.

      button#example-4-rs-button.a-btn.-mr--2.-mb--2.-mb-md--0 Right start popover
      chi-popover#example-4-rs-popover(position="right-start", title="Popover!", variant="text", arrow, reference="#example-4-rs-button")
        | This is popover is right-start positioned.

      button#example-4-re-button.a-btn.-mr--2.-mb--2.-mb-md--0 Right end popover
      chi-popover#example-4-re-popover(position="right-end", title="Popover!", variant="text", arrow, reference="#example-4-re-button")
        | This is popover is right-end positioned.
    :code(lang="html")
      <button class="a-btn" id="example-4-r-button">Right popover</button>
      <chi-popover id="example-4-r-popover" position="right" title="Popover!" variant="text" arrow reference="#example-4-r-button">
        This is popover is right positioned.
      </chi-popover>

      <button class="a-btn" id="example-4-rs-button">Right start popover</button>
      <chi-popover id="example-4-rs-popover" position="right-start" title="Popover!" variant="text" arrow reference="#example-4-rs-button">
        This is popover is right-start positioned.
      </chi-popover>

      <button class="a-btn" id="example-4-re-button">Right end popover</button>
      <chi-popover id="example-4-re-popover" position="right-end" title="Popover!" variant="text" arrow reference="#example-4-re-button">
        This is popover is right-end positioned.
      </chi-popover>
#a-tabsb--positioning-bottom.a-tabs-panel
  .example.-mb--3
    .-p--3
      button#example-4-b-button.a-btn.-mr--2.-mb--2.-mb-md--0 Bottom popover
      chi-popover#example-4-b-popover(position="bottom", title="Popover!", variant="text", arrow, reference="#example-4-b-button")
        | This is popover is bottom positioned.

      button#example-4-bs-button.a-btn.-mr--2.-mb--2.-mb-md--0 Bottom start popover
      chi-popover#example-4-bs-popover(position="bottom-start", title="Popover!", variant="text", arrow, reference="#example-4-bs-button")
        | This is popover is bottom-start positioned.

      button#example-4-be-button.a-btn.-mr--2.-mb--2.-mb-md--0 Bottom end popover
      chi-popover#example-4-be-popover(position="bottom-end", title="Popover!", variant="text", arrow, reference="#example-4-be-button")
        | This is popover is bottom-end positioned.
    :code(lang="html")
      <button class="a-btn" id="example-4-b-button">Bottom popover</button>
      <chi-popover id="example-4-b-popover" position="bottom" title="Popover!" variant="text" arrow reference="#example-4-b-button">
        This is popover is bottom positioned.
      </chi-popover>

      <button class="a-btn" id="example-4-bs-button">Bottom start popover</button>
      <chi-popover id="example-4-bs-popover" position="bottom-start" title="Popover!" variant="text" arrow reference="#example-4-bs-button">
        This is popover is bottom-start positioned.
      </chi-popover>

      <button class="a-btn" id="example-4-be-button">Bottom end popover</button>
      <chi-popover id="example-4-be-popover" position="bottom-end" title="Popover!" variant="text" arrow reference="#example-4-be-button">
        This is popover is bottom-end positioned.
      </chi-popover>
#a-tabsb--positioning-left.a-tabs-panel
  .example.-mb--3
    .-p--3
      button#example-4-l-button.a-btn.-mr--2.-mb--2.-mb-md--0 Left popover
      chi-popover#example-4-l-popover(position="left", title="Popover!", variant="text", arrow, reference="#example-4-l-button")
        | This is popover is left positioned.

      button#example-4-ls-button.a-btn.-mr--2.-mb--2.-mb-md--0 Left start popover
      chi-popover#example-4-ls-popover(position="left-start", title="Popover!", variant="text", arrow, reference="#example-4-ls-button")
        | This is popover is left-start positioned.

      button#example-4-le-button.a-btn.-mr--2.-mb--2.-mb-md--0 Left end popover
      chi-popover#example-4-le-popover(position="left-end", title="Popover!", variant="text", arrow, reference="#example-4-le-button")
        | This is popover is left-end positioned.
    :code(lang="html")
      <button class="a-btn" id="example-4-l-button">Left popover</button>
      <chi-popover id="example-4-l-popover" position="left" title="Popover!" variant="text" arrow reference="#example-4-l-button">
        This is popover is left positioned.
      </chi-popover>

      <button class="a-btn" id="example-4-ls-button">Left start popover</button>
      <chi-popover id="example-4-ls-popover" position="left-start" title="Popover!" variant="text" arrow reference="#example-4-ls-button">
        This is popover is left-start positioned.
      </chi-popover>

      <button class="a-btn" id="example-4-le-button">Left end popover</button>
      <chi-popover id="example-4-le-popover" position="left-end" title="Popover!" variant="text" arrow reference="#example-4-le-button">
        This is popover is left-end positioned.
      </chi-popover>

h2 Interaction
p.-text
  span.a-badge.-primary.-mr1
    span Tip
  | Read this handy introduction to
  |
  a(href=`../overview/#regarding-html-attributes-and-dom-properties`) HTML attributes and DOM properties
  | .
p.-text
  | Modify the <code>active</code> attribute or property to make the popover show or hide. The <code>chi-popover</code>
  | element also has three public methods to interact with it: <code>show()</code>, <code>hide()</code>,
  | <code>toggle()</code>.

.example.-mb--3
  .-p--3
    button#example-5-button-show.a-btn.-mr--2.-mb--2.-mb-md--0 Show
    button#example-5-button-hide.a-btn.-mr--2.-mb--2.-mb-md--0 Hide
    button#example-5-button-toggle.a-btn.-mr--2.-mb--2.-mb-md--0 Toggle
    button#example-5-button-reference.a-btn.-mr--2.-mb--2.-mb-md--0 Reference

    chi-popover#example-5-popover(position="top", title="Popover!", variant="text", arrow, reference="#example-5-button-reference")
      | This is a popover.
  ul#a-tabs-e5.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-e5-html') HTML
    li
      a(href='#a-tabs-e5-js') JS
  #a-tabs-e5-html.a-tabs-panel.-active
    :code(lang="html")
      <button class="a-btn" id="example-5-button-show">Show</button>
      <button class="a-btn" id="example-5-button-hide">Hide</button>
      <button class="a-btn" id="example-5-button-toggle">Toggle</button>
      <button class="a-btn" id="example-5-button-reference">Reference</button>

      <chi-popover id="example-5-popover" position="top" title="Popover!" variant="text" arrow reference="#example-5-button-reference">
        This is a popover.
      </chi-popover>
  #a-tabs-e5-js.a-tabs-panel
    :code(lang="html")
      <script>
        var popover5 = document.getElementById('example-5-popover');

        var bShow = document.getElementById('example-5-button-show');
        bShow.addEventListener('click', function(){
          popover5.show();
          // or popover5.active = true;
        });

        var bHide = document.getElementById('example-5-button-hide');
        bHide.addEventListener('click', function () {
          popover5.hide();
          // or popover5.active = false;
        });

        var bToggle = document.getElementById('example-5-button-toggle');
        bToggle.addEventListener('click', function(){
          popover5.toggle();
          // or popover5.active = !popover5.active;
        });
      </script>

h3 Auto hide
p.-text
  | Popovers automatically hide when clicking outside of it or when pressing the ESC key. You can prevent this behavior
  | with the <code>prevent-auto-hide</code> attribute.

.example.-mb--3
  .-p--3
    button#example-6-auto-hide-button.a-btn.-mr--2.-mb--2.-mb-md--0 Auto hide
    button#example-6-no-auto-hide-button.a-btn.-mr--2.-mb--2.-mb-md--0 No auto hide
    chi-popover#example-6-auto-hide-popover(position="top", title="Popover!", variant="text", arrow, reference="#example-6-auto-hide-button")
      | Click outside. I will disappear!
    chi-popover#example-6-no-auto-hide-popover(position="top", title="Popover!", variant="text", arrow, prevent-auto-hide, reference="#example-6-no-auto-hide-button")
      | Click outside. I will stay!

  ul#a-tabs-e6.a-tabs.-ml--3
    li.-active
      a(href='#a-tabs-e6-auto-hide') Auto hide
    li
      a(href='#a-tabs-e6-no-auto-hide') No auto hide
  #a-tabs-e6-auto-hide.a-tabs-panel.-active
    :code(lang="html")
      <chi-popover id="example-6-popover-auto-hide-popover" position="top" title="Popover!" variant="text" arrow reference="#example-6-auto-hide-button">
        Click outside. I will disappear!
      </chi-popover>
  #a-tabs-e6-no-auto-hide.a-tabs-panel
    :code(lang="html")
      <chi-popover id="example-6-popover-no-auto-hide-popover" position="top" title="Popover!" variant="text" arrow prevent-auto-hide reference="#example-6-no-auto-hide-button">
        Click outside. I will stay!
      </chi-popover>

h2 Additional usage details
:stencilDoc(name='chi-popover')

script.
  document.addEventListener(
    'DOMContentLoaded',
    function () {

      chi.tab(document.querySelectorAll('#a-tabs--positioning, #a-tabsb--positioning, #a-tabs-e5, #a-tabs-e6'));

      var popovers = [
        {button: '#example-3-button',               popover: '#example-3-popover',              action: "toggle"},
        {button: '#example-4-t-button',             popover: '#example-4-t-popover',            action: "toggle"},
        {button: '#example-4-ts-button',            popover: '#example-4-ts-popover',           action: "toggle"},
        {button: '#example-4-te-button',            popover: '#example-4-te-popover',           action: "toggle"},
        {button: '#example-4-r-button',             popover: '#example-4-r-popover',            action: "toggle"},
        {button: '#example-4-rs-button',            popover: '#example-4-rs-popover',           action: "toggle"},
        {button: '#example-4-re-button',            popover: '#example-4-re-popover',           action: "toggle"},
        {button: '#example-4-b-button',             popover: '#example-4-b-popover',            action: "toggle"},
        {button: '#example-4-bs-button',            popover: '#example-4-bs-popover',           action: "toggle"},
        {button: '#example-4-be-button',            popover: '#example-4-be-popover',           action: "toggle"},
        {button: '#example-4-l-button',             popover: '#example-4-l-popover',            action: "toggle"},
        {button: '#example-4-ls-button',            popover: '#example-4-ls-popover',           action: "toggle"},
        {button: '#example-4-le-button',            popover: '#example-4-le-popover',           action: "toggle"},
        {button: '#example-5-button-show',          popover: '#example-5-popover',              action: "show"},
        {button: '#example-5-button-hide',          popover: '#example-5-popover',              action: "hide"},
        {button: '#example-5-button-toggle',        popover: '#example-5-popover',              action: "toggle"},
        {button: '#example-6-auto-hide-button',     popover: '#example-6-auto-hide-popover',    action: "toggle"},
        {button: '#example-6-no-auto-hide-button',  popover: '#example-6-no-auto-hide-popover', action: "toggle"}
      ];

      Array.prototype.forEach.call(popovers, function(popover){
        document.querySelector(popover.button).addEventListener('click', function () {
          var popoverElem = document.querySelector(popover.popover);
          switch (popover.action) {
            case 'show':
              popoverElem.show();
              break;
            case 'hide':
              popoverElem.hide();
              break;
            default:
              popoverElem.toggle();
          }
        });
      });
    }
  );
