select {
  &.chi-select {
    &[multiple] {
      padding: 0.25rem;

      option {
        align-items: center;
        display: flex;
        height: 1.5rem;
      }

      &.available-columns,
      &.selected-columns {
        height: 12.5rem;
      }

      &.selected-columns {
        option {
          padding-left: 2rem;

          &.-locked {
            position: relative;

            &::before {
              content: '\e959';
              font-family: $font-family-icon !important;
              font-size: 0.75rem;
              height: 0.75rem;
              width: 0.75rem;
              position: absolute;
              left: 0.625rem;
              top: 0.375rem;
            }
          }
        }
      }
    }
  }
}
