---
title: Shadow
---

p.-text Use shadow utility classes to assist in creating a visual hierarchy.

h3 Notation
p.-text Shadow utility classes can be defined using the format <code>-s{size}</code>.
h4 {size}
ul.-text
  li <code>0</code> - use to set <code>box-shadow</code> to <code>none</code>
  li <code>1</code> - use to set <code>box-shadow</code> to <code>1px</code>
  li <code>2</code> - use to set <code>box-shadow</code> to <code>4px</code>
  li <code>3</code> - use to set <code>box-shadow</code> to <code>6px</code>
  li <code>4</code> - use to set <code>box-shadow</code> to <code>8px</code>
  li <code>5</code> - use to set <code>box-shadow</code> to <code>12px</code>

h3 Examples
.example.-mb3
  .-p2(style="background:#F5F5F5;")
    .a-grid.-text.-noGutter.-textCenter
      .-p5.-m2.-s0(style="background:#FFFFFF;border-radius:3px;") -s0
      .-p5.-m2.-s1(style="background:#FFFFFF;border-radius:3px;") -s1
      .-p5.-m2.-s2(style="background:#FFFFFF;border-radius:3px;") -s2
      .-p5.-m2.-s3(style="background:#FFFFFF;border-radius:3px;") -s3
      .-p5.-m2.-s4(style="background:#FFFFFF;border-radius:3px;") -s4
      .-p5.-m2.-s5(style="background:#FFFFFF;border-radius:3px;") -s5
  :code(lang="html")
    <div class="-s0"></div>
    <div class="-s1"></div>
    <div class="-s2"></div>
    <div class="-s3"></div>
    <div class="-s4"></div>
    <div class="-s5"></div>

h3 SASS
p.-text
  | Chi defines shadows with Saas maps. The following example will render
  | a shadow equivalent to <code>-s1</code> / <code>1px</code>.

.-mb4
  :code(lang='sass')
    @import '@centurylink/chi/src/chi/variables';

    .example {
      box-shadow: map-get($shadow, 1);
    }
