@import '_global-variables';
@import '_global-mixins';

$sizes: (
  xs: (
    padding: 0.25rem,
  ),
  sm: (
    padding: 0.5rem,
  ),
  md: (
    padding: 0.75rem 1rem,
  ),
  lg: (
    padding: 1rem,
  ),
  xl: (
    padding: 1.25rem 1rem,
  ),
);

.chi-data-table {
  border-collapse: collapse;
  display: block;
  font-size: $font-size-base;
  line-height: $line-height-sm;
  overflow-x: initial;
  overflow-y: initial;
  width: 100%;

  .chi-data-table__print-footer {
    padding: 1rem;
  }
  @include respond-to(md) {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 0;
  }

  @each $type in map-keys($sizes) {
    &.-#{$type} {
      @include respond-to(md) {
        .chi-data-table__head {
          .chi-data-table__cell {
            padding: map-get(map-get($sizes, $type), padding);
          }
        }

        .chi-data-table__body {
          .chi-data-table__cell {
            padding: map-get(map-get($sizes, $type), padding);
          }
        }
      }
    }
  }

  &__body {
    fieldset {
      min-inline-size: auto;
    }

    @include respond-to(md) {
      display: flex;
      flex-direction: column;
    }

    .chi-data-table__row {
      &.-expanded {
        @include respond-to(md) {
          font-weight: $font-weight-semi-bold;
        }

        .chi-data-table__cell {
          border-bottom-color: transparent;
        }
      }
    }

    .chi-data-table__cell {
      display: flex;
      padding: 0.25rem 0.75rem;

      @include respond-to(md) {
        padding: 0.75rem 1rem;
        word-break: break-word;

        &.-selectable {
          .chi-radio {
            .chi-radio__label {
              position: initial;
            }
          }
        }
      }

      &::before {
        content: attr(data-label);
        display: block;
        font-weight: $font-weight-semi-bold;
        min-width: 10rem;

        @include respond-to(md) {
          display: none;
        }
      }

      // sass-lint:disable no-vendor-prefixes
      .-cell-wrap {
        display: -webkit-box;
        overflow: hidden;
        white-space: normal;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }
  }

  &__footer {
    @include respond-to(md) {
      background-color: $color-background-white;
      padding: 1.5rem 1rem;
    }
  }

  &__head {
    display: none;

    @include respond-to(md) {
      background-color: $color-background-white;
      display: block;
    }

    .chi-data-table__cell {
      @include respond-to(md) {
        border-bottom: 0.125rem solid $color-border-base-dark;
        display: flex;
        font-weight: $font-weight-semi-bold;
        min-width: 1rem;
        overflow: initial;
        padding: 0.75rem 1rem;
        position: relative;
        text-align: start;
        white-space: normal;

        chi-button {
          margin-left: 0.5rem;
        }

        &.-sorting {
          background-color: transparent;
          border-left: 0;
          border-right: 0;
          border-top: 0;
          user-select: none;

          .icon-arrow-up,
          .icon-arrow-down,
          .icon-arrow-sort {
            opacity: $opacity-60;
          }

          &:hover,
          &:focus {
            cursor: pointer;

            .icon-arrow-up,
            .icon-arrow-down,
            .icon-arrow-sort {
              opacity: $opacity-100;
            }
          }

          &.-active {
            .icon-arrow-up,
            .icon-arrow-down,
            .icon-arrow-sort {
              opacity: $opacity-100;
            }

            &.-descending {
              .icon-arrow-up,
              .icon-arrow-down,
              .icon-arrow-sort {
                transform: rotate(180deg);
              }
            }
          }
        }
      }

      &.-expandable {
        .chi-tooltip {
          white-space: pre;
        }
      }
    }

    // sass-lint:disable-block no-vendor-prefixes
    .-cell-wrap {
      display: -webkit-box;
      overflow: hidden;
      overflow-wrap: break-word;
      white-space: normal;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    .-truncated {
      @include respond-to(md) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &__row {
    background-color: $color-background-white;
    border-bottom: 0.0625rem solid $color-border-base-light;
    display: block;
    padding: 1rem 0;

    @include respond-to(md) {
      border: 0;
      display: flex;
      flex-direction: row;
      padding: 0;
    }

    &.-striped {
      background-color: $color-background-muted-lighter;
    }

    &.-active {
      background-color: $data-table-row-active-background-color;
      box-shadow: inset 0.125rem 0 0 $color-border-primary;
    }

    &.-selected {
      background-color: $data-table-row-active-background-color;
    }

    &.-expanded {
      background-color: $data-table-row-active-background-color;
      border-bottom: 0;
      box-shadow: inset 0.25rem 0 0 $color-border-primary;

      .chi-data-table__cell {
        &.-expandable {
          .icon-chevron-right {
            transform: rotate(90deg);
            transition: transform 0.2s ease-in-out;
          }
        }
      }
    }

    &-empty {
      align-items: center;
      background-color: $color-background-base;
      display: flex;
      font-style: italic;
      justify-content: center;
      padding: 3rem 7rem;

      &.-actionable {
        padding-bottom: 5rem;
        padding-top: 5rem;

        & > div {
          align-items: center;
          display: flex;
          flex-direction: column;

          .chi-icon {
            height: 3rem;
            margin-bottom: 0.5rem;
            opacity: 0.4;
            width: 3rem;
          }

          span {
            font-style: normal;
          }
        }
      }
    }

    &.-row {
      &--warning {
        box-shadow: 0 0 0 0.0625rem $data-table-state-warning-box-shadow inset;
      }

      &--danger {
        box-shadow: 0 0 0 0.0625rem $data-table-state-danger-box-shadow inset;
      }

      &--success {
        box-shadow: 0 0 0 0.0625rem $data-table-state-success-box-shadow inset;
      }

      &--info {
        box-shadow: 0 0 0 0.0625rem $data-table-state-info-box-shadow inset;
      }
    }

    &-child,
    &-grand-child {
      background-color: $data-table-row-active-background-color;
      box-shadow: inset 0.25rem 0 0 $color-border-primary;

      @include respond-to(md) {
        display: flex;
        flex-direction: row;
      }
    }

    &.-expanded,
    &-child,
    &-grand-child {
      &.-row {
        &--warning {
          box-shadow: 0 0 0 0.0625rem $data-table-state-warning-box-shadow inset,
            inset 0.25rem 0 0 $data-table-state-warning-box-shadow;
        }

        &--danger {
          box-shadow: 0 0 0 0.0625rem $data-table-state-danger-box-shadow inset,
            inset 0.25rem 0 0 $data-table-state-danger-box-shadow;
        }

        &--success {
          box-shadow: 0 0 0 0.0625rem $data-table-state-success-box-shadow inset,
            inset 0.25rem 0 0 $data-table-state-success-box-shadow;
        }

        &--info {
          box-shadow: 0 0 0 0.0625rem $data-table-state-info-box-shadow inset,
            inset 0.25rem 0 0 $data-table-state-info-box-shadow;
        }
      }
    }

    &-child {
      &.-container {
        padding: 0.75rem;

        @include respond-to(md) {
          background-color: $color-background-primary-lighter;
          padding: 1.5rem 2rem;
        }
      }

      @include respond-to(md) {
        .chi-data-table {
          margin-left: 3rem;
        }
      }
    }

    &-grand-child {
      font-size: $font-size-xs;
      line-height: 0.875rem;

      @include respond-to(md) {
        line-height: $line-height-sm;
      }
    }
  }

  &__cell {
    .chi-icon {
      color: $color-icon-base;
    }

    @include respond-to(md) {
      align-items: center;
      flex-basis: 0%;
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: flex-start;
    }

    &.-selectable,
    &.-expandable {
      @include respond-to(md) {
        flex-grow: 0;
      }

      .chi-icon {
        &.icon-plus,
        &.icon-minus {
          color: $data-table-row-expandable-icon;
        }
      }

      &::before {
        display: none;
      }
    }

    &.-actions,
    &.-justify-content-md--end {
      &.-flex-basis--5 {
        &.-key {
          position: relative;
        }
      }
    }

    &-mobile {
      display: block;

      &.-actions {
        .chi-button {
          &.-icon {
            &.-flat {
              position: absolute;
              right: 1.375rem;
              top: -1.25rem;
            }
          }
        }
      }

      @include respond-to(md) {
        display: none;
      }
    }

    &-desktop {
      display: none;

      @include respond-to(md) {
        display: block;
      }
    }

    .chi-button {
      &.-flat {
        &:not(.chi-dropdown__trigger) {
          &.-icon {
            padding: 0.0625rem;

            &.-active,
            &.-hover,
            &:active,
            &:hover {
              background-color: transparent;
              border-color: transparent;
              box-shadow: none;
              line-height: 1rem;
              padding: 0.0625rem;
            }
          }
        }
      }
    }

    &.-expandable {
      display: none;

      @include respond-to(md) {
        display: flex;
        flex-basis: 3rem;
      }
    }

    &.-selectable {
      display: none;

      @include respond-to(md) {
        display: flex;
        flex-basis: 3rem;

        .chi-checkbox__label {
          padding-left: 1rem;
        }
      }
    }

    & .-associated {
      &:first-child {
        margin-right: 1rem;
      }

      &::before {
        content: attr(data-label);
        display: inline-block;
        font-weight: $font-weight-semi-bold;
        margin-right: 0.5rem;
      }

      @include respond-to(md) {
        display: flex;
        flex-basis: 0%;
        flex-grow: 1;
        flex-shrink: 1;

        &:first-child {
          margin-right: 0.5rem;
        }

        &::before {
          display: none;
        }
      }
    }
  }

  .chi-data-table__row,
  .chi-data-table__row-child,
  .chi-data-table__row-grand-child {
    @each $type in map-keys($sizes) {
      &.-#{$type} {
        @include respond-to(md) {
          .chi-data-table__cell {
            padding: map-get(map-get($sizes, $type), padding);
          }
        }
      }
    }
  }

  &.-no-border {
    .chi-data-table__head,
    .chi-data-table__body {
      .chi-data-table__cell {
        @include respond-to(md) {
          border: 0;
        }
      }
    }
  }

  &.-hover {
    .chi-data-table__body {
      .chi-data-table__row {
        &:hover,
        &.-hover {
          @include respond-to(md) {
            background-color: $color-background-base-dark;

            &.-active,
            &.-selected,
            &.-expanded {
              background-color: $data-table-row-active-background-color;
            }
          }
        }
      }
    }
  }

  &.-bordered {
    .chi-data-table__body {
      .chi-data-table__row {
        .chi-data-table__cell {
          border: 0.0625rem solid $color-border-base-dark;
          border-bottom-width: 0;

          &:last-child {
            border-bottom-width: 0.0625rem;
          }
        }
      }
    }

    @include respond-to(md) {
      .chi-data-table__head,
      .chi-data-table__body {
        .chi-data-table__row {
          .chi-data-table__cell {
            border: 0.0625rem solid $color-border-base-dark;
            border-right-width: 0;

            &:last-of-type {
              border-right-width: 0.0625rem;
            }
          }
        }
      }

      .chi-data-table__head {
        .chi-data-table__row {
          .chi-data-table__cell {
            border-bottom: 0.125rem solid $color-border-base-dark;
          }
        }
      }

      .chi-data-table__body {
        .chi-data-table__row {
          .chi-data-table__cell {
            border-top-width: 0;
          }
        }
      }
    }
  }

  &.-portal {
    &:not(.-bordered) {
      .chi-data-table__body {
        @include respond-to(md) {
          border: 0.0625rem solid $color-grey-15;
        }
      }
    }

    .chi-data-table__body {
      .chi-data-table__row {
        @include respond-to(md) {
          background-color: $color-background-base;
        }

        &-empty {
          border: 0.0625rem solid $color-background-base-darker;
          text-align: left;
        }

        &.-striped {
          @include respond-to(md) {
            background-color: $data-table-row-striped-background-color;
          }
        }

        &.-active {
          background-color: $data-table-row-active-background-color;
          box-shadow: inset 0.25rem 0 0 $data-table-row-active-marker-color;
        }

        &:hover,
        &.-hover {
          @include respond-to(md) {
            background-color: $data-table-row-hover-background-color;
          }
        }

        &.-expanded {
          background-color: $color-background-base-darker;

          @include respond-to(md) {
            background-color: $data-table-row-expanded-background-color;
            display: flex;
          }
        }

        &-child {
          .chi-icon {
            &.icon-plus,
            &.icon-minus {
              color: $data-table-row-expandable-icon;
            }
          }
        }
      }

      .chi-data-table__row,
      .chi-data-table__row-child,
      .chi-data-table__row-grand-child {
        .chi-data-table__cell {
          @include respond-to(md) {
            border-bottom: 0;
          }
        }
      }
    }

    .chi-data-table__footer {
      @include respond-to(md) {
        background-color: $data-table-footer-background-color;
        padding: 0.5rem 1rem;

        .chi-pagination__content {
          .chi-pagination__center {
            align-items: center;

            .chi-button {
              &.-icon {
                &.-flat {
                  &:hover {
                    background-color: transparent;
                    border: 0.0625rem solid transparent;
                  }
                }
              }
            }
          }
        }
      }

      .chi-pagination__content {
        flex-direction: row;

        .chi-pagination__end {
          display: none;

          @include respond-to(md) {
            display: flex;
          }
        }
      }
    }

    .chi-data-table__head {
      @include respond-to(md) {
        background-color: $data-table-head-background-color;

        .chi-data-table__row {
          &,
          &:hover {
            background-color: $data-table-head-background-color;
          }

          .chi-data-table__cell {
            border-bottom: 0.0625rem solid $color-border-base-dark;

            &.-selectable {
              .chi-dropdown {
                left: 2.5rem;
                position: absolute;
                z-index: 1;
              }
            }
          }

          &:last-child {
            .chi-data-table__cell {
              border-bottom: 0;
            }
          }
        }
      }
    }

    &.-no-border {
      .chi-data-table__head,
      .chi-data-table__body {
        .chi-data-table__cell {
          @include respond-to(md) {
            border: 0;
          }
        }
      }
    }

    &.-hover {
      .chi-data-table__body {
        .chi-data-table__row {
          &:hover,
          &.-hover {
            @include respond-to(md) {
              background-color: $data-table-row-active-background-color;

              &.-active,
              &.-selected,
              &.-expanded {
                background-color: $data-table-row-active-background-color;
              }
            }
          }
        }
      }
    }

    &.-bordered {
      .chi-data-table__body {
        .chi-data-table__row {
          border-bottom: 0.0625rem solid $color-border-base-dark;

          .chi-data-table__cell {
            border: 0.0625rem solid $color-border-base-dark;
            border-bottom-width: 0;
          }

          & + .chi-data-table__row {
            .chi-data-table__cell {
              &:first-child {
                border-top-width: 0;
              }
            }
          }
        }
      }

      @include respond-to(md) {
        .chi-data-table__head,
        .chi-data-table__body {
          .chi-data-table__row {
            .chi-data-table__cell {
              border: 0.0625rem solid $color-border-base-dark;
              border-right-width: 0;

              &:last-of-type {
                border-right-width: 0.0625rem;
              }
            }
          }
        }

        .chi-data-table__head {
          .chi-data-table__row {
            .chi-data-table__cell {
              border-bottom: 0.125rem solid $color-border-base-dark;
            }
          }
        }

        .chi-data-table__body {
          .chi-data-table__row {
            border-bottom: 0;

            .chi-data-table__cell {
              border-top-width: 0;
            }
          }
        }
      }
    }
  }

  &.-compact {
    .chi-data-table__body {
      .chi-data-table__cell {
        padding: 0;

        @include respond-to(md) {
          border-bottom: 0.0625rem solid $color-border-base-light;
          padding: 0.75rem 1rem;
        }

        &.-key {
          &::before {
            display: none;
          }

          &.-bold {
            font-weight: $font-weight-semi-bold;

            @include respond-to(md) {
              font-weight: $font-weight-normal;
            }
          }
        }

        &:not(.-key) {
          display: none;

          @include respond-to(md) {
            display: flex;
          }
        }
      }
    }

    @each $type in map-keys($sizes) {
      &.-#{$type} {
        @include respond-to(md) {
          .chi-data-table__head {
            .chi-data-table__cell {
              padding: map-get(map-get($sizes, $type), padding);
            }
          }

          .chi-data-table__body {
            .chi-data-table__cell {
              padding: map-get(map-get($sizes, $type), padding);
            }
          }
        }
      }
    }

    .chi-data-table__row,
    .chi-data-table__row-child,
    .chi-data-table__row-grand-child {
      position: relative;

      @each $type in map-keys($sizes) {
        &.-#{$type} {
          @include respond-to(md) {
            .chi-data-table__cell {
              padding: map-get(map-get($sizes, $type), padding);
            }
          }
        }
      }
    }

    .chi-data-table__row {
      background-color: $color-background-muted-lighter;
      border-bottom: 0;
      margin-top: 0.5rem;
      padding: 1rem;

      @include respond-to(md) {
        background-color: transparent;
        margin-top: 0;
        padding: 0;
      }

      &.-active,
      &.-expanded {
        background-color: $data-table-row-active-background-color;

        .chi-data-table__cell {
          &.-key {
            &.-bold {
              @include respond-to(md) {
                font-weight: $font-weight-semi-bold;
              }
            }
          }
        }
      }

      &.-collapsed,
      &.-expanded {
        padding-left: 1rem;

        .chi-data-table__cell {
          padding-left: 2rem;

          &.-expandable {
            display: block;
            overflow: initial;
            position: relative;

            .chi-button {
              &.-expand {
                display: block;
                left: -0.125rem;
                position: absolute;
                top: -0.0625rem;
                z-index: 1;

                &.-flat {
                  border-width: 0.0625rem;
                }

                @include respond-to(md) {
                  left: 0;
                  position: relative;
                  top: 0;
                  z-index: auto;
                }
              }
            }
          }
        }

        @include respond-to(md) {
          padding-left: 0;

          .chi-data-table__cell {
            padding-left: 1rem;
          }
        }
      }

      &-child,
      &-grand-child {
        background-color: $color-background-base-darker;
        padding: 0.75rem 1rem 0.75rem 3rem;

        @include respond-to(md) {
          background-color: $data-table-row-expanded-background-color;
          padding: 0;
        }
      }

      &-child {
        padding-left: 3rem;

        .chi-data-table__cell {
          align-items: center;
          position: relative;

          @media only screen and (max-width: $md-breakpoint) {
            padding-left: 2rem;
          }

          .chi-button {
            &.-expand {
              display: block;
              left: -0.125rem;
              position: absolute;

              @include respond-to(md) {
                left: 0;
                line-height: 0.75rem;
                position: relative;

                + div {
                  margin-left: 0.5rem;
                }
              }
            }
          }
        }

        @include respond-to(md) {
          padding-left: 0;

          .chi-data-table__cell {
            position: static;
          }
        }
      }

      &-grand-child {
        padding-left: 5rem;

        @include respond-to(md) {
          padding-left: 0;

          .chi-data-table__cell {
            &.-key {
              &.-bold {
                > div {
                  margin-left: 1.75rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
