@import '_global-variables';
@import '_global-mixins';

$sizes: (
  xs: (
    padding: 0.25rem,
  ),
  sm: (
    padding: 0.5rem,
  ),
  md: (
    padding: 0.75rem 1rem,
  ),
  lg: (
    padding: 1rem,
  ),
  xl: (
    padding: 1.25rem 1rem,
  )
);

.chi-data-table {
  border-collapse: collapse;
  display: block;
  font-size: $font-size-base;
  line-height: $line-height-sm;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;

  @include respond-to(md) {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 0;
  }

  @each $type in map-keys($sizes) {
    &.-#{$type} {
      @include respond-to(md) {
        .chi-data-table__head {
          .chi-data-table__cell {
            padding: map-get(map-get($sizes, $type), padding);
          }
        }

        .chi-data-table__body {
          .chi-data-table__cell {
            padding: map-get(map-get($sizes, $type), padding);
          }
        }
      }
    }
  }

  &__head {
    display: none;

    @include respond-to(md) {
      background-color: $color-background-white;
      display: block;
    }

    .chi-data-table__cell {
      @include respond-to(md) {
        border-bottom: 0.125rem solid $color-border-base-dark;
        display: flex;
        font-weight: $font-weight-semi-bold;
        padding: 0.75rem 1rem;
        position: relative;

        .chi-icon {
          margin-left: 0.5rem;
        }

        &.-sorting {
          background-color: transparent;
          border-left: 0;
          border-right: 0;
          border-top: 0;

          .chi-icon {
            opacity: $opacity-60;
          }

          &:hover,
          &:focus {
            cursor: pointer;

            .chi-icon {
              opacity: $opacity-100;
            }
          }

          &.-active {
            .chi-icon {
              opacity: $opacity-100;
            }

            &.-descending {
              .chi-icon {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }

  &__body {
    @include respond-to(md) {
      display: flex;
      flex-direction: column;
    }

    .chi-data-table__row {
      &.-expanded {
        @include respond-to(md) {
          font-weight: $font-weight-semi-bold;
        }

        .chi-data-table__cell {
          border-bottom-color: transparent;
        }
      }
    }

    .chi-data-table__cell {
      display: flex;
      padding: 0.25rem 0.75rem;

      @include respond-to(md) {
        border-bottom: 0.0625rem solid $color-border-base-light;
        padding: 0.75rem 1rem;
        word-break: break-word;
      }

      .-text--truncate {
        cursor: pointer;
      }

      &::before {
        content: attr(data-label);
        display: block;
        font-weight: $font-weight-semi-bold;
        min-width: 10rem;

        @include respond-to(md) {
          display: none;
        }
      }
    }
  }

  &__footer {
    @include respond-to(md) {
      background-color: $color-background-white;
      padding: 1.5rem 1rem;
    }
  }

  &__row {
    background-color: $color-background-white;
    border-bottom: 0.0625rem solid $color-border-base-light;
    display: block;
    padding: 1rem 0;

    @include respond-to(md) {
      border: 0;
      display: flex;
      flex-direction: row;
      padding: 0;
    }

    &.-striped {
      background-color: $color-background-muted-lighter;
    }

    &.-active {
      background-color: $color-background-primary-light;
      box-shadow: inset 0.125rem 0 0 $color-border-primary;
    }

    &.-selected {
      background-color: $color-background-primary-light;
    }

    &.-expanded {
      background-color: $color-background-primary-light;
      border-bottom: 0;
      box-shadow: inset 0.25rem 0 0 $color-border-primary;

      .chi-data-table__cell {
        &.-expandable {
          .icon-chevron-right {
            transform: rotate(90deg);
            transition: transform 0.2s ease-in-out;
          }
        }
      }
    }

    &-empty {
      background-color: $color-background-base;
      font-style: italic;
      padding: 0.75rem 1rem;
      text-align: center;
    }

    &-child,
    &-grand-child {
      background-color: $color-background-primary-light;
      box-shadow: inset 0.25rem 0 0 $color-border-primary;

      @include respond-to(md) {
        display: flex;
        flex-direction: row;
      }
    }

    &-child {
      &.-container {
        padding: 0.75rem;

        @include respond-to(md) {
          background-color: $color-background-primary-lighter;
          padding: 1.5rem 2rem;
        }
      }
    }

    &-grand-child {
      font-size: $font-size-xs;
      line-height: 0.875rem;

      @include respond-to(md) {
        line-height: $line-height-sm;
      }
    }
  }

  &__cell {
    .chi-icon {
      color: $color-icon-base;
    }

    @include respond-to(md) {
      align-items: center;
      flex-basis: 0%;
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: flex-start;
    }

    &.-selectable,
    &.-expandable {
      @include respond-to(md) {
        flex-grow: 0;
      }

      .chi-icon {
        &.icon-plus,
        &.icon-minus {
          color: $color-icon-primary;
        }
      }

      &::before {
        display: none;
      }
    }

    .chi-button {
      &.-flat {
        &.-icon {
          padding: 0.0625rem;

          &.-active,
          &.-hover,
          &:active,
          &:hover {
            background-color: transparent;
            border-color: transparent;
            box-shadow: none;
            padding: 0.0625rem;
          }
        }
      }
    }

    &.-expandable {
      display: none;

      @include respond-to(md) {
        display: flex;
        flex-basis: 3rem;
      }
    }

    &.-selectable {
      display: none;

      @include respond-to(md) {
        display: flex;
        flex-basis: 3rem;

        .chi-checkbox__label {
          padding-left: 1rem;
        }
      }
    }

    & .-associated {
      &:first-child {
        margin-right: 1rem;
      }

      &::before {
        content: attr(data-label);
        display: inline-block;
        font-weight: $font-weight-semi-bold;
        margin-right: 0.5rem;
      }

      @include respond-to(md) {
        display: flex;
        flex-basis: 0%;
        flex-grow: 1;
        flex-shrink: 1;

        &:first-child {
          margin-right: 0.5rem;
        }

        &::before {
          display: none;
        }
      }
    }
  }

  .chi-data-table__row,
  .chi-data-table__row-child,
  .chi-data-table__row-grand-child {
    @each $type in map-keys($sizes) {
      &.-#{$type} {
        @include respond-to(md) {
          .chi-data-table__cell {
            padding: map-get(map-get($sizes, $type), padding);
          }
        }
      }
    }
  }

  &.-no-border {
    .chi-data-table__head,
    .chi-data-table__body {
      .chi-data-table__cell {
        @include respond-to(md) {
          border: 0;
        }
      }
    }
  }

  &.-hover {
    .chi-data-table__body {
      .chi-data-table__row {
        &:hover,
        &.-hover {
          @include respond-to(md) {
            background-color: $color-background-base-dark;

            &.-active,
            &.-selected,
            &.-expanded {
              background-color: $color-background-primary-light;
            }
          }
        }
      }
    }
  }

  &.-bordered {
    .chi-data-table__body {
      .chi-data-table__row {
        .chi-data-table__cell {
          border: 0.0625rem solid $color-border-base-dark;
          border-bottom-width: 0;

          &:last-child {
            border-bottom-width: 0.0625rem;
          }
        }
      }
    }

    @include respond-to(md) {
      .chi-data-table__head,
      .chi-data-table__body {
        .chi-data-table__row {
          .chi-data-table__cell {
            border: 0.0625rem solid $color-border-base-dark;
            border-right-width: 0;

            &:last-of-type {
              border-right-width: 0.0625rem;
            }
          }
        }
      }

      .chi-data-table__head {
        .chi-data-table__row {
          .chi-data-table__cell {
            border-bottom: 0.125rem solid $color-border-base-dark;
          }
        }
      }

      .chi-data-table__body {
        .chi-data-table__row {
          .chi-data-table__cell {
            border-top-width: 0;
          }
        }
      }
    }
  }

  &.-portal {
    .chi-data-table__head {
      @include respond-to(md) {
        background-color: $color-background-muted-lighter;

        .chi-data-table__row {
          background-color: $color-background-muted-lighter;

          .chi-data-table__cell {
            border-bottom: 0.0625rem solid $color-border-base-dark;
          }

          &:last-child {
            .chi-data-table__cell {
              border-bottom: 0;
            }
          }
        }
      }
    }

    .chi-data-table__body {
      .chi-data-table__row {
        @include respond-to(md) {
          background-color: $color-background-base;
        }

        &-empty {
          border: 0.0625rem solid $color-background-base-darker;
          text-align: left;
        }

        &.-striped {
          @include respond-to(md) {
            background-color: $color-background-primary-lighter;
          }
        }

        &.-active {
          background-color: $color-background-primary-light;
          box-shadow: inset 0.25rem 0 0 $color-border-primary;
        }

        &:hover,
        &.-hover {
          @include respond-to(md) {
            background-color: $color-background-primary-light;
          }
        }

        &.-expanded {
          background-color: $color-background-base-darker;

          @include respond-to(md) {
            background-color: $color-background-primary-light;
            display: flex;
          }
        }

        &-child {
          &.-expanded {
            .chi-icon {
              &.icon-plus,
              &.icon-minus {
                color: $color-icon-primary;
              }
            }
          }
        }
      }

      .chi-data-table__row,
      .chi-data-table__row-child,
      .chi-data-table__row-grand-child {
        .chi-data-table__cell {
          @include respond-to(md) {
            border-bottom: 0;
          }
        }
      }
    }

    .chi-data-table__footer {
      display: none;

      @include respond-to(md) {
        background-color: $color-background-base-dark;
        display: block;
        padding: 0.5rem 1rem;

        .chi-pagination__content {
          .chi-pagination__center {
            align-items: center;

            .chi-button {
              &.-icon {
                &.-flat {
                  &:hover {
                    background-color: transparent;
                    border: 0.0625rem solid transparent;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.-no-border {
      .chi-data-table__head,
      .chi-data-table__body {
        .chi-data-table__cell {
          @include respond-to(md) {
            border: 0;
          }
        }
      }
    }

    &.-hover {
      .chi-data-table__body {
        .chi-data-table__row {
          &:hover,
          &.-hover {
            @include respond-to(md) {
              background-color: $color-background-primary-light;

              &.-active,
              &.-selected,
              &.-expanded {
                background-color: $color-background-primary-light;
              }
            }
          }
        }
      }
    }

    &.-bordered {
      .chi-data-table__body {
        .chi-data-table__row {
          border-bottom: 0.0625rem solid $color-border-base-dark;

          .chi-data-table__cell {
            border: 0.0625rem solid $color-border-base-dark;
            border-bottom-width: 0;
          }

          & + .chi-data-table__row {
            .chi-data-table__cell {
              &:first-child {
                border-top-width: 0;
              }
            }
          }
        }
      }

      @include respond-to(md) {
        .chi-data-table__head,
        .chi-data-table__body {
          .chi-data-table__row {
            .chi-data-table__cell {
              border: 0.0625rem solid $color-border-base-dark;
              border-right-width: 0;

              &:last-of-type {
                border-right-width: 0.0625rem;
              }
            }
          }
        }

        .chi-data-table__head {
          .chi-data-table__row {
            .chi-data-table__cell {
              border-bottom: 0.125rem solid $color-border-base-dark;
            }
          }
        }

        .chi-data-table__body {
          .chi-data-table__row {
            border-bottom: 0;

            .chi-data-table__cell {
              border-top-width: 0;
            }
          }
        }
      }
    }
  }

  &.-compact {
    .chi-data-table__body {
      .chi-data-table__cell {
        padding: 0;

        @include respond-to(md) {
          border-bottom: 0.0625rem solid $color-border-base-light;
          padding: 0.75rem 1rem;
        }

        &.-key {
          &::before {
            display: none;
          }

          &.-bold {
            font-weight: $font-weight-semi-bold;

            @include respond-to(md) {
              font-weight: $font-weight-normal;
            }
          }

          + .-key {
            margin-top: 0.5rem;

            @include respond-to(md) {
              margin-top: 0;
            }
          }
        }

        &:not(.-key) {
          display: none;

          @include respond-to(md) {
            display: flex;
          }
        }

        .chi-button {
          &.-expand {
            display: none;

            @include respond-to(md) {
              display: block;

              + div {
                margin-left: 0.5rem;
              }
            }
          }
        }
      }
    }

    @each $type in map-keys($sizes) {
      &.-#{$type} {
        @include respond-to(md) {
          .chi-data-table__head {
            .chi-data-table__cell {
              padding: map-get(map-get($sizes, $type), padding);
            }
          }

          .chi-data-table__body {
            .chi-data-table__cell {
              padding: map-get(map-get($sizes, $type), padding);
            }
          }
        }
      }
    }

    .chi-data-table__row,
    .chi-data-table__row-child,
    .chi-data-table__row-grand-child {
      position: relative;

      &::after {
        color: $color-icon-base;
        content: '\e920';
        font-family: 'chi';
        font-size: $font-size-lg;
        height: 1rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-0.5rem);
        width: 0.75rem;

        @include respond-to(md) {
          display: none;
        }
      }

      &.-collapsed,
      &.-expanded {
        &::before {
          color: $color-icon-primary;
          content: '\e97d';
          font-family: 'chi';
          font-weight: $font-weight-normal;
          position: absolute;

          @include respond-to(md) {
            display: none;
          }
        }
      }

      &.-expanded {
        &::before {
          content: '\e974';
        }
      }

      @each $type in map-keys($sizes) {
        &.-#{$type} {
          @include respond-to(md) {
            .chi-data-table__cell {
              padding: map-get(map-get($sizes, $type), padding);
            }
          }
        }
      }
    }

    .chi-data-table__row {
      background-color: $color-background-base-darker;
      border-bottom: 0;
      margin-top: 0.5rem;
      padding: 1rem 3rem 1rem 1rem;

      @include respond-to(md) {
        background-color: transparent;
        margin-top: 0;
        padding: 0;
      }

      &.-active,
      &.-expanded {
        background-color: $color-background-primary-light;

        .chi-data-table__cell {
          &.-key {
            &.-bold {
              @include respond-to(md) {
                font-weight: $font-weight-semi-bold;
              }
            }
          }
        }
      }

      &.-collapsed,
      &.-expanded {
        padding-left: 3rem;

        &::before {
          font-size: $font-size-xs;
          height: 1rem;
          left: 1rem;
          top: 1rem;
          width: 0.75rem;
        }

        @include respond-to(md) {
          padding-left: 0;
        }
      }

      &-child,
      &-grand-child {
        background-color: $color-background-base-darker;
        padding: 0.75rem 3rem;

        @include respond-to(md) {
          background-color: $color-background-primary-light;
          padding: 0;
        }

        &.-collapsed,
        &.-expanded {
          padding-left: 5rem;

          &::before {
            font-size: $font-size-xs;
            height: 1rem;
            left: 3rem;
            top: 0.7rem;
            width: 0.75rem;
          }

          @include respond-to(md) {
            padding-left: 0;
          }
        }
      }

      &-grand-child {
        padding-left: 5rem;

        @include respond-to(md) {
          padding-left: 0;

          .chi-data-table__cell {
            &.-key {
              &.-bold {
                > div {
                  margin-left: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
